<template name="details_stats">
	<div class="d-contacts-main">
		<div class="table-responsive col-sm-12">
			<table class="table d-contacts-table">
				<thead>
					<tr>
						<th>{{getDicoVar "stats" "date"}}</th>
						<th>{{getDicoVar "stats" "firstname"}} &amp; {{getDicoVar "stats" "lastname"}}</th>
						<th>{{getDicoVar "stats" "building"}}</th>
						<th>{{getDicoVar "stats" "notation_building"}}</th>
						<th>{{getDicoVar "stats" "notation_apartment"}}</th>
					</tr>
				</thead>
				<tbody>
					{{#each getArchive}}
					<tr class="userLine" userid="{{this.userId}}" style="cursor: pointer">
                        <td>{{humanDateShort this.date}}</td>
                        <td>{{this.firstname}} {{this.lastname}}</td>
                        <td>
                            {{#each condo in this.condos}}
                                {{getCondoName condo.id}}<br>
                            {{/each}}
                        </td>
                        <td>
                        	{{#each evalCondo in this.markResidence}}
                        		{{{showStars evalCondo}}}
                        	{{/each}}
                        </td>
                        <td>
                        	{{#each evalApartment in this.markApartment}}
                        		{{{showStars evalApartment}}}
                        	{{/each}}
                        </td>
                    </tr>
                    {{/each}}
				</tbody>
			</table>
		</div>
	</div>
	{{> details_stats_modal userId=getUserId}}
</template>