<template name="details_stats_modal">
	<div id="modal_details_stats" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
		<div class="modal-dialog modal-lg">
			<button type="button" class="close round-close" data-dismiss="modal">
				<img src="/img/icons/croix_48px.svg" width="36" alt="">
			</button>
			<div class="modal-content">

				<div class="modal-header">
					<div class="modal-heading pull-left mb30">
						<h4 class="red_color modal-title" id="thatModalLabel">{{getDicoVar "stats" "form_details"}}</h4>
					</div>
				</div>

				{{#each condo in getAllCondo}}
				<div class="modal-body clearfix" data-condoIndex="{{@index}}">
					<div class="col-xs-12 mb20" style="border-bottom: 1px solid #eee; padding-bottom: 15px;">
						
						<div class="col-xs-12 no-pad">
							<div class="col-xs-6">
								<h4 class="inline dark">{{getDicoVar "stats" "property"}}</h4>
								<span class="modal-body-labels pull-right">{{getCondoName condo._id}}</span>
							</div>
						</div>
						
						<div class="col-md-6 wrapper">
							<h4 class="inline dark">{{getDicoVar "stats" "city"}}</h4>
							<span class="modal-body-labels pull-right">{{getCity condo._id}}</span>
						</div>

						{{#with getMoveIn}}
						<div id="movedInContainer" class="col-md-6 wrapper">
							<h4 class="inline dark">{{getDicoVar "stats" "arrival_date"}}</h4>
							<span class="modal-body-labels pull-right moveInLabels">{{humanDateShort this}}</span>
							<input type="text" class="movedInDate form-control hidden" placeholder="jj/mm/aaaa">
						</div>
						{{else}}
						<div id="movedInContainer" class="col-md-6 wrapper">
							<h4 class="inline dark">{{getDicoVar "stats" "arrival_date"}}</h4>
							<span class="modal-body-labels form-group pull-right">
								<input type="text" class="movedInDate form-control" placeholder="jj/mm/aaaa">
							</span>
						</div>
						{{/with}}

						{{#with (getApartment condo._id)}}
						<div id="apartmentContainer" class="col-md-6 wrapper">
							<h4 class="inline dark">{{getDicoVar "stats" "apartment_number"}}</h4>
							<span class="modal-body-labels pull-right setApartmentLabels">{{this}}</span>
							<input type="text" class="setApartmentInput form-control hidden" condoId="{{condo._id}}" placeholder="Numéro">
						</div>
						{{else}}
						<div id="apartmentContainer" class="col-md-6 wrapper">
							<h4 class="inline dark">{{getDicoVar "stats" "apartment_number"}}</h4>
							<span class="modal-body-labels form-group pull-right">
								<input type="text" class="setApartmentInput form-control" condoId="{{condo._id}}" placeholder="Numéro">
							</span>
						</div>
						{{/with}}
						
						{{#with getDeletedAt}}
						<div id="deletedAtContainer" class="col-md-6 wrapper">
							<h4 class="inline dark">{{getDicoVar "stats" "departure_date"}}</h4>
							<span class="modal-body-labels pull-right deletedAtLabels">{{humanDateShort this}}</span>
							<input type="text" class="deletedAtDate form-control hidden" placeholder="jj/mm/aaaa">
						</div>
						{{else}}
						<div id="deletedAtContainer" class="col-md-6 wrapper">
							<h4 class="inline dark">{{getDicoVar "stats" "departure_date"}}</h4>
							<span class="modal-body-labels form-group pull-right">
								<input type="text" class="deletedAtDate form-control" placeholder="jj/mm/aaaa">
							</span>
						</div>
						{{/with}}
					</div>


					{{#with (globalSatisfy @index)}}
					<div class="col-xs-12">
						<div class="col-md-12 mb20" style="border-bottom: 1px solid #eee; padding-bottom: 15px;">
							<h4 class="inline dark">{{getDicoVar "ModuleStat" "howKnow"}}</h4>
							<div class="modal-body-labels-answer">{{getHowKnow this.howknow}}</div>
						</div>

						<div class="col-md-12 mb20" style="border-bottom: 1px solid #eee; padding-bottom: 15px;">
							<h4 class="inline dark">{{getDicoVar "ModuleStat" "whyResidence"}}</h4>
							<div class="modal-body-labels-answer">{{getWhyResidence this.whyresidence}}</div>
						</div>
						
						<div class="col-md-12 mb20" style="border-bottom: 1px solid #eee; padding-bottom: 15px;">
							<h4 class="inline dark">{{getDicoVar "ModuleStat" "howBook"}}</h4>
							<div class="modal-body-labels-answer">{{getHowBook this.howbook}}</div>
						</div>
						
						<div class="col-md-12 mb20" style="border-bottom: 1px solid #eee; padding-bottom: 15px;">
							<h4 class="inline dark">{{getDicoVar "ModuleStat" "website"}}</h4>
							<div class="modal-body-labels-answer">
								{{getDicoVar "ModuleStat" "answer"}} : {{getYesOrNo this.isWebsiteOk}}
								<br/>
								{{getDicoVar "ModuleStat" "detail"}} : {{ this.isWebsiteOk.[1] }}
							</div>
						</div>
						
						<div class="col-md-12 mb20" style="border-bottom: 1px solid #eee; padding-bottom: 15px;">
							<h4 class="inline dark">{{getDicoVar "satisfaction" "howWasReception"}}</h4>
							<div class="modal-body-labels-answer">{{convertGoodAndBad this.howWasReception}}</div>
						</div>
						
						<div class="col-md-12 mb20" style="border-bottom: 1px solid #eee; padding-bottom: 15px;">
							<h4 class="inline dark">{{getDicoVar "satisfaction" "simpleProcedure"}}</h4>
							<div class="modal-body-labels-answer">
								{{getDicoVar "ModuleStat" "answer"}} : {{getYesOrNo this.simpleProcedure}}
								<br/>
								{{getDicoVar "ModuleStat" "detail"}} : {{ this.simpleProcedure.[1] }}
							</div>
						</div>
						
						<div class="col-md-12 mb20" style="border-bottom: 1px solid #eee; padding-bottom: 15px;">
							<h4 class="inline dark">{{getDicoVar "satisfaction" "howInventory"}}</h4>
							<div class="modal-body-labels-answer">{{convertGoodAndBad this.howInventory}}</div>
						</div>
						
						<div class="col-md-12 mb20" style="border-bottom: 1px solid #eee; padding-bottom: 15px;">
							<h4 class="dark">{{getDicoVar "satisfaction" "haveYouBeenSatisfied"}}:</h4>
							<div>
								<h5 class="inline modal-body-labels-answer">{{getDicoVar "satisfaction" "receptionTeam"}}:</h5>
								<span class="modal-body-labels pull-right">
									{{#each loopCount (getNbStars this.haveYouBeenSatisfied.receptionTeam) }}
										<span class="fa fa-star color-yellow"></span>
									{{/each}}
								</span>
							</div>
							<div>
								<h5 class="inline modal-body-labels-answer">{{getDicoVar "satisfaction" "cleanliness"}}:</h5>
								<span class="modal-body-labels pull-right">
									{{#each loopCount (getNbStars this.haveYouBeenSatisfied.cleanliness) }}
										<span class="fa fa-star color-yellow"></span>
									{{/each}}
								</span>
							</div>
							<div>
								<h5 class="inline modal-body-labels-answer">{{getDicoVar "satisfaction" "ambience"}}:</h5>
								<span class="modal-body-labels pull-right">
									{{#each loopCount (getNbStars this.haveYouBeenSatisfied.ambience) }}
										<span class="fa fa-star color-yellow"></span>
									{{/each}}
								</span>
							</div>
							<div>
								<h5 class="inline modal-body-labels-answer">{{getDicoVar "satisfaction" "breakfast"}}:</h5>
								<span class="modal-body-labels pull-right">
									{{#each loopCount (getNbStars this.haveYouBeenSatisfied.breakfast) }}
										<span class="fa fa-star color-yellow"></span>
									{{/each}}
								</span>
							</div>
							<div>
								<h5 class="inline modal-body-labels-answer">{{getDicoVar "satisfaction" "laundromat"}}:</h5>
								<span class="modal-body-labels pull-right">
									{{#each loopCount (getNbStars this.haveYouBeenSatisfied.laundromat) }}
										<span class="fa fa-star color-yellow"></span>
									{{/each}}
								</span>
							</div>
							<div>
								<h5 class="inline modal-body-labels-answer">{{getDicoVar "satisfaction" "changeOfLinen"}}:</h5>
								<span class="modal-body-labels pull-right">
									{{#each loopCount (getNbStars this.haveYouBeenSatisfied.changeOfLinen) }}
										<span class="fa fa-star color-yellow"></span>
									{{/each}}
								</span>
							</div>
							<div>
								<h5 class="inline modal-body-labels-answer">{{getDicoVar "satisfaction" "sportsHall"}}:</h5>
								<span class="modal-body-labels pull-right">
									{{#each loopCount (getNbStars this.haveYouBeenSatisfied.sportsHall) }}
										<span class="fa fa-star color-yellow"></span>
									{{/each}}
								</span>
							</div>
							<div>
								<h5 class="inline modal-body-labels-answer">{{getDicoVar "satisfaction" "internetConnection"}}:</h5>
								<span class="modal-body-labels pull-right">
									{{#each loopCount (getNbStars this.haveYouBeenSatisfied.internetConnection) }}
										<span class="fa fa-star color-yellow"></span>
									{{/each}}
								</span>
							</div>
						</div>
						
						<div class="col-md-12 mb20" style="border-bottom: 1px solid #eee; padding-bottom: 15px;">
							<h4 class="dark">{{getDicoVar "satisfaction" "reasonDeparture"}} </h4>
							<div class="modal-body-labels-answer">{{this.reasonDeparture}}</div>
						</div>
						
						<div class="col-md-12 mb20" style="border-bottom: 1px solid #eee; padding-bottom: 15px;">
							<h4 class="inline dark">{{getDicoVar "satisfaction" "recommendation"}} </h4>
							<div class="modal-body-labels-answer">
								{{getDicoVar "ModuleStat" "answer"}} : {{getYesOrNo this.recommendation}}
								<br/>
								{{getDicoVar "ModuleStat" "detail"}} : {{ this.recommendation.[1] }}
							</div>
						</div>
						
						<div class="col-md-12 mb20" style="border-bottom: 1px solid #eee; padding-bottom: 15px;">
							<h4 class="dark">{{getDicoVar "satisfaction" "suggestions"}}: </h4>
							<div class="modal-body-labels-answer">{{this.suggestions}}</div>
						</div>
					</div>
					{{/with}}
				</div>
				{{else}}
					{{getDicoVar "satisfaction" "no_building"}}
				{{/each}}
			</div>
		</div>
	</div>
</template>