<template name="messengerManager">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {{#if isSubscribeReady}}
    <div class="row titleView">
      <div class="col-sm-12">
        <div class="panel">
          <div class="panel-heading position_relative" style="padding-bottom: 10px">
            <div class="sub-tool-bar clearfix">
              <h1 class="pull-left"> {{ getDicoVar 'moduleMessagerieIndex' 'pageTitle' }} </h1>
              <div class="action pull-right">
                {{#if refreshCondoId}}{{/if}}
                {{!-- {{> CondoDropDown condoList=CDD_cursor condoId=setCondo noAll=($not messengerEnterpriseIsSelected) checkSessionVar=true classes="inline"}} --}}
                {{#if canSendMessage}}
                  {{#if messengerEnterpriseIsSelected}}
                    <a type="button" class="btn red_btn red_btn-lg no-margin-right" data-toggle="modal" data-target="#modal_new_message"> {{ getDicoVar 'moduleMessagerieIndex' 'newMsg' }} </a>
                  {{else}}
                    <a type="button" id="addMessage" class="btn red_btn red_btn-lg no-margin-right"> {{ getDicoVar 'moduleMessagerieIndex' 'newMsg' }} </a>
                  {{/if}}
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    {{#if moduleMessengerManagerIsActive}}
      {{checkTabMessengerManager}}
      {{> messenger_select_tab currentTab=getCurrentTab selectingTab=setCurrentTab getDefaultRole=getTabForMainSelectorMessengerManager }}

      {{#if messengerEnterpriseIsSelected}}
        {{> messageListManager
          messageCountLimit=getMessageCountLimit
          setMessageCountLimit=setMessageCountLimit
          condoId=getCondo
        }}
        {{> newMessageManager}}
      {{else}}
        {{#if $eq getCondo 'all'}}
          <div class="whiteFullBackground">
            {{> MbWarning content=(getDicoVar 'commonTranslation' 'select_building_first_messenger')}}
          </div>
          {{!-- {{> loader}}
          {{autoSelectCondoId}} --}}
        {{else}}
          {{> MessengerPersonnalManager
            isNewMessage=getIsNewMessage
            setIsNewMessageAsFalse=setIsNewMessageAsFalse
            condoId=getCondo
          }}
        {{/if}}
      {{/if}}
    {{else}}
      {{> MbRestrictedAccess }}
    {{/if}}
  {{else}}
    {{> loader}}
  {{/if}}
</template>
