<template name="occupantProfile">
  <div class="main_block">
    {{checkTab}}
    <div class="occupantProfile">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      {{#let userProfile=getUserProfile}}
        <div class='profileHeader'>
          <span>{{getDicoVar 'commonTranslation' 'manager_my_profile'}}</span>
        </div>
        <div class='profileContainer'>
          <div class='basicProfile'>
            <div class='profilePictureContainer'>
              {{#let profilePicture=getProfileUrl}}
                {{#if profilePicture}}
                  <div class="profilePicture" style='background-image:url("{{profilePicture}}"), url("/img/anonymous.png")'></div>
                {{else}}
                  <div class="profilePictureInitial"><span>{{getUserInitial userProfile}}</span></div>
                {{/if}}
                <div class='editProfilePicture'></div>
                <div class='dropdownProfilePicture displayNone'>
                  <div class='tick'></div>
                  <div class='textSelector uploadPhoto'>{{ getDicoVar 'commonTranslation' 'upload_photo' }}</div>
                  <div class='textSelector removePhoto'>{{ getDicoVar 'commonTranslation' 'remove_photo' }}</div>
                  <div class='textSelector cancelDropdown'>{{ getDicoVar 'commonTranslation' 'cancel' }}</div>
                </div>
                <input id='inputAvatar' type='file' style='display: none;'>
              {{/let}}
            </div>
            <div class='informationsContainer'>
              <div class='nameProfile'>{{userProfile.firstname}} {{userProfile.lastname}}</div>
              <div class="detail-tab-container">
                <div class="detail-container">
                  <div class='mbPanelContainer'>
                    {{> MbPanel content=(getDicoVar 'commonTranslation' 'details')}}
                    <img class='editProfile' src="/img/icons/edit.png" height="16" data-toggle='modal' data-target='#modal_occupant_edit_profile'>
                  </div>
                  <div class='subText'><div class='profileIcon profileMailIcon'></div>{{userProfile.email}}</div>
                  <div class='subText'><div class='profileIcon profileMobileIcon'></div>{{formatMobileNumNoError userProfile.tel userProfile.telCode}}</div>
                  <div class='subText'><div class='profileIcon profilePhoneIcon'></div>{{formatMobileNumNoError userProfile.tel2 userProfile.tel2Code}}</div>
                </div>
                <div class="detail-container">
                  <div class='mbPanelContainer'>
                    {{> MbPanel content=(getDicoVar 'commonTranslation' 'interests')}}
                    <img class='editInterests' src="/img/icons/edit.png" height="16" data-toggle='modal' data-target='#modal_occupant_edit_interests'>
                  </div>
                  <div class="tags-container">
                    {{#let interests=(getInterests userProfile)}}
                    {{#if interests.length}}
                      {{#each interest in interests}}
                        <span class="user-interest">{{interest}}</span>
                      {{/each}}
                    {{else}}
                      {{> MbEmpty
                        title=''
                        subTitle=(getDicoVar 'commonTranslation' 'empty_interests')
                        buttonLabel=(getDicoVar 'commonTranslation' 'empty_interests_button')
                        onButtonClick=(openInterestModal)
                      }}
                    {{/if}}
                    {{/let}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='tabBarContainer'>
            {{#if getProfileOptions "documents"}}
              <div class='{{#if $eq selectedTab 'documents'}}selectedTabBar{{/if}}' data-tab='documents'> {{ getDicoVar 'commonTranslation' 'profile_details_documents' }} </div>
            {{/if}}
            {{#if getProfileOptions "payments"}}
              <div class='{{#if $eq selectedTab 'payments'}}selectedTabBar{{/if}}' data-tab='payments'>{{ getDicoVar "commonTranslation" "payments" }}</div>
            {{/if}}
            <div class='{{#if $eq selectedTab 'buildingsList'}}selectedTabBar{{/if}}' data-tab='buildingsList'> {{ getDicoVar 'commonTranslation' 'profile_details_buildings' }} </div>
            <div class='{{#if $eq selectedTab 'preferences'}}selectedTabBar{{/if}}' data-tab='preferences'> {{ getDicoVar 'commonTranslation' 'preferences' }} </div>
            <div class='{{#if $eq selectedTab 'password'}}selectedTabBar{{/if}}' data-tab='password'> {{ getDicoVar 'commonTranslation' 'password' }} </div>
          </div>

          {{#if isSubscribeReady}}
            {{> Template.dynamic template=getTabTemplate}}
          {{else}}
            {{> loader}}
          {{/if}}
        </div>
      {{/let}}
    </div>
  </div>
  {{> editProfileOccupant}}
  {{> editInterestModal}}
</template>
