.profileHeader {
  height: 64px;
  width: 100%;
  background-color: white;
  margin-bottom: 16px;
  padding: 0 16px;

  & > span {
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 64px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #5d5e62;
  }
}

#modal_occupant_edit_interests {
  .modal-body {
    label {
      width: 100%;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #5d5e62;
    }

    .bootstrap-tagsinput {
      padding: 8px;
      margin-top: 20px;
      width: 100%;
      min-height: 128px;
      background-color: #ffffff;
      border: solid 1px #e0e0e0;
      box-shadow: none;
      border-radius: 0;

      .tag {
        display: inline-block;
        background: var(--primary-color);
        padding: 5px 8px;
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.21;
        letter-spacing: -0.3px;
        color: #ffffff;
        border-radius: 0;
        user-select: none;
        cursor: pointer;
        transition: all 100ms ease;

        span {
          font-size: 14px;
          line-height: 1.21;
          letter-spacing: -0.3px;
          text-align: left;
          font-weight: bold;

        }
        span:after {
          content: '×';
        }
      }

      input {
        appearance: none !important;
        display: inline-block !important;
        padding: 3px;
        margin: 0 !important;
        background: none !important;
        border: none !important;
        box-shadow: none !important;
        font: inherit !important;
        font-size: 100% !important;
        outline: none !important;
      }

      .selected ~ input {
        opacity: 0.3;
      }
    }
  }
}

.occupantProfile {
  margin: 76px 32px 0 32px;

  .editProfile {
    position: absolute;
    right: 12px;
    top: 8px;
    cursor: pointer;
  }
}

#occupant_edit_profile {
  & > div {
    margin-bottom: 23px;
  }
}

.saveContactContainer {
  width: 100%;
  height: 40px;
  position: relative;
  margin-bottom: 30px !important;

  & > a {
    &.disabled {
      cursor: not-allowed;
      filter: alpha(opacity=65);
      -webkit-box-shadow: none;
      box-shadow: none;
      opacity: .65;
      background-color: grey;
    }
    position: absolute;
    right: 0;
    width: 180px;
    height: 40px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--secondary-color);
    color: #fff !important;
    outline: none !important;
    border: none;
    font-weight: 400;
    font-size: 16px;
    padding: 6px 30px;
    border-radius: 0;
    display: inline-block;
  }
}
