<template name="forgot_password">
    {{> headerHome}}
    <div id="forgot-password" class="fp__page-wrapper">
        <div class="container">
            <div class="fp__content">
                <div class="fp__content-header">
                    <h2 class="fp__title">{{getDicoVar 'home' 'forgot_password'}}</h2>
                    <div id="go-back" class="back_btn">
                        <img src="/img/icons/back.svg" height="15" style="margin-top: -2px;"> {{getDicoVar "home" "back_home"}}
                    </div>
                </div>

                <div class="fp__content-body">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                            {{#if $not isSuccess}}
                                <h1 class="page-title">
                                    {{getDicoVar 'home' 'forgot_password'}}
                                </h1>

                                <div class="subtitle">
                                    <p>{{ getDicoVar 'home' 'forgot_password_instruction' }}</p>
                                </div>

                                <div class="fp__form-wrapper">
                                    {{> MbInput
                                      value=getEmailValue
                                      onInput=updateEmail
                                      label=(getDicoVar 'home' 'email')
                                      placeholder=(getDicoVar 'home' 'type_email')
                                      required=true
                                      isError=isError
                                    }}

                                    <div class="fp__form-action">
                                        <button
                                          type="submit"
                                          id="submit"
                                          class="action-button"
                                          data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{ getDicoVar 'home' 'loading' }}..."
                                          disabled="{{ disableSubmit }}"
                                        >
                                          {{ getDicoVar 'home' 'forgot_btn' }}
                                        </button>
                                        {{#unless restrictToLoginPage}}
                                          <p>{{ getDicoVar 'home' 'not_Registered' }} <a id="goSignin">{{getDicoVar 'home' 'register'}}!</a></p>
                                        {{/unless}}
                                    </div>
                                </div>
                            {{else}}
                                <div class="fp_success-icon">
                                    <img src="/img/icons/svg/icon-success.svg">
                                </div>

                                <h1 class="page-title">
                                    {{ getDicoVar 'home' 'reset_link' }}
                                </h1>

                                <div class="fp__success-message">
                                    <p>{{ getDicoVar 'home' 'email_sent' }}</p>
                                    <p>{{ getDicoVar 'home' 'no_email' }}<a id='resendForgotPassword' data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{ getDicoVar 'home' 'loading' }}...">{{ getDicoVar 'home' 'click_resend' }}</a></p>
                                </div>

                                <button type="submit" id="go-back" class="action-button action-button-bordered">
                                    {{ getDicoVar 'home' 'back_login' }}
                                </button>
                            {{/if}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
