<template name="contactManagement_validation">
  {{> loader display_auto=false}}
  <div id="allRender" class="contact-management">
      <div class="infoTab col-xs-12">
          <img class="pull-left" src="/img/icons/attention.png" alt="">
          <p class="pull-left">
            {{getDicoVar 'contactManagement' 'validSpeaker1'}}
          </p>
      </div>
    <div class="row">
      <div class="col-md-12 validEntry">
        <div class="d-panel blue mt24">
          <div class="d-panel-head">
            <h3>
              {{getDicoVar 'contactManagement' 'validTitle1'}}
              {{#if ManagerCanValidate}}
                {{getDicoVar 'contactManagement' 'validTitle2'}}
              {{/if}}
              {{#if and ManagerCanValidate (condoOptions "EDL")}}
                /
              {{/if}}
              {{#if condoOptions "EDL"}}
                {{getDicoVar 'contactManagement' 'validTitle3'}}
              {{/if}}
            </h3>
          </div>
          <div class="d-panel-body ">
            <div class="d-des-form">
              <form>
                {{#if ManagerCanValidate}}
                  {{>MbMultipleCondoPicker
                    onSelect=(saveChanges (getDeclarationId "validEntry"))
                    selectedUserIds=(getUserDeclaration "validEntry")
                    options=managerMembers
                    label=(getDicoVar 'contactManagement' 'registrationValid')
                    type ='user'
                    required=false
                    multiple=true
                    defaultSelect=true
                    disabled=(reverseBool (userHasRight "setContact" 'writeValidation'))
                  }}
                {{/if}}
                {{#if renderSelect2}}{{/if}}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
