<template name="cgu_old">

  <header id="header" class="fixed-header">
    <div class="header_container">
      <a class="logo logoGoHome">
      <img src="/img/logo/logo.svg" />
      </a>
    </div>
  </header>

	<div class="container containerHome">
		<div class="cguContainer">
			<div class="cguContener">
				<div class="CGUhead col-xs-12">
					<div class="con_clearfix">
						<p class="conditions">Conditions générales d’utilisation</p>
						<p class="date">Dernière mise à jour : 15/02/17</p>
					</div>
				</div>
				<div class="col-xs-12 cguWrap">

					<div class="col-xs-12">
						<div id="préambule-définitions" class="session_title">MENTIONS LEGALES</div>
						<p>Vous venez d'accéder au site <span>MonBuilding.com.</span></p>
						<br>
						<p>Dénomination sociale : MonBuilding&Co</p>
						<p>Société par Actions Simplifiée au capital de : 125 euros</p>
						<p>Registre du commerce et des sociétés de Paris sous le numéro : 820 950 103</p>
						<p>Siège social : 146 boulevard de grenelle, 75015 Paris</p>
						<p>Représentant légal : Eliane Lugassy</p>
						<p>Directeur de Publication : Eliane Lugassy</p>
						<p>Contact : bonjour@monbuilding.com</p>
						<p>Hébergement : OVH sis 2 rue kellermann BP 80157 59053 ROUBAIX CEDEX 1 - France </p>
						<br>
						<p>En tant qu'utilisateur du Site, vous devez lire les Conditions Générales d'Utilisation et l'accès au Site vaudra acceptation de celles-ci.</p>
					</div>
					<div class="mentionLegal spacerText col-xs-12">
						<div id="mention-legal" class="session_title">PREAMBULE  DEFINITIONS</div>
						<p>Chacun des termes mentionnés ci-dessous aura dans les présentes Conditions Générales d'Utilisation (ci-après dénommées les "CGU") la signification suivante :</p>
						<p><strong>Annonce</strong> : désigne l'ensemble des éléments et données (visuelles, textuelles, sonores, photographies, dessins), déposé par un Utilisateur sous sa responsabilité éditoriale, et diffusé sur la Plateforme MonBuilding.</p>
						<p><strong>Utilisateur</strong> : désigne toute personne physique majeure ou personne morale établie en France, titulaire d'un Compte Personnel ou d'un Compte Pro ayant accès à la Plateforme MonBuilding. Le terme "Utilisateur" regroupe dans les CGU les deux types d'Utilisateurs suivant :</p>

						<ul>
							<li><p><strong>Buildimer</strong> : désigne toute personne physique majeure ou personne morale utilisatrice, occupante, locataire ou propriétaire au sein d'un immeuble référencé sur la Plateforme MonBuilding. Tout Buildimer doit impérativement être titulaire d'un Compte Personnel et y être connecté pour accéder et utiliser les services de la Plateforme MonBuilding pour ses immeubles de rattachement ;</p></li>
							<li><p><strong>Prestataire</strong> : désigne toute personne physique majeure ou personne morale utilisant, exclusivement à des fins professionnelles, la Plateforme MonBuilding suite à l'accord conclu avec l'entreprise cliente. Tout Prestataire doit impérativement être titulaire d'un Compte Pro et y être connecté pour accéder et utiliser les services de la Plateforme MonBuilding dans son/ses immeubles sous gestion.</p></li>
						</ul>

						<p><strong>Compte Personnel</strong> : désigne l'espace que tout Buildimer d'un immeuble présent sur la Plateforme MonBuilding peut se créer afin de bénéficier des services de la Plateforme MonBuilding (article 7 ci-dessous). Un Compte Personnel peut regrouper plusieurs immeubles.</p>
						<p><strong>Compte Pro</strong> : désigne l'espace que tout Prestataire doit se créer, et à partir duquel il peut utiliser les services de la Plateforme MonBuilding. Un compte Pro peut regrouper plusieurs immeubles.</p>
						<p><strong>MonBuilding&amp;Co</strong> : désigne la société qui édite et exploite le Site et l'application - MonBuilding&Co, SAS au capital de 125 euros, immatriculée au registre du commerce et des sociétés de Paris sous le numéro 820 950 103, dont le siège social est situé 146 boulevard de grenelle 75015 Paris.</p>
						<p><strong>Plateforme MonBuilding</strong> : espace regroupant les services mis à la disposition des Utilisateurs tels que décrits à l'article 7 des présentes CGU et uniquement accessible après connexion au  compte Personnel ou Pro.</p>
						<p><strong>Site</strong> : désigne le site internet accessible principalement depuis l'URL www.monbuilding.com et permettant aux Utilisateurs d'accéder via internet à la Plateforme MonBuilding.</p>
					</div>
					<div class="spacerText col-xs-12">
						<div id="1-objet" class="session_title">1. Objet</div>
						<p>Les présentes Conditions Générales d'Utilisation ont pour objet de définir les conditions d'utilisation de la Plateforme MonBuilding par l'Utilisateur.</p>
						<p>A travers la Plateforme MonBuilding :</p>
						<ul>
							<li>les Prestataires (définis ci-dessus) peuvent interagir avec des Buildimers (définis ci-dessus) dans le cadre d'une gestion professionnelle de l'immeuble, </li>
							<li>les Buildimers peuvent interagir entre eux, avec le Prestataire de l'immeuble et le cas échéant avec le concierge / Conseil syndical. Les Buildimers bénéficient également d'un ensemble de services visant à améliorer la cohabitation au sein d'un même immeuble et à apporter du confort.</li>
						</ul>

					</div>

					<div class="spacerText col-xs-12">
						<div id="2-acceptation" class="session_title">2. Acceptation</div>

						<p>Tout Utilisateur déclare en accédant et utilisant la Plateforme MonBuilding avoir pris connaissance des présentes Conditions Générales d'Utilisation et les accepter expressément sans réserve et/ou modification de quelque nature que ce soit suite à son acceptation lors de l'inscription, matérialisée par la case cochée "Je reconnais avoir pris connaissance et accepter les Conditions Générales d'Utilisation de la Plateforme MonBuilding ".</p>
						<p>Les présentes CGU sont donc pleinement opposables aux Utilisateurs. </p>
					</div>
					<div class="spacerText col-xs-12">
						<div id="3-description-du-service" class="session_title">3. Objet du service</div>

						<p>La Plateforme MonBuilding permet à ses Utilisateurs de bénéficier d'outils favorisant la circulation de l'information au sein de l'immeuble, la gestion d'incidents et des ressources disponibles, l'accès à des services de confort.</p>
					</div>

					<div class="spacerText col-xs-12">
						<div id="4-conditions-du-service" class="session_title">4. Conditions d'accès à la Plateforme MonBuilding</div>

						<p>La Plateforme MonBuilding est réservée au bénéfice exclusif des Utilisateurs disposant d'un compte actif.</p>
						<p>Un compte Buildimer peut être créé de trois façons :</p>
						<ul>
							<li>Soit après avoir été invité par le Prestataire de l'immeuble / le Conseil syndical : l'activation du compte étant subordonnée au choix d'un mot de passe par l'Utilisateur invité </li>
							<li>Soit après avoir rempli le formulaire d'inscription en ligne (présent sur la page d'accueil): l'activation du compte étant subordonnée à la validation du compte par le Prestataire de l'immeuble</li>
							<li>Soit après avoir rempli le formulaire d'inscription en ligne et justifié du rattachement à l'immeuble choisi (ex : justificatif de domicile de moins de 6 mois) : l'activation du compte étant subordonnée à la vérification par MonBuilding&Co du justificatif transmis. Toutefois, MonBuilding&Co ne prend aucune obligation quelconque liée à l'exactitude des informations transmises. </li>
						</ul>
						<p>Un compte Prestataire est subordonné à la signature d'un accord contractuel séparé avec l'entreprise cliente, en plus de l'acceptation des présentes CGU.</p>
						<p>Une fois cet accord conclu, l'entreprise cliente peut inviter les Prestataires souhaités. L'activation du compte sera conditionnée au choix d'un mot de passe par le Prestataire invité. Pour le compte de l'entreprise cliente, MonBuilding&Co peut également procéder aux invitations de Prestataires.</p>
					</div>
					<div class="spacerText col-xs-12">
						<div id="5-conditions-du-service" class="session_title">5. Accès à la Plateforme MonBuilding</div>
						<h5>5.1. Moyens techniques</h5>
						<p>L'accès à la Plateforme MonBuilding se fait via l'utilisation d'Internet (ordinateur/téléphone mobile) présentant des degrés de compatibilité et de sécurité nécessaire audit accès. Tous les co˚ts afférents à l'accès au Site, que ce soit les frais matériels, logiciels ou d'accès à internet sont exclusivement à la charge de l'Utilisateur. </p>
						<ul>À ce titre et en tant qu'Utilisateur, vous reconnaissez :
							<li>disposer de la compétence et des moyens nécessaires pour accéder et utiliser la Plateforme MonBuilding, dont l'une des 2 dernières versions des navigateurs principaux (Chrome, Safari, Firefox, Internet Explorer, etc.),</li>
							<li>avoir vérifié que votre configuration informatique ne contient aucun virus et qu'elle est en parfait état de fonctionnement,</li>
							<li>avoir été informé que le Site est accessible 24h/24h et 7jours/7, à l'exception des cas de force majeure, difficultés informatiques, techniques ou liées aux réseaux de télécommunications ; et que pour des raisons de maintenance, MonBuilding&Co pourra interrompre l'accès au Site et s'efforcera d'en avertir préalablement les Utilisateurs.</li>
						</ul>
						<h5>5.2 Assistance technique</h5>

						<p>MonBuilding&Co met à disposition de l'Utilisateur un service d'assistance technique selon les modalités suivantes : bonjour@monbuilding.com du lundi au vendredi de 10h à 18h.</p>
						<p>Les conseillers de MonBuilding&Co sont disponibles pour répondre aux questions de l'Utilisateur et le guider dans l'utilisation de la Plateforme MonBuilding à l'adresse email suivante bonjour@monbuilding.com du lundi au vendredi de 10h à 18h.</p>
					</div>
					<div class="spacerText col-xs-12">
						<div id="6-conditions-du-service" class="session_title">6. Code & Sécurité</div>
						<p>L'accès à la Plateforme MonBuilding n'est possible qu'au moyen de codes saisis lors de l'inscription :</p>
						<ul>
							<li>un identifiant correspondant à l'adresse email de l'Utilisateur,</li>
							<li>un mot de passe. Ce mot de passe est choisi au moment de l'inscription. En cas d'oubli du mot de passe, l'Utilisateur pourra en choisir un nouveau en cliquant sur " Mot de passe oublié ". </li>
						</ul>
						<p>Le mot de passe est personnel et confidentiel. L'Utilisateur en est seul responsable. Il s'engage à ne pas le divulguer à des tiers, sous quelque forme que ce soit, et à prendre toutes les précautions nécessaires pour éviter que des tiers ne puissent y avoir accès.</p>
						<p>L'Utilisateur s'engage à avertir sans délai MonBuilding&Co en cas de perte ou de vol de son mot de passe.</p>
						<p>A défaut, et sauf preuve contraire, toute connexion ou transmission d'ordres ou de données effectuées au moyen du mot de passe sera réputée provenir de l'Utilisateur et sous sa responsabilité exclusive.</p>
						<p>L'Utilisateur peut à tout moment demander l'annulation de son Compte Personnel ou de son Compte Pro en adressant un courriel à informations@monbuilding.com.</p>
					</div>
					<div class="spacerText col-xs-12">
						<div id="7-conditions-du-service" class="session_title">7. Description des services de la Plateforme MonBuilding</div>

						<p>A travers la Plateforme MonBuilding, les Utilisateurs ont accès aux fonctionnalités listées ci-après et peuvent choisir celles dont ils souhaitent se servir ou non. Chaque immeuble bénéficie d'une Plateforme MonBuilding dédiée.</p>

						<h5>7.1. Fonctionnalités proposés aux Buildimers</h5>
						<p>Le choix du recours à ces fonctionnalités revient à l'entreprise cliente ou aux Buildimers qui peuvent choisir de ne recourir qu'à certaines d'entre elles :</p>
						<ul>
							<li>Consultation des actualités de l'immeuble </li>
							<li>Consultation du règlement et du plan de l'immeuble</li>
							<li>Remontée des incidents auprès du Prestataire de l'immeuble</li>
							<li>Consultation du trombinoscope de l'immeuble</li>
							<li>Consultation et participation au forum de l'immeuble</li>
							<li>Consultation et participation aux petites annonces</li>
							<li>Messenger pour contacter d'autres Buildimers de l'immeuble, le concierge, le Conseil syndical ou encore le Prestataire de l'immeuble</li>
							<li>Pour les membres du Conseil syndical :
								<ul class="nonewline">
									<li>un forum dédié</li>
									<li>un accès aux messages destinés au Conseil syndical</li>
									<li>la possibilité de supprimer un post tiers contraire aux règles de diffusion de la Plateforme MonBuilding</li>
									<li>publier une actualité visible de tous les Buildimers de l'immeuble</li>
									<li>inviter des occupants à rejoindre la Plateforme MonBuilding de l'immeuble</li>
								</ul>
							</li>
							<li>Pour le concierge :
								<ul class="nonewline">
									<li>publier une actualité visible de tous les Buildimers de l'immeuble</li>
									<li>la possibilité de supprimer un post tiers contraire aux règles de diffusion de la Plateforme MonBuilding</li>
									<li>un accès aux messages destinés au concierge</li>
								</ul>
							</li>
							<li>Réservation d'espaces ou de biens communs</li>
							<li>Mise à disposition d'une conciergerie permettant aux Buildimers de bénéficier d'une mise en relation avec un professionnel compétent pour la réalisation d'un service</li>
							<li>Edition / suppression des Annonces publiées</li>
							<li>Suivi facultatif de l'activité de la Plateforme MonBuilding via l'envoi d'un courriel / push à chaque nouveauté</li>
							<li>Accès au compte Perso : gestion des informations personnelles, des notifications </li>
							<li>Et tous les autres services intégrés à la demande de l'entreprise cliente</li>
						</ul>

						<h5>7.2. Fonctionnalités proposés aux Prestataires</h5>

						<p>Le choix du recours à ces fonctionnalités revient à l'entreprise cliente qui peut décider de ne recourir qu'à certaines d'entre elles :</p>
						<ul>
							<li>Consultation et publication des actualités de l'immeuble</li>
							<li>Consultation et publication du règlement et du plan de l'immeuble</li>
							<li>Gestion des incidents déclarés par les Buildimers ou constatés par le Prestataire</li>
							<li>Liste des Buildimers : gestion des accès via l'invitation d'occupants et la suppression des accès</li>
							<li>Messagerie commune permettant d'échanger avec les Buildimers / le Conseil syndical / le concierge avec un rootage des demandes permettant de diriger les demandes aux personnes compétentes</li>
							<li>Consultation des espaces d'échange disponibles aux Buildimers (forum, petites annonces, forum Conseil syndical) et suppression d'un post publié par un Buildimer sur les espaces d'échange qui serait contraire aux règles de diffusion de la Plateforme MonBuilding</li>
							<li>Mise à disposition de statistiques sur la gestion de l'immeuble et l'activité dans l'immeuble</li>
							<li>Gestion des espaces / biens communs</li>
							<li>Edition / suppression des Annonces publiées</li>
							<li>Suivi facultatif de l'activité de la Plateforme MonBuilding via l'envoi d'un courriel à chaque nouveauté</li>
							<li>Accès au compte Pro : gestion des informations personnelles, des notifications</li>
							<li>Et tous les autres services intégrés à la demande de l'entreprise cliente</li>
						</ul>
					</div>
					<div class="spacerText col-xs-12">
						<div id="8-propri-t-intellectuelle-parasitisme-protection-du-site-et-des-bases-de-donn-es" class="session_title">8.	Propriété intellectuelle & Parasitisme & Protection du Site et des bases de données</div>

						<p><strong>8.1.</strong> Tous les droits de propriété intellectuelle (tels que notamment droits d'auteur, droits voisins, droits des marques, droits des producteurs de bases de données) portant tant sur la structure que sur les contenus de la Plateforme MonBuilding et notamment les images, sons, vidéos, photographies, logos, marques, éléments graphiques, textuels, visuels, outils, logiciels, documents, données, etc. (ci-après désignés dans leur ensemble "Eléments") sont réservés. Ces Eléments sont la propriété de MonBuilding&Co. Ces Eléments sont mis à disposition des Utilisateurs, à titre gracieux, pour la seule utilisation de la Plateforme MonBuilding et dans le cadre d'une utilisation normale de ses fonctionnalités. MonBuilding&Co ne consent aucune garantie d'éviction ou autre sur les droits de propriété intellectuelle relatifs à la Plateforme MonBuilding et/ou aux Eléments. Les Utilisateurs s'engagent à ne modifier en aucune manière les Eléments.</p>
						<p>Toute utilisation non expressément autorisée des Eléments de la Plateforme MonBuilding entraîne une violation des droits d'auteur et constitue une contrefaÁon. Elle peut aussi entraîner une violation des droits à l'image, droits des personnes ou de tous autres droits et réglementations en vigueur. Elle peut donc engager la responsabilité civile et/ou pénale de son auteur.</p>

						<p><strong>8.2.</strong> Il est interdit à tout Utilisateur de copier, modifier, créer une œuvre dérivée, inverser la conception ou l'assemblage ou de toute autre manière tenter de trouver le code source, vendre, attribuer, sous licencier ou transférer de quelque manière que ce soit tout droit afférent aux Eléments.</p>
						<ul>Tout Utilisateur de la Plateforme MonBuilding s'engage notamment à ne pas :
							<li>utiliser ou interroger la Plateforme MonBuilding pour le compte ou au profit d'autrui </li>
							<li>extraire, à des fins commerciales ou non, tout ou partie des Annonces présentes sur la Plateforme MonBuilding</li>
							<li>intégrer tout ou partie du contenu de la Plateforme MonBuilding dans un site/application tiers, à des fins commerciales ou non</li>
							<li>reproduire sur tout autre support, à des fins commerciales ou non, tout ou partie des Annonces présentes sur la Plateforme MonBuilding permettant de reconstituer tout ou partie des fichiers d'origine</li>
							<li>utiliser un robot, notamment d'exploration (spider), une application de recherche ou récupération de sites Internet ou tout autre moyen permettant de récupérer ou d'indexer tout ou partie du contenu de la Plateforme MonBuilding, excepté en cas d'autorisation expresse et préalable de MonBuilding&Co</li>
						</ul>
						<p>Toute reproduction, représentation, publication, transmission, utilisation, modification ou extraction de tout ou partie des Eléments et ce de quelque manière que ce soit, faite sans l'autorisation préalable et écrite de MonBuilding&Co est illicite. Ces actes illicites engagent la responsabilité de ses auteurs et sont susceptibles d'entraîner des poursuites judiciaires à leur encontre et notamment pour contrefaçon.</p>

						<p><strong>8.3.</strong> Les marques et logos MonBuilding et MonBuilding.com / MonBuilding.fr ainsi que les marques et logos des partenaires de MonBuilding&Co sont des marques déposées. Toute reproduction totale ou partielle de ces marques et/ou logos sans l'autorisation préalable et écrite de MonBuilding&Co est interdite.</p>

						<p><strong>8.4.</strong> MonBuilding&Co est producteur des bases de données de la Plateforme MonBuilding. En conséquence, toute extraction et/ou réutilisation de la ou des bases de données au sens des articles L 342-1 et L 342-2 du code de la propriété intellectuelle est interdite.</p>

						<p><strong>8.5.</strong> La Plateforme MonBuilding peut contenir des liens hypertextes redirigeant vers des contenus émanant de tiers ou vers des sites Internet exploités par des tiers. Ces liens sont fournis à simple titre d'information. MonBuilding&Co n'est pas responsable de la qualité ou de l'exactitude de ces contenus ni de ces sites Internet et ne peut pas non plus être considéré comme approuvant, publiant ou autorisant ces sites Internet ou ces contenus. MonBuilding&Co décline toute responsabilité quant aux dommages pouvant résulter de l'utilisation de ces sites. La décision d'activer ces liens relève de la pleine et entière responsabilité de l'Utilisateur.</p>

						<p><strong>8.6.</strong> Aucun lien hypertexte ne peut être créé vers la Plateforme MonBuilding sans l'accord préalable et exprès de MonBuilding&Co. Si un internaute ou une personne morale désire créer, à partir de son site, un lien hypertexte vers la Plateforme MonBuilding et ce quel que soit le support, il doit préalablement prendre contact avec MonBuilding&Co en lui adressant un courriel à l'adresse suivante bonjour@monbuilding.com. Tout silence de MonBuilding&Co devra être interprété comme un refus.</p>

						<p><strong>8.7.</strong> Le contenu des Annonces appartient aux Utilisateurs les ayant déposées, néanmoins, en déposant des Annonces sur le Site, l'Utilisateur concède :</p>
						<ul>
							<li><p>à MonBuilding&Co le droit d'exploitation non exclusif, transférable, sous licenciable, à titre gracieux, pour le monde entier sur (i) l'ensemble du contenu des Annonces et notamment sur les photographies, textes, vidéos, illustrations, marques, logos, titres (ci-après le "Contenu"), au fur et à mesure de leur publication sur la Plateforme MonBuilding ainsi (ii) qu'une licence sur l'ensemble des droits de propriété intellectuelle afférant au Contenu et notamment sur les droits d'auteurs sur les éléments utilisés dans son Annonce, tels que les photographies, textes, vidéos, dessins, illustrations, éléments sonores, et ce pour toute la durée légale de ses droits de propriété intellectuelle et pour le monde entier</p>
								<p>Les droits ainsi concédés incluent le droit de reproduire, représenter, diffuser, adapter, modifier, réaliser une úuvre dérivée, traduire tout ou partie du Contenu par tous procédés, sous quelque forme que ce soit et sur tous supports (numérique, imprimé) connus ou inconnus à ce jour, dans le cadre des services de la Plateforme MonBuilding ou en relation avec l'activité de MonBuilding&Co, et ce à des fins commerciales ou non et notamment publicitaires, ainsi que dans le cadre d'une diffusion sur les réseaux sociaux sur lesquels MonBuilding&Co est ou sera présent et notamment les pages Facebook, Instagram et Twitter de MonBuilding&Co</p>
								<p>En particulier, les photographies des Annonces pourront être reproduites et intégrées dans des formats publicitaires diffusés sur la Plateforme MonBuilding, uniquement en lien avec l'Annonce déposée</p>
								<p>L'Utilisateur ayant publié une Annonce sur la Plateforme MonBuilding accorde son consentement à la reprise de son Annonce et de son Contenu sur les réseaux sociaux, notamment Facebook, Instagram et Twitter. Par conséquent, l'Utilisateur atteste avoir pris connaissance des conditions générales d'utilisation des sites Facebook, Instagram, et Twitter et en accepter les termes, particulièrement en matière de réutilisation du Contenu et des données personnelles</p>
								<p>Au titre de cette licence, MonBuilding&Co, sans que cela ne crée à sa charge une obligation d'agir, est en droit de s'opposer à la reproduction et l'exploitation par des tiers non autorisés des Annonces diffusées sur la Plateforme MonBuilding et de leur Contenu</p>
							</li>
							<li><p>aux Utilisateurs, le droit non exclusif d'accéder au Contenu via la Plateforme MonBuilding et d'utiliser et de représenter le Contenu dans la mesure autorisée par les fonctionnalités de la Plateforme MonBuilding, et ce pour le monde entier</p></li>
						</ul>
					</div>
					<div class="spacerText col-xs-12">
						<div id="9-protection-collecte-utilisation-et-communication-des-donn-es-personnelles-cookies" class="session_title">9. Protection, collecte, utilisation et communication des données personnelles &amp; Cookies</div>

						<h5>9.1. Protection des données personnelles</h5>
						<p>Conformément à la loi n˚78-17 du 6 janvier 1978, dite " Informatique et libertés ", MonBuilding&Co a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés (C.N.I.L) sous le numéro 1971071.</p>
						<p>Conformément aux articles 38, 39 et 40 de la loi n˚78-17 du 6 janvier 1978, tout Utilisateur (agissant exclusivement à des fins privées et non commerciales) de la Plateforme MonBuilding dispose à tout moment d'un droit d'opposition, d'accès, de rectification, de suppression ainsi que d'opposition au traitement des données le concernant.</p>
						<p>L'Utilisateur peut exercer ce droit en contactant MonBuilding&Co à l'adresse suivante : informations@monbuilding.com.</p>

						<h5>9.2. Collecte et utilisation des données personnelles</h5>

						<p>Les données personnelles sont susceptibles d'être utilisées par MonBuilding&amp;Co aux fins suivantes :</p>
						<ul>
							<li><p><strong>Collecte des données personnelles</strong></p>
								<p>Les données personnelles sont collectées dans le cadre :</p>
								<ul class="nonewline">
									<li>Du Compte Personnel : prénom, nom, courriel, mot de passe, immeuble(s) de rattachement, statut (locataire/ propriétaire), étage, lot, téléphone, photo et, selon la modalité d'inscription, justificatif de domicile de moins de 6 mois</li>
									<li>Du Compte Pro : renseignements sur la société (Dénomination sociale, Kbis, carte d'identité du représentant légal et autres documents si nécessaire) et prénom, nom,  courriel, téléphone et photo</li>
								</ul>
							</li>
							<li><p><strong>Utilisation des données personnelles</strong></p>
								<p>Toutes données personnelles collectées sont susceptibles d'être utilisées par MonBuilding&amp;Co aux fins suivantes :</p>
								<ul>
									<li><p>les besoins de la gestion des opérations effectuées sur la Plateforme MonBuilding, notamment pour :</p>
										<ul class="nonewline">
											<li>la gestion / validation des Annonces</li>
											<li>la publication et le suivi des Annonces</li>
											<li>l'envoi de formulaires de réponse</li>
											<li>l'envoi d'information au sujet de la Plateforme MonBuilding</li>
											<li>l'envoi de propositions commerciales suite à une demande de l'Utilisateur</li>
											<li>l'envoi d'enquêtes de satisfaction</li>
										</ul>
									</li>
									<li>la réalisation de statistiques</li>
								</ul>
							</li>
						</ul>

						<h5>9.3. Communication des données personnelles</h5>

						<p>Conformément à la loi n°78-17 du 6 janvier 1978, MonBuilding&Co s'engage à conserver toutes les données personnelles recueillies via la Plateforme MonBuilding et à ne les transmettre à aucun tiers sans l'accord préalable de l'Utilisateur.</p>
						<p>Par dérogation, l'Utilisateur est informé que MonBuilding&Co peut être amenée à communiquer les données personnelles collectées via la Plateforme MonBuilding :</p>
						<ul>
							<li>pour se conformer à des obligations légales ou pour obéir à des injonctions judiciaires</li>
							<li>pour protéger et défendre les droits de MonBuilding&Co, notamment ses droits de propriété, dans le cadre d'un contentieux la mettant en cause</li>
							<li>pour faire respecter les présentes CGU</li>
						</ul>

						<h5>9.4. Traitements de données techniques - Cookies</h5>

						<p>MonBuilding&Co souhaite informer l'Utilisateur de manière claire et transparente sur l'usage des cookies lors de la navigation sur le Site. MonBuilding&Co procède en effet à l'enregistrement automatique de certaines données techniques.</p>
						<p>Lors de la consultation du Site, les données techniques susceptibles d'être enregistrées, au titre de l'accès ou de l'utilisation du Site sont l'adresse Internet Protocol (IP) de l'Utilisateur et les informations relatives à la configuration (type de machine, de navigateur, etc.) et à la navigation (date, heure, pages consultées, survenance d'erreurs, etc.) de l'Utilisateur.</p>
						<p>Ces dernières informations peuvent être stockées sur le disque dur du terminal de l'Utilisateur, par l'intermédiaire de son logiciel de navigation à l'occasion de la consultation d'un service en ligne, sous réserve de ses choix, dans un espace dédié du disque. MonBuilding&Co traitent ces données techniques de faÁon totalement anonyme, ne les rattachant à aucune information permettant d'identifier l'Utilisateur et, ne les transmettent pas à des tiers.</p>
						<p>Les cookies, en fonction de leur catégorie, sont utilisés pour les finalités suivantes :</p>
						<ul>
							<li><p><strong>Les cookies fonctionnels</strong> permettent notamment :</p>
								<ul class="nonewline">
									<li>d'adapter la présentation du Site et espaces publicitaires aux préférences d'affichage du terminal de l'Utilisateur (langue utilisée, résolution d'affichage, système d'exploitation utilisé, etc), selon les matériels et les logiciels de visualisation ou de lecture que son terminal comporte</li>
									<li>d'améliorer son expérience utilisateur en pré-remplissant certains champs de nos formulaires</li>
								</ul>
							</li>
							<li><p><strong>Les cookies de statistiques</strong> (ou analytiques) émis permettent de mieux connaitre notre Site et d'améliorer nos services en établissant des statistiques et volumes de fréquentation et d'utilisation (rubriques et contenus visités, parcours...)</p></li>
							<li><p><strong>Les cookies publicitaires</strong> servent à afficher des publicités plus pertinentes pour l'Utilisateur et ses centres d'intérêts. Ils sont aussi utilisés pour limiter le nombre de fois o˘ ce dernier voit une publicité et pour aider à mesurer l'efficacité d'une campagne publicitaire</p></li>
							<li><p><strong>Les cookies émis par des tiers</strong> : lorsque l'Utilisateur visite notre Site, certains cookies ne sont pas enregistrés par nous mais par des tiers partenaires pour la diffusion de publicité ciblée.</p></li>
						</ul>
						<p>Il est important de noter que tout paramétrage que l'Utilisateur peut entreprendre sera susceptible de modifier sa navigation sur Internet et ses conditions d'accès à certains services nécessitant l'utilisation de cookies.</p>
						<p>Si l'Utilisateur refuse l'enregistrement de ces derniers dans son terminal, ou s'il supprime ceux qui y sont enregistrés, il ne pourra plus bénéficier d'un certain nombre de fonctionnalités qui peuvent être nécessaires pour naviguer dans certains espaces de la Plateforme MonBuilding.</p>

					</div>

					<div class="spacerText col-xs-12">
						<div id="8-responsabilit-et-garanties" class="session_title">10. Responsabilité et garanties</div>

						<h5>10.1. Engagements de l'Utilisateur</h5>

						<p>L'Utilisateur garantit détenir tous les droits (notamment des droits de propriété intellectuelle) ou avoir obtenu toutes les autorisations nécessaires à la publication de son Annonce.</p>
						<p>L'Utilisateur garantit que l'Annonce ne contrevient à aucune réglementation en vigueur (notamment relatives à la publicité, à la concurrence, à la promotion des ventes, à l'utilisation de la langue française, à l'utilisation de données personnelles, à la prohibition de la commercialisation de certains biens ou services), ni aucun droit de tiers (notamment aux droits de propriété intellectuelle et aux droits de la personnalité) et qu'il ne comporte aucun message diffamatoire ou dommageable à l'égard de tiers.</p>

						<ul>Ainsi, l'Utilisateur s'engage notamment à ce que l'Annonce ne contienne :
							<li>aucune information imprécise, fausse, mensongère ou de nature à induire en erreur les Utilisateurs</li>
							<li>aucune mention diffamatoire, médisante, calomnieuse ou de nature à nuire aux intérêts et/ou à l'image de MonBuilding&Co ou de tout tiers</li>
							<li>aucun contenu portant atteinte aux droits de propriété intellectuelle de tiers, obscène, pédophile, discriminatoire ou incitant à la violence / haine raciale, religieuse ou ethnique</li>
						</ul>
						<p>Le Buildimer s'engage à utiliser les rubriques à leur disposition à des fins non professionnelles. Tous messages publicitaires et de parrainage sont interdits.</p>
						<p>Le Prestataire :</p>
						<ul>
							<li>déclare sur l'honneur l'exactitude et la sincérité des Annonces diffusées sur la plateforme MonBuilding</li>
							<li>déclare que son activité est exercée en conformité avec la législation et réglementation afférente à sa profession et s'engage expressément à respecter toutes les législations et réglementations en vigueur</li>
							<li>s'engage à avertir sans délai, MonBuilding&Co en cas de changement affectant l'exercice de sa profession (ex : incapacité professionnelle, non renouvellement du mandat de gestion, etc)</li>
						</ul>
						<p>Le Prestataire reconnaît et accepte que pour des raisons d'ordre technique, la mise en ligne d'une Annonce peut ne pas être instantanée avec sa validation.</p>
						<p>Le Prestataire déclare connaître l'étendue de diffusion de la Plateforme MonBuilding, avoir pris toutes précautions pour respecter la législation en vigueur des lieux de réception et décharger MonBuilding&Co de toutes responsabilités à cet égard.</p>
						<p>Dans ce cadre, le Prestataire déclare et reconnaît qu'il est seul responsable du contenu des Annonces qu'il publie et rend accessibles aux Utilisateurs, ainsi que de tout document ou information qu'il transmet aux Utilisateurs.</p>
						<p>L'Utilisateur assume l'entière responsabilité éditoriale du contenu des Annonces qu'il publie.</p>
						<p>En conséquence, l'Utilisateur relève MonBuilding&Co, ses sous-traitants et fournisseurs, de toutes responsabilités, les garantit contre tout recours ou action en relation avec l'Annonce qui pourrait être intenté contre ces derniers par tout tiers, et prendra à sa charge tous les dommages-intérêts ainsi que les frais et dépens auxquels ils pourraient être condamnés ou qui seraient prévus à leur encontre par un accord transactionnel signé par ces derniers avec ce tiers , nonobstant tout dommages-intérêts dont MonBuilding&Co, ses sous-traitants et fournisseurs pourraient réclamer à raison des faits dommageables de l'Utilisateur.</p>
						<p>En déposant toute Annonce, chaque Utilisateur reconnaît et accepte que MonBuilding&Co puisse supprimer, ou refuser, à tout moment, sans indemnité ni droit à remboursement des sommes engagées par l'Utilisateur, une Annonce qui serait contraire notamment à la loi française, aux règles de diffusion énoncées notamment dans les CGU et/ou susceptible de porter atteinte aux droits de tiers.</p>
						<p>Si une Annonce est refusée, avant sa mise en ligne, par MonBuilding&Co, l'Utilisateur en sera informé par email envoyé à l'adresse indiquée dans le Compte.</p>
						<ul>L'Utilisateur s'engage également à ce que son Compte Personnel et/ou son Compte Pro ne contienne :
							<li>aucune information fausse et/ou mensongère</li>
							<li>aucune information portant atteinte aux droits d'un tiers</li>
						</ul>
						<p>Dans ce cadre, le titulaire déclare et reconnaît qu'il est seul responsable des informations renseignées lors de la création de son Compte Personnel et/ou de son Compte Pro.</p>
						<p>En créant un Compte Personnel et/ou un Compte Pro, chaque titulaire reconnaît et accepte que MonBuilding&Co puisse supprimer, à tout moment, sans indemnité ni droit à remboursement des sommes engagées par l'Utilisateur, un compte qui serait contraire notamment à la loi française et/ou aux règles de diffusion fixées par MonBuilding&Co et notamment énoncées dans les CGU.</p>

						<h5>10.2. Responsabilité et obligations de MonBuilding&amp;Co</h5>

						<p>En sa qualité d'hébergeur, MonBuilding&Co est soumise à un régime de responsabilité atténuée prévu aux articles 6.I.2. et suivants de la loi n˚2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.</p>
						<p>MonBuilding&Co ne saurait donc en aucun cas être tenue responsable du contenu des Annonces publiées par les Utilisateurs et ne donne aucune garantie, expresse ou implicite, à cet égard.</p>
						<p>MonBuilding&Co est un tiers aux correspondances et relations entre les Utilisateurs et exclut de ce fait toute responsabilité à cet égard.</p>

						<h5>10.3 Limitation de responsabilités</h5>

						<p>MonBuilding&Co s'engage à mettre en úuvre tous les moyens nécessaires afin d'assurer au mieux la fourniture des services de la Plateforme MonBuilding aux Utilisateurs.</p>
						<p>Toutefois, MonBuilding&Co décline toute responsabilité en cas de :</p>
						<ul>
							<li><p>interruptions, de pannes, de modifications et de dysfonctionnement de la Plateforme MonBuilding quel que soit le support de communication utilisé et ce quelles qu'en soient l'origine et la provenance</p></li>
							<li><p>perte de données ou d'informations stockées par MonBuilding&Co. Il incombe aux Utilisateurs de prendre toutes précautions nécessaires pour conserver les Annonces qu'ils publient via la Plateforme MonBuilding</p></li>
							<li><p>impossibilité momentanée d'accès à la Plateforme MonBuilding en raison de problèmes techniques et ce quelles qu'en soient l'origine et la provenance</p></li>
							<li><p>dommages directs ou indirects causés à l'Utilisateur, quelle qu'en soit la nature, résultant du contenu des Annonces et/ou de l'accès, de la gestion, de l'utilisation, de l'exploitation, du dysfonctionnement et/ou de l'interruption de la Plateforme MonBuilding</p></li>
							<li><p>utilisation anormale ou d'une exploitation illicite de la Plateforme MonBuilding par tout Utilisateur</p></li>
							<li><p>attaque ou piratage informatique, privation, suppression ou interdiction, temporaire ou définitive, et pour quelque cause que ce soit, de l'accès au réseau internet</p></li>
						</ul>
						<p>La responsabilité de MonBuilding&Co ne pourra être engagée que pour les dommages directs subis par l'Utilisateur, résultant d'un manquement à ses obligations contractuelles telles que définies aux présentes. L'Utilisateur renonce donc à demander réparation à MonBuilding&Co à quelque titre que ce soit, de dommages indirects, en ce compris tout manque à gagner, la perte de chance, le préjudice commercial ou financier, l'augmentation de frais généraux ou les pertes trouvant leur origine ou étant la conséquence de l'exécution des présentes.</p>
						<p>Tout Utilisateur est seul responsable des dommages causés aux tiers et des conséquences des réclamations ou actions qui pourraient en découler. L'Utilisateur renonce également à exercer tout recours contre MonBuilding&Co dans le cas de poursuites diligentées par un tiers à son encontre du fait de l'Utilisation et/ou de l'exploitation illicite de la Plateforme MonBuilding, en cas de perte par un Utilisateur de son mot de passe ou en cas d'usurpation de son identité.</p>
					</div>

					<div class="spacerText col-xs-12">
						<div id="11-mod-ration-des-informations-annonces" class="session_title">11. Modération des Annonces</div>

						<h5>11.1 Suppression des Annonces</h5>

						<p>MonBuilding&Co se réserve le droit de supprimer, sans préavis ni indemnité ni droit à remboursement, toute Annonce qui ne serait pas conforme aux règles de diffusion de la Plateforme MonBuilding et/ou qui serait susceptible de porter atteinte aux droits d'un tiers.</p>

						<h5>11.2 Gestion des abus </h5>

						<p>Il est permis à tout Utilisateur de signaler un contenu abusif :</p>
						<ul>
							<li>soit en cliquant sur le lien "signaler un abus" situé en bas de chaque page</li>
							<li>soit par courriel à l'adresse suivante : bonjour@monbuilding.com</li>
						</ul>
						<p>Si l'abus est avéré, les prochaines Annonces publiées par l'Utilisateur responsable du contenu abusif seront mises sous surveillance. Si un deuxième abus est constaté, le Compte de l'Utilisateur sera désactivé.</p>
					</div>
					<div class="spacerText col-xs-12">
						<div id="10-dispositions-diverses" class="session_title">12. Dispositions diverses</div>

						<p>MonBuilding&Co se réserve la possibilité de modifier, à tout moment, en tout ou partie les CGU. Les Utilisateurs sont invités à consulter régulièrement les présentes CGU afin de prendre connaissance de changements éventuels effectués. L'utilisation de la Plateforme MonBuilding par les Utilisateurs constitue l'acceptation par ces derniers des modifications apportées aux CGU.</p>
						<p>SSi une partie des CGU devait s'avérer illégale, invalide ou inapplicable, pour quelle que raison que ce soit, les dispositions en question seraient réputées non écrites, sans remettre en cause la validité des autres dispositions qui continueront de s'appliquer entre les Utilisateurs et MonBuilding&Co</p>
						<p>La Plateforme MonBuilding et les présentes CGU sont soumis au droit franÁais.</p>
						<p>Toute contestation et/ou difficulté d'interprétation ou d'exécution des présentes conditions générales relèvera des tribunaux compétents de la ville de Paris.</p>
					</div>

				</div>
			</div>
		</div>
	</div>
	{{> footer}}
</template>
