<template name="modal_export_csv">

  <div id="export_csv_modal" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='exportCSVModalLabel'>
    <div class="modal-dialog modal-lg">

      <button details="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>

      <div class="modal-content">

        <div class="modal-header">
          <div class="modal-heading pull-left">
            <h4 id="exportCSVModalLabel" class="modal-title red_color">{{getDicoVar 'commonTranslation' 'choose_stats_export'}}</h4>
          </div>
        </div>

        <div class="card-main modal-body">

          <div class="pull-right">
            <div class="checkboxred">
              <input type="checkbox" {{getCheckedAll}} name="all">
              <label class="labelForCheckboxAll" data-display="" for="all"></label>
            </div>
            {{getDicoVar 'commonTranslation' 'select_all'}}
          </div>
          <table class="table-stats">

            <thead>
              <th></th>
              <th></th>
            </thead>

            <tbody>

              {{#each getStatsToDisplay}}
                {{#if checkRightInStat this.right}}
                  {{#if $eq this.name 'resourcesUse'}}
                    {{#if condoIsOffice}}
                    <tr class="statistic" style="{{isEven @index}}">
                      <td class="statName"> {{ getDicoVar "commonTranslation" this.translation }} </td>
                      <td class="checkStat">
                        <div class="checkboxred">
                          <input type="checkbox" {{getChecked this.name}} name="{{this.name}}">
                          <label class="labelForCheckbox " data-display="" for="{{this.name}}"></label>
                        </div>
                      </td>
                    </tr>
                    {{/if}}
                  {{else}}
                  <tr class="statistic">
                    <td class="statName"> {{ getDicoVar "stats" this.translation }}
                      {{#if $neq this.subtitle ''}}
                        <div class="subtitle">
                          {{ getDicoVar 'stats' this.subtitle }}
                        </div>
                      {{/if}}
                    </td>
                    {{!-- {{#if hasSwitcher this.name}}
                    <td class="csv-switcher">
                        <span class="switcher">
                            <span id="time-{{this.name}}" class="switch-option {{getActiveType 'time'}}" data-name="{{this.name}}" data-type="time">{{getDicoVar "moduleReservationIndex" "time"}}</span>
                            <span id="date-{{this.name}}" class="switch-option {{getActiveType 'date'}}" data-name="{{this.name}}" data-type="date">Date</span>
                        </span>
                    </td>
                    {{/if}} --}}
                    <td class="checkStat">
                      <div class="checkboxred">
                        <input type="checkbox" {{getChecked this.name}} name="{{this.name}}">
                        <label class="labelForCheckbox " data-display="" for="{{this.name}}"></label>
                      </div>
                    </td>
                  </tr>
                  {{/if}}
                {{/if}}
              {{/each}}

            </tbody>

          </table>

          <div class="modal-footer d-flex flex-row align-items-center justify-end" style="padding: 0 !important">
            {{#if cantExportStats}}
              <a class="btn red_btn" disabled="true" style="margin: 15px 16px 0 0; text-transform: capitalize;" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'commonTranslation' 'exporting'}}...">{{getDicoVar "commonTranslation" "export"}}</a>
            {{else}}
              <a class="btn red_btn confirmAction" style="margin: 15px 16px 0 0; text-transform: capitalize;" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'commonTranslation' 'exporting'}}...">{{getDicoVar "commonTranslation" "export"}}</a>
            {{/if}}
          </div>

        </div>
      </div>

    </div>
  </div>

</template>
