@import "../../../../../style/variable";

.export-csv-style {
  margin-left: 5px;
}

#export_csv_modal {
  .table-stats {
    width: 100%;
    margin-top: 22px;
  }

  .pull-right {
    margin-bottom: 10px;
  }

  .statName, .pull-right {
    font-family: @lato;
    text-align: left;
    padding-left: 8px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: @slategrey;
  }
  .statName .subtitle {
      width: 489px;
      height: 24px;
      font-family: Lato;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: #8b999f;
  }

  .statistic .checkboxred {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .statistic {
    border-bottom: 1px solid @greylight;

    td {
      padding-bottom: 22px;
      padding-top: 12px;
    }
    .csv-switcher {
      text-align: center;
      left: 100px;

      .switcher {
        margin-top: 10px;
        cursor: pointer;
        height: 28px;
        border-radius: 14px;
        background-color: @paleBlue;
        //border: solid 1px var(--accent-color);
        border: solid 1px var(--primary-color);
        display: inline-block;
        padding: 1px;

        .switch-option {
          padding: 3px 27px 4px;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.3px;
          text-align: center;
          //color: var(--accent-color);
          color: var(--primary-color);
          display: inline-block;
        }
        .switch-option.active {
          border-radius: 12px;
          //background-color: var(--accent-color);
          background-color: var(--primary-color);
          color: @wt;
        }
      }
    }
  }

  .statistic.disabled {
    opacity: 0.4;
  }
}
