.mb-poll-wrapper {
  margin: 10px 0;

  .mb-poll-item {
    margin-bottom: 16px;

    .mb-poll-progress {
      display: flex;
      flex-direction: row;
      align-items: center;

      .mb-poll-input {
        width: 22px;
        height: 22px;
        background: url(img/icons/svg/unsel.svg);
        background-repeat: no-repeat;
        background-size: 22px 22px;
        cursor: pointer;

        &.mb-poll-input-voted {
          background: url(img/icons/svg/sel2.svg);
        }
      }

      .progress {
        display: flex;
        flex: 1;
        margin: 8px 0 8px 8px;
        border-radius: 10px;

        .progress-bar {
          background-color: var(--primary-color);
        }
      }
    }

    .mb-poll-title {
      font-family: Lato, sans-serif;
      font-size: 14px;
      letter-spacing: -0.3px;
      text-align: left;
      color: #5d5e62;
      word-wrap: break-word;
    }

    .mb-poll-vote-count {
      font-family: Lato, sans-serif;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      margin-left: 28px;
      text-decoration: underline;
      color: var(--primary-color);
    }
  }
}
