<template name="MbPoll">
    <div class="mb-poll-wrapper">
        {{#each poll in post.inputs}}
            <div class="mb-poll-item">
                <div class="mb-poll-title">{{ poll }}</div>
                <div class="mb-poll-progress mb-checkbox">
                    <div class="checkboxred" id="vote" data-vote-index="{{@index}}">
                      <input type="checkbox" {{getChecked (isVoted @index)}}>
                      <label></label>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{getProgress @index}}%;"></div>
                    </div>
                </div>
                <div class="mb-poll-vote-count">
                    {{ getCount @index }} {{ getDicoVar 'common' 'votes' }}
                </div>
            </div>
        {{/each}}
    </div>
</template>
