<template name='admin_entityDetailController'>
  <div class='tabBarContainer'>
    <div class='{{#if $eq selectedTab 'details'}}selectedTabBar{{/if}}' data-tab='details'>Détails de l'entité</div>
    <div class='{{#if $eq selectedTab 'buildings'}}selectedTabBar{{/if}}' data-tab='buildings'>Immeubles</div>
    <div class='{{#if $eq selectedTab 'managers'}}selectedTabBar{{/if}}' data-tab='managers'>Gestionnaires</div>
    <div class='{{#if $eq selectedTab 'occupants'}}selectedTabBar{{/if}}' data-tab='occupants'>Occupants</div>
  </div>
  <div class="containerManagerList">
    {{> Template.dynamic template=getTemplateName data=getData}}
  </div>
</template>
