<template name="MbSelect">
    <div class="mb-select {{getClass}} {{getMultiSelectClass}}">
        {{#unless getNoLabel}}
          <label for="mb-select-{{getRandomId}}">{{getLabel}}{{#if isRequired}}<i class="image-icon mandatory-icon"></i>{{/if}}</label>
        {{/unless}}
        {{#if haveHelp}}
            <div class="info-container">
                <div id="info-bubble-{{getRandomId}}" class="info-bubble fa-stack fa-lg">
                    <i class="image-icon info-icon" aria-hidden="true"></i>
                </div>
                <div id="info-content-{{getRandomId}}" class="info-content">
                    <p>{{getHelp}}</p>
                </div>
            </div>
        {{/if}}
        <select id="mb-select-{{getRandomId}}" class="select-contacts form-control">
          {{#unless this.hasGroup}}
            {{setSelected}}{{refresher}}
            <option></option>
            {{#each option in getOptions}}
                <option value="{{ option.id }}" {{isLocked option}}>{{ option.text }}</option>
            {{/each}}
          {{else}}
            {{setSelected}}{{refresher}}
            <option></option>
            {{#each group in getGroup}}
              <optgroup label="{{group}}">
                {{#each option in (getOptionsGroup @index)}}
                  <option value="{{ option }}" {{isLocked option}}>{{ option }}</option>
                {{/each}}
              </optgroup>
            {{/each}}
          {{/unless}}
        </select>
    </div>
    {{!-- {{setPlaceholder}} --}}
</template>
