.phoneCodeDisplay {
  float: right;
  padding-right: 10px;
}

.infoSelect2 {
  float: right;
  padding-right: 10px;
  color: grey;
  font-style: italic;
}
.mb-select {
  flex: 1;
  label {
    text-transform: uppercase;
    font-family: 'Lato', 'Source Sans Pro', sans-serif;
    font-size: 12px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #8b999f;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
  }
  .mandatory-icon {
    width: 7px;
    height: 7px;
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 3px;
  }

  .select2-container:focus,
  .select2-selection:focus {
    outline: none;
  }

  &.mb-select-error {
    .select2-container {
      border-bottom: 1px solid red;
    }
  }

  .select2-container {
    width: 100% !important;
    border-bottom: 1px solid #E1E2E7;
    font-family: 'Lato', 'Source Sans Pro', sans-serif;
    font-size: 17px;
    letter-spacing: -0.4px;
    text-align: left;
    color: #5d5e62;
    padding: 7px 0 6px;

    .select2-selection {
      border: 0;

      .select2-selection__arrow {
        b[role="presentation"] {
          display: block;
          width: 24px;
          height: 24px;
          background: url(/img/icons/svg/chevronDropdown.svg) center center no-repeat;
          margin-left: 3px;
          margin-top: 8px;
          border: none;
          position: initial;
        }
      }

      .select2-selection__rendered {
        padding-left: 0;
        padding-right: 24px;
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: -0.4px;
        text-align: left;
        color: #5d5e62;

      .select2-selection__choice {
          //background-color: var(--accent-color);
          background-color: var(--primary-color);
          border: 0;
          border-radius: 0;
          padding: 6px;
          font-family: 'Lato', 'Source Sans Pro', sans-serif;
          font-size: 14px;
          line-height: 1.21;
          letter-spacing: -0.3px;
          text-align: left;
          color: #ffffff;

          .select2-selection__choice__remove {
            color: #ffffff;
            padding-left: 6px;
          }
        }
      }
    }
  }
}

.mb-select2-multiple {
  .select2-container {
    .select2-selection__rendered {
      //padding-right: 30px !important;
    }
    .select2-selection__rendered:after {
      content: "";
      position: absolute;
      right: 5px;
      display: block;
      top: 5px;
      width: 24px;
      height: 24px;
      background: url(/img/icons/svg/chevronDropdown.svg) center center no-repeat;
      margin-left: 3px;
      margin-top: 8px;
      border: none;
    }
  }
}

.info-container {
  z-index: 100;
  margin-left: 3px;
  position: relative;
  display: inline-block;

  .info-bubble {
    top: -6px;
    font-size: 9px;
    color: #fdb813;
    background: white;
    z-index:1049;
    cursor: pointer;

    .info-icon {
      height: 16px;
      width: 16px;
    }
  }

  .info-content {
    display: none;
    bottom: 30px;
    left: -100px;
    position: absolute;
    width: 300px;
    text-align: left;
    background: white;
    border: 1px solid #e0e0e0;
    padding: 10px 20px;
    opacity: 0;
    transition: .5s;
    z-index: -999;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
  }
}
