<template name="editIntegrationConfig">
  <div id="modal_edit_integration_config" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
    <div class="modal-dialog modal-lg">
      <button details="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-heading pull-left">
            <h4 id="myModalLabel" class="modal-title red_color"> {{ getDicoVar 'commonTranslation' 'edit_contact_details' }} </h4>
          </div>
        </div>
        <div class="modal-body clearfix" id='occupant_edit_profile'>
          {{#if isOpen}}
            {{#each fields}}
              {{> MbInput
                label=(getDicoVar 'commonTranslation' key)
                value=(value)
                onInput=(onInputDetails @index)
                placeholder=(getDicoVar 'commonTranslation' (concatStr 'fill_in_' key))
              }}
            {{/each}}
          {{/if}}
          <div class="saveContactContainer">
            <a type="submit" class="saveIntegrationConfig" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{ getDicoVar 'commonTranslation' 'saving' }}..."> {{ getDicoVar 'commonTranslation' 'personal_details_save' }} </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
