<template name='feedList'>
  <div class="wrapper">
    <section class="blue_bg_content" id="mainContent" style='overflow-x: hidden; overflow-y: scroll; height: 100vh;'>
      <!-- main_block -->
      <div class='main_block container-fluid scrollable'>
        {{#with counter=getNewPostCounter}}
        <div class='feedNewPostCounter' style='display: none'>
          <i class="fa fa-arrow-up"></i>
          {{counter}}
          {{#if $gt counter 1}}
            {{getDicoVar 'feedList' 'new_posts_available'}}
          {{else}}
            {{getDicoVar 'feedList' 'new_post_available'}}
          {{/if}}
        </div>
        {{/with}}
        <div class="row">
          <div class="col-sm-12 plpr23">
            <div class="panel mt80">
              <div class="panel-heading position_relative">
                <div class="sub-tool-bar clearfix">
                  <h1 class="pull-left">{{ getDicoVar 'feedList' 'feed_name' }} - {{getAddress}}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 plpr23">
            <div class="row">
              <div class="col-lg-9 col-md-8">
                  <div class="card item">
                    {{#let feedRight=getFeedRight }}
                      {{#each getFeedElements}}
                        {{incrementElemDisplayed this.feedType}}
                        {{#if (feedUserHasRight this feedRight)}}
                        {{> Template.dynamic template=(getCardTemplate this.feedType) data=(getData this)}}
                        {{/if}}
                      {{/each}}
                    {{/let}}
                    <div class="card-block small-padding">
                      {{> MbNoContent title=(getDicoVar 'feedList' 'feed_empty_state_title') description=(getDicoVar 'feedList' 'feed_empty_state_desc')}}
                    </div>
                  </div>
                {{#unless isSubscribeReady}}
                  {{> loader}}
                {{/unless}}
              </div>
              <div class="col-lg-3 col-md-4">
                {{#if showCondoImage}}
                  <div class="sidebar-widget">
                    <img class="condo-feed-pic" src="{{getCondoPic}}" />
                  </div>
                {{/if}}
                <div class="sidebar-widget">
                  <div class="sidebar-widget-title">
                    {{ getDicoVar 'feedList' 'recently_joined' }}
                  </div>
                  <div class="sidebar-widget-content">
                    <div class="card card-block small-padding no-bottom">
                      <div>
                        {{#each u in getRecentlyJoined}}
                        <div class="sidebar-widget-active-user">
                          <div class="sidebar-widget-avatar">
                            {{> userIcon type="U" userId=u._id }}
                          </div>
                          <div class="sidebar-widget-user-name">
                            {{ u.firstname }} {{ u.lastname }}
                          </div>
                        </div>
                        {{/each}}
                      </div>
                    </div>
                  </div>
                  {{#if or (userHasRight 'forum' 'seeSubject') (userHasRight 'forum' 'seePoll')}}
                  <div class="sidebar-widget">
                    <div class="sidebar-widget-title">
                      {{ getDicoVar 'feedList' 'most_viewed_forum' }}
                    </div>
                    <div class="sidebar-widget-content">
                      <div class="card card-block small-padding no-bottom">
                        {{#if mostViewedForum.length}}
                        <div>
                          {{#each post in mostViewedForum}}
                            {{#if or (and (equals post.type 'post') (userHasRight 'forum' 'seeSubject')) (and (equals post.type 'poll') (userHasRight 'forum' 'seePoll'))}}
                            <div class="card-forum-post" data-postId="{{post._id}}" style="cursor: pointer;">
                              <div class="ad-widget-item">
                                <div class="ad-widget-header">
                                  <div class="ad-widget-title truncated forum-most-view" style='position: relative;'>
                                    <div>
                                      <span>
                                        {{#if equals post.type 'poll'}}
                                        {{!-- <img src="/img/icons/svg/poll.svg" alt=""> --}}
                                        <i class="image-icon poll-icon"></i>
                                        {{else}}
                                        <i class="image-icon post-icon"></i>
                                        {{!-- <img src="/img/icons/svg/post.svg" alt=""> --}}
                                        {{/if}}
                                      </span>
                                      <div>
                                        {{ post.subject }}
                                      </div>
                                    </div>
                                    {{#if (showEditedTag post) }}
                                      <span style=" position: absolute; right: 0; color: darkgrey;">({{getDicoVar 'feedList' 'edited'}})</span>
                                    {{/if}}
                                  </div>
                                </div>
                              </div>
                            </div>
                            {{/if}}
                          {{/each}}
                        </div>

                        <div class="sidebar-widget-action action-toggle-see-more" data-widget="myForum">
                          <button class="bordered-btn" id="goToForum">
                            {{ getDicoVar 'feedList' 'label_see_all' }}
                          </button>
                        </div>
                        {{else}}
                          <h4 class="feedEmptyState">{{getDicoVar 'feedList' 'empty_forum'}}</h4>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                  {{/if}}
                  {{#if userHasRight 'ads' 'see'}}
                  <div class="sidebar-widget">
                    <div class="sidebar-widget-title">
                      {{ getDicoVar 'feedList' 'most_viewed_ads' }}
                    </div>
                    <div class="sidebar-widget-content">
                      <div class="card card-block small-padding no-bottom">
                        {{#if mostViewedAds.length}}
                        {{#each ad in mostViewedAds}}
                          <div class="card-ads-post" data-adId="{{ ad._id }}" style="cursor: pointer;">
                            <div class="ad-widget-item">
                              <div class="ad-widget-header">
                                <div class="ad-widget-title truncated" style='position: relative'>{{ ad.title }}
                                  {{#if (showEditedTag ad) }}
                                  <span style=" position: absolute; right: 0; color: darkgrey;">({{getDicoVar 'feedList' 'edited'}})</span>
                                  {{/if}}
                                </div>
                              </div>
                              <div class="ad-widget-price">
                                {{ parseAdPrice ad.price }}
                              </div>
                            </div>
                          </div>
                        {{/each}}
                        <div class="sidebar-widget-action action-toggle-see-more" data-widget="myAds">
                          <button class="goToAds bordered-btn">
                            {{ getDicoVar 'feedList' 'label_see_all' }}
                          </button>
                        </div>
                        {{else}}
                          <h4 class="feedEmptyState">{{getDicoVar 'feedList' 'empty_ads'}}</h4>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                  {{/if}}

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
