@import '../../../../../style/variable.less';

@keyframes animateCounter {
    from {top:30px;}
    to {top: 80px;}
}

.imagesWrapper {
    width: 100%;
}

img.condo-feed-pic {
  width: 100%;
  height: auto;
}

.feedNewPostCounter {
    cursor: pointer;
    position: fixed;
    width: 200px;
    height: 30px;
    background: var(--primary-color);
    color: white;
    box-shadow: grey 0px 3px 10px -2px;
    border-radius: 50px;
    z-index: 99;
    top: 80px;
    left: calc(~"50% + 110px");
    transform: translateX(-50%);
    line-height: 30px;
    font-size: large;
    text-align: center;
    animation-name: animateCounter;
    animation-duration: 0.5s;

    @media (max-width: 1025px) {
        left: calc(~"50%");
    }
    .fa {
        margin-right: 10px;
    }
}

.mb-post {
    .mb-post-icon {
        &.icon-poll {
            width: 24px;
            height: 24px;
            margin-right: 5px;
            background-repeat: no-repeat;
            background-size: 24px 24px;
            float: left;
            padding-left: 25px;
            background-image: none;
            -webkit-mask: url("img/icons/svg/poll.svg") no-repeat 100% 100%;
            mask: url("img/icons/svg/poll.svg") no-repeat 100% 100%;
            -webkit-mask-size: cover;
            mask-size: cover;
            //background-color: var(--button-color);
            background-color: var(--primary-color);
        }
    }

    .mb-post-avatar {
        .incident-bubble {
            background: @bluelight3;
            border-radius: 44px;
            position: relative;

            &.incident-bubble-resolved {
                &:after {
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    content: " ";
                    background: url('/img/icons/svg/yellow-checkmark.svg');
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }

    .event-action {
      margin-top: 19px;
      border-top: 1px solid @wt2;
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .mb-button {
        min-width: 172px;
        margin-left: 8px;
      }
    }
}

.mb-post-meta {
    display: flex;
    flex-direction: row;

    .mb-post-meta-item {
        display: flex;
        flex-direction: row;
    }
}

.feedEmptyState {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: center;
  color: #8b999f;
}

.sidebar-widget-user-name {
    word-break: break-word;
}

.forum-most-view {
  display: inherit;

  i.image-icon {
    width: 24px;
    height: 22px;
    display: inline-block;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    float: left;
  }
}

.mb-post-content {
  .mb-post-title-actu {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5d5e62;
  }

  .mb-post-description-actu {
    div {
      display: inline-flex;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: normal;
      color: #8b999f;
      img {
        height: 16px;
        width: 16px;
        margin-top: 1px;
        margin-right: 8px;
      }
    }
  }
}
