.cardNumber {
  position: relative;

  .paymentIcon {
    position: absolute;
    right: 0px;
    top: 30px;
  }
}

#addNewCard, .addNewCardReact {
  & > div, .details-container > div {
    margin-bottom: 24px;
  }

  .details-container {
    margin-left: 16px;
  }

  .saveNewCardContainer {
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 30px !important;

    .saveNewCard {
      &.disabled {
        cursor: not-allowed;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .65;
        background-color: grey;
      }
      position: absolute;
      right: 0;
      width: 180px;
      height: 40px;
      line-height: 28px;
      text-align: center;
      vertical-align: middle;
      background-color: var(--secondary-color);
      color: #fff !important;
      outline: none !important;
      border: none;
      font-weight: 400;
      font-size: 16px;
      padding: 6px 30px;
      border-radius: 0;
      display: inline-block;
    }
  }

  .sameAddressContainer {
    display: flex;
    flex-direction: column;
    & > span {
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #5d5e62;
    }
  }

  .notSameAddressContainer {
    & > div:not(:last-child) {
      margin-bottom: -10px;
    }
  }
}
