<template name="modal_addCard">
  <div id="modal_addCard" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
    {{updateData}}
    <div class="modal-dialog modal-lg">
      <button details="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-heading pull-left">
            <h4 id="myModalLabel" class="modal-title red_color"> {{ getDicoVar 'commonTranslation' 'add_top_up_method' }} </h4>
          </div>
        </div>
        <div class="modal-body clearfix" id='addNewCard'>
          {{#if isOpen}}
            <div>
              {{> React
                component=MbCreditCardForm
                saveForm=__saveCrediCard
                parentSubmit=canSubmit
                translate=commonTranslation
                customButtonText=(getDicoVar 'commonTranslation' 'save')
                displaySaveButton=false
              }}
            </div>
            {{!-- <MbCreditCardForm saveForm={this.__saveCrediCard} parentSubmit={canSubmit} translate={translate} customButtonText={translate.commonTranslation['next']} /> --}}

            {{!-- {{> MbPanel content=(getDicoVar 'commonTranslation' 'card_details')}}
            <div class='details-container'>
              {{> MbInput
                label=(getDicoVar 'commonTranslation' 'name_on_card')
                value=(getForm 'name')
                refreshMe=(getForm 'name')
                required=true
                onInput=(onInputDetails 'name')
                placeholder=(getDicoVar 'commonTranslation' 'type_name_on_card')
              }}
              <div class='cardNumber'>
                {{> MbInput
                  label=(getDicoVar 'commonTranslation' 'card_number_16')
                  value=(getForm 'number')
                  refreshMe=(getForm 'number')
                  isError=(getIsError 'number')
                  required=true
                  onInput=(onInputDetails 'number')
                  placeholder='0000 0000 0000 0000'
                }}
                <div class='paymentIcon paymentIcon-{{getForm 'type'}}'></div>
              </div>
              {{> MbInput
                label=(getDicoVar 'commonTranslation' 'expiration_date')
                value=(getForm 'expiration')
                required=true
                refreshMe=(getForm 'expiration')
                isError=(getIsError 'expiration')
                onInput=(onInputDetails 'expiration')
                placeholder='MM/YYYY'
              }}
              {{> MbInput
                label=(getDicoVar 'commonTranslation' 'cvc')
                value=(getForm 'cvc')
                refreshMe=(getForm 'cvc')
                required=true
                isError=(getIsError 'cvc')
                onInput=(onInputDetails 'cvc')
                type='number'
                placeholder='000'
              }}
            </div>
            {{> MbPanel content=(getDicoVar 'commonTranslation' 'billing_address')}}
            <div class='details-container'>
              {{> MbCheckbox checked=(getForm 'sameBillingAddress') label=(getDicoVar 'commonTranslation' 'same_billing_address') onClick=(onClickCheckbox 'sameBillingAddress')}}
              {{#unless getForm 'sameBillingAddress'}}
                <div class='notSameAddressContainer'>
                  {{> MbInput
                    label=(getDicoVar 'commonTranslation' 'billing_address')
                    value=(getForm 'street')
                    refreshMe=(getForm 'street')
                    required=true
                    isError=(getIsError 'street')
                    onInput=(onInputDetails 'street')
                    placeholder=(getDicoVar 'commonTranslation' 'street_address')
                  }}
                  {{> MbInput
                    value=(getForm 'code_city')
                    refreshMe=(getForm 'code_city')
                    isError=(getIsError 'code_city')
                    onInput=(onInputDetails 'code_city')
                    placeholder=(getDicoVar 'commonTranslation' 'zip_code')
                  }}
                  {{> MbInput
                    value=(getForm 'country')
                    refreshMe=(getForm 'country')
                    isError=(getIsError 'country')
                    onInput=(onInputDetails 'country')
                    placeholder=(getDicoVar 'commonTranslation' 'country')
                  }}
                </div>
              {{else}}
                <div class='sameAddressContainer'>
                  <span>{{getUserName}}</span>
                  <span>{{getBuildingName}}</span>
                  <span>{{getBuildingAddress}}</span>
                  <span>{{getBuildingAddress2}}</span>
                </div>
              {{/unless}}
            </div>

            <div class="saveNewCardContainer">
              <a type="submit" class="saveNewCard {{#unless canSubmit}}disabled{{/unless}}" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{ getDicoVar 'commonTranslation' 'saving' }}...">
              {{ getDicoVar 'commonTranslation' 'personal_details_save' }} </a>
            </div> --}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
