.mb__textarea {
  label {
    text-transform: uppercase;
    font-family: 'Lato', 'Source Sans Pro', sans-serif;
    font-size: 12px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #8b999f;
    margin: 0;
    font-weight: 300;
  }

  textarea {
    border: 0;
    border-bottom: 1px solid #E1E2E7;
    font-family: 'Lato', 'Source Sans Pro', sans-serif;
    font-size: 17px;
    letter-spacing: -0.4px;
    text-align: left;
    color: #8b999f;
    padding: 10px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
    overflow: hidden!important;

    &.mb-input-error {
      border-color: red;
    }

    &::placeholder {
      color: #999;
    }

    &:focus {
      border: 0;
      border-bottom: 1px solid #E1E2E7;
    }
  }
}

.mandatory-icon {
  width: 7px;
  height: 7px;
  display: inline-block;
  margin-bottom: 3px;
  margin-left: 3px;
  background: url("/img/icons/mandatory.png") no-repeat center center;
  background-size: contain;
}
