<div class="calendar-head">
    <button class="cal-nav-btn cal-prev btn btn-lg btn-default" data-calendar-nav="prev"><i class="fa fa-angle-left"></i></button>
    <div class="monthname">
        <span class="m"></span> <span class="y"></span>
    </div>
    <button class="cal-nav-btn cal-next btn btn-lg btn-default" data-calendar-nav="next"><i class="fa fa-angle-right"></i></button>
</div>
<div class="cal-month-box cal-row-fluid cal-row-head">
	<div class="cal-cell1 leftmost"></div>
  <div class="cal-cell1"><%= cal.options.translation.commonTranslation['monday'] %></div>
  <div class="cal-cell1"><%= cal.options.translation.commonTranslation['tuesday'] %></div>
  <div class="cal-cell1"><%= cal.options.translation.commonTranslation['wednesday'] %></div>
  <div class="cal-cell1"><%= cal.options.translation.commonTranslation['thursday'] %></div>
  <div class="cal-cell1"><%= cal.options.translation.commonTranslation['friday'] %></div>
  <div class="cal-cell1 nbr"><%= cal.options.translation.commonTranslation['saturday'] %></div>
</div>
<div class="cal-month-box cal-row-body">
  <%
	var ws, we, calculated;
	var startDay = cal.getStartDate().getDay();
	var sd = cal.getStartDate();
	for(i = 0; i < 6; i++) { %>
		<% if(cal.stop_cycling == true) break; %>
		<div class="cal-row-fluid cal-before-eventlist">
			<div class="cal-cell1 cal-cell leftmost weekname">
				<%
					ws = moment(sd).tz(moment.tz.guess()).add((day - startDay), 'd').format('D');
					we = moment(sd).tz(moment.tz.guess()).add((day + 5 - startDay), 'd').format('D');
				%>
				<p><%= cal.options.translation.commonTranslation['week_of'] %><span class="w-start"><%=ws%></span><%= cal.options.translation.commonTranslation['to_the'] %><span class="w-end"><%=we%></span></p>
				<a class="btn-week-toggle expand" data-week-id="<%=day%>"><i class="fa fa-plus"></i></a>
				<a class="btn-week-toggle colapse" data-week-id="<%=day%>"><i class="fa fa-minus"></i></a>
			</div>
			<div class="cal-cell1 cal-cell hide" data-cal-row="-day1"><%= cal._day(i, day++) %></div>
			<div class="cal-cell1 cal-cell" data-cal-row="-day2"><%= cal._day(i, day++) %></div>
			<div class="cal-cell1 cal-cell" data-cal-row="-day3"><%= cal._day(i, day++) %></div>
			<div class="cal-cell1 cal-cell" data-cal-row="-day4"><%= cal._day(i, day++) %></div>
			<div class="cal-cell1 cal-cell" data-cal-row="-day5"><%= cal._day(i, day++) %></div>
			<div class="cal-cell1 cal-cell" data-cal-row="-day6"><%= cal._day(i, day++) %></div>
			<div class="cal-cell1 cal-cell" data-cal-row="-day7"><%= cal._day(i, day++) %></div>
		</div>
	<% } %>
</div>
