<span class="pull-right" data-cal-date="<%= data_day %>" data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>"><%= day %></span>
<div class="cal-month-day <%= cls %>">
		<% if (events.length > 0) {
            var now = moment();
			function to12(h) {
				var split = h.split(':');
				var suffix = split[0] >= 12 ? "PM":"AM";
				return ((parseInt(split[0]) + 11) % 12 + 1) + ':' + split[1] + ' ' + suffix;
			}
		%>
		<ul class="list-group event-list-custom" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
			<% _.each(events, function(event) {
				var timing;
				if (event.humanStartDate == event.humanEndDate) {
					timing = cal.options.translation.commonTranslation['the_noen'] + ' ' + moment(event.humanStartDate, 'DD/MM/YYYY').locale(cal.options.translation.commonTranslation['lang']).format(cal.options.translation.commonTranslation['date_format']) + (event.humanStartTime != '-1' ? '<br/>' + cal.options.translation.commonTranslation['from'] + ' ' + (event.humanStartTime != '-1' ? event.humanStartTime : '') + (event.humanEndTime != '-1' ? ' ' + cal.options.translation.commonTranslation['at'] + ' ' + event.humanEndTime : '') : '');
				} else {
                    if (event.humanEndDate !== '') {
                        timing = cal.options.translation.commonTranslation['from_du'] + ' ' + moment(event.humanStartDate, 'DD/MM/YYYY').locale(cal.options.translation.commonTranslation['lang']).format(cal.options.translation.commonTranslation['date_format']) + (event.humanStartTime != '-1' ? ' ' + cal.options.translation.commonTranslation['at'] + ' ' + (event.humanStartTime) : '') + '<br/>' + cal.options.translation.commonTranslation['to_au'] + ' ' + moment(event.humanEndDate, 'DD/MM/YYYY').locale(cal.options.translation.commonTranslation['lang']).format(cal.options.translation.commonTranslation['date_format']) + (event.humanEndTime != '-1' ? ' ' + cal.options.translation.commonTranslation['to'] + ' ' + (event.humanEndTime) : '');
                    } else {
                        timing = cal.options.translation.commonTranslation['the_noen'] + ' ' + moment(event.humanStartDate, 'DD/MM/YYYY').locale(cal.options.translation.commonTranslation['lang']).format(cal.options.translation.commonTranslation['date_format']) + (event.humanStartTime != '-1' ? ' ' + cal.options.translation.commonTranslation['at'] + ' ' + (event.humanStartTime) : '');
                    }
				}
				var tooltip = "";
				tooltip += "<div class='t-container'>";
				tooltip += "<p class='t-title'>"+event.title+"</p>";
				tooltip += "<p class='t-location'>"+event.locate+"</p>";
				tooltip += "<p class='t-label'>"+cal.options.translation.commonTranslation['where']+"</p>";
				tooltip += "<p class='t-content'>"+event.address+"</p>";
				tooltip += "<p class='t-label'>"+cal.options.translation.commonTranslation['when']+"</p>";
				tooltip += "<p class='t-content'>"+timing+"</p>";
				tooltip += "<p class='t-label'>Description</p>";
				tooltip += "<p class='t-content'>"+event.description+"</p>";
				tooltip += "<p class='t-label'>"+cal.options.translation.commonTranslation['author_cap']+"</p>";
				tooltip += "<p class='t-content'>"+event.author+"</p>";
				tooltip += "</div>";
				%>
				<li class="list-group-item" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
					class="pull-left event <%= event['class'] %>" >
					<p class="e-title"><%=event.title%></p>
          <p class="e-location"><%=event.address%></p>
					<p class="e-timing">
						<%=event.humanStartDate == event.humanEndDate ?
								((event.humanEndTime != null) ?
									((event.humanStartTime != '-1') ? event.humanStartTime : '') + ((event.humanEndTime != '-1') ? ' - ' + (event.humanEndTime) : '') :
									((event.humanStartTime != '-1') ? event.humanStartTime : ''))
								:
								((event.humanEndTime != null) ?
									(event.humanStartDate) + ' ' + ((event.humanStartTime != '-1') ? event.humanStartTime : '') + (event.end === event.start + 1 ? '' : (' - ' + event.humanEndDate + ' ' + ((event.humanEndTime && event.humanEndTime != '-1') ? ' - ' + (event.humanEndTime) : ''))) :
									(event.humanStartDate) + ' ' + ((event.humanStartTime != '-1') ? event.humanStartTime : '') )%></p>
				</li>
			<% }); %>
		</ul>
	<% } %>
</div>
