<template name="MbBubble">
    <div class="mb-bubble-item">
        <div class="mb-bubble-image {{#if isActive }}mb-bubble-active{{/if}}">
            {{#if hasImage }}
                <img src="{{ getImage }}" alt="{{ getLabel }}">
            {{/if}}
        </div>
        <div class="mb-bubble-label">{{ getLabel }}</div>
    </div>
</template>