@bubble-size: 88px;

.mb-bubble-item {
  font-family: Lato, sans-serif;
  display: inline-block;
  width: @bubble-size;
  cursor: pointer;

  .mb-bubble-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: @bubble-size;
    height: @bubble-size;
    background: #CFF1F8;
    border-radius: calc(@bubble-size / 2);

    > img {
      width: 60px;
      height: 60px;
    }

    &.mb-bubble-active {
      //border: 4px solid var(--button-color);
      border: 4px solid var(--secondary-color);
      background: #fff;
    }
  }

  .mb-bubble-label {
    font-size: 15px;
    letter-spacing: -0.4px;
    text-align: center;
    color: #8b999f;
    margin: 8px 0;
    word-wrap: break-word;
  }
}
