<template name="document-plan">
	<div class="row titleView">
		<div class="col-sm-12">
			<div class="panel padContent docPage">
				{{#if hasMap}}
					<div class="col-sm-12 hasDoc">
						<div class="hasDocContent" id="drop" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
							<div class="btn-group pull-right mt10">
								<button type="button" class="btn btn-sm dropdown-toggle hasDocContentBtn" data-toggle="dropdown">
									<a class="msg-trigger"><img src="/img/icons/svg/trash.svg" width="24" alt=""></a>
								</button>
								<div class="dropdown-menu">
									<a id="deleteCurrentMap" class="dropdown-item"> {{ getDicoVar 'documentModule' 'modalDel' }} </a>
								</div>
							</div>
							<div class="btn-group pull-right mt10">
								<button type="button" class="btn btn-sm dropdown-toggle hasDocContentBtn" data-toggle="dropdown">
									<a class="msg-trigger"><img src="/img/icons/edit.png" width="24" alt=""></a>
								</button>
								<div class="dropdown-menu">
									<a id="changePdfMap" class="dropdown-item"> {{ getDicoVar 'documentModule' 'modalEditPDF' }} </a>
								</div>
							</div>
						</div>
					</div>
					{{#if isSmallerDevice}}
						{{#if mapFile}}
							<div class="hasDocPDF">
								<div id="pdfCanvas"></div>
							</div>
						{{/if}}
					{{else}}
						<div class="hasDocNoPDF">
							<iframe src="{{mapData}}" width="100%" height="700px">
								<p> {{ getDicoVar 'documentModule' 'iframe' }} </p>
							</iframe>
						</div>
					{{/if}}
				{{else}}
					<div class="col-sm-12 hasDocEmptyState">
						<div class="hasDocEmptyStateContent">
							<p class="noDocTitle"> {{ getDicoVar 'documentModule' 'noPlan' }} </p>
							<p class="noDocSubTitle"> {{ getDicoVar 'documentModule' 'addPlan' }} </p>
							<div class="btn-outline-red-confirm btnUpload">
								<a class="btnLink" id="changePdfMap"> {{ getDicoVar 'documentModule' 'modalAddPDF' }} </a>
							</div>
						</div>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</template>
