<template name="setPassword">
	<div class="col-xs-12 loginContent">
		<div class="fromLogin col-xs- 12 col-sm-5 col-md-4 col-lg-3">
			<p class="choosePwd">{{{getDicoVar 'home' 'choose_pwd'}}}</p>
      {{#if isReady}}
        <form id="set-password-form">
          <div class="mb-input">
            <label for="mb-select">
              {{getDicoVar "home" "your_pwd"}}
              <i class="image-icon mandatory-icon"></i>
            </label>
            <input
              placeholder="{{getDicoVar 'home' 'your_pwd'}}"
              type="password"
              name="pwd"
              >
          </div>
          <div class="mb-input">
            <label for="mb-select">
              {{getDicoVar "home" "confirm_pwd"}}
              <i class="image-icon mandatory-icon"></i>
            </label>
            <input
              placeholder="{{getDicoVar 'home' 'confirm_pwd'}}"
              type="password"
              name="rePwd"
              >
          </div>
          <div class="cgu-check">
            <div>
              <div class="checkboxred">
                <input type="checkbox" name="cgu" id="cgu_id" />
                <label name="cguGroup" for="cgu_id"></label>
              </div>
              <label class="cgu-label" for="cgu_id">{{{getDicoVar 'home' 'condition'}}}</label>
            </div>
          </div>
          {{#if $neq errorMessage ""}}
            {{errorMessage}}
          {{/if}}
          <button id="signin" type="submit" class="red_btn col-xs-12 submitActu mt20 set-pwd-btn" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'home' 'register_pwd'}}">{{{getDicoVar 'home' 'validate_pwd'}}}</button>
        </form>
      {{else}}
        {{> loader}}
      {{/if}}
		</div>
	</div>
</template>
