<Template name="enterpriseHistory">
    <div class="body">
        {{#with history=getHistory}}
            {{#if history.length}}
                {{#each elem in history}}
                    {{#if (canSeeElem elem)}}
                        <div class="history-item goToElemModule" data-action='{{elem.action}}' data-condoId='{{elem.condoId}}' data-module='{{elem.module}}' data-modulePostId='{{elem.modulePostId}}'>
                            <div class="left">
                                {{> userIcon userId=elem.userId type="U" hideStatus=true}}
                            </div>
                            <div class="mid">
                                <h3>{{getFullName elem.userId}}</h3>
                                <p class="building">{{getCondoNameWithId elem.condoId}}</p>
                                <p class="action">{{getHistoryAction elem.action elem.modulePostId (getDeclarationName elem.detail)}}</p>
                                <p class="detail">{{#if showDetail elem.action}}{{elem.detail}}{{/if}}</p>
                            </div>
                            <div class="right">
                                <p class="date">{{humanDateShort elem.date}}</p>
                                {{#if canGoToElem elem.action}}
                                  <i class="image-icon chevron-r-icon"></i>
                                {{/if}}
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            {{else}}
                <!--<div class="no-element-table">{{getDicoVar 'buildingsView' 'none'}}</div>-->
                {{> MbEmpty
                    title=(getDicoVar "buildingsView" "empty_title_history")
                    subTitle=(getDicoVar "buildingsView" "empty_subtitle_history")
                }}
            {{/if}}
        {{/with}}
    </div>
</Template>