.disconnecting {
	width: 100vw;
	height: 100vh;
  position: fixed;
  top: 0;
	background-color: #808080cf;
	z-index: 999999;

  .disconnectingContainer {
    margin: 0 auto;
    text-align: center;
    // background: #fff;
    margin-top: 100px;
    padding: 32px;
    width: 100vw;
  }
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 128px;
  height: 128px;
}
.lds-default div {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #69d2e7;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 58px;
  left: 106px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 36px;
  left: 100px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 18px;
  left: 82px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 12px;
  left: 58px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 18px;
  left: 36px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 36px;
  left: 18px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 58px;
  left: 12px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 82px;
  left: 18px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 100px;
  left: 36px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 106px;
  left: 58px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 100px;
  left: 82px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 82px;
  left: 100px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
