<template name='MbDisconnectLoader'>
  <div class='disconnecting' style='display: none'>
    <div class='disconnectingContainer'>
      <div class="lds-default">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</template>