// Styles on backoffice
.gestionnaire-integration-contacts {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 16px;
}

.contact-card {
  width: 50%;
  flex-shrink: 0;
  box-sizing: border-box;

  h4 {
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
    color: #5d5e62;
    margin: 0;
    margin-bottom: 23px;
  }

  .contact-card-row {
    margin-bottom: 23px;

    span {
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #5d5e62;
      margin-left: 8px;
    }
  }
}

.detailItems {
  margin-bottom: 16px;
  flex-direction: column;
  .details-item-title {
    text-transform: uppercase;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: #8b999f;
  }
  .details-item-subtitle {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #5d5e62;
  }
}

