<template name="integrationConfigM">
  {{#if isSubscribeReady}}
    {{#let integration=getIntegration condo=getCondo config=getCondoConfig}}
      <div class="row">
        <div class="col-sm-12">
          <div class="panel">
            <div class="panel-heading position_relative">
              <div class="flex-header">
                <h1> {{ integration.provider }} </h1>
                {{!-- <a id="save" class="btn red_btn">{{ getDicoVar 'commonTranslation' 'save_changes' }}</a> --}}
              </div>
              <div style="display: block; margin-top: 10px;">
                <button type="button" id="backbutton" style="background: none; border: none; color: #999; padding: 0">
                  <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{ getDicoVar 'commonTranslation' 'manager_back' }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='profileContainer'>
        <div class='basicProfile'>
          <div class='profilePictureContainer'>
            {{#let integrationImage=integration.image}}
              {{#if integrationImage}}
                <div class="profilePicture" style='background-image:url("{{integrationImage}}"); background-size: contain !important; background-repeat: no-repeat;'></div>
              {{else}}
                <div class="profilePicture" style='background-image:url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")'></div>
              {{/if}}
            {{/let}}
          </div>
          <div class='informationsContainer'>
            <div class='nameProfile'>{{condo.info.id}} - {{condo.name}}</div>
            <div class="detail-tab-container">
              <div class="detail-container">
                {{> MbPanel content=(getDicoVar 'commonTranslation' 'integration_details')}}
                <div class='detailItems'>
                  <span class='details-item-title'>{{ getDicoVar 'commonTranslation' 'integration_type' }}</span>
                  <span class='details-item-subtitle'>{{integration.type}}</span>
                </div>
                <div class='detailItems'>
                  <span class='details-item-title'>{{ getDicoVar 'commonTranslation' 'status' }}</span>
                  <span class='details-item-subtitle'>{{#if config.active}}{{ getDicoVar 'commonTranslation' 'active' }}{{else}}{{ getDicoVar 'commonTranslation' 'inactive' }}{{/if}}
                  </span>
                </div>
                <div class='detailItems'>
                  <span class='details-item-title'>{{ getDicoVar 'commonTranslation' 'integration_date' }}</span>
                  <span class='details-item-subtitle'>{{formatDate config}}</span>
                </div>
                <div class='detailItems'>
                  <span class='details-item-title'>{{ getDicoVar 'commonTranslation' 'building_address' }}</span>
                  <span class='details-item-subtitle'>{{condo.info.address}}</span>
                </div>
              </div>
              {{!-- {{#if hasConfiguration integration}}
                <div class="detail-container">
                  <div class='mbPanelContainer'>
                    {{> MbPanel content=(getDicoVar 'commonTranslation' 'configuration')}}
                    <img class='editInterests' src="/img/icons/edit.png" height="16" data-toggle='modal' data-target='#modal_edit_integration_config'>
                  </div>
                  {{#with integrationConfig}}
                    {{#each field in integration.requiredFields}}
                      <div class='detailItems'>
                        <span class='details-item-title'>{{ getDicoVar 'commonTranslation' field }}</span>
                        <span class='details-item-subtitle'>{{ getConfigValue field }}</span>
                      </div>
                    {{/each}}
                  {{/with}}
                </div>
              {{/if}} --}}
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 panel integrationConfig">
        <h2>{{ getDicoVar 'commonTranslation' 'contact_detail' }}</h2>
        <div class="gestionnaire-integration-contacts">
          {{#each contact in (getContacts config)}}
          <div class="contact-card">
            <h4>{{contact.name}}</h4>
            <div class="contact-card-row">
                <img src="/img/icons/svg/user.svg"/>
              <span>{{contact.role}}</span>
            </div>
            <div class="contact-card-row">
              <img src="/img/icons/svg/mail.svg"/>
              <span>{{contact.email}}</span>
            </div>
            <div class="contact-card-row">
              <img src="/img/icons/svg/mobile.svg"/>
              <span>{{contact.phone}}</span>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    {{/let}}
  {{else}}
    {{> loader}}
  {{/if}}

  {{!-- {{> editIntegrationConfig integrationId=getIntegrationId condoId=getCondoId}} --}}
</template>
