<template name="messenger_manager_dropdownDetails_modal">
	<div id="modal_messenger_manager_dropdownDetails" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
		<div class="modal-dialog modal-lg">
			<button details="button" class="close round-close" data-dismiss="modal">
				<img src="/img/icons/croix_48px.svg" width="36" alt="">
			</button>
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-heading pull-left mb30">
						<h4 id="myModalLabel" class="modal-title red_color">Personnaliser les details d'incidents</h4>
					</div>
				</div>
				<div class="modal-body clearfix" id='subject'>
					{{#if isOpen}}
					<form>
					{{#each declarationDetailId in getDropdownDetail}}
						<div class="row allDetails" detailsId="{{declarationDetailId}}">
							<div class="col-xs-3" style="margin-left: 25px;">
								<p class="labelInput">Valeur Fr *</p>
								<div class="form-group">
									<input id="inputFr{{declarationDetailId}}" type="text" class="form-control" placeholder="valeur française" value="{{getDeclarationDetailValue declarationDetailId false "fr"}}">
								</div>
							</div>
							<div class="col-xs-3">
								<p class="labelInput">Valeur En *</p>
								<div class="form-group">
									<input id="inputEn{{declarationDetailId}}" type="text" class="form-control" placeholder="valeur anglaise" value="{{getDeclarationDetailValue declarationDetailId false "en"}}">
								</div>
							</div>
							<div class="col-xs-1" style="width: auto;">
								<div class="form-group">
									<p class="labelInput" style="opacity: 0;">loader</p>
									<i class="loader loader{{declarationDetailId}} fa fa-circle-o-notch fa-spin fa-2x fa-fw" style="display: none;"></i>
									<i class="fail fail{{declarationDetailId}} fa fa-times fa-2x" aria-hidden="true" style="color: #fe0900; display: none;"></i>
									<i class="done done{{declarationDetailId}} fa fa-check fa-2x" aria-hidden="true" style="color: #02de02; display: none;"></i>
									<span class="sr-only">Loading...</span>
								</div>
							</div>
							<div class="col-xs-1">
								<div class="form-group">
									<p class="labelInput" style="opacity: 0;">trash</p>
									<button type="button" detailsId="{{declarationDetailId}}" class="removeDropdownDetails btn" aria-label="Left Align" style="border: none !important; cursor: pointer;">
										<img src="/img/icons/svg/trash.svg" alt="" style="width: 20px; height: 20px;">
									</button>
								</div>
							</div>
						</div>
						{{/each}}
						{{#unless isAddingElement}}
						<div class="row">
							<div class="col-xs-3" style="margin-left: 25px;">
								<p class="labelInput labelInputDisabled">Valeur Fr *</p>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="valeur française" disabled="disabled">
								</div>
							</div>
							<div class="col-xs-3">
								<p class="labelInput labelInputDisabled">Valeur En *</p>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="valeur anglaise" disabled="disabled">
								</div>
							</div>
							<div class="col-xs-1">
								<div class="form-group">
									<p class="labelInput" style="opacity: 0;">add</p>
									<button type="button" class="createNewDropdownDetail btn" aria-label="Left Align" style="border: none !important; cursor: pointer; margin-left: 78px;">
										<i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</div>
						{{else}}
							{{> loader}}
						{{/unless}}
						<div class="modal-footer" style="padding-bottom: 50px">
							<a type="submit" id="save" class="btn red_btn button_into_modal pull-right mt30mr-30" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Sauvegarde...">Enregistrer</a>
						</div>
					</form>
					{{else}}
						{{> loader}}
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</template>