<template name="notConnectedTemplate">
                
    <div class="notConnected" style="display: none;">
        <div class="notConnectedContainer">
            <img src="/img/nowifi.png">
            <h4 class="__title">{{getDicoVar 'notConnected' 'title1'}}</h4>
            <p class="__text">{{getDicoVar 'notConnected' 'title2'}}</p>
            <button class="__retryBtn">{{getDicoVar 'notConnected' 'retry'}}</button>
        </div>
    </div>

</template>