@import "../../../style/variable.less";


.notConnected {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #80808070;
  z-index: 999999;

  .notConnectedContainer {
    margin: 0 auto;
    text-align: center;
    background: #fff;
    margin-top: 100px;
    padding: 32px;
    width: 450px;
    @media only screen and (max-width: 479px) {
      padding: 16px;
      width: initial;
      margin: 20px;
    }
    .__title {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: -0.6px;
      color: #5d5e62;
      margin-bottom: 13px;
      margin-top: 11px;
    }

    .__text {
      font-size: 15px;
      letter-spacing: -0.4px;
      text-align: center;
      color: #8b999f;
      margin-bottom: 21px;
    }

    .__retryBtn {
      width: 216px;
      height: 36px;
      border: 1px solid #fe0900;
      color: #fe0900;
      font-size: 16px;
      background-color: #fff;
    }
  }
}
