@import "/client/style/variable.less";

#conversation-manager-details {
  display: flex;
  flex-direction: row;
  min-height: 500px;
  height: calc(~"100vh - 230px");
  background: white;
  .conversation-manager-details-main-container {
    display: flex;
    min-height: 0;
    flex: 1;
    flex-direction: column;
    .conversation-manager-details-header-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      padding: 16px 8px;
      border-bottom: 1px solid #ddd;
      .conversation-manager-details-header-user {
        display: flex;
        flex-direction: row;
        align-items: center;
        .conversation-manager-details-header-icon {
          margin: 0 8px;
        }
        .conversation-manager-details-header-title-container {
          display: flex;
          flex-direction: column;
          .conversation-manager-details-header-title {
            white-space: nowrap;
            overflow: hidden;
            font-weight: 600;
            text-overflow: ellipsis;
            max-width: 300px;
          }
          .conversation-manager-details-header-phone {
            i {
              display: inline-block;
              height: 14px;
              width: 14px;
            }
          }
        }
      }
      .conversation-manager-details-header-type,
      .conversation-manager-details-header-priority,
      .conversation-manager-details-header-details {
        text-transform: uppercase;
        font-weight: 600;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      & > * {
        font-size: 12px;
        color: #69686d;
      }
    }
    .conversation-manager-details-body-container {
      display: flex;
      flex: 1;
      flex-direction: column;
      min-height: 0;
      position: relative;
      .conversation-body {
        flex: 1;
        overflow-y: auto;
        margin-bottom: 20px;
        .flex-fixer {
          min-height: 0;
          display: flex;
          flex-direction: column-reverse;
          padding: 10px;
        }
        .list-msg-date-wrap {
          text-align: center;
          border-bottom: 2px solid #f2f2f2;
          padding: 3px 0 5px 0;
          margin: 5px 0 5px 0;
        }
        .msg-new-user {
          align-self: center;
          margin-top: 10px;
          max-width: 50%;
          .msg-new-user-wrap {
            display: flex;
            .msg-new-user-label {
              display: flex;
              flex-direction: column;
              background-color: #e3e9ea;
              border-radius: 25px;
              padding: 8px 16px;
              text-align: center;
              width: 100%;
              span {
                word-wrap:  break-word;
                padding: 5px;
              }
            }
          }
        }
        .msg-received {
          max-width: 55%;
          align-self: flex-start;
          .msg-received-wrap {
            display: flex;
            flex-direction: column-reverse;
            .msg-bubble {
              background: #f1f5f6;
              justify-content: left;
              .msg-bubble-label {
                word-break: break-word;
                color: #5d5e62;
                text-align: left;
              }
            }
            .msg-bubble-modif {
              text-align: right;
              right: 2px;
              color: #5d5e62;
            }
            .msg-bubble-date {
              display: none;
              margin-left: 50px;
            }
            .msg-wrap {
              width: fit-content;
              position: relative;
              margin-right: auto;
            }
            .msg-wrap/* :first-child */ .msg-bubble {
              overflow: visible;
              border-bottom-right-radius: 15px;
            }
          }
        }
        .msg-sent {
          max-width: 55%;
          align-self: flex-end;
          .msg-sent-wrap {
            display: flex;
            flex-direction: column-reverse;
            .msg-bubble {
              background: var(--primary-color);
              justify-content: right;
              .msg-bubble-label {
                word-break: break-word;
                color: #fff;
                // text-align: right;
                word-break: break-word;
              }
            }
            .msg-bubble-modif {
              text-align: left;
              // left: -3px;
              color: #fff;
            }
            .msg-bubble-date {
              display: none;
              text-align: right;
              flex-direction: row-reverse;
            }
            .msg-wrap {
              width: fit-content;
              position: relative;
              margin-left: auto;
            }

            .msg-wrap/* :first-child */ .msg-bubble {
              overflow: visible;
              border-bottom-left-radius: 15px;
            }
          }
        }
        .msg-wrap {
          display: flex;
          flex-direction: column;
        }
        .image-msg-wrap {
          .msg-bubble {
            background-color: transparent!important;
            padding: 0 0 10px!important;

            .msg-bubble-modif {
              color: #6a6a6c;
              // left: 0 !important;
            }
          }
        }
        .image-msg-wrap/* :last-child */ .msg-bubble {
          border-top-left-radius: 0!important;
          border-top-right-radius: 15px;
        }
        .msg-bubble-wrap:hover .dropdown {
          transition: 200ms;
          opacity: 1;
        }
        .msg-bubble-wrap {
          display: flex;
          width: 100%;
          flex-direction: row;
          .dropdown {
            opacity: 0;
            display: flex;
            align-items: center;
            justify-self: center;
            margin-right: 8px;
            .image-icon.edit-icon {
              height: 20px;
              width: 20px;
            }
          }
          .msg-user-icon {
            opacity: 0;
            align-self: flex-end;
            margin-right: 10px;
            .status-indicator {
              position: absolute !important;
              top: 28px !important;
              width: 13px !important;
              height: 13px !important;
              border-radius: 50%;
              display: block;
              border: 2px solid #ffffff;
              left: 30px;
            }
            .status-indicator.offline {
              background: #bbbbbb;
            }
            .status-indicator.online {
              background: #7cc576;
            }
            .status-indicator.idle {
              background: #fdb813;
            }
          }
          .msg-bubble {
            width: 100%;
            overflow-x: hidden;
            margin-top: 2px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            // word-break: break-all;
            flex: 1; // Remove this if you want bubbles with different size
            h4.msg-bubble-label {
              word-break: break-word;
              margin: 0;
              margin-bottom: 3px;
              font-weight: 700;
              display: flex;
              flex: 1;
            }
            .msg-bubble-label {
              word-break: break-word;
              flex: 1;
              font-family: Lato;
              margin: 0;
              padding: 0;
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: -0.4px;
            }
            .msg-bubble-img-wrap {
              width: 200px;
              overflow: hidden;
              margin: 4px 0;
              display: flex;
              position: relative;
              a {
                img {
                  border-radius: 16px;
                  min-height: 100px;
                  min-width: 200px;
                  width: 200px;
                }
              }
              div:not(.mb-file-preview-wrapper) {
                flex-direction: column;
                width: 100%!important;
                div {
                  flex-direction: row;
                  flex: 1;
                  a {
                    flex: 1;
                  }
                }
              }
              a.is-video {
                span.play-icon {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  background-image: url("img/icons/play.png");
                  background-repeat: no-repeat;
                  background-size: 64px 64px;
                  background-position: center center;
                  z-index: 4;
                }
                figure { 
                  align-items: center;
                  background-color: #f1f5f6;
                  border-radius: 16px;
                  display: flex;
                  justify-content: center;
                  position: relative;
                  z-index: 1;
                  .fa-spinner {
                    color: gray;
                    position: absolute;
                    z-index: 2;
                  }
                  img {
                    position: relative;
                    z-index: 3;
                  }
                }
              }
            }
          }
        }
        .msg-bubble-modif {
          font-family: @lato;
          font-size: 12px;
          font-weight: 500;
          color: #fff;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.3px;
          font-style: italic;
          top: 8px;
          position: relative;
        }
        .msg-wrap:first-child .msg-user-icon {
          opacity: 1;
        }
        .msg-wrap:first-child .msg-bubble-date {
          display: flex;
        }
        .msg-wrap/* :last-child */ .msg-bubble {
          overflow: visible;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }
      }
      .conversation-body-footer {
        .is-typing {
          position: absolute;
          width: 50%;
          margin-top: -31px;
          .is-typing-wrap {
            padding: 10px;
            align-items: center;
            .is-typing-label {
              display: flex;
              flex-direction: row;
              align-items: center;
              .is-typing-item {
                margin: 0 2px !important;
                font-family: @lato;
                font-size: 12px;
                font-weight: 700;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: -0.3px;
              }
            }
          }
        }
      }
      .conversation-footer {
        background: white;
        border-top: 1px solid #ddd;
        .conversation-footer-checkbox {
          margin: 16px;
          margin-bottom: 10px;
          margin-top: 0;
        }
        .conversation-footer-wrap {
          margin: 16px;
          margin-bottom: 5px;
          .message-input-wrap {
            display: flex;
            flex: 1;
            flex-direction: row;
            border: 1px solid #ddd;
            .message-input-textarea-wrap {
              display: flex;
              flex: 1;
              flex-direction: column;
              margin: 8px;
              .message-input-textarea {
                flex: 1;
                .mb__textarea textarea {
                  border: 0;
                  padding: 0;
                  font-size: 16px;
                }
              }
              .message-input-textarea-file-input {

              }
            }
            .message-input-file-button {
              margin-left: -25px;
              padding: 8px;
            }
          }
        }
      }
    }
  }
  .conversation-manager-details-list-participant-container {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    border-left: 1px solid #ddd;
    .conversation-manager-details-list-participant-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      padding: 16px 8px;
      border-bottom: 1px solid #ddd;
      .conversation-manager-details-list-participant-header-title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        color: rgb(139, 153, 159);
        line-height: 30px;
        margin: 0px;
      }
      .conversation-manager-details-list-participant-header-invit-button span i {
        height: 24px;
        width: 24px;
      }
    }
    .conversation-manager-details-list-participant-body {
      display: flex;
      flex: 1;
      flex-direction: column;
      overflow-y: auto;
      height: calc(~"100vh - 300px");
      .conversation-manager-details-list-item-participant {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #ddd;
        padding: 8px;
        min-height: 70px;
        .conversation-manager-details-list-item-participant-icon {
          display: flex;
          align-items: center;
        }
        .conversation-manager-details-list-item-participant-labels {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 8px;
          h4 {
            margin: 0 !important;
            white-space: nowrap;
            overflow: hidden;
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #5d5e62;
            font-family: Lato,Source Sans Pro,sans-serif;
            width: 230px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          span {
            font-family: Lato,Source Sans Pro,sans-serif;
            font-size: 15px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: -.1px;
            text-align: left;
            color: #8b999f;
            width: 230px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }

        }
        &:last-child{
          border-bottom: 0 none transparent;
        }
      }
    }
  }
}
