<template name="messageDetailsManager">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel">
				<div class="panel-heading position_relative">
					<div class="sub-tool-bar clearfix ">
            <div class="pull-left">
                <h1> {{ getDicoVar 'moduleMessagerieIndex' 'pageTitle' }} </h1>
                <button type="button" class="the-back-button" id="backbutton">
                    <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{ getDicoVar 'moduleMessagerieIndex' 'back' }}
                </button>
            </div>
					</div>
				</div>
			</div>
		</div>
	</div>


  {{#let usersInformation=getUsersInConverrsation currentConversation=getConversation}}
	<div id="conversation-manager-details">
    <div class="conversation-manager-details-main-container" >
      <div class="conversation-manager-details-header-container">
        <div class="conversation-manager-details-header-user">
          <div class="conversation-manager-details-header-icon">
            <span class="userIcon-main">
              {{#let userIcon=(getConversationInitial currentConversation usersInformation)}}
                {{#if userIcon.isPicture}}
                  <div style="background-image:url('{{userIcon.src}}'), url('/img/anonymous.png')" class="smallprofilepic userIcon"></div>
                {{else}}
                  <span class="userIcon">
                    {{userIcon.initial}}
                  </span>
                {{/if}}
                <div class="editConversationPicture"></div>
                <div class="dropdownConversationPicture displayNone">
                  <div class="tick"></div>
                  <div class="textSelector uploadPhoto">{{ getDicoVar 'commonTranslation' 'upload_photo' }}</div>
                  <div class="textSelector removePhoto">{{ getDicoVar 'commonTranslation' 'remove_photo' }}</div>
                  <div class="textSelector cancelDropdown">{{ getDicoVar 'commonTranslation' 'cancel' }}</div>
                </div>
                <input id="inputAvatar" type="file" style="display: none;">
              {{/let}}
            </span>
          </div>
          <div class="conversation-manager-details-header-title-container">
            <span class="conversation-manager-details-header-title">
                {{getConversationName currentConversation usersInformation}}
            </span>
            <input type="text" class="conversation-manager-details-header-title conversation-manager-details-header-title-input displayNone" value="{{conversationName}}">
            <span class="conversation-manager-details-header-phone">
              <i class="image-icon mobile-icon" aria-hidden="true"></i>
              {{getConversationTel currentConversation usersInformation}}
            </span>
          </div>
          <div class="conversation-manager-details-header-item-pencil">
            <i class="image-icon edit-icon"></i>
          </div>
        </div>
        <div class="conversation-manager-details-header-type">
          {{getDicoVar "commonTranslation" "type_header_messenger"}} {{getMessageType currentConversation.type true}}
        </div>
        {{#if isUrgentDefaultPriority urgent}}
        <div class="conversation-manager-details-header-priority">
          <embed src="/img/urgent_jaune.svg" alt="">
        </div>
        {{/if}}
        <div class="conversation-manager-details-header-details">
          {{getDicoVar "commonTranslation" "details_header_messenger"}} {{getIncidentType currentConversation.details true}}
        </div>
      </div>

      <div class="conversation-manager-details-body-container">
        {{> messageDetailsManagerList
          currentConversation=getConversationId
          usersInformation=getUsersInConverrsation
          setMessageIdForEditing=setMessageIdForEditing
        }}
        {{{renderIsTyping}}}
        {{> messageDetailsManagerSendMessage
          currentConversation=getConversationId
          messageIdForEditing=getMessageIdForEditing
          setMessageIdForEditing=setMessageIdForEditing
        }}
      </div>
    </div>

    <div class="conversation-manager-details-list-participant-container">
      <div class="conversation-manager-details-list-participant-header">
        <div class="conversation-manager-details-list-participant-header-title">
          {{getDicoVar 'commonTranslation' 'particpantTitle'}}
        </div>
        <div class="conversation-manager-details-list-participant-header-invit-button" data-toggle="modal" data-target="#modal_add_participants">
          <span class="invit-modal-btn" style="cursor: pointer">
            <i class="image-icon add-occupant-icon"></i>
          </span>
        </div>
      </div>
      <div class="conversation-manager-details-list-participant-body">
        {{#each usersInformation}}
          <div class="conversation-manager-details-list-item-participant">
            <div class="conversation-manager-details-list-item-participant-icon">
              {{> userIcon userId=this._id type="U" status=(getStatus this._id)}}
            </div>
            <div class="conversation-manager-details-list-item-participant-labels">
              <h4>{{this.fullname}}</h4>
              {{#if this.disabled}}
                <span>{{getDicoVar 'commonTranslation' 'noAccessManagerMP'}}</span>
              {{/if}}
              <span>{{getUserDetails this._id}}</span>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  {{!-- Modal Add people --}}

	<div id="modal_add_participants" class="modal fade right main-modal d-modal" role="dialog" tabindex="-1">
		<div class="modal-dialog" role="document">
			<button type="button" class="close round-close" data-dismiss="modal">
				<img src="/img/icons/croix_48px.svg" width="36" alt="">
			</button>
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-heading pull-left">
						<h4 class="modal-title" id="myModalLabel"> {{ getDicoVar 'moduleMessagerieIndex' 'invite_participant' }} </h4>
					</div>
				</div>
				<div class="modal-body clearfix">
          {{#if isOpen}}
            {{> MbSelect
              required=true
              selected=null
              label=(getDicoVar 'moduleMessagerieIndex' 'invite_participant')
              options=(invitUser)
              onSelect=onSelect
              multiple=true
              placeholder=(getDicoVar 'commonTranslation' 'select_participant')
            }}
            <button type="button" id="validInvite" class="mb-button btn btn-red-confirm disabled" style='margin-top: 16px; float: right;' data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{ getDicoVar 'commonTranslation' 'saving' }}..."> {{ getDicoVar 'moduleMessagerieIndex' 'invite' }} </button>
          {{/if}}
				</div>
			</div>
		</div>
	</div>
  {{/let}}
</template>
