<template name="forum_unfollow">
	<style type="text/css">
		@import url("/css/material.css");
		@import url("/css/forum_unfollow.css");
	</style>

	<div class="orphanWrapper">
		<div class="flex col">
			<div class="mdl-grid mdl-grid--no-spacing mdl-cell--12-col">
				<div class="mdl-layout-spacer"></div>
				<div class="mdl-cell--8-col flex" id="orphanHead">
					<h3>{{ getDicoVar "unfollow" "noFollow" }}</h3>
				</div>
				<div class="mdl-layout-spacer"></div>
			</div>

			<div class="mdl-grid mdl-grid--no-spacing mdl-cell--12-col" style="margin-bottom:40px;">
				<div class="mdl-layout-spacer"></div>
				<div class="mdl-cell--8-col flex col" id="orphanBody">
					<div class="unfollowWrapper">
						<h5 style="margin-top:0;">{{ getDicoVar "unfollow" "noFollowConfirm" }}</h5>
						<div class="unfollowBox">
							<h6>{{ getDicoVar "unfollow" "title" }} : </h6>
							<span>{{getTitle}}</span>
						</div>
						<div class="unfollowBox">
							<h6>{{ getDicoVar "unfollow" "message" }} : </h6>
							<span>{{{getMessage}}}</span>
						</div>

						<div class="flex unfollowChoiceButtons">
							<a href="#" type="button" id="CancelUnfollow" class="btn red_btn">
								{{ getDicoVar "unfollow" "backHome" }}
							</a>
							<div style="width:20px;"></div>
							<button type="button" id="Unfollow" class="btn red_btn">
								{{ getDicoVar "unfollow" "unfollow" }}
							</button>
						</div>
					</div>
				</div>
				<div class="mdl-layout-spacer"></div>
			</div>
		</div>
	</div>

</template>
