.back-office-deferred-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #E0E0E0;

  .rdt {
    input {
      border: 0;
      text-align: right;
      padding: 0 10px;
      color: #8b999f;
      background-color: white;
    }
  }

  .rdtOpen .rdtPicker {
    bottom: 45px;
  }
}