@import "/client/style/variable";

@-moz-document url-prefix() {
  #messenger_conversation .conversation-body,
  #messenger_conversation .conversation-header .incident-declaration-header-wrap {
    flex: 1 0 500px!important;
  }
}

#messenger_conversation {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  width: calc(~"100% - 300px");
  position: relative;
  // Header
  .conversation-header {
    display: flex;
    background-color: @wt;
    border-bottom: @grey2 solid 1px;
    flex-direction: column;
    position: relative;
    .text-center.load {
      position: absolute;
      height: 100%;
      width: 100%;
      align-items: center;
      background: rgba(0, 0, 0, 0.2);
      .loaderSpinner {
        top: 0;
      }
    }
    .conversation-header-container {
      display: flex;
      padding: 8px 16px;
      flex-direction: row;
      justify-content: space-between;
      .conversation-header-new-user-wrap {
        flex: 1;
        flex-direction: row;
        display: flex;
        width: 100%;
        .conversation-header-new-user-label {
          font-size: 17px;
          margin-top: -2px;
          line-height: 51px;
          width: 40px;
          padding: 0 8px;
        }
        .mb-select {
          width: calc(100% - 140px);
        }
      }
      .conversation-header-incident-wrap {
        .conversation-header-incident-type {
          font-family: @lato;
          font-size: 17px;
          font-weight: 500;
          color: #5d5e62;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.3px;
          text-align: left;
          margin-right: 5px;
        }
        .conversation-header-incident-details {
          font-family: @lato;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.3px;
          text-align: left;
          color: #8b999f;
          margin-right: 5px;
          margin-top: 2px;
        }
      }
      .conversation-header-user {
        display: flex;
        flex: 1;
        flex-direction: row;
        // Warning: Doubble declaration if you want change design
        .status-indicator {
          position: absolute !important;
          top: 28px !important;
          width: 13px !important;
          height: 13px !important;
          border-radius: 50%;
          display: block;
          border: 2px solid #ffffff;
          left: 30px;
        }
        .status-indicator.offline {
          background: #bbbbbb;
        }
        .status-indicator.online {
          background: #7cc576;
        }
        .status-indicator.idle {
          background: #fdb813;
        }
        .editConversationPicture {
          cursor: pointer;
          background: url(img/icons/svg/camera-white.svg);
          background-color: var(--primary-color);
          border-radius: 50%;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: 10px 10px;
          background-position: center;
          position: absolute;
          top: 25px;
          right: -10px;
          border: 2px solid #f1f5f6;
        }
        .conversation-header-item-pencil {
          cursor: pointer;
          opacity: 0;
          transition: 200ms;
          i {
            width: 16px;
            height: 16px;
          }
        }
        .conversation-header-item-pencil:hover {
          opacity: 1;
        }
        .conversation-header-title-input {
          height: 28px;
          align-self: center;
          margin-left: 16px;
        }
        .dropdownConversationPicture {
          position: absolute;
          top: 56px;
          width: 200px;
          height: 114px;
          background-color: white;
          text-align: center;
          left: 40px;
          transform: translateX(-50%);
          border: 1px solid #DCDDE4;
          box-shadow: 0 1px 4px 0 rgba(32, 33, 38, 0.1);
          z-index: 10;
          .tick {
            width: 15px;
            height: 15px;
            box-shadow: -15px 0 15px -15px rgba(32, 33, 38, 0.1);
            background-color: white;
            border-left: 1px solid #DCDDE4;
            border-top: 1px solid #DCDDE4;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -55%) rotate(45deg);
          }
          .textSelector {
            display: block;
            height: 38px;
            position: relative;
            cursor: pointer;
            z-index: 11;
            &:not(:last-child) {
              border-bottom: 1px solid #DCDDE4;
            }
            &:hover {
              background-color: var(--secondary-color);
              color: @wt;;
            }
            line-height: 38px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: #5d5e62;
          }
        }
        .conversation-header-title {
          font-family: @lato;
          font-size: 17px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: @slategrey;
          padding-left: 10px;
          padding-right: 10px;
          line-height: 40px;
          white-space: nowrap;
          max-width: 500px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .conversation-header-title-empty {
          line-height: 20px;
        }
      }
      .conversation-header-invit-button {
        align-self: flex-start;
        position: relative;
        top: 9px;
        margin-left: 32px;
        .invit-modal-btn i {
          height: 24px;
          width: 24px;
        }
      }
    }
    .conversation-header-container-footer {
      display: flex;
      padding: 0 16px 8px 16px;
      flex-direction: row;
      flex-wrap: wrap;
      .otherParticipant-label {
        font-family: @lato;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        text-align: left;
        color: #8b999f;
        margin-right: 5px;
      }
      .otherParticipant-tag {
        font-family: @lato;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: @wt;
        padding: 2px 5px;
        background-color: var(--primary-color);
        border-radius: 3px;
        margin-right: 4px;
        width: fit-content;
        display: inline-block;
        margin-bottom: 4px;
      }
    }
    .incident-declaration-header-wrap {
      flex: 1;
      overflow-y: scroll;
      -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
      -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
      animation-duration: 4s;
      animation-delay: -2s;
      .flex-fixer {
        padding: 16px;
      }
    }
    .incident-declaration-header-wrap {
      .incident-declaration-header-title-wrap {
        display: flex;
        flex-direction: row;
        background: #f1f5f6;
        padding: 8px 16px;
        margin-top: 16px;
        text-transform: uppercase;
        font-family: Lato,Source Sans Pro,sans-serif;
        font-size: 12px;
        letter-spacing: .1px;
        text-align: left;
        color: #8b999f;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        i {
          height: 8px;
          width: 8px;
          margin-left: 5px;
        }
      }
      .incident-declaration-header-bubble-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .incident-declaration-header-bubble {
          padding: 16px 8px;
          flex-direction: column;
          display: flex;
          align-items: center;
          min-width: 150px;
          width: 25%;
          .incident-declaration-header-bubble-icon {
            width: 92px;
            height: 92px;
            border-radius: 50%;
            cursor: pointer;
          }
          .incident-declaration-header-bubble-icon-border {
            margin-left: -92px;
            width: 92px;
            height: 92px;
            border-radius: 50%;
            cursor: pointer;
          }
          .incident-declaration-header-bubble-label {
            display: flex;
            margin: 16px 8px;
            line-height: 22px;
            font-size: 14px;
            font-weight: 500;
            color: #8b999f;
            text-transform: uppercase;
            text-align: center;
          }
        }
        .incident-declaration-header-bubble.selected {
          .incident-declaration-header-bubble-icon {
            cursor: pointer;
            background-color: transparent!important;
            //box-shadow: 0 0 0 0 #fff,0 0 0 4px var(--button-color);
            box-shadow: 0 0 0 0 #fff,0 0 0 4px var(--secondary-color);
          }
          .incident-declaration-header-bubble-label {
            display: flex;
            margin: 16px 8px;
            line-height: 22px;
            font-size: 14px;
            font-weight: 500;
            color: #8b999f;
            text-transform: uppercase;
          }
        }
      }
      #incident-declaration-header-information {
        .incident-declaration-header-information-details .mb-select select,
        .incident-declaration-header-information-phone.phoneContainer .mb-select select{
          display: none;
        }
        & > div > div {
          margin-top: 12px;
        }
        .incident-declaration-header-information-description {
          margin: 0 16px;
        }
      }
    }
  }
  // Body
  .conversation-body {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    .flex-fixer {
      display: flex;
      min-height: 0;
      flex-direction: column-reverse;
      padding: 10px;
    }

    .photoset-cell {
      max-height: unset!important;
    }
  }
  .conversation-body {
    .list-msg-date-wrap {
      text-align: center;
      border-bottom: 2px solid #f2f2f2;
      padding: 3px 0 5px 0;
      margin: 5px 0 5px 0;
    }
    .msg-new-user {
      align-self: center;
      margin-top: 10px;
      max-width: 50%;
      .msg-new-user-wrap {
        display: flex;
        .msg-new-user-label {
          display: flex;
          flex-direction: column;
          background-color: #e3e9ea;
          border-radius: 25px;
          padding: 8px 16px;
          text-align: center;
          width: 100%;
          span {
            word-wrap:  break-word;
            padding: 5px;
          }
        }
      }
    }
    .msg-received {
      max-width: 55%;
      align-self: flex-start;
      .msg-received-wrap {
        display: flex;
        flex-direction: column-reverse;
        .msg-bubble {
          background: #f1f5f6;
          justify-content: left;
          .msg-bubble-label {
            color: #5d5e62;
            text-align: left;
            word-break: break-word;
          }
        }
        .msg-bubble-modif {
          text-align: right;
          right: 2px;
          color: #5d5e62;
        }
        .msg-bubble-date {
          display: none;
          margin-left: 50px;
        }
        .msg-wrap {
          width: fit-content;
          position: relative;
          margin-right: auto;
        }

        .msg-wrap/* :first-child */ .msg-bubble {
          overflow: visible;
          border-bottom-right-radius: 15px;
        }
      }
    }
    .msg-sent {
      max-width: 55%;
      align-self: flex-end;
      .msg-sent-wrap {
        display: flex;
        flex-direction: column-reverse;
        .msg-bubble {
          background: var(--primary-color);
          justify-content: right;
          .msg-bubble-label {
            color: #fff;
            // text-align: right;
            word-break: break-word;
          }
        }
        .msg-bubble-modif {
          text-align: left;
          // left: -3px;
          color: #fff;
        }
        .msg-bubble-date {
          display: none;
          text-align: right;
          flex-direction: row-reverse;
        }
        .msg-wrap {
          width: fit-content;
          position: relative;
          margin-left: auto;
        }

        .msg-wrap/* :first-child */ .msg-bubble {
          overflow: visible;
          border-bottom-left-radius: 15px;
        }
      }
    }
    .msg-wrap {
      display: flex;
      flex-direction: column;
    }
    .image-msg-wrap {
      .msg-bubble {
        background-color: transparent!important;
        padding: 0 0 10px!important;

        .msg-bubble-modif {
          color: #6a6a6c;
          // left: 0 !important;
        }
      }
    }
    .msg-bubble-wrap:hover .dropdown {
      transition: 200ms;
      opacity: 1;
    }
    .msg-bubble-wrap {
      display: flex;
      width: 100%;
      flex-direction: row;
      .dropdown {
        opacity: 0;
        display: flex;
        align-items: center;
        justify-self: center;
        margin-right: 8px;
        .image-icon.edit-icon {
          height: 20px;
          width: 20px;
        }
      }
      .msg-user-icon {
        opacity: 0;
        align-self: flex-end;
        margin-right: 10px;
        // Warning: Doubble declaration if you want change design
        .status-indicator {
          position: absolute !important;
          top: 28px !important;
          width: 13px !important;
          height: 13px !important;
          border-radius: 50%;
          display: block;
          border: 2px solid #ffffff;
          left: 30px;
        }
        .status-indicator.offline {
          background: #bbbbbb;
        }
        .status-indicator.online {
          background: #7cc576;
        }
        .status-indicator.idle {
          background: #fdb813;
        }
      }
      .msg-bubble {
        width: 100%;
        flex-direction: column;
        margin-top: 2px;
        padding: 10px;
        display: flex;
        flex: 1;
        // word-break: break-all;
        h4.msg-bubble-label {
          margin: 0;
          margin-bottom: 3px;
          font-weight: 700;
          display: flex;
          flex: 1;
          word-break: break-word;
        }
        .msg-bubble-label {
          flex: 1;
          font-family: Lato;
          margin: 0;
          padding: 0;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.4px;
          word-break: break-word;
        }
        #goToIncident {
          text-decoration: underline;
          font-weight: 600;
          cursor: pointer;
        }
        .msg-bubble-img-wrap {
          width: 200px;
          display: flex;
          margin: 4px 0;
          position: relative;
          a {
            img {
              border-radius: 16px;
              min-height: 100px;
              min-width: 200px;
              width: 200px;
            }
          }
          div {
            flex-direction: column;
            width: 100%!important;
            div {
              flex-direction: row;
              flex: 1;
              a {
                flex: 1;
              }
            }
          }
          a.is-video {
            span.play-icon {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background-image: url("img/icons/play.png");
              background-repeat: no-repeat;
              background-size: 64px 64px;
              background-position: center center;
              z-index: 4;
            }
            figure {
              align-items: center;
              background-color: #f1f5f6;
              border-radius: 16px;
              display: flex;
              justify-content: center;
              position: relative;
              z-index: 1;
              .fa-spinner {
                color: gray;
                position: absolute;
                z-index: 2;
              }
              img {
                position: relative;
                z-index: 3;
              }
            }
          }
        }
      }
    }
    .msg-bubble-modif {
      font-family: @lato;
      font-size: 12px;
      font-weight: 500;
      color: #fff;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.3px;
      font-style: italic;
      top: 8px;
      position: relative;
    }
    .msg-wrap:first-child .msg-user-icon {
      opacity: 1;
    }
    .msg-wrap:first-child .msg-bubble-date {
      display: flex;
    }
    .msg-wrap/* :last-child */ .msg-bubble {
      overflow: visible;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  }
  .conversation-body-footer {
    .is-typing {
      position: absolute;
      width: 50%;
      margin-top: -31px;
      .is-typing-wrap {
        padding: 10px;
        align-items: center;
        .is-typing-label {
          display: flex;
          flex-direction: row;
          align-items: center;
          .is-typing-item {
            margin: 0 2px !important;
            font-family: @lato;
            font-size: 12px;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.3px;
          }
        }
      }
    }
  }
  .conversation-footer {
    background: white;
    border-top: 1px solid #ddd;
    .conversation-footer-checkbox {
      display: flex;
      flex-direction: row;
      margin: 16px;
      margin-bottom: 10px;
      margin-top: 0;
      div i {
        height: 22px;
        width: 22px;
      }
    }
    .conversation-footer-wrap {
      margin: 16px;
      margin-bottom: 5px;
      .message-input-wrap {
        display: flex;
        flex: 1;
        flex-direction: row;
        border: 1px solid #ddd;
        .message-input-textarea-wrap {
          display: flex;
          flex: 1;
          flex-direction: column;
          margin: 8px;
          .message-input-textarea {
            flex: 1;
            .mb__textarea textarea {
              border: 0;
              padding: 0;
              font-size: 16px;
            }
          }
          .message-input-textarea-file-input {

          }
        }
        .message-input-file-button {
          margin-left: -25px;
          padding: 8px;
        }
      }
    }
  }
}
