<template name="messenger_conversation">
  {{#let currentTab=getSelectedTab currentConversation=getCurrentConversation usersInformation=getUsersInformation isNewMessage=getIsNewMessage }}
    {{refreshSubscribe}}
    <div id="messenger_conversation">
      {{#if (isEmptyState currentConversation)}}
        {{> MbEmptyMessageFeed condoId=condoId}}
      {{else}}
        {{> conversation_header
          currentTab=currentTab
          currentConversation=currentConversation
          usersInformation=getUsersInformation
          isNewMessage=isNewMessage
          onSelectUser=setUserForNewConversation
          setInformationForNewIncident=setInformationForNewIncident
        }}

        {{> messenger_conversation_list
          currentTab=currentTab
          currentConversation=currentConversation
          usersInformation=usersInformation
          setMessageIdForEditing=setMessageIdForEditing
          isNewMessage=isNewMessage
        }}

        {{{renderIsTyping currentConversation usersInformation}}}

        {{> conversation_footer
          currentTab=currentTab
          currentConversation=currentConversation
          selectConversationCb=selectConversationCb
          isNewMessage=isNewMessage
          userForNewConversation=getUserForNewConversation
          messageIdForEditing=getMessageIdForEditing
          setMessageIdForEditing=setMessageIdForEditing
          setIsNewMessageAsFalse=setIsNewMessageAsFalse
          onSelectUser=setUserForNewConversation
          getInformationForNewIncident=getInformationForNewIncident
        }}

      {{/if}}
    </div>
  {{/let}}
</template>
