<template name="resourcesDistribution_stats">
    <div class="chart-item">
        {{prepareData}}
        <div class="head">
            <h3>{{getDicoVar "stats" "resource_distribution"}}</h3>
            <div class="dropdown-stat-header action pull-right">
                <div class="dropdown per-s-list btn">
                    <button id="dropdownType" class="btn clearfix text-left btn-transparent dropdown-toggle buttonPostView" type="button" data-toggle="dropdown">{{getDicoVar "stats" selectedFilter}}
                        <span class="caret pull-right"></span>
                    </button>
                    <div class="dropdown-menu">
                        <ul class="list-users list-unstyled ulRespon">
                            {{#each option in getOptions}}
                                <li filter="{{option.type}}" class="typeOption {{getActiveClass option.type}}">
                                    <a class="media">
                                        <div class="media-body">
                                            <h5>{{getDicoVar "stats" option.type}}</h5>
                                        </div>
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="body">
            {{#unless ready}}
                <div class="loader-container">
                    {{> loader}}
                </div>
            {{else}}
            <span>&nbsp;</span>  <!-- Don't remove -->
            {{#if loadingData}}
              <div class="loader-container-over">
                {{> loader}}
              </div>
            {{/if}}
            <div id="resources-distribution-chart-container" class="the-chart">
                {{renderChart}}
            </div>
            <div id="chartjs-resources-distribution-chart-tooltips" class="chart-tooltips-container">
                <table></table>
            </div>
            <div id="resources-distribution-chart-no-data" class="chart-no-data">
                {{getDicoVar "stats" "no_data"}}
            </div>
            {{/unless}}
        </div>
        <div class="chart-switcher">
            <span class="switcher">
                <span class="switch-option {{getActiveType 'time'}}" data-type="time">{{getDicoVar "moduleReservationIndex" "time"}}</span>
                <span class="switch-option {{getActiveType 'date'}}" data-type="date">Date</span>
            </span>
        </div>
    </div>
</template>
