<template name='pendingUsers'>
  {{#let occupants=(getOccupants) totalOccupant=(getTotal)}}
    {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=searchCallback counter=occupants.length}}
    <div class='searchResult' style='display: none'>
      {{>MbPanel content=(getDicoVar 'commonTranslation' 'search_result')}}
    </div>
    {{#if totalOccupant}}
      {{!-- {{logger totalOccupant}} --}}
      {{#if occupants.length}}
        <table class="managerDetailsContainer table">
          <thead>
            <tr class='containerColumn'>
              <th></th>
              <th>{{getDicoVar 'commonTranslation' 'firstname'}}</th>
              <th>{{getDicoVar 'commonTranslation' 'lastname'}}</th>
              <th>{{getDicoVar 'commonTranslation' 'email'}}</th>
              <th>{{getDicoVar 'commonTranslation' 'mobile'}}</th>
              {{!-- <th>{{getDicoVar 'commonTranslation' 'profile_details_buildings'}}</th> --}}
              <th>{{getDicoVar 'commonTranslation' 'invited'}}</th>
              {{#if userHasRight "trombi" "addOccupant"}}
                <th class='trashColumn' style="text-transform: capitalize!important"> {{ getDicoVar 'commonTranslation' 'shares' }} </th>
              {{/if}}
            </tr>
          </thead>
          <tbody>
            {{#each occupants}}
              <tr class='containerLine' userId='{{this._id}}'>
                <td class='pictureColumn'>
                  {{#if this.avatar}}
                    <div  class='displayPictureImage' style="background-image: url({{this.avatar}}), url(/img/anonymous.png);"></div>
                  {{else}}
                    <div class='displayPictureName'>{{this.initials}}</div>
                  {{/if}}
                </td>
                <td class='commonColumn firstnameColumn lighter'>{{this.firstname}}</td>
                <td class='commonColumn lastnameColumn lighter'>{{this.lastname}}</td>
                <td class='commonColumn emailColumn lighter'>{{this.email}}</td>
                <td class='commonColumn phoneColumn lighter'>{{formatMobileNum this.tel this.telCode}}</td>
                {{!-- <td class='commonColumn condosColumn lighter' name='condosColumn-{{this._id}}'>
                  <div condoId='{{condo._id}}'>{{condo.name}}</div>
                </td> --}}
                <td class='commonColumn invitedColumn lighter'>{{humanDateShort this.invited}}</td>
                {{#if userHasRight "trombi" "addOccupant"}}
                  <td class='commonColumn occupantActionColumn'>
                    <div class='validOccupantColumn' userId='{{this._id}}' condoId='{{condo._id}}'></div>
                    <div class='denyOccupantColumn' userId='{{this._id}}' condoId='{{condo._id}}'></div>
                  </td>
                {{/if}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        {{> MbEmpty
          title=(getDicoVar 'commonTranslation' 'no_result')
        }}
      {{/if}}
    {{else}}
      {{#if and (userHasRight "trombi" "seeOccupantList") (userHasRight "trombi" "addOccupant")}}
        {{> MbEmpty
          title=(getDicoVar 'commonTranslation' 'no_other_occupant_yet')
          subTitle=(getDicoVar 'commonTranslation' 'occupant_add_by_you_and_authorized')
          buttonLabel=(getDicoVar 'commonTranslation' 'manager_invite_occupant')
          onButtonClick=addNewManager
        }}
      {{else}}
        {{> MbEmpty
          title=(getDicoVar 'commonTranslation' 'no_other_occupant_yet')
          subTitle=(getDicoVar 'commonTranslation' 'occupant_add_by_authorized')
        }}
      {{/if}}
    {{/if}}
  {{/let}}
</template>
