.mb-search-bar {
  height: 36px;
  margin: 0 1px;
  position: relative;

  .icon-search-bar {
    background: url(img/icons/search.svg) center center / 16px 16px no-repeat;
    position: absolute;
    width: 36px;
    height: 36px;
  }
  .text-search-bar {
    margin-left: 41px;
    line-height: 36px;
    border: none;
    padding: 0;
    width: calc(~'100% - 56px - 36px');

    font-family: 'Lato', 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.4px;
    text-align: left;
    color: #8b999f;
  }
  .text-search-bar::placeholder {
    color: #8b999f;
  }
  .counter-search-bar {
    position: absolute;
    right: 16px;
    width: 40px;
    line-height: 36px;
    text-align: center;
  }
}
