#upload_new_document {
  & > div {
    margin-bottom: 24px;
  }

  .saveDocumentContainer {
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 30px !important;

    .saveDocument {
      &.disabled {
        cursor: not-allowed;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .65;
        background-color: grey;
      }
      position: absolute;
      right: 0;
      width: 180px;
      height: 40px;
      line-height: 28px;
      text-align: center;
      vertical-align: middle;
      background-color: var(--secondary-color);
      color: #fff !important;
      outline: none !important;
      border: none;
      font-weight: 400;
      font-size: 16px;
      padding: 6px 30px;
      border-radius: 0;
      display: inline-block;
    }
  }

  #documentAttachment {
    display: none;
  }

  .attachmentContainer {
    width: 100%;
    height: 128px;
    border: 1px dashed #e0e0e0;
    position: relative;
    cursor: pointer;

    .attachmentDisplay {
      display: none;
      position: absolute;
      top: 7px;
      left: 7px;
      height: 110px;
      width: 110px;
      border: 1px solid #e0e0e0;
      object-fit: cover;
    }
    .attachmentIcon {
      width: 24px;
      height: 24px;
      background: url(img/icons/svg/attachment.svg);
      background-repeat: no-repeat;
      background-size: 24px 24px;
      position: absolute;
      top: calc(~'50% - 12px');
      left: calc(~'50% - 12px');

      // background: url(img/icons/svg/attachment.svg);
      // background-size: 14px 14px;
      // width: 14px;
      // height: 14px;
    }
  }

}
