<template name="uploadDocumentModal">
  <div id="modal_uploadDocument" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
    {{updateData}}
    <div class="modal-dialog modal-lg">
      <button details="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-heading pull-left">
            <h4 id="myModalLabel" class="modal-title red_color"> {{ getDicoVar 'commonTranslation' 'upload_document' }} </h4>
          </div>
        </div>
        <div class="modal-body clearfix" id='upload_new_document'>
          {{#if isOpen}}
            {{> MbSelect
              selected=(getSelectedCondo)
              required=true
              label=(getDicoVar 'commonTranslation' 'select_building')
              onSelect=onCondoSelect
              options=getCondos
              placeholder=(getDicoVar 'commonTranslation' 'select_building')
            }}
            {{> MbInput
              label=(getDicoVar 'commonTranslation' 'document_title')
              required=true
              onInput=onInputTitle
              value=getTitle
              placeholder=(getDicoVar 'commonTranslation' 'document_title')
            }}
            <div class='attachmentContainer'>
              <div class='attachmentIcon'></div>
              <img class='attachmentDisplay' width="110" height="110">
            </div>
            <input type='file' id='documentAttachment'>

            <div class="saveDocumentContainer">
              <a type="submit" class="saveDocument {{#unless canSubmit}}disabled{{/unless}}" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{ getDicoVar 'commonTranslation' 'saving' }}..."> {{ getDicoVar 'commonTranslation' 'personal_details_save' }} </a>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>