<template name="ReservationNew">
  {{#with getResource}}
  <div class="row">
    <div class="col-sm-12 plpr23">
      <div class="panel mt80">
        <div class="panel-heading position_relative">
          <div class="sub-tool-bar clearfix">
            <div class="pull-left">
              <h1>{{getDicoVar "moduleReservationIndex" "empty_button"}}</h1>
              <button type="button" id="close-form-2">
                <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{{getDicoVar "resourceForm" "back"}}}
              </button>
            </div>
            {{#unless resource.paid}}
            <div class="pull-right action repondBtnResa {{#if formNotValid}}disabled{{/if}}">
              <a type="button" id="confirm-resa-form-btn" class="confirm-resa-form-btn btn red_btn {{#if formNotValid}}disabled{{/if}}" >{{getDicoVar "moduleReservationIndex" "confirm"}}</a>
            </div>
            {{/unless}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-12 plpr23 flex">
        <div id="new-resa-form">
          <div class="flex-item">
            {{#if isWeek}}
              {{> MbSelect
                selected=(getFormData 'resourceId')
                label=(getDicoVar "moduleReservationIndex" "choose_resource")
                onSelect=(setFormData 'resourceId')
                options=getResourcesOption}}
            {{/if}}
            <p class="resa-bold">{{#if reverseBool isWeek}}{{resource.name}} {{/if}}{{#if isNeedValidationExcludeMe resource}}({{getDicoVar "moduleReservationIndex" "need_validation"}}){{/if}}</p>
            {{#if showNonEdl}}
              {{#if resource}}<p>{{getDicoVar "moduleReservationIndex" "floor"}}: {{getFloor resource.etage}}</p>{{/if}}
            {{/if}}
            {{#if resource.seats}}<p>{{getDicoVar "moduleReservationIndex" "seating"}}: {{resource.seats}}</p>{{/if}}
            {{#if resource.persons}}<p>{{getDicoVar "moduleReservationIndex" "standing"}}: {{resource.persons}}</p>{{/if}}
            {{#if (and resource.number showNonEdl)}}<p>{{resNum resource}}</p>{{/if}}
          </div>
          {{setUsersList}}
          {{#if showNonEdlAndEquipment}}
            <div class="flex-item">
              {{> MbInput
                required=isMeeting
                label=(getDicoVar "moduleReservationIndex" "title")
                value=(getFormData 'title')
                onInput=(setFormData 'title')
                isError=(isFieldError 'title')
                placeholder=(getDicoVar "moduleReservationIndex" 'title_placeholder')
                maxLength=140}}
            </div>
          {{/if}}
          <div class="flex-item flex">
            {{#if showBookAs}}
              {{#if userListReady}}
              {{> MbSelect
                class='blue-box'
                selected=(getFormData 'origin')
                label=(getDicoVar "moduleReservationIndex" "book_as")
                onSelect=(setFormData 'origin')
                options=getUsersList}}
              <div class="flex-spacer"></div>
              {{/if}}
            {{/if}}
            {{#unless showNonEdl}}
              {{> MbSelect
                selected=(getFormData 'edlDirection')
                label=(getDicoVar "moduleConcierge" "label_service")
                onSelect=(setFormData 'edlDirection')
                required=true
                options=edlDirectionOptions}}
            {{/unless}}
            {{#if showNonEdlAndEquipment}}
              {{> MbInput
                label=(getDicoVar "moduleReservationIndex" "total_participant_long")
                value=(getFormData 'participantNumber')
                onInput=(setFormData 'participantNumber')
                isError=(isFieldError 'participantNumber')
                maxLength=6}}
              {{#if canInvite}}
                {{#if userListReady}}
                <div class="flex-spacer"></div>
                {{> MbSelect
                  selected=(getFormData 'participants')
                  multiple=true
                  label=(getDicoVar "moduleReservationIndex" "select_participants")
                  onSelect=(setFormData 'participants')
                  help=(getDicoVar "moduleReservationIndex" "participant_help")
                  refresher=getUsersList
                  options=getUsersList}}
                  {{/if}}
              {{/if}}
            {{/if}}
          </div>
          {{#if canInvite}}
          {{#if showNonEdlAndEquipment}}
          <div class="flex-item">
            {{> MbPanel content=(getDicoVar 'commonTranslation' 'add_external_paticipants') }}
          </div>
          {{#each getExternalParticipants}}
          <div class="flex-item flex">
            {{> MbInput
              label=(getDicoVar "commonTranslation" "email")
              value=(getEpData 'email' @index)
              onInput=(setEpData 'email' @index)
              isError=(isEpError 'email' @index)
              maxLength=140}}
            <div class="flex-spacer"></div>
            {{> MbInput
              label=(getDicoVar "commonTranslation" "firstname")
              value=(getEpData 'firstName' @index)
              onInput=(setEpData 'firstName' @index)
              isError=(isEpError 'firstName' @index)
              maxLength=140}}
            <div class="flex-spacer"></div>
            {{> MbInput
              label=(getDicoVar "commonTranslation" "lastname")
              value=(getEpData 'lastName' @index)
              onInput=(setEpData 'lastName' @index)
              isError=(isEpError 'lastName' @index)
              maxLength=140}}
            {{#if canRemoveExternal}}
            <button class="remove-external" data-index="{{@index}}">
              <i class="image-icon minus-icon"></i>
            </button>
            {{/if}}
          </div>
          {{/each}}
          <div class="flex-item add-btn-wrapper">
            <button id="add-external">
              <i class="image-icon plus-icon"></i>
            </button>
          </div>
          {{/if}}
          {{/if}}

          <div class="flex-item time-container" style="margin-bottom: 0;">
          <!--{{#if showNonEdl}}-->
            <!--{{#if isTimePath}}-->
              <!--{{> MbCheckbox checked=(getFormData 'isAllDay') label=(getDicoVar "moduleReservationIndex" "all_day")}}-->
              <!--{{/if}}-->
            <!--{{/if}}-->
            <div class='input-group date' id='start-date'>
                    <span class="input-group-addon">
                        <i class="image-icon calendar-g-icon"></i>
                    </span>
              <input type='text' class="form-control" value="{{getFormattedDate (getFormData 'startHour')}}" />
            </div>
            {{#if showNonEdl}}
              <span class="dash">-</span>
              <div class='input-group date' id='end-date'>
                      <span class="input-group-addon">
                          <i class="image-icon calendar-g-icon"></i>
                      </span>
                <input type='text' class="form-control" value="{{getFormattedDate (getFormData 'endHour')}}" />
              </div>
            {{/if}}
            {{initDatePicker}}
          </div>

          {{#if resource.note}}{{> MbWarning content=resource.note}}<div style="margin-bottom: 23px"></div>{{/if}}

          {{#if isNeedValidation resource}}
            {{#if showNonEdlAndEquipment}}
              {{#if canReserveOther}}
                {{#if haveService}}
                  <div class="flex-item">
                    {{> MbPanel content=(getDicoVar "moduleReservationIndex" "available_services") }}
                  </div>
                  <div class="flex-item">
                    {{#each service in getServices}}
                      <div class="dropdown service-dropdown">
                        {{#if childExist (service)}}
                          <button id="service-{{service.id}}" class="service-parent {{isServiceActive service.id}}" type="button" aria-haspopup="true" aria-expanded="false">
                            {{getServiceName service.id}}
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="service-{{service.id}}">
                            {{#each child in (mergeChild service)}}
                              <li data-parent="{{service.id}}" data-key="{{child.key}}" data-type="{{child.type}}" class="service-child">
                                {{child.value}}
                                <span class="checklist">
                                                <i class="image-icon {{getChildActiveState service.id child.key child.type}}"></i>
                                            </span>
                              </li>
                            {{/each}}
                          </ul>
                        {{/if}}
                      </div>
                    {{/each}}
                  </div>
                {{/if}}
              {{/if}}
            {{/if}}
            <!-- {{else}}
            {{#if showNonEdl}}
                        <div class="flex-item">
                            {{> MbCheckbox getEmailArgs}}
                        </div>
                    {{/if}} -->
          {{/if}}

          {{#if resource.allowMessage}}
            <div class="flex-item">
              {{> MbPanel content=(getDicoVar "moduleConcierge" "write_message") }}
            </div>
            <div class="flex-item">
              {{> React
                value=(getFormData 'message')
                component=MbTextArea
                showLabel=false
                minRow=3
                onChange=(setFormData 'message')
                placeholder=(getDicoVar "moduleReservationIndex" "message_placeholder")
              }}
            </div>
          {{/if}}

        </div>
        {{#if resource.paid}}
          {{#let calculatedPrice=(getCalculatePrice resource)}}
          <div class="right-wrapper white payment-summary">
            {{> MbPanel content=(getDicoVar "commonTranslation" "summary") }}
            <div class="price-section">
              <div class="payment-row">
                <p class="dark-text">{{getDicoVar "commonTranslation" "total_evat"}}</p>
                <p class="dark-text">{{getPrice false calculatedPrice.value true resource.vat}}</p>
              </div>
              <small>{{calculatedPrice.multiplier}} x {{getDurationText resource.paidDuration}}</small>
              <div class="payment-row">
                <p class="light-text">{{getDicoVar "commonTranslation" "vat"}} {{resource.vat}}%</p>
                <p class="light-text">{{getVatPrice calculatedPrice.value resource.vat}}</p>
              </div>
            </div>
            <div class="payment-row total-price">
              <p class="dark-text">{{getDicoVar "commonTranslation" "total_vat"}}</p>
              <p class="dark-text">{{getPrice false calculatedPrice.value}}</p>
            </div>
            <div class="payment-row">
              {{> MbButton
                label=(getDicoVar "moduleReservationIndex" "confirm")
                class=(getButtonClass formNotValid)
                onClick=(confirmPayment)
              }}
            </div>
          </div>
          {{/let}}
        {{/if}}
      </div>
    {{firstValidation}}
  </div>
  {{/with}}

  {{> ReservationModal bookData=getBookData selectedResaId=false paymentConfirmationCb=onConfirm}}

  {{> marketBasketReservationModal isBook=false basketId=null reservationId=getReservationId total=getTotalPrice summaryCustom=getSummaryCutomData onFinish=onPaymentFinish}}

  <div class="modal fade main-modal d-modal" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="error-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>{{getDicoVar "commonTranslation" "careful"}}</h4>
          <button type="button" data-dismiss="modal">
            <i class="image-icon close-icon"></i>
          </button>
        </div>
        <div class="modal-body">
          {{getErrorMessage}}
        </div>
      </div>
    </div>
  </div>
</template>
