<template name="termsOfServices_modal">
  <div id="modal_edit_terms_of_services" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
    {{updateData}}
    <div class="modal-dialog modal-lg">
      <button details="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">
        <div class='modal-content-title'>{{ getDicoVar 'commonTranslation' 'terms_and_conditions_of_service' }}</div>
        <div class="modal-body-container">
          {{#if isOpen}}
            {{#let reservation=getReservation}}
              <div class='service-textarea-wrapper'>
                <div class='service-textarea-container'>
                  {{> React component=MbTextArea
                    minRow=3
                    showLabel=false
                    onChange=(onTermsEdit)
                    value=(getCurrentTerms)
                    placeholder=(concatStr (getDicoVar 'commonTranslation' 'here_goes') (getDicoVar 'commonTranslation' 'terms_and_conditions_of_service'))
                  }}
                </div>
              </div>

              <div class="action-button-container">
                <div class='action-button action-button-fill button-1' data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{ getDicoVar 'commonTranslation' 'loading' }}...">{{ getDicoVar 'commonTranslation' 'save' }}</div>
              </div>
            {{/let}}
          {{/if}}

        </div>
      </div>
    </div>
  </div>
</template>
