<template name='rightsDetails'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <div class="containerManagerList">
    <div class='rightsTitleContainer'>
      <div class='introText'>{{#if $eq getBoard 'manager'}} {{ getDicoVar 'commonTranslation' 'manager_rights' }} {{else}} {{ getDicoVar 'commonTranslation' 'occupant_rights' }} {{/if}}:</div>
      {{> CondoDropDown condoList=getUserCondos condoId=condoIdCb selectAuto=1 noAll=1}}
    </div>
    {{#unless hasNoCondo}}
      {{#if isRoleSelected}}
        {{> MbSelect
          selected=(getRole)
          required=true
          label=(getDicoVar 'commonTranslation' 'role')
          onSelect=(onSelectRole)
          options=(getroleOptions)
          placeholder=(getDicoVar 'commonTranslation' 'select_role')
          refresher=(getRole)
        }}
        <table class="tableRights">
          <thead>
            <th></th>
            <th></th>
          </thead>
          {{#with UserRights=getUserRights}}
          <tbody>
            {{#each right in UserRights.rights}}
              {{#unless iscurrentDisplayingModule right.module}}
                <tr style="background: #f1f5f6;">
                  <td class="moduleRow" colspan="3">
                    {{#if $eq right.module 'view'}}
                      {{getDicoVar 'roleName' (viewName right.module right.displayOrder)}}
                    {{else}}
                      {{getDicoVar 'roleName' right.module}}
                    {{/if}}
                  </td>
                </tr>
              {{/unless}}
              <tr class="roleRight {{#if right.disabled}}disabled{{/if}}">
                <td class="roleRightRight {{#unless isNotFalse (userHasRight right.module right.right getCondoId)}}disabledRight{{/unless}}">{{getRoleRightVal right}}</td>
                <td class="roleRightdefault">
                  <div class="checkboxred">
                    {{#if right.default}}
                      <input type="checkbox" name="{{right.module}}.{{right.right}}.{{right.default}}" checked>
                    {{else}}
                      <input type="checkbox" name="{{right.module}}.{{right.right}}.{{right.default}}">
                    {{/if}}
                    <label class="labelForCheckbox {{#unless isNotFalse (userHasRight right.module right.right getCondoId)}}disabledRight{{/unless}}" data-display="{{getRoleRightVal right}}" for="{{right.module}}.{{right.right}}.{{right.default}}"></label>
                  </div>
                </td>
              </tr>
            {{/each}}
          </tbody>
          {{/with}}
        </table>
      {{else}}
        {{#if hasNoRight}}
          {{>MbEmpty
            title=(getDicoVar 'commonTranslation' 'user_no_right_title')
            subTitle=(getDicoVar 'commonTranslation' 'user_no_right_desc_bis')
          }}
        {{else}}
          {{> loader}}
        {{/if}}
      {{/if}}
    {{else}}
      {{>MbEmpty
        title=(getDicoVar 'commonTranslation' 'user_no_right_title')
        subTitle=(getDicoVar 'commonTranslation' 'user_no_right_desc')
      }}
    {{/unless}}
  </div>
</template>
