.documentsContainer {
    margin: 0 !important;
    padding: 21px 16px !important;
    background-color: white;
    width: 100%;
    height: fit-content;
    position: relative;
    min-height: 1px;
    overflow-x: hidden;
    overflow-y: hidden;

    .search-add_Container {
      & > div:first-child {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        .mb-search-bar {
          width: calc(~'100% - 200px - 16px')
        }

        .uploadDocumentButton {
          width: 200px;
          height: 38px;
          position: absolute;
          right: 0;
          top: -1px;

          .uploadDocument {
            position: absolute;
            right: 0;
            width: 200px;
            height: 38px;
            line-height: 28px;
            text-align: center;
            vertical-align: middle;
            //background-color: var(--button-color);
            background-color: var(--secondary-color);
            color: #fff !important;
            outline: none !important;
            border: none;
            font-weight: 400;
            font-size: 16px;
            padding: 6px 0px;
            border-radius: 0;
            display: inline-block;
          }
        }
      }
      .searchResult {
        padding-top: 16px;
      }
    }

  .containerLine {
    cursor: pointer;
  }
  .containerColumn {
    height: 64px;

    th {
      &.trashColumn {
        width: 100px;
      }

      &::first-letter {
        text-transform: capitalize;
      }
      vertical-align: middle;
      font-family: Lato;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.4px;
      color: #5d5e62
    }
  }
  .lighter {
    color: #8b999f !important;
  }
  .commonColumn {
    vertical-align: middle;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.4px;
    text-align: left;
    color: #5d5e62;
  }
  .pictureColumn {
    height: 44px;
    width: 44px;
    vertical-align: middle;

    .displayPictureImage {

      background-size: cover;
      vertical-align: middle;
      background-position: 50% 50%;

      border-radius: 50%;
      font-size: 20px;
      color: #ffffff;
      line-height: 40px;
      text-align: center;
      display: inline-block;
      position: relative;
      font-weight: 600;
      width: 44px;
      height: 44px;
    }

    .displayPictureName {
      text-transform: uppercase;
      background-color: #69d2e7;
      border-radius: 50%;
      font-size: 20px;
      color: #ffffff;
      line-height: 44px;
      text-align: center;
      font-weight: 300;
      width: 44px;
      height: 44px;
    }
  }
  .firstnameColumn {
    margin-left: 64px;
  }
  .lastnameColumn {
    margin-left: 20px;
  }
  .emailColumn {
    margin-left: 20px;
  }
  .phoneColumn {
    margin-left: 20px;
  }
  .condosColumn {
    margin-left: 20px;
  }
  .trashColumn, .editColumn, .viewColumn {
    text-align: right;
    div {
      cursor: pointer;
      margin-left: auto;
      margin-right: 0;
      width: 24px;
      height: 24px;
    }

  }
  .trashColumn > div {
    background-image: url('img/icons/svg/trash.svg');
    // mask-image: url('img/icons/svg/trash.svg');
  }
  .editColumn > div {
    background-image: url('img/icons/svg/edit.svg');
    // mask-image: url('img/icons/svg/edit.svg');
  }
  .viewColumn > div {
    background-image: url('img/icons/svg/attachment.svg');
    // mask-image: url('img/icons/svg/attachment.svg');
    a {
      width: 100%;
      height: 100%;
      left: 0;
    }
  }
}
