<template name='occupantDocuments'>
  <div class='documentsContainer'>
    {{#let documents=getDocuments}}
      <div class='search-add_Container'>
        <div>
          {{> MbSearchBar placeHolder=(getDicoVar 'commonTranslation' 'title_building') callback=searchCallback}}
          <div class="uploadDocumentButton">
            <a
              type="submit"
              class="uploadDocument"
              data-toggle='modal'
              data-target='#modal_uploadDocument'
            > {{ getDicoVar 'commonTranslation' 'upload_document' }} </a>
          </div>
        </div>
        <div class='searchResult' style='display: none'>
          {{> MbPanel content=(getDicoVar 'commonTranslation' 'search_result')}}
        </div>
      </div>
      <div class='documentsTableContainer'>
        {{#if documents.length }}
          <table class="managerDetailsContainer table">
            <thead>
              <tr class='containerColumn'>
                <th> {{ getDicoVar 'commonTranslation' 'date' }} </th>
                <th> {{ getDicoVar 'commonTranslation' 'title' }} </th>
                <th> {{ getDicoVar 'commonTranslation' 'condo' }} </th>
                <th class='trashColumn'> {{ getDicoVar 'commonTranslation' 'attachment' }} </th>
                <th class='trashColumn'> {{ getDicoVar 'commonTranslation' 'edit' }} </th>
                <th class='trashColumn'> {{ getDicoVar 'commonTranslation' 'delete' }} </th>
              </tr>
            </thead>
            <tbody>
              {{#each documents}}
                <tr documentId='{{this._id}}'>
                  <td class='commonColumn firstnameColumn lighter'>{{humanDateShort this.date}}</td>
                  <td class='commonColumn lastnameColumn lighter'>{{this.title}}</td>
                  <td class='commonColumn emailColumn lighter'>{{this.condoName}}</td>
                  <td class='commonColumn viewColumn'>
                    <div data-documentId='{{this._id}}'>
                      <a href="{{this.fileLink}}?download=true" class="download" target="_blank"></a>
                    </div>
                  </td>
                  <td class='commonColumn editColumn'>
                    <div data-documentId='{{this._id}}'></div>
                  </td>
                  <td class='commonColumn trashColumn'>
                    <div data-documentId='{{this._id}}'></div>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>

        {{else}}
          {{#unless emptySearch}}
            {{> MbEmpty
              title=(getDicoVar 'commonTranslation' 'no_document')
              subTitle=(getDicoVar 'commonTranslation' 'no_document_yet')
              buttonLabel=(getDicoVar 'commonTranslation' 'add_document')
              onButtonClick=addNewDocument
            }}
          {{else}}
            {{> MbEmpty
              title=(getDicoVar 'commonTranslation' 'no_result')
            }}
          {{/unless}}
        {{/if}}
      </div>
    {{/let}}
  </div>
  {{> uploadDocumentModal isEdit=getEditMode documentId=getEditId}}
</template>
