<template name="messenger_contact_list_item">
  {{#let conversation=getContactCardInfo currentConversation=getCurrentConversation}}
  <div class="swipe" id="messenger_contact_list_item">
    {{#if (conversationHasNewElement conversation)}}
      <div class="is-new-conversation"></div>
    {{/if}}
    <div class="flex messenger-item {{#if $eq currentConversation conversation._id}}active{{/if}}" msgid="{{conversation._id}}">
      <div class="chat-hour-container">
        <span class="lastmsg lastmsg-h">{{intelligentDate conversation.lastMsg}}</span>
      </div>
      <div class="chat-container">
        <div class="chat-header">
          <span class="chat-img">
            {{#let userIcon=(getConversationInitial conversation) status=(getUserStatus conversation)}}
              {{#if userIcon.isPicture}}
                <div style="background-image:url('{{userIcon.src}}'), url('/img/anonymous.png')" class="smallprofilepic userIcon"></div>
              {{else}}
                <span class="userIcon">
                  {{userIcon.initial}}
                </span>
              {{/if}}
              {{#if status}}
                <span class="status-indicator {{status}}"></span>
              {{/if}}
            {{/let}}
          </span>
        </div>
        <div class="chat-body">
          <div class="chat-user-container">
            <h5 class="user-detail">
              {{getConversationName conversation}}
            </h5>
            <span class="lastmsg lastmsg-m">{{getConversationLastMessage conversation.lastMsgUserId conversation.lastMsgString}}</span>
          </div>
        </div>
        <div class="chat-footer">
          <div class="icon-wrap">
            <i class="image-icon chevron-r-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/let}}
</template>