@import "/client/style/variable";

#messenger_contact_list_item {
  cursor: pointer;
  .is-new-conversation {
    height: 100%;
    //background: var(--menu-selected-item-color);
    background: var(--primary-color);
    width: 5px;
    position: absolute;
  }
  .messenger-item {
    border-bottom: @grey2 solid 1px;
    display: flex;
    height: 87px;
    flex-direction: column;
    padding-left: 11px;
    .chat-hour-container {
      display: flex;
      flex-direction: row-reverse;
      height: 10px;
      margin-bottom: -10px;
      padding-right: 10px;
      .lastmsg-h {
        position: relative;
        font-family: @lato;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: -0.1px;
        text-align: right;
        color: @grey3;
        white-space: nowrap;
        margin-top: 5px;
      }
      .lastmsg-h.new {
        font-weight: bold;
      }
    }
    .chat-container {
      height: 87px;
      display: flex;
      flex-direction: row;
      .chat-header {
        height: 100%;
        .chat-img {
          display: flex;
          flex: 0.1;
          height: 100%;
          align-items: center;
          position: relative;
          img {
            width: 40px;
            max-height: 40px;
            height: auto;
          }
          .status-indicator {
            position: absolute !important;
            top: 52px !important;
            width: 13px !important;
            height: 13px !important;
            border-radius: 50%;
            display: block;
            border: 2px solid #ffffff;
            left: 28px;
          }
          .status-indicator.offline {
            background: #bbbbbb;
          }
          .status-indicator.online {
            background: #7cc576;
          }
          .status-indicator.idle {
            background: #fdb813;
          }
        }
      }
      .chat-body {
        padding-left: 15px;
        display: flex;
        height: 100%;
        align-items: center;
        .chat-user-container {
          display: flex;
          flex-direction: column;
          h5.user-detail {
            width: 200px;
            font-family: Lato;
            font-size: 17px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #5d5e62;
            margin: 0;
            margin-bottom: 2px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          span.lastmsg-m {
            font-family: @lato;
            font-size: 15px;
            line-height: 1.2;
            letter-spacing: -0.1px;
            text-align: left;
            color: @grey3;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 200px;
          }
        }
        .chat-user-container.new {
          h5.user-detail {
            font-weight: bold;
          }
          p.lastmsg-m {
            font-weight: bold;
          }
        }
      }
      .chat-footer {
        display: flex;
        height: 100%;
        flex: 1;
        align-items: center;
        .icon-wrap {
          flex: 1;
          i {
            height: 30px;
          }
        }
      }
    }
  }
  .active {
    background-color: @paleBlue;
  }
}
