<template name="incident_resident_index">
  {{#if userHasRight "incident" "see"}}
    <div id="module_incident">

      <!-- Modal EvalIncident -->
      <div class="modal right fade main-modal d-modal modal-opt" id="incident_eval_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <button type="button" class="close round-close" data-dismiss="modal">
            <img src="/img/icons/croix_48px.svg" width="36" alt="">
          </button>
          <div class="modal-content">
            <div class="modal-header">
              <div class="modal-heading pull-left">
                <h4 class="modal-title">{{getDicoVar "incidentResidentIndex" "satisfaction"}}</h4>
              </div>
            </div>
            <div class="modal-body">
              <div class="star-container">
                <h3>
                  {{getDicoVar "incidentResidentIndex" "satisfied_with_management"}}
                </h3>
                <br>
                {{#each star in evalStars}}
                  {{#if star.state}}
                    <img style="cursor: pointer" class="evalStar" width="50" src="/img/etoilePleine_48px.svg" myindex="{{@index}}" />
                  {{else}}
                    <img style="cursor: pointer" class="evalStar" width="50" src="/img/etoileCreuse_24px.svg" myindex="{{@index}}" />
                  {{/if}}
                {{/each}}
              </div>
              <div class="form-group">
                <label for="evalComment" style="font-weight: 600">{{getDicoVar "incidentResidentIndex" "observation"}} :
                  <i>({{getDicoVar "incidentResidentIndex" "optional"}})</i>
                </label>
                <textarea rows="5" class="form-control" name="evalComment"></textarea>
              </div>
              {{#if $neq errorMessage ""}}
                <div class="alert alert-danger">
                  {{errorMessage}}
                </div>
              {{/if}}
            </div>
            <div class="modal-footer">
              <div class="text-right">
                <a class="confirmEval btn red_btn" disabled="{{ disableConfirm }}" >{{getDicoVar "incidentResidentIndex" "to_send"}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade right main-modal d-modal modal-opt" id="contactGestionnaire" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <button type="button" class="close round-close" data-dismiss="modal">
            <img src="/img/icons/croix_48px.svg" width="36" alt="">
          </button>
          <div class="modal-content">
            <div class="modal-header">
              <div class="modal-heading pull-left">
                <h4 class="modal-title">{{getDicoVar "incidentResidentIndex" "contact_manager"}}</h4>
              </div>
            </div>
            <div class="incident-details">
              {{#with modalItem}}
                <h4 class="blue-title">{{getDicoVar "incidentResidentIndex" "summary"}}</h4>
                <table class="table" style="width: 100% !important; margin-bottom: 16px;">
                  <thead>
                    <tr>
                      <th>{{getDicoVar "incidentResidentIndex" "subject"}}</th>
                      <th>{{getDicoVar "incidentResidentIndex" "status"}}</th>
                      <th>{{getDicoVar "incidentResidentIndex" "type"}}</th>
                      <th>{{getDicoVar "incidentResidentIndex" "location"}}</th>
                      <th>{{getDicoVar "incidentResidentIndex" "reported"}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="word-break: break-all; text-align: left !important;">
                        {{modalItem.info.title}}
                      </td>
                      <td style="padding: 0 !important;">
                        {{#if $eq modalItem.state.status 1}}
                          <span class="tag-spn tag-blue">{{getDicoVar "incidentResidentIndex" "in_progress"}}</span>
                        {{/if}}
                        {{#if $eq modalItem.state.status 2}}
                          <span class="tag-spn tag-yellow">{{getDicoVar "incidentResidentIndex" "resolved"}}</span>
                        {{/if}}
                        {{#if $eq modalItem.state.status 3}}
                          <span class="label label-default">{{getDicoVar "incidentResidentIndex" "private"}}</span>
                        {{/if}}
                        {{#if $eq modalItem.state.status 0}}
                          <span class="tag-spn tag-red">{{getDicoVar "incidentResidentIndex" "waiting"}}</span>
                          <br>
                          <span class="">
                            <i class="fa fa-lock" aria-hidden="true"></i> {{getDicoVar "incidentResidentIndex" "visibleByYou"}}</span>
                        {{/if}}
                      </td>
                      <td>
                        <img src="{{getIncidentTypePicto modalItem.info.type}}" class="icon-image">
                      </td>
                      <td>
                        <img src="{{getIncidentAreaPicto modalItem.info.zone}}" class="icon-image">
                      </td>
                      <td style="word-break: break-all;">
                        {{humanDate modalItem.createdAt}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              {{/with}}

              <div class="row">
                <div class="col-xs-12">
                  <!--<label class="mb-label">-->
                  <!--{{ getDicoVar 'incidentResidentIndex' 'message' }}-->
                  <!--<i class="image-icon mandatory-icon"></i>-->
                  <!--</label>-->
                  <h4 class="blue-title">{{getDicoVar "incidentResidentIndex" "message"}}</h4>
                  <div class="info-msg-box">
                    <div class="info-msg-box-row">
                      <div>
                        {{> React component=MbTextArea
                        minRow=3
                        onChange=descriptionChange
                        value=getDescriptionValue
                        placeholder=(getDicoVar 'commonTranslation' 'your_message')
                      }}
                      </div>
                    </div>

                    {{> FileList files=getPreviewFiles onRemove=onFileRemoved onFileAdded=onFileAdded }}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  {{#if $neq errorMessage ""}}
                    <div class="alert alert-danger" style='font-size: 18px !important;'>
                      {{errorMessage}}
                    </div>
                  {{/if}}
                </div>
              </div>

              <div class="modal-footer d-flex flex-row align-items-center justify-end" style="padding: 0 !important">
                <span style="margin-right: 10px;">
                  {{> FileUploadButton files=getPreviewFiles onFileAdded=onFileAdded }}
                </span>

                <a class="btn red_btn confirmAction {{#unless canSubmit}}disabled{{/unless}}" style="text-transform: capitalize;" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'moduleClassifiedsList' 'sending'}}...">{{getDicoVar "commonTranslation" "validate"}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade right main-modal d-modal modal-opt" id="incident_detail_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <button type="button" class="close round-close" data-dismiss="modal">
            <img src="/img/icons/croix_48px.svg" width="36" alt="">
          </button>
          <div class="modal-content">
            <div class="modal-header">
              <div class="modal-heading pull-left">
                <h4 style="font-size: 24px; font-weight: 300;" id="myModalLabel">{{getDicoVar "incidentResidentIndex" "incident_details"}}</h4>
              </div>
            </div>
            <div class="incident-details">
              <table class="table">
                <thead height="40px">
                  <tr>
                    <th style="padding: 0 0 4px 0 !important; font-weight: 500 !important;">{{getDicoVar "incidentResidentIndex" "subject"}}</th>
                    <th style="padding: 0 0 4px 0 !important; font-weight: 500 !important;">{{getDicoVar "incidentResidentIndex" "status"}}</th>
                    <th style="padding: 0 0 4px 0 !important; font-weight: 500 !important;">{{getDicoVar "incidentResidentIndex" "type"}}</th>
                    <th style="padding: 0 0 4px 0 !important; font-weight: 500 !important;">{{getDicoVar "incidentResidentIndex" "location"}}</th>
                    <th style="padding: 0 0 4px 0 !important; font-weight: 500 !important;">{{getDicoVar "incidentResidentIndex" "reported"}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="padding: 4px 0 4px 0 !important; word-break: break-all; font-size: 16px !important; color: #8b999f; font-weight: normal;">{{{hyperlink modalItem.info.title}}}</td>
                    <td style="padding: 4px 0 4px 0 !important; font-size: 16px !important; font-weight: normal;">
                      {{#if $eq modalItem.state.status 1}}
                        <span class="tag-spn tag-blue">{{getDicoVar "incidentResidentIndex" "in_progress"}}</span>
                      {{/if}}
                      {{#if $eq modalItem.state.status 2}}
                        <span class="tag-spn tag-yellow">{{getDicoVar "incidentResidentIndex" "resolved"}}</span>
                      {{/if}}
                      {{#if $eq modalItem.state.status 3}}
                        <span class="label label-default">{{getDicoVar "incidentResidentIndex" "private"}}</span>
                      {{/if}}
                      {{#if $eq modalItem.state.status 0}}
                        <span class="tag-spn tag-red">{{getDicoVar "incidentResidentIndex" "waiting"}}</span>
                        <br>
                        <span class="">
                          <i class="fa fa-lock" aria-hidden="true"></i> {{getDicoVar "incidentResidentIndex" "visibleByYou"}}</span>
                        <div class="info-container" style="margin-right: 40px">
                          <div id="show-helper" class="info-bubble fa-stack fa-lg">
                            <i class="image-icon info-icon" aria-hidden="true"></i>
                          </div>
                        </div>
                        <div id="help-windows-{{getLang}}" class="">
                          <div>
                            {{getDicoVar "incidentResidentIndex" "help"}}
                          </div>
                        </div>
                      {{/if}}
                    </td>
                    <td style="padding: 4px 0 4px 0 !important">
                      <img src="{{getIncidentTypePicto modalItem.info.type}}" class="icon-image">
                    </td>
                    <td style="padding: 4px 0 4px 0!important">
                      <img src="{{getIncidentAreaPicto modalItem.info.zone}}" class="icon-image">
                    </td>
                    <td 
                      style="padding: 4px 0 4px 0 !important; 
                        word-break: break-all; 
                        text-align: left !important; 
                        font-size: 16px !important; 
                        color: #8b999f; 
                        font-weight: normal;
                        font-family: Lato;">
                        {{humanDate modalItem.createdAt}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="incident-history">
              <div class="greytitle">
                <span class="greytitlemargin">{{getDicoVar "moduleReservationIndex" "history"}}</span>
              </div>
              {{#each history in modalItem.history}}
                <div style="border-bottom: 1px solid #e0e0e0">
                  {{#if showHistoryItem history}}
                    <div class="history-element">
                      <div class="history-title">
                        <span class="history-element-title">{{getIncidentTitle history.title}}</span>
                        <span class="history-element-date">{{getDicoVar "incidentResidentIndex" "the"}} {{humanDate history.date}}</span>
                      </div>
                    </div>
                    <div>
                      {{#if seeShare history "all"}}
                        <div class="history-element">
                          <span class="manager-title" style="padding: 0 0 0 0 !important;">
                            {{getDicoVar "incidentResidentIndex" "manager_at"}}
                          </span>
                          <span class="manager-title" style="padding: 0 0 0 0 !important; font-weight:800">
                            {{getDicoVar "incidentResidentIndex" "all_residents"}}
                          </span>
                        </div>
                        <div class="history-element">
                          <p class="manager-messaged" style="font-size: 16px;">
                            {{{hyperlink (displayDetails history)}}}
                          </p>
                          {{#if $eq history.share.all.comment ""}}
                            <p class="manager-message" style="font-size: 16px;">-</p>
                          {{else}}
                            <p class="manager-message" style="word-break: break-all !important;font-size: 14px;">
                              {{{hyperlink history.share.all.comment}}}
                            </p>
                          {{/if}}
                        </div>
                      {{/if}}
                      {{#if history.share.all.files.length}}
                        <div class="previewfile">
                          <div class="fileViewerTemplate">
                            {{> React
                                component=MbFilePreview
                                files=(getFiles history.share.all.files)
                                newFiles=(getNewFiles history.share.all.files)
                                layout="5"}}
                          </div>
                        </div>
                      {{/if}}
                      {{#each customRole in (getCustomRoleId history.share "visible")}}
                        {{#with customShareRole=(getCustomShareRole history.share customRole)}}
                          {{#if seeShare history customRole}}
                            <div class="history-element">
                              <span class="manager-title" style="padding: 0 0 0 0 !important;">{{getDicoVar "incidentResidentIndex" "manager"}}</span>
                              <span class="manager-title" style="padding: 0 0 0 0 !important;">{{getDicoVar "incidentResidentIndex" "to"}}</span>
                              <span class="manager-title" style="padding: 0 0 0 0 !important; font-weight:800">{{getRoleName customRole}}</span>
                            </div>
                            <div class="history-element">
                              <p class="manager-messaged" style="font-size: 16px;">{{{hyperlink (displayDetails history)}}}</p>
                              {{#if $eq customShareRole.comment ""}}
                                <p class="manager-message" style="font-size: 16px;">-</p>
                              {{else}}
                                <p class="manager-message" style="word-break: break-all !important; font-size: 14px;">{{{hyperlink customShareRole.comment}}}</p>
                              {{/if}}
                            </div>
                            {{#if customShareRole.files.length}}
                              <div class="previewfile">
                                {{#if customShareRole.files}}
                                <div class="fileViewerTemplate">
                                    {{> React
                                      component=MbFilePreview
                                      files=(getFiles customShareRole.files)
                                      newFiles=(getNewFiles customShareRole.files)
                                      layout="5"}}
                                  </div>
                                {{/if}}
                              </div>
                            {{/if}}
                          {{/if}}
                        {{/with}}
                      {{/each}}
                      {{#if seeShare history "declarer"}}
                        <div class="history-element">
                          <span class="manager-title" style="padding: 0 0 0 0 !important;">{{getDicoVar "incidentResidentIndex" "manager_at"}}</span>
                          <span class="manager-title" style="padding: 0 0 0 0 !important;">{{getDicoVar "incidentResidentIndex" "you"}}</span>
                        </div>
                        <div class="history-element">
                          <p class="manager-messaged"  style="font-size: 16px;">{{{hyperlink (displayDetails history)}}}</p>
                          {{#if $eq history.share.declarer.comment ""}}
                            <p class="manager-message"  style="font-size: 16px;">-</p>
                          {{else}}
                            <p class="manager-message" style="word-break: break-all !important; font-size: 14px;">{{history.share.declarer.comment}}</p>
                          {{/if}}
                        </div>
                        {{#if history.share.declarer.files.length}}
                          <div class="previewfile">
                            {{#if history.share.declarer.files}}
                              <div class="fileViewerTemplate">
                                {{> React
                                  component=MbFilePreview
                                  files=(getFiles history.share.declarer.files)
                                  newFiles=(getNewFiles history.share.declarer.files)
                                  layout="5"}}
                              </div>
                            {{/if}}
                          </div>
                        {{/if}}
                      {{/if}}
                      {{#each c in history.share.custom}}
                        <div class="history-element">
                          <span class="manager-title" style="padding: 0 0 0 0 !important;">{{getDicoVar "incidentResidentIndex" "manager_at"}}</span>
                          {{#each u in c.users}}
                            <span class="manager-title" style="padding: 0 0 0 0 !important;">{{getUsername u}}</span>&nbsp;
                          {{/each}}
                        </div>
                        <div class="history-element">
                          <p class="manager-messaged">{{{hyperlink (displayDetails history)}}}</p>
                          {{#if $eq c.comment ""}}
                            <p class="manager-message">-</p>
                          {{else}}
                            <p class="manager-message" style="word-break: break-all !important;">{{{hyperlink c.comment}}}</p>
                          {{/if}}
                        </div>
                      {{/each}}
                    </div>
                  {{else}}
                    <!-- {{#if showHistoryItem2 history}} -->
                    <div class="history-element">
                      <div class="history-title">
                        <span class="history-element-title">{{getIncidentTitle history.title}}
                          {{#if $lt modalItem.state.status 1}}
                            {{#if showHistoryItem2 history}}({{getDicoVar "incidentResidentIndex" "waiting_valid"}}){{/if}}
                          {{/if}}
                        </span>
                        <span class="history-element-date">{{getDicoVar "incidentResidentIndex" "the"}} {{humanDate history.date}}</span>
                      </div>
                    </div>
                    <div>
                      <div class="history-element">
                        <span class="manager-title" style="padding: 0 0 0 0 !important;">{{getDicoVar "incidentResidentIndex" "resident_at"}}</span>
                        <span class="manager-title" style="padding: 0 0 0 0 !important; font-weight:800">{{getDicoVar "incidentResidentIndex" "manager"}}</span>
                      </div>
                      <div class="history-element">
                        <p class="manager-messaged" style="font-size: 16px;">{{{hyperlink (displayDetails history)}}}</p>
                        {{#if $eq history.share.declarer.comment ""}}
                          <p class="manager-message" style="font-size: 16px;">-</p>
                        {{else}}
                          <p class="manager-message" style="word-break: break-all !important; font-size: 14px;">{{{hyperlink history.share.declarer.comment}}}</p>
                        {{/if}}
                      </div>
                      {{#if history.share.declarer.files.length}}
                        <div class="previewfile">
                          {{#if history.share.declarer.files}}
                            <div class="fileViewerTemplate">
                              {{> React
                                component=MbFilePreview
                                files=(getFiles history.share.declarer.files)
                                newFiles=(getNewFiles history.share.declarer.files)
                                layout="5"}}
                            </div>
                          {{/if}}
                        </div>
                      {{/if}}
                    </div>
                    <!-- {{/if}} -->
                  {{/if}}
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>


      {{#if isSubscribeReady}}
        {{#if $gt incidents.length 0}}
          <table class="table incident resident-incident">
            <thead>
              <tr>
                <th style="max-width: 16px;"></th>
                <th style="padding-left: 16px!important;">{{getDicoVar "incidentResidentIndex" "type"}}</th>
                <th style="padding-left: 16px!important;">{{getDicoVar "incidentResidentIndex" "date"}}</th>
                <th style="padding-left: 16px!important; max-width: 200px;">{{getDicoVar "incidentResidentIndex" "subject"}}</th>
                <!--<th style="padding-left: 16px!important;">{{getDicoVar "incidentResidentIndex" "technician"}}</th>-->
                <th style="width: 25%;">{{getDicoVar "incidentResidentIndex" "intervention"}}</th>
                <th style="padding-left: 18px !important;">{{getDicoVar "incidentResidentIndex" "status"}}</th>
                <th></th>
                {{#if userHasRight "incident" "sendMessage"}}
                  <th style="width: 60px"></th>
                {{/if}}
                {{#if userHasRight "incident" "vote"}}
                  <th style="width: 60px"></th>
                {{/if}}
              </tr>
            </thead>
            <tbody>
              {{#each incident in incidents}}
                <tr class="{{#if $eq incident.state.status 2}}faded{{/if}}">
                  <td class="icon" style="position: relative; max-width: 16px;">
                    {{#if isNewPost incident._id incident.declarer.userId}}
                      <span class="message-unread-manager"></span>
                    {{/if}}
                  </td>
                  <td>
                    <img src="{{getIncidentTypePicto incident.info.type}}" width="64" height="64" alt="icon" class="icon-image">
                  </td>
                  <td>
                    <span>{{humanDateShort incident.createdAt}}</span>
                  </td>
                  <td style="min-width: 100px; max-width: 150px; overflow-wrap: break-word;">
                    <span>{{{hyperlink incident.info.title}}}</span>
                  </td>
                  <td style="width: 25%;">
                    {{#if $eq incident.state.intervention.length 0}}
                      -
                    {{/if}}
                    {{#each date in incident.state.intervention}}
                      <div>
                        {{#if date.active}}
                          {{#if date.undefinedHour}}
                            {{humanDateShort date.date}}
                          {{else}}
                            {{humanDate date.date}}
                          {{/if}}
                        {{else}}
                          <i style="text-decoration: line-through">
                            {{#if date.undefinedHour}}
                              {{humanDateShort date.date}}
                            {{else}}
                              {{humanDate date.date}}
                            {{/if}}
                          </i>
                        {{/if}}
                      </div>
                    {{/each}}
                  </td>
                  <td class="show-helper">
                    {{#if $eq incident.state.status 1}}
                      <span class="tag-spn tag-blue">{{getDicoVar "incidentResidentIndex" "in_progress"}}</span>
                    {{/if}}
                    {{#if $eq incident.state.status 2}}
                      <span class="tag-spn tag-yellow">{{getDicoVar "incidentResidentIndex" "resolved"}}</span>
                    {{/if}}
                    {{#if $eq incident.state.status 3}}
                      <span class="label-default tag-spn">{{getDicoVar "incidentResidentIndex" "private"}}</span>
                    {{/if}}
                    {{#if $eq incident.state.status 0}}
                      <span class="tag-spn tag-red">{{getDicoVar "incidentResidentIndex" "waiting"}}</span>
                      <br>
                      <div class="only-visible-to-you">
                        {{getDicoVar "incidentResidentIndex" "visibleByYou"}}
                      </div>
                      <div class="pop-up-Helper">
                        <span>
                          {{getDicoVar "incidentResidentIndex" "help"}}
                        </span>
                      </div>
                    {{/if}}
                  </td>
                  {{#if userHasRight "incident" "sendMessage"}}
                    <td class="text-center" style="max-width: 50px;">
                      <button incidentId="{{incident._id}}" class="incident-btn contactGestion btn btn-default active">
                        <img style="margin-top: -8px;" src="/img/icons/svg/greyenvelope.svg">
                      </button>
                    </td>
                  {{/if}}
                  {{#if userHasRight "incident" "vote"}}
                    <td class="text-center" style="max-width: 50px;">
                      <button style="{{#if $eq (isOpenEval incident) false}}cursor: not-allowed;{{/if}}" incidentId="{{incident._id}}" class="incident-btn evalIncident btn btn-default {{#if isOpenEval incident}}active{{/if}}"
                        {{hasDisabled (isOpenEval incident) false}}>
                        <img style="margin-top: -8px;" src="/img/icons/svg/greystar.svg">
                      </button>
                    </td>
                  {{/if}}
                  <td class="text-center">
                    <div class="btn-badges btnDetails {{#if incident.history.length}}active{{/if}}">
                      <button incidentId="{{incident._id}}" class="incident-details-btn showDetails btn btn-default">
                        <span class="see-details-txt">{{getDicoVar "incidentResidentIndex" "see_details"}}</span>
                        {{#if $gt (getBadgeValue incident) 0}}
                          <span style="margin: -4px -4px 0 0;" class="badge">{{getBadgeValue incident}}</span>
                        {{/if}}
                      </button>
                    </div>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          <div class="card item">
            <div class="card-block">
              {{> MbEmpty
								title=(getDicoVar "incidentResidentIndex" "empty_title")
								subTitle=(getDicoVar "incidentResidentIndex" "empty_description")
								buttonLabel=(getDicoVar "incidentResidentIndex" "empty_button_label")
								onButtonClick=openIncidentModal
						}}
            </div>
          </div>
        {{/if}}
      {{else}}
        {{> loader}}
      {{/if}}
    </div>
  {{else}}
    {{> MbRestrictedAccess}}
  {{/if}}
</template>
