<template name="module_incident_feed">
    <div class="feedWell">
      <span class="feedLabel">{{getDicoVar "moduleIncidentFeed" "incident"}}</span>
      <div class="feedTitle">
        <h3>
          <div class="pull-right">
            {{#if $eq incident.state.status 1}}
              <span class="label label-primary">{{getDicoVar "moduleIncidentFeed" "in_progress"}}</span>
            {{else}}
              <span class="label label-success">{{getDicoVar "moduleIncidentFeed" "resolved"}}</span>
            {{/if}}
          </div>
          {{incident.info.title}}
        </h3>
        {{!-- {{getDicoVar "moduleIncidentFeed" "the"}}  --}}
        <i>{{humanDate incident.createdAt}}</i>
      </div>
      <hr>
      <div class="feedDetails">
        {{#with last}}
          <h4>{{last.title}}</h4>
          <i>{{getDicoVar "moduleIncidentFeed" "by"}} {{last.name}}</i><br>
          <i>{{getDicoVar "moduleIncidentFeed" "the"}} {{humanDate last.date}}</i>
        {{/with}}
      </div>
    </div>
</template>
