@import "variable.less";

.compo-validate .btn {
    margin: 0 9px 20px 0;
}

.btn-mlg {
    padding: 6px 42px 6px 10px;
}

.btn-blue-inverse {
    color: var(--primary-color);
    background-color: transparent;
    border-color: var(--primary-color);
}

.btn-red-inverse {
    //border: 1px solid var(--button-color);
    border: 1px solid var(--secondary-color);
    //color: var(--button-color);
    color: var(--secondary-color);
    background: transparent;
}

.btn-yellow-inverse {
    border: 1px solid #fdb813;
    color: #f9b814;
    background: transparent;
    &:hover, &:focus, &:active {
      border: 1px solid #fdb813;
      color: #fff;
      background: #f9b814;
    }
}

.btn-grey-inverse {
    color: #8c8d91;
    background-color: #fff;
    border-color: #8a898f;
    &:hover, &:focus, &:active {
      color: #fff;
      background: @grey3;
    }
}

.red_btn.forgot {
    float: left;
    background-color: @blue;
}

.icon-font-btn {
    font-size: 14px;
}

.btn-save embed{
	margin-top: 5px;
}

a.bt {
    padding: 0 15px;
}

a.bt-grey {
    background-color: @grey3;
    color: #fff;
}

a.bt-grey:hover {
    color: #fff;
}


a.bt-sm {
    line-height: 37px;
    border-radius: 0;
    padding: 0 20px;
}

.warning_btn {
    background-color: #f0ad4e;
    color: #fff !important;
    outline: none !important;
    border: none;
    font-weight: 400;
    font-size: 14px;
    padding: 6px 30px;
    border-radius: 0;
    display: inline-block;
    height: 32px !important;
}

.red_btn {
    //background-color: var(--button-color);
    background-color: var(--secondary-color);
    color: #fff !important;
    outline: none !important;
    border: none;
    font-weight: 400;
    font-size: 14px;
    padding: 6px 30px;
    border-radius: 0;
    display: inline-block;
    height: 32px !important;

    &.red_btn-lg {
        padding: 10px 30px;
        height: 38px !important;
    }

    &[disabled] {
        background-color: gray;
        opacity: .65;
        cursor: not-allowed;
    }

    &.btn-xs {
      line-height: 30px;
      border-radius: 0;
      padding: 0 10px;
      font-size: 10px;
    }
}

.red_btn_active {
  cursor: pointer;
  height: 32px;
  background: none !important;
  border: 1px solid @red !important;
  color: @red !important;
  height: 32px !important;
}

.report_btn {
    background: transparent;
    color: @red !important;
    font-size: 30px;
    padding: 9px 0;
}
.report_btn:hover,
.report_btn:focus {
  color: @red !important;
}

.circle-btn{
    width: 32px;
    height: 32px;
    line-height: 36px;
    border-radius: 50%!important;
    border: none;
    background: @red;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
 }

.icon-circle{
    width: 28px;
    height: 28px;
    padding: 2px 0 !important;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color: #fff;
    text-align: center;
}

.red-bg{
    background-color: @red;
}

.icon-circle:hover, .icon-circle:focus{
    color: @wt;
}

.attachment-icon{
    padding: 1px;
    img{
        margin: 0px !important;
    }
}

.table-address .btn-primary:hover, .table-address .btn-primary:focus{
    color: @wt !important;
    //border-color: var(--button-color) !important;
    border-color: var(--secondary-color) !important;
    a{
        color: @wt;
    }
}

.btn-text {
    cursor: pointer;
    padding: 6px 0;
    display: inherit;
    font-family: Lato, serif;
    font-size: 16px;
    letter-spacing: -0.4px;
    text-align: left;
    color: #8b999f;
    border: 0 !important;
    outline: none;
    background: transparent;
}

.btn-red {
    //background-color: var(--button-color);
    background-color: var(--secondary-color);
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    cursor: pointer;

    &:hover,
    &:focus {
        color: #fff;
    }

    &:disabled {
        background: gray;
    }
}

////////////////////////////////////////////////////////////////
//
//                  RESPONSIVE RED BOUTON
//
////////////////////////////////////////////////////////////////

@media screen and (max-width: 768px) {
    .respoBtnForum{
        button {
            margin-top : 10px !important;
        }
    }
}

@media (max-width: 680px) {
    #trombiButton{
        float: left !important;
        .per-s-list{
            float: left;
            margin-top: 10px !important;
        }
    }
}
@media (max-width: 668px){
    .respoBtnIncident{
        button{
            margin-top: 10px !important;
        }
    }
}

@media (max-width: 632px) {
    .repsonBtnClassifields{
        button{
            margin-top: 10px !important;
        }
    }
}

@media (max-width: 600px) {
    .BtnInfoRespon{
        button{
            margin-top: 10px !important;
        }
    }
}


@media (max-width: 462px) {
    .occupantButton{
        .per-s-list{
            margin: 0 0 !important;
        }
        #afficherModal{
            margin-top: 10px !important;
            margin-left: 0 !important;
        }
    }
}


@media (max-width: 412px) {
    .eventButton{
        .per-s-list{
            margin: 0 0 !important;
        }
        #new-post{
            margin-top: 10px !important;
            margin-left: 0 !important;
        }
    }
    .ressourceButton{
        .per-s-list{
            margin: 0 0 !important;
        }
        #modalAddResource{
            margin-top: 10px !important;
            margin-left: 0 !important;
        }
    }
    #gestEDL{
        float: left !important;
        div{
            margin: 0;
        }
        a{
            margin: 10px 0;
        }
    }
}

@media (max-width: 405px) {
    .repondBtnResa{
        button{
            margin-top: 10px !important;
        }
    }
    .informationbutton{
        .per-s-list{
            margin: 0 0 !important;
        }
        #modalAddInformation{
            margin-top: 10px !important;
            margin-left: 0 !important;
        }
    }
}


@media (max-width: 479px) {
    #gestIncident{
        float: left !important;
        div{
            margin: 0;
        }
        a{
            margin: 10px 0;
        }
    }
}


















