@import "variable.less";

i.image-icon {
  display: block;
  background-image: url("img/icons/search.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
i.search-icon {
  background-image: url("img/icons/search.png");
}
i.edit-icon {
  background-image: url("img/icons/edit.png");
}
i.mandatory-icon {
  background-image: url("img/icons/mandatory.png");
}
i.checked-icon {
  background-image: none;
  -webkit-mask: url("img/icons/svg/checked2.svg") no-repeat 100% 100%;
  mask: url("img/icons/svg/checked2.svg") no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  //background-color: var(--button-color);
  background-color: var(--primary-color);
}
i.unchecked-icon {
  background-image: url("img/icons/unchecked.png");
}
i.plus-icon {
  background-image: none;
  -webkit-mask: url("img/icons/svg/addtimes.svg") no-repeat 100% 100%;
  mask: url("img/icons/svg/addtimes.svg") no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--primary-color);
}
i.three-dot {
  background-image: none;
  -webkit-mask: url("img/icons/svg/more-red.svg") no-repeat 100% 100%;
  mask: url("img/icons/svg/more-red.svg") no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--secondary-color);
}
i.attention-icon {
  background-image: url("img/icons/attention.png");
}
i.attach-icon {
  background-image: url("img/icons/attachment.png");
}
i.trash-icon {
  background-image: url("img/icons/trash.png");
}
i.minus-icon {
  background-image: none;
  -webkit-mask: url("img/icons/svg/minus.svg") no-repeat 100% 100%;
  mask: url("img/icons/svg/minus.svg") no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--primary-color);
}
i.clock-icon {
  background-image: url("img/icons/clock.png");
}
i.return-icon {
  background-image: url("img/icons/continued.png");
}
i.close-icon {
  background-image: url("img/icons/close.png");
}
i.building-icon {
  background-image: url("img/icons/building.png");
}
i.calendar-icon {
  background-image: none;
  -webkit-mask: url("img/icons/svg/calendar-red.svg") no-repeat 100% 100%;
  mask: url("img/icons/svg/calendar-red.svg") no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  //background-color: var(--button-color);
  background-color: var(--secondary-color);
}
i.calendar-g-icon {
  background-image: url("img/icons/calendar-grey.png");
}
i.list-icon {
  background-image: none;
  -webkit-mask: url("img/icons/svg/list-red.svg") no-repeat 100% 100%;
  mask: url("img/icons/svg/list-red.svg") no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  //background-color: var(--button-color);
  background-color: var(--secondary-color);
}
i.ical-icon {
  background-image: url("img/icons/ical.png");
}
i.outlook-icon {
  background-image: url("img/icons/outlook.png");
}
i.info-icon {
  background-image: url("img/icons/info.png");
}
i.gcal-icon {
  background-image: url("img/icons/gcal.png");
}
i.location-icon {
  background-image: url("img/icons/location.png");
}
i.chevron-r-icon {
  background-image: url("img/icons/chevron.svg");
}
i.add-occupant-icon {
  background-image: url('img/icons/svg/addoccupant.svg');

  // background-image: none;
  // -webkit-mask: url("img/icons/svg/addoccupant.svg") no-repeat 100% 100%;
  // mask: url("img/icons/svg/addoccupant.svg") no-repeat 100% 100%;
  // -webkit-mask-size: cover;
  // mask-size: cover;
  // //background-color: var(--button-color);
  // background-color: var(--secondary-color);
}
i.mobile-icon {
  background-image: url("img/icons/mobile.png");
}
i.seat-icon {
  background-image: url("img/icons/chair-tiny.png")
}
i.poll-icon {
  background-image: none;
  -webkit-mask: url("img/icons/svg/poll.svg") no-repeat 100% 100%;
  mask: url("img/icons/svg/poll.svg") no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--primary-color);
}
i.post-icon {
  background-image: none;
  -webkit-mask: url("img/icons/svg/post.svg") no-repeat 100% 100%;
  mask: url("img/icons/svg/post.svg") no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--primary-color);
}

.mb-error-message {
  margin-top: 15px;
  margin-bottom: 0;
  color: #fe0900;
}

.v-spacer {
  margin-bottom: 15px!important;
}

.mb-caret {
  margin: 0;
  border: none;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("/img/icons/svg/chevronDropdown.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  right: 8px;
}

.anti-scroll-x {
  overflow-x: hidden!important;
}

.dropdown-menu > li > a:hover {
  color: #fff;
  //background-color: var(--button-color);
  background-color: var(--secondary-color);
}

.the-back-button {
  background: none;
  border: none;
  color: #8b999f;
  padding: 0;
  margin-top: 7px;
}

.mb-relative {
  position: relative;
}

/* remove X from locked tag */
.locked-tag .select2-selection__choice__remove{
  display: none!important;
}

/* I suggest to hide  all selected tags from drop down list */
.select2-results__option[aria-selected="true"]{
  display: none;
}

.mb-back-button {
  background: none;
  border: none;
  color: @grey3;
  padding: 0;
  margin-top: 7px
}

#reservation-page, #information-page, .mb-event-list {
  .datepicker-inline {
    .datepicker-days {
      .table-condensed {
        font-family: 'Lato', 'Source Sans Pro', sans-serif;
        background-color: @wt;

        thead {
          tr:nth-child(2) {
            text-transform: uppercase;
            background-color: @wt;

            th, th:hover {
              font-size: 14px;
              font-weight: 500;
              text-align: center;
              color: @grey3;
              padding-top: 11px;
              padding-bottom: 11px;
              text-transform: uppercase;
              background-color: @wt;
            }
          }
          tr:nth-child(3) {
            th {
              font-size: 12px;
              letter-spacing: 0.9px;
              text-align: center;
              color: @grey3;
              padding-top: 11px;
              padding-bottom: 20px;
            }
          }
        }

        tbody {
          tr {
            td.day {
              font-size: 14px;
              letter-spacing: -0.3px;
              color: @slategrey;
            }
            td.active {
              text-shadow: none;
            }
            td.old.day, td.new.day {
              color: @grey3;
            }
            td.day.booked-date {
              position: relative;
            }
            td.day.booked-date:after {
              content: '';
              //background-color: var(--menu-selected-item-color);
              background-color: var(--primary-color);
              width: 4px;
              height: 4px;
              border-radius: 50%;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }
    }
  }
}
//preset color
html, body{
  color: @grey5;
}

//--- sidebar ---
.nav-side-menu{
  z-index: 11;
}
//--- end of sidebar --

//--- scrollbar ---
::-webkit-scrollbar-track{
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
  width: 8px;
  background-color: #d3dde8;
  border-radius: 10px;
}
//--- end of scrollbar ---

//--- sub tool bar ---

.panel .panel-heading .sub-tool-bar h1.pull-left{
  @media screen and (max-width: 767px){
    margin-bottom: 10px;
  }
}
//--- end of sub tool bar --

//--- page contact ---
.card.contact .card.card-sidebar .card-header{
  font-weight: 600;
  padding-right: 35px;
  font-size: 12px;
  padding-left: 10px;
}

.card.contact .card-sidebar .form-search{
  font-size: 12px;
  box-shadow: none;
  padding: 5px 10px 5px 37px;
  border-color: @border;
}

.card.contact .card-sidebar .form-group .btn{
  padding: 5px 5px 5px 10px;
}

.card.contact .card-main .card-header{
  font-weight: 600;
}

.card.contact .card-main .custom-radio.incident .custom-control-description, .card.contact .card-main .custom-radio.facture .custom-control-description, .card.contact .card-main .custom-radio.demand .custom-control-description{
  font-size: 13px;
}

.card.contact .card-main .custom-control-input:checked ~ .custom-control-description{
  font-weight: 700;
  white-space: nowrap;
}

.card.contact .card-main .custom-radio.details .custom-control-description{
  margin: 1.5em 0 1em;
}

.card.contact .card-main .custom-radio .custom-control-description{
  font-size: 13px;
}

.card.contact .card-main .custom-control-input:checked ~ .custom-control-indicator{
  //-webkit-box-shadow: 0 0 0 0px @wt, 0 0 0 3px var(--button-color);
  //box-shadow: 0 0 0 0px @wt, 0 0 0 3px var(--button-color);
  -webkit-box-shadow: 0 0 0 0px @wt, 0 0 0 3px var(--secondary-color);
  box-shadow: 0 0 0 0px @wt, 0 0 0 3px var(--secondary-color);
}

.text-note-gray{
  color: @grey;
  font-size: 11px !important;
}

.message-form .message_write{
  padding: 0px;
}

.message-form .attachment-icon{
  padding: 2px;
}

.message-form .button-red{
  padding: 8px 29px;
  font-size: 15px;
  border-radius: 2px !important;
  margin-top: 10px;
  width: auto;
}
//--- end of page contact --

//--- incident ---

.tag-spn{
  line-height: normal;
}

.tag-spn-block {
  display: block;
  text-align: center;
}

.tag-blue{
  background-color: var(--primary-color) !important;
}

.tag-tosca{
  background-color: @bluelight2 !important;
}

.tag-red {
    background-color: var(--secondary-color) !important;
}

#module_incident tbody tr td{
  font-size: 13px;
  border-bottom: 1px solid @grey2;
}

.table-header-panel .d-panel-body{
  padding: 5px 20px;
}

.img-circle-avatar{
  padding: 6px;
  embed{
    max-width: 100%;
    vertical-align: middle;
  }
}

.circle-icon-list li h3{
  font-size: 14px;
  font-weight: 400;
}

.spinner {
    width: 60px;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 2%;
    vertical-align: middle;
    display: table-cell;
}

.d-btn-group > .btn-item {
    display: inline-block;
    vertical-align: top;
    border-left: 1px solid @grey;
}

.input-group-btn-vertical i{
    position: absolute;
    top: -4px;
    left: -4px;
    color: @grey3;
}

.form-horizontal table.d-pop1 .checkbox {
    padding-top: 0;
}

#module_incident .modal table.d-pop1 tr:nth-last-child(2) td{
  border: none;
  table{
    margin-bottom: 0px;
    td{
      border: none;
    }
  }
}

#module_incident .modal table.d-pop1 tr:last-child td{
  border: none;
}
/*
.date-link{
  color: @grey3;
  background: url('img/arrow_down_down_24px.png') no-repeat right center;
}
*/
.date-link.on{
  background: url('img/arrow_drop_down_24px.svg') no-repeat right center;
  background-size: 11%;
}

.date-link:focus {
  color: @grey3;
}

.no-border .date-link:hover{
  color: @grey3;
  background: url('img/arrow_up_down_24px.svg') no-repeat right center;
  background-size: 11%;
}

//--- end of incident ---

//--- resident incident ---
.resident-incident{
  thead{
    tr{
      th{
        text-transform: uppercase;
        text-align: left;
        padding-bottom: 12px;
        border: none !important;
        vertical-align: middle;
      }
      th:first-child{
        padding-left: 30px;
      }
    }
  }
  tbody{
    tr{
      padding-bottom: 10px;
      box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.08);
      background-color: @wt;
      td{
        text-align: left;
        vertical-align: middle;
        border: none !important;
        padding: 10px 15px;
        img.icon-image{
          width: 64px;
          height: 64px;
          object-fit: cover;
          border-radius: 50%;
          background-color: @bluelight3;
        }
        span.label{
          display: inline-block;
          margin-bottom: 3px;
          margin-right: 4px;
          padding: 5px 10px;
          font-size: 10px;
          font-weight: 400;
        }
        .evalIncident.active{
          opacity: 1;
        }
        .contactGestion.active{
          opacity: 1;
        }
        .btnDetails.active{
          opacity: 1;
        }
        .evalIncident.disabled{
          opacity: 0.5;
        }
        .contactGestion.disabled{
          opacity: 0.5;
        }
      }
      td:first-child{
        padding-left: 30px !important;
      }
    }
    tr.faded{
      background-color:rgba(255,255,255,0.5);
      box-shadow: none;
    }
    tr.faded td > * {
        opacity: 0.5
    }
  }
}

.modal-opt{
  .blue-title{
    color: var(--primary-color);
    margin: 0px;
  }
  .d-panel{
    .d-panel-head{
      h3{
        padding-left: 30px;
        text-align: left;
        font-weight: 600;
      }
      h3.full{
        float: left;
        width: 100%;
        .pull-right{
          padding-right: 30px;
          font-weight: 400;
        }
      }
    }
    .d-panel-body{
      min-height: auto !important;
      padding: 5px 30px;
      table{
        tr{
          td{
            font-size: 12px !important;
            line-height: normal !important;
            padding: 10px 0 !important;
            vertical-align: top;
            span.label{
              font-weight: 600;
              text-transform: none;
              font-size: 10px !important;
              padding: 5px 10px !important;
              display: inline-block;
            }
            p{
              font-size: 12px;
            }
          }
          td:first-child{
            color: @black2;
            font-weight: 600;
          }
        }
      }
    }
  }
}
//--- end of resident incident ---

.back-to-link{
  background: url('img/backto_left.png') left center no-repeat;
  padding: 0px 0 2px 15px;
  display: inline-block;
  margin-top: 14px;
  font-size: 14px;
  color: @grey3;
}

.label-success{
  background-color: #7cc576;
}

.overflow{
  overflow: auto;
}

label.segment-title{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.semibold{
  font-weight: 600 !important;
}

// contact //
.d-des-contacts{
  .multi-select{
    margin-bottom: 20px;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__choice{
    //background-color: var(--accent-color);
    background-color: var(--primary-color);
    font-weight: 600;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    float: right;
    font-size: 30px;
    color: @wt;
    font-weight: 300;
    margin-left: 6px;
  }
}

// profile //
.card.profile{
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.2) !important;
  .subtitle{
    margin-top: 0px;
  }
}

.shadowed{
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.2) !important;
}

#backProfile{
  padding-left: 15px;
}

.blue-text{
  color: @blue;
}

#forgotForm, #resetForm {
  p.text, ol.text {
    color: #6a6a6c;
  }
}

.break-line {
  white-space: pre-line;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
