@import "variable.less";

//--- navbar---
.navbar-brand em {
    color: @red;
    margin-left: -3px;
    font-size: 15px;
}
//--- end of navbar --

//-- custom navbar ---
.enterpriseLogo {
  background-image: url(/logo/enterpriseLarge.png);
  width: calc(~'100% - 182px');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}
.customNavbar {
    z-index: 1001;
    border-radius: 0;
    border: none;
    background: #fff!important;
    //border-bottom: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--primary-color);
    height: 60px;
    color: @grey3;
    position: fixed;
    width: 100%;
    top: 0;
    margin-bottom: 0;
}

.customNavbar .navbar-collapse, .customNavbar .navbar-form {
	background-color: transparent;
	border-color: #69d2e7;
}

.customNavbar .resident-dropdown {
	margin: 0px 5px;
	padding: 6px 0;
}
.customNavbar .resident-dropdown a.dropdown-toggle {
	margin-top: 0;
	margin-left: 0px;
	margin-right: 0;
}
.customNavbar .resident-dropdown .dropdown-menu a {
	margin: 0;
}
.customNavbar .user-dropdown {
	padding: 6px 0px;
}
.customNavbar .user-dropdown a.dropdown-toggle {
	padding: 5px 0;
	padding-left: 44px;
	display: block;
	height: 44px;
	line-height: 36px;
	position: relative;
	text-decoration: none;
	color: @grey3;
	font-weight: 500;
}
.customNavbar .user-dropdown a.dropdown-toggle:after {
	display: none;
}
.customNavbar .user-dropdown.open a { background: none; }
.customNavbarButton {
	border: none;
	background-color: transparent !important;
	padding: 14px 10px;
}

.customNavbar img {
	height: 30px;
	/*width: auto;*/
}
.customNavbar .dropdown {
    margin: 0px 10px 0 8px;
    padding: 8px 8px 8px 0;
}

.customNavbar .dropdown > a {
	margin-left: 6px;
	display: inline-block;
	line-height: 40px;
	color:#555;
}

.customNavbar.gestionnaire .dropdown > a {
	//margin-left: 0;
	//font-size: 16px;
	//text-transform: none;
	//display: inline-block;
	padding-left: 0;
	line-height: 26px;
	color:#555;
}

.customNavbar ul li > a {
    margin: 0px 5px;
    padding: 7px 15px;
}
.nav-item > button,
.nav-item > img {
  cursor: pointer;
}
.nav-item > img {
    margin: 13px 12px;
}

.report > i {
    font-size: 30px;
    padding: 15px 0;
    color: @red;
    cursor: pointer;
}
.nav-link {
  padding: 18px 5px !important;
}
//--- end of custom navbar ---
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: #fff;
}
// ------ users header -----
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    //background: var(--accent-color);
    background: var(--primary-color);
    display: inline-block;
    // float: left;
    position: relative;
    font-weight: 600;
}

.circleSmall {
  	width: 13px;
  	height: 13px;
  	border-radius: 50%;
  	background: #7cc576;
  	display: block;
  	border: 2px solid #fff;
  	position: absolute;
  	top: 37px;
  	left: 27px
}
//----- end of user header -----
