@import "variable.less";

.form-control{
	box-shadow: none;
	border: 1px solid @border;
	&:focus{
		outline: none !important;
		box-shadow: none;
		border: 1px solid @border;
	}
}

.height90{
	height: 90px !important;
}

.checkbox.excpt{
	label{
		padding-left: 0px;
	}
}

.checkboxred {
	min-width: 22px;
	height: 22px;
	margin: 0 3px 0 0;
	display: inline-block;
	position: relative;
	input[type=checkbox]{
		display: none;
	}
	label {
		cursor: pointer;
		position: absolute;
		width: 22px;
		height: 22px;
		top: 6px;
	  left: 0;
		background: @wt;
		border:1px solid @grey2;
		border-radius: 50%;
		min-height: auto;
		background-color: #fff;
	}
	label:not(.disabledRight):after {
		opacity: 0;
		content: '';
		position: absolute;
		width: 13px;
		height: 7px;
		top: 4px;
		left: 3px;
		border: 2px solid #fff;
		border-top: none;
		border-right: none;

		transform: rotate(-45deg);
	}

	input[type="checkbox"]:checked + label {
    //background-color: var(--menu-selected-item-color);
    //border: 2px solid var(--menu-selected-item-color);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
	}
	input[type=checkbox]:checked + label:after {
		opacity: 1;
	}
}

.checkboxred.child{
	margin-left: 30px;
}

.checkboxred16 {
	min-width: 16px;
	height: 16px;
	margin: 0 3px 0 0;
	display: inline-block;
	position: relative;
	input[type=checkbox]{
		display: none;
	}
	label {
		cursor: pointer;
		position: absolute;
		width: 16px;
		height: 16px;
		top: 2px;
	  	left: 0;
		background: @wt;
		border:1px solid @grey2;
		border-radius: 50%;
		min-height: auto;
		background-color: #fff;
	}
	label:after {
		opacity: 0;
		content: '';
		position: absolute;
		width: 10px;
		height: 5px;
		top: 2px;
		left: 1px;
		border: 2px solid #fff;
		border-top: none;
		border-right: none;
		transform: rotate(-45deg);
	}

	input[type="checkbox"]:checked + label {
    //background-color: var(--menu-selected-item-color);
    //border: 2px solid var(--menu-selected-item-color);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
	}
	input[type=checkbox]:checked + label:after {
		opacity: 1;
	}
}

.checkboxred16.child{
	margin-left: 30px;
}

.wrap-attach{
	padding: 0px !important;
	position: relative;
	margin: 5px 0;
	textarea{
	    padding-right: 35px;
	}
	.icon-circle{
		position: absolute;
		top: 5px;
		right: 5px;
		i{
			vertical-align: top;
		}
	}
}

select.form-control{
	padding-right: 30px;
}
