@import "variable.less";

a:focus, a:hover {
    color: var(--secondary-color);
}

.de-messages {
    background-color: @wt;
    //box-shadow: 0 0 11px rgba(0, 0, 0, 0.2) !important;
    .d-top-head {
        padding-left: 30px;
        padding-right: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    .d-top-head > * {
        display: inline-block;
        vertical-align: middle;
        padding: 10px;
        font-size: 12px;
        color: #69686d;
    }
    .d-top-head > *:first-child{
        padding-left: 0;
    }
    .d-top-head > *:last-child{
        padding-right: 0;
    }
    .d-top-head > .inn-area:nth-of-type(1){
        width: 25%;
    }
    .d-top-head {
        .inn-area.resident-head {
            width: 80%;
        }
    }
    //.d-top-head > .inn-area:nth-of-type(2){
    //    width: 30%;
    //}
    .d-top-head > .inn-area:nth-of-type(3){
        width: 5%;
    }
    .d-top-head > .inn-area:nth-of-type(4){
        width: 35%;
    }
    .d-top-head > .inn-area:nth-of-type(5){
        width: 3%;
    }
    .d-top-head >.inn-area > div {
        text-transform: uppercase;
        font-weight: 600;
    }
    .d-top-head >.inn-area > div > span{
        text-transform: initial;
        font-weight: 600;
    }
    .d-top-head > .inn-area > .msg-user{
        /*display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 1199px){
            display: block;
        }*/
    }
    .d-top-head > .inn-area > .msg-user span:first-child{
        float: left;
    }
    .d-top-head > .inn-area > .msg-user span:nth-child(2){
        /*flex: 0.7;
        font-weight: 600;
        @media screen and (max-width: 1199px){
            display: block;
            padding-left: 0px;
            margin-top: 10px;
        }*/
        display: block;
        padding-left: 10px;
        font-weight: 600;
        padding-top: 4px;
    }
    .d-top-head > .inn-area > .msg-user span:nth-child(3){
        display: block;
        padding-left: 10px;
        font-weight: 600;
    }

    .msg-received > * {
        display: inline-block;
        vertical-align: middle;
    }

    .d--msg{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .d--msg > *{
        display: inline-block;
        vertical-align: top;
    }
    .d--msg > p, .d--msg > textarea {
        //width: 55%;
        width: calc(~"100% - 150px");
        padding-top: 8px;
        word-wrap: break-word;
    }
    .msg-received.d--msg > p, .msg-received.d--msg > textarea {
        padding-left: 20px;
    }
    .msg-received.d--msg > time {
        float: right;
    }
    .d--msg > time {
        padding-top: 8px;
    }
    .d-main-msgs-area {
        padding-top: 10px;
        height: 370px;
        overflow-y: scroll;
    }

    .d-main-msgs-area::-webkit-scrollbar{
        width: 6px;
        height: 6px;
        background-color: @wt;
    }

    .d-main-msgs-area::-webkit-scrollbar-track{
        background-color: @wt;
    }

    .d-main-msgs-area::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: #e6e6e6;
    }

    .msg-newUSer {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        .msg-newUserContainer {
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
            position: relative;
            border: 1px solid #e3e9ea;
            background-color: #e3e9ea;
            border-radius: 25px;
            min-height: 52px;
            & > * {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding: 5px;

            }
            span:first-child {
                margin-top: 10px;
                display: block;
            }
            span:last-child {
                margin-bottom: 10px;
                display: block;
            }
        }
    }
    .msg-sent.d--msg {
        text-align: right;
        background-color: white;
    }

    .msg-sent.d--msg,
    .msg-received.d--msg {

        table.table-striped {
            text-align: inherit;
            margin-top: 5px;
            tbody {
                tr {
                    background-color: transparent;
                    td {
                        border: 0;
                        padding: 0;
                        a {
                            padding-left: 5px;
                        }
                    }

                    td:before {
                        content: ' ';
                        background-image: url("/img/icons8-o-24.png");
                        background-position: center center;
                        background-size: cover;
                        width: 16px;
                        display: inline-block;
                        height: 16px;
                        margin-bottom: -4px;
                    }
                }
            }
        }
    }

    .msg-sent.d--msg > p, .msg-sent.d--msg > textarea {
        padding-right: 20px;
    }
    .msg-sent.d--msg > time{
        float: left;
    }
    .d-msg--reply form > textarea {
        width: 100%;
        border: 1px solid @grey;
        padding-left: 10px;
        padding-top: 10px;
        min-height: 117px;
        border-radius: 2px;
        color: @grey;
    }
    .messengerMessage{
        cursor: default !important;
    }
    .d-msg--reply {
        border-top: solid 1px rgba(0, 0, 0, 0.125);
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    .d-msg--reply .form-button > a {
        position: relative;
        top: 5px;
        margin-right: 6px;
    }
    .d-msg--reply .form-button > button{
        font-size: 12px;
    }
    .main-thread {
        //border-right: 1px solid #88898e;
    }
    .msg-wrap {
        padding-right: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.125);
        @media screen and (max-width: 991px){
            padding-right: 15px;
            border-right: none;
        }
    }

    .col-lg-3.col-md-3.de-participants {
        padding-left: 0;
        @media screen and (max-width: 991px){
            padding-left: 15px;
        }
    }
    .prt-head {
        border-bottom: 1px solid #e5e4e9;
        padding: 15px;
        //margin-right: 20px;

        span.pull-right {
            //margin-right: -10px;
        }
    }
    .prt-head > h4 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        color: @grey3;
        margin: 0;
        line-height: 30px;
    }
    .de-prt {
        padding:10px;
        //margin-right: 20px;
        border-bottom: 1px solid #e5e4e9;
    }
    .de-prt > a {
        display: block;
    }
    .de-prt > a > img {
        border-radius: 50%;
        margin-right: 10px;
    }
    .de-prt > a > div > h4{
        margin: 0;
        color: @grey3;
        font-size: 14px;
        font-weight: 600;
        padding-top: 3px;
    }
    .de-prt > a > div > span{
        font-size: 13px;
        color: @grey3;
        font-weight: normal;
        display: inline-block;
    }
    .de-prt > a > div > div > h4{
        margin: 0;
        color: @grey3;
        font-size: 14px;
        font-weight: 600;
        padding-top: 3px;
    }
    .de-prt > a > div > div > span{
        font-size: 13px;
        color: @grey3;
        font-weight: normal;
        display: inline-block;
    }
    .prt-head > span > i.material-icons {
        line-height: 29px;
    }
    /*-- Common classes ----*/
    .pt-30{
        padding-top: 30px !important;
    }
    .pt-40{
        padding-top: 40px !important;
    }
    table.table.d-contacts-table > thead > tr > th {
        padding-bottom: 0;
    }
    .mt-400{
        margin-top: 400px;
    }
    .panel-body-scroll {
        height: 315px;
        overflow-y: scroll;
    }
    .msg-user > span:nth-of-type(2){
        padding-left: 10px;
    }
}

.msg-chat-body, .d-main-msgs-area {

    .d--msg {
        display: flex;
        padding-left: 16px;
        padding-right: 8px;

        time {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: @grey3;
        }
    }

    .msg-sent.d--msg {
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        p {
            width: 60%;
            background-color: var(--column-background-color);
            border-radius: 15px 15px 0 15px;
            padding: 14px;
            margin: 0;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.4px;
            text-align: left;
            color: @wt;
            /* These are technically the same, but use both */
            overflow-wrap: break-word;
            word-wrap: break-word;

            -ms-word-break: break-all;
            /* This is the dangerous one in WebKit, as it breaks things wherever */
            word-break: break-all;
            /* Instead use this non-standard one: */
            word-break: break-word;

            /* Adds a hyphen where the word breaks, if supported (No Blink) */
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }

        textarea {
            padding: 16px;
            border-radius: 15px 15px 0 15px;
        }

        .dropdown {
            position: absolute;
            top: 5px;
            right: 35px;

            .fa {
                font-size: 14px;
            }
        }
    }

    .msg-received.d--msg {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

        .user-online {
            margin-bottom: 15px;
        }

        .msg-received-wrap {
            margin-left: 8px;
            width: 100%;
            .msg-bubble {
                width: 60%;
                background-color: #F1F5F6;
                border-radius: 15px 15px 15px 0;
                padding: 16px;
                i {
                    font-weight: normal;
                }
                h4, p {
                    font-family: @lato;
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: -0.4px;
                    text-align: left;
                    color: @slategrey;
                    margin: 0;

                    /* These are technically the same, but use both */
                    overflow-wrap: break-word;
                    word-wrap: break-word;

                    -ms-word-break: break-all;
                    /* This is the dangerous one in WebKit, as it breaks things wherever */
                    word-break: break-all;
                    /* Instead use this non-standard one: */
                    word-break: break-word;

                    /* Adds a hyphen where the word breaks, if supported (No Blink) */
                    -ms-hyphens: auto;
                    -moz-hyphens: auto;
                    -webkit-hyphens: auto;
                    hyphens: auto;
                }

                h4 {
                    font-weight: bold;
                    margin-bottom: 3px;
                }
            }
        }
    }
}

.message_write {
    .mt-window {
        .messengerMessage {
            height: 70px;
            resize: none;
            font-size: 14px;
            cursor: text;
            padding-top: 10px;
            padding-left: 10px;
            padding-bottom: 7px;
        }
    }
}
