@import "variable.less";
.modal-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(~'100vh - 40px') !important;
}

.modal.left .modal-content, .modal.right .modal-content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(~'100vh - 40px') !important;
}

.icon-join-file {
  margin: 1.25px 1.25px 0;
}

.modal .circle-icon-list li{
  vertical-align: top;
}

.modal .circle-icon-list li h3{
  min-height: 30px;
}

.d-modal.right .modal-header{
	padding-top: 15px;
}

.d-modal.right .close img{
    width: 45px;
    display: inline-block;
    margin-top: -3px;
    margin-left: -3px;
}

.d-modal.right .d-panel .d-panel-head h3{
	font-weight: 600;
}

.d-modal.right .d-panel-body .table td{
	@media screen and (max-width: 991px){
		padding: 10px !important;
	}
}
