@import "variable.less";

table.d-pop1 .checkbox label{
	text-transform: none;
    color: @grey5;
}

table.d-pop1 td {
    padding: 0 !important;
    vertical-align: middle !important;
    line-height: 45px !important;
}

table.d-pop1 table td[width="70%"]{
    width: 40%;
}

table.d-pop1 .checkbox input[type=checkbox], table.d-pop1 .checkbox-inline input[type=checkbox], table.d-pop1 .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-left: -20px;
    margin-top: -6.11px;
    margin-bottom: 0;
    top: 50%;
}

.no-top-border > tbody > tr:first-child > td {
    border: none;
}

.date-link {
    background: url(img/arrow_drop_down_24px.svg) no-repeat right center;
    padding: 0 25px 0 5px !important;
    color: inherit;
}

.w10{
    width: 10%;
}