/**
 * Variable
 */

@wt : #ffffff;
@wt2 : #e0e0e0;
@green : #96E40E;
@red : #fe0900;
@redlight : #ff9ba0;
@redlight2 : #ffd4d6;
@blue2 : #337ab7;
@blue : #69D2E7; //rgb(105, 210, 231)
@bluelight : #dffaff;
@bluelight2 : #5bc0de;
@bluelight3: #DFFBFF;
@green : #96E40E;
@yellow : #fdb814;
@duck-egg-blue: #cff1f8;
@black : #383838;
@black2 : #5c5d5f;
@blacklight : #83898e;
@grey : #adadad;
@grey2 : #dddddd;
@grey3 : #8b999f;
@grey4: #cccccc;
@grey5: #6a6a6c;
@greylight : #eeeeee;
@newbgcolor : #E8F2F4;
@border : #adadad;
@paleBlue: #f1f5f6;
@font-size: 14px !important;
@line-height: 1.4 !important;
@lines-to-show: 2 !important;
@menu-messagerie-list-width: 55px;
@slategrey: #5d5e62;
@lato: 'Lato', 'Source Sans Pro', sans-serif;

@color-danger: #ff454f;
@color-calm: #69d2e7;
@color-warning: #fdb813;
@color-refuse: #777;

// media queries
@smartphones: ~"only screen and (max-width: 479px)";
@mobile: ~"only screen and (max-width: 768px)";
@table: ~"only screen and (max-width: 1024px)";
@screen1200: ~"only screen and (max-width: 1200px)";
