@import "/client/style/variable.less";

#listMessages {
  thead tr th {
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
  }

  tbody tr {
    cursor: pointer;
  }

  td {
    text-align: center;
  }
  tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #d2d2d2;
  }
}

.pad-20 {
  padding: 20px;
}

#listMessages >tbody>tr>td{
 font-size: medium;
  padding:0px;
  border-top: 0px;
}

.list-users {

  li {
    padding-left: 15px;
    margin-bottom: 0 !important;
    padding-top: 15px;
    cursor: pointer;
    &:hover {
      background-color: #f7f7f7;
    }


  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.condo {
  cursor: pointer !important;
}

.msgLine {
  cursor: pointer;

  .apple-circle {
    margin: 0;
  }
}

.bluebackground {
  background-color: @bluelight3;
}

.apple-circle {
  overflow: hidden;
  position: relative;
  top: 3px;
  margin: 0 -15px 0 -15px;
  border: 3px solid white;
  padding: 0;
  float: none!important;
  line-height: 35px!important;
}
.apple-circle:hover {
  z-index: 100;
}
.apple-circle img {
  margin-top: -6px;
}
.new_message {
  width: 30px;
  height: 30px;
  position: relative;
  top: 3px;
}
.messenger-manager-list {
  min-height: 500px;
  height: calc(~"100vh - 305px");
}
.d-contacts-table {
  tbody {
    tr {
      > td {
        &.messenger-empty-state {
          padding: 24px 30px;

          .messenger-empty-state-title {
            font-family: Lato, sans-serif;
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #5d5e62;
          }

          .messenger-empty-state-text {
            font-family: Lato, sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.4px;
            text-align: left;
            color: #8b999f;
            margin-top: 5px;
          }
        }
        &.messenger-empty-state-blue {
          border-left: var(--primary-color) 10px solid;
        }
      }
    }
  }
}

.no-margin-right {
  margin-right: 0!important;
}

#manager-msg-list {
  border-collapse: collapse;

  thead {

    tr {

      th {
        vertical-align: middle;
        font-family: Lato;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        color: #5d5e62
      }
      th.icon {
        width: 20px;
        padding: 0;
      }
      th.date {
        padding-left: 0;
      }
    }
  }
  tbody {
    tr {
      box-shadow: none;

      td {
        border-bottom: 1px solid #E1E2E7;
        font-family: @lato;
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        text-align: left;
        color: @grey3;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 200px;

        .userImgList {
          height: 34px;
          width: 34px;
        }
      }
      td > .message-urgent-manager {
        width: 20px;
        height: 20px;
        margin-right: 17px;
        margin-left: 17px;
      }
      td.icon {
        width: 20px;
        padding: 0;
      }
      td.date {
        padding-left: 0;
        width: 110px;
        overflow: hidden;
        white-space: nowrap;
        .attention-icon {
          height: 18px;
          width: 18px;
          display: inline-block;
          margin-bottom: -3px;
        }
      }
      td.archive {
        text-align: right;
        padding-right: 17px;

        .archiveButton {
          font-family: @lato;
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.3px;
          text-align: center;
          //color: var(--button-color);
          //border: solid 1px var(--button-color);
          color: var(--secondary-color);
          border: solid 1px var(--secondary-color);
          padding: 4px 11px;
          border-radius: 0;
        }
        .archiveButton:hover:enabled {
          color: #fff;
          //background-color: var(--button-color)!important;
          //border: solid 1px var(--button-color);
          background-color: var(--secondary-color)!important;
          border: solid 1px var(--secondary-color);
        }
      }
    }

    tr.faded td.archive {
      .archiveButton {
        opacity: 1;
        background: @color-refuse !important;
        cursor: not-allowed;
        border: 0 !important;
        color: @wt !important;
      }
      .archiveButton:hover:enabled {
        color: #fff;
        background-color: @color-refuse !important;
        border: solid 1px @color-refuse;
      }
    }
    tr.faded {
      background-color:rgba(255,255,255,0.5);
      box-shadow: none;
    }
    tr.faded td {
      opacity: 0.5;
      background-color:rgba(255,255,255,0.5);
      box-shadow: none;
    }
    tr td > .archiveButton {
      background-color: white !important;
      border: solid #D4D4D4 1px;
      border-radius: 5px;
      padding: 5px;
    }
    tr.faded td > * {
      opacity: 0.5;
      background-color:rgba(255,255,255,0.5);
      box-shadow: none;
    }
    tr.newmsgLine {
      td {
        font-weight: bold;
      }
    }
  }
}

#msg-container-mgr {
  .msg-wrap {
    flex: 1;

    .main-thread {
      display: flex;
      flex-direction: column;
      height: 100%;

      .d-top-head {
        flex: 0 0 61px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0;

        .inn-area {
          width: auto;

          .msg-user {
            margin-left: 30px;

            .mobile-icon {
              display: inline-block;
              height: 14px;
              width: 14px;
            }
          }

          .inn-details {
            margin-right: 10px;
          }
        }
      }

      .d-main-msgs-area {
        flex: 1;
        border-left: @wt solid 8px;
        background-color: @paleBlue;

        .msg-sent.d--msg {
          position: relative;
        }

        .date-text {
          text-align: center;
          padding-left: 30px;
        }
      }

      .d-msg--reply {
        flex: 0 0 125px;
      }
    }
  }

  .de-participants {
    flex: 0 0 220px;
    display: flex;
    flex-direction: column;

    .prt-head {
      flex: 0;
      .add-occupant-icon {
        height: 24px;
        width: 24px;
      }
    }

    .participant-list {
      overflow-y: scroll;
      flex: 1;
      margin-right: -8px;

      .de-prt {
        .msg-user {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .userIcon-main {
            margin-right: 10px!important;
          }

          .user-d {
            h4 {
              text-overflow: ellipsis;
              width: 150px;
              white-space: nowrap;
              overflow: hidden;
              font-size: 16px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: left;
              color: @slategrey;
              font-family: @lato;
              margin: 0;
            }
            span {
              font-family: @lato;
              font-size: 15px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.2;
              letter-spacing: -0.1px;
              text-align: left;
              color: @grey3;
            }
          }
        }
      }
    }
  }
}
