<template name="messageListManager">
	{{#let messages=getMessages}}
	<div class="d-contacts-main" style="background: white">
    <div class="pad-20">
      {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=onSearch}}
    </div>
		<div class="table-responsive messenger-manager-list">
			<table class="table d-contacts-table" id="manager-msg-list" style="overflow: hidden">
				<thead>
					<tr>
						<th class="icon"></th>
						<th class="date" style="text-transform: none!important;"> {{ getDicoVar 'moduleMessagerieIndex' 'date' }} </th>
						<th style="text-transform: capitalize!important;"> {{ getDicoVar 'moduleMessagerieIndex' 'nameTable' }} </th>
						<th style="text-transform: capitalize!important;"> {{ getDicoVar 'moduleMessagerieIndex' 'building' }} </th>
						<th class="text-center" style="text-transform: none!important;"> {{ getDicoVar 'moduleMessagerieIndex' 'type' }} </th>
						<th style="text-transform: capitalize!important;"> {{ getDicoVar 'moduleMessagerieIndex' 'subject' }} </th>
						<th style="text-transform: none!important;"> {{ getDicoVar 'moduleMessagerieIndex' 'treatedBy' }} </th>
						<th></th>
            <th class="icon"></th>
					</tr>
				</thead>
				<tbody>
          {{#each msg in messages}}
            <tr class="msgLine {{#if msg.isArchived}}faded{{/if}} {{#if msg.isNew}}newmsgLine{{/if}}" msgid="{{msg._id}}" style="height: 74px;">
              <td class="icon" style="position: relative;">
                {{#unless msg.isArchived}}
                  {{#if msg.isNew}}
                    <span class="message-unread-manager"></span>
                  {{/if}}
                {{/unless}}
                {{#if msg.isUrgent}}
                  <i class="image-icon attention-icon message-urgent-manager"></i>
                {{/if}}
              </td>
              <td class="date">
                {{msg.date}}
              </td>
              <td>
                {{#each msg.occupantUser}}
                  <div>{{this}}</div>
                {{/each}}
              </td>
              <td>{{msg.condoName}}</td>
              <td class="text-center">
                {{#if $neq msg.type "-"}}
                  <img src="{{getMessageTypePicto msg.type}}" class="userImgList bluebackground">
                {{else}}
                  {{msg.type}}
                {{/if}}
              </td>
              <td style="text-overflow: ellipsis; max-width: 150px; white-space: nowrap; overflow: hidden;">{{getIncidentType msg.details true}}</td>
              <td align="center">
                <div class="flex">
                  <div style="display: flex; flex: 1; flex-wrap: wrap;">
                    {{#each msg.managerUser}}
                      {{#if this.avatar}}
                        <span class="circle apple-circle"><img src="{{this.avatar}}" width="34" height="34"></span>
                      {{else}}
                        <span class="circle apple-circle">{{this.initial}}</span>
                      {{/if}}
                    {{else}}
                      -
                    {{/each}}
                  </div>
                </div>
              </td>
              <td class="archive">
                {{#unless msg.isArchived}}
                  <button class="archiveButton" idx="{{msg._id}}" style="font-weight: normal;" data-toggle="tooltip" title="{{ getDicoVar 'commonTranslation' 'archive_stop_calls' }}">{{ getDicoVar 'commonTranslation' 'archive' }}</button>
                  {{activeTooltip}}
                {{else}}
                  <button class="archiveButton" idx="{{msg._id}}" style="font-weight: normal;">{{ getDicoVar 'commonTranslation' 'archive' }}</button>
                {{/unless}}
              </td>
              <td class="icon"></td>
            </tr>
          {{else}}
            {{#if isSearchActive}}
              <tr>
                <td colspan="9" class="messenger-empty-state">
                  {{> MbEmpty
                    title=(getDicoVar "moduleReservationIndex" "no_result")
                  }}
                </td>
              </tr>
            {{else}}
              <tr>
                <td colspan="9" class="messenger-empty-state messenger-empty-state-blue">
                  <div class="messenger-empty-state-title">{{#unless condoHaveLogo condoId}}{{getDicoVar "moduleMessagerieIndex" "empty_welcome"}}{{else}}{{getDicoVar "moduleMessagerieIndex" "o_empty_header"}}{{/unless}}</div>
                  <div class="messenger-empty-state-text">{{getDicoVar "moduleMessagerieIndex" "empty_sub"}}</div>
                </td>
              </tr>
            {{/if}}
          {{/each}}
				</tbody>
			</table>
		</div>
	</div>
	{{/let}}
</template>
