<template name="admin_setNewEntityDefaultContact">
  <div class='setNewEntityDefaultContactContainer'>
    {{> MbPanel content='selectionner le contact par défaut de chaque immeuble'}}
    <div class='condoPickerContainer'>
      {{#if updateSubmit}}{{/if}}
      {{#each condo in getCondos}}
        <div class='condosListContainer'>
          <div class='condoName'>
            {{condo.name}}
          </div>
          <div class='defaultContactContainer'>
            {{> MbSelect
              selected=condo.userId
              required=true
              label='Selectionner le contact par defaut'
              onSelect=(onSelectDefaultContact condo.condoContactId)
              options=(getDefaultContactOptions condo.condoId)
              placeholder='Selectionner un gestionnaire'
            }}
          </div>

        </div>
      {{/each}}
    </div>
  </div>
</template>
