.setNewEntityDefaultContactContainer {
  width: 100%;
  padding-top: 1px; // fix some weird display
  min-height: calc(~'100vh - 205px');
  background-color: white;

  .mb-panel {
    margin: 16px 16px 5px 16px;
    width: calc(~'100% - 32px')
  }

  .condosListContainer {
    display: flex;
    margin: 16px 24px;
    align-items: center;

    .condoName {
      flex: 1 0 50%;
    }
    .defaultContactContainer {
      flex: 1 0 50%;
    }
  }
}
