<html lang="fr">
<head>
    <title>MonBuilding</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {{{style}}}
</head>
<body>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#f1f5f6">
    <tbody>
    <tr>
        <td align="center" bgcolor="#f1f5f6">
             <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;">
                <tbody>
                <tr>
                    <td class="w640" width="640" height="10"></td>
                </tr>
                {{{emailHeaderLogo}}}
                <tr>
                    <td class="w640" width="640" height="1" bgcolor=""></td>
                </tr>
                <tr class="content">
                    <td class="w640" width="640" bgcolor="#ffffff">
                        <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td class="w30" width="30"></td>
                                <td class="w580" width="580">
                                    <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0" style="padding: 20px 0 0px 0;">
                                        <tbody>
                                        <tr>
                                            <td class="w580" width="580">
                                                <h2 style="color: #5d5e62; font-size:26px; font-weight: 500; margin-bottom: 26px !important; padding: 0 !important;">Nouvelle demande d'{{direction}} de {{residentName}}</h2>
                                                <div align="left" class="article-content" style="color:#5d5e62;">
                                                    <table style=" margin-bottom: 30px !important;">
                                                        <thead>
                                                        <tr>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td class="paddingTable" style="font-weight: 100; color:#5d5e62; font-size:16px;"><span>Immeuble : </span>{{building}}</td>
                                                        </tr>
                                                        <tr>
                                                                <td height="10"></td>
                                                              </tr>
                                                        <tr>
                                                            <td class="paddingTable" style="font-weight: 100; color:#5d5e62; font-size:16px;"><span style="font-weight: 500 !important; color:#5d5e62; font-size:16px;">Date : </span>{{dates}}</td>
                                                        </tr>
                                                        <tr>
                                                                <td height="10"></td>
                                                              </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding: 0 0 20px 0;">
                                                    <div><!--[if mso]>
                                                        <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{link}}?nogetapp=true" style="height:48px;v-text-anchor:middle;width:300px;" arcsize="2%" stroke="f" fillcolor="{{primaryColor}}">
                                                        <w:anchorlock/>
                                                        <center>
                                                        <![endif]-->
                                                        <a href="{{link}}?nogetapp=true"
                                                        style="background-color:{{primaryColor}};border-radius:1px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:18px;font-weight:200;line-height:48px;text-align:center;text-decoration:none;width:50%;-webkit-text-size-adjust:none;">Voir plus</a>
                                                        <!--[if mso]>
                                                        </center>
                                                        </v:roundrect>
                                                        <![endif]--></div>
                                                <br><br>
                                            </td>
                                        </tr>
                                        {{{slogan}}}
                                        </tbody>
                                      </table>
                                    </td>
                                    <td class="w30" width="30"></td>
                                  </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            {{{appDl}}}
                            {{{generatedMessage}}}
                            {{{emailFooter}}}
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    </body>
                    </html>
