@import "../../../../../../style/variable";

.stats-container {
  //to remove default margin added to the page...
  margin-top: -21px;
  margin-left: -8px;
}

.period-container {
  border-bottom: 1px solid #e0e0e0;
}

.totals-container {
  border-bottom: 1px solid #e0e0e0;
  padding: 16px;
}

.totals-sub-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.total-value {
  font-family: Lato;
  font-size: 44px;
  font-weight: 500;
  letter-spacing: -1.1px;
  color: #5d5e62;
  text-align: center;
  margin-bottom: 15px;
}

.total-description {
  font-family: Lato;
  font-size: 16px;
  letter-spacing: -0.4px;
  color: #8b999f;
  text-align: center;
}

.total-bar {
  min-width: 112px;
  height: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#total-bar-color-1 {
  background-color: #fe0900;
}

#total-bar-color-2 {
  background-color: #fdb813;
}

#total-bar-color-3 {
  background-color: #69d2e7;
}

#total-bar-color-4 {
  background-color: #d9d9d9;
}

#total-bar-color-5 {
  background-color: #007aff;
}

.stats-title {
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.4px;
  color: #5d5e62;
  display: block;
}

.stats-sub-title {
  font-family: Lato;
  font-size: 16px;
  letter-spacing: -0.4px;
  color: #8b999f;
}

.period-sub-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #e0e0e0;
  width: auto;
  margin: 16px 8px;
  padding: 6px;

  .rdtPicker {
    margin-top: 150px !important;
    margin-left: 50px;
  }

  .rdt {
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
    align-items: center;
  }
}

.date-time-input {
  border: 0;
  padding: 0;
  font-family: Lato;
  font-size: 17px;
  line-height: 1.29;
  letter-spacing: -0.4px;
  color: #8b999f;
  text-align: center;
  width: 150px;
}

.date-time-input:hover {
  cursor: pointer;
}

.pie-container {
  padding: 16px;
}

.caption-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.caption-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 3px;
}

.pie-caption-square {
  width: 16px;
  height: 16px;
  margin-right: 15px;
}

// /!\ be sure to have same number of these classes below as we have transaction types
// check pieAndCaption.js
#pie-caption-color-0 {
  background-color: #fe0900;
}

#pie-caption-color-1 {
  background-color: #69d2e7;
}

#pie-caption-color-2 {
  background-color: #cff1f8;
}

#pie-caption-color-3 {
  background-color: #fdb813;
}

#pie-caption-color-4 {
  background-color: #8b999f;
}

#pie-caption-color-5 {
  background-color: #d9d9d9;
}

#pie-caption-color-6 {
  background-color: #007aff;
}

.item-caption-text {
  font-family: Lato;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #5d5e62;
}

.pie-and-caption-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
  margin-left: 10px;
}

.pie-wrapper {
  width: 300px;
  margin-right: 30px;
  margin-bottom: 15px;
}

.stats-no-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.text-no-data {
  font-family: Lato;
  font-size: 16px;
  letter-spacing: -0.4px;
  color: #97979d;
}

#chartjs-tooltip {
  line-height: normal;
  opacity: 1;
  padding: 8px;
  pointer-events: none;
  position: fixed;
  text-align: center;
  transform: translate(-50%, 0);
  transition: all .1s ease;
  background-color: @wt;
  height: 40px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

  tr {
    td {
      span {
        margin: -8px -6px 8px;
        display: block;
        height: 2px;
      }
    }
  }

  ::after, ::before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  ::after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 6px;
    margin-left: -6px;
  }
  ::before {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 7px;
    margin-left: -7px;
  }
}
