.mb-panel {
  width: 100%;
  font-family: 'Lato', 'Source Sans Pro', sans-serif;
  background-color: #f1f5f6;
  padding: 9px 16px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  text-align: left;
  color: #8b999f;
  span {
    position: relative;
    i {
      position: absolute;
      right: -8px;
      top: 2px;
    }
  }

  .red-panel {
    color: #fe0900;
  }
}
.mb-panel-wrapper {
  position: relative;
  .action-container {
    display: flex;
    position: absolute;
    top: 8px;
    right: 12px;
    img:hover {
      cursor: pointer;
    }
    .editCondo, .deleteCondo, .action-button {
      position: relative !important;
      right: initial !important;
      top: initial !important;
      margin-left: 4px;
      margin-right: 4px;
    }
  }
}