<template name="bar_total_users_access_type">

	<div class="main-modal" id="bar_total_users_access_type-container" style="background: white; padding: 20px; margin-bottom: 30px;">
		<div class="modal-heading pull-left mb30 stat-title">
			<h4 class="modal-title red_color">Nombre d'utilisateurs par type d'accés : </h4>
		</div>
		<div id="chartjs-total_users_access_type-legend" class="global-chart-legend-container">
			<table></table>
		</div>
		<div id="x-axis-arrow-total_users_access_type" class="x-axis-arrow">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</div>
		<div id="chartjs-chart-tooltips-total_users_access_type" class="chart-tooltips-container">
			<table></table>
		</div>
		<canvas id="bar_total_users_access_type"></canvas>
	</div>

</template>
