<template name="concierge">

	<div class="backTitle row" style="margin-bottom: 40px;">
		<div class="col-sm-12">
			<h1 class="pull-left">Conciergerie</h1>
		</div>
		<div class="search-contacts clearfix" style="border-top: 0 !important; margin: 0 0 20px 5px;">
			<div class="col-sm-12">
				<form action="#">
					<input type="text" id="searchUser" placeholder='{{getDicoVar "resourceForm" "search"}}'>
					<button><div class="icon-search-bar"></div></button>
				</form>
			</div>
		</div>
	</div>

	<div class="col-xs-12 btnIsActive" style="padding: 0;">
		<button type="button" name="listTabSwitch" id="archive"  class="btn button_modal_red pull-right {{#if $eq getListActiveTab 'active'}}red_btn_active{{/if}} red_btn"> Archives </button>
		<button type="button" name="listTabSwitch" id="active" class="btn button_modal_red pull-right {{#if $eq getListActiveTab 'archive'}}red_btn_active{{/if}} red_btn" style="margin-left: 0; margin-right: 10px;"> En cours </button>
	</div>


	<div class="allListBack" style="margin-top: 112px;">
		<table class="table table-hover" id="listCondos">
			<thead>
				<tr>
					<th>Prénom Nom</th>
					<th>Date</th>
					<th>Dropdown 1</th>
					<th>Dropdown 2</th>
					<th>Dropdown 3</th>
					<th>Categorie</th>
					<th>Détails</th>
					<th>Pièces jointes</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each concierge in concierges}}
				<tr>
					<td name="infoBulle" style="position: relative" idx="{{@index}}">{{getUserName concierge.origin}}
						<div name="bulle{{@index}}" class="infoBulleAdmin">
							<span><a>Email:</a> {{{getEmail concierge.origin}}}<img copyVal="{{getEmailVal concierge.origin}}" class="copyToClipboard" src="/img/icons/svg/iconPast.svg" alt=""></span>
							<span><a>Téléphone:</a> {{{getPhone concierge.origin}}}<img copyVal="{{getPhone concierge.origin}}" class="copyToClipboard" src="/img/icons/svg/iconPast.svg" alt=""></span>
						</div>
					</td>
					<td>{{humanDate concierge.date}}</td>
					<td>{{concierge.param1}}</td>
					<td>{{concierge.param2}}</td>
					<td>{{#if concierge.param3}}{{concierge.param3}}{{else}}-{{/if}}</td>
					<td>{{concierge.category}}</td>
					<td>{{{getContent concierge.content}}}</td>
					<td>
						{{#if $eq (getFilesId concierge.content) 0}}
						-
						{{else}}
						{{#each (getFilesId concierge.content)}}
							{{#if fileType this}}
								<img id="attachments" src="{{displayFile this}}"><br>
							{{else}}
								<a href='{{displayFile this}}?download=true' class="download" target='_blank'>Télécharger le document</a>
							{{/if}}
						{{/each}}
						{{/if}}
					</td>
					<td>
						<button type="button" conciergeId="{{concierge._id}}" class="remove btn btn-default btn-xs pull-right" aria-label="Left Align">
							<img src="/img/icons/svg/trash.svg" alt="" style="width:15px; height: 13px">
						</button>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>