<template name="bar_number_conversation">

	<div class="main-modal" id="bar_number_conversation-container" style="background: white; padding: 20px; margin-bottom: 30px;">
		<div class="modal-heading pull-left mb30 stat-title">
			<h4 class="modal-title red_color">Nombre de conversations : </h4>
		</div>
		<div id="chartjs-number_conversation-legend" class="global-chart-legend-container">
			<table></table>
		</div>
		<div id="x-axis-arrow-number_conversation" class="x-axis-arrow">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</div>
		<div id="chartjs-chart-tooltips-number_conversation" class="chart-tooltips-container">
			<table></table>
		</div>
		<canvas id="bar_number_conversation"></canvas>
	</div>

</template>