<template name="createEntity_messenger_manager_priority_modal">
	<div id="modal_messenger_manager_priority" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
		<div class="modal-dialog modal-lg">
			<button type="button" class="close round-close" data-dismiss="modal">
				<img src="/img/icons/croix_48px.svg" width="36" alt="">
			</button>
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-heading pull-left mb30">
						<h4 id="myModalLabel" class="modal-title red_color">Personnaliser les prioritées de messages</h4>
					</div>
				</div>
				<div class="modal-body clearfix" id='subject'>
					{{#if isOpen}}
					<form>
						{{#each incidentPriorityWithEmpty getCondoId}}
						<div class="row allType" priorityId="{{this._id}}">
							<div class="col-xs-2" style="width: 122px !important;">
								<div style="height: 92px; margin-bottom: 30px;">
									<input id="inputPictoEdit{{this._id}}" priorityId="{{this._id}}" name="inputPicto" type="file" class="form-control hidden" placeholder="Picto">

									<div class="globalLoader{{this._id}} c100 custom92 p0" style="display: none;">
										<span class="fileLoader{{this._id}}">0%</span>
										<div class="slice">
											<div class="bar"></div>
											<div class="fill"></div>
										</div>
									</div>


									<span class="typeManagerBackofficeModal display_camera_edit" id="spanPicto{{this._id}}" fileLink="{{this.picto}}" priorityId="{{this._id}}" style="background: url('{{this.picto}}') top left no-repeat #dffbff;">
										<div class="camera_edit_profile {{#if $eq this.picto ""}}show_camera_edit{{/if}}">
											<i class="fa fa-camera fa-3x" aria-hidden="true"></i>
										</div>
									</span>
								</div>
							</div>
							<div class="col-xs-3" style="margin-left: 25px;">
								<p class="labelInput">Valeur Fr *</p>
								<div class="form-group">
									<input id="inputFr{{this._id}}" type="text" class="form-control" placeholder="valeur française" value="{{getIncidentPriority this._id "fr"}}">
								</div>
							</div>
							<div class="col-xs-3">
								<p class="labelInput">Valeur En *</p>
								<div class="form-group">
									<input id="inputEn{{this._id}}" type="text" class="form-control" placeholder="valeur anglaise" value="{{getIncidentPriority this._id "en"}}">
								</div>
							</div>
							<div class="col-xs-2">
								<p class="labelInput" style="position: relative;">Picto urgent *<embed src="/img/urgent_jaune.svg" width="24" height="24" alt="Urgent" style="position: absolute; margin-left: 10px;"></p>
								<div class="form-group">
									<input id="showUrgent{{this._id}}" type="checkbox" value="statut" data-on-text="Oui" data-off-text="Non" data-off-color="mbRed" data-on-color="mbBlue" checked="{{$eq this.defaultPriority "urgent"}}">
									{{initSwitch this._id }}
								</div>
							</div>
							<div class="col-xs-1" style="width: auto;">
								<div class="form-group">
									<p class="labelInput" style="opacity: 0;">loader</p>
									<i class="loader loader{{this._id}} fa fa-circle-o-notch fa-spin fa-2x fa-fw" style="display: none;"></i>
									<i class="fail fail{{this._id}} fa fa-times fa-2x" aria-hidden="true" style="color: #fe0900; display: none;"></i>
									<i class="done done{{this._id}} fa fa-check fa-2x" aria-hidden="true" style="color: #02de02; display: none;"></i>
									<span class="sr-only">Loading...</span>
								</div>
							</div>
							<div class="col-xs-1">
								<div class="form-group">
									<p class="labelInput" style="opacity: 0;">trash</p>
									<button type="button" priorityId="{{this._id}}" class="removeType btn" aria-label="Left Align" style="border: none !important; cursor: pointer;">
										<img src="/img/icons/svg/trash.svg" alt="" style="width: 20px; height: 20px;">
									</button>
								</div>
							</div>
						</div>
						{{/each}}
						{{#unless isAddingElement}}
						<div class="row">
							<div class="col-xs-2" style="width: 122px !important;">
								<div style="height: 92px; margin-bottom: 30px;">
									<span class="typeManagerBackofficeModal createNewType" style="background-color: #dffbff;">
										<div class="show_camera_edit camera_edit_profile" style="background-color: #69d2e7 !important;">
											<i class="fa fa-plus fa-3x" aria-hidden="true" style="color: white;"></i>
										</div>
									</span>
								</div>
							</div>
							<div class="col-xs-3" style="margin-left: 25px;">
								<p class="labelInput labelInputDisabled">Valeur Fr *</p>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="valeur française" disabled="disabled">
								</div>
							</div>
							<div class="col-xs-3">
								<p class="labelInput labelInputDisabled">Valeur En *</p>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="valeur anglaise" disabled="disabled">
								</div>
							</div>
							<div class="col-xs-2">
								<p class="labelInput labelInputDisabled" style="position: relative;">Picto urgent *<embed src="/img/urgent_jaune.svg" width="24" height="24" alt="Urgent" style="position: absolute; margin-left: 10px;"></p>
								<div class="form-group">
									<input style=" height: 34px; width: 100px; border-radius: 4px !important; border: 1px solid #ccc !important;" disabled="disabled" class="form-control">
								</div>
							</div>
						</div>
						{{else}}
							{{> loader}}
						{{/unless}}
						<div class="modal-footer" style="padding-bottom: 50px">
							<a type="submit" id="save" class="btn red_btn button_into_modal pull-right mt30mr-30" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Sauvegarde...">Enregistrer</a>
						</div>
					</form>
					{{else}}
						{{> loader}}
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</template>