<template name="feedback">
    <div class="row col-xs-12 signUpSuccess">
        <div class="content">
          <div class="feedback_content">
            {{#if ret}}
              {{> MbEmpty
                  title=(getDicoVar 'commonTranslation' 'error_occurred')
                  buttonLabel=(getDicoVar 'commonTranslation' 'feedback_back')
                  onButtonClick=backHome
              }}
            {{else}}
              {{> MbEmpty
                  title=(getDicoVar 'commonTranslation' 'feedback_thx_message')
                  subTitle=(getDicoVar 'commonTranslation' 'feedback_see_ya')
                  buttonLabel=(getDicoVar 'commonTranslation' 'feedback_back')
                  onButtonClick=backHome
              }}
            {{/if}}
          </div>
        </div>
    </div>
</template>