.signUpSuccess {
  .content {
    .feedback_content {
      h2 {
        font-size: 2em;
        margin-bottom: 10px;
      }

      p {
        font-size: 2em;
        margin-bottom: 20px;
      }

      .mb-button {
        font-size: 1.5em;
        border-width: 2px;
      }
    }
  }
}