<template name="InputUsers">
  <div class="multi-select">
    <select name="utilisateurs" class="select-target form-control" multiple="multiple">
      {{#each user in users}}
      <option value="{{user._id}}">{{user.profile.firstname}} {{user.profile.lastname}}</option>
      {{/each}}
    </select>
  </div>
</template>
