<template name='admin_addNewManager'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {{#if isSubscribeReady}}
    {{#if updateNextStep}}{{/if}}
    {{#let savedManagers=getSavedManagers}}
      {{#if savedManagers.length}}
        <div class='savedBuildings'>
          <table class="managerDetailsContainer table">
            <thead>
              <tr class='containerColumn'>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Immeubles</th>
                <th>Rôles</th>
              </tr>
            </thead>
            <tbody>
              {{#each savedManagers}}
                <tr class='containerLine'>
                  <td class='commonColumn firstnameColumn lighter'>{{getDisplayedValue this.firstname}}</td>
                  <td class='commonColumn lastnameColumn lighter'>{{getDisplayedValue this.lastname}}</td>
                  <td class='commonColumn emailColumn lighter'>{{getEmailAddr this.userId}}</td>
                  <td class='commonColumn condosColumn lighter'>
                    {{#each building in this.condosInCharge}}
                      <div>{{getBuildingName building.condoId}}</div>
                    {{/each}}
                  </td>
                  <td class='commonColumn condosColumn lighter'>
                    {{#each building in this.condosInCharge}}
                      <div>{{getUserRole this.userId building.condoId}}</div>
                    {{/each}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      {{/if}}
    {{/let}}
    <div class="containerManagerList personalDetails">
      <div class='entitySelector'>
        {{> MbSelect
            selected=(getForm 'entity' null)
            required=true
            label=(getDicoVar 'commonTranslation' 'company')
            onSelect=(onSelectEntity)
            options=getEntityOptions
            placeholder=(getDicoVar 'commonTranslation' 'personal_details_select_manager_company')
          }}
      </div>
      {{#if isEntitySelected}}
        <div class='civiliteSelector'>
          {{> MbPanel content='Informations personnelles'}}
        </div>
        <div class='rowsProfile-3'>
          {{> MbSelect
            selected=(getForm 'civilite' null)
            required=false
            label=(getDicoVar 'commonTranslation' 'civility')
            onSelect=(onSelect 'civilite')
            options=getCiviliteOptions
            placeholder=(getDicoVar 'commonTranslation' 'manager_select_civility')
          }}
          {{> MbInput
              label=(getDicoVar 'commonTranslation' 'firstname')
              value=(getForm 'firstname' null)
              required=true
              onInput=(onInputDetails 'firstname')
              placeholder=(getDicoVar 'commonTranslation' 'fill_in_firstname')
              isError=(isFieldError 'firstname')}}
          {{> MbInput
              label=(getDicoVar 'commonTranslation' 'name')
              value=(getForm 'lastname' null)
              required=true
              onInput=(onInputDetails 'lastname')
              placeholder=(getDicoVar 'commonTranslation' 'fill_in_lastname')
              isError=(isFieldError 'lastname')}}
        </div>
        {{> MbInput
              label=(getDicoVar 'commonTranslation' 'email')
              value=(getForm 'email' null)
              required=true
              onInput=(onInputDetails 'email')
              placeholder=(getDicoVar 'commonTranslation' 'fill_in_email')
              isError=(isFieldError 'email')}}

        <div class='rowsProfile-2'>
          <div class='phoneContainer'>
            {{> MbSelect
              selected=(getForm 'phoneCode' null)
              isPhoneCodeList=true
              required=false
              label=(getDicoVar 'commonTranslation' 'mobile')
              onSelect=(onSelect 'phoneCode')
              options=(parsePhoneCode GetAllPhoneCode)
              placeholder=(getDicoVar 'commonTranslation' 'select_area_code')
              refresher=null
            }}
            {{> MbInput
                label=' '
                value=(getForm 'phone' null)
                onInput=(onInputDetails 'phone')
                placeholder=(getDicoVar 'commonTranslation' 'fill_in_mobile_phone_number')
                isError=(isFieldError 'phone')}}
          </div>

          <div class='phoneContainer'>
            {{> MbSelect
              selected=(getForm 'phoneCodeLandline' null)
              isPhoneCodeList=true
              label=(getDicoVar 'commonTranslation' 'landline')
              onSelect=(onSelect 'phoneCodeLandline')
              options=(parsePhoneCode GetAllPhoneCode)
              placeholder=(getDicoVar 'commonTranslation' 'select_area_code')
              refresher=null
            }}
            {{> MbInput
                label=' '
                value=(getForm 'landline' null)
                required=false
                onInput=(onInputDetails 'landline')
                placeholder=(getDicoVar 'commonTranslation' 'fill_in_phone_number')
                isError=(isFieldError 'landline')}}
          </div>
        </div>

        {{> MbPanel content=(getDicoVar 'commonTranslation' 'building_and_role')}}
        {{#each condo in selectedCondo}}
          <div class='displayCondoList' style='{{#if or (condo) ($eq @index 0)}}opacity: 1;{{else}}opacity: 0;{{/if}}'>
            <div>
              {{> MbSelect
                selected=condo
                required=true
                label='Immeuble de rattachement'
                onSelect=(onSelectCondo @index)
                options=(getCondoOptions @index)
                placeholder=(getDicoVar 'commonTranslation' 'select_building')
              }}
            </div>
            <div>
              {{> MbSelect
                selected=(getForm 'roles' @index)
                refresher=(getForm 'roles' @index)
                required=true
                label=(getDicoVar 'commonTranslation' 'role')
                onSelect=(onSelectRole @index)
                options=(getroleOptions condo)
                placeholder=(getDicoVar 'commonTranslation' 'select_role')
              }}
            </div>
            <div>
              {{#unless (canCustomizeRights @index)}}
                {{> MbButton label=(getDicoVar 'commonTranslation' 'custom_rights') onClick=null class='danger disabled'}}
              {{else}}
                {{> MbButton label=(getDicoVar 'commonTranslation' 'custom_rights') onClick=(customizeRights @index) class='danger'}}
              {{/unless}}
            </div>
            {{!-- <div>
                <a type="button" class="btn btn-red-confirm">{{getDicoVar "commonTranslation" "custom_rights"}}</a>
              </div> --}}
          </div>
          {{setOpacity}}
        {{/each}}
        {{#if (getCondoOptions -1)}}
          <div class='addIconContainer'>
            <div class='addIcon {{#unless canAddMoreCondo}}disabled{{/unless}}'>
              <div class='first-div'></div>
              <div class='second-div'></div>
            </div>
          </div>
        {{/if}}

      {{/if}}
      {{> MbButton label="Sauvegarder et ajouter un nouveau manager" onClick=saveAndAddManager class=getClasses}}
    </div>
  {{else}}
    {{> loader}}
  {{/if}}
  {{#if customizeRightsOn}}
    {{> modalCustomizeRights roleId=getCustomizeRoleId condoId=getCustomizeCondoId cb=saveModalRights customRights=getCustomRights modalTitle=(getDicoVar 'commonTranslation' 'manager_rights_management')}}
  {{/if}}
  {{!-- {{/let}} --}}
</template>
