<template name="messenger_contact_list">
  {{#let currentTab=getSelectedTab currentConversation=getCurrentConversation selectConversationCb=getSelectConversationCb}}
    <div class="messenger-contact-list">
      <div class="flex-fixer">
      <div class="messenger-contact-search-container">
        {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=onSearch}}
      </div>
      {{#each (getContact currentTab)}}
        {{> messenger_contact_list_item currentTab=currentTab conversation=this currentConversation=currentConversation selectConversationCb=selectConversationCb}}
      {{else}}
        <div>
          {{#if searchIsActive}}
            {{> MbEmpty title=(getDicoVar 'moduleReservationIndex' 'no_result') }}
          {{/if}}
        </div>
      {{/each}}
      {{#if $not searchIsActive}}
        {{>MbEmptyMessage condoId=condoId currentTab=currentTab currentConversation=currentConversation selectConversationCb=selectConversationCb}}
      {{/if}}
      </div>
    </div>
  {{/let}}
</template>
