@import "/client/style/variable.less";

.whiteFullBackground {
  width: 100%;
  height: fit-content;
  background-color: white;
}

.multi-select  {
	label {
		text-transform: uppercase;
		color: #898a8e;
		font-size: 12px;
		font-weight: initial;
	}
}

.multi-select span.select2 {
	display: block;
	width: 100% !important;
	min-height: 45px;
}

.multi-select {
  .select2-container--default {
    .select2-selection--multiple {
      border: 1px solid @grey;
      min-height: 38px;
      border-radius: 1px;
      overflow: hidden !important;
      height: auto !important;
    }
  }
}
select.form-control {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	background: url("/img/icons/arrowdown-gray.png");
	background-position: 99.5% 50%;
	background-size: 20px;
	background-repeat: no-repeat;
  }
  
.multi-select .select2-container--default .select2-selection--multiple {
  border: 1px solid @grey;
	min-height: 38px;
  border-radius: 1px;
  background: #ffff00;
  overflow: auto;
  // overflow: auto;
	//padding-bottom: 6px;
}
.multi-select .select2-container .select2-selection .select2-selection__arrow b[role="presentation"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	background: url("/img/icons/arrowdown-gray.png");
	background-position: 99.5% 50%;
	background-size: 20px;
	background-repeat: no-repeat;
}
.multi-select .select2-container--default .select2-selection--single {
	border: 1px solid @grey;
	min-height: 45px;
	border-radius: 1px;
	padding-bottom: 6px;
}

.multi-select .select2-container--default .select2-selection--multiple .select2-selection__choice {
	margin-top: 6px;
	line-height: 24px;
	border: none;
	background-color: #7cc576;
	color: #fff;
	padding-left: 10px;
	padding-right: 6px;
}

.multi-select .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: white;
}

.multi-select .select2-container--default .select2-selection--single .select2-selection__rendered {
	margin-top: 6px;
	line-height: 24px;
	border: none;
	padding-left: 10px;
	padding-right: 6px;
}

.form-button {
	margin-top: 20px;
	text-align: right;
}

.d-des-form > form > .input-grouped:first-child {
	margin-top: 0;
}

.input-grouped > label {
	display: block;
	text-transform: uppercase;
	color: #898a8e;
	font-size: 12px;
}

.input-grouped > input {
	border: 1px solid @grey;
	height: 34px;
	border-radius: 1px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.ajoutLabel{
	color: #000;
	margin-top: 5px;
	font-size: 16px;
	font-weight: lighter !important;
	text-decoration: underline;
	display: block
}

#modal_addManager {
  label.ajoutLabel {
    margin-top: 34px!important;
  }
  .mb-input{
	margin-bottom: 24px;
	margin-top: 0px;
  }
  .d-panel-head{
    margin-left: 0px;
    margin-right: 0px;
  }
}
.add-btn {
  width: 180px;
  height: 40px;
}
.phone-code {
  width: 106px;
  padding: 0px;
  padding-left: 16px;
}
.ajoutLabel:hover{
	color: @red;
}

.btn-success{
	border-color: transparent !important;
	cursor: pointer;
}

.infoTab{
	background: @wt;
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
    margin-right: 16px;
    width: 97.7%;
    margin-left: 16px;
    margin-top: 16px;
    height: 64px;
    box-shadow: 0 2px 8px 0 rgba(32, 33, 38, 0.2);
	img{
		width: 40px;
		margin-left: -6px;
	}
	p{
		font-size: 16px;
		color: #8b999f;
		vertical-align: middle;
		margin: -5px 0px 0px 8px;
	}
}
.default-contact {
	margin-left: 1px;
	margin-top: 32px;
	.multi-select{
		> label {
			color: #8b999f;
			margin-bottom: 12px;
			line-height: 1.27;
		}
	}
	
}
.d-panel-head {
	margin-left: 8px;
    margin-right: 8px;
}
.d-panel-body{
	box-shadow: none !important;
	padding: 0px 0px 0px 32px !important;
}
.incident{
	margin-top: 24px;
	.d-panel-body{
		padding: 0px 16px 0px 16px !important;
	}
	.mb-input {
		margin-top: 24px !important;
	}
}
.mt25 {
	margin-top: 25px;
}
.mt16 {
	margin-top: 16px;
	.d-panel-body{
		padding: 0px !important;
		.d-des-form{
			padding-left: 16px;
			padding-right: 16px;
		}
	}
}
.mt24{
	margin-top: 24px;
}
.reminder-padding{
	padding-left: 0px !important;
}
.d-modal.right .modal-body {
  padding: 15px 15px !important;
}
.file-list .file-list-item .file-list-item-preview-new_display .file-list-item-preview-image, .file-list .file-list-item.add-more-new_display{
  width: 143px !important;
  height: 143px !important;
}

@media (max-width: 992px) {
	.respUrg{
		padding-right: 0;
	}
}
@media (max-width: 469px) {
	.infoTab {
		flex-direction: column;
	}
}
.multi-select .select2-container--default .select2-selection--single{
	min-height: 24px;
}
.manager-account{
	.mb-input{
		margin-top: 24px !important;
	}
}
.validEntry {
  .d-panel-body{
    padding: 0px !important;
    margin-top: 24px;
    padding-left: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 24px;
  }
}
.manager-list{
	padding: 0px !important;
	.d-des-form{
		padding-left: 16px;
		padding-right: 16px;
	}
	table, button {
		margin-top: 24px;
	}
	button {
		width: 415px;
		margin-bottom: 30px;
	}
}
.mb-input{
	margin-top: -15px;
}
.mb-select .select2-container .select2-selection .select2-selection__arrow b[role="presentation"]{
	margin-top: 14px !important;
}
.table > tbody > tr > td {
	font-size: 14px;
}
.managerDetailsContainer {
    margin: 16px 0;
    width: 100%;

    .containerLine {
	  cursor: pointer;
	  font-size: 14px;
    }
    .containerColumn {
      height: 64px;

      &::first-letter {
        text-transform: capitalize;
      }

      .filter-th {
        text-decoration: underline; cursor: pointer;

        .arrow-container-filter {
          display: inline-block;
          position: absolute;
          width: 16px;
          height: 16px;
          margin-left: 8px;

          .arrow-filter-reversed {
            transform: rotate(180deg);
          }
          .arrow-filter {
            width: 0px;
            margin-top: 6px;
            height: 0px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #5d5e62;
          }
        }
      }
      th {
        vertical-align: middle;
        font-family: Lato;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        color: #5d5e62;
        overflow: hidden;
        text-overflow: ellipsis;
	  }
    }
    .lighter {
      color: #5d5e62 !important;
    }
    .commonColumn {
      vertical-align: middle;
      font-family: Lato;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -0.4px;
      text-align: left;
      color: #5d5e62;
      width: auto;

      @media (min-width: 1430px) {
        max-width: 200px!important;
      }
    }
    .pictureColumn {
      height: 44px;
      width: 44px;
      vertical-align: middle;

      .displayPictureImage {

        background-size: cover;
        vertical-align: middle;
        background-position: 50% 50%;

        border-radius: 50%;
        font-size: 20px;
        color: #ffffff;
        line-height: 40px;
        text-align: center;
        display: inline-block;
        position: relative;
        font-weight: 600;
        width: 44px;
        height: 44px;
      }

      .displayPictureName {
        text-transform: uppercase;
        //background-color: var(--accent-color);
        background-color: var(--primary-color);
        border-radius: 50%;
        font-size: 20px;
        color: #ffffff;
        line-height: 44px;
        text-align: center;
        font-weight: 300;
        width: 44px;
        height: 44px;
      }
    }
    .firstnameColumn {
      margin-left: 64px;
      max-width: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .lastnameColumn {
      margin-left: 20px;
      max-width: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .emailColumn {
      margin-left: 20px;
      max-width: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .phoneColumn {
      margin-left: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 0px;
    }
    .condosColumn {
      margin-left: 20px;
      max-width: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      & > * {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .invitedColumn {
      margin-left: 20px;
      max-width: 0px;
      div {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .trashColumn {
      text-align: right;
      max-width: 42px;
      div {
        margin-left: auto;
        margin-right: 0;
        width: 24px;
        height: 24px;
        background-image: url('img/icons/svg/trash.svg');
        // background-color: #8b999f;
        // -webkit-mask-image: url('img/icons/svg/trash.svg');
        // mask-image: url('img/icons/svg/trash.svg');
      }
    }
  }