@import "/client/style/variable.less";
.titleView {
  max-height: 76px;
}
.d-des-contacts{
  ul {
    height: 40px;
    li[tab="messenger"] {
      width: 188px;
    }
    > li {
      margin-top: -10px !important;
    }
  }
  .backNav{
    margin-bottom: 1px !important;
    li> a {
      text-align: center;
      color: #69d2e7 !important;
    }
    
  }
}
.panel-heading{
  height: 64px;
  padding: 20px 0px 24px 20px !important;
  h1 {
    line-height: 6px;
  }
}
.nav-tabs {
  .tabContactManagement {
    border-top: 3px  solid transparent !important;
    &:hover {
      a {
        background: transparent;
        //color: var(--tab-color);
        color: var(--primary-color);
      }
    }

    &.active {
      border-bottom: 3px  solid var(--primary-color) !important;

      &:hover {
        a {
          background: transparent;
          //color: var(--tab-color);
          color: var(--primary-color);
        }
      }

      a {
        background: transparent;
        //color: var(--tab-color);
        color: var(--primary-color);
      }
    }

    a {
      background: transparent;
      text-transform: uppercase;
      font-family: Lato, sans-serif;
      letter-spacing: 1px;
      font-weight: 300;
    }
  }
}

#allRender.contact-management {
  background-color:  @wt;
  .d-panel-head {
    h3 {
      width: 100%;
      font-family: 'Lato', 'Source Sans Pro', sans-serif;
      background-color: #f1f5f6;
      padding: 9px 16px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.9px;
      text-align: left;
      color: #8b999f;
    }
  }
}

.input-group {
  .cm-reminder-no-error {
    border: 0 !important;
  }

  .cm-reminder-error {
    border: medium solid red !important;
  }
}