<template name="contactManagement">
  {{#if refreshCondoId}}{{/if}}
  <div class="row titleView">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-heading position_relative">
          <div class="sub-tool-bar clearfix">
            <h1 class="pull-left">{{getDicoVar 'contactManagement' 'managContact'}}</h1>
            {{!-- {{> CondoDropDown classes="pull-right" noAll=1 selectAuto=1 condoId=condoDropdown}} --}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#if isAllSelected}}
    <div class="whiteFullBackground">
      {{> MbWarning content=(getDicoVar 'commonTranslation' 'select_building_first')}}
    </div>
  {{else}}
      {{#unless isEmptyState}}
        <div class="d-des-contacts">
          <ul class="nav nav-tabs backNav">
            {{#if and (isDisplayable "messenger") (userHasRight "setContact" 'seeMessenger')}}
            <li class="{{#if selectedTab 'messenger'}}active{{/if}} tabContactManagement" tab="messenger">
              <a>{{getDicoVar 'contactManagement' 'main-msg'}}</a>
            </li>
            {{/if}}
            {{#if and (isDisplayable "trombi") (userHasRight "setContact" 'seeWhosWho')}}
            <li class="{{#if selectedTab 'trombi'}}active{{/if}} tabContactManagement" tab="trombi">
              <a>{{getDicoVar 'contactManagement' 'main-trombi'}}</a>
            </li>
            {{/if}}
            {{#if and (and ManagerCanValidate (isDisplayable "validation")) (userHasRight "setContact" 'seeValidation')}}
            <li class="{{#if selectedTab 'validation'}}active{{/if}} tabContactManagement" tab="validation">
              <a>
                {{getDicoVar 'contactManagement' 'validTitle1'}}
                {{getDicoVar 'contactManagement' 'validTitle2'}}
                  /
                {{getDicoVar 'contactManagement' 'validTitle3'}}
              </a>
            </li>
            {{/if}}
          </ul>
        </div>
        {{#if selectedTab 'messenger'}}
          {{> contactManagement_messenger}}
          {{#if renderSelect2}}{{/if}}
        {{/if}}
        {{#if selectedTab 'trombi'}}
          {{> contactManagement_trombi}}
          {{#if renderSelect2}}{{/if}}
        {{/if}}
        {{#if selectedTab 'validation'}}
          {{> contactManagement_validation}}
          {{#if renderSelect2}}{{/if}}
        {{/if}}
      {{else}}
        <div class="card item">
          <div class="card-block">
            {{> MbRestrictedAccess }}
          </div>
        </div>
      {{/unless}}
      {{#if $eq isAllReady true}}
      {{else}}
        {{> loader}}
      {{/if}}
  {{/if}}
</template>
