@import "../../../../style/variable";

.StatContent {
	.d-panel {
		box-shadow: 1px 2px 5px 1px #d4dee0;

		.d-panel-head {
			border: 0;

			h3 {
				text-align: left;
				text-transform: uppercase;
				background-color: white !important;
				color: #4a4a4a;
				padding: 10px 34px 0;
			}
		}
		.d-panel-body {
			box-shadow: none !important;
			min-height: 100px;

			.spacer {
				height: 4px;
				display: block;
			}

			.d-des-form {
				.action.pull-right {
					top: -1px;
					right: -1px;
					position: absolute;

					.dropdown.per-s-list {
						width: 150px;
					}

					.dropdown.per-s-list.wider {
						width: 250px;
					}
				}
			}
		}
	}

	#compare-chart-container,
	#incident-chart-container,
	#messenger-chart-container,
	#marketPlace-chart-container,
  #utilisation-chart-container,
  #total-users-access-type-chart-container,
  #total-users-module-chart-container {
		height: 400px;
		bottom: 15px;
		position: relative;
	}
	@media (min-width: 1600px) {
		#compare-chart {
			padding-bottom: 50px;
		}
	}
}

.chartjs-messenger-chart-legend-container {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	width: 60%;
	margin: 0 auto;
	padding: 0;
	ul {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	li {
		width: 50%!important;
		text-align: center;
	}
	.chart-legend li>div {
		margin-right: 9px;
	}
	@media(max-width: 1599px) {
		.chart-legend li>div {
			width: 18px!important;
			height: 18px!important;
		}
		.chart-legend-item {
			top: -5px;
			height: 18px;
			font-size: 14px;
			line-height: 18px;
		}
	}
}

@media (max-width: 1599px) {
	.chart-legend li>div {
		border-radius: 0!important;
	}

}

//.chart-legend-container {
//	position: absolute;
//	top: 50%;
//	transform: translateY(-50%);
//	right: 70px;
//	width: 190px;
//}
.chart-legend {
	list-style-type: none;
	padding-left: 10px;
}
.chart-legend>li {
	width: 100%;
}
.chart-legend li>div {
	margin-right: 15px;
	text-align: center;
}
.chart-legend-item {
	position: relative;
	top: -3px;
	height: 17px;
	font-size: 13px;
	text-align: center;
	line-height: 14px;
	color: #88898e;
}
.chart-tooltips-container {
	opacity: 0;
	position: absolute;
	min-width: 150px;
	background: white;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.chart-tooltips-container>table {
	width: 100%;
	height: 100%;
	text-align: center;
}
.chart-tooltips-container::after {
content: "";
  position: absolute;
  top: calc(~'50% - 10px');
  left: -10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
	border-color: transparent #ffffff transparent #ffffff;
}
.chart-tooltips-container .chartjs-tooltip-key {
	width: 30px;
	height: 30px;
	position: absolute;
	top: -15px;
	right: -15px;
	border-radius: 50%;
}


.chart-tooltips-container-left {
	opacity: 0;
	position: absolute;
	width: 150px;
	height: 50px;
	background: white;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.chart-tooltips-container-left>table {
	width: 100%;
	height: 100%;
	text-align: center;
}
.chart-tooltips-container-left::after {
content: "";
  position: absolute;
  top: calc(~'50% - 10px');
  left: -10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 0 10px 10px;
	border-color: transparent #ffffff transparent #ffffff;
}
.chart-tooltips-container-left .chartjs-tooltip-key {
	width: 30px;
	height: 30px;
	position: absolute;
	top: -15px;
	left: -15px;
	border-radius: 50%;
}

.x-axis-arrow {
	opacity: 0;
	position: absolute;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #8b999f;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 17.5px;
}
#x-axis-arrow > i {
	width: 3px;
}

#incident-chart-no-data,
#utilisation-chart-no-data,
#total-users-access-type-chart-no-data,
#total-users-module-chart-no-data {
	display: none;
	position: absolute;
	top: 50%;
	left: 0;
	right: 250px;

	font-family: Lato;
	font-size: 17px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	// letter-spacing: -1.6px;
	text-align: center;
	color: #8b999f;
}

@media (max-width: 1599) {
	#messenger-chart-no-data {
		padding-right: 250px;
	}
}

#messenger-chart-no-data,
#marketPlace-chart-no-data,
#compare-chart-no-data,
.chart-no-data{
	display: none;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;

	font-family: Lato;
	font-size: 17px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	text-align: center;
	color: #8b999f;
}

.dropdown-stat-header > .per-s-list {
	border: 0 none transparent;
}

.dropdown-stat-header span.input-group-addon  {
	border-top-right-radius: 0!important;
	border-top-left-radius: 0!important;
	border-bottom-right-radius: 0!important;
	border-bottom-left-radius: 0!important;
}

#modal_details_stats input {
	transform: translateY(-25%);
}

#daterange-stats {
	//border: 1px solid #eeeeee !important;
	//height: 31px !important;
	min-width: 240px;
	//padding: 0!important;
	//padding-bottom: 3px !important;
	//padding-left: 14px !important;
	position: relative;
	z-index: 2;
	height: 38px;
	max-width: 100%;
	cursor: pointer;
	box-shadow: 0 1px 4px 0 rgba(32, 33, 38, 0.1);
	background-color: transparent;
	border: solid 1px #e0e0e0;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	letter-spacing: -0.4px;
	text-align: left;
	color: #8b999f;
	padding: 7px 8px 7px 15px;
	margin-right: 5px;
}
.caret-daterange {
	width: 24px;
	height: 24px;
	background-image: url("img/icons/chevron-drop.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	position: absolute;
	top: 8px;
	right: 13px;
	z-index: 1;

	.fa-sort-desc {
		display: none;
	}
}
.condodropdown-stats>div {
	margin: 0!important;
}

#stats-container {
	margin: 0 15px;
	background-color: @wt;

  font-family: @lato;


  .stats-checkbox-container-all {
    background-color: #f1f5f6;
    height: fit-content;
		padding-bottom: 16px;

    .stats-checkbox-container {
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 16px;

      // .stats-checkbox-wrapper {
      //   display: flex;

        .mb-checkbox {
          // margin-top: 16px;
          height: 52px !important;
          flex: 1 0 25%;
          min-width: 330px;
          overflow: hidden;
          white-space: nowrap;
        }
      // }
    }
  }

  //canvas {
  //  width: 100%!important;
  //}

	.mb-warning {
		box-shadow: none;
	}

	.chart-container {
		display: flex;
		background-color: @paleBlue;
		flex-direction: column;

		.the-row {
			flex: 0 0 420px;
			display: flex;
			margin-bottom: 16px;

			.content:not(:first-child) {
				margin-left: 18px;
			}

			.content.blank {
				background-color: transparent;
			}
			.content {
				flex: 1;
				display: flex;
				background-color: @wt;

				.chart-item {
					flex: 1;
					display: flex;
					flex-direction: column;
					padding: 16px;

					.head {
						flex: 0 0 60px;
						position: relative;

            h3, p {
              width: calc(~"100% - 200px");
            }

						h3 {
							font-size: 16px;
							font-weight: 500;
							font-style: normal;
							font-stretch: normal;
							line-height: normal;
							letter-spacing: -0.4px;
							text-align: left;
							color: @slategrey;
							margin-bottom: 4px;
							margin-top: 0;
						}
						p {
							font-size: 14px;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: normal;
							letter-spacing: -0.3px;
							text-align: left;
							color: @grey3;
							margin: 0;
						}
						.dropdown-stat-header {
							top: 0;
							position: absolute;
							right: 0;
							width: auto;
							box-shadow: none;
							background-color: @wt;
							border: none;


							.dropdown {
								margin: 0;
								box-shadow: none;

                min-width: 150px;
                max-width: 200px;
                width: auto;
                &.wider {
                  max-width: 500px;
                }

								button.dropdown-toggle {
									box-shadow: 0 1px 4px 0 rgba(32, 33, 38, 0.1);
									background-color: @wt;
									border: solid 1px @wt2;
									font-size: 16px;
									font-weight: normal;
									font-style: normal;
									font-stretch: normal;
									line-height: 1.38;
									letter-spacing: -0.4px;
									text-align: left;
									color: @grey3;
                  padding: 7px 38px 7px 15px;

									.caret {
										margin: 0;
										border: none;
										width: 24px;
										height: 24px;
										display: inline-block;
										background-image: url("/img/icons/svg/chevronDropdown.svg");
										background-repeat: no-repeat;
										background-position: center center;
										background-size: contain;
                    position: absolute;
                    right: 8px;
									}
								}
								.dropdown-menu {
									box-shadow: 0 1px 4px 0 rgba(32, 33, 38, 0.1);
									background-color: @wt;
									border: solid 1px @wt2;
									border-radius: 0;
									padding: 0;
									max-height: 300px;
									overflow-y: auto;
									li.typeOption.active {
                    //border-left: 8px solid var(--accent-color);
                    border-left: 8px solid var(--primary-color);
									}

									li.typeOption {
										border-left: 8px solid @wt;
										padding: 15px 15px 15px 7px;

										h5 {
											font-size: 16px;
											font-weight: normal;
											font-style: normal;
											font-stretch: normal;
											line-height: 1.38;
											letter-spacing: -0.4px;
											text-align: left;
											color: @grey3;
										}
									}
								}
							}
						}
					}

					.body.empty {
						justify-content: center;
						align-items: center;
					}

					.body {
						flex: 1;
						position: relative;
						display: flex;
						justify-content: space-between;
						align-items: center;

						.loader-container {
							display: flex;
							flex: 1;
							justify-content: center;
							align-items: center;
						}

						.loader-container-over {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
							display: flex;
							flex: 1;
							justify-content: center;
							align-items: center;
						}

						.circle {
							height: 266px;
							width: 266px;
							background-color: @paleBlue;
							font-size: 17px;
							font-weight: 500;
							font-style: normal;
							font-stretch: normal;
							line-height: normal;
							letter-spacing: -1.6px;
							text-align: center;
							color: @grey3;
							display: flex;
							align-items: center;
							justify-content: center;
							border: solid 8px @paleBlue;
						}

						.the-chart {
							flex: 1;
              width: 1px;
						}

						#chartjs-incident-chart-legend {
              // position: absolute;
              // right: 10px;
              margin-top: -85px;
              max-height: 360px;
              overflow-y: auto;
              // top: -50px;
              width: 190px;
            }

            #chartjs-incident-chart-legend,
            #chartjs-utilisation-chart-legend,
            #chartjs-total-users-access-type-chart-legend,
            #chartjs-total-users-module-chart-legend {
							ul {
								li:nth-last-child(2) {
									display: none;
								}
								li:last-child {
									display: none;
								}
							}
						}

						.chart-legend-container {
              flex: 0 0 200px;
              height: 100%;
              //margin-top: -85px;  

							ul {
								// list-style: none;
								// padding: 0;
                // margin: 0 0 0 17px;
                list-style: none;
                padding: 0;
                margin: 0 0 0 17px;
                height: 100%;
                overflow-x: auto;
                // position: relative;
                // top: -35px;
								li {
									display: flex;
									align-items: center;
									font-size: 12px;
									font-weight: normal;
									font-style: normal;
									font-stretch: normal;
									line-height: normal;
									letter-spacing: -0.3px;
									text-align: left;
									color: @slategrey;
									margin-bottom: 16px;
									span {
										display: inline-block;
										height: 16px;
										width: 16px;
										margin-right: 8px;
									}
								}
							}
						}
					}

					.chart-switcher {
						text-align: center;

						.switcher {
							margin-top: 10px;
							cursor: pointer;
							height: 28px;
							border-radius: 14px;
							background-color: @paleBlue;
              //border: solid 1px var(--accent-color);
              border: solid 1px var(--primary-color);
							display: inline-block;
							padding: 1px;
							.switch-option {
								padding: 3px 27px 4px;
								font-size: 14px;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: normal;
								letter-spacing: -0.3px;
								text-align: center;
                //color: var(--accent-color);
                color: var(--primary-color);
								display: inline-block;
							}
							.switch-option.active {
								border-radius: 12px;
                //background-color: var(--accent-color);
                background-color: var(--primary-color);
								color: @wt;
							}
						}
					}
				}
			}
		}
	}
}
