<template name="stats">
  <div class="row titleView" style="margin: 0;">
    <div class="col-xs-12">
      <div class="panel">
        <div class="panel-heading position_relative">
          <div class="sub-tool-bar clearfix">
            <div class="pull-left">
              <h1>{{getDicoVar "stats" "title"}}</h1>
              {{#if isSeeMore}}
                <button type="button" id="back-btn" class="mb-back-button">
                  <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;">
                  {{{getDicoVar "resourceForm" "back"}}}
                </button>
              {{/if}}
            </div>

            {{#if or (and (equals getCondo 'all') (hasRightInCondos "view" "stats")) (userHasRight "view" "stats")}}
              <div class="pull-right mb-relative export-csv-style">
                <a href="#" type="button" class="btn red_btn red_btn-lg" id="export-csv" data-toggle="modal"
                  data-target="#export_csv_modal"> {{getDicoVar 'commonTranslation' 'export_csv'}} </a>
              </div>

              <div class="pull-right mb-relative">
                <input id="daterange-stats" type="text" name="daterange" class="datepicker form-control caret" readonly>
                <div class="inline caret-daterange">
                  <i class="fa fa-sort-desc" aria-hidden="true"></i>
                </div>
              </div>
            {{/if}}
            {{renderDatePicker}}
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if or (and (equals getCondo 'all') (hasRightInCondos "view" "stats")) (userHasRight "view" "stats")}}
    <div id="stats-container">
      {{#if and ($eq (hasRightInEachCondo "view" "stats" condos) false) ($eq getCondo "all")}}
        {{#unless isSeeMore}}
          {{> MbWarning content=(getDicoVar 'stats' 'warning')}}
        {{/unless}}
      {{/if}}

      {{#if or (userHasRight "view" "stats" getCondo) ($eq getCondo "all")}}
        {{#if or (doDisplaySatisfactionStatsForArchive) (doDisplaySatisfactionStatsForIncident)}}
          {{#unless isSeeMore}}
            <div class="the-tab">
              <div class="tab-header">
                <div data-type="stats" class="form-tab list-tab {{currentBoardIs 'stats'}}">
                  <button>{{getDicoVar "stats" "general"}}</button>
                </div>
                <div data-type="details" class="form-tab list-tab {{currentBoardIs 'details'}}">
                  <button>{{getDicoVar "stats" "rating"}}</button>
                </div>
              </div>
            </div>
          {{/unless}}
        {{/if}}

        {{#if $eq currentBoard "stats"}}
          <div class="stats-checkbox-container-all">
            <div class='stats-checkbox-container'>
              {{#if checkRightInStat "seeIncident"}}
                {{> MbCheckbox checked=(getOption 'incidents_stats') label=(getDicoVar 'stats' 'incidents') onClick=(onCheckboxClick 'incidents_stats')}}
              {{/if}}
              {{#if checkRightInStat "seeResources"}}
                {{#if condoIsOffice}}
                  {{> MbCheckbox checked=(getOption 'resourcesUse_stats') label=(getDicoVar 'stats' 'resources_use') onClick=(onCheckboxClick 'resourcesUse_stats')}}
                  {{> MbCheckbox checked=(getOption 'bookedResources_stats') label=(getDicoVar 'stats' 'booked_resources') onClick=(onCheckboxClick 'bookedResources_stats')}}
                {{/if}}
              {{/if}}
              {{#if checkRightInStat "seeReservation"}}
                {{> MbCheckbox checked=(getOption 'occupancyRate_stats') label=(getDicoVar 'stats' 'occupancy_rate') onClick=(onCheckboxClick 'occupancyRate_stats')}}
              {{/if}}
              {{#if checkRightInStat "seeResources"}}
                {{> MbCheckbox checked=(getOption 'resourcesDistribution_stats') label=(getDicoVar 'stats' 'resource_distribution') onClick=(onCheckboxClick 'resourcesDistribution_stats')}}
                {{> MbCheckbox checked=(getOption 'bookedByTime_stats') label=(getDicoVar 'stats' 'booked_by_time') onClick=(onCheckboxClick 'bookedByTime_stats')}}
              {{/if}}
              {{#if checkRightInStat "seeMessenger"}}
                {{> MbCheckbox checked=(getOption 'messengers_stats') label=(getDicoVar 'stats' 'messages') onClick=(onCheckboxClick 'messengers_stats')}}
              {{/if}}
              {{> MbCheckbox checked=(getOption 'utilisation_stats') label=(getDicoVar 'stats' 'util') onClick=(onCheckboxClick 'utilisation_stats')}}
              {{> MbCheckbox checked=(getOption 'totalUsersAccessType_stats') label=(getDicoVar 'stats' 'total_users_access_type') subLabel=(getDicoVar 'stats' 'total_users_access_type_sub') onClick=(onCheckboxClick 'totalUsersAccessType_stats')}}
              {{> MbCheckbox checked=(getOption 'totalUsersModule_stats') label=(getDicoVar 'stats' 'total_users_module') subLabel=(getDicoVar 'stats' 'total_users_module_sub') onClick=(onCheckboxClick 'totalUsersModule_stats')}}
              {{#if checkRightInStat "marketPlace.see"}}
                {{> MbCheckbox checked=(getOption 'marketPlace_stats') label=(getDicoVar 'stats' 'market_place') onClick=(onCheckboxClick 'marketPlace_stats')}}
              {{/if}}
              {{#if (equals getCondo 'all')}}
                {{#if moreThanOneCondoType}}
                  {{> MbCheckbox checked=(getOption 'compares_stats') label=(getDicoVar 'stats' 'comparison') onClick=(onCheckboxClick 'compares_stats')}}
                {{/if}}
              {{/if}}
              <div class='mb-checkbox'></div>
            </div>
          </div>
          <div class="chart-container">
            {{#if checkRightInStat "seeIncident"}}
              {{#if getOption 'incidents_stats'}}
                <div class="the-row">
                  <div class="content">
                    {{> incidents_stats condoId=getCondo isReady=incidentReady dataCallback=getChartData}}
                  </div>
                </div>
              {{/if}}
            {{/if}}

            {{#if checkRightInStat "seeResources"}}
              {{#if or (getOption 'resourcesUse_stats') (getOption 'bookedResources_stats')}}
                {{#if condoIsOffice}}
                  <div class="the-row">
                    {{#if getOption 'resourcesUse_stats'}}
                      <div class="content">
                        {{> resourcesUse_stats condoId=getCondo isReady=resaResidentReady dataCallback=getChartData}}
                      </div>
                    {{/if}}
                    {{#if getOption 'bookedResources_stats'}}
                      <div class="content">
                        {{> bookedResources_stats condoId=getCondo isReady=resaReady dataCallback=getChartData}}
                      </div>
                    {{/if}}
                  </div>
                {{/if}}
              {{/if}}
            {{/if}}

            {{#if checkRightInStat "seeReservation"}}
              {{#if getOption 'occupancyRate_stats'}}
                <div class="the-row">
                  <div class="content">
                    {{> occupancyRate_stats condoId=getCondo isReady=resaReady dataCallback=getChartData}}
                  </div>
                </div>
              {{/if}}
            {{/if}}

            {{#if checkRightInStat "seeResources"}}
              {{#if or (getOption 'resourcesDistribution_stats') (getOption 'bookedByTime_stats')}}
                <div class="the-row">
                  {{#if getOption 'resourcesDistribution_stats'}}
                    <div class="content">
                      {{> resourcesDistribution_stats condoId=getCondo isReady=resaReady dataCallback=getChartData}}

                    </div>
                  {{/if}}
                  {{#if getOption 'bookedByTime_stats'}}
                    <div class="content">
                      {{> bookedByTime_stats condoId=getCondo isReady=resaReady dataCallback=getChartData}}
                    </div>
                  {{/if}}
                </div>
              {{/if}}
            {{/if}}

            {{#if checkRightInStat "seeMessenger"}}
              {{#if getOption 'messengers_stats'}}
                <div class="the-row">
                  <div class="content">
                    {{> messengers_stats condoId=getCondo dataCallback=getChartData isReady=messageReady}}
                  </div>
                </div>
              {{/if}}
            {{/if}}

            {{#if getOption 'utilisation_stats'}}
              <div class="the-row">
                <div class="content">
                  {{> utilisation_stats condoId=getCondo isReady=ready dataCallback=getChartData}}
                </div>
              </div>
            {{/if}}
            {{#if getOption 'totalUsersAccessType_stats'}}
              <div class="the-row">
                <div class="content">
                  {{> totalUsersAccessType_stats condoId=getCondo isReady=analyticReady dataCallback=getChartData}}
                </div>
              </div>
            {{/if}}
            {{#if getOption 'totalUsersModule_stats'}}
              <div class="the-row">
                <div class="content">
                  {{> totalUsersModule_stats condoId=getCondo isReady=analyticReady dataCallback=getChartData}}
                </div>
              </div>
            {{/if}}
            {{#if getOption 'compares_stats'}}
              {{#if (equals getCondo 'all')}}
                {{#if moreThanOneCondoType}}
                  <div class="the-row">
                    <div class="content">
                      {{> compares_stats condoId=getCondo isReady=ready dataCallback=getChartData}}
                    </div>
                  </div>
                {{/if}}
              {{/if}}
            {{/if}}
            {{#if getOption 'marketPlace_stats'}}
              <div class="the-row">
                <div class="content">
                  {{> marketPlace_stats condoId=getCondo isReady=messageReady dataCallback=getChartData}}
                </div>
              </div>
            {{/if}}
          </div>
        {{else}}
          <!--{{> details_stats condoId=getCondo search=getSearch isReady=ready}}-->
          {{> satisfies_stats condoId=getCondo isReady=ready dataCallback=getChartData}}
        {{/if}}
      {{/if}}
    </div>
  {{else}}
    {{> MbRestrictedAccess }}
  {{/if}}
  {{> modal_export_csv chartData=collectChartData}}
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
</template>
