<template name='admin_occupantList'>
  <div class='topBarContainer'>
    <div class='topBarModuleName'>{{ getDicoVar 'commonTranslation' 'manager_occupants' }}</div>
    <div class='topBarActionButton'>
      {{> CondoDropDown condoList=condoIds condoId=condoIdCb classes="pull-right"}}
      <a type="button" class="btn btn-red-confirm invitOccupant">{{getDicoVar 'commonTranslation' 'manager_invite_occupant'}}</a>
    </div>
  </div>
  <div class='tabBarContainer'>
    <div class='{{#if $eq selectedTab 'active'}}selectedTabBar{{/if}}' data-tab='active'>{{getDicoVar 'commonTranslation' 'active'}}</div>
    <div class='{{#if $eq selectedTab 'pending'}}selectedTabBar{{/if}}' data-tab='pending'>
      {{getDicoVar 'commonTranslation' 'pending'}}
      {{#with badges=getPendingCounter}}
        {{#unless $eq badges 0}}
          <div class='badges'>{{badges}}</div>
        {{/unless}}
      {{/with}}
    </div>
  </div>
  <div class="containerManagerList">
    {{#if isSubscribeReady}}
      {{> Template.dynamic template=getTemplateName data=getData}}
    {{else}}
      {{> loader}}
    {{/if}}
  </div>
</template>
