<template name="add_right_modal">
	<div id="add_right_modal" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<button type="button" class="close round-close" data-dismiss="modal">
				<img src="/img/icons/croix_48px.svg" width="36" alt="">
			</button>
			<div class="modal-content" style="overflow-y:initial;">
				<div class="modal-header">
				<div class="modal-heading pull-left mb30">
					<h4 id="myModalLabel" class="modal-title red_color">Ajouter un droit</h4>
				</div>
				</div>
				<div class="modal-body clearfix" id='subject'>

					<div class="flex">
						{{> lambdaDropDown FAIcon="fa-bookmark" elems=getModulesList placeholder="Choisir un module" session="dropdownSelectedModule"}}

						<input type="text" name="defaultRightNameCanonical" class="form-control addRight-text" placeholder="Nom du droit (Canonical)"/>
						<input type="text" name="defaultRightNameDisplay" class="form-control addRight-text" placeholder="Nom du droit (Display)"/>

						<button class="btn red_btn" id="addDefaultRight">Ajouter</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>