<template name="roles">
  <div class="row titleView">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-heading position_relative">
          <div class="sub-tool-bar clearfix">
            <h1 class="pull-left">Gestion des Rôles par défaut</h1>
            <button class="btn red_btn pull-right createNewRoles" style="height: 34px !important; margin-left: 16px;">Creer un role</button>
            {{> rolesDropDown classes="pull-right"}}
            {{#if isRoleSelected}}
              <button class="btn red_btn pull-right" data-toggle="modal" data-target="#add_right_modal">Ajouter</button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="allListBack" style="margin-top: 20px;overflow:visible;padding: 15px 20px !important;">
    {{#with currentDefaultRole=getCurrentDefaultRole}}
      <div class='forCondoTypeContainer'>
        {{> MbPanel content='Disponible pour les typologies suivantes'}}
        <div style='display: flex; justify-content: space-between; margin-top: 15px; margin-left: 13px; margin-right: 13px;'>
          <div>
            {{> MbCheckbox checked=(getRoleTypo 'copro') label="Copropriété" onClick=(onCheckboxClick 'copro')}}
          </div>
          <div>
            {{> MbCheckbox checked=(getRoleTypo 'mono') label="Monopropriété" onClick=(onCheckboxClick 'mono')}}
          </div>
          <div>
            {{> MbCheckbox checked=(getRoleTypo 'office') label="Bureau" onClick=(onCheckboxClick 'office')}}
          </div>
          <div>
            {{> MbCheckbox checked=(getRoleTypo 'student') label="Résidence Etudiante" onClick=(onCheckboxClick 'student')}}
          </div>
        </div>
      </div>
      <table class="table table-hover roleTable" style="width:100%;border-collapse:collapse;">
        <thead>
          <th>Droit</th>
          <th>Activé</th>
          <th>Désactivé</th>
          <th>N/A</th>
          <th></th>
        </thead>
        <tbody>
          {{#each right in currentDefaultRole.rights}}
            {{#unless iscurrentDisplayingModule right.module}}
              <tr style="background: #eeeeee;">
                <td class="moduleRow" colspan="5">
                  {{#if $eq right.module 'view'}}
                    {{getDicoVar 'roleName' (viewName right.module right.displayOrder)}}
                  {{else}}
                    {{getDicoVar 'roleName' right.module}}
                  {{/if}}
                </td>
              </tr>
            {{/unless}}
            <tr class="roleRight">
              <td class="roleRightRight">{{getRoleRightVal right}}</td>
              <td class="roleRightdefault">
                <div class="checkboxred">
                  {{#if $eq right.default true}}
                    <input type="checkbox" name="{{right.module}}.{{right.right}}.true" checked>
                  {{else}}
                    <input type="checkbox" name="{{right.module}}.{{right.right}}.true">
                  {{/if}}
                  <label class="labelForCheckbox" for="{{right.module}}.{{right.right}}.true"></label>
                </div>
              </td>
              <td class="roleRightdefault">
                <div class="checkboxred">
                  {{#if $eq right.default false}}
                    <input type="checkbox" name="{{right.module}}.{{right.right}}.false" checked>
                  {{else}}
                    <input type="checkbox" name="{{right.module}}.{{right.right}}.false">
                  {{/if}}
                  <label class="labelForCheckbox" for="{{right.module}}.{{right.right}}.false"></label>
                </div>
              </td>
              <td class="roleRightdefault">
                <div class="checkboxred">
                  {{#if $eq right.default null}}
                    <input type="checkbox" name="{{right.module}}.{{right.right}}.null" checked>
                  {{else}}
                    <input type="checkbox" name="{{right.module}}.{{right.right}}.null">
                  {{/if}}
                  <label class="labelForCheckbox" for="{{right.module}}.{{right.right}}.null"></label>
                </div>
              </td>
              <td>
                <div class="deleteRight" data-right="{{right.module}}.{{right.right}}">
                  <i class="fa fa-trash"></i>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/with}}
  </div>
  {{> add_right_modal}}
</template>
