<template name="module_trombinoscope_index">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<div class="occupantListContainer emergency-contact-header">
    <div class='topBarContainer'>
      <h1 class="pull-left topBarModuleName" style="top: 0;">{{getDicoVar "board" "whos_who"}} - {{getAddress}}</h1>
      {{#if userHasRight "trombi" "see"}}
      <div class="pull-right action" id="trombiButton" style="text-align: right; margin-top: 16px;">
        {{#if doDisplaySchoolDropdown}}
          <div class="dropdown per-s-list btn" style="width: 100px">
            <button class="btn clearfix text-left btn-transparent dropdown-toggle" type="button" data-toggle="dropdown" style="margin: 0">{{getDicoVar "moduleTrombinoscopeIndex" "school"}}
              <span class="mb-caret pull-right"></span>
            </button>
            <div class="dropdown-menu" style="left: inherit; right: -2px; width: 300px; padding-bottom: 5px">
              <form class="form-horizontal">
                <input type="search" name="search" id="searchSchool" class="form-control" value="" placeholder="{{getDicoVar "moduleTrombinoscopeIndex" "school"}}" required="required" title="">
              </form>
              <ul class="list-users list-unstyled" style="margin-top: 10px">
                {{#each school in schools}}
                  <li style="cursor: pointer" class="media school" val="{{school}}">
                    <div class="pull-left frame school-pre-wrap" style="width: 100%;">
                      <img style="display: inline-block;" src="{{schoolLink school}}" alt="#" class="img-responsive text-avatar">
                      <div class="school-wrapper" aria-labelledby="{{school}}">{{school}}</div>
                    </div>
                  </li>
                {{/each}}
              </ul>
              <div style="text-align: center;"><a class="small" id="resetSchool">{{getDicoVar "moduleTrombinoscopeIndex" "reset"}}</a></div>
            </div>
          </div>
        {{/if}}
        {{#if doDisplaySubjectDropdown}}
          <div class="dropdown per-s-list btn" style="width: 100px;">
            <button class="btn clearfix text-left btn-transparent dropdown-toggle" type="button" data-toggle="dropdown" style="margin: 0">{{getDicoVar "moduleTrombinoscopeIndex" "material"}}
              <span class="mb-caret pull-right"></span>
            </button>
            <div class="dropdown-menu" style="left: inherit; right: -2px; width: 300px; padding-bottom: 5px">
              <form class="form-horizontal">
                <input type="search" name="search" id="searchMatiere" class="form-control" value="" placeholder="{{getDicoVar "moduleTrombinoscopeIndex" "material"}}" required="required" title="">
              </form>
              <ul class="list-users list-unstyled" style="margin-top: 10px; text-align: center;">
                {{#each matiere in matieres}}
                  <li style="cursor: pointer; text-align: left;" class="media matiere" val="{{matiere}}">
                    <span>
                      <h5>{{matiere}}</h5>
                    </span>
                  </li>
                {{/each}}
              </ul>
              <div style="text-align: center;"><a class="small" id="resetMatiere">{{getDicoVar "moduleTrombinoscopeIndex" "reset"}}</a></div>
            </div>
          </div>
        {{/if}}
      </div>
      {{/if}}
    </div>

    {{#if userHasRight "trombi" "see"}}
      {{#if doPrintHelpModule}}
        <div class="row">
          <div class="col-sm-12 plpr23">
            <div class="help-module plpr20" style="display: block;">
              <div class="help-module-icon">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </div>
              <div class="help-module-text">
                {{getDicoVar "whoCanSeeHeader" "first_part"}} {{whoCanSee}} {{getDicoVar "whoCanSeeHeader" "second_part_who"}} "{{getDicoVar "moduleTrombinoscopeIndex" "who"}}"
              </div>
              <div class="help-module-exit">
                <button type="button" class="close" data-close="help-module" aria-hidden="true" style="padding-top: 4px;">×</button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
      <div class="emergency-contact-list-wrapper">
        {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=onSearch}}

        {{#if isNotEmpty users trombiGestionnaire trombiGestionnaireUnregistered }}
          {{#if specificFilter}}
            <div class="filter-container">
              <div class="col-md-2 col-sm-3" style="text-align: center">
                {{#if specificSchool}}
                  {{#if hasSchoolPhoto}}
                    <img src="{{schoolLink "selected"}}" class="img-responsive" style="max-height: 70px; max-width: 140px; margin-left: auto; margin-right: auto">
                  {{else}}
                    <label class="schoolBox">{{firstLettersSchool}}
                      <input id="fileUploadInput" type="file" style="display: none;">
                    </label>
                  {{/if}}
                {{else}}
                  {{#if specificMatiere}}
                    <label class="schoolBox">
                      {{firstLetterMatiere}}
                    </label>
                  {{/if}}
                {{/if}}
              </div>
              {{#if and (displaySchoolName) (displaySpeciality)}}
                <div class="col-sm-9">
                  <h4>{{displaySchoolName}} ({{displaySpeciality}})</h4>
                  <p class="color-grey">{{nbUsersDisplay}}</p>
                </div>
              {{else}}
                <div class="col-sm-9">
                  <h4>{{displaySchoolName}}{{displaySpeciality}}</h4>
                  <p class="color-grey" style="margin: 0">{{nbUsersDisplay}}</p>
                </div>
              {{/if}}
            </div>
          {{/if}}

          {{#let allUsers=users}}
            {{#with availableFields=(getAvailabledFields allUsers)}}
              {{#each user in allUsers}}
                {{#if showOnTrombiAndNotBlocked user}}
                <div class="emergency-contact-card {{getBlockedClass user._id}}">
                  {{#let pp=(avatarLink user._id)}}
                    {{#if pp}}
                      <div class='displayPictureImage' style="background-image: url({{pp}}), url(/img/anonymous.png);"></div>
                    {{else}}
                      <div class='displayPictureName'>{{getUserName user.profile true}}</div>
                    {{/if}}
                  {{/let}}
                  <p class="name">{{getUserName user.profile false}}</p>
                  {{#let residentProfile=(getResidentProfile user.resident.condos)}}
                    {{#if isFieldAvailable availableFields 'displayStatus'}}{{{displayStatut user}}}{{/if}} {{!-- COMMENTED IN JS PART --}}
                    {{#if isFieldAvailable availableFields 'displayFloor'}}{{{displayFloor residentProfile}}}{{/if}}
                    {{#if isFieldAvailable availableFields 'displayDoor'}}{{{displayDoor residentProfile}}}{{/if}}
                    {{#if isFieldAvailable availableFields 'displaySchool'}}{{{displaySchool residentProfile}}}{{/if}}
                    {{#if isFieldAvailable availableFields 'displayStud'}}{{{displayStud residentProfile}}}{{/if}}
                    {{#if isFieldAvailable availableFields 'displaySubject'}}{{{displaySubject residentProfile}}}{{/if}}
                    {{#if isFieldAvailable availableFields 'displayCompany'}}{{{displayCompany residentProfile}}}{{/if}}
                    {{#if isFieldAvailable availableFields 'displayOffice'}}{{{displayOffice residentProfile}}}{{/if}}
                    {{#if isFieldAvailable availableFields 'displayInterest'}}{{{renderInterest user._id}}}{{/if}}
                  {{/let}}
                  {{#if condoOptions "messenger"}}
                    {{#if moduleActivated currentCondo "messagerie"}}
                      {{#if userHasRight "trombi" "sendMessage"}}
                        {{#if and (hasMessenger user._id) (userHasRight "messenger" "writeToResident" currentCondo._id user._id)}}
                          <button class="mb-button red directMessage" userid="{{user._id}}">{{getDicoVar "moduleTrombinoscopeIndex" "message"}}</button>
                        {{else}}
                          <button class="mb-button disabled directMessage" userid="{{user._id}}" style="cursor: not-allowed" disabled>{{getDicoVar "moduleTrombinoscopeIndex" "message"}}</button>
                        {{/if}}
                      {{/if}}
                    {{/if}}
                  {{/if}}
                </div>
                {{/if}}
              {{/each}}
            {{/with}}
          {{/let}}
        {{else}}
          <div class='mb-empty-container'>
            {{#if isSearchActive}}
              {{> MbEmpty title=(getDicoVar 'trombi' 'no_result') }}
            {{else}}
              {{> MbEmpty title=(getDicoVar 'trombi' 'empty_title') }}
            {{/if}}
          </div>
        {{/if}}
      </div>
      <div class="emergency-contact-list-wrapper">
        {{#if or (trombiGestionnaire.length) (trombiGestionnaireUnregistered.length)}}
          <div class="sub-tool-bar clearfix flexAlign" style="padding: 16px 8px 10px; border-top: 1px solid #e0e0e0;margin: 16px 8px 0;">
            {{#with infoGest}}
              {{#if infoGest.logo.path}}
                <img class="pull-left" src="{{infoGest.logo.path}}" alt="" style="width: 40px; max-height: 40px">
              {{else}}
                <span class="userIcon">{{getFirstLetter (getCondoName currentCondo)}}</span>
              {{/if}}
              <div class="col-sm-9">
                <h1>{{getCondoName currentCondo}}</h1>
                <p class="color-grey" style="text-transform: lowercase;">{{getNbGestionnaire trombiGestionnaire.length trombiGestionnaireUnregistered.length}} {{getDicoVar 'commonTranslation' 'manager'}}(s)</p>
              </div>
            {{/with}}
          </div>
          {{#each user in trombiGestionnaire}}
            {{#if user}}
              <div class="emergency-contact-card">
                {{#let pp=(avatarLink user.userId) userProfile=(getUserProfile user.userId)}}
                  {{#if pp}}
                    <div class='displayPictureImage' style="background-image: url({{pp}}), url(/img/anonymous.png);"></div>
                  {{else}}
                    <div class='displayPictureName'>{{getUserName user true}}</div>
                  {{/if}}
                  <p class="name">{{getUserName user false}}</p>
                  <p class="info">{{userProfile.statusToOccupant}}</p>
                {{/let}}
                <!--
                {{#if condoOptions "messenger"}}
                  {{#if moduleActivated currentCondo "messagerie"}}
                    {{#if userHasRight "trombi" "sendMessage"}}
                      {{#if isMessengerGestionnaireActive}}
                        <button class="mb-button red directMessageGestionnaire" userid="{{user._id}}">{{getDicoVar "moduleTrombinoscopeIndex" "message"}}</button>
                      {{else}}
                        <button class="mb-button disabled directMessageGestionnaire" userid="{{user._id}}" style="cursor: not-allowed" disabled>{{getDicoVar "moduleTrombinoscopeIndex" "message"}}</button>
                      {{/if}}
                    {{/if}}
                  {{/if}}
                {{/if}}
                -->
              </div>
            {{/if}}
          {{/each}}
          {{#each user in trombiGestionnaireUnregistered}}
            {{#if user}}
              <div class="emergency-contact-card">
                {{#let pp=(avatarLink user._id)}}
                  {{#if pp}}
                    <div class='displayPictureImage' style="background-image: url({{pp}}), url(/img/anonymous.png);"></div>
                  {{else}}
                    <div class='displayPictureName'>{{getUserName user true}}</div>
                  {{/if}}
                {{/let}}
                <p class="name">{{getUserName user false}}</p>
                <p class="info">{{user.function}}</p>
                <!--
                {{#if condoOptions "messenger"}}
                  {{#if moduleActivated currentCondo "messagerie"}}
                    <button class="mb-button disabled directMessageGestionnaire" userid="{{user._id}}" style="cursor: not-allowed" disabled>{{getDicoVar "moduleTrombinoscopeIndex" "message"}}</button>
                  {{/if}}
                {{/if}}
                -->
              </div>
            {{/if}}
          {{/each}}
        {{/if}}
      </div>
    {{else}}
      <h4 class="text-center no-element"> {{> MbRestrictedAccess }} </h4>
    {{/if}}
	</div>
  <div id="modal-interest" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
    <div class="modal-dialog modal-lg">
      <button details="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">
        <div class="modal-body clearfix profileContainer">
          {{#let userProfile=getUserDetail}}
          {{#if userProfile}}
          <div class='basicProfile'>
            <div class='profilePictureContainer'>
              {{#let profilePicture=getProfileUrl}}
                {{#if profilePicture}}
                  <div class="profilePicture" style='background-image:url("{{profilePicture}}"), url("/img/anonymous.png")'></div>
                {{else}}
                  <div class="profilePictureInitial"><span>{{getUserInitial userProfile}}</span></div>
                {{/if}}
              {{/let}}
            </div>
            <div class='informationsContainer'>
              <div class='nameProfile'>{{userProfile.firstname}} {{userProfile.lastname}}</div>
              <div class="detail-tab-container">
                <div class="detail-container">
                  <div class='mbPanelContainer'>
                    {{> MbPanel content=(getDicoVar 'commonTranslation' 'interests')}}
                  </div>
                  <div class="tags-container">
                    {{#each interest in (getInterests userProfile)}}
                      <span class="user-interest">{{interest}}</span>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{#if condoOptions "messenger"}}
            {{#if moduleActivated currentCondo "messagerie"}}
              {{#if userHasRight "trombi" "sendMessage"}}
                {{#if hasMessenger userProfile._id}}
                  <button class="mb-button red directMessage pull-right" userid="{{userProfile._id}}">{{getDicoVar "moduleTrombinoscopeIndex" "message"}}</button>
                {{else}}
                  <button class="mb-button disabled directMessage pull-right" userid="{{userProfile._id}}" style="cursor: not-allowed" disabled>{{getDicoVar "moduleTrombinoscopeIndex" "message"}}</button>
                {{/if}}
              {{/if}}
            {{/if}}
          {{/if}}
          {{/if}}
          {{/let}}
        </div>
      </div>
    </div>
  </div>
</template>
