h1, h2, h3, h4, h5 {
  font-weight: 600;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt80 {
  margin-top: 80px;
}
.noBorder {
  border: none !important;
}

.mb-empty-container {
  width: 100%;
}

.flexTombi .trombi-submit-wrapper {
  display: flex;
  flex: 1;
  align-items: flex-end;
}

.flexTombi .thumbnail {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.school-pre-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.school-wrapper {
  display: block;
  margin: 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
  width: 90%;
  line-height: 16px;
  flex: 1;
  word-wrap: break-word;
}

.emergency-contact-list-wrapper {
  .filter-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: -6px;
  }

  .mb-empty {
    flex: unset;
    width: 100%;
  }
}

.trombinoscope_content {
  background-color: #DFFAFF;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 20px;
}

.white_bg_padding {
  background-color: #fff;
  max-width: 1250px;
  padding: 10px 20px;
}

.students {
  margin-top: 20px;
}

.white_bg {
  background-color: #fff;
  max-width: 1250px;
}

@media (max-width: 1550px) {
  .white_bg_padding {
    margin-left: 20px;
    margin-right: 20px;
  }
  .white_bg {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 1550px) {
  .white_bg_padding {
    margin-left: auto;
    margin-right: auto;
  }
  .white_bg {
    margin-left: auto;
    margin-right: auto;
  }
}

.white_bg_padding h3 {
  margin-top: 10px;
  margin-bottom: 0;
}
.customSelect .dropdown-menu img{
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.customSelect .dropdown-menu li a {
  padding: 3px 5px;
}

.customSelect .dropdown-menu > li {
  width: 300px;
}

.customSelect .img_description {
  margin: 0 10px 0px 45px;
}
.customSelect .btn .caret {
  margin-left: 10px;
  color: #69d2e7;
}
.customSelect .dropdown {
  float: left;
  outline: none !important;
  margin-left: -2px;
}
.dropdown_btn {
  background-color: transparent;
  border: none;
  padding: 10px 22px;
}
.customSelect .open {
  background-color: #B4F4FF;
}
.customSelect .dropdown-menu {
  min-width: 220px;
  border: 2px solid #dffaff;
}
.customSelect .dropdown-menu li {
  border-bottom: 1px solid #ddd;
}

.custom-search-input {
  margin: 0;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #fff;
}

.search {
  background-image: url(/img/resident/icon-42.png);
  background-repeat: no-repeat;
  background-position: 5px;
  padding: 19px 12px 19px 40px;
}
.search_box {
  float: left;
}
.blue_divider {
  height: 42px;
  width: 1px;
  float: left;
  margin-top: -2px;
  background-color: #B4F4FF;
  margin-left: -1px;
}
.customSelect .form-control {
  border: 1px solid transparent;
  font-weight: 600;
  box-shadow: none;
}
.customSelect .form-control:focus {
  box-shadow: inset 0 1px 1px #69d2e7, 0 0 8px #69d2e7;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.red_btn {
  /*background-color: var(--button-color);*/
  background-color: var(--secondary-color);
  color: #fff !important;
  outline: none !important;
  font-size: 14px;
  border: none;
  min-width: 64px;
  padding: 6px 25px;
  border-radius: 0;
}
.red_btn:hover,
.red_btn:active,
.red_btn:focus {
  cursor: pointer;
  /*background-color: var(--button-color);*/
  background-color: var(--secondary-color);
}
.school_block img {
  width: 180px;
  height: 180px;
  margin-top: 10px;
  border-radius: 50%;
}
.respoTrombi {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  text-align: center;
}
/* main_block_mob */
#etudiant img {
  float: left;
  display: inline-block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
#ecole img {
  float: left;
  display: inline-block;
  width: 150px;
  height: 100px;
}
#etudiant .img_description {
  margin-left: 130px;
  padding-top: 10px;
}
#ecole .img_description {
  margin-left: 180px;
  padding-top: 10px;
}
.custom_tab {
  background-color: #fff;
}
.custom_tab li {
  width: 50%;
  text-align: center;
  border: none;
}
.custom_tab li.active {
  border-bottom: 5px solid #69d2e7;
}
.custom_tab li a {
  border: none;
  color: #b3d9ff;
  background-color: white;
  margin: 15px;
  font-size: 18px;
  font-weight: 600;
}
.custom_tab>li>a:hover {
  border-color: transparent;
  background-color: #A3D400;
}
.custom_tab>li.active>a, .custom_tab>li.active>a:focus, .custom_tab>li.active>a:hover {
  color: #69d2e7;
  cursor: default;
  background-color: white;
  border: none;
}
.tab-content .list-group-item {
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  border-right: none;
  border-left: none;
  height: 120px;
  padding-left: 25px;
}
.tab-content .list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: #dffaff;
}

.messenger {
  background-color: #69d2e7;
}
@media (max-width: 360px) {
  .messenger {
    margin-left: 90px;
    margin-top: -40px;
  }
}
@media (min-width: 360px) {
  .messenger {
    margin-left: 160px;
    margin-top: -125px;
  }
}
.thumbnail {
  border-radius: 0;
  padding: 0;
  border: none;
}

.main_block_mob {
  margin-top: -10px;
}

.students_mob {
  margin-top: 60px;
}

.logo li .page-mobile {
  margin-top: 3px;
  margin-left: -35px;
  font-size: 13px !important;
}

.logo li .logo-mobile {
  margin-left: -10px;
  margin-top: 5px;
}
/* END: main_block_mob */
/*END: Trombinoscope page*/

.flexAlign{
  display: flex;
  align-items: center;
}

.icon-search-bar {
  background: url(img/icons/search.svg) center center / 16px 16px no-repeat;
  width: 36px;
  height: 36px;
}

.emergency-contact-card.blocked {
  opacity: 0.5;
  .displayPictureName, .directMessage, .user-interest {
    background-color: #8b999f!important;
    cursor: not-allowed;
    border-color: #8b999f!important;
  }
  .more-user-interest {
    border-color: #8b999f!important;
    color: #8b999f!important;
  }
}
