<template name="manager_conversationHeader">
  <div class="conversation-header">
    {{#let currentConversation=getCurrentConversation usersInformation=getUsersInformation isNewMessage=getIsNewMessage }}
      {{#if isNewMessage}}
        {{resetSelect}}
        <div class="conversation-header-container">
          <div class="conversation-header-new-user-wrap">
            <span class="conversation-header-new-user-label">{{getDicoVar "messageInput" "to"}}</span>
            {{#if checkCondoId}}
              {{#let userInBuilding=getUserInBuilding userForNewConversation=getUserForNewConversation}}
                {{> MbSelect
                  selected=userForNewConversation
                  noLabel=true
                  multiple=true
                  onSelect=onSelectUser
                  options=userInBuilding
                  placeholder=(getDicoVar 'messageInput' 'destination')
                }}
              {{/let}}
            {{else}}
              {{setNewCondoId}}
            {{/if}}
          </div>
        </div>
      {{else}}
        <div class="conversation-header-container">
          <div class="conversation-header-user">
            <div class="conversation-header-icon">
              <span class="userIcon-main">
                {{#let userIcon=(getConversationInitial currentConversation usersInformation)}}
                  {{#if userIcon.isPicture}}
                    <div style="background-image:url('{{userIcon.src}}'), url('/img/anonymous.png')" class="smallprofilepic userIcon"></div>
                  {{else}}
                    <span class="userIcon">
                      {{userIcon.initial}}
                    </span>
                  {{/if}}
                  <div class="editConversationPicture"></div>
                  <div class="dropdownConversationPicture displayNone">
                    <div class="tick"></div>
                    <div class="textSelector uploadPhoto">{{ getDicoVar 'commonTranslation' 'upload_photo' }}</div>
                    <div class="textSelector removePhoto">{{ getDicoVar 'commonTranslation' 'remove_photo' }}</div>
                    <div class="textSelector cancelDropdown">{{ getDicoVar 'commonTranslation' 'cancel' }}</div>
                  </div>
                  <input id="inputAvatar" type="file" style="display: none;">
                {{/let}}
              </span>
            </div>
            <span class="conversation-header-title">
              {{getConversationName currentConversation usersInformation}}
            </span>
            <input type="text" class="conversation-header-title conversation-header-title-input displayNone" value="{{getConversationName currentConversation usersInformation}}">
            <div class="conversation-header-item-pencil">
              <i class="image-icon edit-icon"></i>
            </div>
          </div>
          <div class="conversation-header-invit-button" data-toggle="modal" data-target="#invitUserInConv">
            <span class="invit-modal-btn" style="cursor: pointer">
              <i class="image-icon add-occupant-icon"></i>
            </span>
          </div>
        </div>
        {{#let otherUsers=(getUsersOfConv currentConversation usersInformation)}}
          {{#if $gte otherUsers.length 1}}
            <div class="conversation-header-container-footer">
              <span class="otherParticipant-label">
                {{getDicoVar "moduleMessagerieIndex" "other_participant"}}
              </span>
              {{#each name in otherUsers}}
                <span class="otherParticipant-tag">{{name}}</span>
              {{/each}}
            </div>
          {{/if}}
        {{/let}}
      {{/if}}
      {{> manager_inviteUserInConversation currentConversation=currentConversation }}
    {{/let}}
  </div>
</template>
