.mb__payment {
  &.hidden {
    display: none;
  }

  &.displayed {
    width: 100%;
    height: 100%;
  }
}

.payzen-payment-iframe {
  position: absolute;
  top: -73px;
  left: -25px;
  border: none;
  z-index: 9999999;
  width: calc(~'100% + 50px');
  height: calc(~'100% + 93px');
  background-color: white;
}
