.walletContainerController {
  padding-left: 16px !important;
  padding-top: 21px !important;
  padding-bottom: 21px !important;
  min-height: calc(~'100vh - 465px') !important;
  margin: 0 !important;
  background-color: white;
  width: 100%;
  height: fit-content;
  position: relative;
  overflow-x: auto;
  .managerDetailsContainer {
    margin: 16px 0;
    width: 100%;

    .containerLine {
      cursor: pointer;
    }
    .containerColumn {
      height: 64px;

      &::first-letter {
        text-transform: capitalize;
      }

      th {
        vertical-align: middle;
        font-family: Lato;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        color: #5d5e62;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .lighter {
      color: #8b999f !important;
    }
    .commonColumn {
      vertical-align: middle;
      font-family: Lato;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -0.4px;
      text-align: left;
      color: #5d5e62;
      width: auto;

      @media (min-width: 1430px) {
        max-width: 200px!important;
      }
    }
  }
}

.paymentIcon {
  &-mastercard {
    background: url('/img/icons/svg/mastercard.svg');
    background-repeat: no-repeat;
    background-position:center;
    height: 24px;
    width: 40px;
  }
  &-sepa {
    background: url('/img/icons/svg/sepa.svg');
    background-repeat: no-repeat;
    background-position:center;
    height: 24px;
    width: 40px;
  }
  &-paypal {
    background: url('/img/icons/svg/paypal.svg');
    background-repeat: no-repeat;
    background-position:center;
    height: 24px;
    width: 40px;
  }
  &-sqare {
    background: url('/img/icons/svg/sqare.svg');
    background-repeat: no-repeat;
    background-position:center;
    height: 24px;
    width: 40px;
  }
  &-maestro {
    background: url('/img/icons/svg/maestro.svg');
    background-repeat: no-repeat;
    background-position:center;
    height: 24px;
    width: 40px;
  }
  &-bitcoin {
    background: url('/img/icons/svg/bitcoin.svg');
    background-repeat: no-repeat;
    background-position:center;
    height: 24px;
    width: 40px;
  }
  &-amex {
    background: url('/img/icons/svg/amex.svg');
    background-repeat: no-repeat;
    background-position:center;
    height: 24px;
    width: 40px;
  }
  &-visa {
    background: url('/img/icons/svg/visa.svg');
    background-repeat: no-repeat;
    background-position:center;
    height: 24px;
    width: 40px;
  }
}
