<template name='module_walletController'>
  <div class='occupantListContainer'>
    <div class='topBarContainer'>
      <div class='topBarModuleName'>Wallet - {{getCondoName}}</div>
    </div>
    {{#if isSubscribeReady}}
      {{> wallet_generalInformations}}
      <div class='tabBarContainer'>
        <div class='{{#if $eq selectedTab 'stats'}}selectedTabBar{{/if}}' data-tab='stats'>{{getDicoVar 'commonTranslation' 'spending_stats'}}</div>
        <div class='{{#if $eq selectedTab 'transactions'}}selectedTabBar{{/if}}' data-tab='transactions'>{{getDicoVar 'commonTranslation' 'transactions'}}</div>
        <div class='{{#if $eq selectedTab 'payment_method'}}selectedTabBar{{/if}}' data-tab='payment_method'>{{getDicoVar 'commonTranslation' 'payment_method'}}</div>
      </div>
      <div class="walletContainerController">
        {{> Template.dynamic template=getTemplateName}}
      </div>
    {{else}}
      {{> loader}}
    {{/if}}
  </div>
</template>
