<template name="bookedResources_stats">
    <div class="chart-item">
        <div class="head">
            <h3>{{getDicoVar "stats" "booked_resources"}}</h3>
            <p>{{getDicoVar "stats" "booked_resources_sub"}}</p>
        </div>
        <div class="body {{emptyClass}}">
            {{#unless ready}}
                <div class="loader-container">
                    {{> loader}}
                </div>
            {{else}}
            {{#unless isEmpty}}
            <span>&nbsp;</span>  <!-- Don't remove -->
            {{#if loadingData}}
              <div class="loader-container-over">
                {{> loader}}
              </div>
            {{/if}}

            <div id="booked-resources-chart-container" class="the-chart">
                {{renderChart}}
            </div>
            <div id="chartjs-booked-resources-chart-legend" class="chart-legend-container"></div>
            <div id="chartjs-booked-resources-chart-tooltips" class="chart-tooltips-container">
                <table></table>
            </div>
            {{else}}
            <span class="circle small">{{getDicoVar "stats" "no_data"}}</span>
            {{/unless}}
            {{/unless}}
        </div>
    </div>
</template>
