// .load {
//   display: flex;
//   justify-content: center;
//   min-height: 245px;
//   #loading {
//     position: unset;
//   }
// }

// .loaderSpinner {
//   border: 16px solid #f3f3f3; /* Light grey */
//   border-top: 16px solid var(--primary-color); /* Blue */
//   border-radius: 50%;
//   width: 120px;
//   height: 120px;
//   animation: spin 2s linear infinite;
// }


.load {
  display: flex;
  justify-content: center;
  min-height: 245px;
  #loading {
    position: unset;
  }

  // width: 100%;
  // height: 100%;
  // position: absolute;
  // top: 0;
  // background-color: white;
  // z-index: 999999;

  .loaderSpinner {
    margin: 0 auto;
    text-align: center;
    padding: 32px;
    width: 100%;
    height: 100%;
  }

  .loaderContainer {
    top: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);

  }
  .lds-roller {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 128px;
    height: 128px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 64px 64px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--primary-color);
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 100px;
    left: 100px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 108px;
    left: 90px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 114px;
    left: 78px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 116px;
    left: 64px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 114px;
    left: 50px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 108px;
    left: 38px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 100px;
    left: 28px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 90px;
    left: 20px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
