<template name="loader">
  <div class='text-center load'>
    <div class='loaderSpinner' id="loading">
      <div class='loaderContainer'>
        <div class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</template>
