<template name='ForumCard'>
  {{!-- {{#let post=this.element}} --}}
  <div class="card-block small-padding">
    <div class="card-inner pos-relative">
      <div class="mb-post" id="go-to-detail">
        <div class="mb-post-header">
          <div class="mb-post-meta">
            <div class="mb-post-avatar">
              {{> userIcon template="userIcon" type="U" userId=this.post.userId }}
            </div>

            <div class="mb-post-info">
              <div class="mb-post-username">
                {{ getName this.post.userId 'firstname' }} {{ getName this.post.userId 'lastname'}} {{ isUser this.post.userId }}
              </div>
              <div class="mb-post-created">
                {{!-- {{#if isEdited this.post._id}}
                  {{getDicoVar "home" "edited"}}
                {{else}}
                  {{getDicoVar "moduleActualityIndex" "published_on"}}
                {{/if}} --}}
                {{ parseDate (isEdited this.post._id) this.post.feedDate this.post.endDate }}
                •
                {{#if equals this.post.type 'poll'}}
                  {{ getDicoVar 'feedList' 'poll' }}
                {{else}}
                  {{ getDicoVar 'feedList' 'post' }}
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        <div class="mb-post-content">
          <div class="mb-post-description">
            <div class="break-line truncated">
              <div style="display: flex;">
                <div class="mb-post-icon {{#if equals this.post.type 'poll'}}icon-poll{{/if}}">
                </div>
                <div>{{ this.post.subject }}</div>
              </div>
            </div>

            <div class='{{#if hasFiles this.post.hasFiles}}imagesWrapper{{/if}}'>
              {{#if this.post.filesId}}
                {{getFilesFromServer this.post.filesId}}
                <div class="mb-file-wrapper">
                  {{> React
                    component=MbFilePreview
                    files=getFiles
                    newFiles=(newFiles this.post.filesId)
                    layout="13"
                    nativeObject=true
                    limit=4
                    onMore=onMore
                  }}
                </div>
              {{/if}}
            </div>

            {{#if equals this.post.type 'poll'}}
              <div class="row">
                <div class="col-md-10 col-xs-12">
                  {{> MbPoll post=post onVote=onVote }}
                </div>

                <div class='col-md-10 col-xs-12 poll-expire-date'>{{showExpireDate this.post}}</div>
              </div>
            {{/if}}

          </div>
        </div>
        <div class="mb-post-footer no-padding goToDetailPost" style='cursor: pointer;'>
          <div class="mb-post-stat mb-post-comment-icon">
            {{ getCommentCount }} {{ getDicoVar 'common' 'comments' }}
          </div>
          <div class="mb-post-stat mb-post-view-icon">
            {{ getViewCount this.post._id }} {{ getDicoVar 'common' 'views' }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- {{/let}} --}}
</template>
