<template name='personalDetailsOccupantFromOccupant'>
  <div class='occupantListContainer'>
    <div class='topBarContainer'>
      <div class='topBarModuleNameWithBack'>
        Occupants - {{getCondoName}}
        <div id='backbutton'>
          <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;">
          {{getDicoVar 'commonTranslation' 'manager_back'}}
        </div>
      </div>
      <div class='topBarActionButton'>
        {{#if and (userHasRight "trombi" "seeOccupantList") (userHasRight "trombi" "addOccupant")}}
        <a type="button" class="btn btn-red-confirm submitNewOccupant" disabled="{{#unless canSubmit}}disabled{{/unless}}">{{getDicoVar 'commonTranslation' 'personal_details_save'}}</a>
        {{/if}}
      </div>
    </div>
    {{!-- {{#let condoIds=CDD_cursorMain}} --}}
    {{#if isSubscribeReady}}
      <div class="containerManagerList personalDetails">
        <div class='civiliteSelector'>
        {{> MbPanel content=(getDicoVar 'commonTranslation' 'manager_personal_information')}}
        </div>
        <div class='rowsProfile-3'>
        {{> MbSelect
          selected=(getForm 'civilite' null)
          required=false
          label=(getDicoVar 'commonTranslation' 'civility')
          onSelect=(onSelect 'civilite')
          options=getCiviliteOptions
          placeholder=(getDicoVar 'commonTranslation' 'manager_select_civility')
        }}

        {{> MbInput
            label=(getDicoVar 'commonTranslation' 'firstname')
            value=(getForm 'firstname' null)
            required=true
            onInput=(onInputDetails 'firstname')
            placeholder=(getDicoVar 'commonTranslation' 'fill_in_firstname')
            isError=(isFieldError 'firstname')}}

        {{> MbInput
            label=(getDicoVar 'commonTranslation' 'lastname')
            value=(getForm 'lastname' null)
            required=true
            onInput=(onInputDetails 'lastname')
            placeholder=(getDicoVar 'commonTranslation' 'fill_in_lastname')
            isError=(isFieldError 'lastname')}}
        </div>
        {{> MbInput
            label='Email'
            value=(getForm 'email' null)
            required=true
            onInput=(onInputDetails 'email')
            placeholder=(getDicoVar 'commonTranslation' 'fill_in_email')
            isError=(isFieldError 'email')}}

        <div class='rowsProfile-2'>
          <div class='phoneContainer'>
          {{> MbSelect
            selected=(getForm 'phoneCode' null)
            isPhoneCodeList=true
            required=false
            label=(getDicoVar 'commonTranslation' 'mobile')
            onSelect=(onSelect 'phoneCode')
            options=(parsePhoneCode GetAllPhoneCode)
            placeholder=(getDicoVar 'commonTranslation' 'select_area_code')
            refresher=null
          }}
          {{> MbInput
              label=' '
              value=(getForm 'phone' null)
              onInput=(onInputDetails 'phone')
              placeholder=(getDicoVar 'commonTranslation' 'fill_in_mobile_phone_number')
              isError=(isFieldError 'phone')}}
          </div>

          <div class='phoneContainer'>
          {{> MbSelect
            selected=(getForm 'phoneCodeLandline' null)
            isPhoneCodeList=true
            label=(getDicoVar 'commonTranslation' 'phone')
            onSelect=(onSelect 'phoneCodeLandline')
            options=(parsePhoneCode GetAllPhoneCode)
            placeholder=(getDicoVar 'commonTranslation' 'select_area_code')
            refresher=null
          }}
          {{> MbInput
              label=' '
              value=(getForm 'landline' null)
              required=false
              onInput=(onInputDetails 'landline')
              placeholder=(getDicoVar 'commonTranslation' 'fill_in_phone_number')
              isError=(isFieldError 'landline')}}
          </div>
        </div>

        <table>
          <thead>
            <th></th>
            <th></th>
          </thead>

          <tbody class="register-at-selector">
            <tr>
              <td class="checkStat">
                <div class="checkboxred">
                  <input type="checkbox" {{getChecked 'immediateRegistration'}} name="immediateRegistration">
                  <label class="labelForCheckbox " data-display="" for="immediateRegistration"></label>
                </div>
              </td>
              <td>{{getDicoVar 'commonTranslation' 'immediate_registration'}}</td>
            </tr>
            <tr>
              <td class="checkStat">
                <div class="checkboxred">
                  <input type="checkbox" {{getChecked 'deferredRegistration'}} name="deferredRegistration">
                  <label class="labelForCheckbox " data-display="" for="deferredRegistration"></label>
                </div>
              </td>
              <td>{{getDicoVar 'commonTranslation' 'deferred_registration'}}</td>
            </tr>
          </tbody>
        </table>

        {{#if useDeferredRegistration}}
        <div class="datePickerBlock">
          <div class="expire-label">
            <span style="text-transform: uppercase;">{{getDicoVar 'commonTranslation' 'deferred_registration_date'}}</span>
          </div>
          <div style="display: flex; margin-top: 10px;">
            <div class="datePickerSvg"></div>
            <div class="manager-deferred-wrapper">
              {{> React
                  component=getDateTimeComponent
                  value=getDelayedDate
                  defaultValue=defaultDateTime
                  inputProps=getDatePlaceholder
                  onChange=handleChangeDate
                  dateFormat="DD-MM-YYYY"
                  timeFormat="HH:mm"
                  locale=getLocal
                  isValidDate=isValidDate
                  closeOnSelect=true
              }}
            </div>
          </div>
        </div>
        {{/if}}

        {{#each condo in selectedCondo}}
          <div class='condoListContainerOccupant' style='{{#if or (condo) ($eq @index 0)}}opacity: 1;{{else}}opacity: 0;{{/if}}'>
            {{> MbPanel content=(getDicoVar "commonTranslation" "building")}}
            {{> MbSelect
              selected=condo
              required=true
              label=(getDicoVar "commonTranslation" "linked_building")
              onSelect=(onSelectCb 'condos' @index)
              options=(getCondoOptions @index)
              placeholder=(getDicoVar 'commonTranslation' 'select_building')
            }}
            {{#if $neq condo null}}
              <div style='margin-top: 25px'>
                {{> MbSelect
                  selected=(getForm 'building' @index)
                  refresher=(getForm 'building' @index)
                  required=true
                  label=(getDicoVar "commonTranslation" "sub_building")
                  onSelect=(onSelectCb 'building' @index)
                  options=(getBuildingOptions condo)
                  placeholder=(getDicoVar "commonTranslation" "select_sub_building")
                }}
              </div>
              <div class='displayCondoListOccupant'>
                <div>
                  {{> MbSelect
                    selected=(getForm 'status' @index)
                    refresher=(getForm 'status' @index)
                    required=true
                    label=(getDicoVar "commonTranslation" "status")
                    onSelect=(onSelectCb 'status' @index)
                    options=(getStatusOptions condo)
                    placeholder=(getDicoVar "commonTranslation" "select_status")
                  }}
                </div>
                <div>
                {{> MbSelect
                  selected=(getForm 'roles' @index)
                  refresher=(getForm 'roles' @index)
                  required=true
                  label=(getDicoVar 'commonTranslation' 'role')
                  onSelect=(onSelectCb 'roles' @index)
                  options=(getroleOptions)
                  placeholder=(getDicoVar 'commonTranslation' 'select_role')
                }}
                </div>
                <div>
                  {{#unless (canCustomizeRights @index)}}
                    {{> MbButton label=(getDicoVar 'commonTranslation' 'custom_rights') onClick=null class='danger disabled'}}
                  {{else}}
                    {{> MbButton label=(getDicoVar 'commonTranslation' 'custom_rights') onClick=(customizeRights @index) class='danger'}}
                  {{/unless}}
                </div>
                {{!-- <div>
                  <a type="button" class="btn btn-red-confirm">{{getDicoVar "commonTranslation" "custom_rights"}}</a>
                </div> --}}
              </div>
              <div class='groupBuildingInfo groupBuildingInfo-3'>
                {{#if condoModulesOptions condo "profile" "company"}}
                  {{> MbInput
                      disabled=true
                      value=(getForm 'company' @index)
                      label=(getDicoVar "commonTranslation" "company")
                      required=false
                      onInput=null
                      placeholder=(getDicoVar "commonTranslation" "fill_in_occupant_company")
                  }}
                {{/if}}
                {{#if condoModulesOptions condo "profile" "floor"}}
                  {{> MbInput
                      label=(getDicoVar "commonTranslation" "floor")
                      value=(getForm 'floor' @index)
                      required=false
                      onInput=(onInputDetails 'floor' @index)
                      type='number'
                      placeholder=(getDicoVar "commonTranslation" "fill_in_occupant_floor")
                  }}
                {{/if}}
                {{#if condoModulesOptions condo "profile" "office"}}
                  {{> MbInput
                      label=(getDicoVar "commonTranslation" "office")
                      value=(getForm 'office' @index)
                      required=false
                      onInput=(onInputDetails 'office' @index)
                      type='number'
                      placeholder=(getDicoVar "commonTranslation" "fill_in_occupant_office_nbr")
                  }}
                {{else}}
                  {{#if condoModulesOptions condo "profile" "door"}}
                    {{> MbInput
                        label=(getDicoVar "commonTranslation" "door")
                        value=(getForm 'door' @index)
                        required=false
                        onInput=(onInputDetails 'door' @index)
                        type='number'
                        placeholder=(getDicoVar "commonTranslation" "fill_in_occupant_door_nbr")
                    }}
                  {{/if}}
                {{/if}}
              </div>
              <div class='groupBuildingInfo groupBuildingInfo-3'>
                {{#if condoModulesOptions condo "profile" "school"}}
                  {{> MbSelect
                    selected=(getForm 'school' @index)
                    refresher=(getForm 'school' @index)
                    required=false
                    label=(getDicoVar "commonTranslation" "school")
                    onSelect=(onSelectCb 'school' @index)
                    options=(getSchoolOptions)
                    placeholder=(getDicoVar "commonTranslation" "select_school")
                  }}
                {{/if}}
                {{#if condoModulesOptions condo "profile" "diploma"}}
                  {{> MbInput
                    label=(getDicoVar "commonTranslation" "degree")
                    value=(getForm 'diploma' @index)
                    required=false
                    onInput=(onInputDetails 'diploma' @index)
                    placeholder=(getDicoVar "commonTranslation" "fill_in_degree")
                }}
                {{/if}}
                {{#if condoModulesOptions condo "profile" "studies"}}
                  {{> MbSelect
                    hasGroup=true
                    group=getStudiesGroup
                    selected=(getForm 'studies' @index)
                    refresher=(getForm 'studies' @index)
                    required=false
                    label=(getDicoVar "commonTranslation" "school_studies")
                    onSelect=(onSelectCb 'studies' @index)
                    options=(getStudiesOptions)
                    placeholder=(getDicoVar "commonTranslation" "select_studies")
                  }}
                {{/if}}
              </div>
            {{/if}}
          </div>
          {{setOpacity}}
        {{/each}}
      </div>
    {{else}}
      {{> loader}}
    {{/if}}
    {{#if customizeRightsOn}}
      {{> modalCustomizeRights roleId=getCustomizeRoleId condoId=getCustomizeCondoId cb=saveModalRights customRights=getCustomRights modalTitle=(getDicoVar 'commonTranslation' 'occupant_rights_management')}}
    {{/if}}
    {{!-- {{/let}} --}}
  </div>
</template>
