<html lang="en">
<head>
  <title>MonBuilding</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  {{{style}}}
</head>
<body>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#f1f5f6">
  <tbody>
  <tr>
    <td align="center" bgcolor="#f1f5f6">
       <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;">
        <tbody>
        <tr>
          <td class="w640" width="640" height="10"></td>
        </tr>
        {{{emailHeaderLogo}}}
        <tr>
          <td class="w640" width="640" height="1" bgcolor=""></td>
        </tr>
        <tr class="content">
          <td class="w640" width="640" bgcolor="#ffffff">
            <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
              <tbody>
              <tr>
                <td class="w30" width="30"></td>
                <td class="w580" width="580">
                  <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0" style="padding: 20px 0 0px 0;">
                    <tbody>
                    <tr>
                      <td class="w580" width="580">
                        <h2 style="color: #5d5e62; font-size:26px; font-weight: 600; margin-bottom: 26px !important; padding: 0 !important;">Your account has been deactivated</h2>
                        <div align="left" class="article-content" style="color:#5d5e62;">
                          <table>
                            <thead>
                            <tr>
                              <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td class="paddingTable" style="font-weight: 100; color:#5d5e62; font-size:16px;">Your account is now deactivated. We are sorry to see you go.</td>
                            </tr>
                            <tr>
                                <td height="10"></td>
                              </tr>
                            <tr>
                              <td class="paddingTable" style="font-weight: 100; color:#5d5e62; font-size:16px;">We hope the platform has been useful to you and that we will get the chance to have you back very soon!</td>
                            </tr>
                            <tr>
                                <td height="10"></td>
                              </tr>
                            <!--[if !mso]><!-->
                            <tr>
                              <td class="paddingTable" style="font-weight: 100; color:#5d5e62; font-size:16px;">We would really appreciate it if you could take a few minutes to share your feedback with us so that we can continue to improve the platform!</td>
                            </tr>
                            <tr>
                                <td height="10"></td>
                              </tr>
                            <tr>
                              <td class="paddingTable" style="font-weight: 100; color:#5d5e62; font-size:16px;">
                                <form action="{{formLink}}" method="get">
                                  <input type="hidden" value="{{userId}}" name="userid" >
                                  <input type="hidden" value="{{condoId}}" name="condoid" >
                                  <textarea style="padding: 10px 15px; width: calc(100% - 30px); margin-top: 30px; margin-bottom: 10px; resize: none;" cols="60" rows="5" name="comment" placeholder="Comment"></textarea>
                                  <br>
                                  <button type="submit" style="cursor: pointer;text-align:center;font-size:18px;height:40px;font-family:sans-serif;background-color:{{primaryColor}};border-top-width:0;border-right-width:0;border-bottom-width:0;border-left-width:0;color:white;font-weight:200;letter-spacing:1px;border-radius:1px;width:60%;outline: none;">Send</button>
                                </form>
                              </td>
                            </tr>
                            <!--<![endif]-->
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" style="padding: 0 0 20px 0;">
                      </td>
                    </tr>
                    {{{slogan}}}
                    </tbody>
                  </table>
                </td>
                <td class="w30" width="30"></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        {{{appDl}}}
        {{{generatedMessage}}}
        {{{emailFooter}}}
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
