<template name="newMessageManager">
	<div class="modal fade right main-modal d-modal" id="modal_new_message" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<button type="button" class="close round-close" data-dismiss="modal">
				<img src="/img/icons/croix_48px.svg" width="36" alt="">
			</button>
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-heading pull-left">
						<h4 class="modal-title" id="myModalLabel"> {{ getDicoVar 'moduleMessagerieIndex' 'newMsg' }} </h4>
					</div>
				</div>
				<div class="modal-body clearfix">
					<form id="NewMessageForm">
						<div class="row">
							<div class="col-xs-12" style="margin-bottom: 15px;">
								{{> MbCondoPicker
										condoIds=CDD_cursor
										onSelect=onCondoChange
								}}
							</div>
						</div>
							<div class="row">
								<div class="col-xs-12 mt10">
									<p class="labelInput"> {{ getDicoVar 'moduleMessagerieIndex' 'dest' }} <span class="required"></span></p>
									<div class="form-group multi-select">
										<select name="destinataires" class="select-contacts form-control" multiple="multiple" id="destinataires">
											{{#each resident in getResidents}}
												<option value="{{resident.id}}" disabled="{{resident.disabled}}">{{resident.text}}</option>
											{{/each}}
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<p class="labelInput"> {{ getDicoVar 'moduleMessagerieIndex' 'type' }} <span class="required"></span></p>
									<div class="form-group multi-select">
										<select name="typeMessage" class="select-contacts form-control" id="typeMessage">
											<option selected disabled hidden style='display: none' value=''></option>
											{{#with typeIncident=(incidentType getCondoId)}}
												{{#if $eq typeIncident.length 0}}
													<option disabled><i> {{ getDicoVar 'moduleMessagerieIndex' 'selectBuilding' }} </i></option>
												{{else}}
													{{#each typeIncident}}
														<option value="{{this._id}}">{{getValueByLang this}}</option>
													{{/each}}
												{{/if}}
											{{/with}}
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<p class="labelInput"> {{ getDicoVar 'moduleMessagerieIndex' 'subject' }} <span class="required"></span></p>
									<div class="form-group">
										<input id="sujet" type="text" name="sujet" class="form-control" placeholder="{{getDicoVar 'commonTranslation' 'type_subject'}}"/>
										<small class="pull-right {{#if $lt nbChar 0}}color-red{{else}}color-grey{{/if}}" style="font-style: italic">{{nbChar}} {{getDicoVar 'moduleMessagerieIndex' 'character'}}{{#if $neq nbChar 0}}s{{/if}}</small>
									</div>
								</div>
							</div>

            <div class="row">
              <div class="col-xs-12">
                <label class="mb-label">
                  {{ getDicoVar 'moduleMessagerieIndex' 'message' }}
                  <i class="image-icon mandatory-icon"></i>
                </label>
                <div class="info-msg-box">
                  <div class="info-msg-box-row">
                    <div>
                      {{> React component=MbTextArea
                        minRow=3
                        onChange=onMessageChange
                        value=getMessageValue
                        placeholder=(getDicoVar 'commonTranslation' 'write_message')
                      }}
                    </div>
                  </div>

                  {{> FileList files=previewFiles onRemove=onFileRemoved onFileAdded=onFileAdded }}
                </div>
              </div>
            </div>

            <div class="modal-footer d-flex flex-row align-items-center justify-end" style="padding: 0 !important">
              <span style="margin-right: 10px;">
                {{> FileUploadButton files=previewFiles onFileAdded=onFileAdded }}
              </span>

              <button
                id="submitMessage"
                class="btn red_btn"
                data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'messageInput' 'sending'}}..."
              >
                {{getDicoVar "messageInput" "send"}}
              </button>
            </div>
					</form>
					{{#if $neq errorMessage ""}}
						<br>
						<div style="text-align: left" class="alert alert-danger">
							{{errorMessage}}
						</div>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</template>
