#NewMessageForm {
  textarea {
    font-family: 'Lato', 'Source Sans Pro', sans-serif;
    font-size: 17px;
    letter-spacing: -0.4px;
    text-align: left;
    color: #5d5e62;

    &::placeholder,
    &::-webkit-input-placeholder {
      color: #999;
    }
  }

  .errorModalInput {
    border: 0 !important;
    border-bottom: 1px solid red !important;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding-left: 0 !important;
  }

  .select2-container--default .select2-search--inline .select2-search__field {
    width: auto !important;
    color: #999;
    font-family: 'Lato', 'Source Sans Pro', sans-serif;
    font-size: 17px;
    letter-spacing: -0.4px;
    text-align: left;
    line-height: 17px;
    opacity: 0.8;
    margin-left: 0;
  }

  .multi-select .select2-container--default {
    .select2-selection--single,
    .select2-selection--multiple {
      border: none;
      border-bottom: 1px solid #E1E2E7;
    }

    .select2-selection--multiple {
      font-family: 'Lato', 'Source Sans Pro', sans-serif;
      font-size: 17px;
      letter-spacing: -0.4px;
      text-align: left;
      color: #5d5e62;
      padding: 4px 0;
    }

    .select2-selection--single {
      .select2-selection__rendered {
        font-family: 'Lato', 'Source Sans Pro', sans-serif;
        font-size: 17px;
        letter-spacing: -0.4px;
        text-align: left;
        color: #5d5e62;
        padding: 10px 0;
        margin-top: 0;
        line-height: 17px;

      }
    }

  }

  input[type="text"] {
    border: none;
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #E1E2E7;
    font-family: 'Lato', 'Source Sans Pro', sans-serif;
    font-size: 17px;
    letter-spacing: -0.4px;
    text-align: left;
    color: #5d5e62;
    padding: 10px 0;
  }

  .labelInput {
    text-transform: uppercase;
    font-family: 'Lato', 'Source Sans Pro', sans-serif;
    font-size: 12px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #8b999f;
    margin: 0;

    span.required {
      width: 7px;
      height: 7px;
      display: inline-block;
      margin-bottom: 3px;
      margin-left: 3px;
      background-image: url(img/icons/mandatory.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
}
