<template name="MbPlaceInput">
  <div class="mb-input">
    <form id="update-value"></form>
    <label for="mb-select">{{getLabel}}{{#if isRequired}}<i class="image-icon mandatory-icon"></i>{{/if}}</label>
    <input
      placeholder="{{getPlaceholder}}"
      value="{{getValue}}"
      id="mb-input-{{ getRandomId }}"
      class="{{#if isError}}mb-input-error{{/if}}"
      type="input"
      disabled='{{ getDisabled }}'
    >
  </div>
</template>
