<!--
Route: gestionnaire/managerList/**encoded part**/managerProfile/buildings
-->

<template name='buildingsDetails'>
  <div class="containerManagerList">
    {{#let condos=getManagerCondos totalCondos=(getTotalCondos)}}
      {{> MbSearchBar placeHolder=(getDicoVar 'commonTranslation' 'name_address_role') callback=searchCallback}}
      <div class='searchResult' style='display: none'>
        {{>MbPanel content=(getDicoVar 'commonTranslation' 'search_result')}}
      </div>
      {{#if totalCondos}}
        {{#if condos.length}}
          <table class="managerDetailsContainer table">
            <thead>
              <tr class='containerColumn'>
                <th> {{ getDicoVar 'commonTranslation' 'name' }} </th>
                <th> {{ getDicoVar 'commonTranslation' 'address' }} </th>
                <th> {{ getDicoVar 'commonTranslation' 'role' }} </th>
                <th class='trashColumn'> {{ getDicoVar 'commonTranslation' 'delete' }} </th>
              </tr>
            </thead>
            <tbody>
              {{#each condos}}
                <tr condoId='{{this._id}}'>
                  <td class='commonColumn firstnameColumn lighter'>{{this.name}}</td>
                  <td class='commonColumn lastnameColumn lighter'>{{this.adress}}</td>
                  <td class='commonColumn emailColumn lighter'>{{this.role}}</td>
                  <td class='commonColumn {{#if userHasRight 'managerList' 'deleteCondoManager' this._id}}trashColumn{{else}}trashColumnHidden{{/if}}'>
                    <div style="cursor: pointer;" data-condoId='{{this._id}}' data-condoName='{{#if $eq this.name '-'}}{{this.adress}}{{else}}{{this.name}}{{/if}}'></div>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          {{> MbEmpty
            title=(getDicoVar 'commonTranslation' 'no_result')
          }}
        {{/if}}
      {{else}}
        {{> MbEmpty
          title=(getDicoVar 'commonTranslation' 'no_other_manager_yet')
          subTitle=(getDicoVar 'commonTranslation' 'manager_add_by_authorized')
        }}
      {{/if}}
    {{/let}}
  </div>
</template>