<template name="manager_messengerConversation">
  {{#let currentTab=getSelectedTab currentConversation=getCurrentConversation usersInformation=getUsersInformation isNewMessage=getIsNewMessage }}
    <div id="manager_messengerConversation">
      {{#if (isEmptyState currentConversation)}}
        {{> MbEmptyMessageFeed condoId=getCondoId}}
      {{else}}
        {{refreshSubscribe}}

        {{> manager_conversationHeader
          condoId=getCondoId
          currentConversation=currentConversation
          usersInformation=getUsersInformation
          isNewMessage=isNewMessage
          onSelectUser=onSelectUser
        }}

        {{> manager_messengerConversationList
          currentConversation=currentConversation
          usersInformation=usersInformation
          setMessageIdForEditing=setMessageIdForEditing
          isNewMessage=isNewMessage
        }}

        {{{renderIsTyping}}}

        {{> manager_conversationFooter
          condoId=getCondoId
          currentConversation=currentConversation
          selectConversationCb=selectConversationCb
          isNewMessage=isNewMessage
          userForNewConversation=getUserForNewConversation
          messageIdForEditing=getMessageIdForEditing
          setMessageIdForEditing=setMessageIdForEditing
          setIsNewMessageAsFalse=setIsNewMessageAsFalse
          onSelectUser=onSelectUser
        }}

      {{/if}}
    </div>
  {{/let}}
</template>
