<template name="document_manual">
	<div class="row titleView">
		<div class="col-sm-12">
			<div class="panel padContent docPage">
				{{#if hasManual}}
					<div class="col-sm-12 hasDoc">
						<div class="hasDocContent" id="drop" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
							<div class="btn-group pull-right mt10 mb10" role="group">
								<button type="button" class="btn btn-sm dropdown-toggle hasDocContentBtn" data-toggle="dropdown">
									<a class="msg-trigger"><img src="/img/icons/svg/trash.svg" width="24" alt=""></a>
								</button>
								<div class="dropdown-menu">
									<a id="deleteCurrent" class="dropdown-item"> {{ getDicoVar 'documentModule' 'modalDel' }} </a>
								</div>
							</div>
							<div class="btn-group pull-right mt10 mb10" role="group">
								<button type="button" class="btn btn-sm dropdown-toggle hasDocContentBtn" data-toggle="dropdown">
									<a class="msg-trigger"><img src="/img/icons/edit.png" width="24" alt=""></a>
								</button>
								<div class="dropdown-menu">
									<a id="modifyText" class="dropdown-item">
										{{#if $eq manualType "file"}} {{ getDicoVar 'documentModule' 'modalReplaceText' }} {{else}} {{ getDicoVar 'documentModule' 'modalEditTxt' }} {{/if}}
									</a>
									<a id="changePdf" class="dropdown-item">
										{{#if $eq manualType "text"}} {{ getDicoVar 'documentModule' 'modalReplacePDF' }} {{else}} {{ getDicoVar 'documentModule' 'modalEditPDF' }} {{/if}}
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-12 hasDoc">
						{{#if isEditing}}
							{{> richTextInput
									fileManager=getFm
									sendMessage=onSend
									withFiles=false
									buttonText=(getDicoVar 'commonTranslation' 'personal_details_save')
									html=previousManual
							}}
						{{else}}
							{{#if $eq manualType "file"}}
								{{#if isSmallerDevice}}
									{{#if manualFile}}
										<div class="hasDocPDF">
											<div id="pdfCanvas"></div>
										</div>
									{{/if}}
								{{else}}
									<div class="hasDocNoPDF">
										<iframe src="{{manualData}}" width="100%" height="700px">
											<p> {{ getDicoVar 'documentModule' 'iframe' }} </p>
										</iframe>
									</div>
								{{/if}}
							{{else}}
								<div class="pre-div hasDocTxt">{{{manualData}}}</div>
							{{/if}}
						{{/if}}
					</div>
				{{else}}
					<div class="col-sm-12 hasDocEmptyState">
						{{#if isEditing}}
							{{> richTextInput
                  fileManager=getFm
                  sendMessage=getCb
                  withFiles=false
                  buttonText=(getDicoVar 'commonTranslation' 'personal_details_save')
              }}
						{{else}}
							<div class="hasDocEmptyStateContent">
								<p class="noDocTitle"> {{ getDicoVar 'documentModule' 'noManual' }} </p>
								<p class="noDocSubTitle"> {{ getDicoVar 'documentModule' 'add_manualForOccupant' }} </p>
								<div class="btn-outline-red-confirm btnUpload">
									<a class="btnLink" id="changePdf"> {{ getDicoVar 'documentModule' 'modalAddPDF' }} </a>
								</div>
								<!-- <div class="btn-outline-red-confirm btnUpload">
                                    <a id="modifyText">Ajouter un texte</a>
                                </div> -->
							</div>
						{{/if}}
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</template>
