<template name="createEntity_messenger_manager">
	{{#if allReady}}
	<div class="card contact" style="background-color: white">
		<div class="card card-main">
			<div class="row" id="first-opt">
				<div class="col-sm-12" style="padding: 20px 40px;">
					<div class="form-group">
						<label for="type" class="segment-title">{{getDicoVar "moduleMessagerieIndex" "type"}}*</label>
						<div class="form-check" style="position: relative;">
							<div style="margin-right: 120px;">
								{{#each incidentType getCondoId}}
								<label class="custom-control custom-radio" style="position: relative; height: 92px; margin-top: 15px">
									<input type="radio" class="custom-control-input typeRadio" name="typeRadio" value="{{this._id}}">
									<span class="custom-control-indicator" style="background: url('{{this.picto}}') top left no-repeat #dffbff; background-size: 100% auto;"></span>
									<div class="custom-control-description" style="padding-left: 82px; height: 19px; position: relative; transform: translateY(-50%); top: 50%; padding-top: 0px;">{{getValueByLang this}}</div>
								</label>
								{{/each}}
							</div>
							<button class="messengerManagerBackoffice btn red_btn" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Personnalisation..." data-toggle="modal" data-target="#modal_messenger_manager_type">Personnaliser</button>
						</div>
					</div>
				</div>
			</div>
			{{#if isTypeSelected}}
				{{#if isIncidentSelected}}
			<div class="row" id="first-opt">
				<div class="col-sm-12" style="padding: 20px 40px;">
					<div class="form-group">
						<label for="type" class="segment-title">{{getDicoVar "moduleMessagerieIndex" "details"}}*</label>
						<div class="form-check" style="position: relative;">
							<div style="margin-right: 120px;">
								{{#each incidentDetails getCondoId}}
								<label class="custom-control custom-radio details" style="position: relative; margin-top: 15px">
									<input type="radio" class="custom-control-input typeRadio" name="detailsRadio" value="{{this._id}}">
									<span class="custom-control-indicator" style="background: url('{{this.picto}}') top left no-repeat #dffbff; background-size: 100% auto;"></span>
									<div class="custom-control-description">{{{getBrokenValue this}}}</div>
								</label>
								{{/each}}
							</div>
							<button class="messengerManagerBackoffice btn red_btn" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Personnalisation..." data-toggle="modal" data-target="#modal_messenger_manager_incidentDetails">Personnaliser</button>
						</div>
					</div>
				</div>
			</div>
				{{/if}}
				<div class="row" id="first-opt">
					<div class="col-sm-12" style="padding: 20px 40px;">
						<div class="form-group">
							<label for="type" class="segment-title">{{getDicoVar "moduleMessagerieIndex" "priority"}}*</label>
							<div class="form-check" style="position: relative;">
								<div style="margin-right: 120px;">
									{{#each incidentPriority getCondoId}}
									<label class="custom-control custom-radio" style="position: relative; height: 92px; margin-top: 15px">
										<input type="radio" class="custom-control-input typeRadio" name="priorityRadio" value="{{this._id}}">
										<span class="custom-control-indicator" style="background: url('{{this.picto}}') top left no-repeat #dffbff; background-size: 100% auto;"></span>
										<div class="custom-control-description" style="padding-left: 82px; height: 19px; position: relative; transform: translateY(-50%); top: 50%; padding-top: 0px;">{{getValueByLang this}}</div>
									</label>
									{{/each}}
								</div>
								<button class="messengerManagerBackoffice btn red_btn" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Personnalisation..." data-toggle="modal" data-target="#modal_messenger_manager_priority">Personnaliser</button>
							</div>
						</div>
					</div>
					{{#if isIncidentSelected}}
					<div class="col-sm-12" style="padding: 20px 40px;">
						<div class="form-group">
							<label for="type" class="segment-title">{{getDicoVar "moduleMessagerieIndex" "zoned"}}*</label>
							<div class="form-check" style="position: relative;">
								<div style="margin-right: 120px;">
									{{#each incidentArea getCondoId}}
									<label class="custom-control custom-radio" style="position: relative; height: 92px; margin-top: 15px">
										<input type="radio" class="custom-control-input typeRadio" name="areaRadio" value="{{this._id}}">
										<span class="custom-control-indicator" style="background: url('{{this.picto}}') top left no-repeat #dffbff; background-size: 100% auto;"></span>
										<div class="custom-control-description" style="padding-left: 82px; height: 19px; position: relative; transform: translateY(-50%); top: 50%; padding-top: 0px;">{{getValueByLang this}}</div>
									</label>
									{{/each}}
								</div>
								<button class="messengerManagerBackoffice btn red_btn" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Personnalisation..." data-toggle="modal" data-target="#modal_messenger_manager_incidentArea">Personnaliser</button>
							</div>
						</div>
					</div>
					{{/if}}
				</div>
				{{#if $eq (isIncidentSelected) false}}
				<div class="row">
					<div class="col-sm-12" style="padding: 20px 40px;">
						<div class="form-group" style="position: relative;">
							<div style="margin-right: 120px;">
								<label for="name" class="segment-title">{{getDicoVar "moduleMessagerieIndex" "details"}}*</label>
								<select class="form-control" name="details" style="width: 600px;">
									{{#each declarationDetailId in getDropdownElem}}
										<option value="{{declarationDetailId}}">{{getDeclarationDetailValue declarationDetailId}}</option>
									{{/each}}
								</select>
							</div>
							<button class="messengerManagerBackoffice btn red_btn" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Personnalisation..." data-toggle="modal" data-target="#modal_messenger_manager_dropdownDetails">Personnaliser</button>
						</div>
					</div>
				</div>
				{{/if}}
			{{/if}}
		</div>
	</div>
	{{else}}
		{{> loader}}
	{{/if}}
	{{> messenger_manager_type_modal}}
	{{> messenger_manager_incidentDetails_modal}}
	{{> messenger_manager_priority_modal}}
	{{> messenger_manager_incidentArea_modal}}
	{{> messenger_manager_dropdownDetails_modal typeId=getTypeId}}
</template>
