.mb-datepicker-wrapper {
  label {
    text-transform: uppercase;
    font-family: 'Lato', 'Source Sans Pro', sans-serif;
    font-size: 12px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #8b999f;
    margin: 0 0 5px 0;
  }

  .mb-datepicker-input-wrapper {
    min-height: 36px;
    display: flex;
    border: 1px solid #e0e0e0;
    align-items: center;
    max-width: 25%;
    min-width: 250px;

    .mb-datepicker-icon {
      width: 40px;
      height: 36px;
      border-right: 1px solid #e0e0e0;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 24px;
        height: 24px;
      }
    }

    input {
      border: 0;
      text-align: right;
      width: 100%;
      padding: 0 8px;
    }
  }
}