<template name="MbDatePicker">
    <div class="mb-datepicker-wrapper">
        <label for="{{ getId }}">
            {{ label }}
        </label>
        {{#if required}}<i class="image-icon mandatory-icon"></i>{{/if}}
        <div class="mb-datepicker-input-wrapper">
            <span class="mb-datepicker-icon">
                <img src="/img/icons/svg/calendar2.svg">
            </span>
            <input id="{{ getId }}" class="mb-datepicker-input" placeholder="{{ placeholder }}" value="{{ value }}" readonly>
        </div>
    </div>
</template>