.containerOccupantBuildingList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 !important;
  padding: 21px 0 21px 16px !important;
  background-color: white;
  width: 100%;
  height: fit-content;
  position: relative;
  min-height: 1px;
  overflow-x: hidden;

  .condosInfoContainer {
    flex: 1 0 calc(50% - 16px);

    min-width: 420px;
    margin-bottom: 32px;
    margin-right: 16px;

    & > :not(.mb-panel):not(.mb-panel-wrapper) {
      margin-left: 16px;
    }

    .groupContainer {
      margin-top: 21px;

      & span:first-of-type {
        text-transform: uppercase;
        margin-bottom: 5px;
        display: block;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.1px;
        text-align: left;
        color: #8b999f;
      }
      & span:last-of-type {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        text-align: left;
        color: #5d5e62;
        word-wrap: break-word;
      }
    }
  }
}
