<template name='managerList'>
  {{#let condoIds=CDD_cursorMain}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <div class="row titleView titleViewStyle">
      <div class="col-sm-12" style='padding-right: 16px; padding-left: 16px'>
        <div class="panel-heading" style="padding-bottom: 10px; padding-left: 0; padding-right: 0;">
          <div class="sub-tool-bar clearfix">
            <h1 class="pull-left"> {{ getDicoVar 'commonTranslation' 'managers' }} </h1>
            <div class="action pull-right occupantButton">
              {{#if and (hasRightInCondos "managerList" "addManager" (getCondoIdsRights condoIds)) (hasRightInCondos "managerList" "seeManager" (getCondoIdsRights condoIds))}}
                <a type="button" class="btn btn-red-confirm invitManagerButton"> {{ getDicoVar 'commonTranslation' 'invite_manager' }} </a>
              {{/if}}
            </div>
            {{!-- {{> CondoDropDown condoList=condoIds condoId=mainCondoIdCb selectAuto=1 selectedCondoId=getSelectedCondo classes="pull-right"}} --}}
          </div>
        </div>
      </div>
    </div>
    <div class="containerManagerList">
      {{#unless (shouldNotDisplayRestrictedAccess condoIds)}}
        {{#let managers=(getManagers condoIds) totalManager=(getTotal condoIds)}}
          {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=searchCallback counter=managers.length}}
          <div class='searchResult' style='display: none'>
            {{>MbPanel content=(getDicoVar 'commonTranslation' 'search_result')}}
          </div>
          {{#if totalManager}}
            {{#if managers.length}}
              <table class="managerDetailsContainer table">
                <thead>
                  <tr class='containerColumn'>
                    <th></th>
                    <th> {{ getDicoVar 'commonTranslation' 'firstname' }} </th>
                    <th> {{ getDicoVar 'commonTranslation' 'lastname' }} </th>
                    <th> {{ getDicoVar 'commonTranslation' 'email' }} </th>
                    <th> {{ getDicoVar 'commonTranslation' 'phone' }}  </th>
                    <th></th>
                    {{!-- <th>Immeuble(s)</th> --}}
                    {{!-- <th class='trashColumn'>Supprimer</th> --}}
                  </tr>
                </thead>
                <tbody>
                  {{#each managers}}
                    <tr class='containerLine' userId='{{this._id}}'>
                      <td class='pictureColumn'>
                        {{#if this.avatar}}
                          <div  class='displayPictureImage' style="background-image: url({{this.avatar}}), url(/img/anonymous.png);"></div>
                        {{else}}
                          <div class='displayPictureName'>{{this.initials}}</div>
                        {{/if}}
                      </td>
                      <td class='commonColumn firstnameColumn lighter'>{{this.firstname}}</td>
                      <td class='commonColumn lastnameColumn lighter'>{{this.lastname}}</td>
                      <td class='commonColumn emailColumn lighter'>{{this.email}}</td>
                      <td class='commonColumn phoneColumn lighter'>{{formatMobileNum this.tel this.telCode}}</td>
                      <td class='commonColumn lighter resendInvitation' style='max-width: 180px!important;'>
                        {{#if this.isPending}}
                          {{> MbButton onClick=(resendInvitation this) label=(getDicoVar 'commonTranslation' 'resend_invitation') class='danger'}}
                        {{/if}}
                      </td>

                      {{!-- <td class='commonColumn condosColumn lighter' name='condosColumn-{{this._id}}'>
                        {{#each condo in this.condos}}
                          <div condoId='{{condo._id}}'>{{condo.name}}</div>
                        {{/each}}
                      </td> --}}
                      {{!-- <td class='commonColumn trashColumn'><div userId='{{this._id}}'></div></td> --}}
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            {{else}}
              {{> MbEmpty
                title=(getDicoVar 'commonTranslation' 'no_result')
              }}
            {{/if}}
          {{else}}
            {{#if and (hasRightInCondos "managerList" "addManager" (getCondoIdsRights condoIds)) (hasRightInCondos "managerList" "seeManager" (getCondoIdsRights condoIds))}}
              {{> MbEmpty
                title=(getDicoVar 'commonTranslation' 'no_other_manager_yet')
                subTitle=(getDicoVar 'commonTranslation' 'manager_add_by_you_and_authorized')
                buttonLabel=(getDicoVar 'commonTranslation' 'invite_manager')
                onButtonClick=addNewManager
              }}
            {{else}}
              {{> MbEmpty
                title=(getDicoVar 'commonTranslation' 'no_other_manager_yet')
                subTitle=(getDicoVar 'commonTranslation' 'manager_add_by_authorized')
              }}
            {{/if}}
          {{/if}}
        {{/let}}
      {{else}}
         {{> MbRestrictedAccess }}
      {{/unless}}
    </div>
  {{/let}}

</template>
