<template name="manager_inviteUserInConversation">
  {{#let currentConversation=getCurrentConversation}}
  <div class="modal" tabindex="-1" id="invitUserInConv" role="dialog">
    <div class="modal-dialog" role="invitUser">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{getDicoVar "commonTranslation" "invite_to"}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{#if modalIsOpen}}
          <div class="modal-body">
            {{> MbSelect
                selected=getSelected
                multiple=true
                onSelect=setSelected
                options=(getOptions currentConversation)
                placeholder=(getDicoVar 'messageInput' 'destination')
            }}
          </div>
        {{/if}}
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-red-confirm" data-dismiss="modal">{{getDicoVar "commonTranslation" "cancel"}}</button>
          <button type="button" id="validInvit" class="btn red_btn" data-dismiss="modal" disabled="{{checkDisable}}">{{getDicoVar "commonTranslation" "invite"}}</button>
        </div>
      </div>
    </div>
  </div>
  {{/let}}
</template>
