<template name="characteristics">
	<div class="flex col characteristicsContainer">
    {{> MbPanel content='Typologie de l\'immeuble'}}
		<div class="dropdown per-s-list btn" style="margin-bottom: 20px; margin-left: 46px; margin-top: 16px;">
			<button class="btn clearfix text-left dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #fff">{{getTypo}}
				<span class="caret pull-right"></span>
			</button>
			<div id="dropdownTypeCondo" class="dropdown-menu">
				<ul class="list-users list-unstyled">
					<li id="dropdownType" type="etudiante">
						<a href="#" class="dropdown-condo">
							<span style="font-size: 14px; margin-top: 3px"><img src="/img/icons/svg/immeuble_48px.svg" alt="" style="width: 25px; margin-top: -3px"> Résidence étudiante</span>
						</a>
					</li>
					<li id="dropdownType" type="mono">
						<a href="#" class="dropdown-condo">
							<span style="font-size: 14px; margin-top: 3px"><img src="/img/icons/svg/immeuble_48px.svg" alt="" style="width: 25px; margin-top: -3px"> Monopropriété</span>
						</a>
					</li>
					<li id="dropdownType" type="copro">
						<a href="#" class="dropdown-condo">
							<span style="font-size: 14px; margin-top: 3px"><img src="/img/icons/svg/immeuble_48px.svg" alt="" style="width: 25px; margin-top: -3px"> Copropriété</span>
						</a>
					</li>
					<li id="dropdownType" type="office">
						<a href="#" class="dropdown-condo">
							<span style="font-size: 14px; margin-top: 3px"><img src="/img/icons/svg/immeuble_48px.svg" alt="" style="width: 25px; margin-top: -3px"> Office</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
    {{> MbPanel content='Immeubles'}}
    <div class="col-sm-12">
      <div class="flex col">
        <div class="flex characteristicItem">
          <div class="characteristicLabel">Immeubles</div>
          {{!-- <div class="characteristicParameters">
            <a class="editThisModule" moduleName="trombi" moduleParam="trombi">Paramétrer</a>
          </div> --}}
          <div class="characteristicCheckbox">
            <div class="checkboxred" id="moduleOption">
              {{#if options "buildingsList"}}
                <input type="checkbox" name="buildingsList" id="buildingsList" checked>
              {{else}}
                <input type="checkbox" name="buildingsList" id="buildingsList">
              {{/if}}
              <label for="buildingsList"></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> MbPanel content='Digital Wallet'}}
    <div class="col-sm-12">
      <div class="flex col">
        <div class="flex characteristicItem">
          <div class="characteristicLabel">Digital Wallet</div>
          {{!-- <div class="characteristicParameters">
            <a class="editThisModule" moduleName="trombi" moduleParam="trombi">Paramétrer</a>
          </div> --}}
          <div class="characteristicCheckbox">
            <div class="checkboxred" id="moduleOption">
              {{#if options "digitalWallet"}}
                <input type="checkbox" name="digitalWallet" id="digitalWallet" checked>
              {{else}}
                <input type="checkbox" name="digitalWallet" id="digitalWallet">
              {{/if}}
              <label for="digitalWallet"></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> MbPanel content='Emergency Contact'}}
    <div class="col-sm-12">
      <div class="flex col">
        <div class="flex characteristicItem">
          <div class="characteristicLabel">Emergency Contact</div>
          <div class="characteristicCheckbox">
            <div class="checkboxred" id="moduleOption">
              {{#if options "emergencyContact"}}
                <input type="checkbox" name="emergencyContact" id="emergencyContact" checked>
              {{else}}
                <input type="checkbox" name="emergencyContact" id="emergencyContact">
              {{/if}}
              <label for="emergencyContact"></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> MbPanel content='Integrations'}}
    <div class="col-sm-12">
      <div class="flex col">
        <div class="flex characteristicItem">
          <div class="characteristicLabel">Integrations</div>
          <div class="characteristicCheckbox">
            <div class="checkboxred" id="moduleOption">
              {{#if options "integrations"}}
                <input type="checkbox" name="integrations" id="integrations_char" checked>
              {{else}}
                <input type="checkbox" name="integrations" id="integrations_char">
              {{/if}}
              <label for="integrations_char"></label>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{> MbPanel content='Messagerie'}}
		<div class="col-sm-12">
			<div class="flex col">
				<div class="flex characteristicItem">
					<div class="characteristicLabel">Occupant</div>
					<div class="characteristicParameters"><a class="editThisModule" moduleName="messenger" moduleParam="occupant">Paramétrer</a></div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							{{#if options "messengerResident"}}
							<input type="checkbox" name="messengerResident" id="messengerResident" checked>
							{{else}}
							<input type="checkbox" name="messengerResident" id="messengerResident">
							{{/if}}
							<label for="messengerResident"></label>
						</div>
					</div>
				</div>

				<div class="flex characteristicItem">
					<div class="characteristicLabel">Gestionnaire</div>
					<div class="characteristicParameters"><a class="editThisModule" moduleName="messenger" moduleParam="manager">Paramétrer</a></div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							{{#if options "messengerGestionnaire"}}
							<input type="checkbox" name="messengerGestionnaire" id="messengerGestionnaire" checked>
							{{else}}
							<input type="checkbox" name="messengerGestionnaire" id="messengerGestionnaire">
							{{/if}}
							<label for="messengerGestionnaire"></label>
						</div>
					</div>
				</div>

				<div class="flex characteristicItem">
					<div class="characteristicLabel">Gardien</div>
					<div class="characteristicParameters"><a class="editThisModule" moduleName="messenger" moduleParam="supervisor">Paramétrer</a></div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							{{#if options "messengerGardien"}}
							<input type="checkbox" name="messengerGardien" id="messengerGardien" checked>
							{{else}}
							<input type="checkbox" name="messengerGardien" id="messengerGardien">
							{{/if}}
							<label for="messengerGardien"></label>
						</div>
					</div>
				</div>

				<div class="flex characteristicItem">
					<div class="characteristicLabel">Conseil syndical</div>
					<div class="characteristicParameters"><a class="editThisModule" moduleName="messenger" moduleParam="syndical">Paramétrer</a></div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							{{#if options 'messengerSyndic'}}
							<input type="checkbox" name="messengerSyndic" id="messengerSyndic" checked>
							{{else}}
							<input type="checkbox" name="messengerSyndic" id="messengerSyndic">
							{{/if}}
							<label for="messengerSyndic"></label>
						</div>
					</div>
				</div>
			</div>
		</div>

    {{> MbPanel content='Trombinoscope'}}
		<div class="col-sm-12">
			<div class="flex col">
				<div class="flex characteristicItem">
					<div class="characteristicLabel">Trombinoscope</div>
					<div class="characteristicParameters">
						<a class="editThisModule" moduleName="trombi" moduleParam="trombi">Paramétrer</a>
					</div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							{{#if options "trombiAll"}}
							<input type="checkbox" name="trombiAll" id="trombiAll" checked>
							{{else}}
							<input type="checkbox" name="trombiAll" id="trombiAll">
							{{/if}}
							<label for="trombiAll"></label>
						</div>
					</div>
				</div>
			</div>
		</div>

    {{> MbPanel content='Incidents'}}
		<div class="col-sm-12">
			<div class="flex col">
				<div class="flex characteristicItem">
					<div class="characteristicLabel">Incidents et remontée via messagerie</div>
					<div class="characteristicParameters"><a class="editThisModule" moduleName="incident" moduleParam="actions">Paramétrer</a></div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							{{#if options "incidents"}}
							<input type="checkbox" name="incidents" id="incidents" checked>
							{{else}}
							<input type="checkbox" name="incidents" id="incidents">
							{{/if}}
							<label for="incidents"></label>
						</div>
					</div>
				</div>
			</div>
		</div>

    {{> MbPanel content='Réservations'}}
		<div class="col-sm-12">
			<div class="flex col">
				<div class="flex characteristicItem">
					<div class="characteristicLabel">Planning / ressources</div>
					<div class="characteristicParameters"><a class="editThisModule" moduleName="concierge" moduleParam="concierge">Paramétrer</a></div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							{{#if options "reservations"}}
							<input type="checkbox" name="reservations" id="reservations" checked>
							{{else}}
							<input type="checkbox" name="reservations" id="reservations">
							{{/if}}
							<label for="reservations"></label>
						</div>
					</div>
				</div>
			</div>
		</div>

    {{> MbPanel content='Informations'}}
		<div class="col-sm-12">
			<div class="flex col">
				<div class="flex characteristicItem">
					<div class="characteristicLabel">Informations</div>
					<div class="characteristicParameters"><a class="editThisModule" moduleName="concierge" moduleParam="concierge">Paramétrer</a></div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							{{#if options "informations"}}
							<input type="checkbox" name="informations" id="informations" checked>
							{{else}}
							<input type="checkbox" name="informations" id="informations">
							{{/if}}
							<label for="informations"></label>
						</div>
					</div>
				</div>
			</div>
		</div>

    {{> MbPanel content='Documents'}}
		<div class="col-sm-12">
			<div class="flex col">
				<div class="flex characteristicItem">
					<div class="characteristicLabel">Manuel</div>
					<div class="characteristicParameters"><a class="editThisModule" moduleName="concierge" moduleParam="concierge">Paramétrer</a></div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							{{#if options "manual"}}
							<input type="checkbox" name="manual" id="manual" checked>
							{{else}}
							<input type="checkbox" name="manual" id="manual">
							{{/if}}
							<label for="manual"></label>
						</div>
					</div>
				</div>
				<div class="flex characteristicItem">
					<div class="characteristicLabel">Plan</div>
					<div class="characteristicParameters"><a class="editThisModule" moduleName="concierge" moduleParam="concierge">Paramétrer</a></div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							{{#if options "map"}}
							<input type="checkbox" name="map" id="map" checked>
							{{else}}
							<input type="checkbox" name="map" id="map">
							{{/if}}
							<label for="map"></label>
						</div>
					</div>
				</div>
			</div>
		</div>

    {{> MbPanel content='Espaces échanges'}}
		<div class="col-sm-12">
			<div class="flex col">
				<div class="flex characteristicItem">
					<div class="characteristicLabel">Forum</div>
					<div class="characteristicParameters"><a class="editThisModule" moduleName="exchangeArea" moduleParam="forum">Paramétrer</a></div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							{{#if options "forum"}}
							<input type="checkbox" name="forum" id="forum" checked>
							{{else}}
							<input type="checkbox" name="forum" id="forum">
							{{/if}}
							<label for="forum"></label>
						</div>
					</div>
				</div>
				<div class="flex characteristicItem">
					<div class="characteristicLabel">Petites annonces</div>
					<div class="characteristicParameters"><a class="editThisModule" moduleName="concierge" moduleParam="concierge">Paramétrer</a></div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							{{#if options "classifieds"}}
							<input type="checkbox" name="classifieds" id="classifieds" checked>
							{{else}}
							<input type="checkbox" name="classifieds" id="classifieds" >
							{{/if}}
							<label for="classifieds"></label>
						</div>
					</div>
				</div>
			</div>
		</div>

    {{> MbPanel content='Conciergerie'}}
		<div class="col-sm-12">
			<div class="flex col">
				<div class="flex characteristicItem">
					<div class="characteristicLabel">Conciergerie</div>
					<div class="characteristicParameters"><a class="editThisModule" moduleName="concierge" moduleParam="concierge">Paramétrer</a></div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							{{#if options "conciergerie"}}
							<input type="checkbox" name="conciergerie" id="conciergerie" checked>
							{{else}}
							<input type="checkbox" name="conciergerie" id="conciergerie">
							{{/if}}
							<label for="conciergerie"></label>
						</div>
					</div>
				</div>
			</div>
		</div>

    {{> MbPanel content='Profil'}}
		<div class="col-sm-12">
			<div class="flex col">
				<div class="flex characteristicItem">
					<div class="characteristicLabel">Profil</div>
					<div class="characteristicParameters" style="padding-right: 61px;"><a class="editThisModule" moduleName="profil" moduleParam="profil">Paramétrer</a></div>
				</div>
			</div>
		</div>

    {{> MbPanel content='Market Place'}}
		<div class="col-sm-12">
			<div class="flex col">
				<div class="flex characteristicItem">
					<div class="characteristicLabel">Market Place</div>
					<div class="characteristicParameters"><a class="editThisModule" moduleName="marketPlace" moduleParam="marketPlace">Paramétrer</a></div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							{{#if options "marketPlace"}}
							<input type="checkbox" name="marketPlace" id="marketPlace" checked>
							{{else}}
							<input type="checkbox" name="marketPlace" id="marketPlace">
							{{/if}}
							<label for="marketPlace"></label>
						</div>
					</div>
				</div>
			</div>
    </div>

    {{> MbPanel content='Laundry Room'}}
		<div class="col-sm-12">
			<div class="flex col">
				<div class="flex characteristicItem">
					<div class="characteristicLabel">Laundry Room</div>
					<div class="characteristicParameters" style="padding-right: 61px;"></div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							{{#if options "laundryRoom"}}
							<input type="checkbox" name="laundryRoom" id="laundryRoom" checked>
							{{else}}
							<input type="checkbox" name="laundryRoom" id="laundryRoom">
							{{/if}}
							<label for="laundryRoom"></label>
						</div>
					</div>
				</div>
			</div>
		</div>

    {{> MbPanel content='Impression'}}
    <div class="col-sm-12">
      <div class="flex col">
        <div class="flex characteristicItem">
          <div class="characteristicLabel">Impression</div>
          <div class="characteristicParameters" style="padding-right: 61px;"></div>
          <div class="characteristicCheckbox">
            <div class="checkboxred" id="moduleOption">
              {{#if options "print"}}
              <input type="checkbox" name="print" id="print" checked>
              {{else}}
              <input type="checkbox" name="print" id="print">
              {{/if}}
              <label for="print"></label>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{> MbPanel content='Autres'}}
		<div class="col-sm-12">
			<div class="flex col">
				<div class="flex characteristicItem">
					<div class="characteristicLabel">Couronne</div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							{{#if options 'couronne'}}
							<input type="checkbox" name="couronne" id="couronne" checked>
							{{else}}
							<input type="checkbox" name="couronne" id="couronne">
							{{/if}}
							<label for="couronne"></label>
						</div>
					</div>
				</div>
				<div class="flex characteristicItem">
					<div class="characteristicLabel">Nom de l'expéditeur dans les emails{{#if getCustomEmailSender}}: <i style='margin-left: 10px;'>{{getCustomEmailSender}}</i>{{else}}: <i style='margin-left: 10px;'> MonBuilding</i>{{/if}}</div>
					<div class="characteristicParameters"><a class="editThisModule" moduleName="other" moduleParam="customEmail">Paramétrer</a></div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							{{#if options 'customEmail'}}
							<input type="checkbox" name="customEmail" id="customEmail" checked>
							{{else}}
							<input type="checkbox" name="customEmail" id="customEmail">
							{{/if}}
							<label for="customEmail"></label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
