.characteristicsContainer {
  background-color: white;
  .mb-panel {
    margin: 16px 16px 5px 16px;
    width: calc(~'100% - 32px')
  }
  .characteristicItem {
    padding-left: 30px;

    & > .characteristicLabel {
      font-size: 16px;
      letter-spacing: -0.4px;
      color: #8b999f;
    }

    .editThisModule {
      color: #69D2E7 !important;
      font-size: 14px;
      letter-spacing: -0.3px;
    }

    & > .characteristicCheckbox {
      label {
        top: 0 !important;
      }
    }
  }
}

.camera_edit_profile {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
