<template name="datepicker">
	
	<div class="mb-datepicker input-group date">
		<span class="input-group-addon">
			<i class="image-icon calendar-g-icon"></i>
		</span>
		<input type="text" id="{{getIdOfDatepicker}}" value="{{dateOfDatePicker}}" data-provide="datepicker" data-date-format="dd/mm/yyyy" class="datepicker form-control" placeholder="{{getDicoVar 'common' 'pick_date'}}" readonly style="background-color: white">
	</div>

</template>