<template name="incidents_stats">
    <div class="chart-item">
        <div class="head">
            <h3>{{getDicoVar "stats" "incidents"}}</h3>
            <p>{{getDicoVar "stats" "incidents_sub"}}</p>
        </div>
        <div class="body">
            {{#unless ready}}
                <div class="loader-container">
                    {{> loader}}
                </div>
            {{else}}
            <span>&nbsp;</span>  <!-- Don't remove -->
            {{#if loadingData}}
              <div class="loader-container-over">
                {{> loader}}
              </div>
            {{/if}}

            <div id="incident-chart-container" class="the-chart">
                {{renderChartIncident}}
            </div>
            <div id="chartjs-incident-chart-legend" class="chart-legend-container"></div>
            <div id="chartjs-incident-chart-tooltips" class="chart-tooltips-container">
                <table></table>
            </div>
            <div id="incident-chart-no-data">
                {{getDicoVar "stats" "no_data"}}
            </div>
            {{/unless}}
        </div>
    </div>
</template>
