@import "../../../../../style/variable";

/* actualite page */

.float-none {
  float: none;
}
.cursor-pointer {
  cursor: pointer;
}

.paddingLeftActu40 {
  padding-left: 40px;
}
.paddingL0 {
  padding-left: 0 !important;
;
}
.paddingR0 {
  padding-right: 0 !important;
}
.paddingB0 {
  padding-bottom: 0 !important;
}
.paddingT0 {
  padding-top: 0 !important;
}
.marginLeftActu20 {
  margin-left: 20px !important;
}
.marginLeftActu25 {
  margin-left: 25px;
}
.mt-10pt10 {
  margin-top: -10px;
  padding-top: 10px;
}
.mt-40mr50 {
  margin-top: -40px;
  margin-right: 50px;
}
.mt30mr-30 {
  margin-top: 30px;
  margin-right: -30px;
}
.mt5 {
  margin-top: 5px;
}
.mt6 {
  margin-top: 6px;
}
.mt-5 {
  margin-top: -5px;
}

.marginInfo {
  margin: 20px 10px;
}
.marginBottomInfo {
  margin-bottom: 15px;
}

.fontWeight400 {
  font-weight: 400;
}

.backToMonthArrow {
  margin-bottom: 3px;
  margin-right: 4px;
}

.noActu {
  margin-bottom: 15px;
}

.actuPanel {
  margin-bottom: 0;
  background-color: transparent;
}
.panel {
  border-radius: 0;
  border: none;
  //box-shadow: 0 0 11px rgba(0,0,0,0.2) !important;
}
.panel-heading p, .panel-heading h3, .panel-heading h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.panel-heading {
  //border-bottom: 1px solid @grey2;
  padding: 15px 20px;
}
.position_relative {
  position: relative;
}
.info_plus {
  position: absolute;
  right: 20px;
  top: 28px;
}
.btn_modal {
  border-radius: 0;
  background-color: @wt;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  font-weight: 600;
  padding: 10px 12px;
  height: 40px;
}
.btn_modal:focus, .btn_modal:active, .btn_modal:hover {
  border-bottom: 3px solid @blue;
  color: @blue;
  padding: 10px 12px 7px;
}

.actuHeader {
  padding: 20px 0;
  border-bottom: 0;
}

.mainActuBlock {
  margin: 15px 8px 20px 8px;
  background-color: @wt;
  padding-top: 40px;
}

.month_text {
  color: @red;
  text-align: right;
  font-weight: 600;
  line-height: 10px;
  font-size: 12px;
}
.day_text {
  font-size: 18px;
  text-align: right;
  font-weight: 600;
  line-height: 16px;
}
.fz20 {
  font-size: 20px;
}
.grey_color {
  color: @blacklight;
}
.red_color {
  color: @red;
}
.img_block img {
  float: left;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.border_grey {
  border: 1px solid @grey2;
  padding: 10px;
}

.widthRightToCalendar {
  width: ~"calc(100% - 305px)" !important;
}

.zoomOnDay {
  padding: 5px 5px 0 5px;
  width: 284px;
  margin-left: 23px;
}

.datepicker-dropdown {
  padding: 0;
}
.datepicker-dropdown table tbody td.disabled:hover {
  cursor: not-allowed;
}

.actuCalendar {
  padding-left: 0 !important;
  margin-left: 23px;
}
.datepicker_custom {
  background-color: transparent;
  width: 370px;
  position: relative;
}
//.datepicker table {
//  background-color: @wt;
//}
//.datepicker table thead tr:nth-child(2) {
//  background-color: @yellow;
//  height: 40px;
//}
//.datepicker table thead tr:nth-child(2) th:hover {
//  background-color: @yellow;
//}
//.datepicker table thead tr th {
//  border-radius: 0 !important;
//  color: @wt;
//}
//.datepicker table thead tr {
//  border: 1px solid @yellow;
//  border-bottom: 0;
//}
//.datepicker table thead tr:nth-child(3) th {
//  color: @yellow;
//  font-weight: 600;
//}
//.datepicker table tbody tr td {
//  border: 1px solid @yellow;
//  font-weight: 400;
//  font-size: 15px;
//  padding: 0 !important;
//}
//.datepicker table tbody tr td.active {
//  background-color: @wt;
//  color: @black;
//  font-weight: bold;
//  border: 1px solid @yellow;
//}
.datepicker_custom table tbody tr td {
  height: 39px;
}

//.datepicker table tbody tr .today {
//  font-weight: bold;
//  background-color: @wt;
//}
//.datepicker table tbody tr:first-child td{
//  border-top: 0;
//}
//.datepicker table tfoot tr {
//  background-color: @yellow;
//}

.existingActu {
  background-color: @blue !important;
  border-radius: 100% !important;
  color: @wt;
}

.sDateActu {
  color: @grey3;
  margin-top: 3px;
}

.eDateActu {
  color: @grey3;
  margin-left: 23px;
}

.actuTitle {
  color: @grey3;
  text-transform: uppercase;
}

.dividerBottom {
  border-bottom: 2px solid @grey2;
}

/* main_block_mob */
.custom_tab_mob_for2 {
  background-color: @wt;
}
.custom_tab_mob_for2 li {
  width: 50%;
  text-align: center;
}
.custom_tab_mob_for2 li.active {
  border-bottom: 5px solid @blue;
  font-weight: 600;
  color: @blue;
}
.custom_tab_mob_for2 li.active a {
  color: @blue !important;
}
.custom_tab_mob_for2 li a {
  border: none !important;
  color: #C1F5FF;
  font-weight: 600;
  background-color: transparent !important;
  margin: 15px;
  font-size: 18px;
}
.button_white {
  background-color: @wt;
  font-size: 18px;
}
.yellow_color {
  color: #FFC000;
}
/* END: main_block_mob */
/* Modal */
.custom_modal {
  margin-top: 60px;
  z-index: 9999999;
}
.modal-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(~'100vh - 40px') !important;
  border-radius: 0;
}
.modal-header {
  border: none;
}
.custom_modal label {
  color: @blue;
  font-weight: 600;
}
.button_modal_red {
  background-color: @red;
  color: @wt !important;
  outline: none !important;
  font-size: 14px;
}

.join-file {
  font-size: 14px;
}

.join-file:hover {
  text-decoration: underline;
  color: @red;
  cursor: pointer;
}

.iconsActu li {
  width: auto;
  float: right;
  list-style: none;
  margin: 0 3px;
}

embed {
  pointer-events: none;
}

.iconsActu {
  vertical-align: middle;
  display: inline-block;
  padding: 0;
  position: relative;
  z-index: 1;
}

.editCalendarActu {
  position: absolute;
  right: -28px;
  margin-top: 10px;
  bottom: -28px;
}

.modalFillFields {
  color: @grey;
  font-style: italic;
}
// newly added by dwi yudha ----------------------------------------------------

.fill {
  height: 100%;
}

.datepicker-dropdown:after {
  border-bottom-color: #69d2e7;
}

.datepicker-dropdown {
  thead {
    tr:nth-child(3) {
      height: 40px;
      th {

      }
    }
  }
}

.datepicker-inline {
  position: relative;
  z-index: 2;
  width: 100%;
  thead {
    tr:nth-child(3) {
      height: 50px;

      th {
        padding-bottom: 10px;
      }
    }

    tr:nth-child(2), tr:nth-child(2) th:hover {
      font-size: 16px;
    }
  }
}

#gestionnaire-home {
  .datepicker-inline {
    table.table-condensed {
      border: solid 1px #69d2e7;

      tfoot {
        display: none;
      }
    }
  }
}

#information-page, #home-page {

  .datepicker-inline {
    thead {
      tr:nth-child(3) {
        //height: 80px;

        th {
          //padding-bottom: 20px;
        }
      }

      tr:nth-child(2), tr:nth-child(2) th:hover {
        //font-size: 16px;
        //height: 50px;
      }
    }
  }
}

.datepicker-inline, .datepicker-dropdown {

  table {
    width: 100%;
    border: 0;

    .datepicker-switch {
      font-weight: 600;
    }

    tr, td {
      border: 0;
    }

    td.eventStart {
      color: #fff!important;
      border-radius: 24px 0 0 24px!important;
      background-color: #69d2e7;
    }
    td.eventEnd {
      color: #fff!important;
      border-radius: 0 24px 24px 0!important;
      background-color: #69d2e7;
    }
    td.eventInRange {
      color: #fff!important;
      border-radius: 0!important;
      background-color: #69d2e7;
    }
    td.hasEvent {
      border-radius: 24px;
      border-color: #69d2e7;
    }
    td.active {
      color: #fff!important;
      border-radius: 24px;
      //background-color: var(--menu-selected-item-color)!important;
      background-color: var(--primary-color)!important;
    }
    td.active {
      font-weight: bold!important;
    }
    td.hasTwoEvent {
      background-image: url('img/icons/details-11.png');
      background-size: 32px 35px;
      background-repeat: no-repeat;
      background-position-y: 15px;
      background-position-x: center;
    }
    td.hasMultiEvent {
      background-image: url('img/icons/details-10.png');
      background-size: 32px 35px;
      background-repeat: no-repeat;
      background-position-y: 15px;
      background-position-x: center;
    }

    td:hover {
      color: #7c86a2!important;
      background-color: @greylight !important;
      border-radius: 24px !important;
    }

    tr {
      td {
        font-size: 14.5px;
        font-weight: 500;
        text-align: center;
        color: #7c86a2;
        vertical-align: middle;
      }

      td.old, td.new {
        color: #e1e4e7;
      }

      td.today {
        font-weight: bold;
        color: #7c86a2;
        background-color: transparent;
        border-color: transparent;
      }
    }

    thead {

      tr {
        th {
          border-radius: 0;
        }
      }

      tr:nth-child(2), tr:nth-child(2) th:hover {
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        text-transform: capitalize;
        background-color: var(--primary-color);

        th {
          font-weight: 600;
        }
      }


      tr:nth-child(3) {
        vertical-align: bottom;

        th {
          opacity: 0.65;
          font-size: 15.7px;
          font-weight: 500;
          line-height: 1.21;
          text-align: center;
          color: rgba(52, 72, 94, 0.54);
          text-transform: capitalize;
        }
      }
    }
  }
}

#information-page, #event-container, #reservation-page {
    @danger-color: var(--secondary-color);
    @blue: var(--primary-color);

    .BtnInfoRespon {
        .mb-button {
            height: 36px;
            width: 160px;
            margin-right: 0;
            margin-left: 16px;
            font-size: 16px;
            padding: 7px;
        }
    }

    .mb-info-container.fix-height {
      height: calc(~'100vh - 185px');
    }
    .mb-info-container, .mb-event-list, .mb-resa-list {
      display: flex;
      flex-wrap: wrap;
      background-color: @paleBlue;
      font-family: @lato;

      .info-item {
        position: relative;

        .dropdown {
          position: absolute;
          i.edit-icon {
            height: 24px;
            width: 24px;
          }
        }
        .info-user {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          h3 {
            margin: 0 0 0 10px;
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.4px;
            text-align: left;
            color: @slategrey;
          }
        }
        h2 {
          font-size: 16px;
          font-weight: 600;
          text-align: left;
          color: #5d5e62;
          margin-top: 0;
          width: calc(~"100% - 10px");
          text-overflow: ellipsis;
          overflow: hidden;
          height: 20px;
        }
        h4 {
          font-family: Lato, sans-serif;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.4px;
          text-align: left;
          color: #8b999f;
        }
        time {
          display: block;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: -0.3px;
          text-align: left;
          color: @grey3;
          margin-bottom: 6px;
        }
        .location-wrapper, .condo-wrapper {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: -0.4px;
          text-align: left;
          color: @grey3;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 6px;
          i.location-icon, i.building-icon {
            height: 16px;
            width: 16px;
            display: inline-block;
            margin-right: 8px;
          }
        }
        div.info-content {
          .ellipsisedText {
            p {
              display: inline;
            }
          }
        }
        .attachment-link, .open-file-modal {
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .attach-icon {
            width: 16px;
            height: 16px;
            margin-right: 8px;
            display: inline-block;
          }
        }

        .event-action {
          display: flex;
          justify-content: space-between;
          margin-top: 14px;

          .mb-button {
            height: 36px;
            padding: 5px;
            flex: 0 0 110px;
            min-width: 1px;
          }
        }
      }

      .left-panel {
        flex: 1;
        min-width: 600px;
        background-color: @wt;
        padding: 16px 0;
        width: 1px; // to make flex work
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        .search-container {
          position: relative;
          margin: 0 8px 16px 8px;
          flex: 0;

          //input {
          //  box-shadow: 0 1px 4px 0 rgba(32, 33, 38, 0.1);
          //  background-color: @wt;
          //  border: solid 1px @wt2;
          //  height: 36px;
          //  width: 100%;
          //  padding-left: 31px;
          //  font-size: 17px;
          //  font-weight: normal;
          //  font-style: normal;
          //  font-stretch: normal;
          //  line-height: 1.29;
          //  letter-spacing: -0.4px;
          //  text-align: left;
          //  color: @slategrey;
          //}
          //input::placeholder {
          //  color: @grey3;
          //}
          button {
            background-color: transparent;
            border: 0;
            position: absolute;
            top: 9px;
            left: 3px;
            i {
              width: 16px;
              height: 16px;
            }
          }
        }

        .info-list {
          flex: 1;
          overflow-y: scroll;
          padding: 0 8px;
          overflow-x: hidden;
          .info-item {
            border: solid 1px @wt2;
            padding: 16px 42px 12px 16px;
            margin-bottom: 8px;

            &.is-new {
              border-left: solid 5px var(--primary-color);
            }
            .dropdown {
              top: 17px;
              right: 17px;
            }
          }
        }

        .d-pagination {
          flex: 0;
        }
      }

      .right-panel {
        flex: 0 0 260px;
        margin-left: 20px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        #mini-calendar {
          flex: 0;
          padding-bottom: 10px;
          background-color: @wt;
        }
        #date-label {
          flex: 0;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.9px;
          text-align: left;
          color: @grey3;
          text-transform: uppercase;
          padding: 8px 16px;
          background-color: @paleBlue;
        }
        .reservation-list-wrapper {
          padding: 0;

          .reservation-item {
            margin-left: 8px;
          }
        }
        #date-detail {
          flex: 1;
          //padding: 15px 16px;
          overflow-y: auto;

          .info-item:first-child {
            border-top: none;
          }
          .info-item {
            border-top: solid 1px @wt2;
            border-left: solid 16px @wt;
            border-right: solid 16px @wt;
            background-color: @wt;
            //padding-bottom: 14px;
            //margin-bottom: 15px;
            padding: 15px 0;
            .dropdown {
              top: 15px;
              right: 0;
            }
            .location-wrapper {
              font-size: 14px;
              span {
                width: calc(~'100% - 30px');
                text-overflow: ellipsis;
                overflow-x: hidden;
              }
            }
            time {
              font-size: 14px;
              .clock-icon {
                width: 16px;
                height: 16px;
                display: inline-block;
                margin-right: 8px;
              }
            }
            h2 {
              width: calc(~"100% - 30px");
              overflow-y: visible;
              height: 20px;
              text-overflow: ellipsis;
              overflow-x: hidden;
            }
          }
        }
      }
    }

    #date {

        #calendar-event-detail {
            background-color: @blue;
            color: #fff;
            height: 412px;

            .carousel-indicators {
              top: unset !important;
              bottom: 0 !important;

              li, li.active {
                  background-color: #fff;
              }
            }

            .carousel-inner {
                height: 1px;
                min-height: calc(~"100% - 30px");
                //min-height: 100%;
                .item {
                  &.active,
                  &.next,
                  &.left {
                    display: flex;
                    flex-direction: column;
                    min-height: 100%;
                  }

                  .event-location {
                    padding: 0;
                    margin: 0;
                  }

                  .event-description {
                    flex: 1;
                    a {
                      color: @wt;
                    }
                  }
                }
            }
        }
    }

    #inform {
        .card-header.danger {
            background-color: @danger-color;
        }
        .card-block {
            height: 733px;
            padding-left: 50px;
            padding-right: 50px;

            .info-wrapper {
                h2 {
                    font-size: 16px;
                  	color: #262a2e;
                    margin-bottom: 0!important;
                }

                h2.red {
                    color: #ff454f;
                }

                p.info-content {
                    font-size: 14px;
                  	line-height: 1.56;
                  	text-align: justify;
                  	color: #5d5e62;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    a {
                        color: #5d5e62;
                        cursor: pointer;
                        font-weight: normal;
                        text-decoration: underline;
                    }
                }

                p.info-date {
                    font-size: 12px;
  	                color: #5d5e62;
                    margin-top: 20px;
                    margin-bottom: 40px;
                    a {
                        margin-left: 100px;
                    }

                    a:after {
                        font-family: FontAwesome;
                        content: "\f019";
                        margin-left: 9px;
                    }
                }
                p.info-edit {
                    font-size: 12px;
                    color: #5d5e62;
                    margin-bottom: 43px;

                    a {
                        margin-left: 100px;
                    }

                    a:after {
                        font-family: FontAwesome;
                        content: "\f019";
                        margin-left: 9px;
                    }
                }
            }
        }
    }
}

p.calendar-pj {
    display: block!important;
    font-size: 12px;
    color: #5d5e62;
    margin-top: 10px;

    a {
      color: @wt;
    }
    a:after {
        font-family: FontAwesome;
        content: "\f019";
        color: @wt;
        margin-left: 9px;
    }
}

p.calendar-pj-red {
    font-size: 12px;
    color: #5d5e62;

    a {
    }
    a:after {
        font-family: FontAwesome;
        content: "\f019";
        margin-left: 9px;
    }
}

.form-information {
  .mb-input {
    margin-bottom: 15px;
  }
}

.mb-label {
  text-transform: uppercase;
  font-family: 'Lato', 'Source Sans Pro', sans-serif;
  font-size: 12px;
  letter-spacing: 0.1px;
  text-align: left;
  color: #8b999f;
  margin: 0;

  .mandatory-icon {
    width: 7px;
    height: 7px;
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 3px;
  }
}

.info-msg-box {
  border: 1px solid #ddd;
  padding: 8px;
  min-height: 80px;
  margin: 13px 0 15px 0;

  &.mb-input-error {
    border-color: red;
  }

  .info-msg-box-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    > div:first-child {
      flex: 1;
    }

    .mb__textarea > textarea {
      border: none !important;
      padding: 0 !important;
    }
  }

  #attachments {
    padding: 0;
    margin: 0;

    .attachment-item {
      margin: 10px 0;

      &:first-child {
        margin-top: 25px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

#modal_publier {
  .mb-checkbox {
    margin-left: -7px;
  }

  .form-row {
    padding: 19px 0;
  }

  #calendar-input {
    width: 80%;
    margin: 15px 0;

    .flex-row {
      display: flex;
      flex-direction: row;
      align-items: flex-end;

      .mb-information {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 0 5px 10px;
        position: relative;

        .mb-error-message {
          position: absolute;
          bottom: -30px;
        }

        input {
          text-align: right;

          &::placeholder,
          &::-webkit-input-placeholder {
            text-align: right;
          }
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        &.mb-information-start-date,
        &.mb-information-end-date {
          flex: 3;
        }

        &.mb-information-start-hour,
        &.mb-information-end-hour {
          flex: 1;
        }

        &.mb-information-separator {
          color: #999;
          justify-content: center;
          display: flex;
          flex: 0 0 30px;
          text-align: center;
          height: 36px;
        }

        .dropdown {
          .time-slot-overflow {
            max-height: 250px;
            overflow-y: scroll;
          }
        }
      }
    }
  }

  .dateRespon {
    margin-bottom: 1em;

    .input-group {
      margin-top: 6px;
      width: 100%;
    }

    .labelInput {
      text-transform: uppercase;
      font-family: 'Lato', 'Source Sans Pro', sans-serif;
      font-size: 12px;
      letter-spacing: 0.1px;
      text-align: left;
      color: #8b999f;
      margin: 0;

      .mandatory-icon {
        width: 7px;
        height: 7px;
        display: inline-block;
        margin-bottom: 3px;
        margin-left: 3px;
      }
    }

    .input-group-addon {
      border: 1px solid #eeeeee;
      cursor: pointer!important;
      height: 36px;
      width: 40px;
      padding: 0 8px;
      border-radius: 0;
      background-color: #ffffff;

      .calendar-g-icon {
        height: 24px;
        width: 24px;
        background-image: url(img/icons/calendar-grey.png);
      }

      .clock-g-icon {
        height: 24px;
        width: 24px;
        background-image: url(img/icons/svg/clock.svg);
      }
    }

    input.datepicker,
    input.startHourActu,
    input.endHourActu {
      border: 1px solid #eeeeee;
      border-left: 0;
      height: 36px;
      min-width: 64px !important;
      cursor: pointer!important;
    }
  }
}

.mb-actuality-clock-icon {
  float: left;
  i {
    padding-top: 25px;
  }
}

// end of newly added by dwi yudha ---------------------------------------------
