<template name="module_actuality_index">

<div class="wrapper" id="information-page">
    <section class="blue_bg_content" id="mainContent">
        <div class="main_block container-fluid">
            <!-- HEADER MODULE ACTUALITY -->
            {{#if isSubscribeReady}}
            <div class="row">
                <div class="col-sm-12 plpr23">
                    <div class="panel mt80">
                        <div class="panel-heading position_relative">
                            <div class="sub-tool-bar clearfix">
                              {{#unless isDetail}}
                                <!-- TITLE & ADDRESS -->
                                <h1 class="pull-left">{{getDicoVar "board" "information"}} - {{getAddress}}</h1>

                                <!-- FILTER, CREATE ACTUALITY & FOLLOW BUTTONS -->
                                  <div class="action pull-right BtnInfoRespon">
                                      <!-- DO NOT DELETE (filter mode)-->

                                      <!--<div class="btn-group">
                                          <button type="button" class="btn red_btn dropdown-toggle" data-toggle="dropdown" style="font-size: 14px; margin-left: 20px;">
                                          Type <span class="caret"></span></button>
                                          <ul class="dropdown-menu" role="menu">
                                              <li><a class="filter-actu" filter="3">Tous</a></li>
                                              <li><a class="filter-actu" filter="2">Calendrier</a></li>
                                              <li><a class="filter-actu" filter="1">Information générale</a></li>
                                          </ul>
                                      </div>-->
                                        {{#if and (userHasRight "actuality" "write") (userHasRight "actuality" "see")}}
                                          <button type="button" id="new-post" class="btn red_btn" data-toggle="modal" data-target="#modal_publier">{{getDicoVar "moduleActualityIndex" "publish"}}</button>
                                        {{/if}}
                                        {{#if (userHasRight "actuality" "see")}}
                                        <div class="pull-right action vertical-centered mar10l">
                                            <button id="follow-actu" class="btn-text follow-text">{{getDicoVar "moduleClassifiedsList" "followAll"}}</button>
                                            <span id="follow-actu" class="starButton follow-start-btn">
                                                {{#if isActuFollowing }}
                                                <div class="starButtonOff"></div>{{else}}
                                                <div class="starButtonOn"></div>{{/if}}
                                            </span>
                                        </div>
                                        {{/if}}
                                  </div>
                                {{else}}
                                <div class="pull-left">
                                  {{#if isEvent}}
                                  <h1>{{ getDicoVar 'moduleActualityIndex' 'eventDetails' }} - {{getAddress}}</h1>
                                  {{else}}
                                  <h1>{{getDicoVar "moduleActualityIndex" "informations"}} - {{getAddress}}</h1>
                                  {{/if}}
                                  <button type="button" id="back-btn" class="mb-back-button">
                                    <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{{getDicoVar "resourceForm" "back"}}}
                                  </button>
                                </div>
                                {{/unless}}
                            </div>
                        </div>
                    </div>

                    {{#if userHasRight "actuality" 'see'}}
                    {{#unless isDetail}}
                    <div class="mb-info-container fix-height">
                        <div class="left-panel">
                            <div class="search-container">
                                {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=onSearch}}
                            </div>
                            <div class="info-list">
                                {{#if infoPosts}}
                                    {{#each infoPosts}}
                                        <div class="info-item {{getNewClass this}}" data-id="{{this._id}}">
                                            {{#if $eq this.userId me._id }}
                                                {{#if and (userHasRight "actuality" "write") (userHasRight "actuality" "see")}}
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle tools item-pencil-dropdown" data-toggle="dropdown">
                                                            <i class="image-icon edit-icon"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item post-edit" data-toggle="modal" data-target="#modal_publier" data-id="{{this._id}}">
                                                                <i class="fa fa-pencil" style="display:inline-block; left: 15px; top: 50%; margin-right: 5px"></i>
                                                                {{getDicoVar "moduleActualityIndex" "edit"}}
                                                            </a>
                                                            <a href="#" class="dropdown-item post-delete" data-id="{{ this._id }}">
                                                                <i class="fa fa-trash-o" style="display:inline-block; left: 15px; top: 50%; margin-right: 5px"></i>
                                                                {{getDicoVar "moduleActualityIndex" "delete"}}
                                                            </a>
                                                        </div>
                                                    </div>
                                                {{/if}}
                                            {{else}}
                                                {{#if userHasRight "actuality" "delete"}}
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle tools item-pencil-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="image-icon edit-icon"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item post-delete" data-id="{{ this._id }}">
                                                                <i class="fa fa-trash-o" style="display:inline-block; left: 15px; top: 50%; margin-right: 5px"></i>
                                                                {{getDicoVar "moduleActualityIndex" "delete"}}
                                                            </a>
                                                        </div>
                                                    </div>
                                                {{/if}}
                                            {{/if}}
                                            <h2 class="go-to-detail" data-id="{{this._id}}">{{{hyperlink this.title}}}</h2>
                                            <time class="go-to-detail" data-id="{{this._id}}">
                                                {{#if isEdited this._id}}
                                                    {{getDicoVar "home" "edited"}}
                                                    {{humanDate this.updatedAt}}
                                                {{else}}
                                                    {{getDicoVar "moduleActualityIndex" "published_on"}}
                                                    {{ humanDate this.createdAt}}
                                                {{/if}}
                                            </time>
                                            <div class="info-user go-to-detail" data-id="{{this._id}}">
                                                {{> userIcon userId=this.userId type="U" hideStatus=true}}
                                                <h3>{{getFullName this.userId}}</h3>
                                            </div>
                                            {{#if this.locate}}<span class="location-wrapper go-to-detail" data-id="{{this._id}}"><i class="image-icon location-icon"></i> <span>{{{hyperlink this.locate}}}</span></span>{{/if}}

                                            <div class="info-content ellipsis" style="word-wrap: break-word;">
                                                <div class="ellipsisedText show">{{{hyperlink (seeMoreMessage this.description 250)}}}</div>
                                                <div class="notEllipsisedText">{{{hyperlink  this.description }}}</div>
                                            </div>
                                            {{#if doSeeMoreLess this.description 250}}
                                                <div class="seeMoreOrLess seeMoreOrLessLeft mb10">
                                                    {{getDicoVar "moduleActualityIndex" "see_more"}}
                                                </div>
                                            {{/if}}

                                            {{#if this.files}}
												<div class="mb10 mt10">
													{{> React
														component=MbFilePreview
														files=(getFiles this.files)
														newFiles=(getNewFiles this.files)
														layout="4"
                                                        limit=2
													}}
												</div>
                                            {{/if}}
                                        </div>
                                    {{/each}}
                                {{else}}
                                    {{#if isSearchActive }}
                                        {{> MbEmpty
                                                title=(getDicoVar "moduleActualityIndex" "no_result")
                                        }}
                                    {{else}}
                                        <div class="mt15">
                                            {{> MbNoContent
                                                    title=(getDicoVar "moduleActualityIndex" "anything_new")
                                                    description=(getDicoVar "moduleActualityIndex" "find_info")
                                            }}
                                        </div>
                                    {{/if}}
                                {{/if}}
                            </div>
                        </div>
                        <div class="right-panel">
                            <div id="mini-calendar"></div>
                            {{initDatePicker}}
                            <div id="date-label">
                                {{selectedDate}}
                            </div>
                            <div id="date-detail">
                                {{#if actuPosts}}
                                    {{#each actu in actuPosts}}
                                        <div class="info-item">
                                            {{#if $eq actu.userId me._id }}
                                                {{#if and (userHasRight "actuality" "write") (userHasRight "actuality" "see")}}
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle tools item-pencil-dropdown" data-toggle="dropdown">
                                                            <i class="image-icon edit-icon"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item post-edit" data-toggle="modal" data-target="#modal_publier" data-id="{{actu._id}}">
                                                                <i class="fa fa-pencil" style="display:inline-block; left: 15px; top: 50%; margin-right: 5px"></i>
                                                                {{getDicoVar "moduleActualityIndex" "edit"}}
                                                            </a>
                                                            <a href="#" class="dropdown-item post-delete" data-id="{{ actu._id }}">
                                                                <i class="fa fa-trash-o" style="display:inline-block; left: 15px; top: 50%; margin-right: 5px"></i>
                                                                {{getDicoVar "moduleActualityIndex" "delete"}}
                                                            </a>
                                                        </div>
                                                    </div>
                                                {{/if}}
                                            {{else}}
                                                {{#if userHasRight "actuality" "delete"}}
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle tools item-pencil-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="image-icon edit-icon"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item post-delete" data-id="{{ actu._id }}">
                                                                <i class="fa fa-trash-o" style="display:inline-block; left: 15px; top: 50%; margin-right: 5px"></i>
                                                                {{getDicoVar "moduleActualityIndex" "delete"}}
                                                            </a>
                                                        </div>
                                                    </div>
                                                {{/if}}
                                            {{/if}}
                                            <h2>{{{hyperlink actu.title}}}</h2>
                                            {{#if actu.locate}}<span class="location-wrapper"><i class="image-icon location-icon"></i> <span>{{{hyperlink actu.locate}}}</span></span>{{/if}}
                                            <time>
                                              <div class="mb-actuality-clock-icon">
                                                <i class="image-icon clock-icon"></i>
                                              </div>
                                              <div>
                                                {{#if sameDate actu.startDate actu.endDate}}
                                                    {{getDicoVar "moduleActualityIndex" "the"}}
                                                {{else}}
                                                    {{#if $not actu.endDate}}
                                                        {{getDicoVar "moduleActualityIndex" "the"}}
                                                    {{else}}
                                                        {{getDicoVar "moduleActualityIndex" "from2"}}
                                                    {{/if}}
                                                {{/if}}
                                                {{fullDate actu.startDate}}
                                                {{#if $neq actu.startHour '-1'}}
                                                    {{#if sameDate actu.startDate actu.endDate}}
                                                        {{getDicoVar "moduleActualityIndex" "from"}}
                                                    {{else}}
                                                        {{getDicoVar "moduleActualityIndex" "at"}}
                                                    {{/if}}
                                                    {{actu.startHour}}
                                                {{/if}}
                                                {{#if sameDate actu.startDate actu.endDate}}
                                                    {{#if $neq actu.endHour '-1'}}
                                                        {{getDicoVar "moduleActualityIndex" "to"}}
                                                        {{actu.endHour}}
                                                    {{/if}}
                                                {{/if}}
                                                {{#if actu.endDate}}
                                                    {{#if $not (sameDate actu.startDate actu.endDate)}}
                                                        {{getDicoVar "moduleActualityIndex" "the2"}}
                                                        {{fullDate actu.endDate}}
                                                        {{#if $neq actu.endHour '-1'}}
                                                            {{getDicoVar "moduleActualityIndex" "at"}}
                                                            {{actu.endHour}}
                                                        {{/if}}
                                                    {{/if}}
                                                {{/if}}
                                              </div>
                                            </time>

                                            <div class="info-content ellipsis" style="word-wrap: break-word;">
                                                <div class="ellipsisedText show">{{{hyperlink (seeMoreMessage actu.description 250)}}}</div>
                                                <div class="notEllipsisedText">{{{hyperlink actu.description }}}</div>
                                            </div>
                                            {{#if doSeeMoreLess actu.description 250}}
                                                <div class="seeMoreOrLess seeMoreOrLessLeft mb10">
                                                    {{getDicoVar "moduleActualityIndex" "see_more"}}
                                                </div>
                                            {{/if}}

                                            {{#if actu.files}}
                                                <a type='button' class='post-edit attachment-link' data-id='{{actu._id}}' data-toggle='modal' data-target='#modal_join_file'>
                                                    <i class="image-icon attach-icon"></i> {{getDicoVar "moduleActualityIndex" "attached_file_available"}}
                                                </a>
                                            {{/if}}

                                            <div class="event-action">
                                              {{#if canResponse actu._id}}
                                              {{> MbButton
                                                class="danger"
                                                label=(getDicoVar 'commonTranslation' 'going')
                                                onClick=(goingTo actu._id)
                                              }}
                                              {{/if}}
                                              {{> MbButton
                                                class="danger"
                                                label=(getDicoVar "incidentResidentIndex" "see_details")
                                                onClick=(goToDetail actu._id)
                                              }}
                                            </div>
                                        </div>
                                    {{/each}}
                                {{else}}
                                    <div class="info-item">
                                        <h2>{{getDicoVar "moduleActualityIndex" "no_event"}}</h2>
                                        <h4>{{getDicoVar "moduleActualityIndex" "no_event_for"}}</h4>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>

                    {{else}}
                      {{> eventDetail eventId=isDetail}}
                    {{/unless}}
                    {{!-- {{setHeight}} --}}
                    {{else}}
                      {{> MbRestrictedAccess }}
                    {{/if}}
                </div>
            </div>
            {{else}}
              <div class='mt80'>
                {{> loader}}
              </div>
            {{/if}}
        </div>
    </section>
</div>
<!-- CALL FOR MODALS -->
{{> module_actuality_modal editPost=editingPost actualityId=actualityId}}

</template>
