<template name="module_actuality_feed">
	{{#if isInfo}}
		<a href="#" class="actuality-name" idx="{{actu._id}}">
			{{actu.title}}
		</a>
	{{else}}
		<a href="#" class="actuality-name" idx="{{actu._id}}">
			{{actu.title}}
		</a>
	{{/if}}
</template>
