<template name="module_actuality_modal">
  {{#if resetForm}}{{/if}}
  <div id="modal_publier" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
    <div class="modal-dialog modal-lg">
      <button type="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      {{#if isOpen}}
      <div class="modal-content">
        <!-- MODAL HEADER -->
        <div class="modal-header">
          <div class="modal-heading pull-left">
            <h4 id="myModalLabel" class="modal-title red_color">{{#if editPost}}{{getDicoVar "moduleActualityModal" "edit"}}{{else}}{{getDicoVar "moduleActualityModal" "publish"}}{{/if}} {{#if isEditInfo}}{{getDicoVar "moduleActualityModal" "information"}}{{else}}{{getDicoVar "moduleActualityModal" "information"}}{{/if}}</h4>
          </div>
        </div>
        <div class="modal-body clearfix" id='subject'>
          <form class="form-information">
						<div class="mb-input">
							<label for="mb-select">
								{{getDicoVar "moduleActualityModal" "title"}}
							</label>
							<i class="image-icon mandatory-icon"></i>
							<input
                placeholder="{{getDicoVar "moduleActualityModal" "title"}}"
                class="titleActu"
                type="text"
                value="{{ifEditPost 'title'}}"
							>
						</div>

						<div class="mb-input">
							<label for="mb-select">
								{{getDicoVar "moduleActualityModal" "location"}}
							</label>
							<input
                placeholder="{{getDicoVar "moduleActualityModal" "your_location"}}"
                class="locateActu"
                type="text"
                value="{{ifEditPost 'locate'}}"
              >
              {{!-- {{logger (ifEditPost 'location')}} --}}
						</div>
						<div class="row">
							<div class="col-xs-12">
								<label class="mb-label">
									{{getDicoVar "moduleActualityModal" "description"}}
									<i class="image-icon mandatory-icon"></i>
								</label>
								<div class="info-msg-box">
									<div class="info-msg-box-row">
										<div>
											{{> React component=MbTextArea
												minRow=3
												value=(ifEditPost 'description')
												placeholder=(getDicoVar 'moduleActualityModal' 'description_placeholder')
											}}
										</div>
                  {{> FileUploadButton files=getFiles onFileAdded=onFileAdded }}
									</div>

                  {{> FileList files=getFiles onRemove=onFileRemoved onFileAdded=onFileAdded }}
								</div>
							</div>
						</div>



            {{#if $not isEditInfo}}
            {{> MbCheckbox addToCalendarArgs }}

            <div id="calendar-input" style="{{#unless (ifEditPost 'startDate')}}display: none;{{/unless}}">
              <div class="flex-row">
                <div class="dateRespon mb-information mb-information-start-date">
                  <p class="mt10 labelInput">{{getDicoVar "moduleActualityModal" "start_date_and_hour"}}<i class="image-icon mandatory-icon"></i></p>
                  {{> datepicker datepickerId="startDateActu" hasClear=1 value=(ifEditPost 'startDate')}}
                </div>

                <div class="dateRespon mb-information mb-information-start-hour">
                  <p class="mt10 labelInput"></p>
                  <div class="input-group dropdown">
                    <span class="input-group-addon input_group_custom ">
                      <i class="image-icon clock-g-icon"></i>
                    </span>
                    <input type="text" data-toggle="dropdown" class="form-control dropdown-toggle startHourActu" placeholder="00:00" value="{{ifEditPost 'startHour'}}">
                    <ul class="dropdown-menu time-slot time-slot-overflow">
                      {{#each timeSlot}}
                        <li><a class="timeSlotStart">{{this}}</a></li>
                      {{/each}}
                    </ul>
                  </div>
                </div>

                <div class="mb-information mb-information-separator">
                  -
                </div>

                <!-- END DATE INPUT -->
                <div class="dateRespon mb-information mb-information-end-date">
                  <p class="mt10 labelInput">{{getDicoVar "moduleActualityModal" "end_date_and_hour"}}</p>
                  {{> datepicker datepickerId="endDateActu" hasClear=1 value=(ifEditPost 'endDate')}}
                  {{#if isError}}
                    {{#if isHourError}}
                      <p class="mb-error-message">{{{linkedErrorSentence}}}</p>
                    {{/if}}
                    {{#if sameDateError}}
                      <p class="mb-error-message">{{getDicoVar "moduleActualityModal" "same_start_end_date"}}</p>
                    {{/if}}
                  {{/if}}
                </div>

                <!-- END HOUR INPUT -->
                <div class="dateRespon mb-information mb-information-end-hour">
                  <p class="mt10 labelInput"></p>
                  <div class="input-group dropdown">
                    <span class="input-group-addon input_group_custom">
                      <i class="image-icon clock-g-icon"></i>
                    </span>
                    <input type="text" data-toggle="dropdown" class="form-control dropdown-toggle endHourActu" placeholder="00:00" value="{{ifEditPost 'endHour'}}">
                    <ul class="dropdown-menu time-slot time-slot-overflow">
                      {{#each timeSlot}}
                        <li><a class="timeSlotEnd">{{this}}</a></li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div id="privacy-container" style="{{#unless (ifEditPost 'startDate')}}display: none;{{/unless}}">
              <div class="clearfix"></div>
              <div class="row">
                {{> MbPanel content=(getDicoVar 'commonTranslation' 'privacy_settings')}}
              </div>
              <div class="form-row">
                {{> MbCheckbox
                  label=(getDicoVar 'commonTranslation' 'event_visible_invited')
                  checked=(visibility 'private')
                  onClick=(changeVisibility)
                }}
              </div>
              {{setUsers}}
              {{#if (visibility 'private')}}
                <div class="form-row">
                  {{> MbSelect
                    required=true
                    label=(getDicoVar 'commonTranslation' 'invite_participants')
                    multiple=true
                    selected=(getValue 'participants')
                    onSelect=(setValue 'participants')
                    options=getUsersList
                  }}
                </div>
              {{/if}}
              <div class="form-row">
                {{> MbCheckbox
                  label=(getDicoVar 'commonTranslation' 'event_allow_comment')
                  checked=(getValue 'allowComment')
                  onClick=(toggleCheck 'allowComment')
                }}
              </div>
              <div class="form-row">
                {{> MbCheckbox
                  label=(getDicoVar 'commonTranslation' 'event_allow_share_participation')
                  checked=(getValue 'allowAction')
                  onClick=(toggleCheck 'allowAction')
                }}
              </div>
              {{#if (and (getValue 'allowAction') (visibility 'public'))}}
                <div class="form-row">
                  {{> MbCheckbox
                    label=(getDicoVar 'commonTranslation' 'event_is_limited')
                    checked=(getValue 'isLimited')
                    onClick=(toggleCheck 'isLimited')
                  }}
                </div>
                {{#if (getValue 'isLimited')}}
                  <div class="form-row">
                    {{> MbInput
                      value=(getValue 'participantLimit')
                      label=(getDicoVar 'commonTranslation' 'event_participan_number')
                      placeholder=(getDicoVar 'commonTranslation' 'number_ph')
                      onInput=(setValue 'participantLimit')
                      isError=(isNumberError)
                      required=true
                      maxLength=5
                    }}
                  </div>
                {{/if}}
              {{/if}}
            </div>
            {{/if}}

            {{#if isError}}
            <div class="row">
              <div class="col-xs-8 errorModal">
                {{#if isActuError}}
                  <p class="red_color">{{getDicoVar "moduleActualityModal" "fill_required_fields"}}</p>
                {{/if}}
              </div>
            </div>
            {{/if}}

            <!-- SUBMIT BUTTON -->
            <div class="modal-footer paddingR0 paddingT0 paddingB0 d-flex flex-row align-items-center justify-end">
              {{#if cantSendActu}}
                <a type="submit" id="save" disabled="true" class="btn red_btn button_into_modal pull-right submitActu" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'moduleReservationIndex' 'validating'}}...">{{#if editPost}}{{getDicoVar "commonTranslation" "personal_details_save"}}{{else}}{{getDicoVar "moduleActualityModal" "validate"}}{{/if}}</a>
              {{else}}
                <a type="submit" id="save" class="btn red_btn button_into_modal pull-right submitActu" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'moduleReservationIndex' 'validating'}}...">{{#if editPost}}{{getDicoVar "commonTranslation" "personal_details_save"}}{{else}}{{getDicoVar "moduleActualityModal" "validate"}}{{/if}}</a>
              {{/if}}
            </div>
          </form>
        </div>
      </div>
      {{/if}}

    </div>
  </div>


  <!-- MODAL SHOW JOIN FILES & PICTURES -->
  <div id="modal_join_file" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
      <button type="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">

        <div class="modal-header">
          <div class="modal-heading pull-left">
            <h4 class="red_color modal-title" id="myModalLabel">{{ifEditPost 'title'}}</h4>
          </div>
        </div>

        <div class="modal-body clearfix">
          <div class="form-group">
            <p>{{getDicoVar "moduleActualityModal" "attachments_list"}}</p>
          </div>
          <div class="form-group">
            {{> React
              component=MbFilePreview
              files=getFileCursor
              newFiles=getNewFiles
              forceContainerWidth=true
              layout="5"
            }}
          </div>
        </div>

      </div>
    </div>
  </div>
</template>
