<template name="modal_topUp">
  <div id="modal_topUp" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
    {{#if isIntegrationError}}
      PROBLEM WITH THE INTEGRATED MODULE
    {{else}}
      <div class="modal-dialog modal-lg">
        <button details="button" class="close round-close" data-dismiss="modal">
          <img src="/img/icons/croix_48px.svg" width="36" alt="">
        </button>
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-heading pull-left">
              <h4 id="myModalLabel" class="modal-title red_color"> {{ getDicoVar 'commonTranslation' 'top_up_my_account' }} </h4>
            </div>
          </div>
          <div class="modal-body clearfix">
            {{#if isOpen}}
              {{!-- {{#if sendFormPayzen}}{{/if}} --}}
              {{> MbPanel content=(getDicoVar 'commonTranslation' 'select_top_up_card')}}
              <div class='modal_topUpContainer'>
                {{#each paymentMethods}}
                  <div class='paymentMethodsController'>
                    {{> MbCheckbox checked=(getForm 'cardSelect' this._id) onClick=(onInputDetails 'cardSelect' this._id)}}
                    <div class='cardIconContainer'>
                      <div class='paymentIcon-{{this.type}}'></div>
                    </div>
                    <div class='cardInfos'>
                      <div class='cardType'>{{this.type}}</div>
                      <div class='cardNumber'>{{this.displayableNumber}}</div>
                    </div>
                  </div>
                  {{else}}
                    {{> MbEmpty
                      title=(getDicoVar 'commonTranslation' 'no_payment_method_yet')
                    }}
                {{/each}}
              </div>
              {{> MbPanel content=(getDicoVar 'commonTranslation' 'select_amount_top_up')}}
              <div class='modal_topUpContainer'>
                <div class='amountTopUpContainer'>
                  {{> MbCheckbox checked=(getForm 'amount' '10') label='10 €' onClick=(onInputDetails 'amount' '10')}}
                  {{> MbCheckbox checked=(getForm 'amount' '20') label='20 €' onClick=(onInputDetails 'amount' '20')}}
                  {{> MbCheckbox checked=(getForm 'amount' '30') label='30 €' onClick=(onInputDetails 'amount' '30')}}
                  {{> MbCheckbox checked=(getForm 'amount' '40') label='40 €' onClick=(onInputDetails 'amount' '40')}}
                  {{> MbCheckbox checked=(getForm 'amount' '50') label='50 €' onClick=(onInputDetails 'amount' '50')}}
                  {{> MbCheckbox checked=(getForm 'amount' '100') label='100 €' onClick=(onInputDetails 'amount' '100')}}
                </div>
                <div class='customAmountTopUpContainer'>
                  {{> MbCheckbox checked=(getForm 'amount' 'custom') onClick=(onInputDetails 'amount' 'custom')}}
                  {{> MbInput
                    label=(getDicoVar 'commonTranslation' 'other_amount')
                    value=(getForm 'amount' 'customVal')
                    type='number'
                    refreshMe=(getForm 'amount' 'customVal')
                    isError=(getIsNumberError)
                    required=true
                    onInput=(onInputDetails 'amount' 'customVal')
                    value=getTitle
                    placeholder=(getDicoVar 'commonTranslation' 'enter_amount')
                  }}

                </div>
              </div>
              <div class="saveContainer">
                <a type="submit" class="topUpButton {{#unless canSubmit}}disabled{{/unless}}" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{ getDicoVar 'commonTranslation' 'saving' }}...">
                  {{ getDicoVar 'commonTranslation' 'personal_details_save' }} </a>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</template>
