.modal_topUpContainer {
  margin-bottom: 16px;
  .amountTopUpContainer {
    display: flex;
    flex-wrap: wrap;
    height: 68px;
    align-items: center;
    margin-left: 18px;
    margin-right: 18px;
    &:not(.smallMargin) > .mb-checkbox {
      margin-right: 48px;
      & > button {
        padding-right: 16px !important;
      }
    }
    &.smallMargin > .mb-checkbox {
      margin-right: 27px;
      & > button {
        padding-right: 16px !important;
      }
    }
  }

  .customAmountTopUpContainer {
    display: flex;
    flex-wrap: wrap;
    height: 68px;
    align-items: center;
    margin-left: 18px;
    margin-right: 18px;
    & > .mb-input {
      width: 150px;
    }
    & > .mb-checkbox {
      & > button {
        padding-right: 16px !important;
      }
    }
  }
}

.saveContainer {
  width: 100%;
  height: 40px;
  position: relative;
  margin-bottom: 30px !important;

  .topUpButton, .recurringTopUpButton {
    &.disabled {
      cursor: not-allowed;
      filter: alpha(opacity=65);
      -webkit-box-shadow: none;
      box-shadow: none;
      opacity: .65;
      background-color: grey;
    }
    position: absolute;
    right: 0;
    width: 180px;
    height: 40px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    background-color: #fe0900;
    color: #fff !important;
    outline: none !important;
    border: none;
    font-weight: 400;
    font-size: 16px;
    padding: 6px 30px;
    border-radius: 0;
    display: inline-block;
  }
}

.justifyBetween {
  justify-content: space-between;
}
