<template name='modal_new_subBuilding'>
  <div id="addSubBuilding" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
    <div class="modal-dialog modal-lg">
      <button type="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-heading pull-left mb30">
            <h4 id="myModalLabel" class="modal-title red_color">Ajouter un bâtiment</h4>
          </div>
        </div>
        <div class="modal-body clearfix" id='subject'>
          {{> MbInput
            label="Nom du bâtiment"
            value=(getFormSubBuilding 'buildingName')
            required=true
            onInput=(onInputDetails 'buildingName')
            placeholder="Ajouter un nom pour le bâtiment"
          }}
          {{> MbPlaceInput
            label='Adresse'
            required=true
            value=(getFormSubBuilding 'adress')
            onInput=(onInputDetails 'adress')
            placeholder='Addresse du bâtiment'
            isError=isAdressError
          }}
          <div class='saveSubBuilding'>
            {{> MbButton label="Ajouter" onClick=saveSubBuilding class=getClasses}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
