<template name="conversation_header">
  <div class="conversation-header {{#if and (isNewMessage) (isManagerTab currentTab)}}d-flex{{/if}}">
    {{#let currentTab=getSelectedTab currentConversation=getCurrentConversation usersInformation=getUsersInformation isNewMessage=getIsNewMessage }}
      {{#if isNewMessage}}
        {{#unless (isManagerTab currentTab)}}
          <div class="conversation-header-container">
            <div class="conversation-header-new-user-wrap">
              <span class="conversation-header-new-user-label">{{getDicoVar "messageInput" "to"}}</span>
              {{!-- {{#if $neq currentTab oldTab}} --}}
                {{resetSelect currentTab}}
              {{!-- {{else}} --}}
                {{#let userInBuilding=getUserInBuilding userForNewConversation=getUserForNewConversation}}
                  {{> MbSelect
                    selected=userForNewConversation
                    noLabel=true
                    multiple=true
                    onSelect=onSelectUser
                    options=userInBuilding
                    placeholder=(getDicoVar 'messageInput' 'destination')
                  }}
                {{/let}}
              {{!-- {{/if}} --}}
            </div>
          </div>
        {{else}}
          {{!-- {{> loader}} --}}
          {{resetSelect currentTab}}
          <div class="incident-declaration-header-wrap">
            <div class="flex-fixer">
              <div class="incident-declaration-header-title">
                <p class="incident-declaration-header-label">
                  {{getDicoVar "moduleMessagerieIndex" "info_text"}}
                </p>
              </div>
              <div id="incident-declaration-header-type">
                <div class="incident-declaration-header-title-wrap">
                  {{getDicoVar "moduleMessagerieIndex" "type"}}
                  <i class="image-icon mandatory-icon"></i>
                </div>
                <div class="incident-declaration-header-bubble-wrap">
                  {{#each getAllIncidentType}}
                    <div class="incident-declaration-header-bubble" data="{{#if this.defaultType}}incident{{else}}other{{/if}}" idx="{{this._id}}">
                      <div class="incident-declaration-header-bubble-icon" style="background: url('{{this.picto}}') top left no-repeat #dffbff; background-size: 100% auto;"></div>
                      <div class="incident-declaration-header-bubble-label">{{this.text}}</div>
                    </div>
                  {{/each}}
                </div>
              </div>
              {{#if checkDisplayIncidentDetails}}
                <div id="incident-declaration-header-details">
                  <div class="incident-declaration-header-title-wrap">
                    {{getDicoVar "moduleMessagerieIndex" "details"}}
                    <i class="image-icon mandatory-icon"></i>
                  </div>
                  <div class="incident-declaration-header-bubble-wrap">
                    {{#each getAllIncidentDetails}}
                      <div class="incident-declaration-header-bubble" data="incidentDetails" idx="{{this._id}}">
                        <div class="incident-declaration-header-bubble-icon" style="background: url('{{this.picto}}') top left no-repeat #dffbff; background-size: 100% auto;"></div>
                        <div class="incident-declaration-header-bubble-label">{{this.text}}</div>
                      </div>
                    {{/each}}
                  </div>
                </div>
              {{/if}}
              {{#if checkDisplayPriority}}
                <div id="incident-declaration-header-priority">
                  <div class="incident-declaration-header-title-wrap">
                    {{getDicoVar "moduleMessagerieIndex" "priority"}}
                    <i class="image-icon mandatory-icon"></i>
                  </div>
                  <div class="incident-declaration-header-bubble-wrap">
                    {{#each getAllIncidentPriority}}
                      <div class="incident-declaration-header-bubble" data="priority" idx="{{this._id}}">
                        <div class="incident-declaration-header-bubble-icon" style="background: url('{{this.picto}}') top left no-repeat #dffbff; background-size: 100% auto;"></div>
                        <div class="incident-declaration-header-bubble-label">{{this.text}}</div>
                      </div>
                    {{/each}}
                  </div>
                </div>
              {{/if}}
              {{#if checkDisplayArea}}
                <div id="incident-declaration-header-zone">
                  <div class="incident-declaration-header-title-wrap">
                    {{getDicoVar "moduleMessagerieIndex" "zoned"}}
                    <i class="image-icon mandatory-icon"></i>
                  </div>
                  <div class="incident-declaration-header-bubble-wrap">
                    {{#each getAllIncidentZone}}
                      <div class="incident-declaration-header-bubble" data="area" idx="{{this._id}}">
                        <div class="incident-declaration-header-bubble-icon" style="background: url('{{this.picto}}') top left no-repeat #dffbff; background-size: 100% auto;"></div>
                        <div class="incident-declaration-header-bubble-label">{{this.text}}</div>
                      </div>
                    {{/each}}
                  </div>
                </div>
              {{/if}}
              {{#if checkDisplayInformation}}
                <div id="incident-declaration-header-information">
                  {{#if checkDisplayPhone}}
                    <div class="incident-declaration-header-title-wrap">
                      {{getDicoVar "commonTranslation" "mobile"}}
                      <i class="image-icon mandatory-icon"></i>
                    </div>
                    <div class='incident-declaration-header-information-phone phoneContainer'>
                      {{> MbSelect
                        noLabel=true
                        selected=(getForm 'phoneCode')
                        isPhoneCodeList=true
                        onSelect=(onSelectPhoneCode)
                        options=(parsePhoneCode GetAllPhoneCode)
                        placeholder=(getDicoVar 'commonTranslation' 'fill_in_area_code')
                      }}
                      {{> MbInput
                        noLabel=true
                        value=(getForm 'phone')
                        onInput=(onInputDetails 'phone')
                        placeholder=(getDicoVar 'commonTranslation' 'fill_in_mobile_phone_number')
                        isError=(isFieldError 'phone')
                      }}
                    </div>
                  {{/if}}
                  {{#if checkDisplayOtherDetails}}
                    <div class="incident-declaration-header-title-wrap">
                      {{getDicoVar "commonTranslation" "details"}}
                      <i class="image-icon mandatory-icon"></i>
                    </div>
                    <div class="incident-declaration-header-information-details">
                      {{> MbSelect
                        noLabel=true
                        selected=(getForm 'otherDetails')
                        onSelect=(onSelectOtherDetails)
                        options=(getAllOtherDetails)
                        placeholder=(getDicoVar "commonTranslation" "details")
                      }}
                    </div>
                  {{/if}}
                  {{#if checkDisplayDescription}}
                    <div class="incident-declaration-header-title-wrap">
                      {{getDicoVar "commonTranslation" "the_problem_visible"}}
                      <i class="image-icon mandatory-icon"></i>
                    </div>
                    <div class="incident-declaration-header-information-description">
                      {{> MbInput
                        noLabel=true
                        value=(getForm 'description')
                        maxLength='50'
                        onInput=(onInputDetails 'description')
                        placeholder=(getDicoVar 'moduleMessagerieIndex' 'your_problem')
                        isError=(isFieldError 'description')
                      }}
                    </div>
                  {{/if}}
                </div>
              {{/if}}
            </div>
          </div>
        {{/unless}}
      {{else}}
        {{resetSelect}}
        {{#if and (isManagerTab currentTab) (isNotPersonnalMessage currentConversation)}}
          <div class="conversation-header-container">
            <div class="conversation-header-incident-wrap">
              <div class="conversation-header-incident-type">{{getDicoVar "commonTranslation" "type_header_messenger"}}{{getCurrentType currentConversation}}</div>
              <div class="conversation-header-incident-details">{{getDicoVar "commonTranslation" "details_header_messenger"}}{{getCurrentDetail currentConversation}}</div>
            </div>
            <div style='display: flex;'>
              {{#if currentConversation.incidentId}}
                {{> MbButton onClick=(goToIncident currentConversation.incidentId) label=(getDicoVar 'commonTranslation' 'go_to_incident') class='danger'}}
              {{/if}}
              {{#if (incidentIsValid currentConversation.incidentId)}}
                <div class="conversation-header-invit-button" data-toggle="modal" data-target="#invitUserInConv">
                  <span class="invit-modal-btn" style="cursor: pointer;">
                    <i class="image-icon add-occupant-icon"></i>
                  </span>
                </div>
              {{/if}}
            </div>
          </div>
          {{#let otherUsers=(getUsersOfConv currentConversation usersInformation)}}
            {{#if $gte otherUsers.length 1}}
              <div class="conversation-header-container-footer">
                <span class="otherParticipant-label">
                  {{getDicoVar "moduleMessagerieIndex" "other_participant"}}
                </span>
                {{#each name in otherUsers}}
                  <span class="otherParticipant-tag">{{name}}</span>
                {{/each}}
              </div>
            {{/if}}
          {{/let}}
        {{else}}
          {{#let otherUsers=(getUsersOfConv currentConversation usersInformation)}}
          <div class="conversation-header-container">
            <div class="conversation-header-user">
              <div class="conversation-header-icon">
                <span class="userIcon-main">
                  {{#let userIcon=(getConversationInitial currentConversation usersInformation) status=(getUserStatus currentConversation usersInformation)}}
                    {{#if userIcon.isPicture}}
                      <div style="background-image:url('{{userIcon.src}}'), url('/img/anonymous.png')" class="smallprofilepic userIcon"></div>
                    {{else}}
                      <span class="userIcon">
                        {{userIcon.initial}}
                      </span>
                    {{/if}}
                    {{#if status}}
                      <span class="status-indicator {{status}}"></span>
                    {{/if}}
                    {{#if (canEditConversation currentTab usersInformation)}}
                    <div class="editConversationPicture"></div>
                    <div class="dropdownConversationPicture displayNone">
                      <div class="tick"></div>
                      <div class="textSelector uploadPhoto"> {{ getDicoVar 'commonTranslation' 'upload_photo' }} </div>
                      <div class="textSelector removePhoto"> {{ getDicoVar 'commonTranslation' 'remove_photo' }} </div>
                      <div class="textSelector cancelDropdown"> {{ getDicoVar 'commonTranslation' 'cancel' }} </div>
                    </div>
                    <input id="inputAvatar" type="file" style="display: none;">
                    {{/if}}
                  {{/let}}
                </span>
              </div>
              <span class="conversation-header-title">
                {{getConversationName currentConversation usersInformation}}
              </span>
              {{#if (canEditConversation currentTab usersInformation)}}
              <input type="text" class="conversation-header-title conversation-header-title-input displayNone" value="{{getConversationName currentConversation usersInformation}}">
              <div class="conversation-header-item-pencil">
                <i class="image-icon edit-icon"></i>
              </div>
              {{/if}}
            </div>

            {{#if $gte otherUsers.length 1}}
            {{checkBlockedUsers}}
            <div class="conversation-header-invit-button" data-toggle="modal" data-target="#invitUserInConv">
              <span class="invit-modal-btn" style="cursor: pointer">
                <i class="image-icon add-occupant-icon"></i>
              </span>
            </div>
            {{else}}
              {{#unless isBlockedUser}}
              <div class="dropdown" id="message-action-dd">
                <span id="action-dropdown" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                  <i class="image-icon three-dot"></i>
                </span>
                <ul class="dropdown-menu dropdown-menu-right message-action" aria-labelledby="action-dropdown">
                  <li class="block-user">{{getDicoVar "commonTranslation" "block_user"}}</li>
                  <li class="invit-modal-btn" data-toggle="modal" data-target="#invitUserInConv">{{getDicoVar "commonTranslation" "add_participant"}}</li>
                </ul>
              </div>
              {{/unless}}
            {{/if}}
          </div>
            {{#if $gte otherUsers.length 1}}
              <div class="conversation-header-container-footer">
                <span class="otherParticipant-label">
                  {{getDicoVar "moduleMessagerieIndex" "other_participant"}}
                </span>
                {{#each name in otherUsers}}
                  <span class="otherParticipant-tag">{{name}}</span>
                {{/each}}
              </div>
            {{/if}}
          {{/let}}
        {{/if}}
      {{/if}}
      {{> invit_user_in_conversation currentConversation=getCurrentConversation }}
    {{/let}}
  </div>
</template>
