<template name="rolesDropDown">
	<div class="action {{getClass}}" id="RolesDropDown">
		<div class="dropdown per-s-list btn">
			<button class="btn clearfix text-left btn-transparent dropdown-toggle buttonRolesView text-hidden" type="button" data-toggle="dropdown">
				<div class="text-hidden" style="width: calc(100% - 50px); display: inline-block; height: 15px;">
					{{#if getCurrentRoleName}}
						{{getCurrentRoleName}}
					{{else}}
						Choisir un rôle
					{{/if}}
				</div>
				<span class="caret pull-right"></span>
			</button>
			<div id="dropdownRolesView" class="dropdown-menu" style="width: 100%;">
				<ul class="list-users list-unstyled ulRespon">
					{{#with roles=getRoles}}
					{{#each role in roles}}
						<li data-id="{{role._id}}" class="dropdown-roles">
							<a class="media">
								<span class="pull-left" href="#">
									<i class="fa fa-id-card"></i>
								</span>
								<div>

									<h5 class="text-hidden">{{role.name}}</h5>
									<h6 class="muted-text text-hidden">{{role.for}}</h6>

								</div>
							</a>
						</li>
					{{/each}}
					{{/with}}
				</ul>
			</div>
		</div>
	</div>
</template>