<template name='occupant_marketPlace'>
  <div class="occupant_module_wrapper">
    {{checkTab}}
    <div class='topBarContainer'>
      <div class='topBarModuleName'>{{ getDicoVar 'commonTranslation' 'marketPlace' }} - {{getCondoName}}</div>
    </div>
    {{#unless shouldDisplayRestrictedAccess}}
      <div class='tabBarContainer'>
        <div class='{{#if $eq selectedTab 'services'}}selectedTabBar{{/if}}' data-tab='services'>{{getDicoVar 'commonTranslation' 'services'}}</div>
        <div class='{{#if $eq selectedTab 'upcoming'}}selectedTabBar{{/if}}' data-tab='upcoming'>
          {{getDicoVar 'commonTranslation' 'upcoming'}}
          {{#with badges=getUpcomingCounter}}
            {{#unless $eq badges 0}}
              <div class='badges'>{{badges}}</div>
            {{/unless}}
          {{/with}}
        </div>
        <div class='{{#if $eq selectedTab 'history'}}selectedTabBar{{/if}}' data-tab='history'>{{getDicoVar 'commonTranslation' 'historic'}}</div>
      </div>
      <div class="market-content-wrapper">
        {{> Template.dynamic template=getTemplateName data=getData}}
      </div>
    {{else}}
      {{> MbRestrictedAccess}}
    {{/unless}}
  </div>
</template>
