.modal-content {
  .modal-content-title {
    margin-left: 24px;
    margin-top: 18px;
    font-size: 20px;
    color: #5d5e62;
  }
}

.modal-body-container {
  margin: 34px 24px 20px 24px;

  .payment-location-container {
    display: flex;
    align-items: center;
    margin-top: 14px;

    .margin-right-16 {
      margin-right: 16px;
    }

    .warning-icon {
      margin-right: 16px;
      background-image: url(img/icons/attention.png);
      width: 24px;
      height: 24px;
      background-size: 24px;
      background-repeat: no-repeat;
    }
    .payment-details-text {
      font-size: 16px;
      color: #5d5e62;
    }
    .payment-details-text-clearer {
      font-size: 14px;
      color: #8b999f;
    }
  }

  .display-flex {
    display: flex;
  }

  .modal-body-title-column {
    flex-direction: column;
  }

  .modal-body-title {
    font-size: 24px;
    color: #5d5e62;
    display: flex;

    .margin-top-16 {
      margin-top: 16px;
    }
    .title-status {
      &-upcoming {
        background-color: var(--third-color);
      }
      &-due, &-outdated {
        background-color: var(--secondary-color);
      }
      &-complete {
        background-color: var(--primary-color);
      }
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 2px;
      color: white;
      height: 20px;
      padding: 0 15px;
      margin-left: 5px;
      margin-top: 2px;
    }
  }

  .line-icon-text-container {
    margin-top: 31px;
    display: flex;
    align-items: center;
    .line-icon {
      margin-right: 8px;
      .icon-calendar {
        background-image: url('/img/icons/calendar-2.png');
        background-size: 16px;
        width: 16px;
        height: 16px;
      }
      .icon-time {
        background-image: url('/img/icons/time.png');
        background-size: 16px;
        width: 16px;
        height: 16px;
      }
      .icon-location {
        background-image: url('/img/icons/location.png');
        background-size: 16px;
        width: 16px;
        height: 16px;
      }
      .icon-quantity {
        background-image: url('/img/icons/quantity.png');
        background-size: 16px;
        width: 16px;
        height: 16px;
      }
      .icon-profile-picture {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: var(--primary-color);

        & > div {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-size: cover;
          background-position: 50% 50%;
          text-align: center;
          line-height: 32px;
          color: white;
        }
      }
    }
    .line-text {
      color: #8b999f;
      font-size: 16px;
    }
  }

  .mb-panel {
    margin-top: 31px;
  }

  .action-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 55px;

    .action-button {
      cursor: pointer;
      height: 40px;
      min-width: 180px;
      margin-left: 16px;
      font-family: 'Lato', 'Source Sans Pro', sans-serif;
      font-size: 16px;
      text-align: center;
      line-height: 40px;
      padding-left: 30px;
      padding-right: 30px;
      &-fill {
        background-color: var(--secondary-color);
        color: white;
      }
      &-reverse {
        background-color: white;
        border: 1px solid var(--secondary-color);
        color: var(--secondary-color);
      }
    }
  }

  .text-basic {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    color: #5d5e62;
  }
}
