<template name="marketPlaceReservationModal">
  <div id="modal_market_place_reservation" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
    {{updateData}}
    <div class="modal-dialog modal-lg">
      <button details="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">
        <div class='modal-content-title'>{{ getDicoVar 'commonTranslation' 'order_details' }}</div>
        <div class="modal-body-container">
          {{#if isOpen}}
            {{#let reservation=getReservation}}
              {{#unless reservation}}
                {{> loader}}
              {{else}}
                <div class='modal-body-title modal-body-title-column'>
                  <div class='display-flex'>{{reservation.title}} {{getRecurring reservation}} <div class='title-status title-status-{{getStatusReservation reservation}}'>{{getDicoVar 'commonTranslation' (getStatusReservation reservation)}} {{getDueTime reservation}}</div></div>
                  <div class='margin-top-16'>{{getPrice false (getTotalPrice reservation.price reservation.quantity)}}</div>
                </div>
                <div class='line-icon-text-container'>
                  <div class='line-icon'>
                    <div class='icon-calendar'></div>
                  </div>
                  <div class='line-text'>{{humanDate (getLastActionDate reservation.archivedAt reservation.validatedAt)}}</div>
                </div>
                {{#if reservation.use_time_slot}}
                  <div class='line-icon-text-container'>
                    <div class='line-icon'>
                      <div class='icon-time'></div>
                    </div>
                    <div class='line-text'>
                      {{reservation.day_selected}} {{reservation.time_slot}} - {{getEndTime reservation}}
                    </div>
                  </div>
                {{/if}}
                <div class='line-icon-text-container'>
                  <div class='line-icon'>
                    <div class='icon-location'></div>
                  </div>
                  <div class='line-text'>{{getLocationDetail reservation}} ({{getDicoVar "commonTranslation" (getLocation reservation)}})</div>
                </div>
                <div class='line-icon-text-container'>
                  {{#with userInfo=(getUserInfo reservation.userId reservation.archivedBy)}}
                    <div class='line-icon'>
                      <div class='icon-profile-picture'>
                        {{#if userInfo.ppUrl}}
                          <div style='background-image: url({{userInfo.ppUrl}}),url(/img/anonymous.png);'></div>
                        {{else}}
                          <div>{{userInfo.initial}}</div>
                        {{/if}}
                      </div>
                    </div>
                    <div class='line-text'>{{userInfo.fullName}}</div>
                  {{/with}}
                </div>
                {{#unless $eq reservation.quantity '0'}}
                  <div class='line-icon-text-container'>
                    <div class='line-icon'>
                      <div class='icon-quantity'></div>
                    </div>
                    <div class='line-text'>{{getDicoVar 'commonTranslation' 'quantity'}}: {{reservation.quantity}}</div>
                  </div>
                {{/unless}}
                {{#unless isOffered reservation.price}}
                  {{> MbPanel content=(getDicoVar 'commonTranslation' 'payment_details')}}
                  <div class='payment-location-container'>
                    {{#with paymentDetails=(getPaymentDetails reservation)}}
                      <div class='{{paymentDetails.iconClass}}'></div>
                      <div class='payment-details-text'>
                        <div>{{getDicoVar 'commonTranslation' paymentDetails.text}}</div>
                        {{#if paymentDetails.subText}}
                          <div class='payment-details-text-clearer'>{{getDicoVar 'commonTranslation' paymentDetails.subText}}: {{paymentDetails.location}}</div>
                        {{/if}}
                      </div>
                    {{/with}}
                  </div>
                {{/unless}}
                {{!-- {{> MbPanel content=(getDicoVar 'commonTranslation' 'preferences')}} --}}
                {{> MbPanel content=(getDicoVar 'commonTranslation' 'special_request_title')}}
                <div class='text-basic'>{{getSpecialRequest reservation.special_request}}</div>
                <div>
                  {{> React
                    component=MbFilePreview
                    files=(getFiles reservation.special_request_files)
                    layout="13"
                    nativeObject=true
                    forceContainerWidth=true
                    limit=4
                  }}
                </div>
                <div class="action-button-container">
                  {{#if userHasRightMessenger reservation.condoId}}
                    <div class='action-button action-button-reverse button-1' data-userId='{{reservation.userId}}' data-condoId='{{reservation.condoId}}' data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{ getDicoVar 'commonTranslation' 'loading' }}...">{{#if _IsManagerView}}{{getDicoVar 'commonTranslation' 'message_occupant' }}{{else}}{{getDicoVar 'commonTranslation' 'message_manager' }}{{/if}}</div>
                  {{/if}}
                  {{#if _IsManagerView}}
                    {{#unless reservation.archivedAt}}
                      <div class='action-button action-button-fill button-2' data-resaId='{{reservation._id}}' data-condoId='{{reservation.condoId}}' data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{ getDicoVar 'commonTranslation' 'loading' }}...">{{ getDicoVar 'commonTranslation' 'order_completed' }}</div>
                    {{/unless}}
                  {{/if}}
                </div>
              {{/unless}}
            {{/let}}
          {{/if}}

        </div>
      </div>
    </div>
  </div>
</template>
