<template name='occupantListForOccupant'>
  <div class='occupantListContainer'>
    <div class='topBarContainer'>
      <div class='topBarModuleName'>{{ getDicoVar 'commonTranslation' 'manager_occupants' }} - {{getCondoName}}</div>
      <div class='topBarActionButton'>
        {{#if and (userHasRight "trombi" "seeOccupantList") (userHasRight "trombi" "addOccupant")}}
        <a type="button" class="btn btn-red-confirm invitOccupant">{{getDicoVar 'commonTranslation' 'manager_invite_occupant'}}</a>
        {{/if}}
      </div>
    </div>
    {{checkRights}}
    <div class='tabBarContainer'>
      <div class='{{#if $eq selectedTab 'active'}}selectedTabBar{{/if}}' data-tab='active'>{{getDicoVar 'commonTranslation' 'active'}}</div>
      <div class='{{#if $eq selectedTab 'pending'}}selectedTabBar{{/if}}' data-tab='pending'>
        {{getDicoVar 'commonTranslation' 'pending'}}
        {{#with badges=getPendingCounter}}
          {{#unless $eq badges 0}}
            <div class='badges'>{{badges}}</div>
          {{/unless}}
        {{/with}}
      </div>
    </div>
    <div class="containerManagerList">
      {{> Template.dynamic template=getTemplateName}}
    </div>
  </div>
</template>
