
.occupantListContainer {
  margin-top: 80px;
  margin-left: 243px;
  margin-right: 32px;

  .containerManagerList {
    padding-bottom: 16px !important;
  }

  .halfOpacity {
    & > *:not(.trashColumn) {
      opacity: 0.5;
    }
  }
}

@media (max-width: 1024px) {
  .occupantListContainer {
    margin-left: 32px;
  }
}

.resendInvitation {
  text-align: right !important;
}

.tabBarContainer {
  background-color: white;
  margin-top: 3px;
  border-bottom: 1px solid #DCDDE4;
  height: 43px;
  display: flex;

  & > div {
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    padding-left: 43px;
    padding-right: 43px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 40px !important;
    letter-spacing: normal;
    text-align: center;
    //color: var(--tab-color);
    color: var(--primary-color);

    & > .badges {
      position: absolute;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: var(--notification-color);
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      line-height: 20px;
      font-size: 12px;
      font-weight: 800;
    }
  }
  .selectedTabBar {
    //border-bottom: 3px solid var(--tab-color);
    border-bottom: 3px solid var(--primary-color);
  }
}

.topBarContainer {
  width: 100%;
  height: 64px;
  background-color: white;
  position: relative;
  margin-bottom: 16px !important;

  .topBarModuleName {
    position: absolute;
    left: 16px;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: left;
    color: #5d5e62;
    top: calc(~'50% - 10px');

  }
  .topBarModuleNameWithBack {
    position: absolute;
    left: 16px;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: left;
    color: #5d5e62;
    top: calc(~'50% - 26px');

    div {
      & > img {
        height: 20px;
      }
      color: #8b999f;
      font-size: 14px;
      margin-top: 11px;
      cursor: pointer;
    }
  }
  .topBarActionButton {
    position: absolute;
    right: 16px;
    top: calc(~'50% - 19px');

    & > div {
      float: unset !important;
      display: inline-block;
      margin-right: 4px;
      margin-left: 4px;
    }

    & > a {
      &[disabled], &.disabled {
        background-color: gray !important;
        border-color: gray !important;
      }
      line-height: 24px;
      &:not(:last-of-type) {
        margin-right: 16px;
      }
      min-width: 160px;
    }
  }
}
