<template name="deferredRegistration">
  <div class="container">
		<div class="signup_content">
      <div class="content">
        <div class="content_container">
          <div class="welcome-wrapper">
            <img src="/img/icons/svg/nowifi.svg">
            <p class="welcome-title">
              {{getDicoVar 'commonTranslation' 'congratulations'}}
            </p>
            <div class="welcome-content">
              <p>{{getDicoVar 'commonTranslation' 'deferred_registration_finish'}}</p>
              <p>{{getDicoVar 'commonTranslation' 'deferred_registration_note'}} {{humanDate getDeferredRegistration}}</p>
            </div>
            <p>
              {{getDicoVar 'home' 'see_you_soon'}}
            </p>
            <button id="backToHome" class="btn btn-bordered">
              {{getDicoVar 'home' 'back_to_home'}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>