<template name="conversation_footer">
  {{#let currentTab=getCurrentTab currentConversation=getCurrentConversation messageIdForEditing=getMessageIdForEditing}}
  {{#unless isBlockedUser}}
  {{#unless isSameMessage}}{{setMessageIdAndResetMessageInput}}{{/unless}}
  {{#if messageIdForEditing}}{{refreshTextAndFile messageIdForEditing}}{{/if}}
  <div class="conversation-footer">
    <div class="conversation-footer-wrap">
      <div class="message-write-wrap" style="margin-bottom: 10px">
        <div class="message-input-wrap">
          <div class="message-input-textarea-wrap">
            <div class="message-input-textarea">
              {{> React
                component=MbTextArea
                showLabel=false
                minRow=2
                value=getMessageValue
                onChange=setMessageValue
                onKeyDown=validMessage
                onFocus=checkResidentRoomExist
                placeholder=(getDicoVar 'commonTranslation' 'write_message')
              }}
            </div>
            <div class="message-input-file-input">
              {{> FileList files=getFiles onFileAdded=onFileAdded onRemove=onFileRemoved}}
            </div>
          </div>
          <div class="message-input-file-button">
            {{> FileUploadButton files=getFiles onFileAdded=onFileAdded }}
          </div>
        </div>
      </div>
    </div>
    {{#if isManagerTab}}
      <div class="conversation-footer-checkbox">
        {{>MbCheckbox setSendNotif}}
        <div class="info-container" style="margin-right: 15px;">
          <div id="info-bubble-reminder" class="info-bubble fa-stack fa-lg">
            <i class="image-icon info-icon" aria-hidden="true"></i>
          </div>
          <div id="info-content-reminder" class="info-content">
            <p>{{getDicoVar 'messageInput' 'help_message_1'}}</p>
          </div>
        </div>
        {{activeTooltipSendNotif}}
      </div>
    {{/if}}
  </div>
  {{else}}
    <div class="blocked-wrapper">
      <div class="mb-warning">
      <span>
          <i class="image-icon attention-icon"></i>
      </span>
        {{#if amIBlocked}}
          <p>{{getDicoVar "commonTranslation" "blocked_message"}}</p>
        {{else}}
          <p>{{getDicoVar "commonTranslation" "block_message"}} <a class="unblock-user">{{getDicoVar "commonTranslation" "unblock_now"}}</a></p>
        {{/if}}
      </div>
    </div>
  {{/unless}}
  {{/let}}
</template>
