<template name="legals">

  <header id="header" class="fixed-header">
    <div class="header_container">
      <a class="logo logoGoHome">
      <img src="/img/logo/logo.svg" />
      </a>
    </div>
  </header>

	<div class="container containerHome">
		<div class="cguContainer">
			<div class="cguContener">
				<div class="CGUhead col-xs-12">
					<div class="con_clearfix">
						<p class="conditions">Mentions Legales</p>
						<p class="date">Dernière mise à jour : 12/09/2018</p>
					</div>
				</div>
				<div class="col-xs-12 cguWrap min-height-legals">
          <div class="col-xs-12">
            <div id="préambule-définitions" class="session_title"></div>
            <p>Vous venez d’accéder à la Plateforme MonBuilding.</p>
            <br>
            <p>Le site www.monbuilding.com est édité par MonBuilding&Co</p>
            <p>Société par Actions Simplifiée au capital de 125 euros</p>
            <p>Immatriculée au Registre du commerce et des sociétés de Paris sous le numéro : 820 950 103</p>
            <p>Siège social : 146 boulevard de grenelle, 75015 Paris</p>
            <p>Représentant légal : Eliane Lugassy</p>
            <p>Directeur de Publication : Eliane Lugassy</p>
            <br>
            <p>Conception de la Plateforme : MonBuilding&Co</p>
            <br>
            <p>Hébergement : OVH sis 2 rue Kellermann BP 80157 59053 ROUBAIX CEDEX 1 - France.</p>
          </div>
        </div>
			</div>
		</div>
	</div>
	{{> footer}}
</template>
