<template name="legals_mobile">

	<div class="container">
		<div class="cguContainer">
			<div class="cguContener">
				<div class="CGUhead col-xs-12">
					<div class="con_clearfix">
						<p class="conditions">Conditions générales d’utilisation</p>
						<p class="date">Dernière mise à jour : 12/09/2018</p>
					</div>
				</div>
				<div class="col-xs-12 cguWrap">
          {{#with getDomainConfig}}
          PREAMBULE – DEFINITIONS
          Les termes mentionnés ci-dessous ont la signification suivante :
          Annonce : désigne l'ensemble des éléments et données visuelles, textuelles, sonores, photographies, dessins), publié par un Utilisateur sous sa responsabilité éditoriale et diffusé sur la Plateforme.
          Compte : désigne l'espace de la Plateforme réservé à un Utilisateur et adapté à son profil (Gestionnaire ou Occupant). Un Compte peut regrouper plusieurs immeubles et avoir des Droits et des accès à des modules différents selon l’immeuble. Les Comptes Gestionnaire ou Occupant permettent aux Utilisateurs Gestionnaires ou Occupants d’accéder aux fonctionnalités et services qui leurs sont proposés, en fonction de leur profil de Droits.
          Droits :  désigne les droits de visionnage, publication, accès ou extraction de contenu ou d’utilisation de certains services ou fonctionnalités de la Plateforme attribués à chaque Utilisateur selon son profil (Gestionnaire ou Occupant).
          Entreprise Cliente ou Société : désigne la société {{corporateName}} qui a souscrit un contrat de licence auprès de la société MonBuilding&Co afin de pouvoir exploiter la Plateforme développée et hébergée par MonBuilding&Co.
          Contact de la Société - Entreprise Cliente :
          Dénomination sociale : {{corporateName}}
          Adresse : {{corporateAddress}}
          Représentant légal : {{corporateLegalRepresentative}}
          Contact données perso / DPO : {{corporateDPO}}
          {{/with}}

          MonBuilding&Co : désigne la société qui édite et exploite la plateforme MonBuilding – Site et application mobile, SAS au capital de 125 euros, immatriculée au registre du commerce et des sociétés de Paris sous le numéro 820 950 103, dont le siège social est situé 146 boulevard de grenelle Paris (75015).
          Partenaires : désigne des sociétés tierces proposant aux Utilisateurs qui le souhaitent des Services Partenaires par l’intermédiaire de la Plateforme. La liste des Partenaires est accessible <a href="#externalServices">ici</a>.
          Plateforme : désigne la plateforme MonBuilding qui regroupe les services et modules choisis par l’Entreprise Cliente, et mis à la disposition des Utilisateurs. Cette Plateforme est hébergée par la société MonBuilding&Co, pour le compte de l’Entreprise Cliente. Les Utilisateurs de l’Entreprise Cliente accèdent à la Plateforme soit via un URL dédié soit à la suite du téléchargement de l’application de l’Entreprise Cliente sur les stores compatibles iOS et Android.
          Services Partenaires : désigne un ensemble de services ou prestations proposées aux Utilisateurs qui ne sont pas développés par MonBuilding ou la Société, tels que, notamment, des applications permettant la géolocalisation, la gestion de casiers connectés, la gestion des accès au bâtiment et aux espaces, la commande de services de ménage ou de de conciergerie. Ces services ont fait ou font l’objet d’un contrat entre le Partenaire et et l’Entreprise Cliente et/ou l’Utilisateur.
          Site : désigne le Site internet accessible principalement depuis l’URL www.monbuilding.com et permettant aux Utilisateurs d’accéder via internet à la Plateforme.
          Utilisateur : désigne toute personne physique ou personne morale établie en France, titulaire d’un Compte Occupant ou d’un Compte Gestionnaire auquel l’Entreprise Cliente a autorisé l’accès à la Plateforme. On distingue deux types d’Utilisateurs :
          •	Gestionnaire : désigne toute personne physique majeure ou personne morale utilisant, exclusivement à des fins professionnelles, la Plateforme suite à l’accord conclu avec l’Entreprise Cliente. Tout Gestionnaire doit impérativement être titulaire d’un Compte Gestionnaire et y être connecté pour accéder et utiliser les services de la Plateforme dans son/ses immeuble(s) sous gestion.
          •	Occupant : désigne toute personne physique ou personne morale utilisatrice, occupante, locataire ou propriétaire au sein d’un immeuble référencé sur la Plateforme. Tout Occupant doit impérativement être titulaire d’un Compte Occupant et y être connecté pour accéder et utiliser les services de la Plateforme pour ses immeubles de rattachement.

          1.	OBJET

          Les présentes Conditions Générales d’Utilisation (ci-après dénommées les « CGU ») régissent les relations entre la Société, MonBuilding&Co et les Utilisateurs qui souhaitent utiliser les services proposés par la Plateforme ainsi que, le cas échéant, des Services Partenaires.

          A travers la Plateforme :
          •	Les Gestionnaires peuvent interagir avec des Occupants ou d’autres Gestionnaires dans le cadre d’une gestion professionnelle de l’immeuble,
          •	Les Occupants peuvent interagir entre eux et avec le ou les Gestionnaire(s) de l’immeuble. Les Occupants bénéficient également (i) d’un ensemble de services visant à améliorer la cohabitation et le confort au sein d’un même immeuble, et (ii) d’un accès aux Services Partenaires sélectionnés par la Société.

          2.	ACCEPTATION
          Tout Utilisateur déclare en accédant et utilisant la Plateforme avoir pris connaissance des présentes Conditions Générales d’Utilisation et les accepter expressément sans réserve et/ou modification de quelque nature que ce soit suite à son acceptation lors de l’inscription, matérialisée par la case cochée « Je reconnais avoir pris connaissance et accepter les Conditions Générales d’utilisation de la Plateforme ». Les présentes CGU sont donc pleinement opposables aux Utilisateurs.
          3.	OBJET DES SERVICES
          La Plateforme permet :
          -	D’améliorer la communication au sein de l’immeuble (informations, évènements, remontée et suivi d’incidents, plan, manuel) ;
          -	De favoriser la création d’une communauté (trombinoscope, messenger interne, forum et petites annonces).
          -	De mettre à disposition des services (réservation d’espaces et de biens communs, badge dématérialisé, paiement en ligne et digital wallet) et, le cas échéant, des Services Partenaires ;
          La Plateforme permet également à la Société d’effectuer un meilleur pilotage de ses immeubles, celle-ci lui permettant d’obtenir des statistiques de gestion et d’utilisation de l’immeuble, de réaliser des enquêtes de satisfaction auprès des Gestionnaires et Occupants et d’avoir une vue d’ensemble des services offerts aux Utilisateurs ;
          4.	CONDITIONS D’ACCÈS À LA PLATEFORME
          La Plateforme est réservée au bénéfice exclusif des Utilisateurs disposant d’un compte actif.
          Un Compte Occupant peut être créé de trois façons :
          •	Soit après avoir été invité par le Gestionnaire de l’immeuble ou par un Occupant : l’activation du compte est subordonnée au choix d’un mot de passe par l’Utilisateur invité et à l’acceptation des présentes Conditions Générales d’Utilisation.
          •	Soit après avoir rempli le formulaire d’inscription en ligne : l’activation du compte est subordonnée à la validation du compte par le Gestionnaire de l’immeuble et à l’acceptation des présentes Conditions Générales d’Utilisation par l’Utilisateur
          •	Soit après avoir rempli le formulaire d’inscription en ligne et justifié du rattachement à l’immeuble choisi (ex : justificatif de domicile de moins de 6 mois) : l’activation du compte est subordonnée à la vérification des justificatifs transmis et à l’acceptation des présentes Conditions Générales d’Utilisation. Toutefois, MonBuilding&Co ne prend aucune obligation quelconque liée à l'exactitude des informations transmises.
          Un Compte Gestionnaire ne peut être créé qu’en accord avec l’Entreprise Cliente. L’activation du compte sera conditionnée au choix d’un mot de passe par le Gestionnaire invité et à l’acceptation des présentes CGU.
          La Société peut donner mandat à MonBuilding&Co de procéder aux invitations des Gestionnaires et Occupants en son nom et pour son compte.
          5.	ACCÈS À LA PLATEFORME
          5.1 Moyens techniques :
          L’accès à la Plateforme se fait via l’utilisation d’Internet et au moyen d’un ordinateur, d’une tablette et/ou d’un téléphone mobile présentant des degrés de compatibilité et de sécurité nécessaire audit accès. Tous les coûts afférents à l’accès à la Plateforme, que ce soit les frais matériels, logiciels ou d’accès à internet sont exclusivement à la charge de l’Utilisateur.
          À ce titre et en tant qu'Utilisateur, vous reconnaissez :
          •	Disposer de la compétence et des moyens nécessaires pour accéder et utiliser la Plateforme (navigateurs compatibles : les versions actuelles et n-1 et n-2 des navigateurs Chrome, Safari, Firefox, Internet Explorer, etc.),
          •	Avoir vérifié que votre configuration informatique ne contient aucun virus et qu'elle est en parfait état de fonctionnement,
          •	Avoir été informé que la Plateforme est en principe accessible 24h/24h et 7jours/7, sauf périodes de maintenance, cas de force majeure, difficultés informatiques, techniques ou liées aux réseaux de télécommunications.
          La Société et MonBuilding&Co ne sauraient être tenus responsable des éléments en dehors de leur contrôle et des dommages qui pourraient éventuellement être subis par l’environnement technique de l’Utilisateur et notamment, ses ordinateurs, logiciels, équipements réseaux et tout autre matériel utilisé pour accéder ou utiliser la Plateforme et/ou les informations contenues par celui-ci.
          5.2 Assistance technique :
          L’Utilisateur peut joindre le service support et bénéficier d’une assistance technique en adressant un courriel à : support@monbuilding.com, du lundi au vendredi, de 10h à 18h, sauf jours fériés français.
          6.	CODE & SÉCURITÉ
          L’accès à la Plateforme est réservé aux Utilisateurs et s’effectue en renseignant son identifiant (adresse e-mail de l’Utilisateur) et mot de passe.
          Le mot de passe est personnel et confidentiel. L’Utilisateur en est seul responsable. Il s'engage à ne pas le divulguer à des tiers, sous quelque forme que ce soit, et à prendre toutes les précautions nécessaires pour éviter que des tiers ne puissent y avoir accès. En cas d’oubli du mot de passe, l’Utilisateur pourra en choisir un nouveau en cliquant sur « Mot de passe oublié »
          L’Utilisateur s'engage à avertir sans délai le service support en cas de perte ou de vol de son mot de passe en envoyant un courriel à l’adresse support@monbuilding.com.
          A défaut, et sauf preuve contraire, toute connexion ou transmission d'ordres ou de données effectuées au moyen du mot de passe sera réputée provenir de l’Utilisateur et sous sa responsabilité exclusive.
          L’Utilisateur peut à tout moment demander l’annulation de son Compte en adressant un courriel à support@monbuilding.com.
          7.	DESCRIPTION DES SERVICES DE LA PLATEFORME
          A travers la Plateforme, les Utilisateurs peuvent avoir accès aux fonctionnalités listées ci-après et peuvent choisir celles dont ils souhaitent se servir ou non. Ainsi certaines fonctionnalités existantes peuvent être amenées à changer et certaines à voir le jour. Par ailleurs, MonBuilding&Co peut être amené à interfacer des Services Partenaires, venant ainsi accroitre la liste des fonctionnalités disponibles. Aussi, certaines fonctionnalités sont propres à certaines typologiques d’immeuble (bureau, résidentiel).
          7.1. Fonctionnalités proposées aux Occupants :
          Le choix de la souscription à ces fonctionnalités revient à l’Entreprise Cliente.
          Les Occupants peuvent modifier leurs préférences (mails de notification, push, etc.). Chaque Occupant se voir attribuer un rôle.
          En fonction de ses Droits, un Occupant pourra avoir une latitude de visionnage et d’action plus ou moins étendue.
          Dans la rubrique Information :
          •	Consultation et participation à l’actualité de l’immeuble
          •	Ajout et consultation d’événements
          •	Remontée des incidents auprès du Gestionnaire de l’immeuble :
          o	Possibilité de remonter des incidents selon leurs caractéristiques (urgent ou non, type d’incident, zone commune ou non…)
          o	Possibilité de noter la gestion de l’incident
          o	Suivi de la déclaration d’incidents (validation prise en compte, date intervention, résolution)
          •	Consultation du trombinoscope de l’immeuble
          •	Consultation des occupants actifs ou en attente d’acceptation
          •	Invitation des occupants à rejoindre la Plateforme Consultation des contacts d’urgence
          •	Consultation du règlement et du plan de l’immeuble
          Dans la rubrique Services:
          •	Accès au système de réservation des ressources communes mises à disposition par le Gestionnaire
          o	Visualisation du planning de disponibilité des espaces & biens communs
          o	Système de réservation libre ou soumis à validation par un Gestionnaire
          o	Indication de l’état réel des espaces
          •	Accès à une Market Place :
          o	Accès à des services et/ou articles proposés par le Gestionnaire
          o	Possibilité de réserver des services et de les payer à l’aide du Digital Wallet en lien avec un système de paiement en ligne sécurisé (Payzen, Stripe, etc)
          •	Portefeuille dématérialisé : « Digital Wallet » :
          o	Paiement via la Plateforme de services disponibles dans l’immeuble (réservation de salle, cours de sport, etc.) ou paiement sans contact (cafétéria, distributeurs automatiques, etc.)
          o	Visualisation du solde et des dépenses par type de service, recharge via la Plateforme (ponctuel ou récurrent)
          o	Accès aux Services Partenaires
          Dans la rubrique Echange :
          •	Consultation et participation au forum
          •	Consultation et participation aux petites annonces
          •	Messenger pour contacter d’autres Occupants de l’immeuble, le Gardien, le Conseil syndical ou encore le Gestionnaire de l’immeuble
          •	La possibilité de signaler un post tiers contraire aux règles de diffusion de la Plateforme
          •	Publication d’une actualité visible de tous les Occupants
          Dans la rubrique Mon Profil :
          •	Accès au Compte Occupant : gestion des informations personnelles, des notifications et du mot de passe
          •	Paiement lu loyer en ligne
          •	Accès aux documents personnels
          Dans la rubrique Langue & Support :
          •	Choix de la langue
          •	CGU applicables
          •	Possibilité de signaler un abus
          •	Possibilité de contacter le service support
          7.2 Fonctionnalités proposés aux Gestionnaires :
          L’Entreprise Cliente choisit les modules qui composeront la Plateforme et les Droits des Utilisateurs. Les Droits des Gestionnaires peuvent différer entre eux en fonction de leurs rôles au sein de l’immeuble.
          Dans la rubrique Vue d’Ensemble :
          •	Consultation des actualités de l’immeuble et récapitulatif des actions à mener
          Dans la rubrique Statistiques (seulement disponible sur le Site) :
          •	Mise à disposition de statistiques sur la gestion de l’immeuble et l’activité dans l’immeuble
          •	Exportation des statistiques au format CSV
          Dans la rubrique Gestion :
          •	Gestion des incidents déclarés par les Occupants ou constatés par le Gestionnaire (possibilité de programmer des interventions, d’insérer des devis, etc.)
          •	Publication et consultations des informations de l’immeuble
          •	Consultation et publication du règlement et du plan de l’immeuble
          •	Edition / suppression des Annonces publiées
          Dans la rubrique Portefeuille :
          •	Accès à la liste des Gestionnaires
          •	Possibilité d’ajout de Gestionnaires (seulement possible sur le Site)
          •	Accès à la liste des Occupants : gestion des accès via l’invitation d’occupants et la suppression des accès (seulement possible sur le Site). Gestion soit manuelle via la Plateforme ou automatique via l’interfaçage avec le système de l’Entreprise Cliente
          •	Accès à la liste des immeubles et possibilité de personnaliser la plateforme (couleurs, logo, emails, etc) (seulement possible depuis le Site)
          •	Accès à la gestion des contacts permettant un routage efficace des demandes des Occupants
          •	Ajout/édition des contacts d’urgence
          Dans la rubrique Services :
          •	Accès au système de réservation des ressources communes mises à disposition par le Gestionnaire
          o	Visualisation du planning de disponibilité des espaces & biens communs
          o	Ajout de ressources
          o	Acceptation / refus ou annulation des réservation soumises à validation
          o	Indication de l’état réel des espaces
          •	Accès et gestion de la Market Place permettant :
          o	Ajout/édition d’articles ou de services proposés aux Occupants
          o	Gestion des demandes de services ou de biens
          •	Consultation des espaces d’échange disponibles aux Occupants (forum, petites annonces) et suppression d’un post publié par un Occupant sur les espaces d’échange qui serait contraire aux règles de diffusion de la Plateforme
          •	Accès à la liste des intégrations (seulement disponible sur le Site)
          •	Accès aux Services Partenaires
          Dans la rubrique Mon Profil :
          •	Gestion des informations personnelles et des notifications

          8.	Propriété intellectuelle – Parasitisme – Protection de la Plateforme et des bases de données

          8.1. Propriété intellectuelle :
          Tous les droits de propriété intellectuelle (tels que notamment droits d'auteur, droits voisins, droits des marques, droits des producteurs de bases de données) portant tant sur la structure que sur les contenus de la Plateforme et notamment les images, sons, vidéos, photographies, logos, marques, éléments graphiques, textuels, visuels, outils, logiciels, documents, données, etc. (ci-après désignés dans leur ensemble "Éléments") sont protégés par les lois en vigueur relatives à la propriété intellectuelle et/ou industrielle ainsi que par d’autres droits privatifs, notamment le droit sui-generis du producteur de base de données.
          Il est interdit à tout Utilisateur de copier, modifier, créer une œuvre dérivée, inverser la conception ou l'assemblage ou de toute autre manière tenter de trouver le code source, vendre, attribuer, sous licencier ou transférer de quelque manière que ce soit tout droit afférent aux Éléments.
          Tout Utilisateur de la Plateforme s'engage notamment à ne pas :
          •	Utiliser ou interroger la Plateforme pour le compte ou au profit d'autrui
          •	Extraire, à des fins commerciales ou non, tout ou partie des Annonces présentes sur la Plateforme
          •	Intégrer tout ou partie du contenu de la Plateforme dans un site/application tiers, à des fins commerciales ou non
          •	Reproduire sur tout autre support, à des fins commerciales ou non, tout ou partie des Annonces présentes sur la Plateforme permettant de reconstituer tout ou partie des fichiers d'origine
          •	Utiliser un robot, notamment d'exploration (spider), une application de recherche ou récupération de sites Internet ou tout autre moyen permettant de récupérer ou d'indexer tout ou partie du contenu de la Plateforme, excepté en cas d'autorisation expresse et préalable de MonBuilding&Co.
          Toute reproduction, représentation, diffusion ou rediffusion, en tout ou partie, du contenu de la Plateforme sur quelque support ou par tout procédé que ce soit à d’autres fins que celles prévues aux présentes est susceptible de constituer une contrefaçon, un acte de concurrence déloyale ou de parasitisme, ou de porter au droit à l’image de tiers et pourra faire l’objet de poursuites civiles et pénales par les personnes ou ayants droits concernés.
          8.2. Liens Hypertextes :
          La Plateforme peut contenir des liens hypertextes redirigeant vers des contenus émanant de tiers ou vers des sites Internet exploités par des tiers (Partenaires notamment). Ces liens sont fournis à simple titre d’information. Ni la Société, ni MonBuilding&Co ne sont responsables de la qualité ou de l'exactitude de ces contenus ou sites Internet. L’Utilisateur renonce à tous recours ou action à l’encontre de MonBuilding&Co et de la Société quant aux dommages pouvant résulter de l'utilisation de ces sites ou des services qu’ils proposent. La décision d’activer ces liens relève de la pleine et entière responsabilité de l’Utilisateur.
          Aucun lien hypertexte ne peut être créé vers le Site sans l'accord préalable et exprès de MonBuilding&Co. Si un internaute ou une personne morale désire créer, à partir de son site, un lien hypertexte vers le Site et ce quel que soit le support, il doit préalablement prendre contact avec MonBuilding&Co en lui adressant un courriel à l'adresse suivante support@monbuilding.com. Tout silence de MonBuilding&Co devra être interprété comme un refus.
          8.3 Annonces publicitaires :
          Le contenu des Annonces relève de la responsabilité des Utilisateurs les ayant publiées sur la Plateforme. En publiant une Annonce sur la Plateforme, l’Utilisateur concède à MonBuilding&Co et à la Société le droit d’exploitation non exclusif, transférable, sous licenciable, à titre gracieux, pour le monde entier sur (i) l’ensemble du contenu des Annonces et notamment sur les photographies, textes, vidéos, illustrations, marques, logos, titres (ci-après le « Contenu »), au fur et à mesure de leur publication sur la Plateforme ainsi (ii) qu’une licence sur l’ensemble des droits de propriété intellectuelle afférant au Contenu et notamment sur les droits d’auteurs sur les éléments utilisés dans son Annonce, tels que les photographies, textes, vidéos, dessins, illustrations, éléments sonores, et ce pour toute la durée légale de ses droits de propriété intellectuelle et pour le monde entier.
          Les droits ainsi concédés incluent le droit de reproduire, représenter, diffuser, adapter, modifier, réaliser une œuvre dérivée, traduire tout ou partie du Contenu par tous procédés, sous quelque forme que ce soit et sur tous supports (numérique, imprimé…) connus ou inconnus à ce jour, dans le cadre des services de la Plateforme, et ce à des fins commerciales ou non et notamment publicitaires, ainsi que dans le cadre d’une diffusion sur les réseaux sociaux sur lesquels MonBuilding&Co est ou sera présent et notamment les pages Facebook, Instagram, Twitter et LinkedIn de MonBuilding&Co.
          En particulier, les photographies des Annonces pourront être reproduites et intégrées dans des formats publicitaires diffusés sur la Plateforme, uniquement en lien avec l’Annonce déposée.
          L’Utilisateur ayant publié une Annonce sur la Plateforme consent à la reprise de son Annonce et de son Contenu sur les réseaux sociaux, notamment Facebook, Instagram, Twitter et LinkedIn. Par conséquent, l’Utilisateur atteste avoir pris connaissance des conditions générales d’utilisation des sites Facebook, Instagram, Twitter et LinkedIn et en accepter les termes, particulièrement en matière de réutilisation du Contenu et des données personnelles.

          9.	Protection des données personnelles – données techniques et Cookies
          9.1. Protection des données personnelles
          La Société (responsable de traitement) et MonBuilding&Co (sous-traitant) s’engagent à respecter la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés (dite « Loi informatique et libertés ») dans sa dernière version en vigueur et le Règlement Général sur la Protection des Données (UE) 2016/679 (la « Réglementation Applicable en matière de Protection des Données ») lorsqu’elles traitent des données personnelles des Utilisateurs, aux seules fins de la fourniture des services proposés par la Plateforme.
          MonBuilding&Co, s'interdit d'utiliser, d'exploiter ou de diffuser à un tiers non autorisé, à titre gratuit ou onéreux, l'ensemble des données des Utilisateurs à d’autres fins que celles consistant à répondre aux demandes des Utilisateurs dans le cadre des services proposés par la Plateforme (y inclus les Services Partenaires), le tout conformément aux instructions reçues de la part de l’Entreprise Cliente.
          •	Quelles sont les données personnelles collectées ?
          o	Compte Occupant : prénom, nom, courriel, mot de passe, immeuble(s) de rattachement, statut (locataire/ propriétaire/ utilisateur), étage, téléphone, photo et, selon la modalité d’inscription justificatif de domicile ou de travail de moins de 6 mois, et tous les documents relatifs au profil de l’Occupant. Par ailleurs, selon le type d’immeuble, le bureau, l’entreprise, la porte, l’école, les études, le diplôme ou encore les centres d’intérêts peuvent être récoltés. Enfin, l’adresse de facturation peut être collectée dès qu’un module associé au paiement est activé.
          o	Compte Gestionnaire : renseignements sur l’Entreprise Cliente (Dénomination sociale, Kbis, carte d’identité du représentant légal et autres documents si nécessaire) ainsi que des données comme : le prénom, le nom, le courriel, le statut, le téléphone (Fixe et mobile) ou encore la photo de profil du Gestionnaire.

          •	Pour quelles finalités ces données sont-elles utilisées ?
          Les données personnelles collectées sont susceptibles d'être utilisées pour :
          o	les besoins de la gestion des opérations effectuées sur la Plateforme, notamment pour :
          	la gestion / validation des Annonces
          	la publication et le suivi des Annonces
          	l’envoi de formulaires de réponse
          	l’envoi d’information au sujet de la Plateforme
          	l’envoi de propositions commerciales suite à une demande de l’Utilisateur
          	l’envoi d’enquêtes de satisfaction
          o	la réalisation de statistiques anonymisées qui seront fournies aux Gestionnaires par MonBuilding&Co

          •	Quels sont les destinataires des données des Utilisateurs ?
          Les destinataires des données personnelles des Utilisateurs sont les membres habilités de l’Entreprise Cliente et de MonBuilding&Co, ainsi que les Partenaires (s’agissant uniquement des données des utilisateurs souhaitant utiliser un Service Partenaire). MonBuilding&Co ne partage pas les données des Utilisateurs avec des tiers non autorisés.
          La Société et/ou MonBuilding&Co pourront communiquer les données personnelles des Utilisateurs en réponse à des requêtes formulées par des Cours ou des tribunaux, des organismes gouvernementaux ou chargés de l’application de la loi, ou lorsque cela est nécessaire ou prudent pour se conformer aux lois applicables, aux injonctions ou décisions de Cours et de tribunaux, ou aux réglementations gouvernementales et sur requête d’une autorité judiciaire ou administrative.
          •	Quelles sont les mesures de sécurité mises en œuvre ?
          MonBuilding&Co et la Société ont mis en place des procédures et des politiques raisonnables de sécurité pour protéger les données personnelles contre tout abus, perte, altération ou destruction non autorisée. Malgré tous les efforts mis en œuvre par MonBuilding&Co et la Société, une protection absolue contre toutes menaces ne peut être apportée. Nous nous efforçons de veiller à ce que l'accès aux données personnelles des Utilisateurs soit limité aux seules personnes ayant besoin d’en prendre connaissance. Les personnes ayant accès aux données sont tenues de les traiter de manière confidentielle.
          Nous veillons à ne conserver les données personnelles que pendant la durée d’activation de leur Compte jusqu’à trois (3) mois après leur suppression par un Occupant, un Gestionnaire ou MonBuilding&Co ou jusqu'à trois (3) mois après ce que ces personnes aient demandé l'effacement de leurs données.
          Le serveur utilisé par MonBuilding&Co est hébergé par la société OVH. Ces services fournissent de multiples niveaux de réplications et de sécurité afin d'assurer une disponibilité maximale et une forte garantie de protection de données.
          Cela inclut :
          •	Serveurs redondants pour l'API et l'interface Web
          •	Protocoles sécurisés (SSL / TLS) à travers l'API, l'interface Web ainsi que toute communication avec les systèmes tiers
          •	Tous les mots de passes sont cryptés sur les serveurs et les bases de données
          •	Les systèmes d’exploitation utilisés sur les serveurs sont régulièrement mis à jour avec les dernières mises à jour de sécurité
          •	La surveillance externe du service est mise en place via des outils dédiés.
          L'accès au code source et aux données personnelles est restreint à nos employés ou partenaires qui en auraient besoin dans le cadre de l'opération, le développement ou le suivi de notre service. Ces personnes sont engagées par contrat au respect de la confidentialité de ces données et sont sujettes à des sanctions disciplinaires si cette confidentialité venait à être transgressée.
          •	Comment exercer vos droits ?
          Conformément à la réglementation applicable en matière de protection des données personnelles, les Utilisateurs disposent à tout moment d'un droit d'opposition, d'accès, de rectification, de portabilité, de suppression ainsi que d'opposition au traitement des données le concernant.
          L'Utilisateur peut exercer ces droits en contactant le point de contact « privacy » de l’Entreprise Cliente ou en adressant un courriel à l’adresse suivante : support@monbuilding.com.

          9.2. Cookies, collecte et utilisation des données personnelles par les Partenaires :
          Certains Partenaires peuvent déposer des cookies sur la Plateforme. MonBuilding&Co accepte que certains Partenaires enregistrent des cookies, par exemple pour l’intégration dans la Plateforme de certaines fonctionnalités ou modules de leurs propres applications partenaires. Ni MonBuilding&Co, ni l’Entreprise Cliente ne sont responsables des cookies enregistrés par ces Partenaires ainsi que de l’utilisation des données collectées par ces derniers. Pour en savoir plus sur les cookies et sur la gestion des données personnelles collectées par les Partenaires, il convient de consulter la politique de cookies des Services Partenaires cités ci-dessous. A noter que ces partenaires respectent la norme européenne du Règlement Général sur la Protection des Données.
          Les Services Partenaires sont proposés en toute indépendance par les Partenaires, sous leur seule et unique responsabilité. En conséquence, MonBuilding&Co ne saurait être rendue responsable du contenu des Services Partenaires accessibles sur la Plateforme, ni de l’ensemble des offres, informations consultées ou transactions réalisées sur ces Services Partenaires ; les Partenaires étant seuls engagés dans une relation contractuelle avec l’Utilisateur ou l’Entreprise Cliente.

          En conséquence, tout Utilisateur accédant aux Services Partenaires via la Plateforme se verra ainsi appliquer exclusivement les conditions particulières d’utilisation et/ou de vente desdits Services proposés par les Partenaires. MonBuilding&Co ne fournira aucune prestation, ni garantie quant aux Services Partenaires utilisés par les Utilisateurs et/ou quant aux éléments publicitaires susmentionnés. En conséquence, MonBuilding&Co décline toute responsabilité dans le cas où les Services Partenaires, les contenus et publicités fournis par des tiers contreviendraient aux dispositions légales et réglementaires en vigueur.

          <a id="externalServices"></a>Toutefois, MonBuilding&Co fera ses meilleurs efforts afin de transmettre, dans les meilleurs délais, aux Services Partenaires et/ou aux tiers concernés, toutes questions, réclamations des Utilisateurs relatives à ces services. Afin que MonBuilding&Co puisse identifier l’objet de leur demande ainsi que le Service Partenaire concerné, les Utilisateurs prendront soin de joindre à leur demande des informations précises.

          Liste des Partenaires
          La liste, ci-dessous, des partenaires est non exhaustive et peut être mise à jour régulièrement.

          9.3.1 Assa Abloy
          Dans l’objectif de simplifier l’accès de l’Utilisateur à l’immeuble ou bien à une ou plusieurs de ses parties, MonBuilding a intégré le badge dématérialisé d’Assa Abloy. L’Entreprise Cliente a le choix de recourir à ce service d’ouverture de porte via téléphone portable. En choisissant ce service, les Utilisateurs de la Plateforme ayant accès à ce service partageront les informations suivantes avec Assa Abloy : prénom, nom, adresse, courriel, numéro de téléphone. Ces données sont protégées par Assa Abloy. Assa Abloy traite ces données personnelles aussi longtemps que nécessaire aux fins citées ci-dessus conformément à toutes les règles de protection des données. Par ailleurs, Assa Abloy s’engage à supprimer les données précitées lorsque ces informations personnelles ne sont plus nécessaires à la réalisation des fins également précitées.
          Pour plus d’informations : https://www.assaabloy.fr/fr/local/assaabloyfrance/menu/centre-de-confidentialite/

          9.3.2 Mapwize
          MonBuilding&Co a réalisé l’intégration de Mapwize avec la Plateforme dans le but d’offrir un service de cartographie et de guidage indoor. Dans cette optique, l’Entreprise Cliente peut décider de recourir à ce service de guidage et de choisir l’option géolocalisation au sein des immeubles concernés. Dans cette hypothèse, l’Occupant pourra activer ses données de géolocalisation et le Gestionnaire partagera les plans du bâtiment avec Mapwize. Pour rappel, les plans sont protégés par des clés d’accès dont la portée (univers, étages…) et la durée sont personnalisables par Mapwize. Mapwize est actuellement hébergé sur le Cloud Microsoft Azure.
          Pour plus d’informations : https://www.mapwize.io/fr/mentions-legales

          9.3.3 Payzen
          L’Utilisateur peut être amené à réaliser des transactions bancaires depuis la Plateforme pour acheter des services (service de ménage, pressing, etc.) mais aussi des articles (Kit de linge, petit-déjeuner, etc.). MonBuilding&Co a recours à la solution de paiement en ligne sécurisé proposée par Payzen (affilié à la Société Générale). Ainsi les transactions passent par le site SSL de Payzen et aucune information relative aux cartes de crédit des clients n’est stockée par MonBuilding&Co ou l’Entreprise Cliente.
          Pour plus d’informations :https://payzen.eu/paiement-securise/ // https://payzen.eu/mentions/

          9.3.4 Kyocera
          Système de gestion des impressions intégré à la Plateforme.
          Pour plus d’informations : https://www.kyoceradocumentsolutions.fr/index/footer/politique_de_gestion.html

          9.3.5 Electro câblage / Aqualys
          Fournisseur des informations en ligne des machines à laver.
          Pour plus d’informations : http://www.ec2e.com/fr/

          9.4. Traitements et utilisation de données techniques de MonBuilding&Co – cookies :
          Lors de la consultation de la Plateforme, les données techniques susceptibles d'être enregistrées, au titre de l'accès ou de l'utilisation de la Plateforme sont l'adresse Internet Protocol (IP) de l'Utilisateur et les informations relatives à la configuration (type de machine, de navigateur, etc.) et à la navigation (date, heure, pages consultées, survenance d'erreurs, etc.) de l'Utilisateur.
          Ces dernières informations peuvent être stockées sur le disque dur du terminal de l’Utilisateur, par l’intermédiaire de son logiciel de navigation à l'occasion de la consultation d'un service en ligne, sous réserve de ses choix, dans un espace dédié du disque. MonBuilding&Co traitent ces données techniques de façon totalement anonyme, ne les rattachant à aucune information permettant d'identifier l'Utilisateur et, ne les transmettent pas à des tiers.
          Les cookies, en fonction de leur catégorie, sont utilisés pour les finalités suivantes :
          •	Les cookies fonctionnels permettent notamment :
          o	d'adapter la présentation de la Plateforme et espaces publicitaires aux préférences d'affichage du terminal de l’Utilisateur (langue utilisée, résolution d'affichage, système d'exploitation utilisé, etc.), selon les matériels et les logiciels de visualisation ou de lecture que son terminal comporte
          o	d'améliorer son expérience utilisateur en pré-remplissant certains champs de nos formulaires

          •	Les cookies de statistiques (ou analytiques) émis permettent de mieux connaitre la Plateforme et d’améliorer nos services en établissant des statistiques et volumes de fréquentation et d'utilisation (rubriques et contenus visités, parcours...). Dans cette perspective, Google Analytics fournit des données par l’intermédiaire de cookies tiers. Vous pouvez retrouver sur le lien suivant (https://www.google.com/intl/fr_ALL/analytics/learn/privacy.html) la politique menée par Google Analytics en ce qui concerne la collecte, la gestion et le traitement des données récoltées. En aucun cas, MonBuilding&Co ne sera tenu responsable des moindres dysfonctionnements liés à Google Analytics. Par ailleurs, tout Utilisateur de la Plateforme s'engage notamment à ne pas extraire, à des fins commerciales ou non, tout ou partie des Statistiques présentes sur la Plateforme.

          •	Les cookies publicitaires servent à afficher des publicités plus pertinentes pour l’Utilisateur et ses centres d'intérêts. Ils sont aussi utilisés pour limiter le nombre de fois où ce dernier voit une publicité et pour aider à mesurer l'efficacité d'une campagne publicitaire

          •	Les cookies émis par des tiers : lorsque l’Utilisateur visite la Plateforme, certains cookies ne sont pas enregistrés par nous mais par des tiers partenaires pour la diffusion de publicité ciblée.
          Il est important de noter que tout paramétrage que l’Utilisateur peut entreprendre sera susceptible de modifier sa navigation sur Internet et ses conditions d'accès à certains services nécessitant l'utilisation de cookies.
          Si l’Utilisateur refuse l'enregistrement de ces derniers dans son terminal, ou s’il supprime ceux qui y sont enregistrés, il ne pourra plus bénéficier d'un certain nombre de fonctionnalités qui peuvent être nécessaires pour naviguer dans certains espaces de la Plateforme.
          10.	Responsabilité et garanties
          10.1. Engagements de l’Utilisateur :
          L'Utilisateur garantit détenir tous les droits (notamment des droits de propriété intellectuelle) ou avoir obtenu toutes les autorisations nécessaires à la publication de son Annonce et plus généralement du contenu qu’il publie dans la Plateforme.
          L'Utilisateur garantit que l’Annonce ne contrevient à aucune réglementation en vigueur (notamment relatives à la publicité, à la concurrence, à la promotion des ventes, à l'utilisation de la langue française, à l'utilisation de données personnelles, à la prohibition de la commercialisation de certains biens ou services), ni aucun droit de tiers (notamment aux droits de propriété intellectuelle et aux droits de la personnalité) et qu'il ne comporte aucun message diffamatoire ou dommageable à l'égard de tiers.
          Ainsi, l’Utilisateur s'engage notamment à ce que l’Annonce ne contienne :
          •	Aucune information imprécise, fausse, mensongère ou de nature à induire en erreur les Utilisateurs
          •	Aucune mention diffamatoire, médisante, calomnieuse ou de nature à nuire aux intérêts et/ou à l'image de l’Entreprise Cliente, MonBuilding&Co ou de tout tiers
          •	Aucun contenu portant atteinte aux droits de propriété intellectuelle de tiers, obscène, pédophile, discriminatoire ou incitant à la violence / haine raciale, religieuse ou ethnique
          L’Occupant s’engage à utiliser les services proposés à des fins non professionnelles ou non commerciales. Tous messages publicitaires et de parrainage sont interdits.
          Le Gestionnaire :
          •	Déclare sur l’honneur l’exactitude et la sincérité des Annonces diffusées sur la Plateforme
          •	Déclare que son activité est exercée en conformité avec la législation et réglementation afférente à sa profession et s’engage expressément à respecter toutes les législations et réglementations en vigueur
          Le Gestionnaire reconnaît et accepte que pour des raisons d'ordre technique, la mise en ligne d'une Annonce peut s’effectuer de manière décalée ne pas être instantanée avec sa validation.
          Le Gestionnaire déclare connaître l'étendue de diffusion de la Plateforme, avoir pris toutes précautions pour respecter la législation en vigueur des lieux de réception et décharger MonBuilding&Co de toutes responsabilités à cet égard.
          Dans ce cadre, le Gestionnaire déclare et reconnaît qu'il est seul responsable du contenu des Annonces qu'il publie et rend accessibles aux Utilisateurs, ainsi que de tout document ou information qu'il transmet aux Utilisateurs.
          L'Utilisateur assume l'entière responsabilité éditoriale du contenu des Annonces qu'il publie.
          En conséquence, l’Utilisateur relève MonBuilding&Co, ses sous-traitants et fournisseurs, de toutes responsabilités, les garantit contre tout recours ou action en relation avec l'Annonce qui pourrait être intenté contre ces derniers par tout tiers, et prendra à sa charge tous les dommages-intérêts ainsi que les frais et dépens auxquels ils pourraient être condamnés ou qui seraient prévus à leur encontre par un accord transactionnel signé par ces derniers avec ce tiers , nonobstant tout dommages-intérêts dont MonBuilding&Co, ses sous-traitants et fournisseurs pourraient réclamer à raison des faits dommageables de l’Utilisateur.
          En déposant toute Annonce, chaque Utilisateur reconnaît et accepte que MonBuilding&Co (et le cas échéant l’Entreprise Cliente) puisse(nt) supprimer, ou refuser, à tout moment, sans indemnité ni droit à remboursement des sommes engagées par l'Utilisateur, une Annonce qui serait contraire notamment à la loi française, aux règles de diffusion énoncées notamment dans les CGU et/ou susceptible de porter atteinte aux droits de tiers.
          Si une Annonce est refusée, avant sa mise en ligne, par MonBuilding&Co, l'Utilisateur en sera informé par email envoyé à l'adresse indiquée dans le Compte.
          L'Utilisateur s'engage également à ce que son Compte Occupant et/ou son Compte Gestionnaire ne contienne :
          •	Aucune information fausse et/ou mensongère
          •	Aucune information portant atteinte aux droits d'un tiers
          Dans ce cadre, le titulaire déclare et reconnaît qu'il est seul responsable des informations renseignées lors de la création de son Compte Occupant et/ou de son Compte Gestionnaire.
          En créant un Compte Occupant et/ou un Compte Gestionnaire, chaque titulaire reconnaît et accepte que MonBuilding&Co puisse supprimer, à tout moment, sans indemnité ni droit à remboursement des sommes engagées par l’Utilisateur, un compte qui serait contraire notamment à la loi française et/ou aux règles de diffusion fixées par MonBuilding&Co et notamment énoncées dans les CGU.
          10.2. Responsabilité et obligations de MonBuilding&Co :
          En sa qualité d'hébergeur, MonBuilding&Co est soumise à un régime de responsabilité atténuée prévu aux articles 6.I.2. et suivants de la loi nº2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.
          MonBuilding&Co ne saurait donc en aucun cas être tenue responsable du contenu des Annonces publiées par les Utilisateurs et ne donne aucune garantie, expresse ou implicite, à cet égard.
          MonBuilding&Co est un tiers aux correspondances et relations entre les Utilisateurs et exclut de ce fait toute responsabilité à cet égard.
          10.3 Limitation de responsabilités
          Dans le cadre d’une obligation de moyens, l’Entreprise Cliente et MonBuilding&Co font leurs meilleurs efforts pour permettre un accès continu à la Plateforme et aux Services Partenaires. Toutefois, l’Entreprise Cliente et MonBuilding&Co ne peuvent garantir l’accessibilité et le bon fonctionnement permanent de la Plateforme et de ses Services Partenaires. Elles mettent en œuvre les mesures nécessaires pour assurer leur disponibilité. Pour des raisons techniques, une interruption momentanée de la Plateforme et/ou des Services Partenaires est cependant possible. L’Entreprise Cliente et MonBuilding s’efforceront d’informer au mieux les Utilisateurs sur la nature et la durée des éventuelles interruptions mais n’encourent toutefois aucune responsabilité en cas d’indisponibilité de la Plateforme ou d’un des Services Partenaires.
          Ni l’Entreprise Cliente ni MonBuilding ne sauraient être tenus pour responsables si des Utilisateurs ne parvenaient pas à accéder à tout ou partie de la Plateforme et/ou des Services Partenaires du fait de tout défaut technique ou de tout problème notamment et non limitativement lié à : l’encombrement du réseau internet, une défaillance des fournisseurs d’accès internet, une erreur humaine ou d’origine électrique, toute intervention malveillante, tous dysfonctionnements de logiciel ou de matériel et/ou un cas de force majeure.
          L’Entreprise Cliente et MonBuilding&Co s'engagent à mettre en œuvre tous les moyens nécessaires afin d'assurer au mieux la fourniture des services de la Plateforme aux Utilisateurs.
          Toutefois, L’Entreprise Cliente et MonBuilding&Co déclinent toute responsabilité en cas de :
          •	Interruptions, de pannes, de modifications et de dysfonctionnement de la Plateforme quel que soit le support de communication utilisé et ce quelles qu'en soient l'origine et la provenance
          •	Perte de données ou d'informations stockées par MonBuilding&Co. Il incombe aux Utilisateurs de prendre toutes précautions nécessaires pour conserver les Annonces qu'ils publient via la Plateforme
          •	Impossibilité momentanée d'accès à la Plateforme en raison de problèmes techniques et ce quelles qu'en soient l'origine et la provenance
          •	Dommages directs ou indirects causés à l'Utilisateur, quelle qu'en soit la nature, résultant du contenu des Annonces et/ou de l'accès, de la gestion, de l'utilisation, de l'exploitation, du dysfonctionnement et/ou de l'interruption de la Plateforme
          •	Utilisation anormale ou d'une exploitation illicite de la Plateforme par tout Utilisateur
          •	Attaque ou piratage informatique, privation, suppression ou interdiction, temporaire ou définitive, et pour quelque cause que ce soit, de l’accès au réseau internet
          La responsabilité de l’Entreprise Cliente et de MonBuilding&Co ne pourra être engagée que pour les dommages directs subis par l’Utilisateur, résultant d’un manquement à ses obligations contractuelles telles que définies aux présentes. L’Utilisateur renonce donc à demander réparation à l’Entreprise Cliente et à MonBuilding&Co à quelque titre que ce soit, de dommages indirects, en ce compris tout manque à gagner, la perte de chance, le préjudice commercial ou financier, l’augmentation de frais généraux ou les pertes trouvant leur origine ou étant la conséquence de l’exécution des présentes.
          Tout Utilisateur est seul responsable des dommages causés aux tiers et des conséquences des réclamations ou actions qui pourraient en découler. L'Utilisateur renonce également à exercer tout recourt contre l’Entreprise Cliente et MonBuilding&Co dans le cas de poursuites diligentées par un tiers à son encontre du fait de l'Utilisation et/ou de l'exploitation illicite de la Plateforme, en cas de perte par un Utilisateur de son mot de passe ou en cas d'usurpation de son identité.
          11.	Modération des Informations / Annonces

          11.1	Suppression des Informations / Annonces :
          MonBuilding&Co ou la Société se réservent le droit de supprimer, sans préavis ni indemnité ni droit à remboursement, toute Annonce qui ne serait pas conforme aux règles de diffusion de la Plateforme et/ou qui serait susceptible de porter atteinte aux droits d'un tiers.
          11.2 Gestion des abus :
          Tout Utilisateur peut signaler un contenu abusif :
          •	Soit en cliquant sur le lien « Langue & Support » situé en haut de la page web
          •	Soit par courriel à l’adresse suivante : support@monbuilding.com
          Si l’abus est avéré, les prochaines Annonces publiées par l’Utilisateur responsable du contenu abusif seront mises sous surveillance. Si un deuxième abus est constaté, le Compte de l’Utilisateur sera désactivé.
          12.	Dispositions diverses
          Si une partie des CGU devait s'avérer illégale, invalide ou inapplicable, pour quelle que raison que ce soit, les dispositions en question seraient réputées non écrites, sans remettre en cause la validité des autres dispositions qui continueront de s'appliquer entre les Utilisateurs et MonBuilding&Co.
          Les présentes CGU sont soumises au droit français.
          Toute contestation et/ou difficulté d'interprétation ou d'exécution des présentes conditions générales relèvera des tribunaux compétents de Paris.
				</div>
			</div>
		</div>
	</div>
</template>
