<template name="messenger_select_tab">
    {{#let selectedTab=getSelectedTab defaultRoles=getDefaultRoles}}
    <div class='tabBarContainer messenger-select-tab'>
        {{#each defaultRoles}}
          {{#if userHasRightMessage this._id}}
          <div class='{{#if $eq selectedTab this._id}}selectedTabBar{{/if}}' data-tab='{{this._id}}'>
            {{this.name}}
            {{#if this.badges}}
              <span class="badge unicBadge">{{this.badges}}</span>
            {{/if}}
          </div>
          {{/if}}
        {{/each}}
    </div>
    {{/let}}
</template>
