<template name='admin_pendingUsers'>
  {{#if updateCondo}}{{/if}}
  {{#if isCondoAvailable}}
    {{#let occupants=(getOccupants) totalOccupant=(getTotal)}}
      {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=searchCallback counter=occupants.length}}
      <div class='searchResult' style='display: none'>
        {{>MbPanel content=(getDicoVar 'commonTranslation' 'search_result')}}
      </div>
      {{#if totalOccupant}}
        {{#if occupants.length}}
          <table class="managerDetailsContainer table">
            <thead>
              <tr class='containerColumn'>
                <th></th>
                <th>{{getDicoVar 'commonTranslation' 'firstname'}}</th>
                <th>{{getDicoVar 'commonTranslation' 'lastname'}}</th>
                <th>{{getDicoVar 'commonTranslation' 'email'}}</th>
                <th>{{getDicoVar 'commonTranslation' 'mobile'}}</th>
                <th>{{getDicoVar 'commonTranslation' 'profile_details_buildings'}}</th>
                <th>{{getDicoVar 'commonTranslation' 'invited'}}</th>
                <th>Justificatif de domicile</th>
                <th>Validation</th>
                <th class='trashColumn' style="text-transform: capitalize!important"> {{ getDicoVar 'commonTranslation' 'shares' }} </th>
              </tr>
            </thead>
            <tbody>
              {{#each occupants}}
                <tr class='containerLine' userId='{{this._id}}'>
                  <td class='pictureColumn'>
                    {{#if this.avatar}}
                      <div  class='displayPictureImage' style="background-image: url({{this.avatar}}), url(/img/anonymous.png);"></div>
                    {{else}}
                      <div class='displayPictureName'>{{this.initials}}</div>
                    {{/if}}
                  </td>
                  <td class='commonColumn firstnameColumn lighter'>{{this.firstname}}</td>
                  <td class='commonColumn lastnameColumn lighter'>{{this.lastname}}</td>
                  <td class='commonColumn emailColumn lighter'>{{this.email}}</td>
                  <td class='commonColumn phoneColumn lighter'>{{formatMobileNum this.tel this.telCode}}</td>
                  <td class='commonColumn condosColumn lighter' name='condosColumn-{{this._id}}'>
                    {{#each condo in condos}}
                      <div>{{getCondoName condo.condoId}}</div>
                    {{/each}}
                  </td>
                  <td class='commonColumn invitedColumn lighter'>
                    {{#each condo in condos}}
                      <div>{{humanDateShort condo.invited}}</div>
                    {{/each}}
                  </td>
                  <td class='commonColumn lighter'>
                    {{#if this.adminValidation}}
                      {{#if and this.hasJustifFile}}
                        {{#if and this.isImage}}
                        <img class="justifFileDownload" src="{{this.justifFile.link}}">
                        {{else}}
                          <a href='{{this.justifFile.link}}?download=true' class="download" target='_blank'>Télécharger le document</a>
                        {{/if}}
                      {{else}}
                        <b><i>No files</i></b>
                      {{/if}}
                    {{else}}
                      -
                    {{/if}}
                  </td>
                  <td class='commonColumn lighter'>
                    {{#if this.adminValidation}}
                      Backoffice
                    {{else}}
                      Gestionnaire
                    {{/if}}
                  </td>
                  <td class='commonColumn occupantActionColumn'>
                    <div class='validOccupantColumn' userId='{{this._id}}' condoId='{{condos.[0].condoId}}'></div>
                    <div class='denyOccupantColumn' userId='{{this._id}}' condoId='{{condos.[0].condoId}}'></div>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          {{> MbEmpty
            title=(getDicoVar 'commonTranslation' 'no_result')
          }}
        {{/if}}
      {{else}}
        {{#if userHasRight "trombi" "addOccupant"}}
          {{> MbEmpty
            title=(getDicoVar 'commonTranslation' 'no_occupant_yet')
            subTitle=(getDicoVar 'commonTranslation' 'occupant_add_by_you_and_authorized')
            buttonLabel=(getDicoVar 'commonTranslation' 'manager_invite_occupant')
            onButtonClick=addNewManager
          }}
        {{else}}
          {{> MbEmpty
            title=(getDicoVar 'commonTranslation' 'no_occupant_yet')
            subTitle=(getDicoVar 'commonTranslation' 'occupant_add_by_authorized')
          }}
        {{/if}}
      {{/if}}
    {{/let}}
  {{/if}}
</template>
