<template name="ReservationTimeTab">
    <div class="reservation-time-tab">
        <div id="resa-time-form">
            {{#unless isEdl}}
              {{> MbCheckbox allDayArgs}}
            {{/unless}}

            <div class='input-group date' id='start-date'>
                <span class="input-group-addon">
                    <i class="image-icon calendar-g-icon"></i>
                </span>
                <input type='text' class="form-control" placeholder="{{getDicoVar 'moduleReservationIndex' 'select_start_date'}}" />
            </div>
            {{#unless isEdl}}
            <span class="dash">-</span>
            <div class='input-group date' id='end-date'>
                <span class="input-group-addon">
                    <i class="image-icon calendar-g-icon"></i>
                </span>
                <input type='text' class="form-control" placeholder="{{getDicoVar 'moduleReservationIndex' 'select_end_date'}}" />
            </div>
            {{/unless}}
            {{initDatePicker}}
        </div>
        {{> ReservationAvailableResources getParams}}
    </div>
</template>
