body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

.main-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

#script-warning {
    display: none;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: red;
}

#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

#calendar {
    /*max-width: 900px;*/
    margin: 0px auto;
}

#minicalendar thead, tbody {
    border-bottom: 2px #eee solid;
}

.fc-center h2 {
    text-transform: capitalize;
    font-size: 26px;
}

.fc-center button {
    background-color: white;
    background-image: none;
    box-shadow: none;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.datepicker-inline {
    width: 100%;
}

.datepicker table {
    width: 100%;
}

.spacer { margin:0; padding:0; height:20px; }

.fc-timeline .fc-head .fc-cell-content {
    text-align: center;
}

td.fc-resource-area.fc-widget-header,
td.fc-resource-area.fc-widget-content,
td.fc-divider.fc-col-resizer.fc-widget-header
{
    display: none;
}

.fc-left button,
.fc-right button {
    border: solid black 1px;
    border-radius: 0px!important;
    background-color: white;
    background-image: none;
    margin-left: 1px!important;
    margin-right: 1px!important;
}

.fc-daylinebar {
    height: 99%;
    border: 1px solid rgb(54, 147, 172);
    width: 0px;
    position: absolute;
    top: 2px;
    transform: translateX(100px);
    background-color: white;
    z-index: 1;
}

.now-hour {
    color: rgb(54, 147, 172);
}

td.fc-widget-content.fc-major {
    border-left: solid 1px #ddd;
}

td.fc-widget-content.fc-minor {
    border-left: dashed 1px #ddd;
}

.fc-time-area .fc-slats .fc-minor {
    border-style: dashed;
    border-image: url("http://i.stack.imgur.com/LKclP.png") 10 round;
}

.fc-slats td {
    /*border: inherit;*/
}

p.event-header {
    position: absolute;
    top: 0;
    margin: 0;
    line-height: 20px;
    font-size: 17px;
    padding: 10px;
}