<!--
Route: gestionnaire/managerList/createManager/personalDetails
-->

<template name='admin_personalDetails'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <div class="row titleView titleViewStyle" style='height: 80px !important;'>
    <div class="col-sm-12" style='padding-right: 16px; padding-left: 16px'>
      <div class="panel-heading" style="padding-bottom: 10px; padding-left: 0; padding-right: 0;">
        <div class="sub-tool-bar clearfix">
          <h1 class="pull-left"> {{ getDicoVar 'commonTranslation' 'invite_manager' }} </h1>
          <div style="position: absolute; top: 50px;">
            <button type="button" id="backbutton" style="background: none; border: none; color: #999; padding: 0">
              <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{{getDicoVar "resourceForm" "back"}}}
            </button>
          </div>
          <div class="action pull-right occupantButton">
            <a type="button" class="btn btn-red-confirm submitNewManager" disabled="{{#unless canSubmit}}disabled{{/unless}}"
              data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{ getDicoVar 'commonTranslation' 'registering' }}..."> {{ getDicoVar 'commonTranslation' 'personal_details_save' }} </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- {{#let condoIds=CDD_cursorMain}} --}}
  {{#if isSubscribeReady}}
    <div class="containerManagerList personalDetails">
      <div class='entitySelector entitySelectorDisplayed'>
        {{> MbSelect
          selected=(getForm 'entity' null)
          required=true
          label=(getDicoVar 'commonTranslation' 'company')
          onSelect=(onSelectEntity)
          options=getEntityOptions
          placeholder=(getDicoVar 'commonTranslation' 'personal_details_select_manager_company')
        }}
      </div>
      {{#if isEntitySelected}}
        <div class='civiliteSelector'>
        {{> MbPanel content='Informations personnelles'}}
        </div>
        <div class='rowsProfile-3'>
        {{> MbSelect
          selected=(getForm 'civilite' null)
          required=false
          label=(getDicoVar 'commonTranslation' 'civility')
          onSelect=(onSelect 'civilite')
          options=getCiviliteOptions
          placeholder=(getDicoVar 'commonTranslation' 'manager_select_civility')
        }}

        {{> MbInput
            label=(getDicoVar 'commonTranslation' 'firstname')
            value=(getForm 'firstname' null)
            required=true
            onInput=(onInputDetails 'firstname')
            placeholder=(getDicoVar 'commonTranslation' 'fill_in_firstname')
            isError=(isFieldError 'firstname')}}

        {{> MbInput
            label=(getDicoVar 'commonTranslation' 'name')
            value=(getForm 'lastname' null)
            required=true
            onInput=(onInputDetails 'lastname')
            placeholder=(getDicoVar 'commonTranslation' 'fill_in_lastname')
            isError=(isFieldError 'lastname')}}
        </div>
        {{> MbInput
            label=(getDicoVar 'commonTranslation' 'email')
            value=(getForm 'email' null)
            required=true
            onInput=(onInputDetails 'email')
            placeholder=(getDicoVar 'commonTranslation' 'fill_in_email')
            isError=(isFieldError 'email')}}

        <div class='rowsProfile-2'>
          <div class='phoneContainer'>
          {{> MbSelect
            selected=(getForm 'phoneCode' null)
            isPhoneCodeList=true
            required=false
            label=(getDicoVar 'commonTranslation' 'mobile')
            onSelect=(onSelect 'phoneCode')
            options=(parsePhoneCode GetAllPhoneCode)
            placeholder=(getDicoVar 'commonTranslation' 'select_area_code')
            refresher=null
          }}
          {{> MbInput
              label=' '
              value=(getForm 'phone' null)
              onInput=(onInputDetails 'phone')
              placeholder=(getDicoVar 'commonTranslation' 'fill_in_mobile_phone_number')
              isError=(isFieldError 'phone')}}
          </div>

          <div class='phoneContainer'>
          {{> MbSelect
            selected=(getForm 'phoneCodeLandline' null)
            isPhoneCodeList=true
            label=(getDicoVar 'commonTranslation' 'landline')
            onSelect=(onSelect 'phoneCodeLandline')
            options=(parsePhoneCode GetAllPhoneCode)
            placeholder=(getDicoVar 'commonTranslation' 'select_area_code')
            refresher=null
          }}
          {{> MbInput
              label=' '
              value=(getForm 'landline' null)
              required=false
              onInput=(onInputDetails 'landline')
              placeholder=(getDicoVar 'commonTranslation' 'fill_in_phone_number')
              isError=(isFieldError 'landline')}}
          </div>
        </div>

        <table>
          <thead>
            <th></th>
            <th></th>
          </thead>

          <tbody>
            <tr>
              <td class="checkStat">
                <div class="checkboxred">
                  <input type="checkbox" {{getChecked 'immediateRegistration'}} name="immediateRegistration">
                  <label class="labelForCheckbox " data-display="" for="immediateRegistration"></label>
                </div>
              </td>
              <td>{{getDicoVar 'commonTranslation' 'immediate_registration'}}</td>
            </tr>
            <tr>
              <td class="checkStat">
                <div class="checkboxred">
                  <input type="checkbox" {{getChecked 'deferredRegistration'}} name="deferredRegistration">
                  <label class="labelForCheckbox " data-display="" for="deferredRegistration"></label>
                </div>
              </td>
              <td>{{getDicoVar 'commonTranslation' 'deferred_registration'}}</td>
            </tr>
          </tbody>
        </table>

        {{#if useDeferredRegistration}}
        <div class="datePickerBlock">
          <div class="expire-label">
            <span style="text-transform: uppercase;">{{getDicoVar 'commonTranslation' 'deferred_registration_date'}}</span>
          </div>
          <div style="display: flex; margin-top: 10px;">
            <div class="datePickerSvg"></div>
            <div class="back-office-deferred-wrapper">
              {{> React
                  component=getDateTimeComponent
                  value=getDelayedDate
                  defaultValue=defaultDateTime
                  inputProps=getDatePlaceholder
                  onChange=handleChangeDate
                  dateFormat="DD-MM-YYYY"
                  timeFormat="HH:mm"
                  locale=getLocal
                  isValidDate=isValidDate
                  closeOnSelect=true
              }}
            </div>
          </div>
        </div>
        {{/if}}

        {{> MbPanel content=(getDicoVar 'commonTranslation' 'building_and_role')}}
        {{#each condo in selectedCondo}}
          <div class='displayCondoList' style='{{#if or (condo) ($eq @index 0)}}opacity: 1;{{else}}opacity: 0;{{/if}}'>
            <div>
            {{> MbSelect
              selected=condo
              required=true
              label='Immeuble de rattachement'
              onSelect=(onSelectCondo @index)
              options=(getCondoOptions @index)
              placeholder=(getDicoVar 'commonTranslation' 'select_building')
            }}
            </div>
            <div>
            {{> MbSelect
              selected=(getForm 'roles' @index)
              refresher=(getForm 'roles' @index)
              required=true
              label=(getDicoVar 'commonTranslation' 'role')
              onSelect=(onSelectRole @index)
              options=(getroleOptions condo)
              placeholder=(getDicoVar 'commonTranslation' 'select_role')
            }}
            </div>
            <div>
               {{#unless (canCustomizeRights @index)}}
                 {{> MbButton label=(getDicoVar 'commonTranslation' 'custom_rights') onClick=null class='danger disabled'}}
               {{else}}
                 {{> MbButton label=(getDicoVar 'commonTranslation' 'custom_rights') onClick=(customizeRights @index) class='danger'}}
               {{/unless}}
            </div>
            {{!-- <div>
              <a type="button" class="btn btn-red-confirm">{{getDicoVar "commonTranslation" "custom_rights"}}</a>
            </div> --}}
          </div>
          {{setOpacity}}
        {{/each}}
        {{#if (getCondoOptions -1)}}
          <div class='addIconContainer'>
            <div class='addIcon {{#unless canAddMoreCondo}}disabled{{/unless}}'>
              <div class='first-div'></div>
              <div class='second-div'></div>
            </div>
          </div>
        {{/if}}

      {{/if}}
    </div>
  {{else}}
    {{> loader}}
  {{/if}}
  {{#if customizeRightsOn}}
    {{> modalCustomizeRights roleId=getCustomizeRoleId condoId=getCustomizeCondoId cb=saveModalRights customRights=getCustomRights modalTitle=(getDicoVar 'commonTranslation' 'manager_rights_management')}}
  {{/if}}
  {{!-- {{/let}} --}}
</template>
