<template name="ReservationResourceTab">
    {{setResources}}
    <div class="reservation-resource-tab">
		<div class="search-contacts clearfix" style="border-top: 0 !important; margin: 0 0 20px 0px;">
			<div>
				<form action="#" id="uselessForm">
					<input type="text" id="searchRes" placeholder='{{getDicoVar "resourceForm" "search"}}'>
					<button><div class="icon-search-bar"></div></button>
				</form>
			</div>
		</div>
        <ul class="resource-list">
			{{#if $empty getResources}}
				{{#if isSearchActive}}
					{{> MbEmpty
							title=(getDicoVar "moduleReservationIndex" "no_result")
					}}
				{{else}}
					{{> MbEmpty
							title=(getDicoVar "moduleReservationIndex" "empty_title")
							subTitle=(getDicoVar "moduleReservationIndex" "empty_subtitle")
							buttonLabel=(getDicoVar "moduleReservationIndex" "empty_button_label")
							onButtonClick=addNewResource
					}}
				{{/if}}
			{{else}}
				{{#each res in getResources}}
					<li data-id="{{res._id}}" class="resource-list-item">
						<div class="item-wrapper">
							<p class="title">{{res.name}}</p>
							{{#unless isEdl res}}<p class="info">{{getDicoVar "moduleReservationIndex" "resource_type"}}: {{res.typeName}}</p>{{/unless}}
              {{#unless isEdl res}}<p class="info">{{getDicoVar "moduleReservationIndex" "floor"}}: {{getFloorString res.etage}}</p>{{/unless}}
							{{#if resSeats res}}<p class="info">{{getDicoVar "moduleReservationIndex" "seating"}}: {{resSeats res}}</p>{{/if}}
							{{#if resPersons res}}<p class="info">{{getDicoVar "moduleReservationIndex" "standing"}}: {{resPersons res}}</p>{{/if}}
              {{#unless isEdl res}}{{#if resNum res}}<p class="info">{{resNum res}}</p>{{/if}}{{/unless}}
						</div>
						<button><i class="image-icon chevron-r-icon"></i> </button>
					</li>
				{{/each}}
			{{/if}}
        </ul>
    </div>
</template>
