<head>
	<script> window.IS_RENDERED = false; </script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqeZGlZB6f48uiz0uM0wpMnlgz_ZOfgmw&amp;libraries=places" type="text/javascript" async></script>

	<script src="//cdn.quilljs.com/1.2.4/quill.min.js" async></script>
	<script src="/client-data.json"></script>
	<link href="//cdn.quilljs.com/1.2.4/quill.snow.css" rel="stylesheet" async>
	<link href="//cdn.quilljs.com/1.2.4/quill.bubble.css" rel="stylesheet" async>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" async>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.13.0/bodymovin.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
  <link rel="icon" href="/favicon.ico">
  <meta name="ostrio-domain" content="sCj2zuOLf65QOvFVwL-P30HFElrZHilDkovTCuPnkKk">
	<meta name="robot" content="index, follow">
	<meta name="location" content="Paris, France">
	<meta name="fragment" content="!">
  <meta name="theme-color" content="#69d2e7">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#69d2e7">

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-79295713-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments)};
		gtag('js', new Date());
		gtag('config', 'UA-79295713-1');
	</script>
</head>
<body style="background: #f1f5f6">
	{{> sAlert}}
</body>


