// colors
@white: #FFF;
@black: #000;
@red: #fe0900;
@slate-grey: #5D5E62;
@pale-grey: #F1F5F6;
@duck-egg-blue: #CFF1F8;
@tiffany-blue-two: #69D2E7;
@tiffany-blue-two-opacity: rgba(105, 210, 231, 0.5);

// intentions
@color-primary: @tiffany-blue-two;
@color-primary-opacity: @tiffany-blue-two-opacity;
@color-secondary: @red;

// font-weight
@font-weight-normal: 400;
@font-weight-medium: 600;

@header-heigth: 60px;

// media queries
@smartphones: ~"only screen and (max-width: 479px)";
@mobile: ~"only screen and (max-width: 768px)";
@table: ~"only screen and (max-width: 1024px)";
@screen1200: ~"only screen and (max-width: 1200px)";
@min1200: ~'only screen and (min-width: 1200px)';
