.margin-top-40 {
  margin-top: 40px;
}

.margin-top-23 {
  margin-top: 23px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.time-slot-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  margin-bottom: 12px;
  .mb-checkbox {
    min-width: 175px;
    margin-bottom: 26px;
  }
}

.select-time-slot-date-picker-container {
  display: flex;
  align-items: center;
  margin-top: 25px;

  & > span {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5d5e62;
  }

  .select-time-slot-date-picker {
    margin-left: 12px;
    display: flex;

    .input-icon-calendar {
      width: 40px;
      height: 36px;
      border: 1px solid #e0e0e0;
      border-right: none;
      background-size: 24px;
      background-image: url(img/icons/calendar-2.png);
      background-repeat: no-repeat;
      background-position: center;
    }

    .rdt {
      padding-left: 0;
      input {
        height: 36px;
        border: 1px solid #e0e0e0;
        background-color: white;
        // border: 0;
        // text-align: right;
        // padding: 0 10px;
        // color: #8b999f;
      }
    }

    .rdtOpen .rdtPicker {
      // bottom: 45px;
    }
  }
}

.input-container-with-icon {
  width: 240px;
  .input-icon-number {
    width: 40px;
    height: 36px;
    border: 1px solid #e0e0e0;
    border-right: none;
    background-size: 24px;
    background-image: url(img/icons/number3x.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .input-icon-clock {
    width: 40px;
    height: 36px;
    border: 1px solid #e0e0e0;
    border-right: none;
    background-size: 24px;
    background-image: url(img/icons/clock.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .number_available-input {
    width: 200px !important;
    border: 1px solid #e0e0e0;
  }
}

.delivery-multiple-container {
  margin-top: 16px;
  margin-bottom: 30px;

  & > div {
    margin-bottom: 26px;
  }
}

.delivery-single-container {
  margin-top: 16px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  & > span {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;

    &:first-of-type {
      color: #5d5e62;
    }

    &:last-of-type {
      color: #8b999f;
      margin-top: 5px;
    }
  }
}

.service-textarea-wrapper {
  position: relative;
  margin-top: 8px;
  .service-textarea-container {
    border: 1px solid #f1f5f6;
    padding: 0 55px 0 7px;
  }

  .mb__textarea textarea {
    border-bottom: 0 !important;
  }

  .file-upload-button {
    position: absolute;
    right: 16px;
    top: 16px;
  }

  .file-list {
    margin-top: 8px;
  }
}
