<template name='occupant_marketPlace_servicesDetails'>
  <div class="occupant_module_wrapper">
    <div class='topBarContainer'>
      <div class='topBarModuleNameWithBack'>
        {{ getDicoVar 'commonTranslation' 'marketPlace_details' }} - {{getCondoName}}
        <div id='backbutton'>
          <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{getDicoVar 'commonTranslation' 'manager_back'}}
        </div>
      </div>
    </div>
    {{#if isSubscribeReady}}
      {{updateData}}
      <div class="double-container">
        {{#with service=getService}}
          <div class='market-details-left-container'>
            <div class='title-container'>{{service.title}}</div>
            <div class='detail-container'>{{service.description}}</div>
            <div class='price-container'>{{#unless $eq (getPrice service.isThirdParty service.price) ''}}{{getDicoVar 'commonTranslation' 'price'}}: {{getPrice service.isThirdParty service.price}}{{/unless}}</div>
            {{#if service.files.length}}
              <div class="file-container">
                {{> React
                  component=MbFilePreview
                  files=(getFiles service.files)
                  layout="13"
                  nativeObject=true
                  forceContainerWidth=true
                  limit=4
                }}
              </div>
            {{/if}}
            {{#unless service.isThirdParty}}
              <div class='service-quantity-container flex-center margin-top-40 margin-bottom-16'>
                {{#if priceIsNotNull service.price}}
                  <div class='text-input-container' style='display: flex !important;'>{{getDicoVar 'commonTranslation' 'quantity'}}<i class="image-icon mandatory-icon"></i></div>
                  <div class='input-container input-container-with-icon'>
                    <div class='flex-center'>
                      <div class='input-icon-number'></div>
                      <input type='number' class='number_available-input' value='{{getForm 'quantity'}}' min='0'>
                    </div>
                  </div>
                {{/if}}
              </div>
              {{#let deliveryOptions=getDeliveryOptions}}
                {{> MbPanel content=(getDicoVar 'commonTranslation' 'delivery_instructions') required=($neq deliveryOptions.length 1)}}
                {{#if $eq deliveryOptions.length 1}}
                  <div class="delivery-single-container">
                    <span>{{getDicoVar 'commonTranslation' deliveryOptions.[0].id}}</span>
                    <span>{{deliveryOptions.[0].subLabel}}</span>
                  </div>
                {{else}}
                  <div class="delivery-multiple-container">
                    {{#each deliveryOption in deliveryOptions}}
                      {{> MbCheckbox checked=(getForm deliveryOption.id) label=(getDicoVar 'commonTranslation' deliveryOption.id) onClick=(onInput deliveryOption.id) subLabel=(deliveryOption.subLabel)}}
                    {{/each}}
                  </div>
                {{/if}}
              {{/let}}

              {{#if $eq service.use_time_slot true}}
                {{!-- {{#with getDeliveryOptions}} --}}
                {{> MbPanel content=(getDicoVar 'commonTranslation' 'available_days_times') required=true}}
                <div class="select-time-slot-date-picker-container">
                  <span>{{getDicoVar 'commonTranslation' 'select_day'}}</span>
                  <div class="select-time-slot-date-picker">
                    <div class='input-icon-calendar'></div>
                    <div>
                      {{> React
                        component=getDateTimeComponent
                        value=(getForm 'day_selected')
                        inputProps=getDatePlaceholder
                        onChange=handleChangeDate
                        dateFormat="DD/MM/YYYY"
                        timeFormat=false
                        locale=getLocal
                        isValidDate=(isValidDate service.openedDays)
                        closeOnSelect=true
                      }}
                    </div>
                  </div>
                </div>
                <div class="time-slot-container">
                  {{#if and (getForm 'day_selected')}}
                    {{#if $neq reservedTimeSlots null}}
                      {{#each timeSlot in (getTimeSlots service (getForm 'day_selected'))}}
                        {{> MbCheckbox checked=(isSelectedSlot timeSlot) label=timeSlot onClick=(onSelectTimeSlot timeSlot)}}
                      {{/each}}
                    {{else}}
                      <div style='width: 100%;'>
                        {{> loader}}
                      </div>
                    {{/if}}
                  {{/if}}
                </div>
                {{!-- {{/with}} --}}
              {{/if}}

              {{#if shouldDisplaySecondBloc service.price service.use_time_slot}}
                {{> MbPanel content=(getDicoVar 'commonTranslation' 'special_request')}}
                <div class='service-textarea-wrapper'>
                  <div class='service-textarea-container'>
                    {{> React component=MbTextArea
                      minRow=3
                      showLabel=false
                      onChange=(onDescChange)
                      value=(getDescriptionValue)
                      placeholder=(getDicoVar 'commonTranslation' 'write_description')
                    }}
                  </div>
                  {{> FileUploadButton files=previewFiles onFileAdded=onFileAdded }}
                  {{> FileList files=previewFiles onRemove=onFileRemoved onFileAdded=onFileAdded newDisplay=true }}
                </div>
              {{/if}}
            {{/unless}}
          </div>
          {{#if shouldDisplaySecondBloc service.price service.use_time_slot}}
            <div class='market-details-right-container'>
              {{#if service.isThirdParty}}
                {{> MbPanel content=(getDicoVar 'commonTranslation' 'summary')}}
                {{> MbWarning content=(getDicoVar 'commonTranslation' 'warning_third_party')}}
                <a type="button" class="third_party_btn btn btn-red-confirm" target='_blank' href='{{service.link_third_party}}'>{{getDicoVar 'commonTranslation' 'mp_see_more'}}</a>
              {{else}}
                {{!-- {{#if hasStock service.unlimited_quantity service.quantity_available}} --}}
                  {{#if priceIsNotNull service.price}}
                    {{#let totalPrice=(getTotalPrice service.price (getForm 'quantity'))}}
                      {{> MbPanel content=(getDicoVar 'commonTranslation' 'summary')}}
                      <div class="summary-title">
                        <span>{{service.title}} (x{{getForm 'quantity'}})</span>
                        <span>{{getPrice service.isThirdParty totalPrice true service.vat false}}</span>
                      </div>
                      <div class="summary-borderbottom"></div>
                      <div class="summary-title summary-subtotal">
                        <span>{{getDicoVar 'commonTranslation' 'subtotal_vat'}}</span>
                        <span>{{getPrice service.isThirdParty totalPrice true service.vat false}}</span>
                      </div>
                      <div class="summary-title">
                        <span>{{getDicoVar 'commonTranslation' 'vat'}} {{service.vat}}%</span>
                        <span>{{getVatPrice totalPrice service.vat}}</span>
                      </div>
                      <div class="summary-borderbottom"></div>
                      <div class="summary-title">
                        <span>{{getDicoVar 'commonTranslation' 'total_vat'}}</span>
                        <span>{{getPrice service.isThirdParty totalPrice false null false}}</span>
                      </div>
                    {{/let}}
                  {{/if}}
                  {{#let stockAvailable=(hasStock service.unlimited_quantity service.quantity_available)}}
                    {{> MbButton label=(getLabel stockAvailable) onClick=(saveItemBasket stockAvailable) class=(getClassesSubmit stockAvailable)}}
                  {{/let}}
                {{!-- {{else}}
                  <div>{{getDicoVar 'commonTranslation' 'out_of_order'}}</div>
                {{/if}} --}}
              {{/if}}
            </div>
          {{/if}}
        {{/with}}
      </div>
    {{else}}
      {{> loader}}
    {{/if}}
  </div>
</template>
