<template name='marketPlace_marketPlace'>
  <div class='container_marketPlace_char'>
    {{#with condoSettings=getCondoSettings}}
      {{> MbPanel content='Paramêtres supplémentaires pour l\'immeuble'}}
      <div class='marketPlace_char_checkbox'>
        {{> MbCheckbox checked=(getIsActive condoSettings 'analytic' true) label="Code analytique" onClick=(onCheckboxClick condoSettings 'analytic' true)}}
        {{#if (getIsActive condoSettings 'analytic' true)}}
          <div class='marketPlace_char_actualValue_container'>
            <div class='marketPlace_char_actualValue_text'>
              <span>{{{getForm condoSettings 'analytic'}}}</span>
            </div>
          </div>
        {{/if}}
      </div>
      <div class='marketPlace_char_checkbox'>
        {{> MbCheckbox checked=(getIsActive condoSettings 'osmose' true) label="Code OSMOSE" onClick=(onCheckboxClick condoSettings 'osmose' true)}}
        {{#if (getIsActive condoSettings 'osmose' true)}}
          <div class='marketPlace_char_actualValue_container'>
            <div class='marketPlace_char_actualValue_text'>
              <span>{{{getForm condoSettings 'osmose'}}}</span>
            </div>
          </div>
        {{/if}}
      </div>
      <div class='marketPlace_char_checkbox'>
        {{> MbCheckbox checked=(getIsActive condoSettings 'tva_21' true) label="Compte TVA 2,1%" onClick=(onCheckboxClick condoSettings 'tva_21' true)}}
        {{#if (getIsActive condoSettings 'tva_21' true)}}
          <div class='marketPlace_char_actualValue_container'>
            <div class='marketPlace_char_actualValue_text'>
              <span>{{{getForm condoSettings 'tva_21'}}}</span>
            </div>
          </div>
        {{/if}}
      </div>
      <div class='marketPlace_char_checkbox'>
        {{> MbCheckbox checked=(getIsActive condoSettings 'tva_55' true) label="Compte TVA 5,5%" onClick=(onCheckboxClick condoSettings 'tva_55' true)}}
        {{#if (getIsActive condoSettings 'tva_55' true)}}
          <div class='marketPlace_char_actualValue_container'>
            <div class='marketPlace_char_actualValue_text'>
              <span>{{{getForm condoSettings 'tva_55'}}}</span>
            </div>
          </div>
        {{/if}}
      </div>
      <div class='marketPlace_char_checkbox'>
        {{> MbCheckbox checked=(getIsActive condoSettings 'tva_10' true) label="Compte TVA 10%" onClick=(onCheckboxClick condoSettings 'tva_10' true)}}
        {{#if (getIsActive condoSettings 'tva_10' true)}}
          <div class='marketPlace_char_actualValue_container'>
            <div class='marketPlace_char_actualValue_text'>
              <span>{{{getForm condoSettings 'tva_10'}}}</span>
            </div>
          </div>
        {{/if}}
      </div>
      <div class='marketPlace_char_checkbox'>
        {{> MbCheckbox checked=(getIsActive condoSettings 'tva_20' true) label="Compte TVA 20%" onClick=(onCheckboxClick condoSettings 'tva_20' true)}}
        {{#if (getIsActive condoSettings 'tva_20' true)}}
          <div class='marketPlace_char_actualValue_container'>
            <div class='marketPlace_char_actualValue_text'>
              <span>{{{getForm condoSettings 'tva_20'}}}</span>
            </div>
          </div>
        {{/if}}
      </div>
      <div class='marketPlace_char_spacer'></div>
      {{> MbPanel content='Paramêtres supplémentaires pour chaque service/item'}}
      <div class='marketPlace_char_checkbox'>
        {{> MbCheckbox checked=(getIsActive condoSettings 'product_code' false) label="Code produit" onClick=(onCheckboxClick condoSettings 'product_code' false)}}
      </div>
    {{/with}}
  </div>
</template>
