.container_marketPlace_char {
  width: 100%;
  min-height: calc(~'100vh - 300px');
  background-color: white;
  padding-top: 16px;
  padding-left: 16px;

  .marketPlace_char_spacer {
    margin-top: 36px;
  }
  .mb-panel {
    width: auto;
    margin-right: 16px;
  }
  .marketPlace_char_checkbox {
    margin-top: 24px;
    height: 25px;
    display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    .mb-checkbox {
      width: 200px;
    }
    .marketPlace_char_actualValue_container {
      display: flex;
      margin-left: 40px;
      .marketPlace_char_actualValue_text {
        margin-left: 20px;
        min-width: 200px;
        border: 1px solid lightgray;
        border-radius: 5px;
        background-color: #F2F2F2;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }
}
