<template name="bar_number_download">

	<div class="main-modal" id="bar_number_download-container" style="background: white; padding: 20px; margin-bottom: 30px;">
		<div class="modal-heading pull-left stat-title">
			<h4 class="modal-title red_color">Nombre de téléchargements : </h4>
		</div>
		<div class="chart-js-reload bar_number_download-reload">
			<i class="fa fa-refresh" aria-hidden="true"></i>
		</div>
		<div class="pull-right input-min-container" style="display: inline-block; height: 40px">
			<input id="numberDownload" class="input-min input-min-text col-xs-3" type="text" name="number" placeholder="Nb téléchargements">
			<div class="input-min input-min-date col-xs-3">
				<div class="input-group date">
					<span class="input-group-addon input_group_custom">
						<i style="font-size: 20px; color:#88898e" class="fa fa-calendar" aria-hidden="true"></i>
					</span>
					<input type="text" id="dateDownload" data-provide="datepicker" data-date-format="dd/mm/yyyy" class="datepicker form-control" placeholder="{{dateToday}}" readonly style="background-color: white">
				</div>
				<input type="text" name="datepicker" id="dateDownload">
			</div>
			<select id="typeDownload" class="input-min input-min-select col-xs-3" name="type" style="background: white;">
				<option disabled selected>Store</option>
				<option value="AppStore">AppStore</option>
				<option value="PlayStore">PlayStore</option>
			</select>
			<button id="addDownload" class="btn red_btn input-min">Ajouter</button>
		</div>
		<div id="chartjs-number_download-legend" class="global-chart-legend-container">
			<table></table>
		</div>
		<div id="x-axis-arrow-number_download" class="x-axis-arrow">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</div>
		<div id="chartjs-chart-tooltips-number_download" class="chart-tooltips-container">
			<table></table>
		</div>
		<canvas id="bar_number_download"></canvas>
	</div>

</template>