.mb-input {
    position: relative;
    flex: 1;
    label {
        text-transform: uppercase;
        font-family: 'Lato', 'Source Sans Pro', sans-serif;
        font-size: 12px;
        letter-spacing: 0.1px;
        text-align: left;
        color: #8b999f;
        margin: 0;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
    }
    .mandatory-icon {
        width: 7px;
        height: 7px;
        display: inline-block;
        margin-bottom: 3px;
        margin-left: 3px;
    }
    .twitter-typeahead {
      display: block!important;
    }
    input {
        display: block;
        width: 100%;
        border: 0;
        border-bottom: 1px solid #E1E2E7;
        font-family: 'Lato', 'Source Sans Pro', sans-serif;
        font-size: 17px;
        letter-spacing: -0.4px;
        text-align: left;
        color: #5d5e62;
        padding: 10px 0;

        &.mb-input-error {
            border-bottom: 1px solid red
        }

        &::placeholder {
            color: #8B999F;
        }
    }
    .mb-input-addIcon {
      position: absolute;
      bottom: 0px;
      right: 20px;

      .addIcon {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 44px;
        height: 44px;
        background: url(img/icons/svg/addtimes.svg) center center no-repeat;
        background-size: 30px 30px !important;
        cursor: pointer;
      }
    }
}
