<template name="MbInput">
    <div class="mb-input {{classes}}">
        {{#unless getNoLabel}}
          <label for="mb-select">{{getLabel}}{{#if isRequired}}<i class="image-icon mandatory-icon"></i>{{/if}}</label>
        {{/unless}}
        {{refreshVal}}
        <input
            list="{{getDataList}}"
            placeholder="{{getPlaceholder}}"
            value="{{getValue}}"
            id="{{#if getId}}{{getId}}{{else}}mb-input-{{ getRandomId }}{{/if}}"
            class="{{#if isError}}mb-input-error{{/if}}"
            maxLength="{{ getMaxLengthAttr }}"
            minlength="{{getMinLengthAttr}}"
            type="{{ getType }}"
            min="{{getMin}}"
            max="{{getMax}}"
            disabled='{{ getDisabled }}'
        >
        {{#if getMaxLengthAttr}}
          <span style="font-size: 12px; font-style: italic; position: absolute; right: 0;">{{getRemainingChar}} {{getDicoVar "commonTranslation" "character"}}{{#if $gt getRemainingChar 1}}s{{/if}}</span>
        {{/if}}
        {{#if displayAddButton}}
          <div class="mb-input-addIcon">
            <div class="addIcon"></div>
          </div>
        {{/if}}
    </div>
</template>
