<template name="condoDetails">

	<div class="backTitle row" style="margin-bottom: 40px;">
		<div class="col-sm-12">
			<h1 class="pull-left">Immeuble : {{condo.name}}</h1>
			<div class="pull-right">
				<button class="btn warning_btn" id="goBoardGestionnaire" style="padding: 0 20px" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Redirection...">Accès board gestionnaire</button>
				<button class="btn warning_btn" id="goBoardOccupant" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Redirection...">Accès board occupant</button>
			</div>
			<!--<button class="btn red_btn pull-right" data-toggle="modal" data-target="# ">Ajouter un immeuble</button>-->
		</div>
		<a id="goBack" class="btn btn-default backButton pull-left" role="button" style="margin-left: 20px">{{getTitleBack}}</a>

		{{#if selectTabList 'listOccupant;manager'}}
		<div class="col-sm-12 headContentBack">
			<input id="residentSearch" autocomplete="off" class="d-inline col-sm-12" placeholder="Recherche" size="25">
			<i class="material-icons">search</i>
			{{#if selectedTab 'listOccupant'}}
				<label class="counter">{{getResidentInCharge.length}}</label>
			{{else}}
				{{#if selectedTab 'listOccupant'}}
					<label class="counter">{{getManagerInCharge.length}}</label>
				{{/if}}
			{{/if}}
		</div>
		{{/if}}
	</div>



	<ul class="nav nav-tabs backNav">
		<li class="tabCondos {{#if selectedTab 'stat'}}active{{/if}}"  tab="stat"><a>Stat</a></li>
		<li class="tabCondos {{#if selectedTab 'gestion'}}active{{/if}}"  tab="gestion"><a>Gestion</a></li>
		<li class="tabCondos {{#if selectedTab 'manager'}}active{{/if}}"  tab="manager"><a>Gestionnaires</a></li>
		<li class="tabCondos {{#if selectedTab 'listOccupant'}}active{{/if}}"  tab="listOccupant"><a>Occupants</a></li>
		<li class="tabCondos {{#if selectedTab 'fiche'}}active{{/if}}"  tab="fiche"><a>Fiche</a></li>
		<li class="tabCondos {{#if selectedTab 'caracteristiques'}}active{{/if}}"  tab="caracteristiques"><a>Caractéristiques</a></li>
		<li class="tabCondos {{#if selectedTab 'roles'}}active{{/if}}"  tab="roles"><a>Rôles</a></li>
	</ul>


	{{#if selectedTab 'stat'}}
	<h1>Ici les Stats</h1>
	{{/if}}

	{{#if selectedTab 'gestion'}}
		{{> condoDetailsGestion }}
	{{/if}}

	{{#if selectedTab 'buildings'}}
	{{/if}}

	{{#if selectedTab 'manager'}}
	<div class="allListBack">
		<table class="table listCondos" id="" style="white-space: nowrap;">
			<thead>
				<tr>
					<th>Prénom</th>
					<th>Nom</th>
					<th>Email</th>
					<th>Mobile</th>
					<th>Tel</th>
					<th class="text-center">Entreprise</th>
					<th class="text-center">Poste</th>
					<th class="text-center">Voir</th>
					<th class="text-center">Ecrire</th>
					<th class="text-center">Supp</th>
					<th class="text-center">Retirer</th>
				</tr>
			</thead>
			<tbody>

				{{#if (getLength getManagerInCharge)}}
				{{#each getManagerInCharge}}
				<tr class="condoLine">
					<td>{{this.profile.firstname}}</td>
					<td>{{this.profile.lastname}}</td>
					<td>{{this.profile.email}}</td>
					<td>{{formatMobileNum this.profile.tel this.profile.telCode}}</td>
					<td>{{this.profile.tel2}}</td>
					<td class="text-center">{{getEnterprise this._id}}</td>
					<td class="text-center">{{postOfGestionnaire this.identities.gestionnaireId this._id}}</td>
					<td class="text-center">
						<div class="checkboxred" id="seeOnly">
							{{#if (accessRight 0 this.access)}}
							<input type="checkbox" name="{{@index}}" user="{{this._id}}" checked>
							{{else}}
							<input type="checkbox" name="{{@index}}" user="{{this._id}}">
							{{/if}}
							<label for=""></label>
						</div>
					</td>
					<td class="text-center">
						<div class="checkboxred" id="seeWrite">
							{{#if (accessRight 1 this.access)}}
							<input type="checkbox" name="{{@index}}" user="{{this._id}}" checked>
							{{else}}
							<input type="checkbox" name="{{@index}}" user="{{this._id}}">
							{{/if}}
							<label for=""></label>
						</div>
					</td>
					<td class="text-center">
						<div class="checkboxred" id="seeDelete">
							{{#if (accessRight 2 this.access)}}
							<input type="checkbox" name="{{@index}}" user="{{this._id}}" checked>
							{{else}}
							<input type="checkbox" name="{{@index}}" user="{{this._id}}">
							{{/if}}
							<label for=""></label>
						</div>
					</td>
					<td class="text-center">
						<button type="button" managerid="{{this._id}}" class="remove btn btn-default btn-xs" aria-label="Left Align">
							<img src="/img/icons/svg/trash.svg" alt="" style="width:15px; height: 15px">
						</button>
					</td>
				</tr>
				{{/each}}
				{{else}}
				<p>Aucun gestionnaire trouvé</p>
				{{/if}}

			</tbody>
		</table>
	</div>
	{{/if}}

	{{#if selectedTab 'listOccupant'}}
	<div class="allListBack">
		<table class="table listCondos" id="" style="white-space: nowrap;">
			<thead>
				<tr>
					<th>Prénom</th>
					<th>Nom</th>
					<th>Email</th>
					<th>Mobile</th>
					<th>Tel</th>
					<th class="text-center">Bâtiment</th>
					<th class="text-center">Statut</th>
					<th class="text-center">Rôle</th>
					<th>Abus</th>
					<th class="text-center">Retirer</th>
				</tr>
			</thead>
			<tbody>

				{{#if (getLength getResidentInCharge)}}
				{{#each resident in getResidentInCharge}}

				<tr class="condoLine">
					<td>{{resident.profile.firstname}}</td>
					<td>{{resident.profile.lastname}}</td>
					<td>{{resident.profile.email}}</td>
					<td>{{formatMobileNum resident.profile.tel resident.profile.telCode}}</td>
					<td>{{resident.profile.tel2}}</td>
					<td class="text-center">
						{{#each building in resident.building}}
							{{#each building.buildings}}
								{{{getBuilding building.condoId this}}}
							{{/each}}
						{{/each}}
						{{#each resident.pending}}
							{{{getBuilding this.condoId this}}}
						{{/each}}
					</td>
					<td class="text-center">
						{{#each building in resident.building}}
							{{#each building.buildings}}
								{{{getStatut building.condoId this resident._id}}}
							{{/each}}
						{{/each}}
						{{#each resident.pending}}
							{{{getStatut this.condoId this resident._id}}}
						{{/each}}
					</td>
					<td class="text-center">
						{{getRoleName resident._id}}
					</td>
					<td>[A FAIRE]</td>
					<td class="text-center">
						<button type="button" residentid="{{resident._id}}" class="removeResident btn btn-default btn-xs" aria-label="Left Align">
							<img src="/img/icons/svg/trash.svg" alt="" style="width:15px; height: 15px">
						</button>
					</td>
				</tr>

				{{/each}}
				{{else}}
				<p>Aucun occupants trouvé</p>
				{{/if}}

			</tbody>
		</table>
	</div>
	{{/if}}

	{{#if selectedTab 'fiche'}}

	<div class="allListBack col-xs-12">
		<div class="ficheCondo col-md-6">
			<div class="row">
				<div class="col-xs-12">
					<label>Nom</label>
					<input class="condoOption" type="text" style="width: 100%" value="{{condo.name}}" placeholder="Nom">
				</div>
			</div>
			<div class="row" style="margin-top: 20px">
				<div class="col-xs-12">
					<label>Identifiant</label>
					<input class="condoOption" type="text" style="width: 100%" value="{{condo.info.id}}" placeholder="Identifiant">
				</div>
			</div>
			<div class="row" style="margin-top: 20px">
				<div class="col-xs-12">
					<label>Adresse</label>
					<input class="condoOption" type="text" style="width: 100%" value="{{condo.info.address}}" placeholder="Adresse">
				</div>
			</div>
			<div class="row" style="margin-top: 20px">
				<div class="col-xs-3">
					<label>Code postal</label>
					<input class="condoOption" type="text" style="width: 100%" value="{{condo.info.code}}" placeholder="Code postal">
				</div>
				<div class="col-xs-9">
					<label>Ville</label>
					<input class="condoOption" type="text" style="width: 100%" value="{{condo.info.city}}" placeholder="Ville">
				</div>
			</div>
			{{#if isError}}
			<div class="row">
				<div class="col-xs-6 errorModal">
					Merci de remplir tous les champs obligatoires
				</div>
			</div>
			{{/if}}
			<div class="pull-right" style="margin-top: 20px">
				<button id="saveCondoOption" class="btn red_btn pull-right">Enregistrer</button>
			</div>
		</div>
		{{#if getBuildings}}
		<table class="table table-hover listBuildings">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Adresse</th>
					<th style="text-align: center">Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{{#each building in getBuildings}}
				<tr class="condoLine" buildingid="{{building._id}}">
					<td>{{building.name}}</td>
					<td>{{building.address}}</td>
					<td style="text-align: center">
						<button type="button" buildingId="{{building._id}}" class="removeBuilding btn btn-default btn-xs" aria-label="Left Align">
							<img src="/img/icons/svg/trash.svg" alt="" style="width:15px; height: 15px">
						</button>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		{{/if}}
	</div>

	{{/if}}

	{{#if selectedTab 'caracteristiques'}}
		{{> Template.dynamic template=getTemplateCharacteristic}}
	{{/if}}
	{{#if selectedTab 'roles'}}
		{{> condoRoles}}
	{{/if}}

</template>
