<template name="bar_new_user">

	<div class="main-modal" id="bar_new_user-container" style="background: white; padding: 20px; margin-bottom: 30px;">
		<div class="modal-heading pull-left mb30 stat-title">
			<h4 class="modal-title red_color">Nombre d'utilisateurs : </h4>
		</div>
		<div id="chartjs-new-user-legend" class="global-chart-legend-container">
			<table></table>
		</div>
		<div id="x-axis-arrow-new_user" class="x-axis-arrow">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</div>
		<div id="chartjs-chart-tooltips-new_user" class="chart-tooltips-container">
			<table></table>
		</div>
		<canvas id="bar_new_user"></canvas>
	</div>

</template>