<template name="eventDetail">
  {{#let actu=getEventDetail}}
    {{#if actu}}
      <div class="mb-event-detail mb-post">
        <div class="left" style='overflow-y: scroll;'>
          {{#if actu.startDate}}
            <div class="dropdown calendar-dropdown">
              <button id="calendar-dropdown" class="mb-button danger" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                {{getDicoVar "moduleReservationIndex" "add_to_calendar"}}
              </button>
              <ul class="dropdown-menu resa-dropdown-menu" aria-labelledby="calendar-dropdown">
                {{#each cal in getCalendarType}}
                  <li data-type="{{cal.type}}" class="add-to-calendar">
                      <span class="the-icon">
                          <i class="image-icon {{cal.type}}-icon"></i>
                      </span>
                    {{cal.name}}
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}
          <h1>{{{hyperlink actu.title}}}</h1>
          <time>
            {{#if actu.isUpdate}}
              {{getDicoVar "home" "edited"}} {{humanDate actu.isUpdate}}
            {{else}}
              {{getDicoVar "moduleActualityIndex" "published_on"}} {{ humanDate actu.createdAt}}
            {{/if}}
          </time>
          <div class="user-container">
            {{> userIcon userId=actu.userId type="U" hideStatus=true}}
            <h3>{{getFullName actu.userId}}</h3>
          </div>
          <p class="info"><i class="image-icon building-icon"></i> {{getCondoNameForEmail actu.condoId}}</p>
          {{#if actu.locate}}<p class="info"><i class="image-icon location-icon"></i> {{{hyperlink actu.locate}}}</p>{{/if}}
          {{#if actu.startDate}}
          <p class="info"><i class="image-icon clock-icon"></i> {{#if sameDate actu.startDate actu.endDate}}
            {{getDicoVar "moduleActualityIndex" "the"}}
          {{else}}
            {{#if $not actu.endDate}}
              {{getDicoVar "moduleActualityIndex" "the"}}
            {{else}}
              {{getDicoVar "moduleActualityIndex" "from2"}}
            {{/if}}
          {{/if}}
            {{fullDate actu.startDate}}
            {{#if $neq actu.startHour '-1'}}
              {{#if sameDate actu.startDate actu.endDate}}
                {{getDicoVar "moduleActualityIndex" "from"}}
              {{else}}
                {{getDicoVar "moduleActualityIndex" "at"}}
              {{/if}}
              {{actu.startHour}}
            {{/if}}
            {{#if sameDate actu.startDate actu.endDate}}
              {{#if $neq actu.endHour '-1'}}
                {{getDicoVar "moduleActualityIndex" "to"}}
                {{actu.endHour}}
              {{/if}}
            {{/if}}
            {{#if actu.endDate}}
              {{#if $not (sameDate actu.startDate actu.endDate)}}
                {{getDicoVar "moduleActualityIndex" "the2"}}
                {{fullDate actu.endDate}}
                {{#if $neq actu.endHour '-1'}}
                  {{getDicoVar "moduleActualityIndex" "at"}}
                  {{actu.endHour}}
                {{/if}}
              {{/if}}
            {{/if}}</p>
          {{/if}}

          <div class="content">{{{hyperlink actu.description}}}</div>

          {{#if actu.files}}
            <div class="mt10">
              {{> React
                component=MbFilePreview
                files=(getFileFromId actu.files)
                newFiles=(getNewFiles actu.files)
                layout="5"
              }}
            </div>
          {{/if}}
          <div class="event-stat mb-post-footer">
            {{#if actu.allowComment}}
            <div class="mb-post-stat mb-post-comment-icon">{{getCommentsCount actu._id}} {{getDicoVar "common" "comments"}}</div>
            {{/if}}
            <div class="mb-post-stat mb-post-view-icon">{{getViewCount actu}} {{getDicoVar "common" "views"}}</div>
          </div>
          {{#if actu.allowComment}}
            <div class="mb-comment">
              {{> MbPanel content=(getDicoVar "commonTranslation" "comments")}}
              <div class="mb-comment-message">
                <div class="mb-comment-row">
                  <div class="mb-comment-textarea">
                    {{> React
                      value=getMessage
                      component=MbTextArea
                      onKeyDown=bindKeyDown
                      onChange=updateMessage
                      showLabel=false
                      placeholder=(getDicoVar 'commonTranslation' 'write_comment')
                      minRow=3
                    }}
                  </div>
                </div>
                {{> FileList files=getFiles onRemove=onFileRemoved onFileAdded=onFileAdded }}
              </div>

              <div class="mb-comment-actions">
                <div class="d-flex-end mh16">
                  {{> FileUploadButton files=getFiles onFileAdded=onFileAdded }}
                </div>
                <button class="mb-comment-save btn btn-red" disabled="{{ disableSubmit }}" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'moduleClassifiedsList' 'sending'}}...">
                  {{getDicoVar "homePage" "send_btn"}}
                </button>
              </div>
              <div class="mb-comment-list">
                {{#each feed in getMessages}}
                  <div class="mb-comment-item">
                    <div class="mb-comment-row">
                      <div class="mb-comment-avatar">
                        {{#if isManager}}
                          {{> userIcon userId=feed.userId type="U" dataGestionnaire=1}}
                        {{else}}
                          {{> userIcon userId=feed.userId type="U" dataOccupant=1}}
                        {{/if}}
                      </div>
                      <div class="mb-comment-content">
                        <div class="mb-comment-username">
                          <div>{{ getFullName feed.userId }}</div>
                        </div>
                        <div class="mb-comment-timestamp">
                          <div>{{ getPostedState feed }} {{ humanDate feed.date }}</div>
                        </div>
                        <div class="mb-comment-text">
                          {{#if isCurrentlyEdit feed._id }}
                            <div class="mb-comment-text-edit">
                              <div>
                                {{> React
                                  value=getEditedCommentMessage
                                  component=MbTextArea
                                  showLabel=false
                                  minRow=3
                                  onChange=onEditedCommentChange
                                  onKeyDown=onEditCommentKeyDown
                                }}
                              </div>

                              {{> FileList
                                files=getPreviewFiles
                                onFileAdded=onEditCommentFileAdded
                                onRemove=onEditCommentFileRemoved
                                showDropBox=true
                              }}

                              <div class="mb-comment-edit-action">
                                <button class="btn btn-red" id="cancel-update">
                                  {{getDicoVar "common" "cancel"}}
                                </button>
                                <button class="btn btn-red" id="commit-update" disabled="{{ disableSubmitEdit }}">
                                  {{getDicoVar "moduleClassifiedsViewAd" "save"}}
                                </button>
                              </div>
                            </div>

                          {{else}}
                            <p class="break-line">
                              {{{hyperlink feed.message}}}
                            </p>
                          {{/if}}
                        </div>

                        {{#if $not (isCurrentlyEdit feed._id) }}
                          {{#if feed.files}}
                            <div class="mb-comment-attachment">
                              {{> React
                                component=MbFilePreview
                                files=(getFilesCursor feed.files)
                                newFiles=(newFiles feed.files)
                                layout="5"
                              }}
                            </div>
                          {{/if}}
                        {{/if}}
                      </div>
                      {{#if $not (isCurrentlyEdit feed._id) }}
                        <div class="mb-comment-action">
                          {{#if canModify feed}}
                            <span class="mb-comment-icon icon-delete delete-comment"
                                  data-comment-id="{{ feed._id }}"></span>
                            <span class="mb-comment-icon icon-edit edit-comment"
                                  data-comment-id="{{ feed._id }}"></span>
                          {{else}}
                            {{#if isManager }}
                              <span class="mb-comment-icon icon-delete delete-comment"
                                    data-comment-id="{{ feed._id }}"></span>
                            {{/if}}
                          {{/if}}
                        </div>
                      {{/if}}
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/if}}
        </div>
        {{#if canResponseDetail}}
        <div class="right">
          <div class="event-response-card">
            <div class="participant-list option">
              {{> MbButton
                class=(getButtonClass 'going')
                label=(getDicoVar 'commonTranslation' 'going')
                onClick=(eventResponse 'going')
              }}
              {{> MbButton
                class=(getButtonClass 'maybe')
                label=(getDicoVar 'commonTranslation' 'maybe')
                onClick=(eventResponse 'maybe')
              }}
              {{> MbButton
                class=(getButtonClass 'not')
                label=(getDicoVar 'commonTranslation' 'not_going')
                onClick=(eventResponse 'not')
              }}
            </div>
          </div>
          {{#if actu.participantResponse.going}}
            {{> eventResponseCard label=(getDicoVar 'commonTranslation' 'going') type="going" participants=actu.participantResponse.going}}
          {{/if}}
          {{#if actu.participantResponse.maybe}}
            {{> eventResponseCard label=(getDicoVar 'commonTranslation' 'maybe') type="maybe" participants=actu.participantResponse.maybe}}
          {{/if}}
          {{#if actu.participantResponse.not}}
            {{> eventResponseCard label=(getDicoVar 'commonTranslation' 'not_going') type="not" participants=actu.participantResponse.not}}
          {{/if}}
        </div>
        {{/if}}
      </div>
    {{/if}}
  {{/let}}
</template>
