@import "/client/style/variable.less";

.mb-event-detail {
  display: flex;
  flex-direction: row;

  .left {
    flex: 1;
    background-color: @wt;
    display: flex;
    flex-direction: column;
    padding: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    position: relative;

    time {
      display: block;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: -0.3px;
      text-align: left;
      color: #8b999f;
      margin-bottom: 6px;
    }

    .calendar-dropdown {
      position: absolute;
      right: 16px;
      top: 16px;
    }

    .user-container {
      display: flex;
      align-items: center;

      .userIcon-main {
        margin-right: 10px!important;
      }

      h3 {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        text-align: left;
        color: @slategrey;
      }
    }
    h1 {
      margin-top: 0;
      margin-bottom: 12px;
      font-size: 24px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.6px;
      text-align: left;
      color: @slategrey;
      padding-right: 190px;
    }
    p.info {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: -0.4px;
      text-align: left;
      color: @grey3;
    }
    .attachment-link, p.info {
      display: flex;
      align-items: center;
      margin-top: 12px;
      margin-bottom: 0;

      i.image-icon {
        display: inline-block;
        height: 16px;
        width: 16px;
        margin-right: 8px;
      }
    }
    .content {
      margin-top: 18px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: -0.4px;
      text-align: left;
      color: @slategrey;
      white-space: pre-line;
      word-break: normal;
    }

    .event-stat {
      margin-top: 15px;
      border-top: 1px solid @wt2;
      padding-top: 15px;
    }

    .mb-comment {
      .mb-comment-message {
        margin-top: 8px;
      }

      .mb-comment-save {
        min-width: 118px;
      }
    }
  }

  .right {
    flex: 0 0 260px;
    min-width: 1px;
    margin-left: 20px;
  }
}
