<template name="totalUsersModule_stats">
    <div class="chart-item">
        <div class="head">
            <h3>{{getDicoVar "stats" "total_users_module"}}</h3>
            <p class="tu_capitalize">{{getDicoVar "stats" "total_users_module_sub"}}</p>
            {{!-- <div class="dropdown-stat-header action pull-right">
                <div class="dropdown per-s-list btn" style="display: inline-block">
                    <button class="btn clearfix text-left btn-transparent dropdown-toggle buttonPostView" type="button" data-toggle="dropdown" style="display: flex;flex-direction: row;">
                        <div style="flex: 1;">{{compareTypeFilter}}</div>
                        <div class="caret pull-right" ></div>
                    </button>
                    <div id="dropdownCondoView" class="dropdown-menu">
                        <ul class="list-users list-unstyled ulRespon">
                            {{#each filter in typeFilters}}
                                <li filter="{{filter.name}}" class="compareTypeFilter typeOption {{getActiveClass filter.name}}">
                                    <a class="media">
                                        <div class="media-body">
                                            <h5>{{filter.displayName}}</h5>
                                        </div>
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div> --}}
        </div>
        <div class="body">
            {{#unless ready}}
                <div class="loader-container">
                    {{> loader}}
                </div>
            {{else}}
                <span>&nbsp;</span>  <!-- Don't remove -->
                {{#if loadingData}}
                  <div class="loader-container-over">
                    {{> loader}}
                  </div>
                {{/if}}
                <div id="total-users-module-chart-container" class="the-chart">
                    {{renderChartTotalUsersModule}}
                </div>
                <div id="chartjs-total-users-module-chart-legend" class="chart-legend-container"></div>
                <div id="chartjs-total-users-module-chart-tooltips" class="chart-tooltips-container">
                    <table></table>
                </div>
                <div id="total-users-module-chart-no-data">
                    {{getDicoVar "stats" "no_data"}}
                </div>
            {{/unless}}
        </div>
    </div>
</template>
