.line-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;

  .icon-profile-picture {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-color);

    & > div {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-size: cover;
      background-position: 50% 50%;
      text-align: center;
      line-height: 44px;
      color: white;
    }
  }
}
