<template name='manager_marketPlace_history'>
  {{updateData}}
  {{#if isSubscribeReady}}
    <div class="market-upcoming-content-wrapper">
      {{#let serviceReservations=servicesReservations}}
        {{> MbSearchBar placeHolder=(getDicoVar "commonTranslation" "search") callback=onSearch}}
        {{#if serviceReservations.length}}
          <div class='head-container'>
            <div class='flex-25 textAlignLeft'>{{getDicoVar "commonTranslation" "service"}}</div>
            <div class='flex-10 textAlignLeft'>{{getDicoVar "commonTranslation" "complete"}}</div>
            <div class='flex-25 textAlignLeft'>{{getDicoVar "commonTranslation" "occupant"}}</div>
            <div class='flex-25 textAlignLeft'>{{getDicoVar "commonTranslation" "location"}}</div>
            <div class='flex-10 textAlignCenter'>{{getDicoVar "commonTranslation" "managed_by"}}</div>
            <div class='flex-2'></div>
          </div>
          {{#each item in serviceReservations}}
            {{> MbPanel content=item.displayDate}}
            {{#with parentIndex=@index}}
              <div class='reservationContainer section-{{parentIndex}}' data-collapsed='false'>
                {{#each reservation in item.reservations}}
                  <div class='service-line-container height-80 clickToPreview' data-reservationId='{{reservation._id}}'>
                    <div class='flex-25 textAlignLeft'>{{reservation.title}}</div>
                    <div class='flex-10 textAlignLeft'>{{getTimeOrDash reservation.archivedAt false}}</div>
                    <div class='flex-25 textAlignLeft'>{{getUserName reservation.userId}}</div>
                    <div class='flex-25 textAlignLeft'>
                      <div class='text-basic'>{{getLocationDetail reservation}}</div>
                      <div class='text-clearer'>{{getDicoVar "commonTranslation" (getLocation reservation)}}</div>
                    </div>
                    <div class='flex-10 textAlignCenter'>
                      {{#with userIcon=(getUserIcon reservation.archivedBy)}}
                        <div class='line-icon-list'>
                          <div class='icon-profile-picture'>
                            {{#if userIcon.ppUrl}}
                              <div style='background-image: url({{userIcon.ppUrl}}),url(/img/anonymous.png);'></div>
                            {{else}}
                              <div>{{userIcon.initial}}</div>
                            {{/if}}
                          </div>
                        </div>
                      {{/with}}
                    </div>
                    <div class='flex-2'>
                      <div class='chevron-container chevron-lighter'></div>
                    </div>
                  </div>
                {{/each}}
              </div>
            {{/with}}
          {{/each}}
          {{> marketPlaceReservationModal (getDataModal)}}
        {{else}}
          {{#if isSearchActive}}
            {{> MbEmpty
              title=(getDicoVar 'commonTranslation' 'no_result')
            }}
          {{else}}
            {{> MbEmpty
              title=(getDicoVar 'commonTranslation' 'empty_history_title_manager')
              subTitle=(getDicoVar 'commonTranslation' 'empty_history_subtitle_manager')
            }}
          {{/if}}
        {{/if}}
      {{/let}}
    </div>
  {{else}}
    {{> loader}}
  {{/if}}
</template>
