<template name='admin_buildingDefault'>
  <div class="allListBack">
    <table class="table table-hover listDefaultCondo" id="">
      <thead>
        <tr>
          <th>Modules</th>
          <th class="text-center">Monopropriété</th>
          <th class="text-center">Copropriété</th>
          <th class="text-center">Bureau</th>
          <th class="text-center">Résidence étudiante</th>
        </tr>
      </thead>
      <tbody>
        {{#each modules}}
          <tr>
            <td>{{getName this}}</td>
            <td class="text-center">
              {{#if (getMonoOption this)}}
                <input type="checkbox" disabled="disabled" checked>
              {{else}}
                <input type="checkbox" disabled="disabled">
              {{/if}}
            </td>
            <td class="text-center">
              {{#if (getCoproOption this)}}
                <input type="checkbox" disabled="disabled" checked>
              {{else}}
                <input type="checkbox" disabled="disabled">
              {{/if}}
            </td>
            <td class="text-center">
              {{#if (getOfficeOption this)}}
                <input type="checkbox" disabled="disabled" checked>
              {{else}}
                <input type="checkbox" disabled="disabled">
              {{/if}}
            </td>
            <td class="text-center">
              {{#if (getStudentOption this)}}
                <input type="checkbox" disabled="disabled" checked>
              {{else}}
                <input type="checkbox" disabled="disabled">
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
