<tr class="pagetoplogo">
    <td class="w640">
        <table class="w640" width="100%" margin-top="0" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
            <tbody>
            <tr>
                <td>
                    <hr style="height: 1px; border-width:0; color: #f1f5f6; background-color: #f1f5f6; width: 90%;">
                </td>
            </tr>
            <tr height="10"></tr>
            <tr></tr>
            <tr>
                <td>
                    <div class="pagetoplogo-content" style="text-align: center;width: 100%;display: flex;">
                        <p style="color: #8b999f; font-size: 14px; width: 100%;">{{{label}}}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <div style="text-align: center; width: 100%;">
                      <!--[if (gte mso 9)]><table cellspacing="0" cellpadding="0"><![endif]-->
                      <!--[if (gte mso 9)]><tr><![endif]-->
                      <!--[if (gte mso 9)]><td><![endif]-->
                      <a class="dl-app" target="_blank" href="{{ios}}">
                        <img class="w640" style="text-decoration: none;" hspace="10" border="0" height="48" src="https://www.monbuilding.com/img/homePage/dl-ios.png" alt="iOS Link">
                      </a>
                      <!--[if (gte mso 9)]></td><![endif]-->
                      <!--[if (gte mso 9)]><td><![endif]-->
                      <a target="_blank" href="{{android}}">
                        <img class="w640" style="text-decoration: none;" hspace="10" border="0" height="48" src="https://www.monbuilding.com/img/homePage/dl-android.png" alt="Android Link">
                      </a>
                      <!--[if (gte mso 9)]></td><![endif]-->
                      <!--[if (gte mso 9)]></tr><![endif]-->
                      <!--[if (gte mso 9)]></table><![endif]-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
