<tr class="pagetoplogo">
  <td class="w640">
    <table class="w640" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f1f5f6">
      <tbody>
      {{#if haveLink}}
      <tr>
        <td>
          <br><br>
          <div class="pagetoplogo-content" style="text-align: center;width: 100%;display: flex;justify-content: center;">
            <p style="color: #8b999f;font-size: 14px; width: 100%;">{{label}} </p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="text-align: center; width: 100%; padding-bottom: 18px;">
            {{#if facebook}}
            <a style="padding: 10 10 10 10" class="respondSocial" target="_blank" href="{{facebook}}">
              <img class="w640" style="text-decoration: none;" height="50" src="https://www.monbuilding.com/img/homePage/footerFB.png" title="Facebook" alt="Facebook" width="50"></a>
            {{/if}}
            {{#if twitter}}
            <a style="padding: 10  10 10 10" target="_blank" href="{{twitter}}">
              <img class="w640" style="text-decoration: none;" height="50" src="https://www.monbuilding.com/img/homePage/footerTW.png" title="Twitter" alt="Twitter" width="50"></a>
            {{/if}}
            {{#if instagram}}
            <a style="padding: 10  10 10 10" target="_blank" href="{{instagram}}">
              <img class="w640" style="text-decoration: none;" height="50" src="https://www.monbuilding.com/img/homePage/footerIN.png" title="Instagram" alt="Instagram" width="50"></a>
            {{/if}}
          </div>
        </td>
      </tr>
      {{/if}}
      </tbody>
    </table>
  </td>
</tr>
