<tr class="pagetoplogo">
  <td class="w640" width="640" bgcolor="#ffffff">
    <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0" style="padding: 20px 0 0 0;  text-align: center" align="center">
      <tbody>
      <tr>
        <td>
          <hr style="height: 1px; border-width:0; color: #f1f5f6; background-color: #f1f5f6; width: 100%;">
        </td>
      </tr>
      <tr>
        <td style="text-align: center" align="center">
          <span style="font-weight: 400; font-size: 12px; color:#8b999f;">This email was generated automatically. A direct reply to this email will not be processed.</span>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
