<tr class="pagetoplogo">
  <td class="w640">
    <table class="w640" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f1f5f6" style="padding-bottom: 30px;padding-top: 30px;">
      <tbody>
      <tr>
        <td>
          <div class="pagetoplogo-content" style="text-align: center; width: 100%;">
            <img style="text-align:center; text-decoration: none; display: block; font-size: 30px; width: auto; height: 86px; margin: auto; max-width: 640px;" src="{{logoUrl}}" alt="Logo" title="Logo" width="125" height="86"/>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
