<tr>
  <td>
    <span style="font-weight: 400;font-size: 16px;color: #5d5e62;">See you soon!</span>
    <!--<span style="font-weight: 400;font-size: 16px;color: #5d5e62;"><a target="_blank" href="https://www.monbuilding.com/fr" style="color: {{primaryColor}}; text-decoration: none;font-weight: 400;font-size: 16px;">MonBuilding </a>team</span>-->
  </td>
</tr>
