<tr class="pagetoplogo">
    <td class="w640" width="640" bgcolor="#ffffff">
      <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
          <td class="w30" width="30"></td>
          <td class="w580" width="580">
            <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0" style="padding: 20px 0 0px 0;">
              <tbody>
              <tr>
                <td>
                <table height="15px" width="100%">
                  <tr>
                      <td>
                          <hr style="height: 1px; border-width:0; color: #f1f5f6; background-color: #f1f5f6; width: 100%;">
                      </td>
                  </tr>
                  <tr>
                    <td>
                      <table width="100%">
                        <tr>
                          <td>
                            <span style="font-weight: 400;font-size: 12px; color:#8b999f;">This email was generated automatically. A direct reply to this email will not be processed.</span>
                          </td>
                          <td>
                            <a href="{{notifUrl}}?nogetapp=true" style="
                            display:block;
                            color: #8b999f;
                            font-size: 12px;
                            float:right;">
                              Unsubscribe
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>