<template name="footer">
    <section class="section-content-bottom">
        <div class="container">
        <div class="home_row">
            <div class="home_col">
            <h5 class="small_font">{{getDicoVar "homePage" "about_us"}}</h5>
            <p>
                {{getDicoVar "homePage" "about_us_text"}}
            </p>
            </div>
            <div class="home_col">
            <h5 class="small_font">{{getDicoVar "homePage" "get_app"}}</h5>
            <div class="app-store-links">
                <a href="https://itunes.apple.com/fr/app/monbuilding-votre-immeuble-en-mieux/id1274455987?mt=8" target="_blank" class="home_href"><img src="/img/homePage/app-store.svg" alt="App Store" /></a>
                <a href="https://play.google.com/store/apps/details?id=com.monbuilding.app&hl=fr" target="_blank" class="home_href"><img src="/img/homePage/google-play.svg" alt="Google Play" /></a>
            </div>
            </div>
            <div class="home_col">
            <h5 class="small_font">{{getDicoVar "homePage" "let_connect"}}</h5>
            <div class="social-links">
                <a href="https://www.facebook.com/monbuilding/" target="_blank" class="social-links__item home_href"><img src="/img/homePage/facebook.svg" alt="Facebook" /></a>
                <a href="https://twitter.com/MonBuilding/" target="_blank" class="social-links__item home_href"><img src="/img/homePage/twitter.svg" alt="Twitter" /></a>
                <a href="https://www.linkedin.com/company/monbuilding/" target="_blank" class="social-links__item home_href"><img src="/img/homePage/linkedin.svg" alt="LinkedIn" /></a>
            </div>
            <h5 class="small_font">{{getDicoVar "homePage" "links"}}</h5>
            <ul class="footer-nav">
                <li><a id="aboutus" class="home_href">{{getDicoVar "homePage" "about_us"}}</a></li>
                <!-- <li><a href="#" class="home_href">{{getDicoVar "homePage" "our_blog"}}</a></li>
                <li><a href="#" class="home_href">{{getDicoVar "homePage" "faq"}}</a></li> -->
                <li><a id="legalnotice" class="home_href">{{getDicoVar "homePage" "legal_notice"}}</a></li>
            </ul>
            </div>
        </div>
        </div>
    </section>
    <footer>
        <span>{{getDicoVar "homePage" "copyright"}}</span>
        <a class="back-to-top scroll">{{getDicoVar "homePage" "back_to_top"}}</a>
    </footer>
</template>
