<template name="getapp">

  <div class="getapp overview">
    <div class="tagline">
      <h1>{{getDicoVar 'commonTranslation' 'try_app_now'}}</h1>
      <p>
        {{{getDicoVar 'commonTranslation' 'try_app_now_subtitle'}}}
      </p>
    </div>

    <img src="{{getPhoneImgSrc}}" />
    <div id="city-bg"></div>
  </div>

  <div class="getapp getit">
    <button id="getappButton">{{getDicoVar 'commonTranslation' 'download_app'}}</button>
    <br/>
    <div id="getappContinue">
      {{getDicoVar 'commonTranslation' 'or_continue'}}
      <a href="/fr">{{getDicoVar 'commonTranslation' 'to_website'}}</a>
    </div>
  </div>
</template>
