<template name="header">
  <div class="navbar navbar-default header-back" style="position: fixed; width: 100%; z-index: 3; top: 0">
    <div class="navbar-header">
      <img src="/img/hamburger_icon.png" class="pull-left" id="backHamburger" style="margin-top: 3px; margin-left: 5px;">
      <a class="navbar-brand linkHomeBack">
        <img src="/img/logo/logo.svg" alt="logo MonBuilding" class="monbuilding-logo" style="height: 27px!important; top: 5px; position: relative;">
      </a>
      <button type="button" data-toggle="collapse" data-target="#navbar--top" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar--top" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {{#if currentUser}}
        <span class="circle circle-mob">{{firstLetters}}</span>
        <a class="dropdown-toggle adminMenuDropdown" data-toggle="dropdown">
              {{user}}
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu lessBorder backDownMenu">
          <a class="dropdown-item profilMenu" style="border-bottom: 1px solid #dbdde0; height: 56px;" data-toggle="modal" data-target="#changeAdminId">Modifier identifiants</a>
          <li class="dropdown-item deconnectMenu"><a id="deco">Se deconnecter</a></li>
        </ul>
        {{/if}}
      </ul>
    </div>
  </div>

  <div id="changeAdminId" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
  {{#if isOpen}}
    <div class="modal-dialog modal-lg">
      <button type="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-heading pull-left mb30">
            <h4 id="myModalLabel" class="modal-title red_color">Modification des informations du compte administrateur</h4>
          </div>
        </div>
        <div class="modal-body clearfix" id="subject">
          <form>
            <div class="row">
              <div class="col-xs-6">
                <p class="labelInput">Prénom *</p>
                <div class="form-group">
                  <input type="text" class="form-control" name="firstname" placeholder="Prénom" value="{{getAdminFirstname}}">
                </div>
              </div>
              <div class="col-xs-6">
                <p class="labelInput">Nom *</p>
                <div class="form-group">
                  <input type="text" class="form-control" name="lastname" placeholder="Nom" value="{{getAdminLastname}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <p class="labelInput">Adresse email</p>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="email" value="{{getAdminEmail}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <p class="labelInput">Ancien mot de passe (laisser vide pour ne pas modifier)</p>
                <div class="form-group">
                  <input type="password" class="form-control" name="oldPassword" placeholder="Mot de passe">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <p class="labelInput">Mot de passe (laisser vide pour ne pas modifier)</p>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="Mot de passe">
                </div>
              </div>
              <div class="col-xs-6">
                <p class="labelInput">Confirmation mot de passe (laisser vide pour ne pas modifier)</p>
                <div class="form-group">
                  <input type="password" class="form-control" name="passwordConf" placeholder="Confirmation du mot de passe">
                </div>
              </div>
            </div>
            <div class="modal-footer" style="padding: 0 !important; margin-top: 150px !important;">
              <button type="submit" id="saveAdminId" class="btn red_btn button_into_modal pull-right mt40 submitActu" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Modifications...">Valider</button>
            </div>
            {{#if isError}}
              <div class="row">
                <div class="col-xs-8 errorModal">
                  <p>Merci de ne pas laisser de champs vide</p>
                </div>
              </div>
            {{/if}}
            {{#if isPasswordError}}
              <div class="row">
                <div class="col-xs-8 errorModal">
                  <p>Les mots de passe ne correspondent pas</p>
                </div>
              </div>
            {{/if}}
          </form>
        </div>
      </div>
    </div>
  {{/if}}
  </div>
</template>
