<template name="headerHome">
    <header id="header" class="fixed-header">
        <div class="header_container">
            <a class="logoGoHome enterpriseLogo">
            </a>
            <nav class="nav nav_header">
              {{!-- {{#unless restrictToLoginPage}} --}}
                <button class="home_btn home_btn--sm home_btn--outline-secondary nav__btn" id="button_signin">{{getDicoVar "homePage" "subscribe"}}</button>
                <button class="home_btn home_btn--sm home_btn--secondary nav__btn" id="button_login">{{getDicoVar "homePage" "connection"}}</button>
              {{!-- {{/unless}} --}}
                <ul class="nav__language-selector">
                    {{#if $eq langSelected 'fr'}}
                        <span>FR</span>
                        <a id='langEn'>EN</a>
                    {{else}}
                        <a id='langFr'>FR</a>
                        <span>EN</span>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </header>
</template>
