

// Custom colors definition
@green : #96E40E;
@red : #fe0900;
@redlight : #ff9ba0;
@blue : #69D2E7; //rgb(105, 210, 231)
@bluedark : #69c3e7; //rgb(105, 210, 231)
@bluelight : #dffaff;
@green : #96E40E;
@yellow : #fdb814;
@black : #383838;
@blacklight : #83898e;
@grey : #adadad;
@greylight : #eeeeee;

.color-white {color: white;}
.color-green {color: @green;}
.color-red {color: @red;}
.color-red-light {color: @redlight;}
.color-blue {color: @blue;}
.color-blue-light {color: @bluelight;}
.color-grey {color: @grey;}
.color-grey-light {color: @greylight;}
.color-yellow {color: @yellow;}

.link-blue {
  color: @blue;
  &:hover {
    color: @blue;
  }
}