<template name="main_body">
  {{#if hasReactComponent}}
    <div class="main_body">
      {{> React component=reactComponent}}
    </div>
  {{else}}
    {{> Template.dynamic template=template data=getSubTemplate}}
  {{/if}}
  {{> notConnectedTemplate}}
  {{> MbDisconnectLoader}}
	<script> window.IS_RENDERED = true; </script>
</template>
