#error {

    width: 75%;
    margin: auto;
    padding: 20px;
    border: solid 2px grey;
    background-color: #d2d2d2;

    text-align: center;

    h1 {
      color: @red;
      font-weight: bold;
    }

    h2 {
      color: #5d5e62;
      font-style: italic;
    }
}

.errorContent{
  height: 100vh;
  width: 100vw;
  background: @wt;
  margin: auto;
  padding: 40px !important;
  .content{
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
      img.error-image {
        padding: 0px 0px 15px 0px;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: @bluelight3;
      }
      .red_border_btn {
        font-size: 18px;
        font-weight: 200;
        color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
        background-color: transparent !important;
      }
      .red_border_btn:hover {
        font-size: 18px;
        font-weight: 200;
        border: 1px solid var(--secondary-color);
        background-color: var(--secondary-color) !important;
        color: @wt;
      }
  }
  h2{
    color: #5d5e62;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
  }
  span{
    color: #8b999f;
    font-weight: lighter;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
  }
  button{
    height: 36px !important;
    width: 200px !important;
    padding: 0 23px !important;
    font-size: 12px;
  }
}



@media (max-width: 789px){
  .errorContent{
    h2{
      font-size: 35px;
      margin-bottom: 40px;
    }
    p{
      font-size: 20px;
      line-height: 45px;
    }
  }
}

@media (max-width: 500px){
  .errorContent{
    .content{
      max-width: 500px !important;
      min-width: 0;
    }
  }
}

@media (max-width: 375px){
  .errorContent{
    button{
      margin-top: 10px;
    }
  }
}
