<template name="errorNotAuthenticated">
	<div class="col-xs-12 errorContent">
		<div class="content">
			<div>
				<img class="error-image" width="80" height="80" src="/img/icons/svg/1-incidents-color.svg" />
			</div>
			<h2>Ooops !</h2>
			<span>{{{getDicoVar 'internalError' 'error'}}}</span>
			<div class="form-group mt20 pull-right">
				<a href="/{{getLang}}"><button class="red_border_btn">{{getDicoVar "internalError" "back_home"}}</button></a>
			</div>
		</div>
	</div>
</template>

<template name="errorAccessDenied">
	<div class="col-xs-12 errorContent">
		<div class="content">
			<div>
				<img class="error-image" width="80" height="80" src="/img/icons/svg/1-incidents-color.svg" />
			</div>
			<h2>Ooops !</h2>
			<span>{{{getDicoVar 'internalError' 'error'}}}</span>
			<div class="form-group mt20 pull-right">
				<a href="/{{getLang}}"><button class="red_border_btn">{{getDicoVar "internalError" "back_home"}}</button></a>
			</div>
		</div>
	</div>
</template>

<template name="errorAccountNotVerified">
	<div class="col-xs-12 errorContent">
		<div class="content">
			<div>
				<img class="error-image" width="80" height="80" src="/img/icons/svg/1-incidents-color.svg" />
			</div>
			<h2>{{getDicoVar 'internalError' 'underVerif'}}</h2>
			<span>{{{getDicoVar 'internalError' 'accessNotValidated'}}}</span>
			<div class="form-group mt20 pull-right">
				<a href="/{{getLang}}"><button class="red_border_btn">{{getDicoVar "internalError" "back_home"}}</button></a>
			</div>
		</div>
	</div>
</template>

<template name="errorInternalError">
	<div id="error" class="col-xs-12 errorContent">
		<div class="content">
			<div>
				<img class="error-image" width="80" height="80" src="/img/icons/svg/1-incidents-color.svg" />
			</div>
			<h2>Ooops !</h2>
			<span>{{{getDicoVar 'internalError' 'error500'}}}</span>
			<div class="form-group mt20 pull-right">
				<a href="/{{getLang}}"><button class="red_border_btn">{{getDicoVar "internalError" "back_home"}}</button></a>
			</div>
		</div>
	</div>
</template>

<template name="errorDisabledAccount">
	<div class="col-xs-12 errorContent">
		<div class="content">
			<div>
				<img class="error-image" width="80" height="80" src="/img/icons/svg/1-incidents-color.svg" />
			</div>
			<h2>Ooops !</h2>
			<span>{{getDicoVar "internalError" "gestError"}}</span>
			<div class="form-group mt20 pull-right">
				<a href="/{{getLang}}"><button class="red_border_btn">{{getDicoVar "internalError" "back_home"}}</button></a>
			</div>
		</div>
	</div>
</template>

<template name="errorPageNotFound">
	<div class="col-xs-12 errorContent">
		<div class="content">
			<div>
				<img class="error-image" width="80" height="80" src="/img/icons/svg/1-incidents-color.svg" />
			</div>
			<h2>Ooops !</h2>
			<span>{{{getDicoVar "internalError" "notFound"}}}</span>
			<div class="form-group mt20 pull-right">
				<a href="/{{getLang}}"><button class="red_border_btn">{{getDicoVar "internalError" "back_home"}}</button></a>
			</div>
		</div>
	</div>
</template>

