<template name='admin_entityList'>
  <div class="buildingsList containerManagerList">
    {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=searchCallback}}
    <div class='searchResult' style='display: none'>
      {{>MbPanel content='Résultat de la recherche'}}
    </div>
    <table class="managerDetailsContainer table">
      <thead>
        <tr class='containerColumn'>
          <th> Nom </th>
          <th> Représentant </th>
          <th> Adresse </th>
          <th> Action </th>
          <th> Actif </th>
          <th class='trashColumn'></th>
        </tr>
      </thead>
      <tbody>
        {{#each getEntitiesList}}
          <tr class='containerLine' entityId='{{this._id}}'>
            <td class='commonColumn'>{{this.name}}</td>
            <td class='commonColumn lighter'>{{this.info.chef}}</td>
            <td class='commonColumn lighter'>{{getEntityAdress}}</td>
            <td class='commonColumn lighter entityActions'>
              {{> MbButton label='Ajouter un immeuble' onClick=(addBuildings) class='danger'}}
              {{> MbButton label='Ajouter un gestionnaire' onClick=(inviteManager) class=(getAddManagerClass)}}
              {{> MbButton label='Ajouter un occupant' onClick=(inviteOccupant) class=(getAddOccupantClass)}}
            </td>
            <td class='commonColumn lighter'>
              {{> MbCheckbox checked=($neq this.users.length 0) label=""}}
            </td>
            <td class='commonColumn trashColumn'>
              <div></div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
