@import "../../style/variable.less";

.userIcon-main {
	position: relative;
	height: 40px !important;
	width: 40px !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: initial !important;
	display: inline-block !important;
}
.userIcon {
	height: 40px !important;
	width: 40px !important;
	border-radius: 50%;
	font-size: 20px;
	color: @wt;
	line-height: 40px;
	text-align: center;
  //background: var(--accent-color);
  background: var(--primary-color);
	display: inline-block;
	position: relative;
  font-weight: 600;
  text-transform: uppercase;
}
.status-label {
	position: absolute !important;
	top: 30px !important;
	width: 13px !important;
	height: 13px !important;
	border-radius: 50%;
	display: block;
	border: 2px solid @wt;
	left: 27px;
}
.userIcon-inactive {
	background: #bbbbbb;
}
.userIcon-active {
	background: #7cc576;
}
.userIcon-away {
	background: #fdb813;
}
.userIcon-phone {
	width: 13px !important;
	height: 13px !important;
	border-radius: 50%;
	background: #7cc576;
	display: block;
	border: 2px solid @wt;
	position: relative;
	top: -11px;
	left: 27px;
}
