<template name="userIcon">
	<span class="userIcon-main">
		{{#if $eq type "Ge"}}
			<span class="userIcon">{{getDicoVar "home" "geIcon"}}</span>
		{{/if}}
		{{#if $eq type "G"}}
			<span class="userIcon">{{getDicoVar "home" "gIcon"}}</span>
		{{/if}}
		{{#if $eq type "CS"}}
			<span class="userIcon">{{getDicoVar "home" "csIcon"}}</span>
		{{/if}}
		{{#if $eq type "U"}}
			{{#if $eq (avatarLink userId) ""}}		
				<span class="userIcon">{{getInitiales userId}}</span>
			{{else}}
				<div style="background-image:url('{{getPP}}'), url('/img/anonymous.png')" class="smallprofilepic userIcon"></div>
			{{/if}}
		{{/if}}
        {{#unless hideStatus}}
		<span class="status-label {{labelClass userId}}"></span>
        {{/unless}}
	</span>
</template>