.mb-file-preview-wrapper {
  // width: 100% !important;
  visibility: hidden;

  &.mb-file-preview-done {
    visibility: visible;
  }

  .photoset-row {
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;

// ################################################

    a {
      // display: block;
      position: relative;
      display: flex;
      align-content: center;
      align-items: center;
      line-height: 100%;
      vertical-align: middle;
      flex-direction: row;
      text-align: center !important;
      text-align: center;
      background: rgb(241, 245, 246);
      max-width: 100%;
      max-height: 100%;

      img {
        margin-left: auto;
        margin-right: auto;
        text-align: center !important;
        width: auto !important;
        height: auto !important;
        vertical-align: middle;
        max-width: 100%;
        max-height: 100%;
      }

// ################################################

      &.photoset-cell-file {
        background: #cff1f8;
      }

      &.photo-cell-img-ghost-item {
        display: none!important;
      }

      span.photo-cell-has-more-images {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        text-align: center;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        color: #fff;
        pointer-events: none;
      }

      span.photo-cell-video {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url("img/icons/play.png");
        background-repeat: no-repeat;
        background-size: 64px 64px;
        background-position: center center;
      }

      img {
        filter: blur(10px);
        transition: 1s filter linear;
        -webkit-transition: 1s -webkit-filter linear;
        -moz-transition: 1s -moz-filter linear;
        -ms-transition: 1s -ms-filter linear;
        -o-transition: 1s -o-filter linear;
      }
    }
  }
}

#cboxWrapper {
  #cboxContent {
    margin-bottom: 44px;
    margin-top: 25px;
  }

  #cboxTitle {
    position: absolute;
    bottom: 24px;
    top: auto;
    left: 0;
    width: 100%;
    color: darkgray;
    text-shadow: none;
    text-align: center;

    a {
      display: block;
    }
  }

  #cboxNext, #cboxPrevious {
    position: fixed;
    top: 50%;
  }

  #cboxClose {
    background: url('/img/icons/svg/closephoto.svg') no-repeat center center;
    top: 5px;
    right: 5px;
  }

  #cboxPrevious {
    left: 25px;
    background: url('/img/icons/back.svg') no-repeat center center;
  }

  #cboxNext {
    right: 25px;
    background: url('/img/backto_right.png') no-repeat center center;
  }
}
