<template name='settingsList'>
  <div class='settingsContainer'>
    <div class='condoContainer'>
      <span>{{getDicoVar 'commonTranslation' 'set_preferences'}}</span>
      {{> CondoDropDown condoList=getUserCondos condoId=condoIdCb selectAuto=1 noAll=1}}
    </div>
    <div class='settingsWrapper'>
      {{#let condo=getCondoResident}}
        {{#if condo}}
          <div class='settingContainer'>
            <div class='textContainer'>
              <span class='settingTitle'>{{getDicoVar 'commonTranslation' 'visibility_in_messenger'}}</span>
              <span class='settingDetail'>{{getDicoVar 'commonTranslation' 'visibility_in_messenger_detail'}}</span>
            </div>
            <div class="checkboxred">
              <input type="checkbox" name="visible_messenger" class="check-preference" id="visible_messenger" data-module="messagerie" required checked="{{#if preferenceActivated condo 'messagerie'}}checked{{/if}}" />
              <label for="visible_messenger"></label>
            </div>
          </div>
          <div class='settingContainer'>
            <div class='textContainer'>
              <span class='settingTitle'>{{getDicoVar 'commonTranslation' 'visibility_in_trombi'}}</span>
              <span class='settingDetail'>{{getDicoVar 'commonTranslation' 'visibility_in_trombi_detail'}}</span>
            </div>
            <div class="checkboxred">
              <input type="checkbox" name="visible_trombi" class="check-preference" id="visible_trombi" data-module="trombi" required checked="{{#if preferenceActivated condo 'trombi'}}checked{{/if}}" />
              <label for="visible_trombi"></label>
            </div>
          </div>
          {{#each notification in (getNotifications condo.notifications)}}
            <div class='settingContainer'>
              <div class='textContainer'>
                <span class='settingTitle'>{{getDicoVar 'commonTranslation' notification.name}}</span>
                <span class='settingDetail'>{{getDicoVar 'commonTranslation' (concatStr notification.name '_details')}}</span>
              </div>
              <div class="checkboxred">
                <input type="checkbox" name="notification_input" id="{{notification.name}}" required checked="{{#if notification.value}}checked{{/if}}" />
                <label for="{{notification.name}}"></label>
              </div>
            </div>
          {{/each}}
        {{/if}}
      {{/let}}
    </div>

  </div>
</template>
