.settingsContainer {
  margin: 0 !important;
  padding: 21px 16px !important;
  background-color: white;
  width: 100%;
  height: fit-content;
  position: relative;
  min-height: calc(~'100vh - 76px - 80px - 16px - 270px - 45px - 16px');
  overflow-x: hidden;
  overflow-y: hidden;

  .condoContainer {
    & > span {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 40px;
      letter-spacing: -0.4px;
      text-align: left;
      color: #5d5e62;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .settingsWrapper {
    padding-top: 37px;
    
    .settingContainer {
      height: 80px;
      width: 100%;
      position: relative;
      border-bottom: 1px solid #DCDDE4;
      
      .textContainer {
        height: 100%;

        .settingTitle {
          display: block;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.4px;
          text-align: left;
          color: #5d5e62;
          padding-top: 20px;
          padding-bottom: 4px;
        }

        .settingDetail {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.3px;
          text-align: left;
          color: #8b999f;
        }
      }

      .checkboxred {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        & > label {
          top: 0 !important;
        }
      }
    }
  }
}