<template name="MbEmpty">
    <div class="mb-empty">
        <div class="mb-empty-wrapper">
			{{#if hasIcon}}
				<img src="{{ getIcon }}" class="mb-empty-icon">
			{{/if}}
            <h2 style="{{getTitleStyle}}">{{getTitle}}</h2>
            <p style="{{getSubTitleStyle}}">{{{getSubTitle}}}</p>
            {{#if $neq getButtonLabel ''}}
                {{> MbButton label=getButtonLabel onClick=getButtonAction class='danger'}}
            {{/if}}
        </div>
    </div>
</template>