.mb-empty {
  font-family: 'Lato', 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;

  .mb-empty-wrapper {
    padding: 25px 0 55px 0;
    // width: 350px;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;

    h2 {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      color: #5d5e62;
    }

    p {
      font-size: 16px;
      letter-spacing: -0.4px;
      text-align: center;
      color: #8b999f;
      margin-bottom: 43px;
    }
  }
}