<template name='occupant_marketPlace_services'>
  <div class='market-place-services-container'>
    {{#if isSubscribeReady}}
      {{> MbSearchBar placeHolder=(getDicoVar 'commonTranslation' 'search') callback=searchCallback}}
      {{> MbPanel content=(getDicoVar 'commonTranslation' 'available_services_items')}}

      {{#let condoNames=getCondoNames services=getServices}}
        {{#if services.count}}
          <div class='services-card-container'>
              {{#each service in services}}
                <div class='services-card' data-serviceid='{{service._id}}'>
                  <div class='image-container'>
                    <div class='image-display' style='background-image: url({{getFileUrl service.files}});'></div>
                    {{#if isNewService service.createdAt}}
                      <div class='new-service-container'>
                        <div class="new-service-text">NEW</div>
                      </div>
                    {{/if}}
                  </div>
                  {{#if and ($eq service.quantity_available '0') ($neq service.unlimited_quantity true)}}
                    <div class='out-of-stock-container'>
                      <div class="out-of-stock-image-container">
                        <div class='out-of-stock-image'></div>
                      </div>
                      <div class='out-of-stock-text'>{{getDicoVar 'commonTranslation' 'out_of_order'}}</div>
                    </div>
                  {{/if}}
                  <div class='details-wrapper'>
                    <div class='details-name'>{{service.title}}</div>
                    <div class='details-type {{#if and ($eq service.quantity_available '0') ($neq service.unlimited_quantity true)}}details-type-grey{{/if}}'><span>{{getDicoVar 'commonTranslation' (concatStr 'mp_service_' service.type)}}</span></div>
                    <div class='details-description'>{{service.description}}</div>
                    <div class='details-price'>{{getPrice service.isThirdParty service.price}}</div>
                  </div>
                </div>
              {{/each}}
            <div class='services-card-fixdisplay'></div>
            <div class='services-card-fixdisplay'></div>
            <div class='services-card-fixdisplay'></div>
          </div>
        {{else}}
          {{#if isSearchActive}}
            {{> MbEmpty title=(getDicoVar 'commonTranslation' 'no_output')}}
          {{else}}
            {{> MbEmpty
              title=(getDicoVar 'commonTranslation' 'no_service_yet')
              subTitle=(getDicoVar 'commonTranslation' 'service_add_by_authorized')
            }}
          {{/if}}
        {{/if}}
      {{/let}}

    {{else}}
      {{> loader}}
    {{/if}}
  </div>
</template>
