<template name="module_manual_plan">
  <div class="wrapper">
    {{#if updateTab}}{{/if}}
    <section class="blue_bg_content" id="mainContent">
      <div class="main_block container-fluid hidden-xs">
        <div class="row">
          <div class="col-sm-12 plpr23">
            <div class="panel mt80">
              <div class="panel-heading position_relative">
                <div class="sub-tool-bar clearfix">
                  <h1 class="pull-left">
                    {{ getTranslatedActiveTab }} - {{ getAddress }}
                  </h1>
                  <div class="pull-right action">
                    {{#if equals tab 'manual'}}
                      {{#if and manualType (and (userHasRight "manual" "see") (userHasRight "manual" "delete"))}}
                        <button type="button" id="deleteManual" class="btn red_btn">{{getDicoVar "moduleManual" "delete_manual"}}</button>
                      {{/if}}
                      {{#if (and (userHasRight "manual" "see") (userHasRight "manual" "write"))}}
                        <button type="button" id="addManual" class="btn red_btn" data-toggle="modal" data-target="#modalManual">{{#if manualType}}{{getDicoVar "moduleManual" "edit_manual"}}{{else}}{{getDicoVar "moduleManual" "add_manual"}}{{/if}}</button>
                      {{/if}}
                    {{else}}
                      {{#if and hasMap (and (userHasRight "map" "see") (userHasRight "map" "delete"))}}
                        <button type="button" id="deleteMap" class="btn red_btn">{{getDicoVar "moduleManual" "delete_plan"}}</button>
                      {{/if}}
                      {{#if and (userHasRight "map" "see") (userHasRight "map" "write")}}
                        <button type="button" id="addMap" class="btn red_btn">{{#if hasMap }}{{getDicoVar "moduleManual" "edit_plan"}}{{else}}{{getDicoVar "moduleManual" "add_plan"}}{{/if}}</button>
                      {{/if}}
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 plpr23">
            {{!-- {{#if canShow}} --}}
              <div class="card item">
                <ul class="nav nav-tabs mb-nav-tabs">
                  {{!-- {{#if userHasRight "manual" "see"}} --}}
                    {{#if manualActive}}
                      <li class="{{ getTabClass 'manual' }}">
                        <a href="#" data-tab="manual">{{getDicoVar "moduleManual" "manual"}}</a>
                      </li>
                    {{/if}}
                  {{!-- {{/if}} --}}
                  {{!-- {{#if userHasRight "map" "see"}} --}}
                    {{#if mapActive}}
                      <li class="{{ getTabClass 'map' }}">
                        <a href="#" data-tab="map">{{getDicoVar "commonTranslation" "map"}}</a>
                      </li>
                    {{/if}}
                  {{!-- {{/if}} --}}
                </ul>

                <div class="card-block">
                  <section data-tab="manual">
                    {{#if equals tab 'manual'}}
                      {{> module_manual }}
                    {{else}}
                      <input id="fileUploadInputMap" type="file" style="display: none;" accept="application/pdf" />
                      {{> module_map }}
                    {{/if}}
                  </section>
                </div>
              </div>
            {{!-- {{else}}
              {{> MbRestrictedAccess }}
            {{/if}} --}}
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
