@import "../../../../../style/variable";

.mb-nav-tabs {
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;

  li {
    width: 188px;

    &.active {
      a {
        &:hover,
        &:focus,
        &:active,
        &:visited {
          //color: var(--tab-color);
          color: var(--primary-color);
          background: transparent;
          border-color: transparent;
        }

        font-family: Lato, sans-serif;
        font-size: 15px;
        text-align: center;
        //color: var(--tab-color);
        color: var(--primary-color);
        border: 0;
        //border-bottom: 4px solid var(--tab-color) !important;
        border-bottom: 4px solid var(--primary-color) !important;
      }
    }

    a {
      font-weight: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-bottom: 4px solid transparent;
      font-family: Lato, sans-serif;
      font-size: 15px;
      text-align: center;
      //color: var(--tab-color);
      color: var(--primary-color);

      &:hover,
      &:focus,
      &:active,
      &:visited {
        background: transparent;
        border-color: transparent;
      }

      &:hover {
        //border-bottom: 4px solid var(--tab-color);
        border-bottom: 4px solid var(--primary-color);
      }
    }
  }
}
