<template name="manager_messengerConversationList">
  <div class="conversation-body">
    {{updateData}}
    {{#if isNewMessage}}

    {{else}}
    {{!-- {{#if isSubscribeReady}} --}}
      {{#let currentMessage=getMessageFeed usersInformation=getUsersInformation setMessageIdForEditing=getSetMessageIdForEditing usersStatus=getUsersStatus}}
        {{#each dayBloc in currentMessage}}
          {{#each userBlock in dayBloc}}        
            {{> manager_messengerConversationListItem currentMessage=userBlock usersInformation=usersInformation setMessageIdForEditing=setMessageIdForEditing usersStatus=usersStatus}}
          {{/each}}
          <div class="list-msg-date-wrap">{{showDate dayBloc}}</div>
        {{/each}}
      {{/let}}
    {{/if}}
    {{!-- {{else}}
      {{> loader}}
    {{/if}} --}}
  </div>
</template>