#emergency-contact-detail-page {
  .two-column {
    display: flex;
    flex-direction: row;
    .column {
      flex: 1;
      .subText {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-start;
        div {
          margin-bottom: 24px;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #5d5e62;
        }
      }
    }
  }
  .commonColumn {
    p {
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.4px;
      text-align: left;
      color: #8b999f;
    }
  }
  .containerManagerList {
    .containerLine {
      .trashColumn {
        div {
          margin: auto;
        }
      }
    }
  }
  .mb-search-bar {
    margin-top: 8px;
  }
}
