<template name="emergencyContactDetail">
  <div id="emergency-contact-detail-page">
    <div class="row titleView">
      <div class="col-sm-12">
        <div class="panel">
          <div class="panel-heading position_relative" style="padding-bottom: 10px">
            <div class="sub-tool-bar clearfix">
              <div class="pull-left">
                <h1>{{getDicoVar "commonTranslation" "emergency_contact"}}</h1>
                <button type="button" id="back-btn" class="mb-back-button">
                  <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{{getDicoVar "resourceForm" "back"}}}
                </button>
              </div>
              {{#if userHasRight "emergencyContact" "edit" getSelectedCondo}}
              <div class="pull-right action repondBtnResa">
                <a type="button" id="add-btn" class="btn red_btn red_btn-lg"  data-toggle="modal" data-target="#emergency-contact-add-modal">{{getDicoVar "commonTranslation" "edit"}}</a>
              </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='profileContainer'>
      {{#let profilePicture=getProfileUrl contact=getContact}}
        <div class='basicProfile'>
          <div class='profilePictureContainer'>
            {{#if profilePicture}}
              <div class="profilePicture" style='background-image:url("{{profilePicture}}"), url("/img/anonymous.png")'></div>
            {{else}}
              <div class="profilePictureEmpty"><span>{{ getDicoVar 'commonTranslation' 'add_contact_photo' }}</span></div>
            {{/if}}
            {{#if userHasRight "emergencyContact" "edit" getSelectedCondo}}
            <div class='editProfilePicture' id="editProfilePictureDetail">
            </div>
            <div id="dropdownProfilePictureDetail" class='dropdownProfilePicture displayNone'>
              <div class='tick'></div>
              <div class='textSelector uploadPhotoDetail'>{{ getDicoVar 'commonTranslation' 'upload_photo' }}</div>
              {{#if profilePicture}}<div class='textSelector removePhotoDetail'>{{ getDicoVar 'commonTranslation' 'remove_photo' }}</div>{{/if}}
              <div class='textSelector cancelDropdownDetail'>{{ getDicoVar 'commonTranslation' 'cancel' }}</div>
              <input id='inputAvatarDetail' type='file' style='display: none;'>
            </div>
            {{/if}}
          </div>
          <div class='informationsContainer'>
            <div class='nameProfile'>{{#if contact.civility}}{{getDicoVar 'commonTranslation' contact.civility}}{{/if}} {{contact.firstName}} {{contact.lastName}}</div>
            <div style='position: relative'>
              {{> MbPanel content=(getDicoVar 'commonTranslation' 'details')}}
              {{#if userHasRight "emergencyContact" "edit" getSelectedCondo}}
              <img class="editProfile" src="/img/icons/edit.png" height="16" data-toggle="modal" data-target="#emergency-contact-add-modal">
              {{/if}}
            </div>
            <div class="two-column">
              <div class="column">
                <div class='subText'><div class='profileIcon profileBuildingIcon'></div><div>{{contact.companyName}}</div></div>
                <div class='subText'><div class='profileIcon profileWorkIcon'></div><div>{{getDicoVar 'commonTranslation' 'in_charge_of'}} {{getInChargeOf contact}}</div></div>
              </div>
              <div class="column">
                <div class='subText'><div class='profileIcon profileMailIcon'></div><div>{{contact.email}}</div></div>
                <div class='subText'><div class='profileIcon profileMobileIcon'></div><div>{{getPhone contact true}}</div></div>
                <div class='subText'><div class='profileIcon profilePhoneIcon'></div><div>{{getPhone contact false}}</div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="customizeRow containerManagerList">
          {{> MbPanel content=(getDicoVar 'commonTranslation' 'building_opening_hours')}}

          {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=onSearch}}

          <table class="managerDetailsContainer table">
            <thead>
            <tr class='containerColumn'>
              <th></th>
              <th style="text-transform: none"> {{ getDicoVar 'commonTranslation' 'building_name' }} </th>
              <th style="text-transform: none"> {{ getDicoVar 'commonTranslation' 'opening_hours' }} </th>
              <th width="10"> {{ getDicoVar 'commonTranslation' 'actions' }} </th>
            </tr>
            </thead>
            <tbody>
            {{#each condo in (filteredCondos contact.condos)}}
              {{#if userHasRight "emergencyContact" "see" condo.id}}
                <tr class="containerLine condoDetail">
                  <td class='pictureColumn'>
                    {{#let pp=(getAvatar condo.id)}}
                      {{#if pp}}
                        <div  class='displayPictureImage' style="background-image: url({{pp}}), url(/img/anonymous.png);"></div>
                      {{else}}
                        <div class='displayPictureName'>{{getCondoName condo.id true}}</div>
                      {{/if}}
                    {{/let}}
                  </td>
                  <td class='commonColumn lighter'>{{getCondoName condo.id false}}</td>
                  <td class='commonColumn lighter'>
                    {{#each scheduled in (renderSchedule condo)}}
                      <div>{{scheduled}}</div>
                    {{/each}}
                  </td>
                  <td class='commonColumn trashColumn'>
                  {{#if canDelete condo.id}}
                    <div condoid="{{condo.id}}" condoname="{{getCondoName condo.id false}}" class="remove"></div>
                  {{/if}}
                  </td>
                </tr>
              {{/if}}
            {{/each}}
            </tbody>
          </table>
        </div>
      {{/let}}
    </div>
  </div>
  {{> emergencyContactAddModal editId=getContactId}}
</template>
