<template name="messenger_conversation_list">
    {{updateData}}
    {{#if setUsersStatus}}{{/if}}
    {{#if and (isNewMessage) (isManagerTab currentTab)}}

    {{else}}
    <div class="conversation-body">
      <div class="flex-fixer">
      {{!-- {{#if isSubscribeReady}} --}}
        {{#let currentMessage=getMessageFeed usersInformation=getUsersInformation setMessageIdForEditing=getSetMessageIdForEditing usersStatus=getUsersStatus}}
          {{#each dayBloc in currentMessage}}
            {{#each userBlock in dayBloc}}
              {{> messenger_conversation_list_item currentMessage=userBlock usersInformation=usersInformation setMessageIdForEditing=setMessageIdForEditing usersStatus=usersStatus}}
            {{/each}}
            <div class="list-msg-date-wrap">{{showDate dayBloc}}</div>
          {{/each}}
        {{/let}}
      </div>
    </div>
    {{/if}}
    {{!-- {{else}}
      {{> loader}}
    {{/if}} --}}
    {{scrollBottom}}
</template>
