<template name="ReservationForm">
    <div id="reservation-form-wrapper">
        {{#if initState}}
        <div class="row {{#if isEdit}}hidden{{/if}}">
            <div class="col-sm-12 plpr23">
                <div class="reservation-form-container flex-column">
                    {{#if haveResources}}
                    {{> MbPanel content=(getDicoVar "moduleReservationIndex" "select_resource")}}
                    <div class="type-select-wrapper">
                        {{#each type in getResourceTypes }}
                            <div class="type-bubble-menu-item">
                                {{> MbBubble
                                    label=type.label
                                    value=type.value
                                    onClick=(setForm 'resourceType' 'select-method')
                                    active=(isTypeActive type.value)
                                    image=type.image
                                }}
                            </div>
                        {{/each}}
                    </div>
                    {{else}}
                    {{> MbEmpty
                            title=(getDicoVar "moduleReservationIndex" "empty_title")
                            subTitle=(getDicoVar "moduleReservationIndex" "empty_subtitle")
                            buttonLabel=(getDicoVar "moduleReservationIndex" "empty_button_label")
                            onButtonClick=addNewResource
                    }}
                    {{/if}}

                    <div id="select-method"></div>
                    {{#unless (isTypeActive null)}}

                        {{> MbPanel content=(getDicoVar "moduleReservationIndex" "booked_method")}}
                        <div class="tabBarContainer">
                            <div data-type="time" class="form-tab method-tab {{getActiveMethodTabClass 'time'}}">
                              {{getDicoVar "moduleReservationIndex" "time"}}
                            </div>
                            <div data-type="resource" class="form-tab method-tab {{getActiveMethodTabClass 'resource'}}">
                                {{getDicoVar "moduleReservationIndex" "resaTitle"}}
                            </div>
                        </div>
                        {{#if isResourceTab}}
                            {{> ReservationResourceTab resourceType=getSelectedType resources=getResources onClick=resourceTab}}
                        {{else}}
                            {{> ReservationTimeTab resourceType=getSelectedType resources=getResources condoId=getCondoId onClick=goToNewForm}}
                        {{/if}}

                    {{/unless}}
                </div>
            </div>
        </div>
        {{/if}}

        {{#if showCalendar}}
            {{> ReservationCalendar resourceType=getSelectedType selectedResource=getSelectedResource onSelect=goToNewForm eventDates=getEventDates}}
        {{/if}}

        {{#if showNew}}
            {{> ReservationNew getFormArgs}}
        {{/if}}
    </div>
</template>
