@import "../../../../../../style/variable";

#reservation-form-wrapper, .resa-validate-modeal {

  .right-wrapper.payment-summary {
    padding: 16px;
    height: max-content;
    display: flex;
    flex-direction: column;

    .price-section {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #E1E2E7;
      padding: 28px 0;

      small {
        text-transform: lowercase;
      }
      .payment-row {
        .dark-text {
          //align-self: flex-end;
        }
      }
    }
    .subtotal-section {
      padding: 13px 0;
      border-bottom: 1px solid #E1E2E7;
      .light-text {
        margin-top: 13px;
      }
    }
    .total-price {
      margin-top: 24px;
      margin-bottom: 34px;
    }
    .payment-row {
      display: flex;
      flex: 1;
      justify-content: space-between;
      align-items: center;

      .mb-button {
        width: 100%;
      }
    }
    .dark-text {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: @slategrey;
      margin: 0;
    }
    .light-text {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      margin: 0;
      color: @grey3;
    }
  }

  .hidden {
    display: none;
  }
  .validate-suggest-button-wrapper {
    padding-top: 20px;
  }
  .reservation-form-container {
    padding: 8px;
    background-color: @wt;

    .type-select-wrapper {
      margin-top: 24px;
      margin-bottom: 24px;
      display: flex;
      flex-direction: row;

      .type-bubble-menu-item {
        padding: 0 24px;
      }
    }

    .tab-resa {
      margin: 0 -8px;
      padding: 0 8px;
      .tabBarContainer {
        border-bottom: initial;
        background: initial;
      }
    }

    .reservation-resource-tab, .reservation-available-resources {
      .search-wrapper {
        margin-top: 15px;
      }

      .search-wrapper, .resource-list {
        padding: 0 8px;
      }

      .resource-list {

        .resource-list-item {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;

          p.cap {
            text-transform: capitalize;
          }

          button {
            border: 0;
            background-color: transparent;

            i.chevron-r-icon {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }

  #new-resa-form, .reservation-time-tab {

    #resa-time-form, .time-container {

      flex: 1;
      display: flex;
      padding: 23px 0;
      justify-content: flex-start;
      align-items: center;

      .dash, input {
        font-family: 'Lato', 'Source Sans Pro', sans-serif;
        font-size: 16px;
        letter-spacing: -0.4px;
        text-align: right;
        color: @grey3;
      }

      .mb-checkbox {
        margin-right: 36px;
      }

      #start-date {
        margin-left: 0;
      }

      .input-group.date {
        display: flex;
        flex: 0 0 320px;
        margin: 0 15px;

        .input-group-addon {
          border: 1px solid @greylight;
          cursor: pointer!important;
          height: 36px;
          width: 40px;
          padding: 6px 8px;
          border-radius: 0;
          background-color: @wt;

          .calendar-g-icon {
            height: 24px;
            width: 24px;
          }
        }

        input {
          border: 1px solid @greylight;
          border-left: 0;
          height: 36px;
          cursor: pointer!important;
        }
      }
    }
  }

  .reservation-time-tab {
    display: flex;
    flex-direction: column;

    .reservation-available-resources {
      flex: 1;
    }
  }

  #new-resa-form {
    background-color: @wt;
    font-family: 'Lato', 'Source Sans Pro', sans-serif;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .bootstrap-datetimepicker-widget {
      //.picker-switch {
      //  display: none;
      //}
    }

    .flex-item {
      margin-bottom: 20px;

      .flex-spacer {
        width: 43px;
      }

      .mb-select.blue-box {
        .select2-selection--single {
          .select2-selection__rendered {
            display: inline;
            //background-color: var(--accent-color);
            background-color: var(--primary-color);
            border: 0;
            border-radius: 0;
            padding: 6px;
            font-size: 14px;
            line-height: 1.21;
            letter-spacing: -0.3px;
            text-align: left;
            color: @wt;
          }
        }

        .select2-selection--multiple {
          li.select2-selection__choice {
          }
        }
      }

      .dropdown {
        display: inline-block;
        margin-right: 8px;

        .service-parent {
          width: 250px;
          border-radius: 2px;
          border: solid 1px var(--primary-color);
          padding: 6px 46px;
          font-family: 'Lato', 'Source Sans Pro', sans-serif;
          font-size: 16px;
          letter-spacing: -0.4px;
          text-align: center;
          background-color: @wt;
          color: var(--primary-color);
        }

        .service-active {
          background-color: var(--primary-color);
          color: @wt;
        }

        ul.dropdown-menu {
          width: 210px;
          border-radius: 0;
          box-shadow: 0 2px 4px 0 rgba(32, 33, 38, 0.2);
          border: solid 1px @wt2;
          padding: 0 15px;

          li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: -0.4px;
            text-align: left;
            color: @slategrey;
            height: 60px;
            border-bottom: 1px solid @greylight;
            cursor: pointer;

            i.image-icon {
              height: 22px;
              width: 22px;
            }

            i.checked-icon {

            }
          }
        }
      }
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: -0.1px;
      text-align: left;
      color: @grey3;
      margin-bottom: 1px;
    }

    p.resa-bold {
      font-size: 16px;
      font-weight: bold;
      text-align: left;
      color: @slategrey;
      margin-bottom: 3px;
    }

  }

  .bootstrap-datetimepicker-widget {
    a, .glyphicon {
      color: @grey3;
    }

    span.custom-icon {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 24px;
    }

    span.calendar-icon {
      background-image: url("img/icons/calendar-grey.png");
    }
    span.chevron-down {
      background-image: url("img/icons/chevron-down.png");
    }
    span.chevron-left {
      background-image: url("img/icons/chevron-down.png");
      transform: rotate(90deg);
    }
    span.chevron-up {
      background-image: url("img/icons/chevron-down.png");
      transform: rotate(180deg);
    }
    span.chevron-right {
      background-image: url("img/icons/chevron-down.png");
      transform: rotate(270deg);
    }

    .timepicker {
      .btn-primary {
        background-color: var(--primary-color);
        border-radius: 50%!important;
        border: 0;
        cursor: pointer;
      }
    }
    .datepicker, .timepicker {
      font-family: @lato;
      color: @grey3;

      table {
        th.disabled {
          .glyphicon {
            color: @wt2;
          }
        }
        .picker-switch {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 500;
          text-align: center;
          color: @grey3;
        }

        .dow {
          font-size: 12px;
          letter-spacing: 0.9px;
          text-align: center;
          color: @grey3;
          font-weight: 500;
        }
        tr {

          td {
            border-radius: 50%;
            width: 34px;
            height: 34px;
          }

          .day {
            font-size: 14px;
            letter-spacing: -0.3px;
            text-align: center;
            color: @slategrey;
          }

          .day.old, .day.new {
            color: @grey3;
          }
          .day.today {
            background-color: white;
            font-weight: bold;
          }
          .day.disabled {
            cursor: not-allowed;
          }
          .day.active {
            color: @wt;
            text-shadow: none;
            background-color: var(--primary-color);
            border-radius: 50%;
          }
          .day.today:before {
            border: 0;
          }
        }
      }
    }
  }
}
