<template name="integrationCondoM">

  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-heading position_relative">
          <div class="flex-header">
            <h1>{{ getDicoVar 'commonTranslation' 'integration_detail_title' }}</h1>
            <div class="col-sm-4 pull-right">
                {{> CondoDropDown condoList=CDD_cursor noAll=true condoId=onCondoSelect selectedCondoId=condoId classes="pull-right"}}
            </div>
          </div>
          <div style="display: block; margin-top: 10px;">
            <button type="button" id="backbutton" style="background: none; border: none; color: #999; padding: 0">
              <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{ getDicoVar 'commonTranslation' 'manager_back' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 panel integrationCondo d-contacts-main allListBack">
    <h2>{{ getDicoVar 'commonTranslation' 'contact_detail' }}</h2>
    <div class="contact-details">
      <div class="detail-row">
        <img src="/img/icons/svg/mail.svg"/>
        <span>admin@lestulleries.com</span>
      </div>
      <div class="detail-row">
        <img src="/img/icons/svg/mobile.svg"/>
        <span>+33 04 4859 3948</span>
      </div>

    </div>
    {{#let sections=integrationBySection }}
      {{#each section in sections}}
      <h2>{{section.section}}</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ getDicoVar 'commonTranslation' 'brand_name' }}</th>
            <th>{{ getDicoVar 'commonTranslation' 'service' }}</th>
            <th>{{ getDicoVar 'commonTranslation' 'operating_company' }}</th>
            <th>{{ getDicoVar 'commonTranslation' 'integration_date' }}</th>
          </tr>
        </thead>
        <tbody>
          {{#each integration in section.apps}}
            {{#let config=(getIntegrationConfig integration._id)}}
              <tr class="integrationLine" integrationId="{{integration._id}}">
                <td>
                  {{#if integration.image}}
                    <img src="{{integration.image}}" class="integrationImage"/>
                  {{else}}
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="integrationImage"/>
                  {{/if}}
                  {{integration.provider}}
                </td>
                <td>
                  {{integration.service}}
                </td>
                <td>
                  {{integration.company}}
                </td>
                <td>
                    {{formatDate config}}
                </td>
              </tr>
              {{/let}}
          {{/each}}
        </tbody>
      </table>

      {{/each}}
    {{/let}}
  </div>

</template>
