.container-flex-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 47px;
  margin-right: 40px;

  & > .service-price-container {
    // flex: 1 0 50%;
    // min-width: 300px;
    &.with-vat {
      // width: 450px;
    }
    // width: 250px;
    margin-top: 16px;
  }

  & > .service-quantity-container {
    // width: 435px;
    // margin-right: 40px;
    // flex: 1 0 50%;
    // min-width: 300px;
    margin-top: 16px;
  }
}

.read-more-terms {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

.service-price-container, .service-quantity-container {
  & > .text-input-container {
    &::first-letter {
      text-transform: capitalize;
    }

    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5d5e62;
    margin-right: 21px;
    display: inline-block;
  }

  & > .unlimited-container {
    display: inline-block;

    .vat-select-container {
      position: relative;
      top: -2px;
    }

    & > span {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #5d5e62;
      margin: 0 16px
    }
    & > div {
      display: inline-block;
    }
  }

  .input-container {
    position: relative;
    display: inline-block;
    .upper-select {
      margin-top: -4px;
      .select2-container {
        padding: 0 !important;
        margin-top: -4px;
        height: 36px;
        border: 1px solid #E1E2E7;
      }
      .select2-container .select2-selection .select2-selection__rendered {
        padding-left: 8px;
        padding-top: 4px;
      }
      .select2-container .select2-selection .select2-selection__arrow b[role="presentation"] {
        margin-top: 6px !important;
        margin-left: 0px !important;
      }
    }
    .price-input, .number_available-input, .time-slot, .simultaneous-time-slot {
      position: relative;
      height: 36px;
      width: 116px;
      text-align: right;

      &.disabled {
        pointer-events: none;
        border: 1px solid #8080802e;
        background-color: #80808042;
      }
    }
    .input-euro {
      font-size: 18px;
      right: -15px;
    }
  }
}

.tos-container {
  .mb-panel {
    margin-bottom: 13px;
  }
  .mb-warning {
    margin-bottom: 24px;
  }
}

.checkboxes-container {
  .border-bottom-grey {
    border-bottom: 1px solid #e1e2e7;
    margin-top: -3px;
    margin-bottom: 16px;
  }
  .checkbox-container {
    min-height: 36px;
    align-items: flex-start;
    display: flex;
    margin-bottom: 32px;
    &.same-hour-container {
      margin-bottom: 26px !important;
      flex-direction: column;
      .mb-checkbox {
        width: auto;
      }
      .all-hours-container {
        margin-left: 30px;
      }
    }
    .mb-checkbox {
      margin-bottom: 0px !important;
      width: 180px;
      height: 36px;
    }
    .all-hours-container {
      display: block;
      .hours-container {
        display: flex;
        align-items: center;
        &:not(:last-of-type) {
          margin-bottom: 12px;
        }
        .hours-input-container {
          width: 116px;
          position: relative;
          .input-container-with-icon {
            width: 116px !important;
            .number_available-input {
              position: relative;
              height: 36px;
              width: 76px !important;
              font-family: 'Lato', 'Source Sans Pro', sans-serif;
              text-align: right;
              font-size: 16px;
              letter-spacing: -0.4px;
              color: #8b999f;
              padding-right: 12px;
            }
          }
        }
        .hours-separator {
          margin-left: 12px;
          margin-right: 12px;
          color: #8b999f;
        }
        .hours-button-container {
          width: 24px;
          height: 24px;
          margin-left: 8px;
          cursor: pointer;
        }
      }
    }
  }
  .mb-panel {
    margin-bottom: 13px;
  }

  .mb-checkbox {
    margin-bottom: 26px;
  }

  .closer-margin-top {
    margin-top: -21px;
  }

  .mb-input {
    margin-bottom: 28px;
  }
}

