.integrationCondo {
  h2 {
    background-color: #F3F5F6;
    text-transform: uppercase;
    display: block;
    margin: 16px 0;
    padding: 10px 16px;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: left;
    color: #8b999f;
  }

  .table thead tr th {
    padding: 15px 0 !important;
    vertical-align: middle;
  }

  .table tbody tr td {
    padding-left: 0 !important;
  }

  .contact-details {
    margin: 24px 0;

    span {
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #5d5e62;
      margin-left: 5px;
    }
    .detail-row {
      margin-bottom: 20px;
    }
  }
}
