<template name='MbSearchBar'>
  <div class='mb-search-bar'>
    <div class='icon-search-bar'></div>
    <input class='text-search-bar' type='search' placeholder="{{this.placeHolder}}"/>
    <div class="counter-search-bar">{{this.counter}}</div>
  </div>
</template>
