@import "/client/style/variable";

#MessengerPersonnalManager {
  .messenger-header {
    margin-top: 80px;
    background: @wt;
    padding: 15px 20px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
  }
  .messenger-header-title-label {
    font-size: 20px;
    line-height: 32px;
    color: @slategrey;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
  }
  .messenger-header-button {
    align-self: flex-end;
  }
  .messenger-body {
    position: relative;
    display: flex;
    flex-direction: column;
    .tabBarContainer div {
      white-space: nowrap;
    }
    .tabBarContainer::-webkit-scrollbar {
      display: none;
    }
    .messenger-select-tab {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
    }
    .messenger-main-container {
      flex: 1;
      height: calc(~'100vh - 230px');
      min-height: 500px;
      display: flex;
      flex-direction: row;
      background: @wt;
      .messenger-contact-list {
        display: flex;
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        flex-direction: column;
        border-right: 1px solid @grey2;
        overflow-y: scroll;
        .messenger-contact-search-container {
          padding: 10px;
          border-bottom: 1px solid @grey2;
        }
      }
      .messenger-contact-list::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
