<template name="MessengerPersonnalManager">
  {{#if $neq getCondoId 'all'}}
    {{checkTab}}
    <div id="MessengerPersonnalManager">
      <div class="messenger-body">
        <div class="messenger-main-container">
          {{> MessengerPersonnalManagerContactList
            currentConversation=currentConversation
            selectConversationCb=selectConversationCb
            condoId=getCondoId
          }}
          {{> manager_messengerConversation
            currentConversation=currentConversation
            selectConversationCb=selectConversationCb
            isNewMessage=isNewMessage
            setIsNewMessageAsFalse=setIsNewMessageAsFalse
            condoId=getCondoId
          }}
        </div>
      </div>
    </div>
  {{else}}
    <div id="MessengerPersonnalManager">
      <div class="messenger-body">
        {{> loader}}
      </div>
    </div>
  {{/if}}
</template>
