<!--
Route: gestionnaire/occupantList/**encoded part**/occupantProfile/documents
Route: gestionnaire/managerList/**encoded part**/managerProfile/buildings
-->

<template name='admin_profileDetails'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {{#if isSubscribeReady}}
     {{#let userProfile=getUserProfile}}
      <div class="row titleView titleViewStyle" style='height: 80px !important;'>
        <div class="col-sm-12" style='padding-right: 16px; padding-left: 16px'>
          <div class="panel-heading" style="padding-bottom: 10px; padding-left: 0; padding-right: 0;">
            <div class="sub-tool-bar clearfix">
              <h1 class="pull-left">{{userProfile.firstname}} {{userProfile.lastname}}</h1>
              <div style="position: absolute; top: 50px;">
                <button type="button" id="backbutton" style="background: none; border: none; color: #8b999f; padding: 0">
                  <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{{getDicoVar "resourceForm" "back"}}}
                </button>
              </div>
              <div class="action pull-right">
                <a type="button" class="btn btn-red-confirm {{#if isManagerModule}}addBuildingManager{{else}}addBuildingOccupant{{/if}}">Ajouter à un immeuble</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='profileContainer'>
        <div class='basicProfile'>
          <div class='profilePictureContainer'>
            {{#let profilePicture=getProfileUrl}}
              {{#if profilePicture}}
                <div class="profilePicture" style='background-image:url("{{profilePicture}}"), url("/img/anonymous.png")'></div>
              {{else}}
                <div class="profilePictureInitial"><span>{{getUserInitial userProfile}}</span></div>
              {{/if}}
              <div class='editProfilePicture'></div>
              <div class='dropdownProfilePicture displayNone'>
                <div class='tick'></div>
                <div class='textSelector uploadPhoto'>{{ getDicoVar 'commonTranslation' 'upload_photo' }}</div>
                <div class='textSelector removePhoto'>{{ getDicoVar 'commonTranslation' 'remove_photo' }}</div>
                <div class='textSelector cancelDropdown'>{{ getDicoVar 'commonTranslation' 'cancel' }}</div>
              </div>
              <input id='inputAvatar' type='file' style='display: none;'>
            {{/let}}
          </div>
          <div class='informationsContainer'>
            <div class='nameProfile'>{{userProfile.firstname}} {{userProfile.lastname}}</div>
            <div class='mbPanelContainer'>
              {{> MbPanel content=(getDicoVar 'commonTranslation' 'details')}}
              <img class='editProfile' src="/img/icons/edit.png" height="16" data-toggle='modal' data-target='#modal_occupant_edit_profile'>
            </div>
            <div class='subText'><div class='profileIcon profileMailIcon'></div>{{userProfile.email}}</div>
            <div class='subText'><div class='profileIcon profileMobileIcon'></div>{{formatMobileNumNoError userProfile.tel userProfile.telCode}}</div>
            <div class='subText'><div class='profileIcon profilePhoneIcon'></div>{{formatMobileNumNoError userProfile.tel2 userProfile.tel2Code}}</div>

          </div>
        </div>
        <div class='tabBarContainer'>
          {{#if isManagerModule}}
            <div class='{{#if $eq selectedTab 'buildings'}}selectedTabBar{{/if}}' data-tab='buildings'> {{ getDicoVar 'commonTranslation' 'profile_details_buildings' }} </div>
            <div class='{{#if $eq selectedTab 'rights'}}selectedTabBar{{/if}}' data-tab='rights'> {{ getDicoVar 'commonTranslation' 'profile_details_rights' }} </div>
            <div class='{{#if $eq selectedTab 'password'}}selectedTabBar{{/if}}' data-tab='password'> {{ getDicoVar 'commonTranslation' 'password' }} </div>
          {{else}}
            {{#if documentsAvailable}}
              <div class='{{#if $eq selectedTab 'documents'}}selectedTabBar{{/if}}' data-tab='documents'> {{ getDicoVar 'commonTranslation' 'profile_details_documents' }} </div>
            {{/if}}
            {{!-- <div class='{{#if $eq selectedTab 'payments'}}selectedTabBar{{/if}}' data-tab='payments'>Paiements</div> --}}
            <div class='{{#if $eq selectedTab 'buildingsOccupant'}}selectedTabBar{{/if}}' data-tab='buildingsOccupant'> {{ getDicoVar 'commonTranslation' 'profile_details_buildings' }} </div>
            <div class='{{#if $eq selectedTab 'rights'}}selectedTabBar{{/if}}' data-tab='rights'> {{ getDicoVar 'commonTranslation' 'profile_details_rights' }} </div>
            <div class='{{#if $eq selectedTab 'password'}}selectedTabBar{{/if}}' data-tab='password'> {{ getDicoVar 'commonTranslation' 'password' }} </div>
          {{/if}}
        </div>

        {{> Template.dynamic template=getTabTemplate}}
      </div>
    {{/let}}
    {{> admin_editProfileOccupant}}
    {{> modal_add_condo_occupant}}
    {{> modal_add_condo_manager}}
  {{else}}
    {{> loader}}
  {{/if}}
</template>
