<template name="resourcesUse_stats">
    <div class="chart-item">
      {{prepareData}}
        <div class="head">
            <h3>{{getDicoVar "stats" "resources_use"}}</h3>
            <div class="dropdown-stat-header action pull-right">
              <div class="dropdown per-s-list btn">
                <button id="dropdownType" class="btn clearfix text-left btn-transparent dropdown-toggle buttonPostView" type="button" data-toggle="dropdown">{{getDicoVar "stats" selectedFilter}}
                  <span class="caret pull-right"></span>
                </button>
                <div class="dropdown-menu">
                  <ul class="list-users list-unstyled ulRespon">
                    {{#each option in getOptions}}
                      <li filter="{{option.type}}" class="typeOption {{getActiveClass option.type}}">
                        <a class="media">
                          <div class="media-body">
                            <h5>{{getDicoVar "stats" option.type}}</h5>
                          </div>
                        </a>
                      </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
        </div>
        <div class="body {{emptyClass}}">
            {{#unless ready}}
                <div class="loader-container">
                    {{> loader}}
                </div>
            {{else}}
            {{#unless isEmpty}}
            <span>&nbsp;</span>  <!-- Don't remove -->
            {{#if loadingData}}
              <div class="loader-container-over">
                {{> loader}}
              </div>
            {{/if}}
            <div id="resources-use-chart-container" class="the-chart">
                {{renderChart}}
            </div>
            <div id="chartjs-resources-use-chart-legend" class="chart-legend-container"></div>
            <div id="chartjs-resources-use-chart-tooltips" class="chart-tooltips-container">
                <table></table>
            </div>
            {{else}}
            <span class="circle small">{{getDicoVar "stats" "no_data"}}</span>
            {{/unless}}
            {{/unless}}
        </div>
    </div>
</template>
