<template name="modalCustomizeRights">
  <div id="modal_rights_manager" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
    <div class="modal-dialog modal-lg">
      <button details="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-heading pull-left mb30">
            <h4 id="myModalLabel" class="modal-title red_color"> {{ getModalTitle }} </h4>
          </div>
        </div>
        <div class="modal-body clearfix" id='subject' style="margin-top: -12px; padding-top: 0;">

          <div class="containerManagerList" style="padding: 0 !important;">
            <table class="tableRights" style="margin-top: 0px;">
              <thead>
                <th></th>
                <th></th>
              </thead>
              {{#with UserRights=getUserRights}}
              <tbody>
                {{#each right in UserRights.rights}} {{#unless iscurrentDisplayingModule right.module}}
                <tr style="background: #f1f5f6;">
                  <td class="moduleRow" colspan="3">
                    {{#if $eq right.module 'view'}}
                      {{getDicoVar 'roleName' (viewName right.module right.displayOrder)}}
                    {{else}}
                      {{getDicoVar 'roleName' right.module}}
                    {{/if}}
                  </td>
                </tr>
                {{/unless}}
                <tr class="roleRight {{#if right.disabled}}disabled{{/if}}">
                  <td class="roleRightRight {{#unless isNotFalse (userHasRight right.module right.right getCondoId)}}disabledRight{{/unless}}">{{getRoleRightVal right}}</td>
                  <td class="roleRightdefault">
                    <div class="checkboxred">
                      {{#if right.default}}
                        <input type="checkbox" name="{{right.module}}.{{right.right}}.{{right.default}}" checked>
                        <label class="labelForCheckbox {{#unless isNotFalse (userHasRight right.module right.right getCondoId)}}disabledRight{{/unless}}" data-index="{{@index}}" data-display="{{getRoleRightVal right}}" for="{{right.module}}.{{right.right}}.{{right.default}}"></label>
                      {{else}}
                        <input type="checkbox" name="{{right.module}}.{{right.right}}.false">
                        <label class="labelForCheckbox {{#unless isNotFalse (userHasRight right.module right.right getCondoId)}}disabledRight{{/unless}}" data-index="{{@index}}" data-display="{{getRoleRightVal right}}" for="{{right.module}}.{{right.right}}.false"></label>
                      {{/if}}
                    </div>
                  </td>
                </tr>
                {{/each}}
              </tbody>
              {{/with}}
            </table>
            <div class='saveRights'>
              {{> MbButton label=(getDicoVar 'commonTranslation' 'personal_details_save') onClick=saveRights class='btn btn-red-confirm'}}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</template>
