<template name="bar_percentage_download">

	<div class="main-modal" id="bar_percentage_download-container" style="background: white; padding: 20px; margin-bottom: 30px;">
		<div class="modal-heading pull-left mb30 stat-title">
			<h4 class="modal-title red_color">% téléchargements vs. active users : </h4>
		</div>
		<div class="chart-js-reload bar_percentage_download-reload">
			<i class="fa fa-refresh" aria-hidden="true"></i>
		</div>
		<div id="chartjs-percentage_download-legend" class="global-chart-legend-container">
			<table></table>
		</div>
		<div id="x-axis-arrow-percentage_download" class="x-axis-arrow">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</div>
		<div id="chartjs-chart-tooltips-percentage_download" class="chart-tooltips-container">
			<table></table>
		</div>
		<canvas id="bar_percentage_download"></canvas>
	</div>

</template>