.market-content-wrapper {
    margin: 0;
    padding-top: 21px !important;
    padding-bottom: 21px !important;
    background-color: white;
    width: 100%;
    height: fit-content;
    position: relative;
    min-height: 1px;
    overflow-x: auto;

    &.with-padding {
      padding: 16px;
      height: calc(~'100vh - 190px');
    }

    &.space-elements {
      & > div:not(.file-list) {
        margin-bottom: 24px;
      }
    }
}
