<template name='manager_marketPlace'>
  {{checkTab}}
  <div class='topBarContainer'>
    <div class='topBarModuleName'>{{ getDicoVar 'commonTranslation' 'marketPlace' }}</div>
    <div class='topBarActionButton'>
      {{#if and (userHasRightToAddItem) ($not shouldDisplayRestrictedAccess)}}
        <a type="button" class="btn btn-red-confirm addItem">{{getDicoVar 'commonTranslation' 'add_items'}}</a>
      {{/if}}
    </div>
  </div>
  {{#unless shouldDisplayRestrictedAccess}}
    <div class='tabBarContainer'>
      <div class='{{#if $eq selectedTab 'services'}}selectedTabBar{{/if}}' data-tab='services'>{{getDicoVar 'commonTranslation' 'services'}}</div>
      <div class='{{#if $eq selectedTab 'upcoming'}}selectedTabBar{{/if}}' data-tab='upcoming'>
        {{getDicoVar 'commonTranslation' 'upcoming'}}
        {{#with badges=getUpcomingCounter}}
          {{#unless $eq badges 0}}
            <div class='badges'>{{badges}}</div>
          {{/unless}}
        {{/with}}
      </div>
      <div class='{{#if $eq selectedTab 'history'}}selectedTabBar{{/if}}' data-tab='history'>{{getDicoVar 'commonTranslation' 'historic'}}</div>
    </div>
    <div class="market-content-wrapper">
      {{> Template.dynamic template=getTemplateName data=getData}}
    </div>
  {{else}}
    {{> MbRestrictedAccess}}
  {{/unless}}
</template>
