<template name="compares_stats">
    <div class="chart-item">
        <div class="head">
            <h3>{{getDicoVar "stats" "comparison"}}</h3>
            <p>{{getDicoVar "stats" "comparison_sub"}}</p>
            <div class="dropdown-stat-header action pull-right">
                <div class="dropdown per-s-list btn">
                    <button class="btn clearfix text-left btn-transparent dropdown-toggle buttonPostView" type="button" data-toggle="dropdown">{{compareTypeFilter}}
                        <span class="caret pull-right"></span>
                    </button>
                    <div id="dropdownCondoView" class="dropdown-menu">
                        <ul class="list-users list-unstyled ulRespon">
                            {{#each filter in typeFilters}}
                                <li filter="{{filter.name}}" class="compareTypeFilter typeOption {{getActiveClass filter.name}}">
                                    <a class="media">
                                        <div class="media-body">
                                            <h5>{{filter.displayName}}</h5>
                                        </div>
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="body">
            {{#unless ready}}
                <div class="loader-container">
                    {{> loader}}
                </div>
            {{else}}
            <span>&nbsp;</span>  <!-- Don't remove -->
            {{#if loadingData}}
              <div class="loader-container-over">
                {{> loader}}
              </div>
            {{/if}}

            <div id="compare-chart-container" class="the-chart">
                {{renderChartCompare}}
            </div>
            <div id="chartjs-compare-chart-tooltips" class="chart-tooltips-container">
                <table></table>
            </div>
            <div id="compare-chart-no-data">
                {{getDicoVar "stats" "no_data"}}
            </div>
            {{/unless}}
        </div>
    </div>
</template>
