<template name='occupant_marketPlace_upcoming'>
  {{updateData}}
  {{#if isSubscribeReady}}
    <div class="market-upcoming-content-wrapper">
      {{#let serviceReservations=servicesReservations}}
        {{> MbSearchBar placeHolder=(getDicoVar "commonTranslation" "search") callback=onSearch}}
        {{#if serviceReservations.length}}
          {{#each item in serviceReservations}}
            {{> MbPanel content=item.displayDate}}
            {{#with parentIndex=@index}}
              <div class='reservationContainer section-{{parentIndex}}' data-collapsed='false'>
                {{#each reservation in item.reservations}}
                  <div class='service-line-container height-80 clickToPreview' data-reservationId='{{reservation._id}}'>
                    <div class='flex-98 textAlignLeft'>
                      {{#if reservation.time_slot}}<div class='text-basic'>{{getTimeOrDash reservation.time_slot true}}</div>{{/if}}
                      <div class='text-basic'>{{reservation.title}}</div>
                      <div class='text-clearer'>{{getPrice reservation.isThirdParty (getTotalPrice reservation.price reservation.quantity)}}</div>
                    </div>
                    <div class='flex-2'>
                      <div class='chevron-container chevron-lighter'></div>
                    </div>
                  </div>
                {{/each}}
              </div>
            {{/with}}
          {{/each}}
          {{> marketPlaceReservationModal (getDataModal)}}
        {{else}}
          {{#if isSearchActive}}
            {{> MbEmpty
              title=(getDicoVar 'commonTranslation' 'no_result')
            }}
          {{else}}
            {{> MbEmpty
              title=(getDicoVar 'commonTranslation' 'empty_upcoming_title')
              subTitle=(getDicoVar 'commonTranslation' 'empty_upcoming_subtitle')
            }}
          {{/if}}
        {{/if}}
      {{/let}}
    </div>
  {{else}}
    {{> loader}}
  {{/if}}
</template>
