<template name="report">

	<div class="backTitle row" style="margin-bottom: 40px;">
		<div class="col-sm-12">
			<h1 class="pull-left">Liste des abus</h1>
		</div>
	</div>
	<div class="d-report-main allListBack" style="margin-top: 80px;">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Immeubles</th>
					<th>Declarant</th>
					<th>Auteur(?)</th>
					<th>Categorie</th>
					<th>Date de création</th>
				</tr>
			</thead>
			<tbody>
				{{#each report}}
				<tr class="reportLine" reportId="{{this._id}}" style="cursor: pointer">
					<td>{{getCondoName this.condoId}}</td>
					<td>{{getDeclarerName this.declarerId}}</td>
					<td>{{{getAuthorNames this.authorId}}}</td>
					<td>{{this.content.category}}</td>
					<td>{{humanDate this.createdAt}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>