<template name="MbColorInput">
  <div class="mb-color-input {{getClass}}">
    <label for="mb-color-input-{{getRandomId}}">{{getLabel}}</label>
    <div class="picker-wrapper">
      {{setValue}}
      <input readonly="readonly" id="mb-color-input-{{getRandomId}}" value="{{getValue}}">
    </div>
  </div>
</template>
