.mb-color-input {
  position: relative;
  flex: 1;
  label {
    text-transform: uppercase;
    font-family: 'Lato', 'Source Sans Pro', sans-serif;
    font-size: 12px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #8b999f;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
  }

  .picker-wrapper {
    display: flex;
    position: relative;

    .sp-replacer {
      border: none;
      background: transparent;
      position: absolute;
      right: 6px;

      .sp-preview {
        border: none;
        width: 30px;
        height: 30px;
        margin: 0;

        .sp-preview-inner {
        }
      }

      .sp-dd {
        display: none;
      }
    }

    input {
      display: inline-block!important;
      width: 100%;
      border: 0;
      border-bottom: 1px solid #E1E2E7;
      font-family: 'Lato', 'Source Sans Pro', sans-serif;
      font-size: 17px;
      letter-spacing: -0.4px;
      text-align: left;
      color: #5d5e62;
      padding: 10px 0;
      text-transform: uppercase;

      &.mb-input-error {
        border-bottom: 1px solid red
      }

      &::placeholder {
        color: #8B999F;
      }
    }
  }
}
