@import "../../style/variable.less";


///////////////////////////////////////////////////////
//
//                      common
//
///////////////////////////////////////////////////////
.flexColumn{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.actionIcons{
  position: absolute;
  width: 60px;
  z-index: 999;
  bottom: -30px;
  left: calc(~"50% - 30px");
}

///////////////////////////////////////////////////////
//
//                      header
//
///////////////////////////////////////////////////////

.homeHead{
  height: 60px;
  position: fixed;
  background-color: @wt;
  border-bottom: 3px solid @blue;
  z-index: 10;
  img{
    width: 140px;
    position: absolute;
    left: 30px;
    top: 17px;
  }
  button{
    margin-top: 13px;
    margin-left: 15px;
    //border-radius: 50px;
    border-radius: 12px;
    box-shadow: -3px 3px 20px #cccccc;
    transition: .5s;
  }
  button:hover{
    box-shadow: 0 5px 20px #000000;
    transition: .5s;
  }
  .white_btn{
    background-color: @wt;
    color: @red;
    outline: none !important;
    border: 2px solid @red;
    font-weight: 400;
    font-size: 14px;
    padding: 0 30px;
    display: inline-block;
    height: 32px !important;
  }
}

@media (max-width: 375px) {
  .homeHead img {
    width: 130px;
    position: absolute;
    left: 20px;
    top: 18px;
  }
}


@media (max-width: 426px){
  .homeHead{
    button{
      height: 15px;
      padding: 0 15px !important;
    }
  }
}


///////////////////////////////////////////////////////
//
//                      Content
//
///////////////////////////////////////////////////////

.sectionContent{
  position: absolute;
  padding: 0 !important;
  z-index: 0;


  //////////////  FIRST VIEW  //////////////


  #holder{

    position: relative;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  #slogans{
    position: relative;
    top: 0;
    right: 0;
  }

  p.slogan{
    text-rendering: optimizeLegibility;
    margin: 0;
    font-size: 40px;
    color: @wt;
    font-weight: 300;
  }

  p.slogan small{
    display:block;
    position:relative;
    opacity:0;
  }


  .firstView{
    background: url("../img/homePage/background.png") no-repeat center;
    background-size: cover;
    margin:0;
    padding: 160px 0 100px 100px;
    .lang{
      position: absolute;
      z-index: 99;
      top: 65px;
      right: 10px;
      color: @wt;
      font-size: 20px;
      a{
        color: @wt;
        font-size: 20px;
        cursor: pointer;
        padding: 2px 6px;
      }
    }
    .joinUs{
      float: left;
      width: 360px;
      // height: 500px;
      padding: 0 !important;
      form{
        border-radius: 10px;
        background: @wt;
        padding: 0 !important;
        margin: 0;
        box-shadow: 5px 5px 40px #5A5B5E, -5px 5px 40px #5A5B5E;
        input{
          margin:0;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 45px;
          background: @wt;
          border-left: none;
          border-right: none ;
          border-bottom: 1px solid @grey4;
          border-top: none;
          color: @grey5;
          font-size: 20px;
          font-weight: 300;
        }
        input:first-child{
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
        button {
          height: 50px !important;
          font-size: 22px;
          margin-top: 20px;
          margin-bottom: 20px;
          //border-radius: 50px;
          border-radius: 20px;
        }
      }
      .socialLink{
        padding: 0;
        margin-top: 20px;
        img{
          float: left;
          margin-right: 20px;
          height: 30px;
        }
      }
    }
    .mobilTitle{
      display: none;
    }
    .titleSpace{
      margin-left: 110px;
      float: left;
      h1{
        margin-top: 0 !important;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 80px;
        font-weight: 300;
        color: @wt;
      }
      h2{
        font-family: "Source Sans Pro", sans-serif;
        font-size: 40px;
        font-weight: 300;
        color: @wt;
      }
      }
    #downArrow{
      //bottom: -30px;
      //left: calc(~"50% - 30px");
    }
  }


  //////////////  FEATURE VIEW  //////////////

  .featView{
    padding: 100px 0 100px 0;
    background: @wt;
    margin:0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
      font-size: 40px;
      font-weight: 300;
      text-align: center;
      margin: 0;
    }
    h3{
      margin-top: 0;
      margin-bottom: 20px !important;
      font-weight: lighter;
      font-size: 30px;
      text-align: center;
    }
    hr{
      background: @red;
      height: 2px;
      margin-top: 10px !important;
      margin-bottom: 10px !important;
    }
    p{
      font-size: 16px;
    }
    .featContent{
      margin-top: 30px;
      margin-bottom: 0;
      //display: flex;
      .separation{
        height: 500px;
        position: absolute;
      }

      .features{
        padding:0 30px 0 30px;
        margin-bottom: 0;
        div{
          text-align: center;
          img{
            height: 70px;
          }
        }

        .feature-box {
          //margin: 0;
          height: auto;

          .featImage {
            height: 90px;
            width: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: auto 90px;
          }

          #img1 {
            background-image: url("/img/homePage/messenger.png");
          }
          #img2 {
            background-image: url("/img/homePage/forumPetiteAnnonce.png");
          }
          #img3 {
            background-image: url("/img/homePage/incident.png");
          }
          #img4 {
            background-image: url("/img/homePage/actu.png");
          }
          #img5 {
            background-image: url("/img/homePage/concierge.png");
          }
          #img6 {
            background-image: url("/img/homePage/resa.png");
          }

        }
      }
      #newsContent{
        margin-top: 20px;
        img{
          margin-left: 30px;
          margin-bottom: 20px;
        }
      }
      #resaContent{
        margin-top: 20px;
        img{
          height: 90px;
        }
      }
      #janicontent{
        margin-top: -10px;
        img{
          height: 80px !important;
        }
      }
    }


    #downCog{
      //bottom: -60px;
      //left: calc(~"50% - 55px");
    }
  }

  #separartionTWO{
    right: 33%;
  }
  #separartionOne{
    left: 33%;
  }

  @media (max-width: 989px){
    p{
      font-size: 15px;
    }
  #separartionTWO{
    display: none;
  }
    #separartionOne{
      left: 50%;
      height: 750px;
      width: 8px;
    }
  #newsContent{
    margin-top: 45px !important;
  }
  #resaContent{
    margin-top: -10px !important;
  }
}
  @media (max-width: 767px){
    #separartionOne{
      display: none;
    }
    #newsContent,  #resaConten {
      margin-top: 0px !important;
    }
  }

  //////////////  HOW IT WORK VIEW  //////////////

  .howView{
    background: url("../img/homePage/howToBack.png") no-repeat center;
    background-size: cover;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    h2{
      margin-top: 0;
      margin-bottom: 0;
      color: @wt;
      font-size: 40px;
      font-weight: 300;
    }
    h3{
      margin-top : 0 !important;
      color: @wt;
      font-weight: lighter;
      font-size: 30px;
      text-align: center;
      margin-bottom: 50px;
    }
    hr{
      background: @yellow;
      border:none;
      height: 2px;
      margin-top: 10px !important;
      margin-bottom: 10px !important;
    }

    .how-to-container.mid {
      align-items: center;
    }
    .how-to-container.top {
      align-items: flex-start;
    }
    .how-to-container {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .side {
        width: 200px;
        @media (max-width: 470px) {
          width: 100px;
        }

        img {
          height: 40px;
        }

        p {
          color: #ffffff;
          font-size: 18px;
          font-weight: 400;
          margin-top: 10px;
          line-height: 25px;
        }

        .right {
          text-align: right;
        }
      }

      .mid {
        width: 40px;
        margin: 0 15px;

        .markbadge {
          width: 40px;
        }
      }

      .line {
        height: 80px;
        position:relative;
        margin: 20px 15px;
      }

      .line:after {
        content:"";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        border-left: 2px solid #ffffff;
        transform: translate(-50%);
      }
    }

    .howToContent{
      height: 430px;
      img{
        width: 40px;
      }
      .markbadge{
        width: 40px;
      }
      hr{
        transform: rotate(90deg);
        width: 80px;
        height: 2px;
        background: @wt;
      }
      .howWrapLeft, .howWrapRight{
        height:100%;
        padding: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        div{
          padding: 0 !important;
          p{
            color: @wt;
            font-size: 18px;
            font-weight: 400;
            margin-top: 10px;
            line-height: 25px;
          }
        }
      }
      .howWrapRight{
        .privateFeat{
          margin-bottom: 220px;
        }
        .msgFeat{
          margin-bottom: 20px;
        }
      }
      .howWrapLeft{
        p{
          text-align: right;
        }
      }
      .howStape{
        height: 100%;
        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-direction: column;
        padding-bottom: 86px;
      }
    }
    #button_signin{
      margin-bottom: 0;
    }
    .howButton{
      margin-top: 20px;
      margin-bottom: 0;
      padding: 10px;
      background: @yellow;
      border: 3px solid @wt;
      text-align: center;
      color: @wt;
      border-radius: 20px;
      font-size: 22px;
      box-shadow: -1px 1px 20px #727272, 1px -1px 20px #727272;
      transition: .5s;
      letter-spacing: 2px;
    }

    .howButton:hover{
      box-shadow: -2px 5px 20px #242424;
      transition: .5s;
      transform: scale(1.1);
    }
    #heart{
      //width: 70px;
      //bottom: -35px;
      //left: calc(~"50% - 35px");
    }
  }


   .lastBlock{
     padding: 0;
     .alwaysLoveUs{
       min-height: 40vh;
       background: @wt;
       margin:0;
       display: flex;
       align-items: center;
       flex-direction: column;
       #dotLeft{
         position: absolute;
         top: 0;
         z-index: 0;
       }
       #dotRight{
         position: absolute;
         top: 220px;
         right: 0;
         z-index: 0;
       }
       h2{
         text-align: center;
         margin-top: 100px;
         font-size: 40px;
         font-weight: 300;
       }
       hr{
         background: @red;
         border:none;
         height: 2px;
         margin-top: 10px !important;
         margin-bottom: 10px !important;
       }
       .content{
         padding: 50px;
         img{
          width: 150px;
           float: left;
           margin-right: 40px;

         }
         div{
           padding: 50px;
           p{
             font-style: italic;
             font-size: 18px;
             text-align: justify;
           }
         }
       }
     }
  }
}


.footerContent{
  background: #515256;
  margin:0;
  padding: 50px 80px;
  div:last-child{
    padding-top: 15px;
  }
  div{
    height: 100%;
    h5{
      text-transform: uppercase;
      color: @wt;
      font-size: 25px;
      margin-bottom: 20px !important;
    }
    p{
      color: @wt;
      font-size:22px;
      margin-bottom: 20px !important;
    }
    .socialWrap {
      padding: 0;
      img {
        width: 45% !important;
      }
      .socialJU{
        margin-top: -38px;
        img{
          width: 60px !important;
        }
      }
      #footerJU{
        width: 275px !important;
        margin-top: 30px;
      }
    }
  }
  .needHelp{
    background: @blue;
    //border-radius: 15px;
    border-radius: 10px;
    padding: 15px !important;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 0 !important;
    img{
      width: 40px;
      margin-right: 20px;
    }
    p {
      font-weight: 300;
    }
  }
  .moreInfo{
    padding-top: 15px;
    margin-bottom: 0 !important;
    h5{
      margin-bottom: 20px;
      font-weight: 600;
    }
    p{
      font-weight: 300;
    }
  }
}

























///////////////////////////////////////////////////////
//
//                      MEDIA
//
///////////////////////////////////////////////////////

@media (max-width: 1340px) {
  .firstView{
    padding-left: 50px !important;
    }
    .titleSpace {
      margin-left: 50px !important;
    }
  }


@media (max-width: 1189px) {
  .firstView {
    .joinUs {
      width: 300px !important;
      form {
        input {
          padding-top: 15px !important;
          padding-bottom: 15px !important;
          font-size: 15px;
        }
      }
      .socialLink {
        img {
          margin-right: 10px !important;
          height: 20px;
        }
      }
    }
      .titleSpace {
        h1 {
          font-size: 80px !important;
        }
      }
    }
  }

@media (max-width: 1024px) {
  .socialLink{
    #imgCenter{
      margin-left: 0 !important;
    }
  }
  .lastBlock{
    #dotRight{
      top: 320px !important;
    }

  }
  #footerJU{
    width: 260px !important;
  }
}

@media (max-width: 989px) {

  .firstView {
    display: flex;
    flex-direction: column;
    padding-top: 70px !important;
    .joinUs {
      width: 360px !important;
      margin-top: 50px;
      form {
        input {
          padding-top: 20px !important;
          padding-bottom: 20px !important;
          font-size: 20px;
        }
      }
    }
    .titleSpace {
      width: 100%;
      margin-left: 0 !important;
      margin-top: 30px;
      h1 {
        font-size: 80px !important;
      }
    }
    .mobilTitle{
       display: block !important;
     }
    .desktopTitle{
      display: none;
    }
  }
}



@media (max-width: 869px) {
  .featView{
    h2{
      font-size: 30px !important;
      font-weight: 300;
    }
  }
  .lastBlock{
    #dotRight{
      top: 425px !important;
    }
  }
}

@media (max-width: 869px) {
  #janicontent{
  }
  .lastBlock{
    #dotRight{
      top: 455px !important;
    }
  }
  .alwaysLoveUs {
    p {
      text-align: left !important;
    }
  }
  .howWrapRight{
    div{
      margin-left: 10px;
    }
  }
  .howWrapLeft{
    div{
      margin-right: 10px;
    }
  }
}

@media (max-width: 630px) {
  .featView{
    h2{
      font-size: 25px !important;
      font-weight: 300;
    }
    h3{
      font-size: 20px !important;
    }
  }
  #dotRight, #dotLeft{
    display: none;
  }
}



@media (max-width: 489px) {
  //.actionIcons{
    //display: none;
  //}
  .firstView {
    height: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px 20px 20px 20px !important;
    .joinUs {
      width: 100% !important;
      margin-top: 2px;
      height: auto!important;
      margin-bottom: 30px;
      form {
        input {
          padding-top: 15px !important;
          padding-bottom: 15px !important;
          font-size: 15px;
        }
        margin: 0 0 15px 0 !important;
      }
    }
    #newsContent{
      margin-bottom: 0 !important;
    }
    #resaContent{
      margin-top: 20px;
    }
    .titleSpace {
      width: 100%;
      margin-left: 0 !important;
      margin-top: 10px;
      h1 {
        font-size: 45px !important;
      }
      h2{
        font-size: 25px !important;
        margin-top: 5px;
        margin-bottom: 20px;
      }

    }
    .mobilTitle{
      display: block !important;
    }
    .desktopTitle{
      display: none;
    }
  }

  .featView {
    padding: 50px 0 50px 0 !important;
    h2 {
      font-weight: 300;
    }
    .featContent{
      padding-left: 0 !important;
      padding-right: 0 !important;
      .features{
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
  .howView{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    h2{
      font-size: 35px !important;
    }
    h3{
      font-size: 25px !important;
      margin-bottom: 35px;
    }
    .howToContent{
      margin-bottom: 0;
    }
    .howButton{
      margin-top: 45px !important;
    }
  }
  .lastBlock {
    .alwaysLoveUs {
      h2{
        margin-top: 50px !important;
      }
      #andreContent{
        margin-top: 100px !important;
        padding-bottom: 80px !important;
      }
        .content{
        padding: 0 !important;
        div{
          padding: 0 !important;
        }
        div:last-child{
          margin-top: 100px;
        }
      }
    }

  }
  .footerContent {
    padding: 30px 30px !important;
    div{
      p{
        margin-top: 20px;
      }
    }
  }
}
@media (max-width: 375px){
  .homeHead{
    button{
      height: 15px;
      padding: 0 10px !important;
      margin-left: 4px;
    }
  }
  .firstView {
    min-height: 100vh !important;
    .titleSpace{
      margin-top: 0 !important;
    }
    .joinUs {
      .socialLink {
        img{
          margin-right: 8px !important;
        }
        .imgCenter{
          margin-left: 0;
        }
      }
      form {
        input {
          padding-top: 10px !important;
          padding-bottom: 10px !important;
          padding-left: 50px !important;
          font-size: 18px !important;
        }
        #firstBtn{
          font-size: 17px !important;
          height: 35px !important;
        }
      }
    }

    .titleSpace {
      margin-top:15px;
      h1 {
        font-size: 40px !important;
      }
    }
  }

  .howView{

    h2{
      font-size: 30px !important;
    }
    h3{
      font-size: 20px !important;
    }
    .howButton{
      font-size: 20px !important;
    }
  }

  .footerContent {
      padding: 30px 30px !important;
      div{
          h5{
            font-size:22px !important;
          }
          p{
            margin-top: 10px;
            font-size: 18px !important;
          }
      }
    }
}

@media (max-width: 320px) {
  .homeHead {
    width: 320px;

    button {
      padding: 0 5px!important;
    }
  }

  .sectionContent {
    .firstView {
      .titleSpace {
        h1 {
          margin-top: 20px!important;
        }
      }
    }
  }
}
