html {
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100%;
  overflow-x: hidden !important;
}
h1, h2, h3, h4, h5 {
  font-weight: 600;
}
input {
  font-family:FontAwesome;
}
.pt20 {
  padding-top: 20px
}
.pb20 {
  padding-bottom: 20px;
}
.pl0 {
  padding-left: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}
.pl15 {
  padding-left: 15px;
}
.pr15 {
  padding-right: 15px;
}
.mt0 {
  margin-top: 0 !important;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt40 {
  margin-top: 40px;
}
.mt80 {
  margin-top: 80px;
}
.mb0 {
  margin-bottom: 0;
}
.mr10 {
  margin-right: 10px;
}
.noBorder {
  border: none !important;
}
/*nav*/
.navbar-brand {
  padding: 5px 30px;
}
.navbar-brand img {
  height: 50px !important;
}
.customNavbar {
  z-index: 99999;
  border-radius: 0;
  border: none;
  background-color: @wt !important;
  border-bottom: 3px solid #69d2e7;
  height: 60px;
  color: @grey3;
  margin-bottom: 0 !important;
  width: 100%;
}
.customNavbar .navbar-collapse, .customNavbar .navbar-form {
  background-color: @wt;
  border-color: #69d2e7 ;
}
.leftNav {
  margin-left: 30px;
}
.customNavbar img {
  height: 40px;
  width: auto;
}
.customNavbar ul li a {
  margin: 0px 5px;
  padding: 7px 13px;
}
.customNavbar .dropdown {
  margin: 0px 10px;
  padding: 8px 0px;
}
.customNavbar .dropdown a {
  padding-left: 30px;
  margin-top: 2px;
  margin-left: 17px;
}
.customNavbarButton {
  border: none;
  background-color: transparent !important;
  padding: 14px 10px;
}
.customNavbar .navbar-toggle .icon-bar {
  background-color: #69d2e7;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  z-index: 5;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  color: @wt;
  line-height: 40px;
  text-align: center;
  //background: var(--accent-color);
  background: var(--primary-color);
  display: inline-block;
  float: left;
  z-index: 999999 !important;
  position: relative;
}
.circleSmall {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #7cc576;
  display: block;
  border: 2px solid @wt;
  z-index: 999999 !important;
  position: absolute;
  top: 37px;
  left: 27px
}
@media (max-width: 767px) {
  .leftNav {
    margin-left: -15px;
  }
  .navbar-brand {
    padding-top: 5px;
    padding-left: -webkit-calc(50% - 121px);
    padding-left:    -moz-calc(50% - 121px);
    padding-left:         calc(50% - 121px);
  }
  .customNavbarButton {
    float: left !important;
  }
}
/*END: nav*/
/*Side menu*/
.nav-side-menu {
  overflow: auto;
  background-color: var(--column-background-color);
  position: fixed;
  top: 60px;
  width: 250px;
  height: calc( 100% - 60px);
  left: 0;
  color: @wt;
  transition: left 0.15s ease-in;
}
.nav-side-menu.hide-menu {
  left: -250px;
}
.rotate-arrow {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.nav-side-menu a img {
  float: left;
  margin-right: 10px;
}

.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu .dropdown-toggle {
  font-weight: 700;
  padding-left: 10px;
}
.nav-side-menu .dropdown-menu {
  background-color: #595959;
  text-align: center;
}
.nav-side-menu .dropdown-menu li a:hover {
  color: @wt;
  text-decoration: none;
  background-color: #69d2e7;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  border-left: 5px solid @grey3;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f105" !important;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: left;
  color: @red;
  font-size: 20px;
}

.nav-side-menu ul.active,
.nav-side-menu li.active {
  background-color: #747a7e;
  border-left: 5px solid #69d2e7;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: @grey3;
  border: none;
  line-height: 28px;
  padding-left: 20px;
  border-left: 5px solid @grey3;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active,
.nav-side-menu ul .sub-menu li:active,
.nav-side-menu li .sub-menu li:active {
  background-color: #747a7e !important;
  border-left: 5px solid #69d2e7 !important;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #747a7e;
  border-left: 5px solid #69d2e7;
}
.sub-menu li.active {
  background-color: #747a7e;
  border-color: #69d2e7;
}
.nav-side-menu li {
  padding-left: 0px;
}
.nav-side-menu li a {
  text-decoration: none;
  color: @greylight;
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 20px;
}
.highlight {
  border-color: #69d2e7 !important;
}
.menu-content li a:hover {
  text-decoration: none;
  color: @wt;
}
.menu-content li:hover {
  background-color: #747a7e;
  border-left: 5px solid #69d2e7;
}

@media (max-width: 767px) {
  .nav-side-menu {
    width: 0;
    height: 100%;
    transition: 0.5s;
    top: 0px;
    z-index: 99;
  }
  #main {
    transition: margin-left .5s;
    width: 100%;
  }
  .profile {
    padding: 15px;
  }
  .profile .dropdown-toggle {
    padding-left: 50px;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
/*END: Side menu*/
/* Trombinoscope page */
.blue_bg_content {
  background-color: @paleBlue;
  width: 100%;
  min-height: calc(~'100vh - 95px');
  padding-bottom: 20px;
}
.main_block {
  width: -webkit-calc(100% - 250px);
  width:    -moz-calc(100% - 250px);
  width:         calc(100% - 250px);
  margin-left: 250px;
}
.white_bg_padding {
  background-color: @wt;
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
  padding: 10px 20px;
}
.white_bg {
  background-color: @wt;
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
}
.white_bg_padding h3 {
  margin-top: 10px;
  margin-bottom: 0;
}
.customSelect .dropdown-menu img{
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.customSelect .dropdown-menu li a {
  padding: 3px 5px;
}
.customSelect .dropdown-menu h5 {
  margin: 0;
}
.customSelect .img_description {
  margin: 0 10px 0px 45px;
}
.customSelect .btn .caret {
  margin-left: 10px;
  color: #69d2e7;
}
.customSelect .dropdown {
  float: left;
  outline: none !important;
  margin-left: -2px;
}
.dropdown_btn {
  background-color: transparent;
  border: none;
  padding: 10px 22px;
}
.customSelect .open {
  background-color: #B4F4FF;
}
.customSelect .dropdown-menu {
  min-width: 220px;
  border: 2px solid @bluelight;
}
.customSelect .dropdown-menu li {
  border-bottom: 1px solid @grey2;
}
.search {
  background-image: url(../img/resident/icon-42.png);
  background-repeat: no-repeat;
  background-position: 5px;
  padding: 19px 12px 19px 40px;
  margin-left: 20px;
}
.search_box {
  float: left;
}
.blue_divider {
  height: 32px;
  width: 1px;
  float: left;
  margin-top: 4px;
  background-color: #B4F4FF;
  margin-left: -1px;
}
.customSelect .form-control {
  border: 1px solid transparent;
  font-weight: 600;
  box-shadow: none;
}
.customSelect .form-control:focus {
  box-shadow: inset 0 1px 1px #69d2e7, 0 0 8px #69d2e7;
}
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
.red_btn {
  //background-color: var(--button-color);
  background-color: var(--secondary-color);
  color: @wt !important;
  outline: none !important;
  font-size: 18px;
  padding: 6px;
}
chool_block img {
  width: 100%;
}
.school_block {
  text-align: center;
}
/* main_block_mob */
#etudiant img, #forum2_list_block2 img, #participantsBlock img {
  float: left;
  display: inline-block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
#ecole img {
  float: left;
  display: inline-block;
  width: 150px;
  height: 100px;
}
#etudiant .img_description, #forum2_list_block2 .img_description, #participantsBlock .img_description {
  margin-left: 130px;
  padding-top: 10px;
}
#ecole .img_description {
  margin-left: 180px;
  padding-top: 10px;
}
.custom_tab {
  background-color: @wt;
}
.custom_tab li {
  width: 50%;
  text-align: center;
  border: none;
}
.custom_tab li.active {
  border-bottom: 5px solid #69d2e7;
}
.custom_tab li a {
  border: none;
  color: @bluelight;
  background-color: #A3D400;
  margin: 15px;
  font-size: 18px;
  font-weight: 600;
}
.custom_tab>li>a:hover {
  border-color: transparent;
  background-color: #A3D400;
}
.custom_tab>li.active>a, .custom_tab>li.active>a:focus, .custom_tab>li.active>a:hover {
  color: #69D2E7;
  cursor: default;
  background-color: #A3D400;
  border: none;
}
.tab-content .list-group-item, #participantsBlock .list-group-item {
  background-color: transparent;
  border-bottom: 1px solid @grey2;
  border-right: none;
  border-left: none;
  height: 120px;
  padding-left: 25px;
}
.tab-content .list-group-item:hover, #participantsBlock .list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: @wt;
}
/* END: main_block_mob */
/*END: Trombinoscope page*/
/*Forum1 page*/
.position_relative {
  position: relative;
}
.infoPlus {
  position: absolute;
  right: 20px;
  top: 33px;
}
.btn_modal {
  border-radius: 0;
  background-color: @wt;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  font-weight: 600;
  padding: 10px 12px;
  height: 40px;
}
.btn_modal:focus, .btn_modal:active, .btn_modal:hover {
  border-bottom: 3px solid #69d2e7;
  color: #69d2e7;
  padding: 10px 12px 7px;
}
.btn_modal:hover span.badge {
  background-color: var(--notification-color);
}
.btn-group {
  text-align: right;
}
.divider_bottom {
  height: 2px;
  background-color: @grey2;
  max-width: 950px;
  margin: 0 auto;
}
.panel_box h3 {
  margin: 0;
}
.user_info {
  font-size: 16px;
  line-height: 35px;
  color: @grey;
}
.user {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 18px;
  color: @wt;
  line-height: 35px;
  text-align: center;
  //background: var(--accent-color);
  background: var(--primary-color);
  display: inline-block;
  float: left;
  z-index: 999 !important;
  position: relative;
  margin-right: 5px;
}
.user_active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #7cc576;
  display: block;
  border: 2px solid @wt;
  z-index: 9999 !important;
  position: absolute;
  top: 25px;
  left: 23px
}
.pencil {
  font-size: 26px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: @grey;
}
.month {
  color: @red;
  text-align: right;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 10px;
  font-size: 12px;
}
.day {
  font-size: 18px;
  text-align: right;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 16px;
}
.view {
  margin-left: 10px;
}
.map_marker {
  font-size: 26px;
}
/* main_block_mob */
.navbar_text {
  position: absolute;
  text-decoration: none;
  color: #69D2E7;
  top: 18px;
  font-size: 14px;
}
.custom_tab_forum1, .custom_tab_forum2 {
  background-color: @wt;
}
.custom_tab_forum1 li {
  width: 100%;
  text-align: center;
}
.custom_tab_forum1 li.active, .custom_tab_forum2 li.active {
  border-bottom: 5px solid #69d2e7;
}
.custom_tab_forum1 li a, .custom_tab_forum2 li a {
  border: none !important;
  color: #69D2E7 !important;
  background-color: transparent !important;
  margin: 15px;
  font-size: 18px;
  font-weight: 600;
}
.button_white {
  background-color: @wt;
  font-size: 18px;
}
@media (max-width: 767px) {
  .navbar-brand_forum {
    padding-left: -webkit-calc(50% - 91px) !important;
    padding-left:    -moz-calc(50% - 91px) !important;
    padding-left:         calc(50% - 91px) !important;
  }
}
/* END: main_block_mob */
/*END: Forum1 page*/
/*END: Forum2 page*/
.width950 {
  max-width: 950px;
  margin: 0 auto;
}
.participants {
  background-color: #fff;
}
.participants .list-group-item {
  background-color: transparent;
  border-bottom: 1px solid @grey2;
  border-right: none;
  border-left: none;
  min-height: 70px;
  padding-left: 25px;
}
.participants .list-group-item:hover {
  color: #555;
  text-decoration: none;
}
.participants img {
  float: left;
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.participants h3 {
  font-size: 20px;
  line-height: 36px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 15px 10px 10px;
}
.plus_red {
  color: #fe0900;
  font-size: 20px;
}
.participants .img_description {
  margin-left: 70px;
}
.participants .img_description p {
  font-size: 14px;
}
.participants .img_description h4 {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 16px;
}
.user_avatar,.user_info_block {
  float: left;
}
.user_info_block {
  padding-left: 10px;
}
.user_info_block p{
  margin-bottom: 0px;
}
.user_info_dark {
  font-size: 16px;
  line-height: 30px;
  color: @black;
  font-weight: 600;
}
.panel {
  border-radius: 0;
}
.panel-heading {
  //border-bottom: 1px solid @grey2;
  width: 100%;
  min-height: 64px;
  height: auto;
}
.float_left {
  float: left;
}
.attach_info p {
  margin-bottom: 0;
}
.btn_publier {
  border: none;
  color: @red !important;
  font-weight: 600;
  background-color: transparent;
  font-size: 16px;
}
.btn_publier:disabled {
  color: #ff9ba0 !important;
}
.border_grey {
  border: 1px solid @grey2;
  padding: 10px;
}
/* main_block_mob */
.custom_tab_forum2 li {
  width: 50%;
  text-align: center;
}
.pencil_small {
  color: @grey;
}
/* END: main_block_mob */
/*END: Forum2 page*/
/* Modal */
.custom_modal {
  margin-top: 60px;
  z-index: 9999999;
}
.modal-title {
  color: @red;
}
.modal-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(~'100vh - 40px') !important;
  border-radius: 0;
}
.modal-header {
  border: none;
}
.modal-content p, .form_text {
  color: #69D2E7;
  font-weight: 600;
}
.button_into_modal {
  font-size: 14px;
  padding: 6px 20px;
}
.close_line {
  margin-top: 27px;
  float: left;
}
.button_add_modal {
  color: #69D2E7!important;
  background-color: transparent;
  border: none;
}
.plus_add_modal {
  border-radius: 50%;
  border: 1px solid #69D2E7;
  padding: 1px 2px;
  font-size: 12px;
}
.input_group_custom {
  background-color: transparent;
}
/* END: Modal */
/* Contact page */
.tabcontent_hide {
  display: none;
}
.chat_container {
  background-color: @wt;
  max-width: 950px;
  margin: 20px auto;
}
.custom-search-input {
  margin: 0;
  padding: 10px;
  border-top: 1px solid @grey2;
}
.member_list .chat-body {
  margin-left: 40px;
  margin-top: 0;
}
.member_list .chat-body p {
  margin-bottom: 0;
}
.top_nav {
  overflow: visible;
}
.member_list .contact_sec {
  margin-top: 3px;
}
.member_list li {
  padding: 6px;
}
.member_list ul {
  border: 1px solid @grey2;
}
.chat-img img {
  height: 34px;
  width: 34px;
}
.member_list li {
  border-bottom: 1px solid @grey2;
  padding: 6px;
}
.member_list li:last-child {
  border-bottom:none;
}
.member_list {
  border-top: 1px solid @grey2;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

.new_message_head {
  float: left;
  font-size: 13px;
  font-weight: 600;
  padding: 9.5px 15px;
  width: 100%;
  border-bottom: 1px solid @grey2;
}

.chat_area {
  float: left;
  height: 230px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.chat_area p {
  font-size: 12px;
}
.chat_area li {
  padding: 14px 14px 0;
}
.chat_area li .chat-img1 img {
  height: 40px;
  width: 40px;
}
.chat_area .chat-body1 {
  margin-left: 50px;
}
.chat_area p {
  margin-bottom: 0;
}
.chat_time {
  width: 50px;
}
.chat-body1 p {
  width: calc(100% - 50px);
  float: left;
  padding: 10px;
}

.chat_area li:last-child {
  padding-bottom: 10px;
}
.message_write {
  float: left;
  padding: 10px;
  width: 100%;
}
.message_error {
  border: 1px solid #fe0900;
}
.member_list li {
  border-left: 5px solid @wt;
}
.member_list li:hover {
  background: @grey2 none repeat scroll 0 0;
  cursor:pointer;
  border-left: 5px solid #69d2e7;
}
.paperclip {
  font-size: 20px;
}
.write_message {
  width: 70%;
  float: left;
}
.btn_paperclip {
  color: #333;
}
.chat_sidebar {
  border-right: 1px solid @grey2;
  position: relative;
}
.pencil-square_btn {
  padding: 5px;
}
.chat_sidebar h4 {
  font-size: 14px;
  margin-left: 10px;
}
.chat_sidebar p {
  font-size: 10px;
}
.pencil-square {
  font-size: 20px;
  color: #69D2E7;
  position: absolute;
  top: 5px;
  right: 10px;
}
.typing {
  margin-bottom: 0;
  color: @grey;
  font-style: italic;
  font-size: 12px;
}
/* main_block_mob */
.navbar_text2 {
  top: 10px;
}
.pencil-square_mob {
  font-size: 20px;
  color: #69D2E7;
  position: absolute;
  top: 30px;
  right: 10px;
}
.pencil-square_btn_mob {
  padding: 0;
  border: none;
}
.btn_box {
  box-shadow: none !important;
  outline: none !important;
}
#participantsBlock h4{
  font-size: 18px;
  margin-left: 0;
}
.users_btn {
  padding: 0;
}
@media (max-width: 767px) {
  .chat_sidebar {
    border: none;
  }
}
/* END: main_block_mob */
/* END: Contact page */

