<template name="home">
    {{> headerHome}}
    <div class="home_body">
        <section class="section-banner office-section">
            <div class="container">
            <div class="banner">
                <h1 class="banner__hero big_font">{{getDicoVar "homePage" "block1_title"}}</h1>
                <p class="banner__lead">{{{getDicoVar "homePage" "block1_text"}}}</p>
                <p class="banner__lead">{{{getDicoVar "homePage" "entry_point"}}}</p>
                <div class="banner__actions">
                    <a href="" class="toOffice home_btn btn btn--lg home_href">{{{getDicoVar "homePage" "office"}}}</a>
                    <a href="" class="toResidential home_btn btn btn--lg alt-btn home_href">{{{getDicoVar "homePage" "residential"}}}</a>
                </div>
            </div>
                <a href="#featuresSection" class="scroll-down-icon scroll home_href"></a>
            </div>
        </section>

        <section class="section-banner banner-residential residential-section hidden">
            <div class="container">
            <div class="banner">
                <h1 class="banner__hero big_font">{{getDicoVar "homePage" "block1_title"}}</h1>
                <p class="banner__lead">{{{getDicoVar "homePage" "block1_text"}}}</p>
                <p class="banner__lead">{{{getDicoVar "homePage" "entry_point"}}}</p>
                <div class="banner__actions">
                    <a href="" class="toOffice home_btn btn btn--lg alt-btn home_href">{{{getDicoVar "homePage" "office"}}}</a>
                    <a href="" class="toResidential home_btn btn btn--lg home_href">{{{getDicoVar "homePage" "residential"}}}</a>
                </div>
            </div>
                <a href="#featuresSection2" class="scroll-down-icon scroll home_href"></a>
            </div>
        </section>

        <section class="section-features office-section" id="featuresSection">
            <div class="container">
            <h2 class="text-center normal_font">{{{getDicoVar "homePage" "offer"}}}</h2>
            <div class="features">
                <div class="feature-box">
                <img src="/img/homePage/feature-1@2x.png" />
                <div class="feature-box__content">
                    <h5 class="small_font">{{{getDicoVar "homePage" "communicate"}}}</h5>
                    <ul class="list feature-box__list">
                    <li>{{{getDicoVar "homePage" "push_infos"}}}</li>
                    <li>{{{getDicoVar "homePage" "report_follow"}}}</li>
                    <li>{{{getDicoVar "homePage" "plan"}}}</li>
                    <li>{{{getDicoVar "homePage" "manual"}}}</li>
                    </ul>
                </div>
                </div>
                <div class="feature-box">
                <img src="/img/homePage/feature-2@2x.png" />
                <div class="feature-box__content">
                    <h5 class="small_font">{{{getDicoVar "homePage" "create_community"}}}</h5>
                    <ul class="list feature-box__list">
                        <li>{{{getDicoVar "homePage" "directory"}}}</li>
                        <li>{{{getDicoVar "homePage" "chat"}}}</li>
                        <li>{{{getDicoVar "homePage" "forum"}}}</li>
                        <li>{{{getDicoVar "homePage" "ads"}}}</li>
                    </ul>
                </div>
                </div>
                <div class="feature-box">
                <img src="/img/homePage/feature-3@2x.png" />
                <div class="feature-box__content">
                    <h5 class="small_font">{{{getDicoVar "homePage" "gather_all"}}}</h5>
                    <ul class="list feature-box__list">
                    <li>{{{getDicoVar "homePage" "booking_spaces"}}}</li>
                    <li>{{{getDicoVar "homePage" "concierge"}}}</li>
                    <li>{{{getDicoVar "homePage" "connected"}}}</li>
                    <li>{{{getDicoVar "homePage" "online_payment"}}}</li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
        </section>

        <section class="section-features residential-section hidden" id="featuresSection2">
            <div class="container">
                <h2 class="text-center normal_font">{{{getDicoVar "homePage" "offer_2"}}}</h2>
                <div class="features">
                    <div class="feature-box">
                        <img class="set-height" src="/img/homePage/feature-residential-1.jpg" />
                        <div class="feature-box__content">
                            <h5 class="small_font">{{{getDicoVar "homePage" "communicate"}}}</h5>
                            <ul class="list feature-box__list">
                                <li>{{{getDicoVar "homePage" "share_info"}}}</li>
                                <li>{{{getDicoVar "homePage" "report_incidents"}}}</li>
                                <li>{{{getDicoVar "homePage" "build_manual"}}}</li>
                                <li>{{{getDicoVar "homePage" "chat_with_manager"}}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="feature-box">
                        <img class="set-height" src="/img/homePage/feature-residential-2.jpg" />
                        <div class="feature-box__content">
                            <h5 class="small_font">{{{getDicoVar "homePage" "foster_communication"}}}</h5>
                            <ul class="list feature-box__list">
                                <li>{{{getDicoVar "homePage" "building_directory"}}}</li>
                                <li>{{{getDicoVar "homePage" "chat"}}}</li>
                                <li>{{{getDicoVar "homePage" "forum"}}}</li>
                                <li>{{{getDicoVar "homePage" "ads"}}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="feature-box">
                        <img class="set-height" src="/img/homePage/feature-residential-3.jpg" />
                        <div class="feature-box__content">
                            <h5 class="small_font">{{{getDicoVar "homePage" "gather_all"}}}</h5>
                            <ul class="list feature-box__list">
                                <li>{{{getDicoVar "homePage" "concierge"}}}</li>
                                <li>{{{getDicoVar "homePage" "package_mngt"}}}</li>
                                <li>{{{getDicoVar "homePage" "security_alerts"}}}</li>
                                <li>{{{getDicoVar "homePage" "online_payment"}}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-flexible-app office-section">
            <div class="container">
            <h2 class="text-center normal_font">{{{getDicoVar "homePage" "flexible"}}}</h2>
            <div class="flexible-app-content">
                <ul class="list flexible-app-content__list">
                <li>{{{getDicoVar "homePage" "mobile_app"}}}</li>
                <li>{{{getDicoVar "homePage" "only_one"}}}</li>
                <li>{{{getDicoVar "homePage" "api_integrations"}}}</li>
                <li>{{{getDicoVar "homePage" "detailed_system"}}}</li>
                </ul>
                <p class="flexible-app-content__lead">
                    {{{getDicoVar "homePage" "app_adaptable"}}}
                </p>
                <div class="text-center">
                <a href="#sectionContact" class="home_btn home_btn--lg home_href">{{{getDicoVar "homePage" "request_demo"}}}</a>
                </div>
            </div>
            </div>
            {{#if $eq langSelected 'fr'}}
                <div class="fr image-overlay"></div>
            {{else}}
                <div class="image-overlay"></div>
            {{/if}}
        </section>

        <section class="section-flexible-app residential-section hidden">
            <div class="container">
                <h2 class="text-center normal_font">{{{getDicoVar "homePage" "secure_app"}}}</h2>

                
                <div class="flexible-app-content">
                    <div class="flexible-app-content-row">
                        <div class="flexible-app-content-col hide-tablet">
                            <img src="/img/homePage/iphones@2x.png" alt="">
                        </div>
                        <div class="flexible-app-content-col">
                            <div class="flexible-app-content-group">
                                <span class="flexible-app-content__lead">{{{getDicoVar "homePage" "convenient"}}}</span>
                                <ul class="list flexible-app-content__list text-gray">
                                    <li>{{{getDicoVar "homePage" "mobile_app"}}}</li>
                                    <li>{{{getDicoVar "homePage" "up_to_date"}}}</li>
                                </ul>
                            </div>


                            <div class="flexible-app-content-group">
                                <span class="flexible-app-content__lead">{{{getDicoVar "homePage" "secure"}}}</span>
                                <ul class="list flexible-app-content__list text-gray">
                                    <li>{{{getDicoVar "homePage" "authorized_access"}}}</li>
                                    <li>{{{getDicoVar "homePage" "personal_data"}}}</li>
                                </ul>
                            </div>

                            <div class="flexible-app-content-group">
                                <span class="flexible-app-content__lead">{{{getDicoVar "homePage" "flexible_app"}}}</span>
                                <ul class="list flexible-app-content__list text-gray">
                                    <li>{{{getDicoVar "homePage" "flexible_modules"}}}</li>
                                    <li>{{{getDicoVar "homePage" "exterior_integration"}}}</li>
                                </ul>
                            </div>

                            <p class="flexible-app-desc">
                                {{{getDicoVar "homePage" "better_sharability"}}}
                            </p>

                            <div class="mobile-text-center">
                                <a href="#sectionContact" class="home_btn home_btn--lg home_href">{{{getDicoVar "homePage" "request_demo"}}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-efficient-app office-section">
            <div class="container">
            <h2 class="text-center normal_font">{{{getDicoVar "homePage" "effient_building"}}}</h2>
            <div class="efficient-app-content">
                <ul class="efficient-app-content__list">
                <li>
                    <div class="icon"><img src="/img/homePage/icon-1.svg" /></div>
                    <span>{{{getDicoVar "homePage" "improved_reactiveness"}}}</span>
                </li>
                <li>
                    <div class="icon"><img src="/img/homePage/icon-2.svg" /></div>
                    <span>{{{getDicoVar "homePage" "increased_interactions"}}}</span>
                </li>
                <li>
                    <div class="icon"><img src="/img/homePage/icon-3.svg" /></div>
                    <span>{{{getDicoVar "homePage" "complete_overview"}}}</span>
                </li>
                </ul>
                <div class="efficient-app-content__highlight-box">
                    {{{getDicoVar "homePage" "collected_data"}}}
                </div>
            </div>
            </div>
        </section>

        <section class="section-efficient-app no-padding-bottom residential-section hidden">
            <div class="container-fluid hide-tablet">
                <div class="row">
                    <h2 class="text-center normal_font">{{{getDicoVar "homePage" "effient_building"}}}</h2>
                    <div class="efficient-app-content">

                        <div class="highlight-box-wrapper">
                            <div class="highlight-box-left hide-tablet">
                                <p>{{{getDicoVar "homePage" "collected_data2"}}}</p>
                                <p>{{{getDicoVar "homePage" "no_sharing"}}}</p>
                            </div>
                            <div class="highlight-box-triangle hide-tablet"></div>
                            <div class="highlight-box-right">
                                <ul class="efficient-app-content__list">
                                    <li>
                                        <div class="icon"><img src="/img/homePage/icon-1.svg" /></div>
                                        <p>
                                            <span>{{{getDicoVar "homePage" "reactiveness"}}}</span><br/>
                                            {{{getDicoVar "homePage" "occupant_reactiveness"}}}
                                        </p>
                                    </li>
                                    <li>
                                        <div class="icon"><img src="/img/homePage/icon-2.svg" /></div>
                                        <p>
                                            <span>{{{getDicoVar "homePage" "workload_reduction"}}}</span><br/>
                                            {{{getDicoVar "homePage" "request_routing"}}}
                                        </p>
                                    </li>
                                    <li>
                                        <div class="icon"><img src="/img/homePage/icon-3.svg" /></div>
                                        <p>
                                            <span>{{{getDicoVar "homePage" "analytics"}}}</span><br/>
                                            {{{getDicoVar "homePage" "statistics_surveys"}}}
                                        </p>
                                    </li>
                                </ul>

                                <div class="efficient-app-content__highlight-box">
                                    <p>{{{getDicoVar "homePage" "collected_data2"}}}</p>
                                    <p>{{{getDicoVar "homePage" "no_sharing"}}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-testimonies" id="sectionTestimonies">
            <div class="container">
            <h2 class="text-center normal_font own-height">{{{getDicoVar "homePage" "testimonies"}}}</h2>
            <div class="testimonies">
                <div class="testimonies-box">
                    <div class="testimonies-profile">
                        <img src="/img/homePage/testimonies_profile.jpg" />
                    </div>
                    {{#if visibleArrowbuttons }}
                    <div class="arrows">
                        <a id="previous">
                            <img src='/img/icons/previous.png'>
                        </a>
                        <a id="next">
                            <img src='/img/icons/next.png'>
                        </a>
                    </div>
                    <div class="arrow-mobile-view">
                        <a class=""><img src = "/img/icons/dots@2x.png"></a>
                    </div>
                    {{/if}}
                    <!-- {{#each item in getTestimoniesList}} -->
                    <div class="testimonies-box__content"><p>{{{getDicoVar "homePage" "testimonies_content"}}}</p></div>
                    <div class="testimonies-box__user_info">
                        <p>
                            <span><strong>{{{getDicoVar "homePage" "testimonies_content_name"}}}</strong></span>
                            <br>{{{getDicoVar "homePage" "testimonies_content_company"}}}
                        </p>
                    </div>
                    <!-- {{/each}} -->
                </div>
            </div>
            </div>
        </section>
        <section class="section-partner" id="sectionPartner">
            <div class="container">
            <h2 class="text-center normal_font">{{{getDicoVar "homePage" "partner"}}}</h2>
            <div class="partner-line">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <li class="col-lg-3 col-sm-6 col-xs-6">
                        <a href="#"><img src="/img/homePage/vinci.png"></a>
                    </li>
                    <li class="col-lg-3 col-sm-6 col-xs-6">
                        <a href="#"><img src="/img/homePage/kley.png"></a>
                    </li> 
                    <li class="col-lg-3 col-sm-6 col-xs-6">
                        <a href="#"><img src="/img/homePage/reside.png"></a>
                    </li>

                    <li class="col-lg-3 col-sm-6 col-xs-6">
                        <a href="#"><img src="/img/homePage/nexity.png"></a>
                    </li>
                    <li class="col-lg-4 col-sm-6 col-xs-6">
                        <a href="#"><img src="/img/homePage/bnp.png"></a>
                    </li>
                    <li class="col-lg-4 col-sm-6 col-xs-6">
                        <a href="#"><img src="/img/homePage/coffim.png"></a>
                    </li>

                    <li class="col-lg-4 col-sm-12 col-xs-12">
                        <a href="#"><img src="/img/homePage/eme.png"></a>
                    </li>
                </div>
            </div>
            </div>  
        </section>
        <section class="section-contact" id="sectionContact">
            <div class="container">
            <h2 class="text-center normal_font">{{{getDicoVar "homePage" "contact_us"}}}</h2>
            <div class="contact">
                <div class="contact__content">
                <p>{{{getDicoVar "homePage" "comment_wish"}}}</p>
                <ul class="contact-list">
                    <li><i class="home_icon home_icon--mail"></i><a href="mailto:bonjour@monbuilding.com" class="home_href">{{{getDicoVar "homePage" "send_us"}}}</a></li>
                    <li><i class="home_icon home_icon--map-pin"></i><span>{{{getDicoVar "homePage" "boulevard_de"}}}<br/> {{{getDicoVar "homePage" "paris_france"}}}</span></li>
                </ul>
                </div>
                <div class="contact__form">
                    <input type="text" class="{{#if isEmailError}}errorInput{{/if}} home_input" name="contact_email" placeholder="{{getDicoVar "homePage" "email_address_placeholder"}}" />
                    <textarea class="home_input" name="contact_text" placeholder="{{getDicoVar "homePage" "email_placeholder"}}"></textarea>
                    <div class="text-right">
                        <a class="home_btn home_href {{#if disableButtonContact}}home_btn--disable{{/if}}" name="sendFormContact">{{{getDicoVar "homePage" "send_btn"}}}</a>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </div>
    {{> footer}}
</template>
