<template name='admin_activeUsers'>
  {{#if updateCondo}}{{/if}}
  {{#if isCondoAvailable}}
    {{#let occupants=(getOccupants) totalOccupant=(getTotal)}}
      {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=searchCallback counter=occupants.length}}
      <div class='searchResult' style='display: none'>
        {{>MbPanel content=(getDicoVar 'commonTranslation' 'search_result')}}
      </div>
      {{#if totalOccupant}}
        {{#if occupants.length}}
          <table class="managerDetailsContainer table">
            <thead>
              <tr class='containerColumn'>
                <th></th>
                <th>{{getDicoVar 'commonTranslation' 'firstname'}}</th>
                <th>{{getDicoVar 'commonTranslation' 'lastname'}}</th>
                <th>{{getDicoVar 'commonTranslation' 'email'}}</th>
                <th>{{getDicoVar 'commonTranslation' 'mobile'}}</th>
                <th>{{getDicoVar 'commonTranslation' 'profile_details_buildings'}}</th>
                <th>{{getDicoVar 'commonTranslation' 'invited'}}</th>
                <th class='trashColumn'></th>
              </tr>
            </thead>
            <tbody>
              {{#each occupants}}
                <tr class='containerLine {{#if this.isPending}}halfOpacity{{/if}}' userId='{{this._id}}'>
                  <td class='pictureColumn'>
                    {{#if this.avatar}}
                      <div  class='displayPictureImage' style="background-image: url({{this.avatar}}), url(/img/anonymous.png);"></div>
                    {{else}}
                      <div class='displayPictureName'>{{this.initials}}</div>
                    {{/if}}
                  </td>
                  <td class='commonColumn firstnameColumn lighter'>{{this.firstname}}</td>
                  <td class='commonColumn lastnameColumn lighter'>{{this.lastname}}</td>
                  <td class='commonColumn emailColumn lighter'>{{this.email}}</td>
                  <td class='commonColumn phoneColumn lighter'>{{formatMobileNum this.tel this.telCode}}</td>
                  <td class='commonColumn condosColumn lighter' name='condosColumn-{{this._id}}'>
                  {{#each condo in condos}}
                    <div>{{getCondoName condo.condoId}}</div>
                    {{#if this.isPending}}
                      <div><i><b>({{getDicoVar 'moduleTrombinoscopeIndex' 'waitingPW'}})</b></i></div>
                    {{/if}}
                  {{/each}}
                  </td>
                  <td class='commonColumn invitedColumn lighter'>
                    {{#each condo in condos}}
                      <div>{{humanDateShort condo.invited}}</div>
                      {{#if this.isPending}}
                        <div>&nbsp;</div>
                      {{/if}}
                    {{/each}}
                  </td>
                  <td class='commonColumn trashColumn'><div userId='{{this._id}}' userName='{{this.firstname}} {{this.lastname}}' condos={{this.condos}}></div></td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          {{> MbEmpty
            title=(getDicoVar 'commonTranslation' 'no_result')
          }}
        {{/if}}
      {{else}}
        {{> MbEmpty
          title=(getDicoVar 'commonTranslation' 'no_occupant_yet')
          subTitle=(getDicoVar 'commonTranslation' 'occupant_add_by_you_and_authorized')
          buttonLabel=(getDicoVar 'commonTranslation' 'manager_invite_occupant')
          onButtonClick=addNewManager
        }}
      {{/if}}
    {{/let}}
  {{else}}
    {{> loader}}
  {{/if}}
</template>
