<template name="contactManagement_trombi">
	{{> loader display_auto=false}}
	<div id="allRender" class="contact-management">
		<div class="infoTab col-xs-12">
			<img class="pull-left" src="/img/icons/attention.png" alt="">
			<p class="pull-left">
				{{getDicoVar 'contactManagement' 'trombiSpeaker1'}}
				<strong>{{getDicoVar 'contactManagement' 'trombiSpeaker2'}}</strong>
				{{getDicoVar 'contactManagement' 'trombiSpeaker3'}}
			</p>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="d-panel blue mt16">
					<div class="d-panel-head">
						<h3>{{getDicoVar 'contactManagement' 'ManagerW/Account'}}</h3>
					</div>
					<div class="d-panel-body manager-account">
						<div class="d-des-form">
							<form>
								<div class="multi-select">
									{{>MbMultipleCondoPicker
										onSelect=(saveManager getDeclarationTrombiId)
										selectedUserIds=getUserDeclarationTrombi
										options=managerMembers
										label='Select Manager'
										type ='user'
										required=true
										multiple=true
										defaultSelect=false
										disabled=(reverseBool (userHasRight "setContact" 'writeWhosWho'))
									}}
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="d-panel blue mt24">
					<div class="d-panel-head">
						<h3>{{getDicoVar 'contactManagement' 'ManagerW/OAccount'}}</h3>
					</div>
					<div class="d-panel-body manager-list">
						<div class="d-des-form m24">
							{{#if managerMembersUnregistered.length}}
								<table class="managerDetailsContainer table">
									<thead>
										<tr class='containerColumn'>
										<th></th>
										<th> {{ getDicoVar 'commonTranslation' 'firstname' }} </th>
										<th> {{ getDicoVar 'commonTranslation' 'lastname' }} </th>
										<th> {{getDicoVar 'commonTranslation' 'status_to_occupant'}}</th>
										<th> {{ getDicoVar 'commonTranslation' 'phone' }}  </th>
										<th class='trashColumn'>{{ getDicoVar 'commonTranslation' 'action' }}</th> 
										</tr>
									</thead>
									<tbody>
										{{#each user in managerMembersUnregistered}}
										<tr class='containerLine' userId='{{this._id}}'>
											<td class='pictureColumn'>
											{{#if user._id}}
												<div  class='displayPictureImage' style="background-image: url({{getAvatar(user._id)}});"></div>
											{{/if}}
											</td>
											<td class='commonColumn firstnameColumn lighter'>{{user.firstname}}</td>
											<td class='commonColumn lastnameColumn lighter'>{{user.lastname}}</td>
											<td class='commonColumn emailColumn lighter'>{{user.function}}</td>
											<td class='commonColumn phoneColumn lighter'>{{user.phone}}</td>
											<td class='commonColumn trashColumn' userId='{{user._id}}'><div ></div></td>
										</tr>
										{{/each}}
									</tbody>
								</table>
							{{/if}}
							{{#if userHasRight "setContact" 'writeWhosWho'}}
								{{> MbButton label=(getDicoVar 'contactManagement' 'AddNewManager') class='danger md m24' type='button' id='edit-manager-no-account'}}
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="modal_addManager" class="modal fade right main-modal d-modal" role="dialog" tabindex="-1">
			<div class="modal-dialog" role="document">
				<button type="button" class="close round-close" data-dismiss="modal">
					<img src="/img/icons/croix_48px.svg" width="36" alt="">
				</button>
				<div class="modal-content">
					<div class="modal-header">
						<div class="modal-heading pull-left">
							<h4 class="modal-title" id="myModalLabel">{{getDicoVar 'contactManagement' 'AddNewManager'}}</h4>
						</div>
					</div>
					<div class="modal-body clearfix">
						{{#each newManager}}
						<form data-toggle="validator">
							<div>
								<div class="row" style='margin-left: -6px'>
									<div class="col-sm-12">
										{{> MbInput
											label=(getDicoVar 'contactManagement' 'firstname')
											required=true
											value=this.firstname
											onInput=(onInputDetails 'firstname')
											placeholder=(getDicoVar 'contactManagement' 'firstname')
										}}
									</div>
									<div class="col-sm-12">
										{{> MbInput
											label=(getDicoVar 'contactManagement' 'lastname')
											required=true
											value=this.lastname
											placeholder=(getDicoVar 'contactManagement' 'lastname')
											maxlength="25" 
											onInput=(onInputDetails 'lastname')
										}}
									</div>
									<div class="col-sm-12">
										{{> MbInput
											label=(getDicoVar 'commonTranslation' 'status_to_occupant')
											required=true
											placeholder=(getDicoVar 'commonTranslation' 'status_to_occupant')
											maxlength="25" 
											value=this.function
											onInput=(onInputDetails 'function')
										}}
										</div>
									<div class="col-sm-2 phone-code">
										{{> MbSelect
											selected=(getFormEntity 'phoneCode')
											isPhoneCodeList=true
											required=false
											label=(getDicoVar 'commonTranslation' 'code')
											onSelect=(onSelect 'phoneCode')
											options=(parsePhoneCode GetAllPhoneCode)
											placeholder=(getDicoVar 'commonTranslation' 'select_area_code')
											refresher=null
										}}
									</div>
									<div class="col-sm-3" style="padding-left: 24px;">
										{{> MbInput
											label=(getDicoVar 'contactManagement' 'phone')
											required=true
											placeholder=(getDicoVar 'contactManagement' 'phone')
											maxlength="25" 
											value=this.phone
											onInput=(onInputDetails 'phone')
										}}
										 <div id="errorWrongPhoneNumberText" style='color:red;margin-bottom: 20px;'>Please enter a valid phone number</div>
									</div>
								</div>
								<div class="d-panel-head">
									<h3>{{getDicoVar 'contactManagement' 'ManagerW/OAccount'}}</h3>
								</div>
								<div class="mt24">
									{{> FileList files=previewFiles onRemove=onFileRemoved onFileAdded=onFileAdded showDropBox=true newDisplay=false }}
								</div>
							</div>
							
							<button id="validNewManager" type="submit" class="btn btn-red-confirm md mt24 pull-right add-btn">
								{{getAddLabel}}
							</button>
						</form>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
		{{#if renderSelect2}}{{/if}}
	</div>
</template>
