<template name="create_successful">
    <div class="row col-xs-12 signUpSuccess">
        <div class="content">
            <h2>{{getDicoVar "home" "thanks_signin"}}</h2>
            {{#if isToBackoffice}}

            <p> {{{getDicoVar "home" "explain_signin"}}}</p>

            <div class="form-group mt20 pull-right">
                <a href="/{{getLang}}"><button class="btn red_btn">{{getDicoVar "home" "back_home"}}</button></a>
            </div>
            {{else}}

            <p>{{{getDicoVar "home" "explain_signin2"}}}</p>

            <div class="form-group mt20 pull-right">
                <a href="/{{getLang}}"><button class="btn red_btn">{{getDicoVar "home" "back_home"}}</button></a>
            </div>
            {{/if}}
        </div>
    </div>
</template>
