<template name="satisfaction">
	<style type="text/css">
		@import url("/css/material.css");
		@import url("/css/satisfaction.css");
	</style>
	<div class="orphanWrapper">
		<div class="flex col">
			<div class="mdl-grid mdl-grid--no-spacing mdl-cell--12-col">
				<div class="mdl-layout-spacer"></div>
				<div class="mdl-cell--8-col flex" id="orphanHead">
					<img src="/img/logo_estudines.png" height="50" alt="Logo" class="relativeVCenter"/>
					<h3>{{getDicoVar 'satisfaction' 'title'}}</h3>
				</div>
				<div class="mdl-layout-spacer"></div>
			</div>
			<div class="mdl-grid mdl-grid--no-spacing mdl-cell--12-col" style="margin-bottom:40px;">
				<div class="mdl-layout-spacer"></div>
				<div class="mdl-cell--8-col flex col" id="orphanBody">
					<div class="questionBox flex col">
						<h5>{{getDicoVar 'satisfaction' 'howknow'}}</h5>

						<input type="radio" class="smallRadio" id="howknowInternet" name="howknow" value="internet"><label for="howknowInternet">{{getDicoVar 'satisfaction' 'internet'}}</label>
						<input type="radio" class="smallRadio" id="howknowSchool" name="howknow" value="school"><label for="howknowSchool">{{getDicoVar 'satisfaction' 'school'}}</label>
						<input type="radio" class="smallRadio" id="howknowPress" name="howknow" value="press"><label for="howknowPress">{{getDicoVar 'satisfaction' 'press'}}</label>
						<input type="radio" class="smallRadio" id="howknowFriends" name="howknow" value="friends"><label for="howknowFriends">{{getDicoVar 'satisfaction' 'friends'}}</label>
						<input type="radio" class="smallRadio" id="howknowPassage" name="howknow" value="passage"><label for="howknowPassage">{{getDicoVar 'satisfaction' 'passage'}}</label>
						<input type="radio" class="smallRadio" id="howknowSponsorship" name="howknow" value="sponsorship"><label for="howknowSponsorship">{{getDicoVar 'satisfaction' 'sponsorship'}}</label>

						<input type="radio" id="howknowOther" name="howknow" class="otherRadio smallRadio" value="other"><label for="howknowOther">{{getDicoVar 'satisfaction' 'other'}} : </label>
						<input type="text" id="howKnowOtherText" name="howknowText" class="otherText">
					</div>

					<div class="questionBox flex col">
						<h5>{{getDicoVar 'satisfaction' 'whyresidence'}}</h5>

						<input type="radio" class="smallRadio" id="whyresNearSchool" name="whyresidence" value="nearSchool"><label for="whyresNearSchool">{{getDicoVar 'satisfaction' 'nearSchool'}}</label>
						<input type="radio" class="smallRadio" id="whyresNearTransports" name="whyresidence" value="nearTransports"><label for="whyresNearTransports">{{getDicoVar 'satisfaction' 'nearTransports'}}</label>
						<input type="radio" class="smallRadio" id="whyresAccessibility" name="whyresidence" value="accessibility"><label for="whyresAccessibility">{{getDicoVar 'satisfaction' 'accessibility'}}</label>
						<input type="radio" class="smallRadio" id="whyresDowntown" name="whyresidence" value="downtown"><label for="whyresDowntown">{{getDicoVar 'satisfaction' 'downtown'}}</label>
						<input type="radio" class="smallRadio" id="whyresCalm" name="whyresidence" value="calm"><label for="whyresCalm">{{getDicoVar 'satisfaction' 'calm'}}</label>
						<input type="radio" class="smallRadio" id="whyresFriends" name="whyresidence" value="friends"><label for="whyresFriends">{{getDicoVar 'satisfaction' 'friendsHere'}}</label>
						<input type="radio" class="smallRadio" id="whyresServices" name="whyresidence" value="services"><label for="whyresServices">{{getDicoVar 'satisfaction' 'services'}}</label>
						<input type="radio" class="smallRadio" id="whyresComfort" name="whyresidence" value="comfort"><label for="whyresComfort">{{getDicoVar 'satisfaction' 'comfort'}}</label>
						<input type="radio" class="smallRadio" id="whyresUpkeep" name="whyresidence" value="upkeep"><label for="whyresUpkeep">{{getDicoVar 'satisfaction' 'upkeep'}}</label>
						<input type="radio" class="smallRadio" id="whyresReactivity" name="whyresidence" value="reactivity"><label for="whyresReactivity">{{getDicoVar 'satisfaction' 'reactivity'}}</label>
						<input type="radio" class="smallRadio" id="whyresQualityReception" name="whyresidence" value="qualityReception"><label for="whyresQualityReception">{{getDicoVar 'satisfaction' 'qualityReception'}}</label>
						<input type="radio" class="smallRadio" id="whyresQualityManagement" name="whyresidence" value="qualityManagement"><label for="whyresQualityManagement">{{getDicoVar 'satisfaction' 'qualityManagement'}}</label>
						<input type="radio" class="smallRadio" id="whyresArchitecture" name="whyresidence" value="architecture"><label for="whyresArchitecture">{{getDicoVar 'satisfaction' 'architecture'}}</label>

						<input type="radio" id="whyresOther" name="whyresidence" class="otherRadio smallRadio" value="other"><label for="whyresOther">{{getDicoVar 'satisfaction' 'other'}} : </label>
						<input type="text" id="whyresOtherText" name="whyresidenceText" class="otherText">
					</div>

					<div class="questionBox flex col">
						<h5>{{getDicoVar 'satisfaction' 'howBook'}}</h5>

						<div class="flex">
							<input type="radio" class="bigRadio" id="howbookInternet" name="howbook" value="internet">
							<label for="howbookInternet">
								<div class="labelWrapper">
									<img src="/img/satisfaction/internet.png" alt="Internet" height="60">
									<div class="separator"></div>
									<h6>{{getDicoVar 'satisfaction' 'onInternet'}}</h6>
								</div>
							</label>

							<input type="radio" class="bigRadio" id="howbookMail" name="howbook" value="mail">
							<label for="howbookMail">
								<div class="labelWrapper">
									<img src="/img/satisfaction/enveloppe.png" alt="Mail" height="60">
									<div class="separator"></div>
									<h6>{{getDicoVar 'satisfaction' 'byMail'}}</h6>
								</div>
							</label>

							<input type="radio" class="bigRadio" id="howbookDirect" name="howbook" value="direct">
							<label for="howbookDirect">
								<div class="labelWrapper">
									<img src="/img/satisfaction/immeuble.png" alt="Residence" height="60">
									<div class="separator"></div>
									<h6>{{getDicoVar 'satisfaction' 'directResidence'}}</h6>
								</div>
							</label>
						</div>
					</div>

					<div class="questionBox flex col">
						<h5>{{getDicoVar 'satisfaction' 'isWebsiteOk'}}</h5>

						<input type="radio" class="smallRadio" id="isWebsiteOkYes" name="isWebsiteOk" value="yes"><label for="isWebsiteOkYes">{{getDicoVar 'satisfaction' 'yes'}}</label>
						<input type="radio" class="smallRadio" id="isWebsiteOkNo" name="isWebsiteOk"
						value="no"><label for="isWebsiteOkNo">{{getDicoVar 'satisfaction' 'no'}}</label>

						<textarea name="isWebsiteOkWhy" id="isWebsiteOkWhy" rows="3" placeholder="{{getDicoVar 'satisfaction' 'why'}}"></textarea>
					</div>

					<div class="questionBox flex col">
						<h5>{{getDicoVar 'satisfaction' 'howWasReception'}}</h5>

						<div class="flex">
							<input type="radio" class="bigRadio" id="howWasReceptionTop" name="howWasReception" value="good">
							<label for="howWasReceptionTop">
								<div class="labelWrapper">
									<img src="/img/satisfaction/heureux.png" alt="Top" height="60">
									<div class="separator"></div>
									<h6>{{getDicoVar 'satisfaction' 'top'}}</h6>
								</div>
							</label>

							<input type="radio" class="bigRadio" id="howWasReceptionNormal" name="howWasReception" value="normal">
							<label for="howWasReceptionNormal">
								<div class="labelWrapper">
									<img src="/img/satisfaction/bof.png" alt="Bof" height="60">
									<div class="separator"></div>
									<h6>{{getDicoVar 'satisfaction' 'normal'}}</h6>
								</div>
							</label>

							<input type="radio" class="bigRadio" id="howWasReceptionDisastrous" name="howWasReception" value="bad">
							<label for="howWasReceptionDisastrous">
								<div class="labelWrapper">
									<img src="/img/satisfaction/triste.png" alt="Mal" height="60">
									<div class="separator"></div>
									<h6>{{getDicoVar 'satisfaction' 'disastrous'}}</h6>
								</div>
							</label>
						</div>
					</div>

					<div class="questionBox flex col">
						<h5>{{getDicoVar 'satisfaction' 'simpleProcedure'}}</h5>

						<input type="radio" class="smallRadio" id="simpleProcedureYes" name="simpleProcedure" value="yes"><label for="simpleProcedureYes">{{getDicoVar 'satisfaction' 'yes'}}</label>
						<input type="radio" class="smallRadio" id="simpleProcedureNo" name="simpleProcedure" value="no"><label for="simpleProcedureNo">{{getDicoVar 'satisfaction' 'no'}}</label>

						<textarea name="simpleProcedureWhy" id="simpleProcedureWhy" rows="3" placeholder="{{getDicoVar 'satisfaction' 'why'}}"></textarea>
					</div>

					<div class="questionBox flex col">
						<h5>{{getDicoVar 'satisfaction' 'howInventory'}}</h5>

						<div class="flex">
							<input type="radio" class="bigRadio" id="howInventoryTop" name="howInventory" value="good">
							<label for="howInventoryTop">
								<div class="labelWrapper">
									<img src="/img/satisfaction/heureux.png" alt="Top" height="60">
									<div class="separator"></div>
									<h6>{{getDicoVar 'satisfaction' 'top'}}</h6>
								</div>
							</label>

							<input type="radio" class="bigRadio" id="howInventoryNormal" name="howInventory" value="normal">
							<label for="howInventoryNormal">
								<div class="labelWrapper">
									<img src="/img/satisfaction/bof.png" alt="Bof" height="60">
									<div class="separator"></div>
									<h6>{{getDicoVar 'satisfaction' 'normal'}}</h6>
								</div>
							</label>

							<input type="radio" class="bigRadio" id="howInventoryDisastrous" name="howInventory" value="bad">
							<label for="howInventoryDisastrous">
								<div class="labelWrapper">
									<img src="/img/satisfaction/triste.png" alt="Mal" height="60">
									<div class="separator"></div>
									<h6>{{getDicoVar 'satisfaction' 'disastrous'}}</h6>
								</div>
							</label>
						</div>
					</div>

					<div class="questionBox flex col">
						<h5>{{getDicoVar 'satisfaction' 'haveYouBeenSatisfied'}} : </h5>

						 <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;">
							<tr>
								<td><img src="/img/satisfaction/heureux.png" alt="Top" height="40"></td>
								<td><img src="/img/satisfaction/bof.png" alt="Bof" height="40"></td>
								<td><img src="/img/satisfaction/triste.png" alt="Mal" height="40"></td>
								<td></td>
							</tr>
							<tr>
								<td>
									<input type="radio" class="smallRadio" id="receptionTeamTop" name="receptionTeam" value="good">
									<label for="receptionTeamTop"></label>
								</td>
								<td>
									<input type="radio" class="smallRadio" id="receptionTeamBof" name="receptionTeam" value="normal">
									<label for="receptionTeamBof"></label>
								</td>
								<td>
									<input type="radio" class="smallRadio" id="receptionTeamMal" name="receptionTeam" value="bad">
									<label for="receptionTeamMal"></label>
								</td>
								<td>
									{{getDicoVar 'satisfaction' 'receptionTeam'}}
								</td>
							</tr>
							<tr>
								<td>
									<input type="radio" class="smallRadio" id="cleanlinessTop" name="cleanliness" value="good">
									<label for="cleanlinessTop"></label>
								</td>
								<td>
									<input type="radio" class="smallRadio" id="cleanlinessBof" name="cleanliness" value="normal">
									<label for="cleanlinessBof"></label>
								</td>
								<td>
									<input type="radio" class="smallRadio" id="cleanlinessMal" name="cleanliness" value="bad">
									<label for="cleanlinessMal"></label>
								</td>
								<td>
									{{getDicoVar 'satisfaction' 'cleanliness'}}
								</td>
							</tr>

							<tr>
								<td>
									<input type="radio" class="smallRadio" id="ambienceTop" name="ambience" value="good">
									<label for="ambienceTop"></label>
								</td>
								<td>
									<input type="radio" class="smallRadio" id="ambienceBof" name="ambience" value="normal">
									<label for="ambienceBof"></label>
								</td>
								<td>
									<input type="radio" class="smallRadio" id="ambienceMal" name="ambience" value="bad">
									<label for="ambienceMal"></label>
								</td>
								<td>
									{{getDicoVar 'satisfaction' 'ambience'}}
								</td>
							</tr>

							<tr>
								<td>
									<input type="radio" class="smallRadio" id="breakfastTop" name="breakfast" value="good">
									<label for="breakfastTop"></label>
								</td>
								<td>
									<input type="radio" class="smallRadio" id="breakfastBof" name="breakfast" value="normal">
									<label for="breakfastBof"></label>
								</td>
								<td>
									<input type="radio" class="smallRadio" id="breakfastMal" name="breakfast" value="bad">
									<label for="breakfastMal"></label>
								</td>
								<td>
									{{getDicoVar 'satisfaction' 'breakfast'}}
								</td>
							</tr>

							<tr>
								<td>
									<input type="radio" class="smallRadio" id="laundromatTop" name="laundromat" value="good">
									<label for="laundromatTop"></label>
								</td>
								<td>
									<input type="radio" class="smallRadio" id="laundromatBof" name="laundromat" value="normal">
									<label for="laundromatBof"></label>
								</td>
								<td>
									<input type="radio" class="smallRadio" id="laundromatMal" name="laundromat" value="bad">
									<label for="laundromatMal"></label>
								</td>
								<td>
									{{getDicoVar 'satisfaction' 'laundromat'}}
								</td>
							</tr>

							<tr>
								<td>
									<input type="radio" class="smallRadio" id="changeOfLinenTop" name="changeOfLinen" value="good">
									<label for="changeOfLinenTop"></label>
								</td>
								<td>
									<input type="radio" class="smallRadio" id="changeOfLinenBof" name="changeOfLinen" value="normal">
									<label for="changeOfLinenBof"></label>
								</td>
								<td>
									<input type="radio" class="smallRadio" id="changeOfLinenMal" name="changeOfLinen" value="bad">
									<label for="changeOfLinenMal"></label>
								</td>
								<td>
									{{getDicoVar 'satisfaction' 'changeOfLinen'}}
								</td>
							</tr>

							<tr>
								<td>
									<input type="radio" class="smallRadio" id="sportsHallTop" name="sportsHall" value="good">
									<label for="sportsHallTop"></label>
								</td>
								<td>
									<input type="radio" class="smallRadio" id="sportsHallBof" name="sportsHall" value="normal">
									<label for="sportsHallBof"></label>
								</td>
								<td>
									<input type="radio" class="smallRadio" id="sportsHallMal" name="sportsHall" value="bad">
									<label for="sportsHallMal"></label>
								</td>
								<td>
									{{getDicoVar 'satisfaction' 'sportsHall'}}
								</td>
							</tr>

							<tr>
								<td>
									<input type="radio" class="smallRadio" id="internetConnectionTop" name="internetConnection" value="good">
									<label for="internetConnectionTop"></label>
								</td>
								<td>
									<input type="radio" class="smallRadio" id="internetConnectionBof" name="internetConnection" value="normal">
									<label for="internetConnectionBof"></label>
								</td>
								<td>
									<input type="radio" class="smallRadio" id="internetConnectionMal" name="internetConnection" value="bad">
									<label for="internetConnectionMal"></label>
								</td>
								<td>
									{{getDicoVar 'satisfaction' 'internetConnection'}}
								</td>
							</tr>
						</table>

					</div>

					<div class="questionBox flex col">
						<h5>{{getDicoVar 'satisfaction' 'globalMarkResidence'}}</h5>

						<div class="flex starRate">
							<input type="radio" class="starRadio" id="globalMarkResidence1" name="globalMarkResidence" value="1"><label for="globalMarkResidence1"></label>
							<input type="radio" class="starRadio" id="globalMarkResidence2" name="globalMarkResidence" value="2"><label for="globalMarkResidence2"></label>
							<input type="radio" class="starRadio" id="globalMarkResidence3" name="globalMarkResidence" value="3"><label for="globalMarkResidence3"></label>
							<input type="radio" class="starRadio" id="globalMarkResidence4" name="globalMarkResidence" value="4"><label for="globalMarkResidence4"></label>
							<input type="radio" class="starRadio" id="globalMarkResidence5" name="globalMarkResidence" value="5"><label for="globalMarkResidence5"></label>
						</div>
					</div>

					<div class="questionBox flex col">
						<h5>{{getDicoVar 'satisfaction' 'globalMarkApartment'}}</h5>

						<div class="flex starRate">
							<input type="radio" class="starRadio" id="globalMarkApartment1" name="globalMarkApartment" value="1"><label for="globalMarkApartment1"></label>
							<input type="radio" class="starRadio" id="globalMarkApartment2" name="globalMarkApartment"
							value="2"><label for="globalMarkApartment2"></label>
							<input type="radio" class="starRadio" id="globalMarkApartment3" name="globalMarkApartment"
							value="3"><label for="globalMarkApartment3"></label>
							<input type="radio" class="starRadio" id="globalMarkApartment4" name="globalMarkApartment"
							value="4"><label for="globalMarkApartment4"></label>
							<input type="radio" class="starRadio" id="globalMarkApartment5" name="globalMarkApartment"
							value="5"><label for="globalMarkApartment5"></label>
						</div>
					</div>

					<div class="questionBox flex col">
						<h5>{{getDicoVar 'satisfaction' 'reasonDeparture'}}</h5>

						<textarea name="reasonDeparture" id="reasonDeparture" rows="3"></textarea>
					</div>

					<div class="questionBox flex col">
						<h5>{{getDicoVar 'satisfaction' 'recommendation'}}</h5>

						<input type="radio" class="smallRadio" id="recommendationYes" name="recommendation" value="yes"><label for="recommendationYes">{{getDicoVar 'satisfaction' 'yes'}}</label>
						<input type="radio" class="smallRadio" id="recommendationNo" name="recommendation" value="no"><label for="recommendationNo">{{getDicoVar 'satisfaction' 'no'}}</label>

						<textarea name="recommendationWhy" id="recommendationWhy" rows="3" placeholder="{{getDicoVar 'satisfaction' 'why'}}"></textarea>
					</div>

					<div class="questionBox flex col">
						<h5>{{getDicoVar 'satisfaction' 'suggestions'}}</h5>

						<textarea name="suggestions" id="suggestions" rows="3"></textarea>
					</div>
					
					<div class="questionBox">
						<input type="submit">
					</div>
				</div>
				<div class="mdl-layout-spacer"></div>
			</div>
		</div>
	</div>
</template>