#resources_form, #emergency-contact-add-modal {

  .form-row, .flex-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;

    .paid-duration {
      width: 120px;
    }

    #mb-condo-picker, .mb__textarea {
      flex: 1;
    }

    .hour-picker-day-wrapper {
      align-self: flex-start;
      flex: 0 0 160px;
      margin-top: 12px;
    }
    .hour-picker-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      span.spacer {
        margin: 0 14px;
      }
      .open-hours {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        width: 350px;

        .hour-picker {
          .form-group {
            margin: 0;
            width: 106px;

            .input-group-addon {
              border-color: #E1E2E7;
              padding: 6px 8px;
              background-color: transparent;
              border-radius: 0;

              .image-icon {
                width: 20px;
                height: 20px;
              }
            }

            input {
              border-color: #E1E2E7;
              height: 36px;
              font-family: 'Lato', 'Source Sans Pro', sans-serif;
              text-align: right;
              font-size: 16px;
              letter-spacing: -0.4px;
              color: #8b999f;
            }
          }
        }

        button {
          background-color: transparent;
          border: 0;
          padding: 0 0 0 16px;

          i.image-icon {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}

#resources_form {
  .mb-select, .mb-input {
    margin: 0 8px;
  }

  .sub-tool-bar {
    display: flex;
    justify-content: space-between;

    h1 {
      margin: 0;
    }
  }

  .form-container {
    padding: 20px 16px;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;

    .child-service {
      background-color: #f1f5f6;
      padding: 0 19px 0 25px;
      flex-direction: column!important;

      .child-item {
        margin-top: 20px;
        margin-bottom: 20px;

        .mb-checkbox {
          label {
            font-size: 16px;
            letter-spacing: -0.4px;
            text-align: left;
            color: #8b999f;
          }

          .mb-input {
            height: 36px;
            margin-left: 0;

            label {
              display: none;
            }

            input {
              padding-left: 9px;
              padding-right: 9px;
            }
          }
        }
      }
    }

    .pt {
      padding-top: 16px;
    }
    .negative-margin {
      margin-left: -8px;
      margin-right: -8px;
    }
    .form-row.warning-container {
      padding: 0 17px;
    }

    .with-border {
      padding-bottom: 24px;
      border-bottom: 1px solid #E1E2E7;
    }
  }

  .service-error-msg {
    color: #fe0900;
  }
}
