<template name="resources_form">
    <div id="resources_form">
        <div class="row titleView">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading position_relative" style="padding-bottom: 10px">
                        <div class="sub-tool-bar clearfix">
                            <div style="flex: 1">
                                <h1>{{#if $eq getId ''}}{{getDicoVar "resourceForm" "add"}}{{else}}{{{getDicoVar "resourceForm" "edit"}}}{{/if}} {{{getDicoVar "resourceForm" "resource"}}}</h1>
                                <div style="display: block; margin-top: 10px;">
                                    <button type="button" id="backbutton" style="background: none; border: none; color: #999; padding: 0">
                                        <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{{getDicoVar "resourceForm" "back"}}}
                                    </button>
                                </div>
                            </div>
                            <div class="action pull-right ressourceButton">
                                <!--{{> CondoDropDown condoList=CDD_cursor module="reservations" noAll=true condoId=mainCondoIdCb classes="inline"}}-->
                                {{#if canAddResources}}
                                  <a href="javascript:void(0)" type="button" id="save-resource" class="btn red_btn {{#if reverseBool isFormValid}}disabled{{/if}}">{{getDicoVar "resourceForm" "save"}}</a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{#if canAddResources}}
        <div class="form-container">
            <div class="form-row negative-margin">
                {{> MbCondoPicker
                    noAll=true
                    condoIds=CDD_cursor
                    module="reservations"
                    onSelect=mainCondoIdCb
                }}
            </div>
            <div class="form-row negative-margin">
                {{> MbSelect
                        selected=(getFormData 'type')
                        required=true
                        refresher=selectedType
                        label=(getDicoVar "resourceForm" "type")
                        onSelect=onSelectType
                        options=getTypeOptions
                        placeholder=(getDicoVar "resourceForm" "select_type")}}
                {{> MbInput
                  value=(getFormData 'name')
                  required=true
                  label=(getDicoVar "resourceForm" "title")
                  onInput=onBlurName
                  placeholder=(getDicoVar "resourceForm" "type_name")}}
            </div>
            <div class="form-row negative-margin">
                {{#if $neq selectedType.key 'edl'}}
                {{> MbSelect
                        selected=(getFormData 'etage')
                        required=true
                        refresher=selectedType
                        label=(getDicoVar "resourceForm" "floor")
                        onSelect=onSelectEtage
                        options=(getNumberOptions 55 true -5)}}
                {{/if}}
                {{#if and selectedType selectedType.options.number}}
                {{> MbSelect
                        selected=(getFormData 'number')
                        help=(getEdlHelp selectedType.key)
                        required=true
                        refresher=selectedType
                        label=(getDicoVar "moduleReservationIndex" "number")
                        onSelect=onSelectNumber
                        options=(getNumberOptions 50 false 1)}}
                {{/if}}
                {{#if and selectedType selectedType.options.availability}}
                {{> MbSelect
                        selected=(getFormData 'availability')
                        required=true
                        refresher=selectedType
                        label=(getDicoVar "resourceForm" "availability")
                        onSelect=onSelectAvailability
                        options=(getNumberOptions 50 false 1)}}
                {{/if}}
                {{#if $eq selectedType.key 'edl'}}
                  {{> MbInput
                    value=(getFormData 'edlDuration')
                    required=true
                    maxLength=3
                    isError=isDurationError
                    label=(getDicoVar "resourceForm" "duration")
                    onInput=onBlurEdlDuration}}
                {{/if}}
            </div>
            {{#if or selectedType.options.seats selectedType.options.persons}}
            <div class="form-row negative-margin">
                {{#if and selectedType selectedType.options.seats}}
                {{> MbSelect
                        selected=(getFormData 'seats')
                        refresher=selectedType
                        label=(getDicoVar "resourceForm" "seating")
                        onSelect=onSelectSeat
                        options=(getNumberOptions 200 false 0)}}
                {{/if}}
                {{#if and selectedType selectedType.options.persons}}
                {{> MbSelect
                        selected=(getFormData 'persons')
                        refresher=selectedType
                        label=(getDicoVar "resourceForm" "standing")
                        onSelect=onSelectPerson
                        options=(getNumberOptions 100 false 0)}}
                {{/if}}
            </div>
            {{/if}}
            <div class="form-row">
                {{> React
                    label="Note"
                    value=(getFormData 'note')
                    component=MbTextArea
                    showLabel=true
                    minRow=1
                    onChange=onInputNote
                    placeholder=(getDicoVar 'commonTranslation' 'type_extra_note')
                }}
            </div>
            <div class="form-row">
              {{>MbCheckbox checked=(getFormData 'allowMessage') label=(getDicoVar "commonTranslation" "allow_message") onClick=(toggleCheck 'allowMessage')}}
            </div>
            <div class="form-row pt">
                {{>MbPanel content=(getDicoVar "resourceForm" "opening_days")}}
            </div>
            <div class="form-row with-border">
                {{>MbCheckbox allDayArgs}}
            </div>
            {{#each day in getWeekdays}}
                <div class="form-row">
                    <div class="hour-picker-day-wrapper">
                        {{>MbCheckbox (dayArgs day)}}
                    </div>
                    <div class="hour-picker-wrapper">
                        {{#each h in (getOpenHours day)}}
                        <div class="open-hours" id="open-hour-{{day.key}}-{{@index}}">
                            <div class="hour-picker">
                                <div class="form-group">
                                    <div class='input-group date' id='time-start-{{day.key}}-{{@index}}'>
                                    <span class="input-group-addon">
                                        <i class="image-icon clock-icon"></i>
                                    </span>
                                        <input
                                            readonly="{{isDayClose day}}"
                                            value="{{h.start}}"
                                            data-dow="{{day.key}}" data-index="{{@index}}"
                                            data-type="start"
                                            type='text' class="form-control hp startTimeG" />
                                    </div>
                                </div>
                            </div>
                            <span class="spacer">-</span>
                            <div class="hour-picker">
                                <div class="form-group">
                                    <div class='input-group date' id='time-end-{{day.key}}-{{@index}}'>
                                    <span class="input-group-addon">
                                        <i class="image-icon clock-icon"></i>
                                    </span>
                                        <input
                                            readonly="{{isDayClose day}}"
                                            value="{{h.end}}"
                                            data-dow="{{day.key}}" data-index="{{@index}}"
                                            data-type="end"
                                            type='text' class="form-control hp endTimeG" />
                                    </div>
                                </div>
                            </div>
                            {{#if (isMoreThanOneSlot day)}}
                            <button class="remove-time-slot" data-dow="{{day.key}}" data-index="{{@index}}">
                                <i class="image-icon minus-icon"></i>
                            </button>
                            {{/if}}
                            {{#if (isLastTimeSlotAndOpen day @index)}}
                            <button class="add-time-slot" data-dow="{{day.key}}">
                                <i class="image-icon plus-icon"></i>
                            </button>
                            {{/if}}
                        </div>
                        {{/each}}
                    </div>
                    <div class="hour-picker-day-wrapper">
                      {{>MbCheckbox (day24Args day)}}
                    </div>
                </div>
            {{/each}}
            {{initTimePicker}}
            {{#unless needValidationStatus}}
              <div class="form-row pt">
                {{>MbPanel content=(getDicoVar "commonTranslation" "paid_or_free")}}
              </div>
              <div class="form-row">
                {{>MbCheckbox checked=(getFormData 'paid') label=(getDicoVar "commonTranslation" "paid_resource_checkbox") onClick=(toggleCheck 'paid')}}
              </div>
              {{#if (getFormData 'paid')}}
                <div class="form-row">
                  <div class='service-price-container with-vat'>
                    <div class='text-input-container'>{{getDicoVar 'commonTranslation' 'price_incl_vat'}}</div>
                    <div class='input-container'>
                      <input type='number' class='price-input' value='{{getFormData 'price'}}' min='0'>
                      <span class='input-euro'>€</span>
                    </div>
                    <div class='unlimited-container'>
                      <span>{{getDicoVar 'commonTranslation' 'vat'}}</span>
                      <div class='vat-select-container'>
                        {{> MbSelect
                          selected=(getFormData 'vat')
                          onSelect=onSelectVat
                          options=getVAT
                          noLabel=true
                          placeholder=(getDicoVar 'commonTranslation' 'vat')
                        }}
                      </div>
                    </div>
                    <div class='unlimited-container'>
                      <span>/</span>
                      <div class='vat-select-container'>
                        {{> MbSelect
                          selected=(getFormData 'paidDuration')
                          onSelect=onSelectDuration
                          options=getDurationOption
                          noLabel=true
                          placeholder=(getDicoVar 'commonTranslation' 'vat')
                          class='paid-duration'
                        }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row mbPanelContainer">
                  {{> MbPanel content=(getDicoVar 'commonTranslation' 'terms_and_conditions_of_service') required=true}}
                  <img class='editProfile' src="/img/icons/edit.png" height="16" data-toggle='modal' data-target='#modal_edit_terms_of_services'>
                </div>
                <div class='form-row'>
                  {{> MbWarning content=(getDicoVar 'commonTranslation' 'cgv_edit_warning')}}
                </div>
                <div class='form-row break-line'>
                  {{#with term=getTermsOfServices}}<span>{{term.text}}</span>{{/with}}{{#if term.displayReadMore}}<div class='read-more-terms'>{{#if isMore}} {{getDicoVar 'commonTranslation' 'read_less'}}{{else}}{{getDicoVar 'commonTranslation' 'read_more'}}{{/if}}</div>{{/if}}
                </div>
              {{/if}}
            {{/unless}}
            {{#if (notEquals managerMembers.length 0)}}
                <div class="form-row pt">
                    {{>MbPanel content='Validation'}}
                </div>
                <div class="form-row">
                    {{>MbCheckbox needValidationArgs}}
                </div>

                {{#if needValidationStatus}}

                    <div class="form-row">
                        {{> MbSelect
                                selected=getSelectedManager
                                required=true
                                multiple=true
                                label=(getDicoVar "resourceForm" "manager_label")
                                placeholder=(getDicoVar "resourceForm" "select_manager")
                                onSelect=onSelectManager
                                options=managerMembers}}
                    </div>

                    {{#if $neq selectedType.key 'edl'}}

                    <div class="form-row pt">
                        {{>MbPanel content=(getDicoVar "resourceForm" "available_services")}}
                    </div>
                    <div class="form-row warning-container">
                        {{>MbWarning content=(getDicoVar "resourceForm" "service_warning")}}
                    </div>
                    {{#each service in getAvailableServices}}
                        <div class="form-row">
                            {{>MbCheckbox (serviceArgs service)}}
                        </div>
                        {{#if getServiceState service}}
                            {{#if $eq service.key "catering"}}
                              <small class="service-error-msg">{{getDicoVar "commonTranslation" "select_catering_service"}}</small>
                            {{else}}
                              <small class="service-error-msg">{{getDicoVar "commonTranslation" "select_equipment_service"}}</small>
                            {{/if}}
                            <div class="form-row child-service">
                                {{#each child in (getServiceChild service)}}
                                    <div class="child-item">
                                        {{>MbCheckbox (childServiceArgs service child)}}
                                    </div>
                                {{/each}}
                                <div class="child-item">
                                    <div class="mb-checkbox">
                                        <button data-key="{{service.key}}" class="new-custom-button">
                                            <i class="image-icon unchecked-icon"></i>
                                        </button>
                                        {{>MbInput
                                            value=(getNewCustomText service)
                                            onInput=(onInputNewCustom service)
                                            placeholder=(getDicoVar "resourceForm" "custom_option")}}
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}

                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
        {{/if}}
      {{> termsOfServices_modal condoId=getCondoId editTermsCb=editTermsCb terms=(getTermsOfServices true)}}
    </div>
</template>
