<template name="ResourceType">
    <div id="resource-type-container">
        <div class="row titleView">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading position_relative">
                        <div class="sub-tool-bar clearfix">
                            <h1 class="pull-left">Resource Type</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="allListBack" style="margin-top: 20px;overflow:visible;padding: 15px 20px !important;">
            <table class="table table-hover roleTable" style="width:100%;border-collapse:collapse;">
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Resource Type</th>
                    <th>English</th>
                    <th>French</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each type in getResourceTypes}}
                <tr>
                    <td></td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>