.amountColumn {
  text-align: right !important;
}

.transactionsContainer {
  padding-right: 16px;
}
.donwload-invoice{
  text-align: center;
  vertical-align: middle !important;
  >a {
    > i {
      line-height: 50px;
      color: #8b999f;
      font-size: 24px;
    }
  }
}
.exportColumn {
  text-align: center !important;
}
.openBasketSummary {
  cursor: pointer;
}
