<template name='wallet_transactions'>
  {{#if isSubscribeReady}}
    {{#let transactions=(getTransactions)}}
      <div class='transactionsContainer'>
        {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=searchCallback}}
        <div class='searchResult' style='display: none'>
          {{>MbPanel content=(getDicoVar 'commonTranslation' 'search_result')}}
        </div>
        {{#if transactions.length}}
          <table class="managerDetailsContainer table">
            <thead>
              <tr class='containerColumn'>
                <th>{{getDicoVar 'commonTranslation' 'transaction'}}</th>
                <th style="text-transform: capitalize;">{{getDicoVar 'commonTranslation' 'date'}}</th>
                <th>{{getDicoVar 'commonTranslation' 'status'}}</th>
                <th class='amountColumn'>{{getDicoVar 'commonTranslation' 'amount'}}</th>
                <th class="exportColumn">{{getDicoVar 'commonTranslation' 'export'}}</th>
              </tr>
            </thead>
            <tbody>
              {{#each transactions}}
                <tr style='height: 68px;' class='{{#if this.basketId}}openBasketSummary{{/if}}'>
                  <td class='commonColumn'>{{getTitle}}</td>
                  <td class='commonColumn lighter'>{{humanDateShort this.date}} {{#if this.isRecurring}}({{getDicoVar 'commonTranslation' (concatStr 'recurring_' this.frequency)}}){{/if}}</td>
                  <td class='commonColumn wallet-status-{{toLower this.status}}'>{{getDicoVar 'commonTranslation' (concatStr 'wallet_' (toLower this.status))}}</td>
                  <td class='commonColumn amountColumn lighter'>
                    {{#if this.isCredit}}
                      <div class='transaction-price credit'>+{{getAmount this.amount}} €</div>
                    {{else}}
                      <div class='transaction-price'>-{{getAmount this.amount}} €</div>
                    {{/if}}
                  </td>
                  {{#if this.basketId}}
                    <td class="donwload-invoice"><a class="download"><img class="download-icon" src="/img/icons/download.png"></a></td>
                  {{else}}
                    <td class="donwload-invoice">-</td>
                  {{/if}}
                </tr>
              {{/each}}
            </tbody>
          </table>
          {{> marketBasketSummary getDataModal}}
        {{else}}
          {{#if searchActive}}
            {{> MbEmpty
              title=(getDicoVar 'commonTranslation' 'no_result')
            }}
          {{else}}
            {{> MbEmpty
              title=(getDicoVar 'commonTranslation' 'no_transactions_yet')
            }}
          {{/if}}
        {{/if}}
      </div>
    {{/let}}
  {{else}}
    {{> loader}}
  {{/if}}
</template>
