#emergency-contact-page {
  .containerManagerList {
    .card {
      margin-top: 20px;
    }
    .containerLine {
      .trashColumn {
        div {
          margin: auto;
        }
      }
    }
  }
}
