<template name="emergencyContact">
  {{#if isSubscribeReady}}
    {{!-- {{#if isNotRestricted}} --}}
      {{#if isAllSelected}}
        <div class="whiteFullBackground">
          {{> MbWarning content=(getDicoVar 'commonTranslation' 'select_building_first')}}
        </div>
      {{else}}
        <div id="emergency-contact-page">
          <div class='topBarContainer'>
            <div class='topBarModuleName'>
              {{ getDicoVar "commonTranslation" "emergency_contact" }}
            </div>
            {{#if isNotRestricted}}
              {{#if canAddNumber}}
                <div class='topBarActionButton'>
                  <a type="button" class="btn btn-red-confirm-reverse displayPreview" data-toggle="modal" data-target="#emergency-contact-add-modal">{{getDicoVar 'commonTranslation' 'add_emergency_contact'}}</a>
                </div>
              {{/if}}
            {{/if}}
          </div>

          {{#if isNotRestricted}}
            <div class="containerManagerList">
              {{#if or (reverseBool ($empty EmergencyContacts)) (isSearchMode)}}
                {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=onSearch}}
              {{/if}}

              {{#if $empty EmergencyContacts}}
                <div class="card item">
                  <div class="card-block">
                    {{#if isSearchMode}}
                      {{> MbEmpty
                        title=(getDicoVar 'buildingsView' 'no_result')
                      }}
                    {{else}}
                      {{> MbEmpty
                        title=(getDicoVar 'commonTranslation' 'no_contact_yet')
                        subTitle=(getDicoVar 'commonTranslation' 'manager_with_right_add')
                      }}
                    {{/if}}
                  </div>
                </div>
              {{else}}
                <table class="managerDetailsContainer table">
                  <thead>
                  <tr class='containerColumn'>
                    <th></th>
                    <th> {{ getDicoVar 'commonTranslation' 'contact' }} </th>
                    <th style="text-transform: none"> {{ getDicoVar 'commonTranslation' 'company_name' }} </th>
                    <th style="text-transform: none"> {{ getDicoVar 'commonTranslation' 'in_charge_of' }} </th>
                    <th> {{ getDicoVar 'commonTranslation' 'phone' }} </th>
                    <th width="10"> {{ getDicoVar 'commonTranslation' 'actions' }} </th>
                  </tr>
                  </thead>
                  <tbody>
                  {{#each contact in EmergencyContacts}}
                    <tr class="containerLine">
                      <td class='pictureColumn contactDetail' contactid="{{contact._id}}">
                        {{#let pp=(getAvatar contact._id)}}
                          {{#if pp}}
                            <div  class='displayPictureImage' style="background-image: url({{pp}}), url(/img/anonymous.png);"></div>
                          {{else}}
                            <div class='displayPictureName'>{{getContactName contact._id true}}</div>
                          {{/if}}
                        {{/let}}
                      </td>
                      <td class='commonColumn contactDetail lighter' contactid="{{contact._id}}">{{getContactName contact._id false}}</td>
                      <td class='commonColumn contactDetail lighter' contactid="{{contact._id}}">{{contact.companyName}}</td>
                      <td class='commonColumn contactDetail lighter' contactid="{{contact._id}}">{{getInChargeOf contact}}</td>
                      <td class='commonColumn contactDetail lighter' contactid="{{contact._id}}">{{{getPhone contact}}}</td>
                      <td class='commonColumn trashColumn'>
                        {{#if canDelete}}
                        <div contactid="{{contact._id}}" contactname="{{getContactName contact._id false}}" class="remove"></div>
                        {{/if}}
                      </td>
                    </tr>
                  {{/each}}
                  </tbody>
                </table>
              {{/if}}
            </div>
            {{> emergencyContactAddModal }}
          {{else}}
            {{> MbRestrictedAccess}}
          {{/if}}
        </div>
      {{/if}}
  {{else}}
    {{> loader}}
  {{/if}}
</template>
