<template name="integrations">
	<div class="row titleView">
		<div class="col-sm-12">
			<div class="panel">
				<div class="panel-heading position_relative">
					<div class="sub-tool-bar clearfix">
            <h1 class="pull-left">{{ getDicoVar 'commonTranslation' 'integration_title' }}</h1>
						<div class="col-sm-4 pull-right">
							{{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=onSearch}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="d-contacts-main allListBack">
		<div class='tabBarContainer'>
			<div class="list-tab {{#if selectedTab 'integration'}}selectedTabBar{{/if}}" tab='integration'>{{ getDicoVar 'commonTranslation' 'by_integration' }}</div>
			<div class="list-tab {{#if selectedTab 'condo'}}selectedTabBar{{/if}}" tab='condo'>{{ getDicoVar 'commonTranslation' 'by_building' }}</div>
		</div>
    {{#if isSubscribeReady}}
      {{#if selectedTab 'integration'}}
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="headerImageSpacing">{{ getDicoVar 'commonTranslation' 'provider' }}</th>
              <th>{{ getDicoVar 'commonTranslation' 'service' }}</th>
              <th>{{ getDicoVar 'commonTranslation' 'operating_company' }}</th>
              <th>{{ getDicoVar 'commonTranslation' 'active_in' }}</th>
            </tr>
          </thead>
          <tbody>
            {{#each integration in getIntegrations}}
            <tr class="integrationLine" integrationid="{{integration._id}}">
              <td>
                {{#if integration.image}}
                  <img src="{{integration.image}}" class="integrationImage"/>
                {{else}}
                  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="integrationImage"/>
                {{/if}}
                {{integration.provider}}
              </td>
              <td>{{integration.service}}</td>
              <td>{{integration.company}}</td>
              <td>{{getActiveBuildings integration._id}} {{ getDicoVar 'commonTranslation' 'buildings' }}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <table class="table table-hover">
          <thead>
            <tr>
              <th>{{ getDicoVar 'commonTranslation' 'building_name' }}</th>
              <th>{{ getDicoVar 'commonTranslation' 'address' }}</th>
              <th>{{ getDicoVar 'commonTranslation' 'type' }}</th>
              <th>
                {{ getDicoVar 'commonTranslation' 'ext_int_1' }}
                <br />
                {{ getDicoVar 'commonTranslation' 'ext_int_2' }}
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each condo in getCondos}}
            <tr class="integrationLine" condoid="{{condo._id}}">
              <td>
                {{condo.info.id}} - {{condo.name}}
              </td>
              <td>
                {{condo.info.address}}<br/>
                {{condo.info.code}}, {{condo.info.city}}
              </td>
              <td>{{getTypeCondo condo.settings.condoType}}</td>
              <td>10</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    {{else}}
      {{> loader}}
    {{/if}}
	</div>
</template>
