@import "/client/style/variable.less";

.integrationImage {
    height: 44px !important;
    width: 44px !important;
    border-radius: 50%;
    background-color: #f1f5f6;
    margin-right: 20px;
}

.allListBack table th.headerImageSpacing {
    padding-left: 86px !important;
}

.search-margin {
  margin-top: 16px;
}

.tabBarContainer {
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 3px;
    border-bottom: 1px solid #DCDDE4;
    height: 43px;
    display: flex;

    & > div {
      cursor: pointer;
      text-transform: uppercase;
      padding-left: 43px;
      padding-right: 43px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 40px !important;
      letter-spacing: normal;
      text-align: center;
      //color: var(--tab-color);
      color: var(--primary-color);
    }
    .selectedTabBar {
      //border-bottom: 3px solid var(--tab-color);
      border-bottom: 3px solid var(--primary-color);
    }
}
