@import '../utils/variables.less';

.home_btn {
  display: inline-block;
  border-radius: 2px;
  border: 1px solid transparent;
  background-color: var(--primary-color);
  color: @white;
  font-size: 20px;
  padding: 0.45em 1em;
  text-align: center;
  letter-spacing: 0;
  text-decoration: none;

  &--lg {
    font-size: 22px;
    padding: 0.54em 1em;
    :hover {
      color: @white;
    }
  }

  &--sm {
    font-size: 16px;
    padding: 0.5625em 1em;

    @media @smartphones {
      font-size: 12px;
    }
  }

  &--secondary {
    background-color: var(--secondary-color);
  }

  &--outline-secondary {
    background-color: @white;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
  }

  &--disable {
    cursor: not-allowed;
    background-color: @color-primary-opacity;
  }
}
