@import '../utils/variables.less';

.home_input {
  width: 100%;
  border-radius: 2px;
  background-color: @white;
  border: solid 1px #e0e0e0;
	text-align: left;
  outline: none;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: @slate-grey;
  font-size: 16px;
  line-height: 1.75;
  padding: 5px 15px;
  margin-bottom: 16px;

  &:hover,
  &:focus {
    border-color: var(--primary-color);
  }

  &::placeholder {
    color: fade(@slate-grey, 80%);
    opacity: 1;
  }
}

.contact__form {
  textarea {
    border: solid 1px #e0e0e0;
    &:hover,
    &:focus {
      border-color: var(--primary-color) !important;
    }
  }
}

textarea.home_input {
  height: 108px;
}
