.home_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  
  &--mail {
    background: url(/img/homePage/icon-mail.svg);
  }
  
  &--map-pin {
    background: url(/img/homePage/icon-map-pin.svg);
  }
}