@import '../utils/variables.less';

ul.list {
  line-height: 1.78em;
  list-style: none;

  li {
    padding-left: 15px;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      top: .89em;
      margin-top: -4px;
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background: var(--primary-color);
    }
  }
}
