<template name="inputGoogleAPI">
<div id="inputGoogleAPI">
  <input id="addressInput" class="form-control autocomplete"/>
  <table id="inputResults" class="table">
    <tbody>
      {{#if getAllResultsLen}}
        {{#each address in getResults}}
          <tr class="resultElem" index="{{@index}}">
            <td>{{address.street_number}} {{address.road}}</td>
            <td><strong>{{address.city}}</strong></td>
            <td>{{address.code}}</td>
          </tr>
        {{/each}}
        {{#if showMoreResults}}
            <tr class="moreResult">
              <td colspan="3">{{getResultsNumber}} résultats de plus ...</td>
            </tr>
        {{/if}}
      {{else}}
        {{#if search}}
          <tr class="waiting">
            <td colspan="3">Recherche en cours ...</td>
          </tr>
        {{else}}
          {{#if somethingSearched}}
            <tr class="noResult">
              <td colspan="3">Aucun résultats</td>
            </tr>
          {{/if}}
        {{/if}}
      {{/if}}
    </tbody>
  </table>
</div>
</template>
