#inputGoogleAPI {
  position: relative;
}

#inputGoogleAPI #inputResults {
  background-color: #f8f8f8;
  border: solid 1px grey;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

#inputGoogleAPI #addressInput {
  width: 100%;
}

#inputGoogleAPI #inputResults tr {
  cursor: pointer;
}

#inputGoogleAPI #inputResults tr:hover {
  background-color: #bfbfbf;
}

#inputGoogleAPI #inputResults tbody {
  padding-left: 10px;
  padding-right: 10px;
}

#inputGoogleAPI #inputResults .moreResult {
  cursor: pointer;
  color: red;
  background-color: #fcfcfc;
  text-align: center;
}

#inputGoogleAPI #inputResults .noResult {
  cursor: not-allowed;
  color: red;
  background-color: #fcfcfc;
  text-align: center;
}

#inputGoogleAPI #inputResults .waiting {
  cursor: progress;
  color: red;
  background-color: #fcfcfc;
  text-align: center;
}
