<template name="placeSearchBox">
    <div id="inputGoogleAPI">
        <form id="update-value"></form>
       <!-- <input id="place-auto-complete" placeholder="Enter your address"
               class="form-control" type="text" />-->
        <input id="place-auto-complete" placeholder="{{getDicoVar 'home' 'address'}}"
               class="signupInput" type="text" />
<!--         <br/>
        <pre>
For debugging:
{{getAddress}}
        </pre>
 -->    </div>
</template>
<template name="placeSearchBoxBis">
    <div id="inputGoogleAPIBis">
        <form id="update-valueBis"></form>
       <!-- <input id="place-auto-complete" placeholder="Enter your address"
               class="form-control" type="text" />-->
        <input id="place-auto-completeBis" placeholder="{{getDicoVar 'home' 'address'}} *"
               class="homeInput col-xs-12" type="text" />
<!--         <br/>
        <pre>
For debugging:
{{getAddress}}
        </pre>
 -->    </div>
</template>