.report-main-title {
	margin: 0;
    line-height: 1.42857143;
}
.report-title {
    color: #69D2E7;
    font-weight: 600;
    font-size: 18px;
    margin: 15px 0 5px 3px;
}
.report-search {
	border: 1px solid #dddddd !important;
}
.report-author > div > span > span > span {
	border: 1px solid #dddddd !important;
	border-radius: 0!important;
}
#modal_report textarea {
	height: 100px !important;
}