<template name="reportModal">
  <div id="modal_report" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
      <button type="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">

        <div class="modal-header">
          <div class="modal-heading">
            {{!-- <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button> --}}
            <h4 class="modal-title">{{getDicoVar "moduleReportAnAbuse" "report_title"}}</h4>
          </div>
        </div>

        <div class="modal-body clearfix">
          <div class="report-category">
            <p class="report-title labelInput">{{getDicoVar "moduleReportAnAbuse" "category_title"}}</p>
            <select class="form-control" id="reportCategory">
              <option value="information">{{getDicoVar "moduleReportAnAbuse" "information"}}</option>
              {{#if checkModule "incidents"}}
              <option value="incidents">{{getDicoVar "moduleReportAnAbuse" "incidents"}}</option>
              {{/if}}
              {{#if checkModule "trombi"}}
              <option value="profile">{{getDicoVar "moduleReportAnAbuse" "whos_who"}}</option>
              {{/if}}
              {{#if checkModule "forum"}}
              <option value="forum">{{getDicoVar "moduleReportAnAbuse" "forum"}}</option>
              {{/if}}
              {{#if checkModule "classifieds"}}
              <option value="ads">{{getDicoVar "moduleReportAnAbuse" "ads"}}</option>
              {{/if}}
              {{#if checkModule "reservations"}}
              <option value="booking">{{getDicoVar "moduleReportAnAbuse" "booking"}}</option>
              {{/if}}
            </select>
          </div>

          <div class="report-author">
            <p class="report-title labelInput">{{getDicoVar "moduleReportAnAbuse" "author_title"}}</p>
            <div class="multi-select">
              <select name="reportDestinataires" class="select-contacts form-control" multiple="multiple">
                {{#each resident in getResidents}}
                  {{#if isDirectMessage resident._id}}
                    <option selected="selected" value="{{resident._id}}">{{resident.profile.firstname}} {{resident.profile.lastname}}</option>
                  {{else}}
                    <option value="{{resident._id}}">{{resident.profile.firstname}} {{resident.profile.lastname}}</option>
                  {{/if}}
                {{/each}}
                </select>
            </div>
          </div>

          <div class="report-message">
            <p class="report-title labelInput">{{getDicoVar "moduleReportAnAbuse" "message_title"}}</p>
            {{> messageInput
                fileManager=getFileManagerReport
                sendMessage=newReportCb
                name="reportInput"
            }}
          </div>

        </div>
      </div>
    </div>
  </div>
</template>