<template name="edit_classified_answer_modal">
	<div class="modal fade right main-modal d-modal" id="modal_edit_classifiedAnswer" tabindex="-1" role="dialog" aria-labelled="MyModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<button type="button" class="close round-close" data-dismiss="modal">
				<img src="/img/icons/croix_48px.svg" width="36" alt="">
			</button>
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-heading pull-left">
						<h4 class="modal-title" id="myModalLabel">{{getDicoVar "moduleForumCreatePostModal" "edit_message"}}</h4>
					</div>
				</div>
				{{#with classifiedAnswer=getDetails}}
					<div class="modal-body clearfix" id="subject">
						<form id="new-pool-post">
							<div class="row">
								<div class="col-xs-12">
									<p class="mt10 labelInput">{{getDicoVar "moduleForumCreatePostModal" "message"}} *</p>
									<div class="message_write" id="msgConcierge" style="margin-bottom: 10px;box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);border-color: #eeeeee;border-radius: 3px;">
										<div id="chat-window" class="" style="margin-top: 0 !important;">
											<input id="fileUploadInputClassifiedEditAnswer" type="file" class="hidden" name="attachments[]" style="position: absolute; top: -100" multiple="">
											<textarea id="answer" name="classifiedAdAnswer_edit" placeholder="{{getDicoVar 'messageInput' 'your_message'}}" class="custom-control messengerMessage" style="height: 70px; resize: none; font-size: 14px; cursor: text; padding-top: 10px;" value="{{#if isAnswerSelected }}{{classifiedAnswer.message}}{{/if}}"></textarea>
											<span class="attachment-icon" id="attachment" style="margin-top: 6px">
												<img src="/img/icons/svg/attachment.svg" class="img-responsive icon-join-file" width="23" height="23">
											</span>
											<ul id="attachmentsEditAnswer" class="attachments" style="padding-bottom: 10px;"></ul>
											{{#if isAnswerSelected }}
												{{presentFiles classifiedAnswer.files}}
											{{/if}}
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				{{/with}}

				{{#if $neq errorMessage ""}}
					<div style="display: inline-block;top: 2px;text-align: left;height: 32px;" class="alert alert-danger">
						{{errorMessage}}
					</div>
				{{/if}}


				<div class="modal-footer">
					<button type="submit" id="sendAnswerEditClassified" class="btn red_btn button_into_modal pull-right submitMessage" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Validation...">{{getDicoVar "moduleForumCreatePostModal" "validate"}}</button>
				</div>
			</div>
		</div>
	</div>
</template>