<template name='IncidentCard'>
  {{!-- {{#let post=this.element}} --}}
  <div class="card-block small-padding">
    <div class="card-inner">
      <div class="mb-post">
        <div class="mb-post-header">
          <div class="mb-post-meta go-to-detail" incidentId='{{this.post._id}}'>
            <div class="mb-post-avatar">
              <div class="incident-bubble {{#if equals this.post.state.status 2}}incident-bubble-resolved{{/if}}">
                <img src="{{getIncidentTypePicto this.post.info.type}}" width="44px" height="44px" />
              </div>
            </div>
            <div class="mb-post-info">
              <div class="mb-post-headline">
                <span class="mb-post-incident-type">
                  {{ this.post.info.title }}
                  {{#if equals this.post.state.status 2 }}
                    <span>{{ getDicoVar 'feedList' 'is_resolved' }}</span>
                  {{/if}}
                </span>
                <span class="mb-post-incident-status bg__{{getIncidentClass this.post.state.status}}">
                  {{ getIncidentText this.post.state.status }}
                  {{#if equals this.post.state.status 0}}
                    <span class="mb-icon icon-lock-tiny"></span>
                  {{/if}}
                </span>
              </div>
              <div class="mb-post-created">
                {{ getDicoVar 'feedList' 'reported_on' }} {{ parseDate this.post.feedDate }} • {{ getDicoVar 'feedList' 'incidents' }}
              </div>
            </div>
          </div>
        </div>

        <div class="mb-post-content" incidentId='{{this.post._id}}'>
          {{#if isUserDeclarer}}
            <div class="mb-post-title truncated">
              {{ this.post.info.comment }}
            </div>
          {{/if}}
          <div class='{{#if hasFiles this.post.hasFiles}}imagesWrapper{{/if}}'>
            {{#if this.post.filesId}}
              {{getFilesFromServer this.post.filesId}}
              <div class="fileViewerTemplate">
                {{> React
                  component=MbFilePreview
                  files=getFiles
                  newFiles=(newFiles this.post.filesId)
                  layout="13"
                  nativeObject=true
                  limit=4
                  onMore=(onMore this.post._id)
                }}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- {{/let}} --}}
</template>
