@import '/client/style/variable.less';

.signup_header {
    height: 64px;
    padding: 18px 15px;
    background-color: @wt;
    border-bottom: 3px solid @blue;
    .signup_logo {
        width: 169px;
    }
}

.signup_content {
    margin-top: 60px;
    background: #f1f5f6;
    padding-top: 16px;
    padding-bottom: 22px;

    .content_header {
        height: 80px;
        background: @wt;
        padding: 14px 16px;
        margin-bottom: 16px;

        .signup_title {
            font-size: 20px;
            font-weight: 500;
            letter-spacing: -0.5px;
            text-align: left;
            color: #5d5e62;
            margin: 0;
            margin-bottom: 10px;
        }

        .back_btn {
            font-size: 14px !important;
            font-weight: 500;
            color: #8b999f !important;
            padding: 0 !important;
            cursor: pointer;

            img {
                padding-right: 6px;
            }
        }
    }

    .content {
        padding: 21px 126px 30px;
        background: @wt;

        @media @mobile {
            padding: 20px;
        }

        .goCgu {
            font-weight: bold;
            color: var(--secondary-color);
        }

        .content_container {
            display: flex;

            .mb-input {
              margin-top: 26px;
            }
            @media @mobile {
                display: block;
            }

            .signup_form {
                flex: 1;
                margin-right: 43px;
                @media @mobile {
                    margin-right: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                .input_form {
                    margin-top: 24px;
                    p {
                        font-size: 12px;
                        letter-spacing: 0.1px;
                        text-align: left;
                        color: #8b999f;
                        text-transform: uppercase;

                        span {
                            color: #fe0900;
                            font-size: 14px;
                        }
                    }

                    input::placeholder {
                        font-size: 17px;
                        letter-spacing: -0.4px;
                        text-align: left;
                        color: #5d5e62;
                    }

                    .signupInput {
                        width: 100%;
                        padding-bottom: 10px;
                        border: 0;
                        border-bottom: 1px solid #E1E2E7;
                        font-family: Lato, sans-serif;
                        font-size: 17px;
                        letter-spacing: -0.4px;
                        text-align: left;
                        color: #5d5e62;
                    }

                    .chevicon {
                        position: relative;

                        img {
                            position: absolute;
                            right: 5px;
                            top: 0px;
                        }

                        .dropdown-toggle {
                            width: 100%;
                            margin-bottom: 0 !important;
                            color: #5d5e62;
                            font-weight: normal;
                            padding-top: 0 !important;
                            padding-bottom: 10px !important;
                        }

                        .dropdown-menu {
                            width: 100%;
                        }
                    }

                    .attachment {
                        position: relative;

                        .attachment_img {
                            position: absolute;
                            right: 5px;
                        }
                    }

                    .attachInput {
                        margin-bottom: 0 !important;
                        padding-top: 0 !important;
                        padding-bottom: 10px !important;
                        cursor: pointer;
                        width: 100%;
                        color: #5d5e62;
                        font-weight: normal;
                    }
                }
            }
        }

        .welcome-wrapper {
            padding: 25px 0;
            font-family: Lato, sans-serif;
            text-align: center;
            width: 100%;

            .welcome-title {
                margin-bottom: 25px;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: -0.6px;
                text-align: center;
                color: #5d5e62;
            }

            .welcome-content {
                margin-bottom: 15px;

                p {
                    margin: 0;
                }
            }

            p {
                font-size: 15px;
                letter-spacing: -0.4px;
                text-align: center;
                color: #8b999f;
            }

            .btn {
                font-size: 16px;
                margin-top: 25px;
                min-width: 343px;
                height: 36px;
                object-fit: contain;
                border: 1px solid red;
                color: red;
                cursor: pointer;
                background-color: #fff;
            }
        }

        p {
            font-size: 12px;
            line-height: 1.5;
            text-align: left;
            color: #8b999f;
            margin-top: 8px;

            span {
                color: #fe0900;
                font-size: 14px;
            }
        }

        .round {
            font-size: 12px;
            line-height: 1.33;
            text-align: left;
            color: #8b999f;
            display: flex;

            input[type="checkbox"] {
                position: absolute;
                top: 0;
                left: -9999px;
                visibility: hidden;
            }

            label {
                padding-left: 8px;
                position: relative;
                span {
                    color: #fe0900;
                    margin-left: 3px;
                }

                // cursor: pointer;
                // &:before,
                // &:after {
                //     content: '';
                //     position: absolute;
                //     top: 50%;
                //     border-radius: 50%;
                // }

                // &::before {
                //     width: 22px;
                //     height: 22px;
                //     border: 1px solid lightgray;
                // }

                // &::after {
                //     width: 15px;
                //     height: 15px;
                //     background-color: @blue;
                // }
            }
        }

        .signup_btn {
            text-align: center;
            border: none;
            margin-top: 43px;
            .signup_button {
                width: 453px;
                height: 48px;
                background-color: var(--secondary-color);
                border: 0;
                color: @wt;
                font-size: 20px;

                @media @mobile {
                    width: 350px;
                }

                @media @smartphones {
                    width: 200px
                }
            }

            p {
                font-size: 16px;
                line-height: 1.13;
                text-align: center;
                color: #8b999f;
            }
        }

        @media @mobile {
            .condition-wrapper {
                display: flex;

                .checkboxred {
                    margin-right: 15px;
                }
            }
        }


        .label_condition {
            font-size: 12px;
            line-height: 1.33;
            text-align: left;
            color: #8b999f;
        }

        .checkboxred {
            width: 22px !important;
            height: 22px !important;

            label {
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 50%;
                cursor: pointer;
                height: 22px;
                width: 22px;
                left: 0;
                position: absolute;
                top: 5px;
            }

            label:after {
                border: 2px solid #fff;
                border-top: none;
                border-right: none;
                content: "";
                height: 7px;
                left: 4px;
                opacity: 0;
                position: absolute;
                top: 5px;
                transform: rotate(-45deg);
                width: 13px;
            }
            input[type="checkbox"] {
               visibility: hidden;
            }

            input[type="checkbox"]:checked + label {
              //background-color: var(--menu-selected-item-color);
              //border-color: var(--menu-selected-item-color);
              background-color: var(--primary-color);
              border-color: var(--primary-color);
            }

            input[type="checkbox"]:checked + label:after {
                opacity: 1;
            }
        }
    }
}
