<template name="signup">
  {{> headerHome}}
  <div class="container">
    <div class="signup_content">
      {{#if isSubscribeReady}}
        <div class="content_header">
          <h2 class="signup_title">{{getDicoVar 'home' 'register'}}</h2>
          <div id="backbuttonSignUp" class="back_btn">
            <img src="/img/icons/back.svg" height="15" style="margin-top: -2px;"> {{getDicoVar "home" "back_home"}}
          </div>
        </div>
        {{#if signUpSuccess }}
          <div class="content">
            <div class="content_container">
              <div class="welcome-wrapper">
                <img src="/img/icons/svg/nowifi.svg">
                <p class="welcome-title">
                  {{getDicoVar 'home' 'welcome_thanks'}}
                </p>
                <div class="welcome-content">
                  <p>{{getDicoVar 'home' 'welcome_text_1'}}</p>
                  <p>{{getDicoVar 'home' 'welcome_text_2'}}</p>
                </div>
                <p>
                  {{getDicoVar 'home' 'see_you_soon'}}
                </p>
                <button id="backToHome" class="btn btn-bordered">
                  {{getDicoVar 'home' 'back_to_home'}}
                </button>
              </div>
            </div>
          </div>
        {{else}}
          <!-- Sign up-->
          <div class="content">
            <div class="content_container">
              <div class="signup_form">
                <div class="input_form">
                  <p>{{getDicoVar 'home' 'firstname'}}
                    <span>*</span>
                  </p>
                  <input class="signupInput" type="text" value="{{getPredefined 'firstname'}}" name="firstname" placeholder="{{getDicoVar 'home' 'type_firstname'}}"
                    autocomplete="off">
                </div>
                <div class="input_form">
                  <p>{{getDicoVar 'home' 'lastname'}}
                    <span>*</span>
                  </p>
                  <input class="signupInput" type="text" value="{{getPredefined 'lastname'}}" name="lastname" placeholder="{{getDicoVar 'home' 'type_lastname'}}"
                    autocomplete="off">
                </div>
                <div class="input_form">
                  <p>{{getDicoVar 'home' 'password'}}
                    <span>*</span>
                  </p>
                  <input class="signupInput" type="password" value="{{getPredefined 'password'}}" name="password" placeholder="******">
                </div>
                <div class="input_form">
                  <p>{{getDicoVar 'home' 'your_mail'}}
                    <span>*</span>
                  </p>
                  <input class="signupInput" type="email" value="{{getPredefined 'your_mail'}}" name="email" placeholder="{{getDicoVar 'home' 'your_mail'}}"
                    autocomplete="off">
                </div>
              </div>
              <div class="signup_form">
                <div class="input_form">
                  <p>{{getDicoVar 'commonTranslation' 'address'}}
                    <span>*</span>
                  </p>
                  <div class="form-group" name='condoButton'>
                    {{> placeSearchBox callback=getInputGoogleCB}}
                  </div>
                </div>
                {{#if $neq apiGoogleError ""}}
                  <div class="left errorMsg">
                    <p>{{apiGoogleError}}</p>
                  </div>
                {{/if}}
                {{#if isNewCondo}}
                  <div class="input_form">
                    <p>{{getDicoVar 'home' 'statut'}}
                      <span>*</span>
                    </p>
                    <div class="chevicon">
                      <button id="typeCondoInput" name='typeCondoButton' type="button" class="homeInput dropdown-toggle text-left" data-toggle="dropdown">
                        {{#if getTypeCondo}}{{getTypeCondo}}{{/if}}
                      </button>
                      <div id="dropdownTypeCondoView" class="dropdown-menu">
                        <ul class="list-users list-unstyled">
                          <li id="dropdownTypeCondo" name="mono">
                            <a href="#" class="dropdown-typeCondo">
                              <span id="monoSpan" style="font-size: 14px; margin-top: 3px; color: #83898e">{{getDicoVar 'home' 'mono'}}</span>
                            </a>
                          </li>
                          <li id="dropdownTypeCondo" name="copro">
                            <a href="#" class="dropdown-statut">
                              <span id="coproSpan" style="font-size: 14px; margin-top: 3px; color: #83898e">{{getDicoVar 'home' 'copro'}}</span>
                            </a>
                          </li>
                          <li id="dropdownTypeCondo" name="office">
                            <a href="#" class="dropdown-statut">
                              <span id="officeSpan" style="font-size: 14px; margin-top: 3px; color: #83898e">{{getDicoVar 'home' 'office'}}</span>
                            </a>
                          </li>
                          <li id="dropdownTypeCondo" name="etudiante">
                            <a href="#" class="dropdown-statut">
                              <span id="studentSpan" style="font-size: 14px; margin-top: 3px; color: #83898e">{{getDicoVar 'home' 'student'}}</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <img src="/img/homePage/chevron-copy-4.png">
                    </div>
                  </div>
                {{/if}}
                {{#if isCondoSelected}}
                  {{#if needStatut}}
                    <div class="input_form">
                      <p>{{{getDicoVar 'home' 'statut'}}}
                        <span>*</span>
                      </p>
                      <div class="chevicon">
                        <button id="statutInput" name='statutButton' type="button" class="homeInput dropdown-toggle text-left" data-toggle="dropdown">
                          {{#if getStatut}}{{getStatut}}{{else}}{{{getDicoVar 'home' 'statut'}}}{{/if}}
                        </button>
                        <div id="dropdownStatutView" class="dropdown-menu">
                          <ul class="list-users list-unstyled">
                            {{#each buildingsStatus}}
                              <li id="dropdownStatut" name="{{this.key}}">
                                <a class="dropdown-condo">
                                  <span style="font-size: 14px; margin-top: 3px; color: #83898e">{{getSatusValue this null true}}</span>
                                </a>
                              </li>
                            {{/each}}
                          </ul>
                        </div>
                        <img src="/img/homePage/chevron-copy-4.png">
                      </div>
                    </div>
                  {{/if}}
                  {{#if needCompany}}
                    {{> MbInput
                                      dataList="companyList"
                                      label='Entreprise'
                                      required=false
                                      onInput=(onInputDetails)
                                      placeholder=(getDicoVar "commonTranslation" "fill_in_company")
                                  }}
                    <datalist id="companyList">
                      {{#each company in getCompany}}
                        <option value="{{company.name}}"></option>
                      {{/each}}
                    </datalist>
                  {{/if}}
                  {{#if hasGestionnaire}}
                    {{#if hasGestionnaireToValid}}
                      {{setValidation "gestionnaire"}}
                    {{else}}
                      {{setValidation "backoffice"}}
                      <div class="input_form">
                        <p>{{getDicoVar 'home' 'proofAddress'}}
                          <span>*</span>
                        </p>
                        <div class="attachment">
                          <label name="justifDom" class="homeInput attachInput">{{getDicoVar 'home' 'proofAddress'}}
                            <input id="justifDomInput" type="file" style="display: none;">
                            <input type="text" name="justifDomTemp" class="form-control" style="display: none;">
                            <img class="attachment_img" src="/img/homePage/attachment.png">
                          </label>
                          <span id="justifValidated" style="display: none; padding: 0;">
                            <ul id="attachments" class="attachments"></ul>
                          </span>
                        </div>
                      </div>
                    {{/if}}
                  {{else}}
                    {{setValidation "backoffice"}}
                    <div class="input_form">
                      <p>{{getDicoVar 'home' 'proofAddress'}}
                        <span>*</span>
                      </p>
                      <div class="attachment">
                        <label name="justifDom" class="homeInput attachInput">{{getDicoVar 'home' 'proofAddress'}}
                          <input id="justifDomInput" type="file" style="display: none;">
                          <input type="text" name="justifDomTemp" class="form-control" style="display: none;">
                          <img class="attachment_img" src="/img/homePage/attachment.png">
                        </label>
                        <span id="justifValidated" style="display: none; padding: 0;">
                          <ul id="attachments" class="attachments"></ul>
                        </span>
                      </div>
                    </div>
                  {{/if}}
                {{/if}}
              </div>
            </div>
            <p>
              <span>*</span> {{getDicoVar 'home' 'required_fields'}}</p>
            {{#if signupError}}
              <div class="errorMsg">
                <p>{{getDicoVar 'home' 'requiredFields'}}</p>
              </div>
            {{/if}}
            <div class="condition-wrapper">
              <div class="checkboxred">
                <input type="checkbox" name="cgu" id="condition_checkbox" required />
                <label for="condition_checkbox"></label>
              </div>
              <label class="label_condition" for="condition_checkbox">{{{getDicoVar 'home' 'condition'}}}</label>
            </div>

            <div class="signup_btn">
              <button id="signin" type="button" class="signup_button" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'home' 'register'}}...">{{getDicoVar 'home' 'register'}}</button>
              <p>{{getDicoVar 'home' 'registered'}}
                <a id="goLogin"> {{getDicoVar 'home' 'login'}}</a>
              </p>
            </div>
          </div>
          <!-- Sign up-->
        {{/if}}
      {{else}}
        {{> loader}}
      {{/if}}
    </div>
  </div>
</template>
