<template name="contactManagement_messenger">
	{{> loader display_auto=false}}
	<div id="allRender" class="contact-management">
		<div class="row plpr15">
			<div class="infoTab col-xs-12">
				<img class="pull-left" src="/img/icons/attention.png" alt="">
				<p class="pull-left">
					{{getDicoVar 'contactManagement' 'speaker1'}}
					<strong>{{getDicoVar 'contactManagement' 'speaker2'}}</strong>
					{{getDicoVar 'contactManagement' 'speaker3'}}
				</p>
			</div>
		</div>
		<div class="row default-contact" style="margin-right: 0px !important;">
			<div class="col-md-12">
				<div class="multi-select" style="margin-bottom: 25px !important;">
					{{>MbMultipleCondoPicker
						onSelect=saveDefaultContact
						selectedUserIds=defaultContactUserId
						options=managerMembersIncident
						label=(getDicoVar 'moduleMessagerieIndex' 'defaultContact')
						type ='user'
						required=true
						multiple=false
						defaultSelect=true
						disabled=(reverseBool (userHasRight "setContact" 'writeMessenger'))
					}}
					{{#if renderSelect2}}{{/if}}	
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="d-panel blue">
					<div class="d-panel-head">
						<h3>{{getDicoVar 'contactManagement' 'reminderAuto'}}</h3>
					</div>
					<div class="d-panel-body ">
						<div class="d-des-form">
							<form>
								<div class="multi-select">
									{{#each priority in (incidentPriority getCondoId)}}
										<div class="col-md-12" style="padding-left: 0px;padding-top: 16px;">
											<label>{{getIncidentPriority priority._id}}</label>
										</div>
										<div class="col-md-12 reminder-padding">
											<div class="col-md-2" style="padding: 0px;max-width: 180px;">
													{{> MbInput
														required=false
														type='number'
														value=(getReminderValueBlaze priority._id)
														disabled=(reverseBool (userHasRight "setContact" 'writeMessenger'))
														min='0'
														max='1000'
														id=priority._id
													}}										
											</div>
											<div class="col-md-2" style="max-width: 210px;">
												<div class="mb-select">
													<select id="mb-select-typeReminder{{priority._id}}" name="reminderInputType" priorityId="{{priority._id}}" class="select-contacts form-control" required="required" disabled="{{reverseBool (userHasRight "setContact" 'writeMessenger')}}">
															<option value="hour" selected="{{isHourValue priority._id}}">{{getDicoVar 'contactManagement' 'hour'}}(s)</option>
															<option value="day" selected="{{isDayValue priority._id}}">{{getDicoVar 'contactManagement' 'day'}}(s)</option>
													</select>
												</div>
											</div>
										</div>
									{{/each}}
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{#each declaration in getDeclarations}}
			<div class="row incident">
				<div class="col-md-12">
					<div class="d-panel blue">
						<div class="d-panel-head">
							<h3>{{getMessageType declaration.id}}</h3>
						</div>
						<div class="d-panel-body mt25">
							<div class="d-des-form">
								<form>
									{{#let managersIncident=managerMembersIncident}}
										{{#each declarationDetail in declaration.declarationDetailIds}}
											{{>MbMultipleCondoPicker
												onSelect=(saveContactSet declarationDetail declaration.id)
												selectedUserIds=(getElemValue declarationDetail declaration.id)
												options=managersIncident
												label=(getDeclarationName declarationDetail)
												type ='user'
												required=true
												multiple=true
												defaultSelect=true
												disabled=(reverseBool (userHasRight "setContact" 'writeMessenger'))
											}}								
										  {{/each}}
										  {{#if renderSelect2}}{{/if}}
									{{/let}}
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</template>
