<template name="module_manual">
  {{#if userHasRight "manual" "see"}}
    <input id="fileUploadInputMan" type="file" style="display: none;" accept="application/pdf" />
    {{#if hasManual}}
      <div class="mt10">
        <span style="font-weight: 600">{{getDicoVar "moduleManual" "last_update"}}</span>{{humanDate lastUpdate}}
      </div>
      <br>
      {{#if $eq manualType "file"}}
        {{#if isSmallerDevice}}
          {{#if manualFile}}
            <div style="text-align: center;	-webkit-overflow-scrolling: touch; overflow: auto;width:100%; height:700px">
              <div id="pdfCanvas"></div>
            </div>
          {{else}}
            <div style="text-align: center">
              <p>{{getDicoVar "moduleManual" "display_manual"}}</p>
            </div>
          {{/if}}
        {{else}}
          <div style="text-align: center;">
            <iframe src="{{manualData}}" width="100%" height="700px">
              <p>{{getDicoVar "documentModule" "iframe"}}</p>
            </iframe>
          </div>
        {{/if}}
      {{else}}
        <div class="pre-div" id="textManual">{{{manualData}}}</div>
      {{/if}}
    {{else}}
      <div class="card item">
        <div class="card-block">
          {{> MbEmpty title=(getDicoVar "moduleManual" "empty_title") subTitle=(getDicoVar "moduleManual" "empty_description") }}
        </div>
      </div>
    {{/if}}
  {{else}}
    {{> MbRestrictedAccess }}
  {{/if}}

  <div class="modal fade right main-modal d-modal" id="modalManual" tabindex="-1" role="dialog" aria-labelled="MyModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <button type="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-heading pull-left">
            <h4 class="modal-title" id="myModalLabel">
              {{#if hasManual}}
                {{getDicoVar "moduleManual" "edit_manual"}}
              {{else}}
                {{getDicoVar "moduleManual" "add_manual"}}
              {{/if}}
            </h4>
          </div>
        </div>
        <div class="modal-body clearfix" id="subject">
          <form id="new-pool-post">
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-xs-12 v-spacer">
                {{> MbCheckbox checked=checkDocManual label=(getDicoVar "moduleManual" "add_doc") onClick=setDocumentRadio}}
              </div>
              <div class="col-xs-12 v-spacer">
                {{> MbCheckbox checked=checkTextManual label=(getDicoVar "moduleManual" "add_txt") onClick=setTextRadio}}
              </div>
            </div>
            <div class="row">
              {{#if checkTextManual}}
                <div class="col-xs-12">
                  {{> richTextInput
                    fileManager=getFm
                    sendMessage=getCb
                    withFiles=false
                    sendText=(getDicoVar 'commonTranslation' 'personal_details_save')
                    html=previousManual
                  }}
                </div>
              {{else}}
                <div class="col-xs-12" id="inputModal">
                  <div id="documentValid" style="margin: 0 -10px;"></div>

                  <button type="button" id="changePdf" class="btn red_btn">{{getDicoVar "moduleManual" "browse"}}</button>
                </div>
              {{/if}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
