@import "../../style/variable";

.mb-warning {
  box-shadow: 0 1px 4px 0 rgba(32, 33, 38, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;

  span {
    margin: 0 20px 0 0;
    i.image-icon {
      height: 24px;
      width: 24px;
    }
  }

  p {
    font-family: @lato;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
    color: @grey3;
    margin: 0;
  }
}