.editProfile {
  position: absolute;
  right: 12px;
  top: 8px;
  cursor: pointer;
  &.editProfile-upper {
    top: 5px !important;
  }
}
.wallet_generalInformationsContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  // padding-left: 8px;
  border-bottom: 1px solid #DCDDE4;
  margin-bottom: -3px;

  .myBalanceContainer, .latestTransactionsContainer {
    .mbPanelContainer {
      margin-left: 8px;
      margin-right: 8px;
    }
    flex: 1 0 calc(~'50% - 12px');
    min-width: 370px;
    margin-top: 8px;
    // margin-right: 8px;
    height: 235px;
  }

  @-ms-keyframes spin {
      from { -ms-transform: rotate(0deg); }
      to { -ms-transform: rotate(360deg); }
  }
  @-moz-keyframes spin {
      from { -moz-transform: rotate(0deg); }
      to { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
      from { -webkit-transform: rotate(0deg); }
      to { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }


  .myBalanceContainer {
    .editProfile {

      &.spinMe {
        -webkit-animation-name: spin;
        -webkit-animation-duration: 1000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 1000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 1000ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;

        animation-name: spin;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }

    .topUpContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: calc(~'100% - 33px');

      .amountAvailable {
        // width: 168px;
        height: 62px;
        font-family: Lato;
        font-size: 52px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -1.2px;
        text-align: center;
        color: #5d5e62;
      }

      .mb-button {
        margin-top: 20px;
      }
    }
  }

  .latestTransactionsContainer {
    .transactionContainer {
      margin-left: 16px;
      margin-right: 16px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #DCDDE4;
      height: 68px;

      .leftInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .transaction-title {
          padding-top: 4px;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.4px;
          color: #5d5e62;
        }
        .transaction-subTitle {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.3px;
          color: #8b999f;
        }

      }
      .rightInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

    }
    .button-all-transac-container {
      display: flex;
      justify-content: flex-end;
      margin-right: 16px;
      align-items: center;
      height: 66px;
      .seeAllTransactions {
      }
    }

    .last_transac_no_transac {
      margin-top: 20px;
      height: 134px;
      width: 100%;
      text-align: center;
    }
  }

}

.wallet-status {
  &-success, &-authorised {
    color: #4cd964 !important;
  }
  &-error {
    color: #fe0900 !important;
  }
  &-refused {
    color: #580438 !important;
  }
  &-pending {
    color: #e6b11f !important;
  }
}

.transaction-price {
  &.credit {
    color: #4cd964 !important;
  }
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: right;
  color: #5d5e62;
}

