<template name='wallet_generalInformations'>
  <div class='wallet_generalInformationsContainer'>
    {{!-- <div class='myBalanceContainer'>
      <div class='mbPanelContainer>
        {{> MbPanel content=(getDicoVar 'commonTranslation' 'my_balance')}}
        <img class='editProfile' src="/img/icons/svg/refresh.svg" height="16">
      </div>

      <div class='topUpContainer'>
        <div class='amountAvailable'>{{getWalletBalance}} €</div>
        {{> MbButton label='Top up' onClick=topUp}}
      </div>
    </div> --}}
    <div class='latestTransactionsContainer'>
      <div class='mbPanelContainer'>
        {{> MbPanel content=(getDicoVar 'commonTranslation' 'latest_transactions')}}
      </div>
      {{#each getLatestTransactions}}
        <div class='transactionContainer'>
          <div class='leftInfo'>
            <div class='transaction-title'>{{getTitle}}</div>
            <div class='transaction-subTitle'>{{humanDateShort this.date}} {{#if this.isRecurring}}({{getDicoVar 'commonTranslation' (concatStr 'recurring_' this.frequency)}}){{/if}}</div>
            <div class='transaction-subTitle wallet-status-{{toLower this.status}}'>{{getDicoVar 'commonTranslation' (concatStr 'wallet_' (toLower this.status))}}</div>
          </div>
          <div class='rightInfo'>
            {{#if this.isCredit}}
              <div class='transaction-price credit'>+{{getAmount this.amount}}  €</div>
            {{else}}
              <div class='transaction-price'>-{{getAmount this.amount}} €</div>
            {{/if}}
          </div>
        </div>
      {{else}}
        <div class='last_transac_no_transac'>
           {{getDicoVar 'commonTranslation' 'no_transactions_yet'}}
        </div>
      {{/each}}
      <div class='button-all-transac-container'>
        {{#if hasTransactions}}
        <a type="button" class="btn btn-red-confirm-reverse seeAllTransactions">{{getDicoVar 'commonTranslation' 'see_all_transactions'}}</a>
        {{/if}}
      </div>
   </div>
  </div>
  {{> modal_topUp}}
</template>
