<template name='test_main'>
  <button class='logMeIn'>Log Me In</button>
  <button class='logMeOut'>Log Me Out</button>
  <div>
  <button class='feedLoad'>Load Feed</button>
  </div>
  <div style='margin-top: 100px'>
      <button class='logMeInM'>Log Me In - MANAGER</button>
      <button class='logMeOut'>Log Me Out</button>
      <div>
        <button class='loadFeedM'>Load feed manager</button>
      </div>
  </div>
  {{#unless isSubscribeReady}}
    {{> loader}}
  {{/unless}}
</template>
