.laundry-room {

  .edit-laundry {
    position: absolute;
    right: 12px;
    top: 8px;
    cursor: pointer;
  }

  tr {
    min-height: 64px;
    td {
      vertical-align: middle !important;
      height: 64px;
      white-space: nowrap;
      padding-right: 22px !important;
      border-top: 1px solid #ddd !important;
    }

    td.number {
      width: 1px;
    }
    td.name {
      width: 2700px;
    }
    td.price {
      width: 1130px;
    }
    td.status {
      width: 1440px;
    }
    td.remaining {
      width: 1440px;
    }
    td.laundry-button-container {
      width: 1px;
    }
  }

  .tag-spn {
    width: 96px;
    margin: 0 !important;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    color: #ffffff;
    &.tag-disabled {
      background-color: #8b999f;
    }
  }

  td.laundry-button-container {
    position: relative;

    div {
      display: inline-flex;
    }
    .button-notify .mb-button{
      font-size: 12px !important;
      padding-left: 8px;
      padding-right: 8px;
      height: 24px;
    }

    :not(:first-child) {
      &.button-notify {
        margin-left: 8px;
      }
    }
    .already-taken {
      font-family: Lato;
      font-size: 14px;
      font-weight: normal;
      font-style: italic;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: #8b999f;
    }
  }

  .not-available {
    position: absolute;
    left: 8px
  }

  .hidden-buttons {
    visibility: hidden;
  }

  .desc-laundry {
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      margin-bottom: 25px;
      color: #5d5e62;
  }
  .container-info-laundry {
    height: 48px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    img {
      width: 24px;
      height: 24px;
      min-width: 24px;
      min-height: 24px;
      margin-right: 8px;
      opacity: 0.3;
    }
    div.desc {
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #5d5e62;
    }
  }
}
#modale-edit-laundry-info {
  .mb-input {
    margin-top: 25px !important;
    // margin-bottom: 10px !important;
  }
  .modal-footer {
    margin-top: 46px;
  }
}
