<template name='laundryRoom'>
  <div class="{{#unless _IsManagerView}}occupant_module_wrapper{{/unless}} laundry-room">
    <div class='topBarContainer'>
      <div class='topBarModuleName'>{{ getDicoVar 'commonTranslation' 'laundryRoom' }}{{#unless _IsManagerView}} - {{getAddress}}{{/unless}}</div>
    </div>
    {{#if $eq getCondoId 'all'}}
      <div class="whiteFullBackground">
        {{> MbWarning content=(getDicoVar 'commonTranslation' 'select_building_first_laundry')}}
      </div>
    {{else}}
      {{#if isSubscribeSettingReady}}
        {{updateSerial}}
        {{#unless shouldDisplayRestrictedAccess}}
          {{#if $gt getSerial.length 1}}
            <div class='tabBarContainer'>
              {{#each serial in getInfoLaundry}}
              <div class='{{#if $eq selectedTab @index}}selectedTabBar{{/if}}' data-tab={{serial.serial}}>
                {{ serial.name }}
                {{#with badges=getUpcomingCounter}}
                  {{#unless $eq badges 0}}
                    <div class='badges'>{{badges}}</div>
                  {{/unless}}
                {{/with}}
              </div>
              {{/each}}
            </div>
          {{/if}}
        {{/unless}}
      {{/if}}
      {{#if shouldDisplayRestrictedAccess}}
        {{> MbRestrictedAccess}}
      {{else}}
        <div class="containerManagerList">
          {{#if isSubscribeReady}}
            {{#with setting=getLaundrySetting}}
              {{#if $neq setting.desc ''}}
              {{!-- <div class="desc-laundry">
                {{setting.desc}}
              </div> --}}
              {{/if}}
              {{!-- {{> MbPanel content='Details'}} --}}
              <div style='position: relative'>
                {{> MbPanel content=(getDicoVar 'commonTranslation' 'details')}}
                {{#if userHasRight "laundryRoom" "edit" getSelectedCondo}}
                  <img class="edit-laundry" src="/img/icons/edit.png" height="16" data-toggle="modal" data-target="#modale-edit-laundry-info">
                {{/if}}
              </div>

                <div class="container-info-laundry">
                  <img src="/img/icons/clock.png" alt="">
                  {{#if $neq setting.opening ''}}
                    <div class="desc">{{getDicoVar 'commonTranslation' 'opening_hours'}}: {{setting.opening}}</div>
                  {{else}}
                    <div class="desc">{{getDicoVar 'commonTranslation' 'opening_hours'}}: --</div>
                  {{/if}}
                </div>

                <div class="container-info-laundry">
                  <img src="/img/icons/location.png" alt="">
                  {{#if $neq setting.location ''}}
                    <div class="desc">{{getDicoVar 'commonTranslation' 'laundry_location'}}: {{setting.location}}</div>
                  {{else}}
                  <div class="desc">{{getDicoVar 'commonTranslation' 'laundry_location'}}: --</div>
                  {{/if}}
                </div>

            {{/with}}
            <div>
              {{> React component=reactComponent condoId=(getCondoId) serial=(selectedTab) dicoLang=(getDicoLang) machinesList=(machinesList) sub=(LaundryRoom) }}
              {{!-- {{> React component=reactComponent dicoLang=(getDicoLang) }} --}}
            </div>
          {{/if}}
          {{!-- {{#with machinesList=getInfoLaundry}}
            {{#if machinesList}}
            {{else}}
              {{> MbEmpty
                title=(getDicoVar 'commonTranslation' 'no_machines_yet')
                subTitle=(getDicoVar 'commonTranslation' 'legend_no_machines_yet')
              }}
            {{/if}}
          {{/with}} --}}
        </div>
      {{/if}}
    {{/if}}
  </div>
  <div class="modal fade right main-modal d-modal" role="dialog" id="modale-edit-laundry-info">
    <div class="modal-dialog modal-lg">
      <button type="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-heading pull-left align-title-cd">
            <h4 class="modal-title">
              {{ getDicoVar 'commonTranslation' 'laundry_edit' }}
            </h4>
          </div>
        </div>
        <div class="modal-body clearfix">
          {{#if isOpen}}
            {{#with setting=getLaundrySetting}}
              {{!-- {{> MbInput
              label=(getDicoVar 'commonTranslation' 'description')
              placeholder=(getDicoVar 'commonTranslation' 'fill_in_description')
              onInput=(setDescription 'desc')
              value=setting.desc
              required=true
              }} --}}
              {{> MbInput
              label=(getDicoVar 'commonTranslation' 'opening_hours')
              placeholder=(getDicoVar 'commonTranslation' 'opening_hours')
              onInput=(setDescription 'opening')
              value=setting.opening
              required=true
              }}
              {{> MbInput
              label=(getDicoVar 'commonTranslation' 'location')
              placeholder=(getDicoVar 'commonTranslation' 'fill_in_location')
              onInput=(setDescription 'location')
              value=setting.location
              required=true
              }}
            {{/with}}
          {{/if}}
        </div>
        <div class="modal-footer">
          <a type="submit" id="save-info-laundry" class="btn red_btn button_into_modal pull-right mt40 {{#unless canValidateDesc}}disabled{{/unless}}" data-dismiss="modal">
            {{getDicoVar 'commonTranslation' 'manager_validate'}}
          </a>
          </div>
      </div>
    </div>
  </div>
</template>
