<template name="backoffice_home">
  {{#if isSubscribeReady}}

    {{> header}}
    <div class="nav-side-menu backMenu backMenuHide" name="navBackoffice" id="nav_side_menu" style="top: 50px; height: calc(100% - 50px); left: 0!important;">
      <div class="menu-list" style="margin-top: 20px">
        <ul id="menu-content" class="menu-content">
          <li>
            <a id="manager" style='margin-left: 20px;'>
              <img src="/img/icons/svg/managerPicto_white.svg" alt="">Gestionnaires</a>
          </li>
          <li>
            <a id="users" style='margin-left: 20px;'>
              <img src="/img/resident/icons/trombinoscope.png" alt="" style="width: 25px;">Occupants</a>
          </li>
          <li>
            <a id="condos" style='margin-left: 20px;'>
              <img src="/img/immeuble_white_48px.svg" alt="">Immeubles</a>
          </li>
          <li>
            <a id="enterprise" style='margin-left: 20px;'>
              <img src="/img/icons/svg/entrprisePicto.svg" alt="">Entreprises</a>
          </li>
          {{!-- <li>
            <a id="enterprise2" style='margin-left: 20px;'>
              <img src="/img/icons/svg/entrprisePicto.svg" alt="">Entreprises v2</a>
          </li> --}}
          <li>
            <a id="archives" style='margin-left: 20px;'>
              <img src="/img/icons/svg/archivePicto.svg" alt="">Archives</a>
          </li>
          <li>
            <a id="report" style='margin-left: 20px;'>
              <img src="/img/icons/svg/adminAbus.svg" alt="">Abus</a>
          </li>
          <li>
            <a id="concierge" style='margin-left: 20px;'>
              <img src="/img/icons/svg/adminConcierge.svg" alt="">Conciergerie</a>
          </li>
          <li>
            <a id="stats" style='margin-left: 20px;'>
              <img src="/img/statistique_48px.svg" alt="">Statistiques</a>
          </li>
          <li>
            <a id="resource-type" style='margin-left: 20px;'>
              <i class="fa fa-cogs"></i>Resource Type</a>
          </li>
          <li>
            <a id="resource-service" style='margin-left: 20px;'>
              <i class="fa fa-dropbox"></i>Resource Service</a>
          </li>
          <li>
            <a id="roles" style='margin-left: 20px;'>
              <i class="fa fa-sitemap"></i>Rôles</a>
          </li>
          <li>
            <a id="coffee" style='margin-left: 20px;'>
              <i class="fa fa-coffee"></i>Scripts</a>
          </li>
          <li>
            <a id="integrations" style='margin-left: 20px;'>
              <img src="/img/icons/svg/integrations.svg" />Integrations</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="display-modules contenerBack" style="margin-left: 240px; margin-top: 70px">
      {{> Template.dynamic template=template}}
    </div>
  {{else}}
    {{> loader}}
  {{/if}}
  {{> notConnectedTemplate}} {{> MbDisconnectLoader}}
</template>
