<template name="editProfileManager">
  <div id="modal_manager_edit_profile" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
    <div class="modal-dialog modal-lg">
      <button details="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-heading pull-left">
            <h4 id="myModalLabel" class="modal-title red_color"> {{ getDicoVar 'commonTranslation' 'edit_contact_details' }} </h4>
          </div>
        </div>
        <div style="padding: 15px 0 15px 24px;" id='occupant_edit_profile'>
          {{#if isOpen}}
            <div class='phoneContainerFlex'>

              <div style="padding-right: 16px; flex: 1 0 50%;">
                {{> MbInput
                  label='Email'
                  value=(getEmail)
                  required=true
                  onInput=(onInputDetails 'email')
                  placeholder=(getDicoVar 'commonTranslation' 'fill_in_email')
                  isError=(isFieldError 'email')
                }}
              </div>

              <div style="padding-right: 16px; flex: 1 0 50%;">
                {{> MbInput
                  label=(getDicoVar 'commonTranslation' 'status_to_occupant')
                  value=(getStatus)
                  required=true
                  onInput=(onInputDetails 'statusToOccupant')
                  placeholder=(getDicoVar 'commonTranslation' 'fill_in_status_to_occupant')
                  isError=(isFieldError 'statusToOccupant')}}
              </div>
            </div>

            <div class='phoneContainerFlex'>
              <div class='phoneContainer'>
                {{> MbSelect
                  selected=(getPhoneCode)
                  isPhoneCodeList=true
                  required=false
                  label=(getDicoVar 'commonTranslation' 'mobile')
                  onSelect=(onSelect 'phoneCode')
                  options=(parsePhoneCode GetAllPhoneCode)
                  placeholder=(getDicoVar 'commonTranslation' 'fill_in_area_code')
                  refresher=null
                }}
                {{> MbInput
                    label=' '
                    value=(getPhone)
                    onInput=(onInputDetails 'phone')
                    placeholder=(getDicoVar 'commonTranslation' 'fill_in_mobile_phone_number')
                    isError=(isFieldError 'phone')}}
              </div>

              <div class='phoneContainer' style="padding-right: 16px;">
                {{> MbSelect
                  selected=(getLandlineCode)
                  isPhoneCodeList=true
                  label=(getDicoVar 'commonTranslation' 'landline')
                  onSelect=(onSelect 'phoneCodeLandline')
                  options=(parsePhoneCode GetAllPhoneCode)
                  placeholder=(getDicoVar 'commonTranslation' 'fill_in_area_code')
                  refresher=null
                }}
                {{> MbInput
                    label=' '
                    value=(getLandline)
                    required=false
                    onInput=(onInputDetails 'landline')
                    placeholder=(getDicoVar 'commonTranslation' 'fill_in_phone_number')
                    isError=(isFieldError 'landline')}}
              </div>
            </div>
          {{/if}}
          <div class="saveContactContainer" style="right: 15px;">
            <a type="submit" class="saveContact {{#unless canSubmit}}disabled{{/unless}}" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{ getDicoVar 'commonTranslation' 'saving' }}..."> {{ getDicoVar 'commonTranslation' 'personal_details_save' }} </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
