<template name="condoDetailsGestionForumModal">

	<div id="modal_list_message" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
		{{isPostSelected}}
		<div class="modal-dialog modal-lg">
			<button type="button" class="close round-close" data-dismiss="modal">
				<img src="/img/icons/croix_48px.svg" width="36" alt="">
			</button>
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-heading pull-left mb30">
						<h4 id="myModalLabel" class="modal-title red_color">Liste des messages</h4>
					</div>
				</div>
				<ul>
					<div class="col-sm-12" style="padding: 0 30px 0 30px; background-color: #fff;">
						<table class="table table-backoffice gestionDroitBack">
							{{{ displayMessages}}}
						</table>
					</div>
				</ul>
      </div>
    </div>
  </div>

</template>
