<template name="condoDetailsGestionForum">

	<div class="col-sm-12" style="padding: 0 30px 0 30px; background-color: #fff;">
		<table class="table table-backoffice gestionDroitBack">
			{{{displayTab}}}
			{{#unless selectedPost}}
				{{{displayMessages}}}
			{{/unless}}
		</table>
	</div>
	{{> condoDetailsGestionForumModal mode=getMode id=getSelectedId}}
</template>
