@import "../../../../../../style/variable";

.resa-detail-modal-wrapper.modal, .resa-validate-modeal.modal {
  .modal-dialog {
    width: 960px;

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 59px;
      border-bottom: 1px solid @greylight;
      padding: 18px 16px;

      button {
        cursor: pointer;
        background-color: transparent;
        border: 0;

        .image-icon {
          width: 24px;
          height: 24px;
        }
      }

      h4 {
        font-family: 'Lato', 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.5px;
        text-align: left;
        color: @slategrey;
        margin: 0;
        flex: 1;
      }
    }

    .modal-body {
      margin-top: 11px;
      h4 {
        font-family: 'Lato', 'Source Sans Pro', sans-serif;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: -0.5px;
        text-align: left;
        color: @slategrey;
      }

      p {
        font-family: 'Lato', 'Source Sans Pro', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.1px;
        text-align: left;
        color: @grey3;
        margin: 0;
      }

      p.rejected {
        color: @red;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        text-transform: uppercase;
        margin-top: -16px;
        margin-bottom: 10px;
      }

      p.condo-name {
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: -0.4px;
        text-align: left;
        color: @grey3;

        .building-icon {
          float: left;
          width: 16px;
          height: 16px;
          margin-right: 8px;
          margin-top: 4px;
        }
      }

      p.time {
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        color: @slategrey;
        text-transform: capitalize;
        margin: 17px 0;
      }

      p.resa-bold {
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        color: @slategrey;
      }

      p.service-name {
        margin: 9px 0 7px;
      }

      p.resa-detail {
        font-family: Lato;
        font-size: 16px;
        font-weight: 500;
        color: #8b999f;
      }

      p.resa-message {
        font-family: Lato;
        font-size: 16px;
        font-weight: 500;
        color: #5d5e62;
        margin-top: 6px;
        white-space: pre-line;
      }

      span.selected-service {
        font-family: 'Lato', 'Source Sans Pro', sans-serif;
        font-size: 12px;
        text-align: left;
        color: @wt;
        background-color: var(--primary-color);
        margin-right: 4px;
        padding: 3px 9px;
      }

      .space-between {
        margin: 21px 0 25px;
      }

      .mb-panel {
        margin: 9px -15px 0;
        width: calc(~"100% + 30px");
      }

      .selected-participant {
        margin-top: 4px;
        .participant-item {
          font-family: 'Lato', 'Source Sans Pro', sans-serif;
          padding: 5px 8px;
          //background-color: var(--accent-color);
          background-color: var(--primary-color);
          font-size: 14px;
          line-height: 1.21;
          letter-spacing: -0.3px;
          text-align: left;
          color: @wt;
          margin-bottom: 3px;
          display: inline-block;
        }
      }

      .transaction-table {
        th, td {
          padding: 15px 0;
          font-size: 16px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: @slategrey;
        }

        tr.big-padding {
          th, td {
            padding: 18px 0;
          }
        }

        tr.light-border {
          th, td {
            border-bottom: 1px solid @greylight;
          }
        }

        tr.dark-border {
          th, td {
            border-bottom: 1px solid @blacklight;
          }
        }
        thead {
          .text-right {
            text-align: right;
          }
          th {
            text-transform: capitalize;
          }
        }
        tr.total {
          td {
            font-size: 20px;
          }
        }
      }
    }

    .modal-footer {
      text-align: right;
      padding: 15px 15px;

      .calendar-dropdown {

        ul.resa-dropdown-menu {
          top: auto;
          bottom: 70%;
          right: 0;
          left: unset;
        }
      }

      .mb-button {
        margin-left: 13px;
      }
    }
  }
}

.calendar-dropdown {
  display: inline-block;

  i.fa {
    margin-left: 5px;
  }

  .mb-button {
    margin-left: 0;
  }

  ul.dropdown-menu {
    width: 195px;
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(32, 33, 38, 0.2);
    border: solid 1px @wt2;
    //padding: 0 15px;
    margin-bottom: 20px;
    //padding-bottom: 20px;

    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 17px;
      font-weight: 500;
      letter-spacing: -0.4px;
      padding: 0 20px;
      text-align: left;
      color: @slategrey;
      height: 60px;
      border-bottom: 1px solid @greylight;
      cursor: pointer;

      i.image-icon {
        height: 22px;
        width: 22px;
        margin-right: 10px;
      }
    }

    li:hover {
      background-color: var(--secondary-color);
      color: #fff;
    }
  }
}
