<template name="ReservationModal">
  <div class="resa-detail-modal-wrapper modal fade main-modal d-modal" id="reservation-detail" tabindex="-1" role="dialog" aria-labelledby="reservation-detail">
    <div class="modal-dialog">
      <div class="modal-content">
        {{#with getDetail}}
          <div class="modal-header">
            <h4>{{#if isPaymentConfirmation}}{{getDicoVar "commonTranslation" "confirmation"}} - {{/if}}{{getDicoVar "moduleReservationIndex" "reservation_detail_title"}}</h4>
            {{#if editable book}}
              {{#if isMine book}}
                {{#unless (and book.paid (reverseBool book.pending))}}
                <div>
                  <button type="button" id="book-delete-btn">
                    <i class="image-icon trash-icon"></i>
                  </button>

                  {{#if notEdl resource.type}}
                    <button type="button" id="book-edit-btn">
                      <i class="image-icon edit-icon"></i>
                    </button>
                  {{/if}}
                </div>
                {{/unless}}
              {{/if}}
            {{/if}}
          </div>
          <div class="modal-body">
            <h4>{{{hyperlink book.title}}}</h4>
            <p class="condo-name"><span><i class="image-icon building-icon"></i></span>{{#if $neq condo.info.id '-1'}}{{condo.info.id}} - {{/if}}{{condo.name}}</p>
            <p class="time">{{timeString book}}</p>
            {{#if rejected book}}<p class="rejected">{{getDicoVar "moduleReservationIndex" "rejected"}}</p>{{/if}}
            <p class="resa-bold">{{getResourceName resource}} {{#if isNeedValidationExcludeMe resource book}}({{getDicoVar "moduleReservationIndex" "need_validation"}}){{/if}}</p>
            {{#unless notEdl resource.type}}<p class="resa-detail">{{getDicoVar "moduleConcierge" "label_service"}}: {{getEdlDirections book}}</p>{{/unless}}
            {{#if notEdl resource.type}}<p class="resa-detail">{{getDicoVar "moduleTrombinoscopeIndex" "floor"}}: {{getFloor resource.etage}}</p>{{/if}}
            {{#if resource.seats}}<p class="resa-detail">{{getDicoVar "moduleReservationIndex" "seating"}}: {{resource.seats}}</p>{{/if}}
            {{#if resource.persons}}<p class="resa-detail">{{getDicoVar "moduleReservationIndex" "standing"}}: {{resource.persons}}</p>{{/if}}
            {{#if notEdl resource.type}}{{#if book.number}}<p class="resa-detail">{{resNum resource book}}</p>{{/if}}{{/if}}
            <div class="space-between">
              <p class="resa-bold">{{getDicoVar "moduleReservationIndex" "booked_by"}}</p>
              <p class="resa-detail">{{getBooker book}}</p>
            </div>

            {{#if resource.note}}
            <p class="resa-bold">Note</p>
            <p class="resa-detail">{{{hyperlink resource.note}}}</p>
            {{/if}}

            <div class="space-between">
            {{#if haveParticipants book}}
              <p class="resa-bold">{{getDicoVar "commonTranslation" "particpantTitle"}}</p>
              <div class="selected-participant">
                {{#each participant in (getParticipants book.participants)}}
                  <span class="participant-item">{{participant.firstname}} {{participant.lastname}}</span>
                {{/each}}
                {{#each externalParticipant in book.externalParticipants}}
                  <span class="participant-item">{{externalParticipant.firstName}} {{externalParticipant.lastName}}</span>
                {{/each}}
              </div>
            {{/if}}
            {{#if notEdlAndEquipment resource.type book}}
              <p class="resa-bold">{{getDicoVar "moduleReservationIndex" "total_participant"}}: {{getParticipantNumber book}}</p>
            {{/if}}
            </div>

            {{#if isServiceNotEmpty book}}
              {{> MbPanel content=(getDicoVar "moduleReservationIndex" "available_services")}}
              {{#each service in (getServices book.services)}}
                <p class="resa-bold service-name">{{getServiceName service.key}}</p>
                {{#each child in (getServiceChild service)}}
                  <span class="selected-service">{{child}}</span>
                {{/each}}
              {{/each}}
            {{/if}}
            {{#if book.message}}
              {{> MbPanel content=(getDicoVar "incidentResidentIndex" "message")}}
              <p class="resa-message">{{{hyperlink book.message}}}</p>
            {{/if}}
            {{#if book.rejectionMessage}}
              {{#if book.rejected}}
                {{> MbPanel content=(getDicoVar "moduleReservationIndex" "rejected_reason")}}
              {{else}}
                {{> MbPanel content=(getDicoVar "moduleReservationIndex" "message_from_manager")}}
              {{/if}}
              <p class="resa-message">{{{hyperlink book.rejectionMessage}}}</p>
            {{/if}}
            {{#if isPaymentConfirmation}}
              {{> MbPanel content=(getDicoVar "commonTranslation" "payment_details")}}
              <table class="table transaction-table">
                <thead>
                <tr class="big-padding light-border">
                  <th>{{getDicoVar "commonTranslation" "transaction"}}</th>
                  <th>{{getDicoVar "commonTranslation" "date"}}</th>
                  <th class="text-right">{{getDicoVar "commonTranslation" "amount"}}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="big-padding dark-border">
                  <td>{{getResourceName resource}} ({{book.qty}} x {{getDurationText book.paidDuration}})</td>
                  <td>{{getReceipeDate book}}</td>
                  <td class="text-right">{{getPrice false book.paidAmount true book.vat}}</td>
                </tr>
                <tr class="light-border">
                  <td colspan="2">{{getDicoVar "commonTranslation" "subtotal"}}</td>
                  <td class="text-right">{{getPrice false book.paidAmount true book.vat}}</td>
                </tr>
                <tr class="dark-border">
                  <td colspan="2">{{getDicoVar "commonTranslation" "vat"}} {{book.vat}}%</td>
                  <td class="text-right">{{getVatPrice book.paidAmount book.vat}}</td>
                </tr>
                <tr class="big-padding total">
                  <td colspan="2">{{getDicoVar "commonTranslation" "total"}}</td>
                  <td class="text-right">{{getPrice false book.paidAmount}}</td>
                </tr>
                </tbody>
              </table>
            {{/if}}
          </div>
          <div class="modal-footer">
            {{#unless isPaymentConfirmation}}
            {{#if reverseBool (rejected book)}}
              <div class="dropdown calendar-dropdown">
                <button id="calendar-dropdown" class="mb-button danger" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                  {{getDicoVar "moduleReservationIndex" "add_to_calendar"}}
                  <i class="fa fa-chevron-up"></i>
                </button>
                <ul class="dropdown-menu resa-dropdown-menu" aria-labelledby="calendar-dropdown">
                  {{#each cal in getCalendarType}}
                    <li data-type="{{cal.type}}" class="add-to-calendar">
                          <span class="the-icon">
                              <i class="image-icon {{cal.type}}-icon"></i>
                          </span>
                      {{cal.name}}
                    </li>
                  {{/each}}
                </ul>
              </div>
            {{/if}}
            {{> MbButton doneButton}}
            {{else}}
              {{> MbButton paymentConfirmButton}}
            {{/unless}}
          </div>
        {{/with}}
      </div>
    </div>
  </div>
  {{showSuccessModal}}
</template>
