@import "/client/style/variable.less";

#top-left {
  background-color: lightskyblue;
  height: 112px;
  text-align: center;
  border:1px solid black;
}

#left {
  height: 635px;
  border:1px solid black;
  overflow-y: scroll;
  padding: 0;
}

#top-right {
  background-color: lightskyblue;
  //height: 70px;
  border:1px solid black;
}

#right {
  height: 100%;
  border:1px solid black;
  background-color: ghostwhite;
}

#right .reponse {
  border:2px groove black;
}

#topChat {
  height: 500px;
}

#chat {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.red_btn_active {
  background: white !important;
  border: 1px solid #fe0900 !important;
  color: #fe0900 !important;
}

.blink_me {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/* Contact page */
.form_text {
  color: @blue;
  font-weight: 600;
}

.tabcontent_hide {
  display: none;
}
.chat_container {
  background-color: @wt;
  max-width: 1200px;
  margin: 20px auto;
}
#etudiant img, #forum2_list_block2 img, #participantsBlock img {
  float: left;
  display: inline-block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
#etudiant .img_description, #forum2_list_block2 .img_description, #participantsBlock .img_description {
  margin-left: 130px;
  padding-top: 10px;
}
#ecole .img_description {
  margin-left: 180px;
  padding-top: 10px;
}
.tab-content .list-group-item, #participantsBlock .list-group-item {
  background-color: transparent;
  border-bottom: 1px solid @grey2;
  border-right: none;
  border-left: none;
  height: 120px;
  padding-left: 25px;
}
.tab-content .list-group-item:hover, #participantsBlock .list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: @wt;
}

.custom-search-input {
  background: @wt none repeat scroll 0 0;
  margin: 0;
  padding: 10px;
  border-top: 1px solid @grey2;
}
.member_list .chat-body {
  margin-left: 40px;
  margin-top: 0;
}
.member_list .chat-body p {
  margin-bottom: 0;
}
.top_nav {
  overflow: visible;
}
.member_list .contact_sec {
  margin-top: 3px;
}
.member_list li {
  padding: 6px;
}
.member_list ul {
  border: 1px solid @grey2;
}
.chat-img img {
  height: 34px;
  width: 34px;
}
.member_list li {
  border-bottom: 1px solid @grey2;
  padding: 6px;
}
.member_list li:last-child {
  border-bottom:none;
}
.member_list {
  border-top: 1px solid @grey2;
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
}

.new_message_head {
  float: left;
  font-size: 13px;
  font-weight: 600;
  padding: 8.5px 15px;
  width: 100%;
  border-bottom: 1px solid @grey2;
}

.chat_area {
  float: left;
  height: 375px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.chat_area p {
  font-size: 14px;
}
.chat_area li {
  padding: 14px 14px 0;
}
.chat_area li .chat-img1 img {
  height: 40px;
  width: 40px;
}

.chat-img1 {
  margin-left: 15px;
}

.chat_area .chat-body1 {
  margin-left: 50px;
}
.chat_area p {
  margin-bottom: 0;
}
.chat_time {
  margin-left: 10px;
  width: 50px;
}
.chat-body1 p {
  word-wrap: break-word;
  width: 80%;
  float: left;
  padding: 5px;
}

.chat_area li:last-child {
  padding-bottom: 10px;
}
.message_write {
  width: 100%;
}
.member_list li {
  border-left: 15px solid @wt;
}
.member_list li:hover {
  background: @grey2 none repeat scroll 0 0;
  cursor:pointer;
  border-left: 15px solid @blue;
}
.paperclip {
  font-size: 20px;
}
.write_message {
  width: 70%;
  float: left;
}
.btn_paperclip {
  color: #333;
}
.chat_sidebar {
  border-right: 1px solid @grey2;
  position: relative;
}
.chat_sidebar h4 {
  font-size: 14px;
  margin-left: 10px;
}
.chat_sidebar p {
  font-size: 14px;
}

.chat_sidebar span {
  font-size: 14px;
}

.chat_sidebar b {
  font-size: 14px;
}

.chat-body1 {
  font-size: 14px;
}

.chat-body1 span {
  font-size: 14px;
}

.pencil-square {
  font-size: 20px;
  color: @blue;
  position: absolute;
  top: 5px;
  right: 10px;
}
.typing {
  margin-bottom: 0;
  margin-top: -8px !important;
  color: @grey;
  font-style: italic;
  font-size: 11px;
}

.menu_messenger_manager {
	position: relative;
	right: 20px;
	transform: translateY(25%);
}

.messenger_tooltip_manager .tooltip-inner {
	padding: 10px;
	border-radius: 5px;
}

#gestionnaire-msg-list {
	tr.faded {
		background-color:rgba(255,255,255,0.5);
		box-shadow: none;
	}
	tr.faded td {
		opacity: 0.5;
		background-color:rgba(255,255,255,0.5);
		box-shadow: none;
	}
	tr td > .archiveButton {
    background-color: white !important;
    border: solid #D4D4D4 1px;
    border-radius: 5px;
    padding: 5px;
	}
	tr.faded td > * {
		opacity: 0.5;
		background-color:rgba(255,255,255,0.5);
		box-shadow: none;
	}
}

.message-unread {
	position: absolute;
	height: 100%;
	width: 5px;
  //background-color: var(--accent-color) !important;
  background-color: var(--primary-color) !important;
}

.message-unread-manager {
	position: absolute;
	height: 100%;
	width: 6px;
	left: 0;
  //background-color: var(--accent-color) !important;
  background-color: var(--primary-color) !important;
	top: 0;
}

.historyitem:hover {
	background-color: #e2e2e2;
}

.lastmsg {
  margin-bottom: 0;
  color: #999;
  white-space: nowrap;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lastmsg-h {
  //position: relative;
  //top: -33px;
  //float: right;
}
.lastmsg-m {
  //position: relative;
  //top: -10px;
  //padding-left: 45px;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

//.messagerie-list::after {
//  content: "";
//  display: block;
//  height: 1px;
//  width: calc(~"100% + 25px");
//  background-color: #dddddd;
//  position: relative;
//  left: -15px;
//}

#searchConv {
  margin-bottom: 10px;
}

.blue_bg_content {
  background-color: @paleBlue;
  width: 100%;
  min-height: calc(~'100vh - 95px');
  padding-bottom: 20px;
}
.infoPlus {
  position: absolute;
  right: 20px;
  top: 33px;
}
.white_bg_padding {
  background-color: @wt;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 10px 20px;
}
.white_bg {
	background-color: @wt;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	max-width: none;
}
.position_relative {
  position: relative;
}
.mt80 {
  margin-top: 80px;
}
.mt20 {
  margin-top: 20px;
}
.btn_modal {
  border-radius: 0;
  background-color: @wt;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  font-weight: 600;
  padding: 10px 12px;
  height: 40px;
}
.btn_modal:focus, .btn_modal:active, .btn_modal:hover {
  border-bottom: 3px solid @blue;
  color: @blue;
  padding: 10px 12px 7px;
}
.btn_modal:hover span.badge {
  background-color: var(--notification-color);
}

.user_info {
  font-size: 16px;
  line-height: 35px;
  color: @grey;
}
.user {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 18px;
  color: @wt;
  line-height: 35px;
  text-align: center;
  //background: var(--accent-color);
  background: var(--primary-color);
  display: inline-block;
  position: relative;
  margin-right: 5px;
  font-weight: 600;
  margin-left: 0;
}
.user_active {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7cc576;
    display: block;
    border: 2px solid #fff;
    position: absolute;
    top: 25px;
    left: 23px;
}

.pl0 {
  padding-left: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}
.width950 {
  max-width: 1200px;
  margin: 0 auto;
}
.participants {
  background-color: @wt;
}
.participants .list-group-item {
  background-color: transparent;
  border-bottom: 1px solid @grey2;
  border-right: none;
  border-left: none;
  min-height: 70px;
  padding-left: 25px;
}
.participants .list-group-item:hover {
  color: #555;
  text-decoration: none;
}
.participants img {
  float: left;
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.participants h3 {
  font-size: 20px;
  line-height: 36px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 15px 10px 10px;
}
.plus_red {
  color: #fe0900;
  font-size: 20px;
}
.participants .img_description {
  margin-left: 70px;
}
.participants .img_description p {
  font-size: 14px;
}
.participants .img_description h4 {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 16px;
}

.btn_publier {
  background-color: #fe0900;
  color: @wt !important;
  outline: none !important;
  font-size: 14px;
  border: none;
  min-width: 64px;
  padding: 6px 12px;
  border-radius: 0;
  margin: 0 4px;
}
.btn_publier:hover,
.btn_publier:active,
.btn_publier:focus {
  cursor: pointer;
  background-color: #d4222c;
}
.btn_publier:disabled {
  color: @redlight !important;
}

.navbar_text2 {
  top: 10px;
}
.pencil-square_mob {
  font-size: 20px;
  color: @blue;
  position: absolute;
  top: 30px;
  right: 10px;
}
.pencil-square_btn_mob {
  padding: 0;
  border: none;
}
.btn_box {
  box-shadow: none !important;
  outline: none !important;
}
#participantsBlock h4{
  font-size: 18px;
  margin-left: 0;
}
.users_btn {
  padding: 0;
}
@media (max-width: 767px) {
  .chat_sidebar {
    border: none;
  }
}
.button_white {
  background-color: @wt;
  font-size: 18px;
}

.messagerie-list {
	.header_sec {
    //height: 50px;
		.user-detail {
			position: relative;
	    color: #69686d;
      font-weight: 600;
      //margin-left: 45px;
      width: 180px;
      height: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .header_sec.new {
    //height: 50px;
    .user-detail {
      font-weight: 900;
    }
    .lastmsg {
      font-weight: 700;
    }
  }

	.contact_sec {
		p {
			margin: 0;
		}
      .lastmsg {
        margin-left: 10px;
        width: 190px;
        display: inline-block;
      }
	}
}

.card.contact, #newIncident_modal {
  background: transparent;
  box-shadow: none;

  .card {
    border-radius: 0;

    .card-header {
      background: @wt;
      color: @grey3;
      padding: 11.5px 17.5px;
      font-size: 13px;
      font-weight: 500;
      border-radius: 0;

      .pencil-square_btn {
        position: absolute;
        top: 6px; right: 6px;
        text-transform: none;
        display: block;
        color: #ff4550;
        text-decoration: none;
        cursor: pointer;
        font-size: 14px;
        padding: 0;
      }
    }

    .card-header.uppercase {
      text-transform: uppercase;
    }
  }

  .cols {
    padding: 0;

    &.col-md-3 {
      width: 17.5%;
    }
    &.col-md-9 {
      width: 82.5%;
    }
  }

  .card-sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    height: 100%;

    a:after {
      display: none;
    }

    a {
      .fa-stack-2x {
        color: #fe0900
      }
    }
    ul {
      padding: 0;
      margin: -10px;
    }
    li {
      list-style: none;
      border-bottom: 1px solid @grey2;
      margin-left: -10px;
      margin-right: -10px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    li:first-child,
    li:last-child {
      border-bottom: none;
    }
    form {
      padding: 0 10px;
    }
    .form-group {
      position: relative;
      margin-bottom: 0
    }
    .form-search {
      padding-left: 32px;
      font-size: 12px;
    }
    .form-group {
      button {
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        padding: 5px;
        color: @grey3;

        i {
          font-size: 20px;
          color: @grey3;
        }
      }
    }
  }
  .message-list {
    display: block;
    text-decoration: none;
    color:@grey3;
    padding: 10px;

    img {
      float: left;
      margin-right: 6px;
    }

    small {
      font-size: .55em;
      color: @grey3;
    }

    p {
      font-size: .75em;
      margin-bottom: 0;
    }
  }
  .card-main {
    height: 100%;

    .card-header {
      border-radius: 0;
      background: @grey3;
      color: @wt;
      text-transform: none;
      font-size: 14px;
    }
    .custom-radio {
      margin-right: 1em;
    }
    .custom-control-input:checked~.custom-control-indicator {
      //-webkit-box-shadow: 0 0 0 0px @wt, 0 0 0 3px var(--button-color);
      //box-shadow: 0 0 0 0px @wt, 0 0 0 3px var(--button-color);
      -webkit-box-shadow: 0 0 0 0px @wt, 0 0 0 3px var(--secondary-color);
      box-shadow: 0 0 0 0px @wt, 0 0 0 3px var(--secondary-color);
      background-color: transparent!important;
    }
    .custom-radio {
      .custom-control-indicator {
        width: 92px;
        height: 92px;
        border-radius: 50%;
      }
      .custom-control-description {
        height: 92px;
        padding-top: 30px;
        padding-left: 84px;
        line-height: 22px;
        font-size: 14px;
        font-weight: 500;
        color: @grey3;
        text-transform: uppercase;
      }
    }
      .custom-control-input:checked~.custom-control-description {
      font-weight: 600;
      padding-left: 82px;
    }
    .custom-radio.incident .custom-control-indicator {
      background: url('../img/icons/message-1.png') top left no-repeat @bluelight3;
      background-size: 100% auto;
    }
    .custom-radio.facture .custom-control-indicator {
      background: url('../img/icons/message-2.png') top left no-repeat @bluelight3;
      background-size: 100% auto;
    }
    .custom-radio.demand .custom-control-indicator {
      background: url('../img/icons/message-3.png') top left no-repeat @bluelight3;
      background-size: 100% auto;
    }
    .custom-radio.details {
      padding-left: 0;
      width: 92px;
      margin-right: 1.5em;

      .custom-control-indicator {
        left: 50%;
        top: 0;
        transform: translateX(-50%);
      }
      .custom-control-description {
        display: block;
        margin: 2em 0 1em;
        padding-left: 0;
        padding-top: 78px;
        text-align: center;
        width: 100%;
        font-size: 13px;
        line-height: 1.2;
        word-wrap: break-word;
      }
    }
    .custom-radio.details.electricite .custom-control-indicator {
      background: url('../img/icons/details-1.png') top left no-repeat @bluelight3;
      background-size: 100% auto;
    }
    .custom-radio.details.plomberie .custom-control-indicator {
      background: url('../img/icons/details-2.png') top left no-repeat @bluelight3;
      background-size: 100% auto;
    }
    .custom-radio.details.chauffage .custom-control-indicator {
      background: url('../img/icons/details-3.png') top left no-repeat @bluelight3;
      background-size: 100% auto;
    }
    .custom-radio.details.ascenseur .custom-control-indicator {
      background: url('../img/icons/details-4.png') top left no-repeat @bluelight3;
      background-size: 100% auto;
    }
    .custom-radio.details.eau .custom-control-indicator {
      background: url('../img/icons/details-5.png') top left no-repeat @bluelight3;
      background-size: 100% auto;
    }
    .custom-radio.details.escape .custom-control-indicator {
      background: url('../img/icons/details-6.png') top left no-repeat @bluelight3;
      background-size: 100% auto;
    }
    .custom-radio.details.nettoyage .custom-control-indicator {
      background: url('../img/icons/details-7.png') top left no-repeat @bluelight3;
      background-size: 100% auto;
    }
    .custom-radio.details.porte .custom-control-indicator {
      background: url('../img/icons/details-8.png') top left no-repeat @bluelight3;
      background-size: 100% auto;
    }
    .custom-radio.details.parking .custom-control-indicator {
      background: url('../img/icons/details-9.png') top left no-repeat @bluelight3;
      background-size: 100% auto;
    }
    .custom-radio.details.autre .custom-control-indicator {
      background: url('../img/icons/details-10.png') top left no-repeat @bluelight3;
      background-size: 100% auto;
    }
    .custom-radio.priority.nonurgent .custom-control-indicator {
      background: url('../img/icons/priorite-1.png') top left no-repeat @bluelight3;
      background-size: 100% auto;
    }
    .custom-radio.priority.urgent .custom-control-indicator {
      background: url('../img/icons/priorite-2.png') top left no-repeat @bluelight3;
      background-size: 100% auto;
    }
    .custom-radio.zone.party .custom-control-indicator {
      background: url('../img/icons/zone-1.png') top left no-repeat @bluelight3;
      background-size: 100% auto;
    }
    .custom-radio.zone.single .custom-control-indicator {
      background: url('../img/icons/zone-2.png') top left no-repeat @bluelight3;
      background-size: 100% auto;
    }
  }

  .form-check {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1920px) {
  .card.contact {
    .card-main {
      .custom-radio {
        .custom-control-indicator {
          width: 6em;
          height: 6em;
        }
        .custom-control-description {
          padding-left: 5em;
          font-size: 1.06em;
          line-height: 5em;
          color: @grey3;
          text-transform: uppercase
        }
      }
    }
  }
}

.d-top-head {
  .otherParticipant {
    //margin-bottom: 5px;
  }
}

.otherParticipant {
  //border: none !important;
  //background-color: #7cc576 !important;
  //color: @wt !important;
  //padding: 3px 5px !important;
  //border-radius: 3px !important;
  //margin-right: 5px !important;
  //font-weight: normal;
}

/* END: Contact page */

// ADDED BY DWI YUDHA ------------
.btn:active, .btn.active {
  box-shadow: none;
}
table#gestionnaire-msg-list {
  td.center{
    //text-align: center;
    span.center {
      float: none;
    }
  }
}

#msg-container-mgr {
  display: flex;
  overflow: hidden;

  //.de-participants {
  //  width: 220px;
  //  //float: right;
  //}
  //
  //.msg-wrap {
  //  width: calc(~"100% - 230px");
  //}

  .inn-area {
    white-space: nowrap;
    overflow: hidden;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 300px;
    }
  }
}

#gestionnaire, #msg-container-mgr, #newIncident_modal {

  #chat-window {
    min-height: 80px;
    overflow-y: auto;
    overflow-x: hidden;

    textarea#answer.custom-control.messengerMessage {
      resize: none;
      overflow: hidden;
      min-height: 20px;
      height: 68px;
      padding-left: 7px;
      padding-top: 6px !important;
    }

    #answer::-webkit-scrollbar {
      width: 0px;  /* remove scrollbar space */
      background: transparent;  /* optional: just make scrollbar invisible */
    }
  }
}
#msg-container-mgr > div.msg-wrap > div.main-thread > div.d-top-head > div.inn-area > div.msg-user > span span.status-label {
    padding: 0;
}

.tabcontent {
  div.cols.right-panel  div.card-block  form  div:nth-child(1) span.custom-control-description {
    width: 250px;
  }

  .left-panel {
    width: 300px;
  }

  #msg-container {
    display: flex;
    overflow: hidden;

    .d-top-head {
      .inn-area {
        .msg-user {
          .user-name {
            padding-top: 11px;
            height: 28px!important;
          }

          span:nth-child(2),
          span:nth-child(3) {
            height: 21px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-left: 10px;
          }
        }

        div.user-list {
          padding-left: 50px;

          i {
            cursor: pointer;
          }

          ul {
            display: none;
            padding: 0;

            li {
              margin-bottom: 2px;
            }
          }
        }
      }
    }
  }

  .right-panel {
    width: calc(~"100% - 300px");

    .scrollable {
      height: 300px;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-left: 15px;
      padding-right: 25px;
      margin-right: -20px;
    }

    .inn-prior {
      margin-left: 22px;
      margin-top: 4px;
    }

    .no-side-margin {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }

    .chatbox-container-2 {
      margin-left: -20px;
      margin-right: -20px;
    }

    .stick-bottom {
      border-top: solid 1px rgba(0, 0, 0, 0.125);
      margin-top: 20px;
      padding-top: 20px;
      margin-left: -50px;
      padding-left: 50px;
      margin-right: -20px;
      padding-right: 20px;
    }

    .recipient {
      padding-left: 30px;
      position: absolute;
      top: 1px;
      left: 0;
      border-bottom: 1px solid rgb(221, 221, 221);

      .selection {
        .select2-selection {
          border: 0;
        }
        .select2-search__field {
          margin-top: 8px;
        }
      }
    }

    .recipient:before {
      content: 'À: ';
      position: absolute;
      top: 8px;
      left: 10px;
    }
  }

  @media screen and (max-width: 310px) {

    .left-panel, .right-panel {
      width: 100%;
    }
  }
}

.bootbox-list {
  list-style: none;
  margin-top: 15px;
  padding: 0;

  li {
    margin-bottom: 10px;

    .header_sec {
      margin-top: 7px;
    }
  }
}

.custom-wide-modal {
  .modal-dialog {
    width: 450px;

    @media screen and (max-width: 450px) {
      width: 100%;
      margin: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .respoBtnRed{
    button{
      margin-top:10px !important;
    }
  }
}

.card.contact .card-main .custom-control-input ~ .custom-control-description {
  padding-left: 72px;
}

.swipe {
  position: relative;
  right: 0;
  /*width: calc(~"100% + 55px"); To match the next beautiful feature  */
  width: 100%;
  transition: right 0.2s ease-in-out 0s;
}

.retrieving-history {
	display: none;
  transform: rotate(0.5turn);
	justify-content: center;
	span {
		position: relative;
		font-style: italic;
	}
}

.msg-received > .dropdown > .menu-messagerie-list, .msg-received > .dropdown > .dropdown-menu {
	margin-right: -125px !important;
}

.msg-sent > .dropdown > .menu-messagerie-list, .msg-sent > .dropdown > .dropdown-menu {
	margin-right: -20px !important;
}

.menu-messagerie-list {
	display: none;
	font-size: 16px;
	margin-top: 7px;
}
.dropdown-sub-text {
	display: block;
	padding: 10px 40px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	white-space: nowrap;
}

.dropdown-sub-menu {
	position: relative;
}

#edit_message_feed:hover, #delete_message_feed:hover {
	color: #fff !important;
	text-decoration: none !important;
	background-color: #fe0900 !important;
}

.dropdown-sub-menu:hover{
	color: #262626;
	cursor: pointer;
	text-decoration: none;
	background-color: #f5f5f5;
}

.d--msg:hover {
	.menu-messagerie-list {
		display: block;
	}
}

.dropdown.open > .menu-messagerie-list {
	display: block !important;
}

// This feature will be enabled soon ;)
.swipe:hover {
	.menu-messagerie-list {
		display: block;
	}
/*  right: 55px;*/
/*  transition: right 0.2s ease-in-out 0.5s;*/
}

/*.menu-messagerie-list {
  display: block;
  width: 55px;
  background-color: @red;
}

.menu-messagerie-list > .fa {
  display: inline-block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5em;
}*/

#messager-container {
  .unicBadge {
    margin-left: -20px;
  }

  #main-container {
    display: flex;

    .left-container {
      background-color: @wt;
      width: 320px;
      display: flex;
      flex-direction: column;

      .search-message {
        position: relative;
        input {
          box-shadow: 0 1px 4px 0 rgba(32, 33, 38, 0.1);
          background-color: #ffffff;
          border: solid 1px #e0e0e0;
          margin: 10px;
          height: 40px;
          padding-left: 30px;
          width: calc(~'100% - 20px');
          font-size: 15px;
        }
        button {
          border: 0;
          background-color: transparent;
          position: absolute;
          top: 20px;
          left: 10px;

          .search-icon {
            height: 20px;
            width: 20px;
          }
        }
      }

      .the-left-list {
        flex: 1;
        overflow-y: scroll;
      }

      .messagerie-list {
        border-bottom: @grey2 solid 1px;
        height: 88px;
        flex-direction: row;
        align-items: center;
        padding-left: 11px;

        .chat-body {
          flex: 1;
          padding-left: 10px;

          .lastmsg-h {
            align-self: flex-end;
            font-family: @lato;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: -0.1px;
            text-align: right;
            color: @grey3;
            position: absolute;
            top: 6px;
            right: 16px;
          }

          .lastmsg-h.new {
            font-weight: bold;
          }

          .header_sec {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            h5.user-detail {
              font-family: @lato;
              font-size: 16px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: left;
              color: @slategrey;
              margin: 0;
              margin-bottom: 2px;
            }
            p.lastmsg-m {
              font-family: @lato;
              font-size: 15px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.2;
              letter-spacing: -0.1px;
              text-align: left;
              color: @grey3;
            }

            .mid-one {
              display: flex;
              flex-direction: column;
            }
            .image-icon {
              height: 24px;
              width: 24px;
              margin-right: -7px;
            }
          }
          .header_sec.new {
            h5.user-detail {
              font-weight: bold;
            }
            p.lastmsg-m {
              font-weight: bold;
            }
          }
        }
      }
      .messagerie-list.active {
        background-color: @paleBlue;
      }
    }

    .right-container {
      flex: 1;
      background-color: @wt;
      display: flex;
      flex-direction: column;

      .recipient {
        border-bottom: @grey2 solid 1px;
        padding-bottom: 16px;
        //padding-left: 30px;
      }

      //.recipient:before {
      //  content: 'To:';
      //  position: absolute;
      //  top: 8px;
      //  left: 10px;
      //  font-family: @lato;
      //}

      #incident-new {
        display: flex;
        flex-direction: column;

        #gest-scroll {
          flex: 1;
          padding: 24px;
          overflow-y: scroll;
        }

        .stick-bottom {
          padding: 0 20px;
        }

        input[type="text"] {
          border: 0;
          border-bottom: 1px solid #E1E2E7;
          font-family: 'Lato', 'Source Sans Pro', sans-serif;
          font-size: 17px;
          letter-spacing: -0.4px;
          text-align: left;
          color: #5d5e62;
          padding: 10px 0;
        }

        select.form-control {
          border: 0;
          border-bottom: 1px solid #E1E2E7;
          font-family: 'Lato', 'Source Sans Pro', sans-serif;
          font-size: 17px;
          letter-spacing: -0.4px;
          text-align: left;
          color: #5d5e62;
          padding: 10px 0;
          height: auto;
        }

        .message_write .mt-window .messengerMessage {
          font-family: 'Lato', 'Source Sans Pro', sans-serif;
          font-size: 17px;
          letter-spacing: -0.4px;
          text-align: left;
          color: #5d5e62;
          padding: 10px 7px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          width: 100%;

          &::-webkit-input-placeholder {
            color: #999;
          }
        }
      }

      .msg-chat-header {
        flex: 0 0 61px;
        background-color: @wt;
        border-bottom: @grey2 solid 1px;
        padding: 8px 16px;
        position: relative;

        .inn-area {
          font-family: @lato;

          div.user-list {

            cursor: pointer;
            display: inline-block;
            margin-left: 10px;
            ul {
              display: none;
              padding: 0;
            }
          }

          .inn-type {
            font-size: 17px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: @slategrey;
            margin-bottom: 3px;
          }
        }
        .inn-details {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.3px;
          color: @grey3;
          margin-bottom: 2px;

          .otherParticipant {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: @wt;
            padding: 2px 5px;
            //background-color: var(--accent-color);
            background-color: var(--primary-color);
            border-radius: 3px;
            margin-right: 4px;
            width: fit-content;
            display: inline-block;
            margin-bottom: 4px;
          }
        }

        .invite-modal-btn {
          position: absolute;
          top: 8px;
          right: 16px;

          .add-occupant-icon {
            height: 24px;
            width: 24px;
          }
        }
      }

      .msg-chat-body {
        flex: 1;
        background-color: @wt;
        transform: rotate(0.5turn);
        direction: rtl;
        overflow-y: scroll;
        border-left: @wt solid 8px;
      }

      .msg-chat-footer {
        border-top: @grey2 solid 1px;
        padding-top: 16px;
        flex: 0 0 125px;
        background-color: @wt;
      }
    }
  }
}
