<template name="messenger">
  {{#if isSubscribeReady}}
    {{checkTab}}
    <div id="messenger" class="main_block container-fluid">
      <div class="messenger-header plpr23">
        <div class="messenger-header-title">
          <h1 class="messenger-header-title-label">{{getDicoVar "moduleMessagerieIndex" "messaging"}} - {{getAddress}}</h1>
        </div>
        <div class="messenger-header-button">
          {{#if userHasRightMessage}}
            <button type="button" class="btn red_btn" id="newMessage">
              {{getDicoVar "moduleMessagerieIndex" "new_message"}}
            </button>
          {{/if}}
        </div>
      </div>

      <div class="messenger-body">
        {{> MbWorkInProgress content=(getDicoVar 'commonTranslation' 'saving')}}
        {{> messenger_select_tab currentTab=currentTab selectingTab=selectTabCb getDefaultRole=getDefaultRole }}
        {{#if userHasRightMessage}}
          {{refreshAnalytics}}
          <div class="messenger-main-container">
            {{> messenger_contact_list currentTab=currentTab currentConversation=currentConversation selectConversationCb=selectConversationCb }}

            {{> messenger_conversation
              currentTab=currentTab
              currentConversation=currentConversation
              selectConversationCb=selectConversationCb
              isNewMessage=isNewMessage
              setIsNewMessageAsFalse=setIsNewMessageAsFalse
            }}
          </div>
        {{else}}
          <div style="height: 500px; background: white; padding: 90px 0;">
            {{> MbRestrictedAccess}}
          </div>
        {{/if}}
      </div>
    </div>
  {{else}}
    <div id="messenger" class="main_block container-fluid">
      <div class="messenger-header plpr23" style="magin-bottom: 40px">
        <div class="messenger-header-title">
          <h1 class="messenger-header-title-label">{{getDicoVar "moduleMessagerieIndex" "messaging"}} - {{getAddress}}</h1>
        </div>
      </div>
      {{>loader}}
    </div>
  {{/if}}
</template>
