@import "/client/style/variable";

#messenger {
  .blocked-wrapper {
    padding: 0 20px 25px 12px;
  }
  #message-action-dd {
    align-self: center;

    .three-dot {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
    ul.message-action {
      width: 180px;

      li {
        font-family: @lato;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: @slategrey;
        padding: 12px;
        cursor: pointer;
      }
      li:first-child {
        border-bottom: 1px solid @grey3;
      }
      li:hover{
        background-color: #f1f5f6;
      }
    }
  }
  .messenger-header {
    margin-top: 80px;
    background: @wt;
    padding: 15px 20px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
  }
  .messenger-header-title-label {
    font-size: 20px;
    line-height: 32px;
    color: @slategrey;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
  }
  .messenger-header-button {
    align-self: flex-end;
  }

  .messenger-body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .tabBarContainer div {
      white-space: nowrap;
    }
    .tabBarContainer::-webkit-scrollbar {
      display: none;
    }
    .messenger-select-tab {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
    }
    .messenger-main-container {
      flex: 1;
      height: calc(~'100vh - 230px');
      min-height: 500px;
      display: flex;
      flex-direction: row;
      background: @wt;
      .messenger-contact-list {
        overflow-y: scroll;
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        border-right: 1px solid @grey2;

        .flex-fixer {
          display: flex;
          height: 0;
          flex-direction: column;
        }
        .messenger-contact-search-container {
          padding: 10px;
          border-bottom: 1px solid @grey2;
        }
      }
      .messenger-contact-list::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
