<template name="marketPlace_stats">
  <div class="chart-item">
    <div class="head">
      <h3>{{getDicoVar "stats" "market_place"}}</h3>
      <div class="dropdown-stat-header action pull-right">
        <div class="dropdown wider per-s-list btn">
          <button id="dropdownType" class="btn clearfix text-left btn-transparent dropdown-toggle buttonPostView" type="button"
            data-toggle="dropdown">{{selectedFilter}}
            <span class="caret pull-right"></span>
          </button>
          <div class="dropdown-menu">
            <ul class="list-users list-unstyled ulRespon">
              {{#each option in getOptions}}
                <li filter="{{option.type}}" class="typeOption {{getActiveClass option.type}}">
                  <a class="media">
                    <div class="media-body">
                      <h5>{{option.name}}</h5>
                    </div>
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="body">
      {{#unless ready}}
        <div class="loader-container">
          {{> loader}}
        </div>
      {{else}}
        <span>&nbsp;</span> <!-- Don't remove -->
        {{#if loadingData}}
          <div class="loader-container-over">
            {{> loader}}
          </div>
        {{/if}}
        <div id="marketPlace-chart-container" class="the-chart">
          {{renderChartMarketPlace}}
        </div>
        <div id="chartjs-marketPlace-chart-legend" class="chart-legend-container"></div>
        <div id="chartjs-marketPlace-chart-tooltips" class="chart-tooltips-container">
          <table></table>
        </div>
        <div id="marketPlace-chart-no-data">
          {{getDicoVar "stats" "no_data"}}
        </div>
      {{/unless}}
    </div>
  </div>
</template>
