<template name="MbNoContent">
    <div class="mb-no-content">
        <div class="mb-no-content-header">
            <div class="mb-no-content-row">
                <div class="mb-no-content-avatar">
                    <img src="/logo/enterprise.png" alt="{{ getDomainName }}" />
                </div>
                <div class="mb-no-content-info">
                    <div class="mb-no-content-user">{{ getDomainName }}</div>
                    <div class="mb-no-content-timestamp">
                        {{ getUserCreatedAt }}
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-no-content-title">
            {{ getTitle }}
        </div>
        <div class="mb-no-content-desc break-line">
            {{ getDescription }}
        </div>
    </div>
</template>
