
.mb-no-content {
  width: 100%;
  border: 1px solid #e0e0e0;
  padding: 24px;

  .mb-no-content-header {
    .mb-no-content-row {
      margin-bottom: 14px;
      display: flex;
      flex-direction: row;

      .mb-no-content-avatar {
        background: #f1f5f6;
        border-radius: 22px;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4px;

        img {
          width: 28px;
        }
      }

      .mb-no-content-info {
        font-family: Lato, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .mb-no-content-user {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: -0.4px;
          text-align: left;
          color: #5d5e62;
        }

        .mb-no-content-timestamp {
          font-size: 12px;
          line-height: 1.5;
          letter-spacing: -0.1px;
          text-align: left;
          color: #8b999f;
        }
      }
    }
  }

  .mb-no-content-title {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5d5e62;
  }

  .mb-no-content-desc {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
    color: #8b999f;
    margin-top: -10px;
  }
}