.mb-userdropdown {
  position: relative;
  margin: 0;
  box-shadow: none;
  border: none;
  width: 300px;
  .grey-text{
    color: #8b999f;
  }
  .mb-userdropdown-trigger-container {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: none;
    background-color: #ffffff;
    border: none;
    border-bottom: solid 1px #e0e0e0;
    margin: 0;
    width: 100%;
  
    .mb-userdropdown-trigger-label  {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: calc(~"100% - 25px");
      text-align: left;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 38px;
      letter-spacing: -0.3px;
      color: #5d5e62;
      margin-bottom: 5px;
      ul{
        box-sizing: border-box;
        list-style: none;
        margin: 0;
        padding: 0 5px;
        width: 100%;
        li {
          margin-top: 5px;
          padding: 0 5px;
          border: 1px solid #aaa;
          border-radius: 4px;
          cursor: default;
          float: left;
          color:  #ffffff;
          border: none;
          margin-right: 5px;
          background-color: var(--primary-color);
        }
      }
    }
    .mb-userdropdown-trigger-caret {
      border: none;
      width: 24px;
      height: 24px;
      background-image: url(img/icons/svg/chevronDropdown.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      margin-top: 7px;
    }
  }
  .mb-userdropdown-list {
    position: absolute;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    outline: 1px solid #e0e0e0;
    width: 300px;
    z-index: 100;
    overflow-y: auto;
    max-height: 300px;
    .mb-userdropdown-list-search {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 1 0 36px;
      outline: 1px solid #e0e0e0;
      margin: 8px 8px 0 8px;
      width: calc(~"100% - 16px");
    }
    .mb-userdropdown-list-wrap {
      margin-top: 8px;
      border-top:  1px solid #e0e0e0;
      .mb-userdropdown-list-item {
        &:hover {
          background-color: #f7f7f7;
        }
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        height: 68px;
        padding: 8px;
        border-bottom: 1px solid #e0e0e0;
        .mb-userdropdown-list-item-selected {
          position: absolute;
          height: 100%;
          left: 0;
          width: 6px;
          background-color: var(--primary-color);
        }
        &:last-child {
          border-bottom: none;
        }
        .mb-userdropdown-list-item-img {
          margin-left: 8px;
          margin-right: 16px;
          img {
            width: 52px;
            height: 52px;
            border-radius: 100px;
          }
        }
        .mb-userdropdown-list-item-label {
          flex: 1!important;
          h5, p {
            margin: 8px 0 8px 0;
            white-space: nowrap;
            line-height: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 230px;
            font-weight: normal;
            font-size: 16px;
          }
        }
      }
    }
  }
}
