@import "../../../../../../style/variable";

#reservation-validate-wrapper {

  #validate-resa-content {
    padding: 15px;
    background-color: @wt;

    h4 {
      font-family: @lato;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: -0.5px;
      text-align: left;
      color: @slategrey;
    }

    p {
      font-family: @lato;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: -0.1px;
      text-align: left;
      color: @grey3;
      margin: 0;
    }

    p.condo-name {
      font-size: 15px;
      line-height: 1.6;
      letter-spacing: -0.4px;
      text-align: left;
      color: @grey3;

      .building-icon {
        float: left;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        margin-top: 4px;
      }
    }

    p.time {
      font-size: 16px;
      font-weight: bold;
      text-align: left;
      color: @slategrey;
      text-transform: capitalize;
      margin: 17px 0;
    }

    p.resa-bold {
      font-size: 16px;
      font-weight: bold;
      text-align: left;
      color: @slategrey;
    }

    p.service-name {
      margin: 9px 0 7px;
    }

    p.resa-message {

    }

    span.selected-service {
      font-family: @lato;
      font-size: 12px;
      text-align: left;
      color: @wt;
      background-color: var(--primary-color);
      margin-right: 4px;
      padding: 3px 9px;
    }

    .space-between {
      margin: 21px 0 25px;
    }

    .mb-panel {
      margin: 9px -15px 0;
      width: calc(~"100% + 30px");
    }

    .selected-participant {
      margin-top: 4px;
      .participant-item {
        font-family: @lato;
        padding: 5px 8px;
        //background-color: var(--accent-color);
        background-color: var(--primary-color);
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: -0.3px;
        text-align: left;
        color: @wt;
      }
    }
  }
}
