<template name="ReservationValidate">
    <div id="reservation-validate-wrapper">
        {{#with getData}}
        <div class="row">
            <div class="col-sm-12 plpr23">
                <div class="panel mt80">
                    <div class="panel-heading position_relative">
                        <div class="sub-tool-bar clearfix">
                            <div class="pull-left">
                                <h1>{{getDicoVar "moduleReservationIndex" "reservation_detail_title"}}</h1>
                                <button type="button" id="close-validate">
                                    <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{{getDicoVar "resourceForm" "back"}}}
                                </button>
                            </div>
                            <div class="pull-right action repondBtnResa">
                                <a type="button" id="reservation-not-validate-btn" class="btn red_btn red_btn-lg mb-button danger" >{{#if book.pending}}{{getDicoVar "moduleReservationIndex" "do_not_validate"}}{{else}}{{getDicoVar "commonTranslation" "cancel"}}{{/if}}</a>
                                {{#if book.pending}}
                                <a type="button" id="reservation-validate-btn" class="btn red_btn red_btn-lg" >{{getDicoVar "moduleReservationIndex" "validate"}}</a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 plpr23">
                <div id="validate-resa-content">
                    <h4>{{{hyperlink book.title}}}</h4>
                    <p class="condo-name"><span><i class="image-icon building-icon"></i></span>{{#if $neq condo.info.id -1}}{{condo.info.id}} - {{/if}}{{condo.name}}</p>
                    <p class="time">{{timeString book}}</p>
                    <p class="resa-bold">{{getResourceName resource }}</p>
                    {{#unless notEdl resource.type}}<p>{{getDicoVar "moduleConcierge" "label_service"}}: {{getEdlDirections book}}</p>{{/unless}}
                    {{#if notEdl resource.type}}<p>{{getDicoVar "moduleTrombinoscopeIndex" "floor"}}: {{getFloor resource.etage}}</p>{{/if}}
                    {{#if resource.seats}}<p>{{getDicoVar "moduleReservationIndex" "seating"}}: {{resource.seats}}</p>{{/if}}
                    {{#if resource.persons}}<p>{{getDicoVar "moduleReservationIndex" "standing"}}: {{resource.persons}}</p>{{/if}}
                    {{#if notEdl resource.type}}{{#if book.number}}<p>{{resNum resource book}}</p>{{/if}}{{/if}}
                    <div class="space-between">
                      <p class="resa-bold">{{getDicoVar "moduleReservationIndex" "booked_by"}}</p>
                      <p class="resa-detail">{{getBooker book}}</p>
                    </div>

                    {{#if resource.note}}
                      <p class="resa-bold">Note</p>
                      <p class="resa-detail">{{{hyperlink resource.note}}}</p>
                    {{/if}}

                    {{#if haveParticipants book}}
                        <p class="resa-bold">{{getDicoVar "commonTranslation" "particpantTitle"}}</p>
                        <div class="selected-participant">
                            {{#each participant in (getParticipants book.participants)}}
                                <span class="participant-item">{{participant.firstname}} {{participant.lastname}}</span>
                            {{/each}}
                            {{#each externalParticipant in book.externalParticipants}}
                                <span class="participant-item">{{externalParticipant.firstName}} {{externalParticipant.lastName}}</span>
                            {{/each}}
                        </div>
                    {{/if}}

                    {{#if notEdlAndEquipment resource.type book}}
                      <p class="resa-bold">{{getDicoVar "moduleReservationIndex" "total_participant"}}: {{getParticipantNumber book}}</p>
                    {{/if}}

                    {{#if isServiceNotEmpty book}}
                        {{> MbPanel content=(getDicoVar "moduleReservationIndex" "available_services")}}
                        {{#each service in (getServices book.services)}}
                            <p class="resa-bold service-name">{{getServiceName service.key}}</p>
                            {{#each child in (getServiceChild service)}}
                                <span class="selected-service">{{child}}</span>
                            {{/each}}
                        {{/each}}
                    {{/if}}
                    {{#if book.message}}
                        {{> MbPanel content=(getDicoVar "incidentResidentIndex" "message")}}
                        <p class="resa-message" style="padding-top: 15px">{{{hyperlink book.message}}}</p>
                    {{/if}}
                    {{#if book.rejectionMessage}}
                      {{#if book.rejected}}
                        {{> MbPanel content=(getDicoVar "moduleReservationIndex" "rejected_reason")}}
                      {{else}}
                        {{> MbPanel content=(getDicoVar "moduleReservationIndex" "message_from_manager")}}
                      {{/if}}
                      <p class="resa-message" style="padding-top: 15px">{{{hyperlink book.rejectionMessage}}}</p>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="modal fade main-modal d-modal resa-validate-modeal" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="confirmation-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>{{#if moveBook}}{{getDicoVar "moduleReservationIndex" "reservation_detail_title"}}{{else}}{{#if rejectAction}}{{#if book.pending}}{{getDicoVar "moduleReservationIndex" "do_not_validate"}}{{else}}{{getDicoVar "moduleReservationIndex" "cancel_reservation"}}{{/if}}{{else}}{{getDicoVar "moduleReservationIndex" "confirmation"}}{{/if}}{{/if}}</h4>
                        <button type="button" data-dismiss="modal">
                            <i class="image-icon close-icon"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{#if moveBook}}
                          {{#let newResource=getSelectedResource}}
                          <h4>{{{hyperlink book.title}}}</h4>
                          <p class="condo-name"><span><i class="image-icon building-icon"></i></span>{{#if $neq condo.info.id -1}}{{condo.info.id}} - {{/if}}{{condo.name}}</p>
                          <p class="time">{{timeString book}}</p>
                          <p class="resa-bold">{{newResource.name }}</p>
                          {{#unless notEdl newResource.type}}<p>{{getDicoVar "moduleConcierge" "label_service"}}: {{getEdlDirections book}}</p>{{/unless}}
                          {{#if notEdl newResource.type}}<p>{{getDicoVar "moduleTrombinoscopeIndex" "floor"}}: {{getFloor newResource.etage}}</p>{{/if}}
                          {{#if newResource.seats}}<p>{{getDicoVar "moduleReservationIndex" "seating"}}: {{newResource.seats}}</p>{{/if}}
                          {{#if newResource.persons}}<p>{{getDicoVar "moduleReservationIndex" "standing"}}: {{newResource.persons}}</p>{{/if}}
                          {{#if notEdl newResource.type}}{{#if book.number}}<p>{{resNum newResource book}}</p>{{/if}}{{/if}}
                          <div class="space-between">
                            <p class="resa-bold">{{getDicoVar "moduleReservationIndex" "booked_by"}}</p>
                            <p class="resa-detail">{{getBooker book}}</p>
                          </div>

                          {{#if newResource.note}}
                            <p class="resa-bold">Note</p>
                            <p class="resa-detail">{{{hyperlink newResource.note}}}</p>
                          {{/if}}

                          {{#if haveParticipants book}}
                            <p class="resa-bold">{{getDicoVar "commonTranslation" "particpantTitle"}}</p>
                            <div class="selected-participant">
                              {{#each participant in (getParticipants book.participants)}}
                                <span class="participant-item">{{participant.firstname}} {{participant.lastname}}</span>
                              {{/each}}
                              {{#each externalParticipant in book.externalParticipants}}
                                <span class="participant-item">{{externalParticipant.firstName}} {{externalParticipant.lastName}}</span>
                              {{/each}}
                            </div>
                          {{/if}}

                          {{#if notEdlAndEquipment newResource.type book}}
                            <p class="resa-bold">{{getDicoVar "moduleReservationIndex" "total_participant"}}: {{getParticipantNumber book}}</p>
                          {{/if}}

                          {{#if isServiceNotEmpty book}}
                            {{> MbPanel content=(getDicoVar "moduleReservationIndex" "available_services")}}
                            {{#each service in (getServices book.services)}}
                              <p class="resa-bold service-name">{{getServiceName service.key}}</p>
                              {{#each child in (getServiceChild service)}}
                                <span class="selected-service">{{child}}</span>
                              {{/each}}
                            {{/each}}
                          {{/if}}
                          {{#if book.message}}
                            {{> MbPanel content=(getDicoVar "incidentResidentIndex" "message")}}
                            <p class="resa-message" style="padding-top: 15px">{{{hyperlink book.message}}}</p>
                          {{/if}}
                          {{> MbPanel content=(getDicoVar "moduleReservationIndex" "message_from_manager")}}
                          <p class="resa-message">{{{hyperlink getMessage}}}</p>
                          {{/let}}
                        {{else}}
                          {{#if reject}}
                              {{getRejectMessage book.pending}}
                              <div style="margin-top: 10px">
                                  {{> React
                                      value=(getMessage)
                                      component=MbTextArea
                                      showLabel=false
                                      minRow=3
                                      onChange=(setMessage)
                                      placeholder=(getDicoVar "moduleReservationIndex" "reject_reason_placeholder")
                                  }}
                              </div>
                              {{#if showSuggestion}}
                                <div class="reservation-form-container">
                                  {{> ReservationAvailableResources (getParams resource book)}}
                                </div>
                              {{else}}
                                <div class="validate-suggest-button-wrapper">
                                  {{> MbButton suggestButton}}
                                </div>
                              {{/if}}
                          {{else}}
                              {{getConfirmMessage}}
                          {{/if}}
                        {{/if}}
                    </div>
                    <div class="modal-footer">
                        {{#if moveBook}}
                          {{> MbButton previousButton}}
                          {{> MbButton confirmButton}}
                        {{else}}
                          {{#if reject}}
                              {{> MbButton sendButton}}
                          {{else}}
                              {{> MbButton noButton}}
                              {{> MbButton yesButton}}
                          {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{/with}}
    </div>
</template>
