<template name='admin_newBuildings'>
  <div class='topBarContainer'>
    <div class='topBarModuleNameWithBack'>
      Nouveaux immeubles {{getEntityName}}
      <div id='backbutton'>
        <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{getDicoVar 'commonTranslation' 'manager_back'}}
      </div>
    </div>
    <div class='topBarActionButton'>
      <a type="button" class="btn btn-red-confirm saveNewBuildings {{#unless canSubmit}}disabled{{/unless}}">Enregistrer les immeubles</a>
    </div>
  </div>
  <div class='containerNewBuildings'>
    {{#let savedBuildings=getSavedBuildings}}
      {{updateNextStep savedBuildings.length}}
      {{#if savedBuildings.length}}
        <div class='savedBuildings'>
          <table class="managerDetailsContainer table">
            <thead>
              <tr class='containerColumn'>
                <th>Identifiant</th>
                <th>Nom de l'immeuble</th>
                <th>Type</th>
                <th>Adresse</th>
                <th>Bâtiment</th>
                <th class='pictoColumn'>Actions</th>
              </tr>
            </thead>
            <tbody>
              {{#each savedBuildings}}
                <tr class='containerLine'>
                  <td class='commonColumn firstnameColumn lighter'>{{getDisplayedValue this.formBuilding.buildingId}}</td>
                  <td class='commonColumn lastnameColumn lighter'>{{getDisplayedValue this.formBuilding.buildingName}}</td>
                  <td class='commonColumn emailColumn lighter'>{{getTypeValue this.formBuilding.type}}</td>
                  <td class='commonColumn phoneColumn lighter'>{{this.adressInfos.address}}</td>
                  <td class='commonColumn condosColumn lighter'>
                    {{#each subBuilding in this.formBuilding.subBuildings}}
                      {{#if subBuilding.selected}}
                        <div>{{getDisplayedValue subBuilding.name}}</div>
                      {{/if}}
                    {{else}}
                      -
                    {{/each}}
                  </td>
                  <td class='commonColumn pictoColumn'>
                    <div class='edit' buildingIndex='{{@index}}'></div>
                    <div class='trash' buildingIndex='{{@index}}'></div>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      {{/if}}
    {{/let}}
    <div class='newBuildingsContainer'>
      {{> MbPanel content='Details de l\'immeuble'}}
      {{> MbInput
        label="Nom de l'immeuble"
        value=(getFormBuilding 'buildingName')
        required=false
        onInput=(onInputDetails 'buildingName')
        placeholder="Ajouter un nom pour l'immeuble"
      }}

      <div class='containerFlex2'>
        {{> MbInput
          label="Identifiant"
          value=(getFormBuilding 'buildingId')
          required=false
          onInput=(onInputDetails 'buildingId')
          type='number'
          placeholder="Renseigner l'indentifiant de l'immeuble"
        }}

        {{> MbSelect
          selected=(getFormBuildingTypeSelected)
          refresher=getFormBuildingType
          required=true
          label="Type de l'immeuble"
          onSelect=(onSelect 'type')
          options=(getBuildingTypeOptions)
          placeholder="Selectionner un type d'immeuble"
        }}
      </div>

      {{> MbPlaceInput
        label='Adresse'
        required=true
        value=(getFormBuildingAdress)
        onInput=(onInputDetails 'adress')
        placeholder='Addresse de l\'immeuble'
        isError=isAdressError
      }}

      <div class='subBuildingContainer'>
        {{> MbSelect
          selected=(getFormSubBuildingSelected)
          refresher=(getFormBuilding 'subBuildings')
          required=false
          label="Bâtiment"
          options=(getFormSubBuildingOptions)
          onSelect=onSelectSubBuilding
          multiple=true
          placeholder="Cliquer sur + pour ajouter un bâtiment"
        }}
        <div class="mb-input-addIcon">
          <div class="addIcon"></div>
        </div>
      </div>


      {{> MbButton label="Sauvegarder et ajouter un nouvel immeuble" onClick=saveAndAddBuilding class=getClasses}}

    </div>
  </div>
  {{> modal_new_subBuilding addSubBuildingCb=addSubBuildingCb}}
</template>
