<template name='admin_changePassword'>
  <div class='changePasswordContainer'>
    <div class='newPasswordContainer'>
      {{> MbInput
        label=(getDicoVar 'commonTranslation' 'new_password')
        type='password'
        required=true
        onInput=(onInputDetails 'newPassword')
        placeholder=(getDicoVar 'commonTranslation' 'new_password_placeholder')
        isError=(isFieldError 'newPassword')
      }}
      {{> MbInput
        label=(getDicoVar 'commonTranslation' 'newConf_password')
        type='password'
        required=true
        onInput=(onInputDetails 'newPasswordCheck')
        placeholder=(getDicoVar 'commonTranslation' 'newConf_password_placeholder')
        isError=(isFieldError 'newPasswordCheck')
      }}
    </div>
    <div class="saveContactContainer">
      <a type="submit" class="saveContact {{#unless canSubmit}}disabled{{/unless}}" data-loading-text="<i class='fa fa-spinner fa-spin'></i> (getDicoVar 'commonTranslation' 'saving')...">{{getDicoVar 'commonTranslation' 'change_password'}}</a>
    </div>
  </div>
</template>
