<template name="modal_add_condo_manager">
  <div id="add_condo_manager_modal" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
    {{#if isOpen}}
      {{initiateData}}
      <div class="modal-dialog modal-lg">
        <button type="button" class="close round-close" data-dismiss="modal">
          <img src="/img/icons/croix_48px.svg" width="36" alt="">
        </button>
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-heading pull-left mb30">
              <h4 id="myModalLabel" class="modal-title red_color">Ajouter une résidence à {{getUserName}}</h4>
            </div>
          </div>
          <div class="modal-body clearfix" id="subject">
            <form>
              {{#each condoSet in getCondosToAdd}}
                <div class="row" style="{{#if $neq @index 0}}margin-top: 20px;{{/if}}">
                  <div class="col-xs-6">
                    <p class="labelInput">Résidence à ajouter *</p>
                    <div class="form-group">
                      <div class="dropdown per-s-list btn" style="width: 100% !important;">
                        <button name="condo{{@index}}" id="buttonCondoViewModal" class="btn clearfix text-left btn-transparent dropdown-toggle buttonCondoView"
                          type="button" data-toggle="dropdown">
                          {{#if dropdownCondo @index}}{{dropdownCondo @index}}{{else}}
                            <i>Selectionnez une résidence</i>
                          {{/if}}
                          <span class="caret pull-right"></span>
                        </button>
                        <div id="dropdownCondoViewModal" style="width: 100%;" class="dropdown-menu">
                          <ul class="list-users list-unstyled">
                            {{#each getCondoListToAdd @index}}
                              <li name="condoName" idx="{{@index}}" idxparent="{{this.idxParent}}" condoId="{{this._id}}" condoName="{{this.name}}">
                                <h5 name="condoName" idx="{{@index}}" idxparent="{{this.idxParent}}" condoId="{{this._id}}" condoName="{{this.name}}">{{this.name}}</h5>
                              </li>
                            {{/each}}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{#if dropdownCondo @index}}
                    <div class="col-xs-4">
                      <p class="labelInput">Rôle associé *</p>
                      <div class="form-group">
                        <div class="dropdown per-s-list btn" style="width: 100% !important;">
                          <button name="role{{@index}}" id="buttonCondoViewModal" class="btn clearfix text-left btn-transparent dropdown-toggle buttonCondoView"
                            type="button" data-toggle="dropdown">
                            {{#if dropdownRole @index}}{{dropdownRole @index}}{{else}}
                              <i>Selectionnez un rôle</i>
                            {{/if}}
                            <span class="caret pull-right"></span>
                          </button>
                          <div id="dropdownRoleViewModal" style="width: 100%;" class="dropdown-menu">
                            <ul class="list-users list-unstyled">
                              {{#each role in (getRoleForCondo @index)}}
                                <li id="dropdownRole" name="condoRole" idx="{{@index}}" idxparent="{{role.idxParent}}" roleId="{{role._id}}" roleName="{{role.name}}">
                                  <a class="dropdown-condo">
                                    <span style="font-size: 14px; margin-top: 3px; color: #83898e" roleId="{{role._id}}">{{role.name}}</span>
                                  </a>
                                </li>
                              {{/each}}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  {{/if}}
                  {{#if $neq @index 0}}
                    <div class="col-xs-2">
                      <button type="button" idx="{{@index}}" class="close_line form-control btnSup" name="clearSelect" style="margin-top: 31px !important; text-align: left;">
                        <img src="/img/icons/svg/supPicto.svg" idx="{{@index}}" alt="" style="margin-left: 0 !important; margin-right: 10px !important;">
                        <span style="color: #ccc !important; " idx="{{@index}}">Remove</span>
                      </button>
                    </div>
                  {{/if}}

                </div>
              {{/each}}
              <div clas="row">
                <div class="col-xs-4">
                  <button type="button" class="close_line form-control btnSup" name="addCondo" style="margin-top: 31px !important; text-align: left;">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <span>Ajouter une autre résidence</span>
                  </button>
                </div>
              </div>
              <div class="modal-footer" style="padding: 0 !important; margin-top: 150px !important;">
                <button type="submit" id="addCondoToManager" class="btn red_btn button_into_modal pull-right mt40 submitActu" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Ajout en cours...">Valider</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</template>
