<template name='MbWorkInProgress'>
  <div class='workInProgress' style='{{#unless display}}display: none{{/unless}}'>
    <div class='workInProgressContainer'>
      <div class='workContainer'>
        <div class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <span>{{content}}</span>
      </div>
    </div>
  </div>
</template>
