<template name='newService_preview_modal'>
  <div id="modal_newService_preview" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
    <div class="modal-dialog modal-lg">
      <button details="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-heading pull-left">
            <h4 id="myModalLabel" class="modal-title red_color">{{getDicoVar 'commonTranslation' 'preview'}}</h4>
          </div>
        </div>
        <div class="modal-body clearfix" id='subject'>
          {{#if isOpen}}
            <div class='market-details-left-container'>
              <div class='title-container'>{{form.title}}</div>
              <div class='detail-container'>{{form.description}}</div>
              <div class='price-container'>{{#unless $eq (getPrice form.third_party form.price) ''}}{{getDicoVar 'commonTranslation' 'price'}}: {{getPrice form.third_party form.price}}{{/unless}}</div>
              {{#if files.length}}
                <div class="file-container">
                  {{> React
                    component=MbFilePreview
                    files=(getFiles files)
                    layout="13"
                    nativeObject=true
                    forceContainerWidth=true
                    limit=4
                  }}
                </div>
              {{/if}}
              {{#unless form.third_party}}
                <div class='service-quantity-container flex-center margin-top-40 margin-bottom-16'>
                  {{#if priceIsNotNull form.price}}
                    <div class='text-input-container'>{{getDicoVar 'commonTranslation' 'quantity'}}</div>
                    <div class='input-container input-container-with-icon'>
                      <div class='flex-center'>
                        <div class='input-icon-number'></div>
                        <input type='number' class='number_available-input' value='{{getForm 'quantity'}}' min='1'>
                      </div>
                    </div>
                  {{/if}}
                </div>
                {{#let deliveryOptions=getDeliveryOptions}}
                  {{> MbPanel content=(getDicoVar 'commonTranslation' 'delivery_instructions') required=($neq deliveryOptions.length 1)}}
                  {{#if $eq deliveryOptions.length 1}}
                    <div class="delivery-single-container">
                      <span>{{getDicoVar 'commonTranslation' deliveryOptions.[0].id}}</span>
                      <span>{{deliveryOptions.[0].subLabel}}</span>
                    </div>
                  {{else}}
                    <div class="delivery-multiple-container">
                      {{#each deliveryOption in deliveryOptions}}
                        {{> MbCheckbox checked=(getForm deliveryOption.id) label=(getDicoVar 'commonTranslation' deliveryOption.id) onClick=(onInput deliveryOption.id) subLabel=(deliveryOption.subLabel)}}
                      {{/each}}
                    </div>
                  {{/if}}
                {{/let}}

                {{#if $eq form.use_time_slot true}}
                  {{!-- {{#with getDeliveryOptions}} --}}
                  {{> MbPanel content=(getDicoVar 'commonTranslation' 'available_days_times') required=true}}
                  <div class="select-time-slot-date-picker-container">
                    <span>{{getDicoVar 'commonTranslation' 'select_day'}}</span>
                    <div class="select-time-slot-date-picker">
                      <div class='input-icon-calendar'></div>
                      <div>
                        {{> React
                          component=getDateTimeComponent
                          value=(getForm 'day_selected')
                          inputProps=getDatePlaceholder
                          onChange=handleChangeDate
                          dateFormat="DD/MM/YYYY"
                          timeFormat=false
                          locale=getLocal
                          isValidDate=(isValidDate form.openedDays)
                          closeOnSelect=true
                        }}
                      </div>
                    </div>
                  </div>
                  <div class="time-slot-container">
                    {{#if getForm 'day_selected'}}
                      {{#each timeSlot in (getTimeSlots form (getForm 'day_selected'))}}
                        {{> MbCheckbox checked=(isSelectedSlot timeSlot) label=timeSlot onClick=(onSelectTimeSlot timeSlot)}}
                      {{/each}}
                    {{/if}}
                  </div>
                  {{!-- {{/with}} --}}
                {{/if}}

                {{#if shouldDisplaySecondBloc form.price form.use_time_slot}}
                  {{> MbPanel content=(getDicoVar 'commonTranslation' 'special_request')}}
                  <div class='service-textarea-wrapper'>
                    <div class='service-textarea-container'>
                      {{> React component=MbTextArea
                        minRow=3
                        showLabel=false
                        onChange=(onDescChange)
                        value=(getDescriptionValue)
                        placeholder=(getDicoVar 'commonTranslation' 'write_description')
                      }}
                    </div>
                    {{> FileUploadButton files=previewFiles onFileAdded=onFileAdded }}
                    {{> FileList files=previewFiles onRemove=onFileRemoved onFileAdded=onFileAdded newDisplay=true }}
                  </div>
                {{/if}}
              {{/unless}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
