#modal_newService_preview {
  .market-details-left-container {
    flex: 3;
    min-height: 100px;
    background-color: white;
    min-width: 480px;
    padding: 16px;

    .title-container {
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #5d5e62;
      margin-bottom: 16px;
      &:first-letter {
        text-transform: capitalize;
      }
    }

    .detail-container {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #8b999f;
      margin-bottom: 17px;
    }

    .price-container {
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #5d5e62;
      text-transform: capitalize;
    }

    .file-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
}
