#module_incident {
  //overflow-x: auto;

  .fixed-table {
    table-layout:fixed;
    width: 100%;

    td {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .table-responsive {
    overflow-x: hidden;
  }
  .no_result {
    text-align: center;
    font-size: 18px;
    width: 100%;
    padding: 20px;
  }

  #datepicker.errorModalInput {
    border-color: @grey4;
  }

  #table-msg {
    span.select2-selection.select2-selection--multiple {
      height: 34px;

      input.select2-search__field {
        top: 0px;
        margin: 0 5px;
        height: 34px;
        position: absolute;

      }
    }

    .mb-select.other {
      span.select2-selection.select2-selection--multiple {
        input.select2-search__field {
          bottom: 5px;
        }
      }
    }
  }

  .elem, .sortBy {
    cursor: pointer;
  }

  .hidden_td {
    visibility: hidden;
  }

  .incidentList {
    margin-top: 0px;

    .bottom-panel {
      .d-panel-body, .mb-empty-wrapper {
        min-height: 277px;
        -webkit-box-shadow: 1px 2px 5px 1px #d4dee0;
        -moz-box-shadow: 1px 2px 5px 1px #d4dee0;
        box-shadow: 1px 2px 5px 1px #d4dee0;
      }
    }
  }

  .list-condos {
    margin-top: 15px;

    li {
      padding-left: 15px;
      &:hover {
        background-color: #f7f7f7;
      }
    }
    a:hover {
      text-decoration: none;
    }
  }

  .historyitem {
    cursor: pointer;
  }

  thead tr th {
    img {
      height: 24px;
      margin: -8px;
      margin-bottom: -4px;
      padding: 8px 16px!important;
    }
  }

  tbody tr {
    margin-bottom: 5px;
    td {
  		border-bottom: solid 1px rgba(221, 221, 221, 0.39);
  		border-top: none;
      font-size: 14px;
      padding: 8px 16px!important;
    }
  }

  table {
    margin-bottom: 10px;
  }

  .d-pagination li a img {
    height: 15px;
  }

  .btn-badges {
  	position: relative;

  	.badge {
  		background: var(--notification-color)!important;
      position: absolute;
      top: -6px;
      right: -6px;
      border: 3px solid @wt;
      padding: 1px 4px;
    }
  }

  .incidentFirstTab {
    width: 5px
  }
  .isNewTab {
    background: @blue;
  }

  .btn.showDetails,
  .btn.contactGestion,
  .btn.evalIncident {
  	width: 32px;
    height: 32px;
    line-height: 36px;
    border-radius: 50%;
    // border: none;
    background: @red;
    color: @wt;
    cursor: pointer;
    position: relative;

    .fa {
    	color:@wt;
    	font-size: 20px;
    }
  }

  .incident-btn {
    background-color: transparent !important;
    border: none !important;
    cursor: pointer;
  }

  .incident-details-btn {
    background-color: transparent !important;
    //border: 1px solid var(--button-color) !important;
    border: 1px solid var(--secondary-color) !important;
    border-radius: 0 !important;
    cursor: pointer;
    margin-right: 10px !important;
    padding: 0 8px 0 8px !important;
    height: 32px !important;
    width: auto !important;
    //color: var(--button-color) !important;
    color: var(--secondary-color) !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }

  .incident-details-btn:hover {
    //background-color: var(--button-color) !important;
    //border: 1px solid var(--button-color) !important;
    background-color: var(--secondary-color) !important;
    border: 1px solid var(--secondary-color) !important;
    color: #fff !important;
  }

  .btn-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .stars-rating {
    position: relative;
    top: -2px;
  }

  .rating-stars {
    margin-top: 35px;
  }

  .rating-comment {
    margin-top: 40px;
    text-align: left;
    padding-left: 7px;
    padding-right: 20px;
  }

  .r-stars > h4 {
    display: inline-block;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 4px;
    color: @grey;
  }

  .r-stars > span.stars-rating {
    float: right;
  }

  .rating-comment > p {
    width: 80%;
  }

  .detail-history {
    margin: 0 8px 0 8px;
  }

  .radio-change input[type="radio"] {
    display: none;
  }

  .radio-container {
    width: 22px;
    height: 22px;
    margin: 0 3px 0 0;
    display: inline-block;
    position: relative;
    input[type=radio]{
      display: none;
    }
    label {
      cursor: pointer;
      position: absolute;
      width: 22px;
      height: 22px;
      top: 6px;
        left: 0;
      background: @wt;
      border:1px solid @grey2;
      border-radius: 50%;
      min-height: auto;
      background-color: #fff;
    }
    label:after {
      opacity: 0;
      content: '';
      position: absolute;
      width: 13px;
      height: 7px;
      top: 4px;
      left: 3px;
      border: 2px solid #fff;
      border-top: none;
      border-right: none;

      transform: rotate(-45deg);
    }

    input[type="radio"]:checked + label {
      background-color: var(--primary-color);
      border: 2px solid var(--primary-color);
    }
    input[type=radio]:checked + label:after {
      opacity: 1;
    }
  }

  .incident-details {
      padding: 24px;
      tbody{
        tr{
          padding-bottom: 10px;
          background-color: @wt;
          td{
            border-bottom: 1px solid #e0e0e0;
            vertical-align: middle !important;
            img.icon-image{
              width: 64px;
              height: 64px;
              object-fit: cover;
              border-radius: 50%;
              background-color: @bluelight3;
            }
          }
        }
      }
  }

  .history-element {
    padding: 0 16px 0 16px;
    .manager-title {
      padding: 8px 0 8px 0;
      font-family: Lato;
      font-size: 16px;
      font-weight: bold;
      color: #5d5e62;
    }
    .manager-message {
      font-family: Lato;
      font-size: 14px;
      font-weight: normal !important;
      color: #8b999f;
      margin: 0;
      font-style: italic;
    }
    .manager-file {
      font-family: Lato;
      font-size: 14px;
      font-weight: normal;
      color: #fe0900;
    }
    .manager-messaged {
      padding: 8px 0 8px 0;
      font-family: Lato;
      font-size: 13px;
      font-weight: normal !important;
      color: #8b999f;
      margin: 0;
    }
  }

  .bt-grey {
    color: @wt !important;
  }

  .incident-modal {
    max-height: 100%;
    overflow-y: auto;
  }

  .greymargin {
    margin-bottom: 10px;
  }

  .text-left-margin {
padding-bottom: -8px !important;
  }

  .previewfile {
    padding: 0 16px 0 16px;
    max-width: 100%;
    margin-bottom: 16px;
  }

  .history-title {
    padding: 8px 0 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }

  .history-element-title {
    text-transform: uppercase;
    color: var(--primary-color);
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
  }

  .history-element-date {
    color: #8b999f;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
  }

  .incident-history {
    margin: 0 8px 0 8px;
    padding-bottom: 51px;
  }

  .resident-history {
    thead {
      tr {
        th {
          text-align: left;
          padding: 10px 16px 4px 16px !important
        }
      }
    }
    tbody{
      tr{
        background-color: @wt;
        td{
          border-bottom: 1px solid #e0e0e0;
          padding: 4px 16px 4px 16px;
          vertical-align: middle !important;
          img.icon-image{
            width: 64px;
            height: 64px;
            object-fit: cover;
            border-radius: 50%;
            background-color: @bluelight3;
          }
        }
      }
    }
  }

  .history-detail-message {
    tbody {
      tr{
        td {
          border: none;
          padding: 0 16px 8px 16px;
          margin: 0;
        }
      }
    }
  }

  #incident_detail_modal, #contactGestionnaire, #incident_history_modal {
    table.incident.resident-incident {
      td {
        padding: 10px 20px;
      }
      thead {
        tr {
          height: 40px;
        }
      }
      tbody {
        tr {
          td {
            white-space: nowrap;
            text-align: left;
          }
          td:last-child {
            white-space: normal;
            text-align: left;
          }
        }
      }
    }
  }

  #incident_detail_modal, #contactGestionnaire {
    table.incident.resident-incident {
      th {
        text-align: left;
      }
    }
  }

  #incident_history_modal {

    ul.file-list {
      list-style: none;
      padding: 0;

      li {
        a {
          padding-left: 5px;
        }
      }

      li:before {
        content: ' ';
        background-image: url("/img/icons8-o-24.png");
        background-position: center center;
        background-size: cover;
        width: 16px;
        display: inline-block;
        height: 16px;
        margin-bottom: -5px;
      }
    }

    table.incident.resident-incident {
      th {
        text-align: left;
        white-space: nowrap;
      }
      tbody {
        tr {
          td:first-child {
            padding-left: 0px;
          }
          td {
            padding-left: 0px;
          }
        }
      }
    }
  }

  #incident_eval_modal {
    .star-container {
      text-align: center;
      margin-bottom: 70px;
      h3{
        font-weight: 300;
      }
    }
  }
}

.table.incident {
	th {
		border-bottom: none;
	}
	td {
		border-top: none;
		vertical-align: middle;
		padding: 2px 0;
	}

	.label {
		font-size: 85%!important;
	}
}

.d-panel-body > .row {
    margin-left: -30px;
    margin-right: -30px;
}

.d-panel-body .row, .d-panel-body div[class^="col"] {
    display: block;
}

.actions-tables.table tr>td:first-child {
    font-size: 11px;
}

.actions-tables.table tr td {
    line-height: 25px;
}
.muted-td tr td:first-child {
    color: #898a8f;
    text-transform: uppercase;
}
.tbl-brdr-bottom > tbody > tr > td, .tbl-brdr-bottom > thead > tr > td {
    border-top: none;
    border-bottom: 1px solid @grey2;
    vertical-align: middle;
}

.compo-validate .btn {
    margin-right: 9px;
}

.compo-validate.text-center {
    margin-top: 75px;
    margin-bottom: 70px;
}

.btn-blue-inverse {
    color: var(--primary-color);
    background-color: transparent;
    border-color: var(--primary-color);
}

.btn-red-inverse {
    border: 1px solid #ff4651;
    color: #ff4651;
    background: transparent;
}

.btn-blue-inverse:hover, .btn-blue-inverse:focus, .btn-blue-inverse:active {
    color: @wt;
    background: var(--primary-color);
}

.btn-red-inverse:hover, .btn-red-inverse:focus, .btn-red-inverse:active {
    color: @wt;
    background: var(--secondary-color);
}

.btn-mlg > i.material-icons {
    font-size: 36px;
    vertical-align: -13px;
    margin-right: 15px;
}

.grey-line {
  background-color: #acacac;
  cursor: not-allowed !important;
}

.modalContact{
  th{
    padding: 0 20px 0 20px !important;
    text-align: center !important;
  }
  td{
    padding: 10px 20px 10px 20px !important;
    text-align: center !important;
  }

}
#help-windows-fr {
  margin-top: 5px;
  margin-left: 5px;
}
#help-windows-en {
  margin-top: 5px;
  margin-left: -50px;
}
#help-windows-fr,
#help-windows-en{
  position: absolute;
  width: 400px;
  white-space: normal;
  text-align: left;
  background: white;
  border: 1px solid #c5c5c5;
  padding: 0 20px;
  opacity: 0;
  transition: .5s;
  z-index: -999;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
  div{
    line-height: 28px;
  }
}
#help-windows-fr::after,
#help-windows-en::after {
  content: "";
  position: relative;
  top: -100px;
  right: -155px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent white transparent;
  margin-left: -1em;
}

#help-windows-fr::before,
#help-windows-en::before {
  content: "";
  position: relative;
  top: -27px;
  right: -155px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #c5c5c5 transparent;
  margin-left: -1em;
}

.pop-up-Helper{
  position: absolute;
  height: 30px;
  margin-top: -80px;
  margin-left: -400px;
  text-align: left;
  background: white;
  border: 1px solid #c5c5c5;
  padding: 0 20px;
  opacity: 0;
  transition: .5s;
  z-index: -999;
  box-shadow: 0 0 11px rgba(0, 0, 0 ,.2);
  span{
    line-height: 28px;
  }
}
.pop-up-Helper::after {
  content: "";
  position: relative;
  top: 7.5px;
  right: -386px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: white transparent transparent transparent;
  margin-left: -1em;
}

.pop-up-Helper::before {
  content: "";
  position: relative;
  top: 33px;
  right: -386px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #c5c5c5 transparent transparent transparent;
  margin-left: -1em;
}
.tr-pink {
  background: @redlight2;
}
.only-visible-to-you {
  width: 100px;
  margin-left: 18px;
  text-align: left;
  position: relative;
  font-size: 12px;

  &:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f023";
    padding: 0;
    margin-left: -14px;
    width: 12px;
    text-align: left;
  }

  font-size: 12px;
  div{
    display: inline-block;
  }
  .o-v-lock {
    top: 0;
    bottom: 0;
    width: 10%;
  }
  .o-v-text {
    top: 0;
    bottom: 0;
    width: 70%;
  }
}

.history-button-margin {
  margin: 20px 20px 20px 20px;
}

.resident-incident {
  .fa-star {
    margin-right: 0;
  }

  thead {
    tr {
      background: #FFF;
      border-bottom: 1px solid #E3E4E9;

      th {
        padding: 23px 7px !important;
        text-transform: none !important;
        font-family: Lato, sans-serif;
        letter-spacing: -0.4px;
        text-align: left;
        color: #5d5e62 !important;
        font-weight: 500;

        &:first-child {
          padding-left: 30px !important;
        }
      }
    }
  }

  tbody {
    tr {
      // copy pasting from inline style
      background-color: #FFFFFF !important;
      box-shadow: none !important;
      border-bottom: 1px solid #E3E4E9;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .tag-spn {
    min-width: 68px;
    font-family: 'Lato';
    // align-content: center;
    // align-items: center;
    text-align: center;
  }
  
}

.incident-details {
  font-size: 24px;
  font-weight: 500;
  font-family: Lato;
}

#newIncident_modal {
  .mb-input {
    //padding: 0 15px;
  }

  .greytitlemargin {
    margin-right: 0;
    margin-left: 0;
    text-transform: uppercase;
  }

  textarea {
    font-family: 'Lato', 'Source Sans Pro', sans-serif;
    font-size: 17px !important;
    letter-spacing: -0.4px;
    text-align: left;
    color: #5d5e62;

    &::-webkit-input-placeholder {
      font-family: 'Lato', 'Source Sans Pro', sans-serif;
      font-size: 17px;
      letter-spacing: -0.4px;
      text-align: left;
      color: #999;
    }
  }
}

.d-panel-body {
  .incident-action-buttons {
    padding: 0;
  }
}

.incident-action-buttons {
  flex-direction: row;
  display: flex;
  margin: 0 -10px;

  .incident-action-button {
    flex: 1;
    justify-content: flex-start;
    margin: 0 10px;
    cursor: pointer;

    i {
      padding: 0 8px;
    }
  }

  #incidentCancel,
  #incidentValid {
    justify-content: inherit;
  }
}

.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//@media (max-width: 668px){
  //.respoBtnIncident{
    //margin-top: 20px;
  //}
//}
