<template name="module_incident_index">
	{{#if hasModal}}
    {{> incident_modal_new board="resident"}}
  {{/if}}
<div class="wrapper">
    <section class="blue_bg_content" id="mainContent">
	<div class="main_block container-fluid">
		<div class="row">
			<div class="col-sm-12 plpr23">
				<div class="panel mt80">
					<div class="panel-heading position_relative">
						<div class="sub-tool-bar clearfix">
							<h1 class="pull-left">{{getDicoVar "moduleIncidentIndex" "incidents"}} - {{getAddress}}</h1>
							<div class="action pull-right respoBtnIncident">
								{{#if userHasRight "incident" "see"}}
									{{#if userHasRight "incident" "declare"}}
									<button type="button" class="newIncident btn red_btn">{{getDicoVar "moduleIncidentIndex" "to_declare"}}</button>
									{{/if}}
								<div class="pull-right action vertical-centered mar10l">
									<button id="followIncident" class="btn-text follow-text">{{getDicoVar "moduleClassifiedsList" "followAll"}}</button>
									<span id="followIncident" class="starButton follow-start-btn">
										{{#if followIncident }}
										<div class="starButtonOff"></div>{{else}}
										<div class="starButtonOn"></div>{{/if}}
									</span>
								</div>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
        <div class="row" id="module_incident">
            <div class="col-md-12 anti-scroll-x">
                {{#if $eq board "gestionnaire"}}
                    {{> incident_gestionnaire_index}}
                {{else}}
                    {{> incident_resident_index}}
                {{/if}}
            </div>
        </div>
			</div>
		</div>
	</div>

	<!-- <div id="board" class="container-fluid" style="margin-top: 0"> -->
	<!--<div class="main_block container-fluid">-->
		<!--<div id="right_panel">-->
			<!--<div id="module_incident">-->
				<!--&lt;!&ndash; <h1>Incidents :</h1> &ndash;&gt;-->
				<!--{{#if $eq board "gestionnaire"}}-->
				<!--{{> incident_gestionnaire_index}}-->
				<!--{{else}}-->
				<!--{{> incident_resident_index}}-->
				<!--{{/if}}-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

	<!--
	<div class="main_block container-fluid">
		<div class="col-sm-12">
			<div class="row">
				<div class="panel" id="module_incident" style="background: transparent; box-shadow: none;">
					<div class="panel-body" style="padding: 20px 0">
						{{#if $eq board "gestionnaire"}}
						{{> incident_gestionnaire_index}}
						{{else}}
						{{> incident_resident_index}}
						{{/if}}
				  </div>
				</div>
			</div>
		</div>
	</div>
	-->
    </section>
</div>
</template>
