.detailPostBody {
	height: auto;
	width: 100%;
	padding: 0 24px 24px;

	//.blockPost {
	//	border: 0;
	//}
}

.centerDetailPostBody {
	height: auto;
	/*width: 90%;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.commentsZone {
	height: auto;
	width: 100%;
	padding: 5px 0 5px 15px;
	background-color: #e8f2f4;
	margin-bottom: 10px;
}

.editComment {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	textarea {
		font-family: Lato;
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: -0.4px;
		color: #8b999f;
	}
}

.wwww {
	height: auto;
	width: 100%;
}

.dada {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.commentsZone {
	font-family: Lato;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #8b999f;
}

.forumPostCommentButton {
  margin-left: 10px;
  width: 110px;
  align-self: flex-start;
}

#submitButtonDetailForumPost {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 8px;

	.cursorPointer {
		margin: 0 8px;
	}
}

.forum-edit-message {
	border: 1px solid #e0e0e0;
	padding: 8px;

	textarea {
		border: 0;
		padding: 0;
		margin-bottom: 16px;

		&:focus {
			border: 0;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}
	}
}

.forumCommentform {
	height: auto;
	width: 100%;
}

.forumCommentTextarea {
	width: 100%;
    z-index: 1;
    border: 0;
    background: transparent;
	border: 1px solid #adadad;
}

.forumCommentLeft {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.subjectPost3 {
	height: auto;
	width: 95%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	/*border: 1px solid red;*/
	margin-bottom: 2px;
}

.headerPostComment {
	height: 60px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.editOrDelete {
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.editSvg {
	height: 16px;
	width: 16px;
	background: url("/img/icons/edit.svg");
	background-repeat: no-repeat;
	background-position:center;
  background-size: 16px 16px;
}

.cursorPointer {
	cursor: pointer;
}

.headerDetailForum {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.backToTheForum {
	height: 24px;
	width: 33px;
	background: url("/img/icons/svg/back.svg");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 24px 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.varBackToTheForum {
	font-family: Lato;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	margin-left: 24px;
	color: #8b999f;
}

.file-list-wrapper {
	margin-top: 10px;
}
