.blockPost {
	height: auto;
	position: relative;
	cursor: pointer;
    width: 100%;
    border: 0.5px solid gainsboro;
    display: flex;
    flex-direction: column;
	align-items: center;
	margin-bottom: 8px;
	padding: 0 24px;
}

.headerPost {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 17px 0;
}

.headerPostLeft {
	height: 100%;
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.headerPostRight {
	height: auto;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.pollSvg {
	width: 24px;
	height: 22px;
	margin-right: 5px;
	//background: url("/img/icons/svg/poll.svg");
	background-repeat: no-repeat;
	background-size: 24px 24px;
	float: left;

  background-image: none;
  -webkit-mask: url("img/icons/svg/poll.svg") no-repeat 100% 100%;
  mask: url("img/icons/svg/poll.svg") no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  //background-color: var(--button-color);
  background-color: var(--primary-color);
}

.postSvg {
	width: 24px;
	height: 22px;
	margin-right: 5px;
	//background: url("/img/icons/svg/post.svg");
	background-repeat: no-repeat;
	background-size: 24px 24px;
	float: left;

  background-image: none;
  -webkit-mask: url("img/icons/svg/post.svg") no-repeat 100% 100%;
  mask: url("img/icons/svg/post.svg") no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  //background-color: var(--button-color);
  background-color: var(--primary-color);
}

.commentsSvg {
	width: 16px;
	height: 16px;
	margin-right: 5px;
	background: url("/img/icons/svg/comments.svg");
	background-repeat: no-repeat;
    background-size: 16px 16px;
}

.viewsSvg {
	width: 16px;
	height: 16px;
	margin-right: 5px;
	background: url("/img/icons/svg/views.svg");
	background-repeat: no-repeat;
    background-size: 16px 16px;
}

.commentsViews {
	font-family: Lato;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #8b999f;
}

.headerPostInfos {
	margin-left: 5px;
}

.headerPostUsername {
	font-family: Lato;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.4px;
	color: #5d5e62;
}

.headerPostSendTime {
	font-family: Lato;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: -0.1px;
	color: #8b999f;
  display: flex;

  .editedTag {
    margin-left: 5px;
  }
}

.onePicture {
	/*border: 1px solid red;	*/
}

.textareaBorder {
	height: auto;
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 0.5px solid gainsboro;
}

.subjectPost {
	height: auto;
	width: 100%;
	display: flex;
}

.pollOption {
	height: auto;
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	/*border: 1px solid red;*/
	margin-bottom: 2px;
	font-family: Lato;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
	letter-spacing: -0.3px;
	color: #778899;
}

.subjectPost2 {
	height: auto;
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	/*border: 1px solid red;*/
	margin-bottom: 2px;

}

/**
 * Truncate related stuff
 */
@line-height: 1.2;
@font-size: 16px;
@max-line: 10;

.ppp {
	height: auto;
	width: 100%;
	word-wrap: break-word;

	&.truncated {
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: @max-line;
		-webkit-box-orient: vertical;
		display: -webkit-box;
	}
}

/*.pppButton {
	height: 100%;
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-content: flex-start;
}*/

.imgPosted {
	height: auto;
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.multiImgPosted{
}

.imgFullSize {
	height: auto;
	width: 100%;
}

.imgHalfSize {
	height: auto;
	width: 50%;
}

.interactionBlock {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 14px 0;
}

.comBlock {
	height: 100%;
	width: auto;
	padding-right: 7px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.comBlock:hover {
	color: var(--primary-color);
}

.viewBlock {
	height: 100%;
	width: auto;
	padding-left: 7px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.hrStyle {
	height: 2px;
	width: 100%;
}

.cursorPointer {
	cursor: Pointer;
}

.pollPost {
	height: auto;
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*border: 1px solid green;*/
}

.backgroundPosts {
	background-color: black;
}

.fileDiv1 {
	background-repeat: no-repeat;
	border: 1px solid black;
	height: 300px;
	position: relative;
	width: 300px;
	display: inline-block;
	margin-right: 5px;
	background-size: auto 100%;
}

.fileDiv2 {
	background-repeat: no-repeat;
	border: 1px solid black;
	height: 300px;
	position: relative;
	width: 300px;
	display: inline-block;
	margin-right: 5px;
	background-size: auto 100%;
	cursor: pointer;
}

.fileDiv3 {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.55);
}

.fileDiv4 {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: #fff;
	font-size: 1rem;
}

.fileSpan1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: larger;
}

.fileViewerTemplate {
	height: auto;
	width: 95%;
	margin-top: 20px;
}

.voteInput {
	width: 22px;
	height: 22px;
	background: url("/img/icons/svg/unsel.svg");
	background-repeat: no-repeat;
	background-size: 22px 22px;
	cursor: pointer;
}

.voteInputSelected {
	width: 22px;
	height: 22px;
	background: url("/img/icons/svg/sel2.svg");
	background-repeat: no-repeat;
	background-size: 22px 22px;
	cursor: pointer;
}

.voteButton {
    background-color: #fff;
    border: 0.3px solid 87CEEB;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*margin: 4px 2px;*/
    border-radius: 100%;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.voteProgress {
	height: 18px;
	width: 85%;
	margin-left: 8px;
}
.voteBlockLayout {
	height: auto;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
    align-items: flex-start;
}

.forumNbVotes {
	height: 15px;
	width: auto;
	margin-top: 8px;
	font-family: Lato, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
    text-decoration: underline;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: var(--primary-color);
}

.forumNbVotesModal {
  height: 15px;
  width: auto;
  margin-top: 8px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8b999f;
}

.pollCompBlock {
	height: auto;
	width: 100%;
}

.gnagna {
	margin-bottom: 20px;
}

.glou {
	height: auto;
	width: 100%;
	margin-top: 16px;
}

.starButtonOn {
	height: 24px;
	width: 24px;
	background: url("/img/icons/svg/star-gray.svg");
}

.starButtonOff {
	height: 24px;
	width: 24px;
	background: url("/img/icons/svg/star-yellow.svg");
}

.forumCommentform {
	textarea {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		border: 1px solid #e0e0e0;
	}
}

/*.starButtonOn {
	color: yellow;
}*/

/*.openFileScreen {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px 100px 100px 100px;
}
*/
/*.carouselFiles{
	opacity: 1;
}
*/
