<template name="classifieds">
  {{#if isSubscribeReady}}
    {{#if isAllSelected}}
      <div class="whiteFullBackground">
        {{> MbWarning content=(getDicoVar 'commonTranslation' 'select_building_first_classifieds')}}
      </div>
    {{/if}}
    {{#if notSameCondo}}
      {{refreshCondo}}
    {{else}}
      {{#let condoData=getCondo}}
        {{#if condoData}}
          {{> module_classifieds_index data=condoData}}
        {{/if}}
      {{/let}}
    {{/if}}
  {{else}}
    {{> loader}}
  {{/if}}

</template>
