
.market-place-services-container {
  .mb-search-bar {
    margin-bottom: 17px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .mb-panel {
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
    width: calc(~'100% - 32px');
  }
  .services-card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;

    .services-card-fixdisplay {
      flex: 1 0 30%;
      margin-right: 16px;
      margin-bottom: 12px;
      min-width: 300px;
    }
    .services-card {
      position: relative;
      display: flex;
      cursor: pointer;
      flex: 1 0 30%;
      flex-direction: column;
      min-width: 300px;
      // height: 400px;
      margin-right: 16px;
      margin-bottom: 12px;
      border-radius: 2px;
      box-shadow: 0 2px 8px 0 rgba(32, 33, 38, 0.2);

      .new-service-container {
        background-color: var(--third-color);
        position: absolute;
        bottom: 0;
        display: flex;
        width: 60%;
        height: 20px;
        align-items: center;
        justify-content: center;

        .new-service-text {
          right: 16px;
          bottom: 5px;
          color: white;
          font-size: 12px;
        }
      }

      .out-of-stock-container {

        &-manager {
          padding-top: 87px;
        }
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background-color: #ffffffcc;
        display: flex;
        padding-top: 47px;
        flex-direction: column;
        align-items: center;

        .out-of-stock-image-container {
          width: 52px;
          height: 52px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;

          .out-of-stock-image {
            width: 30px;
            height: 30px;
            background-size: 30px;
            background-repeat: repeat;
            background-image: url(/img/icons/cart-out-stock-3x.png);
          }
        }
        .out-of-stock-text {
          margin-top: 16px;
          font-size: 18px;
          color: #fe0900;
        }
      }

      .top-bar {
        margin: 0 8px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .drag-icon {
          width: 24px;
          height: 24px;
          cursor: grab;

          .drag-icon-bar {
            width: 24px;
            height: 2px;
            border-top: solid 3px #e0e0e0;
            border-radius: 25px;
            margin-top: 4px;
          }
        }
        .building-name {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.71;
          letter-spacing: normal;
          text-align: right;
          color: #8b999f;
        }
      }
      .image-container {
        position: relative;
        display: flex;
        justify-content: center;
        height: 200px;

        .image-display {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
        }
      }
      .details-wrapper {
        height: 160px;
        // padding: 10px 12px 5px 5px;
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .details {
          &-name {
            font-size: 18px;
            font-weight: 500;
            color: #5d5e62;
            text-align: center;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:first-letter {
              text-transform: capitalize;
            }
          }
          &-type {
            span {
              background-color: var(--primary-color);
              font-size: 12px;
              color: #fff;
              padding: 4px 7px;
              border-radius: 3px;
            }
            margin-top: 10px;
          }
          &-type-grey {
            span {
              background-color: #8b999f;
            }
          }
          &-description {
            margin-top: 9px;
            font-size: 16px;
            font-weight: normal;
            text-align: center;
            color: #8b999f;
            max-height: 45px;
            overflow: hidden;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

          }
          &-price {
            font-size: 24px;
            font-weight: 500;
            color: #5d5e62;
            position: absolute;
            bottom: 15px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
