<template name='manager_marketPlace_services'>
  <div class='market-place-services-container'>
    {{#if isSubscribeReady}}
      {{> MbSearchBar placeHolder=(getDicoVar 'commonTranslation' 'search') callback=searchCallback}}
      {{> MbPanel content=(getDicoVar 'commonTranslation' 'available_services_items')}}

      {{#let condoNames=getCondoNames services=getServices isAll=isAll}}
        {{#if services.count}}
          <div class='services-card-container'>
              {{#each services}}
                <div class='services-card' data-serviceid='{{_id}}'>
                  <div class='top-bar'>
                    <div class='drag-icon'><div class='drag-icon-bar'></div><div class='drag-icon-bar'></div><div class='drag-icon-bar'></div></div>
                    <div class='building-name'>{{#if isAll}}{{getCondoName condoNames condoId}}{{/if}}</div>
                  </div>
                  <div class='image-container {{#if $eq quantity_available '0'}}out-of-stock{{/if}}'>
                    <div class='image-display' style='background-image: url({{getFileUrl files}});'></div>
                    {{#if isNewService createdAt}}
                      <div class='new-service-container'>
                        <div class="new-service-text">NEW</div>
                      </div>
                    {{/if}}
                  </div>
                  {{#if and ($eq quantity_available '0') ($neq unlimited_quantity true)}}
                    <div class='out-of-stock-container out-of-stock-container-manager'>
                      <div class="out-of-stock-image-container">
                        <div class='out-of-stock-image'></div>
                      </div>
                      <div class='out-of-stock-text'>{{getDicoVar 'commonTranslation' 'out_of_order'}}</div>
                    </div>
                  {{/if}}
                  <div class='details-wrapper'>
                    <div class='details-name'>{{title}}</div>
                    <div class='details-type {{#if and ($eq service.quantity_available '0') ($neq service.unlimited_quantity true)}}details-type-grey{{/if}}'><span>{{getDicoVar 'commonTranslation' (concatStr 'mp_service_' type)}}</span></div>
                    <div class='details-description'>{{description}}</div>
                    <div class='details-price'>{{getPrice isThirdParty price}}</div>
                  </div>
                </div>
              {{/each}}
            <div class='services-card-fixdisplay'></div>
            <div class='services-card-fixdisplay'></div>
            <div class='services-card-fixdisplay'></div>
          </div>
        {{else}}
          {{#if isSearchActive}}
            {{> MbEmpty title=(getDicoVar 'commonTranslation' 'no_output')}}
          {{else}}
            {{#if (hasRightInCondos "marketPlace" "addItem" getCondoIds)}}
              {{> MbEmpty
                title=(getDicoVar 'commonTranslation' 'no_service_yet')
                subTitle=(getDicoVar 'commonTranslation' 'service_add_by_you_or_authorized')
                buttonLabel=(getDicoVar 'commonTranslation' 'add_service')
                onButtonClick=addNewItem
              }}
            {{else}}
              {{> MbEmpty
                title=(getDicoVar 'commonTranslation' 'no_service_yet')
                subTitle=(getDicoVar 'commonTranslation' 'service_add_by_authorized')
              }}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/let}}

    {{else}}
      {{> loader}}
    {{/if}}
  </div>
</template>
