@media (max-width: 1025px) {
  .main_block {
    width: 100%;
    margin-left: 0;
  }
  .occupant_module_wrapper {
    width: calc(100% - 40px);
    margin-left: 20px;
  }
}
@media (min-width: 1025px) {
  .main_block {
    width: -webkit-calc(100% - 220px);
    width:    -moz-calc(100% - 220px);
    width:         calc(100% - 220px);
    margin-left: 220px;
  }
  .occupant_module_wrapper {
    width: -webkit-calc(100% - 260px);
    width:    -moz-calc(100% - 260px);
    width:         calc(100% - 260px);
    margin-left: 240px;
  }
}

.password-message {
  align-items: center;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1002;
  top: 0;
  width: 100%;
}

.password-message p {
  margin: 12px;
  font-size: 16px;
}

.password-message p,
.password-message p a,
.password-message__close {
  color: white;
}

.password-message__close:hover,
.password-message a:hover {
  color: var(--secondary-color);
}

.occupant_module_wrapper {
  margin-top: 80px;
}

.feedWell {
  border: 1px solid grey;
  background-color: rgba(193, 193, 193, 0.71);
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.feedWell h3 {
  text-align: center;
}

.plpr23 {
  padding-left: 23px;
  padding-right: 23px;
}
.plpr15 {
  padding-left: 15px;
  padding-right: 15px;
}

#board {
  background-color: white;
  margin-top: 80px;
}

#right_panel {
  height: 100%;
}

@media (max-width: 1024px) {
  #board {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
    #board {
      margin-left: 273px;
      margin-right: 23px;
    }
  }

/*nav*/

.messagerie-list {
	padding-left: 15px;
	padding-right: 15px;
    cursor: pointer;
}

.btn {
    cursor: default;
}
.btn:active,
.btn.active {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.resident {
  margin-left: -45px;
  margin-top: 27px;
  padding-bottom: 5px;
  position: absolute;
  cursor: default;
}

.resident img {
  margin-left: 15px;
  margin-top: -20px;
}

.marketContainer {
  position: relative;
}

.badge_occupant_menu {
  position: absolute;
  text-align: center;
  line-height: 16px;
  background-color: #fe0900;
  border-radius: 50%;
  width: auto;
  min-width: 16px;
  height: 16px;
  left: 25px;
  top: 9px;
  color: white;
  font-size: 10px;
  font-weight: 500;
}

.navbar-brand {
	padding: 3px 30px;
}
/*
.navbar-brand img {
	height: 25px !important;
}*/

.leftNav {
	margin-left: 220px;
  margin-top: 10px;
  vertical-align: text-bottom;
  position: absolute;
}

.arString {
  background-color: white;
  margin-bottom: 0;
}

.arString li a {
  color: grey;
}

.hamburger-icon {
  height: 65px !important;
  margin-left: 15px;
}

.hamburger-icon .icon {
  height: 40px;
  width: 40px;
  display: block;
  /*background-image: url('/img/icons/menu3x.png');*/
  /*margin-left: 16px;*/
  background-repeat: no-repeat;
  background-size: 40px;
  cursor: pointer;
  -webkit-mask: url("img/icons/svg/menu.svg") no-repeat 100% 100%;
  mask: url("img/icons/svg/menu.svg") no-repeat 100% 100%;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: var(--primary-color);
}

@media (min-width: 768px) {
  #ipad-burger .hamburger-icon {
    margin-left: 0;
    margin-top: 8px;
  }
}

#ipad-burger .hamburger-icon.occ,
.hamburger-icon.occ {
  padding-left: 16px;
}

.customNavbar .navbar-toggle .icon-bar {
	background-color: #69d2e7;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	z-index: 5;
}

.schoolBox {
    width: 140px;
    height: 70px;
    font-size: 20px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    background: #69d2e7;
    display: inline-block;
    float: left;
    position: relative;
}

@media (max-width: 767px) {
  	.leftNav {
		margin-left: -15px;
	}
  .navbar-brand {
    padding-top: 5px;
    padding-left: -webkit-calc(50% - 121px);
    padding-left: -moz-calc(50% - 121px);
    padding-left: calc(50% - 121px);
  }
  .customNavbarButton {
    float: left !important;
  }
  .customNavbar {
    min-width: 220px;
  }
}
/*END: nav*/
.immeubleMenu{
    background: url('/img/icons/svg/immeuble_48px.svg') 20px no-repeat !important;
    background-size: 8% !important;
    padding: 15px 4rem !important;
}
.immeubleMenu:hover{
    /*background: var(--button-color) url('/img/gestionnaire/immeuble_white_48px.svg') 20px no-repeat !important;*/
    background: var(--secondary-color) url('/img/gestionnaire/immeuble_white_48px.svg') 20px no-repeat !important;
    background-size: 8% !important;
    padding: 15px 4rem !important;
}

.profilMenu{
    background: url('/img/resident/icons/profilPicto.svg') 20px no-repeat !important;
    background-size: 8% !important;
    padding: 15px 4rem !important;
}
.profilMenu:hover{
    /*background: var(--button-color) url('/img/resident/icons/profilPicto_white.svg') 20px no-repeat !important;*/
    background: var(--button-color) url('/img/resident/icons/profilPicto_white.svg') 20px no-repeat !important;
    background-size: 8% !important;
    padding: 15px 4rem !important;
}

.deconnectMenu{
    background: url('/img/resident/icons/deconnectPicto.svg') 20px no-repeat !important;
    background-size: 8% !important;
    padding: 15px 4rem !important;
}
.deconnectMenu:hover{
    /*background: var(--button-color) url('/img/resident/icons/deconnectPicto_white.svg') 20px no-repeat !important;*/
    background: var(--secondary-color) url('/img/resident/icons/deconnectPicto_white.svg') 20px no-repeat !important;
    background-size: 8% !important;
    padding: 15px 4rem !important;
}
/*Side menu*/

ul.menu-content,
ul.menu-content ul.sub-menu {
	padding-left: 0
}
.nav-side-menu {
  overflow-x: none;
  overflow-y: auto;
  background-color: var(--column-background-color);
  position: fixed;
  z-index: 99 !important;
  top: 60px;
  width: 220px;
  height: calc(100% - 60px);
  left: 0;
  color: #fff;
  transition: left 0.15s ease-in;
}
.nav-side-menu.hide-menu {
  left: -220px;
}

.closeNav {
  font-weight: 400;
  padding-left: 16px;
}

/*li .pull-left {
  height: 60px;
  margin-left: 20px;
  margin-top: -10px;
}*/

.login-mob {
  margin-left: 45px;
  position: relative;
}

.byM {
  right: 0;
  margin-top: -44px;
  margin-right: 19px;
}

li .center-block {
  height: 45px !important;
  margin-top: -10px;
}

.logout {
  margin-left: 170px;
  margin-top: 50px;
  position: absolute;
}

.img-padded {
  margin-top: 9px !important;
  margin-left: 8px;
}

.nav-side-menu img {
  float: left;
  margin-right: 10px;
}

.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu .dropdown-toggle {
	font-weight: 700;
	padding-left: 10px;
}
.nav-side-menu .dropdown-menu {
	background-color: #69d2e7;
	text-align: center;
}
.nav-side-menu .dropdown-menu li a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #69d2e7;
}

.dropdown-toggle {
  font-weight: normal;
}

.toggle {
  font-size: 16px;
  padding-left: 16px;
  font-weight: normal !important;
}


.nav-side-menu li {
  	list-style: none;
  	padding: 0px;
  	margin: 0px;
  	line-height: 35px;
  	cursor: pointer;
}

.nav-side-menu li :not(collapsed) .arrow:before {
  	font-family: FontAwesome;
  	display: inline-block;
  	padding-left: 15px;
  	padding-right: 15px;
  	vertical-align: middle;
  	float: left;
  	color: white;
  	font-size: 20px;
}

.nav-side-menu li :not(collapsed) .arrow-right:before {
    content: "\f105" !important;
}

.nav-side-menu li :not(collapsed) .arrow-down:before {
    content: "\f107" !important;
    margin-left: -6px;
}
.nav-side-menu li > .notSubMenu:hover, .nav-side-menu li > #feed:hover, .nav-side-menu #menu-content > ul li a:hover {
  /*background-color: var(--menu-selected-item-color) !important;*/
  background-color: var(--primary-color) !important;
}


.nav-side-menu li .active {
  	/*background-color: var(--menu-selected-item-color) !important;*/
  background-color: var(--primary-color) !important;
}

.nav-side-menu .block-item {
  /*margin-top: 20px;*/
}

.nav-side-menu li .sub-menu li {
    /*background-color: var(--menu-selected-item-color) !important;*/
    background-color: var(--primary-color) !important;
  	border: none;
  	line-height: 28px;
  	text-transform: uppercase;
}
.nav-side-menu .sub-menu li a {
		padding-left: 25px;
		font-size: 11px;
		font-weight: 400;
		text-transform: uppercase
}
.nav-side-menu .sub-menu li a img {
		margin-right: 14px;
		margin-top: 4px;
}

.nav-side-menu li .sub-menu li:hover {
  /*background-color: var(--menu-selected-item-color);*/
  background-color: var(--primary-color);
}
.nav-side-menu li {
  	padding-left: 0px;
}
.nav-side-menu li a {
  	text-decoration: none;
  	color: white;
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-size: 12.5px;
}
.nav-side-menu li a:hover {
  	text-decoration: none;
  	color: white;
}

.nav-side-menu li:hover {
  /*background-color: var(--menu-selected-item-color);*/
  background-color: var(--primary-color);
}

.highlight {
  /*background-color: var(--menu-selected-item-color) !important;*/
  background-color: var(--primary-color) !important;
}

.appear {
 left: 0px !important;
}

.move {
  margin-left: 220px;
    transition: .5s;
}
#mainContent{
    transition: .5s;
}

.btn-user-profile {
  height: 40px !important;
  width: 40px !important;
  margin: 0 !important;
  padding: 0 !important;
  top: 0 !important;
  position: relative !important;
  left: 0 !important;
}

@media (max-width: 1024px) {
  .nav-side-menu {
    width: 220px;
    left: -250px;
    height: 100%;
    transition: 0.5s;
    top: 60px;
    z-index: 1;
  }
  #main {
    transition: margin-left .5s;
    width: 100%;
  }
  .profile {
    padding: 15px;
  }
  .media_profil li{
      width:100%;
      height:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  @media (min-width: 1024px) {
    .nav-side-menu .menu-list .menu-content {
      display: block;
    }
  }
}
@media (max-width: 767px) {
  .nav-side-menu {
    top: 0;
  }
}

/*END: Side menu*/

/* Input Bar */
#answer {
    border: none;
}

#chat-window {
    position: relative;
    padding: 0;
    margin-bottom: 3px;
}

.mt-window2 {
  border: 1px solid #ddd;
}

.mt-window {
  margin-top: 448px !important;
  border: 1px solid #e0e0e0;
}

.messengerMessage {
    height: auto;
    width: 100%;
    background-color: #fff;
    background-image: none;
    padding-right: 40px!important;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
    color: #8b999f;
}

.attachment-icon-text-area {
    cursor: pointer;
    width: 25px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    top: 0px;
    right: 10px;
    font-family: FontAwesome;
    color: #fff;
    font-size: larger;
    text-align: center;

    embed {
      width: 100%;
    }
}

.attachment-icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    line-height: 25px;
    position: relative;
    top: -5px;
    right: 7px;
    font-family: FontAwesome;
    color: #fff;
    font-size: larger;
    text-align: center;
}

.attachment-icon embed {
	width: 100%;
}

.attachments {
    padding: 0;
    margin: 0;
}

.attachment-item {
    padding: 8px;
    background: #f3f3f3;
    margin: 10px;
    list-style: none;
    border-radius: 8px;
}

.meter {
    height: 10px;
    position: relative;
    background: #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /* padding: 10px; */
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    margin-top: 5px;
}

.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43,194,83);
    background-image: -webkit-linear-gradient(bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69%);
    background-image: -o-linear-gradient(bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69%);
    background-image: linear-gradient(to top, rgb(43,194,83) 37%, rgb(84,240,84) 69%);;
    position: relative;
    overflow: hidden;
}

.file {
    color: #666;
}

.supportbox {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.support {
  margin: 0 0 0 16px;
  color: #5d5e62;
  font-size: 20px;
  font-weight: 500;
}

.greytitle {
  width: 100%;
  background-color: #f1f5f6;
  height: 32px;
  font-size: 12px;
  display: flex;
}

.flagbox {
  height: 128px;
  display: flex;
  flex-direction: row;
  align-items: center
}

.flagimg {
  height: 48px !important;
  width: 48px;
}

.flagimg.languageSelected {
    border: 2px solid var(--primary-color);
    border-radius: 50%;
  }

.closebutton {
  height: 24px !important;
  width: 24px !important;
  margin: 15px 15px 0 0;
}

.centergrey {
  text-align: center;
  color: #5d5e62
}

.lightgrey {
  color: #8b999f;
}

.langtext {
  color: #5d5e62;
  padding-top: 8px;
}

.flexcenter {
  display: flex;
  justify-content: center;
}

.padbot20 {
  padding-bottom: 20px;
}

.langtext2 {
  color: #5d5e62;
  padding-top: 9px;
}

.greytitlemargin {
  margin: 5px 0 0 16px;
  text-transform: uppercase;
}

textarea:focus {
    outline: none !important;
    border: none;
}

textarea {
    resize: none;
}

.file-size {
    color: #9e9e9e;
}

.remove-item {
    display: none;
    float: right;
    color: #6fda44;
    cursor: pointer;
}

.checkmark {
    display: none;
    margin-left: 5px;
}

.completed .remove-item,
.completed .checkmark {
    display: inline-block;
    position: relative;
    top: 2px;
}

.icon-file {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
/* END inputbar */

.msgBurger{
    display: none;
}

#profilSlide{
    display: flex;
    justify-content: center;
    align-items: center;
}

#profilSlide > span > .status-label {
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;
    top: -9px !important;
}

.slidebarMenu{
    margin-left: 10px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.slidebarMenu div{
    border: none !important;
}
.slidebarMenu button{
    padding: 10px !important;
    color: #ffffff !important;
    background-color: #898f99;
}
.slidebarMenu button:hover{
    color: #ffffff !important;
    background-color: #898f99;
}

.slideDropdownMenu {
    width: 150px;
    top: 90% !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: 0px !important;
    background-color: #898f99 !important;
}
.slidebarMenu a{
    padding: 8px 1rem !important;
    text-align: left;
    text-transform : none !important;
}

.slidebarMenu a:hover{
    background: #898f99;
}
.slideCircleSmall{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #7cc576;
    display: block;
    border: 2px solid #fff;
    z-index: 999999 !important;
    position: absolute;
    bottom: 0;
    left: 25px
}

.isGone{
    left: 100px;
}
@media (max-width: 1024px) {
    .slidebarMenu .per-s-list {
        width: 150px !important;
    }
}

@media screen and (max-width: 767px) {
    .msgBurger {
        display: block;
    }
}
