<template name="board">
	{{#if isSubscribeReady}}

	<div class="wrapper">
		<nav class="navbar navbar-default customNavbar hidden-xs">
			<div class="navbar-header">
				<ul class="nav navbar-nav logo">
					<li id="ipad-burger">
            <div class="hamburger-icon occ pull-left">
              <i class="icon"></i>
            </div>
					</li>
					<li class="logoGoHome">
            {{!-- <img id="logoMonBuilding" src="{{showLogo}}" class="monbuilding-logo" style="height: 27px; cursor: pointer;"> --}}
						{{!-- {{#if $neq showLogo "/logo/enterpriseLarge.png"}} --}}
							<img id="logoMonBuilding" src="{{showLogo}}" class="other-logo " style="height: 99%; width: auto;">
						{{!-- {{else}}
							<img id="logoMonBuilding" src="/logo/enterpriseLarge.png" class="monbuilding-logo " style="height: 27px; cursor: pointer;">
						{{/if}} --}}
					</li>
				</ul>
			</div>
			<div class="col-xs-12 helpContent helpButton">
				<div class="help bottom" width="100%">
					<div class="supportbox">
						<span class="support">{{getDicoVar "board" "lang_supp"}}</span><span class="flexcenter"><button class="bootbox-close-button close menu-close-cross" aria-hidden="true"><img class="closebutton" src="/img/icons/svg/close.svg" alt=""></button></span>
					</div>
					<div class="greytitle"><span class="greytitlemargin">{{getDicoVar "board" "select_lang"}}</span></div>
					<div class="language flagbox">
						<div class="col-xs-6"  id='langFr'>
							<p><img class="flagimg {{#if langSelected 'fr'}}languageSelected{{/if}}" src="{{getSrcFR}}" alt=""></p>
							<p class="langtext">Français</p>
						</div>
						<div class="col-xs-6"  id='langEn'>
							<p><img class="flagimg {{#if langSelected 'en'}}languageSelected{{/if}}" src="{{getSrcEN}}" alt=""></p>
							<p class="langtext">English</p>
						</div>
					</div>
					<div class="greytitle"><span class="greytitlemargin">{{getDicoVar "board" "need_help"}}</span></div>
					<div class="helpTerm col-xs-12">
							<p class="lang-modal centergrey">{{{getDicoVar "board" "send_us_email1"}}}<br>{{{getDicoVar "board" "send_us_email2"}}}<br>{{{getDicoVar "board" "send_us_email3"}}}</p>
					</div>
					<div class="action col-xs-12 padbot20">
						<div class="col-xs-6" data-toggle="modal" data-target="#modal_report">
							<img class="flagimg" src="/img/icons/svg/1-incidents-color.svg" alt="">
							<p class="langtext2">{{getDicoVar "board" "report_abuse"}}</p>
							<span class="lightgrey">{{getDicoVar "board" "repor_example"}}</span>
						</div>
						<div class="col-xs-6" id="goCgu">
							<img class="flagimg" src="/img/icons/svg/color-documents.svg" alt="">
							<p class="langtext">{{getDicoVar "board" "cgu"}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse-1">

				<div class="col-xs-12 row helpContent couronneButton">
					<div class="adminBox bottom">
						<button type="button" class="bootbox-close-button close menu-close-cross adminbox-close" aria-hidden="true">×</button>
						<div class="adminTerm col-xs-12">
							<h4>{{getDicoVar "board" "isAdmin"}}</h4>
							<P>{{getDicoVar "board" "bcmAdmin"}}</P>
							<ul>
								<li>{{getDicoVar "board" "publishActuality"}}</li>
								<li>{{getDicoVar "board" "rightMod"}}</li>
								<li>{{getDicoVar "board" "isCs"}}</li>
							</ul>
							<p>{{{getDicoVar "board" "subscrit"}}}</p>
						</div>
						<div class="close-menu-help">
							<button type="button" class="btn btn-close-menu adminbox-ok" style="width: 80px; height: 32px; cursor: pointer;">OK</button>
						</div>
					</div>
				</div>


				<ul class="nav navbar-nav navbar-right">
					{{#if isAdminConnected}}
					<li class="nav-item helpImg">
						<button class="btn red_btn" style="margin-top: 12px; cursor: default;">ADMIN SESSION</button>
					</li>
					{{/if}}
					<li class="nav-item helpImg">
						<a class="nav-link menu-two" ></a>
					</li>
					{{#if condoOptions "couronne"}}
					<li class="nav-item" style="left: 2px;">
						<a class="nav-link menu-three" data-toggle="popover" data-trigger="hover" data-content="Devenir Administrateur"  data-placement="bottom"></a>
					</li>


					{{/if}}
					{{#if and (condoOptions "messenger") (or (condoOptions "messengerResident") (or (and (condoOptions "messengerSyndic") (existOneSyndic)) (or (and (condoOptions "messengerGardien") (existOneKeeper)) (condoOptions "messengerGestionnaire"))))}}
          {{#if or (userHasRight 'messenger' 'writeToResident') (or (userHasRight 'messenger' 'writeToUnionCouncil') (or (userHasRight 'messenger' 'writeToSupervisors') (userHasRight 'messenger' 'writeToManager')))}}
					<li class="nav-item" style="margin-left: 6px">
						<div class="resident-dropdown"  style="cursor: pointer; padding: 6px 10px 0 0; !important">

							{{#if $gt (addBadge (getBadge "messagerieGestionnaire") (getBadge "messagerieResident") (getBadge "messagerieConseilSyndical") (getBadge "messagerieGardien")) 0}}
							<div class="badge_occupant_menu">{{addBadge (getBadge "messagerieGestionnaire") (getBadge "messagerieResident") (getBadge "messagerieConseilSyndical") (getBadge "messagerieGardien")}}</div>
							{{/if}}


							<a class="btn dropdown-toggle" id="dropdown-resident" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;"></a>

							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-resident" style="width:250px;">
								{{#if condoOptions "messengerResident"}}
								{{#if moduleActivated currentCondo "messagerie"}}
                {{#if (userHasRight 'messenger' 'writeToResident')}}
								<a class="dropdown-item messengertab occupantDropDownMenu" tab="{{getDefaultRoleOccupant}}">{{getDicoVar "board" "occupant"}}
									<span class="badge unicBadge" style="margin-top: -3px;">{{getBadge "messagerieResident"}}</span>
								</a>
                {{/if}}
                {{/if}}
								{{/if}}


								{{#if condoOptions "messengerSyndic"}}
								{{#if existOneSyndic}}
                {{#if (userHasRight 'messenger' 'writeToUnionCouncil')}}
								<a class="dropdown-item messengertab" tab="{{getDefaultRoleUnionCouncil}}" id="msgConseil">{{getDicoVar "board" "union_council"}}
									<span class="badge unicBadge" style="margin-top: -3px;">{{getBadge "messagerieConseilSyndical"}}</span>
								</a>
                {{/if}}
                {{/if}}
								{{/if}}

								{{#if condoOptions "messengerGardien"}}
								{{#if existOneKeeper}}
                {{#if (userHasRight 'messenger' 'writeToSupervisors')}}
								<a class="dropdown-item messengertab" tab="{{getDefaultRoleSupervisor}}" id="msgGuardian">{{getDicoVar "board" "keeper"}}
									<span class="badge unicBadge" style="margin-top: -3px;">{{getBadge "messagerieGardien"}}</span>
								</a>
                {{/if}}
                {{/if}}
								{{/if}}

								{{#if condoOptions "messengerGestionnaire"}}
                {{#if (userHasRight 'messenger' 'writeToManager')}}
								<a class="dropdown-item messengertab" tab="manager" id="msgGestionnaire">{{getDicoVar "board" "administrator"}}
									<span class="badge unicBadge" style="margin-top: -3px;">{{getBadge "messagerieGestionnaire"}}</span>
								</a>
                {{/if}}
                {{/if}}
							</div>
						</div>
					</li>
          {{/if}}
					{{/if}}
          {{#if condoOptions "digitalWallet"}}
            {{#if userHasRight 'wallet' 'see'}}
              <li class="nav-item walletContainer">
                {{#if isModuleSelected 'wallet'}}
                  <div style='padding-top: 15px; padding-bottom: 15px; margin-right: 2px; margin-left: 7px;'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 28 28">
                      <g fill="var(--primary-color)" fill-rule="nonzero">
                        <path d="M6.138 5.013l8.766-2.378-.464-.932a1.239 1.239 0 0 0-1.655-.554L4.938 5.013h1.2zM17.625 2.704c-.109 0-.218.015-.326.044l-2.06.56-6.288 1.705H19.2l-.385-1.404a1.231 1.231 0 0 0-1.19-.905zM20.486 5.871H2.237A1.235 1.235 0 0 0 1 7.098v13.667c0 .677.553 1.227 1.235 1.227h18.249c.681 0 1.235-.55 1.235-1.227v-3.422h-7.326a2.093 2.093 0 0 1-2.1-2.086V12.53c0-.564.228-1.077.596-1.452a2.083 2.083 0 0 1 1.501-.63H21.72v-3.35a1.227 1.227 0 0 0-1.233-1.226z" />
                        <path d="M22.585 11.62a1.235 1.235 0 0 0-.832-.322h-7.36c-.682 0-1.235.55-1.235 1.227V15.255c0 .677.553 1.227 1.235 1.227h7.36c.14 0 .274-.025.4-.067.163-.054.309-.142.432-.255.247-.223.403-.547.403-.905v-2.73c0-.359-.156-.683-.403-.906zm-5.615 2.514a.616.616 0 0 1-.617.613h-.41a.616.616 0 0 1-.617-.613v-.407a.6.6 0 0 1 .237-.481.626.626 0 0 1 .38-.133h.41c.34 0 .617.275.617.614v.407z" />
                      </g>
                    </svg>
                  </div>
                {{else}}
                  <a class="nav-link menu-four"></a>
                  {{!-- <span>(FAKE) 25.47 €</span> --}}
                {{/if}}
              </li>
            {{/if}}
          {{/if}}
          {{#if condoOptions "marketPlace"}}
            {{#if userHasRight 'marketPlace' 'see'}}
              {{#with basketInfo=getMarketPlaceInfo}}
                <li class="nav-item marketContainer">
                  {{#if isModuleSelected 'marketPlace'}}
                    <div style='padding-top: 15px; padding-bottom: 15px; margin-right: 2px; margin-left: 7px; cursor: pointer;'>
                      <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 28 28">
                        <path fill="var(--primary-color)" fill-rule="nonzero" d="M23.735 7.65c.212.264.291.58.238.95l-1.005 5.746a1.083 1.083 0 0 1-.41.738c-.239.193-.508.29-.808.29H7.09l-.291 1.634H20.77c.335 0 .626.119.873.356s.37.532.37.883c0 .352-.123.646-.37.883a1.22 1.22 0 0 1-.873.356H5.316c-.371 0-.689-.15-.953-.448a1.276 1.276 0 0 1-.291-1.028l.661-3.585-1.005-10.07L.869 3.46a1.17 1.17 0 0 1-.727-.607 1.305 1.305 0 0 1-.093-.949 1.16 1.16 0 0 1 .622-.724c.309-.15.622-.18.94-.093l3.652 1.16c.229.07.419.202.569.395.15.194.242.413.277.66l.212 2.003L22.888 7.15c.37.053.653.22.847.5zM7.195 20.173c.529 0 .979.184 1.35.553.37.37.555.817.555 1.345 0 .527-.185.98-.556 1.357a1.82 1.82 0 0 1-1.35.567c-.529 0-.979-.19-1.35-.567a1.87 1.87 0 0 1-.555-1.357c0-.528.185-.976.556-1.345.37-.369.82-.553 1.35-.553zm11.3 0c.53 0 .98.184 1.35.553.37.37.556.817.556 1.345 0 .527-.186.98-.556 1.357a1.82 1.82 0 0 1-1.35.567c-.53 0-.98-.19-1.35-.567a1.87 1.87 0 0 1-.556-1.357c0-.528.186-.976.556-1.345.37-.369.82-.553 1.35-.553z" />
                      </svg>
                    </div>
                  {{else}}
                    <a class="nav-link menu-five"></a>
                  {{/if}}
                  {{#if basketInfo.badge}}<div class="badge_occupant_menu">{{basketInfo.badge}}</div>{{/if}}
                  <span>{{basketInfo.total}}</span>
                </li>
              {{/with}}
            {{/if}}
          {{/if}}

					<li class="nav-item">
						<div class="dropdown">
							<a id="goProfile" class="btn-user-profile">
								{{> userIcon userId=getUserId type="U"}}
							</a>
							<a class="dropdown-toggle" data-toggle="dropdown">
								{{user}}
								<i class="fa fa-chevron-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu lessBorder">
								<a class="dropdown-item closeNav profilMenu" id="goProfile" style="border-bottom: 1px solid #dbdde0;">{{getDicoVar "board" "my_profile"}}</a>

								{{#each getResidences}}
								{{#if $gt getResidencesLength 1}}
								<a index="{{this._id}}" class="dropdown-item closeNav immeubleMenu selectCondo" style="border: none; white-space: pre-wrap; overflow: hidden;">{{getResidencesName this._id}}</a>
								{{/if}}
								{{/each}}

								<a id="disconnectButton" href="#" class="dropdown-item logOut deconnectMenu" style="border-top: 1px solid #dbdde0;;">{{#if isAdminConnected}}Retour board admin{{else}}{{getDicoVar "board" "sign_out"}}{{/if}}</a>

							</ul>
						</div>
					</li>
				</ul>
			</div>
		</nav>

		<section class="main_layout">
			<div class="nav-side-menu" id="nav_side_menu">
				<div class="menu-list">
					<ul id="menu-content" class="menu-content">
						<li  data-toggle="collapse" class="collapsed messengertab msgBurger">
							<a class="closeNav highlight" slug="fil">
								<img src="/img/resident/sliderbarLetter.svg" class="img-responsive img-padded" width="16" style="margin: 10px;">
								{{#if $gt (addBadge (getBadge "messagerieGestionnaire") (getBadge "messagerieResident") (getBadge "messagerieConseilSyndical") (getBadge "messagerieGardien")) 0}}
								<span class="mobilBadge">{{addBadge (getBadge "messagerieGestionnaire") (getBadge "messagerieResident") (getBadge "messagerieConseilSyndical") (getBadge "messagerieGardien")}}</span>
								{{/if}}
								messagerie
							</a>
						</li>
						<li  data-toggle="collapse" tab="Resident" class="collapsed">
							<a id="feed" class="closeNav highlight" slug="fil">
								<!-- <img src="/img/resident/icons/fil_d_actu.png" class="img-responsive img-padded" width="18" style="margin: 8px; margin-right: 10px;"> -->
								{{getDicoVar "board" "news"}}
							</a>
						</li>
						{{#if existCondoOptions (createOptionArray "informations_//manual_//incidents_//trombi_//map")}}
						<li  data-toggle="collapse" data-target="#menu2" class="block-item" aria-expanded="true">
							<a class="toggle">
								{{getDicoVar "board" "life_building"}}
							</a>
						</li>
						<ul class="sub-menu collapse in" id="menu2" aria-expanded="true">
							{{#if condoOptions "informations"}}
							<li>
								<a class="closeNav" slug="information">
									<img src="/img/resident/icons/info.png" class="img-responsive img-padded" width="16" />{{getDicoVar "board" "information"}}
									<span class="badge unicBadge">{{getBadge "actuality"}}</span>
								</a>
							</li>
							{{/if}}
							{{#if condoOptions "incidents"}}
							<li>
								<a class="closeNav" slug="incident">
									<img src="/img/resident/icons/incidents.png" class="img-responsive img-padded" width="16">{{getDicoVar "board" "incidents"}}
									<span class="badge unicBadge">{{getBadge "incidentResident"}}</span>
								</a>
							</li>
							{{/if}}
							{{#if condoOptionsTrombi}}
							<li>
								<a class="closeNav" slug="trombinoscope">
									<img src="/img/icons/svg/trombi.svg" class="img-responsive img-padded" width="16" >{{getDicoVar "board" "whos_who"}}
								</a>
							</li>
							{{/if}}
              {{#if userHasRight "trombi" "seeOccupantList"}}
              {{!-- {{#if condoOptions "occupantList"}} --}}
                <li>
                  <a class="closeNav" slug="occupantList">
                    <img src="/img/resident/icons/trombinoscope.png" class="img-responsive img-padded" width="16" style="width:16px">{{getDicoVar "commonTranslation" "manager_occupants"}}
                    <span class="badge unicBadge">{{getBadge "newUser"}}</span>
                  </a>
                </li>
              {{!-- {{/if}} --}}
              {{/if}}
              {{#if condoOptions "emergencyContact"}}
                {{!-- {{#if userHasRight "emergencyContact" "see"}} --}}
                  <li>
                    <a class="closeNav" slug="emergency">
                      <img src="/img/icons/emergencycontact.png" class="img-responsive img-padded" width="16"/>
                      {{ getDicoVar 'commonTranslation' 'emergency_contact' }}
                    </a>
                  </li>
                {{!-- {{/if}} --}}
              {{/if}}
              {{#if existCondoOptions (createOptionArray "manual_//map")}}
                <li>
                  <a class="closeNav" slug="manual_plan">
                    <img src="/img/icons/svg/1-plan-white.svg" class="img-responsive img-padded" width="16">{{getDicoVar "board" "manual_plan"}}
                    <span class="badge unicBadge">{{getBadge "manual"}}</span>
                  </a>
                </li>
              {{/if}}
						</ul>
						{{/if}}
						{{#if existCondoOptions (createOptionArray "reservations_//conciergerie_//marketPlace_//laundryRoom_//print")}}
						<li data-toggle="collapse" data-target="#menu4" class="block-item" aria-expanded="true">
							<a class="toggle">
								{{getDicoVar "board" "services"}}
							</a>
						</li>
						<ul class="sub-menu collapse in" id="menu4" aria-expanded="true">
							{{#if condoOptions "conciergerie"}}
							<li>
								<a class="closeNav" slug="concierge">
									<img src="/img/resident/icons/conciergerie.png" class="img-responsive img-padded" width="16">{{getDicoVar "board" "conciergerie"}}
								</a>
							</li>
							{{/if}}
							{{#if condoOptions "reservations"}}
							<li>
								<a class="closeNav" slug="reservation">
									<img src="/img/resident/icons/reservation.png" class="img-responsive img-padded" width="16">{{getDicoVar "board" "booking"}}
									<span class="badge unicBadge">{{getBadge "reservation"}}</span>
								</a>
							</li>
							{{/if}}
							{{#if condoOptions "marketPlace"}}
							<li>
								<a class="closeNav" slug="marketPlace">
									<img src="/img/resident/icons/market-white.png" class="img-responsive img-padded" width="16">{{getDicoVar "commonTranslation" "manager_marketPlace_services"}}
									<span class="badge unicBadge">{{getBadge "marketPlace"}}</span>
								</a>
							</li>
              {{/if}}
							{{#if condoOptions "print"}}
							<li>
								<a class="printContainer" slug="print">
									<img src="/img/icons/print-white.png" class="img-responsive img-padded" width="16">{{getDicoVar "commonTranslation" "print"}}
									<span class="badge unicBadge">{{getBadge "print"}}</span>
								</a>
							</li>
              {{/if}}
              {{#if condoOptions "laundryRoom"}}
							<li>
								<a class="closeNav" slug="laundryRoom">
									<img src="/img/resident/icons/laundryroom.png" class="img-responsive img-padded" width="16">{{getDicoVar "commonTranslation" "laundryRoom_services"}}
									<span class="badge unicBadge">{{getBadge "laundryRoom"}}</span>
								</a>
							</li>
							{{/if}}
						</ul>
						{{/if}}
            {{#if existCondoOptions (createOptionArray "forum_//classifieds")}}
              <li data-toggle="collapse" data-target="#menu3" class="block-item" aria-expanded="true">
                <a class="toggle">{{getDicoVar "board" "exchange_areas"}}</a>
              </li>
              <ul class="sub-menu collapse in" id="menu3" aria-expanded="true">
                {{#if condoOptions "forum"}}
                  <li>
                    <a class="closeNav" slug="forum">
                      <img src="/img/resident/icons/forum.png" class="img-responsive img-padded" width="16" style="width:16px">{{getDicoVar "board" "forum"}}
                      <span class="badge unicBadge">{{getBadge "forum"}}</span>
                    </a>
                  </li>
                {{/if}}
                {{#if condoOptions "classifieds"}}
                  <li>
                    <a class="closeNav" slug="annonces">
                      <img src="/img/resident/icons/petites-annonces.png" class="img-responsive img-padded" width="16">{{getDicoVar "board" "offers"}}
                      <span class="badge unicBadge">{{getBadge "classifieds"}}</span>
                    </a>
                  </li>
                {{/if}}
              </ul>
            {{/if}}
					</ul>
				</div>

				<div class="profile media_profil">
					<li class="hidden-lg hidden-md hidden-sm">
						<div id="profilSlide">
							{{> userIcon userId=getUserId type="U" dataOccupant=1}}
							<div class="action slidebarMenu">
								<div class="dropdown per-s-list btn">
									<button class="btn clearfix text-left btn-transparent dropdown-toggle buttonCondoView" type="button" data-toggle="dropdown">{{currentCondo.name}}
										<span class="caret pull-right"></span>
									</button>
									<div id="dropdownCondoView" class="dropdown-menu slideDropdownMenu">
										<ul class="list-users list-unstyled ulRespon">


											{{#each residence in gestResidences}}
											<a index="{{condo._id}}" class="dropdown-item closeNav switchImmeuble" style="border: none;">{{residence.name}}</a>
											{{/each}}




											{{#if $eq gestResidences.length 0}}
											<li>
												<div class="media">
													<div class="media-body">
														<h5>{{getDicoVar "board" "no_result"}}</h5>
													</div>
												</div>
											</li>
											{{/if}}
										</ul>
									</div>
								</div>
							</div>
						</div>

						<span id="disconnectButton" class="glyphicon glyphicon-off color-white"></span>
					</li>
				</div>

			</div>
			<div id="mainContent">
				<nav class="navbar navbar-default customNavbar hidden-lg hidden-md hidden-sm">
					<div class="navbar-header">
						<ul class="nav navbar-nav logo">
							<li>
								<!--<img src="/img/hamburger_icon.png" class="navbar-toggle customNavbarButton pull-left hamburger-icon" style="cursor: pointer;"/>-->
                <div class="hamburger-icon occ pull-left">
                  <i class="icon"></i>
                </div>
							</li>
							<li>
                {{!-- <img id="logoMonBuilding" src="{{showLogo}}" class="monbuilding-logo-mobile" style="height: 27px; cursor: pointer;"> --}}
								{{!-- {{#if $neq showLogo "/logo/enterpriseLarge.png"}} --}}
								<div class="logo-mobile-container">
									<img id="logoMonBuilding" src="{{showLogo}}" class="other-logo-mobile" style="height: 99%;">
								</div>
								{{!-- {{else}}
									<img id="logoMonBuilding" src="/logo/enterpriseLarge.png" class="monbuilding-logo-mobile">
								{{/if}} --}}
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</section>
		{{#if closedMessage}}
			<div class="password-message" >
				<p>{{{ getDicoVar 'board' 'missing_password' }}}</p>
				<a href="" class="password-message__close" >
					<i class="fa fa-close"></i>
				</a>
			</div>
		{{/if}}
    {{#if subTemplate}}
				{{> Template.dynamic template=getSubTemplate}}
    {{else}}
      {{#if specificModule}}
        {{#if $eq specificModule "module_forum"}}
          <div id="reactContainer" class="main_block container-fluid">
            {{> React component=reactComponent dicoLang=(getDicoLang specificModule)}}
          </div>
        {{else}}
          {{> Template.dynamic template=specificModule}}
        {{/if}}
      {{else}}
        {{#if currentModule}}
          {{#if $eq currentModule.template "module_forum"}}
            <div id="reactContainer" class="main_block container-fluid">
              {{> React component=reactComponent dicoLang=(getDicoLang currentModule.template)}}
            </div>
          {{else}}
            {{> Template.dynamic template=currentModule.template data=currentModule}}
          {{/if}}
        {{else}}
          {{#if getCondo}}
            {{> feedList condos=getCondo}}
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}
	</div>
	{{else}}
		{{> loader}}
	{{/if}}

	{{> reportModal}}
</template>
