<template name="MbMultipleCondoPicker">
  <div class="mb-input {{classes}}">
    {{#unless getNoLabel}}
      <label for="mb-select">{{getLabel}}{{#if isRequired}}<i class="image-icon mandatory-icon"></i>{{/if}}</label>
    {{/unless}}
    {{#unless isUser}}
      <div>
          {{> React
            component=MbCondoDropdown
            onSelectBuilding=condoIdCb
            selectedCondoIds=(getProps 'selectedCondoIds')
            fullWidth=true
            multiple=true
            module=(getProps 'module')
            right=(getProps 'right')
            readOnly=(getProps 'readOnly')
          }}
      </div>
    {{/unless}}
    <div>
        {{> React
          component=MbMultiDropDown
          onSelectItem=userIds
          selectedUserIds=getSelectedUserIds
          fullWidth=true
          options=getOptions
          multiple=isMultiple
          defaultSelect=defaultSelect
          disabled=isDisabled
        }}
    </div>
  </div>

</template>
