<template name='wallet_recurringPayment'>
  <div class='mbPanelContainer'>
    {{> MbPanel content=(getDicoVar 'commonTranslation' 'payment_settings')}}
  </div>
  <div class='paymentMethodsController noBorder'>
    {{> MbCheckbox checked=getReceiptsValue onClick=switchReceiptsValue}}
    <div class='cardInfos'>
      <div class='cardType'>{{getDicoVar 'commonTranslation' 'send_receipts_email'}}</div>
      <div class='cardNumber'>{{getDicoVar 'commonTranslation' 'send_receipts_email_details'}}</div>
    </div>
  </div>
  {{#let recurringTopUp=getRecurringTopUp}}
    {{#if recurringTopUp}}
      <div class='mbPanelContainer'>
        {{> MbPanel content=(getDicoVar 'commonTranslation' 'recurring_topUp')}}
      </div>
      <div class='paymentMethodsController'>
        {{> MbCheckbox checked=(getRecurringTopUpStatus recurringTopUp)  onClick=switchRecurringValue}}
        <div class='cardInfos'>
          <div class='cardType'>{{getRecurringValue recurringTopUp}}</div>
        </div>
        {{!-- <div class='cardActions'>
          <div class='trashIcon' cardId='{{cardUsed._id}}'></div>
          <div class='editIcon' cardId='{{cardUsed._id}}'></div>
        </div> --}}
      </div>
    {{/if}}
    <div class='wallet_addRecurring'>
      {{> MbButton label=(getDicoVar 'commonTranslation' 'add_recurring_top_up') onClick=addRecurringPayment class=(getAddRecurringClass recurringTopUp)}}
    </div>
    {{!-- {{#unless recurringTopUp}} --}}
      {{> modal_recurringTopUp}}
    {{!-- {{/unless}} --}}
  {{/let}}
</template>
