<template name='admin_newRoles'>
  {{!-- <div id="modal_rights_manager" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
    <div class="modal-dialog modal-lg">
      <button details="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-heading pull-left mb30">
            <h4 id="myModalLabel" class="modal-title red_color"> {{ getModalTitle }} </h4>
          </div>
        </div>
        <div class="modal-body clearfix" id='subject' style="margin-top: -12px; padding-top: 0;"> --}}
        {{#if isSubscribeReady}}
          {{#with UserRights=getUserRights}}
            <div class="containerManagerList" style="padding: 20px !important;">
              <div style='height: 90px; width: 100%;'>
                {{!-- <span style='line-height: 40px;'>Type de rôle</span> --}}
                {{> MbPanel content='Type de rôle'}}
                <div style='display: flex; justify-content: space-between; width: 300px; margin-left: 31px; margin-top: 10px;'>
                  {{> MbCheckbox checked=(getTypeSelected 'Occupant') label='Occupant' onClick=(onCheckboxClick 'Occupant')}}
                  {{> MbCheckbox checked=(getTypeSelected 'Asset Manager') label='Manager' onClick=(onCheckboxClick 'Asset Manager')}}
                </div>
              </div>
              <div style='height: 90px; width: 100%;'>
                {{!-- <span style='line-height: 40px;'>Type de rôle</span> --}}
                {{> MbPanel content='Nom du rôle'}}
                <div style='margin-right: 31px; margin-left: 31px; margin-top: -20px;'>
                  {{> MbInput
                    label=''
                    value=''
                    onInput=onNameChange
                    placeholder='Entrer le nom du rôle'
                  }}
                </div>
              </div>
              <div class='forCondoTypeContainer' style='height: 90px;'>
                {{> MbPanel content='Disponible pour les typologies suivantes'}}
                <div style='display: flex; justify-content: space-between; margin-top: 15px; margin-left: 31px; margin-right: 31px;'>
                  <div>
                    {{> MbCheckbox checked=(getRoleTypo 'copro') label="Copropriété" onClick=(onRoleTypoClick 'copro')}}
                  </div>
                  <div>
                    {{> MbCheckbox checked=(getRoleTypo 'mono') label="Monopropriété" onClick=(onRoleTypoClick 'mono')}}
                  </div>
                  <div>
                    {{> MbCheckbox checked=(getRoleTypo 'office') label="Bureau" onClick=(onRoleTypoClick 'office')}}
                  </div>
                  <div>
                    {{> MbCheckbox checked=(getRoleTypo 'student') label="Résidence Etudiante" onClick=(onRoleTypoClick 'student')}}
                  </div>
                </div>
              </div>

              <table class="tableRights" style="margin-top: 0px;">
                <thead>
                  <th></th>
                  <th></th>
                </thead>
                  <tbody>
                    {{#each right in UserRights.rights}}
                      {{#unless iscurrentDisplayingModule right.module}}
                        <tr style="background: #f1f5f6;">
                          <td class="moduleRow" colspan="3">
                            {{#if $eq right.module 'view'}}
                              {{getDicoVar 'roleName' (viewName right.module right.displayOrder)}}
                            {{else}}
                              {{getDicoVar 'roleName' right.module}}
                            {{/if}}
                          </td>
                        </tr>
                      {{/unless}}
                      <tr class="roleRight {{#if right.disabled}}disabled{{/if}}">
                        <td class="roleRightRight">{{getRoleRightVal right}}</td>
                        <td class="roleRightdefault">
                          <div class="checkboxred">
                            {{#if right.default}}
                              <input type="checkbox" name="{{right.module}}.{{right.right}}.{{right.default}}" checked>
                              <label class="labelForCheckbox"
                                data-index="{{@index}}" data-display="{{getRoleRightVal right}}" for="{{right.module}}.{{right.right}}.{{right.default}}"></label>
                            {{else}}
                              <input type="checkbox" name="{{right.module}}.{{right.right}}.false">
                              <label class="labelForCheckbox"
                                data-index="{{@index}}" data-display="{{getRoleRightVal right}}" for="{{right.module}}.{{right.right}}.false"></label>
                            {{/if}}
                          </div>
                        </td>
                      </tr>
                    {{/each}}
                  </tbody>
              </table>
              <div class='saveRights'>
                {{> MbButton label=(getDicoVar 'commonTranslation' 'personal_details_save') onClick=saveRights class=getButtonClasses}}
              </div>
            </div>
          {{/with}}
        {{else}}
          {{> loader}}
        {{/if}}

        {{!-- </div>
      </div>
    </div>
  </div> --}}
</template>
