<template name="profil_profil">
	{{#if allReady}}
	<div class="flex col">
		<div class="buildingCaractTitle">
			<h4>Détails du profil</h4>
		</div>
		<div class="col-sm-12" style="padding: 20px 30px; background-color: #fff; margin-bottom: 20px;">
			<div class="flex col">
				{{#each profile in getProfile}}
				<div class="flex characteristicItem">
					<div class="characteristicLabel">{{getProperValue profile.name}}</div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							<input type="checkbox" name="checkboxVisibleBy" id="{{profile.name}}" checked="{{profile.isChecked}}">
							<label for="{{profile.name}}"></label>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{/if}}
</template>
