<template name="messageDetailsManagerListItem">
  {{#if isNewUserMsg}}
    <div class="msg-new-user">
      <div class="msg-new-user-wrap">
        <div class="msg-new-user-label">
          {{#let userName=getNewUserName}}
            <span>{{userName}} {{getDicoVar "moduleMessagerieIndex" "has_been_added"}}</span>
            <span>{{getDicoVar "moduleMessagerieIndex" "say_hi"}} {{userName}}</span>
          {{/let}}
        </div>
      </div>
    </div>
  {{else}}
    <div class="msg-{{#if isMyMessage}}sent{{else}}received{{/if}}">
      <div class="msg-{{#if isMyMessage}}sent{{else}}received{{/if}}-wrap">
        {{#each msg in $mapped getCurrentMessage}}
          {{#let userId=msg.userId userName=(getUserName msg.userId) content=msg.text files=(getMsgFiles msg) isMe=(messageFromMe msg.userId) date=msg.date}}
          {{#if content.length}}
          <div class="msg-wrap">
            <div class="msg-bubble-wrap">
              {{#if isMe}}
                <div class="dropdown dropdown-custom">
                  <a class="dropdown-toggle tools item-pencil-dropdown">
                    <i class="image-icon edit-icon"></i>
                  </a>
                  <div class="dropdown-menu">
                    <a href="#" class="dropdown-item msg-edit" data-id="{{msg._id}}">
                      <i class="fa fa-pencil" style="display:inline-block; left: 15px; top: 50%; margin-right: 5px"></i>
                      {{getDicoVar "commonTranslation" "edit"}}
                    </a>
                    <a href="#" class="dropdown-item msg-delete" data-id="{{msg._id}}">
                      <i class="fa fa-trash-o" style="display:inline-block; left: 15px; top: 50%; margin-right: 5px"></i>
                      {{getDicoVar "commonTranslation" "delete"}}
                    </a>
                  </div>
                </div>
              {{/if}}
              {{#if $not isMe}}
                <div class="msg-user-icon">
                  <span class="userIcon-main">
                    {{#let userIcon=(getUserPicture userId) status=(getUserStatus msg.userId)}}
                      {{#if userIcon.isPicture}}
                        <div style="background-image:url('{{userIcon.src}}'), url('/img/anonymous.png')" class="smallprofilepic userIcon"></div>
                      {{else}}
                        <span class="userIcon">
                          {{userIcon.initial}}
                        </span>
                      {{/if}}
                      {{#if status}}
                        <span class="status-indicator {{status}}"></span>
                      {{/if}}
                    {{/let}}
                  </span>
                </div>
              {{/if}}
              <div class="msg-bubble" data-msgId="{{msg._id}}">
                {{#if $not isMe}}
                  {{#if msg.$last}}
                    <h4 class="msg-bubble-label">
                      {{userName}}
                    </h4>
                  {{/if}}
                {{/if}}
                <p class="msg-bubble-label">
                  {{{hyperlink content}}}
                </p>
                {{#if (isModified msg)}}
                  <small class="msg-bubble-modif"> {{ getDicoVar 'commonTranslation' 'modified' }} - {{humanUtcDateShort msg.lastUpdated}} </small>
                {{/if}}
              </div>
            </div>
            <div class="msg-bubble-date">
              {{displayHour date}}
            </div>
          </div>
          {{/if}}
          <!-- FOR IMAGE SEPARATE ROW https://trello.com/c/cN0MByRB-->
          {{#if msg.files.length}}
            <div class="msg-wrap image-msg-wrap">
              <div class="msg-bubble-wrap">
                {{#if isMe}}
                  <div class="dropdown dropdown-custom">
                    <a class="dropdown-toggle tools item-pencil-dropdown">
                      <i class="image-icon edit-icon"></i>
                    </a>
                    <div class="dropdown-menu">
                      <a href="#" class="dropdown-item msg-edit" data-id="{{msg._id}}">
                        <i class="fa fa-pencil" style="display:inline-block; left: 15px; top: 50%; margin-right: 5px"></i>
                        {{getDicoVar "commonTranslation" "edit"}}
                      </a>
                      <a href="#" class="dropdown-item msg-delete" data-id="{{msg._id}}">
                        <i class="fa fa-trash-o" style="display:inline-block; left: 15px; top: 50%; margin-right: 5px"></i>
                        {{getDicoVar "commonTranslation" "delete"}}
                      </a>
                    </div>
                  </div>
                {{/if}}
                {{#if $not isMe}}
                  <div class="msg-user-icon">
                  <span class="userIcon-main">
                    {{#let userIcon=(getUserPicture userId) status=(getUserStatus msg.userId)}}
                      {{#if userIcon.isPicture}}
                        <div style="background-image:url('{{userIcon.src}}'), url('/img/anonymous.png')" class="smallprofilepic userIcon"></div>
                      {{else}}
                        <span class="userIcon">
                          {{userIcon.initial}}
                        </span>
                      {{/if}}
                      {{#if status}}
                        <span class="status-indicator {{status}}"></span>
                      {{/if}}
                    {{/let}}
                  </span>
                  </div>
                {{/if}}
                <div class="msg-bubble" data-msgId="{{msg._id}}">
                  {{#if $not isMe}}
                    {{#if msg.$last}}
                      <h4 class="msg-bubble-label">
                        {{userName}}
                      </h4>
                    {{/if}}
                  {{/if}}

                  {{#each file in files}}
                    {{#let randomId=getRandomId}}
                      <div class="msg-bubble-img-wrap" style="{{#if isMyMessage}}justify-content: flex-end;{{/if}}">
                        <a class="cb-{{msg._id}} color-box-link {{#if or (file.isVideo) (file.isVideoFile)}}is-video{{else}}is-image{{/if}}"
                          data-href="#{{randomId}}" rel="msg">
                          {{#if file.fileId}}
                            {{#if file.isVideoFile}}
                              <figure>
                                <i class='fa fa-spinner fa-spin'></i>
                                <img src="{{file.thumbnailUrl}}"
                                  data-original="{{file.thumbnailUrl}}"
                                  data-highres="{{file.thumbnailUrl}}"
                                  data-type="{{file.type}}"
                                  data-download="{{file.videoUrl}}"
                                  data-video="{{file.isVideoFile}}"
                                />
                              </figure>
                            {{/if}}
                          {{else}}
                            <img src="{{file.preview}}" alt="{{file.filename}}"
                                data-original="{{file.large}}"
                                data-highres="{{file.large}}"
                                data-type="{{file.type}}"
                                data-download="{{file.downloadPath}}"
                                data-video="{{file.isVideo}}"
                            />
                          {{/if}}
                          {{#if or (file.isVideo) (file.isVideoFile)}}<span class="play-icon"></span>{{/if}}
                        </a>
                        {{#if file.isVideo}}
                          <div style="display: none;">
                            <video id="{{randomId}}" width="100%" height="100%" controls poster="{{file.large}}" preload="true">
                              <source src="{{file.videoPath}}" />
                            </video>
                          </div>
                        {{/if}}
                        {{#if file.isVideoFile}}
                          <div style="display: none;">
                            <video id="{{randomId}}" width="100%" height="100%" controls poster="{{file.thumbnailUrl}}" preload="true">
                              <source src="{{file.videoUrl}}" />
                            </video>
                          </div>
                        {{/if}}
                      </div>
                    {{/let}}
                  {{/each}}

                  {{#if (isModified msg)}}
                    <small class="msg-bubble-modif"> {{ getDicoVar 'commonTranslation' 'modified' }} - {{humanUtcDateShort msg.lastUpdated}} </small>
                  {{/if}}
                </div>
              </div>
              <div class="msg-bubble-date">
                {{displayHour date}}
              </div>
            </div>
            {{initColorbox msg._id}}
          {{/if}}
          {{/let}}
        {{/each}}
      </div>
    </div>
  {{/if}}
</template>
