<template name='manager_marketPlace_editService'>
  <div class='topBarContainer'>
    <div class='topBarModuleNameWithBack'>
      {{ getDicoVar 'commonTranslation' 'edit_item' }}
      <div id='backbutton'>
        <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{getDicoVar 'commonTranslation' 'manager_back'}}
      </div>
    </div>
    {{#unless unknownService}}
      {{#if userHasRight 'marketPlace' 'editItem' getCondoId}}
        <div class='topBarActionButton'>
          {{#if userHasRight 'marketPlace' 'deleteItem' getCondoId}}
            <a type="button" class="btn btn-red-confirm-reverse delete-service">{{getDicoVar 'commonTranslation' 'delete'}}</a>
          {{/if}}
          <a type="button" class="btn btn-red-confirm-reverse displayPreview" data-toggle="modal" data-target="#modal_newService_preview">{{getDicoVar 'commonTranslation' 'preview'}}</a>
          <a type="button" class="btn btn-red-confirm saveItem {{#unless canSubmit}}disabled{{/unless}}" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'commonTranslation' 'saving'}}...">{{getDicoVar 'commonTranslation' 'save_changes'}}</a>
        </div>
      {{/if}}
    {{/unless}}
  </div>
  {{#if isSubscribeReady}}
    {{setData}}
    {{#if unknownService}}
      {{> MbEmpty
        title=(getDicoVar 'commonTranslation' 'unknown_item')
      }}
    {{else}}
      {{#if userHasRight 'marketPlace' 'editItem' getCondoId}}
        <div class="market-content-wrapper with-padding space-elements">
        {{!-- BASIC INFORMATIONS --}}
          {{> MbWarning content=(getDicoVar 'commonTranslation' 'warning_add_item_market')}}
          {{> MbSelect
            selected=(getForm 'type')
            required=true
            label=(getDicoVar 'commonTranslation' 'service_type')
            onSelect=(onInput 'type')
            options=getTypeOptions
            placeholder=(getDicoVar 'commonTranslation' 'select_service_type')
          }}
          {{> MbInput
            label=(getDicoVar 'commonTranslation' 'title')
            value=(getForm 'title')
            required=true
            onInput=(onInput 'title')
            placeholder=(getDicoVar 'commonTranslation' 'fill_in_title')
          }}
          <div>
            <div class='mb-input'><label>{{getDicoVar 'commonTranslation' 'description'}}<i class="image-icon mandatory-icon"></i></label></div>
            <div class="info-msg-box">
              <div class="info-msg-box-row">
                <div>
                  {{> React
                    value=(getForm 'description')
                    component=MbTextArea
                    showLabel=false
                    minRow=2
                    onChange=(onInput 'description')
                    placeholder=(getDicoVar 'commonTranslation' 'mp_service_description')
                  }}
                </div>
              </div>
            </div>
          </div>
          {{#if condoHasAccountingOption getCondoId 'product_code' false}}
            {{> MbInput
              label=(getDicoVar 'commonTranslation' 'product_code')
              value=(getForm 'product_code')
              required=true
              onInput=(onInput 'product_code')
              placeholder=(getDicoVar 'commonTranslation' 'fill_in_product_code')
            }}
          {{/if}}
          {{!-- PRICE AND DETAILS --}}
          {{> MbPanel content=(getDicoVar 'commonTranslation' 'payment_and_details')}}
          {{> MbCheckbox checked=(getForm 'third_party') label=(getDicoVar 'commonTranslation' 'service_provided_third_party') onClick=(onInput 'third_party')}}
          {{#if getForm 'third_party'}}
            {{> MbInput
              label=(getDicoVar 'commonTranslation' 'link_third_party')
              value=(getForm 'link_third_party')
              required=true
              onInput=(onInput 'link_third_party')
              placeholder=(getDicoVar 'commonTranslation' 'link_third_party_exemple')
            }}
            <div class='service-price-container'>
              <div class='text-input-container'>{{getDicoVar 'commonTranslation' 'price_incl_vat'}}</div>
              <div class='input-container'>
                <input type='number' class='price-input' value='{{getForm 'price'}}' min='0'>
                <span class='input-euro'>€</span>
              </div>
            </div>
            {{> MbPanel content=(getDicoVar 'commonTranslation' 'add_photos_item') selectOne=true}}
            {{> FileList files=(previewFiles 'preview') onRemove=onFileRemoved onFileAdded=onFileAdded showDropBox=true newDisplay=true }}
          {{else}}
            <div class='container-flex-2'>
              <div class='service-price-container with-vat'>
                <div class='text-input-container'>{{getDicoVar 'commonTranslation' 'price_incl_vat'}}</div>
                <div class='input-container'>
                  <input type='number' class='price-input' value='{{getForm 'price'}}' min='0'>
                  <span class='input-euro'>€</span>
                </div>
                <div class='unlimited-container'>
                  <span>{{getDicoVar 'commonTranslation' 'vat'}}</span>
                  <div class='vat-select-container'>
                    {{> MbSelect
                      selected=(getForm 'vat')
                      onSelect=(onInput 'vat')
                      options=getVAT
                      noLabel=true
                      placeholder=(getDicoVar 'commonTranslation' 'vat')
                    }}
                  </div>
                </div>
              </div>
              <div class='service-quantity-container'>
                <div class='text-input-container'>{{getDicoVar 'commonTranslation' 'number_available'}}<i style='display: inline-block; margin-bottom: 8px; margin-left: 5px;' class="image-icon mandatory-icon"></i></div>
                <div class='input-container'>
                  <input type='number' class='number_available-input quantity-input {{#if (getForm 'unlimited_quantity')}}disabled{{/if}}' disabled="{{#if (getForm 'unlimited_quantity')}}disabled{{/if}}" value='{{getForm 'quantity_available'}}' min='0'>
                </div>
                <div class='unlimited-container'>
                  <span>{{getDicoVar 'commonTranslation' 'or'}}</span>
                  <div>
                    {{> MbCheckbox checked=(getForm 'unlimited_quantity') label=(getDicoVar 'commonTranslation' 'unlimited') onClick=(onInput 'unlimited_quantity')}}
                  </div>
                </div>
              </div>
            </div>
            {{!-- FILES LISTS --}}
            {{> MbPanel content=(getDicoVar 'commonTranslation' 'add_photos_item') selectOne=true}}
            {{> FileList files=previewFiles onRemove=onFileRemoved onFileAdded=onFileAdded showDropBox=true newDisplay=true }}
            {{!-- DELIVERY INSTRUCTIONS --}}
            <div class='checkboxes-container'>
              {{> MbPanel content=(getDicoVar 'commonTranslation' 'delivery_instructions_long') selectOne=true}}
              {{> MbCheckbox checked=(getForm 'pick_up') label=(getDicoVar 'commonTranslation' 'pick_up') onClick=(onInput 'pick_up') subLabel=(getDicoVar 'commonTranslation' 'pick_up_detail')}}
              {{#if (getForm 'pick_up')}}
                {{> MbInput
                  classes='closer-margin-top'
                  label=(getDicoVar 'commonTranslation' 'pick_up_location')
                  value=(getForm 'pick_up_location')
                  required=true
                  onInput=(onInput 'pick_up_location')
                  placeholder=(getDicoVar 'commonTranslation' 'pick_up_location_placeholder')
                }}
              {{/if}}
              {{> MbCheckbox checked=(getForm 'drop_off') label=(getDicoVar 'commonTranslation' 'drop_off') onClick=(onInput 'drop_off') subLabel=(getDicoVar 'commonTranslation' 'drop_off_detail')}}
              {{#if (getForm 'drop_off')}}
                {{> MbInput
                  classes='closer-margin-top'
                  label=(getDicoVar 'commonTranslation' 'drop_off_location')
                  value=(getForm 'drop_off_location')
                  required=true
                  onInput=(onInput 'drop_off_location')
                  placeholder=(getDicoVar 'commonTranslation' 'drop_off_location_placeholder')
                }}
              {{/if}}
              {{> MbCheckbox
                checked=(getForm 'delivered_by_staff')
                label=(getDicoVar 'commonTranslation' 'delivered_by_staff')
                onClick=(onInput 'delivered_by_staff')
                subLabel=(getDicoVar 'commonTranslation' (getSubLabel 'delivered_by_staff_detail'))
              }}
              {{> MbCheckbox
                checked=(getForm 'picked_up_by_staff')
                label=(getDicoVar 'commonTranslation' 'picked_up_by_staff')
                onClick=(onInput 'picked_up_by_staff')
                subLabel=(getDicoVar 'commonTranslation' (getSubLabel 'picked_up_by_staff_detail'))
              }}
            </div>
            {{!-- TIMES SLOTS --}}
            <div class='checkboxes-container'>
              <div class='mbPanelContainer'>
                {{> MbPanel content=(getDicoVar 'commonTranslation' 'available_days_times') selectOne=(getForm 'use_time_slot')}}
                {{!-- <input type="checkbox" class="editProfile checkbox-switch" /> --}}
              </div>
              {{> MbCheckbox checked=(getForm 'use_time_slot') label=(getDicoVar 'commonTranslation' 'add_time_slot_to_service') onClick=(onInput 'use_time_slot')}}
              {{#if getForm 'use_time_slot'}}
                <div class='checkbox-container same-hour-container'>
                  {{> MbCheckbox checked=(getForm 'same_opened_hours') label=(getDicoVar 'commonTranslation' 'set_same_time_services') onClick=onClickSameHours}}
                  <div class='all-hours-container'>
                    {{#each hours in getGlobalHours}}
                      <div class='hours-container' style='flex-wrap: wrap'>
                        <div style='display: flex; align-items: center; margin-right: 30px;'>
                          <div class='hours-input-container'>
                            <div class='input-container input-container-with-icon'>
                              <div class='flex-center'>
                                <div class='input-icon-clock'></div>
                                <input type='text' class='number_available-input number-picker start-hours-input' value='{{hours.start}}' index={{@index}}>
                              </div>
                            </div>
                          </div>
                          <div class='hours-separator'>-</div>
                          <div class='hours-input-container'>
                            <div class='input-container input-container-with-icon'>
                              <div class='flex-center'>
                                <div class='input-icon-clock'></div>
                                <input type='text' class='number_available-input number-picker end-hours-input' value='{{hours.end}}' index={{@index}}>
                              </div>
                            </div>
                          </div>
                          <div class='hours-button-container remove-hours' index={{@index}}>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                              <g fill="none" fill-rule="evenodd" stroke="var(--primary-color)" stroke-width="2">
                                <circle cx="12" cy="12" r="11" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.091 12H6.91" />
                              </g>
                            </svg>
                          </div>
                          <div class='hours-button-container add-hours' index={{@index}}>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                              <g fill="none" fill-rule="evenodd" stroke="var(--primary-color)" stroke-width="2">
                                <circle cx="12" cy="12" r="11" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.091 12H6.91M12 6.909V17.09" />
                              </g>
                            </svg>
                          </div>
                        </div>
                        <div class='service-price-container'>
                          <div class='text-input-container'>{{getDicoVar 'commonTranslation' 'number_simultaneous_time_slots'}}:</div>
                          <div class='input-container'>
                            <input type='number' class='simultaneous-time-slot' value='{{hours.simultaneous_time_slot}}' min='1' index={{@index}}>
                          </div>
                        </div>
                      </div>
                      {{initTimePicker}}
                    {{/each}}
                  </div>
                </div>
                <div class='border-bottom-grey'></div>
                {{#each getOpenedDays}}
                  <div class='checkbox-container'>
                    {{> MbCheckbox checked=($gt this.hours.length 0) label=(getDicoVar 'commonTranslation' this.name) onClick=(onInputDays this.name)}}
                    <div class='all-hours-container'>
                      {{#unless getForm 'same_opened_hours'}}
                        {{#each hours in this.hours}}
                          <div class='hours-container' style='flex-wrap: wrap'>
                            <div style='display: flex; align-items: center; margin-right: 30px;'>
                              <div class='hours-input-container'>
                                <div class='input-container input-container-with-icon'>
                                <div class='flex-center'>
                                  <div class='input-icon-clock'></div>
                                  <input type='text' class='number_available-input number-picker start-hours-input' value='{{hours.start}}' index={{@index}}>
                                </div>
                              </div>

                              </div>
                              <div class='hours-separator'>-</div>
                              <div class='hours-input-container'>
                                <div class='input-container input-container-with-icon'>
                                <div class='flex-center'>
                                  <div class='input-icon-clock'></div>
                                  <input type='text' class='number_available-input number-picker end-hours-input' value='{{hours.end}}' index={{@index}}>
                                </div>
                              </div>

                              </div>
                              <div class='hours-button-container remove-hours' index={{@index}}>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                  <g fill="none" fill-rule="evenodd" stroke="var(--primary-color)" stroke-width="2">
                                    <circle cx="12" cy="12" r="11"/>
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.091 12H6.91"/>
                                  </g>
                                </svg>
                              </div>
                              <div class='hours-button-container add-hours' index={{@index}}>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                  <g fill="none" fill-rule="evenodd" stroke="var(--primary-color)" stroke-width="2">
                                    <circle cx="12" cy="12" r="11" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.091 12H6.91M12 6.909V17.09" />
                                  </g>
                                </svg>
                              </div>
                            </div>
                            <div class='service-price-container'>
                              <div class='text-input-container'>{{getDicoVar 'commonTranslation' 'number_simultaneous_time_slots'}}:</div>
                              <div class='input-container'>
                                <input type='number' class='simultaneous-time-slot' value='{{hours.simultaneous_time_slot}}' min='1' index={{@index}}>
                              </div>
                            </div>
                          </div>
                          {{initTimePicker}}
                        {{/each}}
                      {{/unless}}
                    </div>
                  </div>
                {{/each}}
                {{!-- {{> MbCheckbox checked=(getForm 'allow_recurring_service') label=(getDicoVar 'commonTranslation' 'allow_recurring_services') onClick=(onInput 'allow_recurring_service')}} --}}
                <div class='duration-timeslot-container'>
                  <div class='container-flex-2'>
                    <div class='service-price-container with-vat'>
                      <div class='text-input-container'>{{getDicoVar 'commonTranslation' 'duration_time_slot'}}:</div>
                      <div class='input-container'>
                        <input type='number' class='time-slot' value='{{getForm 'time_slot_duration'}}' min='1'>
                      </div>
                      <div class='unlimited-container'>
                        <div class='input-container'>
                          {{> MbSelect
                            selected=(getForm 'time_slot_scale')
                            noLabel=true
                            onSelect=(onInput 'time_slot_scale')
                            options=getTimeSlotScale
                            placeholder=(getDicoVar 'commonTranslation' 'duration_time_slot')
                            class='upper-select'
                          }}
                        </div>
                      </div>
                    </div>
                    {{!-- <div class='service-price-container'>
                      <div class='text-input-container'>{{getDicoVar 'commonTranslation' 'number_simultaneous_time_slots'}}:</div>
                      <div class='input-container'>
                        <input type='number' class='simultaneous-time-slot' value='{{getForm 'simultaneous_time_slot'}}' min='1'>
                      </div>
                    </div> --}}
                  </div>
                  <div></div>
                </div>
              {{/if}}
            </div>
            {{!-- PAYMENTS METHODS --}}
            {{#if isPriceNotNull (getForm 'price')}}
              <div class='checkboxes-container'>
                {{> MbPanel content=(getDicoVar 'commonTranslation' 'payments') required=true}}
                {{#if payzenAvailable}}
                  {{> MbCheckbox checked=(getForm 'pay_on_platform') label=(getDicoVar 'commonTranslation' 'pay_on_platform') onClick=(onInput 'pay_on_platform')}}
                {{/if}}
                {{> MbCheckbox checked=(getForm 'pay_outside_platform') label=(getDicoVar 'commonTranslation' 'pay_outside_platform') onClick=(onInput 'pay_outside_platform')}}
                {{#if (getForm 'pay_outside_platform')}}
                  {{> MbInput
                    classes='closer-margin-top'
                    label=(getDicoVar 'commonTranslation' 'payment_location')
                    value=(getForm 'payment_location')
                    required=true
                    onInput=(onInput 'payment_location')
                    placeholder=(getDicoVar 'commonTranslation' 'payment_location_placeholder')
                  }}
                {{/if}}
              </div>
            {{/if}}
            {{!-- TERMS OF SERVICES --}}
            <div class='tos-container'>
              <div class='mbPanelContainer'>
                {{> MbPanel content=(getDicoVar 'commonTranslation' 'terms_and_conditions_of_service') required=true}}
                <img class='editProfile' src="/img/icons/edit.png" height="16" data-toggle='modal' data-target='#modal_edit_terms_of_services'>
              </div>
              {{> MbWarning content=(getDicoVar 'commonTranslation' 'cgv_edit_warning')}}
              {{!-- KEEP INLINE THIS LINE, IT BREAKS WITH CSS --}}
              <div class='break-line'>{{#with term=getTermsOfServices}}<span>{{term.text}}</span>{{#if term.displayReadMore}}<div class='read-more-terms'>{{#if isMore}} {{getDicoVar 'commonTranslation' 'read_less'}}{{else}}{{getDicoVar 'commonTranslation' 'read_more'}}{{/if}}</div>{{/if}}{{/with}}
              </div>
            </div>
          {{/if}}
        </div>
        {{> newService_preview_modal form=getForm files=(previewFiles 'original')}}
        {{> termsOfServices_modal condoId=getCondoId editTermsCb=editTermsCb terms=(getTermsOfServices true)}}
      {{else}}
        {{> MbRestrictedAccess }}
      {{/if}}
    {{/if}}
  {{else}}
    {{> loader}}
  {{/if}}
</template>
