.changePasswordContainer {
    margin: 0 !important;
    padding: 21px 0 21px 16px !important;
    background-color: white;
    width: 100%;
    height: fit-content;
    position: relative;
    min-height: 1px;
    overflow-x: hidden;

  .saveContactContainer {
    padding-top: 24px;
    & .saveContact {
      white-space: nowrap;
      padding-left: 6px;
      padding-right: 6px;
      right: 16px;
    }
  }

  .oldPasswordContainer {
    width: calc(~'50% - 16px');
  }
  .newPasswordContainer {
    display: flex;
    flex-wrap: wrap;

    & > div {
      & {
        padding-top: 28px;
        margin-right: 16px;
      }
      min-width: 450px;
      flex: 1 0 calc(~'50% - 16px')
    }
  }
}

.set-password {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  .mb-button {
    display: inline-block;
  }
}