<template name='changePassword'>
  {{#if $not currentUser.services.password }}
    <div class="mb-row set-password">
      <button class="mb-button danger setUpPassword">{{ getDicoVar 'preferenceProfile' 'set_password' }}</button>
    </div>
  {{/if}}
  {{#if $and currentUser.services.password currentUser.services.password.reset }}
    <div class="mb-row set-password">
      <p class="setUpPassword">{{ getDicoVar 'preferenceProfile' 'set_password_in_progress' }}</p>
    </div>
  {{/if}}
  {{#if $and currentUser.services.password ($not currentUser.services.password.reset) }}
    <div class='changePasswordContainer'>
      <div class='oldPasswordContainer'>
      {{> MbInput
        label=(getDicoVar 'commonTranslation' 'current_password')
        type='password'
        required=true
        onInput=(onInputDetails 'oldPassword')
        placeholder=(getDicoVar 'commonTranslation' 'current_password_placeholder')
        isError=(isFieldError 'oldPassword')
      }}
      </div>
  
      <div class='newPasswordContainer'>
        {{> MbInput
          label=(getNewPasswordTitle (getDicoVar 'commonTranslation' 'new_password') (getDicoVar 'commonTranslation' 'at_least_char'))
          type='password'
          required=true
          onInput=(onInputDetails 'newPassword')
          placeholder=(getDicoVar 'commonTranslation' 'new_password_placeholder')
          isError=(isFieldError 'newPassword')
        }}
        {{> MbInput
          label=(getDicoVar 'commonTranslation' 'newConf_password')
          type='password'
          required=true
          onInput=(onInputDetails 'newPasswordCheck')
          placeholder=(getDicoVar 'commonTranslation' 'newConf_password_placeholder')
          isError=(isFieldError 'newPasswordCheck')
        }}
      </div>
      <div class="saveContactContainer">
        <a type="submit" class="saveContact {{#unless canSubmit}}disabled{{/unless}}" data-loading-text="<i class='fa fa-spinner fa-spin'></i> (getDicoVar 'commonTranslation' 'saving')...">{{getDicoVar 'commonTranslation' 'change_password'}}</a>
      </div>
    </div>
  {{/if}}
</template>
