<template name="bar_inscription_details">

	<div class="main-modal" id="bar_inscription_details-container" style="background: white; padding: 20px; margin-bottom: 30px;">
		<div class="modal-heading pull-left mb30 stat-title">
			<h4 class="modal-title red_color">Origine des inscriptions : </h4>
		</div>
		<div id="chartjs-inscription_details-legend" class="global-chart-legend-container">
			<table></table>
		</div>
		<div id="x-axis-arrow-inscription_details" class="x-axis-arrow">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</div>
		<div id="chartjs-chart-tooltips-inscription_details" class="chart-tooltips-container">
			<table></table>
		</div>
		<canvas id="bar_inscription_details"></canvas>
	</div>

</template>