.reservationContainer {
  .title-status {
    &-upcoming {
      background-color: var(--third-color);
    }
    &-due, &-outdated {
      background-color: var(--secondary-color);
    }
    &-complete {
      background-color: var(--primary-color);
    }
    // width: fit-content;
    display: table;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 2px;
    color: white;
    height: 20px;
    padding: 0 15px;
    margin-left: 5px;
    margin-top: 2px;
  }
}
