.register-at-selector {
  tr>td {
    padding-bottom: 1em;
  }
}
.condoListContainerOccupant {

  & > :first-child {
    margin-bottom: 17px;
  }

  .displayCondoListOccupant {
    display: flex;
    // width: 65%;
    justify-content: space-between;
    margin-top: 25px;

    & > *:not(:last-child) {
      width: calc(~'50% - 12px - 15px - 110px');
      .mb-select > span {
        width: 100% !important;
      }
    }
    & > *:last-child {
      padding-top: 31px;
      width: 220px;
      & > * {
        &.disabled {
          cursor: not-allowed;
          background-color: white;
          color: grey;
          border-color: grey;
        }
        padding: 0 5px;
        height: 32px;
        width: 220px;
      }
    }
  }

  .groupBuildingInfo {
    display: flex;
    flex-wrap: wrap;
    & > div {
      margin-top: 25px;
    }
    &-1 {
    }
    &-2 {
      & > div {
        flex: 1 0 calc(~'50% - 12px');
        min-width: 420px;
        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
    &-3 {
      & > div {
        flex: 1 0 calc(~'30% - 16px');
        min-width: 200px;
        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
  }
}
.condoListContainerOccupant {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.manager-deferred-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #E0E0E0;

  .rdt {
    input {
      border: 0;
      text-align: right;
      padding: 0 10px;
      color: #8b999f;
      background-color: white;
    }
  }

  .rdtOpen .rdtPicker {
    bottom: 45px;
  }
}
