.paymentsContainer {
  margin: 0 !important;
  padding: 21px 16px !important;
  background-color: white;
  width: 100%;
  height: fit-content;
  position: relative;
  min-height: calc(~'100vh - 520px');
  overflow-x: hidden;
  overflow-y: hidden;

  & > *:not(:first-child) {
    margin-top: 28px;
  }
}
