<template name='paymentsList'>
  {{!-- <button class='testMe'>TEST</button>
  <div class='paymentsContainer'> --}}
    {{!-- {{> React
      component=getPaymentComponent
      amount=getAmount
      getTransactionId=saveTransactionId
    }} --}}
    {{!-- {{> React
      component=getPayzenWrapper
      amount=getAmount
      getTransactionId=saveTransactionId
      isSleeping=paymentAsked
    }}
  </div> --}}

  {{> MbEmpty
    title=(getDicoVar 'commonTranslation' 'under_construction')
    subTitle=(getDicoVar 'commonTranslation' 'page_under_construction')
  }}
</template>
