<template name="admin_basicInfoEntity">
  <div class='containerNewEntity'>
    <div class='leftContainer'>
        {{> MbInput
          label='Entité'
          required=true
          onInput=(onInputDetails 'entityName')
          placeholder='Nom de l\'entité'
        }}
        {{> MbInput
          label='Siret'
          required=false
          onInput=(onInputDetails 'siretNumber')
          placeholder='Numéro Siret'
        }}
        {{> MbInput
          label='Représentant légal'
          required=true
          onInput=(onInputDetails 'legalGuardian')
          placeholder='Nom du représentant légal'
        }}
        {{> MbInput
          label=(getDicoVar 'commonTranslation' 'email')
          value=(getFormEntity 'email')
          required=true
          onInput=(onInputDetails 'email')
          placeholder=(getDicoVar 'commonTranslation' 'fill_in_email')
          isError=(isFieldError 'email')
        }}
        <div class='phoneContainer'>
          {{> MbSelect
            selected=(getFormEntity 'phoneCode')
            isPhoneCodeList=true
            required=false
            label=(getDicoVar 'commonTranslation' 'mobile')
            onSelect=(onSelect 'phoneCode')
            options=(parsePhoneCode GetAllPhoneCode)
            placeholder=(getDicoVar 'commonTranslation' 'select_area_code')
            refresher=null
          }}
          {{> MbInput
            label=' '
            value=(getFormEntity 'phone')
            onInput=(onInputDetails 'phone')
            placeholder=(getDicoVar 'commonTranslation' 'fill_in_mobile_phone_number')
            isError=(isFieldError 'phone')
          }}
        </div>
        {{> MbPlaceInput
          label='Adresse'
          required=true
          onInput=(onInputDetails 'adress')
          placeholder='Addresse de l\'entité'
          isError=isAdressError
        }}
    </div>
    <div class='rightContainer'>
      <div class='logosContainer'>
        <div class='logoMobile'>
          <div class='textLogo'>Logo Mobile</div>
          <div class='attachmentContainer'>
            <div class='dragArea' data-type='mobile'>
              <span>Drop your file</span>
            </div>
            <div class='plusIcon'></div>
            <span class='textGlobalDrag'>Drag and drop or click to select a file to upload</span>
            <div class='attachmentDisplayContainer'>
              <img class='attachmentDisplay attachmentDisplay-mobile'>
              <div class='attachmentName attachmentName-mobile'></div>
            </div>
          </div>
          <input type="file" class='inputLogo' id='logoMobileInput' data-type='mobile'>
        </div>
        <div class='logoWeb'>
          <div class='textLogo'>Logo Web</div>
          <div class='attachmentContainer'>
            <div class='dragArea' data-type='web'>
              <span>Drop your file</span>
            </div>
            <div class='plusIcon'></div>
            <span class='textGlobalDrag'>Drag and drop or click to select a file to upload</span>
            <div class='attachmentDisplayContainer'>
              <img class='attachmentDisplay attachmentDisplay-web'>
              <div class='attachmentName attachmentName-web'></div>
            </div>
          </div>
          <input type="file" class='inputLogo' id='logoWebInput' data-type='web'>
        </div>
      </div>
      {{> MbPanel content='Validation des entrants'}}
      <div>
        {{> MbCheckbox checked=(getFormEntity 'validCopro') label="Copropriété" onClick=(onCheckboxClick 'validCopro')}}
      </div>
      <div>
        {{> MbCheckbox checked=(getFormEntity 'validMono') label="Monopropriété" onClick=(onCheckboxClick 'validMono')}}
      </div>
      <div>
        {{> MbCheckbox checked=(getFormEntity 'validOffice') label="Bureau" onClick=(onCheckboxClick 'validOffice')}}
      </div>
      <div>
        {{> MbCheckbox checked=(getFormEntity 'validStudent') label="Résidence Etudiante" onClick=(onCheckboxClick 'validStudent')}}
      </div>
    </div>
  </div>
</template>
