.mb-checkbox {
  display: flex;
  align-items: center;

  & > .checkbox-subbed {
    height: 44px !important;

    & label {
      top: 50% !important;
      transform: translateY(-50%);
    }

    .mb-checkbox-sub-label {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #8b999f;
    }
  }


  button {
    border: 0;
    background-color: transparent;

    i.image-icon {
      width: 22px;
      height: 22px;
    }
  }
  p {
    font-family: 'Lato', 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -0.4px;
    text-align: left;
    color: #5d5e62;
    margin: 0;
    cursor: pointer;
    margin-left: 28px;
  }

  label {
    top: 0!important;
  }
}
