<template name="MbCheckbox">
    <div class="mb-checkbox {{#if subLabel}}mb-checkbox-subbed{{/if}}">
      <div class="checkboxred {{#if subLabel}}checkbox-subbed{{/if}}" id="mb-checkbox-{{getRandomId}}">
        <input type="checkbox" {{getChecked}} name="mb-checkbox-{{getRandomId}}">
        <label for="mb-checkbox-{{getRandomId}}"></label><p>{{getLabel}}</p>{{#if subLabel}}<p class='mb-checkbox-sub-label'>{{subLabel}}</p>{{/if}}
      </div>
    </div>
</template>
