<template name="emergencyContactAddModal">
  <div id="emergency-contact-add-modal" class="modal fade right main-modal d-modal" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby='myModalLabel'>
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <button type="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-heading pull-left align-title-cd">
            <h4 id="myModalLabel" class="modal-title red_color">{{#unless isEdit}}{{ getDicoVar 'commonTranslation' 'add_emergency_contact_title' }}{{else}}{{ getDicoVar 'commonTranslation' 'edit_emergency_contact_title' }}{{/unless}}</h4>
          </div>
        </div>
        <div class="modal-body clearfix profileContainer">
          {{#if isSubscribeReady}}
					{{#if isOpen}}
            <div class="basicProfile">
              {{#let profilePicture=getProfileUrl}}
              <div class='profilePictureContainer'>
                {{#if profilePicture}}
                  <div class="profilePicture" style='background-image:url("{{profilePicture}}"), url("/img/anonymous.png")'></div>
                {{else}}
                  <div class="profilePictureEmpty"><span>{{ getDicoVar 'commonTranslation' 'add_contact_photo' }}</span></div>
                {{/if}}
                <div class='editProfilePicture'>
                </div>
                <div id="dropdownProfilePictureModal" class='dropdownProfilePicture displayNone'>
                  <div class='tick'></div>
                  <div class='textSelector uploadPhoto'>{{ getDicoVar 'commonTranslation' 'upload_photo' }}</div>
                  {{#if profilePicture}}<div class='textSelector removePhoto'>{{ getDicoVar 'commonTranslation' 'remove_photo' }}</div>{{/if}}
                  <div class='textSelector cancelDropdown'>{{ getDicoVar 'commonTranslation' 'cancel' }}</div>
                </div>
                <input id='inputAvatar' type='file' style='display: none;'>
              </div>
              {{/let}}
            </div>

            <div class="flex-row">
              <div style="width: 155px;">
                {{> MbSelect
                  selected=(getValue 'civility')
                  refresher=(getValue 'civility')
                  label=(getDicoVar 'commonTranslation' 'civility')
                  onSelect=(setValue 'civility')
                  options=getCiviliteOptions
                  placeholder=(getDicoVar 'commonTranslation' 'manager_select_civility')
                  placeholder=(getDicoVar 'commonTranslation' 'select') }}
              </div>
              <div class="spacer"></div>
              <div class="mb-input">
                <label for="mb-select">{{getDicoVar 'commonTranslation' 'firstname'}}<i class="image-icon mandatory-icon"></i></label>
                <input
                  placeholder="{{getDicoVar 'commonTranslation' 'fill_in_firstname'}}"
                  value="{{getValue 'firstName'}}"
                  id="mb-input-first-name"
                  class="{{#if (isFieldError 'firstName')}}mb-input-error{{/if}} typeahead"
                  type="text"
                  data-source="managers"
                  data-select="selectedManagers"
                  autocomplete="off" spellcheck="off"
                >
              </div>
              <div class="spacer"></div>
              {{> MbInput
                value=(getValue 'lastName')
                onInput=(setValue 'lastName')
                isError=(isFieldError 'lastName')
                label=(getDicoVar 'commonTranslation' 'lastname')
                placeholder=(getDicoVar 'commonTranslation' 'fill_in_lastname')
                required=true }}
            </div>
            <div class="flex-row">
              {{> MbInput
                value=(getValue 'companyName')
                onInput=(setValue 'companyName')
                isError=(isFieldError 'companyName')
                label=(getDicoVar 'commonTranslation' 'company_name')
                placeholder=(getDicoVar 'commonTranslation' 'company_name')
                required=true }}
            </div>
            <div class="flex-row">
              {{> MbInput
                value=(getValue 'inChargeOf')
                onInput=(setValue 'inChargeOf')
                isError=(isFieldError 'inChargeOf')
                label=(getDicoVar 'commonTranslation' 'in_charge_of_en')
                required=true }}
            </div>
            <div class="flex-row">
              {{> MbInput
                value=(getValue 'inChargeOf-fr')
                onInput=(setValue 'inChargeOf-fr')
                isError=(isFieldError 'inChargeOf-fr')
                label=(getDicoVar 'commonTranslation' 'in_charge_of_fr')
                required=true }}
            </div>
            <div class="flex-row">
              {{> MbInput
                value=(getValue 'email')
                onInput=(onInputDetails 'email')
                isError=(isFieldError 'email')
                label=(getDicoVar 'commonTranslation' 'email')
                placeholder=(getDicoVar 'commonTranslation' 'fill_in_email')}}
            </div>

            <div class='flex-row phoneContainerFlex'>
              <div class='phoneContainer'>
                {{!-- {{> MbSelect
                  selected=(getForm 'phoneCode' null)
                  isPhoneCodeList=true
                  required=false
                  label=(getDicoVar 'commonTranslation' 'mobile')
                  onSelect=(onSelect 'phoneCode')
                  options=(parsePhoneCode GetAllPhoneCode)
                  placeholder=(getDicoVar 'commonTranslation' 'select_area_code')
                  refresher=null
                }} --}}

                {{> MbSelect
                  selected=(getValue 'phoneCode')
                  isPhoneCodeList=true
                  label=(getDicoVar 'commonTranslation' 'mobile')
                  onSelect=(onSelect 'phone')
                  options=(parsePhoneCode GetAllPhoneCode)
                  placeholder=(getDicoVar 'commonTranslation' 'fill_in_area_code')
                  refresher=null
                }}
                {{> MbInput
                  label=' '
                  value=(getValue 'phone')
                  onInput=(onInputDetails 'phone')
                  placeholder=(getDicoVar 'commonTranslation' 'fill_in_mobile_phone_number')
                  isError=(isFieldError 'phone')}}
              </div>

              <div class='phoneContainer'>
                {{> MbSelect
                  selected=(getValue 'landLineCode')
                  refresher=(getValue 'landLineCode')
                  isPhoneCodeList=true
                  label=(getDicoVar 'commonTranslation' 'landline')
                  onSelect=(onSelect 'landLine')
                  options=(parsePhoneCode GetAllPhoneCode)
                  placeholder=(getDicoVar 'commonTranslation' 'fill_in_area_code')
                  refresher=null
                }}
                {{> MbInput
                  label=' '
                  value=(getValue 'landLine')
                  onInput=(onInputDetails 'landLine')
                  placeholder=(getDicoVar 'commonTranslation' 'fill_in_phone_number')
                  isError=(isFieldError 'landLine')}}
              </div>
            </div>

            <div class="flex-row">
              {{> MbPanel content=(getDicoVar 'commonTranslation' 'buildings_emergency_contact')}}
            </div>

            {{#each condo in selectedCondo}}
            {{#let condoIndex=@index}}
            <div class="flex-row">
              {{> MbSelect
                selected=condo.id
                refresher=condo.id
                required=true
                label=(getDicoVar 'commonTranslation' 'select_building')
                onSelect=(onSelectCondo @index)
                options=(getCondoOptions @index)
                placeholder=(getDicoVar 'commonTranslation' 'select_building')
              }}
            </div>

            {{#if moreThanOneCondoSelected}}
              <button class="delete-condo" data-index="{{condoIndex}}">
                <i class="image-icon trash-icon"></i>
              </button>
            {{/if}}

            <div class="flex-row">
              {{> MbCheckbox (allDayArgs @index)}}
            </div>

            {{#each day in getWeekdays}}
              <div class="flex-row">
                <div class="hour-picker-day-wrapper">
                  {{>MbCheckbox (dayArgs day condoIndex)}}
                </div>
                <div class="hour-picker-wrapper">
                  {{#each h in (getOpenHours day condoIndex)}}
                    <div class="open-hours" id="open-hour-{{condoIndex}}-{{day.key}}-{{@index}}">
                      <div class="hour-picker">
                        <div class="form-group">
                          <div class='input-group date' id='time-start-{{condoIndex}}-{{day.key}}-{{@index}}'>
                            <span class="input-group-addon">
                                <i class="image-icon clock-icon"></i>
                            </span>
                            <input
                              readonly="{{isDayClose day condoIndex}}"
                              value="{{h.start}}"
                              data-dow="{{day.key}}" data-index="{{@index}}" data-cindex="{{condoIndex}}"
                              data-type="start"
                              type='text' class="form-control hp startTimeG" />
                          </div>
                        </div>
                      </div>
                      <span class="spacer">-</span>
                      <div class="hour-picker">
                        <div class="form-group">
                          <div class='input-group date' id='time-end-{{condoIndex}}-{{day.key}}-{{@index}}'>
                            <span class="input-group-addon">
                                <i class="image-icon clock-icon"></i>
                            </span>
                            <input
                              readonly="{{isDayClose day condoIndex}}"
                              value="{{h.end}}"
                              data-dow="{{day.key}}" data-index="{{@index}}" data-cindex="{{condoIndex}}"
                              data-type="end"
                              type='text' class="form-control hp endTimeG" />
                          </div>
                        </div>
                      </div>
                      {{#if (isMoreThanOneSlot day condoIndex)}}
                        <button class="remove-time-slot" data-dow="{{day.key}}" data-index="{{@index}}" data-cindex="{{condoIndex}}">
                          <i class="image-icon minus-icon"></i>
                        </button>
                      {{/if}}
                      {{#if (isLastTimeSlotAndOpen day @index condoIndex)}}
                        <button class="add-time-slot" data-dow="{{day.key}}" data-cindex="{{condoIndex}}">
                          <i class="image-icon plus-icon"></i>
                        </button>
                      {{/if}}
                    </div>
                  {{/each}}
                </div>
              </div>
            {{/each}}
            {{/let}}
            <div class="flex-row with-border"></div>
            {{initTimePicker}}
            {{/each}}
            {{#if canAddMoreCondo}}
            <div class="flex-row">
              <button id="add-condo">
                <i class="image-icon plus-icon"></i>
              </button>
            </div>
            {{/if}}

            <div class="modal-footer" style="padding: 0 !important">
              {{#unless canSubmit}}
                <a disabled="true" class="btn red_btn button_into_modal pull-right mt40" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'moduleReservationIndex' 'validating'}}...">{{getDicoVar 'commonTranslation' 'manager_validate'}}</a>
              {{else}}
                <a type="submit" id="save" class="btn red_btn button_into_modal pull-right mt40 submitActu" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'moduleReservationIndex' 'validating'}}...">{{getDicoVar 'commonTranslation' 'manager_validate'}}</a>
              {{/unless}}
            </div>
          {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
