#emergency-contact-add-modal {
  .basicProfile {
    margin-bottom: 45px;
  }

  .delete-condo {
    float: right;
    background-color: transparent;
    border: 0;

    i.image-icon {
      width: 24px;
      height: 24px;
    }
  }

  .flex-row {
    display: flex;
    margin-bottom: 24px;

    .spacer {
      width: 24px;
    }
    .hour-picker-wrapper {
      input[readonly] {
        background-color: #eee!important;
      }
      input {
        background-color: #fff;
      }
      .spacer {
        text-align: center;
        align-self: center;
      }
    }

    #add-condo {
      align-self: center;
      background-color: transparent;
      border: 0;
      margin: auto;

      i.image-icon {
        width: 40px;
        height: 40px;
      }
    }
  }

  .with-border {
    padding-bottom: 24px;
    border-bottom: 1px solid #E1E2E7;
  }
}
