<template name="messageInput">
		<div class="message_write" id="msgConcierge" style="margin-bottom: 10px">
			<div id="chat-window" class="mt-window" style="margin-top: 0 !important;{{#if $neq errorMessage ""}}border: 1px solid #fe0900;{{/if}}">
				<input id="fileUploadInput" type="file" class="hidden" name="attachments[]" style="position: absolute; top: -100" multiple />
				<textarea id="answer" name="{{name}}" placeholder="{{getDicoVar 'messageInput' 'your_message'}}" class="custom-control messengerMessage" rows="2"></textarea>
				<ul id="attachments" class="attachments"></ul>
			</div>
		</div> <!--message_section-->
		<div style="display: flex; justify-content: flex-end; align-items: center;" id="forConcierge">
			{{#if $eq board "Gestionnaire"}}
			<div style="margin-top: -7px;">
				{{> MbCheckbox reminderCheckArgs}}
			</div>
            <div class="info-container" style="margin-right: 15px; margin-top: -10px;">
                <div id="info-bubble-reminder" class="info-bubble fa-stack fa-lg">
                    <i class="image-icon info-icon" aria-hidden="true"></i>
                </div>
                <div id="info-content-reminder" class="info-content">
                    <p>{{getDicoVar 'messageInput' 'help_message_1'}}</p>
                </div>
            </div>
			{{/if}}
			{{#if $neq errorMessage ""}}
				<div style="display: inline-block; top: 2px;text-align: left; height: 32px;" class="alert alert-danger">
					{{errorMessage}}
				</div>
			{{/if}}
				<span class="attachment-icon" id="attachment" style="top: initial;">
					<img src="/img/icons/svg/attachment.svg" class="img-responsive icon-join-file" width='23' height='23'>
				</span>
			<button id="sendAnswer" class="btn red_btn testbtn" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'messageInput' 'sending'}}..." style="margin-bottom: 13px;" disabled="true">{{getDicoVar "messageInput" "send"}}</button>
		</div>
</template>
