<template name="scripts">
		<div class="backTitle row">
		<div class="col-sm-12">
			<h1 class="pull-left">Server Scripts</h1>
		</div>
	</div>

	<div class="allListBack" style="margin-top: 20px;">
		<div class="serverScriptsList">
			{{#each getServerScripts}}
				<button class="btn red_btn runMethod" data-method="{{this.methodName}}" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Execution...">{{this.displayName}}</button>
			{{/each}}
		</div>
	</div>
</template>