<template name="manager_editNamesOccupant">
  <div id="modal_manager_edit_names" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
    <div class="modal-dialog modal-lg">
      <button details="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-heading pull-left">
            <h4 id="myModalLabel" class="modal-title red_color"> {{ getDicoVar 'commonTranslation' 'edit_contact_details' }} </h4>
          </div>
        </div>
        <div class="modal-body clearfix" id='occupant_edit_profile'>
          {{#if isOpen}}
            {{> MbInput
              label=(getDicoVar 'commonTranslation' 'firstname')
              value=(getFirstname)
              required=true
              onInput=(onInputDetails 'firstname')
              placeholder=(getDicoVar 'commonTranslation' 'fill_in_firstname')
              isError=(isFieldError 'firstname')
            }}
            {{> MbInput
              label=(getDicoVar 'commonTranslation' 'lastname')
              value=(getLastname)
              required=true
              onInput=(onInputDetails 'lastname')
              placeholder=(getDicoVar 'commonTranslation' 'fill_in_lastname')
              isError=(isFieldError 'lastname')
            }}
          {{/if}}
          <div class="saveContactContainer">
            <a type="submit" class="saveContact {{#unless canSubmit}}disabled{{/unless}}" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{ getDicoVar 'commonTranslation' 'saving' }}..."> {{ getDicoVar 'commonTranslation' 'personal_details_save' }} </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
