<template name='wallet_paymentMethod'>
  <div class='paiementFlexContainer'>
    {{#if isSubscribeReady}}
      <div class='paiementPanel'>
        <div class='mbPanelContainer'>
          {{!-- {{> MbPanel content=(getDicoVar 'commonTranslation' 'current_top_up_methods')}} --}}
          {{> MbPanel content=(getDicoVar 'commonTranslation' 'current_payment_methods')}}
          {{!-- {{#if shouldDisplayDevElement}}
            <div class='addTestCard' data-loading-text="<i class='fa fa-spinner fa-spin'></i>">{{getDicoVar 'commonTranslation' 'add_tests_cards'}}</div>
          {{/if}} --}}
        </div>
        {{#each $mapped paymentMethods}}
          <div class='paymentMethodsController'>
            <div class='cardIconContainer'>
              <div class='paymentIcon-{{this.cardType}}'></div>
            </div>
            <div class='cardInfos'>
              <div class='cardType'>{{this.cardType}}</div>
              <div class='cardNumber'>{{this.displayableNumber}}</div>
            </div>
            <div class='cardActions'>
              <div class='trashIcon' paymentToken='{{this.paymentToken}}'></div>
              {{!-- <div class='editIcon' cardId='{{this._id}}'></div> --}}
            </div>
          </div>
          {{#if $last}}
            <div class='wallet_addCard'>
              {{> MbButton label=(getDicoVar 'commonTranslation' 'add_card') onClick=addNewPaymentMethod}}
            </div>
          {{/if}}
        {{else}}
          {{> MbEmpty
            title=(getDicoVar 'commonTranslation' 'no_payment_method_yet')
            buttonLabel=(getDicoVar 'commonTranslation' 'add_card')
            onButtonClick=addNewPaymentMethod
          }}
        {{/each}}
      </div>
      {{!-- <div class='paiementPanel'>
        {{> wallet_recurringPayment}}
      </div> --}}
    {{else}}
      {{> loader}}
    {{/if}}
  </div>
  {{> modal_addCard isEdit=getEditMode cardId=getCardId digest=getDigest}}
</template>
