.paiementFlexContainer {
  display: flex;
  flex-wrap: wrap;
}

.paiementPanel {
  flex: 1 0 50%;
  padding-right: 8px;
  padding-bottom: 20px;
  min-width: 330px;
  // display: flex;
  // width: 50%;
}

.billing-address-container {
  .mb-panel {
    margin-bottom: 24px;
  }
  .details-container {
    margin-left: 18px;
  }
}

.paymentMethodsController {
  display: flex;
  height: 68px;
  align-items: center;
  margin-left: 18px;
  margin-right: 18px;
  &:not(:last-of-type):not(.noBorder) {
    border-bottom: 1px solid #DCDDE4;
  }

  .cardInfos {
    flex: 1;
    margin-left: 14px;
    .cardType {
      &::first-letter {
        text-transform: capitalize;
      }
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.4px;
      color: #5d5e62;
    }
    .cardNumber {
      font-family: Lato;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.3px;
      color: #8b999f;
    }
  }

  .cardActions {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    & > .trashIcon {
      background: url("/img/icons/svg/trash.svg");
      background-repeat: no-repeat;
      background-position:center;
      height: 24px;
      width: 24px;
      margin-right: 16px;
      cursor: pointer;
    }
    & > .editIcon {
      background: url("/img/icons/svg/edit.svg");
      background-repeat: no-repeat;
      background-position:center;
      height: 24px;
      width: 24px;
      cursor: pointer;
    }
  }
}

.wallet_addCard {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  & > .mb-button {
    width: 320px;
  }
}

.wallet_addRecurring {
  display: flex;
  justify-content: center;
  margin-top: 33px;

  & > .mb-button {
    width: 320px;
  }
}

.mbPanelContainer {
  position: relative;
  .addTestCard {
    position: absolute;
    right: 12px;
    top: 6px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
  }
}
