.mb-button {
  cursor: pointer;
  min-width: 180px;
  //background-color: var(--accent-color);
  background-color: var(--primary-color);
  //border: var(--accent-color) solid 1px;
  border: var(--primary-color) solid 1px;
  padding: 10px;
  font-family: 'Lato', 'Source Sans Pro', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

.mb-button.sm {
  min-width: inherit;
  font-weight: 400;
  font-size: 14px;
  padding: 6px 30px;
}

.mb-button.danger {
  // display: block;
  //color: var(--button-color);
  color: var(--secondary-color)!important;
  background-color: transparent;
  //border: var(--button-color) solid 1px;
  border: var(--secondary-color) solid 1px;
}

.mb-button.danger:hover {
  color: #ffffff!important;
  //background-color: var(--button-color);
  //border: var(--button-color) solid 1px;
  background-color: var(--secondary-color);
  border: var(--secondary-color) solid 1px;
}

.mb-button.red {
  color: #ffffff;
  //background-color: var(--button-color);
  //border: var(--button-color) solid 1px;
  background-color: var(--secondary-color);
  border: var(--secondary-color) solid 1px;
}

.mb-button.disabled {
  color: #ffffff !important;
  background-color: #e0e0e0 !important;
  border: #e0e0e0 solid 1px !important;
  pointer-events: none;
}

.mb-button.disallowed {
  cursor: not-allowed !important;
  color: #e0e0e0;
  background-color: transparent;
  border: #e0e0e0 solid 1px;
}
