<template name="archives">

    <div class="backTitle row" style="margin-bottom: 40px;">
        <div class="col-sm-12">
            <h1 class="pull-left">Archives</h1>
        </div>
        <div class="search-contacts clearfix" style="border-top: 0 !important; margin: 0 0 20px 5px;">
            <div class="col-sm-12">
                <form action="#">
                    <input type="text" id="searchUser" placeholder='{{getDicoVar "resourceForm" "search"}}'>
                    <button><div class="icon-search-bar"></div></button>
                </form>
            </div>
        </div>
    </div>



    <div class="allListBack">
        <table class="table table-hover" id="listCondos">
            <thead>
            <tr>
                <th>Prénom Nom</th>
                <th>Date d'arrivée</th>
                <th>Date de sortie</th>
                <th>Typologie</th>
                <th>Commentaire</th>
            </tr>
            </thead>
            <tbody>
            {{#each archive in archives}}
            <tr>
                <td>{{archive.firstname}} {{archive.lastname}}</td>
                <td>{{humanDate archive.createdAt}}</td>
                <td>{{humanDate archive.deletedAt}}</td>
                <td>{{#each condo in archive.condos}}{{condo.type}}<br>{{/each}}</td>
                <td>{{archive.comment}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>