<template name='admin_createEntity'>
  <div class='topBarContainer'>
    <div class='topBarModuleNameWithBack'>
      Entité
      <div id='backButtonMaster'>
        <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;">
        {{getDicoVar 'commonTranslation' 'manager_back'}}
      </div>
    </div>
    <div class='topBarActionButton'>
      {{#if ($eq getCurrentStep 1)}}
        <a type="button" class="btn btn-red-confirm saveEntity" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Sauvegarde..." disabled="{{#unless canSubmit}}disabled{{/unless}}">Sauvegarder & fermer</a>
      {{/if}}
      <a type="button" class="btn btn-red-confirm nextStep {{getCurrentStep}}" disabled="{{#unless canSubmit}}disabled{{/unless}}">{{#if currentStep 5}}Terminer{{else}}Suivant{{/if}}</a>
    </div>
  </div>
  <div class='stepBarContainer'>
    <div>
      <div class='circleContainer circleContainer-{{getCurrentStep}}'>
        <div class='firstCircle'></div>
      </div>
      <div class='{{#if currentStep 1}}selected{{/if}} {{#if isStepEnded 1}}ended{{/if}} step'>1</div>
      <div class='linkBar'></div>
      <div class='{{#if currentStep 2}}selected{{/if}} {{#if isStepEnded 2}}ended{{/if}} step'>2</div>
      <div class='linkBar'></div>
      <div class='{{#if currentStep 3}}selected{{/if}} {{#if isStepEnded 3}}ended{{/if}} step'>3</div>
      <div class='linkBar'></div>
      <div class='{{#if currentStep 4}}selected{{/if}} {{#if isStepEnded 4}}ended{{/if}} step'>4</div>
      <div class='linkBar'></div>
      <div class='{{#if currentStep 5}}selected{{/if}} {{#if isStepEnded 5}}ended{{/if}} step'>5</div>
    </div>
  </div>
  {{#if isSubscribeReady}}
    <div class='{{#unless currentStep 1}}displayNone{{/unless}}'>
      {{> admin_basicInfoEntity setStepStateCb=(setStepStateCb 1) goNextCb=(goNextCb 2) saveEntityCb=(saveEntity)}}
    </div>
    <div class='{{#unless currentStep 2}}displayNone{{/unless}}'>
      {{> admin_newBuildingsEntity setStepStateCb=(setStepStateCb 2) goNextCb=(goNextCb 3)}}
    </div>
    <div class='{{#unless currentStep 3}}displayNone{{/unless}}'>
      {{#if currentStep 3}}
        {{> admin_buildingsSpecifications setStepStateCb=(setStepStateCb 3) goNextCb=(goNextCb 4) condoIds=getNewCondosIds}}
      {{/if}}
    </div>
    <div class='{{#unless currentStep 4}}displayNone{{/unless}}'>
      {{#if currentStep 4}}
        {{> admin_addNewManager setStepStateCb=(setStepStateCb 4) goNextCb=(goNextCb 5) entityId=getEntityId condoIds=getNewCondosIds}}
      {{/if}}
    </div>
    <div class='{{#unless currentStep 5}}displayNone{{/unless}}'>
      {{#if currentStep 5}}
        {{> admin_setNewEntityDefaultContact setStepStateCb=(setStepStateCb 5) condoIds=getNewCondosIds}}
      {{/if}}
    </div>
  {{else}}
    {{> loader}}
  {{/if}}

</template>
