.stepBarContainer {
  width: 100%;
  height: 40px;
  position: relative;
  & > div {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    .linkBar {
      height: 2px;
      width: 63px;
      margin-top: 11px;
      background-color: #e0e0e0;
    }
    .step {
      position: relative;
      color: white;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      text-align: center;
      line-height: 24px;
      font-size: 16px;
      background-color: #e0e0e0;
      &.ended, &.selected {
        cursor: pointer;
      }
      &.ended {
        background-color: #69d2e7;
        & + .linkBar {
          background-color: #69d2e7;
        }
      }

    }
    .circleContainer {
        position: absolute;
        top: -4px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid #69d2e7;
        transition-property: left;
        transition-duration: 0.4s;
        transition-timing-function: linear;
        & > .firstCircle {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background-color: transparent;
          border: 2px solid white;
        }
        &-1 {
          left: -4px;
        }
        &-2 {
          left: 83px;
        }
        &-3 {
          left: 170px;
        }
        &-4 {
          left: 257px;
        }
        &-5 {
          left: 344px;
        }
        &-6 {
          left: 431px;
        }
        &-7 {
          left: 518px;
        }
      }
  }
}

.displayNone {
  display: none;
}

.containerNewEntity {
  width: 100%;
  min-height: calc(~'100vh - 202px');
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  .leftContainer, .rightContainer {
    min-width: 445px;
    flex: 1 0 calc(~'50% - 32px');
    margin-right: 16px;
    & > div {
      margin-top: 24px;
    }
  }
  .leftContainer {
    margin-left: 16px;
  }
  .rightContainer {
    .mb-checkbox > button {
      padding-left: 0 !important;
    }
    .logosContainer {
      display: flex;
      margin-left: 16px;
      .logoMobile, .logoWeb {
        flex: 1 0 50%;
        & > .textLogo {
          font-size: 12px;
          text-transform: uppercase;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.1px;
          text-align: left;
          color: #8b999f;
        }
        .inputLogo {
          display: none;
        }
        .attachmentContainer {
          text-align: center;
          .attachmentDisplayContainer {
            display: none;
            width: 100%;
            height: 100%;
            background-color: white;
            position: absolute;
            top: 0;
            z-index: 4;
            .attachmentDisplay {
              margin-top: 7px;
              margin-left: auto;
              margin-right: auto;
              max-width: calc(~'100% - 14px');
              // height: calc(~'100% - 32px');
              width: auto;
            }
            .attachmentName {
              display: inline-block;
              width: calc(~'100% - 14px');
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }

          & > .dragArea > span, & > .textGlobalDrag {
            vertical-align: middle;
            top: calc(~'50% + 20px');
            position: absolute;
            left: 0;
            right: 0;
          }
          & > .dragArea {
            opacity: 0;
            z-index: 6;
            background-color: #E1E2E7;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            &.is-dragover {
              opacity: 1;
              transition-property: opacity;
              transition-duration: 0.2s;
              transition-timing-function: linear;
            }
          }
          .plusIcon {
            background-image: url('/img/icons/svg/addlarge.svg');
            background-size: 30px 30px;
            width: 30px;
            height: 30px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
          }
          position: relative;
          width: calc(~'100% - 16px');
          padding-top: 60%;
          border: 2px dashed #E1E2E7;
          margin-top: 13px;
          cursor: pointer;
        }
      }
    }
    & > div:not(.mb-panel):not(.logosContainer) {
      margin-left: 16px;
      border-bottom: 1px solid #E1E2E7;
      height: 52px;
      & > span {
        font-size: 17px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        text-align: left;
        color: #5d5e62;
      }
    }
  }
}
