<template name="evenementsGestionnaire">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <input id="fileUploadInputMan" type="file" style="display: none;">
  <input id="fileUploadInputMap" type="file" style="display: none;">

  {{#if isSubscribeReady}}
  <!-- modal publier un évènment -->
  <div id="modalAddEvenement" class="modal fade right main-modal d-modal" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby='myModalLabel'>
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <button type="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content" id="event-add-modal-content">
        <div class="modal-header">
          <div class="modal-heading pull-left align-title-cd">
            <h4 id="myModalLabel" class="modal-title red_color">{{#if editPost}} {{ getDicoVar 'moduleActualityModal' 'edit' }} {{else}} {{ getDicoVar 'moduleActualityModal' 'publish' }} {{/if}} {{ getDicoVar 'moduleActualityIndex' 'event' }} </h4>
          </div>
        </div>
        <div class="modal-body clearfix" id="subject">
          <form class="form-event">
            <div class="mb-input">
              {{> MbCondoPicker
                condoIds=CDD_cursor
                module="informations"
                onSelect=modalCondoIdCb
              }}
            </div>
            <div class="mb-input">
              <label for="mb-select">
                {{ getDicoVar 'moduleActualityModal' 'title' }}
              </label>
              <i class="image-icon mandatory-icon"></i>
              <input
                placeholder="{{ getDicoVar 'moduleActualityModal' 'title' }}"
                class="titleActu"
                type="text"
                value="{{ifEditPost 'title'}}"
              >
            </div>

            <div class="mb-input">
              <label for="mb-select">
                {{ getDicoVar 'moduleActualityModal' 'location' }}
              </label>
              <input
                placeholder="{{getDicoVar 'commonTranslation' 'your_location'}}"
                class="locateActu"
                type="text"
                value="{{ifEditPost 'locate'}}"
              >
            </div>

            <div class="row">
              <div class="col-xs-12">
                <label class="mb-label">
                  {{ getDicoVar 'moduleActualityModal' 'description' }}
                  <i class="image-icon mandatory-icon"></i>
                </label>
                <div class="info-msg-box">
                  <div class="info-msg-box-row">
                    <div>
                      {{> React component=MbTextArea
                        minRow=3
                        showLabel=false
                        onChange=(onDescChange)
                        value=(getDescriptionValue)
                        placeholder=(getDicoVar 'commonTranslation' 'write_description')
                      }}
                    </div>

                    {{> FileUploadButton files=previewFiles onFileAdded=onFileAdded }}
                  </div>

                  {{> FileList files=previewFiles onRemove=onFileRemoved onFileAdded=onFileAdded }}
                </div>
              </div>
            </div>

            <div class="form-group col-xs-12 col-md-12" style="padding: 0 !important">
              <div class="flex-row">
                <div class="dateRespon mb-event mb-event-start-date">
                  <p class="mt10 labelInput">
                    {{ getDicoVar 'moduleActualityModal' 'start_date_and_hour' }}
                    <i class="image-icon mandatory-icon"></i>
                  </p>
                  {{#if editPost}}
                    {{> datepicker container="event-add-modal-content" datepickerId="startDateActu" hasClear=1 value=(ifEditPost 'startDate')}}
                  {{else}}
                    {{> datepicker container="event-add-modal-content" datepickerId="startDateActu" hasClear=1}}
                  {{/if}}
                </div>

                <div class="mb-event mb-event-start-hour dateRespon">
                  <p class="mt10 labelInput"></p>
                  <div class="input-group dropdown" style="border: none;">
												<span class="input-group-addon input_group_custom ">
													<i class="image-icon clock-g-icon"></i>
												</span>
                    <input value="{{ifEditPost 'startHour'}}" type="text" data-toggle="dropdown" class="form-control dropdown-toggle startHourActu" placeholder="00:00" autocomplete=off>
                    <ul class="dropdown-menu container time-slot">
                      {{#each timeSlot}}
                        <li><a class="timeSlotStart">{{this}}</a></li>
                      {{/each}}
                    </ul>
                  </div>
                </div>

                <div class="mb-event mb-event-separator">
                  -
                </div>

                <div class="mb-event mb-event-end-date dateRespon">
                  <p class="mt10 labelInput"> {{ getDicoVar 'moduleActualityModal' 'end_date_and_hour' }} </p>
                  {{#if editPost}}
                    {{> datepicker container="event-add-modal-content" datepickerId="endDateActu" hasClear=1 value=(ifEditPost 'endDate')}}
                  {{else}}
                    {{> datepicker container="event-add-modal-content" datepickerId="endDateActu" hasClear=1}}
                  {{/if}}
                </div>

                <div class="mb-event mb-event-end-hour dateRespon">
                  <p class="mt10 labelInput"></p>
                  <div class="input-group dropdown" style="border: none;">
												<span class="input-group-addon input_group_custom ">
													<i class="image-icon clock-g-icon"></i>
												</span>
                    <input value="{{ifEditPost 'endHour'}}" type="text" data-toggle="dropdown" class="form-control dropdown-toggle endHourActu" placeholder="00:00" autocomplete=off>
                    <ul class="dropdown-menu container time-slot">
                      {{#each timeSlot}}
                        <li><a class="timeSlotEnd">{{this}}</a></li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              {{> MbPanel content=(getDicoVar 'commonTranslation' 'privacy_settings')}}
            </div>
            <div class="form-row">
            {{> MbCheckbox
              label=(getDicoVar 'commonTranslation' 'event_visible_invited')
              checked=(visibility 'private')
              onClick=(changeVisibility)
            }}
            </div>
            {{setUsers}}
            {{#if (visibility 'private')}}
              <div class="form-row">
                {{> MbSelect
                  required=true
                  label=(getDicoVar 'commonTranslation' 'invite_participants')
                  multiple=true
                  selected=(getValue 'participants')
                  onSelect=(setValue 'participants')
                  options=getUsersList
                }}
              </div>
            {{/if}}
            <div class="form-row">
              {{> MbCheckbox
                label=(getDicoVar 'commonTranslation' 'event_allow_comment')
                checked=(getValue 'allowComment')
                onClick=(toggleCheck 'allowComment')
              }}
            </div>
            <div class="form-row">
              {{> MbCheckbox
                label=(getDicoVar 'commonTranslation' 'event_allow_share_participation')
                checked=(getValue 'allowAction')
                onClick=(toggleCheck 'allowAction')
              }}
            </div>
            {{#if (and (getValue 'allowAction') (visibility 'public'))}}
            <div class="form-row">
              {{> MbCheckbox
                label=(getDicoVar 'commonTranslation' 'event_is_limited')
                checked=(getValue 'isLimited')
                onClick=(toggleCheck 'isLimited')
              }}
            </div>
            {{#if (getValue 'isLimited')}}
            <div class="form-row">
              {{> MbInput
                value=(getValue 'participantLimit')
                label=(getDicoVar 'commonTranslation' 'event_participan_number')
                placeholder=(getDicoVar 'commonTranslation' 'number_ph')
                onInput=(setValue 'participantLimit')
                isError=(isNumberError)
                required=true
                maxLength=5
              }}
            </div>
            {{/if}}
            {{/if}}
            {{#if isError}}
              <div class="row">
                <div class="col-xs-8 errorModal" style='color: red; padding-top: 30px;'>
                  {{#if isActuError}}
                    <p> {{ getDicoVar 'moduleActualityModal' 'fill_required_fields' }} </p>
                  {{/if}}
                  {{#if isHourError}}
                    {{{linkedErrorSentence}}}
                  {{/if}}
                  {{#if condoError}}
                    <p> {{ getDicoVar 'moduleActualityModal' 'selectBuilding' }} </p>
                  {{/if}}
                </div>
              </div>
            {{/if}}
            <div class="modal-footer" style="padding: 0 !important">
              {{#if cantSendEvent}}
                <a disabled="true" class="btn red_btn button_into_modal pull-right mt40" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'moduleReservationIndex' 'validating'}}...">{{getDicoVar "moduleActualityModal" "validate"}}</a>
              {{else}}
                <a type="submit" id="save" class="btn red_btn button_into_modal pull-right mt40 submitActu" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'moduleReservationIndex' 'validating'}}...">{{getDicoVar "moduleActualityModal" "validate"}}</a>
              {{/if}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- evenements view -->

  {{#if refreshCondoId}}{{/if}}
  <div class="row titleView">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-heading position_relative" style="padding-bottom: 10px">
          <div class="sub-tool-bar clearfix">
            {{#unless isDetail}}
              <h1 class="pull-left"> {{ getDicoVar 'moduleActualityIndex' 'eventsTitle' }} </h1>
              <div class="action pull-right eventButton">
                {{#if or (and (userHasRight "actuality" "write") (userHasRight "actuality" "see")) (and ($eq getCondoFilter "all") (and (hasRightInCondos "actuality" "write") (hasRightInCondos "actuality" "see")))}}
                  <a href="#" type="button" class="btn red_btn red_btn-lg" id="new-post" data-toggle="modal" data-target="#modalAddEvenement"> {{ getDicoVar 'moduleActualityIndex' 'publish' }} </a>
                {{/if}}
              </div>
            {{else}}
              <div class="pull-left">
                <h1> {{ getDicoVar 'moduleActualityIndex' 'eventDetails' }} </h1>
                <button type="button" id="back-btn" class="mb-back-button">
                  <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{{getDicoVar "resourceForm" "back"}}}
                </button>
              </div>


            <div class="action pull-right eventButton">
              {{#if canDelete}}
                  <button href="#" type="button" class="mb-button danger post-delete" data-id="{{editId}}"> {{ getDicoVar 'moduleActualityIndex' 'delete' }} </button>
              {{/if}}
              {{#if canEdit}}
                  <button href="#" type="button" class="mb-button danger post-edit" data-toggle="modal" data-target="#modalAddEvenement" data-id="{{editId}}"> {{ getDicoVar 'moduleActualityIndex' 'edit' }} </button>
              {{/if}}
            </div>
            {{/unless}}
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if or (and (equals getCondoFilter 'all') (hasRightInCondos "actuality" "see")) (userHasRight "actuality" "see")}}
    <div class="row">
      <div class="col-sm-12 mb-relative" id="event-container">
        {{#unless isDetail}}
          {{#if isCalendarMode}}
            <button data-target="list" id="to-list" class="toggle-calendar-button change-view"><i class="image-icon list-icon"></i> <span>{{getDicoVar "moduleReservationIndex" "listview"}}</span></button>
            <div id="custom-calendar"></div>
            {{initCalendar}}
          {{else}}
            <div class="mb-event-list">
              {{prepareData}}
              <div class="left-panel">
                <div class="head">
                  <div class="event-search-wrapper">
                    {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=onSearch}}
                  </div>
                  <button data-target="calendar" class="toggle-calendar-button change-view"><i class="image-icon calendar-icon"></i> <span>{{getDicoVar "moduleReservationIndex" "calendar_view"}}</span></button>
                </div>
                <div class="body reservation-list-wrapper">
                  {{#if emptyData}}
                    {{#if noResult}}
                      {{> MbEmpty
                        title=(getDicoVar "commonTranslation" "no_result")}}
                    {{else}}
                      {{> MbEmpty
                        title=(getDicoVar "moduleActualityIndex" "no_event")
                        subTitle=(getDicoVar "moduleActualityIndex" "no_event_sub")}}
                    {{/if}}
                  {{else}}
                    {{#each event in getFutureEvents}}
                      {{#if event.label}}
                        {{> MbPanel content=event.label}}
                      {{else}}
                        <div class="list-border"></div>
                      {{/if}}
                      <div data-id="{{event.id}}" class="see-detail reservation-item">
                        <div class="item-wrapper">
                          {{#if event.isAfter}}
                            <i class="image-icon return-icon"></i>
                          {{/if}}
                          <div>
                            <h2>{{event.title}}</h2>
                            <p class="info">{{getCondoName event.condoId}}</p>
                            <p class="info">{{event.string}}</p>
                          </div>
                        </div>
                        <div>
                          <a data-id="{{event.id}}" class="see-detail">{{getDicoVar "moduleReservationIndex" "see_detail"}} <i class="image-icon chevron-r-icon"></i></a>
                        </div>
                      </div>
                    {{/each}}
                  {{/if}}
                </div>
              </div>
              <div class="right-panel">
                <div id="mini-calendar"></div>
                {{initDatePicker}}
                <div id="date-label">
                  {{selectedDate}}
                </div>
                <div id="date-detail">
                  {{#if actuPosts}}
                    {{#each actu in actuPosts}}
                      <div class="info-item">
                        {{#if or actu.editRight actu.deleteRight}}
                          <div class="dropdown">
                            <a class="dropdown-toggle tools item-pencil-dropdown" data-toggle="dropdown">
                              <i class="image-icon edit-icon"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              {{#if actu.editRight}}
                                <a href="#" class="dropdown-item post-edit" data-toggle="modal" data-target="#modalAddEvenement" data-id="{{actu._id}}">
                                  <i class="fa fa-pencil" style="display:inline-block; left: 15px; top: 50%; margin-right: 5px"></i>
                                  {{getDicoVar "moduleActualityIndex" "edit"}}
                                </a>
                              {{/if}}
                              {{#if actu.deleteRight}}
                                <a href="#" class="dropdown-item post-delete" data-id="{{ actu._id }}">
                                  <i class="fa fa-trash-o" style="display:inline-block; left: 15px; top: 50%; margin-right: 5px"></i>
                                  {{getDicoVar "moduleActualityIndex" "delete"}}
                                </a>
                              {{/if}}
                            </div>
                          </div>
                        {{/if}}
                        <h2 data-id="{{actu._id}}" class="see-detail">{{actu.title}}</h2>
                        {{#if actu.locate}}<span class="location-wrapper"><i class="image-icon location-icon"></i> {{actu.locate}}</span>{{/if}}
                        <time>
                          <div class="mb-actuality-clock-icon">
                            <i class="image-icon clock-icon"></i>
                          </div>
                          <div>
                            {{#if sameDate actu.startDate actu.endDate}}
                              {{getDicoVar "moduleActualityIndex" "the"}}
                            {{else}}
                              {{#if $not actu.endDate}}
                                {{getDicoVar "moduleActualityIndex" "the"}}
                              {{else}}
                                {{getDicoVar "moduleActualityIndex" "from2"}}
                              {{/if}}
                            {{/if}}
                            {{fullDate actu.startDate}}
                            {{#if $neq actu.startHour '-1'}}
                              {{#if sameDate actu.startDate actu.endDate}}
                                {{getDicoVar "moduleActualityIndex" "from"}}
                              {{else}}
                                {{getDicoVar "moduleActualityIndex" "at"}}
                              {{/if}}
                              {{actu.startHour}}
                            {{/if}}
                            {{#if sameDate actu.startDate actu.endDate}}
                              {{#if $neq actu.endHour '-1'}}
                                {{getDicoVar "moduleActualityIndex" "to"}}
                                {{actu.endHour}}
                              {{/if}}
                            {{/if}}
                            {{#if actu.endDate}}
                              {{#if $not (sameDate actu.startDate actu.endDate)}}
                                {{getDicoVar "moduleActualityIndex" "the2"}}
                                {{fullDate actu.endDate}}
                                {{#if $neq actu.endHour '-1'}}
                                  {{getDicoVar "moduleActualityIndex" "at"}}
                                  {{actu.endHour}}
                                {{/if}}
                              {{/if}}
                            {{/if}}
                          </div>
                        </time>

                        <div class="info-content ellipsis" style="word-wrap: break-word;">
                          <div class="ellipsisedText show">{{{seeMoreMessage actu.description 250}}}</div>
                          <div class="notEllipsisedText">{{{ actu.description }}}</div>
                        </div>
                        {{#if doSeeMoreLess actu.description 250}}
                          <div class="seeMoreOrLess seeMoreOrLessLeft mb10"> {{ getDicoVar 'moduleActualityIndex' 'see_more' }} </div>
                        {{/if}}

                        {{#if actu.files}}
                          <a type='button' class='attachment-link open-file' data-title="{{actu.title}}" data-id='{{actu._id}}' data-toggle='modal' data-target='#modal_file'>
                            <i class="image-icon attach-icon"></i> {{getDicoVar "moduleActualityIndex" "attached_file_available"}}
                          </a>
                        {{/if}}
                      </div>
                    {{/each}}
                  {{else}}
                    <div class="info-item">
                      <h2>{{getDicoVar "moduleActualityIndex" "no_event"}}</h2>
                      <h4>{{getDicoVar "moduleActualityIndex" "no_event_for"}}</h4>
                    </div>
                  {{/if}}
                </div>
              </div>
            </div>
          {{/if}}
        {{else}}
          <!--EVENT DETAIL-->
          {{> eventDetail eventId=editId}}
        {{/unless}}
      </div>
    </div>
  {{else}}
    {{> MbRestrictedAccess }}
  {{/if}}

  <!-- MODAL SHOW JOIN FILES & PICTURES -->
  <div id="modal_file" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
      <button type="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">

        <!-- MODAL HEADER WITH TITLE -->
        <div class="modal-header">
          <div class="modal-heading pull-left">
            <h4 class="red_color modal-title"></h4>
          </div>
        </div>

        <!-- JOIN FILES & PICTURES -->
        <div class="modal-body clearfix">
          <div class="form-group">
            <p> {{ getDicoVar 'moduleActualityIndex' 'attchList' }} :</p>
          </div>
          <div class="form-group">
            {{#if getFiles}}
              {{>
                fileViewer
                files=getFiles
                newFiles=getNewFiles
              }}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{else}}
    {{> loader}}
  {{/if}}
</template>
