// Global definitions
@import "/client/style/variable.less";

.see-detail, .go-to-detail {
  cursor: pointer;
}

.tbodyInfo{
  th{
    padding-left: 10px !important;
    img{
      width: 20px;
      margin-right: 10px;
    }
  }
  td{
    color: #5d5e62;
    padding-left: 10px !important;
    vertical-align: top !important;
    img{
      width: 30px;
      color: black;
    }
    p{
      font-weight: lighter;
      text-align: justify;
      color: #5d5e62;
    }
    .infoDate{
      text-align: center;
    }
  }

  .infoDescription {
    padding-right: 40px !important;
  }
  h4{
    color: @red;
    margin-bottom: 20px;
    margin-top: 0;
  }
}

// modal style
#modalAddEvenement {
  .dropdown {
    height: 32px;
  }

  .form-row {
    padding: 19px 0;
  }

  .dateRespon {
    .input-group {
      margin-top: 6px;
      width: 100%;
    }

    .labelInput {
      text-transform: uppercase;
      font-family: 'Lato', 'Source Sans Pro', sans-serif;
      font-size: 12px;
      letter-spacing: 0.1px;
      text-align: left;
      color: #8b999f;
      margin: 0;
    }

    .input-group-addon {
      border: 1px solid #eeeeee;
      cursor: pointer!important;
      height: 36px;
      width: 40px;
      padding: 0 8px;
      border-radius: 0;
      background-color: #ffffff;

      .calendar-g-icon {
        height: 24px;
        width: 24px;
        background-image: url(img/icons/calendar-grey.png);
      }

      .clock-g-icon {
        height: 24px;
        width: 24px;
        background-image: url(img/icons/svg/clock.svg);
      }
    }

    input.datepicker,
    input.startHourActu,
    input.endHourActu {
      border: 1px solid #eeeeee;
      border-left: 0;
      height: 36px;
      min-width: 64px !important;
      cursor: pointer!important;
    }
  }
  .event-file-upload-button {
    display: inline-block;
    margin-top: 5px;
    margin-right: 15px;
  }
}

.align-title-cd {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.evtSelect{
  margin-bottom: 30px;
}
.condo-filter {
  cursor: pointer;
}
#event-container {
  #to-list {
    position: absolute;
    top: 16px;
    right: 24px;
  }
  .toggle-calendar-button {
    margin-right: 8px;
    flex: 0 0 130px;
    display: flex;
    height: 28px;
    background-color: @wt;
    //border: solid 1px var(--button-color);
    border: solid 1px var(--secondary-color);
    padding: 0 8px;
    align-items: center;
    justify-content: center;

    i.image-icon {
      width: 16px;
      height: 16px;
      margin-right: 3px;
    }

    span {
      font-family: 'Lato', 'Source Sans Pro', sans-serif;
      font-size: 14px;
      letter-spacing: -0.3px;
      text-align: center;
      //color: var(--button-color);
      color: var(--secondary-color);

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  .mb-event-list {
    display: flex;
    .left-panel {
      flex: 1;
      padding: 0!important;

      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 8px;
        border-bottom: 1px solid @wt2;

        .event-search-wrapper {
          flex: 1;
          margin-right: 16px;
        }
      }
    }

    .right-panel {
      flex: 0 0 260px;
      margin-left: 20px;

      .info-item {
        h2 {
          cursor: pointer;
        }
      }
    }
  }
}
#custom-calendar {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
  font-family: @lato;

  font-size: 16px;
  text-align: center;
  color: @slategrey;
  background-color: #fff;
  padding: 16px;
  min-height: 500px;

  .calendar-head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;

    .monthname {
      width: 480px;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: @slategrey;
      text-transform: uppercase;
    }

    button {
      border: none;
      cursor: pointer;
      background-color: transparent;

      i {
        //color: var(--accent-color);
        color: var(--primary-color);
        font-size: 28px;
      }
    }
  }

  .cal-row-head {

    border: none;
    text-transform: uppercase;
    .cal-cell1 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      border: none;
      background-color: @wt;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.3px;
      text-align: center;
      color: @grey3;
      min-height: 60px;
    }
  }
  .cal-row-body {
    .cal-cell1 {
      height: 172px;

      span[data-cal-date] {
        color: @slategrey;
        opacity: 1;
        margin: 0;
        padding: 3px 8px;
        //border-bottom-left-radius: 30%;
        //border-bottom-right-radius: 30%;
        //background-color: @newbgcolor;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        text-align: right;
      }

      .cal-month-day.cal-day-today {
        background-color: rgb(232, 242, 244);

        span[data-cal-date] {
          font-weight: bold;
        }
      }

      .cal-month-day.cal-day-outmonth {
        span[data-cal-date] {
          opacity: 0.3;
        }
      }
      .cal-month-day::-webkit-scrollbar-track
      {
        background-color: transparent;
      }
      .cal-month-day::-webkit-scrollbar
      {
        background-color: transparent;
      }
      .cal-month-day {
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(~"(100% - 21px)");

        .list-group {
          .list-group-item:first-child {
            //border: 0;
          }
          .list-group-item {
            background-color: @duck-egg-blue;
            border-radius: 0;
            border: 0;
            margin: 0 4px 4px;
            //border-left: 4px solid var(--accent-color);
            border-left: 4px solid var(--primary-color);
            padding: 4px 5px;
            cursor: pointer;

            .edit-event {
              //background-color: #fff;
              //border-bottom-right-radius: 5px;
              position: absolute;
              top: -5px;
              left: 0;

              a.item-pencil-dropdown {
              }

              div#dropdown-menu {
                margin-right: -100px;
              }
            }

            p {
              margin: 0;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 10px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: -0.2px;
              text-align: left;
              color: @grey3;
              margin-top: 2px;
            }
            .e-title {
              margin: 0;
              font-size: 12px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: -0.3px;
              text-align: left;
              color: @slategrey;

              a:before {
                font-family: FontAwesome;
                content: "\f019";
                margin-right: 2px;
              }
              a {
                margin-right: 4px;
                font-size: 10px;
              }
            }
          }
        }

        #cal-day-tick {
          bottom: -26px;
        }

        .datenum {
          font-size: 1.2em;
          font-weight: normal;
          opacity: 0.5;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.1s ease-in-out;
          -moz-transition: all 0.1s ease-in-out;
          -ms-transition: all 0.1s ease-in-out;
          -o-transition: all 0.1s ease-in-out;
          margin-top: 15px;
          margin-right: 15px;
        }
      }
    }
    .leftmost {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      //background-color: var(--accent-color);
      background-color: var(--primary-color);

      p {
        flex: 1;
        margin: 0;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: @wt;
      }

      .btn-week-toggle {
        flex: 0 0 24px;
        margin-top: 5px;
        display: block;
        width: 24px;
        height: 24px;
        //opacity: 0.4;
        background-color: #ffffff;
        border-radius: 50%;
        position: relative;
        //bottom: 20px;

        i {
          //color: var(--accent-color);
          color: var(--primary-color);
          font-size: 12px;
          position: absolute;
          top: 7px;
          left: 8px;
        }
      }

      .btn-week-toggle.colapse {
        display:none;
      }

      //.btn-week-toggle.colapse:after {
      //  content: 'voir moins';
      //  opacity: 0.3;
      //  font-size: 12px;
      //  font-style: italic;
      //  color: #ffffff;
      //  position: absolute;
      //  width: 60px;
      //  left: 25px;
      //  top: 2px;
      //}
    }
  }
  .cal-month-box, .cal-year-box, .cal-week-box {
    border-radius: 0;
  }
  .cal-row-fluid {
    .cal-cell1 {
      width: ~"calc(100%/6 - 155px/6)";
    }
    [class*="cal-cell"]:hover {
      background: none;
    }
    .leftmost:hover {
      //background: var(--accent-color);
      background: var(--primary-color);
    }
  }
  .collapsed {
    height: 72px;

    .leftmost {
      padding: 8px 16px 8px 16px;
      height: 72px;
      min-height: 0px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      p {
        //display: inline;
      }

      .btn-week-toggle {
        //position: relative;
        //right: -18px;
        //top: -15px;
      }
    }

    .cal-cell1 {
      min-height: 0px;
      height: 71px;
    }
  }
}

.cal-month-box,
.cal-row-head {
  .leftmost {
    //color: #ffffff;
    //background-color: #74d8ea;
    width: 154px!important;
  }
}

.tooltip {
  position: fixed;
  opacity: 1!important;
  p {
    overflow-wrap: break-word;
  }
  .tooltip-inner {
    color: #fff;
    text-align: center;
    background-color: #4a4a4a;
    border-radius: 0;
    padding: 30px;
    .t-container {
      text-align: left;

      p {
        margin: 0;
        font-size: 12px;
      }

      .t-title, .t-label {
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
      }
      .t-location {
        font-weight: bold;
        color: #69d2e7;
      }
      .t-content {
        color: #ffffff;
      }
      .t-label {
        margin-top: 25px;
      }
    }
  }

  .tooltip-arrow {
    opacity: 0.7;
  }
}

.margebtnEVT{
  margin: 15px 0;
}

@media (max-width: 767px) {
    .dateRespon{
      padding:0 !important;
    }

}

#custom-calendar .cal-row-body .cal-cell1 .cal-month-day.focus {
  background-color: transparent;
  animation: focusin 1s forwards;
}

@keyframes focusin {
  from {background-color: transparent;}
  to {background-color: #ffee97;}
}

.form-event {
  .mb-input {
    margin-bottom: 15px;
  }

  .flex-row {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 15px;

    .mb-event {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin: 0 5px;

      input {
        text-align: right;

        &::placeholder,
        &::-webkit-input-placeholder {
          text-align: right;
        }
      }

      .mandatory-icon {
        width: 7px;
        height: 7px;
        display: inline-block;
        margin-bottom: 3px;
        margin-left: 3px;
        background-image: url(img/icons/mandatory.png);
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &.mb-event-start-date,
      &.mb-event-end-date {
        flex: 3;
      }

      &.mb-event-start-hour,
      &.mb-event-end-hour {
        flex: 1;
      }

      &.mb-event-separator {
        color: #999;
        justify-content: center;
        display: flex;
        flex: 0 0 30px;
        text-align: center;
        height: 36px;
      }
    }
  }
}

.mb-event {
  .open > .dropdown-menu {
    height: 200px;
    overflow-y: scroll;
    width: 78px;
    min-width: 78px;
    right: 0;
    left: auto;
  }
}
