@import "../../style/variable";

#CondoDropDown.form-group .dropdown {
    width: 100%;
    border: 1px solid #adadad;
}

#CondoDropDown .text-hidden {
    white-space: nowrap;
    line-height: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 230px;
}

#CondoDropDown .inline {
	display: inline-block;
}

#CondoDropDown {
    .dropdown {
        margin: 0;
        box-shadow: none;
        border: none;

        button.dropdown-toggle {
            box-shadow: 0 1px 4px 0 rgba(32, 33, 38, 0.1);
            background-color: @wt;
            border: solid 1px @wt2;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: -0.4px;
            text-align: left;
            color: @grey3;
            padding: 7px 8px 7px 15px;
            margin: 0;
            position: relative;

            .condoDropdown-condoName {
              margin-right: 20px;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            .caret {
              position: absolute;
              right: 5px;
              top: 0;
              border: none;
              width: 24px;
              height: 24px;
              display: inline-block;
              background-image: url("/img/icons/svg/chevronDropdown.svg");
              background-repeat: no-repeat;
              background-position: center center;
              background-size: contain;
            }
        }
        .dropdown-menu {
            box-shadow: 0 1px 4px 0 rgba(32, 33, 38, 0.1);
            background-color: @wt;
            border: solid 1px @wt2;
            border-radius: 0;
            padding: 0;
            max-height: 300px;
            overflow-y: auto;
            .the-search-wrapper {
                padding: 8px;
            }
            li.typeOption.active {
              //border-left: 8px solid var(--accent-color);
              border-left: 8px solid var(--primary-color);
            }

            li.typeOption {
                border-left: 8px solid @wt;
                padding: 15px 15px 15px 7px;

                a.media {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                }

                h5 {
                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.38;
                    letter-spacing: -0.4px;
                    text-align: left;
                    color: @grey3;
                }
                h6 {
                    color: @slategrey;
                }
            }
        }
    }
}
