<template name="CondoDropDown">
	{{isAllreadySelect}}
	<div class="action {{getClass}}" id="CondoDropDown">
		<div class="dropdown per-s-list btn">
			<button class="btn clearfix text-left btn-transparent dropdown-toggle buttonCondoView" type="button" data-toggle="dropdown">
        <div class='condoDropdown-condoName'>
          {{#if getCondoName}}
              {{getCondoName}}
          {{else}}
              {{#if isModalDropDown}}
      			  	{{getDicoVar "commonTranslation" "select_building"}}
              {{else}}
                {{getDicoVar "commonTranslation" "all_buildings"}}
              {{/if}}
          {{/if}}
        </div>
        <span class="caret pull-right"></span>
			</button>
			<div id="dropdownCondoView" class="dropdown-menu" style="width: 100%;">
        <div class="the-search-wrapper">
            {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=onSearch}}
        </div>
        <ul class="list-users list-unstyled ulRespon">
          {{#if $eq getCondoList.length 0}}

            <li class="typeOption">
              <div class="media">
                <div class="media-body">
                  <h5> {{ getDicoVar 'commonTranslation' 'no_output' }} </h5>
                </div>
              </div>
            </li>

          {{else}}

            {{#if viewAllBuilding}}

              <li data-id="all" class="typeOption dropdown-condo all-condo {{getActiveClass 'all'}}">
                <a class="media">
                  <span class="pull-left" href="#">
                    <img src="/img/icons/svg/immeuble_48px.svg" alt="" style="width: 25px;">
                  </span>
                  <div>
                    <h5>{{getDicoVar "commonTranslation" "all_buildings"}}</h5>
                    <h6>{{getCondoList.length}} {{getDicoVar "commonTranslation" "condo"}}(s)</h6>
                  </div>
                </a>
              </li>

            {{/if}}

            {{#each getCondoList}}

              <li data-id="{{this._id}}" class="typeOption dropdown-condo {{getActiveClass this._id}}" idx="{{@index}}">
                <a class="media">
                  <span class="pull-left" href="#">
                    <img src="/img/icons/svg/immeuble_48px.svg" alt="" style="width: 25px;">
                  </span>
                  <div>
                    {{#if $neq this.name this.info.address}}
                    <h5 id="condoViewName{{@index}}" class="text-hidden" title="{{#if $neq this.info.id '-1'}}{{this.info.id}} - {{/if}}{{this.name}}">{{#if $neq this.info.id "-1"}}{{this.info.id}} - {{/if}}{{this.name}}</h5>
                    <h6 class="muted-text text-hidden" title="{{this.info.address}}, {{this.info.code}} {{this.info.city}}">{{this.info.address}}, {{this.info.code}} {{this.info.city}}</h6>
                    {{else}}
                    <h5 id="condoViewName{{@index}}" class="text-hidden" title="{{#if $neq this.info.id '-1'}}{{this.info.id}} - {{/if}}{{this.info.address}}, {{this.info.code}} {{this.info.city}}">{{#if $neq this.info.id "-1"}}{{this.info.id}} - {{/if}}{{this.info.address}}, {{this.info.code}} {{this.info.city}}</h5>
                    {{/if}}
                  </div>
                </a>
              </li>

            {{/each}}

          {{/if}}
        </ul>
			</div>
		</div>
	</div>
</template>