<template name="module_map">
  {{#if userHasRight "map" "see"}}
    {{#if hasMap}}
      <input id="fileUploadInputMap" type="file" style="display: none;" accept="application/pdf" />
      <div class="mt10">
        <span style="font-weight: 600">{{getDicoVar "moduleMap" "last_update"}} :</span> {{humanDate lastUpdate}}
      </div>
      <br>
      {{#if isSmallerDevice}}
        {{#if mapFile}}
          <div style="text-align: center;	-webkit-overflow-scrolling: touch; overflow: auto;width:100%; height:700px">
            <div id="pdfCanvas"></div>
          </div>
        {{else}}
          <div style="text-align: center">
            <p>{{getDicoVar "moduleMap" "not_display"}}</p>
          </div>
        {{/if}}
      {{else}}
        <div style="text-align: center;">
          <iframe src="{{mapData}}" width="100%" height="700px">
            <p>{{getDicoVar "documentModule" "iframe"}}</p>
          </iframe>
        </div>
      {{/if}}
    {{else}}
      <div class="card item">
        <div class="card-block">
          {{> MbEmpty
            title=(getDicoVar "moduleMap" "empty_title")
            subTitle=(getDicoVar "moduleMap" "empty_description")
          }}
        </div>
      </div>
    {{/if}}
  {{else}}
    {{> MbRestrictedAccess }}
  {{/if}}
</template>
