<template name="informationsGestionnaire">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <input id="fileUploadInputMan" type="file" style="display: none;">
  <input id="fileUploadInputMap" type="file" style="display: none;">

  <div id="modal_add_information" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
    <div class="modal-dialog modal-lg">
      {{#if eachLoad}}
        <div></div>
      {{else}}
        <div></div>
      {{/if}}
      <button type="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content" id="info-add-modal-content">
        <div class="modal-header">
          <div class="modal-heading pull-left">
            <h4 id="myModalLabel" class="modal-title red_color">
              {{#if editPost}}
                {{getDicoVar "commonTranslation" "edit_information"}}
              {{else}}
                {{getDicoVar "commonTranslation" "publish_information"}}
              {{/if}}
            </h4>
          </div>
        </div>
        <div class="modal-body clearfix" id="subject">
          <form class="form-information">
            {{>MbMultipleCondoPicker
              onSelect=multiCondoCb
              selectedCondos=getSelectedCondos
              label=(getDicoVar 'commonTranslation' 'post_to_building')
              required=true
              module="actuality"
              right="write"
            }}
            <div class="row">
              <div class="col-xs-12">
                <div class="mb-input">
                  <label for="mb-select">
                    {{ getDicoVar 'moduleActualityIndex' 'title' }}
                  </label>
                  <i class="image-icon mandatory-icon"></i>
                  <input placeholder= {{getDicoVar "commonTranslation" "title_maj"}} class="titleActu" type="text" value="{{ifEditPost 'title'}}">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="mb-input">
                  <label for="mb-select">
                    {{ getDicoVar 'moduleActualityIndex' 'locate' }}
                  </label>
                  <input placeholder= {{getDicoVar "commonTranslation" "your_location"}} class="locateActu" type="text" value="{{ifEditPost 'locate'}}"
                    autocomplete="off">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <label class="mb-label">
                  {{ getDicoVar 'moduleActualityIndex' 'descrip' }}
                  <i class="image-icon mandatory-icon"></i>
                </label>
                <div class="info-msg-box">
                  <div class="info-msg-box-row">
                    <div>
                      {{> React component=MbTextArea
												minRow=3
												onChange=descriptionChange
												value=(ifEditPost 'description')
												placeholder=(getDicoVar 'commonTranslation' 'write_description')
											}}
                    </div>
                    {{> FileUploadButton files=getPreviewFiles onFileAdded=onFileAdded }}
                  </div>

                  {{> FileList files=getPreviewFiles onRemove=onFileRemoved onFileAdded=onFileAdded }}
                </div>
              </div>
            </div>
            {{#unless editPost}}
            <!--
            <div class="row" style="margin-top: 20px;">
              <div class="col-xs-12">
                {{> MbCheckbox
                  label=(getDicoVar 'commonTranslation' 'schedule_the_post')
                  checked=(ifEditPost 'scheduledPost')
                  onClick=(toggleCheck 'scheduledPost')
                }}
              </div>
            </div>
            {{#if (ifEditPost 'scheduledPost')}}
              <div class="row" style="margin-top: 20px;">
                <div class="col-xs-12">
                  <div class="mb-input">
                    <label for="mb-select">
                      {{ getDicoVar 'commonTranslation' 'select_date_and_time' }}
                    </label>
                    <i class="image-icon mandatory-icon"></i>
                  </div>
                  <div class="date-time-container dropup">
                    {{> datepicker
                      container="info-add-modal-content"
                      format="DD, d M yy"
                      datepickerId="infoScheduledDate"
                      value=getScheduledDate
                    }}
                    <div class="input-group dropdown" style="border: none;">
												<span class="input-group-addon input_group_custom ">
													<i class="image-icon clock-g-icon"></i>
												</span>
                      <input value="{{ifEditPost 'scheduledTime'}}" type="text" data-toggle="dropdown" class="form-control dropdown-toggle scheduledHour" placeholder="00:00" autocomplete=off>
                      <ul class="dropdown-menu container time-slot">
                        {{#each timeSlot}}
                          <li><a class="timeSlotStart">{{this}}</a></li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            {{/if}}
            -->
            {{/unless}}
            {{#if isError}}
              <div class="row">
                <div class="col-xs-8 errorModal">
                  {{#if isActuError}}
                    <p> {{ getDicoVar 'moduleActualityModal' 'fill_required_fields' }} </p>
                  {{/if}}
                  {{#if condoError}}
                    <p> {{ getDicoVar 'moduleActualityIndex' 'selectBuilding' }} </p>
                  {{/if}}
                </div>
              </div>
            {{/if}}
            <div class="modal-footer d-flex flex-row align-items-center justify-end" style="padding: 0 !important">
              {{#if cantSendActu}}
                <a disabled="true" class="btn red_btn button_into_modal pull-right mt40" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'moduleReservationIndex' 'validating'}}...">{{getDicoVar "moduleActualityModal" "validate"}}</a>
              {{else}}
                <a type="submit" id="save" class="btn red_btn button_into_modal pull-right mt40 submitActu" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'moduleReservationIndex' 'validating'}}...">{{getDicoVar "moduleActualityModal" "validate"}}</a>
              {{/if}}
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <!-- Information View -->

  <div class="row titleView">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-heading position_relative" style="padding-bottom: 10px">
          <div class="sub-tool-bar clearfix">
            <div class="pull-left">
              <h1> {{ getDicoVar 'commonTranslation' 'manager_information' }} </h1>
              {{#if isParamExist}}
                <button type="button" id="info-back-form">
                  <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{{getDicoVar "resourceForm" "back"}}}
                </button>
              {{/if}}
            </div>
            <div class="action pull-right informationbutton">
              {{#if refreshCondoId}}{{/if}}
              {{#if or (and (userHasRight "actuality" "write") (userHasRight "actuality" "see")) (and ($eq getCondoIdFilter "all") (and
                (hasRightInCondos "actuality" "write") (hasRightInCondos "actuality" "see")))}}
                <a href="#" type="button" id="modalAddInformation" class="btn red_btn red_btn-lg" data-toggle="modal" data-target="#modal_add_information">
                {{ getDicoVar 'commonTranslation' 'post' }} </a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if or (and (equals getCondoIdFilter 'all') (hasRightInCondos "actuality" "see")) (userHasRight "actuality" "see")}}
    <div id="information-page">
      <div class="mb-info-container" style='height: fit-content'>
        <div class="left-panel">
          {{!-- {{#if isSubscribeReady}} --}}
          {{#unless isParamExist}}
          <div class="search-container">
            {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=onSearch}}
          </div>
          <div class="info-list">
            {{#each getActu}}
              {{#if userHasRight "actuality" "see" this.condoId}}
                <div class="info-item {{getNewClass this}}">
                  {{#if or this.editRight this.deleteRight}}
                    <div class="dropdown">
                      <a class="dropdown-toggle tools item-pencil-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="image-icon edit-icon"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        {{#if this.editRight}}
                          <a href="#" class="dropdown-item post-edit" data-toggle="modal" data-target="#modal_add_information" data-id="{{this._id}}">{{getDicoVar "moduleActualityIndex" "edit"}}</a>
                        {{/if}}
                        {{#if this.deleteRight}}
                          <a href="#" class="dropdown-item post-delete" data-id="{{ this._id }}">{{getDicoVar "moduleActualityIndex" "delete"}}</a>
                        {{/if}}
                      </div>
                    </div>
                  {{/if}}
                  <h2 class="go-to-detail" data-id="{{this._id}}">{{{hyperlink this.title}}}</h2>
                  <time class="go-to-detail" data-id="{{this._id}}">
                    {{#if isEdited this._id}}
                      {{getDicoVar "home" "edited"}} {{humanDate this.updatedAt}}
                    {{else}}
                      {{getDicoVar "moduleActualityIndex" "published_on"}} {{ humanDate this.createdAt}}
                    {{/if}}
                  </time>
                  <div class="info-user go-to-detail" data-id="{{this._id}}">
                    {{> userIcon userId=this.userId type="U" hideStatus=true}}
                    <h3>{{getFullName this.userId}}</h3>
                  </div>
                  {{#if isAllCondo}}
                    <span class="condo-wrapper go-to-detail" data-id="{{this._id}}">
                      <i class="image-icon building-icon"></i> {{getCondo this.condoId}}</span>
                  {{/if}}
                  {{#if this.locate}}
                    <span class="location-wrapper go-to-detail" data-id="{{this._id}}">
                      <i class="image-icon location-icon"></i> {{{hyperlink this.locate}}}</span>
                  {{/if}}

                  <div class="info-content ellipsis" style="word-wrap: break-word;">
                    <div class="ellipsisedText show">{{{hyperlink (seeMoreMessage this.description 250)}}}</div>
                    <div class="notEllipsisedText">{{{hyperlink this.description }}}</div>
                  </div>
                  {{#if doSeeMoreLess this.description 250}}
                    <div class="seeMoreOrLess seeMoreOrLessLeft mb10"> {{ getDicoVar 'commonTranslation' 'see_more' }} </div>
                  {{/if}}
                  {{#if this.files}}
                    <div class="mb10 mt10 img-footer-message">
                      {{> React
                        component=MbFilePreview
                        files=(getFiles this.files)
                        newFiles=(getNewFiles this.files)
                        layout="13"
                        forceContainerWidth=true
                        limit=4
                      }}
                    </div>
                  {{/if}}
                </div>
              {{/if}}
            {{else}}
              {{#if $not searchMode}}
                <div class="card item">
                  <div class="card-block">
                    {{> MbEmpty
                      title=(getDicoVar 'moduleActualityIndex' 'manager_empty_title')
                      subTitle=(getDicoVar 'moduleActualityIndex' 'manager_empty_subtitle')
                      buttonLabel=(getDicoVar 'moduleActualityIndex' 'manager_empty_button')
                      onButtonClick=addNewInformation
                    }}
                  </div>
                </div>
              {{else}}
                {{> MbEmpty title=(getDicoVar 'moduleActualityIndex' 'no_result') }}
              {{/if}}
            {{/each}}
          </div>
          {{!-- {{setHeight}} --}}
          {{!-- {{/if}} --}}
          {{else}}
            {{> eventDetail eventId=detailId}}
          {{/unless}}
        </div>
      </div>
    </div>
  {{else}}
    {{> MbRestrictedAccess }}
  {{/if}}


</template>
