// Global definitions
@import "/client/style/variable.less";

#info-back-form {
  background: none;
  border: none;
  color: @grey3;
  padding: 0;
  margin-top: 7px
}

.tbodyInfo{
  .inf-content,
  .inf-title {
    word-wrap: break-word;
  }

  th{
    padding-left: 10px !important;
    img{
      width: 20px;
      margin-right: 10px;
    }
  }
  td{
    .dropdown-item {
      padding: 8px 1.5rem;
    }

    color: #5d5e62;
    padding-left: 10px !important;
    vertical-align: top !important;
    img{
      width: 25px;
      color: black;
    }
    p{
      font-weight: lighter;
      text-align: justify;
      color: #5d5e62;
    }
    .infoDate{
      text-align: center;
    }
  }

  .tabPadding {
    div.info-content {
      white-space: normal;
    }
    p.ql-align-justify {
      text-align: justify;
    }
  }

  .infoDescription {
    padding-right: 40px !important;

    h4 {
      font-size: 16px;
    }

    div.info-content {

      .inliner:only-child {
        margin-bottom: 10px;
        text-align: justify;
        p {
          display: inline;
          max-width: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
      a {
        color: #5d5e62;
        cursor: pointer;
        font-weight: normal;
        text-decoration: underline;
      }
    }

    a.open-file-modal {
      font-size: 12px;
    }
    a.open-file-modal:after {
      font-family: FontAwesome;
      content: "\f019";
      margin-left: 9px;
    }
  }
  h4{
    color: @red;
    margin-bottom: 20px;
    margin-top: 0;
  }
}

h2.go-to-detail {
  cursor: pointer;
}

tr.focus {
  background-color: transparent;
  animation: focusin 1s forwards;
}

@keyframes focusin {
  from {background-color: transparent;}
  to {background-color: #FFF5C1;}
}

#modal_add_information {
  #CondoDropDown.form-group .dropdown {
    border: 1px solid #e0e0e0;
  }

  .mb-label-wrapper {
    background: #F1F5F6;
    padding: 10px 16px 7px 10px;
    margin-bottom: 12px;
  }

  .input-group-addon {
    border: 1px solid #eeeeee;
    cursor: pointer!important;
    height: 36px;
    width: 40px;
    padding: 0 8px;
    border-radius: 0;
    background-color: #ffffff;

    .calendar-g-icon {
      height: 24px;
      width: 24px;
      background-image: url(img/icons/calendar-grey.png);
    }

    .clock-g-icon {
      height: 24px;
      width: 24px;
      background-image: url(img/icons/svg/clock.svg);
    }
  }

  .date-time-container {
    margin-top: 10px;
    display: flex;
    .input-group:first-child {
      width: 250px;
    }
    .input-group:last-child {
      width: 140px;
      margin-left: 10px;
    }
  }
  .time-slot {
    width: 140px;
    height: 400px;
    overflow-y: scroll;
  }

  input.datepicker,
  input.scheduledHour {
    border: 1px solid #eeeeee;
    text-align: right;
    border-left: 0;
    height: 36px;
    min-width: 64px !important;
    cursor: pointer!important;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #8b999f;
  }
}
.img-footer-message {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
}
