<html lang="en">
<head>
  <title>MonBuilding</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  {{{style}}}
</head>

<body>
  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#f1f5f6">
    <tbody>
      <tr>
        <td align="center" bgcolor="#f1f5f6">
           <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;">
            <tbody>
              <tr>
                <td class="w640" width="640" height="10"></td>
              </tr>
              {{{emailHeaderLogo}}}
              <tr>
                <td class="w640" width="640" height="1" bgcolor=""></td>
              </tr>
              <tr class="content">
                <td class="w640" width="640" bgcolor="#ffffff">
                  <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td class="w30" width="30"></td>
                        <td class="w580" width="580">
                          <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0" style="padding: 20px 0 0px 0;">
                            <tbody>
                              <tr>
                                <td class="w580" width="580">
                                  <h2 style="color: #5d5e62; font-size:26px; font-weight: 600; margin-bottom: 26px !important; padding: 0 !important;">You have been invited to a booking</h2>
                                  <table style=" margin-bottom: 30px !important;">
                                    <thead>
                                      <tr>
                                        <th></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td class="paddingTable" style="font-weight: 300; color:#5d5e62; font-size:16px;">
                                          <span>{{title}}</span>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td height="10"></td>
                                      </tr>
                                      <tr>
                                        <td class="paddingTable" style="font-weight: 100; color:#5d5e62; font-size:16px;">
                                          <span>Building : </span>{{getCondoNameForEmail condoId}}</td>
                                      </tr>
                                      <tr>
                                        <td height="10"></td>
                                      </tr>
                                      <tr>
                                        <td height="10"></td>
                                      </tr>
                                      <tr>
                                        <td class="paddingTable" style="font-weight: 300; color:#5d5e62; font-size:16px;">
                                          <span>Resource: </span>{{name}}</td>
                                      </tr>
                                      <tr>
                                        <td height="10"></td>
                                      </tr>
                                      <tr>
                                        <td class="paddingTable" style="font-weight: 300; color:#5d5e62; font-size:16px;">
                                          <span>Date: </span>{{dates}}</td>
                                      </tr>
                                      <tr>
                                        <td height="10"></td>
                                      </tr>
                                      <tr>
                                        <td class="paddingTable" style="font-weight: 300; color:#5d5e62; font-size:16px;">
                                          <span>Number of participants: </span>{{participantNumber}}</td>
                                      </tr>
                                      <tr>
                                        <td height="10"></td>
                                      </tr>
                                      <tr>
                                        <td class="paddingTable" style="font-weight: 100; color:#5d5e62; font-size:16px;">
                                          <span>Booked by : </span>{{bookedBy}}
                                        </td>
                                      </tr>
                                      <tr>
                                        <td height="10"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table align="center" width="300">
                                    <tbody>
                                      <tr align="center">
                                        <td align="center" width="300" style="padding: 0 0 20px 0;">
                                          <a href="{{outlookLink}}" class="msgA" style="float: left; text-decoration: none;">
                                            <img src="https://www.monbuilding.com/img/icons/outlook.png" title="Outlook" width="60" height="60">
                                          </a>
                                          <a href="{{icalLink}}" style="text-decoration: none;">
                                            <img src="https://www.monbuilding.com/img/icons/ical.png" title="iCalendar" width="60" height="60">
                                          </a>
                                          <a href="{{googleLink}}" style="float: right; text-decoration: none">
                                            <img src="https://www.monbuilding.com/img/icons/gcal.png" title="Google Calendar" width="60" height="60">
                                          </a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              {{{slogan}}}
                            </tbody>
                          </table>
                        </td>
                        <td class="w30" width="30"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              {{{appDl}}}
              {{{generatedMessage}}}
              {{{emailFooter}}}
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>
