<template name="eventResponseCard">
  <div class="event-response-card">
    <div class="response-title">{{getTitle}}</div>
    <div class="participant-list">
      {{#each participant in participants}}
      <div class="participant-item">
        {{> userIcon userId=participant type="U" hideStatus=true}}
        <h3>{{getFullName participant}}</h3>
      </div>
      {{/each}}
      {{#if showSeeAll}}
        <div class="see-all">
          {{> MbButton
            class="danger"
            onClick=toggle
            label=(getDicoVar "stats" getVarTranslate)
          }}
        </div>
      {{/if}}
    </div>
  </div>
</template>
