@import "/client/style/variable.less";

.event-response-card {
  .response-title {
    text-transform: uppercase;
    font-family: @lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: @grey3;
    padding: 10px 16px 7px;
  }
  .participant-list {
    background-color: @wt;
    padding: 8px 16px 4px;

    .participant-item {
      padding-bottom: 8px;
      border-bottom: 1px solid @wt2;
      margin-bottom: 8px;
      display: flex;
      align-items: center;

      h3 {
        margin: 0 0 0 15px;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: @slategrey;
        font-family: @lato;
      }
    }

    .see-all {
      text-align: center;

      .mb-button {
        height: 36px;
        width: 100%;
        margin: 8px 0;
        padding: 0;
      }
    }
  }

  .participant-list.option {
    padding: 16px 16px 0;
    display: flex;
    flex-direction: column;

    .mb-button {
      flex: 1;
      margin-bottom: 16px;
      height: 32px;
    }
  }
}
