<template name="module_reservation_index">
  {{#let canSeeReservation=canSeeReservationHelper}}
    <div class="wrapper" id="reservation-page">
      <section class="blue_bg_content" id="mainContent" style="padding-bottom: 0px !important">
        <div class="main_block container-fluid">
          {{#if refreshCondoId}}{{/if}}
            {{setResources}}
            {{#if showValidate}}
              {{> ReservationValidate}}
            {{else}}
              {{#unless showNew}}
                <div class="row">
                  <div class="col-sm-12 plpr23">
                    <div class="panel mt80">
                      <div class="panel-heading position_relative">
                        <div class="sub-tool-bar clearfix">
                          <div class="pull-left">
                            {{#if showForm}}
                              <h1>{{getDicoVar "moduleReservationIndex" "empty_button"}}
                                {{#if isNotManager}} - {{getAddress}}{{/if}}
                              </h1>
                              <button type="button" id="close-form">
                                <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{{getDicoVar "resourceForm" "back"}}}
                              </button>
                            {{else}}
                              <h1>{{getDicoVar "moduleReservationIndex" "booking"}}
                                {{#if isNotManager}} - {{getAddress}}{{/if}}
                              </h1>
                            {{/if}}
                          </div>
                          <div class="pull-right action repondBtnResa">
                            {{#if isManager}}
                              {{!-- {{> CondoDropDown selectedCondoId=getSelectedCondo module="reservations" classes="inline" selectAuto=1 noAll=showForm}} --}}
                              {{#if and (canSeeResources) (canSeeReservation)}}
                                <a type="button" id="resources-btn" class="btn red_btn red_btn-lg mb-button danger">{{getDicoVar "commonTranslation" "manage_resources"}}</a>
                              {{/if}}
                            {{/if}}
                            {{#if and (reverseBool showForm) (canSeeReservation)}}
                              {{#if haveResources}}
                                <a type="button" id="reservation-form-btn" class="btn red_btn red_btn-lg {{#if $eq getSelectedCondo 'all'}}disabled{{/if}}">{{getDicoVar "moduleReservationIndex" "book"}}</a>
                              {{/if}}
                            {{/if}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {{/unless}}
              {{#if canSeeReservation}}
                {{#if $eq getSelectedCondo 'all'}}
                  <div class="row all-warning">
                    {{>MbWarning content=(getDicoVar "moduleReservationIndex" "select_building")}}
                  </div>
                {{/if}}
                {{#if showCalendar}}
                  {{#if calendarReady}}
                    {{> ReservationCalendar onSelect=goToNewForm eventDates=getEventDates}}
                  {{/if}}
                {{else}}
                  {{#if showForm}}
                    {{> ReservationForm condoId=getSelectedCondo formData=getFormData eventDates=getEventDates}}
                  {{else}}
                    <div class="row">
                      <div class="col-sm-12 plpr23 flex mb-resa-list">
                        <div class="resa-list">
                          <div class="tab-resa">
                            <div class="tabBarContainer">
                              {{#if needValidation}}
                                <div data-type="confirmed" class="form-tab resaTab list-tab {{getActiveTabClass 'confirmed'}}">
                                  {{{getDicoVar "moduleReservationIndex" "confirmed"}}}
                                  {{#if _IsManagerView}}
                                    <span class="badge unicBadge resaBadges">{{getBadge "reservation_validated"}}</span>
                                  {{else}}
                                    <span class="badge unicBadge resaBadges">{{getBadge "reservation"}}</span>
                                  {{/if}}
                                </div>
                                <div data-type="pending" class="form-tab resaTab list-tab {{getActiveTabClass 'pending'}}">
                                  {{{getDicoVar "moduleReservationIndex" "pending"}}}
                                  {{#if _IsManagerView}}
                                    <span class="badge unicBadge resaBadges">{{getBadge "reservation_pending"}}</span>
                                  {{/if}}
                                </div>
                                <div data-type="history" class="form-tab resaTab list-tab {{getActiveTabClass 'history'}}">
                                  {{{getDicoVar "moduleReservationIndex" "history"}}}
                                  {{#if $not _IsManagerView}}
                                    <span class="badge unicBadge resaBadges">{{getBadge "reservation_reject"}}</span>
                                  {{/if}}
                                </div>
                              {{else}}
                                <div data-type="confirmed" class="form-tab resaTab list-tab {{getActiveTabClass 'confirmed'}}">
                                  <span>{{{getDicoVar "moduleReservationIndex" "upcoming"}}}</span>
                                  {{#if _IsManagerView}}
                                    <span class="badge unicBadge resaBadges">{{getBadge "reservation_validated"}}</span>
                                  {{else}}
                                    <span class="badge unicBadge resaBadges">{{getBadge "reservation"}}</span>
                                  {{/if}}
                                </div>
                                <div data-type="history" class="form-tab resaTab list-tab {{getActiveTabClass 'history'}}">
                                  <span>{{{getDicoVar "moduleReservationIndex" "history"}}}</span>
                                  {{#if $not _IsManagerView}}
                                    <span class="badge unicBadge resaBadges">{{getBadge "reservation_reject"}}</span>
                                  {{/if}}
                                </div>
                              {{/if}}
                            </div>
                            {{#if haveResources}}
                              <div>
                                <button id="reserver" class="toggle-calendar-button">
                                  <i class="image-icon calendar-icon"></i>
                                  <span>{{getDicoVar "moduleReservationIndex" "calendar_view"}}</span>
                                </button>
                              </div>
                            {{/if}}
                          </div>
                          {{#if ($eq getActiveTab 'confirmed')}}
                            <div class="list-container">
                              {{> ReservationList resourcesReady=resourcesReady onLoadMore=loadMore limit=getLimit status='confirmed' isManager=isManager condoId=getSelectedCondo haveResources=haveResources getCalendarEvent=getCalendarEvent goToValidate=goToValidate onSelectResa=onSelectResa}}
                            </div>
                          {{/if}}
                          {{#if ($eq getActiveTab 'pending')}}
                            <div class="list-container">
                              {{> ReservationList resourcesReady=resourcesReady onLoadMore=loadMore limit=getLimit status='pending' isManager=isManager condoId=getSelectedCondo haveResources=haveResources getCalendarEvent=getCalendarEvent goToValidate=goToValidate onSelectResa=onSelectResa}}
                            </div>
                          {{/if}}
                          {{#if ($eq getActiveTab 'history')}}
                            <div class="list-container">
                              {{> ReservationList resourcesReady=resourcesReady onLoadMore=loadMore limit=getLimit status='history' isManager=isManager condoId=getSelectedCondo haveResources=haveResources getCalendarEvent=getCalendarEvent goToValidate=goToValidate onSelectResa=onSelectResa}}
                            </div>
                          {{/if}}
                        </div>
                        <div class="right-panel">
                          <div id="mini-calendar"></div>
                          {{initDatePicker}}
                          {{!-- {{#if resourcesReady}} --}}
                            {{> ReservationList resourcesReady=resourcesReady status=getActiveTab isManager=isManager condoId=getSelectedCondo haveResources=haveResources goToValidate=goToValidate mini=true specificDate=getSpecificDate onSelectResa=onSelectResa}}
                          {{!-- {{else}} --}}
                            {{!-- {{> loader}} --}}
                          {{!-- {{/if}} --}}
                        </div>
                      </div>
                    </div>
                  {{/if}}
                {{/if}}
              {{else}}
                {{> MbRestrictedAccess }}
              {{/if}}
            {{/if}}
        </div>
      </section>
    </div>
  {{/let}}
  {{> ReservationModal selectedResaId=getSelectedResa}}
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
</template>
