@import "../../../../../style/variable";

.resaTab {
  position: relative;
}

.resaBadges {
  position: absolute;
  top: 12px;
  right: 10px;
}

.tab-resa {
  .tabBarContainer {
    border-bottom: initial;
    background: initial;
  }
}

.tab-resa, .the-tab {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: @wt;
  border-bottom: 1px solid @greylight;
  .tab-header {
    display: flex;
    flex-direction: row;

    .form-tab {
      button {
        background-color: transparent;
        border-color: transparent;
        border-width: 0 0 4px 0;
        padding: 11px 0 7px;
        width: 188px;
        font-family: 'Lato', 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
        //color: var(--tab-color);
        color: var(--primary-color);
        border-bottom-style: solid;
      }
    }
    .tab-active {
      button {
        //border-bottom-color: var(--tab-color);
        border-bottom-color: var(--primary-color);
      }
    }
  }

  .toggle-calendar-button {
    margin-right: 8px;
    flex: 0;
    display: flex;
    height: 28px;
    background-color: @wt;
    //border: solid 1px var(--button-color);
    border: solid 1px var(--secondary-color);
    padding: 0 8px;
    align-items: center;

    i.image-icon {
      width: 16px;
      height: 16px;
      margin-right: 3px;
    }

    span {
      font-family: 'Lato', 'Source Sans Pro', sans-serif;
      font-size: 14px;
      letter-spacing: -0.3px;
      text-align: center;
      //color: var(--button-color);
      color: var(--secondary-color);

      @media (max-width: 1256px) {
        display: none;
      }
    }
  }
}
.btn.disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: .65;
}
#reservation-page {
  .list-container {
    .search-container {
      background-color: white;
      padding: 0 8px 8px 0;
      margin-left: -8px;
      display: flex;
      align-items: center;

      .mb-search-bar {
        flex: 1;
      }

      .mb-relative {
        #daterange-stats {
          margin-right: 0;
        }
      }
    }
  }
  .repondBtnResa.disabled {
    cursor: not-allowed;
  }

  .mb-resa-list {
    .right-panel {
      overflow-y: hidden!important;

      .reservation-list-wrapper {
        overflow-y: auto;
        max-height: calc(~"100vh - 492px");
      }
    }
  }

  .all-warning {
    background-color: #fff;
    margin: 0 8px 16px;
  }

  .modal {
    .modal-dialog {
      //margin: 150px auto;
      width: 960px;

      .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 59px;
        border-bottom: 1px solid @greylight;
        padding: 18px 16px;

        button {
          cursor: pointer;
          background-color: transparent;
          border: 0;

          .image-icon {
            width: 24px;
            height: 24px;
          }
        }

        h4 {
          font-family: @lato;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: -0.5px;
          text-align: left;
          color: @slategrey;
          margin: 0;
          flex: 1;
        }
      }

      .modal-body {
        font-family: @lato;
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        color: @slategrey;
        padding: 24px 16px;

        .suggestion-container {

        }

        .mb__textarea {
          textarea {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.4px;
            color: @grey3;
            padding: 6px 8px;
            border: solid 1px @wt2;
          }
        }
      }
    }
  }

  #close-form, #close-form-2, #close-validate {
    background: none;
    border: none;
    color: @grey3;
    padding: 0;
    margin-top: 7px
  }

  .add-btn-wrapper {
    justify-content: center;
    align-items: center;
  }
  .remove-external, #add-external {
    border: 0;
    background-color: transparent;

    i.image-icon {
      width: 24px;
      height: 24px;
    }
  }

  .tab-resa.calendar {
    justify-content: flex-end;
  }

  #reservation-calendar {
    .main_block {
      margin: 0;
      width: 100%;
      padding: 0;
    }

    #navigator-container {
      span.icon.expand-icon.glyphicon,
      span.icon.check-icon.glyphicon {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 16px;
        height: 16px;
        flex: 0 0 16px;
      }
      span.icon.expand-icon.glyphicon:before,
      span.icon.check-icon.glyphicon:before {
        content: '';
      }
      span.icon.check-icon.glyphicon.glyphicon-unchecked {
        background-image: url("img/icons/unchecked.png");
      }
      span.icon.check-icon.glyphicon.glyphicon-check {
        cursor: pointer;
        width: 16px;
        height: 16px;
        top: 2px;
        left: 0;
        background: @wt;
        border-radius: 50%;
        min-height: auto;
        //background-color: var(--menu-selected-item-color);
        //border: 2px solid var(--menu-selected-item-color);
        background-color: var(--primary-color);
        border: 2px solid var(--primary-color);
      }
      span.icon.check-icon.glyphicon.glyphicon-check:after {
        opacity: 1;
        position: absolute;
        content: '';
        width: 10px;
        height: 5px;
        top: 2px;
        left: 1px;
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
      }
      span.icon.expand-icon.glyphicon.glyphicon-chevron-down {
        background-image: url("img/icons/chevron-down.png");
      }
      span.icon.expand-icon.glyphicon.glyphicon-chevron-right {
        background-image: url("img/icons/chevron-down.png");
        transform: rotate(270deg);
      }
      .list-group-item {
        display: flex;
        justify-content: flex-start;
        position: relative;
        align-items: flex-start;
        padding-right: 38px;

        .indent {
          flex: 0 0 5px;
        }
        .icon.glyphicon {
          flex: 0 0 12px;
        }
        .icon.check-icon {
          position: absolute;
          top: 13px!important;
          left: auto!important;
          right: 14px;
        }
        .fa.fa-circle {
          margin-top: 4px;
        }
      }
    }
  }

  .flex {
    .resa-list {
      flex: 1;

      #calendar {
        margin-top: 8px;

        .fc-toolbar {
          padding: 0 8px;
        }
        .fc-nonbusiness {
          overflow: hidden;
          color: @slategrey;
          padding: 0 5px;
          text-align: center;
        }
      }
    }

    #mini-calendar {
      .datepicker-inline {
        padding-bottom: 10px;
        background-color: @wt;
      }
    }

    .right-wrapper {
      flex: 0 0 260px;
      margin-left: 20px;
    }

    #mini-calendar, .right-wrapper {

      .select-cat-wrapper {
        margin: 0 8px;

        .mb-select {
          label {
            display: none;
          }

          .select2-container {
            //box-shadow: 0 1px 4px 0 rgba(32, 33, 38, 0.1);
            background-color: #ffffff;
            border: solid 1px #e0e0e0;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: -0.4px;
            text-align: left;
            color: #8b999f;
            padding: 7px 8px 7px 15px;

            .select2-selection__arrow {
              right: 8px;
            }

            .select2-selection__rendered {
              font-size: 14px;
            }
          }
        }
      }

      #cat-filter {
        margin-left: 8px;
        margin-right: 8px;
        width: calc(~"100% - 16px");
      }

      i.fa {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 24px;
        height: 24px;
      }
      i.fa:before {
        content: '';
      }
      i.fa.fa-chevron-left {
        background-image: url("img/icons/chevron-down.png");
        transform: rotate(90deg);
      }

      i.fa.fa-chevron-right {
        background-image: url("img/icons/chevron-down.png");
        transform: rotate(270deg);
      }
    }

    .resa-list.white, .right-wrapper.white {
      background-color: @wt;
    }
  }

  #reservationModal {
    .open-hours {
      ul {
        list-style: none;
        margin-top: -22px;
        padding-left: 75px;
      }
    }
  }

  #calendar {
    font-family: 'Lato', 'Source Sans Pro', sans-serif;

    .fc-agendaWeek-view {
      .fc-event-container {
        margin: 0;
      }
    }

    .fc-toolbar {

      .fc-left {
        display: none;
      }
      .fc-right {
        float: left;

        .fc-button-group {
          .fc-button {
            background-color: @wt;
            //border: solid 1px var(--button-color);
            border: solid 1px var(--secondary-color);
            margin-left: 0!important;
            margin-right: 8px!important;
            font-size: 14px;
            letter-spacing: -0.3px;
            text-align: center;
            //color: var(--button-color);
            color: var(--secondary-color);
            height: 28px;
            text-transform: capitalize;
          }

          .fc-state-active {
            color: @wt;
            //background-color: var(--button-color);
            background-color: var(--secondary-color);
          }
        }
      }
      .fc-center {
        font-size: 12px;
        text-align: center;
        color: @grey3;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 185px;

        h2 {
          font-weight: 300;
          text-transform: uppercase;
          margin-top: 0!important;
        }

        button.fc-button {

          span.fc-icon {
            width: 24px;
            height: 24px;
            display: block;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
          }

          span.fc-icon:after {
            display: none;
          }

          span.fc-icon-right-single-arrow {
            background-image: url("img/icons/chevron.svg");
          }

          span.fc-icon-left-single-arrow {
            background-image: url("img/icons/chevron.svg");
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

#planning-page {
  #reservation-page, #reservation-calendar {
    .main_block {
      margin: 0;
      width: 100%;
      padding: 0;

      .panel.mt80 {
        margin-top: 0;
      }
    }
  }
}
