<template name='admin_buildingsController'>
  <div class='topBarContainer'>
    <div class='topBarModuleName'>Immeubles</div>
    <div class='topBarActionButton'>
      <a type="button" class="btn btn-red-confirm addBuildings">Ajouter un immeuble</a>
    </div>
  </div>
  <div class='tabBarContainer'>
    <div class='{{#if $eq selectedTab 'list'}}selectedTabBar{{/if}}' data-tab='list'>Liste des immeubles</div>
    <div class='{{#if $eq selectedTab 'default'}}selectedTabBar{{/if}}' data-tab='default'>Immeuble par défaut</div>
  </div>
  <div class="containerManagerList">
    {{#if isSubscribeReady}}
      {{> Template.dynamic template=getTemplateName}}
    {{else}}
      {{> loader}}
    {{/if}}
  </div>
</template>
