<template name='admin_entityManagers'>
  <div class="containerManagerList">
    {{#let managers=(getManagers) totalManager=(getTotal)}}
      {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=searchCallback}}
      <div class='searchResult' style='display: none'>
        {{>MbPanel content='Résultat de la recherche'}}
      </div>
      {{#if isSubscribeReady}}
        {{#if totalManager}}
          {{#if managers.length}}
            <table class="managerDetailsContainer table">
              <thead>
                <tr class='containerColumn'>
                  <th></th>
                  <th> {{ getDicoVar 'commonTranslation' 'firstname' }} </th>
                  <th> {{ getDicoVar 'commonTranslation' 'lastname' }} </th>
                  <th> {{ getDicoVar 'commonTranslation' 'phone' }} </th>
                  <th> {{ getDicoVar 'commonTranslation' 'email' }} </th>
                  <th class='trashColumn'>{{getDicoVar 'commonTranslation' 'delete'}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each managers}}
                  <tr class='containerLine' userId='{{this._id}}'>
                    <td class='pictureColumn'>
                      {{#if this.avatar}}
                        <div class='displayPictureImage' style="background-image: url({{this.avatar}}), url(/img/anonymous.png);"></div>
                      {{else}}
                        <div class='displayPictureName'>{{this.initials}}</div>
                      {{/if}}
                    </td>
                    <td class='commonColumn firstnameColumn lighter'>{{this.firstname}}</td>
                    <td class='commonColumn lastnameColumn lighter'>{{this.lastname}}</td>
                    <td class='commonColumn emailColumn lighter'>{{formatMobileNumNoError this.tel this.telCode}}</td>
                    <td class='commonColumn emailColumn lighter'>{{this.email}}</td>
                    <td class='commonColumn trashColumn'>
                      <div></div>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{else}}
            {{> MbEmpty
              title=(getDicoVar 'commonTranslation' 'no_result')
            }}
          {{/if}}
        {{else}}
          {{#if and (hasRightInCondos "managerList" "addManager" (getCondoIdsRights condoIds)) (hasRightInCondos "managerList"
            "seeManager" (getCondoIdsRights condoIds))}}
            {{> MbEmpty
              title=(getDicoVar 'commonTranslation' 'no_other_manager_yet')
              subTitle=(getDicoVar 'commonTranslation' 'manager_add_by_you_and_authorized')
              buttonLabel=(getDicoVar 'commonTranslation' 'invite_manager')
              onButtonClick=addNewManager
            }}
          {{else}}
            {{> MbEmpty
              title=(getDicoVar 'commonTranslation' 'no_other_manager_yet')
              subTitle=(getDicoVar 'commonTranslation' 'manager_add_by_authorized')
            }}
          {{/if}}
        {{/if}}
      {{else}}
        {{> loader}}
      {{/if}}
    {{/let}}
  </div>

</template>
