@import '../utils/variables.less';

.home_body {
  margin-top: @header-heigth;
  min-height: 100%;
  background-color: @white;
  overflow-x: hidden;
}

.home_row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @media @mobile {
    display: block;
    margin: 0 auto;
  }
}

.home_col {
  flex: 1;
  margin-right: 30px;
  
  &:last-child {
    margin-right: 0 !important;
    padding-bottom: 0 !important;
  }

  @media @mobile {
    margin-right: 0 !important;
    padding-bottom: 64px;
  }
}