@import '../utils/variables.less';

.home_body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: @font-weight-normal;
  line-height: 1.56em;
  color: @slate-grey;
  -webkit-font-smoothing: antialiased;
}

.home_href {
  color: var(--secondary-color);
  text-decoration: underline;
  cursor: pointer;
  font-weight: normal !important;
}

.big_font {
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.1px;
  font-weight: normal;

  @media @mobile {
    font-size: 40px;
    line-height: 52px;
  }

  @media @smartphones {
    font-size: 36px;
    line-height: 40px;
  }
}

.normal_font {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.1px;
  font-weight: normal;
}

.small_font {
  font-size: 22px ;
  line-height: 28px;
  font-weight: normal;
}
