<template name="reportDetails">
    <div class="backTitle row" style="margin-bottom: 20px;">
	    <div class="col-sm-12">
	        <h1 class="pull-left">Abus #{{getReportId}}</h1>
	    </div>
    </div>

    <a id="goBack" class="btn btn-default backButton" role="button" >Retour à la liste</a>

    <div class="allListBack">
        <table class="table">
          <thead>
            <tr>
				<th>Immeubles</th>
				<th>Declarant</th>
				<th>Auteur(?)</th>
				<th>Categorie</th>
				<th>Date de création</th>
				<th class="text-center">Message</th>
            </tr>
          </thead>
          <tbody>
              {{#with getReport}}
                <tr>
					<td>{{getCondoName condoId}}</td>
					<td>{{getDeclarerName declarerId}}</td>
					<td>{{{getAuthorNames authorId}}}</td>
					<td>{{content.category}}</td>
					<td>{{humanDate createdAt}}</td>
					<td class="text-center">
						{{content.message}}<br>
						{{#each content.files}}
							<img class="imgReport" src="{{imgLink this}}"><br><br>
						{{/each}}
					</td>
                </tr>
              {{/with}}
          </tbody>
        </table>
    </div>


</template>