<template name="ourvalues">
    <section class="valueContent col-xs-12">
        {{> headerHome}}
        <div class="head">
            <h2>{{{getDicoVar 'ourvalues' 'ourvalues'}}}</h2>
        </div>
        <div class="infoWrap col-xs-12">
            <button type="button" id="backHome">
                <img src="/img/icons/back.svg" height="15" style="margin-right: 6px;"> Retour
            </button>
            <div class="btnValues col-md-8 col-md-offset-2">
                <img src="/img/homePage/dataSecure.png" class="tabUser"  tab="data" alt="monbuilding - sécutrité des données">
                <img src="/img/homePage/simplicity.png" class="tabUser" tab="tranquility" alt="monbuilding - simplicité des échanges">
                <img src="/img/homePage/infoValue.png" class="tabUser"  tab="info" alt="monbuilding fiablilité des échanges">
                <img src="/img/homePage/interlocuteur.png" class="tabUser" tab="Reliability" alt="monbuilding - Fiabilité des interlocuteurs">
            </div>
            <div class="tabText col-md-8 col-md-offset-2">
                {{#if selectedTab 'data'}}
                <div class="animON" name="data">
                    <h3>{{{getDicoVar 'ourvalues' 'respect'}}}</h3>
                    <p>{{{getDicoVar 'ourvalues' 'respectText'}}}</p>
                </div>
                {{/if}}
                {{#if selectedTab 'tranquility'}}
                <div class="animON" name="tranquility">
                    <h3>{{{getDicoVar 'ourvalues' 'tranquility'}}}</h3>
                    <p>{{{getDicoVar 'ourvalues' 'tranquilityText'}}}</p>
                </div>

                {{/if}}
                {{#if selectedTab 'info'}}
                <div class="animON" name="info">
                    <h3>{{{getDicoVar 'ourvalues' 'info'}}}</h3>
                    <p>{{{getDicoVar 'ourvalues' 'infoText'}}}</p>
                </div>
                {{/if}}
                {{#if selectedTab 'Reliability'}}
                <div class="animON" name="Reliability">
                    <h3>{{{getDicoVar 'ourvalues' 'reliability'}}}</h3>
                    <p>{{{getDicoVar 'ourvalues' 'reliabilityText'}}}</p>
                </div>
                {{/if}}
            </div>
        </div>
        {{> footer}}
    </section>
</template>