@import '../../../style/variable.less';


.valueContent{
    padding: 0;
    background: @wt;
    .head {
      margin-top: 60px;
      padding: 50px;
      background: @blue;
      color: @wt;
      text-align: center;
      h2{
        font-weight: 300;
        font-size: 40px;
        margin: 0;
      }
    }
  .infoWrap{
    background: @wt;
    height: 600px;
    #backHome{
      background: none;
      border: none; color: #999;
      padding: 0;
      position: absolute;
      top:10px;

    }
    .btnValues{
      display: flex;
      justify-content: space-around;
      padding: 150px 0 85px 0;
      img{
        height: 100px;
      }
    }
  }
  .tabText{
    padding: 0 0 150px 0;
    text-align: center;
    h3{
      font-weight: 300;
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 30px;
      color: @blue;
    }
    p{
      font-size: 23px;
      font-weight: 300;
    }
  }
}
#backHome{
  margin-left: 20%;
  z-index: 9999;
}

.animON{
  animation-name: appear;
  animation-duration: 2s;
}
@-webkit-keyframes appear {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.animOFF{
  animation-name: desappear;
  animation-duration: 2s;
}
@-webkit-keyframes desappear {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}



@media (max-width: 991px) {
  #backHome{
    margin-left: 20px;
  }
}

@media (max-width: 732px) {
  .valueContent {
    .tabText {
      padding: 0 0 50px 0 !important;
    }
  }
  .valueContent .infoWrap .btnValues img {
    height: 85px;
  }
  .infoWrap{
    height: inherit !important;
    min-height: 100px !important;
    .btnValues{
      padding: 60px 0 65px 0 !important;

    }
  }
}



@media (max-width: 569px) {
  .valueContent .infoWrap{
    height: 400px !important;
  }
  .valueContent .infoWrap .btnValues {
    display: flex;
    justify-content: space-around;
    padding: 75px 0 30px 0;
  }
  .valueContent .tabText {
    padding: 0 0 30px 0;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .valueContent .infoWrap {
    height: 465px !important;
  }

  .valueContent .infoWrap .btnValues img {
    height: 50px;
  }

  .tabText {
    h3 {
      font-size: 25px;
      p {
        font-size: 19px;
      }
    }
  }
}

@media (max-width: 355px){
  .valueContent .infoWrap{
    height: 500px !important;
  }
  .valueContent .infoWrap .btnValues img {
    height: 75px;
  }
}