<template name="bar_total_users_modules">

	<div class="main-modal" id="bar_total_users_modules-container" style="background: white; padding: 20px; margin-bottom: 30px;">
		<div class="modal-heading pull-left mb30 stat-title">
			<h4 class="modal-title red_color">Nombre d'utilisateurs par modules : </h4>
		</div>
		<div class="pull-right col-xs-5" style="display: inline-block; height: 40px">
			<select id="usersPlatform" class="input-min input-min-select col-xs-12" name="type" style="background: white; margin: 0!important; bottom: 3px; right: 30px;">
				<option value="0">Toutes les plateformes</option>
				<option value="1">Web</option>
				<option value="2">IOS</option>
				<option value="3">Android</option>
				{{!-- <option value="3">Autres platformes</option> --}}
			</select>
		</div>
		<div id="chartjs-total_users_modules-legend" class="global-chart-legend-container">
			<table></table>
		</div>
		<div id="x-axis-arrow-total_users_modules" class="x-axis-arrow">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</div>
		<div id="chartjs-chart-tooltips-total_users_modules" class="chart-tooltips-container">
			<table></table>
		</div>
		<canvas id="bar_total_users_modules"></canvas>
	</div>

</template>
