<template name="ReservationAvailableResources">
    <div class="reservation-available-resources">
        {{callPromise}}
        {{#if isBusy}}
            <h1 style="text-align: center; margin-top: 200px; font-size:60px"><i class="fa fa-spinner fa-spin"></i> {{getDicoVar "moduleReservationIndex" "loading2"}}</h1>
        {{else}}
            {{#if resourcesAvailable}}
                {{> MbPanel content=(getDicoVar "moduleReservationIndex" "free_resource")}}
                <ul class="resource-list">
                    {{#each res in getAvailableResources}}
                        <li data-id="{{res._id}}" class="resource-list-item available">
                            <div class="item-wrapper">
                                <p class="title">{{res.name}}</p>
                                <p class="info">{{getDicoVar "moduleReservationIndex" "floor"}}: {{getFloorString res.etage}}</p>
                                {{#if resNum res}}<p class="info">{{resNum res}}</p>{{/if}}
                                {{#if ($or (resSeats res) (resPersons res))}}
                                  <p class="info">
                                    {{#if resSeats res}}<span class="seating-available">{{resSeats res}} {{getDicoVar "moduleReservationIndex" "seating"}}</span>{{/if}}
                                    {{#if resPersons res}}<span class="standing-available">{{resPersons res}} {{getDicoVar "moduleReservationIndex" "standing"}}</span>{{/if}}
                                  </p>
                                {{/if}}
                            </div>
                            {{#unless this.checkBox}}
                              <button><i class="image-icon chevron-r-icon"></i> </button>
                            {{else}}
                              {{>MbCheckbox (checkArgs res._id)}}
                            {{/unless}}
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
            {{#if (and this.skipSuggestion (reverseBool resourcesAvailable))}}
              {{> MbWarning content=(getDicoVar "moduleReservationIndex" "not_available_resource")}}
            {{/if}}
            {{#if suggestionAvailable}}
                {{> MbWarning content=(getDicoVar "moduleReservationIndex" "no_resource_available")}}
                <ul class="resource-list">
                    {{#each res in getAvailableSuggestion}}
                        <li data-id="{{res._id}}" data-start="{{res.start}}" data-end="{{res.end}}" class="resource-list-item suggest">
                            <div class="item-wrapper">
                                <p class="title cap">{{getTime res}}</p>
                                <p class="title">{{res.name}}</p>
                                <p class="info">{{getDicoVar "moduleReservationIndex" "floor"}}: {{getFloorString res.etage}}</p>
                                {{#if resNum res}}<p class="info">{{resNum res}}</p>{{/if}}
                                {{#if ($or (resSeats res) (resPersons res))}}
                                    <p class="info">
                                      {{#if resSeats res}}<span class="seating-available">{{resSeats res}} {{getDicoVar "moduleReservationIndex" "seating"}}</span>{{/if}}
                                      {{#if resPersons res}}<span class="standing-available">{{resPersons res}} {{getDicoVar "moduleReservationIndex" "standing"}}</span>{{/if}}
                                    </p>
                                {{/if}}
                            </div>
                            <button><i class="image-icon chevron-r-icon"></i> </button>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/if}}
    </div>
</template>
