<template name="MbEmptyMessage">
  <div class="swipe" id="messenger_contact_list_item">
    <div class="flex messenger-item {{#if isCurrentId}}active{{/if}}" msgid="MbEmptyMessage">
      <div class="chat-hour-container">
        <span class="lastmsg lastmsg-h">{{dateEmptyMessage}}</span>
      </div>
      <div class="chat-container">
        <div class="chat-header">
          <span class="chat-img">
            {{#let logo=(getCondoLogo condoId 'thumb100')}}
              {{#if logo}}
                <img src="{{logo}}">
              {{else}}
                <img src="/img/icons/monbuilding-logo.png" alt="MonBuilding">
              {{/if}}
            {{/let}}
          </span>
        </div>
        <div class="chat-body">
          <div class="chat-user-container">
            <h5 class="user-detail">
            {{#unless condoHaveLogo condoId}}MonBuilding{{else}}{{getEnterpriseName condoId}}{{/unless}}
            </h5>
            <span class="lastmsg lastmsg-m">{{currentTab}}</span>
          </div>
        </div>
        <div class="chat-footer">
          <div class="icon-wrap">
            <i class="image-icon chevron-r-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
