<template name='createEntity_other_customEmail'>
  <div class="card contact" style="background-color: white">
    <div class="card card-main">
      <div class="row" id="first-opt">
        <div class="col-sm-12" style="padding: 20px 40px;">
          <div class="form-group">
            <div class="form-check" style="position: relative;">
              <div style="margin-right: 120px; position: relative;">
                <div class="input_form" style='width: 50%; height: 150px; display: flex; flex-direction: column; align-items: stretch; justify-content: space-between;'>
                  {{> MbInput
                    value=''
                    required=true
                    label='Nom de l\'expéditeur dans les emails (exemple : Allianz via Monbuilding)'
                    value=getValue
                    onBlur=onBlur
                    placeholder='Exemple: Allianz'
                  }}
                </div>
                <div class="input_form" style="width: 20%;left: 53%;position: absolute;top: 33px;font-style: italic;color: #69d2e7;font-family: 'Lato', 'Source Sans Pro', sans-serif;font-size: 17px;letter-spacing: -0.4px;">
                  <span>via MonBuilding</span>
                </div>
              </div>
              <button id='saveCustomEmail' class="messengerManagerBackoffice btn red_btn" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Enregistrement...">Enregistrer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
