<template name="condosView">
  {{updateCondoFilter}}
  <div class="row titleView">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-heading position_relative" style="padding-bottom: 10px; min-height: 64px">
          <div class="sub-tool-bar clearfix">
            <div class="pull-left">
            <h1 style="text-transform: capitalize"> {{ getDicoVar 'commonTranslation' 'buildings' }} </h1>
            {{#if isDetail}}
              <button type="button" id="back-btn-condo">
                <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{{getDicoVar "resourceForm" "back"}}}
              </button>
            {{/if}}
            </div>
            <div class="action pull-right informationbutton">
              {{#if isDetail}}
                {{#unless shouldDisplayRestrictedAccess}}
                  <a href="#" type="button" id="update-condo" class="btn red_btn red_btn-lg {{#if isNotValid}}disabled{{/if}}">{{ getDicoVar 'commonTranslation' 'personal_details_save' }}</a>
                {{/unless}}
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#unless shouldDisplayRestrictedAccess}}
    {{#unless isDetail}}
      <div class="containerManagerList">
        {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=onSearch}}

        {{#if Condos.count}}
          <table class="managerDetailsContainer table">
            <thead>
            <tr class='containerColumn'>
              <th></th>
              <th style="text-transform: none"> {{ getDicoVar 'commonTranslation' 'building_name' }} </th>
              <th> {{ getDicoVar 'commonTranslation' 'type' }} </th>
              <th> {{ getDicoVar 'commonTranslation' 'address' }} </th>
            </tr>
            </thead>
            <tbody>
            {{#each condo in Condos}}
              {{#if condoHasModule 'buildingsList' condo._id}}
                {{#if userHasRight "view" "buildingList" condo._id}}
                  <tr class="containerLine condoDetail" condoId="{{condo._id}}">
                    <td class='pictureColumn'>
                    {{#let pp=(getAvatar condo._id)}}
                      {{#if pp}}
                        <div  class='displayPictureImage' style="background-image: url({{pp}}), url(/img/anonymous.png);"></div>
                      {{else}}
                        <div class='displayPictureName'>{{getCondoName condo._id true}}</div>
                      {{/if}}
                    {{/let}}
                    </td>
                    <td class='commonColumn lighter'>{{getCondoName condo._id false}}</td>
                    <td class='commonColumn lighter'>{{getDicoVar 'home' condo.settings.condoType}}</td>
                    <td class='commonColumn lighter'>{{condo.info.address}} {{condo.info.code}} {{condo.info.city}}</td>
                  </tr>
                {{/if}}
              {{/if}}
            {{/each}}
            </tbody>
          </table>
        {{else}}
          <div style="margin-top: 10px;" class="card item">
            <div class="card-block">
              {{#if isSearchMode}}
                {{> MbEmpty
                  title=(getDicoVar 'buildingsView' 'no_result')
                }}
              {{else}}
                {{> MbEmpty
                  title=(getDicoVar 'buildingsView' 'empty_title')
                  subTitle=(getDicoVar 'buildingsView' 'empty_subtitle')
                }}
              {{/if}}
            </div>
          </div>
        {{/if}}
      </div>
    {{else}}
      <div class="detailCondo">
        <div class='profileContainer'>
          {{#let profilePicture=getProfileUrl logo=getLogoUrl condo=getCondo}}
            <div class='basicProfile'>
              <div class='profilePictureContainer'>
                {{#if profilePicture}}
                  <div class="profilePicture" style='background-image:url("{{profilePicture}}"), url("/img/anonymous.png")'></div>
                {{else}}
                  <div class="profilePictureEmpty"><span>{{getDicoVar 'commonTranslation' 'add_building_photo'}}</span></div>
                {{/if}}
                <div class='editProfilePicture'>
                </div>
                <div class='dropdownProfilePicture displayNone'>
                  <div class='tick'></div>
                  <div class='textSelector uploadPhoto'>{{getDicoVar 'commonTranslation' 'upload_photo'}}</div>
                  {{#if profilePicture}}<div class='textSelector removePhoto'>{{getDicoVar 'commonTranslation' 'remove_photo'}}</div>{{/if}}
                  <div class='textSelector cancelDropdown'>{{getDicoVar 'commonTranslation' 'cancel'}}</div>
                </div>
                <input id='inputAvatar' type='file' style='display: none;'>
              </div>
              <div class='informationsContainer'>
                <div class='nameProfile'>{{getCondoName condo._id false}}</div>
                <div style='position: relative'>
                  {{> MbPanel content=(getDicoVar 'commonTranslation' 'details')}}
                </div>
                <div class='subText'><div class='profileIcon profileBuildingIcon'></div>{{condo.info.address}}<br />{{condo.info.city}} {{condo.info.code}}</div>
                {{#if profilePicture}}
                  <div class='subText'>
                    {{> MbCheckbox label=(getDicoVar 'commonTranslation' 'show_picture_feed') checked=getPicCheck onClick=setPicCheck}}
                  </div>
                {{/if}}
              </div>
            </div>
            <div class="customizeRow">
              {{> MbPanel content=(getDicoVar 'commonTranslation' 'add_company_logo')}}
              {{> MbWarning content=(getDicoVar 'commonTranslation' 'add_company_logo_info')}}

              <div class='condoLogoContainer'>
                {{#if logo}}
                  <div class="logoPicture" style='background-image:url("{{logo}}"); background-size: contain;'></div>
                {{else}}
                  <div class="logoPicture" style='background-image:url("/img/icons/add-plus.png")'></div>
                {{/if}}
                <div class='dropdownLogoPicture displayNone'>
                  <div class='tick'></div>
                  <div class='textSelector uploadLogo'>{{getDicoVar 'commonTranslation' 'upload_photo'}}</div>
                  {{#if logo}}<div class='textSelector removeLogo'>{{getDicoVar 'commonTranslation' 'remove_photo'}}</div>{{/if}}
                  <div class='textSelector cancelLogoDropdown'>{{getDicoVar 'commonTranslation' 'cancel'}}</div>
                </div>
                <input id='inputLogo' type='file' style='display: none;'>
              </div>

            </div>
            <div class="customizeRow">
              {{> MbPanel content=(getDicoVar 'commonTranslation' 'customize_colors')}}
              {{> MbWarning content=(getDicoVar 'commonTranslation' 'customize_color_warning')}}
              <div class="rowColors">
                {{> MbColorInput label=(getDicoVar 'commonTranslation' 'primary_color') value=(getColor 'primary') onChange=(setColor 'primary')}}
                <div class="spacer"></div>
                {{> MbColorInput label=(getDicoVar 'commonTranslation' 'secondary_color') value=(getColor 'secondary') onChange=(setColor 'secondary')}}
                <div class="spacer"></div>
                <div class="colorsButton">
                  {{> MbButton class='danger' label=(getDicoVar 'commonTranslation' 'reset_colors') onClick=reset}}
                  {{> MbButton class='red' label=(getDicoVar 'commonTranslation' 'preview') onClick=preview}}
                </div>
              </div>
            </div>
            <div class="customizeRow">
              {{> MbPanel content=(getDicoVar 'commonTranslation' 'app_download_link')}}
              {{> MbWarning content=(getDicoVar 'commonTranslation' 'app_download_link_info')}}

            <div class="rowColors mid">
              {{> MbInput
                label=(getDicoVar "commonTranslation" "ios_download")
                required=isRequired
                placeholder="https://itunes.apple.com/fr/app/monbuilding/id1274455987?mt=8"
                value=(getDownloadUrl 'ios')
                onInput=(setDownloadUrl 'ios')
                maxLength=200}}
            </div>
            <div class="rowColors mid">
              {{> MbInput
                label=(getDicoVar "commonTranslation" "android_download")
                required=isRequired
                placeholder="https://play.google.com/store/apps/details?id=com.monbuilding.app&hl=fr"
                value=(getDownloadUrl 'android')
                onInput=(setDownloadUrl 'android')
                maxLength=200}}
            </div>
            </div>

            <div class="customizeRow">
              {{> MbPanel content=(getDicoVar 'commonTranslation' 'social_media_link')}}
              <div class="rowColors mid">
                <img src="/img/homePage/footerFB.png" width="40" height="40" class="social-icon">
                {{> MbInput
                  label=(getDicoVar "commonTranslation" "fb_link")
                  placeholder="https://www.facebook.com/monbuilding/"
                  value=(getUrl 'facebook')
                  onInput=(setUrl 'facebook')
                  maxLength=200}}
              </div>
              <div class="rowColors mid">
                <img src="/img/homePage/footerTW.png" width="40" height="40" class="social-icon">
                {{> MbInput
                  label=(getDicoVar "commonTranslation" "tw_link")
                  placeholder="https://www.twitter.com/monbuilding/"
                  value=(getUrl 'twitter')
                  onInput=(setUrl 'twitter')
                  maxLength=200}}
              </div>
              <div class="rowColors mid">
                <img src="/img/homePage/footerIN.png" width="40" height="40" class="social-icon">
                {{> MbInput
                  label=(getDicoVar "commonTranslation" "in_link")
                  placeholder="https://www.instagram.com/monbuilding/"
                  value=(getUrl 'instagram')
                  onInput=(setUrl 'instagram')
                  maxLength=200}}
              </div>
            </div>

            {{#with accountingOptions=getAccountingOptions}}
              {{#if hasOneAccountingOption accountingOptions}}
                <div class="customizeRow">
                  {{> MbPanel content=(getDicoVar 'commonTranslation' 'accounting_parameters')}}
                  <div class="accountingContainer">
                    {{#each accountingOptions}}
                      <div class='flexContainerAccounting'>
                        {{> MbInput
                          label=(getDicoVar "commonTranslation" (concatStr "accounting_option_" key))
                          placeholder=(getDicoVar "commonTranslation" (concatStr "accounting_option_" key))
                          value=(value)
                          onInput=(setAccountingOption key)
                        }}
                      </div>
                    {{/each}}
                  </div>
                </div>
              {{/if}}
            {{/with}}

          {{/let}}
        </div>
      </div>
    {{/unless}}
  {{else}}
    {{> MbRestrictedAccess}}
  {{/unless}}
</template>
