@import "/client/style/variable.less";

#back-btn-condo {
  background: none;
  border: none;
  color: @grey3;
  padding: 0;
  margin-top: 7px
}

.subTable {
  margin-left: 150px;
}

.userImgList {
  /*display: block;
  height: auto;
  width:auto;
  max-height: 50px*/
  height: 50px;
  width: 50px;
    border-radius: 50%;
}
.userAvatar{
  display: block;
  height: auto;
  width:auto;
  max-height: 200px
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width:1200px;
  }
}

.search-contacts {
    margin-top: 18px;
    border-top: 1px solid #e5e4e9;
    padding-top: 6px;
    padding-right: 30px;
    margin-left: -15px;
    margin-right: -15px;
}

.search-contacts form {
    position: relative;
    margin-bottom: -4px;
    box-shadow: 0 1px 4px 0 rgba(32, 33, 38, 0.1);
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
}

.search-contacts input {
    width: 100%;
    border: 0;
    height: 35px;
    padding-left: 40px;
    padding-right: 10px;
    border-radius: 1px;
    font-size: 15px;
    line-height: 15px;
}

.search-contacts button {
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 5px;
}

a, a:hover, a:focus, a:active, button, button:focus, button:active {
    text-decoration: none;
    outline: none !important;
}

.search-contacts button i.material-icons {
    font-size: 24px;
    color: @grey3;
}

.d-contacts-table {
    border-collapse: separate;
    border-spacing: 0 12px;
}

.d-contacts-table tbody tr {
    box-shadow: 0px 0px 9px rgba(0,0,0,.2);
}

table {
    background-color: transparent;
}

table.table.d-contacts-table > thead > tr > th:first-child, table.table.d-contacts-table > tbody > tr > td:first-child {
    padding-left: 30px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.d-contacts-table td {
    vertical-align: middle !important;
}

.d-contacts-table > thead > tr > th {
    text-transform: uppercase;
    color: #9fa0a5;
    font-weight: 700;
    font-size: 15px;
    border: none;
}

table.table.d-contacts-table > tbody > tr > td:first-child {
    padding-left: 30px;
}

.d-contacts-table tbody tr > td, .d-contacts-table tbody tr > td > a {
    color: #68696d;
    font-size: 15px;
}

.d-contacts-table tbody tr > td {
    border: none;
    background-color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: normal;
}

.d-contacts-table tbody tr.newmsgLine > td {
    font-weight: 900;
}

.detailCondo {
  height: calc(~'100vh - 202px');
  overflow-y: auto;
  .condoLogoContainer {
    position: relative;

    .logoPicture {
      border: dotted 1px @wt2;
      width: 340px;
      height: 148px;
      background-position: center center;
      background-size: auto;
      cursor: pointer;
      background-repeat: no-repeat;
    }

    .dropdownLogoPicture {
      position: absolute;
      top: 157px;
      width: 200px;
      height: auto;
      background-color: white;
      text-align: center;
      left: 170px;
      transform: translateX(-50%);
      border: 1px solid #DCDDE4;
      box-shadow: 0 1px 4px 0 rgba(32, 33, 38, 0.1);
      z-index: 10;
      .tick {
        width: 15px;
        height: 15px;
        box-shadow: -15px 0 15px -15px rgba(32, 33, 38, 0.1);
        background-color: white;
        border-left: 1px solid #DCDDE4;
        border-top: 1px solid #DCDDE4;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -55%) rotate(45deg);
      }
      .textSelector:not(:last-child) {
        border-bottom: 1px solid #DCDDE4;
      }
      .textSelector {
        display: block;
        height: 38px;
        position: relative;
        cursor: pointer;
        z-index: 11;
        line-height: 38px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #5d5e62;
      }
      .textSelector:hover {
        background-color: var(--secondary-color);
        color: @wt;
      }
    }
  }

  .customizeRow {
    .rowColors {
      .social-icon {
        height: 40px;
        width: 40px;
        margin-right: 16px;
      }
    }
    .mid {
      align-items: center;
    }
  }
  .profileContainer {
    padding-bottom: 29px;

    .accountingContainer {
      display: flex;
      flex-wrap: wrap;

      .flexContainerAccounting {
        flex: 1 0 50%;
        padding-right: 23px;
        margin-top: 12px;
      }
    }
  }
}
