.double-container {
  display: flex;
  flex-wrap: wrap;


  .market-details-left-container {
    flex: 3;
    min-height: 100px;
    background-color: white;
    min-width: 480px;
    padding: 16px;
    margin-bottom: 16px;

    .title-container {
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #5d5e62;
      margin-bottom: 16px;
      &:first-letter {
        text-transform: capitalize;
      }
    }

    .detail-container {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #8b999f;
      margin-bottom: 17px;
    }

    .price-container {
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #5d5e62;
      text-transform: capitalize;
    }

    .file-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-left: 16px;
      margin-right: 16px;
    }
  }
  .market-details-right-container {
    position: -webkit-sticky;
    position: sticky;
    top: 75px;
    flex: 1;
    height: fit-content;
    background-color: white;
    margin-left: 20px;
    min-width: 260px;
    padding: 16px;

    & > .mb-panel {
      margin-bottom: 8px;
    }
    & > .mb-warning {
      margin-bottom: 23px;
    }

    & > .third_party_btn {
      width: 100%;
      height: 40px;
      line-height: 26px;
    }

    .summary-title {
      font-size: 16px;
      color: #5d5e62;
      margin-top: 20px;
      margin-bottom: 12px;
      display: flex;
      justify-content: space-between;
    }

    .summary-borderbottom {
      border-bottom: 1px solid #ced8dc;
      margin-bottom: 12px;
    }

    .summary-subtotal {
      font-size: 16px;
      color: #8b999f;
      margin-bottom: 28px;
    }

    .classic-service-btn {
      &::first-letter {
        text-transform: capitalize;
      }
      width: 100%;
      height: 40px;
      line-height: 1;
    }
  }
}

@media (max-width: 919px) {
  .double-container {
    flex-direction: column;
    overflow-y: auto;

    .market-details-right-container {
      margin: 0 0 16px 0;
    }
  }
}
