<template name='manager_marketPlace_servicesDetails'>
  {{#with service=getService}}
    <div class='topBarContainer'>
      <div class='topBarModuleNameWithBack'>
        {{ getDicoVar 'commonTranslation' 'marketPlace_details' }}
        <div id='backbutton'>
          <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{getDicoVar 'commonTranslation' 'manager_back'}}
        </div>
      </div>
      <div class='topBarActionButton'>
        {{#if userHasRight 'marketPlace' 'editItem' service.condoId}}
          <a type="button" class="btn btn-red-confirm editItem" data-serviceid='{{service._id}}'>{{getDicoVar 'commonTranslation' 'edit_item'}}</a>
        {{/if}}
      </div>
    </div>
    {{#if isSubscribeReady}}
      <div class="double-container">
        <div class='market-details-left-container'>
          <div class='title-container'>{{service.title}}</div>
          <div class='detail-container'>{{service.description}}</div>
          <div class='price-container'>{{#unless $eq (getPrice service.isThirdParty service.price) ''}}{{getDicoVar 'commonTranslation' 'price'}}: {{getPrice service.isThirdParty service.price}}{{/unless}}</div>
          {{#if service.files.length}}
            <div class="file-container">
              {{> React
                component=MbFilePreview
                files=(getFiles service.files)
                newFiles=(getNewFiles service.files)
                layout="13"
                nativeObject=true
                forceContainerWidth=true
                limit=4
              }}
            </div>
          {{/if}}

        </div>
        <div class='market-details-right-container'>
          {{> MbPanel content=(getDicoVar 'commonTranslation' 'summary')}}
          {{> MbWarning content=(getDicoVar 'commonTranslation' 'warning_third_party')}}
          <a type="button" class="btn btn-red-confirm" target='_blank' href='{{service.link_third_party}}'>{{getDicoVar 'commonTranslation' 'mp_see_more'}}</a>
        </div>
      </div>
    {{else}}
      {{> loader}}
    {{/if}}
  {{/with}}
</template>
