<template name="incidents_select_tab">
  {{#if refreshCondoId}}{{/if}}
  {{#if or (and (equals getCondoSelected 'all') (hasRightInCondos "incident" "see")) (userHasRight "incident" "see")}}
    {{#let selectedTab=getSelectedTab}}
    <div class='tabBarContainer messenger-select-tab'>
      <div class='{{#if $eq selectedTab "toValidate"}}selectedTabBar{{/if}}' style='min-width: 250px;' data-tab='toValidate'>
        {{ getDicoVar 'commonTranslation' 'incidents_to_validate' }} 
      </div>
      <div class='{{#if $eq selectedTab "toDealt"}}selectedTabBar{{/if}}' data-tab='toDealt'>
        {{ getDicoVar 'commonTranslation' 'incident_to_dealt' }}
      </div>
      <div class='{{#if $eq selectedTab "fixed"}}selectedTabBar{{/if}}' data-tab='fixed'>
        {{ getDicoVar 'commonTranslation' 'fixed_incidents' }}
      </div>
      <div class='{{#if $eq selectedTab "rejected"}}selectedTabBar{{/if}}' data-tab='rejected'>
        {{ getDicoVar 'commonTranslation' 'rejected_incidents' }}
      </div>
    </div>
    <div  class="buildingsList containerManagerList">
      {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=searchCallback}}
    </div>
    <div>
      {{#if $eq selectedTab "toValidate"}}
        <div class="d-panel red">
          {{#if emptyIncidentByState 0}}
            {{> MbEmpty
              title=(getDicoVar 'incidentGestionnaireList' 'empty_validate_title')
              subTitle=(getDicoVar 'incidentGestionnaireList' 'empty_validate_subtitle')
              buttonLabel=(getDicoVar 'incidentGestionnaireList' 'empty_validate_button_label')
              onButtonClick=showModal
            }}
          {{else}}
          <div class="d-panel-body" style="padding:10px 16px;">
            <div class="row" style="margin:0; padding:0;">
              <div class="table-responsive d-table">
                <table class="table b-less-header">
                  <thead>
                    <tr>
                      <th></th>
                      <th class="sortBy" state="0" sort="date" style="text-transform: capitalize!important; font-weight: 500; padding:8px 16px;">
                        {{ getDicoVar 'commonTranslation' 'date' }}&nbsp;
                        {{#if isSortBy 0 'date'}}
                          <img style="{{#if isSortUp 0}}transform: rotate(180deg){{/if}}" src="/img/arrow_drop_down_24px.svg" />
                        {{/if}}
                      </th>
                      <th width="20%" style="text-transform: capitalize!important; padding:8px 16px;"> 
                        {{ getDicoVar 'commonTranslation' 'condo' }}
                      </th>
                      <th class="sortBy" state="0" sort="type" style="text-transform: capitalize!important; padding:8px 16px;"> 
                        {{ getDicoVar 'commonTranslation' 'type' }}&nbsp;
                        {{#if isSortBy 0 'type'}}
                          <img style="{{#if isSortUp 0}}transform: rotate(180deg){{/if}}" src="/img/arrow_drop_down_24px.svg" />
                        {{/if}}
                      </th>
                      <th class="sortBy" width="20%" state="0" sort="zone" style="text-transform: capitalize!important; padding:8px 16px;"> 
                        {{ getDicoVar 'commonTranslation' 'location' }}&nbsp;
                        {{#if isSortBy 0 'zone'}}
                          <img style="{{#if isSortUp 0}}transform: rotate(180deg){{/if}}" src="/img/arrow_drop_down_24px.svg" />
                        {{/if}}
                      </th>
                      <th width="25%" class="sortBy" state="0" sort="title" style="text-transform: capitalize!important; padding:8px 16px;">
                        {{ getDicoVar 'commonTranslation' 'title' }}&nbsp;
                        {{#if isSortBy 0 'title'}}
                          <img style="{{#if isSortUp 0}}transform: rotate(180deg){{/if}}" src="/img/arrow_drop_down_24px.svg" />
                        {{/if}}
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each incident in incidentByState 0}}
                      {{#if userHasRight "incident" "see" incident.condoId}}
                        {{#with unread=(hasUnreadMessage incident.history)}}
                          <tr class="elem" elemId="{{incident._id}}" >
                            <td class="icon" style="position: relative;">
                              {{#if unread}}
                                <span class="message-unread-manager"></span>
                              {{/if}}
                              <embed class="{{#unless isUrgentDefaultPriority incident.info.priority}}hidden_td{{/unless}}" src="/img/urgent_jaune.svg" width="24" height="24" alt="Urgent" />
                            </td>
                            <td style="{{#if unread}}font-weight: 900{{/if}}">{{humanDateShort incident.createdAt}}</td>
                            <td style="{{#if unread}}font-weight: 900{{/if}}">{{getAddress incident}}</td>
                            <td style="{{#if unread}}font-weight: 900{{/if}}">
                              <span style="background: url('{{getIncidentDetailPicto incident.info.type}}') top left no-repeat #dffbff; background-size: 100% auto; display: block; width: 44px;height: 44px; border-radius: 50%;"></span>
                            </td>
                            <td style="{{#if unread}}font-weight: 900{{/if}}">{{getIncidentArea incident.info.zone}}</td>
                            <td style="{{#if unread}}font-weight: 900{{/if}}">{{incident.info.title}}</td>
                            <td>
                              <button class="mb-button danger" style="display: block; margin-left: auto" elemId="{{incident._id}}">
                                {{getDicoVar 'incidentResidentIndex' 'see_details'}}
                              </button>
                            </td>
                          </tr>
                        {{/with}}
                      {{/if}}
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
            {{>pagination_panel pagination=(getPaginationByState 0)}}
          </div>
          {{/if}}
        </div>
      {{/if}}

      {{#if $eq selectedTab "toDealt"}}
      <div class="d-panel red">
          {{#if emptyIncidentByState 1}}
            {{> MbEmpty
              title=(getDicoVar 'incidentGestionnaireList' 'empty_progress_title')
              subTitle=(getDicoVar 'incidentGestionnaireList' 'empty_progress_subtitle')
            }}
          {{else}}
          <div class="d-panel-body" style="padding:10px 16px;">
            <div class="row" style="margin:0; padding:0;">
              <div class="table-responsive d-table">
                <table class="table b-less-header">
                  <thead>
                    <tr>
                      <th></th>
                      <th class="sortBy" state="1" sort="date" style="text-transform: capitalize!important; padding:8px 16px;"> 
                        {{ getDicoVar 'commonTranslation' 'date' }}&nbsp;
                        {{#if isSortBy 1 'date'}}
                          <img style="{{#if isSortUp 1}}transform: rotate(180deg){{/if}}" src="/img/arrow_drop_down_24px.svg" />
                        {{/if}}
                      </th>
                      <th width="20%" style="text-transform: capitalize!important; padding:8px 16px;"> 
                        {{ getDicoVar 'commonTranslation' 'condo' }} 
                      </th>
                      <th class="sortBy" state="1" sort="type" style="text-transform: capitalize!important; padding:8px 16px;"> 
                        {{ getDicoVar 'commonTranslation' 'type' }}&nbsp;
                        {{#if isSortBy 1 'type'}}
                          <img style="{{#if isSortUp 1}}transform: rotate(180deg){{/if}}" src="/img/arrow_drop_down_24px.svg" />
                        {{/if}}
                      </th>
                      <th class="sortBy"  width="20%" state="1" sort="zone" style="text-transform: capitalize!important; padding:8px 16px;"> 
                        {{ getDicoVar 'commonTranslation' 'location' }}&nbsp;
                        {{#if isSortBy 1 'zone'}}
                          <img style="{{#if isSortUp 1}}transform: rotate(180deg){{/if}}" src="/img/arrow_drop_down_24px.svg" />
                        {{/if}}
                      </th>
                      <th width="25%" class="sortBy" state="1" sort="title" style="text-transform: capitalize!important; padding:8px 16px;"> 
                        {{ getDicoVar 'commonTranslation' 'subject' }}&nbsp;
                        {{#if isSortBy 1 'title'}}
                          <img style="{{#if isSortUp 1}}transform: rotate(180deg){{/if}}" src="/img/arrow_drop_down_24px.svg" />
                        {{/if}}
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each incident in incidentByState 1}}
                      {{#if userHasRight "incident" "see" incident.condoId}}
                        {{#with unread=(hasUnreadMessage incident.history)}}
                          <tr class="elem" elemId="{{incident._id}}" >
                            <td class="icon" style="position: relative;">
                              {{#if unread}}
                                <span class="message-unread-manager"></span>
                              {{/if}}
                              <embed class="{{#unless isUrgentDefaultPriority incident.info.priority}}hidden_td{{/unless}}" src="/img/urgent_jaune.svg" width="24" height="24" alt=""/>
                            </td>
                            <td style="{{#if unread}}font-weight: 900{{/if}}">{{humanDateShort incident.createdAt}}</td>
                            <td style="{{#if unread}}font-weight: 900{{/if}}">{{getAddress incident}}</td>
                            <td style="{{#if unread}}font-weight: 900{{/if}}">
                              <span style="background: url('{{getIncidentDetailPicto incident.info.type}}') top left no-repeat #dffbff; background-size: 100% auto; display: block; width: 44px;height: 44px; border-radius: 50%;"></span>
                            </td>
                            <td style="{{#if unread}}font-weight: 900{{/if}}">
                              {{getIncidentArea incident.info.zone}}
                            </td>
                            <td style="{{#if unread}}font-weight: 900{{/if}}">{{incident.info.title}}</td>
                            <td><button class="mb-button danger" style="display: block; margin-left: auto" elemId="{{incident._id}}">{{getDicoVar 'incidentResidentIndex' 'see_details'}}</button></td>
                          </tr>
                        {{/with}}
                      {{/if}}
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
            {{>pagination_panel pagination=(getPaginationByState 1)}}
          </div>
          {{/if}}
        </div>
      {{/if}}
      {{#if $eq selectedTab "fixed"}}
      <div class="d-panel red">
          {{#if emptyIncidentByState 2}}
            {{> MbEmpty
              title=(getDicoVar 'incidentGestionnaireList' 'empty_solved_title')
              subTitle=(getDicoVar 'incidentGestionnaireList' 'empty_solved_subtitle')
            }}
          {{else}}
          <div class="d-panel-body" style="padding:10px 16px;">
            <div class="row" style="margin:0; padding:0;">
              <div class="table-responsive d-table">
                <table class="table b-less-header">
                  <thead>
                    <tr>
                      <th class="sortBy" state="2" sort="date" style="text-transform: capitalize!important; padding:8px 16px;"> {{ getDicoVar 'commonTranslation' 'date' }}&nbsp;
                        {{#if isSortBy 2 'date'}}<img style="{{#if isSortUp 2}}transform: rotate(180deg){{/if}}" src="/img/arrow_drop_down_24px.svg" />{{/if}}
                      </th>
                      <th width="25%" style="text-transform: capitalize!important; padding:8px 16px;"> {{ getDicoVar 'commonTranslation' 'condo' }} </th>
                      <th class="sortBy" state="2" sort="type" style="text-transform: capitalize!important; padding:8px 16px;"> {{ getDicoVar 'commonTranslation' 'type' }}&nbsp;
                        {{#if isSortBy 2 'type'}}<img style="{{#if isSortUp 2}}transform: rotate(180deg){{/if}}" src="/img/arrow_drop_down_24px.svg" />{{/if}}
                      </th>
                      <th width="25%" class="sortBy" state="2" sort="title" style="text-transform: capitalize!important; padding:8px 16px;"> {{ getDicoVar 'commonTranslation' 'subject' }}&nbsp;
                        {{#if isSortBy 2 'title'}}<img style="{{#if isSortUp 2}}transform: rotate(180deg){{/if}}" src="/img/arrow_drop_down_24px.svg" />{{/if}}
                      </th>
                      <th>

                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each incident in incidentByState 2}}
                      {{#if userHasRight "incident" "see" incident.condoId}}
                        {{#with unread=(hasUnreadMessage incident.history)}}
                          <tr class="elem" elemId="{{incident._id}}"  >
                            <td style="{{#if unread}}font-weight: 900{{/if}}">{{humanDateShort incident.createdAt}}</td>
                            <td style="{{#if unread}}font-weight: 900{{/if}}" class="truncated" title="{{getAddress incident}}">{{getAddress incident}}</td>
                            <td style="{{#if unread}}font-weight: 900{{/if}}">
                              <span style="background: url('{{getIncidentDetailPicto incident.info.type}}') top left no-repeat #dffbff; background-size: 100% auto; display: block; width: 44px;height: 44px; border-radius: 50%;"></span>
                            </td>
                            <td style="{{#if unread}}font-weight: 900{{/if}}" class="truncated" title="{{incident.info.title}}">{{incident.info.title}}</td>
                            <td>
                              <button class="mb-button danger" style="display: block; margin-left: auto" elemId="{{incident._id}}">
                                {{getDicoVar 'incidentResidentIndex' 'see_details'}}
                              </button>
                            </td>
                          </tr>
                        {{/with}}
                      {{/if}}
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
            {{>pagination_panel pagination=(getPaginationByState 2)}}
          </div>
          {{/if}}
      </div>
      {{/if}}
      {{#if $eq selectedTab "rejected"}}
      <div class="d-panel red">
        {{#if emptyIncidentByState 3}}
          {{> MbEmpty
            title=(getDicoVar 'incidentGestionnaireList' 'empty_private_title')
            subTitle=(getDicoVar 'incidentGestionnaireList' 'empty_private_subtitle')
          }}
        {{else}}
        <div class="d-panel-body" style="padding:10px 16px;">
          <div class="row" style="margin:0; padding:0;">
            <div class="table-responsive d-table">
              <table class="table b-less-header">
                <thead>
                  <tr>
                    <th class="sortBy" state="3" sort="date" style="text-transform: capitalize!important; padding:8px 16px;"> {{ getDicoVar 'commonTranslation' 'date' }}&nbsp;
                      {{#if isSortBy 3 'date'}}<img style="{{#if isSortUp 3}}transform: rotate(180deg){{/if}}" src="/img/arrow_drop_down_24px.svg" />{{/if}}
                    </th>
                    <th width="25%" style="text-transform: capitalize!important; padding:8px 16px;"> {{ getDicoVar 'commonTranslation' 'condo' }} </th>
                    <th class="sortBy" state="3" sort="type" style="text-transform: capitalize!important; padding:8px 16px;"> {{ getDicoVar 'commonTranslation' 'type' }}&nbsp;
                      {{#if isSortBy 3 'type'}}<img style="{{#if isSortUp 3}}transform: rotate(180deg){{/if}}" src="/img/arrow_drop_down_24px.svg" />{{/if}}
                    </th>
                    <th width="25%" class="sortBy" state="3" sort="title" style="text-transform: capitalize!important; padding:8px 16px;"> {{ getDicoVar 'commonTranslation' 'subject' }}&nbsp;
                      {{#if isSortBy 3 'title'}}<img style="{{#if isSortUp 3}}transform: rotate(180deg){{/if}}" src="/img/arrow_drop_down_24px.svg" />{{/if}}
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each incident in incidentByState 3}}
                    {{#if userHasRight "incident" "see" incident.condoId}}
                      {{#with unread=(hasUnreadMessage incident.history)}}
                        <tr class="elem" elemId="{{incident._id}}">
                          <td style="{{#if unread}}font-weight: 900{{/if}}">{{humanDateShort incident.createdAt}}</td>
                          <td style="{{#if unread}}font-weight: 900{{/if}}" class="truncated" title="{{getAddress incident}}">{{getAddress incident}}</td>
                          <td style="{{#if unread}}font-weight: 900{{/if}}">
                            <span style="background: url('{{getIncidentDetailPicto incident.info.type}}') top left no-repeat #dffbff; background-size: 100% auto; display: block; width: 44px;height: 44px; border-radius: 50%;"></span>
                          </td>
                          <td style="{{#if unread}}font-weight: 900{{/if}}" class="truncated" title="{{incident.info.title}}">{{incident.info.title}}</td>
                          <td><button class="mb-button danger" style="display: block; margin-left: auto" elemId="{{incident._id}}">{{getDicoVar 'incidentResidentIndex' 'see_details'}}</button></td>
                        </tr>
                      {{/with}}
                    {{/if}}
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          {{>pagination_panel pagination=(getPaginationByState 3)}}
        </div>
        {{/if}}
        </div>
      {{/if}}
    </div>
    {{/let}}
  {{else}}
    {{> MbRestrictedAccess }}
  {{/if}}
</template>
