<template name='admin_buildingsList'>
  <div class="buildingsList containerManagerList">
    {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=searchCallback}}
    <div class='searchResult' style='display: none'>
      {{>MbPanel content='Résultat de la recherche'}}
    </div>
    <table class="managerDetailsContainer table">
      <thead>
        <tr class='containerColumn'>
          <th> Nom </th>
          <th> Entité </th>
          <th> Type </th>
          <th> Adresse </th>
          <th> Lots </th>
          <th> m² </th>
          <th> Action </th>
          <th> Actif </th>
          <th class='trashColumn'></th>
        </tr>
      </thead>
      <tbody>
        {{#each building in getBuildingsList}}
          {{#with entityName=(getEntityName building._id)}}
            <tr class='containerLine' condoId='{{building._id}}'>
              <td class='commonColumn'>{{getCondoNameOrDash building}}</td>
              <td class='commonColumn lighter'>{{entityName}}</td>
              <td class='commonColumn lighter'>{{getTypoOfCondo building.settings.condoType}}</td>
              <td class='commonColumn lighter'>{{getCondoAdress building}}</td>
              <td class='commonColumn lighter'>[ A FAIRE ]</td>
              <td class='commonColumn lighter'>[ A FAIRE ]</td>
              <td class='commonColumn lighter'>
                {{#if $neq entityName '-'}}{{> MbButton label='Ajouter un gestionnaire' onClick=(inviteManager building._id) class='danger'}}{{/if}}
                {{> MbButton label='Ajouter un occupant' onClick=(inviteOccupant building._id) class='danger'}}
                {{#if and building.integrations building.integrations.activeDirectoryIntegration }}
                  {{> MbButton label='Utiliser Active Directory' building=building class='danger active-directory'}}
                {{/if}}
              </td>
              <td class='commonColumn lighter'>
                {{> MbCheckbox checked=($neq entityName '-') label=""}}
              </td>
              <td class='commonColumn trashColumn' condoId='{{building._id}}'>
                <div></div>
              </td>
            </tr>
          {{/with}}
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
