.buildingsList {
  .mb-button {
    &:not(:first-child) {
      margin-top: 5px;
    }
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    color: #fe0900;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
