<template name="ReservationList">
    <div class="reservation-list-wrapper {{#unless isMini}}scrollable-area{{/unless}}">
        {{#if (or getDataLength isSearchActive)}}
          {{#unless isMini}}
          <div class="search-container">
            {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=onSearch}}
            <div class="mb-relative">
              <input id="daterange-stats" type="text" name="daterange" class="datepicker form-control caret" readonly>
              <div class="inline caret-daterange">
                <i class="fa fa-sort-desc" aria-hidden="true"></i>
              </div>
            </div>
            {{renderDatePicker}}
          </div>
          {{/unless}}
        {{/if}}
        {{#if this.resourcesReady}}
          {{getBooking}}
        {{/if}}
        {{#if isDataReady}}
        {{#if getDataLength}}
            {{#if isMini}}
            <div id="date-label">
                {{selectedDate}}
            </div>
            {{/if}}
            {{#each book in getData}}
                {{#if book.label}}
                    {{#unless isMini}}
                    {{> MbPanel content=book.label}}
                    {{/unless}}
                {{else}}
                    <div class="list-border"></div>
                {{/if}}
                <div class="reservation-item {{#if isNew book}}new{{/if}}">
                    <div class="item-wrapper">
                        {{#if book.isAfter}}
                        <i class="image-icon return-icon"></i>
                        {{/if}}
                        <div>
                            <h2>{{book.string}}{{#if book.event.isAllDay}} <span style="text-transform: lowercase">({{getDicoVar "moduleReservationIndex" "all_day"}})</span>{{/if}}{{#if book.validatedByMe}} <span style="color: red; text-transform: lowercase">({{getDicoVar "commonTranslation" "to_validate"}})</span>{{/if}}</h2>
                            {{#if rejected book.event}}<p class="rejected">{{getDicoVar "moduleReservationIndex" "rejected"}}</p>{{/if}}
                            {{#if book.event.title}}
                            <p class="reservation-title">{{{hyperlink book.event.title}}}</p>
                            {{/if}}
                            {{#if $eq selectedCondo 'all'}}<p class="info">{{condoName book.event.condoId}}</p>{{/if}}
                            <p>{{getName book}}</p>
                            <p>{{getDicoVar "moduleReservationIndex" "booked_by"}} {{book.booker}}</p>
                        </div>
                    </div>
                    <div>
                        <a data-id="{{book.event._id}}" class="see-detail">{{#unless isMini}}{{getDicoVar "moduleReservationIndex" "see_detail"}} {{/unless}}<i class="image-icon chevron-r-icon"></i></a>
                    </div>
                </div>
            {{/each}}
            {{#unless isMini}}
            {{#unless this.resourcesReady}}
              {{> loader}}
            {{/unless}}
            {{/unless}}
            {{!-- {{#if isNotLoadedAll}}
                <div class="load-more-container">{{> MbButton loadButton}}</div>
            {{/if}} --}}
        {{else}}
            {{#unless isMini}}
              {{#if isSearchActive}}
                {{> MbEmpty
                  title=(getDicoVar "moduleReservationIndex" "no_result")
                }}
              {{else}}
                {{> MbEmpty getEmptyProps}}
              {{/if}}
            {{/unless}}
        {{/if}}
        {{else}}
          {{> loader}}
        {{/if}}
    </div>
</template>
