@import "../../../../../../style/variable";

.reservation-list-wrapper {
  padding: 8px 0 8px 16px;
  &.scrollable-area {
    height: calc(~'100vh - 230px');
    overflow-y: auto;
  }
  background-color: @wt;

  .mb-panel {
    margin-left: -8px;
  }

  .load-more-container {
    text-align: center;
    padding-top: 10px;
  }

  .list-border {
    border-bottom: 1px solid @greylight;
    margin-left: -8px;
  }

  .reservation-item.new {
    border-left: solid 5px var(--primary-color);
    margin-left: -8px;
    padding-left: 8px;
  }

  .reservation-item {
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 11px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;

    .item-wrapper {
      flex: 1;
      display: flex;
      flex-direction: row;

      .return-icon {
        margin-top: 14px;
        margin-right: 4px;
        width: 16px;
        height: 16px;
      }
    }

    .see-detail {
      display: flex;
      align-items: center;
      font-family: 'Lato', 'Source Sans Pro', sans-serif;
      font-size: 14px;
      letter-spacing: -0.3px;
      text-align: left;
      color: @grey3;
      cursor: pointer;
      font-weight: 300;

      .chevron-r-icon {
        width: 24px;
        height: 24px;
        display: inline-block;
      }
    }

    h2 {
      font-family: 'Lato', 'Source Sans Pro', sans-serif;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.4px;
      text-align: left;
      color: @slategrey;
      margin-top: 14px;
      margin-bottom: 4px;
    }
    p {
      font-family: 'Lato', 'Source Sans Pro', sans-serif;
      font-size: 14px;
      letter-spacing: -0.3px;
      text-align: left;
      color: @grey3;
      margin: 0;
    }
    p.reservation-title {
      color: @slategrey;
    }

    p.rejected {
      color: @red;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      text-transform: uppercase;
    }
  }
}
