@import "../../../style/variable.less";

.cguContainer {
  padding-top: 16px;
  padding-bottom: 37px;

  .cguContener {
    background-color: @paleBlue;
    
    .col-xs-12 {
      float: none !important;
    }

    .CGUhead {
      background-color: @wt;
      margin-bottom: 16px;
      padding: 14px 16px;

      .con_clearfix {
        display: flex;

        .conditions {
          font-size: 20px;
          font-weight: 500;
          font-style: normal;
          line-height: normal;
          letter-spacing: -0.5px;
          text-align: left;
          color: @slategrey;
        }

        .date {
          flex: 1;
          text-align: right;
          color: #8b999f;

          @media @mobile {
            text-align: left;
          }
        }

        @media @mobile {
          display: block;
        }

        @media @smartphones {
          p {
            float: none !important;
          }
        }
      }

      .retour {
        font-size: 14px !important;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #8b999f !important;
        text-decoration: initial !important;
        margin-bottom: 0 !important;

        :hover {
          text-decoration: underline;
        }
      }

      @media @smartphones {
        a {
          float: none !important;
        }
      }
    }

    .min-height-legals {
      min-height: 0px !important;
      height: calc(~'100vh - 605px');
    }

    .cguWrap {
      background-color: @wt;
      padding: 1px 16px 30px;
      color: #8b999f;

      .session_title {
        color: @slategrey;
        font-size: 20px;
        line-height: 1.25;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .first_title {
        margin-top: 0;
      }

      .spacerText {
        white-space: normal;

        h5 {
          font-size: 16px;
          font-weight: 400;
          margin-top: 20px;
          text-decoration: none;
          font-weight: bold;
          color: @slategrey;
        }

        p {
          margin: 0;
        }
      }

      span {
        color: @blue;
        text-decoration: underline;
      }

      .newline {
        margin-top: 10px;
      }

      .nonewline {
        margin-top: 0;
      }
    }

    @media @mobile {
      padding: 16px;
    }
  }
}
