<template name="integrationConfig">
  {{#if isSubscribeReady}}
    {{#let integration=getIntegration condo=getCondo config=getCondoConfig}}
      <div class="row">
        <div class="col-sm-12">
          <div class="panel">
            <div class="panel-heading position_relative">
              <div class="flex-header">
                <h1> {{ integration.provider }} </h1>
                <a id="save" class="btn red_btn" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Sauvegarde...">{{ getDicoVar 'commonTranslation' 'save_changes' }}</a>
              </div>
              <div style="display: block; margin-top: 10px;">
                <button type="button" id="backbutton" style="background: none; border: none; color: #999; padding: 0">
                  <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{ getDicoVar 'commonTranslation' 'manager_back' }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='profileContainer'>
        <div class='basicProfile'>
          <div class='profilePictureContainer'>
            {{#let integrationImage=integration.image}}
              {{#if integrationImage}}
                <div class="profilePicture" style='background-image:url("{{integrationImage}}"); background-size: contain !important; background-repeat: no-repeat;'></div>
              {{else}}
                <div class="profilePicture" style='background-image:url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"), url("/img/anonymous.png")'></div>
              {{/if}}
            {{/let}}
          </div>
          <div class='informationsContainer'>
            <div class='nameProfile'>{{condo.info.id}} - {{condo.name}}</div>
            <div class="detail-tab-container">
              <div class="detail-container">
                {{> MbPanel content=(getDicoVar 'commonTranslation' 'integration_details')}}
                <div class='detailItems'>
                  <span class='details-item-title'>{{ getDicoVar 'commonTranslation' 'integration_type' }}</span>
                  <span class='details-item-subtitle'>{{integration.type}}</span>
                </div>
                <div class='detailItems'>
                  <span class='details-item-title'>{{ getDicoVar 'commonTranslation' 'status' }}</span>
                  <span class='details-item-subtitle'>{{#if config.active}}{{ getDicoVar 'commonTranslation' 'active' }}{{else}}{{ getDicoVar 'commonTranslation' 'inactive' }}{{/if}}
                  </span>
                </div>
                <div class='detailItems'>
                  <span class='details-item-title'>{{ getDicoVar 'commonTranslation' 'integration_date' }}</span>
                  <span class='details-item-subtitle'>{{formatDate config}}</span>
                </div>
                <div class='detailItems'>
                  <span class='details-item-title'>{{ getDicoVar 'commonTranslation' 'building_address' }}</span>
                  <span class='details-item-subtitle'>{{condo.info.address}}</span>
                </div>
              </div>
              {{#if hasConfiguration integration}}
                <div class="detail-container">
                  <div class='mbPanelContainer'>
                    {{> MbPanel content=(getDicoVar 'commonTranslation' 'configuration')}}
                    <img class='editInterests' src="/img/icons/edit.png" height="16" data-toggle='modal' data-target='#modal_edit_integration_config'>
                  </div>
                  {{#with integrationConfig}}
                    {{#each field in integration.requiredFields}}
                      <div class='detailItems'>
                        <span class='details-item-title'>{{ getDicoVar 'commonTranslation' field }}</span>
                        <span class='details-item-subtitle'>{{ getConfigValue field }}</span>
                      </div>
                    {{/each}}
                  {{/with}}
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 panel integrationConfig">
        <h2>{{ getDicoVar 'commonTranslation' 'contact_details' }}</h2>
        <div>
          {{#each contact in (getContacts config)}}
          <div class="contact">
            <div class="contact-column">
              {{> MbInput
                label=(getDicoVar 'commonTranslation' 'c_person')
                value=contact.name
                onInput=(onInputDetails 'name' @index)
              }}
              <div class="v-spacer"></div>
              {{> MbInput
                label=(getDicoVar 'commonTranslation' 'c_email')
                value=contact.email
                onInput=(onInputDetails 'email' @index)
              }}
            </div>
            <div class="contact-column">
              {{> MbInput
                label=(getDicoVar 'commonTranslation' 'c_role')
                value=contact.role
                onInput=(onInputDetails 'role' @index)
              }}
              <div class="v-spacer"></div>
              {{> MbInput
                label=(getDicoVar 'commonTranslation' 'c_phone')
                value=contact.phone
                onInput=(onInputDetails 'phone' @index)
              }}
            </div>
          </div>
          {{/each}}
        </div>
        <div class="add-contact">
          <img class="add-contact-icon" src="/img/icons/svg/addtimes.svg"/>
        </div>
        <h2>{{ getDicoVar 'commonTranslation' 'set_permissions' }}</h2>
        <div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>{{ getDicoVar 'commonTranslation' 'permissions' }}</th>
                <th>{{ getDicoVar 'commonTranslation' 'active' }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Address</td>
                <td>
                  <div class="checkboxred">
                    <input checked type="checkbox" disabled/>
                    <label></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Email</td>
                <td>
                  <div class="checkboxred">
                    <input type="checkbox" disabled/>
                    <label></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Phone number</td>
                <td>
                  <div class="checkboxred">
                    <input checked type="checkbox" disabled/>
                    <label></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Another permission</td>
                <td>
                  <div class="checkboxred">
                    <input type="checkbox" disabled/>
                    <label></label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Another permission2</td>
                <td>
                  <div class="checkboxred">
                    <input checked type="checkbox" disabled/>
                    <label></label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <h2>{{ getDicoVar 'commonTranslation' 'comments' }}</h2>
        <textarea
          placeholder="{{ getDicoVar 'commonTranslation' 'leave_comment' }}"
          rows="3"
          value="{{getTextAreaContent config}}"
        ></textarea>
      </div>
    {{/let}}
  {{else}}
    {{> loader}}
  {{/if}}

  {{> editIntegrationConfig integrationId=getIntegrationId condoId=getCondoId}}
</template>
