.integrationConfig {
  h1 {
    font-family: Lato;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    text-align: left;
    color: #5d5e62;
    color: var(--slate-grey)
  }

  h2 {
    background-color: #F3F5F6;
    text-transform: uppercase;
    display: block;
    margin: 16px 0;
    padding: 10px 16px;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: left;
    color: #8b999f;
  }
  .integration-details {
    margin: 32px 0 32px 16px;
    display: flex;
    flex-direction: row;

    .integration-info {
      flex-grow: 1;

      h3 {
        text-transform: uppercase;
        font-family: Lato;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.1px;
        text-align: left;
        color: #8b999f;
        margin: 16px 0 3px 0;
      }

      span {
        font-family: Lato;
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        text-align: left;
        color: #5d5e62;
      }
    }
  }

  .contact {
    display: flex;
    margin-top: 40px;

    .contact-column {
      flex-grow: 1;
      margin-left: 12px;
    }

    .v-spacer {
      height: 16px;
    }

    .contact-column:first-child {
      margin-right: 12px;
      margin-left: 0px;
    }
  }

  .contact:first-child {
    margin-top: 0px;
  }

  .add-contact {
    text-align: center;
    margin: 24px 0;

    .add-contact-icon {
      cursor: pointer;
    }
  }

  .integrationImage {
    width: 164px !important;
    height: 164px !important;
    margin-bottom: 24px;
    margin-right: 16px;
  }

  table tbody tr td {
    border: 0;
  }

  textarea:focus, textarea {
    width: 100%;
    padding: 6px;
    margin-bottom: 40px;
    object-fit: contain;
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
    color: #8b999f;
  }
}
