.buildingsSpecificationsContainer {
  background-color: white;
  .mb-panel {
    margin: 16px 16px 5px 16px;
    width: calc(~'100% - 32px')
  }
  .characteristicItem {
    padding-left: 30px;

    & > .characteristicLabel {
      font-size: 16px;
      letter-spacing: -0.4px;
      color: #8b999f;
    }

    .editThisModule {
      color: #69D2E7 !important;
      font-size: 14px;
      letter-spacing: -0.3px;
    }

    & > .characteristicCheckbox {
      label {
        top: 0 !important;
      }
    }
  }
}

.characteristicsContainerModule {
  width: 100%;
  padding-top: 1px; // fix some weird display
  min-height: calc(~'100vh - 205px');
  background-color: white;
  #backbutton {
    cursor: pointer;
    padding-top: 10px;
    padding-left: 16px;
  }
  .condoPickerContainer {
    padding: 10px 30px;
  }
  .mb-panel {
    margin: 16px 16px 5px 16px;
    width: calc(~'100% - 32px')
  }
  .characteristicItem {
    padding-left: 30px;

    & > .characteristicLabel {
      font-size: 16px;
      letter-spacing: -0.4px;
      color: #8b999f;
    }

    .editThisModule {
      color: #69D2E7 !important;
      font-size: 14px;
      letter-spacing: -0.3px;
    }

    & > .characteristicCheckbox {
      label {
        top: 0 !important;
      }
    }
  }
}
