<template name='admin_buildingsSpecifications'>
  <div class='characteristicsContainerModule'>
    {{#if showBackButtom}}
      <div id="backbutton">
        <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> Retour aux caractéristiques
      </div>
    {{else}}
      {{> MbPanel content='selectionner un immeuble'}}
      <div class='condoPickerContainer'>
        {{> MbCondoPicker
          condoIds=getCondoIds
          module="characteristic"
          onSelect=condoIdCb
        }}
      </div>
    {{/if}}
    {{> Template.dynamic template=getTemplateCharacteristic data=getDatas}}
  </div>
</template>
