.startTimeG {
    width: 70px !important;
}

.endTimeG {
    width: 70px !important;
}

.table-responsive {
    .pt {
        padding-top: 16px;
    }
}

.resource-wrapper {
    overflow: visible;
}

.resource-list {
    padding: 0;
    margin-top: 20px;

    .resource-list-item {
        padding: 8px 0;
        list-style: none;
        margin-bottom: 10px;
        border-bottom: 1px solid #E1E2E7;

        .item-wrapper {
            padding-bottom: 6px;

            .dropdown, button.action-button {
                float: right;

                .dropdown-menu {
                    left: -110px;
                }
            }

            button.action-button {
                border: 0;
                background-color: transparent;
                i.edit-icon {
                    width: 24px;
                    height: 24px;
                }
            }
            p {
                margin-bottom: 0;
            }
            p.title {
                font-family: 'Lato', 'Source Sans Pro', sans-serif;
                font-size: 17px;
                font-weight: 500;
                text-align: left;
                color: #5d5e62;
            }
            p.info {
                font-family: 'Lato', 'Source Sans Pro', sans-serif;
                font-size: 15px;
                line-height: 1.6;
                letter-spacing: -0.1px;
                text-align: left;
                color: #8b999f;

                span {
                  padding-left: 20px;
                  margin-right: 14px;
                  background-position: left;
                  background-repeat: no-repeat;
                  background-size: contain;
                }
                span.seating-available {
                  background-image: url("img/icons/seats.svg");
                }

                span.standing-available {
                  background-image: url("img/icons/standing.svg");
                }
            }
        }
    }
}

.search-wrapper {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
    padding-right: 0;
    margin-left: -15px;

    input {
        background-color: #ffffff;
        box-shadow: 0 1px 4px 0 rgba(32, 33, 38, 0.1);
        border: solid 1px #e0e0e0;
        font-family: 'Lato', 'Source Sans Pro', sans-serif;
        font-size: 17px;
        line-height: 1.29;
        letter-spacing: -0.4px;
        text-align: left;
        color: #8b999f;
        padding-left: 31px;
    }

    button {
        padding: 10px;

        i.search-icon {
            width: 16px;
            height: 16px;
        }
    }
}

#horaires td {
    text-align: center;
}

#horaires th {
    font-weight: bold;
    text-align: center;
}

.boldth th {
    font-weight: bold;
}

.bigwords > tbody > tr > td {
    font-weight: 600;
}

.tabPadding {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
 .tabPadding img {
     width: 25px;
 }


.tabTitle{
    color: #9fa0a5 !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    border: none !important;
    margin-bottom: 5px;
}

#dropRessources{
    left: -120px !important;
}

.tbodyRess tr {
    box-shadow: none;
}

.fomrModalRessource input {
    margin-bottom: 20px !important;
}

.fomrModalRessource .element{
    margin-bottom: 20px !important;
}

.hour-picker-container {
    position: relative;

    .form-group:first-child {
        float: left;
    }
    .form-group:last-child {
        float: right;
    }
}

.button-container {
    text-align: center;

    .action-button {
        width: 30%;
        cursor: pointer;
    }
}
