<template name="ressources">
  {{#if refreshCondoId}}{{/if}}
	<div class="row titleView">
		<div class="col-sm-12">
			<div class="panel">
				<div class="panel-heading position_relative" style="padding-bottom: 10px">
					<div class="sub-tool-bar clearfix">
            <div class="pull-left">
              <h1>{{ getDicoVar 'commonTranslation' 'manager_resources' }}</h1>
              <div style="display: block; margin-top: 10px;">
                <button type="button" id="backbutton" style="background: none; border: none; color: #999; padding: 0">
                  <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{{getDicoVar "resourceForm" "back"}}}
                </button>
              </div>
            </div>
						<div class="action pull-right ressourceButton">
              {{#if canAddResources selectedCondo}}
                {{#if canSeeResources}}
							    <a type="button" id="add-resource" class="btn red_btn red_btn-lg">
                    {{ getDicoVar 'commonTranslation' 'add' }}
                  </a>
                {{/if}}
              {{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    {{#if canSeeResources}}
	<div class="d-contacts-main" style="padding: 20px !important; background: white">
    {{#if (or (and ($not ($empty resources)) ($not isSearchActive)) (isSearchActive))}}
        <div class="search-contacts clearfix" style="border-top: 0 !important; margin: 0 !important; padding: 0 !important;">
            <div>
                <form action="#" id="uselessForm">
                    <input type="text" id="searchRes" placeholder='{{getDicoVar "resourceForm" "search"}}'>
                    <button><div class="icon-search-bar"></div></button>
                </form>
            </div>
        </div>
    {{/if}}
		<div class="table-responsive d-table resource-wrapper">
            {{#if $not ($empty resources)}}
                <ul class="resource-list">
                    {{#each res in resources}}
                        <li class="resource-list-item">
                            <div class="item-wrapper">
                                {{#if canAddResources res.condoId}}
                                <div class="dropdown">
                                    <button class="action-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="image-icon edit-icon"></i></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item action-edit" data-id="{{res._id}}">{{getDicoVar "moduleActualityIndex" "edit"}}</a>
                                        <a class="dropdown-item action-delete" data-id="{{res._id}}">{{getDicoVar "moduleActualityIndex" "delete"}}</a>
                                    </div>
                                </div>
                                {{/if}}
                                <p class="title">{{res.name}}</p>
                                {{#if $eq selectedCondo 'all'}}<p class="info">{{condoName res.condoId}}</p>{{/if}}
                                <p class="info">{{getDicoVar "resourceForm" "type"}}: {{res.typeName}}</p>
                                {{#if res.etage}}<p class="info">{{getDicoVar "moduleReservationIndex" "floor"}}: {{getFloorString res.etage}}</p>{{/if}}
                                {{#if resSeats res}}<p class="info">{{getDicoVar "moduleReservationIndex" "seating"}}: {{resSeats res}}</p>{{/if}}
                                {{#if resPersons res}}<p class="info">{{getDicoVar "moduleReservationIndex" "standing"}}: {{resPersons res}}</p>{{/if}}
                                {{#if resNum res}}<p class="info">{{resNum res}}</p>{{/if}}
                            </div>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
				{{#if isSearchActive}}
					{{> MbEmpty
							title=(getDicoVar "moduleReservationIndex" "no_result")
					}}
				{{else}}
          {{> MbEmpty getEmptyProps}}
				{{/if}}
            {{/if}}
		</div>
		{{> pagination_panel pagination=getPagination}}
	</div>
    {{else}}
        {{> MbRestrictedAccess }}
    {{/if}}
</template>
