<template name='admin_managerList'>
  {{#let condoIds=CDD_cursorMain}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <div class="row titleView titleViewStyle">
      <div class="col-sm-12" style='padding-right: 16px; padding-left: 16px'>
        <div class="panel-heading" style="padding-bottom: 10px; padding-left: 0; padding-right: 0;">
          <div class="sub-tool-bar clearfix">
            <h1 class="pull-left"> {{ getDicoVar 'commonTranslation' 'managers' }} </h1>
            <div class="action pull-right occupantButton">
              {{#if and (hasRightInCondos "managerList" "addManager" (getCondoIdsRights condoIds)) (hasRightInCondos "managerList" "seeManager" (getCondoIdsRights condoIds))}}
                <a type="button" class="btn btn-red-confirm invitManagerButton"> {{ getDicoVar 'commonTranslation' 'invite_manager' }} </a>
              {{/if}}
            </div>
            {{> CondoDropDown condoList=condoIds condoId=mainCondoIdCb selectAuto=1 classes="pull-right"}}
          </div>
        </div>
      </div>
    </div>
    <div class="containerManagerList">
      {{#if $neq condoIds.length 0}}
        {{#let managers=(getManagers condoIds) totalManager=(getTotal condoIds)}}
          {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=searchCallback counter=managers.length}}
          <div class='searchResult' style='display: none'>
            {{>MbPanel content='Résultat de la recherche'}}
          </div>
          {{#if isSubscribeReady}}
            {{#if totalManager}}
              {{#if managers.length}}
                <table class="managerDetailsContainer table">
                  <thead>
                    <tr class='containerColumn'>
                      <th></th>
                      <th> {{ getDicoVar 'commonTranslation' 'firstname' }} </th>
                      <th> {{ getDicoVar 'commonTranslation' 'lastname' }} </th>
                      <th> {{ getDicoVar 'commonTranslation' 'entity' }} </th>
                      <th> {{ getDicoVar 'commonTranslation' 'email' }} </th>
                      <th class='trashColumn'>{{getDicoVar 'commonTranslation' 'delete'}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each managers}}
                      <tr class='containerLine' userId='{{this._id}}'>
                        <td class='pictureColumn'>
                          {{#if this.avatar}}
                            <div  class='displayPictureImage' style="background-image: url({{this.avatar}}), url(/img/anonymous.png);"></div>
                          {{else}}
                            <div class='displayPictureName'>{{this.initials}}</div>
                          {{/if}}
                        </td>
                        <td class='commonColumn firstnameColumn lighter'>{{this.firstname}}</td>
                        <td class='commonColumn lastnameColumn lighter'>{{this.lastname}}</td>
                        <td class='commonColumn emailColumn lighter'>{{this.entityName}}</td>
                        <td class='commonColumn emailColumn lighter'>{{this.email}}</td>
                        <td class='commonColumn trashColumn'><div></div></td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              {{else}}
                {{> MbEmpty
                  title=(getDicoVar 'commonTranslation' 'no_result')
                }}
              {{/if}}
            {{else}}
              {{#if and (hasRightInCondos "managerList" "addManager" (getCondoIdsRights condoIds)) (hasRightInCondos "managerList" "seeManager" (getCondoIdsRights condoIds))}}
                {{> MbEmpty
                  title=(getDicoVar 'commonTranslation' 'no_other_manager_yet')
                  subTitle=(getDicoVar 'commonTranslation' 'manager_add_by_you_and_authorized')
                  buttonLabel=(getDicoVar 'commonTranslation' 'invite_manager')
                  onButtonClick=addNewManager
                }}
              {{else}}
                {{> MbEmpty
                  title=(getDicoVar 'commonTranslation' 'no_other_manager_yet')
                  subTitle=(getDicoVar 'commonTranslation' 'manager_add_by_authorized')
                }}
              {{/if}}
            {{/if}}
          {{else}}
            {{> loader}}
          {{/if}}
        {{/let}}
      {{else}}
        {{#unless isSubscribeReady}}
          {{> loader}}
        {{/unless}}
      {{/if}}
    </div>
  {{/let}}

</template>
