<template name="bookedByTime_stats">
    <div class="chart-item">
        {{prepareData}}
        <div class="head">
            <h3>{{getDicoVar "stats" "booked_by_time"}}</h3>
        </div>
        <div class="body">
            {{#unless ready}}
                <div class="loader-container">
                    {{> loader}}
                </div>
            {{else}}
            <span>&nbsp;</span>  <!-- Don't remove -->
            {{#if loadingData}}
              <div class="loader-container-over">
                {{> loader}}
              </div>
            {{/if}}

            <div id="booked-by-time-chart-container" class="the-chart">
                {{renderChart}}
            </div>
            <div id="chartjs-booked-by-time-chart-tooltips" class="chart-tooltips-container">
                <table></table>
            </div>
            <div id="booked-by-time-chart-no-data" class="chart-no-data">
                {{getDicoVar "stats" "no_data"}}
            </div>
            {{/unless}}
        </div>
        <div class="chart-switcher">
            <span class="switcher">
                <span class="switch-option {{getActiveType 'time'}}" data-type="time">{{getDicoVar "moduleReservationIndex" "time"}}</span>
                <span class="switch-option {{getActiveType 'date'}}" data-type="date">Date</span>
            </span>
        </div>
    </div>
</template>
