@import '/client/style/variable.less';



.conciergeContent {
  background: @wt;
  box-shadow: none !important;
  padding: 0px 24px;
  font-family: Lato, sans-serif;

  .concierge-dropdown-menu {
    margin: 24px 0;
  }

  .form-message {
    border: 1px solid #e0e0e0;
    margin: 0 -8px;

    .form-text-area-wrapper {
      padding: 8px;

      textarea {
        border-bottom: 0;
        padding: 0;
      }
    }

    .form-message-container {
      padding-bottom: 16px;
    }
  }

  .form-footer {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    .form-right-file {
      display: inline-block;
      position: relative;
      float: right;
      margin-right: 15px;
      margin-top: 5px
    }
    .form-right-sumbit {
      display: inline-block;
      position: relative;
      float: right;
    }
  }

  .concierge-submit-button {
    margin-top: 24px;
    min-height: 36px;
    min-width: 240px;
    margin-bottom: 16px;
  }

  .concierge-section-label {
    font-family: Lato, sans-serif;
    font-size: 12px;
    letter-spacing: 0.9px;
    color: #8b999f;
    padding: 10px 8px 10px 8px;
    background: #F1F5F6;
    text-transform: uppercase;
    margin: 20px -8px 20px -8px;

    .mandatory-icon {
      width: 7px;
      height: 7px;
      display: inline-block;
      margin-bottom: 3px;
      margin-left: 3px;
    }
  }

  .concierge-bubble-menus {
    display: flex;
    flex-direction: row;

    .concierge-bubble-menu-item {
      padding: 0 24px;
    }
  }

  .concierge-title {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.6px;
    text-align: left;
    color: #5d5e62;
    margin-top: 18px;
  }

  .concierge-sub-title {
    font-size: 16px;
    letter-spacing: -0.3px;
    text-align: left;
    color: #5d5e62;
    font-weight: 400;
  }
  .btnContent{
    margin: 40px 0 0 0 ;
    button{
      background: none;
      border: 1px solid @grey;
      width: 200px;
      padding: 10px;
      margin-right: 10px;
      margin-top:  10px;
    }
    button:hover{
      color:@red;
      border: 1px solid @red;
    }
    .btnActive{
      color: @red;
      border-color: @red;
    }
  }
  .choiseContent{
    margin: 40px 0 0 0 ;
    .choise:first-child{
      margin-top: 0;
    }
    .choise{
      margin: 20px 0 10px 0;
      div{
        margin: 0 !important;
        button{
          margin:0 !important;
        }
      }
    }
  }
  .msgContent{
    margin: 40px 0 0 0 ;
    #chat-window{
      border: 1px solid #adadad
    }
  }
  #msgConcierge{
    textarea{
      height: 200px;
    }
  }
  #forConcierge{
    width: 100%;
    div{
      float: left !important;
      margin-top: 10px;
      padding-top: 5px;
      margin-bottom: 0;
    }
    #sendAnswer{
      float: right !important;
    }
  }
}




@media (max-width: 510px){
  .btnContent{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    button{
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 510px){
  .conciergeContent{
    h2{
      font-size: 22px;
    }
    h3{
      font-size: 17px;
    }
  }
}