<template name="module_concierge">
  {{#if refreshCondoId}}{{/if}}

  <div class="wrapper">
    <section class="{{#unless _IsManagerView}}blue_bg_content{{/unless}}" id="mainContent">
      <div class="{{#unless _IsManagerView}}main_block container-fluid{{/unless}}">
        <div class="row">
          <div class="col-sm-12 {{#unless _IsManagerView}}plpr23{{/unless}}">
            <div class="panel {{#unless _IsManagerView}}mt80{{/unless}}">
              <div class="panel-heading position_relative">
                <div class="sub-tool-bar clearfix" id="test">
                  <h1 class="pull-left" style="margin-left: 2px;">{{getDicoVar "moduleConcierge" "concierge"}}{{#unless _IsManagerView}} - {{getAddress getCondoId}}{{/unless}}</h1>
                  <div class="pull-right action">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{#if isModuleActive}}
          {{#if userHasRight "view" "concierge"}}
            <div class="row">
              <div class="col-sm-12 {{#unless _IsManagerView}}plpr23{{/unless}}">
                <div class="col-xs-12 conciergeContent">
                  <h2 class="concierge-title">{{{getDicoVar "moduleConcierge" "need_title"}}}</h2>
                  <h3 class="concierge-sub-title">{{{getDicoVar "moduleConcierge" "professionnal_help"}}}</h3>
                </div>
                <div class="col-xs-12 conciergeContent">
                  <div class="concierge-section-label">
                    {{ getDicoVar 'moduleConcierge' 'category_label1' }}<i class="image-icon mandatory-icon"></i>
                  </div>
                  <div class="concierge-bubble-menus">
                    {{#each service in getAvailableServices }}
                      <div class="concierge-bubble-menu-item">
                        {{> MbBubble
                        label=service.label
                        value=service.value
                        onClick=(setForm 'category')
                        active=(isServiceActive service.value)
                        image=service.image
                      }}
                      </div>
                    {{/each}}
                  </div>
                  {{#if (notNull 'category') }}
                    <div class="concierge-section-label">
                      {{ getDicoVar 'moduleConcierge' 'request_label' }}<i class="image-icon mandatory-icon"></i>
                    </div>
                    <div class="concierge-bubble-menus">
                      {{#each requestType in getRequestTypes}}
                        <div class="concierge-bubble-menu-item">
                          {{> MbBubble
                          label=requestType.name
                          value=requestType.name
                          image=requestType.image
                          onClick=setRequestType
                          active=(equals (getForm 'request') requestType.name)
                        }}
                        </div>
                      {{/each}}
                    </div>
                  {{/if}}

                  {{#if (notNull 'request') }}
                    <div class="concierge-dropdown-menu">
                      {{> MbSelect
                      selected=(getForm 'service')
                      required=true
                      label=(getDicoVar 'moduleConcierge' 'label_service')
                      onSelect=onSelectServiceType
                      options=getServiceTypeOptions
                      placeholder=(getDicoVar 'moduleConcierge' 'placeholder_service')
                      refresher=(getForm 'service')
                    }}
                    </div>
                  {{/if}}

                  {{#if shouldShowServiceDetail }}
                    <div class="concierge-dropdown-menu">
                      {{> MbSelect
                      selected=(getForm 'detail')
                      required=true
                      label=(getDicoVar 'moduleConcierge' 'label_detail')
                      onSelect=(setForm 'detail')
                      options=getServiceDetailOptions
                      placeholder=(getDicoVar 'moduleConcierge' 'placeholder_detail')
                      refresher=getServiceDetailOptions
                    }}
                    </div>
                  {{/if}}

                  {{#if showMessageForm }}
                    <div class="concierge-section-label">
                      {{ getDicoVar 'moduleConcierge' 'category_label' }}<i class="image-icon mandatory-icon"></i>
                    </div>
                    <div class="form-message">
                      <div class="form-text-area-wrapper">
                        <div class="form-message-container">
                          {{> React
                          value=(getForm 'message')
                          component=MbTextArea
                          showLabel=false
                          minRow=3
                          onChange=(setForm 'message')
                          placeholder='Message'
                        }}
                        </div>
                        {{> FileList
                        files=getFiles
                        onFileAdded=onFileAdded
                        onRemove=onFileRemove
                      }}
                      </div>
                    </div>
                    <div class="form-footer">
                      <button class="btn btn-red form-right-sumbit" id="submit-concierge" disabled= {{ disableSubmit }} data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'moduleConcierge' 'sending'}}...">
                        {{getDicoVar "commonTranslation" "submit"}}
                      </button>
                      <div class="form-right-file">
                        {{> FileUploadButton files=getFiles onFileAdded=onFileAdded }}
                      </div>
                    </div>
                  {{/if}}
                </div>
              </div>
            </div>
          {{else}}
            <div class="row">
              <div class="col-sm-12 {{#unless _IsManagerView}}plpr23{{/unless}}">
                <div class="{{#unless _IsManagerView}}mt80{{/unless}}">
                  {{#if isAllSelected}}
                    <div class="whiteFullBackground">
                      {{> MbWarning content=(getDicoVar 'commonTranslation' 'select_building_first')}}
                    </div>
                  {{else}}
                    {{> MbRestrictedAccess }}
                  {{/if}}
                </div>
              </div>
            </div>
          {{/if}}
        {{else}}
          {{> MbRestrictedAccess }}
        {{/if}}
        {{#if hasError}}
          <div class="col-md-offset-1 col-md-6 left alert alert-danger" style="height: 34px;top: -45px;margin-left: 27px;">
            <p style="height: 0px;">{{getDicoVar 'home' 'requiredFields'}}</p>
          </div>
        {{/if}}
      </div>
    </section>
  </div>
</template>
