<template name='occupant_print'>
  <div class="occupant_module_wrapper">
    {{checkTab}}
    <div class='topBarContainer'>
      <div class='topBarModuleName'>{{ getDicoVar 'commonTranslation' 'print' }} - {{getCondoName}}</div>
    </div>
    {{#unless shouldDisplayRestrictedAccess}}
      <div class='tabBarContainer'>
        <div class='{{#if $eq selectedTab '1'}}selectedTabBar{{/if}}' data-tab='1'>1</div>
        <div class='{{#if $eq selectedTab '2'}}selectedTabBar{{/if}}' data-tab='2'>2</div>
      </div>
      <div class="market-content-wrapper">
        {{!-- {{> Template.dynamic template=getTemplateName data=getData}} --}}
      </div>
    {{else}}
      {{> MbRestrictedAccess}}
    {{/unless}}
  </div>
</template>
