@import '/client/style/variable.less';

.login_header {
    height: 64px;
    padding: 18px 15px;
    background-color: @wt;
    border-bottom: 3px solid @blue;
    .login_logo {
        width: 169px;
    }
}

.login_content {
    margin-top: 60px;
    background: #f1f5f6;
    padding-top: 16px;
    padding-bottom: 22px;

    .content_header {
        height: 80px;
        background: @wt;
        padding: 14px 16px;
        margin-bottom: 16px;

        .login_title {
            font-size: 20px;
            font-weight: 500;
            letter-spacing: -0.5px;
            text-align: left;
            color: #5d5e62;
            margin: 0;
            margin-bottom: 10px;
        }

        .back_btn {
            font-size: 14px !important;
            font-weight: 500;
            color: #8b999f !important;
            padding: 0 !important;
            cursor: pointer;

            img {
                padding-right: 6px;
            }
        }
    }

    .content {
        padding: 18px 0 50px;
        background: @wt;
        text-align: center;

        .login_container {

            width: 453px;
            margin: 0 auto;

            @media @mobile {
                width: auto;
                padding: 0 15px;
            }

            .welcome {
                font-size: 24px;
                color: #5d5e62;
            }

            .continue {
                font-size: 18px;
            }

            .fbLoginBtn, .loginBtn {
                background: #2d88ae;
                width: 100%;
                height: 48px;
                color: @wt;
                border: 0;
                font-size: 20px;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -0.6px;
                margin-top: 35px;

                span {
                    margin-right: 19px;
                    padding-right: 8px;
                    font-size: 25px;

                    &::before {
                        margin-top: 3px;
                    }
                }

                .fa {
                    //width: 28px;
                    //height: 28px;
                    //border-right: 1px solid rgba(32, 33, 38, 0.2);
                    margin-right: 5px;
                }
            }

            .or {
                padding: 20px 5px;
                padding-bottom: 0;
                display: flex;

                .line {
                    height: 1px;
                    background: lightgray;
                    display: block;
                    width: 50%;
                    margin-top: 10px;
                }

                .or_text {
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;
                    color: #8b999f;
                    display: block;
                    padding: 10px;
                    padding-top: 0;
                }

            }

            .input_form {

                margin-top: 24px;

                &:first-child {
                    margin-top: 0;
                }

                p {
                    font-size: 12px;
                    letter-spacing: 0.1px;
                    text-align: left;
                    color: #8b999f;
                    text-transform: uppercase;

                    span {
                        color: var(--secondary-color);
                        font-size: 14px;
                    }
                }

                input::placeholder {
                    font-size: 17px;
                    letter-spacing: -0.4px;
                    text-align: left;
                    color: #5d5e62;
                }

                .loginInput {
                    width: 100%;
                    padding-bottom: 10px;
                    border: 0;
                    border-bottom: 1px solid lightgray;
                    font-size: 17px;
                    color: #5d5e62 !important;
                }
                .loginInput:-webkit-autofill {
                    color: #5d5e62 !important;
                }
            }

            .notInput {
                display: flex;
                padding:30px 0;
                margin: 0;

                @media @mobile {
                    flex-direction: column;
                    padding: 15px 0;
                }

                #stayLabel {
                    cursor: pointer;
                    font-weight: inherit;
                }

                .remember_me {
                    flex: 1;
                    text-align: left;
                    margin-bottom: 15px;
                }

                .forgot_password {
                    flex: 1;
                    text-align: right;
                    span {
                        cursor: pointer;
                    }

                    @media @mobile {
                        text-align: center;
                    }
                }

                .label_remember {
                    cursor: pointer;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 1.33;
                    text-align: left;
                }

                .checkboxred {
                    width: 22px !important;
                    height: 22px !important;

                    label {
                        background-color: #fff;
                        border: 1px solid #ccc;
                        border-radius: 50%;
                        cursor: pointer;
                        height: 22px;
                        width: 22px;
                        left: 0;
                        position: absolute;
                        top: 5px;
                        font-weight: initial;
                    }

                    label:after {
                        border: 2px solid #fff;
                        border-top: none;
                        border-right: none;
                        content: "";
                        height: 7px;
                        left: 4px;
                        opacity: 0;
                        position: absolute;
                        top: 5px;
                        transform: rotate(-45deg);
                        width: 13px;
                    }
                    input[type="checkbox"] {
                    visibility: hidden;
                    }

                    input[type="checkbox"]:checked + label {
                        //background-color: var(--menu-selected-item-color);
                        background-color: var(--primary-color);
                        //border-color: var(--menu-selected-item-color);
                        border-color: var(--primary-color);
                    }

                    input[type="checkbox"]:checked + label:after {
                        opacity: 1;
                    }
                }
            }

            .loginBtn {
                margin-top: 0;
                background: var(--secondary-color);
                width: 100%;
                height: 48px;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: -0.6px;
                text-align: center;
                color: #ffffff;
                margin-bottom: 13px;
            }

            .errorMessage{
                margin-top: 15px;
                margin-bottom: 0;
                text-align: center;
                color: @red;
            }

        }

    }
}
