<template name="login">
  {{> headerHome}}
	<div class="container">
		<div class="login_content">
			<div class="content_header">
				<h2 class="login_title">{{getDicoVar 'home' 'connect'}}</h2>
        {{#unless restrictToLoginPage}}
          <div id="backbuttonLogin" class="back_btn">
            <img src="/img/icons/back.svg" height="15" style="margin-top: -2px;"> {{getDicoVar "home" "back_home"}}
          </div>
        {{/unless}}
			</div>
			<div class="content">
				<div class="login_container">
					<p class="welcome">Welcome back!</p>
					<p class="continue">{{getDicoVar 'home' 'small_title_login'}}</p>
					<button type="button" id="facebookLogin" class="fbLoginBtn"><span class="fa fa-facebook"></span> {{getDicoVar "home" "facebook"}} </button>
					<div class="or"><span class="line"></span><span class="or_text">{{getDicoVar "home" "or"}}</span><span class="line"></span></div>
					<form id="loginForm">
						<div class="input_form">
							<p>{{getDicoVar "home" "mail"}} <span>*</span></p>
							<input class="loginInput" type="email" name="email" placeholder="{{getDicoVar "home" "type_email"}}">
						</div>
						<div class="input_form">
							<p>{{getDicoVar "home" "password"}} <span>*</span></p>
							<input class="loginInput" type="password" name="password" placeholder="{{getDicoVar "home" "type_password"}}">
						</div>
						{{#if loginError}}
							<div class="form-group errorMessage">
								{{loginError}}
							</div>
						{{/if}}
						<div class="form-group notInput">
							<div style="text-align: left" class="remember_me">

								<div class="checkboxred">
									<input type="checkbox" name="rememberMe" id="rememberMe_id"  checked="{{#if stayConnected}}checked{{/if}}" />
									<label for="rememberMe_id"></label>
								</div>
								<label class="label_remember" for="rememberMe_id">{{getDicoVar "home" "remember_me"}}</label>

							</div>
							<p id="button_forgot" class="forgot_password"><span>{{getDicoVar "home" "forget_password_title"}}</span></p>
						</div>
						<button type="submit" id="button_connect" class="loginBtn" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'home' 'connexion'}}...">{{getDicoVar 'home' 'connect'}}</button>
            {{!-- {{#unless restrictToLoginPage}} --}}
  						<p>{{getDicoVar "home" "not_Registered"}} <a id="goSignin">{{getDicoVar "home" "register_Now"}}</a></p>
            {{!-- {{/unless}} --}}
					</form>
				</div>
			</div>
		</div>
	</div>
</template>
