<template name="reset_password">
  {{> headerHome}}
  <div id="reset-password" class="rp__page-wrapper">
    <div class="container">
      <div class="rp__content">
        <div class="rp__content-header">
          <h2 class="rp__title">{{getDicoVar 'home' 'reset_title'}}</h2>
          <div id="go-back" class="back_btn">
            <img src="/img/icons/back.svg" height="15"> {{getDicoVar "home" "back_home"}}
          </div>
        </div>

        <div class="rp__content-body">
          <div class="loader-wrapper" id="loader">
            <div class="loaderSpinner"></div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
              {{#if showForm}}
                <h1 class="page-title">
                  {{getDicoVar 'home' 'reset_title'}}
                </h1>

                {{#if hasError}}
                  <p class="rp__error-message alert alert-danger">
                    {{ getError }}
                  </p>
                {{/if}}


                <div class="rp__form-wrapper">
                  <div class="rp__form-group">
                    {{> MbInput
                      value=(getValue 'password')
                      onInput=(updateValue 'password')
                      label=(getDicoVar 'home' 'password')
                      placeholder=(getDicoVar 'home' 'reset_placeholder_1')
                      required=true
                      isError=isError
                      type="password"
                    }}
                  </div>

                  <div class="rp__form-group">
                    {{> MbInput
                      value=(getValue 'password_confirmation')
                      onInput=(updateValue 'password_confirmation')
                      label=(getDicoVar 'home' 'confirmPassword')
                      placeholder=(getDicoVar 'home' 'reset_placeholder_2')
                      required=true
                      isError=isError
                      type="password"
                    }}
                  </div>

                  <div class="rp__form-action">
                    <button type="submit" id="reset_password" class="action-button" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{ getDicoVar 'home' 'loading' }}..."
                      disabled="{{ disableSubmit }}">
                      {{ getDicoVar 'home' 'reset_btn' }}
                    </button>
                    <p>
                      <a id="back-to-request-password">{{getDicoVar "home" "forgot_success_text_5"}}</a>
                    </p>
                  </div>
                </div>
              {{/if}}

              {{#if isSuccess }}
                <h1 class="page-title">
                  {{getDicoVar 'home' 'reset_success_text'}}
                </h1>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
