@import '/client/style/variable.less';

.rp__page-wrapper {
  font-family: Lato, sans-serif;

  #loader {
    min-height: 350px;
  }

  .loader-wrapper {
    text-align: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .rp__header {
    height: 64px;
    padding: 18px 15px;
    background-color: @wt;
    border-bottom: 3px solid @blue;

    img {
      width: 169px;
    }
  }

  .rp__content {
    margin-top: 60px;
    background: #f1f5f6;
    padding-top: 16px;
    padding-bottom: 22px;

    .rp__content-body {
      padding: 18px 0;
      background: #ffffff;

      .page-title {
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: -0.5px;
        text-align: center;
        color: #5d5e62;
        margin-bottom: 12px;
      }

      .subtitle {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: -0.5px;
        text-align: center;
        color: #5d5e62;
      }

      .action-button {
        width: 100%;
        height: 48px;
        background-color: var(--secondary-color);
        border: 0;
        color: @wt;
        font-size: 20px;

        &[disabled="true"] {
          cursor: not-allowed;
          background: gray;
        }
      }
    }

    .rp__error-message {
      text-align: center;
    }

    .rp__form-wrapper {
      margin-top: 35px;

      .rp__form-group {
        margin-bottom: 25px;
      }

      .rp__form-action {
        margin-top: 24px;
        text-align: center;

        button {
          margin-bottom: 13px;
        }

        p {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.13;
          letter-spacing: normal;
          text-align: center;
          color: #8b999f;

          a {
            font-weight: 500;
            color: var(--secondary-color);
          }
        }
      }
    }

    .rp__content-header {
      height: 80px;
      background: @wt;
      padding: 14px 16px;
      margin-bottom: 16px;

      .rp__title {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.5px;
        text-align: left;
        color: #5d5e62;
        margin: 0;
        margin-bottom: 10px;
      }

      .back_btn {
        font-size: 14px !important;
        font-weight: 500;
        color: #8b999f !important;
        padding: 0 !important;
        cursor: pointer;

        img {
          padding-right: 6px;
        }
      }
    }
  }
}
