[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.smallRadio:checked + label,
.smallRadio:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.smallRadio:checked + label:before,
.smallRadio:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #64c6df;
    border-radius: 100%;
    background: #fff;
}
.smallRadio:checked + label:after,
.smallRadio:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #64c6df;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.smallRadio:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.smallRadio:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.questionBox .smallRadio + label:not(:first-of-type) {
    margin-top: 10px;
}

table td > label {
    position: relative;
    left: 50%;
    transform: translateX(calc(-50% + 4px));
}

table tr:not(:first-of-type) {
    height: 30px;
}

table tr:not(:first-of-type) label {
    top: -10px;
}

label {
	font-weight: 400;
}

[type="text"], textarea {
	width: 95%;
    border: solid #e2e2e2 2px !important;
    background-color: white;
}

[type="text"] {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

textarea {
    padding: 10px 20px;
}

.bigRadio + label {
	height: 140px;
	width: 180px;
	border-top: solid #dfdfdf 2px;
    border-bottom: solid #dfdfdf 2px;
    border-left: solid #dfdfdf 1px;
    border-right: solid #dfdfdf 1px;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.questionBox:not(:first-of-type) {
    margin-top: 20px;
}

.questionBox .bigRadio:first-of-type + label {
    border-left: solid #dfdfdf 2px;
    border-right: 0;
}

.questionBox .bigRadio:last-of-type + label {
    border-right: solid #dfdfdf 2px;
    border-left: 0;
}

.bigRadio:checked + label {
	border-bottom: solid #64c6df 4px;
}

.bigRadio:checked + label h6 {
    color: #64c6df;
}

.bigRadio:not(:checked) + label img,
table img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.bigRadio + label img {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.bigRadio + label .separator {
    height: 1px;
    background-color: #dfdfdf;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0;
}

.bigRadio + label h6 {
    text-align: center;
    margin: 0;
}

.bigRadio + label .labelWrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.starRate {
    justify-content: space-between;
    width: 150px;
    font-size: 1.4em;
}

.starRadio + label::before{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    content: '\f005';
    cursor: pointer;
    color: #CDCDCD;
}

.starRadio:checked + label::before,
.starRadio + label:hover::before,
.starRadio + label.starhighlight::before {
    color: #64c6df;
}

[type="submit"] {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    color: white;
    background-color: #64c6df;
    padding: 10px 25px;
    border: 0;
    border-radius: 9999px;
    font-size: 1.2em;
}