<template name="trombi_trombi">

	<div class="col-sm-12" style="padding: 0 30px 0 30px; background-color: #fff; margin-bottom: 20px;">
		<table class="table table-backoffice gestionDroitBack">
			<thead>
				<tr>
					<th>Options</th>
					<th style='text-align: center;'>Sous Profil</th>
					<th style='text-align: center;'>Dropdown</th>
					<th style='text-align: center;'>Recherche</th>
				</tr>
			</thead>
			<thead>
				<tr>
					<th class="sub-title">Trombinoscope</th>
					<th class="sub-title" colspan="3"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="child-elem">Afficher Etage</td>
					<td>
						<div class="checkboxred" id="moduleOption">
							{{#if options "displayFloor"}}
							<input type="checkbox" name="displayFloor" id="displayFloor" checked>
							{{else}}
							<input type="checkbox" name="displayFloor" id="displayFloor">
							{{/if}}
							<label for="displayFloor"></label>
						</div>
					</td>
					<td>
						{{!-- <div class="checkboxred" id="moduleOption">
							{{#if options "displayFloorDropdown"}}
							<input type="checkbox" name="displayFloorDropdown" id="displayFloorDropdown" checked>
							{{else}}
							<input type="checkbox" name="displayFloorDropdown" id="displayFloorDropdown">
							{{/if}}
							<label for="displayFloorDropdown"></label>
						</div> --}}
					</td>
					<td>
						<div class="checkboxred" id="moduleOption">
							{{#if options "floorSearch"}}
							<input type="checkbox" name="floorSearch" id="floorSearch" checked>
							{{else}}
							<input type="checkbox" name="floorSearch" id="floorSearch">
							{{/if}}
							<label for="floorSearch"></label>
						</div>
					</td>
				</tr>
				<tr>
					<td class="child-elem">Afficher Porte</td>
					<td>
						<div class="checkboxred" id="moduleOption">
							{{#if options "displayDoor"}}
							<input type="checkbox" name="displayDoor" id="displayDoor" checked>
							{{else}}
							<input type="checkbox" name="displayDoor" id="displayDoor">
							{{/if}}
							<label for="displayDoor"></label>
						</div>
					</td>
					<td>
						{{!-- <div class="checkboxred" id="moduleOption">
							{{#if options "displayDoorDropdown"}}
							<input type="checkbox" name="displayDoorDropdown" id="displayDoorDropdown" checked>
							{{else}}
							<input type="checkbox" name="displayDoorDropdown" id="displayDoorDropdown">
							{{/if}}
							<label for="displayDoorDropdown"></label>
						</div> --}}
					</td>
					<td>
						<div class="checkboxred" id="moduleOption">
							{{#if options "doorSearch"}}
							<input type="checkbox" name="doorSearch" id="doorSearch" checked>
							{{else}}
							<input type="checkbox" name="doorSearch" id="doorSearch">
							{{/if}}
							<label for="doorSearch"></label>
						</div>
					</td>
				</tr>
				<tr>
					<td class="child-elem">Afficher École</td>
					<td>
						<div class="checkboxred" id="moduleOption">
							{{#if options "displaySchool"}}
							<input type="checkbox" name="displaySchool" id="displaySchool" checked>
							{{else}}
							<input type="checkbox" name="displaySchool" id="displaySchool">
							{{/if}}
							<label for="displaySchool"></label>
						</div>
					</td>
					<td>
						<div class="checkboxred" id="moduleOption">
							{{#if options "displaySchoolDropdown"}}
							<input type="checkbox" name="displaySchoolDropdown" id="displaySchoolDropdown" checked>
							{{else}}
							<input type="checkbox" name="displaySchoolDropdown" id="displaySchoolDropdown">
							{{/if}}
							<label for="displaySchoolDropdown"></label>
						</div>
					</td>
					<td>
						<div class="checkboxred" id="moduleOption">
							{{#if options "schoolSearch"}}
							<input type="checkbox" name="schoolSearch" id="schoolSearch" checked>
							{{else}}
							<input type="checkbox" name="schoolSearch" id="schoolSearch">
							{{/if}}
							<label for="schoolSearch"></label>
						</div>
					</td>
				</tr>
				<tr>
					<td class="child-elem">Afficher Diplôme</td>
					<td>
						<div class="checkboxred" id="moduleOption">
							{{#if options "displayStud"}}
							<input type="checkbox" name="displayStud" id="displayStud" checked>
							{{else}}
							<input type="checkbox" name="displayStud" id="displayStud">
							{{/if}}
							<label for="displayStud"></label>
						</div>
					</td>
					<td>
						{{!-- <div class="checkboxred" id="moduleOption">
							{{#if options "displayStudDropdown"}}
							<input type="checkbox" name="displayStudDropdown" id="displayStudDropdown" checked>
							{{else}}
							<input type="checkbox" name="displayStudDropdown" id="displayStudDropdown">
							{{/if}}
							<label for="displayStudDropdown"></label>
						</div> --}}
					</td>
					<td>
						<div class="checkboxred" id="moduleOption">
							{{#if options "studSearch"}}
							<input type="checkbox" name="studSearch" id="studSearch" checked>
							{{else}}
							<input type="checkbox" name="studSearch" id="studSearch">
							{{/if}}
							<label for="studSearch"></label>
						</div>
					</td>
				</tr>
				<tr>
					<td class="child-elem">Afficher Matière</td>
					<td>
						<div class="checkboxred" id="moduleOption">
							{{#if options "displaySubject"}}
							<input type="checkbox" name="displaySubject" id="displaySubject" checked>
							{{else}}
							<input type="checkbox" name="displaySubject" id="displaySubject">
							{{/if}}
							<label for="displaySubject"></label>
						</div>
					</td>
					<td>
						<div class="checkboxred" id="moduleOption">
							{{#if options "displaySubjectDropdown"}}
							<input type="checkbox" name="displaySubjectDropdown" id="displaySubjectDropdown" checked>
							{{else}}
							<input type="checkbox" name="displaySubjectDropdown" id="displaySubjectDropdown">
							{{/if}}
							<label for="displaySubjectDropdown"></label>
						</div>
					</td>
					<td>
						<div class="checkboxred" id="moduleOption">
							{{#if options "subjectSearch"}}
							<input type="checkbox" name="subjectSearch" id="subjectSearch" checked>
							{{else}}
							<input type="checkbox" name="subjectSearch" id="subjectSearch">
							{{/if}}
							<label for="subjectSearch"></label>
						</div>
					</td>
				</tr>
				<tr>
					<td class="child-elem">Afficher Entreprise</td>
					<td>
						<div class="checkboxred" id="moduleOption">
							{{#if options "displayEnterprise"}}
							<input type="checkbox" name="displayEnterprise" id="displayEnterprise" checked>
							{{else}}
							<input type="checkbox" name="displayEnterprise" id="displayEnterprise">
							{{/if}}
							<label for="displayEnterprise"></label>
						</div>
					</td>
					<td>
						<div class="checkboxred" id="moduleOption">
							[NON FONCTIONNEL]
							{{!-- {{#if options "displayEnterpriseDropdown"}}
							<input type="checkbox" name="displayEnterpriseDropdown" id="displayEnterpriseDropdown" checked>
							{{else}}
							<input type="checkbox" name="displayEnterpriseDropdown" id="displayEnterpriseDropdown">
							{{/if}}
							<label for="displayEnterpriseDropdown"></label> --}}
						</div>
					</td>
					<td>
						<div class="checkboxred" id="moduleOption">
							{{#if options "enterpriseSearch"}}
							<input type="checkbox" name="enterpriseSearch" id="enterpriseSearch" checked>
							{{else}}
							<input type="checkbox" name="enterpriseSearch" id="enterpriseSearch">
							{{/if}}
							<label for="enterpriseSearch"></label>
						</div>
					</td>
				</tr>
				<tr>
					<td class="child-elem">Afficher Bureau</td>
					<td>
						<div class="checkboxred" id="moduleOption">
							{{#if options "displayOffice"}}
							<input type="checkbox" name="displayOffice" id="displayOffice" checked>
							{{else}}
							<input type="checkbox" name="displayOffice" id="displayOffice">
							{{/if}}
							<label for="displayOffice"></label>
						</div>
					</td>
					<td>
						<div class="checkboxred" id="moduleOption">
							{{!-- {{#if options "displayEnterpriseDropdown"}}
							<input type="checkbox" name="displayEnterpriseDropdown" id="displayEnterpriseDropdown" checked>
							{{else}}
							<input type="checkbox" name="displayEnterpriseDropdown" id="displayEnterpriseDropdown">
							{{/if}}
							<label for="displayEnterpriseDropdown"></label> --}}
						</div>
					</td>
					<td>
						<div class="checkboxred" id="moduleOption">
							{{#if options "officeSearch"}}
							<input type="checkbox" name="officeSearch" id="officeSearch" checked>
							{{else}}
							<input type="checkbox" name="officeSearch" id="officeSearch">
							{{/if}}
							<label for="officeSearch"></label>
						</div>
					</td>
				</tr>
        <tr>
          <td class="child-elem">Afficher Centres d'Intérêts</td>
          <td>
            <div class="checkboxred" id="moduleOption">
              {{#if options "displayInterest"}}
                <input type="checkbox" name="displayInterest" id="displayInterest" checked>
              {{else}}
                <input type="checkbox" name="displayInterest" id="displayInterest">
              {{/if}}
              <label for="displayInterest"></label>
            </div>
          </td>
          <td></td>
          <td>
            <div class="checkboxred" id="moduleOption">
              {{#if options "interestSearch"}}
                <input type="checkbox" name="interestSearch" id="interestSearch" checked>
              {{else}}
                <input type="checkbox" name="interestSearch" id="interestSearch">
              {{/if}}
              <label for="interestSearch"></label>
            </div>
          </td>
        </tr>

			</tbody>
		</table>
	</div>

</template>
