<template name="condoDetailsGestion">
  <ul class="nav nav-tabs backNav">
    <li class="tabModule {{#if selectedStats 'stat'}}active{{/if}}"  tab="stat"><a>Statistique</a></li>
    <li class="tabModule {{#if selectedStats 'classifieds'}}active{{/if}}"  tab="classifieds"><a>Ads</a></li>
    <li class="tabModule {{#if selectedStats 'forum'}}active{{/if}}" tab="forum"><a>Forum</a></li>
    <li class="tabModule {{#if selectedStats 'actuality'}}active{{/if}}" tab="actuality"><a>Information</a></li>
    <li class="tabModule {{#if selectedStats 'incident'}}active{{/if}}" tab="incident"><a>Incident</a></li>
  </ul>

  {{#if selectedStats 'stat'}}
    <div>
      <div class="action pull-right">
        <div class="dropdown per-s-list btn">
          <button class="btn clearfix text-left dropdown-toggle buttonIncidentView" type="button" data-toggle="dropdown">{{incidentFilter}}
          <span class="caret pull-right"></span></button>
          <div id="dropdownCondoView" class="dropdown-menu">
            <ul class="list-users list-unstyled ulRespon">
              {{#each filter in filters}}
              <li filter="{{filter.name}}" class="incidentFilter">
                <a class="media">
                  <span class="pull-left" href="#">
                    <img src="/img/icons/svg/immeuble_48px.svg" alt="" style="width: 25px;">
                  </span>
                  <div class="media-body">
                    <h5>{{filter.displayName}}</h5>
                  </div>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-12" style="padding: 0 30px 0 30px; background-color: #fff;">
      <table class="table table-backoffice gestionDroitBack">
        <thead>
          <tr>
            <th>Statistiques</th>
            <th>Post / Action</th>
            <th>Follow</th>
          </tr>
        </thead>
        {{{formatHtml 'Informations / Evenements' 'actuality' '' 'actuality' ''}}}
        {{{formatHeaderHtml 'Incidents' 'incident' '' 'incident' ''}}}
        {{{formatHtml 'Incidents à valider' 'incident' 'toValid' '-'}}}
        {{{formatHtml 'Incidents en cours' 'incident' 'open' '-'}}}
        {{{formatHtml 'Incidents privés' 'incident' 'close' '-'}}}
        {{{formatHtml 'Incidents résolus' 'incident' 'solve' '-'}}}
        {{{formatHtml 'Messages liés aux incidents' 'incident' 'message' '-'}}}
        {{{formatHtml 'Incidents notation' 'incident' 'vote' '-'}}}
        {{{formatHeaderHtml 'Forums' 'forum' '' 'forum' ''}}}
        {{{formatHtml 'Forum post' 'forum' 'message' '-' '-'}}}
        {{{formatHtml 'Forum reponses' 'forum' 'reponse' '-'}}}
        {{{formatHtml 'Petites annonces' 'classifieds' '' 'classifieds' ''}}}
        {{{formatHtml 'Conciergerie' 'conciergerie' '' '-'}}}
        {{{formatHeaderHtml 'Messages' 'message' '' '' ''}}}
        {{{formatHtml 'Nombre de conversation' 'conversation' 'conversation' '-'}}}
        {{{formatHtml 'Nombre de message' 'message' 'message' '-'}}}
        {{{formatHtml 'Conversations occupant' 'conversation' 'Occupant' '-'}}}
        {{{formatHtml 'Messages occupant' 'message' 'Occupant' '-'}}}
        {{{formatHtml 'Conversations gestionnaire' 'conversation' 'Incident' '-'}}}
        {{{formatHtml 'Messages gestionnaire' 'message' 'Incident' '-'}}}
        {{{formatHtml 'Conversations Conseil Syndical' 'conversation' 'Conseil Syndical' '-'}}}
        {{{formatHtml 'Messages Conseil Syndical' 'message' 'Conseil Syndical' '-'}}}
        {{{formatHtml 'Conversations Gardien' 'conversation' 'Gardien' '-'}}}
        {{{formatHtml 'Messages Conseil Syndical' 'message' 'Gardien' '-'}}}
      </table>
    </div>
  {{/if}}

  {{#if selectedStats 'classifieds'}}
    {{> condoDetailsGestionAds }}
  {{/if}}
  {{#if selectedStats 'forum'}}
    {{> condoDetailsGestionForum mode=''}}
  {{/if}}
  {{#if selectedStats 'actuality'}}
    {{> condoDetailsGestionActuality}}
  {{/if}}
  {{#if selectedStats 'incident'}}
    {{> condoDetailsGestionIncident}}
  {{/if}}

</template>
