.containerNewBuildings {
  width: 100%;
  min-height: calc(~'100vh - 202px');
  background-color: white;
  display: flex;
  flex-direction: column;

.newBuildingsContainer {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;

  & > .containerFlex2 {
    display: flex;
    flex-wrap: wrap;

    & > div {
      flex: 1 0 50%;
      min-width: 300px;
    }
  }

  .mb-input, .mb-select {
    padding-top: 24px;
    padding-right: 16px;
  }
  .mb-panel {
    width: calc(~'100% - 16px');
  }
  .mb-button {
    margin-top: 32px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .subBuildingContainer {
    position: relative;

    .mb-input-addIcon {
      position: absolute;
      bottom: 2px;
      right: 45px;

      .addIcon {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 44px;
        height: 44px;
        background: url(img/icons/svg/addtimes.svg) center center no-repeat;
        background-size: 30px 30px !important;
        cursor: pointer;
      }
    }
  }
}
}

#addSubBuilding {
  .mb-input, .mb-select {
    padding-top: 24px;
    padding-right: 16px;
  }
  .saveSubBuilding {
    display: flex;
    margin-top: 22px;
    justify-content: flex-end;
  }
}

.savedBuildings {
  & > .table {
    margin-bottom: 0;
  }
  width: 100%;
  padding: 24px 16px 0 16px;
  background-color: white;

  .containerLine {
    cursor: pointer;
  }
  .containerColumn {
    height: 64px;

    th {
      vertical-align: middle;
      font-family: Lato;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.4px;
      color: #5d5e62;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .lighter {
    color: #8b999f !important;
  }
  .commonColumn {
    vertical-align: middle;
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.4px;
    text-align: left;
    color: #5d5e62;
    width: auto;

    @media (min-width: 1430px) {
      max-width: 200px!important;
    }
  }
  .pictoColumn {
    text-align: right;
    max-width: 42px;
    &.commonColumn {
      display: flex;
      border-top: unset;
    }
    .trash {
      margin-left: auto;
      margin-right: 0;
      width: 24px;
      height: 24px;
      background-image: url('img/icons/svg/trash.svg');
      // background-color: #8b999f;
      // -webkit-mask-image: url('img/icons/svg/trash.svg');
      // mask-image: url('img/icons/svg/trash.svg');
    }
    .edit {
      margin-left: auto;
      margin-right: 0;
      width: 24px;
      height: 24px;
      background-image: url('img/icons/svg/edit.svg');
      // background-color: #8b999f;
      // -webkit-mask-image: url('img/icons/svg/edit.svg');
      // mask-image: url('img/icons/svg/edit.svg');
    }
  }
}
