<template name="MbEmptyMessageFeed">
  <div class="conversation-header">
      <div class="conversation-header-container">
        <div class="conversation-header-user">
          <span class="conversation-header-title conversation-header-title-empty no-pad">
            {{getDicoVar "moduleMessagerieIndex" "o_empty_header"}}<br>
          </span>
        </div>
        <div class="conversation-header-invit-button" data-toggle="modal" data-target="#invitUserInConv">
          <span class="invit-modal-btn" style="cursor: not-allowed">
            <i class="image-icon add-occupant-icon"></i>
          </span>
        </div>
    </div>
    <div class="conversation-header-container-footer" style="margin-top: -9px">
      <span class="otherParticipant-label no-pad">
        {{getDicoVar "moduleMessagerieIndex" "details"}}:
        {{#unless condoHaveLogo condoId}}
          {{getDicoVar "moduleMessagerieIndex" "o_empty_details"}}
        {{else}}
          {{getDicoVar "moduleMessagerieIndex" "o_empty_header"}}
        {{/unless}}
      </span>
    </div>
  </div>
  <div class="conversation-body" style="height: calc(100% - 148px); padding: 10px;">
    <div class="msg-received" name="MbEmptyMessage">
      <div class="msg-received-wrap">
        <div class="msg-wrap">
          <div class="msg-bubble-wrap">
            <div class="msg-bubble">
              <h4 class="msg-bubble-label">
                {{#unless condoHaveLogo condoId}}MonBuilding{{else}}{{getEnterpriseName condoId}}{{/unless}}
              </h4>
              <p class="msg-bubble-label">
                {{getDicoVar "moduleMessagerieIndex" "o_empty_bubblz"}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="conversation-footer">
    <div class="conversation-footer-wrap">
      <div class="message-write-wrap" style="margin-bottom: 10px">
        <div class="message-input-wrap" style="background: #eee; cursor: not-allowed;">
          <div class="message-input-textarea-wrap">
            <div class="message-input-textarea">
              <div class="mb__textarea">
                <textarea id="mb-textarea-f3u8f" rows="2" readonly="true" placeholder="{{getDicoVar 'commonTranslation' 'write_message'}}" style="overflow: hidden; word-wrap: break-word; height: 42px; background: #eee; cursor: not-allowed;"></textarea>
              </div>
            </div>
            <div class="message-input-file-input">
              <div class="file-list">
                <ul class="file-list-ul">
                </ul>
              </div>
            </div>
          </div>
          <div class="message-input-file-button">
            <span class="file-upload-button">
              <input type="file" class="file-upload-button-input">
              <span class="file-upload-icon-wrapper" style="cursor: not-allowed;">
                <span class="file-upload-icon">
                  <img src="/img/icons/svg/attachment.svg" class="img-responsive">
                </span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
