
h4.msg-bubble-label{
    font-weight: 700;
    word-break: break-word;
}
.msg-bubble-label {
  word-break: break-word;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
    color: #5d5e62;
}

.mb-input-empty-message {
    background: #f1f5f6;
    textarea {
        color: #e0e0e0;
        background: transparent;
        opacity: 0.5;
    }
    .attachment-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        img { opacity: 0.5; }
    }
}
