<template name="lambdaDropDown">
	<div class="action {{getClass}} lamdaDropDown {{#if isDisabled}}disabled{{/if}}" style="display:inline-block;">
		<div class="dropdown per-s-list btn">
			<button class="btn clearfix text-left btn-transparent dropdown-toggle buttonElemsView text-hidden" type="button" data-toggle="{{#unless isDisabled}}dropdown{{/unless}}">
				<div class="text-hidden" style="width: calc(100% - 50px); display: inline-block; height: 15px;">
					{{#if getCurrentElemName}}
						{{getCurrentElemName}}
					{{else}}
						{{#if getDefaultElemName}}
							{{getDefaultElemName}}
						{{else}}
							{{placeholder}}
						{{/if}}
					{{/if}}
				</div>
				<span class="caret pull-right"></span>
			</button>
			<div id="dropdownElemsView" class="dropdown-menu" style="width: 100%;">
				<ul class="list-users list-unstyled ulRespon">
					{{#with elems=getElems}}
					{{#each elem in elems}}
						<li data-id="{{elem.id}}" class="dropdown-elems">
							<a class="media">
								<span class="pull-left" href="#">
									<i class="fa {{getFAIcon}}"></i>
								</span>
								<div>

									<h5 class="text-hidden">{{elem.name}}</h5>
									<h6 class="muted-text text-hidden">{{elem.detail}}</h6>

								</div>
							</a>
						</li>
					{{/each}}
					{{/with}}
				</ul>
			</div>
		</div>
	</div>
</template>