.market-upcoming-content-wrapper {
  margin-left: 16px;
  margin-right: 16px;

  .mb-search-bar {
    margin-bottom: 22px;
  }

  .head-container, .service-line-container {
    display: flex;
    & > div {
      &.flex-98 {
        user-select: none;
        flex: 1 0 calc(~'100% - 24px - 16px');
        text-align: left !important;
        padding-left: 16px;
      }
      &.flex-50 {
        flex: 1 0 50%;
      }
      &.flex-30 {
        flex: 1 0 30%;
      }
      &.flex-25 {
        flex: 1 0 25%;
      }
      &.flex-20 {
        flex: 1 0 20%;
      }
      &.flex-15 {
        flex: 1 0 15%;
      }
      &.flex-11 {
        flex: 1 0 11%;
      }
      &.flex-10 {
        flex: 1 0 10%;

        & > .mb-checkbox {
          display: block;
        }
      }
      &.flex-7 {
        flex: 1 0 7%;
      }
      .delete-container {
        background-image: url("img/icons/trash.png");
        background-size: 24px;
        width: 24px;
        height: 24px;
      }
      .edit-container {
        background-image: url("img/icons/edit.png");
        background-size: 24px;
        width: 24px;
        height: 24px;
      }
      &.flex-2 {
        flex: 1 0 24px;
        min-width: 24px;
        .chevron-container {
          -webkit-transition: -webkit-transform 0.3s ease-out;
          -moz-transition:    -moz-transform 0.3s ease-out;
          -o-transition:      -o-transform 0.3s ease-out;
          -ms-transition:     -ms-transform 0.3s ease-out;
          transition:         transform 0.3s ease-out;

          &.chevron-lighter {
            opacity: 0.3;
            background-image: url("img/icons/chevron-down.png");
            background-size: 24px;
            width: 24px;
            height: 24px;
            transform: rotate(270deg);
          }

          &.closed {
            background-image: url("img/icons/chevron-down.png");
            background-size: 24px;
            width: 24px;
            height: 24px;
            transform: rotate(180deg);
          }
          &.opened {
            background-image: url("img/icons/chevron-down.png");
            background-size: 24px;
            width: 24px;
            height: 24px;
            transform: rotate(360deg);
          }
        }
      }
      &.textAlignLeft {
        text-align: left;
      }
      &.textAlignCenter {
        text-align: center !important;
        display: flex;
        justify-content: center;
      }
      &:last-of-type {
        text-align: right;
        display: flex;
        justify-content: flex-end;
      }
      &:first-of-type {
        padding-left: 16px;
      }
    }
  }

  .head-container {
    text-transform: capitalize;
    color: #5d5e62;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 24px;
  }

  .service-line-container {
    .file-basket-container {
      padding-left: 0 !important;
      padding-top: 14px !important;
      padding-bottom: 14px !important;
      padding-right: 15px !important;
      width: 100%;
      height: 100%;
      .file-basket {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    cursor: pointer;
    font-size: 16px;
    color: #5d5e62;
    font-weight: 500;
    height: 48px;
    align-items: center;
    border-bottom: 2px solid #f1f5f6;
    position: relative;

    & > .left-banner {
      position: absolute;
      left: -16px;
      height: 48px;
      width: 6px;
      padding: 0 !important;
      &.banner-secondary {
        background-color: var(--secondary-color);
      }
      &.banner-primary {
        background-color: var(--primary-color);
      }
    }
  }

  .reservationContainer {
    overflow: hidden;
    transition: height 0.3s ease-out;
    height: auto;
  }
}

.text-20-bold {
  font-size: 20px;
  font-weight: 500;
  color: #5d5e62;
}

.text-18-bold {
  font-size: 18px;
  font-weight: 500;
  color: #5d5e62;
}
.text-16-bold {
  font-size: 16px;
  font-weight: 500;
  color: #5d5e62;
}

.text-16-clear {
  font-size: 16px;
  color: #8b999f;
}

.text-14 {
  font-size: 14px;
  color: #8b999f;
  overflow: hidden;
  max-height: 45px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-secondary-color {
  color: var(--secondary-color)
}

.no-border {
  border: none !important;
}

.border-darker {
  border-bottom: 1px solid #D9D9D9 !important;
}

.border-darker-bolder {
  border-bottom: 2px solid #D9D9D9 !important;
}

.border-top-darker-bolder {
  border-top: 2px solid #D9D9D9 !important;
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padding-left-8 {
  padding-left: 8px;
}

.padding-right-8 {
  padding-right: 8px;
}

.height-48 {
  height: 48px !important;
}
.height-80 {
  height: 80px !important;
}
.height-88 {
  height: 88px !important;
}
