<template name='manager_marketPlace_upcoming'>
  {{updateData}}
  {{#if isSubscribeReady}}
    <div class="market-upcoming-content-wrapper">
      {{#let serviceReservations=servicesReservations}}
        {{> MbSearchBar placeHolder=(getDicoVar "commonTranslation" "search") callback=onSearch}}
        {{#if serviceReservations.length}}
          <div class='head-container'>
            <div class='flex-25 textAlignLeft'>{{getDicoVar "commonTranslation" "service"}}</div>
            <div class='flex-10 textAlignLeft'>{{getDicoVar "commonTranslation" "time"}}</div>
            <div class='flex-25 textAlignLeft'>{{getDicoVar "commonTranslation" "occupant"}}</div>
            <div class='flex-25 textAlignLeft'>{{getDicoVar "commonTranslation" "location"}}</div>
            <div class='flex-10 textAlignCenter'>{{getDicoVar "commonTranslation" "complete"}}</div>
            <div class='flex-2'></div>
          </div>
          {{#each item in serviceReservations}}
            {{> MbPanel content=item.displayDate}}
            {{#with parentIndex=@index}}
              {{#each service in item.services}}
                {{#if service.reservations.length}}
                  <div class='service-line-container clickToToggle' data-parentIndex='{{parentIndex}}' data-index='{{@index}}'>
                    {{#if $eq item.date item.displayDate}}
                      <div class='left-banner banner-primary'></div>
                    {{else}}
                      <div class='left-banner banner-secondary'></div>
                    {{/if}}
                    <div class='flex-98'>{{getDicoVar "commonTranslation" (concatStr 'mp_service_' service.key)}} ({{service.reservations.length}})</div>
                    <div class='flex-2'>
                        <div class='chevron-container chevron-container-{{parentIndex}}-{{@index}} closed'></div>
                    </div>
                  </div>
                  <div class='reservationContainer section-{{parentIndex}}-{{@index}}' style='height: 0px;' data-collapsed='true'> {{!-- DO NOT REMOVE INLINE STYLE --}}
                    {{#each reservation in service.reservations}}
                      <div class='service-line-container height-80 clickToPreview' data-reservationId='{{reservation._id}}'>
                        <div class='flex-25 textAlignLeft'>{{reservation.title}}</div>
                        <div class='flex-10 textAlignLeft'>{{getTimeOrDash reservation.time_slot true}}</div>
                        <div class='flex-25 textAlignLeft'>{{getUserName reservation.userId}}</div>
                        <div class='flex-25 textAlignLeft'>
                          <div class='text-basic'>{{getLocationDetail reservation}}</div>
                          <div class='text-clearer'>{{getDicoVar "commonTranslation" (getLocation reservation)}}</div>
                        </div>
                        <div class='flex-10 textAlignCenter'>
                          {{> MbCheckbox checked=(isClicked reservation._id) label="" onClick=(onCheckboxClick reservation._id reservation.condoId)}}
                        </div>
                        <div class='flex-2'>
                          <div class='chevron-container chevron-lighter'></div>
                        </div>
                      </div>
                    {{/each}}
                  </div>
                {{/if}}
              {{/each}}
            {{/with}}
          {{/each}}
        {{else}}
          {{#if isSearchActive}}
            {{> MbEmpty
              title=(getDicoVar 'commonTranslation' 'no_result')
            }}
          {{else}}
            {{> MbEmpty
              title=(getDicoVar 'commonTranslation' 'empty_upcoming_title_manager')
              subTitle=(getDicoVar 'commonTranslation' 'empty_upcoming_subtitle')
            }}
          {{/if}}
        {{/if}}
      {{/let}}
    </div>
  {{else}}
    {{> loader}}
  {{/if}}
  {{> marketPlaceReservationModal (getDataModal)}}
</template>
