<template name="satisfies_stats">
    <div id="satisfaction-tab">
        {{#unless isSeeMoreIncident}}
        <div class="white-box">
            <h2>Satisfaction</h2>
            <p class="sub">{{getDicoVar "stats" "comparison_sub"}}</p>
            <div class="star-container t-star">
                <span id="starOfIncident0" class="fa fa-star" data-rating="1"></span>
                <span id="starOfIncident1" class="fa fa-star" data-rating="2"></span>
                <span id="starOfIncident2" class="fa fa-star" data-rating="3"></span>
                <span id="starOfIncident3" class="fa fa-star" data-rating="4"></span>
                <span id="starOfIncident4" class="fa fa-star" data-rating="5"></span>
                <span class="rating-count">{{#if isIncidentHaveRating}}({{getIncidentRateCount}} {{getDicoVar "stats" "ratings"}}){{/if}}</span>
            </div>
            <div class="rating-container">
                {{starOfIncident}}
                {{#with (calculatePercentageOfIncident 5)}}
                  <div class="rating-item">
                    <span class="rate-number">5</span>
                    <div style='width: 100%; height: 19px; background-color: #e9e9e9;'> {{!-- sorry for that inline-style, i dont have time to creates classes ! --}}
                      <div style='width: {{calculRealPercentage this}}%; background-color: #fdb813; height: 19px'></div>
                    </div>
                    <div class="rating-count">{{calculRealPercentage this}}%</div>
                  </div>{{else}}
                  <div class="rating-item">
                    <span class="rate-number">5</span>
                    <div class="bar inline"></div>
                    <div class="rating-count">0%</div>
                  </div>
                {{/with}}
                {{#with (calculatePercentageOfIncident 4)}}
                  <div class="rating-item">
                    <span class="rate-number">4</span>
                    <div style='width: 100%; height: 19px; background-color: #e9e9e9;'>
                      <div style='width: {{calculRealPercentage this}}%; background-color: #fdb813; height: 19px'></div>
                    </div>
                    <div class="rating-count">{{calculRealPercentage this}}%</div>
                  </div>{{else}}
                  <div class="rating-item">
                    <span class="rate-number">4</span>
                    <div class="bar inline"></div>
                    <div class="rating-count">0%</div>
                  </div>
                {{/with}}
                {{#with (calculatePercentageOfIncident 3)}}
                  <div class="rating-item">
                    <span class="rate-number">3</span>
                    <div style='width: 100%; height: 19px; background-color: #e9e9e9;'>
                      <div style='width: {{calculRealPercentage this}}%; background-color: #fdb813; height: 19px'></div>
                    </div>
                    <div class="rating-count">{{calculRealPercentage this}}%</div>
                  </div>{{else}}
                  <div class="rating-item">
                    <span class="rate-number">3</span>
                    <div class="bar inline"></div>
                    <div class="rating-count">0%</div>
                  </div>
                {{/with}}
                {{#with (calculatePercentageOfIncident 2)}}
                  <div class="rating-item">
                    <span class="rate-number">2</span>
                    <div style='width: 100%; height: 19px; background-color: #e9e9e9;'>
                      <div style='width: {{calculRealPercentage this}}%; background-color: #fdb813; height: 19px'></div>
                    </div>
                    <div class="rating-count">{{calculRealPercentage this}}%</div>
                  </div>{{else}}
                  <div class="rating-item">
                    <span class="rate-number">2</span>
                    <div class="bar inline"></div>
                    <div class="rating-count">0%</div>
                  </div>
                {{/with}}
                {{#with (calculatePercentageOfIncident 1)}}
                  <div class="rating-item">
                    <span class="rate-number">1</span>
                    <div style='width: 100%; height: 19px; background-color: #e9e9e9;'>
                      <div style='width: {{calculRealPercentage this}}%; background-color: #fdb813; height: 19px'></div>
                    </div>
                    <div class="rating-count">{{calculRealPercentage this}}%</div>
                  </div>{{else}}
                  <div class="rating-item">
                    <span class="rate-number">1</span>
                    <div class="bar inline"></div>
                    <div class="rating-count">0%</div>
                  </div>
                {{/with}}
            </div>
            <div class="separator"></div>
            {{#if or (testimoniesOfIncident testimoniesOfRecommendation)}}
                <div class="testimony-wrapper">
                    {{#each testimoniesOfIncident true}}
                        <div class="testimony-item">
                            <div class="avatar-container">
                                {{> userIcon userId=this.userId type="U" hideStatus=true}}
                            </div>
                            <div class="content">
                                <div class="head">
                                    <div class="left">
                                        <h3>{{getFullName this.userId}}</h3>
                                        <p>{{getCondoName this.condoId}}</p>
                                    </div>
                                    <div class="right">
                                        <span>{{humanDateShort this.date}}</span>
                                    </div>
                                </div>
                                <div class="star">
                                    {{#if $gte this.value 1}}
                                        <span class="fa fa-star active" data-rating="1"></span>
                                    {{else}}
                                        <span class="fa fa-star" data-rating="1"></span>
                                    {{/if}}
                                    {{#if $gte this.value 2}}
                                        <span class="fa fa-star active" data-rating="2"></span>
                                    {{else}}
                                        <span class="fa fa-star" data-rating="2"></span>
                                    {{/if}}
                                    {{#if $gte this.value 3}}
                                        <span class="fa fa-star active" data-rating="3"></span>
                                    {{else}}
                                        <span class="fa fa-star" data-rating="3"></span>
                                    {{/if}}
                                    {{#if $gte this.value 4}}
                                        <span class="fa fa-star active" data-rating="4"></span>
                                    {{else}}
                                        <span class="fa fa-star" data-rating="4"></span>
                                    {{/if}}
                                    {{#if $gte this.value 5}}
                                        <span class="fa fa-star active" data-rating="5"></span>
                                    {{else}}
                                        <span class="fa fa-star" data-rating="5"></span>
                                    {{/if}}
                                </div>
                                <p class="comment">{{this.comment}}</p>
                            </div>
                        </div>
                    {{/each}}
                    {{#if showIncidentMoreButton}}
                    <a id="more-incident" class="more-button">{{getDicoVar "stats" "see_all"}} {{getIncidentReviewCount}} {{getDicoVar "stats" "reviews"}}</a>
                    {{/if}}
                </div>
            {{/if}}
        </div>
        <div class="white-box blank"></div>
        {{else}}
        <!--SEE  MORE REVIEW -->
        <div class="white-box no-margin">
            <div class="testimony-wrapper">
                {{#each testimoniesOfIncident false}}
                    <div class="testimony-item">
                        <div class="avatar-container">
                            {{> userIcon userId=this.userId type="U" hideStatus=true}}
                        </div>
                        <div class="content">
                            <div class="head">
                                <div class="left">
                                    <h3>{{getFullName this.userId}}</h3>
                                    <p>{{getCondoName this.condoId}}</p>
                                </div>
                                <div class="right">
                                    <span>{{humanDateShort this.date}}</span>
                                </div>
                            </div>
                            <div class="star">
                                {{#if $gte this.value 1}}
                                    <span class="fa fa-star active" data-rating="1"></span>
                                {{else}}
                                    <span class="fa fa-star" data-rating="1"></span>
                                {{/if}}
                                {{#if $gte this.value 2}}
                                    <span class="fa fa-star active" data-rating="2"></span>
                                {{else}}
                                    <span class="fa fa-star" data-rating="2"></span>
                                {{/if}}
                                {{#if $gte this.value 3}}
                                    <span class="fa fa-star active" data-rating="3"></span>
                                {{else}}
                                    <span class="fa fa-star" data-rating="3"></span>
                                {{/if}}
                                {{#if $gte this.value 4}}
                                    <span class="fa fa-star active" data-rating="4"></span>
                                {{else}}
                                    <span class="fa fa-star" data-rating="4"></span>
                                {{/if}}
                                {{#if $gte this.value 5}}
                                    <span class="fa fa-star active" data-rating="5"></span>
                                {{else}}
                                    <span class="fa fa-star" data-rating="5"></span>
                                {{/if}}
                            </div>
                            <p class="comment">{{this.comment}}</p>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        {{/unless}}
    </div>

    <!--OLD CODE-->
	<!--<div class="row mt10" id="satisfaction-container">-->
		<!--<div class="col-md-12">-->
			<!--<div class="d-panel blue">-->
				<!--<div class="d-panel-head">-->
					<!--<h3>Satisfaction</h3>-->
				<!--</div>-->
				<!--<div class="d-panel-body ">-->
					<!--<div class="d-des-form">-->
						<!--<div>-->
							<!--{{#if doDisplaySatisfactionStats}}-->
							<!--<div class="row content stats-separator">-->

								<!--<div class="col-xs-12">-->
									<!--<div class="col-xs-20">-->
										<!--<p class="category-title">{{getDicoVar "ModuleStat" "howKnow"}}</p>-->
									<!--</div>-->

									<!--<div class="col-xs-20">-->
										<!--<p class="category-title">{{getDicoVar "ModuleStat" "whyResidence"}}</p>-->
									<!--</div>-->

									<!--<div class="col-xs-20">-->
										<!--<p class="category-title">{{getDicoVar "ModuleStat" "howBook"}}</p>-->
									<!--</div>-->

									<!--<div class="col-xs-20">-->
										<!--<p class="category-title">{{getDicoVar "ModuleStat" "globalMarkCondo"}}</p>-->
									<!--</div>-->

									<!--<div class="col-xs-20">-->
										<!--<p class="category-title">{{getDicoVar "ModuleStat" "globalMarkApartment"}}</p>-->
									<!--</div>-->
								<!--</div>-->

								<!--<div class="col-xs-12">-->
									<!--<div class="col-xs-20 equal-height-chart">-->
										<!--<div class="col-xs-12 chart-container">-->
											<!--<div id="how-know-chart-container"></div>-->
										<!--</div>-->
									<!--</div>-->

									<!--<div class="col-xs-20 equal-height-chart">-->
										<!--<div class="col-xs-12 chart-container">-->
											<!--<div id="why-residence-chart-container"></div>-->
										<!--</div>-->
									<!--</div>-->

									<!--<div class="col-xs-20 equal-height-chart">-->
										<!--<div class="col-xs-12 chart-container">-->
											<!--<div id="how-book-chart-container"></div>-->
										<!--</div>-->
									<!--</div>-->

									<!--<div class="col-xs-20 open-bootbox-condo equal-height-chart">-->
										<!--<div class="star-container t-star">-->
											<!--{{starOfCondo}}-->
											<!--<span id="starOfCondo0" class="fa fa-star" data-rating="1"></span>-->
											<!--<span id="starOfCondo1" class="fa fa-star" data-rating="2"></span>-->
											<!--<span id="starOfCondo2" class="fa fa-star" data-rating="3"></span>-->
											<!--<span id="starOfCondo3" class="fa fa-star" data-rating="4"></span>-->
											<!--<span id="starOfCondo4" class="fa fa-star" data-rating="5"></span>-->
										<!--</div>-->
										<!--<div class="rating-container">-->
											<!--{{#with (calculatePercentageOfCondo 5)}}<div class="rating-item"><span class="rate-number">5</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="bar inline" style="width: {{barWidth this}}"></div><div class="rating-count">{{calculRealPercentage this}}%</div></div>{{else}}<div class="rating-item"><span class="rate-number">5</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="rating-count">0%</div></div>{{/with}}-->
											<!--{{#with (calculatePercentageOfCondo 4)}}<div class="rating-item"><span class="rate-number">4</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="bar inline" style="width: {{barWidth this}}"></div><div class="rating-count">{{calculRealPercentage this}}%</div></div>{{else}}<div class="rating-item"><span class="rate-number">4</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="rating-count">0%</div></div>{{/with}}-->
											<!--{{#with (calculatePercentageOfCondo 3)}}<div class="rating-item"><span class="rate-number">3</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="bar inline" style="width: {{barWidth this}}"></div><div class="rating-count">{{calculRealPercentage this}}%</div></div>{{else}}<div class="rating-item"><span class="rate-number">3</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="rating-count">0%</div></div>{{/with}}-->
											<!--{{#with (calculatePercentageOfCondo 2)}}<div class="rating-item"><span class="rate-number">2</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="bar inline" style="width: {{barWidth this}}"></div><div class="rating-count">{{calculRealPercentage this}}%</div></div>{{else}}<div class="rating-item"><span class="rate-number">2</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="rating-count">0%</div></div>{{/with}}-->
											<!--{{#with (calculatePercentageOfCondo 1)}}<div class="rating-item"><span class="rate-number">1</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="bar inline" style="width: {{barWidth this}}"></div><div class="rating-count">{{calculRealPercentage this}}%</div></div>{{else}}<div class="rating-item"><span class="rate-number">1</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="rating-count">0%</div></div>{{/with}}-->
										<!--</div>-->
									<!--</div>-->

									<!--<div class="col-xs-20 open-bootbox-apartment equal-height-chart">-->
										<!--<div class="star-container t-star">-->
											<!--{{starOfApartment}}-->
											<!--<span id="starOfApartment0" class="fa fa-star" data-rating="1"></span>-->
											<!--<span id="starOfApartment1" class="fa fa-star" data-rating="2"></span>-->
											<!--<span id="starOfApartment2" class="fa fa-star" data-rating="3"></span>-->
											<!--<span id="starOfApartment3" class="fa fa-star" data-rating="4"></span>-->
											<!--<span id="starOfApartment4" class="fa fa-star" data-rating="5"></span>-->
										<!--</div>-->
										<!--<div class="rating-container">-->
											<!--{{#with (calculatePercentageOfApartment 5)}}<div class="rating-item"><span class="rate-number">5</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="bar inline" style="width: {{barWidth this}}"></div><div class="rating-count">{{calculRealPercentage this}}%</div></div>{{else}}<div class="rating-item"><span class="rate-number">5</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="rating-count">0%</div></div>{{/with}}-->
											<!--{{#with (calculatePercentageOfApartment 4)}}<div class="rating-item"><span class="rate-number">4</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="bar inline" style="width: {{barWidth this}}"></div><div class="rating-count">{{calculRealPercentage this}}%</div></div>{{else}}<div class="rating-item"><span class="rate-number">4</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="rating-count">0%</div></div>{{/with}}-->
											<!--{{#with (calculatePercentageOfApartment 3)}}<div class="rating-item"><span class="rate-number">3</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="bar inline" style="width: {{barWidth this}}"></div><div class="rating-count">{{calculRealPercentage this}}%</div></div>{{else}}<div class="rating-item"><span class="rate-number">3</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="rating-count">0%</div></div>{{/with}}-->
											<!--{{#with (calculatePercentageOfApartment 2)}}<div class="rating-item"><span class="rate-number">2</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="bar inline" style="width: {{barWidth this}}"></div><div class="rating-count">{{calculRealPercentage this}}%</div></div>{{else}}<div class="rating-item"><span class="rate-number">2</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="rating-count">0%</div></div>{{/with}}-->
											<!--{{#with (calculatePercentageOfApartment 1)}}<div class="rating-item"><span class="rate-number">1</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="bar inline" style="width: {{barWidth this}}"></div><div class="rating-count">{{calculRealPercentage this}}%</div></div>{{else}}<div class="rating-item"><span class="rate-number">1</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="rating-count">0%</div></div>{{/with}}-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->
							<!--{{/if}}-->



							<!--<div class="row content {{#if or (testimoniesOfIncident testimoniesOfRecommendation)}}stats-separator{{/if}}">-->

								<!--<div class="col-lg-4 col-xs-6">-->
									<!--<div class="col-xs-12 open-bootbox-incident">-->
										<!--<p class="category-title">{{getDicoVar "ModuleStat" "incidentGestion"}}</p>-->
										<!--<div class="star-container t-star">-->
											<!--<span id="starOfIncident0" class="fa fa-star" data-rating="1"></span>-->
											<!--<span id="starOfIncident1" class="fa fa-star" data-rating="2"></span>-->
											<!--<span id="starOfIncident2" class="fa fa-star" data-rating="3"></span>-->
											<!--<span id="starOfIncident3" class="fa fa-star" data-rating="4"></span>-->
											<!--<span id="starOfIncident4" class="fa fa-star" data-rating="5"></span>-->
										<!--</div>-->
										<!--<div class="rating-container">-->
											<!--{{starOfIncident}}-->
											<!--{{#with (calculatePercentageOfIncident 5)}}<div class="rating-item"><span class="rate-number">5</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="bar inline" style="width: {{barWidth this}}"></div><div class="rating-count">{{calculRealPercentage this}}%</div></div>{{else}}<div class="rating-item"><span class="rate-number">5</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="rating-count">0%</div></div>{{/with}}-->
											<!--{{#with (calculatePercentageOfIncident 4)}}<div class="rating-item"><span class="rate-number">4</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="bar inline" style="width: {{barWidth this}}"></div><div class="rating-count">{{calculRealPercentage this}}%</div></div>{{else}}<div class="rating-item"><span class="rate-number">4</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="rating-count">0%</div></div>{{/with}}-->
											<!--{{#with (calculatePercentageOfIncident 3)}}<div class="rating-item"><span class="rate-number">3</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="bar inline" style="width: {{barWidth this}}"></div><div class="rating-count">{{calculRealPercentage this}}%</div></div>{{else}}<div class="rating-item"><span class="rate-number">3</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="rating-count">0%</div></div>{{/with}}-->
											<!--{{#with (calculatePercentageOfIncident 2)}}<div class="rating-item"><span class="rate-number">2</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="bar inline" style="width: {{barWidth this}}"></div><div class="rating-count">{{calculRealPercentage this}}%</div></div>{{else}}<div class="rating-item"><span class="rate-number">2</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="rating-count">0%</div></div>{{/with}}-->
											<!--{{#with (calculatePercentageOfIncident 1)}}<div class="rating-item"><span class="rate-number">1</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="bar inline" style="width: {{barWidth this}}"></div><div class="rating-count">{{calculRealPercentage this}}%</div></div>{{else}}<div class="rating-item"><span class="rate-number">1</span><div class="bar inline" style="width: 120px; background: #dcdcdd;"></div><div class="rating-count">0%</div></div>{{/with}}-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->

								<!--{{#if doDisplaySatisfactionStats}}-->
								<!--<div class="col-lg-4 col-xs-6">-->
									<!--<div class="col-xs-12">-->
										<!--<p class="category-title">{{getDicoVar "ModuleStat" "recommend"}}</p>-->
										<!--<div id="recommend-chart-container"></div>-->
									<!--</div>-->
								<!--</div>-->

								<!--<div class="col-md-4 col-lg-hidden">-->
									<!--<div class="col-md-12">-->
										<!--<p class="category-title">{{getDicoVar "ModuleStat" "qualidad"}} : </p>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfHowWasReception}}-->
											<!--<span class="starOfHowWasReception0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfHowWasReception1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfHowWasReception2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "howWasReception"}}</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfHowInventory}}-->
											<!--<span class="starOfHowInventory0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfHowInventory1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfHowInventory2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "howInventory"}}</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfReceptionTeam}}-->
											<!--<span class="starOfReceptionTeam0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfReceptionTeam1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfReceptionTeam2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "receptionTeam"}}</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfCleanliness}}-->
											<!--<span class="starOfCleanliness0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfCleanliness1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfCleanliness2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "cleanliness"}}</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfAmbience}}-->
											<!--<span class="starOfAmbience0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfAmbience1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfAmbience2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "ambience"}}</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfBreakfast}}-->
											<!--<span class="starOfBreakfast0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfBreakfast1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfBreakfast2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "breakfast"}}</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfLaundromat}}-->
											<!--<span class="starOfLaundromat0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfLaundromat1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfLaundromat2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "laundromat"}}</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfChangeOfLinen}}-->
											<!--<span class="starOfChangeOfLinen0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfChangeOfLinen1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfChangeOfLinen2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "changeOfLinen"}}</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfSportsHall}}-->
											<!--<span class="starOfSportsHall0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfSportsHall1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfSportsHall2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "sportsHall"}}</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfInternetConnection}}-->
											<!--<span class="starOfInternetConnection0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfInternetConnection1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfInternetConnection2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "internetConnection"}}</p>-->
										<!--</div>-->
									<!--</div>-->

								<!--</div>-->
								<!--{{/if}}-->
							<!--</div>-->

							<!--{{#if or (testimoniesOfIncident testimoniesOfRecommendation)}}-->
							<!--<div class="row content">-->
								<!--<div class="col-lg-4 col-xs-6 equal-height-elem">-->
									<!--<div class="col-xs-12 open-bootbox-incident open-bootbox-incident-l">-->
										<!--{{#each testimoniesOfIncident}}-->
										<!--<div class="testimony-container">-->
											<!--<div class="t-head">-->
												<!--{{> userIcon userId=this.userId type="U"}}-->
												<!--<div class="t-star">-->
													<!--{{#if $gte this.value 1}}-->
													<!--<span class="fa fa-star active" data-rating="1"></span>-->
													<!--{{else}}-->
													<!--<span class="fa fa-star" data-rating="1"></span>-->
													<!--{{/if}}-->
													<!--{{#if $gte this.value 2}}-->
													<!--<span class="fa fa-star active" data-rating="2"></span>-->
													<!--{{else}}-->
													<!--<span class="fa fa-star" data-rating="2"></span>-->
													<!--{{/if}}-->
													<!--{{#if $gte this.value 3}}-->
													<!--<span class="fa fa-star active" data-rating="3"></span>-->
													<!--{{else}}-->
													<!--<span class="fa fa-star" data-rating="3"></span>-->
													<!--{{/if}}-->
													<!--{{#if $gte this.value 4}}-->
													<!--<span class="fa fa-star active" data-rating="4"></span>-->
													<!--{{else}}-->
													<!--<span class="fa fa-star" data-rating="4"></span>-->
													<!--{{/if}}-->
													<!--{{#if $gte this.value 5}}-->
													<!--<span class="fa fa-star active" data-rating="5"></span>-->
													<!--{{else}}-->
													<!--<span class="fa fa-star" data-rating="5"></span>-->
													<!--{{/if}}-->
												<!--</div>-->
											<!--</div>-->
											<!--<div class="t-body">-->
												<!--<div class="t-comment">-->
													<!--<p class="mb30">{{this.comment}}</p>-->
												<!--</div>-->
											<!--</div>-->
										<!--</div>-->
										<!--{{/each}}-->
									<!--</div>-->
									<!--<div class="seeMoreSatisfy open-bootbox-incident">Voir plus ...</div>-->
								<!--</div>-->


								<!--{{#if doDisplaySatisfactionStats}}-->
								<!--<div class="col-lg-4 col-xs-6 equal-height-elem">-->
									<!--<div class="col-xs-12 open-bootbox-recommend open-bootbox-recommend-l">-->
										<!--{{#each testimoniesOfRecommendation}}-->
										<!--<div class="testimony-container">-->
											<!--<div class="t-head">-->
												<!--<span class="userIcon-main">  -->
													<!--<span class="userIcon" title="{{this.name}}">{{this.initial}}</span>-->
												<!--</span>-->
												<!--<span class="t-name">{{this.name}}</span>-->
											<!--</div>-->
											<!--<div class="t-body">-->
												<!--<div class="t-comment">-->
													<!--<p class="mb30">{{this.value}}</p>-->
												<!--</div>-->
											<!--</div>-->
										<!--</div>-->
										<!--{{/each}}-->
									<!--</div>-->
									<!--<div class="seeMoreSatisfy open-bootbox-recommend">Voir plus ...</div>-->
								<!--</div>-->
								<!--{{/if}}-->
							<!--</div>-->
							<!--{{/if}}-->


							<!--{{#if doDisplaySatisfactionStats}}-->
							<!--<div class="row content col-lg-display">-->
								<!--<div class="col-xs-12">-->
									<!--<div class="col-md-12">-->
										<!--<p class="category-title">{{getDicoVar "ModuleStat" "qualidad"}} : </p>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfHowWasReception}}-->
											<!--<span class="starOfHowWasReception0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfHowWasReception1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfHowWasReception2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "howWasReception"}}</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfHowInventory}}-->
											<!--<span class="starOfHowInventory0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfHowInventory1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfHowInventory2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "howInventory"}}</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfReceptionTeam}}-->
											<!--<span class="starOfReceptionTeam0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfReceptionTeam1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfReceptionTeam2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "receptionTeam"}}</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfCleanliness}}-->
											<!--<span class="starOfCleanliness0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfCleanliness1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfCleanliness2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "cleanliness"}}</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfAmbience}}-->
											<!--<span class="starOfAmbience0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfAmbience1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfAmbience2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "ambience"}}</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfBreakfast}}-->
											<!--<span class="starOfBreakfast0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfBreakfast1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfBreakfast2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "breakfast"}}</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfLaundromat}}-->
											<!--<span class="starOfLaundromat0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfLaundromat1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfLaundromat2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "laundromat"}}</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfChangeOfLinen}}-->
											<!--<span class="starOfChangeOfLinen0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfChangeOfLinen1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfChangeOfLinen2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "changeOfLinen"}}</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfSportsHall}}-->
											<!--<span class="starOfSportsHall0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfSportsHall1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfSportsHall2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "sportsHall"}}</p>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-xs-12">-->
										<!--<div class="star-container t-star inline pull-left">-->
											<!--{{starOfInternetConnection}}-->
											<!--<span class="starOfInternetConnection0 fa fa-star" data-rating="1"></span>-->
											<!--<span class="starOfInternetConnection1 fa fa-star" data-rating="2"></span>-->
											<!--<span class="starOfInternetConnection2 fa fa-star" data-rating="3"></span>-->
										<!--</div>-->
										<!--<div class="col-xs-8">-->
											<!--<p class="no-pad no-mar">{{getDicoVar "ModuleStat" "internetConnection"}}</p>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->
							<!--{{/if}}-->

						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div id="chartjs-satisfy-chart-tooltips" class="chart-tooltips-container">-->
		<!--<table></table>-->
	<!--</div>-->
</template>