@import "../../../../../style/variable";

.stats-separator {
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.testimony-container {
	margin-bottom: 10px;
}

.testimony-container .t-head .userIcon-main {
	height: 24px!important;
	width: 24px!important;
	line-height: 24px;
	font-size: 12px;
	top: -3px;
}

.testimony-container .t-head .userIcon {
	height: 24px!important;
	width: 24px!important;
	line-height: 24px;
	font-size: 12px;
}

.testimony-container .t-head .status-label {
	display: none;
}

.testimony-container .t-body {
	padding-left: 34px;
}

.testimony-container .t-head .t-star {
	padding-left: 8px;
	display: inline-block;
	line-height: 23px;
}

.testimony-container .t-head .t-name {
	padding-left: 8px;
	display: inline-block;
	line-height: 24px;
	position: relative;
	top: -2px;
}

.t-star .fa.fa-star {
	color: #dcdcdd;
	margin-right: 3px;
}
.t-star .fa.fa-star.active,
.t-star .fa.fa-star.color-yellow{
	color: #fdb813;
}


@media (max-width: 1199px) {
	.col-lg-hidden {
		display: none!important;
	}
	.col-lg-display {
		border-top: 1px solid #e1e1e1!important;
		padding-top: 30px!important;
	}
}
@media (min-width: 1199px) {
	.col-lg-display {
		display: none!important;
	}
}

#satisfaction-container {
	.col-xs-20 {
		width: 20%;
		float: left;
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}
	.chart-container {
		position: relative;
		width: 60%;
		min-width: 120px;
		left: 0;
		padding: 0;
		margin: 0;
		top: 15%;
	}
	.pie-satisfy {
		position: relative;
	}
	.content {
		padding: 50px 0;
		padding-top: 0;
		.category-title {
			font-size: 14px;
			text-align: left;
			color: #4a4a4a;
			margin-bottom: 30px;
		}
		#recommend-chart {
			margin-left: -15%;
		}
		.open-bootbox-condo,
		.open-bootbox-apartment {
			padding-left: 19px;
			.star-container {
				margin: 10px 0;
				.fa {
					font-size: 24px;
				}
			}
			.rating-container {
				font-size: 14px;
				line-height: 1.86;
				color: #88898e;
				.rating-item {
					.rating-count {
						position: relative;
						z-index: 3;
						width: 33px;
						text-align: right;
						right: -120px;
						display: inline-block;
						font-size: 11px;
					}
					.rate-number {
						width: 15px;
						display: inline-block;
					}
					.bar {
						background-color: #8b999f;
						height: 11px;
						display: inline-block;
						position: absolute;
						margin-top: 8px;
					}
				}
			}
		}
		.open-bootbox-incident {
			.star-container {
				margin: 20px 0;
				.fa {
					margin-right: 9px;
					font-size: 24px;
				}
			}
			.rating-container {
				font-size: 14px;
				line-height: 1.86;
				color: #88898e;
				.rating-item {
					margin: 10px 0px;
					.rating-count {
						position: relative;
						z-index: 3;
						width: 33px;
						text-align: right;
						right: -120px;
						display: inline-block;
						font-size: 11px;
					}
					.rate-number {
						width: 15px;
						display: inline-block;
					}
					.bar {
						background-color: #8b999f;
						height: 11px;
						display: inline-block;
						position: absolute;
						margin-top: 8px;
					}
				}
			}
		}
		.open-bootbox-incident:last-child::before {
			content: "";
			border-top: 1px solid black;
		}
		.seeMoreSatisfy {
      //color: var(--button-color);
      color: var(--secondary-color);
			bottom: 0;
			position: absolute;
			left: 0;
			right: 0;
			cursor: pointer;
			padding-left: 64px;
			display: none;
		}
		.seeMoreSatisfy:hover {
			text-decoration: underline;
		}
		.testimony {
			border-top: solid 1px #dcdcdd;
			padding-top: 23px;

			.testimony-container {
				margin-bottom: 30px;

				.t-head {
					height: 15px;
					margin-bottom: 6px;

					.fa {
						font-size: 15px;
					}

					.avatar {
						height: 15px;
						width: 15px;
						display: inline-block;
						border-radius: 50%;
						margin-right: 7px;
						background-color: #002a80;

					}
				}

				.t-content {
					padding-left: 22px;

					p {
						font-size: 14px;
						font-style: italic;
						text-align: justify;
						color: #4a4a4a;
					}
				}
			}
		}
	}
}

#satisfaction-tab {
	font-family: @lato;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: @paleBlue;

	.white-box.blank {
		background-color: transparent;
	}
	.white-box:not(:first-child) {
		margin-left: 18px;
	}

	.white-box.no-margin {
		margin: 0;
	}
	.white-box {
		flex: 1;
		margin-top: 16px;
		padding: 16px;
		background-color: @wt;

		h2 {
			font-size: 16px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: -0.4px;
			text-align: left;
			color: @slategrey;
			margin-top: 0;
			margin-bottom: 4px;
		}
		p.sub {
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: -0.3px;
			text-align: left;
			color: @grey3;
			margin-top: 0;
			margin-bottom: 29px;
		}
		.star-container {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 42px;

			span.fa-star {
				font-size: 44px;
				margin-left: 23px;
			}
			span.rating-count {
				font-size: 14px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: -0.3px;
				text-align: right;
				color: @slategrey;
				margin-left: 23px;
			}
		}
		.rating-container {
			flex: 1;
			display: flex;
			flex-direction: column;

			.rating-item {
				flex: 1;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 24px;

				.rate-number, .rating-count {
					font-size: 14px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: -0.3px;
					color: @slategrey;
				}

				.rate-number {
					flex: 0 0 30px;
					text-align: left;
				}

				.rating-count {
					flex: 0 0 40px;
					text-align: center;
				}

				.bar {
					flex: 1;
					height: 19px;
					border-radius: 1px;
					background-color: @wt2;
				}
				.bar.active {
					background-color: @color-warning;
				}
			}
		}

		.separator {
			margin: 8px 16px 25px;
			border-bottom: 1px solid @wt2;
		}

		.testimony-wrapper {
			display: flex;
			flex-direction: column;
			.more-button {
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
        //color: var(--button-color);
        color: var(--secondary-color);
				padding: 8px;
				width: 343px;
        //border: 1px solid var(--button-color);
        border: 1px solid var(--secondary-color);
				margin: auto;
				margin-top: 24px;
				margin-bottom: 16px;
			}
			.testimony-item {
				margin-bottom: 29px;
				display: flex;
				justify-content: space-between;
				.avatar-container {
					flex: 0;
					margin-right: 15px;
					.userIcon-main, .smallprofilepic, .userIcon {
						width: 32px!important;
						height: 32px!important;
						font-size: 16px;
						line-height: 32px;
					}
				}
				.content {
					flex: 1;
					display: flex;
					flex-direction: column;

					.head {
						display: flex;
						flex: 1;
						.left {
							flex: 1;
							h3 {
								font-size: 16px;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: normal;
								letter-spacing: -0.4px;
								text-align: left;
								color: @slategrey;
								margin-top: 0;
								margin-bottom: 3px;
							}
							p {
								font-size: 14px;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: normal;
								letter-spacing: -0.3px;
								text-align: left;
								color: @grey3;
								margin-top: 0;
								margin-bottom: 7px;
							}

						}
						.right {
							flex: 0;
							span {
								font-size: 14px;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: normal;
								letter-spacing: -0.3px;
								text-align: right;
								color: @grey3;
								margin-right: 16px;
							}
						}
					}
					.star {
						flex: 1;
						margin-top: 15px;
						.fa-star {
							font-size: 20px;
						}
					}
					.comment {
						flex: 1;
						font-size: 14px;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						line-height: 1.43;
						letter-spacing: normal;
						text-align: justify;
						color: @grey3;
						margin: 0;
					}
				}
			}
		}
	}
}
