<template name="bar_duration_module">

	<div class="main-modal" id="bar_duration_module-container" style="background: white; padding: 20px; margin-bottom: 30px;">
		<div class="modal-heading pull-left mb30 stat-title">
			<h4 class="modal-title red_color">Durée moyenne d'utilisation par module : </h4>
		</div>
		<div id="chartjs-duration_module-legend" class="global-chart-legend-container">
			<table></table>
		</div>
		<div id="x-axis-arrow-duration_module" class="x-axis-arrow">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</div>
		<div id="chartjs-chart-tooltips-duration_module" class="chart-tooltips-container">
			<table></table>
		</div>
		<canvas id="bar_duration_module"></canvas>
	</div>

</template>