<template name='ActuCard'>
    {{!-- {{#let post=this.element}} --}}
    <div class="card-block small-padding">
        <div class="card-inner">
            <div class="mb-post">
                <div class="mb-post-header">
                    <div class="mb-post-meta">
                        <div class="mb-post-avatar">
                            {{> userIcon template="userIcon" type="U" userId=this.post.userId }}
                        </div>

                        <div class="mb-post-info">
                            <div class="mb-post-username">
                                {{ getName this.post.userId 'firstname' }} {{ getName this.post.userId 'lastname'}} {{ isUser this.post.userId }}
                            </div>
                            <div class="mb-post-created">
                              {{#if isEdited this.post._id}}{{getDicoVar "home" "edited"}}{{else}}{{getDicoVar "moduleActualityIndex" "published_on"}}{{/if}} {{ parseDate this.post.feedDate }} • {{#if $neq this.post.startDate ''}}{{ getDicoVar 'feedList' 'event' }}{{else}}{{ getDicoVar 'feedList' 'information' }}{{/if}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-post-content" data-id="{{this.post._id}}">
                    <div class="mb-post-title mb-post-title-actu truncated">
                        {{ this.post.title }}
                    </div>
                    {{#if this.post.locate}}
                    <div class="mb-post-description mb-post-description-actu">
                        <div>
                          <img src="/img/icons/location.png" style="height: 16px; width: 16px; margin-top: 2px; margin-right: 8px;">
                          {{ this.post.locate }}
                        </div>
                    </div>
                    {{/if}}
                    {{#if and ($neq this.post.startDate '') ($neq this.post.startHour '')}}
                    <div class="mb-post-description mb-post-description-actu">
                        <div>
                          <img src="/img/icons/calendar-grey.png">
                          {{ renderDate this.post }}
                        </div>
                    </div>
                    {{/if}}
                    <div class="mb-post-description mb-post-description-actu truncated break-line">
                        {{ stripHtml this.post.description }}
                    </div>
                    <div class='{{#if hasFiles this.post.hasFiles}}imagesWrapper{{/if}}'>
                    {{#if this.post.filesId}}
                        {{getFilesFromServer this.post.filesId}}
                        <div class="fileViewerTemplate">
                            {{> React
                                component=MbFilePreview
                                files=getFiles
                                newFiles=(newFiles this.post.filesId)
                                layout="13"
                                nativeObject=true
                                limit=4
                                onMore=onMore
                            }}
                        </div>
                    {{/if}}
                    </div>
                </div>
              <div class="mb-post-footer no-padding">
                {{#if post.allowComment}}
                <div class="mb-post-stat mb-post-comment-icon">
                  {{ getCommentCount this.post._id}} {{ getDicoVar 'common' 'comments' }}
                </div>
                {{/if}}
                <div class="mb-post-stat mb-post-view-icon">
                  {{ getViewCount this.post._id }} {{ getDicoVar 'common' 'views' }}
                </div>
              </div>
              {{#if post.allowAction}}
                <div class="event-action">
                  {{> MbButton
                    class=(getButtonClass 'not' post.participantResponse)
                    label=(getDicoVar 'commonTranslation' 'not_going')
                    onClick=(eventResponse this.post._id 'not')
                  }}
                  {{> MbButton
                    class=(getButtonClass 'maybe' post.participantResponse)
                    label=(getDicoVar 'commonTranslation' 'maybe')
                    onClick=(eventResponse this.post._id 'maybe')
                  }}
                  {{> MbButton
                    class=(getButtonClass 'going' post.participantResponse)
                    label=(getDicoVar 'commonTranslation' 'going')
                    onClick=(eventResponse this.post._id 'going')
                  }}
                </div>
              {{/if}}
            </div>
        </div>
    </div>
    {{!-- {{/let}} --}}
</template>
