<template name="pie_state_user">

	<div class="main-modal" id="pie_state_user-container" style="background: white; padding: 20px; margin-bottom: 30px;">
		<progress id="pie_state_user-loading" max="1" value="0" style="width: 100%"></progress>
		<div class="modal-heading pull-left mb30 stat-title">
			<h4 class="modal-title red_color">Pourcentage d'utilisateurs : </h4>
		</div>
		<div id="chartjs-state_user-legend" class="global-chart-legend-container">
			<table></table>
		</div>
		<canvas id="pie_state_user"></canvas>
	</div>

</template>