<template name="MessengerPersonnalManagerContactList">
  {{#let currentTab=getSelectedTab currentConversation=getCurrentConversation selectConversationCb=getSelectConversationCb}}
    <div class="messenger-contact-list">
      <div class="messenger-contact-search-container">
        {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=onSearch}}
      </div>
      {{#each getContact}}
        {{> MessengerPersonnalManagerContactListItem currentTab=currentTab conversation=this currentConversation=currentConversation selectConversationCb=selectConversationCb}}
      {{else}}
        <div>
          {{#if searchIsActive}}
            {{> MbEmpty title=(getDicoVar 'moduleReservationIndex' 'no_result') }}
          {{/if}}
        </div>
      {{/each}}
      {{#if $not searchIsActive}}
        {{> MbEmptyMessage condoId=condoId currentConversation=currentConversation selectConversationCb=selectConversationCb}}
      {{/if}}
    </div>
  {{/let}}
</template>
