<template name="manager_editBuildingModal">
  <div id="modal_manager_occupant_edit_building" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
    {{updateData}}
    <div class="modal-dialog modal-lg">
      <button details="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-heading pull-left">
            <h4 id="myModalLabel" class="modal-title red_color"> {{ getDicoVar 'commonTranslation' 'edit_building_details' }} </h4>
          </div>
        </div>
        <div class="modal-body clearfix" id='occupant_edit_profile'>
          {{#if isOpen}}
            {{#let condoId=getCondo}}
              {{#if condoModulesOptions condoId "profile" "company"}}
                {{> MbInput
                  dataList="companyList"
                  label=(getDicoVar 'commonTranslation' 'company')
                  required=false
                  onInput=(onInputDetails 'company')
                  value=(getForm 'company')
                  placeholder=(getDicoVar 'commonTranslation' 'fill_in_occupant_company')
                }}
                <datalist id="companyList">
                  {{#each company in getCompany}}
                    <option value="{{company.name}}"></option>
                  {{/each}}
                </datalist>
              {{/if}}
              {{#if condoModulesOptions condoId "profile" "floor"}}
                {{> MbInput
                  label=(getDicoVar 'commonTranslation' 'floor')
                  value=(getForm 'floor')
                  required=false
                  onInput=(onInputDetails 'floor')
                  type='number'
                  placeholder=(getDicoVar 'commonTranslation' 'fill_in_occupant_floor')
                }}
              {{/if}}
              {{#if condoModulesOptions condoId "profile" "office"}}
                {{> MbInput
                  label=(getDicoVar 'commonTranslation' 'office')
                  value=(getForm 'office')
                  required=false
                  onInput=(onInputDetails 'office')
                  type='number'
                  placeholder=(getDicoVar 'commonTranslation' 'fill_in_occupant_office_nbr')
                }}
              {{else}}
                {{#if condoModulesOptions condoId "profile" "door"}}
                  {{> MbInput
                    label=(getDicoVar 'commonTranslation' 'door')
                    value=(getForm 'door')
                    required=false
                    onInput=(onInputDetails 'door')
                    type='number'
                    placeholder=(getDicoVar 'commonTranslation' 'fill_in_occupant_door_nbr')
                  }}
                {{/if}}
              {{/if}}
              {{#if condoModulesOptions condoId "profile" "school"}}
                {{> MbSelect
                  selected=(getForm 'school')
                  refresher=(getForm 'school')
                  required=false
                  label=(getDicoVar 'commonTranslation' 'school')
                  onSelect=(onSelectCb 'school')
                  options=(getSchoolOptions)
                  placeholder=(getDicoVar 'commonTranslation' 'select_school')
                }}
              {{/if}}
              {{#if condoModulesOptions condoId "profile" "diploma"}}
                {{> MbInput
                  label=(getDicoVar 'commonTranslation' 'degree')
                  value=(getForm 'diploma')
                  required=false
                  onInput=(onInputDetails 'diploma')
                  placeholder=(getDicoVar 'commonTranslation' 'fill_in_degree')
                }}
              {{/if}}
              {{#if condoModulesOptions condoId "profile" "studies"}}
                {{> MbSelect
                  hasGroup=true
                  group=getStudiesGroup
                  selected=(getForm 'studies')
                  refresher=(getForm 'studies')
                  required=false
                  label=(getDicoVar 'commonTranslation' 'studies')
                  onSelect=(onSelectCb 'studies')
                  options=(getStudiesOptions)
                  placeholder=(getDicoVar 'commonTranslation' 'select_studies')
                }}
              {{/if}}
              {{#if condoModulesOptions condoId "profile" "wifi"}}
                {{> MbInput
                  label=(getDicoVar 'commonTranslation' 'wifi')
                  value=(getForm 'wifi')
                  required=false
                  onInput=(onInputDetails 'wifi')
                  placeholder=(getDicoVar 'commonTranslation' 'fill_in_wifi')
                }}
              {{/if}}
            {{/let}}
          {{/if}}
          <div class="saveContactContainer">
            <a type="submit" class="saveBuilding" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{ getDicoVar 'commonTranslation' 'saving' }}..."> {{ getDicoVar 'commonTranslation' 'personal_details_save' }} </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
