<template name="MbCondoPicker">
	<div id="mb-condo-picker">
		{{> MbSelect
				selected=getSelectedCondo
				required=true
				refresher=getSelectedCondo
				onSelect=onSelectCondo
				label=(getDicoVar "commonTranslation" "condo")
				options=getCondoOptions
				placeholder=(getDicoVar "commonTranslation" "select_building")
		}}
	</div>
</template>
