.mb-condo-picker-error {
  .select2-container {
    border-bottom: 1px solid red !important;
  }
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #8B999F !important;
}
.select2-container--default .select2-search--inline .select2-search__field::placeholder {
  color: #8B999F !important;
}
.select2-container--default .select2-search--inline .select2-search__field:-ms-input-placeholder {
  color: #8B999F !important;
}
.select2-container--default .select2-search--inline .select2-search__field::-ms-input-placeholder {
  color: #8B999F !important;
}
