<template name='admin_entityController'>
  <div class='topBarContainer'>
    {{#if isDetailPage}}
      <div class='topBarModuleNameWithBack'>
        {{getEntityName}}
        <div id='backbutton'>
          <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{getDicoVar 'commonTranslation' 'manager_back'}}
        </div>
      </div>
        <div class='topBarActionButton'>
          <a type="button" class="btn btn-red-confirm actionButton {{getButtonClass}}" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Sauvegarde...">{{setButtonName}}</a>
        </div>
    {{else}}
      <div class='topBarModuleName'>Entités</div>
      <div class='topBarActionButton'>
        <a type="button" class="btn btn-red-confirm addEntity">Ajouter une entité</a>
      </div>
    {{/if}}
  </div>
  {{#if isSubscribeReady}}
    {{> Template.dynamic template=getTemplateName}}
  {{else}}
    {{> loader}}
  {{/if}}
</template>
