.managerProfile {

  .editProfile {
    position: absolute;
    right: 12px;
    top: 8px;
    cursor: pointer;
  }
}

#manager_edit_profile {
  & > div {
    margin-bottom: 23px;
  }
}

.saveContactContainer {
  width: 100%;
  height: 40px;
  position: relative;
  margin-bottom: 30px !important;

  & > a {
    &.disabled {
      cursor: not-allowed;
      filter: alpha(opacity=65);
      -webkit-box-shadow: none;
      box-shadow: none;
      opacity: .65;
      background-color: grey;
    }
    position: absolute;
    right: 0;
    width: 180px;
    height: 40px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--secondary-color);
    color: #fff !important;
    outline: none !important;
    border: none;
    font-weight: 400;
    font-size: 16px;
    padding: 6px 30px;
    border-radius: 0;
    display: inline-block;
  }
}

.settingsWrapper > .settingContainer:last-child {
  border-bottom: 0;
}

.displayNone {
  display: none !important;
}

.displayBlock {
  display: block !important;
}
