<template name='manager_occupantList'>
  <div class='topBarContainer'>
    <div class='topBarModuleName'>{{ getDicoVar 'commonTranslation' 'manager_occupants' }}</div>
    <div class='topBarActionButton'>
      {{!-- {{> CondoDropDown condoList=condoIds condoId=condoIdCb selectAuto=1 classes="pull-right"}} --}}
      {{#if and (userHasRightToAddOccupant) ($not shouldDisplayRestrictedAccess)}}
        <a type="button" class="btn btn-red-confirm invitOccupant">{{getDicoVar 'commonTranslation' 'manager_invite_occupant'}}</a>
      {{/if}}
      {{#if haveActiveDirectory}}
        <a type="button" class="btn btn-outline-red-confirm refresh-users-from-ad">
          {{i18nVarWrapped 'activeDirectory' 'refreshButton'}}
        </a>
      {{/if}}
    </div>
  </div>
  {{#if isSubscribeReady}}
    {{#if shouldDisplayRestrictedAccess}}
      {{> MbRestrictedAccess}}
    {{else}}
      <div class='tabBarContainer'>
        <div class='{{#if $eq selectedTab 'active'}}selectedTabBar{{/if}}' data-tab='active'>{{getDicoVar 'commonTranslation' 'active'}}</div>
        <div class='{{#if $eq selectedTab 'pending'}}selectedTabBar{{/if}}' data-tab='pending'>
          {{getDicoVar 'commonTranslation' 'pending'}}
          {{#with badges=getPendingCounter}}
            {{#unless $eq badges 0}}
              <div class='badges'>{{badges}}</div>
            {{/unless}}
          {{/with}}
        </div>
      </div>
      <div class="containerManagerList">
        {{> Template.dynamic template=getTemplateName data=getData}}
      </div>
    {{/if}}
  {{else}}
    {{> loader}}
  {{/if}}
</template>
