<template name="richTextInput">
    <div class="message_write">
        <div class="editor"></div>
        {{#if withFiles}}
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped table-condensed" style="margin-bottom: 0">
                    <tbody>
                    {{#each file in getFileList}}
                        <tr>
                            <td>
                                {{#if file.done}}
                                    <span style="font-size: 0.8em; color: green;" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                {{else}}
                                    <span style="font-size: 0.8em; color: orange;" class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                                {{/if}}
                            </td>
                            <td style="font-size: 12px">{{file.file.name}}</td>
                            <td>
                                <button type="button" index="{{@index}}" nb="1" class="close close_line removeFile"><i style="font-size: 0.8em;" class="fa fa-times" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{/if}}
        <div style="text-align: right">
            {{#if withFiles}}
                <label class="btn btn-default btn-file button-red" style="cursor: pointer; width: auto">
                    <i class="fa fa-paperclip paperclip" style="color: white" aria-hidden="true"></i><input id="fileUploadInput" type="file" style="display: none;">
                </label>
            {{/if}}
            {{#if cancelRequested}}
              <span id="cancelAnswer" class="btn btn-default button-red mt20" >{{cancelText}}</span>
            {{/if}}
            <span id="sendAnswer" class="btn btn-default button-red mt20" >{{sendText}}</span>
        </div>
    </div> <!--message_section-->
</template>