.select-condos.form-control {
	height: 34px;
	margin-right: 20px;
}

#globalStat-header .select2-selection {
	min-height: 34px !important;
}
.input-min-container {
	display: inline-block;
	width: 100%;
	height: 40px;
	padding: 2px 0;
	margin-bottom: 20px;
	margin-top: 10px;
}
.input-min-label {
	line-height: 34px;
	border-color: white!important;
}
.input-min {
	height: 34px!important;
	margin: auto;
	margin-left: 5px!important;
	margin-right: 0px!important;
	padding-left: 0px!important;
	padding-right: 0px!important;
	position: relative;
	border: 1px solid #e2e2e2;
	overflow: hidden;
	border-radius: 3px;
}
.input-min .input-group-addon,
.input-min input {
	border: 0px solid #fff!important;
	border-color: white!important;
}
.input-min .input-group-addon.input_group_custom {
	border-right: 1px solid #e2e2e2 !important;
}
.w-no-condo {
	line-height: 36px;
	font-size: 16px;
	color: #ff4852;
}
.chart-js-reload {
	position: absolute;
	top: 18px;
	right: 32px;
	padding: 5px;
	height: 32px;
	width: 32px;
	color: #ff0802;
	font-size: 16px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #ff0802;
}
.stat-title {
	min-width: 0!important;
}
.global-chart-legend-container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 40px;
	width: 250px;
}
.global-chart-legend-container .chart-legend-item {
	font-size: 15px !important;
}