<template name="globalStats">
	<div class="backTitle row plpr23" style="margin-bottom: 20px;">
		<div class="col-sm-12">
			<h1 class="pull-left">Statistiques</h1>
		</div>
	</div>

	<div class="col-md-12 plpr23" id="globalStat-header" style="min-height: 55px; padding: 10px; margin-bottom: 20px; background: white;">

		<div class="col-xs-3 input-group date pull-right" style="margin-left: 20px;">
			<span class="input-group-addon input_group_custom">
				<i style="font-size: 20px; color:#88898e" class="fa fa-calendar" aria-hidden="true"></i>
			</span>
			<input type="text" id="datepicker-range" name="daterange" class="datepicker form-control" readonly style="background: white; border-radius: 0px 4px 4px 0px !important; border: 1px solid #ccc; z-index: 0;">
		</div>
		<div class="col-xs-3 input-group date pull-right" style="margin-left: 20px;">
			<div class="multi-select">
				<select name="condo" class="select-condos form-control" multiple="multiple">
					{{#each condo in getcondos}}
						{{#if $neq condo.name condo.info.address}}
						<option value="{{condo._id}}">{{#if $neq condo.info.id "-1"}}({{condo.info.id}}){{/if}} {{condo.name}} - {{condo.info.address}}, {{condo.info.code}} {{condo.info.city}}</option>
						{{else}}
						<option value="{{condo._id}}">{{#if $neq condo.info.id "-1"}}({{condo.info.id}}){{/if}} {{condo.info.address}}, {{condo.info.code}} {{condo.info.city}}</option>
						{{/if}}
					{{/each}}
				</select>
			</div>
		</div>
		<div class="col-xs-3 input-group date pull-right plpr23" style="margin-left: 20px;">
			<div class="multi-select">
				<select name="condo" class="select-type-condos form-control" multiple="multiple">
					<option value="mono">Monopropriété</option>
					<option value="copro">Copropriété</option>
					<option value="etudiante">Résidence Étudiante</option>
					<option value="office">Bureau</option>
				</select>
			</div>
		</div>
	</div>

	<div class="col-xs-12 no-pad">
		{{> bar_new_user option=getOption}}
	</div>

	<div class="col-xs-12 no-pad">
		{{> bar_number_download option=getOption}}
	</div>

	<div class="col-xs-12 no-pad">
		{{> bar_percentage_download option=getOption}}
	</div>

{{!--
	<div class="col-xs-12 no-pad">
		{{> bar_join_and_invit_user option=getOption}}
	</div>
--}}

{{!--
	<div class="col-xs-12 no-pad">
		{{> bar_duration_creation_validation option=getOption}}
	</div>
--}}

	<div class="col-xs-12 no-pad">
		{{> bar_inscription_details option=getOption}}
	</div>

	<div class="col-xs-12 no-pad">
		{{> bar_number_connexion option=getOption}}
	</div>

	<div class="col-xs-12 no-pad">
		{{> bar_duration_connexion option=getOption}}
	</div>

	<div class="col-xs-12 no-pad">
		{{> bar_number_module option=getOption}}
	</div>

	<div class="col-xs-12 no-pad">
		{{> bar_duration_module option=getOption}}
	</div>

	<div class="col-xs-12 no-pad">
		{{> bar_number_conversation option=getOption}}
	</div>

	<div class="col-xs-12 no-pad">
		{{> line_number_message option=getOption}}
	</div>

	<div class="col-xs-12 no-pad">
		{{> bar_number_concierge option=getOption}}
	</div>

	<div class="col-xs-12 no-pad">
		<!-- {{>  option=getOption}} -->
	</div>

  <div class="col-xs-12 no-pad">
		{{> bar_total_users_access_type option=getOption}}
	</div>

  <div class="col-xs-12 no-pad">
		{{> bar_total_users_modules option=getOption}}
	</div>

	<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
</template>
