<template name="integrationsM">
	<div class="row titleView">
		<div class="col-sm-12">
			<div class="panel">
				<div class="panel-heading position_relative">
					<div class="sub-tool-bar clearfix">
            <h1 class="pull-left">{{ getDicoVar 'commonTranslation' 'integration_title' }}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

  {{#if isSubscribeReady}}
    {{#if hasRightInCondos 'integrations' 'see'}}
      <div class="d-contacts-main allListBack">
        <div class='tabBarContainer'>
          <div class="list-tab {{#if selectedTab 'integration'}}selectedTabBar{{/if}}" tab='integration'>{{ getDicoVar 'commonTranslation' 'by_integration' }}</div>
          <div class="list-tab {{#if selectedTab 'condo'}}selectedTabBar{{/if}}" tab='condo'>{{ getDicoVar 'commonTranslation' 'by_building' }}</div>
        </div>
        <div class="search-container search-margin">
          {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=onSearch}}
        </div>
        {{#if selectedTab 'integration'}}
          {{#let integrations=getIntegrations}}
            {{#if integrations.length}}
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="headerImageSpacing">{{ getDicoVar 'commonTranslation' 'provider' }}</th>
                    <th>{{ getDicoVar 'commonTranslation' 'service' }}</th>
                    <th>{{ getDicoVar 'commonTranslation' 'operating_company' }}</th>
                    <th>{{ getDicoVar 'commonTranslation' 'active_in' }}</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each integration in integrations}}
                  <tr class="integrationLine" integrationid="{{integration._id}}">
                    <td>
                      {{#if integration.image}}
                        <img src="{{integration.image}}" class="integrationImage"/>
                      {{else}}
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="integrationImage"/>
                      {{/if}}
                      {{integration.provider}}
                    </td>
                    <td>{{integration.service}}</td>
                    <td>{{integration.company}}</td>
                    <td>{{getActiveBuildings integration._id}} {{ getDicoVar 'commonTranslation' 'buildings' }}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            {{else}}
              {{#unless searchNotEmpty}}
                {{> MbEmpty
                  title=(getDicoVar 'commonTranslation' 'no_integrations')
                  subTitle=(getDicoVar 'commonTranslation' 'no_integrations_text')
                }}
              {{else}}
                {{> MbEmpty
                  title=(getDicoVar 'commonTranslation' 'no_result')
                }}
              {{/unless}}
            {{/if}}
          {{/let}}
        {{else}}
          {{> MbEmpty
            title=(getDicoVar 'commonTranslation' 'no_integrations')
            subTitle=(getDicoVar 'commonTranslation' 'no_integrations_text')
          }}
          {{!-- <table class="table table-hover">
            <thead>
              <tr>
                <th>{{ getDicoVar 'commonTranslation' 'building_name' }}</th>
                <th>{{ getDicoVar 'commonTranslation' 'address' }}</th>
                <th style="text-transform:capitalize!important">{{ getDicoVar 'commonTranslation' 'type' }}</th>
                <th>
                  {{ getDicoVar 'commonTranslation' 'ext_int_1' }}
                  <br />
                  {{ getDicoVar 'commonTranslation' 'ext_int_2' }}
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each condo in getCondos}}
              <tr class="integrationLine" condoid="{{condo._id}}">
                <td>
                  {{condo.info.id}} - {{condo.name}}
                </td>
                <td>
                  {{condo.info.address}}<br/>
                  {{condo.info.code}}, {{condo.info.city}}
                </td>
                <td>{{getTypeCondo condo.settings.condoType}}</td>
                <td>10</td>
              </tr>
              {{/each}}
            </tbody>
          </table> --}}
        {{/if}}
      </div>
    {{else}}
      {{> MbRestrictedAccess }}
    {{/if}}
  {{else}}
    {{> loader}}
  {{/if}}
</template>
