<template name="ReservationCalendar">
  <div id="reservation-calendar" class="wrapper">
    <section class="blue_bg_content" id="mainContent">
      <!-- main_block  -->
      <div class="main_block container-fluid">
        <div class="row">
          <div class="col-sm-12 plpr23 flex">
            <div class="resa-list white">
              <div class="tab-resa calendar">
                <div>
                  {{#if reverseBool showForm}}
                    <button id="backbutton" class="toggle-calendar-button">
                      <i class="image-icon list-icon"></i>
                      <span>{{getDicoVar "moduleReservationIndex" "listview"}}</span>
                    </button>
                  {{/if}}
                </div>
              </div>
              <div id="script-warning">
                {{getDicoVar "moduleReservationIndex" "from_webserver"}}
              </div>

              <div id="loading">{{getDicoVar "moduleReservationIndex" "loading"}}</div>
              {{#if resourcesReady}}
                {{> fullcalendar options}}
              {{else}}
                <h1 style="text-align: center; margin-top: 200px; font-size:60px">
                  <i class="fa fa-spinner fa-spin"></i> {{getDicoVar "moduleReservationIndex" "loading2"}}</h1>
              {{/if}}
            </div>

            <div class="right-wrapper white">
              <div id="minicalendar"></div>
              <div class="spacer"></div>
              <!--<select class="form-control " id="cat-filter"></select>-->
              <div class="select-cat-wrapper">
                {{> MbSelect
                  selected=getSelectedType
                  onSelect=onSelectType
                  options=getTypeOptions
                }}
              </div>
              <div class="spacer"></div>
              <div id="navigator-container"></div>
              <div class="spacer"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
