/*// Custom colors definition*/
/*@green : #96E40E;*/
/*@red : #fe0900;*/
/*@redlight : #ff9ba0;*/
/*@blue : #69D2E7; //rgb(105, 210, 231)*/
/*@bluelight : #dffaff;*/
/*@green : #96E40E;*/
/*@yellow : #fdb814;*/
/*@black : #5d5e62;*/
/*@blacklight : #8b999f;*/
/*@grey : #adadad;*/
/*@greylight : #eeeeee;*/

body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
}

.main-content {
    /*margin-top: 30px;*/
    margin-bottom: 30px;
}

#script-warning {
    display: none;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: red;
}

#loading {
    display: none;
    position: relative !important;
    top: 60px;
    right: 10px;
}

#calendar {
    /*max-width: 900px;*/
    margin: 0px auto;
}

/*#minicalendar thead, tbody {
    border-bottom: 2px #eee solid;
}*/

.fc-center h2 {
    text-transform: capitalize;
    font-size: 26px;
}

.fc-center button {
    background-color: white;
    background-image: none;
    box-shadow: none;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

/*.datepicker-inline {
    width: 100%;
}

.datepicker table {
    width: 100%;
}*/

.spacer { margin:0; padding:0; height:20px; }

.fc-timeline .fc-head .fc-cell-content {
    text-align: center;
    color: inherit;
}

td.fc-resource-area.fc-widget-header,
td.fc-resource-area.fc-widget-content,
td.fc-divider.fc-col-resizer.fc-widget-header
{
    display: none;
}

.fc-highlight {
  background-color: var(--primary-color)!important;
}

.fc-daylinebar {
    height: 99%;
    border: 1px solid rgb(54, 147, 172);
    width: 0px;
    position: absolute;
    top: 2px;
    transform: translateX(100px);
    background-color: white;
    z-index: 1;
}

.fc-weeklinebar {
    border: 1px solid rgb(54, 147, 172);
    height: 0px;
    position: absolute;
    top: 2px;
    transform: translateY(100px);
    background-color: white;
    z-index: 1;
}

.now-hour {
    color: rgb(54, 147, 172)!important;
}

/*.fc-timelineDay-view td.fc-widget-content {
    border: white;
}*/

tbody.fc-body {
    border-left: solid 1px #eee;
    border-right: solid 1px #eee;
    border-bottom: solid 1px #eee;
}

.fc-view-container {
    border-bottom: solid 1px #eee;
}

div.fc-slats td.fc-widget-content.fc-major::after {
    content: " ";
    display: block;
    width: 1px;
    height: 3000px;
    background-image:url('img/bg-major.png');
    background-position: top;
    background-repeat: repeat-y;
}

div.fc-slats td.fc-widget-content.fc-minor::after {
    content: " ";
    display: block;
    width: 1px;
    height: 3000px;
    background-image:url('img/bg-minor.png');
    background-position: top;
    background-repeat: repeat-y;
}

div.fc-slats td.fc-widget-content.fc-minor,
div.fc-slats td.fc-widget-content.fc-major {
    border: 0;
    /*width: 30px!important;*/
}

#reservation .fc table {
    border-collapse: separate;
    border-right: solid 1px #eee;
}

.fc-slats td {
    /*border: inherit;*/
}

#reservation .list-group-item {
    padding: 4px 15px;
}

p.event-header {
    position: absolute;
    top: 0;
    margin: 0;
    line-height: 20px;
    font-size: 14px;
    padding: 6px;
    margin: 4px 0px 4px 0px;
    font-weight: 300;
    color: #5d5e62
}

.fc-left button,
.fc-right button.fc-state-default {
    border: solid #adadad 1px;
    border-radius: 0px!important;
    background-color: white;
    background-image: none;
    margin-left: 1px!important;
    margin-right: 1px!important;
    color: #adadad;
    text-shadow: none;
    box-shadow: none;
}

.fc-right button.fc-state-active,
.fc-right button.fc-state-default:hover {
    border: solid #adadad 1px;
    border-radius: 0px!important;
    background-color: #eeeeee;
    background-image: none;
    margin-left: 1px!important;
    margin-right: 1px!important;
    color: #5d5e62;
    text-shadow: none;
    box-shadow: none;
}

#navigator-container > ul > li > span.indent:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
}

th.fc-day-header span,
.fc-chrono th.fc-widget-header span.fc-cell-text {
    font-weight: normal;
    text-transform: capitalize;
    color: #5d5e62;
}

.fc-widget-header {
    color: #adadad;
}

.fc-cell-text {
    color: inherit;
    font-weight: bold;
}

.fc-widget-header .fc-cell-text::after {
    content: 'h';
}

/*#reservation .datepicker table thead tr th {
    color: inherit;
}*/

/*#reservation .datepicker-inline {*/
    /*text-transform: capitalize;*/
    /*border: none!important;*/
/*}*/

.fc-view > table, .fc-toolbar .fc-state-active, .fc-view {
    z-index: 0;
}

/*#reservation .datepicker table thead tr {
    border: 1px solid white;
    border-bottom: 0;
}*/

/*#reservation .datepicker table tbody tr td {
    border: 1px solid white;
    font-weight: 400;
    font-size: 15px;
}*/
p.event-header span,
span.dotty {
    border-width: 9px;
    border-style: solid;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 0px;
    float: left;
}

span.dotty {
    /*margin-left: 25px;*/
}

div.fc-content span.fc-title,
.fc-time span {
    font-weight: bold;
    font-size: 12px;
}

.fc-month-view span.fc-title {
    font-weight: normal!important;
    text-align: left;
}

.fc-rows:hover {
    cursor: pointer;
}

.fc-no-overlap .fc-timeline-event {
	padding: 2px 0;
}

#navigator-container span.icon.check-icon.glyphicon.glyphicon-check,
#navigator-container span.icon.check-icon.glyphicon.glyphicon-unchecked {
    float: right;
}

#reservation .fc td {
    border-width: 1px 0 0 2px;
    border-color: #eeeeee;
}

#reservation .fc .fc-month-view td {
    border-width: 1px 0 0 1px;
}

#reservation .fc .fc-month-view th {
    border-width: 0 0 0 1px;
}

#reservation .fc .fc-timelineDay-view .fc-slats td.fc-widget-content {
    border-width: 1px 0 0 0;
    border-color: #eeeeee;
}

#reservation .fc .fc-agendaWeek-view .fc-slats td {
    border-width: 1px 0 0 0;
    border-color: #eeeeee;
}

#reservation .fc .fc-agendaWeek-view .fc-content-skeleton td {
    border-width: 1px 0 0 0;
    border-color: #eeeeee;
}

#reservation .fc .fc-agendaWeek-view .fc-bg td.fc-axis {
    border-width: 1px 0 0 0;
    border-color: #eeeeee;
}

#reservation .fc .fc-agendaWeek-view .fc-widget-header th.fc-axis {
    border-width: 0px
}

#reservation div.fc-rows td.fc-widget-content {
    border-width: 0 0 1px 0;
}

#reservation .fc th {
    border-width: 0 0 0 2px;
    border-color: #eeeeee;
}

.modal label {
    font-weight: normal;
}
@media (min-width: 1200px) {

    #reservation .col-lg-3 {
        width: 20%;
    }

    #reservation .col-lg-9 {
        width: 80%;
    }
}

@media (max-width: 1280px) {

    #reservation .fc-center h2 {
        font-size: 14px;
    }
}

@media (max-width: 1154px) {

    #reservation .fc-center button {
        display: none;
    }
}

@media (max-width: 1060px) {
    #reservation .fc-center {
        display: none;
    }
}

#reservation .fc-scroller-canvas .fc-rows tr {
    border-bottom-color: #eee;
    border-top-color: white;
}

span.fc-title {
    text-overflow: ellipsis;
    display: block;
    text-align: center;
    overflow: hidden;
}

#calendar .fc-event {
    border-radius: 0px;
    border: 0px;
}
#calendar .fc-day-grid-event {
    margin: 4px 4px 0;
    padding: 0 2px;
}
#calendar table tbody td .fc-scroller {
  height: 655px !important;
}
#calendar .fc-toolbar .fc-center h2 {
  font-size: 18px !important;
  margin-top: 3px !important;
}

/*#reservation .datepicker table tbody tr td {*/
    /*font-weight: 400;*/
    /*font-size: 15px;*/
    /*height: 31px;*/
/*}*/

#reservation .reservation-left {
    width: 258px;
    float: left;
}
#reservation .reservation-left + div {
     margin-left: 258px;  /* must match the fixed width in the .fixed class */
     overflow: hidden;
}

#reservation .reservation-right {
    padding-left: 20px;
}

reservation .fill {
    min-height: 100%;
    position: relative;
}

reservation .filler:after{
    background-color:inherit;
    bottom: 0;
    content: "";
    height: auto;
    min-height: 100%;
    left: 0;
    margin:inherit;
    right: 0;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1;
}

/*#reservation .righ-responsive {
    height: 100%;
}*/

#reservation .fc-unthemed td {
    border-color: #eeeeee;
}
#navigator-container {
    height: 352px;
    overflow: auto;
    /*border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #ddd;*/
}

#navigator-container .list-group-item {
    border-width: 0px;
}

/*#reservation .datepicker table tr td.active.active {*/
    /*border-color: #fdb814;*/
    /*background-color: #fff;*/
/*}*/

/*#reservation tr th.prev,*/
/*#reservation tr th.next,*/
/*#reservation tr th.datepicker-switch {*/
    /*color: white;*/
    /*background-color: #fdb814;*/
    /*font-weight: bold;*/
/*}*/

/*#reservation .datepicker table {*/
    /*border: 1px solid #fdb814;*/
    /*width: 250px;*/
/*}*/

/*#reservation .datepicker table tr td.today {*/
    /*font-weight: bold;*/
/*}*/

/*#reservation .datepicker i {*/
    /*color: white;*/
/*}*/

/*.fc-view table {
    height: 718px;
}*/

#reservation {
    background-color: white;
    padding-top: 20px;
}

.modaltab {
    width: 49%;
    text-align: center;
}

.mypillsresa > .active > a,
.mypillsresa > .active > a:hover,.mypillsresa > li > a:hover {
    text-decoration: none;
//font-weight: bold;
    border-radius:0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 70, 80);
    color: #000 !important;
    background-color: transparent !important;
}
.mypillsresa > li > a{
    border-radius:0px;
    color: rgb(255, 70, 80);
}

/***************************/
.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-control-indicator {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 50% 50%;
    background-size: 50% 50%;
}
.custom-control-description {
    font-weight: 500;
}
label.segment-title {
    color: #69d2e8;
    display: block;
    width: 100%;
    margin-bottom: .25em;
    font-size: 1.2em;
    font-weight: 600;
}

.resa-choix .custom-radio {
    margin-right: 1em;
}

.resa-choix .custom-control-input:checked~.custom-control-indicator {
    /*-webkit-box-shadow: 0 0 0 3px var(--button-color);*/
    /*box-shadow:0 0 0 3px var(--button-color);*/
    -webkit-box-shadow: 0 0 0 3px var(--secondary-color);
    box-shadow:0 0 0 3px var(--secondary-color);
    background-color: transparent!important;
}

.resa-choix .custom-radio .custom-control-indicator {
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

.resa-choix .custom-radio .custom-control-description {
    padding-left: 5em;
    line-height: 5em;
    font-size: 14px;
    font-weight: 600;
    color: #88898e;
    text-transform: uppercase;
}

.resa-choix .custom-radio.resa.resource .custom-control-indicator {
    background: url('../img/icons/meeting.png') center no-repeat #dffbff;
    background-size: 60%;
}

.resa-choix .custom-radio.resa.creneau .custom-control-indicator {
    background: url('../img/icons/coworking.png') center no-repeat #dffbff;
    background-size: 60%;
}

.resa-choix .custom-radio.resa.eMenager .custom-control-indicator {
    background: url('../img/icons/menage.png') center no-repeat #dffbff;
    background-size: 60%;
}

#spanEDL{
    background: url('../img/icons/edl.png') center no-repeat #dffbff;
    background-size: 60%;
}

.resaEndTime{
    position: absolute;
    top: -103px !important;
}
.resaCat{
    padding: 15px 0 15px 0 !important;
}
.resaCat label{
    margin: 0 !important;
}

#widthModal{
    width: 50% !important;
}
@media (max-width: 650px) {
    #widthModal{
        width: 85% !important;
    }
}

@media (max-width: 440px) {
    #widthModal .modal-footer button{
        margin-bottom: 10px;
    }
}

@media (max-width: 330px) {
    .resa-choix .custom-radio .custom-control-description {
        line-height: 3em !important;
    }
}



.black-label {
    color: black !important;
}

.fc-center {
    font-size: 12px;
}

.form-align-left .control-label {
    text-align: left !important;
    font-weight: 600;
}

.event-pending.fc-event {
    color: white;
    height: 15px;
    background: repeating-linear-gradient(
        135deg,
        #3c3c3c,
        transparent 3px
    );
    opacity: .5;
}

.event-pending.fc-event .fc-bg {
  opacity: 0;
}

.fc-nonbusiness {
    /*background: repeating-linear-gradient(*/
            /*45deg,*/
            /*#606dbc,*/
            /*#606dbc 10px,*/
            /*#465298 10px,*/
            /*#465298 20px*/
    /*);*/
    height: 19px;
    top: 35px!important;
}

.seat-icon {
  height: 12px;
  width: 12px;
  margin-top: -1px
}
