<template name="incident_actions">
	{{#if allReady}}
	<div class="flex col">
		<div class="buildingCaractTitle">
			<h4>Action Modal : "visible par"</h4>
		</div>
		<div class="col-sm-12" style="padding: 20px 30px; background-color: #fff; margin-bottom: 20px;">
			<div class="flex col">
				{{#with rolesChecked=getRolesChecked}}
				{{#each role in getRoleOccupant}}
				<div class="flex characteristicItem">
					<div class="characteristicLabel">{{role.name}}</div>
					<div class="characteristicCheckbox">
						<div class="checkboxred" id="moduleOption">
							<input type="checkbox" name="checkboxVisibleBy" id="{{role._id}}" roleName="{{role.name}}" checked="{{isChecked rolesChecked role._id role.name}}">
							<label for="{{role._id}}"></label>
						</div>
					</div>
				</div>
				{{/each}}
				{{/with}}
			</div>
		</div>
	</div>
	{{/if}}
</template>