<template name="manager_conversationFooter">
  {{#let currentTab=getCurrentTab currentConversation=getCurrentConversation messageIdForEditing=getMessageIdForEditing}}
  {{#if messageIdForEditing}}{{refreshTextAndFile messageIdForEditing}}{{/if}}
  {{#unless isSameMessage}}{{setMessageIdAndResetMessageInput}}{{/unless}}
  <div class="conversation-footer">
    <div class="conversation-footer-wrap">
      <div class="message-write-wrap" style="margin-bottom: 10px">
        <div class="message-input-wrap">
          <div class="message-input-textarea-wrap">
            <div class="message-input-textarea">
              {{> React
                component=MbTextArea
                showLabel=false
                minRow=2
                value=getMessageValue
                onChange=setMessageValue
                onKeyDown=validMessage
                onFocus=checkManagerGlobalRoomExist
                placeholder=(getDicoVar 'commonTranslation' 'write_message')
              }}
            </div>
            <div class="message-input-file-input">
              {{> FileList files=getFiles onFileAdded=onFileAdded onRemove=onFileRemoved}}
            </div>
          </div>
          <div class="message-input-file-button">
            {{> FileUploadButton files=getFiles onFileAdded=onFileAdded }}
          </div>
        </div>
      </div>
    </div>
    {{#if isManagerTab}}
      <div class="conversation-footer-checkbox">
        {{>MbCheckbox setSendNotif}}
      </div>
    {{/if}}
  </div>
  {{/let}}
</template>
