<template name="pagination_panel">
  <ul class="d-pagination" style="padding-left: 0">
        {{#if showPrev }}
            <li>
                <a class="pagePrev"><img src="/img/icons/back.svg"></a>
            </li>
        {{/if}}

        {{#each page in getPages}}
            {{#if $eq page '...'}}
                <li><span>...</span></li>
            {{else}}
                <li class="{{#if $eq getCurrPage page}}active{{/if}}"><a class="pageSelect" index="{{page}}">{{page}}</a></li>
            {{/if}}
        {{/each}}

        {{#if showNext }}
            <li>
                <a class="pageNext"><img src="/img/icons/backto_right.png"></a>
            </li>
        {{/if}}
    </ul>
</template>
