<template name="pagination">
<div class="pagination">
  <div class="btn-group" role="group">
    <button type="button" page="1" class="pageBtn btn {{#if $eq (getPageValue 'curr') 1}}
                                        btn-primary
                                     {{else}}
                                        btn-default
                                     {{/if}}">1</button>
    {{#if hasSpaceWith "first"}}
      <button type="button" class="btn btn-default" disabled>...</button>
    {{/if}}
    {{#if hasPage "prev"}}
      <button type="button" page="{{getPageValue 'prev'}}" class="pageBtn btn btn-default">{{getPageValue "prev"}}</button>
    {{/if}}
    {{#if $neq (getPageValue 'curr') 1}}
    {{#if $neq (getPageValue 'curr') (getPageValue 'last')}}
      <button type="button" page="{{getPageValue 'curr'}}" class="pageBtn btn btn-primary">{{getPageValue "curr"}}</button>
    {{/if}}
    {{/if}}
    {{#if hasPage "next"}}
      <button type="button" page="{{getPageValue 'next'}}" class="pageBtn btn btn-default">{{getPageValue "next"}}</button>
    {{/if}}
    {{#if hasSpaceWith "last"}}
      <button type="button" class="btn btn-default" disabled>...</button>
    {{/if}}
    {{#if hasPage "last"}}
      <button type="button" page="{{getPageValue 'last'}}" class="pageBtn btn {{#if $eq (getPageValue 'curr') (getPageValue 'last')}}
                                        btn-primary
                                     {{else}}
                                        btn-default
                                     {{/if}}">{{getPageValue "last"}}</button>
    {{/if}}
  </div>
</div>
</template>
