.margin-panel-payment {
  margin-bottom: 24px;
  margin-top: 20px;
}

.button-push-right-container {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0;

  .big-button-confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 250px;
    width: fit-content;
    font-size: 18px;
    font-weight: 500;
    height: 48px;
    background-color: var(--secondary-color);
    color: white;
  }
}

.margin-top-30 {
  margin-top: 30px;
}

.max-width-120 {
  max-width: 120px;
}

.containerStatus {
  height: 66px;
  padding: 8px 40px 18px 40px;
  position: relative;
}
.statusWrapper {
}
.bubblesWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}
.bubbleExtern {
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  z-index: 98;
}
.bubbleBasic {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--primary-color);
  background-color: #d9d9d9;
  z-index: 98;
}
.bubbleInternDone {
  width: 12px;
  height: 8px;
  margin-bottom: 4px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  transform: rotate(-45deg);
  z-index: 99;;
}
.bubbleIntern {
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  z-index: 99;
}
.bubbleBorder {
  display: flex;
  border-bottom: 2px solid #d9d9d9;
  align-self: center;
  width: 98%;
  left: 3px;
}
.namesWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.namePaymentText {
  font-size: 14px;
  color: #8b999f;
}
