<template name='occupant_marketBasket'>
  <div class="occupant_module_wrapper">
    <div class='topBarContainer'>
      <div class='topBarModuleName'>{{ getDicoVar 'commonTranslation' 'basket' }} - {{getCondoName}}</div>
    </div>
    <div class="double-container">
      <div class='market-details-left-container' style='min-width: 645px;'>
        {{#if isSubscribeReady}}
          {{#let basket=getBasket}}
            {{#if and basket.hasBook basket.hasPaid}}
              <div class='containerStatus'>
                <div class='statusWrapper'>
                  <div class='bubblesWrapper'>
                    <div class='bubbleExtern'>
                      <div class='{{#if basket.isBook}}bubbleIntern{{else}}bubbleInternDone{{/if}}'></div>
                    </div>
                    <div class='bubbleBorder'></div>
                    <div class='{{#if basket.isBook}}bubbleBasic{{else}}bubbleExtern{{/if}}'>
                    {{#unless basket.isBook}}
                      <div class='bubbleIntern'></div>
                    {{/unless}}
                    </div>
                  </div>
                  <div class='namesWrapper'>
                    <div class='namePaymentText'>Book</div>
                    <div class='namePaymentText'>Pay</div>
                  </div>
                </div>
              </div>
              <div class='margin-panel-payment'>
                {{#if basket.isBook}}
                  {{> MbPanel content=(getDicoVar 'commonTranslation' 'book_on_platform')}}
                {{else}}
                  {{> MbPanel content=(getDicoVar 'commonTranslation' 'pay_on_platform2')}}
                {{/if}}
              </div>
            {{/if}}
            <div class="market-upcoming-content-wrapper">
              {{#if basket.services.length}}
                <div class='head-container border-darker'>
                  <div class='flex-15 max-width-120 textAlignLeft'></div>
                  <div class='flex-50 textAlignLeft'>{{getDicoVar "commonTranslation" "service_item"}}</div>
                  <div class='flex-11 textAlignLeft'>{{getDicoVar "commonTranslation" "price"}}</div>
                  <div class='flex-7 textAlignCenter'>{{getDicoVar "commonTranslation" "edit"}}</div>
                  <div class='flex-7 textAlignCenter'>{{getDicoVar "commonTranslation" "delete"}}</div>
                </div>
                {{#each service in $mapped basket.services}}
                  {{!-- {{#if basket.hasBook}} --}}
                    <div class='service-line-container {{#unless service.$last}}border-darker{{else}}no-border{{/unless}} height-88 clickToPreview' serviceId='{{service.serviceId}}'>
                      <div class='flex-15 max-width-120 textAlignLeft file-basket-container'>
                        {{#with file=(getIcon service.serviceId)}}
                          <div class='file-basket' style='background-image: url("{{file.link}}")'></div>
                        {{/with}}
                      </div>
                      <div class='flex-50 textAlignLeft'>
                        <div class='text-16-bold'>{{service.title}} (x{{service.quantity}})</div>
                        <div class='text-14'>{{service.description}}</div>
                        {{#if service.payment_location}}
                          <div class='text-14'>{{getDicoVar 'commonTranslation' 'payment_location'}}: {{service.payment_location}}</div>
                        {{/if}}
                        {{#if isOutOfStock service.serviceId}}
                          <div class='text-14 text-secondary-color'>{{getDicoVar 'commonTranslation' 'insufficient_quantity'}} ({{getDicoVar 'commonTranslation' 'available_quantity'}}: {{getOutOfStock service.serviceId}})</div>
                        {{/if}}
                        {{#if isTimeSlotUnavailable service.marketReservationsId}}
                          <div class='text-14 text-secondary-color'>{{getDicoVar 'commonTranslation' 'slot_unavailable'}} ({{service.day_selected}} {{service.time_slot}})</div>
                        {{/if}}
                      </div>
                      <div class='flex-11 text-18-bold textAlignLeft'>{{getPrice false (getTotalPrice service.price service.quantity)}}</div>
                      <div class='flex-7 textAlignCenter'>
                        <div class='edit-container' reservationId='{{service.marketReservationsId}}' serviceId='{{service.serviceId}}'></div>
                      </div>
                      <div class='flex-7 textAlignCenter'>
                        <div class='delete-container' reservationId='{{service.marketReservationsId}}'></div>
                      </div>
                    </div>
                  {{!-- {{/if}} --}}
                {{/each}}
                <div class='flex-justify-between border-top-darker-bolder border-darker height-48'>
                  <div class='text-14 padding-left-8'>{{getDicoVar 'commonTranslation' 'subtotal_vat'}}</div>
                  <div class='text-16-clear'>{{basket.subtotal}} €</div>
                </div>
                {{#each vat in $mapped basket.differentVat}}
                  <div class='flex-justify-between {{#unless vat.$last}}border-darker{{/unless}} height-48'>
                    <div class='text-14 padding-left-8'>{{vat.title}}</div>
                    <div class='text-16-clear'>{{vat.value}}</div>
                  </div>
                {{/each}}
                <div class='flex-justify-between border-top-darker-bolder height-48'>
                  <div class='text-16-bold padding-left-8'>{{getDicoVar 'commonTranslation' 'total_vat'}}</div>
                  <div class='text-20-bold'>{{basket.total}} €</div>
                </div>
                {{#if basket.isBook}}
                  <div class="margin-top-30">
                    {{> MbWarning content=(getDicoVar 'commonTranslation' 'pay_for_your_booking')}}
                  </div>
                {{/if}}
                {{#if basket.isBook}}
                  <div class='button-push-right-container'>
                    <div class='big-button-confirm button-valid-book'>{{getDicoVar 'commonTranslation' 'confirm_book'}}</div>
                  </div>
                {{else}}
                  <div class='button-push-right-container'>
                    <div class='big-button-confirm button-valid-paid'>{{getDicoVar 'commonTranslation' 'confirm_paid'}}</div>
                  </div>
                {{/if}}
              {{else}}
                {{#if isSearchActive}}
                  {{> MbEmpty
                    title=(getDicoVar 'commonTranslation' 'no_result')
                  }}
                {{else}}
                  {{> MbEmpty
                    title=(getDicoVar 'commonTranslation' 'empty_basket_title')
                    subTitle=(getDicoVar 'commonTranslation' 'empty_basket_subtitle')
                  }}
                {{/if}}
              {{/if}}
            </div>
            {{> marketBasketReservationModal (getDataModal basket)}}
          {{/let}}
        {{else}}
          {{> loader}}
        {{/if}}
      </div>
      {{!-- {{#if condoHasModule "digitalWallet"}}
        {{#if userHasRight 'wallet' 'see'}}
          <div class='market-details-right-container'>
            WALLET CREDIT GOES HERE
          </div>
        {{/if}}
      {{/if}} --}}
    </div>
  </div>
</template>
