<h1>Ceci est mon gros titre</h1>
<h2>Petit titre</h2>
<b>Graaaaas</b> ou pas gras
Mon nom est :
{{#if checkRodolphe nom}}
    {{nom}}
{{else}}
    pas Rodolphe
{{/if}}
{{#if true}}
  Coucou
{{/if}}
<br/>
