<html lang="fr">
		<head>
			<title>MonBuilding</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      {{{style}}}
		</head>
		<body>
			<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#f1f5f6">
				<tbody>
					<tr>
						<td align="center" bgcolor="#f1f5f6">
							 <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;">
								<tbody>
									<tr>
										<td class="w640" width="640" height="10"></td>
									</tr>
                  {{{emailHeaderLogo}}}
									<tr>
										<td class="w640" width="640" height="1" bgcolor=""></td>
									</tr>
									<tr class="content">
										<td class="w640" width="640" bgcolor="#ffffff">
											<table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
												<tbody>
													<tr>
														<td class="w30" width="30"></td>
														<td class="w580" width="580">
															<table style="padding-bottom:50px !important;" class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
																<tbody>
																	<tr>
																		<td class="w580" width="580">
																			<h2 style="color:#a4a6a5; font-size:40px; font-weight: 300; padding:12px 30px 0 30px; text-transform: capitalize;">Bonjour {{firstname}},</h2>
																			<table style="padding:0 30px 0 30px;" class="w640" width="640">
																				<tbody>
																					<tr>
																						<td>
																							<h2 style="vertical-align:middle;text-align:justify;padding-top: 0px;color: {{primaryColor}}; font-size:17px; font-weight: 200;">
																								Tu as séjourné dans la résidence Les Estudines Paris Rosny.
																							</h2>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																			<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#a1dde9;color:white;padding: 30px 50px 30px 30px;">
																				<tr>
																					<td>
																						<div style="height:130px; width:130px;background-color:white;background-image:url('https://www.monbuilding.com/img/logo_estudines.png');background-repeat:no-repeat;background-size: 70%;background-position:50% 50%;border-radius:9999px;"></div>
																					</td>
																					<td>
																						<h2 style="color:white;font-weight:400;font-size: 1.6em;letter-spacing: 2px;">Donne ton avis !</h2>
																						<div>
																							<img src="https://www.monbuilding.com/img/etoilePleine_48px.png" alt="star" height="39">
																							<img src="https://www.monbuilding.com/img/etoilePleine_48px.png" alt="star" height="39">
																							<img src="https://www.monbuilding.com/img/etoilePleine_48px.png" alt="star" height="39">
																							<img src="https://www.monbuilding.com/img/etoilePleine_48px.png" alt="star" height="39">
																							<img src="https://www.monbuilding.com/img/etoilePleine_48px.png" alt="star" height="39">
																						</div>
																					</td>
																				</tr>
																			</table>
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<p style="color:#8b999f; margin: 30px 0; padding: 0 30px;">
																					Peux-tu prendre quelques minutes pour répondre à ce questionnaire et nous dire ce que tu en as pensé ?
																			</p>
																		</td>
																	</tr>
																	<tr>
																		<td style="text-align: center;">
																			<a href="{{url}}?nogetapp=true" style="color:white;background-color:#fe0900;text-decoration:none;padding:10px 20px; border-radius: 9999px;font-weight:200;display:inline-block;margin-bottom:30px;">Répondre au questionnaire</a>
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<p><span style="padding-left:30px;font-weight: 400;color: #8b999f; font-size: 16px">See you soon&nbsp;!</span></p>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
														<td class="w30" width="30"></td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
									{appDl}}}
                                    {{{emailFooter}}}
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</body>
		</html>
