<html lang="fr">
<head>
  <title>MonBuilding</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  {{{style}}}
</head>
<body>
  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#f1f5f6">
    <tbody>
      <tr>
        <td align="center" bgcolor="#f1f5f6">
           <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;">
            <tbody>
              <tr>
                <td class="w640" width="640" height="10"></td>
              </tr>
              {{{emailHeaderLogo}}}
              <tr>
                <td class="w640" width="640" height="1" bgcolor=""></td>
              </tr>
              <tr class="content">
                <td class="w640" width="640" bgcolor="#ffffff">
                  <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td class="w30" width="30"></td>
                        <td class="w580" width="580">
                          <table style="padding-bottom:50px !important;" class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td class="w580" width="580">
                                  <h2 style="color:#5d5e62; font-size:40px; font-weight: 300; padding:12px 30px 0 30px; text-transform: capitalize;">Bonjour {{firstname}},</h2>
                                  <table style="margin-bottom: 38px; padding: 0px 35px 0px 10px;" class="w640" width="640">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <h2 style="vertical-align:middle;text-align:justify;padding-top: 0px;color: {{primaryColor}}; font-size:20px; font-weight: 400;padding-left: 20px;margin:0;">
                                              Validez votre compte et accédez à l'application du 38-40 avenue des Gobelins 75013 Paris.
                                          </h2>
                                        </td>
                                      </tr>
                                      <tr style="height:20px;"></tr>
                                    </tbody>
                                    <tbody>
                                      <tr>
                                        <td>
                                          <h2 style="text-align: justify; text-justify: inter-word; vertical-align:middle;padding-top: 0px;color: #5d5e62; font-size:16px; font-weight: 400;padding-left: 20px;">
                                              Comme vous le savez, MonBuilding est l'application de votre immeuble et a été installée à la demande d'Allianz. Vous y trouverez de nombreux services dont notamment:
                                          </h2>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                   <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;" width="640">
                                    <tr>
                                      <td style="background-color:#e0f4f8;height:70px;">
                                         <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;" width="640" height="100%">
                                          <tr>
                                            <td style="width:1px;">
                                            <div style="background-color: #62c5d8;height:70px;width:120px;border-top-right-radius:999px;border-bottom-right-radius:999px;
                                            background-size: auto 70%;background-position:50% 50%;background-repeat:no-repeat;background-image:url('https://www.monbuilding.com/img/homePage/actu.png');">
                                            </div>
                                          </td>
                                            <td style="padding-left:40px;">
                                              <h2 style="font-weight:400;color:#353b2a;margin:0;padding:0;">L'actualité de votre immeuble</h2>
                                              <p style="font-weight:200;color:#707070;font-size:0.9em;margin:0;padding:0;">Informations, coupure d'eau à venir, etc</p>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr style="height:20px;"></tr>
                                    <tr>
                                      <td style="background-color:#ffdadc;height:70px;">
                                           <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;" width="640" height="100%">
                                              <tr>
                                                <td style="width:1px;">
                                                  <div style="background-color: #ff454f;height:70px;width:120px;border-top-right-radius:999px;border-bottom-right-radius:999px;
                                                  background-size: auto 70%;background-position:50% 50%;background-repeat:no-repeat;background-image:url('https://www.monbuilding.com/img/homePage/incident.png');"></div>
                                                </td>
                                                <td style="padding-left:40px;">
                                                  <h2 style="font-weight:400;color:#353b2a;margin:0;padding:0;">Les incidents de votre immeuble</h2>
                                                  <p style="font-weight:200;color:#707070;font-size:0.9em;margin:0;padding:0;">Signalez et suivez en temps réel la résolution des incidents</p>
                                                </td>
                                              </tr>
                                          </table>
                                      </td>
                                    </tr>
                                    <tr style="height:20px;"></tr>
                                    <tr>
                                      <td style="background-color:#fff1d0;height:70px;">
                                           <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;" width="640" height="100%">
                                            <tr>
                                              <td style="width:1px;">
                                                <div style="background-color: #fdb813;height:70px;width:120px;border-top-right-radius:999px;border-bottom-right-radius:999px;
                                                background-size: auto 70%;background-position:50% 50%;background-repeat:no-repeat;background-image:url('https://www.monbuilding.com/img/homePage/forumPetiteAnnonce.png');"></div>
                                              </td>
                                              <td style="padding-left:40px;">
                                                  <h2 style="font-weight:400;color:#353b2a;margin:0;padding:0;">Des espaces d'échange entre voisins</h2>
                                                  <p style="font-weight:200;color:#707070;font-size:0.9em;margin:0;padding:0;">Echangez avec vos voisins grâce au forum et petites annonces</p>
                                                </td>
                                            </tr>
                                          </table>
                                      </td>
                                    </tr>
                                    <tr style="height:20px;"></tr>
                                    <tr>
                                      <td style="background-color:#d6edd0;height:70px;">
                                         <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;" width="640" height="100%">
                                          <tr>
                                            <td style="width:1px;">
                                              <div style="background-color: #30a415;height:70px;width:120px;border-top-right-radius:999px;border-bottom-right-radius:999px;
                                              background-size: auto 70%;background-position:50% 50%;background-repeat:no-repeat;background-image:url('https://www.monbuilding.com/img/homePage/concierge.png');"></div>
                                            </td>
                                            <td style="padding-left:40px;">
                                              <h2 style="font-weight:400;color:#353b2a;margin:0;padding:0;">Une conciergerie pour tous vos besoins</h2>
                                              <p style="font-weight:200;color:#707070;font-size:0.9em;margin:0;padding:0;">Mise en relation gratuite avec des professionnels certifiés (plombier, etc)</p>
                                            </td>
                                          </tr>
                                        </table>

                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td class="w640" width="640" height="25px" bgcolor=""></td>
                              </tr>
                              <tr>
                                <td>
                                  <p style="color:#5d5e62; margin: 30px 0px 20px 0px; padding: 0 30px; text-align: justify; text-justify: inter-word;">
                                      Vous possédez déjà un compte. Il vous suffit juste de cliquer sur le bouton ci-dessus et de choisir votre mot de passe. Vous aurez ensuite accès à l'espace de votre immeuble depuis l'app ou le site.
                                  </p>
                                </td>
                              </tr>
                              <tr>
                                <td class="w640" width="640" height="25px" bgcolor=""></td>
                              </tr>
                              <tr>
                                <td style="text-align: center;">
                                  <a href="{{url}}?nogetapp=true" style="color:white;background-color:{{primaryColor}};text-decoration:none;padding:10px 20px; border-radius: 2px;font-weight:200;display:inline-block;margin-bottom:30px;">Valider mon compte</a>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                     <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;" width="640" height="100%">
                                      <tr>
                                        <td>
			                                  <p><span style="padding-left:30px;font-weight: 400;color: #5d5e62; font-size: 16px">A très vite&nbsp;!</span></p>
            			                      <p style="display:-webkit-flex;display:-ms-flexbox;display:flex;;"><span style="padding-left:30px;font-weight: 400;color: #5d5e62; font-size: 16px">Chloé de <a target="_blank" href="https://www.monbuilding.com/fr?nogetapp=true" style="color: {{primaryColor}}; text-decoration: none;font-weight: 400;">MonBuilding </a></span></p>
                                        </td>
                                        <td style="padding-right: 30px; width: 150px;">
		                                    <img style="margin-top: -20px; height: 40px; width: 150px;" width="70" src="https://www.monbuilding.com/img/AllianzByMonBuilding.png">
                                        </td>
                                      </tr>
                                    </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td class="w30" width="30"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              {{{appDl}}}
              {{{emailFooter}}}
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
