<html lang="fr">
<head>
  <title>MonBuilding</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <style type="text/css">

  /* Fonts and Content */
  body, td { font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; font-size:14px; }
  body { background-color: #E8F2F4; margin: 0; padding: 0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
  h2{ padding-top:12px; /* ne fonctionnera pas sous Outlook 2007+ */color:#0E7693; font-size:22px; }
  .im {
    color: rgb(96,96,96)!important;
  }
  @media only screen and (max-width: 480px) {

    table[class=w275], td[class=w275], img[class=w275] { width:135px !important; }
    table[class=w30], td[class=w30], img[class=w30] { width:10px !important; }
    table[class=w580], td[class=w580], img[class=w580] { width:280px !important; }
    table[class=w640], td[class=w640], img[class=w640] { width:300px !important; }
    img{ height:auto;}
    /*illisible, on passe donc sur 3 lignes */
    table[class=w180], td[class=w180], img[class=w180] {
      width:280px !important;
      display:block;
    }
    td[class=w20]{ display:none; }
  }

  </style>
</head>
<body>
  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#f1f5f6">
    <tbody>
      <tr>
        <td align="center" bgcolor="#f1f5f6">
           <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;">
            <tbody>
              <tr>
                <td class="w640" width="640" height="10"></td>
              </tr>

              <tr class="pagetoplogo">
                <td class="w640" width="640">
                  <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
                    <tbody>
                      <tr>
                        <td>
                          <div class="pagetoplogo-content">
                            <img class="w640" style="text-decoration: none; display: block; font-size:30px;" src="https://www.monbuilding.com/img/mailpicture.png" alt="MonBuilding" width="640">
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="w640" width="640" height="1" bgcolor="{{primaryColor}}"></td>
              </tr>
              <tr class="content">
                <td class="w640" width="640" bgcolor="#ffffff">
                  <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td class="w30" width="30"></td>
                        <td class="w580" width="580">
                          <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td class="w580" width="580">
                                  <h2 style="color:{{primaryColor}}; font-size:20px; padding-top:12px;">Une nouvelle actualité [{{sujet}}] a été créée par {{from}}</h2>
                                  <div align="left" class="article-content" style="color:rgb(96,96,96);">
                                    <p>
                                      <i>Merci de vous connecter à votre compte pour consulter la publication.</i>
                                    </p>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td align="center" style="padding: 10px 0 20px 0;">
                                  <table bgcolor="#fe0900" border="0" cellspacing="0" cellpadding="0" style="text-align: center;font-size: 14px; font-family: sans-serif; font-weight: bold; padding: 0 50px 0 50px;">
                                    <tr>
                                      <td height="45">
                                        <a style="font-weight: 200; color: #ffffff; text-decoration: none;letter-spacing: 1px;" href="{{setReplyLink}}?nogetapp=true">Voir l'évènement</a>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              {{{generatedMessage}}}

                              <tr>
                                <td class="w580" width="580" height="1" bgcolor="{{primaryColor}}"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td class="w30" width="30"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="w640" width="640" height="15" bgcolor="#ffffff"></td>
              </tr>
              <tr class="pagebottom">
                <td class="w640" width="640">
                  <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                    <tbody>
                      <tr>
                        <td colspan="5" height="10"></td>
                      </tr>
                      <tr>
                        <td class="w30" width="30"></td>
                        <td class="w580" width="580" valign="top">
                           <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;" bgcolor="#FFFFFF">
                            <tbody>
                              <tr>
                                <td>A très vite !</td>
                              </tr>
                              <tr>
                                <td>L’équipe MonBuilding</td>
                              </tr>
                              <tr>
                                <td>Site:
                                  <a style="color:#255D5C;text-decoration:none;" href="https://www.monbuilding.com"><span style="color: #fe0900;text-decoration:none;">monbuilding.com</span></a>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <h4>Nous suivre : </h4>
                                  <a href="https://twitter.com/MonBuilding" style="float: left; width: 40px; height: 40px; border-radius: 100%; background: #58aceb; margin-right: 15px;">
                                    <img style="margin-left: 6px; height: 25px; margin-top: 7.5px;" src="https://www.monbuilding.com/img/social/twitter.png">
                                  </a>
                                  <a href="https://www.facebook.com/MonBuilding-1623222017978667/" style="float: left; width: 40px; height: 40px; border-radius: 100%; background: #3c5a95; text-align: center;">
                                    <img style="height: 25px; margin-top: 6px; margin-left: -3px;" src="https://www.monbuilding.com/img/social/facebook.png">
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td class="w30" width="30"></td>
                      </tr>
                      <tr>
                        <td colspan="5" height="20"></td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#adadad">
                    <tbody>
                      <tr>
                        <td colspan="5" height="10"></td>
                      </tr>
                      <tr>
                        <td class="w30" width="30"></td>
                        <td class="w580" width="580" valign="top">
                           <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;" bgcolor="#adadad">
                            <tbody>
                              <tr>
                                <td style="padding: 5px 0 0px 0; color:#FFFFFF; font-size:12px;">Tous droits réservés 2017 MonBuilding.</td>
                              </tr>
                              <tr>
                                <td style="padding: 5px 0 0px 0; color:#FFFFFF; font-size:12px;">Le site est édité par MonBuilding&Co, SAS au capital de 100 euros, immatriculée au registre du commerce et des sociétés de Paris sous le numéro 820 950 103. Siège social :</td>
                              </tr>
                              <tr>
                                <td style="color:#FFFFFF; font-size:12px;">146, boulevard de Grenelle</td>
                              </tr>
                              <tr>
                                <td style="color:#FFFFFF; font-size:12px;">75015 Paris</td>
                              </tr>
                              <tr>
                                <td style="color:#FFFFFF; font-size:12px;">France</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td class="w30" width="30"></td>
                      </tr>
                      <tr>
                        <td colspan="5" height="20"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="w640" width="640" height="10"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
