<html lang="en">
<head>
  <title>MonBuilding</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  {{{style}}}
</head>
<body>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#f1f5f6">
  <tbody>
  <tr>
    <td align="center" bgcolor="#f1f5f6">
       <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;">
        <tbody>
        <tr>
          <td class="w640" width="640" height="10"></td>
        </tr>
        {{{emailHeaderLogo}}}
        <tr>
          <td class="w640" width="640" height="1" bgcolor=""></td>
        </tr>
        <tr class="content">
          <td class="w640" width="640" bgcolor="#ffffff">
            <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
              <tbody>
              <tr>
                <td class="w30" width="30"></td>
                <td class="w580" width="580">
                  <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0" style="padding: 20px 0 30px 0;">
                    <tbody>
                    <tr>
                      <td class="w580" width="580">
                        <h2 style="color: #5d5e62; font-size:26px; font-weight: 600; margin-bottom: 26px !important; padding: 0 !important;">You are invited to join the platform dedicated to the building!</h2>
                        <table style=" margin-bottom: 30px !important;">
                          <thead>
                          <tr>
                            <th></th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td class="paddingTable" style="font-weight: 300; color:#5d5e62; font-size:16px;">{{#if gestionnaireName}}The building manager {{gestionnaireName}} has invited you {{else}} You are invited(e){{/if}} to join the platform dedicated to {{condoName}}.</td>
                          </tr>
                          <tr>
                              <td height="20"></td>
                            </tr>
                          <tr>
                            <td align="center" style="padding: 0 0 20px 0;">
                                <div><!--[if mso]>
                                  <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{setPasswordLink}}?nogetapp=true" style="height:48px;v-text-anchor:middle;width:300px;" arcsize="2%" stroke="f" fillcolor="{{primaryColor}}">
                                  <w:anchorlock/>
                                  <center>
                                  <![endif]-->
                                  <a href="{{setPasswordLink}}?nogetapp=true"
                                  style="background-color:{{primaryColor}};border-radius:1px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:18px;font-weight:200;line-height:48px;text-align:center;text-decoration:none;width:50%;-webkit-text-size-adjust:none;">Password setup</a>
                                  <!--[if mso]>
                                  </center>
                                  </v:roundrect>
                                  <![endif]--></div>
                              <br><br>
                            </td>
                          </tr>
                          <tr>
                            <td class="paddingTable" style="font-weight: 300; color:#5d5e62; font-size:16px;">This private platform enables you to :</td>
                          </tr>
                          <tr>
                            <td class="paddingTable" style="font-weight: 300; color:#5d5e62; font-size:16px;">
                              <ul style="margin-top: 10px; margin-bottom: 0; padding-left: 0;">
                                <li class="paddingTableLeft bckPL" style="list-style: none; margin-bottom: 20px"><span class="bcg"></span> be up to date on what is going on in the building</li>
                                <li class="paddingTableLeft bckPL" style="list-style: none; margin-bottom: 20px"><span class="bcg"></span> discuss with the other occupants and the manager of the building</li>
                                <li class="paddingTableLeft bckPL" style="list-style: none;"><span class="bcg"></span> access a range of services</li>
                              </ul>
                            </td>
                          </tr>

                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span style="font-weight: 400;font-size: 16px;color: #5d5e62;">Your building is waiting for you!</span><br>
                        {{#if signature}}
                          <span style="font-weight: 400;font-size: 16px;color: #5d5e62;"><a target="_blank" href="{{signatureLink}}" style="color: {{primaryColor}}; text-decoration: none;font-weight: 400;font-size: 16px;">{{signature}}</a></span>
                        {{/if}}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
                <td class="w30" width="30"></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        {{{appDl}}}
        {{{generatedMessage}}}
        {{{emailFooter}}}
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
