<html lang="fr">
<head>
  <title>MonBuilding</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  {{{style}}}
</head>
<body>
  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#f1f5f6">
    <tbody>
      <tr>
        <td align="center" bgcolor="#f1f5f6">
           <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;">
            <tbody>
              <tr>
                <td class="w640" width="640" height="10"></td>
              </tr>
              {{{emailHeaderLogo}}}
              <tr>
                <td class="w640" width="640" height="1" bgcolor=""></td>
              </tr>
              <tr class="content">
                <td class="w640" width="640" bgcolor="#ffffff">
                  <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td class="w30" width="30"></td>
                        <td class="w580" width="580">
                          <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td class="w580" width="580">
                                  <h2 style="color:#a4a6a5; font-size:40px; font-weight: 300; padding-top:12px; text-transform: capitalize;">Bonjour {{firstname}},</h2>
                                  <h2 style="color: {{primaryColor}}; font-size:20px; font-weight: 400; padding-top:12px; margin-bottom: 38px !important;">Nous avons le plaisir de vous annoncer l’arrivée de la nouvelle version du site MonBuilding, plus design et plus intuitif !</h2>
                                  <div align="left" class="article-content" style="color:rgb(96,96,96);">
                                      <p style="font-weight: 300; color:#585858;">Désormais plus qu’un site, MonBuilding est disponible sur l’<a style="color: {{primaryColor}}; text-decoration: none; font-weight: 400;" href="https://itunes.apple.com/fr/app/monbuilding-votre-immeuble-en-mieux/id1274455987?mt=8" target="_blank">AppStore</a> et <a style="color: {{primaryColor}}; text-decoration: none; font-weight: 400;" href="https://play.google.com/store/apps/details?id=com.monbuilding.app&hl=fr" target="_blank">Google Play</a>. Où que vous soyez, gardez votre immeuble à portée de main!</p>
                                      <p style="font-weight: 300; color:#585858; margin-bottom: 38px !important;">Le site comporte de nombreuses nouveautés et vous offre une expérience améliorée grâce à une <span style="font-weight: bolder">navigation simplifiée</span> et une <span style="font-weight: bolder">utilisation intuitive</span> :</p>
                                      <table style=" margin-bottom: 50px !important;">
                                        <thead>
                                          <tr>
                                            <th></th>
                                            <th></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <!--<img style="width: 17px;" src="https://www.monbuilding.com/img/homePage/aboutCheck.png">-->
                                            <td class="paddingTableLeft bckPL" style="font-weight: 300; color:#585858; font-size:16px;"><span class="bcg"></span> Actualités de l’immeuble</td>

                                            <td class="paddingTableRight bckPR" style="font-weight: 300; color:#585858; font-size:16px;"><span class="bcg"></span> Petites annonces</td>
                                          </tr>

                                          <tr>
                                            <td class="paddingTableLeft bckPL" style="font-weight: 300; color:#585858; font-size:16px;"><span class="bcg"></span> Trombinoscope</td>

                                            <td class="paddingTableRight bckPR" style="font-weight: 300; color:#585858; font-size:16px;"><span class="bcg"></span> Messenger entre occupants</td>
                                          </tr>

                                          <tr>
                                            <td class="paddingTableLeft bckPL" style="font-weight: 300; color:#585858; font-size:16px;"><span class="bcg"></span> Remonté et suivi des</td>

                                            <td class="paddingTableRight bckPR" style="font-weight: 300; color:#585858; font-size:16px;"><span class="bcg"></span> Messenger gardien & gestionnaire </td>
                                          </tr>

                                          <tr>
                                            <td class="paddingTableLeft" style="font-weight: 300; color:#585858; font-size:16px;">incidents</td>
                                            <td class="paddingTableRight" style="font-weight: 300; color:#585858; font-size:16px;"> d'immeuble</td>
                                          </tr>

                                          <tr>
                                            <td class="paddingTableLeft bckPL" style="font-weight: 300; color:#585858; font-size:16px;"><span class="bcg"></span> Forum</td>
                                            <td class="paddingTableRight bckPR" style="font-weight: 300; color:#585858; font-size:16px;"><span class="bcg"></span> Conciergerie avec des proffessionnels </td>
                                          </tr>

                                          <tr>
                                            <td class="paddingTableLeft bckPL" style="font-weight: 300; color:#585858; font-size:16px;"><span class="bcg"></span> Forum Conseil syndical</td>
                                            <td class="paddingTableRight" style="font-weight: 300; color:#585858; font-size:16px;">et vérifiés à votre service</td>
                                          </tr>

                                        </tbody>
                                      </table>
                                      <p style="font-weight: 300; color:#585858;"><span style="font-weight: bolder">Le site change, mais votre compte reste le même !</span> Il vous sera simplement demandé de choisir un nouveau mot de passe à votre prochaine connexion.</p>
                                      <p style="font-weight: 300; color:#585858;">Nous espérons que cette nouvelle plateforme vous plaira.</p>
                                        <p style="font-weight: 300; color:#585858;">N’hésitez pas à nous faire part de vos impressions sur cette nouvelle version à <a style="color: {{primaryColor}}; font-weight: 400;" href="mailto:bonjour@monbuilding.com">bonjour@monbuilding.com</a>. L’objectif est de s’améliorer, encore et toujours&nbsp;!
                                      </p>
                                    </div>
                                </td>
                              </tr>
                              <tr>
                                <td align="center" style="padding: 10px 0 20px 0;">
                                  <br>
                                  <a target="_blank" href="{{setPasswordLink}}">
                                    <button style="text-align:center;font-size:18px;height:40px;font-family:sans-serif;background-color:rgb(255,70,80);border-top-width:0;border-right-width:0;border-bottom-width:0;border-left-width:0;color:white;font-weight:200;letter-spacing:1px;border-radius:16px;width:200px;outline: none;">Se connecter</button></a>
                                  <br><br>
                                </td>
                              </tr>
                              {{{slogan}}}
                              {{{generatedMessage}}}

                              <tr>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td class="w30" width="30"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              {{{emailFooter}}}
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
