<html lang="fr">
<head>
  <title>MonBuilding</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  {{{style}}}
</head>
<body>
  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#f1f5f6">
    <tbody>
      <tr>
        <td align="center" bgcolor="#f1f5f6">
           <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;">
            <tbody>
              <tr>
                <td class="w640" width="640" height="10"></td>
              </tr>
              {{{emailHeaderLogo}}}
              <tr>
                <td class="w640" width="640" height="1" bgcolor=""></td>
              </tr>
              <tr class="content">
                <td class="w640" width="640" bgcolor="#ffffff">
                  <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td class="w30" width="30"></td>
                        <td class="w580" width="580">
                          <table style="padding-bottom:50px !important;" class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td class="w580" width="580">
                                  <h2 style="color:#5d5e62; font-size:40px; font-weight: 300; padding:12px 30px 0 30px; text-transform: capitalize;">Bonjour {{firstname}},</h2>
                                  <table style="padding:0 30px 0 30px;" class="w640" width="640">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <img width="70" src="https://www.monbuilding.com/img/logo_estudines.png">
                                        </td>
                                        <td>
                                          <h2 style="vertical-align:middle;text-align:justify;padding-top: 0px;color: {{primaryColor}}; font-size:17px; font-weight: 400;padding-left: 20px;margin:0;">
                                            Tu n'as pas encore validé ton compte en choisissant ton mot de passe. C'est pourtant nécessaire pour avoir accès à l'application de ta résidence. Regarde ce que tu rates :
                                          </h2>
                                        </td>
                                      </tr>
                                      <tr style="height:20px;"></tr>
                                    </tbody>
                                  </table>
                                   <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;" width="640">
                                    <tr>
                                      <td style="background-color:#e0f4f8;height:70px;">
                                         <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;" width="640" height="100%">
                                          <tr>
                                            <td style="width:1px;">
                                            <div style="background-color: #62c5d8;height:70px;width:120px;border-top-right-radius:999px;border-bottom-right-radius:999px;
                                            background-size: auto 70%;background-position:50% 50%;background-repeat:no-repeat;background-image:url('https://www.monbuilding.com/img/homePage/actu.png');">
                                            </div>
                                          </td>
                                            <td style="padding-left:40px;">
                                              <h2 style="font-weight:400;color:#353b2a;margin:0;padding:0;">Les actus de ta résidence</h2>
                                              <p style="font-weight:200;color:#707070;font-size:0.9em;margin:0;padding:0;">Plus rien ne t'échappera</p>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr style="height:20px;"></tr>
                                    <tr>
                                      <td style="background-color:#ffdadc;height:70px;">
                                           <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;" width="640" height="100%">
                                              <tr>
                                                <td style="width:1px;">
                                                  <div style="background-color: #ff454f;height:70px;width:120px;border-top-right-radius:999px;border-bottom-right-radius:999px;
                                                  background-size: auto 70%;background-position:50% 50%;background-repeat:no-repeat;background-image:url('https://www.monbuilding.com/img/homePage/incident.png');"></div>
                                                </td>
                                                <td style="padding-left:40px;">
                                                  <h2 style="font-weight:400;color:#353b2a;margin:0;padding:0;">Les incidents de ta résidence</h2>
                                                  <p style="font-weight:200;color:#707070;font-size:0.9em;margin:0;padding:0;">Des problèmes tu connaîtras et signaleras</p>
                                                </td>
                                              </tr>
                                          </table>
                                      </td>
                                    </tr>
                                    <tr style="height:20px;"></tr>
                                    <tr>
                                      <td style="background-color:#fff1d0;height:70px;">
                                           <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;" width="640" height="100%">
                                            <tr>
                                              <td style="width:1px;">
                                                <div style="background-color: #fdb813;height:70px;width:120px;border-top-right-radius:999px;border-bottom-right-radius:999px;
                                                background-size: auto 70%;background-position:50% 50%;background-repeat:no-repeat;background-image:url('https://www.monbuilding.com/img/homePage/forumPetiteAnnonce.png');"></div>
                                              </td>
                                              <td style="padding-left:40px;">
                                                  <h2 style="font-weight:400;color:#353b2a;margin:0;padding:0;">L'ambiance dans ta résidence</h2>
                                                  <p style="font-weight:200;color:#707070;font-size:0.9em;margin:0;padding:0;">Avec tes voisins et tes gestionnaires tu échangeras</p>
                                                </td>
                                            </tr>
                                          </table>
                                      </td>
                                    </tr>
                                    <tr style="height:20px;"></tr>
                                    <tr>
                                      <td style="background-color:#e6e7e9;height:70px;">
                                         <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;" width="640" height="100%">
                                          <tr>
                                            <td style="width:1px;">
                                              <div style="background-color: #84898f;height:70px;width:120px;border-top-right-radius:999px;border-bottom-right-radius:999px;
                                              background-size: auto 70%;background-position:50% 50%;background-repeat:no-repeat;background-image:url('https://www.monbuilding.com/img/homePage/resa.png');"></div>
                                            </td>
                                            <td style="padding-left:40px;">
                                              <h2 style="font-weight:400;color:#353b2a;margin:0;padding:0;">Les réservations disponibles</h2>
                                              <p style="font-weight:200;color:#707070;font-size:0.9em;margin:0;padding:0;">En 3 clics l'aspirateur tu réserveras</p>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr style="height:20px;"></tr>
                                    <tr>
                                      <td style="background-color:#d6edd0;height:70px;">
                                         <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;" width="640" height="100%">
                                          <tr>
                                            <td style="width:1px;">
                                              <div style="background-color: #30a415;height:70px;width:120px;border-top-right-radius:999px;border-bottom-right-radius:999px;
                                              background-size: auto 70%;background-position:50% 50%;background-repeat:no-repeat;background-image:url('https://www.monbuilding.com/img/homePage/concierge.png');"></div>
                                            </td>
                                            <td style="padding-left:40px;">
                                              <h2 style="font-weight:400;color:#353b2a;margin:0;padding:0;">Ce dont t'as besoin, quand t'en as besoin</h2>
                                              <p style="font-weight:200;color:#707070;font-size:0.9em;margin:0;padding:0;">Plus de tracas, la conciergerie tu contacteras</p>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p style="color:#5d5e62; margin: 30px 0; padding: 0 30px;">
                                      Valide ton compte sur afin de rejoindre l'espace de ta résidence Les Estudines !
                                  </p>
                                </td>
                              </tr>
                              <tr>
                                <td align="center">
                                    <div><!--[if mso]>
                                      <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{url}}?nogetapp=true" style="height:48px;v-text-anchor:middle;width:300px;" arcsize="2%" stroke="f" fillcolor="{{primaryColor}}">
                                      <w:anchorlock/>
                                      <center>
                                      <![endif]-->
                                      <a href="{{url}}?nogetapp=true"
                                      style="background-color:{{primaryColor}};border-radius:1px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:18px;font-weight:200;line-height:48px;text-align:center;text-decoration:none;width:50%;-webkit-text-size-adjust:none;">Choisir mon mot de passe</a>
                                      <!--[if mso]>
                                      </center>
                                      </v:roundrect>
                                      <![endif]--></div>
                                      <br><br>
                                </td>
                              </tr>
                              {{{slogan}}}
                            </tbody>
                          </table>
                        </td>
                        <td class="w30" width="30"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              {{{appDl}}}
              {{{emailFooter}}}
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
