<html lang="fr">
<head>
  <title>MonBuilding</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  {{{style}}}
</head>
<body>
  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#f1f5f6">
    <tbody>
      <tr>
        <td align="center" bgcolor="#f1f5f6">
           <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 42px;">
            <tbody>
              <tr>
                <td class="w640" width="640" height="10"></td>
              </tr>
              {{{emailHeaderLogo}}}
              <tr>
                <td class="w640" width="640" height="1" bgcolor=""></td>
              </tr>
              <tr class="content">
                <td class="w640" width="640" bgcolor="#ffffff">
                  <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td class="w30" width="30"></td>
                        <td class="w580" width="580">
                          <table style="padding-bottom:50px !important;" class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                              <tr>
                                <td class="w580" width="580">
                                  <h2 style="color:#5d5e62; font-size:40px; font-weight: 300; padding:12px 30px 0 30px; text-transform: capitalize;">Bonjour {{firstname}},</h2>
                                  <table style="padding:0 30px 0 30px; margin-bottom: 38px !important;" class="w640" width="640">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <img width="70" src="https://www.monbuilding.com/img/logo_estudines.png">
                                        </td>
                                        <td>
                                          <h2 style="vertical-align:middle;padding-top: 0px;color: {{primaryColor}}; font-size:20px; font-weight: 400;padding-left: 20px;">
                                            Déjà la rentrée dans ta résidence&nbsp;? Sois tranquille&nbsp;! On te simplifie la vie.
                                          </h2>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <div align="center" class="article-content">
                                      <table class="w640" width="640" style=" margin: 0 0 50px 0 !important;padding: 30px 0px !important" bgcolor="{{primaryColor}}">
                                        <tbody>
                                          <tr>
                                            <td style="font-weight: 300; color:#ffffff; font-size:24px;text-align:center;">Un problème internet&nbsp;?</td>
                                          </tr>
                                          <tr>
                                            <td style="padding-bottom: 20px;font-weight: 300; color:#ffffff; font-size:16px;text-align:center;">C'est dimanche et le fusible a encore sauté&nbsp;?</td>
                                          </tr>
                                          <tr style="font-weight: 300;color:#ffffff;text-align:center;">
                                            <td>
                                              <img width="640" src="https://www.monbuilding.com/img/nosignalwithdot.png">
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="padding-top: 20px;font-weight: 300; color:#ffffff; font-size:24px;text-align:center;">Déclare un incident</td>
                                          </tr>
                                          <tr>
                                            <td style="font-weight: 300; color:#ffffff; font-size:16px;text-align:center;">pour prévenir ton gestionnaire sans te déplacer&nbsp;!</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <p align="left" style="padding-left:30px;font-weight: 400; color:#5d5e62;">
                                        Connecte toi à ton compte, afin de rejoindre l'espace de ta résidence Les Estudines&nbsp;!
                                      </p>
                                    </div>
                                </td>
                              </tr>
                              <tr>
                                <td align="center" style="padding: 10px 0 20px 0;">
                                  <br><br>
                                  <div><!--[if mso]>
                                    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{url}}?nogetapp=true" style="height:48px;v-text-anchor:middle;width:300px;" arcsize="2%" stroke="f" fillcolor="{{primaryColor}}">
                                    <w:anchorlock/>
                                    <center>
                                    <![endif]-->
                                    <a href="{{url}}?nogetapp=true"
                                    style="background-color:{{primaryColor}};border-radius:1px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:18px;font-weight:200;line-height:48px;text-align:center;text-decoration:none;width:50%;-webkit-text-size-adjust:none;">Se connecter</a>
                                    <!--[if mso]>
                                    </center>
                                    </v:roundrect>
                                    <![endif]--></div>
                                <br><br>
                                </td>
                              </tr>
                              {{{slogan}}}
                              <tr>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td class="w30" width="30"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              {{{appDl}}}
              {{{emailFooter}}}
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
