<template name="messageDetailsManagerList">
  <div class="conversation-body">
    <div class="flex-fixer">
    {{updateData}}
    {{#if isNewMessage}}

    {{else}}
    {{!-- {{#if isSubscribeReady}} --}}
      {{#let currentMessage=getMessageFeed usersInformation=getUsersInformation setMessageIdForEditing=getSetMessageIdForEditing usersStatus=getUsersStatus}}
        {{#each dayBloc in currentMessage}}
          {{#each userBlock in dayBloc}}
            {{> messageDetailsManagerListItem currentMessage=userBlock usersInformation=usersInformation setMessageIdForEditing=setMessageIdForEditing usersStatus=usersStatus}}
          {{/each}}
          <div class="list-msg-date-wrap">{{showDate dayBloc}}</div>
        {{/each}}
      {{/let}}
    {{/if}}
    {{!-- {{else}}
      {{> loader}}
    {{/if}} --}}
    {{scrollBottom}}
    </div>
  </div>
</template>
