<template name="module_classifieds_feed">
  <tr class="go-to-classified {{#if isNewAd ad}}is-new{{/if}}" idx="{{ad._id}}" style="cursor: pointer;">
      <td class="a-title">{{ad.title}}</td>
      <td class="a-price">{{#if ad.price}}{{ad.price}} €{{else}}Ø{{/if}}</td>
      <td class="a-image"><img src="/img/anonymous.png" class="img-responsive img-circle" /></td>
  </tr>
</template>
