<template name="module_classifieds_form">
    <div class="card-block small-padding">
        <div class="card-inner">
            <div class="form-group">
                {{> MbInput
                        value=(getFormData 'title')
                        required=true
                        label=(getDicoVar 'moduleClassifiedsViewAd' 'label_title')
                        placeholder=(getDicoVar 'moduleClassifiedsViewAd' 'placeholder_title')
                        bordered=true
                        isError=(isFieldError 'title')
                        onInput=(setFormData 'title')
                }}
            </div>

            <div class="form-group">
                {{> MbInput
                        value=(getFormData 'price')
                        label=(getDicoVar 'moduleClassifiedsViewAd' 'label_price')
                        placeholder=(getDicoVar 'moduleClassifiedsViewAd' 'placeholder_price')
                        onInput=(setFormData 'price')
                        isError=(isFieldError 'price')
                        maxLength=7
                }}
            </div>

            <div class="form-group">
                {{> MbInput
                        value=(getFormData 'description')
                        required=true
                        label=(getDicoVar 'moduleClassifiedsViewAd' 'label_description')
                        placeholder=(getDicoVar 'moduleClassifiedsViewAd' 'placeholder_description')
                        bordered=true
                        isError=(isFieldError 'description')
                        onInput=(setFormData 'description')
                }}
            </div>

            {{> FileList files=files onRemove=onFileRemoved onFileAdded=onFileAdded }}
        </div>
        <div class="card-footer card-footer-column">
            <div class="card-footer-left mh16">
                {{> FileUploadButton files=files onFileAdded=onFileAdded wrapperClass="d-flex-end" }}
                <!--<span class="card-action-button icon-camera"></span>-->
                <!--<span class="card-action-button icon-attachment"></span>-->
            </div>
      			<button id="saveAd" class="btn pull-right btn-red" disabled="{{ disableSubmit }}" type="submit" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'moduleClassifiedsList' 'sending'}}...">{{ getDicoVar "moduleClassifiedsList" "submit" }}</button>
        </div>
    </div>
</template>