<template name="module_classifieds_comment">
    <div class="mb-comment">
        <div class="mb-comment-label">
            {{ getDicoVar 'moduleClassifiedsViewAd' 'comments' }}
        </div>
        {{#if userHasRight "ads" "answer"}}
            <div class="mb-comment-message">
                <div class="mb-comment-row">
                    <div class="mb-comment-textarea">
                        {{> React
                                value=getMessage
                                component=MbTextArea
                                onKeyDown=bindKeyDown
                                onChange=updateMessage
                                showLabel=false
                                placeholder=(getDicoVar 'commonTranslation' 'write_comment')
                                minRow=3
                        }}
                    </div>
                </div>
                {{> FileList files=getFiles onRemove=onFileRemoved onFileAdded=onFileAdded }}
            </div>

            <div class="mb-comment-actions">
				<div class="d-flex-end mh16">
					{{> FileUploadButton files=getFiles onFileAdded=onFileAdded }}
				</div>
                <button class="mb-comment-save btn btn-red" disabled="{{ disableSubmit }}" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'moduleClassifiedsList' 'sending'}}...">
                    {{getDicoVar "moduleClassifiedsViewAd" "save"}}
                </button>
            </div>
        {{/if}}
        <div class="mb-comment-list">
            {{#each feed in getMessages}}
                <div class="mb-comment-item">
                    <div class="mb-comment-row">
                        <div class="mb-comment-avatar">
                            {{#if isManager}}
                                {{> userIcon userId=feed.userId type="U" dataGestionnaire=1}}
                            {{else}}
                                {{> userIcon userId=feed.userId type="U" dataOccupant=1}}
                            {{/if}}
                        </div>
                        <div class="mb-comment-content">
                            <div class="mb-comment-username">
                                <div>{{ getName feed.userId 'firstname' }} {{ getName feed.userId 'lastname' }}</div>
                            </div>
                            <div class="mb-comment-timestamp">
                                <div>{{ getPostedState feed }} {{ parseAdCreated feed.date }}</div>
                            </div>
                            <div class="mb-comment-text">
                                {{#if isCurrentlyEdit feed._id }}
                                    <div class="mb-comment-text-edit">
                                        <div>
                                            {{> React
                                                value=getEditedCommentMessage
                                                component=MbTextArea
                                                showLabel=false
                                                minRow=3
                                                onChange=onEditedCommentChange
                                                onKeyDown=onEditCommentKeyDown
                                            }}
                                        </div>

                                        {{> FileList
                                            files=getPreviewFiles
                                            onFileAdded=onEditCommentFileAdded
                                            onRemove=onEditCommentFileRemoved
                                            showDropBox=true
                                        }}

                                        <div class="mb-comment-edit-action">
                                            <button class="btn btn-red" id="cancel-update">
                                                {{getDicoVar "common" "cancel"}}
                                            </button>
                                            <button class="btn btn-red" id="commit-update" disabled="{{ disableSubmitEdit }}">
                                                {{getDicoVar "moduleClassifiedsViewAd" "save"}}
                                            </button>
                                        </div>
                                    </div>

                                {{else}}
                                    <p class="break-line">
                                        {{{ hyperlink feed.message }}}
                                    </p>
                                {{/if}}
                            </div>

                            {{#if $not (isCurrentlyEdit feed._id) }}
                                {{#if feed.files}}
                                <div class="mb-comment-attachment">
                                    {{> React
                                            component=MbFilePreview
                                            files=(getFilesCursor feed.files)
                                            newFiles=(getNewFiles feed.files)
                                            layout="5"
                                    }}
                                </div>
                                {{/if}}
                            {{/if}}
                        </div>
                        {{#if $not (isCurrentlyEdit feed._id) }}
                            <div class="mb-comment-action">
                                {{#if canModify feed}}
                                    <span class="mb-comment-icon icon-delete delete-comment"
                                          data-comment-id="{{ feed._id }}"></span>
                                    <span class="mb-comment-icon icon-edit edit-comment"
                                          data-comment-id="{{ feed._id }}"></span>
                                {{else}}
                                    {{#if isManager }}
                                        <span class="mb-comment-icon icon-delete delete-comment"
                                              data-comment-id="{{ feed._id }}"></span>
                                    {{/if}}
                                {{/if}}
                            </div>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>
