<template name="module_classifieds_view_ad">
  <div class="wrapper">
    <section class="blue_bg_content" id="mainContent">
      <div class="{{#unless _IsManagerView}}main_block container-fluid{{/unless}}">
        {{#if isSubscribeReady}}
          <div class="row">
            <div class="col-sm-12 {{#unless _IsManagerView}}plpr23{{else}}plpr20{{/unless}}">
              <div class="panel {{#unless _IsManagerView}}mt80{{else}}panel_gestionnaire{{/unless}}">
                <div class="panel-heading position_relative">
                  <div class="sub-tool-bar clearfix">
                    <h1 class="pull-left">
                      {{getDicoVar "moduleClassifiedsViewAd" "offers"}}{{#unless _IsManagerView}} - {{getAddress}}{{/unless}}
                      <small style="display: block; margin-top: 15px;">
                        <button type="button" class="backToClassifieds" style="background: none;border: none;color: #999; padding: 0">
                          <img src="/img/icons/back.svg" height="15" style="margin-right: 6px;"> {{getDicoVar "moduleClassifiedsViewAd" "return"}}
                        </button>
                      </small>
                    </h1>
                    <div class="pull-right action">
                      {{#if $not isEditMode}}
                        {{#let thisAd=ad}}
                          {{#if canDelete thisAd}}
                            <button class="btn bordered-btn" id="delete-ad" data-ad-id="{{ thisAd._id }}">
                              {{getDicoVar "moduleClassifiedsViewAd" "remove"}}
                            </button>
                          {{/if}}
                          {{#if canModify thisAd}}
                            <button class="btn bordered-btn" id="modify-ad">
                              {{getDicoVar "moduleClassifiedsViewAd" "editing"}}
                            </button>
                          {{/if}}
                        {{/let}}
                      {{else}}
                        <button class="btn ad-bordered-btn" id="cancel-edit">
                          {{getDicoVar "common" "cancel"}}
                        </button>
                        <button class="btn ad-bordered-btn" id="update-ad" disabled="{{ disableSubmit }}">
                          {{getDicoVar "moduleClassifiedsViewAd" "save"}}
                        </button>
                      {{/if}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content -->

          <div class="row">
            <div class="col-xs-12 {{#unless _IsManagerView}}plpr23{{else}}plpr20{{/unless}}">
              <div class="card item">
                <div class="card-block small-padding nobottom">
                  <div class="card-inner card-inner-no-border">
                    <div class="mb-post mb-post-ad" data-ad-id="{{ ad._id }}">
                      <div class="mb-post-header">
                        <div class="mb-post-meta">
                          <div class="mb-post-avatar">
                            {{> userIcon
                              template="userIcon"
                              type="U"
                              userId=ad.userId
                            }}
                          </div>
                          <div class="mb-post-info">
                            <div class="mb-post-username">
                              {{ getName ad.userId 'firstname' }} {{ getName ad.userId 'lastname'}}
                            </div>
                            <div class="mb-post-created">
                              {{ parseAdCreated ad.createdAt }}
                            </div>
                          </div>
                        </div>
                        <div class="mb-post-actions">
                          {{#if and isNotMyAd (and (userHasRight "ads" "answer") (userHasRight "messenger" "writeToResident"))}}
                            {{#if hasMessenger}}
                              <button class="bordered-btn directMessage" data-user-id="{{ ad.userId }}">
                                {{getDicoVar "moduleClassifiedsViewAd" "send_message"}}
                              </button>
                            {{/if}}
                          {{/if}}
                          {{#if and (isNotMyAd) (_IsManagerView)}}
                            <button class="bordered-btn directMessage" data-user-id="{{ ad.userId }}">
                              {{getDicoVar "moduleClassifiedsViewAd" "send_message"}}
                            </button>
                          {{/if}}
                        </div>
                      </div>

                      <div class="mb-post-content">
                        {{#if $not isEditMode}}
                          <div class="mb-post-title">
                            {{{ hyperlink ad.title }}}
                          </div>
                          <div class="mb-post-price">
                            {{ parseAdPrice ad.price }}
                          </div>
                          <div class="mb-post-description break-line">
                            {{{ hyperlink (stripHtmlTag ad.description) }}}
                          </div>
                          {{#if ad.files}}
                          <div class="fileViewerTemplate">
                            {{> React
                              component=MbFilePreview
                              files=getFiles
                              newFiles=(getNewFiles ad.files)
                              layout="5"
                            }}
                          </div>
                          {{/if}}
                        {{else}}
                          <div class="form-group">
                            {{> MbInput
                              value=ad.title
                              required=true
                              label=(getDicoVar 'moduleClassifiedsViewAd' 'label_title')
                              placeholder=(getDicoVar 'moduleClassifiedsViewAd' 'placeholder_title')
                              onInput=(onTextEntered 'title')
                            }}
                          </div>
                          <div class="form-group">
                            {{> MbInput
                              value=ad.price
                              label=(getDicoVar 'moduleClassifiedsViewAd' 'label_price')
                              placeholder=(getDicoVar 'moduleClassifiedsViewAd' 'placeholder_price')
                              onInput=(onTextEntered 'price')
                              maxLength=7
                            }}
                            {{!-- {{#if disableSubmit}}<small class="ad-price-error-message">{{ getDicoVar 'commonTranslation' 'ad_price_error' }}</small>{{/if}} --}}
                          </div>
                          <div class="form-group">
                            {{> React component=MbTextArea
                              minRow=1
                              value=(getFormValue 'description')
                              label=(getDicoVar 'moduleClassifiedsViewAd' 'label_description')
                              placeholder=(getDicoVar 'moduleClassifiedsViewAd' 'placeholder_description')
                              onChange=(onTextEntered 'description')
                              required=true
                            }}
                          </div>
                          {{> FileList
                            files=getPreviewFiles
                            onFileAdded=onFileAdded
                            onRemove=onFileRemoved
                            showDropBox=true
                          }}
                        {{/if}}
                      </div>
                      <div class="mb-post-footer bordered">
                        <div class="mb-post-stat mb-post-comment-icon">
                          {{ getCounter ad._id }}&nbsp;{{getDicoVar "moduleForumList" "comments"}}
                        </div>
                        <div class="mb-post-stat mb-post-view-icon">
                          {{ nbViews ad.viewsCount }}&nbsp;{{getDicoVar "moduleClassifiedsList" "views"}}
                        </div>
                      </div>
                    </div>
                    {{> module_classifieds_comment messages=getFeed onSubmit=answerMessageCb classifiedsId=classifiedsId }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{else}}
          {{> loader}}
        {{/if}}
      </div>
    </section>
  </div>
</template>
