.mb-comment {
  font-family: Lato, sans-serif;

  .mb-comment-label {
    background: #F1F5F6;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 8px;
    color: #8b999f;
    text-transform: uppercase;
  }

  .mb-comment-message {
    border: 1px solid #e0e0e0;
    padding: 8px;

    .mb-comment-row {
      display: flex;
      flex-direction: row;

      // @override
      > .file-upload-button {
        align-items: flex-start;
        margin-left: 8px;
      }

      .mb-comment-textarea {
        display: flex;
        flex: 1;
        padding-bottom: 16px;

        .mb__textarea {
          width: 100%;
        }

        textarea {
          padding: 0;
          width: 100%;
          border: 0;
          font-size: 16px;
          letter-spacing: -0.4px;
          text-align: left;
          color: #8b999f;
        }
      }
    }
  }

  .mb-comment-actions {
    display: flex;
    flex-direction: 'row';
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #e0e0e0;
    margin: 0;
    padding: 8px;
    border-top: 0;

    .mb-comment-save {
      font-size: 14px;
      min-width: 100px;
      padding: 0;
      min-height: 31px;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }
  }

  .mb-comment-list {
    margin-top: 8px;

    .mb-comment-item {
      border-bottom: 1px solid #e0e0e0;

      .editOrDelete {
        padding: 0 8px;
      }

      .editSvg {
        margin-right: 16px;
      }

      &:last-child {
        border-bottom: 0;
      }

      .mb-comment-row {
        display: flex;
        flex: 1;
        flex-direction: row;
        padding: 10px 0;
        font-family: Lato, sans-serif;
        justify-content: flex-start;
        align-items: flex-start;

        .mb-comment-avatar {
          transform: scale(0.8);
          margin: 0;
          padding: 0 4px;
        }

        .mb-comment-content {
          flex: 1;

          .mb-comment-username {
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.4px;
            text-align: left;
            color: #5d5e62;
            margin-bottom: 1px;
          }

          .mb-comment-timestamp {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: -0.1px;
            color: #8b999f;
          }

          .mb-comment-text {
            margin-top: 3px;
            font-size: 14px;
            line-height: 1.29;
            letter-spacing: -0.1px;
            text-align: left;
            color: #5d5e62;

            .mb-comment-text-edit {
              border: 1px solid #e0e0e0;
              padding: 8px;
              white-space: normal;

              .mb__textarea {
                border: 0;
                padding: 0;
              }

              .ul_pics {
                padding: 0;
                margin: 0;
              }

              .mb-comment-edit-action {
                margin: 8px -8px -8px -8px;
                border-top: 1px solid #e0e0e0;
                padding: 8px;
                display: flex;
                justify-content: flex-end;

                .btn {
                  margin: 0 5px;

                  &:last-child {
                    margin-right: 0;
                  }
                }
              }
            }

            .mb__textarea {
              padding: 10px;
              border: 1px solid #e0e0e0;

              textarea {
                padding: 0;
                font-size: 14px;
                line-height: 1.29;
                letter-spacing: -0.1px;
                text-align: left;
                color: #5d5e62;
                word-wrap: break-word;
                white-space: pre-line;
                border-bottom: 0;
              }
            }
          }
        }

        .mb-comment-action {
          padding-left: 10px;

          .mb-comment-icon {
            background-repeat: no-repeat;
            background-position: center;
            height: 16px;
            width: 16px;
            background-size: 16px 16px;
            margin: 0 4px;
            display: inline-block;
            cursor: pointer;

            &:last-child {
              margin-right: 0;
            }

            &.icon-delete {
              background-image: url(img/icons/svg/trash.svg);
            }

            &.icon-edit {
              background-image: url(img/icons/svg/edit.svg);
            }
          }
        }
      }
    }
  }
}