
.module-header {
	margin-bottom: 20px;
	vertical-align: 'center';
}

.block-list {
	position: relative;
	background-color: #fff;
	border-color: #eee;
	border-radius: 3px;
	padding: 10px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
	margin-bottom: 20px;
}
.profile-picture img {
	border-radius: 50%;
	width: 50px;
}

.post-list-actions {
	position: absolute;
	z-index: 100;
	top: 5px;
	right: 5px;
}

.ad-bordered-btn {
  font-family: Lato, sans-serif;
  font-size: 14px;
  text-align: center;
  //color: var(--button-color);
  //border: 1px solid var(--button-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  cursor: pointer !important;
  min-width: 100px;
  height: 32px;
  background-color: transparent;

  &:focus {
    //color: var(--button-color);
    color: var(--secondary-color);
  }

  &:hover {
    //background: var(--button-color);
    background: var(--secondary-color);
    color: #fff;
  }

  &:disabled, &.disabled {
    opacity: 0.25;
  }
}

.ad-price-error-message {
  color: var(--secondary-color);
}

.answerClassified {
	#chat-window {
		min-height: 80px;
		overflow-y: auto;
		background-color: white;
		overflow-x: hidden;
		border-radius: 2px !important;
		border: none !important;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.25) !important;
	}
	.message_write {
		padding: 0px 20px 10px 20px;
	}
}

// MbPost
// @todo Please move this to standalone less
.mb-goToAd {
	position: relative;
	cursor: pointer;
}

/**
 * this css also used in feed list, consider move this to somewhere else
 * @todo Robby
 */
.mb-post {
	.mb-post-header {
		display: flex;
		flex: 1;
		flex-direction: row;
		margin-bottom: 10px;

		.mb-post-meta {
			display: flex;
			flex: 1;
			flex-direction: row;
      align-items: center;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

			.mb-post-avatar {

			}

			.mb-post-info {
				margin-left: 4px;
				font-family: Lato, sans-serif;
				display: flex;
				flex: 1;
				flex-direction: column;
        overflow: hidden;

        .mb-post-headline {
					display: flex;
					flex: 1;

					.mb-post-incident-type {
						flex: 1;
					}

					.mb-post-incident-status {
						font-size: 12px;
						text-align: left;
						color: #ffffff;
						padding: 0 8px;
						border-radius: 2px;
						align-items: center;
						display: flex;
					}
				}

				.mb-post-username,
				.mb-post-headline {
					font-size: 16px;
					font-weight: 500;
					letter-spacing: -0.4px;
					text-align: left;
					color: #5d5e62;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
				}

				.mb-post-created {
					font-size: 12px;
					line-height: 1.5;
					letter-spacing: -0.1px;
					text-align: left;
					color: #8b999f;
				}
			}
		}

		.mb-post-actions {
			display: flex;
			align-items: center;
			justify-content: center;

			> * {
				cursor: pointer;
			}

			.mb-post-star {
				width: 24px;
				height: 24px;
				background: url(img/icons/svg/star-yellow.svg);

				&:mb-post-star-disable {
					background: url(img/icons/svg/star-gray.svg);
				}
			}
		}
	}

	.mb-post-content {
		cursor: pointer;
		font-family: Lato, sans-serif;

		.mb-file-wrapper {
			margin: 10px 0;
		}

		.mb-post-title {
			font-size: 18px;
			font-weight: 500;
			letter-spacing: -0.4px;
			text-align: left;
			color: #5d5e62;
			word-wrap: break-word;

			&.truncated {
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				display: -webkit-box;
			}
		}

		.mb-post-price {
			object-fit: contain;
			border-radius: 14px;
      //background-color: var(--accent-color);
      background-color: var(--primary-color);
			display: inline-block;
			padding: 4px 8px;
			margin-top: 8px;
			font-size: 18px;
			font-weight: 500;
			letter-spacing: -0.4px;
			text-align: left;
			color: #ffffff;
		}

		.mb-post-description {
			margin-top: 8px;
			font-size: 16px;
			letter-spacing: -0.4px;
			text-align: left;
			color: #8b999f;
			height: auto;
			width: 100%;
      line-height: 24px;
			word-wrap: break-word;

			&:first-line {
				line-height: 0;
			}

			@line-height: 1.2;
			@font-size: 16px;
			@max-line: 10;

			&.truncated {
				margin-top: -1em;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-line-clamp: @max-line;
				-webkit-box-orient: vertical;
				display: -webkit-box;
			}
		}
	}

	.mb-post-footer {
		margin-top: 16px;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 16px 0;

		&.bordered {
			border-top: 1px solid #e0e0e0;
		}

		&.no-padding {
			padding: 0;
		}

		.mb-post-stat {
			display: flex;
			align-items: center;
			font-family: Lato, sans-serif;
			font-size: 12px;
			text-align: left;
			color: #8b999f;
			margin-right: 14px;

			&.mb-post-comment-icon {
				&:before {
					content: " ";
					margin-right: 5px;
					background: url(img/icons/svg/comments.svg);
					background-repeat: no-repeat;
					background-size: 16px 16px;
					width: 16px;
					height: 16px;
					display: inline-block;
				}
			}

			&.mb-post-view-icon {
				&:before {
					content: " ";
					margin-right: 5px;
					background: url(img/icons/svg/views.svg);
					background-repeat: no-repeat;
					background-size: 16px 16px;
					width: 16px;
					height: 16px;
					display: inline-block;
				}
			}
		}
	}
}

.sidebar-widget {
	font-family: Lato, sans-serif;
	.sidebar-widget-title {
		font-size: 12px;
		letter-spacing: 0.9px;
		text-align: left;
		color: #8b999f;
		padding: 10px 0 7px 16px;
		text-transform: uppercase;
	}
	.sidebar-widget-content {
		.sidebar-widget-active-user {
			font-family: Lato, sans-serif;
			display: flex;
			flex-direction: row;
			align-items: center;
			border-bottom: 1px solid #e0e0e0;
			padding: 8px;

			&:last-child {
				border-bottom: 0;
			}

			.sidebar-widget-avatar {
				margin-right: 15px;
			}

			.sidebar-widget-user-name {
				font-size: 16px;
				font-weight: 500;
				letter-spacing: -0.4px;
				text-align: left;
				color: #5d5e62;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
		}
	}

	.sidebar-widget-action {
		margin: 8px;

		> button {
			width: 100%;
		}
	}
}

.ad-widget-item {
	font-family: Lato, sans-serif;
	border-bottom: 1px solid #e0e0e0;
	padding: 8px 0;
	margin: 0 8px;

	&:last-child {
		border-bottom: 0;
	}

	.ad-widget-header {
		display: flex;
		flex-direction: row;
		align-items: center;

		.ad-widget-title {
			flex: 1;
			font-size: 16px;
			font-weight: 500;
			letter-spacing: -0.4px;
			text-align: left;
			color: #5d5e62;
			word-break: break-word;
      line-height: 24px;
      font-family: Lato, sans-serif;

			&.truncated {
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				display: -webkit-box;
			}
		}

		.ad-widget-btn {
			margin-left: 8px;

			img {
				width: 24px;
				height: 24px;
			}
		}
	}

	.ad-widget-price {
		object-fit: contain;
		border-radius: 14px;
    //background-color: var(--accent-color);
    background-color: var(--primary-color);
		display: inline-block;
		padding: 4px 8px;
		margin-top: 8px;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: -0.4px;
		text-align: left;
		color: #ffffff;
	}
}

.card-footer-left {
	.card-action-button {
		height: 24px;
		width: 24px;
		display: inline-block;
		margin: 0 8px;

		&:first-child {
			margin-left: 0;
		}
	}

	.icon-camera {
		background: url(img/icons/svg/camera-new.svg) no-repeat center center;
	}

	.icon-attachment {
		background: url(img/icons/svg/attachment.svg) no-repeat center center;
	}
}

.ad-navigate-edit,
.ad-navigate-view {
	cursor: pointer;
}
