<template name="module_classifieds_list">
	<div class="wrapper">
        <section class="blue_bg_content" id="mainContent">
            <!-- main_block -->
            <div class="{{#unless _IsManagerView}}main_block container-fluid{{/unless}}">
                <div class="row">
                    <div class="col-sm-12 {{#unless _IsManagerView}}plpr23{{else}}plpr20{{/unless}}">
                        <div class="panel {{#unless _IsManagerView}}mt80{{else}}panel_gestionnaire{{/unless}}">
                            <div class="panel-heading position_relative">
                                <div class="sub-tool-bar clearfix">
                                    <h1 class="pull-left">{{getDicoVar "moduleClassifiedsList" "offers"}}{{#unless _IsManagerView}} - {{getAddress}}{{/unless}}</h1>
                                     {{#if userHasRight "ads" "see"}}
                                    <div class="pull-right action vertical-centered">
                                        <button class="btn-text">{{getDicoVar "moduleClassifiedsList" "followAll"}}</button>
                                        <span id="follow-classifieds-toggle" class="starButton">
                                            {{#if notificationsClassifieds }}<div class="starButtonOff"></div>{{else}}<div class="starButtonOn"></div>{{/if}}
                                        </span>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{#if userHasRight "ads" "see"}}
                <div class="row">
                    <div class="col-xs-12 {{#unless _IsManagerView}}plpr23{{else}}plpr20{{/unless}}">
                        <div class="row">
                            <div class="col-lg-9 col-md-8">
                                <div class="card item">
                                   {{#if userHasRight "ads" "write"}}
                                    {{> module_classifieds_form }}
                                  {{/if}}

                                    {{#if isParentReady}}
                                        {{#if emptyAds}}
                                            <div class="card-block small-padding">
                                                {{> MbNoContent title=(getDicoVar 'moduleClassifiedsList' 'no_data_title') description=(getDicoVar 'moduleClassifiedsList' 'no_data_desc') }}
                                            </div>
                                        {{/if}}

                                        {{#each ad in ads}}
                                            <div class="card-block small-padding">
                                                <div class="card-inner pos-relative">
                                                    {{#if isNewAd ad}}{{/if}}
                                                    {{#if isNewAdVar ad._id}}<span class="message-unread-manager"></span>{{/if}}
                                                    <div class="mb-post">
                                                        <div class="mb-post-header">
                                                            <div class="mb-post-meta">
                                                                <div class="mb-post-avatar">
                                                                    {{> userIcon
                                                                            template="userIcon"
                                                                            type="U"
                                                                            userId=ad.userId
                                                                    }}
                                                                </div>

                                                                <div class="mb-post-info">
                                                                    <div class="mb-post-username">
                                                                        {{ getName ad.userId 'firstname' }} {{ getName ad.userId 'lastname'}}
                                                                    </div>
                                                                    <div class="mb-post-created">
                                                                        {{ parseAdCreated ad.createdAt }} {{ showEditedTag ad }}
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>

                                                        <div class="mb-post-content mb-ad-content" data-ad-id="{{ ad._id }}">
                                                            <div class="mb-goToAd" data-ad-id="{{ ad._id }}">
                                                                <div class="mb-post-title truncated">
                                                                    {{{ hyperlink ad.title }}}
                                                                </div>
                                                                <div class="mb-post-price">
                                                                    {{ parseAdPrice ad.price }}
                                                                </div>
                                                                <div class="mb-post-description break-line truncated">
                                                                    {{{ hyperlink (stripHtmlTag ad.description) }}}
                                                                </div>
                                                            </div>

                                                            {{#if ad.files}}
                                                            <div class="fileViewerTemplate">
                                                                {{> React
                                                                        component=MbFilePreview
                                                                        files=(files ad.files)
                                                                        newFiles=(newFiles ad.files)
                                                                        onMore=(goToDetail ad)
                                                                        layout="13"
                                                                        limit="4"
                                                                }}
                                                            </div>
                                                            {{/if}}
                                                        </div>

                                                        <div class="mb-post-footer no-padding">
                                                            <div class="mb-post-stat mb-post-comment-icon">
                                                                {{ getCounter ad._id }} {{getDicoVar "moduleForumList" "comments"}}
                                                            </div>
                                                            <div class="mb-post-stat mb-post-view-icon">
                                                                {{ nbViews ad.viewsCount }} {{getDicoVar "moduleClassifiedsList" "views"}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/each}}
                                    {{else}}
                                            {{> loader}}
                                    {{/if}}
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div class="sidebar-widget">
                                    <div class="sidebar-widget-title">
                                        {{ getDicoVar 'moduleClassifiedsList' 'label_latest_active' }}
                                    </div>
                                    <div class="sidebar-widget-content">
                                        <div class="card card-block small-padding no-bottom">
                                            {{#if isParentReady}}
                                                {{#if empty getUniqUserFromAds }}
                                                    <div class="mb-widget-no-data-text">
                                                        {{ getDicoVar 'moduleClassifiedsList' 'no_data_active_user' }}
                                                    </div>
                                                {{else}}
                                                    <div>
                                                        {{#each u in getUniqUserFromAds}}
                                                            <div class="sidebar-widget-active-user">
                                                                <div class="sidebar-widget-avatar">
                                                                    {{> userIcon type="U" userId=u._id }}
                                                                </div>
                                                                <div class="sidebar-widget-user-name">
                                                                    {{ u.firstname }} {{ u.lastname }}
                                                                </div>
                                                            </div>
                                                        {{/each}}
                                                    </div>
                                                    {{#if shouldShowMore getUniqUserFromAds.length 'activeUser'}}
                                                        {{#if isLimited 'activeUser'}}
                                                            <div class="sidebar-widget-action action-toggle-see-more" data-widget="activeUser">
                                                                <button class="bordered-btn">
                                                                    {{ getDicoVar 'moduleClassifiedsList' 'label_see_all' }}
                                                                </button>
                                                            </div>
                                                        {{else}}
                                                            <div class="sidebar-widget-action action-toggle-see-more" data-widget="activeUser">
                                                                <button class="bordered-btn">
                                                                    {{ getDicoVar 'moduleClassifiedsList' 'label_see_less' }}
                                                                </button>
                                                            </div>
                                                        {{/if}}
                                                    {{/if}}
                                                {{/if}}
                                            {{else}}
                                                {{> loader}}
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>

                                <div class="sidebar-widget">
                                    <div class="sidebar-widget-title">
                                        {{ getDicoVar 'moduleClassifiedsList' 'label_my_ads' }}
                                    </div>
                                    <div class="sidebar-widget-content">
                                        <div class="card card-block small-padding no-bottom">
                                            {{#if isParentReady}}
                                                {{#if myAds }}
                                                    <div>
                                                        {{#each ad in myAds}}
                                                            <div class="ad-widget-item">
                                                                <div class="ad-widget-header">
                                                                    <div class="ad-widget-title truncated">{{ ad.title }} {{ showEditedTag ad }}</div>
                                                                    <span class="ad-widget-btn ad-navigate-edit" data-ad-id="{{ ad._id }}">
                                                            <img style="height: 20px; width: 20px;" src="/img/icons/edit.png" alt="Edit">
                                                        </span>
                                                                </div>

                                                                <div class="ad-widget-price">
                                                                    {{ parseAdPrice ad.price }}
                                                                </div>
                                                            </div>
                                                        {{/each}}
                                                    </div>

                                                    {{#if isLimited 'myAds'}}
                                                        <div class="sidebar-widget-action action-toggle-see-more" data-widget="myAds">
                                                            <button class="bordered-btn">
                                                                {{ getDicoVar 'moduleClassifiedsList' 'label_see_all' }}
                                                            </button>
                                                        </div>
                                                    {{else}}
                                                        <div class="sidebar-widget-action action-toggle-see-more" data-widget="myAds">
                                                            <button class="bordered-btn">
                                                                {{ getDicoVar 'moduleClassifiedsList' 'label_see_less' }}
                                                            </button>
                                                        </div>
                                                    {{/if}}
                                                {{else}}
                                                    <div class="mb-widget-no-data-text">
                                                        {{ getDicoVar 'moduleClassifiedsList' 'no_data_own_ads' }}
                                                    </div>
                                                {{/if}}
                                            {{else}}
                                                {{> loader}}
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                    {{> MbRestrictedAccess }}
                {{/if}}
            </div>
        </section>
    </div>
</template>
