<template name="aboutus">
    {{> headerHome}}
    <section class="container containerHome">
        <div class="aboutContent">
            <div class="about_header">
                    <p class="aboutus">{{{getDicoVar 'aboutus' 'aboutus'}}}</p>
                    <a type="button" id="backHome">
                        <img src="/img/icons/back.svg" height="15" style="margin-right: 6px;"> {{{getDicoVar 'aboutus' 'retour'}}}
                    </a>
                </div>
                <div class="content">
                    <h3 class="content_header">{{{getDicoVar 'aboutus' 'foundteam'}}}</h3>
                    <div class="content_text">{{{getDicoVar 'aboutus' 'alongside'}}}</div>
                    <div class="team">
                        <div class="member">
                            <img src="/img/homePage/eliane.png" alt="monbuilding Eliane Lugassy">
                            <h3 class="member_name">Eliane Lugassy</h3>
                            <p class="member_pos">{{{getDicoVar 'aboutus' 'ceo'}}}</p>
                            <div class="member_text">
                                    {{{getDicoVar 'aboutus' 'eliane'}}}
                            </div>
                            <a href="https://www.linkedin.com/in/eliane-lugassy-2aa41530/" target="_blank"><img src="/img/linkedin.png" class="linkedin_img" alt="LinkedIn" /></a>
                        </div>
                        <div class="member">
                            <img src="/img/homePage/kevin.png" alt="monbuilding Harith Jaiel">
                            <h3 class="member_name">Kevin Longer</h3>
                            <p class="member_pos">{{{getDicoVar 'aboutus' 'cto'}}}</p>
                            <div class="member_text">
                                    {{{getDicoVar 'aboutus' 'kevin'}}}
                            </div>
                            <a href="https://www.linkedin.com/in/kevin-longer/" target="_blank"><img src="/img/linkedin.png" class="linkedin_img" alt="LinkedIn" /></a>
                        </div>
                    </div>
                    <div class="textContent">
                        <p>{{{getDicoVar 'aboutus' 'subtext'}}}</p>
                        <p>{{{getDicoVar 'aboutus' 'ambition'}}}
                        </p>
                        <div>
                            <ul>
                                <li><p>{{{getDicoVar 'aboutus' 'transparency'}}}</p></li>
                                <li><p>{{{getDicoVar 'aboutus' 'reactivity'}}}</p></li>
                                <li><p>{{{getDicoVar 'aboutus' 'ancillary'}}}</p></li>
                            </ul>
                        </div>
                        <div>
                            <br>
                            <p>{{{getDicoVar 'aboutus' 'flexible'}}}</p>
                            <br>
                            <p>{{{getDicoVar 'aboutus' 'external'}}}</p>
                            <br>
                            <p>{{{getDicoVar 'aboutus' 'trust'}}}</p>
                            <br>
                            <p>{{{getDicoVar 'aboutus' 'presence'}}}</p>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    {{> footer}}
</template>