@import '../../../style/variable.less';
@import '../less/utils/variables.less';


.containerHome {
  margin-top: 60px;
}

.aboutContent {
  padding-top: 16px;
  padding-bottom: 38px;
  background: #f1f5f6;
  
  .about_header {
    background: @wt;
    padding: 14px 16px;
    margin-bottom: 9px;

    .aboutus {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: -0.5px;
      text-align: left;
      color: #5d5e62;
    }

    #backHome {
      font-size: 14px;
      font-weight: 500;
      text-align: left;
      color: #8b999f;
      margin-left: 0;
    }
  }
  .content {
    padding: 31px 33px 84px;
    background: @wt;

    @media @smartphones {
      padding: 16px;
    }

    .content_header {
      font-size: 32px;
      letter-spacing: -0.8px;
      text-align: center;
      color: #5d5e62;
      font-weight: 500;
      margin: 0;
      margin-bottom: 20px;
    }

    .content_text {
      font-size: 20px;
      line-height: 1.3;
      text-align: center;
      color: #8b999f;
      width: 550px;
      margin: 0 auto;

      @media @mobile {
        width: initial;
      }
    }

    .team {
      background: @wt;
      padding: 53px 95px 95px;
      display: flex;
      justify-content: space-around;

      @media @mobile {
        display: block;
        padding: 30px;
      }

      @media @smartphones {
        padding-left: 0;
        padding-right: 0;
      }

      .member {
        margin-right: 223px;
        flex: 1;
        text-align: center;

        @media @table {
          margin-right: 118px;    
        }

        @media @mobile {
          margin-right: 0;
          &:first-child {
            margin-bottom: 55px;
          }
        }

        .member_name {
          font-size: 23px;
          font-weight: bold;
          text-align: center;
          color: #5d5e62;
          margin: 0;
          margin: 9px;
        }
        
        img {
          width: 240px;
          height: 240px;
          border-radius: 100%;

          @media @smartphones {
            width: 150px;
            height: 150px;
          }
        }

        .member_pos {
          font-size: 16px;
          text-align: center;
          color: #8b999f;

          &::after {
            content: '';
            width: 60px;
            height: 2px;
            background-color: #69d2e7;
            display: block;
            margin: 0 auto;
            margin-top: 22px;
            margin-bottom: 22px;
          }
        }

        .member_text {
          font-size: 16px;
          line-height: 1.5;
          text-align: center;
          color: #8b999f;
          padding-bottom: 27px;
        }

        .linkedin_img {
          width: 44px;
          height: 44px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
    .textContent {
      font-size: 18px;
      line-height: 26px;
      text-align: left;
      color: #8b999f;
      
      div {
        margin-top: 20px;
      }
      
      div:last-child {
        margin-bottom: 50px;
      }
      
      ul {
        padding-left: 55px;

        @media @smartphones {
          padding-left: 15px;
        }
        li {
          text-align: justify;
          padding-left: 20px;
          list-style: none;
          position: relative;

          &::before {
            position: absolute;
            left: 0;
            top: .89em;
            margin-top: -4px;
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            background: #69d2e7;
          }
        }
      }
    }
  }
}