<template name="condoDetailsGestionActuality">
	<ul>
		<div class="col-sm-12" style="padding: 0 30px 0 30px; background-color: #fff;">
			<table class="table table-backoffice gestionDroitBack">
				{{{displayTab}}}
			</table>
		</div>
	</ul>
</template>
