<template name="incident_gestionnaire_list">
	<div class="incidentList">
		<div class="panel">
			<div class="panel-heading position_relative">
				<div class="sub-tool-bar clearfix ">
					<h1 class="pull-left"> {{ getDicoVar 'commonTranslation' 'manager_incidents' }} </h1>
					<div class="action pull-right" id="gestIncident">
            {{#if refreshCondoId}}{{/if}}
            	{{#if or (and (equals getCondoSelected 'all') (hasRightInCondos "incident" "see")) (userHasRight "incident" "see")}}
								{{#if canDeclare}}
									<a href="#" class="btn red_btn red_btn-lg" id="ad-edit" data-toggle="modal" data-target="#newIncident_modal" data-id="{{ad._id}}"> {{ getDicoVar 'commonTranslation' 'create_incident' }} </a>
								{{/if}}
            	{{/if}}
					</div>
				</div>
			</div>
		</div>

		<div class="incident-main">
			<div>
				{{>incidents_select_tab currentTab=getCurrentTab selectingTab=setCurrentTab selectedCondoId=getCurrentCondo}}
			</div>
		</div>
	</div>
	{{>incident_modal_new board="gestionnaire"}}
</template>
