<template name="incident_gestionnaire_elem">
	{{#if userHasRight "incident" "see" incident.condoId}}
	<div class="row">
		<div class="col-sm-12">
			<div class="panel">
				<div class="panel-heading position_relative">
					<h1>
						{{#if $eq incident.state.status 0}}
							{{ getDicoVar 'commonTranslation' 'incidents_to_validate' }}
						{{/if}}
						{{#if $eq incident.state.status 1}}
							{{getDicoVar 'commonTranslation' 'incident_to_dealt'}}
						{{/if}}
						{{#if checkStatusCancelOrResolved incident.state.status 3 2}}
							{{getDicoVar 'commonTranslation' 'fixed_incidents'}}
						{{/if}}
					</h1>
					<div style="display: block; margin-top: 10px;">
						<button type="button" id="backbutton" style="background: none; border: none; color: #999; padding: 0">
							<img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{ getDicoVar 'commonTranslation' 'manager_back' }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row equal">
		<div class="col-sm-12 col lt-100 mb20 eq-item">
			<div class="d-panel table-header-panel d-center-half blue" style="width: 100%;">
				<div class="panel-body-scroll" style="width: 100%;" data-mcs-theme="light">
					<div class="d-panel-body actions-table v-center" style="box-shadow: none; display:block;">
						<div class="comment-table" style="padding-top: 29px; margin-bottom: 44px;">
							<table class="table tbl-brdr-bottom muted-td actions-tables">
								<tbody>
									<tr style="border-bottom: none !important;">
										<td 
											class="col-md-9 title-row"
											style="padding: 0 !important;
											color:#5d5e62 !important;">
											{{{hyperlink incident.info.title}}}
										</td>
									</tr>
									<tr>
										<td 
											style="word-break: break-word !important;
											color:#5d5e62;
											padding: 0 !important; 
											font-size: 16px;">
											<p style="word-break: break-word !important;">
												{{{hyperlink incident.info.comment}}}
											</p>
											{{#if checkHistoryFileDeclare }}
												<p class="calendar-pj-red">
													<a type='button' id='pjDispo' data-id='{{this._id}}' data-toggle='modal' data-target='#modal_join_file' style="text-transform: none; font-size: 13px;">
													 {{ getDicoVar 'commonTranslation' 'attachment_available' }} 
													</a>
												</p>
											{{/if}}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						{{#if $eq incident.state.status 0}}
							<div class="incident-action-buttons" style="margin:0;">
								<div style="display: flex; margin-left: auto;">
									{{#if userHasRight "incident" "setPrivate" incident.condoId}}
										<button id="incidentCancel" 
											type="button" 
											class="mb-button danger incident-button" >
											<div class="pull-left" style="text-align: center; width: 100%">
												<p style="width: 100%"> {{ getDicoVar 'commonTranslation' 'not_validate_incident' }} </p>
											</div>
										</button>
									{{/if}}
									{{#if userHasRight "incident" "valid" incident.condoId}}
										<button 
											id="incidentValid" 
											type="button"  
											class="newIncident btn red_btn incident-button" 
											style="height: 42px !important; margin-left: 16px;"
											data-toggle="modal" 
											data-target="#incident_action_modal">
											<div class="pull-left" style="text-align: center; width: 100%">
												<p style="width: 100%; color: #ffffff;"> 
													{{ getDicoVar 'commonTranslation' 'validate_incident' }} 
												</p>
											</div>
										</button>
									{{/if}}							
								</div>
							</div>
						{{/if}}
						{{#if $eq incident.state.status 1}}
							<div id="blocAction" class=" text-center button-bottom {{#if hasInterv incident}}more{{/if}}" style=" float:initial;">
								<div class="compo-validate compo-actions">
									{{#if userHasRight "incident" "scheduleIntervention" incident.condoId}}
										<button 
											id="incidentOS" 
											type="button" 
											class="mb-button danger incident-button">
											{{ getDicoVar 'commonTranslation' 'add_intervention' }}
										</button>
									{{/if}}
									{{#if hasInterv incident}}
										<button 
											id="incidentCancelInterv" 
											type="button" 
											class="mb-button danger incident-button" >
											{{ getDicoVar 'commonTranslation' 'cancel_intervention' }}
										</button>
									{{/if}}
									{{#if userHasRight "incident" "insertNote" incident.condoId}}
										<button 
											id="incidentComment" 
											type="button" 
											class="mb-button danger incident-button">
											{{ getDicoVar 'commonTranslation' 'add_note' }}
										</button>
									{{/if}}
									{{#if userHasRight "incident" "insertQuote" incident.condoId}}
										<button 
											id="incidentDevis" 
											type="button" 
											class="mb-button danger incident-button">
												{{ getDicoVar 'commonTranslation' 'add_quote' }}
										</button>
									{{/if}}
									{{#if userHasRight "incident" "resolve" incident.condoId}}
										<button 
											id="incidentSolved" 
											type="button" 
											class="newIncident btn red_btn incident-button" style="color: #ffffff">
											{{ getDicoVar 'commonTranslation' 'solved_incident' }}
										</button>
									{{/if}}
								</div>
							</div>
						{{/if}}
						{{#if checkStatusCancelOrResolved incident.state.status 3 2}}
							<div class="col-md-12 text-center button-bottom narrow" style="float:initial; padding: 0px;">
								<div class="compo-rating">
									<div class="text-center">
										<button 
											id="incidentReopen" 
											type="button" 
											class="mb-button danger incident-button"
											style="display: block; margin-left: auto;">
											{{ getDicoVar 'commonTranslation' 'reopen_incident' }}
										</button>
										{{#if $eq incident.state.status 2}}
										{{#if $eq (evalNbVote incident) 0}}
										{{else}}
											<div class="d-panel-head" style="margin-top: 25px;">
												<h3 class="section-title"> {{ getDicoVar 'commonTranslation' 'reviews_intervention' }} </h3>
											</div>
											<div class="rating-stars" style="border-bottom: 1px solid #dddddd; margin-bottom: 16px;">
												<p class="muted-grey">												
													<span class="stars-rating" style="display: inline-block;">
														<img width="44" src="{{#if evalMoyenne incident 1}}/img/etoilePleine_48px.svg{{else}}/img/etoileCreuse_24px.svg{{/if}}" alt="">
														<img width="44" src="{{#if evalMoyenne incident 2}}/img/etoilePleine_48px.svg{{else}}/img/etoileCreuse_24px.svg{{/if}}" alt="">
														<img width="44" src="{{#if evalMoyenne incident 3}}/img/etoilePleine_48px.svg{{else}}/img/etoileCreuse_24px.svg{{/if}}" alt="">
														<img width="44" src="{{#if evalMoyenne incident 4}}/img/etoilePleine_48px.svg{{else}}/img/etoileCreuse_24px.svg{{/if}}" alt="">
														<img width="44" src="{{#if evalMoyenne incident 5}}/img/etoilePleine_48px.svg{{else}}/img/etoileCreuse_24px.svg{{/if}}" alt="">
													</span>
													<i>({{evalNbVote incident}} {{ getDicoVar 'commonTranslation' 'rating' }}{{#if $gt (evalNbVote incident) 1}}s{{/if}})</i>													
												</p>
											</div>
											{{/if}}
										{{/if}}
									</div>
									{{#each eval in getIncidentEvals}}
										{{#if $neq eval.value 0}}
											<div class="rating-comment" style="padding: 0; margin-top: 0;">
												<div class="r-stars">
                          {{#with url = (avatarLink eval)}}
                          <div style=" display: inline-block">
                            <div style="display: flex; align-items: center;">
                              {{#if url.hasPicto}}
                                <div 
                                  style="background-image:url('{{url}}'), url('/img/anonymous.png'); 
                                    width: 40px !important; 
                                    height: 40px !important;" 
                                  class="smallprofilepic userIcon">
                                </div>
                              {{else}}
                                <span class="circle apple-circle" style="margin: 0;">
                                  {{url.ini}}
                                </span>
                              {{/if}}
                              <h4 class="text-capitalize" style="margin-left: 7.5px !important; color: #5d5e62; font-size: 16px; font-weight: normal;">{{url.name}}</h4>
                            </div>
                          </div>
                          <div style="display:inline-block; float: right; text-align: right; color: #8b999f;">
                            {{getEvalDate eval}}
                          </div>
													{{/with}}
												</div>
												<div style="margin-left: 46px;">
													<div style="color: #8b999f; font-size: 12px;">
														{{getEvalBuilding eval}}
													</div>
													<div>
														<span class="stars-rating">
															<img width="15" src="{{#if evalValue eval 1}}/img/etoilePleine_48px.svg{{else}}/img/etoileCreuse_24px.svg{{/if}}" alt="">
															<img width="15" src="{{#if evalValue eval 2}}/img/etoilePleine_48px.svg{{else}}/img/etoileCreuse_24px.svg{{/if}}" alt="">
															<img width="15" src="{{#if evalValue eval 3}}/img/etoilePleine_48px.svg{{else}}/img/etoileCreuse_24px.svg{{/if}}" alt="">
															<img width="15" src="{{#if evalValue eval 4}}/img/etoilePleine_48px.svg{{else}}/img/etoileCreuse_24px.svg{{/if}}" alt="">
															<img width="15" src="{{#if evalValue eval 5}}/img/etoilePleine_48px.svg{{else}}/img/etoileCreuse_24px.svg{{/if}}" alt="">
														</span>
													</div>	
													<p>
														{{#if $eq eval.comment ""}}
														<i> {{ getDicoVar 'commonTranslation' 'no_comment' }} </i>
														{{else}}
															{{eval.comment}}
														{{/if}}
													</p>
												</div>
											</div>
										{{/if}}
									{{/each}}
								</div>
							</div>
						{{/if}}
						</div>
					</div>
					<div class="info-section">
						<div class="col-md-6 eq-item lt-50 mb20" style="padding: 0; padding-right: 8px;">
							<div class="d-panel col table-header-panel d-center-half blue">
								<div class="d-panel-head">
									{{> MbPanel content=(getDicoVar 'commonTranslation' 'summary')}}
								</div>
								<div class="d-panel-body equal-height-elem" style="padding: 0;box-shadow: none; max-height: 300px;">
									<table class="table muted-td tbl-brdr-bottom actions-tables">
										<tbody>
											<tr>
												<td class="incidents-row" style="padding: 0 !important; padding-top: 22px !important;">
													<span style="background: url('{{getIncidentDetailPicto incident.info.type}}') top left no-repeat #dffbff; background-size: 100% auto; display: inline-block; width: 32px;height: 32px; border-radius: 50%; margin-right: 8px;"></span>
													{{getIncidentType incident.info.type}}
												</td>
											</tr>
											<tr>
												<td class="incidents-row" style="padding: 0 !important; padding-top: 22px !important;"> <img src="/img/icons/building.png" class="img-responsive" style="display: inline-block; margin-right: 8px;" width="16">{{getAddress incident}} </td>
											</tr>
											<tr>
												<td class="incidents-row" style="padding: 0 !important; padding-top: 22px !important;"> <img src="/img/icons/svg/calendar2.svg" class="img-responsive" style="display: inline-block; margin-right: 8px;" width="16"> {{humanDateShort incident.createdAt}} </td>
											</tr>
											<tr>
												<td class="incidents-row" style="padding: 0 !important; padding-top: 22px !important; text-transform: none !important;">
													<img src="/img/icons/location.png" class="img-responsive" style="display: inline-block; margin-right: 8px;" width="16">
													{{getIncidentArea incident.info.zone}}
												</td>
											</tr>
											<tr>
												<td class="incidents-row" style="padding: 0 !important; padding-top: 22px !important; text-transform: none !important;">
													<img src="/img/icons/svg/warning.svg" class="img-responsive" style="display: inline-block; margin-right: 8px;" width="16">
													{{ getDicoVar 'commonTranslation' 'priority' }} &nbsp;: &nbsp;
														{{getIncidentPriority incident.info.priority}}
												</td>
											</tr>
											<tr>
												<td style="text-transform: capitalize !important; padding: 0 !important; padding-top: 22px !important;">
													<img src="/img/icons/svg/success.svg" class="img-responsive" style="display: inline-block; margin-right: 8px;" width="16">
													{{ getDicoVar 'commonTranslation' 'status' }} &nbsp; : &nbsp;
													{{#if $eq incident.state.status 0}}
														<span class="tag-spn tag-red" style="text-transform: none;">
															{{ getDicoVar 'commonTranslation' 'to_validate' }}
														</span>
													{{/if}}{{#if $eq incident.state.status 1}}
														<span class="tag-spn tag-blue" style="text-transform: none;">
															{{ getDicoVar 'commonTranslation' 'to_process' }}
														</span>
													{{/if}}{{#if $eq incident.state.status 2}}
														<span class="tag-spn tag-yellow" style="text-transform: none;">
															{{ getDicoVar 'commonTranslation' 'solved' }}
														</span>
													{{/if}}{{#if $eq incident.state.status 3}}
														<span class="tag-spn tag-grey" style="text-transform: none;">
															{{ getDicoVar 'commonTranslation' 'private' }}
														</span>
													{{/if}}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="col-md-6 eq-item lt-50 mb20" style="padding: 0; padding-left: 8px;">
							<div class="d-panel col table-header-panel d-center-half blue">
								<div class="d-panel-head">
									{{> MbPanel content=(getDicoVar 'commonTranslation' 'declarer')}}
								</div>
								<div class="d-panel-body equal-height-elem" style="padding: 0; box-shadow: none; max-height: 300px;">
									<table class="fixed-table table muted-td tbl-brdr-bottom actions-tables">
										{{#with user=(getDeclarerProfile incident.declarer)}}
											<tbody>
												<tr>
													<td class="incidents-row" style="padding: 0 !important; padding-top: 22px !important;"> 
														<span class="userIcon-main" style="width: 40px !important;  height: 40px !important; ">
															{{#if user.hasPicture}}
																<div 
																	style="background-image:url('{{user.avatarURL}}'), url('/img/anonymous.png'); 
																		width: 32px !important; 
																		height: 32px !important;" 
																	class="smallprofilepic userIcon">
																</div>
																{{else}}
																<span class="circle apple-circle" style="margin: 0;">
																	{{user.ini}}
																</span>
															{{/if}}																				
														</span>
														<p style="margin: 0; margin-left: 10px;">
															{{user.firstname}} {{user.lastname}}
														</p>
													</td>
												</tr>
												{{#if $neq user.phone ""}}
													<tr>
														<td title="{{user.phone}}" class="incidents-row" style="padding: 0 !important; padding-top: 22px !important;"> <img src="/img/mobile-profile.svg" class="img-responsive" style="display: inline-block; margin-right: 8px;" width="16"> {{user.phone}}</td>
													</tr>
												{{/if}}
												{{#if $neq user.landline ""}}
													<tr>
														<td title="{{user.landline}}" class="incidents-row" style="padding: 0 !important; padding-top: 22px !important;"> <img src="/img/phone-profile.svg" class="img-responsive" style="display: inline-block; margin-right: 8px;" width="16"> {{user.landline}}</td>
													</tr>
												{{/if}}
												<tr>
													<td title="{{user.email}}" class="incidents-row" style="text-transform: lowercase !important; padding: 0 !important; padding-top: 22px !important; display: inline-block; margin-right: 8px !important;"> 
														<img src="/img/icon-mail-profile.svg" class="img-responsive" width="16">
														<p style="margin: 0; margin-left: 10px;">
															{{user.email}}
														</p>
													</td>
												</tr>
												<tr>
													<td class="incidents-row" style="padding: 0 !important; padding-top: 22px !important;"> 
														<img src="/img/icons/svg/user.svg" class="img-responsive" style="display: inline-block; margin-right: 8px;" width="16"> 
														{{{getDeclarerStatus incident}}}
													</td>
												</tr>
											</tbody>
										{{/with}}
									</table>
								</div>
							</div>
						</div>							
					</div>
					<div class="row">
						<div class="col-md-12 lt-100">
							<div class="d-panel table-header-panel" style="padding: 0px 20px;">
								<div class="d-panel-head">
									{{> MbPanel content=(getDicoVar 'commonTranslation' 'historic')}}
								</div>
								<div class="d-panel-body pb-30 overflow" style="box-shadow: none; padding: 0 !important;">
									<table class="table hr-grey tbl-brdr-bottom t-ptb-12 last-row-center last-column-centered vr-top mt-6">
										<tbody>
											<tr>
												<td class="" style="padding-left: 15px; text-transform: capitalize!important"> {{ getDicoVar 'commonTranslation' 'date' }} </td>
												<td class="" style="text-transform: capitalize !important"> {{ getDicoVar 'commonTranslation' 'type' }} </td>
												<td class="" style="text-transform: capitalize !important;"> {{ getDicoVar 'commonTranslation' 'author' }} </td>
												<td class="" > {{ getDicoVar 'commonTranslation' 'visible_by' }} </td>
												<td class="small-row"> {{ getDicoVar 'commonTranslation' 'files' }} </td>
												<td class=""></td>
											</tr>
											{{#each item in incident.history}}
												<tr class="historyitem" index="{{@index}}">
													<td style="position: relative; padding-left: 15px;">
														{{#if and (isMessageItem item.title) (isReply item.isReply)}}
															<span class="message-unread-manager"></span>
															<div style="font-weight: 900">{{humanDateShort item.date}}</div>
														{{else}}
															<div>{{humanDateShort item.date}}</div>
														{{/if}}
													</td>
													<td style="{{#if and (isMessageItem item.title) (isReply item.isReply)}}font-weight: 900{{/if}}">
														{{getIncidentHistoryTitle item.title}}
													</td>
													<td>
														<div style="display: flex; align-items: center">
															{{#with user=(getUserInfo item.userId)}}
																<span class="userIcon-main user-initials-icon">
																	{{#if user.hasPicture}}
																		<div 
																			style="background-image:url('{{user.src}}'), url('/img/anonymous.png'); 
																				width: 32px !important; 
																				height: 32px !important;
																				margin-right: 6px !important;" 
																			class="smallprofilepic userIcon">
																		</div>
																		{{else}}
																		<span class="circle apple-circle" style="margin: 0; border: none;">
																			{{user.ini}}
																		</span>
																	{{/if}}															
																</span>
															{{/with}}
															<div style="display: inline-block; margin-left: 10px;">
																{{getUserName item.userId}}
															</div>
														</div>
													</td>
													<td class="medium-row">
														{{#if item.share.all.state}}
															<span class="tag-spn tag-blue tag-spn-block">
																{{ getDicoVar 'commonTranslation' 'occupant' }}s
															</span>
														{{/if}}
														{{#each customRole in (getCustomRole item.share "visible")}}
															<span class="tag-spn tag-blue tag-spn-block">
																{{customRole}}
															</span>
														{{/each}}
														{{#if item.share.declarer.state}}
															<span class="tag-spn tag-blue tag-spn-block" style="text-transform: capitalize!important">
																{{ getDicoVar 'commonTranslation' 'declarer' }}
															</span>
														{{/if}}
														{{#if item.share.intern.state}}
															<span class="tag-spn tag-blue tag-spn-block">
																{{ getDicoVar 'commonTranslation' 'internal' }}
															</span>
														{{/if}}
														{{#if item.share.custom.length}}
															<span class="tag-spn tag-blue tag-spn-block">
																{{getNbCustom "users" item}} {{ getDicoVar 'commonTranslation' 'occupant' }}(s)
															</span>
														{{/if}}
														{{#if $eq item.title 12}}
															<span class="tag-spn tag-blue tag-spn-block">
																{{ getDicoVar 'commonTranslation' 'managers' }}
															</span>
														{{/if}}
													</td>
													<td class="small-row">
														<button type="button" class="btn btn-lg btn-save" aria-label="Left Align">
															{{#if $eq item.title 12}}
																{{#if $gt item.files.length 0}}
																	<embed class="cPadding5L" src="/img/icons/svg/attachment.svg" alt="" width="24" height="24"/>
																{{/if}}
															{{else}}
																{{#if greaterThanZero (getNbFiles item)}}
																	<embed class="cPadding5L" src="/img/icons/svg/attachment.svg" alt="" width="24" height="24"/>
																{{/if}}
															{{/if}}
														</button>
													</td>
													<td style="width: 150px">
														<button class="mb-button danger historyitembtn" style="min-width: 100px;" >{{getDicoVar 'incidentResidentIndex' 'see_details'}}</button>
													</td>
												</tr>
											{{/each}}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/if}}
	{{> Template.dynamic template=getModalTemplate data=getModalData}}
</template>
