@import "/client/style/variable.less";

.compo-actions{
  width: 100% !important;
  max-width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  justify-content: center;

  .incident-button {
    min-width: 228px;
    height: 36px !important;
    font-size: 16px;
    display: inline-block;
    margin: 7.5px !important;
    padding-top: 7px !important;
  }
} 
.section-title{
  text-align: left !important;
  text-transform: uppercase; 
  padding-left: 16px; 
  font-weight: normal !important; 
  font-size: 12px !important; 
  background-color: #f1f5f6 !important;
  color: #8b999f !important;
}

.incidents-row {
  display: flex !important; 
  align-items: center !important; 
  text-transform: capitalize !important; 
  border-bottom: none !important;
}

.small-row{
  max-width: 100px;
  width: 100px !important;
}
.medium-row{
  max-width: 150px !important;
  width: 150px !important;
}

.title-row{
  border-bottom: none !important; 
  text-transform: normal; 
  font-size: 18px !important; 
  font-weight: 500 !important;
}

.info-section{
  display: flex; 
  margin: 20px;
}

.user-initials-icon{
  width: 40px !important;  
  height: 40px !important; 
  margin-right: 6px !important;
}