<template name="incident_gestionnaire_index">
<div id="module_incident">
  {{#if isSubscribeReady}}
    {{#if $eq state "elem"}}
      {{> incident_gestionnaire_elem}}
    {{else}}
      {{> incident_gestionnaire_list}}
    {{/if}}
  {{else}}
    {{> loader}}
  {{/if}}
</div>
</template>
