<template name='detailUser'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <div class='occupantListContainer'>
    {{#let userProfile=getUserProfile}}
      <div class='topBarContainer'>
        <div class='topBarModuleNameWithBack'>
          {{ getDicoVar 'commonTranslation' 'manager_occupants' }} - {{getCondoName}}
          <div id='backbutton'>
            <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;">
            {{getDicoVar 'commonTranslation' 'manager_back'}}
          </div>
        </div>
        <div class='topBarActionButton'>
          {{#if and (userHasRight "trombi" "seeOccupantList") (userHasRight "trombi" "addOccupant")}}
          <a type="button" class="btn btn-red-confirm invitOccupant">{{getDicoVar 'commonTranslation' 'manager_invite_occupant'}}</a>
          {{/if}}
        </div>
      </div>
      {{checkRights}}
      <div class='profileContainer'>
        <div class='basicProfile'>
          <div class='profilePictureContainer'>
            {{#let profilePicture=getProfileUrl}}
              {{#if profilePicture}}
                <div class="profilePicture" style='background-image:url("{{profilePicture}}"), url("/img/anonymous.png")'></div>
              {{else}}
                <div class="profilePictureInitial"><span>{{getUserInitial userProfile}}</span></div>
              {{/if}}
            {{/let}}
          </div>
          <div class='informationsContainer'>
            <div class='nameProfile'>{{userProfile.firstname}} {{userProfile.lastname}}</div>
            <div class="detail-tab-container">
              <div class="detail-container">
                {{> MbPanel content='Détails'}}
                <div class='subText'><div class='profileIcon profileMailIcon'></div>{{userProfile.email}}</div>
                <div class='subText'><div class='profileIcon profileMobileIcon'></div>{{formatMobileNumNoError userProfile.tel userProfile.telCode}}</div>
                <div class='subText'><div class='profileIcon profilePhoneIcon'></div>{{formatMobileNumNoError userProfile.tel2 userProfile.tel2Code}}</div>
              </div>
              <div class="detail-container">
                {{> MbPanel content=(getDicoVar 'commonTranslation' 'interests')}}
                <div class="tags-container">
                  {{#each interest in (getInterests userProfile)}}
                    <span class="user-interest">{{interest}}</span>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='tabBarContainer'>
          <div class='selectedTabBar' data-tab='rights'> {{ getDicoVar 'commonTranslation' 'profile_details_rights' }} </div>
        </div>

        {{> Template.dynamic template='rightsDetailsOccupant'}}
      </div>
    {{/let}}
  </div>
</template>
