<template name="totalUsersAccessType_stats">
    <div class="chart-item">
        <div class="head">
            <h3>{{getDicoVar "stats" "total_users_access_type"}}</h3>
            <p class="tu_capitalize">{{getDicoVar "stats" "total_users_access_type_sub"}}</p>
        </div>
        <div class="body">
            {{#unless ready}}
                <div class="loader-container">
                    {{> loader}}
                </div>
            {{else}}
            <span>&nbsp;</span>  <!-- Don't remove -->
            {{#if loadingData}}
              <div class="loader-container-over">
                {{> loader}}
              </div>
            {{/if}}
            <div id="total-users-access-type-chart-container" class="the-chart">
                {{renderChartTotalUsersAccessType}}
            </div>
            <div id="chartjs-total-users-access-type-chart-legend" class="chart-legend-container"></div>
            <div id="chartjs-total-users-access-type-chart-tooltips" class="chart-tooltips-container">
                <table></table>
            </div>
            <div id="total-users-access-type-chart-no-data">
                {{getDicoVar "stats" "no_data"}}
            </div>
            {{/unless}}
        </div>
    </div>
</template>
