<template name='settingsListManager'>
  <div class='settingsContainer'>
    <div class='condoContainer'>
      <span>{{getDicoVar 'commonTranslation' 'set_preferences'}}</span>
      {{> CondoDropDown condoList=getUserCondos condoId=condoIdCb selectAuto=1 noAll=1}}
    </div>
    <div class='settingsWrapper'>
      {{#let condo=getCondoManager}}
        {{#if condo}}
          {{#each notification in (getNotifications condo.notifications)}}
            <div class='settingContainer'>
              <div class='textContainer'>
                <span class='settingTitle'>{{getDicoVar 'commonTranslation' notification.name}}</span>
                <span class='settingDetail'>{{getDicoVar 'commonTranslation' (concatStr notification.name '_details')}}</span>
              </div>
              <div class="checkboxred">
                <input type="checkbox" name="notification_input" id="{{notification.name}}" required checked="{{#if notification.value}}checked{{/if}}" />
                <label for="{{notification.name}}"></label>
              </div>
            </div>
          {{/each}}
        {{/if}}
      {{/let}}
    </div>

  </div>
</template>