<template name="bar_number_concierge">

	<div class="main-modal" id="bar_number_concierge-container" style="background: white; padding: 20px; margin-bottom: 30px;">
		<div class="modal-heading pull-left mb30 inline stat-title">
			<h4 class="modal-title red_color">Demandes conciergerie : </h4>
		</div>
		<div class="pull-right col-xs-5" style="display: inline-block; height: 40px">
			<select id="typeConcierge" class="input-min input-min-select col-xs-12" name="type" style="background: white; margin: 0!important; bottom: 3px; right: 30px;">
				<option value="1">Catégorie</option>
				<option value="0">Type de demande</option>
			</select>
		</div>
		<div id="chartjs-number_concierge-legend" class="global-chart-legend-container">
			<table></table>
		</div>
		<div id="x-axis-arrow-number_concierge" class="x-axis-arrow">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</div>
		<div id="chartjs-chart-tooltips-number_concierge" class="chart-tooltips-container">
			<table></table>
		</div>
		<canvas id="bar_number_concierge"></canvas>
	</div>

</template>