.mb__payzenWrapper {
  .city-code-inputs-container {
    display: flex;

    .city-inline-wrapper {
      flex: 1;
      margin-left: 16px;
    }
  }

  .sameAddressContainer {
    display: flex;
    flex-direction: column;
    & > span {
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #5d5e62;
    }
  }

  &.hidden {
    display: none;
  }

  &.displayed {
    width: 100%;
    height: 100%;
  }

  .checkBoxRed {
    min-width: 22px;
    height: 22px;
    margin: 0 3px 0 0;
    display: inline-block;
    position: relative;

    & > input {
      display: none;
    }

    & > label {
      cursor: pointer;
      width: 22px;
      height: 22px;
      background: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 50%;
      min-height: auto;
      background-color: #fff;

      & > ::after {
        opacity: 0;
        content: '';
        position: absolute;
        width: 13px;
        height: 7px;
        top: 4px;
        left: 3px;
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
      }
    }
  }

  .next-step-button-container {
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 30px !important;
    margin-top: 24px;

    .next-step-button {
      &.disabled {
        cursor: not-allowed;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .65;
        background-color: grey;
      }
      position: absolute;
      right: 18px;
      width: 180px;
      height: 40px;
      line-height: 28px;
      text-align: center;
      vertical-align: middle;
      background-color: var(--secondary-color);
      color: #fff !important;
      outline: none !important;
      border: none;
      font-weight: 400;
      font-size: 16px;
      padding: 6px 30px;
      border-radius: 0;
      display: inline-block;
    }
  }

}
