<template name="firstConnectCaroussel">
    <div class="firstConnectContent col-xs-12">
        <div id="fleche1" class="flecheActive">fleche1</div>
        <div id="fleche2" class="fleche">fleche2</div>
        <div id="fleche3" class="fleche">fleche3</div>
        <div id="fleche4" class="fleche">fleche4</div>
        <div id="fleche5" class="fleche">fleche5</div>
        <div id="fleche6" class="fleche">fleche6</div>
        <div id="fleche7" class="fleche">fleche7</div>
        <div id="fleche8" class="fleche">fleche8</div>
        <div id="fleche9" class="fleche">fleche9</div>
        <div id="fleche10" class="fleche">fleche10</div>
        <div id="fleche11" class="fleche">fleche11</div>

        <div id="prev"></div>
        <ul>
            <div class="rondContainer">
                <div id="rond1" class="redActive"></div>
                <div id="rond2" class="rond"></div>
                <div id="rond3" class="rond"></div>
                <div id="rond4" class="rond"></div>
                <div id="rond5" class="rond"></div>
                <div id="rond6" class="rond"></div>
                <div id="rond7" class="rond"></div>
                <div id="rond8" class="rond"></div>
                <div id="rond9" class="rond"></div>
                <div id="rond10" class="rond"></div>
                <div id="rond11" class="rond"></div>
            </div>
            <li id="car_1" class="visible">
                <h2>Gérer ici les incidents qui vous sont signalés par les occupants</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, doloremque soluta?</p>
                <p> deleniti, fuga in laboriosam minus fuga in laboriosam minus,</p>
            </li>
            <li id="car_2" class="hidden">2</li>
            <li id="car_3" class="hidden">3</li>
            <li id="car_4" class="hidden">
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolores eaque, impedit ipsam minima officiis quaerat repellendus repudiandae rerum sit tempora voluptatibus? Ad architecto cupiditate eos odit praesentium repudiandae vero!</p>
            </li>
            <li id="car_5" class="hidden">5</li>
            <li id="car_6" class="hidden">
                <h2>Gérer ici les incidents qui vous sont signalés par les occupants</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, doloremque soluta?</p>
                <p> deleniti, fuga in laboriosam minus fuga in laboriosam minus,</p>
            </li>
            <li id="car_7" class="hidden">7</li>
            <li id="car_8" class="hidden">8</li>
            <li id="car_9" class="hidden">
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolores eaque, impedit ipsam minima officiis quaerat repellendus repudiandae rerum sit tempora voluptatibus? Ad architecto cupiditate eos odit praesentium repudiandae vero!</p>
            </li>
            <li id="car_10" class="hidden">10</li>
            <li id="car_11" class="hidden">11</li>
        </ul>
        <div id="next"></div>
    </div>
</template>



<template name="fileViewer">
    <!--{{generateRandomId}}-->
    <div class="fileViewerTemplate">
        {{> React
            component=MbFilePreview
            files=getFiles
            newFiles=getNewFiles
            layout="5"
        }}
    </div>
    <!--{{invokeInit}}-->
</template>

<template name="messengerFileViewer">
    <table class="table table-striped table-condensed" style="margin-bottom: 0">
        <tbody>
        {{#each image in getImageList}}
            <tr>
                <td style="padding-top: 1px; padding-bottom: 1px;"><a href="{{image.link}}?download=true" target="_blank" class="small">{{nl2br image.name}}</a><br /><a href="{{image.link}}" target="_blank"><img src="{{image.link}}" width="200px"></a></td>
                <!--<td style="padding-top: 1px; padding-bottom: 1px"><img src="{{image.link}}" alt="{{image.name}}" style="max-height: 150px; max-width: 300px;"/></td>-->
            </tr>
        {{/each}}
        {{#each file in getFileList}}
            <tr>
                <td style="padding-top: 1px; padding-bottom: 1px;"><a href="{{file.link}}?download=true" target="_blank" class="small">{{nl2br file.name}}</a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>
