.file-list {
  .file-list-ul {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
  }

  .file-list-item {
    margin: 0 4px;

    &.file-list-item-new_design {
      margin-top: 0;
      margin-left: 0;
      margin-right: 8px;
      margin-bottom: 8px;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .file-list-item-preview {
      display: flex;
      flex-direction: column;

      .file-list-item-preview-image {
        width: 88px;
        height: 88px;
        object-fit: cover;
      }
    }

    .file-list-item-preview-new_display {
      position: relative;

      .file-list-item-preview-image {
        width: 300px;
        height: 200px;
        object-fit: cover;
      }
    }

    .file-list-item-name {
      margin-top: 5px;
      max-width: 88px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      font-family: Lato, sans-serif;
      text-align: center;
    }

    .file-list-item-delete {
      text-align: center;
      margin: 10px 0;
      cursor: pointer;

      img {
        width: 16px;
        height: 16px;
      }
    }

    .file-list-item-delete-new_display {
      text-align: center;
      background-color: #0000004a;
      cursor: pointer;
      position: absolute;
      height: 24px;
      right: 0;
      bottom: 0;
      width: 24px;

      img {
        width: 16px;
        height: 16px;
      }
    }

    .file-list-input {
      display: none !important;
    }

    &.add-more {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 88px;
      height: 88px;
      border: 1px dashed #ddd;

      span.icon-add {
        display: block;
        width: 30px;
        height: 30px;
        background:  url('/img/icons/svg/add.svg') center center;
      }
    }
    &.add-more-new_display {
      margin: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 200px;
      border: 1px dashed #ddd;

      span.icon-add {
        position: relative;
        width: 27px;
        height: 27px;
        & > div:first-of-type {
          border-top: 2px solid #79878E;
          width: 27px;
          height: 2px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        & > div:last-of-type {
          border-left: 2px solid #79878E;
          height: 27px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
