#fileViewer .table .fileIcon {
  max-height: 150px;
}
#fileViewer .table td {
  border-top: none;
  vertical-align: middle;
}
.carousel-scroller, .carousel-preview {
  border-radius: 0;
  /*visibility: hidden;*/
  margin: auto;
  /* border:   1px solid black; */
  max-width: 800px;
  position: relative;
  /*top:      100px;*/
  /*left:     100px;*/
  text-align: 'center';
}
.slick-initialized {
  visibility: visible;
}
.carousel-scroller {
  /*height: 120px;*/
  padding: 5px 39px 5px 39px;
  border-bottom: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-left: solid 1px #ddd;
  border-top: 0;
  box-shadow: none;
}
.carousel-preview {
  max-height: 800px;
  padding: 5px;
  border: solid 1px #ddd;
  box-shadow: none;
}
.carousel-preview .slick-slide,
.carousel-preview .slides li {
  /*background-color: #ddd;*/
  height: 750px;
  width: 390px;
  position: relative;
}
.carousel-preview .slick-slide a.caro,
.carousel-preview .slides li a.caro {
  height: 750px;
  width: 750px;
  position: absolute;
}
.carousel-preview .slick-slide img,
.carousel-preview .slides img {
  max-height: 800px;
  max-width: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 40px;
  /* padding-right: 20px; */
  /*background-color: #ddd;*/
  /*display:inline-block;*/
  /*vertical-align:middle;*/
  /*float:right;*/
}

.flexslider {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.flexslider .slides img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.carousel-preview .slides img.ifile {
  height: 190px;
  top: -40px;
}

.carousel-preview .slides img.ifile,
.carousel-scroller .slides img.ifile {
  width: auto;
}

/*.carousel-preview .flex-direction-nav a {
  top: 340px;
}
*/
.carousel-preview .flex-direction-nav .flex-disabled {
  display: none;
}

.carousel-preview .flex-direction-nav .flex-prev {
  /* opacity: 1; */
  left: 10px;
}

.carousel-preview .flex-direction-nav .flex-next {
  /* opacity: 1; */
  right: 10px;
}

.carousel-scroller .slick-slide,
.carousel-scroller .slides li {
  border: solid 1px #ddd;
  margin: 5px;
  height: 75px;
  width: 100px;
  position: relative;
}
.carousel-scroller .slick-slide.slick-active,
.carousel-scroller .flex-active-slide {
  border-color: #ff454f!important;
}

.carousel-scroller .slick-slide img,
.carousel-scroller .slides li img {
  max-height: 73px;
  max-width: 94px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  /*background-color: #ddd;*/
}
.carousel-scroller .slick-dots {
  bottom: -20px;
  position: initial;
}

.flex-direction-nav a {
	bottom: -65px;
	top: unset;
	height: 30px;
}

.carousel-preview a.download:before,
.fancybox-title a.download:before,
#lightbox a.download:before,
.flex-direction-nav a:before {
  /*content: ' ';*/
  /*background-image: url("/img/icons8-o-24.png");*/
  /*background-position: center center;*/
  /*background-size: cover;*/
  /*width: 16px;*/
  /*display: inline-block;*/
  /*height: 16px;*/
  /*margin-bottom: -3px;*/
/*  margin-right: 5px;*/

  font-family: 'FontAwesome';
  content: "\f019";
  /*color: #ffffff;*/
}
.carousel-preview p {
  margin: 10px 10px 0px 10px;
}
.carousel-preview a.download {
  margin-left: 10px;
}

.carousel-scroller div {
  /*width:    200px;*/
}
.carousel-scroller .flex-direction-nav a {
  top: 40%;
}
.carousel-scroller .flex-direction-nav {
  display: none;
}

.carousel-scroller .slick-slide img {
  margin: auto;
  pointer-events: initial;
}

.carousel-scroller .slick-prev:before,
.carousel-scroller .slick-next:before {
  color: #ff454f;
  font-family: 'FontAwesome';
  font-size: 56px;
    z-index: 1;
}

.carousel-scroller .slick-prev,
.carousel-scroller .slick-next {
  top: 20px;
    height: 70px;
    z-index: 10;
}

.carousel-scroller .slick-disabled:before {
    color: silver;
}

.carousel-scroller .slick-next:before,
.flex-direction-nav a.flex-next:before {
  content: '\f105';
}

.carousel-scroller .slick-prev:before,
.flex-direction-nav a:before {
  content: '\f104';
}

.carousel-scroller .slick-prev {
  left: 5px;
}

.carousel-scroller .slick-next {
  right: 13px;
}

.carousel-preview div.file {
  position: absolute;
  bottom: 25px;
  left: 0;
  text-align: center;
  width: 100%;
}

.carousel-preview div.file p {
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#links {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-top: 10px;
  list-style: none;
  text-align: center;
  z-index: 99999;
}

ul#links {
  padding-left: 0;
}

#links li {
  color: #ff454f;
  display: inline;
  padding: 0 5px;
  cursor: pointer;
  font-size: 34px;
}

#links li label {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  margin-bottom: 5px;
}

#links li:first-child:before {
  font-family: 'FontAwesome';
  content: '\f104';
  list-style: none;
}

#links li:last-child:before {
  font-family: 'FontAwesome';
  content: '\f105';
  list-style: none;
}

#links li:first-child {
  margin-right: 10px;
}

#links li:last-child {
  margin-left: 10px;
}

#links li.active label {
  background-color: white;
}

.carousel-scroller ul.slick-dots {
    height: 10px;
    margin-bottom: 0;
}
.carousel-scroller .slick-dots li button {
    height: 10px;
    width: 10px;
    padding: 0;
}
.carousel-scroller .slick-dots li,
.carousel-scroller .slick-dots li button:before {
    height: 10px;
    width: 10px;
}

.carousel-scroller .slick-dots li button:before {
    top: -7px;
}

.carousel-scroller .slick-dots li button {
    top: -7px;
}