#fileUpload {
  padding: 5px;
}

#fileUpload .btn-file {
    position: relative;
    overflow: hidden;
}
#fileUpload .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#fileUpload .table td {
  border-top: none;
  vertical-align: middle;
}

#fileUpload .table td img {
  max-height: 50px;
}

#fileUpload .inputsRow {
  /*padding-top: 15px;*/
  padding-bottom: 5px;
}

#fileUpload .alert {
  margin-right: 8px;
}

#fileUpload .buttonCol {
  text-align: center;
}
