.file-upload-button {
  input[type="file"] {
    display: none;
  }
}

.file-upload-button {
  display: flex;
  align-items: center;

  .file-upload-icon-wrapper {
    cursor: pointer;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    text-align: center;

    .file-upload-icon {
      display: inline-block;
      img {
        height: 23px;
        width: 23px;
      }
    }
  }

}