<template name="FileList">
    <div class="file-list">
        <ul class="file-list-ul">
            {{#each file in files}}
            <li class="file-list-item {{#if newDisplay}}file-list-item-new_design{{/if}}">
                <div class="file-list-item-preview{{#if newDisplay}}-new_display{{/if}}">
                    {{#if isImageFile file.type}}
                        <img class="file-list-item-preview-image" src={{ getFileUrl file }} />
                    {{else}}
                        {{#if file.fileId}}
                            <img class="file-list-item-preview-image" src={{ getNewFileUrl file }} />
                        {{else}}
                            <img class="file-list-item-preview-image" src="{{ getFileExtension file }}" alt="{{ file.name }}">
                        {{/if}}
                    {{/if}}
                    {{#unless newDisplay}}
                      <span class="file-list-item-name">{{ file.name }}</span>
                    {{/unless}}
                    <span class="file-list-item-delete{{#if newDisplay}}-new_display{{/if}}" data-file-id="{{ getFileId file }}">
                        <img src="/img/icons/svg/supPicto.svg" />
                    </span>
                </div>
            </li>
            {{/each}}

            {{#if showDropBox}}
            <li class="file-list-item {{#if newDisplay}}file-list-item-new_design{{/if}}">
                <input type="file" class="file-list-input" multiple>
                <div class="file-list-item add-more{{#if newDisplay}}-new_display{{/if}}">
                    <span class="icon-add">
                      <div></div>
                      <div></div>
                    </span>
                </div>
            </li>
            {{/if}}
        </ul>
    </div>
</template>
