<template name="fileUpload">
<div id="fileUpload">
  <div class="inputsRow row">
    <div class="buttonCol col-sm-3">
      <label class="btn btn-default btn-xs btn-file">
        Ajouter un fichier <input id="fileUploadInput" type="file" style="display: none;" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, application/pdf, image/*">
      </label>
    </div>
    <div class="col-sm-9">
      {{#if $neq errorMessage ""}}
        <div class="alert alert-danger">
          {{errorMessage}}
        </div>
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped table-condensed" style="margin-bottom: 0">
          <tbody>
            {{#each file in getFileList}}
            <tr>
              <td>
                {{#if file.done}}
                  <span style="font-size: 0.8em; color: green;" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {{else}}
                  <span style="font-size: 0.8em; color: orange;" class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                {{/if}}
              </td>
              <td style="font-size: 12px">{{file.file.name}}</td>
              <!--<td><img src="img/icons/{{getIconOfFile file.file.type}}" /></td>-->
              <td>
                <!--<button class="removeFile btn btn-default btn-xs" index="{{@index}}">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>-->
                  <button type="button" index="{{@index}}" nb="1" class="close close_line"><i style="font-size: 0.8em;" class="fa fa-times" aria-hidden="true"></i></button>
              </td>
            </tr>
            {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
</template>
