<template name="FileUploadButton">
    <span class="file-upload-button {{this.wrapperClass}}">
        <input type="file" class="file-upload-button-input" multiple/>
        <span class="file-upload-icon-wrapper">
            <span class="file-upload-icon">
                <img src="/img/icons/svg/attachment.svg" class="img-responsive">
            </span>
        </span>
    </span>
</template>