<template name="textAreaFileUpload">
<div id="chat-window" class="mt-window2 grow-class {{params.name}}">
    <input id="fileUploadInput" type="file" class="hidden" name="attachments[]" style="position: absolute; top: -100" />
    <textarea id="answer" name="{{params.name}}" placeholder={{getDicoVar "commonTranslation" "your_message"}} class="custom-control messengerMessage" rows="1" style="cursor: text; resize: none; font-size: 14px;"></textarea>
    {{#if noFileIcon}}
        <span class="attachment-icon-text-area mt6" id="attachment">
            <img src="/img/icons/svg/attachment.svg" class="img-responsive icon-join-file" width='23' height='23' />
        </span>
    {{/if}}
    <ul id="attachments" class="attachments"></ul>
</div>
</template>
