@import "../../../../../style/variable";

.emergency-contact-header {
  .mb-search-bar {
    width: 100%;
    margin: 10px 8px;
  }
}

.emergency-contact-list-wrapper {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  background-color: #ffffff;
  padding: 8px;
  justify-content: space-between;

  .item {
    flex: 1;
  }

  .emergency-contact-card {
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(32, 33, 38, 0.2);
    flex: 0;
    flex-basis: calc(~'33% - 13px');
    padding: 17px 20px 31px;
    display: flex;
    flex-direction: column;
    margin: 8px;
    justify-content: flex-start;
    align-items: center;

    .displayPictureImage {
      background-size: cover;
      vertical-align: middle;
      background-position: 50% 50%;
      border-radius: 50%;
      font-size: 20px;
      color: #ffffff;
      line-height: 40px;
      text-align: center;
      display: inline-block;
      position: relative;
      font-weight: 600;
      width: 178px;
      height: 178px;
    }

    .displayPictureName {
      text-transform: uppercase;
      //background-color: var(--accent-color);
      background-color: var(--primary-color);
      border-radius: 50%;
      font-size: 70px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      width: 178px;
      height: 178px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .name {
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.4px;
      text-align: center;
      color: @slategrey;
      margin-top: 15px;
    }

    .info {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: @grey3;
      margin-top: 11px;
    }

    .open-hours {
      margin-top: 11px;
      cursor: pointer;
      text-decoration: underline;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      //color: var(--menu-selected-item-color);
      color: var(--primary-color);
    }

    .mb-button {
      margin-top: auto;
    }
  }
}

.emergency-contact-list-wrapper:after {
  content: "";
  flex: auto;
}

#emergency-contact-open-hour {
  .modal-header {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: left;
    color: @slategrey;
    border-bottom: solid 1px @wt2;
    h4 {
      display: flex;
    }
    h4 i {
      position: relative;
      top: 4px;
    }

    button {
      background-color: transparent;
      border: 0;
      position: absolute;
      top: 16px;
      right: 16px;
      padding: 0;
      .image-icon {
        height: 24px;
        width: 24px;
      }
    }
  }
  .modal-body {
    padding: 16px;
    p {
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.78;
      letter-spacing: normal;
      text-align: left;
      color: @slategrey;
      margin: 0;
    }
  }
}
