<template name="module_emergency">
  {{#if isSubscribeReady}}
    <div class='occupantListContainer emergency-contact-header'>
      <div class='topBarContainer'>
        <div class='topBarModuleName'>{{ getDicoVar 'commonTranslation' 'emergency_contact' }} - {{getCondoName}}</div>
      </div>

        {{#if hasRight}}
          <div class="emergency-contact-list-wrapper">
            {{#let contacts=getContact}}
              {{#if (or (notEmpty contacts) isSearchMode)}}
              {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=onSearch}}
              {{/if}}
              {{#if $empty contacts}}
              <div class="containerManagerList">
                <div class="card item">
                  <div class="card-block">
                    {{#if isSearchMode}}
                      {{> MbEmpty
                      title=(getDicoVar 'buildingsView' 'no_result')
                    }}
                    {{else}}
                      {{> MbEmpty
                      title=(getDicoVar 'commonTranslation' 'no_contact_yet')
                      subTitle=(getDicoVar 'commonTranslation' 'manager_with_right_add')
                    }}
                    {{/if}}
                  </div>
                </div>
              </div>
              {{else}}
                {{#each contact in contacts}}
                  <div class="emergency-contact-card">
                    {{#let pp=(getProfileUrl contact._id)}}
                      {{#if pp}}
                        <div class='displayPictureImage' style="background-image: url({{pp}}), url(/img/anonymous.png);"></div>
                      {{else}}
                        <div class='displayPictureName'>{{getContactName contact true}}</div>
                      {{/if}}
                    {{/let}}
                    <p class="name">{{getContactName contact false}}</p>
                    <p class="info">{{contact.companyName}}</p>
                    <p class="info">{{getInChargeOf contact}}</p>
                    <p class="open-hours" data-id="{{contact._id}}">{{getDicoVar 'commonTranslation' 'see_opening_hours'}}</p>
                    {{#if contact.phone}}
                      <p class="info">+{{contact.phoneCode}} {{contact.phone}}</p>
                    {{/if}}
                    {{#if contact.landLine}}
                      <p class="info">+{{contact.landLineCode}} {{contact.landLine}}</p>
                    {{/if}}
                    {{#if contact.email}}
                      <p class="info">
                        <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                      </p>
                    {{/if}}
                    {{#if contact.isMbUser}}
                      {{> MbButton (messageButton contact.isMbUser)}}
                    {{/if}}
                  </div>
                {{/each}}
              {{/if}}
            {{/let}}
          </div>
        {{else}}
          {{> MbRestrictedAccess}}
        {{/if}}
    </div>

    {{#if hasRight}}
      <div class="emergency-contact-modal-wrapper modal fade main-modal d-modal" id="emergency-contact-open-hour" tabindex="-1"
        role="dialog" aria-labelledby="emergency-contact-open-hour">
        <div class="modal-dialog">
          <div class="modal-content">
            {{#let detail=getDetail}}
              <div class="modal-header">
                <h4>{{{getDicoVar "resourceForm" "opening_days"}}}</h4>
                <button type="button" data-dismiss="modal">
                  <i class="image-icon close-icon"></i>
                </button>
              </div>
              <div class="modal-body">
                {{#if detail}}

                  {{{renderSchedule}}}

                  {{#if detail.isMbUser}}
                    {{> MbButton (messageButton detail.isMbUser)}}
                  {{/if}}
                {{/if}}
              </div>
            {{/let}}
          </div>
        </div>
      </div>
    {{/if}}
  {{else}}
    {{> loader}}
  {{/if}}
</template>
