.containerOccupantBuildingList {

  .condosInfoContainer {

    .openEditModal {
      display: none;
    }

    .mb-panel-wrapper {
      position: relative;
    }

    .editCondo {
      position: absolute;
      right: 12px;
      top: 8px;
      cursor: pointer;
    }

    .deleteCondo {
      position: absolute;
      right: 32px;
      top: 8px;
      cursor: pointer;
    }
  }
}
