<template name='buildingsList'>
  <div class="containerOccupantBuildingList">
    {{#let condos=getOccupantCondos totalCondos=(getTotalCondos)}}
      {{!-- {{> MbSearchBar counter=(managers.length) placeHolder='Nom / Adresse / Rôle' callback=searchCallback}}
      <div class='searchResult' style='display: none'>
        {{>MbPanel content='Résultat de la recherche'}}
      </div> --}}
      {{#if totalCondos}}
        {{#each condos}}
          <div class='condosInfoContainer'>
            <div class='mb-panel-wrapper'>
              {{> MbPanel content=name}}
              {{#if condoModulesOptions condoId "profile" getAllOptions false}}
                <img class='editCondo' src="/img/icons/edit.png" height="16" data-condoId='{{this.condoId}}'>
              {{/if}}
            </div>
            {{!-- <span class='condoName'>{{name}}</span> --}}
            <div class='groupContainer'>
              <span> {{ getDicoVar 'commonTranslation' 'address' }} </span>
              <span>{{adress}}</span>
            </div>
            <div class='groupContainer'>
              <span> {{ getDicoVar 'commonTranslation' 'guest' }} </span>
              <span>{{humanDate invited}}</span>
            </div>
            <div class='groupContainer'>
              <span> {{ getDicoVar 'commonTranslation' 'joined' }} </span>
              <span>{{humanDate joined}}</span>
            </div>
            <div class='groupContainer'>
              <span> {{ getDicoVar 'commonTranslation' 'role' }} </span>
              <span>{{role}}</span>
            </div>
            <div class='groupContainer'>
              <span> {{ getDicoVar 'commonTranslation' 'sub_building' }} </span>
              <span>{{{building.name}}}</span>
            </div>
            <div class='groupContainer'>
              <span> {{ getDicoVar 'commonTranslation' 'status' }} </span>
              <span>{{getDicoVar 'home' building.type}}</span>
            </div>
            {{#if condoModulesOptions condoId "profile" "company"}}
              <div class='groupContainer'>
                <span> {{ getDicoVar 'commonTranslation' 'company' }} </span>
                <span>{{getCompanyProfile company}}</span>
              </div>
            {{/if}}
            {{#if condoModulesOptions condoId "profile" "floor"}}
              <div class='groupContainer'>
                <span> {{ getDicoVar 'commonTranslation' 'floor' }} </span>
                <span>{{floor}}</span>
              </div>
            {{/if}}
            {{#if condoModulesOptions condoId "profile" "office"}}
              <div class='groupContainer'>
                <span> {{ getDicoVar 'commonTranslation' 'office' }} </span>
                <span>{{office}}</span>
              </div>
            {{/if}}
            {{#if condoModulesOptions condoId "profile" "door"}}
              <div class='groupContainer'>
                <span> {{ getDicoVar 'commonTranslation' 'door' }} </span>
                <span>{{door}}</span>
              </div>
            {{/if}}
            {{#if condoModulesOptions condoId "profile" "school"}}
              <div class='groupContainer'>
                <span> {{ getDicoVar 'commonTranslation' 'school' }} </span>
                <span>{{school}}</span>
              </div>
            {{/if}}
            {{#if condoModulesOptions condoId "profile" "studies"}}
              <div class='groupContainer'>
                <span> {{ getDicoVar 'commonTranslation' 'studies' }} </span>
                <span>{{studies}}</span>
              </div>
            {{/if}}
            {{#if condoModulesOptions condoId "profile" "diploma"}}
              <div class='groupContainer'>
                <span> {{ getDicoVar 'commonTranslation' 'degree' }} </span>
                <span>{{diploma}}</span>
              </div>
            {{/if}}
            {{#if condoModulesOptions condoId "profile" "wifi"}}
              <div class='groupContainer'>
                <span> Wifi </span>
                <span>{{wifi}}</span>
              </div>
            {{/if}}
          </div>
        {{else}}
          {{> MbEmpty
            title=(getDicoVar 'commonTranslation' "no_building")
          }}
        {{/each}}
      {{else}}
        {{> MbEmpty
          title=(getDicoVar 'commonTranslation' 'no_other_manager_yet')
          subTitle=(getDicoVar 'commonTranslation' 'manager_add_by_authorized')
        }}
      {{/if}}
    {{/let}}
  </div>
  {{> editBuildingModal condoId=getEditingCondo}}
</template>
