<template name="ResourceService">
    <div id="resource-service-container">
        <div class="row titleView">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading position_relative">
                        <div class="sub-tool-bar clearfix">
                            <h1 class="pull-left">Resource Service</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>