@import "/client/style/variable.less";

.userImgList {
  /*display: block;
  height: auto;
  width:auto;
  max-height: 50px*/
  height: 50px;
  width: 50px;
    border-radius: 50%;
}
.userAvatar{
  display: block;
  height: auto;
  width:auto;
  max-height: 200px
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90% !important;
    max-width:1200px !important;
  }
}
#invitationsList2 {
    .form-group label span {
        color: @red;
    }
}

.module-usersview {
    .search-contacts {
        padding-right: 0;
        padding-left: 0;
    }
}

.search-contacts {
    margin-top: 18px;
    border-top: 1px solid #e5e4e9;
    padding-top: 6px;
    padding-right: 16px;
    margin-left: -15px;
    margin-right: -15px;

    .counter {
        position: absolute;
        right: 10px;
        top: 7px;
        font-style: italic;
        color: #9fa0a5;
        font-weight: normal;
    }
    ::placeholder {
        color: #8b999f;
        opacity: 1;
    }
}

.search-contacts form {
    position: relative;
    margin-bottom: -4px;
    box-shadow: 0 1px 4px 0 rgba(32, 33, 38, 0.1);
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
}

.search-contacts input {
    width: 100%;
    border: 0;
    height: 35px;
    padding-left: 40px;
    padding-right: 10px;
    border-radius: 1px;
    color: #8b999f;
    font-size: 17px;
}

.search-contacts button {
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 5px;
    left: 0;
}

a, a:hover, a:focus, a:active, button, button:focus, button:active {
    text-decoration: none;
    outline: none !important;
}

.search-contacts button i.material-icons {
    font-size: 24px;
    color: @grey3;
}

.d-contacts-table {
    border-collapse: separate;
    border-spacing: 0 12px;
}

.d-contacts-table tbody tr {
    box-shadow: 0px 0px 9px rgba(0,0,0,.2);
}

table {
    background-color: transparent;
}

table.table.d-contacts-table > thead > tr > th:first-child, table.table.d-contacts-table > tbody > tr > td:first-child {
    padding-left: 30px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.d-contacts-table td {
    vertical-align: middle !important;
}

.d-contacts-table > thead > tr > th {
    text-transform: uppercase;
    color: #9fa0a5;
    font-weight: 700;
    font-size: 15px;
    border: none;
}

table.table.d-contacts-table > tbody > tr > td:first-child {
    padding-left: 30px;
}

.d-contacts-table tbody tr > td, .d-contacts-table tbody tr > td > a {
    color: #68696d;
    font-size: 15px;
}

.d-contacts-table tbody tr > td {
    border: none;
    background-color: @wt;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: normal;
}

.d-contacts-table tbody tr.newmsgLine > td {
    font-weight: 900;
}

.plpr5 {
    padding-left: 5px;
    padding-right: 5px;
}

#userEmpty{
    position: absolute;
    left: calc(~'50% - 100px');
    top: 73px;
    margin: 0 !important;
}
@media (max-width: 776px){
    #userEmpty {
        position: inherit;
    }
}

@media (max-width: 440px){
    #validadd_participant{
        float: left !important;
        margin-top: 20px;
    }
}

.display-modules {
    .nav-tabs.backNav {
        li {
            a {
                //padding: 12px 20px;
                height: 40px;
            }
        }
    }
}

//.tableHead > th {
//    font-family: Lato !important;
//    font-size: 14px !important;
//    font-weight: 500 !important;
//    font-style: normal !important;
//    font-stretch: normal !important;
//    line-height: normal !important;
//    letter-spacing: -0.4px !important;
//    text-align: left !important;
//    color: #5d5e62 !important;
//    padding: 23px 0 23px 0 !important;
//}

.tablePullLeft > td {
    padding-left: 0 !important;
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
    color: #8b999f;
}

.cellSmallSize {
    width: 7% !important;
}

.delBtn {
    border:none;
    cursor: pointer !important;
    display: block !important;
    margin: 0 auto !important;
}

.titleViewStyle {
    margin: 0;
    background-color: #fff;
    margin-bottom: 16px;
    height: 64px !important;
}

.invitBtn {
    height: 36px !important;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.widthBtn {
    width: 100%;
    margin: 0 0 10px 0!important;
}

.cellOther > th {
    width: calc(100%/5)
}

.nohover:hover {
    background-color: transparent !important;
}

.table > thead > tr > th {
  border-bottom: 1px solid #ddd !important;
}