.phoneContainerFlex {
  display: flex;
  flex-wrap: wrap;

  .phoneContainer, .multiple-input-line {
    flex: 1 0 50%;
    min-width: 350px;
    margin-bottom: 23px;
    &:first-of-type {
      padding-right: 16px;
    }
  }

  // &:first-of-type {
  //   > div:first-of-type {
  //     padding-right: 16px;
  //     margin-right: 16px;
  //   }
  //   > div:nth-child(2) {
  //     position: relative;
  //     left: -16px;
  //   }
  // }
}

.phoneContainer {
  width: 100% !important;
  display: inline-flex !important;

  & > * {
    flex: unset !important;
  }
  .mb-input {
    width: calc(~'100% - 80px - 25px') !important;
    margin-left: -75px !important;

    & > input {
      padding-bottom: 10px !important;
    }
  }
  .mb-select {
    width: 180px !important;

    & > span {
      width: 85px !important;
    }

    & > label {
      min-width: 120px !important;
    }
  }
}

.submitNewManager, .submitNewOccupant {
  &[disabled] {
    background-color: gray !important;
    border-color: gray !important;
  }
}

.invitManagerButton {
  // font-size: 16px;
  line-height: 24px;
  margin-right: 0;
}

.entitySelector {
  display: none;
}

.entitySelectorDisplayed {
  display: block !important;
  margin-bottom: 25px;
}

.personalDetails > *:not(.entitySelector):not(.civiliteSelector):not(.displayCondoList) {
  margin-top: 25px;
}


.containerManagerList {
  margin: 0 !important;
  padding: 21px 16px !important;
  background-color: white;
  width: 100%;
  height: fit-content;
  position: relative;
  min-height: 1px;
  overflow-x: auto;

  .labelForCheckbox.disabledRight {
    background-color: #D9D9D9 !important;
    border: 2px solid #D9D9D9 !important;
    cursor: not-allowed;
  }

  .rowsProfile {
    &-2 {
      display: flex;
      flex-wrap: wrap;
      & > div {
        flex: 1 0 calc(~'50% - 12px');
        min-width: 420px;
        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
    &-3 {
      display: flex;
      flex-wrap: wrap;
      & > div {
        flex: 1 0 calc(~'33% - 16px');
        min-width: 300px;
        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
    &-4 {
      display: flex;
      flex-wrap: wrap;
      & > div {
        flex: 1 0 calc(~'25% - 24px');
        min-width: 300px;
        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
  }

  .saveRights {
    display: flex;
    margin-top: 22px;
    justify-content: flex-end;
  }

  @media (max-width: 800px) {
    .displayCondoList {
      flex-flow: column;

      & > *:not(:last-child) {
        width: 100% !important;
        .mb-select > span {
          width: 100% !important;
        }
      }
    }
  }

  .displayCondoList {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    & > *:not(:last-child) {
      width: calc(~'50% - 12px - 15px - 110px');
      .mb-select > span {
        width: 100% !important;
      }
    }
    & > *:last-child {
      padding-top: 31px;
      width: 220px;
      & > * {
        &.disabled {
          cursor: not-allowed;
          background-color: white;
          color: grey;
          border-color: grey;
       }
        padding: 0 5px;
        height: 32px;
        width: 220px;
      }
    }

  }

  .addIconContainer {
    width: 100%;

    .first-div {
      border-bottom: 2px solid var(--secondary-color);
      width: 24px;
      position: relative;
      left: calc(~'50% - 12px');
      top: calc(~'50% - 1px');
    }
    .second-div {
      border-left: 2px solid var(--secondary-color);
      height: 24px;
      position: relative;
      left: calc(~'50% - 1px');
      top: calc(~'50% - 14px');
      width: 2px;
    }
    .addIcon {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      cursor: pointer;

      border: 2px solid var(--secondary-color);
      border-radius: 50%;
      width: 44px;
      height: 44px;
      font-size: 52px;
      text-align: center;
      font-weight: 100;
      line-height: 30px;
      font-family: 'Open Sans', sans-serif;
      color: var(--secondary-color);

      &.disabled {
        .first-div {
          border-bottom: 2px solid grey;
        }
        .second-div {
          border-left: 2px solid grey;
        }
        border: 2px solid grey;
        color: grey;
        cursor: not-allowed;
      }
    }

    // .addIcon {
    //   position: relative;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   display: block;
    //   width: 44px;
    //   height: 44px;
    //   background:  url('/img/icons/svg/addtimes.svg') center center no-repeat;
    //   background-size: 44px;
    //   cursor: pointer;

    //   &.disabled {
    //     background:  url('/img/icons/svg/addtimes_disabled.svg') center center no-repeat;
    //     color: grey;
    //     cursor: not-allowed;
    //   }
    // }
  }

  .displayCondoList {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

  .rightsTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;

    .introText {
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.4px;
      text-align: left;
      color: #5d5e62;
    }
  }

  .searchResult {
    padding-top: 25px;
  }

  .managerDetailsContainer {
    margin: 16px 0;
    width: 100%;

    .containerLine {
      cursor: pointer;
    }
    .containerColumn {
      height: 64px;

      &::first-letter {
        text-transform: capitalize;
      }

      .filter-th {
        text-decoration: underline; cursor: pointer;

        .arrow-container-filter {
          display: inline-block;
          position: absolute;
          width: 16px;
          height: 16px;
          margin-left: 8px;

          .arrow-filter-reversed {
            transform: rotate(180deg);
          }
          .arrow-filter {
            width: 0px;
            margin-top: 6px;
            height: 0px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #5d5e62;
          }
        }
      }
      th {
        vertical-align: middle;
        font-family: Lato;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        color: #5d5e62;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .lighter {
      color: #8b999f !important;
    }
    .commonColumn {
      vertical-align: middle;
      font-family: Lato;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -0.4px;
      text-align: left;
      color: #5d5e62;
      width: auto;

      @media (min-width: 1430px) {
        max-width: 200px!important;
      }
    }
    .pictureColumn {
      height: 44px;
      width: 44px;
      vertical-align: middle;

      .displayPictureImage {

        background-size: cover;
        vertical-align: middle;
        background-position: 50% 50%;

        border-radius: 50%;
        font-size: 20px;
        color: #ffffff;
        line-height: 40px;
        text-align: center;
        display: inline-block;
        position: relative;
        font-weight: 600;
        width: 44px;
        height: 44px;
      }

      .displayPictureName {
        text-transform: uppercase;
        //background-color: var(--accent-color);
        background-color: var(--primary-color);
        border-radius: 50%;
        font-size: 20px;
        color: #ffffff;
        line-height: 44px;
        text-align: center;
        font-weight: 300;
        width: 44px;
        height: 44px;
      }
    }
    .firstnameColumn {
      margin-left: 64px;
      max-width: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .lastnameColumn {
      margin-left: 20px;
      max-width: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .emailColumn {
      margin-left: 20px;
      max-width: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .phoneColumn {
      margin-left: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 0px;
    }
    .condosColumn {
      margin-left: 20px;
      max-width: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      & > * {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .invitedColumn {
      margin-left: 20px;
      max-width: 0px;
      div {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .trashColumn {
      text-align: right;
      max-width: 42px;
      div {
        margin-left: auto;
        margin-right: 0;
        width: 24px;
        height: 24px;
        background-image: url('img/icons/svg/trash.svg');
        // background-color: #8b999f;
        // -webkit-mask-image: url('img/icons/svg/trash.svg');
        // mask-image: url('img/icons/svg/trash.svg');
      }
    }
    .resendEmail {
      text-align: right;
      max-width: 42px;
      div {
        margin-left: auto;
        margin-right: 0;
        width: 30px;
        height: 30px;
        background-image: url('img/icons/resend_email2.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 27px
        // background-color: #8b999f;
        // -webkit-mask-image: url('img/icons/svg/trash.svg');
        // mask-image: url('img/icons/svg/trash.svg');
      }
    }
    .download {
      font-weight: unset;
    }
    .justifFileDownload {
      width: 50px;
      height: 50px;
    }

    .occupantActionColumn {
      text-align: right;
      min-width: 83px !important;

      div {
        margin-left: auto;
        display: inline-block;
        margin-right: 0;
        width: 25px;
        height: 24px;
        // -webkit-mask-size: 24px;
        // mask-size: 24px;
        // -webkit-mask-position: center;
        // mask-position: center;
        // -webkit-mask-repeat: no-repeat;
        // mask-repeat: no-repeat;
        &.validOccupantColumn {
          background-image: url('img/icons/svg/accept.svg');
          background-size: 24px;
          background-repeat: no-repeat;
          // background-color: #4ad22e;
          // -webkit-mask-image: url('img/icons/svg/accept.svg');
          // mask-image: url('img/icons/svg/accept.svg');
          margin-right: 10px;
        }
        &.denyOccupantColumn {
          background-image: url('img/icons/svg/deny.svg');
          background-size: 24px;
          background-repeat: no-repeat;
          // background-color: #fa0014;
          // -webkit-mask-image: url('img/icons/svg/deny.svg');
          // mask-image: url('img/icons/svg/deny.svg');
        }
      }
    }
  }

  .tableRights {
    width: 100%;
    margin-top: 22px;

    .moduleRow {
      font-family: Lato;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.9px;
      text-align: left;
      padding-left: 16px;
      height: 32px;
      color: #8b999f;
    }

    .roleRightRight {
      &.disabledRight {
        opacity: 0.65;
      }

      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.4px;
      text-align: left;
      padding-left: 31px;
      height: 40px;
      color: #8b999f;
    }
  }
}
