<template name="messenger_manager">
	{{#if allReady}}
	<div class="card contact" style="background-color: white">
    <div class="card card-main">
      <div class="row" id="first-opt">
        <div class="col-sm-12" style="padding: 20px 40px;">
          <div class="form-group">
            <div class="form-check" style="position: relative;">
              <div style="margin-right: 120px; position: relative;">
                <div class="input_form" style='width: 75%; height: 150px; display: flex; flex-direction: column;'>
                  {{> MbInput
                    required=true
                    label='Personnaliser le message d\'information dans les incidents - FR : '
                    value=getValue_fr
                    onBlur=onBlur_fr
                    placeholder='Exemple: Pour consulter le suivi de l\'incident cliquez ici'
                  }}

                  {{> MbInput
                    required=true
                    label='Personnaliser le message d\'information dans les incidents - EN : '
                    value=getValue_en
                    onBlur=onBlur_en
                    placeholder='Exemple: To check the incident\'s state of progress click here'
                  }}
                </div>
              </div>
              <button id='saveCustomIncidentMessage' class="messengerManagerBackoffice btn red_btn" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Enregistrement...">Enregistrer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
		<div class="card card-main">
			<div class="row" id="second-opt">
				<div class="col-sm-12" style="padding: 20px 40px;">
					<div class="form-group">
						<label for="type" class="segment-title">{{getDicoVar "moduleMessagerieIndex" "type"}}*</label>
						<div class="form-check" style="position: relative;">
							<div style="margin-right: 160px; display: flex; justify-content: space-between;">
								{{#each incidentType getCondoId}}
								<label class="custom-control custom-radio" style="position: relative; height: 92px; margin-top: 15px">
									<input type="radio" class="custom-control-input typeRadio" name="typeRadio" value="{{this._id}}">
									<span class="custom-control-indicator" style="background: url('{{this.picto}}') center center no-repeat #dffbff; background-size: 95% auto;"></span>
									<div class="custom-control-description" style="padding-left: 82px; height: 19px; position: relative; transform: translateY(-50%); top: 50%; padding-top: 0px;">{{getValueByLang this}}</div>
								</label>
								{{/each}}
							</div>
							<button class="messengerManagerBackoffice btn red_btn" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Personnalisation..." data-toggle="modal" data-target="#modal_messenger_manager_type">Personnaliser</button>
						</div>
					</div>
				</div>
			</div>
			{{#if isTypeSelected}}
				{{#if isIncidentSelected}}
			<div class="row" id="first-opt">
				<div class="col-sm-12" style="padding: 20px 40px;">
					<div class="form-group">
						<label for="type" class="segment-title">{{getDicoVar "moduleMessagerieIndex" "details"}}*</label>
						<div class="form-check" style="position: relative;">
							<div style="margin-right: 160px; display: flex; justify-content: space-between; height: 155px;">
								{{#each incidentDetails getCondoId}}
								<label class="custom-control custom-radio details" style="margin-top: 15px; width: 90px; display: flex; flex-direction: column-reverse;">
									<input type="radio" class="custom-control-input typeRadio" name="detailsRadio" value="{{this._id}}">
									<span class="custom-control-indicator" style="background: url('{{this.picto}}') center center no-repeat #dffbff; background-size: 95% auto;"></span>
									<div style='font-weight: 500; white-space: nowrap; color: #8b999f; text-transform: uppercase; font-size: 80%; text-align: center;'>{{{getBrokenValue this}}}</div>
								</label>
								{{/each}}
							</div>
							<button class="messengerManagerBackoffice btn red_btn" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Personnalisation..." data-toggle="modal" data-target="#modal_messenger_manager_incidentDetails">Personnaliser</button>
						</div>
					</div>
				</div>
			</div>
				{{/if}}
				<div class="row" id="first-opt">
					<div class="col-sm-12" style="padding: 20px 40px;">
						<div class="form-group">
							<label for="type" class="segment-title">{{getDicoVar "moduleMessagerieIndex" "priority"}}*</label>
							<div class="form-check" style="position: relative;">
								<div style="margin-right: 120px;">
									{{#each incidentPriority getCondoId}}
									<label class="custom-control custom-radio" style="position: relative; height: 92px; margin-top: 15px">
										<input type="radio" class="custom-control-input typeRadio" name="priorityRadio" value="{{this._id}}">
										<span class="custom-control-indicator" style="background: url('{{this.picto}}') center center no-repeat #dffbff; background-size: 95% auto;"></span>
										<div class="custom-control-description" style="padding-left: 82px; height: 19px; position: relative; transform: translateY(-50%); top: 50%; padding-top: 0px;">{{getValueByLang this}}</div>
									</label>
									{{/each}}
								</div>
								<button class="messengerManagerBackoffice btn red_btn" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Personnalisation..." data-toggle="modal" data-target="#modal_messenger_manager_priority">Personnaliser</button>
							</div>
						</div>
					</div>
					{{#if isIncidentSelected}}
					<div class="col-sm-12" style="padding: 20px 40px;">
						<div class="form-group">
							<label for="type" class="segment-title">{{getDicoVar "moduleMessagerieIndex" "zoned"}}*</label>
							<div class="form-check" style="position: relative;">
								<div style="margin-right: 120px;">
									{{#each incidentArea getCondoId}}
									<label class="custom-control custom-radio" style="position: relative; height: 92px; margin-top: 15px">
										<input type="radio" class="custom-control-input typeRadio" name="areaRadio" value="{{this._id}}">
										<span class="custom-control-indicator" style="background: url('{{this.picto}}') center center no-repeat #dffbff; background-size: 95% auto;"></span>
										<div class="custom-control-description" style="padding-left: 82px; height: 19px; position: relative; transform: translateY(-50%); top: 50%; padding-top: 0px;">{{getValueByLang this}}</div>
									</label>
									{{/each}}
								</div>
								<button class="messengerManagerBackoffice btn red_btn" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Personnalisation..." data-toggle="modal" data-target="#modal_messenger_manager_incidentArea">Personnaliser</button>
							</div>
						</div>
					</div>
					{{/if}}
				</div>
				{{#if $eq (isIncidentSelected) false}}
				<div class="row">
					<div class="col-sm-12" style="padding: 20px 40px;">
						<div class="form-group" style="position: relative;">
							<div style="margin-right: 120px;">
								<label for="name" class="segment-title">{{getDicoVar "moduleMessagerieIndex" "details"}}*</label>
								<select class="form-control" name="details" style="width: 600px;">
									{{#each declarationDetailId in getDropdownElem}}
										<option value="{{declarationDetailId}}">{{getDeclarationDetailValue declarationDetailId}}</option>
									{{/each}}
								</select>
							</div>
							<button class="messengerManagerBackoffice btn red_btn" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Personnalisation..." data-toggle="modal" data-target="#modal_messenger_manager_dropdownDetails">Personnaliser</button>
						</div>
					</div>
				</div>
				{{/if}}
			{{/if}}
		</div>
	</div>
	{{else}}
		{{> loader}}
	{{/if}}
	{{> messenger_manager_type_modal}}
	{{> messenger_manager_incidentDetails_modal}}
	{{> messenger_manager_priority_modal}}
	{{> messenger_manager_incidentArea_modal}}
	{{> messenger_manager_dropdownDetails_modal typeId=getTypeId}}
</template>
