<template name='ClassifiedCard'>
  <div class="card-block small-padding">
    <div class="card-inner pos-relative">
      {{!-- {{#let ad=this.element}} --}}
        {{#if isNewAd this.post}}<span class="message-unread-manager"></span>{{/if}}
        <div class="mb-post">
          <div class="mb-post-header">
            <div class="mb-post-meta">
              <div class="mb-post-avatar">
                {{> userIcon template="userIcon" type="U" userId=this.post.userId }}
              </div>

              <div class="mb-post-info">
                <div class="mb-post-username">
                  {{ getName this.post.userId 'firstname' }} {{ getName this.post.userId 'lastname'}} {{ isUser this.post.userId }}
                </div>
                <div class="mb-post-created">
                  {{#if isEdited this.post._id}}{{getDicoVar "home" "edited"}}{{else}}{{getDicoVar "moduleActualityIndex" "published_on"}}{{/if}} {{ parseAdCreated this.post.feedDate }} • {{ getDicoVar 'feedList' 'classified' }}
                </div>
              </div>
            </div>
          </div>

          <div class="mb-post-content mb-ad-content" data-ad-id="{{ this.post._id }}">
            <div class="mb-goToAd" data-ad-id="{{ this.post._id }}">
              <div class="mb-post-title truncated">
                {{ this.post.title }}
              </div>
              <div class="mb-post-price">
                {{ parseAdPrice this.post.price }}
              </div>
              <div class="mb-post-description break-line truncated">
                {{ stripHtmlTag this.post.description }}
              </div>
            </div>


            <div class='{{#if hasFiles post.hasFiles}}imagesWrapper{{/if}}'>
            {{#if post.filesId}}
              {{getFilesFromServer post.filesId}}
                <div class="fileViewerTemplate">
                    {{> React
                        component=MbFilePreview
                        files=getFiles
                        newFiles=(newFiles post.filesId)
                        layout="13"
                        nativeObject=true
                        limit=4
                        onMore=onMore
                    }}
                </div>
            {{/if}}
            </div>
          </div>

          <div class="mb-post-footer no-padding">
            <div class="mb-post-stat mb-post-comment-icon">
              {{ getCounter this.post._id }} {{getDicoVar "moduleForumList" "comments"}}
            </div>
            <div class="mb-post-stat mb-post-view-icon">
              {{ nbViews this.post._id }} {{getDicoVar "moduleClassifiedsList" "views"}}
            </div>
          </div>
        </div>
      {{!-- {{/let}} --}}
    </div>
  </div>




</template>
