<template name="documentsGestionnaire">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <input id="fileUploadInputMan" type="file" style="display: none;" accept="application/pdf" />
  <input id="fileUploadInputMap" type="file" style="display: none;" accept="application/pdf" />
  <div class="row titleView">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-heading position_relative">
          <div class="sub-tool-bar clearfix">
            <h1 class="pull-left"> {{ getDicoVar 'documentModule' 'viewTitle' }}
              {{#if $neq currentPage "liste"}}
                <small class="backBtnSmall">
                  <button type="button" id="goBack" class="backBtn">
                    <img src="/img/icons/back.svg" height="15" class="backBtnImg">{{ getDicoVar 'commonTranslation' 'manager_back' }}
                  </button>
                </small>
              {{/if}}
            </h1>
            {{#if refreshCondoId}}{{/if}}
            {{!-- {{> CondoDropDown condoList=CDD_cursor classes="pull-right"}} --}}
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if $neq currentPage "liste"}}
    <div style="border-width: 1" class="row">
      <div class="col-sm-12">
        <div class="divMainTabLink">
          <div class="sub-tool-bar clearfix">
            {{#with condo=getOpenedCondo}}
              {{#if userHasRight "manual" "see" condo._id}}
                <button class="tablink" id="defaultOpen" data-id="manual" style="border-bottom: 5px solid var(--primary-color)"> {{ getDicoVar 'commonTranslation' 'document_manual' }} </button>
              {{/if}}
              {{#if userHasRight "map" "see" condo._id}}
                <button class="tablink" data-id="map"> {{ getDicoVar 'commonTranslation' 'document_plan' }} </button>
              {{/if}}
            {{/with}}
          </div>
        </div>
      </div>
    </div>
  {{/if}}

  {{#if $eq currentPage "liste"}}
    {{#if getRestrictedAccess}}
      <div class="d-contacts-main divTableContent">
        <div class="table-responsive subDivTableContent">
          <table class="table align-middle">
            <thead>
              <tr>
                <th style="text-transform: capitalize!important" class="tableThead"> {{ getDicoVar 'documentModule' 'tableBuilding' }} </th>
                <th style="text-transform: capitalize!important" class="tableThead"> {{ getDicoVar 'documentModule' 'tableAddress' }} </th>
                <th style="text-transform: capitalize!important" class="tableThead"> {{ getDicoVar 'documentModule' 'tableManual' }} </th>
                <th style="text-transform: capitalize!important" class="tableThead"> {{ getDicoVar 'documentModule' 'tableMap' }} </th>
              </tr>
            </thead>
            <tbody>
              {{#each condo in condos}}
                {{!-- {{#if userHasRight "view" "documents" condo._id}} --}}
                  <tr>
                    <td class="tableContent td-building">
                      {{#if $neq condo.name condo.info.address}}
                        {{#if $neq condo.info.id "-1"}}{{condo.info.id}} - {{/if}}{{condo.name}}
                      {{else}}
                        {{#if $neq condo.info.id "-1"}}{{condo.info.id}} - {{/if}}{{condo.name}}
                      {{/if}}
                    </td>
                    <td class="tableContent">
                      {{condo.info.address}},
                      <br> {{condo.info.code}} {{condo.info.city}}
                    </td>
                    {{#if userHasRight "manual" "see" condo._id}}
                      <td class="td-btn">
                        <div class="dropdown">
                          <button type="button" class="btn btn-save viewdoc dropdown-toggle" data-toggle="dropdown" aria-label="Left Align" data-condo-id="{{condo._id}}"
                            page="manuel">
                            {{#if hasManual condo._id}}
                              <div class="btn-red-confirm btntableDoc">
                                <a href="#" type="button" class="btnDoc"> {{ getDicoVar 'documentModule' 'visualize_editManual' }} </a>
                              </div>
                            {{else}}
                              <div class="btn-outline-red-confirm btntableDoc">
                                <a href="#" type="button" class="btnNoDoc"> {{ getDicoVar 'documentModule' 'addManual' }} </a>
                              </div>
                            {{/if}}
                          </button>
                          <ul class="dropdown-menu document-dropdown-menu">
                            {{#if hasManual condo._id}}
                              {{#if userHasRight "manual" "see" condo._id}}
                                <li>
                                  <a data-condo-id="{{condo._id}}" class="manaction apadded" action="view"> {{ getDicoVar 'documentModule' 'dropdownVisualize' }} </a>
                                </li>
                              {{/if}}
                              {{#if userHasRight "manual" "write" condo._id}}
                                <li>
                                  <a data-condo-id="{{condo._id}}" class="manaction apadded" action="modifyText">
                                    {{#if $eq (manualType condo._id) "file"}} {{ getDicoVar 'documentModule' 'modalReplaceText' }} {{else}}{{ getDicoVar 'documentModule' 'modalEditTxt' }}
                                      {{/if}}
                                  </a>
                                </li>
                                <li>
                                  <a data-condo-id="{{condo._id}}" class="manaction apadded" action="changePdf">
                                    {{#if $eq (manualType condo._id) "text"}} {{ getDicoVar 'documentModule' 'modalReplacePDF' }} {{else}}{{ getDicoVar 'documentModule' 'modalEditPDF' }}
                                      {{/if}}
                                  </a>
                                </li>
                              {{/if}}
                              {{#if userHasRight "manual" "delete" condo._id}}
                                <li>
                                  <a data-condo-id="{{condo._id}}" class="manaction apadded" action="deleteCurrent"> {{ getDicoVar 'documentModule' 'modalDel' }} </a>
                                </li>
                              {{/if}}
                            {{else}}
                              {{#if userHasRight "manual" "write" condo._id}}
                                <li>
                                  <a data-condo-id="{{condo._id}}" class="manaction apadded" action="modifyText"> {{ getDicoVar 'documentModule' 'modalAddTxt' }} </a>
                                </li>
                                <li>
                                  <a data-condo-id="{{condo._id}}" class="manaction apadded" action="changePdf"> {{ getDicoVar 'documentModule' 'modalAddPDF' }} </a>
                                </li>
                              {{/if}}
                            {{/if}}
                          </ul>
                        </div>
                      </td>
                    {{else}}
                      <td class="tableContent">
                        -
                      </td>
                    {{/if}}
                    {{#if userHasRight "map" "see" condo._id}}
                      <td class="td-btn">
                        <div class="dropdown">
                          <button type="button" class="btn btn-save viewdoc dropdown-toggle" data-toggle="dropdown" aria-label="Left Align" data-condo-id="{{condo._id}}"
                            page="map">
                            {{#if hasMap condo._id}}
                              <div class="btn-red-confirm btntableDoc">
                                <a href="#" type="button" class="btnDoc"> {{ getDicoVar 'documentModule' 'visualize_editMap' }} </a>
                              </div>
                            {{else}}
                              <div class="btn-outline-red-confirm btntableDoc">
                                <a href="#" type="button" class="btnNoDoc"> {{ getDicoVar 'documentModule' 'addMap' }} </a>
                              </div>
                            {{/if}}
                          </button>
                          <ul class="dropdown-menu document-dropdown-menu">
                            {{#if hasMap condo._id}}
                              {{#if userHasRight "map" "see" condo._id}}
                                <li>
                                  <a data-condo-id="{{condo._id}}" class="mapaction apadded" action="view"> {{ getDicoVar 'documentModule' 'dropdownVisualize' }} </a>
                                </li>
                              {{/if}}
                              {{#if userHasRight "map" "write" condo._id}}
                                <li>
                                  <a data-condo-id="{{condo._id}}" class="mapaction apadded" action="changePdf"> {{ getDicoVar 'documentModule' 'modalEditPDF' }} </a>
                                </li>
                              {{/if}}
                              {{#if userHasRight "map" "delete" condo._id}}
                                <li>
                                  <a data-condo-id="{{condo._id}}" class="mapaction apadded" action="deleteCurrent"> {{ getDicoVar 'documentModule' 'modalDel' }} </a>
                                </li>
                              {{/if}}
                            {{else}}
                              {{#if userHasRight "map" "write" condo._id}}
                                <li>
                                  <a data-condo-id="{{condo._id}}" class="mapaction apadded" action="changePdf"> {{ getDicoVar 'documentModule' 'modalAddPDF' }} </a>
                                </li>
                              {{/if}}
                            {{/if}}
                          </ul>
                        </div>
                      </td>
                    {{else}}
                      <td class="tableContent">
                        -
                      </td>
                    {{/if}}
                  </tr>
                {{!-- {{/if}} --}}
              {{/each}}
            </tbody>
          </table>
        </div>
        <!--<ul class="d-pagination mt-400">
              <li>
                  <a href="#"><img src="/img/icons/back.svg"></a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li>
                  <a href="#"><img src="/img/backto_right.png"></a>
              </li>
          </ul>-->
      </div>
    {{else}}
      {{> MbRestrictedAccess }}
    {{/if}}
  {{/if}}
  <!-- ============================================================================================ -->
  <!-- ============================================================================================ -->
  <!-- ============================================================================================ -->
  {{#if $eq currentPage "manuel"}}
    <div class="row titleView">
      <div class="col-sm-12">
        <div class="panel padContent docPage">
          {{#if hasManual}}
            <div class="col-sm-12 hasDoc">
              <div class="hasDocContent" id="drop" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                {{#with condo=getOpenedCondo}}
                  {{#if userHasRight "manual" "delete" condo._id}}
                    <div class="btn-group pull-right mt10 mb10" role="group">
                      <button type="button" class="btn btn-sm dropdown-toggle hasDocContentBtn" data-toggle="dropdown">
                        <a class="msg-trigger">
                          <img src="/img/icons/svg/trash.svg" width="24" alt="">
                        </a>
                      </button>
                      <div class="dropdown-menu document-dropdown-menu right-arrow">
                        <a id="deleteCurrent" class="dropdown-item"> {{ getDicoVar 'documentModule' 'modalDel' }} </a>
                      </div>
                    </div>
                  {{/if}}
                  {{#if userHasRight "manual" "write" condo._id}}
                    <div class="btn-group pull-right mt10 mb10" role="group">
                      <button type="button" class="btn btn-sm dropdown-toggle hasDocContentBtn" data-toggle="dropdown">
                        <a class="msg-trigger">
                          <img src="/img/icons/edit.png" width="24" alt="">
                        </a>
                      </button>
                      <div class="dropdown-menu document-dropdown-menu right-arrow">
                        <a id="modifyText" class="dropdown-item">
                          {{#if $eq manualType "file"}} {{ getDicoVar 'documentModule' 'modalReplaceText' }} {{else}}{{ getDicoVar 'documentModule' 'modalEditTxt' }}
                            {{/if}}
                        </a>
                        <a id="changePdf" class="dropdown-item">
                          {{#if $eq manualType "text"}} {{ getDicoVar 'documentModule' 'modalReplacePDF' }} {{else}}{{ getDicoVar 'documentModule' 'modalEditPDF' }}
                            {{/if}}
                        </a>
                      </div>
                    </div>
                  {{/if}}
                {{/with}}
              </div>
            </div>

            <div class="col-sm-12 hasDoc">
              {{#if isEditing}}
                <div style="margin: 16px 0 16px 0">
                  {{> richTextInput
                    fileManager=getFm
                    sendMessage=getCb
                    onCancel=getCancelCb
                    withFiles=false
                    sendText=(getDicoVar 'commonTranslation' 'personal_details_save')
                    cancelText=(getDicoVar 'commonTranslation' 'cancel')
                    html=previousManual
                  }}
                </div>
              {{else}}
                {{#if $eq manualType "file"}}
                  {{#if isSmallerDevice}}
                    {{#if manualFile}}
                      <div class="hasDocPDF">
                        <div id="pdfCanvas"></div>
                      </div>
                    {{/if}}
                  {{else}}
                    <div class="hasDocNoPDF">
                      <iframe src="{{manualData}}" width="100%" height="700px">
                        <p> {{ getDicoVar 'documentModule' 'iframe' }} </p>
                      </iframe>
                    </div>
                  {{/if}}
                {{else}}
                  <div class="pre-div hasDocTxt">{{{manualData}}}</div>
                {{/if}}
              {{/if}}
            </div>
          {{else}}
            <div class="col-sm-12 hasDocEmptyState">
              {{#if isEditing}}
                <div style="margin-top: 16px">
                  {{> richTextInput
                      fileManager=getFm
                      sendMessage=getCb
                      onCancel=getCancelCb
                      withFiles=false
                      sendText=(getDicoVar 'commonTranslation' 'personal_details_save')
                      cancelText=(getDicoVar 'commonTranslation' 'cancel')
                    }}
                </div>
              {{else}}
                <div class="hasDocEmptyStateContent">
                  <p class="noDocTitle"> {{ getDicoVar 'documentModule' 'noManual' }} </p>
                  <p class="noDocSubTitle"> {{ getDicoVar 'documentModule' 'add_manualForOccupant' }} </p>
                  <div class="btn-outline-red-confirm btnUpload">
                    <a class="btnLink" id="changePdf"> {{ getDicoVar 'documentModule' 'modalAddPDF' }} </a>
                  </div>
                  <div class="btn-outline-red-confirm btnUpload" style="margin-top: 15px">
                    <a class="btnLink" id="modifyText"> {{ getDicoVar 'documentModule' 'modalAddTxt' }} </a>
                  </div>
                  <!-- <div class="btn-outline-red-confirm btnUpload">
                            <a id="modifyText">Ajouter un texte</a>
                        </div> -->
                </div>
              {{/if}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
  <!-- ============================================================================================ -->
  <!-- ============================================================================================ -->
  <!-- ============================================================================================ -->
  {{#if $eq currentPage "map"}}
    <div class="row titleView">
      <div class="col-sm-12">
        <div class="panel padContent docPage">

          {{#if hasMap}}
            <div class="col-sm-12 hasDoc">
              <div class="hasDocContent" id="drop" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">
                {{#with condo=getOpenedCondo}}
                  {{#if userHasRight "map" "delete" condo._id}}
                    <div class="btn-group pull-right mt10 mb10">
                      <button type="button" class="btn btn-sm dropdown-toggle hasDocContentBtn" data-toggle="dropdown">
                        <a class="msg-trigger">
                          <img src="/img/icons/svg/trash.svg" width="24" alt="">
                        </a>
                      </button>
                      <div class="dropdown-menu document-dropdown-menu right-arrow">
                        <a id="deleteCurrentMap" class="dropdown-item"> {{ getDicoVar 'documentModule' 'modalDel' }} </a>
                      </div>
                    </div>
                  {{/if}}
                  {{#if userHasRight "map" "write" condo._id}}
                    <div class="btn-group pull-right mt10 mb10">
                      <button type="button" class="btn btn-sm dropdown-toggle hasDocContentBtn" data-toggle="dropdown">
                        <a class="msg-trigger">
                          <img src="/img/icons/edit.png" width="24" alt="">
                        </a>
                      </button>
                      <div class="dropdown-menu document-dropdown-menu right-arrow">
                        <a id="changePdfMap" class="dropdown-item"> {{ getDicoVar 'documentModule' 'modalEditPDF' }} </a>
                      </div>
                    </div>
                  {{/if}}
                {{/with}}
              </div>
            </div>
            {{#if isSmallerDevice}}
              {{#if mapFile}}
                <div class="col-sm-12 hasDoc">
                  <div class="hasDocPDF">
                    <div id="pdfCanvas"></div>
                  </div>
                </div>
              {{/if}}
            {{else}}
              <div class="col-sm-12 hasDoc">
                <div class="hasDocNoPDF">
                  <iframe src="{{mapData}}" width="100%" height="700px">
                    <p> {{ getDicoVar 'documentModule' 'iframe' }} </p>
                  </iframe>
                </div>
              </div>
            {{/if}}
          {{else}}
            <div class="col-sm-12 hasDocEmptyState">
              <div class="hasDocEmptyStateContent">
                <p class="noDocTitle"> {{ getDicoVar 'documentModule' 'noPlan' }} </p>
                <p class="noDocSubTitle"> {{ getDicoVar 'documentModule' 'add_planForOccupant' }} </p>
                <div class="btn-outline-red-confirm btnUpload">
                  <a class="btnLink" id="changePdfMap"> {{ getDicoVar 'documentModule' 'modalAddPDF' }} </a>
                </div>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
</template>
