.mypills > .active > a,
.mypills > .active > a:hover,.mypills > li > a:hover {
  text-decoration: none;
  //font-weight: bold;
  border-radius:0px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: red;
  color: #000 !important;
  background-color: transparent !important;
}
.mypills > li > a{
  border-radius:0px;
  color: red;
}

.mypills {
  padding: 10px 20px 0px 20px;
}

.doctab {
  width: 250px;
  text-align: center;
}


.custom_bg_padding {
  background-color: #fff;
  max-width: 1200px;
}

.list-users {

  li {
    padding-left: 15px;
	padding-bottom: 15px !important;
    padding-top: 15px;
    cursor: pointer;
    &:hover {
      background-color: #f7f7f7;
    }


  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.condo {
  cursor: pointer !important;
}

.bigth {
  text-transform: uppercase !important;
  color: #9fa0a5 !important;;
  font-weight: 700 !important;;
  font-size: 15px !important;;
  border: none !important;;
}

.apadded {
  padding: 8px !important;
  width: 100% !important;
}

.divMainTabLink {
  padding: 0px !important;
  border-bottom: 1px solid #ececec;

  .tablink {
    background-color: #fff;
    //color: var(--tab-color);
    color: var(--primary-color);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 188px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
}

.btnDoc {
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;
}

.btnDoc {
  &:hover,
  &:focus {
    color: #fff !important;
  }
}

.btnNoDoc {
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: center;
  //color: var(--button-color);
  color: var(--secondary-color);
}

.divTableContent {
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;

  .subDivTableContent {
    overflow-x: inherit;
  }

  .table {
    > tbody {
      > tr {
        > td {
          padding: 8px 0;
        }
      }
    }
  }

  .tableThead {
  //  text-transform: capitalize;
   padding: 20px 0 20px 0;
   font-size: 15px;
   font-weight: 500;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: -0.4px;
   text-align: left;
   color: #5d5e62;
  }

  .tableContent {
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
    color: #8b999f;
  }

  .tableBtn {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    color: #ffffff;
  }

  .table > tbody > tr > td {
    vertical-align: middle;
  }

  .td-building {
    width: 300px;
  }

  .td-btn {
    padding: 6px;
    width: 150px
  }

  .btntableDoc {
    padding: 2px 7px 4px 7px;
    width: 125px;
  }
}

.noDocTitle {
  margin-top: 153px;
  margin-bottom: 16px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5d5e62;
}

.noDocSubTitle {
  margin-bottom: 20px;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: center;
  color: #8b999f;
}

.btnUpload {
  width: 259px;
  height: 40px;
  margin: 0 auto;
}

.btnLink {
  margin:0 auto;
  vertical-align: middle;
  display: block;
  margin-top: 8px;
}

.btnUpload > a {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fe0900;
}

.backBtnSmall {
  display: block;
  margin-top: 10px;

  .backBtn {
    background: none;
    border: none;
    color: #999;
    padding: 0;
  }

  .backBtnImg {
    margin-right: 6px;
    margin-top: -2px;
  }
}

.docPage {
  .hasDoc {
    background-color: #fff;
  }

  .hasDocContent {
    margin-right: 3px !important;
    text-align: right;
    margin-bottom: 10px;
  }

  .hasDocContentBtn {
    background-color: transparent;
  }

  .hasDocPDF {
    text-align: center;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    width:100%;
    height:700px;
  }

  .hasDocNoPDF {
    text-align: center;
  }

  .hasDocTxt {
    word-wrap: break-word;
  }

  .hasDocEmptyState {
    background-color: #fff;
    min-height: 65vh;
  }

  .hasDocEmptyStateContent {
    text-align: center;
  }
}

@triangle-size: 10px;

.dropdown-menu {
  &.document-dropdown-menu {
    top: 30px;
    width: 180px;
    left: calc(~"(116px - 160px)/2");
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;

    &:before,
    &:after {
      content: " ";
      display: inline-block;
      position: absolute;
      width: 0;
      height: 0;
      border-left: @triangle-size - 2px solid transparent;  /* left arrow slant */
      border-right: @triangle-size - 2px solid transparent; /* right arrow slant */
      font-size: 0;
      line-height: 0;
      left: 50%;
      margin-left: 0 - (@triangle-size - 2px);


    }

    &:after {
      border-bottom: @triangle-size solid #ffffff;
      top: 0 - (@triangle-size - 1px);
    }

    &:before {
      border-bottom: @triangle-size solid #ddd;
      top: -@triangle-size;
    }

    &.right-arrow {
      left: auto;
      top: 40px;

      &:before,
      &:after {
        left: auto;
        right: 16px;
      }
    }

    li {
      &:not(:last-child) {
        border-bottom: 1px solid #ddd;
      }

      a {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #5d5e62;
      }
    }
  }
}
