<!-- NEW INCIDENT MODAL -->
<template name="incident_modal_new">
	<div class="modal fade right main-modal d-modal" id="newIncident_modal" role="dialog">
		<div class="modal-dialog modal-lg">
			<button type="button" class="cancelAction close round-close" data-dismiss="modal">
				<span aria-hidden="true"><img src="/img/icons/croix_48px.svg" width="36" alt=""></span>
			</button>
			<div class="modal-content" style="min-height: 350px !important;">
				<div class="modal-header">
					<div class="modal-heading pull-left">
						<h4 id="myModalLabel" class="modal-title red_color">{{getDicoVar "commonTranslation" "create_incident"}}</h4>
					</div>
				</div>
				<div class="card-main modal-body">
					<div class="row">
						<div class="col-sm-12">
							{{> MbCondoPicker
								condoIds=CDD_cursor
								onSelect=addModaleCb
							}}
						</div>
					</div>
					{{#if isCondoSelected}}
					<div class="row">
						<div class="col-lg-12 col-md-12 mt20">
							<div class="mb-input">
								<div class="mb-label-wrapper">
									<label for="mb-select">
										TYPE
									</label>
									<i class="image-icon mandatory-icon"></i>
								</div>
							</div>

							<div class="">
								<!-- <label for="type" class="segment-title greytitle" style="margin-bottom: 5px;">Type*</label> -->

								<div class="greytitlemargin">
									{{#each incidentDetails getSelectedCondo}}
										<label class="custom-control custom-radio details">
											<input type="radio" class="custom-control-input" name="detailRadio" value="{{this._id}}">
											<span class="custom-control-indicator" style="background: url('{{this.picto}}') top left no-repeat #dffbff; background-size: 100% auto;"></span>
											<span class="custom-control-description" style="text-transform: capitalize">{{getValueByLang this}}</span>
										</label>
									{{/each}}
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 mt20">
							<div class="mb-input">
								<div class="mb-label-wrapper">
									<label for="mb-select" style="text-transform: uppercase;">
										{{getDicoVar "commonTranslation" "priority"}}
									</label>
									<i class="image-icon mandatory-icon"></i>
								</div>
							</div>
							<div class="">
								<div class="greytitlemargin">
									{{#each incidentPriority getSelectedCondo}}
									<label class="custom-control custom-radio priority">
										<input type="radio" class="custom-control-input" name="priorityRadio" value="{{this._id}}">
										<span class="custom-control-indicator" style="background: url('{{this.picto}}') top left no-repeat #dffbff; background-size: 100% auto;"></span>
										<span class="custom-control-description">{{getValueByLang this}}</span>
									</label>
									{{/each}}
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 mt20">
							<div class="mb-input">
								<div class="mb-label-wrapper">
									<label for="mb-select" style="text-transform: uppercase;">
										{{getDicoVar "commonTranslation" "zone"}}
									</label>
									<i class="image-icon mandatory-icon"></i>
								</div>
							</div>
							<div class="">
								<div class="greytitlemargin">
									{{#each incidentArea getSelectedCondo}}
									<label class="custom-control custom-radio zone">
										<input type="radio" class="custom-control-input"  name="zoneRadio" value="{{this._id}}">
										<span class="custom-control-indicator" style="background: url('{{this.picto}}') top left no-repeat #dffbff; background-size: 100% auto;"></span>
										<span class="custom-control-description" style="font-size: 12px">{{getValueByLang this}}</span>
									</label>
									{{/each}}
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12 mt20">
							<div class="mb-input">
								<label for="mb-select" style="text-transform: uppercase;">
                  {{getDicoVar "commonTranslation" "the_problem_visible"}}
								</label>
								<i class="image-icon mandatory-icon"></i>
								<input
									placeholder={{getDicoVar "commonTranslation" "your_problem"}}
									class="locateActu"
                  maxLength='50'
									id="sujet"
									type="text"
									name="title"
								>
								<span style="font-size: 12px; font-style: italic; {{#if $lt nbChar 0}}color: red{{/if}}" class="pull-right form-text text-muted text-note-gray">{{nbChar}} {{getDicoVar "moduleMessagerieIndex" "character"}}{{#if $gt nbChar 1}}{{getDicoVar "moduleMessagerieIndex" "s"}}{{/if}}</span>
							</div>
						</div>
					</div>

          <div class="row">
            <div class="col-xs-12">
              <label class="mb-label">
                {{ getDicoVar 'moduleActualityIndex' 'descrip' }}
                <i class="image-icon mandatory-icon"></i>
              </label>
              <div class="info-msg-box">
                <div class="info-msg-box-row">
                  <div>
                    {{> React component=MbTextArea
                      minRow=3
                      onChange=descriptionChange
                      value=getDescriptionValue
                      placeholder=(getDicoVar 'commonTranslation' 'your_message')
                    }}
                  </div>
                </div>

                {{> FileList files=getPreviewFiles onRemove=onFileRemoved onFileAdded=onFileAdded }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
							{{#if $neq errorMessage ""}}
                <div class="col-xs-8 errorModal">
                  <p>
                    {{errorMessage}}
                  </p>
                </div>
							{{/if}}
						</div>
					</div>

          <div class="modal-footer d-flex flex-row align-items-center justify-end" style="padding: 0 !important">
            <span style="margin-right: 10px;">
              {{> FileUploadButton files=getPreviewFiles onFileAdded=onFileAdded }}
            </span>

            {{#if cantSendIncident}}
              <a class="btn red_btn" disabled="true" style="margin-right: 16px; text-transform: capitalize;" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'moduleClassifiedsList' 'sending'}}...">{{getDicoVar "commonTranslation" "validate"}}</a>
            {{else}}
              <a class="btn red_btn confirmAction" style="margin-right: 16px; text-transform: capitalize;" data-loading-text="<i class='fa fa-spinner fa-spin'></i> {{getDicoVar 'moduleClassifiedsList' 'sending'}}...">{{getDicoVar "commonTranslation" "validate"}}</a>
            {{/if}}
          </div>
					{{/if}}
				</div>
			</div>
		</div>
	</div>

</template>
