#incident_action_modal li.active .img-circle-avatar:hover {
    box-shadow: 0 0 0 0px #fff, 0 0 0 3px #ff515b!important;
    background-color: #fff!important;
}
#incident_action_modal .img-circle-avatar:hover {
  box-shadow: none !important;
  background-color: #dffbff !important;
  cursor: inherit!important;
}

#incident_action_modal .pull-left {
  cursor: inherit!important;
}

#newIncident_modal .custom-control-indicator:hover {
  //box-shadow: 0 0 0 0px #ffffff, 0 0 0 3px var(--button-color) !important;
  box-shadow: 0 0 0 0px #ffffff, 0 0 0 3px var(--secondary-color) !important;
}

#intervDate{
  margin-top: -22px;
}
@media (max-width: 767px) {
  #intervDate{
    margin-top: 0px;
  }
}

#newIncident_modal {
  .mb-input {
    .mb-label-wrapper {
      background: #F1F5F6;
      padding: 10px 16px 7px 16px;
      margin-bottom: 12px;
      margin-left: -16px;
      margin-right: -16px;
    }
  }
}

.red_border_btn {
  padding: 8px 15px 8px 15px;
  height: 32px;
  font-size: 14px;
  font-weight: 200;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: transparent !important;
}
.red_border_btn:hover {
  padding: 8px 15px 8px 15px;
  height: 32px;
  font-size: 14px;
  font-weight: 200;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color) !important;
  color: #fff;
}

#incident_action_modal #chat-window {
  min-height: 100px;
}

.greytitlemargin + i.image-icon.mandatory-icon {
  margin-top: 12px;
}