<template name="incident_gestionnaire_modal_history">
	<div class="mymodal incident_modal incident">
		<div class="modal fade right main-modal d-modal modal-opt" id="incident_history_modal" tabindex="-1" role="dialog" data-backdrop="false">
			<div class="modal-dialog modal-lg" role="document">
				<button type="button" class="closeModal close round-close"  data-dismiss="modal">
					<img src="/img/icons/croix_48px.svg" width="36" alt="">
				</button>
				<div class="modal-content">
					<div class="modal-header">
						<div class="modal-heading pull-left">
							<h4>{{getDicoVar "commonTranslation" "history_details"}}</h4>
						</div>
					</div>
					<div class="detail-history">
						<div class="greytitle">
							<span class="greytitlemargin">{{getDicoVar "commonTranslation" "summary"}}</span>
						</div>
						<table class="table resident-history">
							<thead>
								<tr>
									<th>Date</th>
									<th>Type</th>
									<th>{{getDicoVar "commonTranslation" "author"}}</th>
									<th>{{getDicoVar "commonTranslation" "visible_by"}}</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{humanDate item.date}}</td>
									<td>{{getIncidentHistoryTitle item.title}}</td>
									<td>{{getUserName item.userId}}</td>
									<td>
										{{#if item.share.all.state}}
										<span class="tag-spn tag-blue">
											Occupants
										</span>
										{{/if}}
										{{#each customRole in (getCustomRole item.share "visible")}}
										<span class="tag-spn tag-blue">
											{{customRole}}
										</span>
										{{/each}}
										{{#if item.share.declarer.state}}
										<span class="tag-spn tag-blue">
											{{getDicoVar "commonTranslation" "declarer"}}
										</span>
										{{/if}}
										{{#if item.share.intern.state}}
										<span class="tag-spn tag-blue">
											{{getDicoVar "commonTranslation" "internal"}}
										</span>
										{{/if}}
										{{#if item.share.custom.length}}
										<span class="tag-spn tag-blue">
											{{getNbCustom "users" item}} occupant(s)
										</span>
										{{/if}}
										{{#if $eq item.title 12}}
										<span class="tag-spn tag-blue">
											{{getDicoVar "commonTranslation" "managers"}}
										</span>
										{{/if}}
									</td>
								</tr>
							</tbody>
						</table>
						{{#if checkTypeInterv item.title}}
						<div class="history-element">
							<div class="history-title">
								<span class="history-element-title" style="text-transform: uppercase;">{{getDicoVar "commonTranslation" "details"}}</span>
							</div>
						</div>
						<div>
							<div>
								<table class="table history-detail-message">
									<tbody>
										<tr>
											<td>
												{{{hyperlink displayDetails item}}}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						{{/if}}
						{{#if modalShowShare item.share.all}}
						<div class="history-element">
							<div class="history-title">
								<span class="history-element-title" style="text-transform: uppercase;">{{getDicoVar "commonTranslation" "all_occupants"}}</span>
							</div>
						</div>
						<div>
							<div>
								<table class="table history-detail-message">
									<tbody>
										{{#if $neq item.share.all.comment}}
										<tr>
											<td>
												{{{hyperlink item.share.all.comment}}}
											</td>
										</tr>
										{{/if}}
                    {{#if item.share.all.files.length}}
                    <tr>
                      <td>
                        {{> React
                          component=MbFilePreview
                          files=(getFiles item.share.all.files)
                          newFiles=(getNewFiles item.share.all.files)
                          layout="5"
                        }}
                      </td>
                    </tr>
                    {{/if}}
									</tbody>
								</table>
							</div>
						</div>
						{{/if}}
						{{#if modalShowShare item.share.declarer}}
						<div class="history-element">
							<div class="history-title">
								<span class="history-element-title" style="text-transform: uppercase;">{{getDicoVar "commonTranslation" "declarer"}}</span>
							</div>
						</div>
						<div>
							<div>
								<table class="table history-detail-message">
									<tbody>
										{{#if $neq item.share.declarer.comment}}
										<tr>
											<td>
												{{{hyperlink item.share.declarer.comment}}}
											</td>
										</tr>
										{{/if}}
                    {{#if item.share.declarer.files.length}}
                      <tr>
                        <td>
                          {{> React
                            component=MbFilePreview
														files=(getFiles item.share.declarer.files)
														newFiles=(getNewFiles item.share.declarer.files)
                            layout="4"
                          }}
                        </td>
                      </tr>
                    {{/if}}
									</tbody>
								</table>
							</div>
						</div>
						{{/if}}
						{{#if modalShowShare item.share.intern}}
						<div class="history-element">
							<div class="history-title">
								<span class="history-element-title" style="text-transform: uppercase;">{{getDicoVar "commonTranslation" "internal"}}</span>
							</div>
						</div>
						<div>
							<div>
								<table class="table history-detail-message">
									<tbody>
										{{#if $neq item.share.intern.comment}}
										<tr>
											<td>
												{{{hyperlink item.share.intern.comment}}}
											</td>
										</tr>
										{{/if}}
                    {{#if item.share.intern.files.length}}
                      <tr>
                        <td>
                          {{> React
                            component=MbFilePreview
														files=(getFiles item.share.intern.files)
														newFiles=(getNewFiles item.share.intern.files)
                            layout="4"
                          }}
                        </td>
                      </tr>
                    {{/if}}
									</tbody>
								</table>
							</div>
						</div>
						{{/if}}
						{{#each customRole in (getCustomRoleId item.share "visible")}}
							{{#with customShareRole=(getCustomShareRole item.share customRole)}}
							{{#if modalShowShare customShareRole}}
							<div class="history-element">
								<div class="history-title">
									<span class="history-element-title">{{getRoleName customRole}}</span>
								</div>
							</div>
							<div>
								<div>
									<table class="table history-detail-message">
										<tbody>
											{{#if $neq customShareRole.comment ""}}
											<tr>
												<td>
													{{{hyperlink customShareRole.comment}}}
												</td>
											</tr>
											{{/if}}
                      {{#if customShareRole.files.length}}
                        <tr>
                          <td>
                            {{> React
                              component=MbFilePreview
															files=(getFiles customShareRole.files)
															newFiles=(getNewFiles customShareRole.files)
                              layout="4"
                            }}
                          </td>
                        </tr>
                      {{/if}}
										</tbody>
									</table>
								</div>
							</div>
							{{/if}}
							{{/with}}
						{{/each}}
						{{#if $eq item.title 12}}
						<div class="history-element">
							<div class="history-title">
								<span class="history-element-title">{{getDicoVar 'commonTranslation' 'message_from_occupant'}}</span>
							</div>
						</div>
						<div>
								<div>
									<table class="table history-detail-message">
										<tbody>
											<tr>
												<td>
													{{{hyperlink item.message}}}
												</td>
											</tr>
                      {{#if item.files.length}}
                        <tr>
                          <td>
                            {{> React
                              component=MbFilePreview
															files=(getFiles item.files true)
															newFiles=(getNewFiles item.files)
                              layout="4"
                            }}
                          </td>
                        </tr>
                      {{/if}}
										</tbody>
									</table>
								</div>
							</div>
							<button id="goMessagerie" msgId="{{item.msgId}}" class="btn red_btn pull-right history-button-margin" data-dismiss="modal">{{#if item.isReply}}{{getDicoVar "commonTranslation" "see_message"}}{{else}}{{getDicoVar "commonTranslation" "answer"}}{{/if}}</button>
							{{#if item.isReply}}
							<div class="pull-right plpr23" style="line-height: 32px;">
								{{getDicoVar "moduleClassifiedsList" "reply_at"}} {{humanDate item.isReply}}
							</div>
							{{/if}}
						{{/if}}
						{{#each custom in item.share.custom}}
						{{#if $neq custom.comment ""}}
						<div class="history-element">
							<div class="history-title">
								<span class="history-element-title">
									{{#each user in custom.users}}
									{{getUsername user}}&nbsp;
									{{/each}}
								</span>
							</div>
						</div>
						<div>
							<div>
								<table class="table history-detail-message">
									<tbody>
										{{#if $neq custom.comment ""}}
										<tr>
											<td>
												{{{hyperlink custom.comment}}}
											</td>
										</tr>
										{{/if}}
                    {{#if custom.files.length}}
                      <tr>
                        <td>
                          {{> React
                            component=MbFilePreview
														files=(getFiles custom.files)
														newFiles=(getNewFiles custom.files)
                            layout="4"
                          }}
                        </td>
                      </tr>
                    {{/if}}
									</tbody>
								</table>
							</div>
						</div>
						{{/if}}
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
