<!--
** ACTION MODAL
** @Params :
** action {
**  title: String
**  type: ["valid", "OS", "interv", "cancelInterv"]
**  remind: Boolean
**  cb: function (data, [notifHours], [intervData])
** }
-->
<template name="incident_gestionnaire_modal_action">
	<div class="mymodal incident_modal incident">
		<div class="modal fade right main-modal d-modal" id="incident_action_modal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg">
				<button type="button" class="closeModal close round-close" data-dismiss="modal">
					<span aria-hidden="true"><img src="/img/icons/croix_48px.svg" width="36" alt=""></span>
				</button>
				<div class="modal-content">
					<div class="modal-header">
						<div class="modal-heading pull-left">
							<h4 class="modal-title">{{action.title}}</h4>
						</div>
					</div>
					<div class="modal-body">
						{{#if $neq errorMessage ""}}
						<div class="alert alert-danger">
							{{errorMessage}}
						</div>
						{{/if}}
						{{#if $eq action.type "valid"}}
						<div class="row">
							<div class="col-sm-12">
								<div>
									<div class="greytitle greymargin">
                    <label class="greytitlemargin">
                      Type
                    </label>
                    <i class="image-icon mandatory-icon"></i>
									</div>
								</div>
								<ul class="list-inline circle-icon-list">
									{{#each incidentDetails incident.condoId}}
									<li class="text-center {{#if $eq incident.info.type this._id}}active{{/if}}">
										<a class="img-circle img-circle-avatar "><embed class="" src="{{this.picto}}" alt=""/></a>
										<h3>{{getValueByLang this}}</h3>
									</li>
									{{/each}}
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div>
									<div class="greytitle greymargin">
										<input type="hidden" value="{{incident.info.priority}}" name="selectPriority">
										<input type="hidden" value="{{incident.info.type}}" name="selectType">
                    <label class="greytitlemargin">
                      {{getDicoVar "commonTranslation" "priority"}}
                    </label>
                    <i class="image-icon mandatory-icon"></i>
									</div>
								</div>
								<ul class="list-inline circle-icon-list potrait">
								{{#each incidentPriority incident.condoId}}
									<li class="text-center {{#if $eq incident.info.priority this._id}}active{{/if}}">
										<div class="media">
											<a class="pull-left">
												<span class="img-circle img-circle-avatar media-object ">
													<embed class="" src="{{this.picto}}" alt=""/>
												</span>
											</a>
											<div class="media-body">
												<h3>{{getValueByLang this}}</h3>
											</div>
										</div>
									</li>
								{{/each}}
								</ul>
							</div>
						</div>
						<div class="greytitle">
              <label class="greytitlemargin" for="inputTitle" style="text-transform: uppercase;">
                {{getDicoVar "commonTranslation" "title"}}
              </label>
              <i class="image-icon mandatory-icon"></i>
						</div>
						<div class="mb-input greymargin" style="margin: 0; margin-top: 25px; ">
							<input class="titleActu" style="padding-top: 0;" name="inputTitle" id="sujet" type="text" value="{{incident.info.title}}"/>
						</div>
						{{/if}}
						<!-- /List circle icons row -->
						<!-- Form starts here -->
						<form class="form-horizontal" role="form">
							{{#if $eq action.type "OS"}}
							<div class="greytitle greymargin">
								<label class="greytitlemargin" for="inputTitle">{{getDicoVar "commonTranslation" "select_technician"}}<span style="color: red">*</span></label>
							</div>
							<!-- <label class="labelInput">Sélectionnez les intervenants*</label> -->
							<div class="checkbox excpt" style="padding: 0 !important;">
								<label>
									<div class="checkboxred">
										<input type="checkbox" id="checkboxRed10" name="checkKeeper" value="">
										<label for="checkboxRed10"></label>
									</div>
									{{getDicoVar "commonTranslation" "keeper"}}
								</label>
							</div>
							<div class="checkbox excpt" style="padding: 0 !important;">
								<label>
									<div class="checkboxred">
										<input type="checkbox" id="checkboxRed11" name="checkExtern" value="">
										<label for="checkboxRed11"></label>
									</div>
									{{getDicoVar "commonTranslation" "other_technician"}}
								</label>
							</div>
							<input id="inputExtern" class="form-control mt10" type="text" name="inputExtern" placeholder="{{getDicoVar "commonTranslation" "technician_name"}}"/>
							<br>
							{{/if}}
							{{#if showInterv action.type}}
							<form class="form-inline intervForm">
								<div class="row">
									<div class="col-xs-12">
										<p class="labelInput">
											{{getDicoVar "commonTranslation" "intervention_date"}} {{#if $neq action.type "interv"}}<i>({{getDicoVar "commonTranslation" "optional"}})</i>{{else}}*{{/if}}
										</p>
										<div class="input-group date col-xs-12 col-sm-4" id="intervDate">
											<span class="input-group-addon input_group_custom" style="width: 30px;"><i style="font-size: 20px; color:#88898e" class="fa fa-calendar" aria-hidden="true"></i></span>
											<input name="datepicker" type="text" id="datepicker" data-provide="datepicker" data-date-format="dd/mm/yyyy" class="form-control" placeholder="{{getDicoVar "commonTranslation" "select_date"}}" readonly>
										</div>
										<div class="input-group date col-xs-12 col-sm-4 col-sm-offset-1" style="margin-top: 6px">
											<div class="input-group dropdown col-xs-12" style="margin: 0 !important">
												<span class="input-group-addon input_group_custom" style="width: 30px;"><i style="font-size: 20px; color: #88898e" class="fa fa-clock-o" aria-hidden="true"></i></span>
												<input type="text" data-toggle="dropdown" class="form-control dropdown-toggle" id="time-menu" name="time" placeholder="{{getDicoVar "commonTranslation" "select_hour"}}">
												<ul class="dropdown-menu time-slot">
													{{#each timeSlot}}
													<li><a class="timeSlot">{{this}}</a></li>
													{{/each}}
												</ul>
											</div>
											<div class="checkbox excpt">
												<label>
													<div class="checkboxred16">
														<input type="checkbox" class="checkLabel" id="checkUndefined" name="checkUndefined" value="">
														<label for="checkUndefined"></label>
													</div>
													{{getDicoVar "incidentGestionnaireModalAction" "unlimited_time"}}
												</label>
											</div>
											<!-- <label class="checkLabel"><input type="checkbox" id="checkUndefined" name="checkUndefined" />{{getDicoVar "incidentGestionnaireModalAction" "unlimited_time"}}</label> -->
										</div>
									</div>
								</div>
							</form>
							{{/if}}

							{{#if $eq action.type "cancelInterv"}}
							<div class="greytitle greymargin">
								<label class="greytitlemargin" for="inputTitle">{{getDicoVar "commonTranslation" "intervention_to_cancel"}}</label>
							</div>
							<form style="margin-bottom: 10px; margin-left: 16px;">
								{{#each data in incident.state.intervention}}
                  {{#if $and data.active (isDatePassed data.date)}}
                    <div id="first" class="radio-change">
                      <div class="radio-container">
                        <input type="radio" name="radioCancel" id="{{@index}}" value="{{@index}}">
                        <label for="{{@index}}"><span style="padding-left: 30px;" class="radio"></span></label>
                      </div>
                      <div style="display: inline-grid">
                          <span style="padding-left: 30x;">{{getDicoVar "commonTranslation" "the"}} {{#if data.undefinedHour}}{{humanDateShort data.date}}{{else}}{{humanDate data.date}}{{/if}}</span>
                          <small style="padding-left: 30x;">{{getDicoVar "commonTranslation" "technician"}} : {{{getIntervName data}}}</small>
                      </div>
                    </div>
                  {{/if}}
								{{/each}}
							</form>
							{{/if}}
							<div class="greytitle greymargin" style="margin-top: 25px;">
								<label class="greytitlemargin" for="inputTitle">{{getDicoVar "commonTranslation" "action_visible_by"}}</label>
							</div>
  						{{#if $eq action.type "valid"}}
                {{> MbWarning content=(getDicoVar 'commonTranslation' 'explain_additional_message')}}
              {{/if}}
							<div class="form-group">
								<div class="col-sm-12">
									<div class="noscroll">
										<table class="table muted-td fz-12 muted-grey no-top-border d-pop1 visible-by-checkbox" id="table-msg">
											<tbody>
												{{#if $neq action.type "cancel"}}
												<tr>
													<td class="text-left-margin">
														<div class="checkbox excpt">
															<label>
																<div class="checkboxred">
																	<input type="checkbox" id="checkboxRed1" name="checkall" class="check-option" value="" {{hasChecked action.shareall true}}>
																	<label for="checkboxRed1"></label>
																</div>
																{{getDicoVar "commonTranslation" "all_occupants"}}
															</label>
														</div>
													</td>
													<td class="text-right">
														<a href="#" class="date-link msg-trigger" style="text-transform: uppercase">{{getDicoVar "commonTranslation" "add_personal_msg"}}</a>
													</td>
												</tr>
												<tr class="msg-box">
													<td colspan="2">
                            <div class="info-msg-box">
                              <div class="info-msg-box-row">
                                <div>
                                  {{> React component=MbTextArea
                                    minRow=2
                                    onChange=(descriptionChange 'all')
                                    value=(getDescriptionValue 'all')
                                    placeholder=(getDicoVar 'commonTranslation' 'your_message')
                                  }}
                                </div>

                                {{> FileUploadButton
                                    files=(getPreviewFiles 'all')
                                    onFileAdded=(onFileAdded 'all')
                                }}
                              </div>

                              {{> FileList
                                files=(getPreviewFiles 'all')
                                onRemove=(onFileRemoved 'all')
                                onFileAdded=(onFileAdded 'all')
                              }}
                            </div>
													</td>
												</tr>
												{{/if}}
												{{#each role in (roleToList incident.condoId)}}
												{{createShareData role._id}}
												<tr>
													<td>
														<div class="checkbox excpt">
															<label>
																<div class="checkboxred">
																	<input type="checkbox" class="roleCheckBox check-option" id="{{role._id}}" name="check{{role._id}}" value="">
																	<label for="{{role._id}}"></label>
																</div>
																{{role.name}}
															</label>
														</div>
													</td>
													<td class="text-right">
														<a href="#" class="date-link msg-trigger" style="text-transform: uppercase">{{getDicoVar "commonTranslation" "add_personal_msg"}}</a>
													</td>
												</tr>
												<tr class="msg-box">
													<td colspan="2">
														<div class="wrap-attach">
															{{>textAreaFileUpload params=(getTextAreaParams role._id)}}
														</div>
													</td>
												</tr>
												{{/each}}
												{{#if $eq incident.declarer.autoDeclare false}}
												<tr class="{{#if $eq (declarerIsNotGone incident) false}}grey-line{{/if}}">
													<td>
														<div class="checkbox excpt">
															<label style="{{#if $eq (declarerIsNotGone incident) false}}cursor: not-allowed{{/if}}">
																<div class="checkboxred">
																	{{#if declarerIsNotGone incident}}
																		<input type="checkbox" id="checkboxRed3" name="checkdeclarer" value="" class="check-option">
																	{{else}}
																		<input type="checkbox" id="checkboxRed3" name="checkdeclarer" value=""  class="check-option" disabled style="cursor: not-allowed">
																	{{/if}}
																	<label for="checkboxRed3" style="{{#if $eq (declarerIsNotGone incident) false}}cursor: not-allowed{{/if}}"></label>
																</div>
																<span>
																	{{getDicoVar "commonTranslation" "declarer"}} 
																	{{#if $eq (declarerIsNotGone incident) false}}
																		({{getDicoVar "commonTranslation" "user_account_deleted"}})
																	{{/if}}
																</span>
															</label>
														</div>
													</td>
													<td class="text-right">
														<a class="date-link {{#if declarerIsNotGone incident}}msg-trigger{{/if}}" style="text-transform: uppercase">{{getDicoVar "commonTranslation" "add_personal_msg"}}</a>
													</td>
												</tr>
												<tr class="msg-box">
													<td colspan="2">
                            <div class="info-msg-box">
                              <div class="info-msg-box-row">
                                <div>
                                  {{> React component=MbTextArea
                                    minRow=2
                                    onChange=(descriptionChange 'declarer')
                                    value=(getDescriptionValue 'declarer')
                                    placeholder=(getDicoVar 'commonTranslation' 'your_message')
                                  }}
                                </div>

                                {{> FileUploadButton
                                    files=(getPreviewFiles 'declarer')
                                    onFileAdded=(onFileAdded 'declarer')
                                }}
                              </div>

                              {{> FileList
                                files=(getPreviewFiles 'declarer')
                                onRemove=(onFileRemoved 'declarer')
                                onFileAdded=(onFileAdded 'declarer')
                              }}
                            </div>
													</td>
												</tr>
												{{/if}}
												<tr>
													<td>
														<div class="checkbox excpt">
															<label>
																<div class="checkboxred">
																	<input type="checkbox" id="checkboxRed4" name="checkintern" value="" class="check-option">
																	<label for="checkboxRed4"></label>
																</div>
																{{getDicoVar "commonTranslation" "internally_only"}}
															</label>
														</div>
													</td>
													<td class="text-right">
														<a href="#" class="date-link msg-trigger" style="text-transform: uppercase">
															{{getDicoVar "commonTranslation" "add_personal_msg"}}
														</a>
													</td>
												</tr>
												<tr class="msg-box">
													<td colspan="2">
                            <div class="info-msg-box">
                              <div class="info-msg-box-row">
                                <div>
                                  {{> React component=MbTextArea
                                    minRow=2
                                    onChange=(descriptionChange 'intern')
                                    value=(getDescriptionValue 'intern')
                                    placeholder=(getDicoVar 'commonTranslation' 'your_message')
                                  }}
                                </div>

                                {{> FileUploadButton
                                    files=(getPreviewFiles 'intern')
                                    onFileAdded=(onFileAdded 'intern')
                                }}
                              </div>

                              {{> FileList
                                files=(getPreviewFiles 'intern')
                                onRemove=(onFileRemoved 'intern')
                                onFileAdded=(onFileAdded 'intern')
                              }}
                            </div>
													</td>
												</tr>
												{{#each c in customs}}
												<tr>
													<td style="padding-left: 0px !important; padding-right: 0px !important;" colspan="2">
														<table width="100%" class="fz-12 muted-td muted-grey with-mid no-margin">
															<tr>
																<td>
																	<div class="checkbox excpt">
																		<label>
																			<div class="checkboxred">
																				<input type="checkbox" id="checkboxRedC{{@index}}" name="checkcustom{{@index}}" class="check-option" checked="{{isCustomChecked c}}">
																				<label for="checkboxRedC{{@index}}"></label>
                                      </div>
																      {{getDicoVar "commonTranslation" "other"}}
																		</label>
																	</div>
																</td>
																{{#if showInputOther @index}}
																	<td>
																		{{>InputUsers UsersManager=(getUsersManager @index) except=(getExcept incident) incident=(incident)}}
																	</td>
																{{else}}
																	<td>
																	</td>
																{{/if}}
																<td class="text-right">
																	<a href="#" class="date-link msg-trigger" style="text-transform: uppercase">{{getDicoVar "commonTranslation" "add_personal_msg"}}</a>
                                </td>
															</tr>
															<tr class="msg-box">
																<td colspan="3">
                                  <div class="info-msg-box">
                                    <div class="info-msg-box-row">
                                      <div>
                                        {{> React component=MbTextArea
                                          minRow=2
                                          onChange=(descriptionChange 'custom' @index)
                                          value=(getDescriptionValue 'custom' @index)
                                          placeholder=(getDicoVar 'commonTranslation' 'your_message' @index)
                                        }}
                                      </div>

                                      {{> FileUploadButton
                                          files=(getPreviewFiles 'custom' @index)
                                          onFileAdded=(onFileAdded 'custom' @index)
                                      }}
                                    </div>

                                    {{> FileList
                                      files=(getPreviewFiles 'custom' @index)
                                      onRemove=(onFileRemoved 'custom' @index)
                                      onFileAdded=(onFileAdded 'custom' @index)
                                    }}
                                  </div>
																</td>
															</tr>
														</table>
													</td>
												</tr>
												<tr class="msg-box">
													<td colspan="2">
														<div class="wrap-attach">
															<textarea name="" placeholder="Write message" id="input" class="form-control" rows="2" required="required"></textarea>
															<a href="#" class="icon-circle red-bg"><i class="material-icons">attach_file</i></a>
														</div>
													</td>
												</tr>
												{{/each}}
											</tbody>
										</table>
										<a class="addCustom red_border_btn" href="">{{getDicoVar "commonTranslation" "add_recipient"}}</a>
									</div>
								</div>
							</div>
							{{#if action.remind}}
							<div class="form-group">
								<div class="col-sm-12 text-right">
									<ul class="list-inline">
										<li class="v-m">
											<div class="checkbox excpt cPadding11T">
												<label>
													<div class="checkboxred">
														<input type="checkbox" id="checkboxRed7" value="">
														<label for="checkboxRed7"></label>
													</div>
													{{getDicoVar "commonTranslation" "reminder_message"}} {{getGestionnaireRemind incident}} {{getDicoVar "commonTranslation" "reminder_message2"}}
												</label>
											</div>
										</li>
										<li>
											<div class=" d-btn-group">
												<div class="btn-item">
													<!-- spinner component -->
													<div class="input-group  spinner">
														<input type="text" id="remindNb" readonly style="background-color: white;" class="remind-nb form-control" value="1" min="1" max="1000">
														<div class="input-group-btn-vertical">
															<button class="up-btn btn btn-default" type="button"><i class="material-icons">arrow_drop_up</i></button>
															<button class="down-btn btn btn-default" type="button"><i class="material-icons"> arrow_drop_down</i></button>
														</div>
													</div>
													<!-- / spinner component -->
												</div>
												<div class="btn-item">
													<div class="input-group">
														<select name="" id="input" class="select-min form-control" required="required">
															<option value="days">{{getDicoVar "commonTranslation" "days"}}</option>
															<option value="hours">{{getDicoVar "commonTranslation" "hours"}}</option>
														</select>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							{{/if}}
							<div class="form-group">
								<div class="col-sm-12 text-right">
									{{#if doNotValidate}}
										<a class="btn red_btn" id="incident-submit" style="text-transform: capitalize">
											{{getDicoVar "commonTranslation" "validate"}}
										</a>
									{{else}}
										<a class="btn red_btn" disabled="true" style="text-transform: capitalize">
											{{getDicoVar "commonTranslation" "validate"}}
										</a>
									{{/if}}
								</div>
							</div>
						</form>
						<!-- .my30 class for margin top and bottom for this row-->
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

