.intervForm {
  ul.time-slot {
    height: 200px;
    overflow-y: scroll;
  }

  #datepicker {
    background-color: white;
  }
}

.goToPrivateIncident {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
// .small>.mb-select {
//   height: 34px;
//   border:1px solid #adadad
// }


.incident {
  .other.mb-select {
    // position: relative;
    // height: 34px;
    // border: 1px solid #adadad;
    // top: -34px;
  }
}