<!--
** EVAL MODAL
** @Params :
** incidentId
-->
<template name="incident_gestionnaire_modal_eval">
	<div class="mymodal incident_modal incident">
		<div class="modal fade" id="incident_eval_modal" tabindex="-1" role="dialog" data-backdrop="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="closeModal close" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h2 class="modal-title">Liste des évaluations</h2>
					</div>
					<div class="modal-body">
						{{#each eval in getIncidentEvals}}
						{{#if $neq eval.value 0}}
						<div class="mywell">
							<h2>
								Par {{getEvalUsername eval}} <i>le {{humanDate eval.date}}</i>
								<div class="pull-right">
									<span class="evalStar glyphicon {{#if evalValue eval 1}}glyphicon-star{{else}}glyphicon-star-empty{{/if}}"></span>
									<span class="evalStar glyphicon {{#if evalValue eval 2}}glyphicon-star{{else}}glyphicon-star-empty{{/if}}"></span>
									<span class="evalStar glyphicon {{#if evalValue eval 3}}glyphicon-star{{else}}glyphicon-star-empty{{/if}}"></span>
									<span class="evalStar glyphicon {{#if evalValue eval 4}}glyphicon-star{{else}}glyphicon-star-empty{{/if}}"></span>
									<span class="evalStar glyphicon {{#if evalValue eval 5}}glyphicon-star{{else}}glyphicon-star-empty{{/if}}"></span>
								</div>
							</h2>
							<hr>
							{{#if $eq eval.comment ""}}
							<i>Pas de commentaire</i>
							{{else}}
							<strong>Commentaire :</strong><br>
							{{eval.comment}}
							{{/if}}
						</div>
						{{/if}}
						{{/each}}
					</div>
					<div class="modal-footer">
						<button type="button" class="closeModal btn btn-default">
							Fermer
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

