.file-viewer-container {
  flex: 1;
  flex-direction: row;
  margin-left: -8px;
  margin-right: -8px;
}
.viewer-images {
  display: flex;
  flex-wrap: wrap;
  flex: 2;

  .viewer-image-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    flex-basis: 50%;

    > .image-viewable {
      width: 100%;
      background-size: cover !important;
    }
  }
}

.viewer-files {
  display: flex;
  flex: 1;
}