.ul_pics {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.files-list-item {
  .files-list-item-preview {
    display: flex;
    flex-direction: column;
  }

  .files-list-item-preview-extension {
    width: 88px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
  }

  &.add-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 88px;
    border: 1px dashed #ddd;

    span.icon-add {
      display: block;
      width: 30px;
      height: 30px;
      background:  url('/img/icons/svg/add.svg') center center;
    }
  }

  .files-list-item-delete {
    cursor: pointer;
    text-align: center;
    margin-top: 8px;

    img {
      width: 16px;
      height: 16px;
    }
  }
}