.followedPostSubject {
  font-family: Lato, sans-serif;
  font-size: 16px;
  letter-spacing: -0.4px;
  text-align: left;
  color: #8b999f;
  line-height: 24px;
}

.followedPostBlock {
  padding-bottom: 13px;
  border-bottom: 1px solid #e0e0e0;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  cursor: pointer;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.forum-following-wrapper {
  padding: 5px 8px 8px 8px;
}

.following-more-btn {
  margin-top: 13px;

  > .btn {
    width: 100%;
  }
}
