.layout1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon-camera {
  height: 24px;
  width: 24px;
  background: url("/img/icons/svg/camera-new.svg") no-repeat center center;
}

.attachmentLogo {
  height: 24px;
  width: 24px;
  background: url("/img/icons/svg/attachment.svg") no-repeat center center;
}

.forumTitles {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #8b999f;
}

.redButton {
  //background-color: var(--button-color);
  background-color: var(--secondary-color);
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;

  &:disabled {
    background-color: gray;
    opacity: .65;
  }
  &:hover {
    color: #ffffff;
  }
}

.files-dropzone-list {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  > div {
    margin-right: 16px;
    cursor: pointer;

    &:last-child {
      margin: 0;
    }
  }
}

.textareaZone {
  textarea {
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    &:focus {
      border: 1px solid #e0e0e0;
    }
  }
}

.datePickerBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;

  .expire-label {
    font-family: Lato, sans-serif;
    font-size: 12px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #8b999f;
  }

  .expiration-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #E0E0E0;
    margin-top: 15px;

    .rdt {
      input {
        border: 0;
        text-align: right;
        padding: 0 10px;
        color: #8b999f;
        background-color: white;
      }
    }
  }
}

.datePickerSvg {
  height: 36px;
  width: 36px;
  background: url("/img/icons/svg/calendar2.svg");
  cursor: pointer;
  background-repeat: no-repeat;
  background-position:center;
  background-size: 24px 24px;
  border-right: 1px solid #E0E0E0;
}


.deletePollOption {
  background-color: red;
  background: url("/img/icons/svg/trash.svg");
  background-repeat: no-repeat;
  background-position:center;
  height: 24px;
  width: 24px;
}

.formColor {
  border-bottom : 2px solid #69d2e7;
}

// .forumLeftSide {
// 	min-width: 500px;
// }

.forumRightSideTitle {
  font-family: Lato, sans-serif;
  font-size: 12px;
  letter-spacing: 0.9px;
  text-align: left;
  color: #8b999f;
  padding: 10px 0 7px 16px;
  text-transform: uppercase;
}

.lastFollowedPost {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.followedPost {
  height: auto;
  width: 90%;
  word-wrap: break-word;
}

.followedStarButton {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hrStyle2 {
  height: 1px;
  width: 100%;
  color: black;
}

.lastAtiveUserBlock {
  font-family: Lato, sans-serif;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: .5px solid #e0e0e0;
  width: calc(~"100% - 16px");
  padding: 8px;
  margin: 0;

  &:last-child {
    border-bottom: 0;
  }
}

.lastAtiveUser {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.lastAtiveUserPicture {
  height: auto;
  width: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.lastAtiveUserName {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: left;
  color: #5d5e62;
  display: flex;
  flex: 1;
}

.feed_line1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0 !important;
}

.forum-tab-content {
  height: auto;
  width: 100%;
  border: 0.5px solid gainsboro;
  display: flex;
  flex-direction: column;
  padding: 10px;

  #button {
    //min-width: 148px;
    height: 32px;
  }

  .input-wrapper {
    width: 100%;
    margin: 10px 0;
  }

  .borderless-textarea {
    padding: 0;
    border: 0 !important;
    width: 100%;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #8b999f;
  }

}

.mb-textarea {
  width: 100%;
  font-family: Lato, sans-serif;
  letter-spacing: -0.4px;
  border-radius: 0px;
  border: 1px solid #e0e0e0 !important;
}

#post_form {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #69d2e7;
  font-weight: bold;
}

#poll_form {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #69d2e7;
  font-weight: bold;
}


#messenger_text_block {
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid gainsboro;*/
}

#subject {
  width: 100%;
  z-index: 1;
  border: 0;
  background: transparent;
}

#allAttachments {
  height: auto;
  width: 100%;
  border-top: 0.5px solid gainsboro;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 7px 16px;
  align-items: center;
}

#attachment_logo {
  height: 100%;
  width: auto;
  border-top: 0.5px solid gainsboro;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.div_logo {

}

#submitButton {
  height: 100%;
  /*    border-top: 0.5px solid gainsboro;
  */    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#submitButton2 {
  height: 100%;
  width: 80px;
  /*    border-top: 0.5px solid gainsboro;
  */    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-upload > div >input
{
  display: none;
}

i {
  font-weight: bold;
}

.selectButtons {
  height: 100%;
  width: 100%;
  border: 0;
  background: transparent;
  // font-family: SFUIText;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #69d2e7;
  padding: 6px 0;
}

#progress_bar {
  width: 70%;
}

#input_div {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 16px;

  #subject {
    padding: 6px 0;
  }
}

.pollInput {
  height: 44px;
  padding: 0 5px;
  width: calc(~"100% - 30px");
  border: 1px solid #e0e0e0;
}

#div_input_img {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

#button_div {
  height: auto;
  width: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#addOptionButton {
  border-color: red;
  border-radius: 0px;
  height: 32px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fe0900;
  margin-top: 4px;
}

.attachments_size{
  height: 88px;
  width: 88px;
  object-fit: cover;
}

.li_pics {
  list-style: none;
  margin-right: 8px;

  &:last-child {
    margin: 0;
  }
}

.blockPosts {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.centerHeaderDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.alignDisplay {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.forumManagerHeader {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid red;
}

.forumManagerHeaderLeft {
  height: 100%;
  width: 20%;
  border: 0.5px solid gainsboro;
}

.forumManagerHeaderRight {
  height: 100%;
  width: 20%;
  border: 0.5px solid gainsboro;
}

.forum-form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-bottom: 0;

  .form-tab {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #69d2e7;
    font-weight: bold;

    &.tab-active {
      border-bottom : 2px solid #69d2e7;
    }

    > button {
      height: 100%;
      width: 100%;
      border: 0;
      background: transparent;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #69d2e7;
      padding: 6px 0;
    }
  }
}

.bordered-btn {
  font-family: Lato, sans-serif;
  font-size: 14px;
  text-align: center;
  //color: var(--button-color);
  //border: 1px solid var(--button-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  cursor: pointer !important;
  min-width: 100px;
  height: 32px;
  background-color: transparent;

  &:focus {
    //color: var(--button-color);
    color: var(--secondary-color);
  }

  &:hover {
    //background: var(--button-color);
    background: var(--secondary-color);
    color: #fff;
  }

  &:disabled, &.disabled {
    border: none;
    color: white;
  }
}

.btn-outline-red-confirm {
  //border: 1px solid var(--button-color) !important;
  //border-color: var(--button-color) !important;
  border: 1px solid var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  background-color: #fff !important;
  //color: var(--button-color) !important;
  color: var(--secondary-color) !important;
  font-family: Lato, sans-serif !important;
  cursor: pointer !important;
}

.btn-outline-red-confirm:hover {
  //border: 1px solid var(--button-color) !important;
  //background-color: var(--button-color) !important;
  border: 1px solid var(--secondary-color) !important;
  background-color: var(--secondary-color) !important;
  color: #fff !important;
  font-family: Lato, sans-serif !important;
  cursor: pointer !important;
}
.btn-outline-red-confirm:hover a {
  color: #fff !important;
}

.btntableDoc:hover a {
  color: #fff !important;
}

.btn-outline-orange-archive {
  border: 1px solid #ffd11a !important;
  border-color: #ffd11a !important;
  background-color: #fff !important;
  color: #ffd11a !important;
  font-family: Lato, sans-serif !important;
  cursor: pointer !important;
}

.btn-red-confirm {
  //border: 1px solid var(--button-color) !important;
  //border-color: var(--button-color) !important;
  //background-color: var(--button-color) !important;
  border: 1px solid var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  background-color: var(--secondary-color) !important;
  color: #fff !important;
  font-family: Lato, sans-serif !important;
  cursor: pointer !important;
}

.btn-red-confirm-reverse {
  //border: 1px solid var(--button-color) !important;
  //border-color: var(--button-color) !important;
  //background-color: var(--button-color) !important;
  border: 1px solid var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  background-color: transparent;
  color: var(--secondary-color);
  font-family: Lato, sans-serif !important;
  cursor: pointer !important;

  &:hover {
    color: #ffffff!important;
    background-color: var(--secondary-color);
    border: var(--secondary-color) solid 1px;
  }
}

.header-back-btn {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  height: 24px;
  color: #8b999f;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 85px;

  img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}

.vertical-centered {
  display: flex;
  align-items: center;

  .starButton {
    padding: 0 20px 0 20px;
    cursor: pointer;
  }

  .readAll {
    cursor: pointer;
  }
  .readAllPointer{
    cursor: default;
  }
  .readAllWrapper {
    padding: 0 20px 0 0;
    position: relative;
  }

  .pop-up-ads-Helper span {
    line-height: 28px;
    white-space: nowrap;
  }

  .pop-up-ads-Helper {
    position: absolute;
    height: 30px;
    top: 40px;
    right: -4px;
    margin-left: -32px;
    text-align: left;
    background: white;
    border: 1px solid #c5c5c5;
    padding: 0 20px;
    opacity: 1;
    transition: .5s;
    z-index: 1;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
  }
  .pop-up-ads-Helper::before {
    content: "";
    position: absolute;
    top: -11px;
    right: 27px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #c5c5c5 transparent;
    margin-left: -1em;
  }

  .pop-up-ads-Helper::after {
    content: "";
    position: absolute;
    top: -9px;
    right: 27px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent white transparent;
    margin-left: -1em;
}
}

.mb-widget-no-data-text {
  font-family: Lato, sans-serif;
  font-size: 16px;
  letter-spacing: -0.4px;
  text-align: center;
  color: #8b999f;
  padding: 24px 16px;
}

.mb-widget {
  margin-top: 8px;
  margin-bottom: -8px;
  padding: 8px;
  padding-top: 0px;

  .mb-widget-item {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding-left: 18px;
    margin-left: -16px;

    &:last-child {
      border-bottom: 0;
    }

    .mb-widget-subject {
      cursor: pointer;
      flex: 1;
      color: #8b999f;
      padding: 13px 0;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.4px;

      &:last-child {
        border-bottom: 0;
      }
      .pollSvg {
        display: inline-block;
      }
    }

    .mb-widget-item-action {
      padding: 13px 0;
      padding-left: 8px;

      > span {
        cursor: pointer;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .mb-widget-item-new {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding-left: 8px;
    margin-left: -16px;
    //border-left: 8px solid var(--accent-color);
    border-left: 8px solid var(--primary-color);

    &:last-child {
      border-bottom: 0;
    }

    .mb-widget-subject {
      cursor: pointer;
      flex: 1;
      color: #8b999f;
      padding: 13px 0;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.4px;
      font-weight: 700;

      .pollSvg {
        display: inline-block;
      }
    }

    .mb-widget-item-action {
      padding: 13px 0;
      padding-left: 8px;

      &:last-child {
        border-bottom: 0;
      }
      > span {
        cursor: pointer;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .mb-widget-action {
    margin-top: 13px;

    .btn {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.poll-expire-date {
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.1px;
  color: #8b999f;
  margin-bottom: 10px;
}

.post_details_container {
  display: none;
  overflow-x: hidden;
  position: fixed;
  z-index: 2;
  height: 100%;
  left: 220px;
  min-width: calc(~"100vw - 220px");
  padding-right: 15px;
  padding-left: 15px;
  background-color: #f1f5f6;
}

@media (max-width: 1025px) {
  .post_details_container {
    min-width: calc(~"100vw");
    left: 0;
  }
}

.post_details_container_manager {
  left: 220px;
  display: none;
  overflow-x: hidden;
  position: fixed;
  z-index: 2;
  height: 100%;
  top: 0;
  min-width: calc(~"100vw - 220px");
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f5f6;
}

@media (max-width: 1025px) {
  .post_details_container_manager {
    min-width: calc(~"100vw");
    left: 0;
  }
}

.mb-comment-actions-forum {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    border: 0.5px solid #ddd;
    border-top: 0;
    padding: 8px;
}

.forumCommentLabelContainer {
    margin: 8px 0;
    height: 30px;
    background: #f1f5f6;
}

.forumCommentLabel {
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #8b999f;
    margin-left: 15px;
}

#switch-to-post-btn {
  background: url("/img/icons/svg/polls-sel.svg");
  background-repeat: no-repeat;
  background-position:center;
  height: 24px;
  width: 24px;
  cursor: pointer;
}



#switch-to-poll-btn {
  background: url("/img/icons/svg/polls.svg");
  background-repeat: no-repeat;
  background-position:center;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.btn-submit-post {
  width: 150px;
  cursor: pointer !important;
}

.post-list-no-result {
  margin-top: 60px;
}

.search-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 36px;
  outline: 1px solid #e0e0e0;
  margin: 8px 9px 8px 9px;
}

.post-edit-save-button {
  &[disabled] {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    cursor: default !important;
  }
}

.category-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.category-title {
  margin-right: 15px;
  font-family: Lato;
  font-size: 16px;
  letter-spacing: -0.4px;
  color: #8b999f;
}

.form-bottom-bar {
  height: auto;
  width: 100%;
  border-top: 0.5px solid gainsboro;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 7px 16px;
  align-items: center;
}

.category-picker-label {
  font-family: Lato;
  font-size: 12px;
  color: #8b999f;
}

.mandatory-icon {
  width: 7px;
  height: 7px;
  display: inline-block;
  margin-bottom: 3px;
  margin-left: 3px;
  background: url("/img/icons/mandatory.png") no-repeat center center;
  background-size: contain;
}

.category-picker-wrapper {
  width: 100%;
}
