.forumAllComments {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mb-comment-wrapper {
  border-bottom: 1px solid #e0e0e0;

  .deleteSvg {
    margin-top: 0;
    margin-bottom: 0;
  }

  .editOrDelete {
    margin: 12px 0;
  }

  .editSvg {
    margin-left: 14px;
  }

  .deleteSvg {
    height: 16px;
    width: 16px;
    background: url("/img/icons/svg/trash.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 16px 16px;
  }

  &:last-child {
    border-bottom: 0;
  }

  .mb-comment-row {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 10px 0;
    font-family: Lato, sans-serif;
    justify-content: flex-start;
    align-items: flex-start;

    .mb-comment-avatar {
      transform: scale(0.8);
      margin: 0;
      padding: 0 4px;
    }

    .mb-comment-content {
      flex: 1;

      .mb-comment-username {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.4px;
        text-align: left;
        color: #5d5e62;
        margin-bottom: 1px;
      }

      .mb-comment-timestamp {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: -0.1px;
        color: #8b999f;
      }

      .mb-comment-text {
        margin-top: 3px;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.1px;
        text-align: left;
        color: #5d5e62;
      }
    }

    .mb-comment-action {
      padding-left: 10px;
    }

    .mb-comment-edit-action {
      margin: 8px -8px -8px;
      border-top: 1px solid #e0e0e0;
      padding: 8px;
      display: flex;
      justify-content: flex-end;

      .btn {
        margin: 0 5px;
      }
    }
  }
}

.mb-comment-editmode {
  .btn {
    margin: 0 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.mb-comment-edit-wrapper {
  border: 1px solid #e0e0e0;
  padding: 8px;

  textarea {
    border: 0 !important;
    padding: 0px;
  }
}
