.poll-progress {
  flex: 1;
  border-radius: 10px;
  margin-bottom: 0;
  height: 18px;

  .progress-bar {
    border-radius: 10px;
    //background-color: var(--menu-selected-item-color);
    background-color: var(--primary-color);
  }
}

.poll-wrapper {
  height: auto;
  width: 100%;

  .poll-item {
    margin-bottom: 20px;

    .poll-title {
      width: 100%;
      margin-bottom: 2px;

      p {
        font-family: Lato, sans-serif;
        font-size: 14px;
        letter-spacing: -0.3px;
        text-align: left;
        color: #5d5e62;
        word-wrap: break-word;
      }
    }
  }
}

.poll-form #div_input_img {
  display: block !important;
}

.poll-form #input_div {
  display: block !important;
}

.deletePollOption {
  margin-top: 10px;
  display: block;
  margin-bottom: 15px;
  z-index: 100;
}

#poll-add-option-button {
  margin-top: 5px;
  width: 150px;
}

.voter-detail {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.voter-detail .userIcon-main {
  margin-right: 15px !important;
}

.voter-detail-username{
  font-family: Lato;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #5d5e62;
}

.voters-popover .hrStyle {
  margin-bottom: 10px;
  margin-top: 10px;
}

.votesNb-pointer {
  cursor: pointer;
}

.votesNb-default {
  cursor: default;
}

.poll-modal {
  box-shadow: 0 2px 4px 0 rgba(32, 33, 38, 0.2);
  height: 800px;
}

.poll-modal-header {
  margin-bottom: 10px;
}

.modal-poll-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background: url("/img/icons/svg/poll.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  float: left;
}

.voters-modal-title {
  font-family: Lato;
  font-size: 16px;
  letter-spacing: -0.4px;
}

.check-box-allow-other {
  margin-top: 15px;
}

.adjust-color p {
  color: #8b999f !important;
}

.add-option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.input-add-option {
  border: none;
  border-bottom: #b9c1c4 1px solid;
  padding-top: 8px ;
  padding-bottom: 8px;
  width: 100%;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #5d5e62;
}

.input-add-option::placeholder {
  color: #8b999f;
}

.vote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 2px;
  margin-left: 10px;
}

.add-margin-bottom {
  margin-bottom: 20px !important;
}

.text-area-black {
  color: #5d5e62 !important;
}

#poll-switch-icon {
  &:hover {
    cursor: pointer;
  }
}
