.search-input {
  border: none;
  padding-top: 8px ;
  padding-bottom: 8px;
  width: 100%;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #5d5e62;
}

.search-input::placeholder {
  color: #8b999f;
}
