<template name='admin_entityBuildings'>
  <div class="buildingsList containerManagerList">
    {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=searchCallback}}
    <div class='searchResult' style='display: none'>
      {{>MbPanel content='Résultat de la recherche'}}
    </div>
    {{#let buildings=getBuildingsList}}
      {{#if buildings.count}}
        <table class="managerDetailsContainer table">
          <thead>
            <tr class='containerColumn'>
              <th> ID </th>
              <th> Nom </th>
              <th> Type </th>
              <th> Adresse </th>
              <th> Lots </th>
              <th> m² </th>
              <th class='trashColumn'></th>
            </tr>
          </thead>
          <tbody>
            {{#each building in buildings}}
              <tr class='containerLine' condoId='{{building._id}}'>
                <td class='commonColumn'>{{getBuildingId building.info.id}}</td>
                <td class='commonColumn lighter'>{{getCondoNameOrDash building}}</td>
                <td class='commonColumn lighter'>{{getTypoOfCondo building.settings.condoType}}</td>
                <td class='commonColumn lighter'>{{getCondoAdress building}}</td>
                <td class='commonColumn lighter'>[ A FAIRE ]</td>
                <td class='commonColumn lighter'>[ A FAIRE ]</td>
                <td class='commonColumn trashColumn' condoId='{{building._id}}'>
                  <div></div>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        {{#if emptySearch}}
          {{> MbEmpty title='Pas d\'immeubles'}}
        {{else}}
          {{> MbEmpty title='Pas de résultats'}}
        {{/if}}
      {{/if}}
    {{/let}}
  </div>
</template>
