<template name="gestionnaire">
  {{#if isSubscribeReady}}
  {{#if isUserLoaded}}
  {{#if isEnableAccount}}
  <nav class="navbar navbar-default customNavbar gestionnaire hidden-xs">
    <div class="navbar-header">
      <ul class="nav navbar-nav logo">
        <li id="ipad-burger">
          <!--<img src="/img/hamburger_icon.png" class="customNavbarButton pull-left hamburger-icon closeNav" style="margin-top: -3px"/>-->
          <div class="hamburger-icon pull-left closeNav">
            <i class="icon"></i>
          </div>
        </li>
        <li class="logoGoHome">
          {{!-- {{#if $neq showLogo "/logo/enterpriseLarge.png"}} --}}
            <img id="logoMonBuilding" src="{{showLogo}}" class="other-logo " style="height: 99%; width: auto; cursor: pointer;">
          {{!-- {{else}}
            <img id="logoMonBuilding" src="/logo/enterpriseLarge.png" class="monbuilding-logo " style="height: 27px; cursor: pointer;">
          {{/if}} --}}
        </li>
      </ul>
    </div>
      <div class="col-xs-12 helpContent helpButton">
        <div class="help bottom" width="100%">
          <div class="supportbox">
            <span class="support">Support</span><span class="flexcenter"><button class="bootbox-close-button close menu-close-cross" aria-hidden="true"><img class="closebutton" src="/img/icons/svg/close.svg" alt=""></button></span>
          </div>
          <div class="greytitle"><span class="greytitlemargin">{{getDicoVar "board" "select_lang"}}</span></div>
          <div class="language flagbox">
            <div class="col-xs-6" id='langFr'>
              <p><img class="flagimg {{#if langSelected 'fr'}}languageSelected{{/if}}" src="{{getSrcFR}}" alt=""></p>
              <p class="langtext">Français</p>
            </div>
            <div class="col-xs-6" id='langEn'>
              <p><img class="flagimg {{#if langSelected 'en'}}languageSelected{{/if}}" src="{{getSrcEN}}" alt=""></p>
              <p class="langtext">English</p>
            </div>
          </div>
          <div class="greytitle"><span class="greytitlemargin">{{getDicoVar "board" "need_help"}}</span></div>
          <div class="helpTerm col-xs-12">
			<p class="lang-modal centergrey">{{{getDicoVar "board" "send_us_email1"}}}<br>{{{getDicoVar "board" "send_us_email2"}}}<br>{{{getDicoVar "board" "send_us_email3"}}}</p>
          </div>
          <div class="action col-xs-12 padbot20">
            <div class="col-xs-12" id="goCgu">
              <img class="flagimg" src="/img/icons/svg/color-documents.svg" alt="">
              <p class="langtext">{{getDicoVar "board" "cgu"}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">

        {{#if isAdminConnected}}
        <li class="nav-item helpImg">
          <button class="btn red_btn" style="margin-top: 12px; cursor: default;">ADMIN SESSION</button>
        </li>
        {{/if}}
        <li class="nav-item helpImg">
          <a class="nav-link menu-two" ></a>
        </li>

        {{#if moduleVisible (createOptionArray "messenger")}}
        <li class="nav-item" style="margin-left: 6px;">
          <div class="resident-dropdown" style="cursor: pointer;padding: 6px 10px 0 0; !important">
            {{#if $gt (getBadge "messenger") 0}}
              <span class="headerBadge">{{getBadge "messenger"}}</span>
            {{/if}}
            <a class="closeNav tab btn" name="messenger" style="cursor: pointer;"></a>
          </div>
        </li>
        {{/if}}
        <li class="nav-item" style="height: 57px; align-items: center; display: flex;">
          {{> React
            component=MbCondoDropdown
            onSelectBuilding=condoIdCb
          }}
        </li>
        <li class="nav-item">
          <li class="dropdown">
            <a id="goProfile" class="btn-user-profile">
              {{> userIcon userId=getUserId type="U"}}
            </a>
            <!-- <span class="circle" style="z-index: 999 !important">{{firstLetters}}</span> -->
            <!-- <span class="circleSmall" style="z-index: 9999 !important"></span> -->
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              {{user}}
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu lessBorder">
              <a class="dropdown-item closeNav profilMenu" id="goProfile"> {{ getDicoVar 'commonTranslation' 'manager_my_profile' }} </a>
              <a href="" class="dropdown-item logOut deconnectMenu">{{#if isAdminConnected}}Retour board admin{{else}} {{ getDicoVar 'commonTranslation' 'manager_logout' }} {{/if}}</a>
            </ul>
          </li>
        </li>
      </ul>
    </div>
  </nav>
  <div style="text-align: center; margin-top: 60px">
  </div>
  <br>
  <section class="">
    <!-- <div class="nav-side-menu gestionnaire" id="nav_side_menu"> -->
      <div class="nav-side-menu" id="nav_side_menu">
        <div class="menu-list">
          <ul id="menu-content" class="menu-content">
              <li  data-toggle="collapse" data-target="#menu1" class="collapsed">
                <a class="notSubMenu closeNav tab" name="buildingsview"> {{ getDicoVar 'commonTranslation' 'manager_overview' }} </a>
              </li>
              <li>
                <a class="notSubMenu closeNav tab" name="stats"> {{ getDicoVar 'commonTranslation' 'manager_statistics' }} </a>
              </li>
            <li  data-toggle="collapse" data-target="#menu2" class="" aria-expanded="true">
              <a href="#" class="toggle"> {{ getDicoVar 'commonTranslation' 'manager_management' }} </a>
            </li>
            <ul class="sub-menu collapse in" id="menu2" aria-expanded="true">
              {{#if moduleVisible (createOptionArray "incidents")}}
              <li>
                <a class="closeNav tab" name="incidents">
                  <img src="/img/warning_48px.svg" class="img-responsive img-padded" width="16"/>
                  {{ getDicoVar 'commonTranslation' 'manager_incidents' }}
                  <span class="badge unicBadge">{{getBadge "incident"}}</span>
                </a>
              </li>
              {{/if}}
              {{#if moduleVisible (createOptionArray "informations")}}
                  <li>
                    <a class="closeNav tab" name="evenements">
                      <img src="/img/calendrier_48px.svg" class="img-responsive img-padded" width="16"/>
                      {{ getDicoVar 'commonTranslation' 'manager_events' }}
                      <span class="badge unicBadge">{{getBadge "event"}}</span>
                    </a>
                  </li>
                  <li>
                    <a class="closeNav tab" name="informations">
                      <img src="/img/resident/icons/info.png" class="img-responsive img-padded" width="16"/>
                      {{ getDicoVar 'commonTranslation' 'manager_information' }}
                      <span class="badge unicBadge">{{getBadge "information"}}</span>
                    </a>
                  </li>
              {{/if}}
              {{#if moduleVisible (createOptionArray "map_//manual")}}
              <li>
                <a class="closeNav tab" name="documents">
                  <img src="/img/2document_48px.svg" class="img-responsive img-padded" width="16"/>
                  {{ getDicoVar 'commonTranslation' 'manager_documents' }}
                  <span class="badge unicBadge">{{getBadge "documents"}}</span>
                </a>
              </li>
              {{/if}}
            </ul>
            <li data-toggle="collapse" data-target="#menu3" class="block-item" aria-expanded="true">
              <a href="#" class="toggle"> {{ getDicoVar 'commonTranslation' 'manager_portfolio' }} </a>
            </li>
            <ul class="sub-menu collapse in" id="menu3" aria-expanded="true">
                <li>
                  <a class="closeNav tab" name="occupantList">
                    <img src="/img/resident/icons/trombinoscope.png" class="img-responsive img-padded" width="16"/>
                    {{ getDicoVar 'commonTranslation' 'manager_occupants' }}
                    <span class="badge unicBadge">{{getBadge "newUser"}}</span>
                  </a>
                </li>
                <li>
                  <a class="closeNav tab" name="managerList">
                    <img src="/img/icons/svg/manager_white.svg" class="img-responsive img-padded" width="16"/>
                    {{ getDicoVar 'commonTranslation' 'manager_manager' }}
                  </a>
                </li>
                {{#if hasRightInCondos "view" "buildingList"}}
                  <li>
                    <a class="closeNav tab" name="condosview">
                      <img src="/img/gestionnaire/immeuble_white_48px.svg" class="img-responsive" width="25"/>
                      {{ getDicoVar 'commonTranslation' 'condo' }}s
                    </a>
                  </li>
                {{/if}}
                <li>
                  <a class="closeNav tab" name="contactManagement">
                    <img src="/img/gestionnaire/gestion_contact.png" class="img-responsive img-padded" width="16"/>
                    {{ getDicoVar 'commonTranslation' 'manager_contact' }}
                  </a>
                </li>
              {{#if moduleVisible (createOptionArray "emergencyContact")}}
                <li>
                  <a class="closeNav tab" name="emergencyContact">
                    <img src="/img/icons/emergencycontact.png" class="img-responsive img-padded" width="16"/>
                    {{ getDicoVar 'commonTranslation' 'emergency_contact' }}
                  </a>
                </li>
              {{/if}}
            </ul>
            {{#if moduleVisible (createOptionArray "reservations_//forum_//classifieds")}}
                <li data-toggle="collapse" data-target="#menu4" class="block-item" aria-expanded="true">
                  <a href="#" class="toggle"> {{ getDicoVar 'commonTranslation' 'manager_services' }} </a>
                </li>

                <ul class="sub-menu collapse in" id="menu4" aria-expanded="true">
                  {{#if moduleVisibleAndAccess "reservations"}}
                  <li>
                    <a class="closeNav tab" name="planning">
                      <img src="/img/resident/icons/reservation.png" class="img-responsive img-padded" width="16"/>
                      {{ getDicoVar 'commonTranslation' 'manager_reservation' }}
                      <span class="badge unicBadge">{{getBadge "reservation"}}</span>
                    </a>
                  </li>
                  {{/if}}
                  <!--<li>-->
                    <!--<a class="closeNav tab" name="ressources">-->
                      <!--<img src="/img/resources-48-blanc.png" class="img-responsive img-padded" width="16"/>-->
                      <!--{{ getDicoVar 'commonTranslation' 'manager_resources' }}-->
                    <!--</a>-->
                  <!--</li>-->
                  <!-- {{#if moduleVisible (createOptionArray "EDL")}} -->
                  <!--<li>-->
                    <!--<a class="closeNav tab" name="edl">-->
                      <!--<img src="/img/edl-48.png" class="img-responsive img-padded" width="25"/>-->
                      <!--États des lieux-->
                      <!--<span class="badge unicBadge">{{getBadge "edl"}}</span>-->
                    <!--</a>-->
                  <!--</li>-->
                  <!-- {{/if}} -->
                  {{#if moduleVisibleAndAccess "forum"}}
                      <li>
                        <a class="closeNav tab" name="forum">
                          <img src="/img/resident/icons/forum.png" class="img-responsive img-padded" width="16"/>
                          {{ getDicoVar 'commonTranslation' 'manager_forum' }}
                          <span class="badge unicBadge">{{getBadge "forum"}}</span>
                        </a>
                      </li>
                  {{/if}}
                  {{#if moduleVisibleAndAccess "classifieds"}}
                      <li>
                        <a class="closeNav tab" name="classifieds">
                          <img src="/img/resident/icons/petites-annonces.png" class="img-responsive img-padded" width="16"/>
                          {{ getDicoVar 'commonTranslation' 'manager_ads' }}
                          <span class="badge unicBadge">{{getBadge "classifieds"}}</span>
                        </a>
                      </li>
                  {{/if}}
                  {{#if moduleVisibleAndAccess "conciergerie"}}
                      <li>
                        <a class="closeNav tab" name="concierge">
                          <img src="/img/resident/icons/conciergerie.png" class="img-responsive img-padded" width="16"/>
                          {{ getDicoVar 'commonTranslation' 'manager_concierge_services' }}
                        </a>
                      </li>
                  {{/if}}
                  {{#if moduleVisibleAndAccess "marketPlace"}}
                      <li>
                        <a class="closeNav tab" name="marketPlace">
                          <img src="/img/resident/icons/market-white.png" class="img-responsive img-padded" width="16"/>
                          {{ getDicoVar 'commonTranslation' 'manager_marketPlace_services' }}
                          <span class="badge unicBadge">{{getBadge "marketPlace"}}</span>
                        </a>
                      </li>
                  {{/if}}
                  {{#if integrationVisibleAndAccess "wiLineIntegration"}}
                    {{#if moduleVisibleAndAccess 'laundryRoom'}}
                      <li>
                        <a class="closeNav tab" name="laundryRoom">
                          <img src="/img/resident/icons/laundryroom.png" class="img-responsive img-padded" width="16"/>
                          {{ getDicoVar 'commonTranslation' 'laundryRoom_services' }}
                          <span class="badge unicBadge">{{getBadge "laundryRoom"}}</span>
                        </a>
                      </li>
                    {{/if}}
                  {{/if}}
                  {{#if moduleVisibleAndAccess "integration"}}
                    <li>
                      <a class="closeNav tab" name="integrations">
                        <img src="/img/icons/svg/integrations.svg" class="img-responsive img-padded" width="16"/>
                        {{ getDicoVar 'commonTranslation' 'manager_integrations_services' }}
                      </a>
                    </li>
                  {{/if}}
                </ul>
            {{/if}}
          </ul>
        </div>
        <div class="profile media_profil">
          <li class="hidden-lg hidden-md hidden-sm">
            <div id="profilSlideGes">
              <a id="goProfile">
                {{> userIcon userId=getUserId type="U" dataGestionnaire=1}}
              </a>
              <div class="action">
                <h4>{{getName}}</h4>
              </div>
            </div>

            <span class="glyphicon glyphicon-off color-white logOut"></span>
          </li>
        </div>
      </div>
      <div id="mainContent">
        <!-- navMob  -->
        <nav class="navbar navbar-default customNavbar hidden-lg hidden-md hidden-sm">
          <div class="navbar-header">
            <ul class="nav navbar-nav logo">
              <li>
                <!--<img src="/img/hamburger_icon.png" class="navbar-toggle customNavbarButton pull-left hamburger-icon"/>-->
                <div class="hamburger-icon pull-left closeNav">
                  <i class="icon"></i>
                </div>
              </li>
              <li class="logoGoHome" style="position: absolute;top: 0px;width: calc(100% - 200px);margin: 0 auto;left: 0;right: 0;">
                  <img id="logoMonBuilding" src="{{showLogo}}" class="monbuilding-logo-mobile" style="height: 27px; cursor: pointer;">
              </li>
            </ul>
          </div>
        </nav>
        <!-- END: navMob  -->
      </div>
      <div class="display-modules">
        {{#if currentModule}}
          {{#if isReactModule template}}
            <div id="reactContainer">
              {{> React component=reactComponent dicoLang=getDicoLang condoId=getCondoId}}
            </div>
          {{else}}
            {{> Template.dynamic template=template data=getData}}
          {{/if}}
        {{/if}}
      </div>
    </section>
    {{else}}
      <div class="errorContent">
        <div>
          <h2> {{ getDicoVar 'commonTranslation' 'manager_oups' }} </h2>
          <h3> {{ getDicoVar 'commonTranslation' 'manager_account_disabled' }} </h3>

          <a class="logOut btn button_modal_red red_btn pull-right"> {{ getDicoVar 'commonTranslation' 'manager_back' }} </a>
        </div>
      </div>
    {{/if}}
    {{/if}}
    {{else}}
      {{> loader}}
    {{/if}}
    {{> notConnectedTemplate}}
    {{> MbDisconnectLoader}}
</template>
