@import "/client/style/variable.less";
@import "ressources/resources.less";

#left_panel {
  background-color: @grey3;
  ul {
    list-style-type: none;
    li a {
      color: white;
    }
  }
}

#right_panel {
}

.display-modules {
  margin-left: 270px;
  /*margin-right: 10px;*/
  padding-bottom: 12px;
}

.mt30 {
  margin-top: 30px !important;
}

.gestionnaire ul .sub-menu li {
    margin-left: 7px;
    line-height: 40px;
}

.gestionnaire ul.sub-menu li {
    padding-left: 10px !important;
}

.gestionnaire li a {
    //padding: 3px 5px;
    //font-size: 13px;
    // text-transform: uppercase;
    //font-weight: 400;
}

.gestionnaire img {
    display: inline-block;
    float: none;
    vertical-align: middle;
    margin-bottom: 3px;
}

.gestionnaire {
  width: 220px;
  left: 0;
}
.gestionnaire.hide-menu {
  left: -220px;
}

.newOneMessage{
  button{
    margin-top: 13px !important;
  }
}

#profilSlideGes{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#profilSlideGes a{
  margin-right: 15px;
}

#profilSlideGes > a > span > .status-label {
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;
    top: -9px !important;
}

.btn-user-profile {
  height: 40px !important;
  width: 40px !important;
  margin: 0 !important;
  padding: 0 !important;
  top: 0 !important;
  position: relative !important;
  left: 0 !important;
}

.profilMenu{
  background: url('/img/resident/icons/profilPicto.svg') 20px no-repeat !important;
  background-size: 8% !important;
  padding: 15px 4rem !important;
}
.profilMenu:hover{
  //background: var(--button-color) url('/img/resident/icons/profilPicto_white.svg') 20px no-repeat !important;
  background: var(--secondary-color) url('/img/resident/icons/profilPicto_white.svg') 20px no-repeat !important;
  background-size: 8% !important;
  padding: 15px 4rem !important;
}

.occupantDropDownMenu{
  background: url('/img/icons/svg/occupant.svg') 20px no-repeat !important;
  background-size: 8% !important;
  padding: 15px 4rem !important;
}

.occupantDropDownMenu:hover{
  background: var(--secondary-color) url('/img/icons/svg/occupant_white.svg') 20px no-repeat !important;
  background-size: 8% !important;
  padding: 15px 4rem !important;
}

.deconnectMenu{
  background: url('/img/resident/icons/deconnectPicto.svg') 20px no-repeat !important;
  background-size: 8% !important;
  padding: 15px 4rem !important;
}
.deconnectMenu:hover{
  //background: var(--button-color) url('/img/resident/icons/deconnectPicto_white.svg') 20px no-repeat !important;
  background: var(--secondary-color) url('/img/resident/icons/deconnectPicto_white.svg') 20px no-repeat !important;
  background-size: 8% !important;
  padding: 15px 4rem !important;
}

.calloutGES{
  right: 23px !important;
}

@media (max-width: 767px) {
  .gestionnaire {
    width: 0;
  }
}




