<template name="integrationDetail">

  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-heading position_relative">
          <div class="flex-header">
            <h1> {{ getDicoVar 'commonTranslation' 'integration_detail_title' }} </h1>
            <div class="col-sm-4 pull-right">
              {{> MbSearchBar placeHolder=(getDicoVar "resourceForm" "search") callback=onSearch}}
            </div>
          </div>
          <div style="display: block; margin-top: 10px;">
            <button type="button" id="backbutton" style="background: none; border: none; color: #999; padding: 0">
              <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{ getDicoVar 'commonTranslation' 'manager_back' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 panel integration-detail d-contacts-main allListBack">
    {{#let integration=getIntegration }}
      <div class="integration-info">
        {{#if integration.image}}
          <img src="{{integration.image}}" class="integrationImage"/>
        {{else}}
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="integrationImage"/>
        {{/if}}
        <div class="integration-details">
          <h2>{{ integration.provider }}</h2>
          <p>{{ integration.description }}</p>
        </div>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ getDicoVar 'commonTranslation' 'buildings' }}</th>
            <th>{{ getDicoVar 'commonTranslation' 'entity' }}</th>
            <th>{{ getDicoVar 'commonTranslation' 'integration_type' }}</th>
            <th>{{ getDicoVar 'commonTranslation' 'section' }}</th>
            <th>{{ getDicoVar 'commonTranslation' 'brand_display' }}</th>
            <th>{{ getDicoVar 'commonTranslation' 'integration_date' }}</th>
            <th>{{ getDicoVar 'commonTranslation' 'active' }}</th>
          </tr>
        </thead>
        <tbody>
          {{#each condo in getCondos}}
            {{#let config=(getCondoConfig condo._id)}}
              <tr class="condoLine" condoId="{{condo._id}}">
                <td>
                  {{condo.info.id}} - {{condo.name}}
                </td>
                <td>
                  {{integration.entity}}
                </td>
                <td>
                  {{integration.type}}
                </td>
                <td>
                  {{integration.section}}
                </td>
                <td>
                  {{integration.brandDisplay}}
                </td>
                <td>
                  {{formatDate config}}
                </td>
                <td>
                  <div class="checkboxred">
                    <input checked={{config.active}} type="checkbox" id="rememberMe_id{{condo._id}}" condoId="{{condo._id}}" />
                    <label for="rememberMe_id{{condo._id}}"></label>
                  </div>
                </td>
              </tr>
              {{/let}}
          {{/each}}
        </tbody>
      </table>
    {{/let}}
  </div>
</template>
