.flex-header {
  display: flex;
  flex-direction: row;

  h1 {
    flex-grow: 2
  }
}

.integration-detail {
  .integrationImage {
    width: 164px !important;
    height: 164px !important;
    flex-shrink: 0;
    margin-bottom: 24px;
    margin-right: 32px;
  }

  .integration-info {
    padding-top: 32px;
    display: flex;
    flex-direction: row;

    .integration-details {
      h2 {
        margin: 0;
        margin-bottom: 18px;
        font-family: Lato;
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.6px;
        text-align: left;
        color: #5d5e62;
      }

      p {
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #5d5e62;
      }
    }
  }
}

.integration-detail {
  table {
    border-top: 1px solid #DCDDE4;
    border-bottom: 1px solid #DCDDE4;
    margin-bottom: 20px !important;
  }
  .checkboxred {
    margin-left: 4px;
  }
}
