@import "/client/style/variable.less";

.go-to-forum {
	cursor: pointer;
}

#edit{
	margin-right: 20px;
	margin-top: 5px;
	color: @blacklight;
}


@media (max-width: 342px) {
	#respondAdButtion{
		width: 100%;
		font-size: 87%;
	}
}

