<template name="module_forum_feed">
  <tr class="go-to-forum {{#if post.isNew}}is-new{{/if}}" idx="{{post._id}}">
      <td class="f-title">{{post.subject}}</td>
      <td class="f-comment">{{post.commentCounter}}</td>
      <td class="f-view">{{post.views}}</td>
  </tr>
</template>
