<template name="marketBasketSummary">
  <div id="modal_market_basket_summary" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
    <div class="modal-dialog modal-lg">
      <button details="button" class="close round-close" data-dismiss="modal">
        <img src="/img/icons/croix_48px.svg" width="36" alt="">
      </button>
      <div class="modal-content">
        {{#if isOpen}}
          <div class='modal-content-title-bigger'>{{ getModalTitle }}</div>
          <div class="modal-body-container">
            {{#let basket=getBasket}}
              <div class='info-book-container padding-left-8'>
                <div class='text-book-container'>
                  <span class='text-book'>{{#if isBook}}{{getDicoVar 'commonTranslation' 'booking_date'}}{{else}}{{getDicoVar 'commonTranslation' 'payment_date'}}{{/if}}:</span>
                  <span class='text-book-bolder'>{{humanDateShort (getPaidDate basket.services)}}</span>
                </div>
                {{#if getTransactionId}}
                  <div class='text-book-container'>
                    <span class='text-book'>{{getDicoVar 'commonTranslation' 'transaction_number'}}:</span>
                    <span class='text-book-bolder'>{{getTransactionId}}</span>
                  </div>
                {{/if}}
                <div class='text-book-container'>
                  <span class='text-book'>{{getDicoVar 'commonTranslation' 'billed_to'}}:</span>
                  <div class='multiple-lines'>
                    <span class='text-book-bolder'>{{getUserName}}</span>
                    <span class='text-book-bolder'>{{getBuildingAddress}}</span>
                  </div>
                </div>
              </div>
              <div class='book-titles-container'>
                <div class='book-text-left padding-left-8'>{{#if isBook}}{{getDicoVar 'commonTranslation' 'booking'}}{{else}}{{getDicoVar 'commonTranslation' 'transaction'}}{{/if}}</div>
                <div class='book-text-left'>{{getDicoVar 'commonTranslation' 'date'}}</div>
                <div class='book-text-right padding-right-8'>{{getDicoVar 'commonTranslation' 'amount'}}</div>
              </div>
              {{#each service in basket.services}}
                <div class='book-titles-container height-85'>
                  <div class='book-text-left'>
                    <div class='text-darker padding-left-8'>{{service.title}} (x{{service.quantity}})</div>
                    <div class='text-clearer padding-left-8'>{{service.description}}</div>
                    {{#if isBook}}
                      <div class='text-clearer padding-left-8'>{{getDicoVar 'commonTranslation' 'payment_location'}}: {{service.payment_location}}</div>
                    {{/if}}
                  </div>
                  <div class='book-text-left'>{{humanDateShort service.validatedAt}}</div>
                  <div class='book-text-right padding-right-8'>{{getPrice false (getTotalPrice service.price service.quantity)}}</div>
                </div>
              {{/each}}
                <div class='flex-justify-between border-top-darker-bolder border-darker height-48'>
                  <div class='text-14 padding-left-8'>{{getDicoVar 'commonTranslation' 'subtotal_vat'}}</div>
                  <div class='text-16-clear padding-right-8'>{{basket.subtotal}} €</div>
                </div>
                {{#each vat in $mapped basket.differentVat}}
                  <div class='flex-justify-between {{#unless vat.$last}}border-darker{{/unless}} height-48'>
                    <div class='text-14 padding-left-8'>{{vat.title}}</div>
                    <div class='text-16-clear padding-right-8'>{{vat.value}}</div>
                  </div>
                {{/each}}
                <div class='flex-justify-between border-top-darker-bolder height-48'>
                  <div class='text-16-bold padding-left-8'>{{getDicoVar 'commonTranslation' 'total_vat'}}</div>
                  <div class='text-20-bold padding-right-8'>{{basket.total}} €</div>
                </div>
            {{/let}}
            {{#if isBook}}
              <div class="margin-top-30">
                {{> MbWarning content=(getDicoVar 'commonTranslation' 'pay_for_your_booking')}}
              </div>
            {{/if}}
            <div class='button-push-right-container'>
              <div class='big-button-confirm button-ok'>{{getDicoVar 'commonTranslation' 'done'}}</div>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
