.modal-content {
  .modal-content-title-bigger {
    margin-left: 24px;
    margin-top: 18px;
    font-size: 24px;
    color: #5d5e62;
  }
}

.modal-body-container {
  .info-book-container {
    padding-bottom: 24px;
    border-bottom: 1px solid #d9d9d9;
    margin-top: 16px;

    .text-book-container {
      display: flex;

      .multiple-lines {
        display: flex;
        flex-direction: column;
      }

      .text-book {
        font-size: 16px;
        color: #5d5e62;
        line-height: 1.5;
        padding-right: 8px;
      }

      .text-book-bolder {
        font-size: 16px;
        color: #5d5e62;
        font-weight: 600;
        line-height: 1.5;
      }
    }
  }

  .book-titles-container {
    display: flex;
    justify-content: space-between;
    & > ::first-letter {
      text-transform: capitalize;
    }
    height: 63px;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
    font-size: 16px;
    color: #5d5e62;
    font-weight: 500;

    &.height-85 {
      height: 85px !important;
    }

    .book-text-left {
      flex: 1 0 46%;
      max-width: 46%;
      text-align: left;
      .text-darker {
        font-size: 16px;
        color: #5d5e62;
      }

      .text-clearer {
        font-size: 14px;
        color: #8b999f;
      }

      & > div {
        width: 96%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .book-text-right {
      flex: 1 0 6%;
      text-align: right;
    }
  }

  .paymentError {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #80808070;
    z-index: 999999;

    .paymentErrorContainer {
      margin: 0 auto;
      text-align: center;
      background: #fff;
      margin-top: 100px;
      padding: 32px;
      width: 450px;
      @media only screen and (max-width: 479px) {
        padding: 16px;
        width: initial;
        margin: 20px;
      }
      .__title {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.6px;
        color: #5d5e62;
        margin-bottom: 13px;
        margin-top: 11px;
      }

      .__text {
        font-size: 15px;
        letter-spacing: -0.4px;
        text-align: center;
        color: #8b999f;
        margin-bottom: 21px;
      }

      .__confirmBtn {
        width: 216px;
        height: 36px;
        border: 1px solid var(--secondary-color);
        color: var(--secondary-color);
        font-size: 16px;
        background-color: #fff;
      }
    }
  }

}
