<template name="line_number_message">

	<div class="main-modal" id="line_number_message-container" style="background: white; padding: 20px; margin-bottom: 30px;">
		<div class="modal-heading pull-left mb30 stat-title">
			<h4 class="modal-title red_color">Nombre de messages : </h4>
		</div>
		<div id="chartjs-number_message-legend" class="global-chart-legend-container">
			<table></table>
		</div>
		<div id="x-axis-arrow-number_message" class="x-axis-arrow">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
		</div>
		<div id="chartjs-chart-tooltips-number_message" class="chart-tooltips-container">
			<table></table>
		</div>
		<canvas id="line_number_message"></canvas>
	</div>

</template>