<template name="faq">

	<section class="faqContent col-xs-12">
		{{> headerHome}}
		<div class="head">
			<h2>F.A.Q</h2>
		</div>
		<div class="content">
			<div class="question col-md-8 col-md-offset-2">
				<h6 style="font-size: 16px !important; display: block; margin-top: -10px; padding-bottom: 25px;">
					<button type="button" id="backHome" style="background: none; border: none; color: #999; padding: 0">
						<img src="/img/icons/back.svg" height="15" style="margin-right: 6px;"> Retour
					</button>
				</h6>
				<ul>
					<li><p>{{getDicoVar 'faq' 'question_one'}}</p>
						<ul>
							<li><p>{{getDicoVar 'faq' 'answer_one'}}</p></li>
						</ul>
					</li>

					<li><p>{{getDicoVar 'faq' 'question_two'}}</p>
						<ul>
							<li><p>{{{getDicoVar 'faq' 'answer_two'}}}</p></li>
						</ul>
					</li>

					<li><p>{{getDicoVar 'faq' 'question_three'}}</p>
						<ul>
							<li><p>{{getDicoVar 'faq' 'answer_three'}}</p></li>
						</ul>
					</li>

					<li><p>{{getDicoVar 'faq' 'question_four'}}</p>
						<ul>
							<li><p>{{getDicoVar 'faq' 'answer_four'}}</p></li>
						</ul>
					</li>

					<li><p>{{getDicoVar 'faq' 'question_five'}}</p>
						<ul>
							<li><p>{{getDicoVar 'faq' 'answer_five'}}</p></li>
						</ul>
					</li>
					<li><p>{{getDicoVar 'faq' 'question_six'}}</p>
						<ul>
							<li><p>{{{getDicoVar 'faq' 'answer_six'}}}</p></li>
						</ul>
					</li>
					<li><p>{{getDicoVar 'faq' 'question_seven'}}</p>
						<ul>
							<li><p>{{{getDicoVar 'faq' 'answer_seven'}}}</p></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		{{> footer}}
	</section>

</template>