@import '../../../style/variable.less';

.faqContent{
  padding: 0;
  background: @wt;
  .head {
    margin-top: 60px;
    padding: 50px;
    background: @blue;
    color: @wt;
    text-align: center;
    h2{
      font-weight: 300;
      font-size: 40px;
      margin: 0;
    }
  }
  .content {
    background: @wt;
    padding: 50px;
    ul{
      li{
        list-style: decimal;
        color: @blue;
        font-size: 30px;
        padding: 20px 0;
        font-weight: 300;
        p{
          color: @grey5;
          font-size: 25px;
          font-weight: 300;
          margin: 0 0 -5px;
        }
        ul{
          li{
            list-style: none;
            p{
              font-size: 18px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 669px){
  .faqContent{
    .content{
      padding: 5px;
      ul{
        li{
          font-size: 25px;
          p{
            font-size: 23px;
          }
          ul{
            padding-left: 0;
            li{
              p{
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}