<!--
Route: gestionnaire/usersview/**encoded part**/occupantProfile/documents
Route: gestionnaire/managerList/**encoded part**/managerProfile/buildings
-->

<template name='profileDetails'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {{#let userProfile=getUserProfile}}
    <div class="row titleView titleViewStyle" style='height: 80px !important;'>
      <div class="col-sm-12" style='padding-right: 16px; padding-left: 16px'>
        <div class="panel-heading" style="padding-bottom: 10px; padding-left: 0; padding-right: 0;">
          <div class="sub-tool-bar clearfix">
            <h1 class="pull-left">{{userProfile.firstname}} {{userProfile.lastname}}</h1>
            <div style="position: absolute; top: 50px;">
              <button type="button" id="backbutton" style="background: none; border: none; color: #8b999f; padding: 0">
                <img src="/img/icons/back.svg" height="15" style="margin-right: 6px; margin-top: -2px;"> {{{getDicoVar "resourceForm" "back"}}}
              </button>
            </div>
            {{!-- <div class="action pull-right">
              <a type="button" class="btn btn-red-confirm">{{getDicoVar 'commonTranslation' 'personal_details_save'}}</a>
            </div> --}}
          </div>
        </div>
      </div>
    </div>
    <div class='profileContainer'>
      <div class='basicProfile'>
        <div class='profilePictureContainer'>
          {{#let profilePicture=getProfileUrl}}
            {{#if profilePicture}}
              <div class="profilePicture" style='background-image:url("{{profilePicture}}"), url("/img/anonymous.png")'></div>
            {{else}}
              <div class="profilePictureInitial"><span>{{getUserInitial userProfile}}</span></div>
            {{/if}}
          {{/let}}
        </div>
        <div class='informationsContainer'>
          <div class='nameProfile' style='align-items: center;'>{{userProfile.firstname}} {{userProfile.lastname}} <img src="/img/icons/edit.png" alt="" class="action-button" id="names-edit-button" style='margin-left: 16px; cursor: pointer;' height="20" data-toggle="modal" data-target="#modal_manager_edit_names"></div>
          <div class="detail-tab-container">
            <div class="detail-container">
              <div class="mb-panel-wrapper">
                {{> MbPanel content=(getDicoVar 'commonTranslation' 'details')}}
                <div class="action-container">
                  <img src="/img/icons/edit.png" alt="" class="action-button" id="profile-edit-button" height="16" data-toggle='modal' data-target='#modal_manager_edit_profile'>
                </div>
              </div>
              <div class='subText'><div class='profileIcon profileMailIcon'></div>{{userProfile.email}}</div>
              <div class='subText'><div class='profileIcon profileMobileIcon'></div>{{formatMobileNumNoError userProfile.tel userProfile.telCode}}</div>
              <div class='subText'><div class='profileIcon profilePhoneIcon'></div>{{formatMobileNumNoError userProfile.tel2 userProfile.tel2Code}}</div>
              {{#if isManagerModule}}
                <div class='subText'><div class='profileIcon profileStatusIcon'></div>{{userProfile.statusToOccupant}}</div>
              {{/if}}
            </div>
            {{#unless isManagerModule}}
            <div class="detail-container">
              {{> MbPanel content=(getDicoVar 'commonTranslation' 'interests')}}
              <div class="tags-container">
                {{#let interests=(getInterests userProfile)}}
                  {{#if interests.length}}
                    {{#each interest in interests}}
                        <span class="user-interest">{{interest}}</span>
                    {{/each}}
                  {{else}}
                    {{> MbEmpty
                      title=''
                      subTitle=(getDicoVar 'commonTranslation' 'empty_interests_other')
                    }}
                  {{/if}}
                {{/let}}
              </div>
            </div>
            {{/unless}}
          </div>
        </div>
      </div>
      <div class='tabBarContainer'>
        {{#if isManagerModule}}
          <div class='{{#if $eq selectedTab 'buildings'}}selectedTabBar{{/if}}' data-tab='buildings'> {{ getDicoVar 'commonTranslation' 'profile_details_buildings' }} </div>
          <div class='{{#if $eq selectedTab 'rights'}}selectedTabBar{{/if}}' data-tab='rights'> {{ getDicoVar 'commonTranslation' 'profile_details_rights' }} </div>
        {{else}}
          {{#if documentsAvailable}}
            <div class='{{#if $eq selectedTab 'documents'}}selectedTabBar{{/if}}' data-tab='documents'> {{ getDicoVar 'commonTranslation' 'profile_details_documents' }} </div>
          {{/if}}
          {{!-- <div class='{{#if $eq selectedTab 'payments'}}selectedTabBar{{/if}}' data-tab='payments'>Paiements</div> --}}
          <div class='{{#if $eq selectedTab 'buildingsOccupant'}}selectedTabBar{{/if}}' data-tab='buildingsOccupant'> {{ getDicoVar 'commonTranslation' 'profile_details_buildings' }} </div>
          <div class='{{#if $eq selectedTab 'rights'}}selectedTabBar{{/if}}' data-tab='rights'> {{ getDicoVar 'commonTranslation' 'profile_details_rights' }} </div>
        {{/if}}
      </div>
      {{> Template.dynamic template=getTabTemplate}}
    </div>
  {{/let}}
  {{> manager_editProfileOccupant }}
  {{> manager_editNamesOccupant }}
</template>
