@import "../../../../../../style/variable.less";

.profileContainer {
  background-color: white;
  width: 100%;
  height: fit-content;
  position: relative;
  min-height: 1px;
  overflow-x: hidden;

  .customizeRow {
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;

    .mb-warning {
      box-shadow: none;
    }

    .rowColors {
      display: flex;
      margin-top: 26px;

      .spacer {
        width: 50px;
      }
    }

    .colorsButton {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      padding-bottom: 32px;

      .mb-button {
        margin-left: 24px;
      }
    }
  }

  .basicProfile {
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;

    .profilePictureContainer {
      width: 164px;
      position: relative;

      .editProfilePicture {
        cursor: pointer;
        background: url('img/icons/svg/camera-white.svg');
        background-color: var(--primary-color);
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center;
        position: absolute;
        top: 132px;
        right: 0;
        border: 2px solid #f1f5f6;
      }
      .dropdownProfilePicture {
        position: absolute;
        top: 172px;
        width: 200px;
        height: auto;
        background-color: white;
        text-align: center;
        left: 148px;
        transform: translateX(-50%);
        border: 1px solid #DCDDE4;
        box-shadow: 0 1px 4px 0 rgba(32, 33, 38, 0.1);
        z-index: 10;
        .tick {
          width: 15px;
          height: 15px;
          box-shadow: -15px 0 15px -15px rgba(32, 33, 38, 0.1);
          background-color: white;
          border-left: 1px solid #DCDDE4;
          border-top: 1px solid #DCDDE4;
          left: 50%;
          position: absolute;
          transform: translate(-50%, -55%) rotate(45deg);
        }
        .textSelector {
          display: block;
          height: 38px;
          position: relative;
          cursor: pointer;
          z-index: 11;
          &:not(:last-child) {
            border-bottom: 1px solid #DCDDE4;
          }
          &:hover {
            background-color: var(--secondary-color);
            color: @wt;
          }
          line-height: 38px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          color: #5d5e62;
        }
      }

      .profilePicture {
        position: relative;
        width: 164px;
        height: 164px;
        border-radius: 50%;
        background-size: cover;
        background-position: 50% 50%;
      }

      .profilePictureInitial {
        position: relative;
        width: 164px;
        height: 164px;
        border-radius: 50%;
        //background-color: var(--accent-color);
        background-color: var(--primary-color);

        span {
          color: white;
          font-size: 60px;
          line-height: 164px;
          position: absolute;
          letter-spacing: 10px;
          left: 50%;
          transform: translateX(calc(~'-50% + 5px'));
        }
      }

      .profilePictureEmpty {
        position: relative;
        width: 164px;
        height: 164px;
        border-radius: 50%;
        background-color: @newbgcolor;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          color: @grey3;
          font-size: 14px;
          text-transform: uppercase;
          width: 75%;
          text-align: center;
        }
      }
    }

    .informationsContainer {
      margin-left: 16px;
      width: calc(~'100% - 164px - 17px');

      .detail-tab-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: -16px;

        .detail-container {
          flex: 1;
          margin-right: 16px;
          display: flex;
          flex-direction: column;

          & > div:not(.mb-panel):not(.mbPanelContainer) {
            margin-left: 16px;
            display: flex;

            &.subText {
              margin-bottom: 24px;
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.5;
              letter-spacing: normal;
              text-align: left;
              color: #5d5e62;
            }
          }

          .mb-empty {
            .mb-empty-wrapper {
              min-height: unset;
              padding-top: 0;
              margin-top: 6px;

              p {
                margin-bottom: 23px;
              }

              h2 {
                display: none;
              }
            }
          }
        }
      }

      .mb-panel {
        margin-bottom: 13px;
      }

      .editProfile, .editInterests, .editIntegrationConfig {
        position: absolute;
        right: 12px;
        top: 8px;
        cursor: pointer;
      }

      .mbPanelContainer {
        position: relative;
      }

      & > div:not(.mb-panel):not(.mbPanelContainer) {
        margin-left: 16px;
        display: flex;

        &.subText {
          margin-bottom: 24px;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #5d5e62;
        }

        .profileIcon {
          margin-right: 6px;
          width: 24px;
          height: 24px;

          &.profileStatusIcon {
            background-image: url('img/status.svg');
            min-width: 24px;
            height: 24px;
          }
          &.profileMailIcon {
            background-image: url('img/icon-mail-profile.svg');
            width: 24px;
            height: 24px;
          }
          &.profilePhoneIcon {
            background-image: url('img/phone-profile.svg');
            width: 24px;
            height: 24px;
          }
          &.profileMobileIcon {
            background-image: url('img/mobile-profile.svg');
            width: 24px;
            height: 24px;
          }
          &.profileWorkIcon {
            background-image: url('img/work.svg');
            width: 24px;
            height: 24px;
          }
          &.profileBuildingIcon {
            background-image: url('img/icons/building.png');
            width: 24px;
            height: 24px;
            display: block;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
          }
        }

        &.nameProfile {
          margin-bottom: 19px;
          font-size: 24px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.6px;
          text-align: left;
          color: #5d5e62;
        }
      }
    }
  }

  .tabBarContainer {
    margin-top: 3px;
    border-top: 1px solid #DCDDE4;
    border-bottom: 1px solid #DCDDE4;
    height: 43px;
    display: flex;

    & > div {
      cursor: pointer;
      text-transform: uppercase;
      padding-left: 43px;
      padding-right: 43px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 40px !important;
      letter-spacing: normal;
      text-align: center;
      //color: var(--tab-color);
      color: var(--primary-color);
    }
    .selectedTabBar {
      //border-bottom: 3px solid var(--tab-color);
      border-bottom: 3px solid var(--primary-color);
    }
  }
}

.tags-container.align-center {
  justify-content: center;
}
.tags-container {
  margin-left: 0!important;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;

  .user-interest {
    background-color: var(--primary-color);
    padding: 4px 7px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    &:not(:last-child) {
      margin-right: 8px;
    }
    margin-bottom: 8px;
    border: 1px solid var(--primary-color);
  }

  .more-user-interest {
    background-color: #ffffff;
    padding: 4px 7px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    margin-right: 8px;
    margin-bottom: 8px;
    cursor: pointer;
  }
}
