@import "/client/style/variable.less";

@media (max-width: 992px) {
  .historiqueView {
    margin-top: 30px;
  }
}


.datepickerView table {
  border: solid 1px @yellow !important;
}
.datepickerView table thead tr:nth-child(2) th {
  background-color: @yellow !important;
}
.datepickerView table {
  width: 220px !important;
}

.datepickerView table tr td {
  height: 25px !important;
  padding: 0 !important;
}

.history-action {
  font-weight: 600;
}

.history-left {
  position: relative;
  top: -9px;
}
.cont-adjusted .d-results ul.noscroll {
  overflow-y: hidden!important;
}

.d-results.to-right {
  margin-right: -30px;
}

.empty_donut {
  border-radius: 100%;
  border: 10px solid #828282;
}
#donut {
  width: 170px !important;
  height: 170px !important;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#viewIncidentGest {
  .d-bars {
    left: 20px;
    position: relative;
  }
}
span.graph-inst {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: @grey3;
}

span.graph-inst > i {
  display: inline-block;
  width: 50px;
  height: 15px;
  background-color: #000;
  margin-right: 15px;
}

span.graph-inst.red > i {
  background-color: @red;
}

span.graph-inst.blue > i {
  background-color: #69d2e7;
}

span.graph-inst.orange > i {
  background-color: #fdb813;
}
form {
  button {
    .material-icons {
      color: @grey3;
    }
  }
}
#viewMSGgest, #viewINCgest {
  padding-top: 30px;
  padding-bottom: 20px;
  height: 230px;
}
.event-info-content {
  padding-right: 15px;
  .event-info-list {
    table {
      thead {
        th {
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 600;
          color: #999;
        }
      }
    }

    .action-btn-group {
      margin: 10px 0;
      text-align: center;
      a {
        margin: 5px;
      }
    }
  }
}



@media (max-width: 440px) {
  #viewIncidentGest{
    .d-panel-body{
      height: 355px !important;
      padding: 20px 0 !important;
    }
    .d-data{
      width: 100% !important;
      .d-bars{
        text-align: center;
        right: 0;
        left: 0!important;
        display: flex;
        margin-top: 30px;
      }
    }
    a{
      margin-left: calc(~"50% - 80px");
    }
    i{
      display: block;
      width: 75px !important;
    }
    .graph-inst {
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 75px;
    }
  }

  #viewMSGgest{
    padding-top: 30px;
    padding-bottom: 20px;
    height: 285px !important;
    .d-data{
      width: 100%;
    }
    .btn{
      margin-top: 30px;
    }
  }
}

.cursorPointer {
  cursor: pointer;
}

.goToElemModule {
  cursor: pointer;
  &:hover {
    //background-color: #dcdcdc;
  }
}

.manager-overview {
  display: flex;
  flex-direction: column;
  #upper-panel {
    background-color: @wt;
    display: flex;
    flex: 0 0 348px;
    padding: 16px 16px 37px;
    margin-bottom: 18px;
    .upper-item.mid {
      a.btn {
        align-self: center;
      }
      .circle-container {
        justify-content: center;
      }
      h2, p {
        text-align: center;
      }
    }

    .upper-item {
      flex: 1;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        text-align: left;
        color: @slategrey;
        margin: 0 0 4px 0;
      }
      p {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        text-align: left;
        color: @grey3;
        margin: 0 0 4px 0;
      }
      a.btn {
        height: 40px;
        //border: solid 1px var(--button-color);
        border: solid 1px var(--secondary-color);
        width: 180px;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        //color: var(--button-color);
        color: var(--secondary-color);
        padding: 10px;
        cursor: pointer;
      }
      a.btn:hover {
        //border: solid 1px var(--button-color);
        border: solid 1px var(--secondary-color);
        color: @white;
        //background: var(--button-color);
        background: var(--secondary-color);
      }
      .circle-container {
        flex: 1;
        display: flex;
        align-items: center;

        .circle.small {
          font-size: 17px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.3px;
          text-align: center;
          color: @grey3;
          background-color: @paleBlue;
        }
        .circle {
          height: 148px;
          width: 148px;
          background-color: @wt;
          font-size: 68px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -1.6px;
          text-align: center;
          color: @slategrey;
          display: flex;
          align-items: center;
          justify-content: center;
          border: solid 8px @paleBlue;
        }

        .message-circle {
          border: solid 8px @color-warning;
        }
        .occupant-circle {
          border: solid 8px @blue;
        }
        .resa-circle {
          border: solid 8px @red;
        }

        #the-legend {
          ul {
            list-style: none;
            padding: 0;
            margin: 0 0 0 17px;
            li {
              display: flex;
              align-items: center;
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: -0.3px;
              text-align: left;
              color: @slategrey;
              margin-bottom: 16px;
              span {
                display: inline-block;
                height: 16px;
                width: 16px;
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
  #bottom-panel {
    display: flex;
    height: 774px;

    .news-board, .activity-board {
      background-color: @wt;
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-top: 16px;
      padding-bottom: 16px;

      .head, .body {
        padding-left: 16px;
        padding-right: 16px;
      }

      .head {
        flex: 0 0 60px;
        h2 {
          margin-top: 0;
          margin-bottom: 6px;
          font-size: 18px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.4px;
          text-align: left;
          color: @slategrey;
        }
        p {
          margin: 0;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -0.3px;
          text-align: left;
          color: @grey3;
        }
      }
      .body {
        flex: 1;
        overflow-y: scroll;
        margin-right: -9px;
        padding-right: 19px;
      }
      .footer {
        flex: 0 0 40px;
      }
    }

    .news-board {
      margin-right: 18px;
      .news-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: solid 1px @wt2;
        padding: 13px 0;
        cursor: pointer;
        .left {
          flex: 1;
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-all;

          h3 {
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.4px;
            text-align: left;
            color: @slategrey;
            margin-top: 0;
            margin-bottom: 4px;
          }
          p {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.3px;
            text-align: left;
            color: @grey3;
            margin-top: 0;
            margin-bottom: 4px;
            display: flex;
            align-items: center;

            .image-icon {
              display: inline-block;
              margin-right: 4px;
              width: 16px;
              height: 16px;
            }
          }
        }
        .right {
          a {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.3px;
            text-align: left;
            color: @grey3;
            display: flex;
            align-items: center;

            i.image-icon {
              display: inline-block;
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
    .activity-board {
      .history-item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        border-top: solid 1px @wt2;
        padding: 13px 0;
        position: relative;
        .left {

        }
        .mid {
          width: 1px;
          flex: 1;
          margin-left: 15px;
          h3 {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.4px;
            text-align: left;
            color: @slategrey;
            margin-top: 0;
            margin-bottom: 3px;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          p {
            margin-top: 0;
            margin-bottom: 7px;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          p.building {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.3px;
            text-align: left;
            color: @grey3;
          }
          p.action {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.4px;
            text-align: left;
            color: @slategrey;
          }
          p.detail {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: justify;
            color: @grey3;
          }
        }
        .right {
          text-align: right;
          .date {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.3px;
            text-align: right;
            color: @grey3;
            margin-bottom: 15px;
            margin-right: 8px;
          }
          .image-icon {
            display: inline-block;
            height: 24px;
            width: 24px;
            position: absolute;
            top: calc(~"50% - 12px");
            right: 0;
          }
        }
      }
    }
  }
}
