<template name="buildingsView">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{{#if isEnableAccount}}
    <!--{{#if allReady}}-->
		<div class="row titleView">
			<div class="col-sm-12">
				<div class="panel">
					<div class="panel-heading position_relative">
						<div class="sub-tool-bar clearfix">
							<h1 class="pull-left">{{getDicoVar 'commonTranslation' 'manager_overview'}}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--  Html for dashboard home page starts here -->
		{{#if isNotRestricted}}
        <div class="manager-overview" id="gestionnaire-home">
            {{#if or (or (checkRightInBuildingView "incident") (checkRightInBuildingView "messenger")) (or (needValidation) (checkRightInBuildingView "trombi"))}}
            <div id="upper-panel">
                {{#if checkRightInBuildingView "incident"}}
                <div class="upper-item mid incident-chart">
                    <h2>{{getDicoVar 'moduleReportAnAbuse' 'incidents'}}</h2>
                    <p>{{getDicoVar 'buildingsView' 'incident_description'}}</p>
                    <div class="circle-container">
                    {{#if chartReady}}
                        {{createBeautifulDonut false}}
                        {{#unless isIncidentEmpty}}
                            <div id="pie-chart"></div>
                            <div id='the-legend'></div>
                            {{createBeautifulDonut true}}
                        {{else}}
                            <span class="circle small">{{getDicoVar 'buildingsView' 'empty_incident'}}</span>
                        {{/unless}}
                    {{/if}}
                    </div>
                    {{#if or (userHasRight "incident" "see") (or (hasRightInCondos "incident" "see") ($eq getCurrentCondo "all"))}}
                        <a id="goIncidents" class="btn">{{getDicoVar 'buildingsView' 'incidentsSee'}}</a>
                    {{/if}}
                </div>
                {{/if}}
                {{#if checkRightInBuildingView "messenger"}}
                <div class="upper-item mid msg-chart">
                    <h2>{{getDicoVar 'buildingsView' 'message_title'}}</h2>
                    <p>{{getDicoVar 'buildingsView' 'message_description'}}</p>
                    <div class="circle-container">
                        {{#if newMessages}}
                        <span class="message-circle circle">{{newMessages}}</span>
                        {{else}}
                        <span class="circle">{{newMessages}}</span>
                        {{/if}}
                    </div>
                    <a class="btn" id="goMessenger">{{getDicoVar 'buildingsView' 'messageSee'}}</a>
                </div>
                {{/if}}
                {{#if checkRightInBuildingView "trombi"}}
                <div class="upper-item mid occupant-chart">
                    <div class="upper-item mid msg-chart">
                        <h2>{{getDicoVar 'buildingsView' 'occupant_title'}}</h2>
                        <p>{{getDicoVar 'buildingsView' 'occupant_description'}}</p>
                        <div class="circle-container">
                            {{#if getBadges.occupant}}
                            <span class="occupant-circle circle">{{getBadges.occupant}}</span>
                            {{else}}
                            <span class="circle">{{getBadges.occupant}}</span>
                            {{/if}}
                        </div>
                        <a class="btn" id="goOccupant">{{getDicoVar 'buildingsView' 'occupant_button'}}</a>
                    </div>
                </div>
                {{/if}}
                {{#if and (needValidation) (checkRightInBuildingView "reservation")}}

                <div class="upper-item mid reservation-chart">
                    <div class="upper-item mid msg-chart">
                        <h2>{{getDicoVar 'buildingsView' 'resa_title'}}</h2>
                        <p>{{getDicoVar 'buildingsView' 'resa_description'}}</p>
                        <div class="circle-container">
                            {{#if getBadges.resa}}
                            <span class="resa-circle circle">{{getBadges.resa}}</span>
                            {{else}}
                            <span class="circle">{{getBadges.resa}}</span>
                            {{/if}}
                        </div>
                        <a class="btn" id="goResa">{{getDicoVar 'buildingsView' 'resa_button'}}</a>
                    </div>
                </div>
                {{/if}}
            </div>
            {{/if}}
            <div id="bottom-panel">
                {{#if checkRightInBuildingView "actuality"}}
                <div class="news-board">
                    <div class="head">
                        <h2>{{getDicoVar 'buildingsView' 'news_title'}}</h2>
                        <p>{{getDicoVar 'buildingsView' 'news_description'}}</p>
                    </div>
                    <div class="body info-scroller">
                    {{#if $not (getLength (getActu))}}
                        {{> MbEmpty
                            title=(getDicoVar "buildingsView" "empty_title")
                            subTitle=(getDicoVar "buildingsView" "empty_subtitle")
                        }}
                    {{else}}
                        {{#each getActu}}
                            {{#if userHasRight "actuality" "see" this.condoId}}
                                <div class="news-item {{getNavigateClass this}}" data-eventId="{{this._id}}" data-id="{{this._id}}">
                                    <div class="left">
                                        <h3>{{this.title}}</h3>
                                        <p class="building">
                                            <i class="image-icon building-icon"></i>
                                            {{linkedCondoId this}}
                                            {{#with linkedCondo this}}
                                                {{#if $neq name info.address}}
                                                    {{name}}
                                                {{else}}
                                                    {{info.address}}, {{info.code}} {{info.city}}
                                                {{/if}}
                                            {{/with}}
                                        </p>
                                        {{#if this.startDate}}
                                            <p class="date">
                                                <i class="image-icon clock-icon"></i>

                                                {{#if sameDate this.startDate this.endDate}}
                                                    {{getDicoVar "moduleActualityIndex" "the"}}
                                                {{else}}
                                                    {{#if $not this.endDate}}
                                                        {{getDicoVar "moduleActualityIndex" "the"}}
                                                    {{else}}
                                                        {{getDicoVar "moduleActualityIndex" "from2"}}
                                                    {{/if}}
                                                {{/if}}
                                                {{fullDate this.startDate}}
                                                {{#if $neq this.startHour '-1'}}
                                                    {{#if sameDate this.startDate this.endDate}}
                                                        {{getDicoVar "moduleActualityIndex" "from"}}
                                                    {{else}}
                                                        {{getDicoVar "moduleActualityIndex" "at"}}
                                                    {{/if}}
                                                    {{this.startHour}}
                                                {{/if}}
                                                {{#if sameDate this.startDate this.endDate}}
                                                    {{#if $neq this.endHour '-1'}}
                                                        {{getDicoVar "moduleActualityIndex" "to"}}
                                                        {{this.endHour}}
                                                    {{/if}}
                                                {{/if}}
                                                {{#if this.endDate}}
                                                    {{#if $not (sameDate this.startDate this.endDate)}}
                                                        {{getDicoVar "moduleActualityIndex" "the2"}}
                                                        {{fullDate this.endDate}}
                                                        {{#if $neq this.endHour '-1'}}
                                                            {{getDicoVar "moduleActualityIndex" "at"}}
                                                            {{this.endHour}}
                                                        {{/if}}
                                                    {{/if}}
                                                {{/if}}
                                            </p>
                                        {{/if}}
                                    </div>
                                    <div class="right">
                                        <a class="detail">{{getDicoVar 'incidentResidentIndex' 'see_details'}} <i class="image-icon chevron-r-icon"></i></a>
                                    </div>
                                </div>
                            {{/if}}
                        {{/each}}
                    {{/if}}
                    </div>
                </div>
                {{/if}}
                <div class="activity-board">
                    <div class="head">
                        <h2>{{getDicoVar 'buildingsView' 'history_title'}}</h2>
                        <p>{{getDicoVar 'buildingsView' 'history_description'}}</p>
                    </div>
                    {{> enterpriseHistory condosInCharge=CDD_cursor condoFilter=getCondoFilter}}
                </div>
            </div>
        </div>
        {{else}}
            {{> MbRestrictedAccess}}
		{{/if}}
    <!--{{else}}-->
        <!--{{> loader}}-->
    <!--{{/if}}-->
{{/if}}
</template>
