<template name='UsersJoinedCard'>
    {{#let post=this.post}}
    <div class="card-block small-padding">
        <div class="card-inner">
            <div class="mb-post">
                <div class="mb-post-header mb-0">
                    <div class="mb-post-meta">
                        <div class="mb-post-avatar">
                            {{> userIcon template="userIcon" type="U" userId=post._id }}
                        </div>

                        <div class="mb-post-info">
                            <div class="mb-post-username">
                                {{ getName post._id 'firstname' }} {{ getName post._id 'lastname'}}
                            </div>
                            <div class="mb-post-created">
                                <!-- @todo translation -->
                                {{ getDicoVar 'feedList' 'joined_on'}} {{ parseDate post.feedDate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/let}}
</template>
