<template name="condoRoles">
	<div class="row titleView">
		<div class="col-sm-12">
			<div class="panel" style="box-shadow:initial !important;">
				<div class="panel-heading position_relative">
					<div class="sub-tool-bar clearfix">
						<h1 class="pull-left">Gestion des rôles dans l'immeuble</h1>
						{{> rolesDropDown classes="pull-right"}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="allListBack" style="margin-top: 20px;overflow:visible;padding: 15px 20px !important;">
		<table class="table table-hover roleTable" style="width:100%;border-collapse:collapse;">
		<thead>
			<th>Droit</th>
			<th>Activé</th>
			<th>Désactivé</th>
		</thead>
		{{#with currentRole=getCondoRoles}}
			<tbody>
			{{#each right in currentRole.rights}}
				{{#unless iscurrentDisplayingModule right.module}}
				<tr style="background: #eeeeee;">
					<td class="moduleRow" colspan="4">
            {{#if $eq right.module 'view'}}
              {{getDicoVar 'roleName' (viewName right.module right.displayOrder)}}
            {{else}}
              {{getDicoVar 'roleName' right.module}}
            {{/if}}
          </td>
				</tr>
				{{/unless}}
				<tr class="roleRight {{#if right.disabled}}disabled{{/if}}">
					<td class="roleRightRight">{{getRoleRightVal right}}</td>
					<td class="roleRightdefault">
						<div class="checkboxred">
						{{#if $eq right.default true}}
							<input type="checkbox" name="{{right.module}}.{{right.right}}.true" checked>
						{{else}}
							<input type="checkbox" name="{{right.module}}.{{right.right}}.true">
						{{/if}}
							<label class="labelForCheckbox" for="{{right.module}}.{{right.right}}.true"></label>
						</div>
					</td>
					<td class="roleRightdefault">
						<div class="checkboxred">
						{{#if $eq right.default false}}
							<input type="checkbox" name="{{right.module}}.{{right.right}}.false" checked>
						{{else}}
							<input type="checkbox" name="{{right.module}}.{{right.right}}.false">
						{{/if}}
							<label class="labelForCheckbox" for="{{right.module}}.{{right.right}}.false"></label>
						</div>
					</td>
				</tr>
			{{/each}}
			</tbody>
		{{/with}}
		</table>
	</div>
	{{> override_userright_modale users=getFindUserForCondoAndRoleResult module=getFindUserForCondoAndRoleModule right=getFindUserForCondoAndRoleRight}}
</template>