<template name="override_userright_modale">
	<div id="override_userright_modale" class="modal fade right main-modal d-modal" role="dialog" aria-labelledby='myModalLabel'>
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<button type="button" class="close round-close" data-dismiss="modal">
				<img src="/img/icons/croix_48px.svg" width="36" alt="">
			</button>
			<div class="modal-content">
				<div class="modal-header">
				<div class="modal-heading pull-left mb30">
					<h4 id="myModalLabel" class="modal-title red_color">Supprimer les droits utilisateur associés</h4>
				</div>
				</div>
				<div class="modal-body clearfix" id='subject'>
					<div class="multi-select" style="margin-bottom: 25px !important;">
						<select multiple="multiple" id="usersSelected">
							{{#each user in users}}
								<option value="{{user._id}}">{{user.profile.firstname}} {{user.profile.lastname}}</option>
							{{/each}}
						</select>
						<button class="btn red_btn pull-right" style="margin-top:20px;" id="valid">Valider</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>