@import '../utils/variables.less';

.section-banner {
  position: relative;
  padding: 186px 0;
  background: url(/img/homePage/bg-photo.png) no-repeat;
  background-size: cover;

  &.banner-residential {
    background: url(/img/homePage/bg-photo-residential.jpg) no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);
  }

  .banner {
    text-align: center;

    &__hero {
      color: @white;
      margin: 0 0 30px;
    }

    &__lead {
      color: @white;
      font-size: 22px;
      line-height: 27px;
    }

    &__actions {
      margin-top: 47px;
      display: flex;
      justify-content: center;

      .btn {
        width: 300px;
        margin-right: 32px;

        &:hover {
          color: @white;
        }

        &:last-child {
          margin-right: 0;
        }

        &:focus {
          color: @white;
        }

        &.alt-btn {
          background: @white;
          color: @slate-grey;
          border: none;
          border-bottom: 4px solid var(--primary-color);
          height: 48px;
          line-height: 48px;
          padding: 0;
        }
      }
    }
  }

  .scroll-down-icon {
    position: absolute;
    bottom: -34px;
    left: 50%;
    margin-left: -34px;
    width: 68px;
    height: 68px;
    background: var(--primary-color);
    border: 4px solid @white;
    border-radius: 50%;

    &:before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      top: 18px;
      left: 18px;
      background: url(/img/homePage/arrow-down.svg);
    }
  }

  @media @mobile {
    padding: 120px 0;
  }
}


.section-banner-2 {
  position: relative;
  padding: 186px 0;
  background: url(/img/homePage/bg-photo-2.jpg) no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);

  .banner {
    text-align: center;

    &__hero {
      color: @white;
      margin: 0 0 30px;
    }

    &__lead {
      color: @white;
      font-size: 22px;
      line-height: 27px;
    }

    &__actions {
      margin-top: 47px;
      display: flex;
      justify-content: center;

      .btn {
        width: 300px;
        margin-right: 32px;

        &:last-child {
          margin-right: 0;
        }

        &:focus {
          color: @white;
        }

        &.alt-btn {
          background: @white;
          color: @slate-grey;
          border: none;
          border-bottom: 4px solid var(--primary-color);
          height: 48px;
          line-height: 48px;
          padding: 0;
        }
      }
    }
  }

  .scroll-down-icon {
    position: absolute;
    bottom: -34px;
    left: 50%;
    margin-left: -34px;
    width: 68px;
    height: 68px;
    background: var(--primary-color);
    border: 4px solid @white;
    border-radius: 50%;

    &:before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      top: 18px;
      left: 18px;
      background: url(/img/homePage/arrow-down.svg);
    }
  }

  @media @mobile {
    padding: 120px 0;
  }
}
