@import '../utils/variables.less';

.section-contact {
  padding: 39px 0 33px;
  background: @pale-grey;
  
  ul.contact-list {
    margin-top: 18px;
    list-style: none;
    padding-left: 0;
    
    > li {
      position: relative;
      margin-bottom: 26px;
      padding-left: 37px;
      
      i {
        position: absolute;
        top: 3px;
        left: 0;
      }
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  .contact {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    
    &__content {
      margin-right: 50px;
      width: 39%;
      color: fade(@slate-grey, 80%);

      @media @mobile {
        width: initial;
        margin-right: 0;
        margin-bottom: 18px;
      }
    }
    
    &__form {
      flex: 1;
      
      .btn {
        width: 193px;
      }

      .text-right {
        a:hover {
          color: @white;
        }
      }
    }

    @media @mobile {
      display: block;
      margin: 0 auto;
      margin-top: 39px;
    }

    @media @smartphones {
      width: initial;
    }

  }
}