@import '../utils/variables.less';
@import '../utils/mixins.less';

.section-content-bottom {
  padding: 63px 0 56px;
  background: #3D3E42;
  font-size: 14px;
  line-height: 2em;
  color: fade(@white, 80%);

  .col {
    margin-right: 66px;
  }

  h5 {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin-bottom: 11px;
  }

  .app-store-links {
    margin-top: 14px;
    display: flex;

    > * {
      flex: 1;
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }

      @media @mobile {
        flex: initial;
      }
    }

    img {
      width: 177px;
      @media @table {
        width: 110px;
      }

      @media @mobile {
        width: 177px;
      }

      @media @smartphones {
        width: 120px;
      }
    }
  }

  .social-links {
    margin-top: 17px;
    margin-bottom: 28px;
    .clearfix();

    &__item {
      float: left;
      margin-right: 27px;

      img {
        width: 44px;
        height: 44px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  ul.footer-nav {
    list-style: none;
    padding-left: 0;
    color: var(--primary-color);

    a {
      color: inherit;
      text-decoration: none;
      opacity: 0.8;
      font-weight: normal;
      line-height: 2;
      color: #ffffff;
    }
  }

  .home_col:last-child {
    flex: none;
  }
}
