@import '../utils/variables.less';

.section-efficient-app {
  padding: 60px 0 95px;

  &.no-padding-bottom {
    padding-bottom: 0;

    .efficient-app-content {
      margin-top: 30px;
    }
  }

  .efficient-app-content {
    position: relative;
    margin-top: 89px;

    .highlight-box-wrapper {
      display: flex;
      flex-direction: row;
      flex: 1;
      height: 400px;

      @media @table {
        height: auto;
        padding-bottom: 50px;
      }

      .efficient-app-content__highlight-box {
        display: none;

        @media @table {
          display: block;
        }
      }

      .highlight-box-left {
        display: flex;
        flex: 1;
        background: var(--primary-color);
        justify-content: center;
        flex-direction: column;
        padding-bottom: 20px;
        padding-left: 60px;
        padding-top: 60px;
        overflow: visible;

        @media only screen and (min-width: 1024px) and (max-width: 1200px) {
          padding-top: 40px;
        }

        @media @table {
          &.hide-tablet {
            display: none;
          }
        }

        &:before {
          position: absolute;
          content: '';
          display: block;
          top: -22px;
          left: 60px;
          width: 68px;
          height: 71px;
          background: url(img/homePage/frenchflag.svg);
          z-index: 1;
        }

        p {
          font-size: 20px;
          font-weight: 500;
          line-height: 1.9;
          text-align: left;
          color: #ffffff;

          @media only screen and (min-width: 1024px) and (max-width: 1200px) {
            font-size: 18px;
          }

          &:first-child {
            overflow-x: visible;
            overflow-y: -webkit-paged-y;
            width: 110%;
            margin-bottom: 20px;
          }

          &:last-child {
            overflow-x: visible;
            overflow-y: -webkit-paged-y;
            width: 130%;
          }
        }
      }

      .highlight-box-triangle {
        background: url(img/homePage/blue-left-triangle.png);
        width: 285px;

        @media @table {
          &.hide-tablet {
            display: none;
          }
        }
      }

      .highlight-box-right {
        flex: 3;
        align-items: center;
        display: flex;

        @media @table {
          display: block;
          width: 750px;
          margin: 0 auto;
          padding: 0 15px;
          flex: none;
        }

        @media @mobile {
          width: 100%;
        }

        .efficient-app-content__list {
          width: 100%;
          margin: 0;
          padding-right: 60px;

          @media @table {
            padding-right: 0;
          }

          li {
            display: flex;
            align-items: flex-start;
            margin-bottom: 15px;

            &:nth-child(1) {
              margin-left: -155px;
            }

            &:nth-child(2) {
              margin-left: -90px;
            }

            @media @table {
              margin-left: 0 !important;
            }

            p {
              font-size: 20px;
              line-height: 1.8;
              text-align: left;
              color: #8b999f;

              span {
                font-size: 24px;
                font-weight: 500;
                line-height: 1.29;
                text-align: left;
                color: #5d5e62;
              }
            }
          }
        }
      }
    }

    &__list {
      width: 52%;
      font-size: 20px;
      line-height: 1.85;
      list-style: none;
      padding: 0;

      > li {
        position: relative;
        margin-bottom: 37px;
        padding-left: 80px;
        min-height: 60px;
        display: flex;
        align-items: center;

        .icon {
          position: absolute;
          display: block;
          left: 0;
          top: 0;
          width: 60px;
          height: 60px;
          padding: 10px;
          background: @duck-egg-blue;
          border-radius: 60px;

          img {
            width: 100%;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      @media @mobile {
        width: initial;
      }
    }

    &__highlight-box {
      position: absolute;
      height: initial;
      top: -5px;
      left: 60%;
      right: -60px;
      background: var(--primary-color);
      border-radius: 2px;
      padding: 64px 63px;
      color: @white;
      font-size: 20px;
      line-height: 1.9;

      &:before {
        position: absolute;
        content: '';
        display: block;
        top: -22px;
        left: 19px;
        width: 68px;
        height: 71px;
        background: url(/img/homePage/frenchflag.svg);
        z-index: 1;
      }

      @media @table {
        height: initial;
      }

      @media @mobile {
        position: relative;
        margin-top: 37px;
        top: 30px;
        left: 0;
        right: 0;
        padding: 64px 20px 20px;
      }
    }
  }
}
