@import '../utils/variables.less';

.section-features {
  padding: 81px 0 84px;

  .features {
    margin-top: 74px;
    display: flex;
    align-items: stretch;

    > div {
      flex: 1;
      margin-right: 83px;

      &:last-child {
        margin-right: 0;
      }
    }

    @media @mobile {
      display: block;

      > div {
        max-width: 400px;
        margin: 0 auto 30px auto;

        &:last-child {
          margin: 0 auto;
        }
      }
    }

    @media @smartphones {
      > div {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .feature-box {
    background-color: @white;
    box-shadow: 0 2px 14px 0 rgba(32, 33, 38, 0.2);

    img {
      width: 100%;
      max-height: 160px;
    }

    &__content {
      padding: 24px;
    }

    &__list {
      margin-top: 16px;
      color: #8b999f;
      padding-left: 0;
      li {
        padding-left: 15px;
      }
    }
  }
}
