@import '../utils/variables.less';

.section-flexible-app {
  position: relative;
  height: initial;
  padding: 50px 0 0;
  background: @pale-grey;
  overflow: hidden;
  font-family: Lato, sans-serif;

  &.residential-section {
    h2 {
      margin-bottom: 20px;
    }
    .flexible-app-content {
      margin: 0;
      max-width: none;
    }
  }

  .flexible-app-content {
    margin-left: 50%;
    margin-top: 60px;
    max-width: 536px;

    .flexible-app-content-row {
      display: flex;
      flex-direction: row;

      .flexible-app-content-col {
        justify-content: center;
        flex-direction: column;
        flex: 1;
        display: flex;
        padding: 0 20px;

        @media @table {
          &.hide-tablet {
            display: none;
          }
        }

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    .flexible-app-desc {
      font-size: 22px;
      line-height: 1.27;
      text-align: left;
      color: #5d5e62;
      margin: 30px 0;
    }

    .flexible-app-content-group {
      margin-bottom: 0;
    }

    &__list {
      font-size: 20px;
      padding: 0;

      &.text-gray {
        li {
          margin-bottom: 0;
          color: #8b999f;
        }
      }

      li {
        margin-bottom: 13px;
        padding-left: 30px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__lead {
      font-size: 24px;
      line-height: 2em;
      margin-top: 60px;
      margin-bottom: 50px;

      @media @smartphones {
        text-align: center;
      }
    }

    .text-center {
      a:hover {
        color: @white;
      }
    }

    .mobile-text-center {
      a:hover {
        color: @white;
      }
      @media @mobile {
        text-align: center;
      }
    }

    .home_btn {
      width: 380px;
      margin-bottom: 80px;

      @media @mobile {
        margin-bottom: 0;
      }

      @media @smartphones {
        width: initial;
      }
    }

    @media @mobile {
      margin: 0 auto;
      margin-top: 60px;
    }
  }

  .flexible-app-content-2 {
    margin-left: 44%;
    margin-top: 34px;
    max-width: 566px;

    p {
      line-height: 1.8;
    }

    &__list2 {
      font-size: 20px;
      padding: 0;
      color: #8b999f;

      li {
        margin-bottom: 0;
        padding-left: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__lead2 {
      margin-top: 24px;
      margin-bottom: 24px;
      font-size: 24px;
      line-height: 1.27;

      @media @smartphones {
        text-align: center;
      }
    }

    .p-desc {
      margin-top: 24px;
      font-family: Lato;
      font-size: 22px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.27;
      letter-spacing: normal;
      text-align: left;
      margin-bottom: 28px;
    }

    .text-center {
      a:hover {
        color: @white;
      }
    }

    .mobile-text-center {
      a:hover {
        color: @white;
      }
      @media @mobile {
        text-align: center;
      }
    }

    .home_btn {
      width: 380px;
      margin-bottom: 33px;

      @media @mobile {
        margin-bottom: 0;
      }

      @media @smartphones {
        width: initial;
      }
    }

    @media @mobile {
      margin: 0 auto;
      margin-top: 60px;
    }
  }

  .image-overlay {
    position: absolute;
    right: 50%;
    bottom: 0;
    z-index: 1;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 686px;
      height: 586px;
      right: 145px;
      bottom: 0;
      background: url(/img/homePage/browser@2x.png) no-repeat bottom right;
      background-size: contain;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 263px;
      height: 403px;
      bottom: 0;
      right: 60px;
      background: url(/img/homePage/iphone@2x.png) no-repeat bottom right;
      background-size: contain;
    }

    @media @mobile {
      display: none;
    }
  }

  .image-overlay-2 {
    position: absolute;
    right: 50%;
    bottom: 0;
    z-index: 1;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 686px;
      height: 514px;
      right: 145px;
      bottom: 6px;
      background: url(/img/homePage/iphones@3x.png) no-repeat bottom right;
      background-size: contain;
    }

    @media @mobile {
      display: none;
    }
  }

  .fr.image-overlay {
    &:before {
      width: 802px;
      height: 1000px;
    }
  }

  @media @mobile {
    height: initial;
    padding-bottom: 50px;
  }
}
