@import '../utils/variables.less';

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2B2B2C;
  height: 80px;
  color: @white;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  .back-to-top {
    position: absolute;
    right: 33px;
    bottom: 30px;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.9;
    color: @white;
    text-decoration: none;

    &:hover {
      color: white;
    }

    @media @smartphones {
      display: none;
    }
  }  
}