@import '../utils/variables.less';

header {
  background-color: @white;
  border-bottom: 3px solid var(--primary-color);

  &.fixed-header {
    position: absolute;
    width: 100vw;
    top: 0;
    z-index: 9999;
  }

  .nav_header {
    position: absolute;
    right: 64px;
    top: 50%;
    transform: translateY(-50%);
    @media @mobile {
      right: 5px;
    }
  }

  .header_container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 64px;
    display: flex;
    margin: auto;
    height: 60px;
    justify-content: space-between;
    @media @mobile {
      padding: 0 7px;
    }
  }

  a.logo {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    img {
      height: 28px;

      @media @smartphones {
        height: 20px;
      }
    }
  }

  .nav {
    display: flex;
    align-items: center;

    &__btn {
      width: 112px;
      margin-left: 16px;

      @media @mobile {
        width: 90px;
        padding: 7px;
      }

      @media @smartphones {
        width: 70px;
        margin-left: 10px;
      }
    }

    &__language-selector {
      margin-left: 18px;
      margin-bottom: 0 !important;
      display: inline-block;
      font-size: 16px;
      line-height: 12px;
      color: #8b999f;
      padding: 0;

      span {
        color: var(--secondary-color);
        font-weight: 600;
        text-decoration: underline;
      }
      > * {
        float: left;
        padding-right: 6px;
        border-right: 1px solid #8b999f;
        margin-right: 6px;

        &:last-child {
          padding-right: 0;
          border-right: none;
          margin-right: 0;
        }
      }

      a {
        font-weight: @font-weight-medium;
        color: #8b999f;
      }

      @media @smartphones {
        margin-left: 10px;
      }
    }
  }
}
