@import '../utils/variables.less';
.section-partner {
    padding: 60px 0px 6px 0px;
    @media @mobile {
        padding: 40px 0px 6px 0px;
    }
    @media @smartphones {
        padding: 40px 0px 6px 0px;
    }
    
    h2 {
        margin: 0px;
        margin-bottom: 50px;
    }
    .partner-line {
        margin-top: 33px;
        > div {
            padding: 0px !important;
            li {
                padding: 0px;
                list-style: none;
                height: 94px;
                &:last-child {
                    margin: auto;
                    @media @min1200 {
                        
                        img{
                            margin-left: 95px;
                        }
                    }
                    @media @mobile {
                        margin-bottom: 50px;
                        img {
                            width: 73px !important;
                        }
                    }
                    @media @smartphones {
                        margin-bottom: 50px;
                        img {
                            width: 73px !important;
                        }
                    }
                }
                @media @mobile {
                    height: 40px;                    
                    margin-bottom: 50px;
                }
                @media @smartphones {
                    height: 40px;
                    margin-bottom: 50px;
                }
                &:nth-child(4){
                    position: relative;
                    margin-top: -14px;
                    @media @min1200 {
                        img{
                            float: right;
                        }
                    }
                    
                    @media @mobile {
                        height: 40px;
                        margin-top: 0px;
                        img{
                            height: 68px;
                            margin-left: 20%;
                            margin-top: -14px;
                        }
                        
                    }
                    @media @table {
                        margin-top: 0px;
                    }
                    @media @smartphones {
                        height: 40px;
                        margin-top: 0px;
                        img{
                            height: 68px;
                            margin-top: -14px;
                            margin-left: 20%
                        }
                    }
                }
                &:nth-child(6){
                    img{
                        @media @min1200 {
                            margin-right: 95px;
                        }
                        @media @mobile {
                            margin-left: 25px;
                        }
                        @media @smartphones {
                            margin-left: 25px;
                        }
                    }
                }
                &:nth-child(even) {
                    @media @mobile{
                    }
                    @media @smartphones {
                    }
                }
                &:nth-child(odd){
                    img{
                        @media @mobile {
                            width: 120px;
                        }
                        @media @smartphones {
                            width: 120px;
                        }
                    }
                }
                &:nth-child(1){
                    @media @min1200 {
                        img{
                            float: left;
                        }
                    }
                    
                }
                &:nth-child(2){
                    @media @mobile {
                        img{
                            margin-left: 30%;
                        }
                    }
                    @media @smartphones {
                        img{
                            margin-left: 30%;
                        }
                    }
                }
                &:nth-child(3){
                    @media @min1200 {
                        img{
                            float: right;
                        }
                    }
                    
                }
                &:nth-child(5){
                    position: relative;
                    margin-top: 11px;
                    @media @min1200 {
                        img{
                            float: right;
                            margin-right: 18px;
                        }
                    }
                    
                    @media @mobile {
                        margin-top: 0px;
                        
                    }
                    @media @table {
                        margin-top: 0px;
                    }
                    @media @screen1200 {
                        margin-top: 0px;
                    }
                    @media @smartphones {
                        margin-top: 0px;
                    }
                }
                img{
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    @media @mobile {
                        height: 40px;                        
                    }
                    @media @smartphones {
                        height: 40px;                        
                    }
                }
            }
            
        }
    }
}