@import '../utils/variables.less';
.section-testimonies {
    padding: 69px 0;
    background: @pale-grey;
    .own-height{
        height: 92px;
    }
    .testimonies {
        margin-top: 61px;
        display: flex;
        align-items: center;
        justify-content: center;
        > div {
            flex: auto;
        }
        .testimonies-box {
            text-align: center;
            max-width: 840px;
            background-color: @white;
            box-shadow: 0 2px 6px 0 rgba(32, 33, 38, 0.2);
            .testimonies-profile{
                margin-top: -46px;
                img {
                    max-width: 198px;
                    max-height: 198px;
                    @media @table {
                        max-width: 146px;
                        max-height: 146px;
                    }
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 50%;
                  }
            }
            .arrow-mobile-view{
                display: none;
                img {
                    z-index: 1000;
                    position: relative;
                }
                @media @mobile {
                   display: block;
                }
                @media @smartphones {
                    display: block;
                }
            }
            .arrows {
                @media @mobile {
                    display: none;
                 }
                 @media @smartphones {
                     display: none;
                 }
                #previous {
                    float: left;
                    z-index: 1000;
                    margin-left: -100px;
                }
                #next {
                    float: right;
                    z-index: 1000;
                    margin-right: -100px;
                }
                img{
                    max-width: 60px;
                    max-height: 60px;
                }
            }          
              &__content {
                padding: 28px 80px 35px 80px;
                font-size: 20px;
                >p {
                    margin: 0px 0px 0px;
                }
                @media @mobile {
                    padding: 28px 10px 35px 10px;
                }
                @media @smartphones {
                    padding: 28px 10px 35px 10px;
                }
              }
              &__user_info{
                padding: 0px 120px 41px 120px;
                >p {
                    margin: 0px 0px 0px;
                }
                @media @mobile {
                    padding: 0px 10px 41px 10px;
                }
                @media @smartphones {
                    padding: 0px 10px 41px 10px;
                }
              }
        }
    }
}