<template name='exchangeArea_forum'>
  {{#if allReady}}
    <div class="flex col">
      <div class="buildingCaractTitle">
        <h4>Forum type:</h4>
      </div>
      <div class="col-sm-12" style="padding: 20px 30px; background-color: #fff; margin-bottom: 20px;">
        <div class="flex col">
          {{#with actualType=getForumType}}
              <div class="flex characteristicItem">
                <div class="characteristicLabel">Catégories dans forum (dropdown, tags)</div>
                <div class="characteristicCheckbox">
                  <div class="checkboxred" id="moduleOption">
                    <input type="checkbox" name="checkboxVisibleBy" id="categories" typeName="category"
                           checked="{{#if $eq actualType 'category'}}true{{/if}}">
                    <label for="categories"></label>
                  </div>
                </div>
              </div>

          {{/with}}
        </div>
      </div>
    </div>
  {{/if}}
</template>
